<p class = 'directions'>
    Each of the situations below shows two unitless vectors.
    Find the cross product of the vectors in the order indicated.
    For full credit, your answer must include <strong>direction</strong> of the cross product.
</p>

<h5 class="text-danger">
    For full credit, you must include a brief description of your calculations in your answers.
</h5>


<ol>
    <li>
        \( \arrow{A} \times \arrow{B} = \text{?} \)
    </li>
</ol>