<p class = 'directions'>
    Solve the problems listed below while showing a significant amount of work.
    For full credit, you must write each formula you use before plugging any numbers into the formula.
    Please write answers to the correct number of significant figures.
</p>


<h5>Problem 1:</h5>
<p>
    A cannon is fired from an angle of 23.0 degrees above the horizontal and shoots a ball at a velocity of 12.0 m/s.
    Assume that the ball lands on the same vertical position at which it was fired,
    and that air resistance is negligible.
    Determine how far the cannon ball travels horizontally before striking the ground.
</p>

<div class="bigSpace"></div>
<div class="bigSpace"></div>
<div class="bigSpace"></div>


<h5>Problem 2:</h5>
<p>
    A cannon is fired from an angle of 81.0 degrees above the horizontal and shoots a ball at a velocity of 44.0 m/s.
    Assume that the ball lands on the same vertical position at which it was fired,
    and that air resistance is negligible.
    Determine how far the cannon ball travels horizontally before striking the ground.
</p>