<p class = 'directions'>
    Use two formulas for electrical circuits to derive new formulas as written in the problem.
    For full credit, you <emph>must</emph> show operations your use to derive each answer.
</p>

<ol>
    <li class = 'mediumQuestion'>
        Derive an equation for current in terms of voltage and resistance.
    </li>
    <li class = 'bigQuestion'>
        Derive an equation for power in terms of voltage and resistance.
    </li>
    <li class = bigQuestion>
        Derive an equation for current in terms of power and resistance.
    </li>
</ol>
