
<p>
    A person pushes a box to the LEFT on a surface that includes friction.
    The box is moving at a constant velocity, and thus a net force of zero act ons on both the box and the person.
    Draw free-body diagrams of the person, the earth, the box, and the floor.
    (You can consider there is a normal force between the floor and the earth).
</p>

<ol>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-md-6'>
                <li>
                    Draw free-body diagrams of the box.
                    For each force, identify the type of force, direction, agent, and object.
                    For all frictional forces, identify them as kinetic or static friction.
                </li>
                <h5>
                    Free-Body Diagram of the Block
                </h5>
            </div>
            <div class = 'col-md-6'>
                <table>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Force
                        </th>
                        <th>
                            Direction
                        </th>
                        <th>
                            Agent
                        </th>
                        <th>
                            Object
                        </th>
                    </tr>
                    <tr>
                        <td>A</td>down (inward)<td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>B</td>up (outward)<td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>C</td>left<td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>D</td>right<td></td><td></td><td></td><td></td>
                    </tr>
                </table>
                <li>
                    Identify each balanced force pair acting on the box.
                    A balance force pair are forces with equal magnitude and opposite
                    direction that act on the <emph>same object</emph> and are not
                    an action-reaction pair.
                </li>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col-md-6'>
                <li>
                    Draw free-body diagrams of the person.
                    For each force, identify the type of force, direction, agent, and object.
                    For all frictional forces, identify them as kinetic or static friction.
                </li>
                <h5>
                    Free-Body Diagram of the Person
                </h5>
            </div>
            <div class = 'col-md-6'>
                <table>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Force
                        </th>
                        <th>
                            Direction
                        </th>
                        <th>
                            Agent
                        </th>
                        <th>
                            Object
                        </th>
                    </tr>
                    <tr>
                        <td>E</td>down (inward)<td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>F</td>up (outward)<td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>G</td>left<td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>H</td>right<td></td><td></td><td></td><td></td>
                    </tr>
                </table>
                <li>
                    Identify each balanced force pair acting on the person.
                    A balance force pair are forces with equal magnitude and opposite
                    direction that act ont he <emph>same object</emph> and are not
                    an action-reaction pair.
                </li>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col-md-6'>
                <li>
                    Draw free-body diagrams of the floor.
                    You may assume that the floor is directly attached to the earth.
                    For each force, identify the type of force, direction, agent, and object.
                </li>
                <h5>
                    Free-Body Diagram of the Floor
                </h5>
            </div>
            <div class = 'col-md-6'>
                <table>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Force
                        </th>
                        <th>
                            Direction
                        </th>
                        <th>
                            Agent
                        </th>
                        <th>
                            Object
                        </th>
                    </tr>
                    <tr>
                        <td>I</td>down (inward)<td>earth</td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>J</td>down (inward)<td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>K</td>up (outward)<td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>L</td>up (outward)<td></td><td></td><td></td><td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col-md-6'>
                <li>
                    Draw a free-body diagram of the earth.
                    Obviously, countless forces act on the earth, so consider only those relevant to this situation.
                    For each force, identify the type of force, direction, agent, and object.
                </li>
                <h5>
                    Free-Body Diagram of the Earth
                </h5>
            </div>
            <div class = 'col-md-6'>
                <table>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Force
                        </th>
                        <th>
                            Direction
                        </th>
                        <th>
                            Agent
                        </th>
                        <th>
                            Object
                        </th>
                    </tr>
                    <tr>
                        <td>M</td>inward<td></td><td></td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>N</td>outward<td></td><td></td><td></td><td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <li>
        Identify each action-reaction force pair.
        Each force should be a part of an action-reaction force pair.
    </li>

    <li>
        Select a action-reaction force pair and explicitly relate
        these forces to the definition of reaction forces in Newton's Third law.
    </li>
</ol>