
<p class = 'directions'>
    A person pushes a box to the LEFT on a surface that includes friction.
    The box is moving at a <emph>constant velocity</emph>,
    and thus a net force of zero acts on on both the box and the person.
    Draw free-body diagrams of the person, the earth, the box, and the floor.
    For full credit, you <strong>must</strong> distinguish between static and kinetic friction.
    Please do not change the order of forces that are indicated in the tables provided.
</p>

<ol>
    <div class = 'container'>
        <div class = 'row mb-5'>
            <div class = 'col-md-4'>
                <li>
                    Draw free-body diagrams of the box.
                </li>
            </div>
            <div class = 'col-md-4'>
                <li>
                    For each force, identify the type of force, direction, agent, and object.
                    Do not change the order of forces indicated below.
                    For all frictional forces, identify them as kinetic or static friction.
                </li>
                <table>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Force
                        </th>
                        <th>
                            Direction
                        </th>
                        <th>
                            Agent
                        </th>
                        <th>
                            Object
                        </th>
                    </tr>
                    <tr>
                        <td>A</td><td></td><td>down (inward)</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>B</td><td></td><td>up (outward)</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>C</td><td></td><td>left</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>D</td><td></td><td>right</td><td></td><td></td>
                    </tr>
                </table>
            </div>
            <div class = 'col-md-4'>
                <li>
                    Identify each balanced force pair acting on the box.
                    A balance force pair are forces with equal magnitude and opposite
                    direction that act on the <emph>same object</emph> and are not
                    an action-reaction pair.
                </li>
            </div>
        </div>
        <div class = 'row mb-5 mt-5'>
            <div class = 'col-md-4'>
                <li>
                    Draw free-body diagrams of the person.
                </li>
            </div>
            <div class = 'col-md-4'>
                <li>
                    For each force in your free-body diagram, identify the type of force, direction, agent, and object.
                    Do not change the order of forces indicated.
                    For all frictional forces, identify them as kinetic or static friction.
                </li>
                <table>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Force
                        </th>
                        <th>
                            Direction
                        </th>
                        <th>
                            Agent
                        </th>
                        <th>
                            Object
                        </th>
                    </tr>
                    <tr>
                        <td>E</td><td></td><td>down (inward)</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>F</td><td></td><td>up (outward)</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>G</td><td></td><td>right</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>H</td><td></td><td>left</td><td></td><td></td>
                    </tr>
                </table>
            </div>
            <div class = 'col-md-4'>
                <li>
                    Identify each balanced force pair acting on the person.
                    A balance force pair are forces with equal magnitude and opposite
                    direction that act ont he <emph>same object</emph> and are not
                    an action-reaction pair.
                </li>
            </div>
        </div>
        <div class = 'row mt-5 mb-5'>
            <div class = 'col-md-5'>
                <li>
                    Draw free-body diagrams of the floor.
                    Many forces act on the floor, but consider only those directly
                    relevant to this situation.
                </li>
            </div>
            <div class = 'col-md-2'>

            </div>
            <div class = 'col-md-5'>
                <li>
                    For each force in your free-body diagram, identify the type of force, direction, agent, and object.
                    Do not change the order of forces indicated
                </li>
                <table>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Force
                        </th>
                        <th>
                            Direction
                        </th>
                        <th>
                            Agent
                        </th>
                        <th>
                            Object
                        </th>
                    </tr>
                    <tr>
                        <td>I</td><td></td><td>down (inward)</td><td>person</td><td></td>
                    </tr>
                    <tr>
                        <td>J</td><td></td><td>down (inward)</td><td>box</td><td></td>
                    </tr>
                    <tr>
                        <td>K</td><td></td><td>left</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>L</td><td></td><td>right</td><td></td><td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class = 'row mb-5 mt-5'>
            <div class = 'col-md-5'>
                <li>
                    Draw a free-body diagram of the earth.
                    Obviously, countless forces act on the earth, so consider only those relevant to this situation.
                </li>
            </div>
            <div class = 'col-md-2'>
            </div>
            <div class = 'col-md-5'>
                <li>
                    For each force, identify the type of force, direction, agent, and object.
                    Do not change the order of forces indicated.
                </li>
                <table>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Force
                        </th>
                        <th>
                            Direction
                        </th>
                        <th>
                            Agent
                        </th>
                        <th>
                            Object
                        </th>
                    </tr>
                    <tr>
                        <td>N</td><td></td><td>up (outward)</td><td>box</td><td></td>
                    </tr>
                    <tr>
                        <td>O</td><td></td><td>up (outward)</td><td>person</td><td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class = 'row mt-5 mb-5'>
        <div class = 'col-md-5'>
            <li>
                Identify each action-reaction force pair.
                Each force should be a part of an action-reaction force pair.
            </li>
        </div>
        <div class = 'col-md-2'>

        </div>
        <div class = 'col-md-5'>
            <li>
                Select a action-reaction force pair and explicitly relate
                these forces to the definition of reaction forces in Newton's Third law.
            </li>
        </div>
    </div>
</ol>
