<p class = 'introduction'>
    In Elevators 1,
    we introduced how the normal force varies
    in an elevator to match a particular net force
    and acceleration.
    In this pod, we will grow closer to reality
    by bringing in the kinematics of how the elevator,
    bringing in qualitative as well as quantitative analyses
    of net force, and thinking more about how the person in the elevator feels.
</p>

<h3>
    Principles
</h3>

<h5>
    Forces involved:
</h5>

<h5>
    Dynamics Laws:
</h5>

<h5>
    Kinematics:
</h5>

<h5>
    Apparent Weight:
</h5>


<h3>
    Questions:
</h3>

<ol class = 'questionList'>
    <li class = 'question'>
        Evan is standing in an elevator.
        The elevator is <emph>moving downward</emph>
        and is <emph>speeding up</emph> at a rate of 1.1 m/s<sup>2</sup>.
        Evan has a mass of 67 kg.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion'>
                What is the direction of the net force acting on Evan? How do you know?
            </li>
            <li class = 'subQuestion'>
                What is the direction of the net force acting on Evan? How do you know?
            </li>
            <li class = 'subQuestion elevatorTable'>

            </li>
            <li class = 'subQuestion'>
                What does Evan <emph>feel</emph> while in the elevator?
                <ol type = 'A'>
                    <li>
                        Nothing out of the ordinary
                    </li>
                    <li>
                        Weightlessness, lightness
                    </li>
                    <li>
                        Heaviness, a feeling of being pressed into.
                    </li>
                </ol>
                Explain how you know by referring to your free-body diagram.
            </li>
        </ol>
    </li>
    <li class = 'question'>
        Elizabeth is standing in an upward.
        The elevator is <emph>moving downward</emph>
        and is <emph>speeding up</emph> at a rate of 1.2 m/s<sup>2</sup>.
        Elizabeth has a mass of 63 kg.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion'>
                What is the direction of the net force acting on Elizabeth? How do you know?
            </li>
            <li class = 'subQuestion'>
                What is the direction of the net force acting on Elizabeth? How do you know?
            </li>
            <li class = 'subQuestion elevatorTable'>

            </li>
            <li class = 'subQuestion'>
                What does Elizabeth <emph>feel</emph> while in the elevator?
                <ol type = 'A'>
                    <li>
                        Nothing out of the ordinary
                    </li>
                    <li>
                        Weightlessness, lightness
                    </li>
                    <li>
                        Heaviness, a feeling of being pressed into.
                    </li>
                </ol>
                Explain how you know by referring to your free-body diagram.
            </li>
        </ol>
    </li>
    <li class = 'question'>
        Earl is standing in an elevator.
        The elevator is <emph>moving upward</emph>
        and is <emph>slowing down</emph> at a rate of 0.6 m/s<sup>2</sup>.
        Earl has a mass of 72 kg.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion'>
                What is the direction of the net force acting on Earl?
                Look carefully at the principles when determining your answer!
                How do you know?
            </li>
            <li class = 'subQuestion'>
                What is the direction of the net force acting on Earl? How do you know?
            </li>
            <li class = 'subQuestion elevatorTable'>

            </li>
            <li class = 'subQuestion'>
                What does Earl <emph>feel</emph> while in the elevator?
                <ol type = 'A'>
                    <li>
                        Nothing out of the ordinary
                    </li>
                    <li>
                        Weightlessness, lightness
                    </li>
                    <li>
                        Heaviness, a feeling of being pressed into.
                    </li>
                </ol>
                Explain how you know by referring to your free-body diagram.
            </li>
        </ol>
    </li>
    <li class = 'question'>
        Eve is standing in an elevator.
        The elevator is <emph>moving downward</emph>
        and is <emph>slowing down</emph> at a rate of 0.9 m/s<sup>2</sup>.
        Eve has a mass of 68 kg.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion'>
                What is the direction of the net force acting on Eve?
                Look carefully at the principles when determining your answer!
                How do you know?
            </li>
            <li class = 'subQuestion'>
                What is the direction of the net force acting on Eve? How do you know?
            </li>
            <li class = 'subQuestion elevatorTable'>

            </li>
            <li class = 'subQuestion'>
                What does Eve <emph>feel</emph> while in the elevator?
                <ol type = 'A'>
                    <li>
                        Nothing out of the ordinary
                    </li>
                    <li>
                        Weightlessness, lightness
                    </li>
                    <li>
                        Heaviness, a feeling of being pressed into.
                    </li>
                </ol>
                Explain how you know by referring to your free-body diagram.
            </li>
        </ol>
    </li>
    <li class = 'question'>
        When I was a kid, my sister and I rode up in a high-speed elevator,
        and when we reached the top floor, it felt like we were falling down.
        My sister said, “the elevator must go too high, and then needs to go back down to reach the right floor!.”
        But this is not true! The elevator is very precisely stopping at the correct floor and doesn’t go to far at all.
        Using the physics learned in this packet, explain why it feels like you are falling down when you reach the top of an elevator.
        Use each of the concepts of velocity, acceleration, net force, weight, and normal force to make your argument.
    </li>
</ol>

<h3>
    Answers:
</h3>

<ol class = 'answerList'></ol>


<script>
    let elevatorTable = new ForceTableQuantitative1D(2,true);
    elevatorTable.nameForce(1,'gravity');
    elevatorTable.nameForce(2,'normal force');

    $(".elevatorTable").append(elevatorTable.draw(500));
</script>