<p class = 'directions'>
  For each wave described, write if the wave
  is transverse or longitudinal.
</p>


<ol>
  <li>
    This wave:
      <img src = '/podAssets/waves/wave_structure/longitudinal_slinky_wave.png' width = '200px' height = 'auto'/>
  </li>
  <li>
    A sound wave.
  </li>
  <li>
    An ultrasonic wave.
  </li>
  <li>
    A wave of yellow light.
  </li>
  <li>
    A compressed pulse moving down a slinky.
  </li>
  <li>
    This wave:
    <img src = '/podAssets/waves/wave_structure/transverse_slinky_wave.png' width = '200px' height = 'auto'/>
  </li>
  <li>
      An X-ray wave.
  </li>
</ol>
