
<ol>
    <li>
        What is the <emph>true</emph> definition of gravity?
    </li>
    <li>
        Why are the terms "up" and "down" actually incomplete,
        and with what can they be replaced?
    </li>
    <li>
        By referring to your answers to 1 and 2,
        explain why something falls "down" when you drop it.
    </li>
    <li>
        Imagine you are having a conversation with your very very smart 8 year old
        cousin about what it would be like to travel to Antarctica.
        She says,
        "If everything always falls <emph>down</emph>,
        and you are standing on the South Pole,
        won't you just fall off the earth head-first?"
        You assure her that it is totally safe to stand on the south pole
        (except that it's really cold), but she doesn't believe you.
        How could you explain to her how it actually works?
        You must refer to the content in your previous answers when explaining it.
        (Remember that she is very very smart.)
    </li>
</ol>