
<h3>
    Video Resources
</h3>
<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/itlixha39a?sui=92,1'>
        AP Classroom Daily Video 1.1: Daily Video 2 (Skill 2.2)
    </a>
</h4>
<p>
    Note that AP Classroom Daily Videos are not available year round.
    The release dates for each video
    <a href = 'https://apcentral.collegeboard.org/pdf/ap-daily-course-release-dates.pdf'>this page</a>.
    Also, AP Classroom Daily Videos are available only to students in AP Physics.
</p>