<p>
    The key concept of nuclear physics is that different isotopes
    will decay and react differently.
    Each isotope has a particular mass number, which indicates whether it is stable or
    likely to decay.
    However, many students confuse the <strong>mass number</strong> with the <strong>atomic mass</strong>.
</p>


<h4>
    Definitions
</h4>

<p class="definition" data-answer = 'mass number'>
    The <strong>mass number</strong> of an atom represents the total mass of the atom.
    It is the total number of atomic mass unit in a nucleus.
    The mass number of an atom is equal to the number of protons plus the number of neutrons.
</p>
<p class="definition" data-answer = 'isotope'>
    Every element has a certain number of atoms of that element
</p>
<p class="definition" data-answer = 'atomic mass'>
    The average mass of all of the atoms of an element.
</p>


<!--
This one does not need to go into the calcualtion,
simply discuss the difference between an INDIVIDUAL and the AVERAGE
go through issues like the question that cierra ciavatta once asked me
-->