<div class = 'definitionBox'>
    <h5>Net Force \( \left( \Sigma F \right) \)</h5>
    <p>
        The vector sum of all forces on an object.
    </p>
    <p>
        The symbol for net force is \( \Sigma F \).
        (Pronounced "Sigma F.")
    </p>
</div>

<div class = 'definitionBox'>
    <h5>Newton's First Law (restated)</h5>
    <p>
        Any object that is not moving has a net force of zero acting on it.
    </p>
    <p>
        Any object whose velocity is constant as a net force of zero acting on it.
    </p>
    <p>
        Any object whose velocity is not constant has a net force greater than zero acting on it.
    </p>
</div>

<p class = 'directions'>
    For the following problems, state if net force = 0 or if net force > 0.
    <br>
    \( \left( \Sigma F = 0  \textrm{ or }  \Sigma F > 0 \right) \)
</p>

<ol class = 'questionList'>
    <li data-answer = '\( \Sigma F = 0 \)' class = 'question'>
        Anything that is not moving.
    </li>
    <li data-answer = '\( \Sigma F = 0 \)' class = 'question'>
        Anything that is moving at a constant velocity.
    </li>
    <li data-answer = '\( \Sigma F > 0 \)' class = 'question'>
        A car, when the driver is pressing the accelerator.
    </li>
    <li data-answer = '\( \Sigma F = 0 \)' class = 'question'>
        A glass or water resting on a table.
    </li>
    <li data-answer = '\( \Sigma F > 0 \)' class = 'question'>
        A ball rolling down a ramp.
    </li>
    <li data-answer = '\( \Sigma F = 0 \)' class = 'question'>
        A car driving on the highway at a constant velocity.
    </li>
    <li data-answer = '\( \Sigma F > 0 \)' class = 'question'>
        A ball that has been dropped off a building.
    </li>
    <li data-answer = '\( \Sigma F > 0 \)' class = 'question'>
        A car when the driver has pressed the breaks.
    </li>
</ol>

<h4>
    Interpreting Free-Body Diagrams Using Newton's Model
</h4>
<p class = 'directions'>
    The free-body diagrams below illustrate the force acting on an object.
    For each of the following free-body diagrams,
    information on forces is given as well as information on the velocity of the object.
    Note that velocity is <strong>NOT</strong> a force,
    and this it is indicated separately from the free-body diagram.
    I wrote <em>Newton's Model</em> by compiling Newton's First and Second Laws with the rules of vector addition,
    to create a guide for <strong>qualitatively</strong> relating a free-body diagram to motion.
    Use Newton's Model to predict the motion for each of the free-body diagrams below.
</p>

<h5>Newton's Model</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force = 0 and object is not moving
        </td>
        <td>
            Object remains still
        </td>
    </tr>
    <tr>
        <td>
            Net Force = 0 and the object is moving
        </td>
        <td>
            Object moves with a constant velocity
        </td>
    </tr>
    <tr>
        <td>
            Net Force is in the same direction as velocity
        </td>
        <td>
            Object increases in speed.
        </td>
    </tr>
    <tr>
        <td>
            Net force is in the opposite direciton as velocity
        </td>
        <td>
            Object decreases in speed.
        </td>
    </tr>
</table>

<ol class = 'questionList'>
    <li data-answer = 'B' class = 'question'>
        <table>
            <tr>
                <td id = 'FBD_B1'></td>
                <td>
                    <ol type = 'A'>
                        <li>The object moves at a constant velocity.</li>
                        <li>The object increases in speed.</li>
                        <li>The object decreases in speed.</li>
                    </ol>
                </td>
            </tr>
        </table>
    </li>
    <li data-answer = 'C' class = 'question'>
        <table>
            <tr>
                <td id = 'FBD_B2'></td>
                <td>
                    <ol type = 'A'>
                        <li>The object moves at a constant velocity.</li>
                        <li>The object increases in speed.</li>
                        <li>The object decreases in speed.</li>
                    </ol>
                </td>
            </tr>
        </table>
    </li>
    <li data-answer = 'A' class = 'question'>
        <table>
            <tr>
                <td id = 'FBD_B3'>
                    No forces act on this object:<br>
                </td>
                <td>
                    <ol type = 'A'>
                        <li>The object moves at a constant velocity.</li>
                        <li>The object increases in speed.</li>
                        <li>The object decreases in speed.</li>
                    </ol>
                </td>
            </tr>
        </table>
    </li>
</ol>


<p class = 'directions'>
    If more than one force acts on an object,
    the forces must be combined, and the <em>net force</em> determines the motion of the object.
    In each of the following examples, first find the <em>net force</em> acting on the object,
    and then determine the motion of the object.
</p>

<ol class = 'questionList'>
    <li data-answer = 'B' class = 'question'>
        <table>
            <tr>
                <td id = 'FBD_B4'></td>
                <td>
                    <ol type = 'A'>
                        <li>The object moves at a constant velocity.</li>
                        <li>The object increases in speed.</li>
                        <li>The object decreases in speed.</li>
                    </ol>
                </td>
            </tr>
        </table>
    </li>
    <li data-answer = 'C' class = 'question'>
        <table>
            <tr>
                <td id = 'FBD_B5'></td>
                <td>
                    <ol type = 'A'>
                        <li>The object moves at a constant velocity.</li>
                        <li>The object increases in speed.</li>
                        <li>The object decreases in speed.</li>
                    </ol>
                </td>
            </tr>
        </table>
    </li>
    <li data-answer = 'B' class = 'question'>
        <table>
            <tr>
                <td id = 'FBD_B6'></td>
                <td>
                    <ol type = 'A'>
                        <li>The object moves at a constant velocity.</li>
                        <li>The object increases in speed.</li>
                        <li>The object decreases in speed.</li>
                    </ol>
                </td>
            </tr>
        </table>
    </li>
    <li data-answer = 'B' class = 'question'>
        <table>
            <tr>
                <td id = 'FBD_B7'></td>
                <td>
                    <ol type = 'A'>
                        <li>The object moves at a constant velocity.</li>
                        <li>The object increases in speed.</li>
                        <li>The object decreases in speed.</li>
                    </ol>
                </td>
            </tr>
        </table>
    </li>
</ol>

<script>
    let FBD_B1 = fastFBD([['right', 'Force']],'right');
    let FBD_B2 = fastFBD([['left', 'Force']], 'right');
    let FBD_B3 = fastFBD([],'right');
    let FBD_B4 = fastFBD([['left',60],['right',34],['right',54]],'right');
    let FBD_B5 = fastFBD([['left',20],['right',12],['right',16]],'left');
    let FBD_B6 = fastFBD([['left',60],['left',12],['right',24],['right',48]],'right');
    let FBD_B7 = fastFBD([['left',88],['right',37],['right',40]],'left');

    appendListOfDiagramsByID([
        [FBD_B1, 'FBD_B1'],[FBD_B2, 'FBD_B2'],[FBD_B3, 'FBD_B3'],[FBD_B4, 'FBD_B4'],[FBD_B5, 'FBD_B5'],[FBD_B6, 'FBD_B6'],[FBD_B7, 'FBD_B7']
    ]);

    // can't finish because the free-body diagrams don't displace multiple forces correctly :(
</script>

<h3>
    Video Resources
</h3>
<h5>
    Flipping Physics Videos
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fiT2R88Zt58" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    Note that this same video appears in another pod.
</p>

<ol class = 'answerList'></ol>