<p>
    Goal: Determine a method to calculate the mass of an object on earth by using
    a force meter whose calibrated in Newtons.
</p>


<ul>
    <li>
        Briefly describe your method in words.
    </li>
    <li>
        What formulas and/or principles did you use?
    </li>
</ul>