<p>
    Imagine that the earth is in the shape of a <strong>donut</strong>.
    Describe conceptually how gravity would work in each location on the donut earth.
    That is, for several possible locations,
    describe what direction gravity would pull you, and describe where gravity would be strongest and weakest.
    On this world, where would people want to build houses and live? Where would they stay away from?
</p>
