
<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<ol>
    <li>
        I have an acceleration of 8 m/s<sup>2</sup> and a mass of 40 kg.
        <br>
        What is the net force on me?
        <div class = 'formulaBoxDiv'></div>
    </li>
    <div class = 'smallSpace'></div>
    <li>
        I experience a net force of 250 Newtons, and I have a mass of 5 kg.
        <br>
        What is my acceleration?
        <div class = 'formulaBoxDiv'></div>
    </li>
</ol>
