<p>
    A bullet of mass \( m \) moving at a speed \( v_i \) strikes
    a pendulum of mass \( M \) that is stationary.
    When the bullet strikes the pendulum, they stick together.
    Afterwards, the pendulum rises a distance \( \Delta y \) before beginning to fall.
</p>

<p>
    Determine a formula for \( v_i \) in terms of all other defined variables
    and any known constants.
    Please show multiple steps of your derivation with your answer.
    After determining your answer, please demonstrate that your solution is dimensionally correct.
</p>
