<h4>
    Number 1:
</h4>
<p>
    A bullet of mass 250 grams moving at a speed 55 m/s strikes
    a pendulum of mass 3000 grams that is stationary.
    When the bullet strikes the pendulum, they stick together,
    and the pendulum begins to rise.
</p>

<p>
    Determine the height to which the pendulum rises to 3 significant figures of accuracy.
    Please show multiple steps of your derivation with your answer.
</p>

<h4>
    Number 2
</h4>

<p>
    A bullet of mass 80 grams moving at an unknown strikes
    a pendulum of mass 2500 grams that is stationary.
    When the bullet strikes the pendulum, they stick together,
    and the pendulum begins to rise.
    It rises 9 centimeters before it stops moving.
</p>

<p>
    Determine the initial velocity of the bullet to 3 significant figures of accuracy.
    Please show multiple steps of your derivation with your answer.
</p>
