<p>
    In Dynamic Graphs 1,
    we introduced the two dynamic graphs,
    the momentum-time graph and the net-force time graph,
    and we related them to the corresponding kinematic graphs,
    the velocity-time graph and the acceleration-time graph.
    According to out formulas,
    this transition only involved multiplying or dividing by inertial mass.
</p>

<p>
    In this section we will look more closely at the relationship
    between momentum-time graphs and net-force-time graphs.
    This relationship is in fact <strong>Newton's Second Law</strong>,
    which relates changes in momentum to the net force acting on some object.
</p>

<p>
    Unsurprisingly, it is exactly the same relationship
    as between velocity-time and acceleration-time graphs!
</p>

<ul>
    <li>
        The slope of the momentum-time graph at any given time \( t \)
        is the net force at that time t, \( \Sigma F (t) \).
    </li>
    <li>
        The area under the curve of the net-force-time graph
        between two times \( t_1 \) and \( t_2 \)
        is equal to the change in momentum \( \Delta p \)
        between those two times.
        This value is also called the <strong>impulse</strong> \( J \)
        for that time interval.
    </li>
</ul>