<h4>
    Using a force meter:
</h4>


<p>
    This is a lab intended to introduce
    quantitative dynamics.
    The key concept in dynamics is the <strong>force</strong>.
    The forces acting on an object determine
    its acceleration and thus its motion.
</p>

<p>
    Force is measured quantitatively with a force-meter.
    A force meter is simply a spring with a calibrated
    ruler that gives the force acting on an object in Newtons.
</p>

<p>
    Some forces, in addition to having a scale of Newtons,
    have another scale of grams.
    This, however, is very bad, and you should never use this scale!
    In my classes, I typically cover it up with duct tape.
    That is because grams are a measure of mass, not force.
    A force meter should be used only to measure force
    and never mass!
</p>

<h4>
    Picking the Correct Force Meter:
</h4>

<p>
    Every force meter has a particular maximum force.
    If you pull harder than the maximum force,
    then the force meter simply locks at the maximum (or "maxes out"),
    and it is impossible to get a reading.
    However, if you pull much weaker than the maximum force,
    then you will get in inaccurate reading.
    It is important to use the correct force meter for each task!
</p>

<p>
    <strong>Rule 1:</strong>If your force meter maxes out before
    reading the correct force, use that force meter.
</p>

<p>
    <strong>Rule 2:</strong> If you <emph>could</emph>
    use a weaker force meter and have it not max out, use the
    weaker force meter.
</p>
<!--
add - use newton scale

add - use meters more correctly
-->


<p class = 'directions'>
    For each of the following list of tasks,
    use a force-meter to determine the magnitude of force
    necessary to complete the task.
    Some might require you to build a tiny contraption
    with duct tape to attach the force meter hook
    to something.
    <br>
    For each selection, pick the correct force meter,
    and explain why you selected that particular force meter.
</p>


<ol>
    <li>
        Pulling your backpack across the table.
    </li>
    <div class = 'smallSpace'></div>
    <div class="bigSpace print-only"></div>
    <li>
        Lifting up your backpack.
    </li>
    <div class = 'smallSpace'></div>
    <div class="bigSpace print-only"></div>
    <li>
        Holding your backpack in the air.
    </li>
    <div class = 'smallSpace'></div>
    <div class="bigSpace print-only"></div>
    <li>
        Turning a doorknob.
    </li>
    <div class = 'smallSpace'></div>
    <div class="bigSpace print-only"></div>
    <div class="pageBreak"></div>
    <li>
        Opening a cabinet door.
    </li>
    <div class = 'smallSpace'></div>
    <div class="bigSpace print-only"></div>
    <li>
        Pulling down the projector slide.
    </li>
    <div class = 'smallSpace'></div>
    <div class="bigSpace print-only"></div>
    <li>
        Any idea of your own.
    </li>
    <div class = 'smallSpace'></div>
    <div class="bigSpace print-only"></div>
    <li>
        One more idea of your own.
    </li>
    <div class = 'smallSpace'></div>
    <div class="bigSpace print-only"></div>
</ol>
