
<h4>
  Subatomic Particles
</h4>

<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-2 border border-dark'>
      <strong>Particle</strong>
    </div>
    <div class = 'col-2 border border-dark'>
      <strong>Charge</strong>
    </div>
    <div class = 'col-2 border border-dark'>
      <strong>Location</strong>
    </div>
    <div class = 'col-2 border border-dark'>
      <strong>Can it move?</strong>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-2 border border-dark pt-3'>
      Electron
    </div>
    <div class = 'col-2 border border-dark pt-3'>
      Negative
    </div>
    <div class = 'col-2 border border-dark pt-3'>
      Outside of the Nucleus
    </div>
    <div class = 'col-2 border border-dark pt-3'>
      Yes
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-2 border border-dark pt-3'>
      Proton
    </div>
    <div class = 'col-2 border border-dark pt-3'>
      Positive
    </div>
    <div class = 'col-2 border border-dark pt-3'>
      Inside of the Nucleus
    </div>
    <div class = 'col-2 border border-dark pt-3'>
      No
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-2 border border-dark pt-3'>
      Neutron
    </div>
    <div class = 'col-2 border border-dark pt-3'>
      Neutral (no charge)
    </div>
    <div class = 'col-2 border border-dark pt-3'>
      Inside of the Nucleus
    </div>
    <div class = 'col-2 border border-dark pt-3'>
      No
    </div>
  </div>
</div>

<p class = 'definition' data-word = 'Charge Rules'>
  Opposite Charges ATTRACT
  <br>
  Like Charges REPEL
</p>

<p class = 'directions'>
  For each of the charges belo, state whether they attract or repel.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'repel'>
    Positive and Positive
  </li>
  <li class = 'question' data-answer = 'attract'>
    Positive and Negative
  </li>
  <li class = 'question' data-answer = 'repel'>
    Negative and Negative
  </li>
  <li class = 'question' data-answer = 'repel'>
    Proton and Proton
  </li>
  <li class = 'question' data-answer = 'attract'>
    Proton and Electron
  </li>
  <li class = 'question' data-answer = 'repel'>
    You have a large collection of electrons.
    Do they attract or repel each other?
  </li>
</ol>

<!--
need to include some NEUTRALS in here,
also the nucleus
-->



<h4>
  Insulators and Conductors
</h4>

<p class = 'definition' data-word = 'conductor'>
  A material through which electrons can easily move.
  <br>
  Made of metal.
</p>

<p class = 'definition' data-word = 'insulator'>
  A material that does not allow electrons to easily move.
  <br>
  Most everything not metal is an insulator.
</p>

<p class = 'directions'>
  State whether each material is a conductor or an insulator.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'conductor'>
    Copper Wires
  </li>
  <li class = 'question' data-answer = 'insulator'>
    Rabbit Fur
  </li>
  <li class = 'question' data-answer = 'insulator'>
    Plastic
  </li>
  <li class = 'question' data-answer = 'conductor'>
    A metal doorknob
  </li>
  <li class = 'question' data-answer = 'insulator'>
    Rubber gloves
  </li>
  <li class = 'question' data-answer = 'conductor'>
    A metal bookshelf
  </li>
  <li class = 'question' data-answer = 'insulator'>
    Hair
  </li>
  <li class = 'question' data-answer = 'conductor'>
    A material that allows electrons to easily flow
  </li>
  <li class = 'question' data-answer = 'insulator'>
    A matieral that DOES NOT allow electrons to easily flow
  </li>
</ol>

<h4>
  One extra disconnected question
</h4>

<!--
this question needs to be included, but I'm not sure where.
-->
<ol class = 'questionList'>
  <li class = 'question' data-answer = 'The negative electrons are attracted to the positive nucleus.'>
    Why do electrons typically stay near the nucleus of an atom?
  </li>
<ol>



<ol class = 'answerList'></ol>
