<p>
  It can be difficult to determine what is meant by numbers with scientific notation.
</p>



<p>
  Which number is greater?
  $$
  1.23 \times 10^9 \text{ or } 5.67 \times 10^8
  $$
  Some students will say that \(  5.67 \times 10^8 \) must be greater
  because \( 5.67 > 1.23 \). But look carefully!
  The values have different orders of magnitude,
  and that turns out to be much more important.
  In fact
  $$
    1.23 \times 10^9 = 12.3 \times 10^8 > 5.67 \times 10^8 !
  $$
</p>

<p class = 'definitionBox'>
  If two values are in proper and correct scientific notation,
  and they have different orders of magnitude,
  then the value with the greater order of magnitude
  will always be the greater value, regardless of the significant figures.
</p>


<p class = 'directions'>
  Determine which value is greater.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = '\(4.58 \times 10^9 \)'>
    \( 4.58 \times 10^9 \text{ vs. } 1.45 \times 10^{8} \)
  </li>
  <li class = 'question' data-answer = '\( 9.87 \times 10^{6} \)'>
    \( 9.87 \times 10^{6} \text{ vs. } 8.80 \times 10^{5} \)
  </li>
  <li class = 'question' data-answer = '\( 4.56 \times 10^{8} \)'>
    \( 4.56 \times 10^{8} \text{ vs. } 2.23 \times 10^{-6} \)
  </li>
  <li class = 'question' data-answer = '\( 3.33 \times 10^{-6} \)'>
    \( 3.33 \times 10^{-6} \text{ vs. } 1.23 \times 10^{-7} \)
  </li>
  <li class = 'question' data-answer = '\(  2.45 \times 10^{-9} \)'>
    \( 4.83 \times 10^{-10} \text{ vs. } 2.45 \times 10^{-9} \)
  </li>
  <li class = 'question' data-answer = '\(6.67 \times 10^{24} \)'>
    \( 6.67 \times 10^{24} \text{ vs. } 8.78 \times 10^{23} \)
  </li>
  <li class = 'question' data-answer = '\( 1.00 \times 10^{-14} \)'>
    \( 9.99 \times 10^{-15} \text{ vs. } 1.00 \times 10^{-14} \)
  </li>
</ol>
<!--
Throw in a few witht he same order of magnitude!!!!!!!!
-->


<h5>
  Numbers not in proper scientific notation:
</h5>

<p class = 'directions'>
  If two numbers are not in proper scientific notation
  and you are trying to figre out which one is greater,
  the best way to proceed is to put them into proper scientific
  notation, then follow the same steps as above!
</p>

<p>Questions Coming Soon!</p>


<h3>
  Answers
</h3>

<ol class = 'answerList'></ol>
