<div id = 'cowCarousel' class = 'carousel slide energySlides' data-ride = 'carousel' data-interval = 'false'>
    <ol class = 'carousel-indicators'>
        <li data-target = '#cowCarousel' data-slide-to = '0' class = 'active'></li>
        <li data-target = '#cowCarousel' data-slide-to = '1'></li>
        <li data-target = '#cowCarousel' data-slide-to = '2'></li>
        <li data-target = '#cowCarousel' data-slide-to = '3'></li>
        <li data-target = '#cowCarousel' data-slide-to = '4'></li>
        <li data-target = '#cowCarousel' data-slide-to = '5'></li>
        <li data-target = '#cowCarousel' data-slide-to = '6'></li>
        <li data-target = '#cowCarousel' data-slide-to = '7'></li>
    </ol>

    <div class = 'carousel-inner'>
        <div class = 'carousel-item active text-center'>
            <h3 class = 'bookTitle'>
                How Bobby Climbed the Stairs
            </h3>
        </div>
        <div class = 'carousel-item text-center'>
            <p class = 'storyBook'>
                Once upon a time, there was a very hot ball of gas called the sun.
                The sun gave of electromagnetic waves in all directions,
                which then traveled through the infinite void of space.
            </p>
        </div>
        <div class = 'carousel-item text-center'>
            <p class = 'storyBook'>
                    Most of the waves just heated up the earth.
                    But some of them struck a meadow of beautiful green grass.
                    When the electromagnetic waves struck the grass,
                    it triggered a chemical reaction inside of the blades of grass.
                    The chemical reaction took carbon dioxide from the air,
                    and used it to build the structure of the grass.
                    This was called photosynthesis.
            </p>
        </div>
        <div class = 'carousel-item text-center'>
            <p class = 'storyBook'>
                A cow in the field ate the grass.
                The cows digestive system broke down the molecules
                that form the structure of the grass,
                and are used to build the muscles of the cow.
            </p>
        </div>
        <div class = 'carousel-item text-center'>
            <p class = 'storyBook'>
                Somebody kills the cow, then cuts the muscles
                with the most protein out of the cow.
                The muscles are put into a grinder and then
                packed together to make a hamburger.
            </p>
        </div>
        <div class = 'carousel-item text-center'>
            <p class = 'storyBook'>
                Someone named Bobby went out to a restaurant that day.
                Bobby ate the hamburger.
                The biomolecules in the hamburger are digested and stored
                in the muscles of the protagonist.
            </p>
        </div>
        <div class = 'carousel-item text-center'>
            <p class = 'storyBook'>
                Bobby came home that night form a long day of work.
                His bedroom was on the second floor of hsi house.
                So, he used his muscles to press off the floor and push his body
                upward to the second floor.
            </p>
        </div>
        <div class = 'carousel-item text-center'>
            <h3 class = 'bookTitle'>
                The End
            </h3>
        </div>
    </div>

    <a class="carousel-control-prev" href="#cowCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#cowCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
