<h4>
  The Definition of Gravity
</h4>

<p class = 'definition' data-word = 'The Law of Universal Gravitation'>
  All masses are attracted to all other masses.
  This attraction is called <strong>gravity</strong>.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    The Law of Universal Gravitation is very important,
    and you need to memorize it.
    To help, please copy the law three times:
    <ul>
      <li class = 'mb-4'></li>
      <li class = 'mb-4'></li>
      <li class = 'mb-4'></li>
    </ul>
  </li>
</ol>

<h4>
  Gravity in Space
</h4>

<p>
  Many people believe that there is no gravity in space.
  This is FALSE.
  There is <em>definitely</em> gravity in space.
</p>

<p>
  Some people also say "there is gravity in space, but it is weaker."
  This is MISLEADING.
  To understand gravity, you need to focus on the forces and their effects,
  not just on its strengths.
</p>

<p>
  Gravity attracts all masses to all other masses.
  Wherever there are masses, there is gravity!
  And there are masses in space!
  In our solar system alone, there is
  planets, moons, the sun, comets, asteroids, interplanetary gas and dust,
  satiellites and other man-made objects etc.
</p>

<p>
  Imagine two tiny objects, such as two pencils
  are in space, stationary with respect to each other,
  far away from other masses,
  and a few centimeters apart.
  They will begin slowly moving towards each other,
  and within a few hours, they will touch!
  One pencil has mass, the other has mass, and thus
  they are attracted.
</p>

<p>
  There are many other examples of gravity in space that we will explore in physics class.
  They incldue:
</p>
<ul>
  <li>
    Gravity causes the planets to orbit the sun. Without it, they would fly out to space.
  </li>
  <li>
    Gravity causes the moon to orbit the earth. Without it, the moon would fly off into space.
  </li>
  <li>
    Gas and dust particles that are attracted to each other come together and form a star.
  </li>
  <li>
    Planets and moons were also formed by particles of gas and dust coming together.
    (All collections of dense matter formed due to gravity.)
  </li>
  <li>
    When astronauts went to the moon, they still fell down and didn't fly off!
    This is due to the moon's gravitational pull.
  </li>
  <li>
    The earth's gravity attracted many gas particles from space towards the earth,
    which gives the earth its atmosphere! (The air you are breathing right now!)
  </li>
</ul>

<p class = 'directions'>
  For each of the following statements,
  state if it is true or false.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'false'>
    There is no gravity in space.
  </li>
  <li class = 'question' data-answer = 'true'>
    Gravity is responsible for the moon's orbiting the earth.
  </li>
  <li class = 'question' data-answer = 'true'>
    Gravity is responsible for Pluto's orbiting the sun.
  </li>
  <li class = 'question' data-answer = 'true'>
    Two paintbrushes a few centimeters apart are attracted by gravity.
  </li>
  <li class = 'question' data-answer = 'true'>
    All mass is attracted to all other masses.
  </li>
  <li class = 'question' data-answer = 'false'>
    Astronauts on the moon need to worry about jumping too high because they might fly away.
  </li>
</ol>


<h4>
  Attraction to Everyday Objects
</h4>

<p>
  If gravity attracts all masses to all other masses,
  then what about everyday objects?
  For example, let's imagine there's a guy named Stan and
  that Stan is sitting in his chair, at a table.
  Stan and mass and the chair has mass, so Stan is attracted to
  the chair.
  The table also has mass, so Stan is attracted to the table.
  The walls of the room have mass, so Stan is attracted to all four
  walls of the room.
  In fact, Stan is attracted to everything in the room,
  even the air molecules!
  Stan is being pulled by the force of gravity in all different directions,
  so why doesn't Stan <em>feel</em> like he is being pulled in different directions.
</p>

<p>
  For that, we need to look at something else about gravity:
</p>

<p class = 'definition' data-word = 'The Law of Universal Gravitation (modified)'>
  All masses are attracted to all other masses.
  This force of attraction between masses is called <strong>gravity</strong>.
  However, unless you have an extremely large mass, such as the earth
  or the sun, the force of gravity is <em>extremely</em> weak,
  way too weak for humans to notice, and too weak to overcome frictional forces
  and cause motion.
</p>

<p>
  The reason that Stan does not feel a pull towards everything in the room is
  that, while he is attracted to everything in the room,
  that attraction is extemely weak.
  In the
  <a href = '/pod/cbdc87ad-dbfb-47dd-b4f6-69d497a9a860'>unit on inverse square laws</a>,
  we will learn a formula for gravity
  and determine exactly how weak it is.
  For now, suffice it to say, it is way too weak for Stan to notice
  and way way to weak to have any effect on Stan.
</p>

<p>
  Remember the two pencils in outer space from earlier?
  When they were in outer space, the two pencils attracted towards
  each other and touched. In that environment,
  the force of attraction between them was the <em>only</em>
  force there was, and so, even though it was weak, it caused motion,
  and caused the two pencils to touch.
  Now imagine the same two pencils are situated next to each other
  on a table, on planet earth.
  Of course, here they do not come together and touch.
  Why not?
  Many people say it is because the force of gravity of the earth is
  so much stronger. This is however, NOT the reason, because the force of
  gravity is a vertical force, and the force of attraction of the two pencils
  is a horizontal force.
</p>

<p>
  The reason they do not touch is due to <strong>friction</strong>.
  Think about this: while you are on earth, friction is <em>always</em>
  affecting you!
  Friction affects you whenever you touch a surface,
  and 99.99%R of the time, you are touching a surface.
  The other 0.001% of the time, you are falling,
  then you hit the ground, and soon you are touching a surface again.
  Friction is truly omnipresent on earth,
  and friction
  <a href = '/pod/f9807bd7-6fed-4420-93fe-a071cc577e91'>must be overcome for something to move</a>.
  For that reason, very weak forces, such as the gravitational
  attraction of two pencils, can be ignored on earth.
</p>


<p class = 'directions'>
  For each of the statements below, select true or false.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'true'>
    You are attracted to this piece of paper (or computer, whichever you are reading this on.)
  </li>
  <li class = 'question'>
    You currently are attracted to countless objecst around you, but cannot feel those attractions.
    <ol class = 'subQuestionList' type = 'a'>
      <li class = 'subQuestion' data-answer = 'false'>
        The reason you cannot feel these attractions is that they cancel each other out.
      </li>
      <li class = 'subQuestion' data-answer = 'true'>
        The reason you cannot feel these attractiosn is because they are very weak.
      </li>
    </ol>
  </li>
  <li class = 'question'>
    Two action figures that are near each other in outer space will come together and touch.
    Two action figures near each other on a table will not.
    <ol type = 'a' class = 'subQuestionList'>
      <li class = 'subQuestion' data-answer = 'false'>
        The reason for this difference is that gravity works differently in space.
      </li>
      <li class = 'subQuestion' data-answer = 'false'>
        The reason for this difference is that gravity is always stronger in space.
      </li>
      <li class = 'subQuestion' data-answer = 'true'>
        The reason for this difference is that friction resists motion on earth but not in space.
      </li>
    </ol>
  </li>
</ol>

<ol class = 'answerList'></ol>
