<p class = 'introduction'>
    If you pull aside a random person on the street,
    and ask them "What does gravity do?"
    they will probably answer "It pulls you down."
    However, physicist know that gravity is not simply a force that pulls you down,
    but is a force that attracts all masses to all other masses.
    Our goal in this pod is to reconcile these two understandings of gravity:
    why does, on earth, the gravity.
    However, to do so, we need to learn one of the most mind-bending facts of life on earth,
    the true meaning of "up" and "down."
</p>

<p class="introduction">
    Imagine you have a friend in Australia, on the other side of the earth.
    The direction you call "up" is the same as the direction your friend calls "down."
    But people in Australia do not fall off the earth...
    so we must need to re-examine what the words "up" and "down" really mean.
</p>

<h4>
    What are UP and DOWN?
</h4>


<img src = '/podAssets/fundamental_forces/conceptual_gravitation/earth_diagram.jpeg' height = '400px' width = 'auto'/>

<ol class = 'questionList'>
    <li class = 'question'>
        Look at the person in position A above:
        <ol class="subQuestionList">
            <li class="subQuestion">
                What direction would this person consider to be "up"?
            </li>
            <li>
                What direction would this person consider to be "down"?
            </li>
        </ol>
    </li>
    <li class = 'question'>
        Look at the person in position B above:
        <ol class="subQuestionList">
            <li class="subQuestion">
                What direction would this person consider to be "up"?
            </li>
            <li>
                What direction would this person consider to be "down"?
            </li>
        </ol>
    </li>
    <li class = 'question'>
        Look at the person in position C above:
        <ol class="subQuestionList">
            <li class="subQuestion">
                What direction would this person consider to be "up"?
            </li>
            <li>
                What direction would this person consider to be "down"?
            </li>
        </ol>
    </li>
    <li class = 'question'>
        Look at the person in position D above:
        <ol class="subQuestionList">
            <li class="subQuestion">
                What direction would this person consider to be "up"?
            </li>
            <li>
                What direction would this person consider to be "down"?
            </li>
        </ol>
    </li>
</ol>

<p class = 'definition' data-word = 'Up'>
    When humans say "up," they really mean "outward" or "farther away from the center of the earth."
</p>
<p class = 'definition' data-word = 'Down'>
    When humans say "down," they really mean "inward" or "closer to the center of the earth."
</p>


<ol class = 'questionList'>
    <li class = 'question'>
        It's time for you to get
        up and go to your next class.
        Do you "stand out" or "sit in"?
    </li>
    <li class = 'question'>
        If you are on the first floor and you need to go to your physics classroom
        on the second floor,
        do you need go "instairs" or "outstairs"?
    </li>
    <li class="question">
        You are at a concert and someone yells at you
        to "throw your hands up in the air."
        You comply, but refuse to wave then like you just don't care
        because you do care about proper physics language.
        What should the person have said?
    </li>
</ol>

<p class="directions">
    Answer the following questions with language that properly reflects the shape of the earth.
</p>

<ol class="questionList">
    <li class = 'question'>
        What should you do if you are in class and you have a question?
    </li>
    <li class = 'question'>
        You are on the third floor and you need to get to the first floor to go outside.
        Where do you need to go?
    </li>
    <!--
        ADD MORE HERE
     -->
</ol>

<h4>
    Intuitive vs. Counterintuitive
</h4>

<!--
add definitions here
-->

<!--
add explanation here
-->

<ol class="questionList">
    <li class="question">
        Categorize each of the following into "lower order thinking" or "higher order thinking."
        <ol class="subQuestionList">
            <li class="subQuestion">
                Walking down the hallway.
            </li>
            <li class="subQuestion">
                Solving a difficult trigonometry problem.
            </li>
            <li class="subQuestion">
                Saying hi to a friend.
            </li>
            <li class="subQuestion">
                Stopping yourself from yelling at a friend who is saying ridiculous things
                because you don't want to make a scene.
            </li>
            <li class="subQuestion">
                Running to catch a ball.
            </li>
            <li class="subQuestion">
                Mathematically modeling where a ball will land when thrown.
            </li>
        </ol>
    </li>
    <li class="question">
        Write at least three examples of proofs that the earth is round.
    </li>
    <li class="question">
        Look at your examples from the previous question.
        Do they involve applying higher order or lower order thinking?
    </li>
    <li class="question">
        Using the concepts of <emph>higher order thinking</emph> and <emph>lower order thinking</emph>,
        explain why people keep using the terms "up" and "down" even though
        they are clearly not correct words to describe a round earth.
    </li>
</ol>

<h4>
    Gravity on Earth
</h4>

<p class = 'definition' data-word = 'Universal Law of Gravitation'>
    All objects with mass are attracted to all other objects with mass.
    This force of attraction is called <strong>gravity</strong>.
    The force of gravity is usually so weak as to be insignificant,
    unless it involves objects with very large mass, such as planets,
    or objects in the vacuum of space where no other forces are relevant.
</p>

<p class = 'definition' data-word = 'Gravity on Earth'>
    The force of gravity attracts all masses on the surface of the earth
    towards the center of the earth.
    Humans call this direction "down."
</p>

<!--
think of some questions to go here
-->

<h4>
    More Questions
</h4>

<ol class = 'questionList'>
    <li class = 'question'>
        <img src = '/podAssets/fundamental_forces/conceptual_gravitation/dude_on_earth.jpeg' height = '300px' width = 'auto'/>
        <br>
        Your teacher draws the following diagram on the board, and says
        "This diagram shows somebody standing up on earth. Obviously, it is not to scale."
        Several of the students in the class indicate that the person will fall face first off of the planet.
        Using the concept of gravity, explain what will really happen.
    </li>
    <li class = 'question'>
        <h5>
            Meanwhile, on the south pole:
        </h5>
        <img src = '/podAssets/fundamental_forces/conceptual_gravitation/south_pole.jpg' height = '300px' width = 'auto'/>
        <br>
        Take a look at this meme.
        It isn't real.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion'>
                How was this photo made?
            </li>
            <li class = 'subQuestion'>
                Why is it funny?
            </li>
            <li class = 'subQuestion'>
                You don't actually fall off the earth at the south pole.
                Demonstrate this with a diagram and explain why.
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = 'https://media.npr.org/assets/img/2013/03/06/bluemarble3k-smaller-nasa_custom-644f0b7082d6d0f6814a9e82908569c07ea55ccb-s1400-c85.jpg' height = '300px' width = 'auto'/>
        <p class = 'imageCredit'>
            https://www.npr.org/sections/13.7/2013/03/06/173510125/is-the-earth-alive-that-depends-on-your-definition-of-life
        </p>
        <br>
        The photo above shows the earth as seen from space.
        You have a very very smart 8 year old cousin.
        She asks you "If everything falls down, and all that water is just there in the oceans,
        then why doesn't the water fall off of the planet and into space?"
        By referring to the definition of gravity and concepts of this pod,
        explain to her why water stays on earth and does not fall into space.
        (She is very very smart, so she can understand physics concepts.)
    </li>
</ol>

