<p class = 'introduction'>

</p>

<h4>
    What are UP and DOWN?
</h4>

<!--
there really needs to be a video here
-->


<ol class = 'questionList'>
    <li class = 'question'>
        In the diagram of the earth shown above,
        draw the direction that gravity pulls a person at position A.
    </li>
    <li class = 'question'>
        In the diagram of the earth shown above,
        draw the direction that gravity pulls a person at position B.
    </li>

    <!--
    -the person standing on the earth -> why don't they fall

    - south pole joke

    - how water stays on the earth
    -->
</ol>


<h4>
    Intuitive vs. Counterintuitive
</h4>


<h4>
    What gravity is:
</h4>

