

<h4>
  The Doppler Effect Equation:
</h4>
<p class = 'equation'>
$$
  f_0 = f_s \left( \frac{v \pm v_o}{v \mp v_s}  \right)
$$
</p>

<p>
  Add table of variables
</p>

<p>
  Note that all of the \( v \) variables refer to
  speed, not velocity!
  All of the \( v \) variables must be positive
  but the \( \pm \) and \( mp \) must be interpreted
  based on what is going on.
</p>

<p>
  What do the signs mean?
  [add discussion of signs]
</p>

<h4>
  Practice Quantitative Questions
</h4>


<h4>
  Interpretation of the Formula:
</h4>

<p class = 'directions'>
  Each of the questions below
  involves interpreting what the signs mean.
</p>
<ol class = 'questionList'>
  <li class = 'question'>
    If nothing is moving,
    there should be no Doppler effect.
    Connect this to the equation.
  </li>
  <li class = 'question'>
    If both objects are moving
    <em>towards</em> each other...
    Does the sound get higher or lower?
    Which signs do you pick?
    Defend that the signs you pick will result in
    the result you expect.
  </li>
  <li class = 'question'>
    If both objects are moving
    <em>away from</em> each other.
    Does the sound get higher or lower?
    Which signs do you pick?
    Defend that the signs you pick will result in
    the result you expect.
  </li>
  <li class = 'question'>
    Give an example in which the observer
    is not moving but the source is.
    Show how this gives the result you expect.
  </li>
  <li class = 'question'>
    Give an example in which the source
    is not moving but the observer is.
    Show how this gives the result you expect.
  </li>
  <li class = 'question'>
    Imagine that the source and observer have the
    exact same speed and direction.
    What happens? Connect it to what makes sense.
  </li>
  <li class = 'question'>
    If something is moving towards you, and you are
    going <em>away from</em> it, but not as fast,
    what Doppler effect do you experience?
    Connect this to the equation.
  </li>
  <li class = 'question'>
    If something is moving away from you, and you are
    going <em>towards</em> from it, but not as fast,
    what Doppler effect do you experience?
    Connect this to the equation.
  </li>
  <li class = 'question' data-answer = 'The equation returns zero; you would never hear sound because the sound waves would not reach you!'>
    Imagine that a source is not moving and you are moving
    away from it at precisely the speed of sound.
    What happens to the equation?
    What do you think would happen?
  </li>
  <li class = 'question' data-answer = 'The equation returns an undefined result; you would hear nothing until the object physically reached you.'>
    Imagine if the source is moving towards
    you at the speed of sound.
    What happens to the equation?
    What do you think would happen?
  </li>
</ol>

<p>
  Note: This equation applies to sound, but not light!
  There <em>is</em> a Doppler shift to light,
  but because light follows much more difficult
  laws of relativity,
  the Doppler shift requires much more difficult math
  to figure out!
</p>


<ol class = 'answerList'></ol>
