<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
    When explaining, please write a full sentence
</p>

<ol>
    <li>
        A person with a mass of 65.0 kg is an an elevator that is
        accelerating a rate of 0.400 m/s<sup>2</sup> <strong>downwards</strong>.
        <ol type = 'a'>
            <li>
                Determine the magnitude and direction of net force acting on this person.
            </li>
            <li>
                There are two forces acting on this person.
                Draw a free-body diagram.
                Each force should be labeled
                with the correct name and the correct magnitude.
            </li>
            <li>
                Explain in one sentence how you determined the magnitude of the normal force acting on the person.
            </li>
        </ol>
    </li>
    <div class = 'pageBreak'></div>
    <li>
        A person with a mass of 74.0 kg is in an elevator that is
        accelerating at a rate of 0.700 m/s<sup>2</sup> <strong>upwards</strong>.
        <ol type = 'a'>
            <li>
                Determine the magnitude and direction of net force acting on this person.
            </li>
            <li>
                There are two forces acting on this person.
                Draw a free-body diagram.
                Each force should be labeled
                with the correct name and the correct magnitude.
            </li>
        </ol>
    </li>
</ol>
