<p class = 'semiImportantEquation'>
    $$
    \sin ( 2 \theta ) = 2 \sin (\theta) \cos ( \theta ).
    $$
</p>

<p>
    A cannon located on the ground
    fires an cannonball of mass \( m \) at a speed
    \( v_i \) and an angle \( \theta \) to the horizontal.
    Answer the following questions to describe and explain
    the motion of the cannonball.
</p>

<p>
    Chose the origin to be the point at which the cannonball was fired.
    The positive-x direction is the direction the cannon was fired in.
    The positive-y direction is upwards.
</p>

<ol>
    <li>
        Derive a formula for the initial vertical velocity of the cannonball.
    </li>
    <li>
        Derive a formula for the initial horizontal velocity of the cannonball.
    </li>
    <li>
        In words, describe the motion of the cannonball in the vertical dimension.
    </li>
    <li>
        In words, describe the motion of the cannonball in the horizontal dimension.
    </li>
    <li>
        Create a qualitative kinematic graph of horizontal position-time
        that describes the motion of the cannonball.
    </li>
    <li>
        Create a qualitative kinematic graph of horizontal velocity-time
        that describes the motion of the cannonball.
    </li>
    <li>
        Create a qualitative kinematic graph of horizontal acceleration-time
        that describes the motion of the cannonball.
    </li>
    <li>
        Create a qualitative kinematic graph of vertical position-time
        that describes the motion of the cannonball.
    </li>
    <li>
        Create a qualitative kinematic graph of vertical velocity-time
        that describes the motion of the cannonball.
    </li>
    <li>
        Create a qualitative kinematic graph of vertical acceleration-time
        that describes the motion of the cannonball.
    </li>
    <li>
        Derive a formula for the time that the cannonball
        is in the air \( \Delta t \)
        in terms of \( v_i \), \( g \), and \( \theta \).
        Simplify your formula.
        Prove your formula is dimensionally correct.
    </li>
    <li>
        Derive a formula for the range of the cannonball
        (the horizontal distance it moves before striking the ground)
        in terms of \( v_i \), \( g \), and \( \theta \).
        Simplify your formula.
        Prove your formula is dimensionally correct.
    </li>
    <li>
        Based on your formula for range,
        which angle maximizes the range of the cannonball? Explain why.
        (Please don't use a derivative to answer this question.
        THe answer should be clear.)
    </li>
    <li>
        Using the kinematic equations, determine a function
        for horizontal position \( x(t) \) with constants,
        \( v_i \), \( g \), and \( \theta \)
    </li>
    <li>
        Using the kinematic equations, determine a function
        for horizontal velocity \( v_x(t) \) with constants,
        \( v_i \), \( g \), and \( \theta \).
    </li>
    <li>
        State a function for horizontal acceleration \( a_x(t) \).
    </li>
    <li>
        Using the kinematic equations, determine a function
        for vertical position \( y(t) \) with constants,
        \( v_i \), \( g \), and \( \theta \).
    </li>
    <li>
        Using the kinematic equations, determine a function
        for vertical velocity \( v_y(t) \) with constants,
        \( v_i \), \( g \), and \( \theta \).
    </li>
    <li>
        State a function for vertical acceleration \( a_y(t) \).
    </li>
    <li>
        State the appropriate domain of all of the functions above.
    </li>
    <li>
        Determine an function that describes the shape of the trajectory
        of the cannonball, \( y(x) \).
        This function can be made from combining two of the functions determined above.
        Galileo determined 400 years ago that all objects in projectile
        motion move with the shape of a downward facing parabola.
        Demonstrate that your trajectory complies with Galileo's conjecture
    </li>
    <li>
        Determine a function for the speed of the cannonball
        \( v(t) \).
        Speed is the magnitude of velocity and can be derived from
        vector addition of components.
    </li>
    <li>
        No work is done on the cannonball earth system in this model.
        By using your formulas for \( y(t) \) and \( v(t) \),
        demonstrate that the total energy of the
        cannonball-earth system is constant for all times.
    </li>
    <li>
        Draw a free-body diagram for the cannonball as it moves.
    </li>
    <li>
        Describe the net force on the cannonball in the horizontal dimension.
        Relate this to the motion of the cannonball in the horizontal dimension
        by referring explicitly to Newton's Laws.
    </li>
    <li>
        Describe the net force on the cannonball in the vertical dimension.
        Relate this to the motion of the cannonball in the vertical dimension
        by referring explicitly to Newton's Laws.
    </li>
</ol>