<p>
  This unit deals with projectile motion.
  Projectile motion occurs whenver you throw an object up into the air.
  Examples of projectile motion are shooting a basketball,
  hitting a volleyball,
  firing an arrow,
  or jumping off of a diving broad.
</p>

<p>
  The most important single fact about projectile motion is this:
  All 2-dimensional projecitle motion
  takes the shape of a <strong>downward parabola</strong>.
  (The only exceptions are if an object is dropped down or thrown directly upward.
  These exceptions are 1-dimensional projectile motion.)
</p>


<h4>
  What is a downward parabola
</h4>

<p>
  A downward parabola is a shape made by the mathematical equation
  $$
  y = a x^2 + bx + c
  $$
  in which \( a < 0 \).
  Here is a classic example of a downward parabola:
</p>

<div id = 'parabolaGraph1'></div>
<p>
  Here is an image of half of a downward parabola:
</p>
<div id = 'parabolaGraph2'></div>

<p>
  The most important point of a downward parabola
  is the <strong>vertex</strong>.
  The vertex is at the top of the parabola.
  In the above graphs, the vertex is marked with a black circle.
  For an object in projectile motion,
  the vertex represents the point at which the object is at its highest point.
</p>

<p>
  Note that a parabola is <strong>not</strong>
  the same as an exponential function!
  Many students confuse these.
  An exponential function increases at a much faster rate and
  decreases to an asymptote. An exponential function is monotonically
  increasing and does not include a vertex.
</p>

<script>
  let parabolaGraph1 = new QualitativeGraph((x) => {
    return -1 * (x - 5)**2 + 25
  }, 0, 10)
  parabolaGraph1.addDefinedPoint(5,25);
  let parabolaGraph2 = new QualitativeGraph((x) => {
    return -1 * x * x + 25
  }, 0, 5);
  parabolaGraph2.addDefinedPoint(0,25);

  $("#parabolaGraph1").append(parabolaGraph1.drawCanvas(300));
  $("#parabolaGraph2").append(parabolaGraph2.drawCanvas(300));

</script>

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'false'>
    True or False: All projectile motion follows the shape of an exponential function.
  </li>
  <li class = 'question' data-answer = 'false'>
    True or False: All projectile motion follows the shape of a <strong>upward</strong> parabolic function.
  </li>
  <li class = 'question' data-answer = 'true'>
    True or False: All projectile motion follows the shape of a <strong>downward</strong> parabolic function.
  </li>
  <li class = 'question' data-answer = 'vertex'>
    The point at the top of a downard parabola is called the ________.
  </li>
</ol>

<h4>
  Examples where parabolic motion is obvious:
</h4>

<ul>
  <li>A basketball shot</li>
  <li>A deep touchdown pass</li>
</ul>

<h4>
  Examples where parabolic motion is less obvious
</h4>

<ul>
  <li>An olympic archer's shot</li>
  <li>A 5-yard slant</li>
  <li>Spiking a volleyball</li>
  <li>Motion with lots of rotation, like throwing a wrenchin the air</li>
  <li>Human motion, such as a long jump or high jump</li>
</ul>

<h4>
  Imporant Implications of parabolic motion
</h4>

<ul>
  <li>To strike a target, don't point direclty at it. Point above it.</li>
</ul>


<!--
include some quesitons like those on the force concept inventory on parabolic motion
-->


<h4>
  Answers:
</h4>

<ol class = 'answerList'></ol>
