
<p class = 'introduction'>
    This pod is very closely related to
    <a href = '/pod/ed5f91c8-e1c7-408b-b1ae-0fac57661bbc'>another pod</a>
    which focuses on the words "up" and "down" in gravity.
</p>