
<!--
add schema diagram to this problem! (maybe)
-->

<p class = 'introduction'>
  In this pod, you will learn to draw
  free-body diagrams for multiple objects at once.
  In this way, you will connect action-reaction force paris
  and better understand Newton's Third Law.
</p>

<!--<h4>-->
<!--  Review: Agent and Object of a Force-->
<!--</h4>-->

<!--<p class = 'definition' data-word = 'Agent of a Force'>-->
<!--  Every force must have an <strong>agent</strong>.-->
<!--  The agent is the thing causing the force.-->
<!--  The agent <em>must</em> be something physical and real, something you can touch.-->
<!--  <br>-->
<!--  It is a good pratice to always identify the agent of a force.-->
<!--</p>-->
<!--<p class = 'definition' data-word = 'Object of a Force'>-->
<!--  Every force must have an <strong>object</strong>.-->
<!--  The object is the thing receiving the force.-->
<!--  The object <em>must</em> be something physical and real, something you can touch.-->
<!--  <br>-->
<!--  It is a good pratice to always identify the object of a force.-->
<!--  On a free-body daigram, all forces have the same object.-->
<!--</p>-->


<!--<h5>-->
<!--  Examples-->
<!--</h5>-->

<!--<ul>-->
<!--  <li>-->
<!--    Mike punches Evander in the face.-->
<!--    The agent of the force is Mike's fist,-->
<!--    and the object is Evander's face.-->
<!--  </li>-->
<!--  <li>-->
<!--    Gravity is pulling down on a baseball.-->
<!--    The agent of the force is the earth,-->
<!--    and the object of the force is the baseball.-->
<!--  </li>-->
<!--  <li>-->
<!--    Joey is lying in bed.-->
<!--    The normal force is holding him up.-->
<!--    The agent of this force is the bed,-->
<!--    and the object of the force is Joey.-->
<!--  </li>-->
<!--</ul>-->

<!--<h5>-->
<!--  Questions-->
<!--</h5>-->

<!--<p class = 'directions'>-->
<!--  For each force described, identify the agent and the object.-->
<!--</p>-->

<!--<ol class = 'questionList'>-->
<!--  <li class = 'question'></li>-->
<!--  <li class = 'question'></li>-->
<!--  <li class = 'question'></li>-->
<!--  <li class = 'question'></li>-->
<!--</ol>-->

<h4>
  Newton's Third Law
</h4>

<p class = 'definition' data-word = "Newton's Third Law">
  If A exerts a force on B,
  then B exerts a force on A with equal magnitude and opposite direciton.
  <br>
  These two forces are called an <strong>action-reaction pair</strong>.
  <br>
  In every pair, the object of one force is the agent of the other force,
  and vice versa!
</p>

<h5>
  Examples
</h5>

<ul>
  <li>
    Mike punches Evander in the face.
    This produces a pair of forces:
    <ol type = 'A'>
      <li>The agent of force A is Mike's fist and the object is Evander's face.</li>
      <li>The agent of force B is Evander's face and the object is Mike's face.</li>
    </ol>
  </li>
  <li>
    Gravity is pulling down on a baseball.
  </li>
  <li>
    Joey is lying in bed.
  </li>
</ul>


<p class = 'directions'>
  Each statement describes a force.
  Describe the agent and the object of <em>both</em> forces on a pair.
</p>

<ol class = 'questionList'>
  <li class = 'question'></li>
  <li class = 'question'></li>
  <li class = 'question'></li>
  <li class = 'question'></li>
</ol>


<h5>
  How to identify action-reaction pairs on free-body diagrams
</h5>
<ul>
  <li>
    Action-reaction pairs <em>always</em>
    appear on different free-body diagrams.
  </li>
  <li>
    Imagine that Mike punches Evander:
    <ul>
      <li>There is a force on Evander's free-body diagram whose agent is Mike</li>
      <li>There is a force on Mike's free-body diagram whose agent is Evander</li>
    </ul>
    These forces are an action-reaction pair.
  </li>
  <li>
    Action-Reaction pairs always have equal magnitude and opposite direction.
  </li>
  <li>
    <em>Every</em> force is part of a pair.
    Sometime's you don't see them because you don't draw every free-body
    diagram you can, but they are <em>always</em> there.
  </li>
</ul>

<!--
add more questions here
-->

<h4>
  Balanced Force Pairs
</h4>

<p>
  In order to master physics, you need to learn to identify
  all action-reaction force pairs.
  Unfortunately for students of physics, in most problems,
  there are <em>other pairs</em> of forces that
  <em>also</em> have equal magnitude and opposite direction,
  but aren't action-reaction force pairs.
  &#x1f615;
  &#x1f615;
  &#x1f615;
</p>

<p>
  Therefore, in this lesson we are going to also identify <em>balanced force pairs</em>.
</p>

<p class = 'definition' data-answer = 'Balanced Force Pairs'>
  A balanced force pair are a pair of forces
  with equal magnitude and opposite direction that
  act on the <em>same object</em>.
  <br>
  They usually consist of one force with definite magnitude
  and another force with adjustable magnitude called a <em>constraint force</em>.
</p>

<h5>
  How to Identify Balanced Force Pairs
</h5>

<ul>
  <li>
    Balanced force pairs appear on the <em>same</em> free-body diagram.
  </li>
  <li>
    Balanced forces occur when an object has net force zero in
    either the X or Y dimension.
  </li>
  <li>
    Usually, one of the two balanced forces is a <em>constraint force</em>.
    A constraint force is a force that does not have a particular magnitude
    but adjusts its magnitude to match a particular situation.
    The most common constraint forces are normal force, tension (sometimes), and static friction.
  </li>
</ul>



<iframe width="560" height="315" src="https://www.youtube.com/embed/wmmjfbl7zG4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/57049243/?s=4ax917&amp;ref=embed" allowfullscreen></iframe>

<h3>
  Problems
</h3>

<h4>
  Problem 1: Standing Man
</h4>

<p>
  A person is standing up on the earth.
  He is not moving.
</p>

<h5>
  1A: Drawing Free-Body Diagrams
</h5>

<p class = 'directions'>
  Draw two free-body diagrams.
    For each force, identify the type of force, the agent, and the object of the force.
</p>
<ol class = 'questionList'>
  <li class = 'question'>
    The person (2 forces)
  </li>
  <li class = 'question'>
    The earth (2 forces)
  </li>
</ol>

<div id = 'system1'></div>
<script>
  let system1 = new SystemFBDs();
  system1.addFBD('the person', 2, 'Net Force:');
  system1.addFBD('the earth', 2);
  $("#system1").append(system1.print());
</script>


<h5>
  1B: Identifying Action-Reaction Pairs
</h5>

<p>
  Identify two action-reaction pairs in this system.
</p>

<!---
add section: idetnifying action-reaction pairs
--->


<h5>
  1C: Identifying Balance Force Pairs
</h5>

<p>
  In this system, one balanced force pair acts on the person.
  Identify it.
</p>

<!---
constraint forces etc.
-->


<p>
  (A balanced force pair also acts on the earth.)
</p>


<h4>
  Problem 2: Two Boxes Stacked on Top of Each Other
</h4>

<p>
  Two boxes are stacked on top of each other,
  on the surface of the earth.
  None of the boxes is moving.
</p>
<p>
  Draw a free-body diagram of each of these:
</p>
<ul>
  <li>The top box (2 forces)</li>
  <li>The bottom box (3 forces)</li>
  <li>The earth (3 forces)</li>
</ul>

<div id = 'system2'></div>


<script>
  let system2 = new SystemFBDs();
  system2.addFBD('the top box',2,'Net Force:');
  system2.addFBD('the bottom box',3,'Net Force:');
  system2.addFBS('the earth',3);
</script>


<!---
idenfying balanced force pairs
-->

<h4>
  Problem 3: Person Pushing a Big Box
</h4>

<p>
  A person is pushing a heay box to the right across the surface of the earth.
  Assume that he is pressing the ground with his feet, but his feet are not
  slipping.
  The person and the box both move at a constant velocity.
</p>

<h5>
  3A: Drawing Free-Body Diagrams
</h5>
<p>Draw a Free-Body Diagram of each of the following:</p>
<ul>
  <li>The person (4 forces)</li>
  <li>The box (4 forces)</li>
  <li>The earth (6 forces)</li>
</ul>

<div id = 'system3'></div>

<script>
  let system3 = new SystemFBD();
  system3.addFBD('the person',4);
  system3.addFBD('the box',4);
  system3.addFBD('the earth',6);
  $("#system3").append(system3.print());
</script>


<h5>
  3B: Identifying Action-Reaction Pairs
</h5>


<h5>
  Identifying Balanced Force Pairs
</h5>

<ol class = 'questionList'>
  <li class = 'question'>
    Identify two different balanced force pairs acting on the person.
    For each one, identify one force as a <em>constraint force</em>.
  </li>
  <li class = 'question'>
    Identify two different balanced force pairs acting on the block.
  </li>
</ol>

<p>
  Note: The applied force of the person pushing on the block
  is sort of like a constraint force, because people will push
  enough to reach a constant velocity.
</p>

<p>
  Note that three balanced force pairs also act on the earth.
</p>


<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>

<h3>
    <a href = '/podAssets/dynamics/identifying_forces/free_body_diagrams_3.pdf'>More Material Available a a PDF</a>
</h3>

<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>