
<h4>
  Very Common Forces
</h4>

<p class = 'definition' data-word = 'Contact Force'>
  Any force caused by actually hitting something.
  Examples: pushes, punches, pulls, kicks, head butt.
  When a contact force is exerted by a person,
  it is sometimes called an <em>applied force</em>.
</p>
<p class = 'definition' data-word = 'Gravity'>
  The force of all masses attracting all other masses.
  <br>
  When on earth, the force of gravity is also called
  <em>weight</em> an always points <em>downward</em>.
</p>
<p class = 'definition' data-word = 'Normal Force'>
  A force that acts <em>perpendicular</em> to a surface.
  Usually, this is a force that is opposite the force
  of gravity and holds you up.
</p>
<p class = 'definition' data-word = 'Friction'>
  A force that affects anything sliding on a surface.
  Always resists motion.
</p>
<p class = 'definition' data-word = 'Air Resistance'>
  The force of air pushing back on something as it moves.
  Air resistance affects things that have a large surface area
  and move very fast.
  It is also called <em>drag</em>.
</p>

<p class="directions">
    For each question, pick a force.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'contact force'>
    What type of force is a punch to the stomach?
  </li>
  <li class = 'question' data-answer = 'gravity; weight'>
    What kind of force makes you fall down? [2 answers]
  </li>
  <li class = 'question' data-answer = 'weight'>
    What is another name for gravity, when you are earth.
  </li>
  <li class = 'question' data-answer = 'friction'>
    What force keeps your books from sliding off the table?
  </li>
  <li class = 'question' data-answer = 'air resistance; drag'>
    What force do you feel when you put your hand out the window of a
    speeding car?
  </li>
  <li class = 'question' data-answer = 'friction'>
    What force is very low when you are on ice?
  </li>
  <li class = 'question' data-answer = 'normal force'>
    What force holds you up when you sit in a chair?
  </li>
  <li class = 'question' data-answre = 'drag'>
    What is another name for air resistance?
  </li>
</ol>


<h4>
  Important Free-Body Diagrams
</h4>

<p class = 'definition' data-word = 'Free-Body Diagram'>
  A <strong>free-body diagram</strong> shows all of the forces
  acting on an object, each represented as an arrow.
</p>

<p>
  Drawing good free-body diagrams is the first step to mastering
  dynamics. Forces cause all changes in motion, and a
  free-body diagrams shows the forces acting on some object.
  In this pod, we will begin to draw <em>qualitative</em>
  free-body diagrams on an object.
</p>


<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-6 mb-2'>
      A person sitting in a chair.
      <!-- IMAGE -->
    </div>
    <div class = 'col-md-6 mb-2' id = 'person_in_chair'>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-md-6 mb-2'>
      A weight being lifted by a weightlifter
    </div>
    <div class = 'col-md-6 mb-2' id = 'lifting_weights'>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-md-6 mb-2'>
      A block being pushed by someone across the floor.
    </div>
    <div class = 'col-md-6 mb-2' id ='person_pushing_block'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-md-6 mb-2'>
      Someone falling down at a low velocity.
    </div>
    <div class = 'col-md-6 mb-2' id = 'person_falling_low_velocity'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-md-6 mb-2'>
      Someone falling down with a high velocity.
    </div>
    <div class = 'col-md-6 mb-2' id = 'person_falling_high_velocity'>

    </div>
  </div>
</div>

<!--
include agents????
-->

<h4>
  Questions
</h4>

<p class = 'directions'>
  For each situation, draw a relevant free-body diagram.
</p>

<!--
someone standing on fthe floor
someone holding up a box (free body diagram of the box)
an inimate object falling down with a low velocity
someone is pushing a couch across the floor (free-body diagram of the couch)
-->

<ol class = 'questionList'>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2">
                <li class="question">
                    A person standing still <br>
                </li>
            </div>
            <div class="col-md-6">
                Free-Body Diagram of the person (2 forces)
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2">
                <li class="question">
                    Someone holding up a box <br>
                </li>
            </div>
            <div class="col-md-6">
                Free-Body Diagram of the box (2 forces)
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2">
                <li class="question">
                    An inanimate object falling down at a low velocity <br>
                </li>
            </div>
            <div class="col-md-6">
                Free-Body Diagram of the object (1 force)
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2">
                <li class="question">
                    A piano falling down at a very high velocity. <br>
                </li>
            </div>
            <div class="col-md-6">
                Free-Body Diagram of the paino
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2">
                <li class="question">
                    Someone is pushing a couch across the floor. <br>
                </li>
            </div>
            <div class="col-md-6">
                Free-Body Diagram of the couch
            </div>
        </div>
    </div>
</ol>


<h4>
    More Forces
</h4>

<p class="definition" data-word = 'Tension'>
    The force of a rope pulling.
</p>
<p class="definition" data-word = 'Elastic Force'>
    When you stretch something our, the <strong>elastic force</strong>
    is the force that pulls back.
    <br>
    Examples: springs, slinkies
</p>
<p class="definition" data-word = 'Thrust'>
    The force of an engine pushing something forward.
</p>
<p class="definition" data-word = 'Air Pressure'>
    The force of air pressing on everything around it.
    It exists constantly in your life, but you never notice it.
</p>
<p class="definition" data-word = 'Lift'>
    A force that pushes upward when air pressure is reduced by an airplane wing.
    Allows an airplane to fly.
</p>
<p class="definition" data-word = 'Buoyancy'>
    The force of water pressing upward on something.
    This is the force that allows a boat to float.
</p>

<p class="directions">
    For each question or statement, pick a force.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'air pressure'>
        If this force is too strong inside of a balloon, the balloon will pop.
    </li>
    <li class="question" data-answer = 'thrust'>
        This force pushes an airplane <em>forward</em>.
    </li>
    <li class="question" data-answer = 'tension'>
        This force acts on each group in a game of tug-o-war.
    </li>
    <li class="question" data-answer = 'lift'>
        This force allows an airplane to stay in the sky, pushing it <em>upward</em>.
    </li>
    <li class="question" data-answer = 'elastic force'>
        When you pull a long slinky outward, this force pulls it back together.
    </li>
    <li class="question" data-answer = 'buoyancy'>
        What floats your boat?
    </li>
</ol>

<h4>
    Examples of Free-Body Diagrams
</h4>

<div class="container">
    <div class="row">
        <div class = 'col-md-6 mb-2'>
            Someone pulling back an arrow in a bow:
        </div>
        <div class = 'col-md-6 mb-2'>
            Free body diagram of arrow: <br>
            <div id = 'arrow'></div>
            (Omitting gravity and an upward force.)
        </div>
    </div>
    <div class="row">
        <div class = 'col-md-6 mb-2'>
            A person hanging from a rope.
        </div>
        <div class = 'col-md-6 mb-2' id = 'person_on_rope'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-md-6 mb-2'>
            An airplane flying
        </div>
        <div class = 'col-md-6 mb-2' id = 'airplane'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-md-6 mb-2'>
            A boat floating
        </div>
        <div class = 'col-md-6 mb-2' id = 'boat_floating'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-md-6 mb-2'>
            A boat being pushed forward with an engine.
        </div>
        <div class = 'col-md-6 mb-2' id = 'boat_sailing'>

        </div>
    </div>
</div>



<ol class="answerList"></ol>

<script>
  $("#person_in_chair").append(fastFBD([['up','normal force'],['down','gravity']]).drawCanvas(200));
  $("#lifting_weights").append(fastFBD([['up','applied force'],['down','gravity']]).drawCanvas(200));
  $("#person_pushing_block").append(fastFBD([['right','applied force'],['up','normal force'],['left','friction'],['down','gravity']]).drawCanvas(200));
  $("#person_falling_low_velocity").append(fastFBD([['down','gravity']]).drawCanvas(200));
  $("#person_falling_high_velocity").append(fastFBD([['down','gravity'],['up','air resistance']]).drawCanvas(200));


  $("#airplane").append(fastFBD([['up','lift'],['down','weight'],['right','thrust'],['left','drag']]).drawCanvas(200));
  $("#boat_floating").append(fastFBD([['up','buoyancy'],['down','weight']]).drawCanvas(200));
  $("#boat_sailing").append(fastFBD([['up','buoyancy'],['down','weight'],['right','thrust'],['left','drag']]).drawCanvas(200));
  $("#person_on_rope").append(fastFBD([['up','tension'],['down','gravity']]).drawCanvas(200));

  $("#arrow").append(fastFBD([['right','applied'],['left','elastic']]).drawCanvas(200));
</script>
