
<p class = 'introduction'>
    This pod is very closely related to
    <a href = '/pod/ed5f91c8-e1c7-408b-b1ae-0fac57661bbc'>another pod</a>
    which focuses on the words "up" and "down" in gravity.
</p>

<p class = 'definition' data-word = 'weight'>
    The <strong>weight</strong> is the force of gravity that pulls
    a person inward (which people call downwards) while they are on a planet.
</p>


<p class = 'definition' data-word = "Newton's Third Law">
  Whenever A exerts a force on B,
  B exerts a force on A with equal magnitude in
  opposite direction.
  These are called an <strong>action-reaction pair</strong>,
  or, more accurately, an <strong>interaction pair</strong>.
</p>

<div class = 'border border-dark'>
  <p>
    Whenever two forces are an <strong>interaction pair</strong>,
    they have these three qualities:
  </p>
  <ul>
    <li>
      The same magnitude.
    </li>
    <li>
      Opposite directions.
    </li>
    <li>
      Agent and object reversed.
    </li>
  </ul>
</div>

<div class = 'border border-dark' data-word = 'Balanced Force Pair'>
  A <strong>balanced force pair</strong>
  is a pair of forces that have equal magnitude
  and opposite direction,
  but that act on the same object.
  A balanced force pair are <emph>not</emph>
  an interaction pair, because they do not have their
  agent and object reversed.
</div>


<h3>
  Guided Problem:
</h3>

<p>
  A person with a weight of 600 N is standing on a flat surface.
  Two forces act on this person:
  gravity and the normal force.
  They are represnted in the table below.
</p>

<table>
  <tr>
    <th>
      <!-- Letter -->
    </th>
    <th>
      Force
    </th>
    <th>
      Magnitude
    </th>
    <th>
      Direction
    </th>
    <th>
      Agent
    </th>
    <th>
      Object
    </th>
  </tr>
  <tr>
    <td>
      A.
    </td>
    <td>
      Gravity
    </td>
    <td>
      600 N
    </td>
    <td>
      Down (inwards)
    </td>
    <td>
      Earth
    </td>
    <td>
      Person
    </td>
  </tr>
  <tr>
    <td>
      B.
    </td>
    <td>
      Normal Force
    </td>
    <td>
      600 N
    </td>
    <td>
      Up (outwards)
    </td>
    <td>
      Floor
    </td>
    <td>
      Person
    </td>
  </tr>
</table>

<p>
  These two forces have equal magnitude and opposite direction,
  but they are <strong>NOT</strong>
  an interaction pair. How can you tell?
  They fail the third requirement:
  these forces do not have their agent
  and object reversed.
  In fact, they have the <emph>same</emph> object,
  they both act on the person.
  Therefore, these forces are a <emph>balanced force pair</emph>,
  but not an interaction pair.
</p>

<p>
  However, Newton's Third Law state that all forces must be
  a part of an interaction pair. So, if these two forces aren't
  an interaction pair, there need to be two other forces that
  complete two pairs.
  We can figure out what they are by following the rules above:
  create forces with equal magnitude, opposite direction,
  and agent and object reversed:
</p>

<table>
  <tr>
    <th>
      <!-- Letter -->
    </th>
    <th>
      Force
    </th>
    <th>
      Magnitude
    </th>
    <th>
      Direction
    </th>
    <th>
      Agent
    </th>
    <th>
      Object
    </th>
  </tr>
  <tr>
    <td>
      A.
    </td>
    <td>
      Gravity
    </td>
    <td>
      600 N
    </td>
    <td>
      Down (inwards)
    </td>
    <td>
      Earth
    </td>
    <td>
      Person
    </td>
  </tr>
  <tr>
    <td>
      B.
    </td>
    <td>
      Normal Force
    </td>
    <td>
      600 N
    </td>
    <td>
      Up (outwards)
    </td>
    <td>
      Floor
    </td>
    <td>
      Person
    </td>
  </tr>
  <tr>
    <td>
      C.
    </td>
    <td>
      Gravity
    </td>
    <td>
      600 N
    </td>
    <td>
      Outwards
    </td>
    <td>
      Person
    </td>
    <td>
      Earth
    </td>
  </tr>
  <tr>
    <td>
      D.
    </td>
    <td>
      600 N
    </td>
    <td>
      Normal Force
    </td>
    <td>
      Down (inwards)
    </td>
    <td>
      Person
    </td>
    <td>
      Floor
    </td>
  </tr>
</table>

<p>
  In this table,
  A and C are an interaction pair,
  and B and D are another interaction pair.
</p>


<h3>
    Video Resources
</h3>
<h5>
    Mr. Kuncik's Video
</h5>
<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/57465199/?s=1euajl&amp;ref=embed" allowfullscreen></iframe>
<h5>
    Flipping Physics Video
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wmmjfbl7zG4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>
  The Reaction Force to Weight
</h3>

<p>
  Every second of your life, the force of gravity has been pulling you inward,
  towards the center of the earth.
  But that also means that, according to Newton's Third Law,
  every second, you have been pulling the rest of the earth outwards,
  towards you, with exactly the same force!
  This concept is clearly very <emph>counterintuitive</emph>.
  How could it be that you pull the earth just as strongly as the earth pulls you?
  Consider two concepts:
</p>
<h5>
  You versus earth:
</h5>

<p>
  Imagine that you have a mass of 61.22 kg,
  and you are in free-fall on planet earth:
  <div id = 'FBD-1'></div>
  <script>
  $("#FBD-1").append(fastFBD([['down','gravity']]).drawCanvas(300));
  </script>
  The magnitude of this force is 600 N,
  and because it is the only force on you,
  therefore, it is equal to the net force acting on you.
  According to Newton's Second Law,
  this force will cause you to accelerate towards the center of the earth:
  $$
  a = \frac{\Sigma F}{m} = \frac{600}{61.22} = 9.8 \text{m/s/s}
  $$
</p>

<p>
  According to Newton's Third Law,
  the same force of 600 N acts on the earth, pulling it towards you.
  As a result the earth will accelerate towards you.
  But will it cause any genuine motion?
  The mass of the earth is \( 5.97 \cdot 10^{24} \text{kg} \).
  Thereforce, the acceleration of the earth is:
  $$
  a_{\text{earth}} = \frac{\Sigma F}{m} = \frac{600}{5.97 \cdot 10^{24}} = 1.0 \cdot 10 ^{-22} \text{m/s/s}
  $$
</p>

<p>
  You and the earth are pulling each other with the same force.
  However,
  your acceleration towards the earth is 9.8 m/s/s.
  The earth's acceleartion towars you is
  0.0000000000000000000001 m/s/s.
  So, no, the earth does not move towards you.
  In fact, the reaction force to weight has a negligible effect on the earth.
</p>

<h5>
  You on the earth:
</h5>

<p>
  Here is another way to think about the problem above:
  You are standing on the floor, but you can instead consider the floor
  to be a part of the earth.
  I don't usually frame problems this way, because I think it can
  confuse gravity, which is caused by the entire earth,
  and the normal force, which is caused only by the tiny
  portion of earth just beneath your feet.
  However, if you consider it this way, the table above looks like this:
</p>

<table>
  <tr>
    <th>
      <!-- Letter -->
    </th>
    <th>
      Force
    </th>
    <th>
      Magnitude
    </th>
    <th>
      Direction
    </th>
    <th>
      Agent
    </th>
    <th>
      Object
    </th>
  </tr>
  <tr>
    <td>
      A.
    </td>
    <td>
      Gravity
    </td>
    <td>
      600 N
    </td>
    <td>
      Down (inwards)
    </td>
    <td>
      Earth
    </td>
    <td>
      Person
    </td>
  </tr>
  <tr>
    <td>
      B.
    </td>
    <td>
      Normal Force
    </td>
    <td>
      600 N
    </td>
    <td>
      Up (outwards)
    </td>
    <td>
      Earth
    </td>
    <td>
      Person
    </td>
  </tr>
  <tr>
    <td>
      C.
    </td>
    <td>
      Gravity
    </td>
    <td>
      600 N
    </td>
    <td>
      Outwards
    </td>
    <td>
      Person
    </td>
    <td>
      Earth
    </td>
  </tr>
  <tr>
    <td>
      D.
    </td>
    <td>
      600 N
    </td>
    <td>
      Normal Force
    </td>
    <td>
      Down (inwards)
    </td>
    <td>
      Person
    </td>
    <td>
      Earth
    </td>
  </tr>
</table>

<p>
  In this framework, the net force on you is equal to zero,
  and the net force on the earth is equal to zero as well.
  So, even if the force of gravity of you pulling on the earth
  <emph>was</emph> significant, it is negated by the equally strong
  normal force of your pressing on the earth.
</p>

<h5>
  The earth-you system:
</h5>

<p>
  Here is one final way to think about yourself and the earth:
  you can consider you and the rest of the earth as part of the same system.
  (In fact, you do this without knowing every time you solve
  a problem involving the whole earth: consider everything on
  the earth to be a part of the system).
</p>

<p>
  When two objects are a part of the same system, they are combined
  and considered to be one point. So, even though there is a force between
  you and the earth, it does not influence the motion of the system.
  Therefore, the gravity between you and earth does not affect the motion
  of the earth-you system.
</p>

<p>
  This is an important concept to consider when considering something much larger
  than you: the moon.
  The earth pulls on the moon, and the moon pulls on the earth with equal magnitude,
  but these two forces do not affect the motion of the earth-moon system.
</p>


<h4>
  Questions:
</h4>
<ol class = 'questionList'>
  <li class = 'question' data-answer = 'Two two forces act on the same object. An interaction pair involves two forces with agent and object reversed.'>
    The following free-body diagram shows the forces acting on an object
    at rest on a flat surface. Explain why the two forces in the free-body
    diagram are <strong>not</strong> an interaction pair.
    <div id = 'FBD-A'></div>
    <script>
      $("#FBD-A").append(fastFBD([['down','gravity'],['up','normal']]).drawCanvas(300));
    </script>
  </li>
    <li class = 'question'>
        Here is some Dude, standing on the earth (diagram not to scale):
        <br>
        <img src = '/podAssets/dynamics/identifying_forces/dude_on_earth.jpg' height = '150px' width = 'autp'/>
        <br>
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer_id = 'fbd_dude'>
                Draw a free-body diagram of the Dude.
                The free-body diagram should be in relation to the <emph>entire earth</emph>,
                which means it should <emph>not</emph> show two forces going up and down.
            </li>
            <li class = 'subQuestion' data-answer = 'see table below'>
                The table below shows the four forces relevant to this situation,
                identified by their main components.
                Add the two forces in your free-body diagram.
                Make these forces A and B.
            </li>
            <li class = 'subQuestion' data-answer = 'see table below'>
                Fill in the other two rows of the table with the <emph>interaction pairs</emph>
                of the two forces you have already identified.
                Logically deduce the information on these forces by applying Newton's Third Law:
                <strong>Each force is in a pair. The forces in the pair have equal magnitude,
                opposite direction, and agent and object flipped.</strong>
            </li>
                              <table>
                                  <tr>
                                      <th>
                                          <!-- Letter -->
                                      </th>
                                      <th>
                                          Force
                                      </th>
                                      <th>
                                          Magnitude
                                      </th>
                                      <th>
                                          Direction
                                      </th>
                                      <th>
                                          Agent
                                      </th>
                                      <th>
                                          Object
                                      </th>
                                  </tr>
                                  <tr>
                                      <td>A.</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                      <td>B.</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                      <td>C.</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                                  <tr>
                                      <td>D.</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                  </tr>
                              </table>
            <li class="subQuestion" data-answer = 'in the table as drawn below, forces A and C are a pair; forces B and D are a pair.'>
                The four forces in your table include two pairs of interaction forces.
                Identify these pairs.
            </li>
            <li class = 'subQuestion' data-answer_id = 'fbd_earth'>
                Draw a free-body diagram of the <emph>earth</emph>.
                Your free-body diagram should include only one force,
                because it contains only forces relevant to this particular situation.
                (Even though many forces act on the earth).
            </li>
            <li class = 'subQuestion' data-answer_id = 'fbd_ground'>
                Draw a free-body diagram of the <emph>ground</emph> on which the Dude is standing.
                Your free-body diagram should include only one force,
                because it contains only forces relevant to this particular situation.
                (Even though many forces act on the earth).
            </li>
            <li class="subQuestion" data-answer ="In the table below, force A is the Dude's weight: it is a gravitational force, its agent is earth and its object is the Dude">
                Of the four forces in your table, identify one of them as the <emph>weight</emph>
                of the Dude.
                Weight is defined as the force of gravity acting on a person while they are on a planet.
            </li>
            <li class="subQuestion" data-answer = 'In the table below, forces A and B are a balanced force pair. They have equal magnitude and opposite direction and both act on the Dude.'>
                Of the four forces in your table, two of them are a <emph>balanced force pair</emph>,
                which are two forces of equal magnitude and opposite direction acting on the
                same object. Identify them.
            </li>
            <li class="subQuestion" data-answer = "A balanced force pair acts on the same object; in a Newton's Third Law pair, agent and object must be flipped.">
                Even though balanced force pairs have equal magnitude and opposite direction,
                they are <emph>not</emph> a Newton's Third Law pair. Explain why.
            </li>
        </ol>
    </li>
</ol>

<ol class = 'answerList'></ol>


<h5>
    Table for #2
</h5>
<div id = 'number_2_answer'>
    <table>
        <tr>
            <th>
                <!-- Letter -->
            </th>
            <th>
                Force
            </th>
            <th>
                Magnitude
            </th>
            <th>
                Direction
            </th>
            <th>
                Agent
            </th>
            <th>
                Object
            </th>
        </tr>
        <tr>
            <td>A.</td>
            <td>Gravity</td>
            <td>500 N</td>
            <td id = 'inwards_1'></td>
            <td>earth</td>
            <td>person</td>
        </tr>
        <tr>
            <td>B.</td>
            <td>Normal Force</td>
            <td>500 N</td>
            <td id = 'outwards_1'></td>
            <td>ground</td>
            <td>person</td>
        </tr>
        <tr>
            <td>C.</td>
            <td>Gravity</td>
            <td>500 N</td>
            <td id = 'inwards_2'></td>
            <td>person</td>
            <td>earth</td>
        </tr>
        <tr>
            <td>D.</td>
            <td>Normal Force</td>
            <td>500 N</td>
            <td id = 'outwards_2'></td>
            <td>person</td>
            <td>ground</td>
        </tr>
    </table>
</div>

<script>
    let outwardsArrow = new DiagramF();
    outwardsArrow.addArrow(new PointF(0,0),new PointF(-1,1),.75);
    let inwardsArrow = new DiagramF();
    inwardsArrow.addArrow(new PointF(0,0), new PointF(1,-1),.75);

    $("#inwards_1").append(inwardsArrow.drawCanvas(50));
    $("#inwards_2").append(inwardsArrow.drawCanvas(50));
    $("#outwards_1").append(outwardsArrow.drawCanvas(50));
    $("#outwards_2").append(outwardsArrow.drawCanvas(50));
</script>

<script>
    let dude_fbd = fastFBD([[315,'gravity'],[135,'normal']]);
    let earth_fbd = fastFBD([[135,'gravity']]);
    let ground_fbd = fastFBD([[315,'normal']]);

    addAnswerObject('fbd_dude',dude_fbd.drawCanvas(100));
    addAnswerObject('fbd_earth',earth_fbd.drawCanvas(100));
    addAnswerObject('fbd_ground',ground_fbd.drawCanvas(100));
</script>
<h3>
    Other Resources
</h3>

<ul>
    <li>
        <a href = 'https://openstax.org/books/college-physics/pages/4-4-newtons-third-law-of-motion-symmetry-in-forces'>Open Stax College Physics Page 4.4 on Newton's Third Law</a>
    </li>
    <li>
        <a href = 'http://www.physics.unlv.edu/~lenz/PHYS%20180.F10/Chap7.sum.pdf'>resource of UNLV Physics</a>
    </li>
    <li>
        <a href = 'https://www.khanacademy.org/science/physics/forces-newtons-laws/normal-contact-force/a/what-is-normal-force'>Kahn Academy article on Normal Force</a>
    </li>
</ul>