
<p class = 'introduction'>
    This pod is very closely related to
    <a href = '/pod/ed5f91c8-e1c7-408b-b1ae-0fac57661bbc'>another pod</a>
    which focuses on the words "up" and "down" in gravity.
</p>


<p class = 'definition' data-word = "Newton's Third Law">
  Whenever A exerts a force on B,
  B exerts a force on A with equal magnitude in
  opposite direction.
  These are called an <strong>action-reaciton pair</strong>,
  or, more accurately, an <strong>interaction pair</strong>.
</p>

<div class = 'border border-dark'>
  <p>
    Whenever two forces are an <strong>interaction pair</strong>,
    they have these three qualities:
  </p>
  <ul>
    <li>
      The same magnitude.
    </li>
    <li>
      Opposite directions.
    </li>
    <li>
      Agent and object reversed.
    </li>
  </ul>
</div>

<div class = 'border border-dark' data-word = 'Balanced Force Pair'>
  A <strong>balanced force pair</strong>
  is a pair of forces that have equal magnitude
  and opposite direction,
  but that act on the same object.
  A balanced force pair are <emph>not</emph>
  an interaction pair, because they do not have their
  agent and object reversed.
</div>


<h3>
  Guided Problem:
</h3>

<p>
  A person with a weight of 600 N is standing on a flat surface.
  Two forces act on this person:
  gravity and the normal force.
  They are reprsented in the table below.
</p>

<table>
  <tr>
    <th>
      <!-- Letter -->
    </th>
    <th>
      Force
    </th>
    <th>
      Magnitude
    </th>
    <th>
      Direction
    </th>
    <th>
      Agent
    </th>
    <th>
      Object
    </th>
  </tr>
  <tr>
    <td>
      A.
    </td>
    <td>
      Gravity
    </td>
    <td>
      600 N
    </td>
    <td>
      Down (inwards)
    </td>
    <td>
      Earth
    </td>
    <td>
      Person
    </td>
  </tr>
  <tr>
    <td>
      B.
    </td>
    <td>
      Normal Force
    </td>
    <td>
      600 N
    </td>
    <td>
      Up (outwards)
    </td>
    <td>
      Floor
    </td>
    <td>
      Person
    </td>
  </tr>
</table>

<p>
  These two forces have equal magnitude and opposite direction,
  but they are <strong>NOT</strong>
  an interaction pair. How can you tell?
  They fail the third requirement:
  these forces do not have their agent
  and object reversed.
  In fact, they have the <emph>same</emph> object,
  they both act on the person.
  Therefore, these forces are a <emph>balanced force pair</emph>,
  but not an interaction pair.
</p>

<p>
  However, Newton's Third Law state that all forces must be
  a part of an interaction pair. So, if these two forces aren't
  an interaction pair, there need to be two other forces that
  complete two pairs.
  We can figure out what they are by following the rules above:
  create forces with equal magnitude, opposite direction,
  and agent and object reversed:
</p>

<table>
  <tr>
    <th>
      <!-- Letter -->
    </th>
    <th>
      Force
    </th>
    <th>
      Magnitude
    </th>
    <th>
      Direction
    </th>
    <th>
      Agent
    </th>
    <th>
      Object
    </th>
  </tr>
  <tr>
    <td>
      A.
    </td>
    <td>
      Gravity
    </td>
    <td>
      600 N
    </td>
    <td>
      Down (inwards)
    </td>
    <td>
      Earth
    </td>
    <td>
      Person
    </td>
  </tr>
  <tr>
    <td>
      B.
    </td>
    <td>
      Normal Force
    </td>
    <td>
      600 N
    </td>
    <td>
      Up (outwards)
    </td>
    <td>
      Floor
    </td>
    <td>
      Person
    </td>
  </tr>
  <tr>
    <td>
      C.
    </td>
    <td>
      Gravity
    </td>
    <td>
      600 N
    </td>
    <td>
      Outwards
    </td>
    <td>
      Person
    </td>
    <td>
      Earth
    </td>
  </tr>
  <tr>
    <td>
      D.
    </td>
    <td>
      600 N
    </td>
    <td>
      Normal Force
    </td>
    <td>
      Down (inwards)
    </td>
    <td>
      Person
    </td>
    <td>
      Floor
    </td>
  </tr>
</table>

<p>
  In this table,
  A and C are an interaction pair,
  and B and D are another interaction pair.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/wmmjfbl7zG4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h3>
  The Reaction Force to Weight
</h3>

<p>
  Every second of your life, the force of gravity has been pulling you inward,
  towards the center of the earth.
  But that also means that, according to Newton's Third Law,
  every second, you have been pulling the rest of the earth outwards,
  towards you, with exactly the same force!
  This concept is clearly very <emph>counterintuitive</emph>.
  How could it be that you pull the earth just as strongly as the earth pulls you?
  Consider two concepts:
</p>
<h5>
  You versus earth:
</h5>

<p>
  Imagine that you have a mass of 61.22 kg,
  and you are in free-fall on planet earth:
  <div id = 'FBD-1'></div>
  <script>
  $("#FBD-1").append(fastFBD([['down','gravity']]).drawCanvas(300));
  </script>
  The magnitude of this force is 600 N,
  and because it is the only force on you,
  therefore, it is equal to the net force acting on you.
  According to Newton's Second Law,
  this force will cause you to accelerate towards the center of the earth:
  $$
  a = \frac{\Sigma F}{m} = \frac{600}{61.22} = 9.8 \text{m/s/s}
  $$
</p>

<p>
  According to Newton's Third Law,
  the same force of 600 N acts on the earth, pulling it towards you.
  As a result the earth will accelerate towards you.
  But will it cause any genuine motion?
  The mass of the earth is \( 5.97 \cdot 10^{24} \text{kg} \).
  Thereforce, the acceleration of the earth is:
  $$
  a_{\text{earth}} = \frac{\Sigma F}{m} = \frac{600}{5.97 \cdot 10^{24}} = 1.0 \cdot 10 ^{-22} \text{m/s/s}
  $$
</p>

<p>
  You and the earth are pulling each other with the same force.
  However,
  your acceleration towards the earth is 9.8 m/s/s.
  The earth's acceleartion towars you is
  0.0000000000000000000001 m/s/s.
  So, no, the earth does not move towards you.
  In fact, the reaction force to weight has a negligible effect on the earth.
</p>

<h5>
  You on the earth:
</h5>

<p>
  Here is another way to think about the problem above:
  You are standing on the floor, but you can instead consider the floor
  to be a part of the earth.
  I don't usually frame problems this way, because I think it can
  confuse gravity, which is caused by the entire earth,
  and the normal force, which is caused only by the tiny
  portion of earth just beneath your feet.
  However, if you consider it this way, the table above looks like this:
</p>

<table>
  <tr>
    <th>
      <!-- Letter -->
    </th>
    <th>
      Force
    </th>
    <th>
      Magnitude
    </th>
    <th>
      Direction
    </th>
    <th>
      Agent
    </th>
    <th>
      Object
    </th>
  </tr>
  <tr>
    <td>
      A.
    </td>
    <td>
      Gravity
    </td>
    <td>
      600 N
    </td>
    <td>
      Down (inwards)
    </td>
    <td>
      Earth
    </td>
    <td>
      Person
    </td>
  </tr>
  <tr>
    <td>
      B.
    </td>
    <td>
      Normal Force
    </td>
    <td>
      600 N
    </td>
    <td>
      Up (outwards)
    </td>
    <td>
      Earth
    </td>
    <td>
      Person
    </td>
  </tr>
  <tr>
    <td>
      C.
    </td>
    <td>
      Gravity
    </td>
    <td>
      600 N
    </td>
    <td>
      Outwards
    </td>
    <td>
      Person
    </td>
    <td>
      Earth
    </td>
  </tr>
  <tr>
    <td>
      D.
    </td>
    <td>
      600 N
    </td>
    <td>
      Normal Force
    </td>
    <td>
      Down (inwards)
    </td>
    <td>
      Person
    </td>
    <td>
      Earth
    </td>
  </tr>
</table>

<p>
  In this framework, the net force on you is equal to zero,
  and the net force on the earth is equal to zero as well.
  So, even if the force of gravity of you pulling on the earth
  <emph>was</emph> significant, it is negated by the equally strong
  normal force of your pressing on the earth.
</p>

<h5>
  The earth-you system:
</h5>

<p>
  Here is one final way to think about yourself and the earth:
  you can consider you and the rest of the earth as part of the same system.
  (In fact, you do this without knowing every time you solve
  a problem involving the whole earth: consider everything on
  the earth to be a part of the system).
</p>

<p>
  When two objects are a part of the same system, they are combined
  and considered to be one point. So, even though there is a force between
  you and the earth, it does not influence the motion of the system.
  Therefore, the gravity between you and earth does not affect the motion
  of the earth-you system.
</p>

<p>
  This is an important concept to consider when considering something much larger
  than you: the moon.
  The earth pulls on the moon, and the moon pulls on the earth with equal magnitude,
  but these two forces do not affect the motion of the earth-moon system.
</p>


<h4>
  Questions:
</h4>
<ol class = 'questionList'>
  <li class = 'question' data-answer = 'Two two forces act on the same object. An interaction pair involves two forces with agent and object reversed.'>
    The following free-body diagram shows the forces acting on an object
    at rest on a flat surface. Explain why the two forces in the free-body
    diagram are <strong>not</strong> an interaction pair.
    <div id = 'FBD-A'></div>
    <script>
      $("#FBD-A").append(fastFBD([['down','gravity'],['up','normal']]).drawCanvas(300));
    </script>
  </li>
  <li class = 'question'>
    A person with a mass of 50 kg is on the surface of the earth.
    Create a table that describes the forces acting on the person
    and on the earth.
    Identify action-reaction pairs and balanced force pairs on the table.
  </li>
</ol>

<ol class = 'answerList'></ol>
