<h3>
    Zero-Point Height
</h3>

<p>
    The formula for gravitational potential energy has a glaring ambiguity:
    $$
    GPE = mgh
    $$
    The glaring ambiguity is the variable \( h \), for height.
    Where is the height measured from?
    From the floor of the room, or the ground, or sea level?
    Could it be measured from the ceiling so everything in the room
    has negative gravitational potential energy?
    Could it be measured from wherever something already is
    so everything has zero gravitational potential energy?
</p>

<ul class = 'principleList'>
    <li>
        At the beginning of each problem with gravitational potential energy,
        you must pick a <strong>zero-point height</strong>
    </li>
    <li>
        It is important to point out that the zero-point-height is <emph>your choice.</emph>
        You can always pick any zero-point height you want,
        and you are never required to pick anything.
    </li>
    <li>
        That being said, making a logical choice for zero-point height makes a problem
        much easier, and making an illogical choice makes it much harder.
    </li>
    <li>
        Usually, the logical choice is the lowest point that the object reaches over the course of its motion.
    </li>
</ul>

<p>
    I believe simplest solution is to simply pick one particular vertical point
    to measure height from, called the <strong>zero height</strong>.
    Most problems involving gravitational potential energy have
    an obvious choice for zero height.
    For example, in a problem about an object that falls to the ground,
    the zero height would be the ground.
</p>

<p>
    Many physics textbooks
    indicate no formula for gravitational potential energy \( GPE \)
    but only a formula for change in gravitational potential energy \( \Delta GPE \).
    Change does not depend on where you measure height from.
    $$
    \Delta GPE = m g \Delta y
    $$
    in which \( \Delta y \) represents change in vertical position.
    Note, however, using this formula still requires to select a zero-point height,
    which would be the origin on the y-axis.
</p>

<ol>
    <li>
        Consider a situation and calculate gravitational potential energy
        from several different heights.
        Indicate which choice is the logical.
    </li>
    <li>
        Imagine an object with a mass of 2 kg that falls
        off of some table, and determine its speed
        immediately before striking the ground using the
        Conservation of Energy.
        Demonstrate through multiple examples that the
        choice of zero-height does not indicate
    </li>
</ol>


<h4>
    Resources
</h4>
<p>
    There is a very good discussion of zero-point height in this video from "Flipping Physics."
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TpAtVji1jgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
