
<img src = '/quizAssets/kinematics/forward_kinematics_qualitative/comparison_1.png' height = '300px' width = 'auto'/>

<p>
    Two runners, A and B, are running a race.
    Their position-time graphs are shown above.
</p>

<ol>
    <li>
        Who won the race, and how do you know?
    </li>
    <li>
        Draw a corresponding velocity-time graph
        with two segments.
        Label which segment represents runner A and
        which segment represents runner B.
    </li>
</ol>