<p>
    To understand circular motion,
    we first need to analyze its motion.
    A review of <a href = '/pod/d6137d'>circular geometry</a> could be helpful.
</p>

<h4>
    Circular Geometry Basics
</h4>

<ul class = 'principleList'>
    <li>
        A circle is made of all points equidistant from a single point.
    </li>
    <li>
        The distance from the center of the circle to the outside is the <strong>radius</strong> (\( r \)).
    </li>
    <li>
        The distance from one end of the the circle to the other that
        goes through the center is called the <strong>diameter</strong>(\( d \)).
        The diameter is twice the radius: \( d = 2r \).
    </li>
    <li>
        The length around the entire circle is called the <strong>circumference</strong>(\( C \)).
    </li>
    <li>
        The circumference divided by the diameter is the same number for every circle,
        called \( \pi \) and equal to approximately 3.14.
    </li>
    <li>
        \( \frac{C}{d} = \pi \)
    </li>
    <li>
        \( C = 2 \pi r \)
    </li>
</ul>

<h5>
    Questions:
</h5>

<p class = 'directions'>
    Please answer all questions below to three significant figures of accuracy.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '60.0 cm'>
        What is the diameter of a circle with a radius of 30 cm?
    </li>
    <li class = 'question' data-answer = '251 cm'>
        What is the circumference of a circle with a diameter of 80 cm?
    </li>
    <li class = 'question' data-answer = '75.4 cm'>
        What is the circumference of a circle with a radius of 12 cm?
    </li>
    <li class = 'question' data-answer = '31.8 cm'>
        What is the radius of a circle with a circumference of 200 cm?
    </li>
</ol>


<h4>
    Finding Speed of an Object Moving in a Circle
</h4>

<ul class = 'principleList'>
    <li>
        Distance = Speed * time or Speed = Distance / time
    </li>
    <li>
        When an object is moving in a circle, the distance it travels
        in a single loop
        is the circumference
        of the circle.
    </li>
</ul>

<p class = 'directions'>
    Please answer all of the questions below as a decimal to 3 significant figures of accuracy.
</p>

<ol class = 'questionList'>
    <li class="question" data-answer = '2.79 m/s'>
        What is the linear speed of an object that moves around a circle
        with a radius of 4 m in a time of 9 seconds?
    </li>
    <li class = 'question' data-answer = '18.8 m/s'>
        What is the linear speed of an object that moves around a circle with
        a radius of 0.6 meters in a time of 0.2 seconds?
    </li>
    <li class = 'question' data-answer = '1.26 m/s'>
        It takes 200 seconds for a slow car to travel in in a 8 meter radius
        circle 5 times. What is its speed?
    </li>
    <li class = 'question' data-answer = '12.6 m/s'>
        It takes 10 minutes seconds for a slightly dangerous, but not too dangerous go-kart to travel in in a 300 meter radius
        circle 4 times. What is its speed in meters per second?
    </li>
</ol>

<h4>
    Finding Both Linear and Angular Speed of an object moving around a circle.
</h4>

<p>
    If you have already learned about <a href = '/unit/rotational_motion/rotational_kinematics'>rotational kinematics</a>,
    then you know that there is another way to describe the motion of an object moving in a circle
    called its <emph>angular speed</emph>.
    It is <emph>very important</emph> not to mix the two up!
    I included a couple of questions here on finding both linear and angular speed to help make sure you see the difference every time.
</p>

<p>
    There are two different ways to describe the speed of an object moving in a circle:
</p>
<ul class = 'principleList'>
    <li>
        An objects <strong>linear speed</strong> is the distance it moves
        divided by the time.
    </li>
    <li>
        An object's <strong>angular speed</strong> represents how many radians
        the object moves around the circle divided by time.
    </li>
</ul>

<p>
    There is a very extension discussion of angular speed and how ot find it
    in the <a href = '/pod/d67638'>pod on calculating angular velocity</a>.
</p>

<p class="directions">
    Answer all questions below to three significant figures of accuracy.
</p>


<ol class = 'questionList'>
    <li class = 'question'>
        An object moves around a circle with a radius of 3 m
        in a time of 9 seconds.
        <ol class = 'subQuestionList' type = 'a'>
            <li class="subQuestion" data-answer = '2.09 m/s'>
                What is its linear speed?
            </li>
            <li class = 'subQuestion' data-answer = '0.698 rad/s'>
                What is its angular speed?
            </li>
        </ol>
    </li>
    <li class="question">
        An object moves around a circle with a radius of 0.2 m
        in a time of 12 seconds.
        <ol class = 'subQuestionList' type = 'a'>
            <li class="subQuestion" data-answer = '0.105 m/s'>
                What is its linear speed?
            </li>
            <li class = 'subQuestion' data-answer = '0.524 rad/s'>
                What is its angular speed?
            </li>
        </ol>
    </li>
</ol>

<ol class ='answerList'></ol>
