
<p class = 'introduction'>
  In this ladder, we are going to learn about how to use dimensional analysis
  to analyze and confirm physics formulas. Dimensional analysis is a difficult
  topic, and before we can learn it, we need to practice some mathematical techniques.
  Firstly, we will practice simplifying fractions made from three units: meters, seconds,
  and kilograms.
</p>


<p class="directions">
    Simplify each of the following combinations of units.
</p>

<!--
add more easy questions?
-->

<ol class="questionList">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 pb-4">
                <li class="question" data-answer = '\(
                    \frac{\text{s}}{\text{kg} \cdot \text{m}}
                \)'>
                    \(
                    \frac{\text{m}}{\text{kg}}\cdot\frac{\text{s}}{\text{m}^2}
                    \)
                </li>
            </div>
            <div class="col-md-6 mb-5 pb-4">
                <li class="question" data-answer = '\(
                    \frac{\text{m}^2 \cdot \text{kg}^2}{\text{s}^5}
                \)'>
                    \(
                    \frac{\text{m}}{\text{s}^2} \cdot \frac{\text{m}^3}{\text{s}^3} \cdot \frac{\text{kg}^2}{\text{m}^2}
                    \)
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 pb-4">
                <li class="question" data-answer = '\(
                    \text{kg}^4 \cdot \text{s}^2
                \)'>
                    \(
                    \frac{\text{m}^2}{\text{kg}} \cdot \frac{\text{kg}^3\text{m}}{\text{s}} \cdot \frac{\text{kg}^2\text{s}^3}{\text{m}^3}
                    \)
                </li>
            </div>
            <div class="col-md-6 mb-5 pb-4">
                <li class="question" data-answer = '\(
                    \frac{\text{m}^2}{\text{kg}^2 \cdot {s}^3}
                \)'>
                    \(
                    \frac{\text{m}^4}{\text{kg}} \cdot \frac{\text{m}}{\text{kg}^2} \cdot \frac{\text{kg}}{\left( \text{m} \cdot \text{s} \right)^3}
                    \)
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 pb-4">
              <li class="question" data-answer = '\(

              \)'>
                  \(
                  \frac{\text{m}^4}{\text{s}^3} \cdot \frac{\text{s}^2}{\text{m}^2} \cdot \frac{\text{kg}}{\text{s}^4}
                  \)
              </li>
            </div>
            <div class="col-md-6 mb-5 pb-4">
              <li class="question" data-answer = '\(

              \)'>
                  \(
                  \frac{\text{m}^5}{\text{kg}^3} \cdot \frac{\text{s}^2}{\text{kg}^2} \cdot \left( \frac{\text{s}}{\text{m} } \right)^2
                  \)
              </li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 pb-4">
              <li class="question" data-answer = '\(

              \)'>
                  \(
                  \frac{\text{s}}{\text{m^3}} \cdot \left( \frac{\text{s}}{\text{m}} \right)^3 \cdot \frac{\text{m}^7}{\text{s}^4}
                  \)
              </li>
            </div>
            <div class="col-md-6 mb-5 pb-4">
              <li class="question" data-answer = '\(

              \)'>
                  \(
                  \frac{\text{s}^4}{\text{kg}^3} \cdot \left( \frac{\text{m}}{\text{kg}} \right)^4 \cdot \left( \frac{\text{s}}{\text{m}} \right)^2
                  \)
              </li>
            </div>
        </div>
    </div>
</ol>

<h3>
  Fractions Made of Fractions
</h3>

<p>
  It can be difficult to simplify fractions of fractions. There are two methods by which you can do this:
</p>
<ul class = 'definition' data-word = 'Method 1'>
  <li>
    Put the denominator of the numerator in the denominator.
  </li>
  <li>
    Put the denominator of the denominator in the numerator.
  </li>
</ul>

<p class = 'definition' data-word = 'Method 2'>
  Take whatever fraction is in the denonminator, flip it over,
  and multiply by it.
</p>


<ol class = 'questionList'>
  <!-- eight questions on
  fractions of fractions -->
</ol>

<ol class="answerList"></ol>
