
<p>
One step forward and two steps back <br>
Nobody gets too far like that <br>
One step forward and two steps back <br>
This kind of dance can never last <br>
-The Desert Rose Band
</p>

<p>
  Turn Around, Bright Eyes <br>
  Every now and then I fall apart!<br>
  -Bonnie Tyler
</p>
