<p class="directions">
    Write the equations for constant velocity motion as
    they appear in the horizontal and vertical dimensions.
    Use the conventional variables for each dimension.
</p>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>
                Horizontal Dimension
            </h3>
        </div>
        <div class="col-6">
            <h3>
                Vertical Dimension
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>
                Constant Velocity Motion
            </h4>
        </div>
        <div class="col-6">
            <h4>
                Constant Velocity Motion
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul>
                <li class = 'm-5'>

                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li class = 'm-5'>

                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>
                Accelerated Motion
            </h4>
        </div>
        <div class="col-6">
            <h4>
                Accelerated Motion
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul>
                <li class = 'm-5'>
                </li>
                <li class = 'm-5'>
                </li>
                <li class = 'm-5'>
                </li>
                <li class = 'm-5'>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li class = 'm-5'>
                </li>
                <li class = 'm-5'>
                </li>
                <li class = 'm-5'>
                </li>
                <li class = 'm-5'>
                </li>
            </ul>
        </div>
    </div>
</div>

<h4>
    Make sure you remembered to circle the equations
    relevant to projectile motion!!!
</h4>