

<ol>
    <li>
        An object is moving at a constant velocity.
        Write one or more equations that can be used to describe the motion of this object.
        For full-credit, your answer must include all canonical equations for this type of motion.
    </li>

    <li>
        An object is moving with a constant acceleration.
        Write one or more equations that can be used to describe the motion of this object.
        For full-credit, your answer must include all canonical equations for this type of motion.
    </li>

    <li>
        Demonstrate that, in specific case that acceleration is equal to zero,
        each of the equations for accelerated motion reduce to either
        a) the equation for constant velocity motion or b) tautologies.
    </li>
</ol>