<h5>Level 4</h5>
<p class = 'directions'>
    Use each the kinematic equations to solve the problem below.
    The car does not have a constant acceleration for the entire interval,
    but the interval can be broken into smaller intervals in which the car does have
    a constant acceleration.
    Please copy each equation that you use <i>before</i> plugging numbers into the equation.
</p>

<p>
    (Note: these numbers aren't very realistic, but they are big and fun to do math with.)
</p>

<p>
    A plane is taxiing on the moving on the ground at a constant speed of 6.00 m/s until it travels 300. meters.
    The plane then stops immediately.
    It then needs to stay still for 100. seconds while waiting for its opportunity to take off.
    Then, the plane starts accelerating at a rate of 1.50 m/s<sup>2</sup> until it reaches a speed of 120. m/s.
    But there is a sudden emergency! The pilot slams the breaks and the plane stops in a time of 20.0 seconds.
</p>

<p>
    Determine the average speed* of the plane over the entire interval. Please circle your answer.
</p>


<p>
    *You do not need to consider the direction of the plane. Average speed is the magnitude of average velocity.
</p>