<p>
    Three blocks, A, B, and C, are arranged in a row on a flat frictionless surface.
    Block A has mass \( m_A \); block B has mass \( m_B \); block C has mass \( m_C \).
    Initially, block A is moving towards the other two with a speed \( v_1 \),
    while blocks A and B are stationary.
    Block A strikes block B and immediately stops while block B begins moving towards block C
    at a speed \( v_2 \).
    When block B strikes block C, they stick together at a speed \( v_3 \).
</p>

<ol>
    <li>
        Derive an equation based on the conservation of momentum
        in the first collision.
        This equation should relate the variables
        \( m_A \), \( m_B \), \( v_1 \), and \( v_2 \).
        Briefly describe what each term of the equation means.
    </li>
    <li>
        Derive an equation based on the conservation of momentum
        in the second collision.
        This equation should relate the variables
        \( m_B \), \( m_C \), \( v_2 \), and \( v_3 \).
        Briefly describe what each term of the equation means.
    </li>
    <li>
        Combine your equations to determine an equation
        for \( v_3 \) in terms of \( m_A \), \( m_B \), \( m_C \), and \( v_1 \).
        (Note that \( v_2 \) must <emph>not</emph> be in this equation.)
    </li>
    <li>
        Prove the equation you derived is dimensionally correct.
    </li>
    <li>
        Describe the proportionality relationship
        between \( v_3 \) and \( v_1 \).
    </li>
    <li>
        Imagine a graph in which \( v_1 \) were measured on the horizontal axis
        and \( v_3 \) was measured on the vertical axis.
        Briefly sketch what the graph would look like.
        If you sketched a linear function, what would the slope of the function be?
    </li>
</ol>