<p>
    Three blocks, A, B, C, and D, are arranged in a row on a flat frictionless surface.
    Initially, blocks A and B are touching each other. All blocks are stationary.
    Block A has mass \( m_A \); block B has mass \( m_B \); block C has mass \( m_C \); block D has a mass \( m_D \).
    Suddenly, an explosion occurs between blocks A and B, driving A to the left at a speed \( v_1 \)
    and B to the right at a speed \( v_2 \).
    As a result, Block B strikes block C and immediately stops while block C begins moving towards block D
    at a speed \( v_3 \).
    When block C strikes block D, they stick together and move at a speed \( v_4 \).
</p>

<img src="/conservation_of_momentum_6_quiz.jpg" height = '600px' width = 'auto'/>

<ol>
    <li>
        Derive an equation based on the conservation of momentum
        in the initial explosion.
        This equation should relate the variables
        \( m_A \), \( m_B \), \( v_1 \), and \( v_2 \).
        Briefly describe what each term of the equation means.
    </li>
    <li>
        Derive an equation based on the conservation of momentum
        in the first collision.
        This equation should relate the variables
        \( m_B \), \( m_C \), \( v_2 \), and \( v_3 \).
        Briefly describe what each term of the equation means.
    </li>
    <li>
        Derive an equation based on the conservation of momentum
        in the second collision.
        This equation should relate the variables
        \( m_C \), \( m_D \), \( v_3 \), and \( v_4 \).
        Briefly describe what each term of the equation means.
    </li>
    <li>
        Combine your equations to determine an equation
        for \( v_4 \) in terms of \( m_A \), \( m_B \), \( m_C \), and \( v_1 \).
        (Note that \( v_2 \) and \( v_3 \) must <emph>not</emph> be in this equation.)
    </li>
    <li>
        Because blocks A and D move in opposite directions,
        there should be a negative sign in the equation above.
        Use absolute value signs to change it into an equation for
        \( \left| v_4 \right| \) in terms of \( \left| v_1 \right| \).
        Note that this step doesn't require you to do any complex math,
        just to eliminate the negative sign.
    </li>
    <li>
        Prove the equation you derived is dimensionally correct.
    </li>
    <li>
        Describe the proportionality relationship
        between \( \left| v_4 \right| \) and \( \left| v_1 \right| \).
    </li>
    <li>
        Imagine a graph in which \( \left| v_1 \right| \) were measured on the horizontal axis
        and \( \left| v_4 \right| \) was measured on the vertical axis.
        Briefly sketch what the graph would look like.
        If you sketched a linear function, what would the slope of the function be?
    </li>
</ol>