<h4>
    Thermal Equilibrium
</h4>

<p class="definition">
    <strong>Thermal Contact</strong>
    <br><br>
    When two objects are able to exchange heat, they are said to be in <strong>thermal contact</strong>.
    Typically, two objects in thermal contact are touching.
</p>

<ul class="principleList">
    <li>
        When two objects in thermal contact have the same temperature, they are in <strong>thermal equilibrium</strong>.
    </li>
    <li>
        If a warmer object and a cooler object are in thermal contact,
        then heat moves from the warmer object to the cooler object until they
        are the same temperature (thermal equilibrium).
    </li>
</ul>

<p class="directions">
    For each statement, state if it is true or false.
</p>
<ol class="questionList">
    <li class="question" data-answer = 'true'>
        It is called thermal equilibrium when two objects in thermal contact have the same temperature.
    </li>
    <li class="question" data-answer = 'true'>
        Heat always moves from the warmer object to the cooler object.
    </li>
    <li class="question" data-answer = 'false'>
        Heat always moves from the cooler object to the warmer object.
    </li>
    <li class="question" data-answer = 'true'>
        Heat moves between two items until they have the same temperature.
    </li>
    <li class="question" data-answer = 'false'>
        Heat can stop moving while two items still have different temperatures.
    </li>
</ol>

<div class="m-4"></div>

<ol class="questionList">
    <li class="question" data-answer = 'thermal contact'>
        When two objects are able to exchange heat with each other, this is called ________________.
    </li>
    <li class="question" data-answer = 'thermal equilibrium'>
        Whenever two things have the same temperature, this is called _________________.
    </li>
</ol>


<p class="directions">
    Fill in the blanks using items from the word bank below.
</p>

<h5>
    Word Bank:
</h5>
<ul>
    <li>same</li>
    <li>iron</li>
    <li>decrease</li>
    <li>water</li>
    <li>thermal equilibrium</li>
    <li>increase</li>
</ul>

<ol class = 'questionList fillInTheBlank'>
    Billy the Blacksmith has been working very hard.
    He heats up a piece of iron and pounds it into the shape he wants.
    Then, to cool down the iron, he throws it into a cold bucket of water.
    When he does this, heat is going to move from the
    <li class="question" data-answer = "iron">_______________</li> to the <li class="question" data-answer = 'water'>_______________</li>.
    The temperature of the water is going to <li class="question" data-answer = 'increase'>_______________</li>.
    The temperature of the iron is going to <li class="question" data-answer = 'decrease'>_______________</li>.
    This process keeps going until they have the <li class="question" data-answer = 'same'>_______________</li> temperature,
    which is called <li class="question" data-answer = 'thermal equilibrium'>_______________</li>.
</ol>

<h4>
    What about States of Matter?
</h4>

<p>
    Heat <emph>always</emph> moves from an object with a higher temperature to an object with a lower temperature,
    regardless of whether the objects are solid, liquid, or gas.
</p>
<ol class="questionList">
    <li class="question" data-answer = 'B'>
        The air outside is 10&#176;C,
        You buy a hot dog that is 28&#176;C.
        How does heat move, and why?:
        <ol type = 'A'>
            <li>
                From the air to the hot dog, because the air is a gas
                and the hot dog is a solid.
            </li>
            <li>
                From the hot dog to the air, because the hot dog has a higher
                temperature.
            </li>
            <li>
                Heat does not move in this situation.
            </li>
        </ol>
    </li>
    <li class="question" data-answer = 'C'>
        A lobster is heated up to 40&#176;C in a pot, but escapes and gets back into the ocean,
        which is only 15&#176;C
        How does heat move, and why?
        <ol type="A">
            <li>
                From the lobster’s shell to the water, because heat moves from a solid to a liquid.
            </li>
            <li>
                From the water to the lobster’s shell, because heat moves from liquid to solid.
            </li>
            <li>
                From the lobster’s shell to the water, because heat moves from a higher temperature to a lower temperature.
            </li>
            <li>
                From the water to the lobster’s shell, because heat moves from a lower temperature to a higher temperature.
            </li>
        </ol>
    </li>
    <li class="question" data-answer = 'C, they are in thermal equilibrium'>
        A football has been left outside. The air is very cold, at only 2&#176;C.
        The football also has a temperature of 2&#176;C.
        How does heat move and why?
        <ol type = 'A'>
            <li>
                Heat moves from the football to the air because heat moves from a solid to a liquid.
            </li>
            <li>
                Heat moves from the air to the football because heat moves from a gas to a solid.
            </li>
            <li>
                Heat does not move in this situation.
            </li>
        </ol>
    </li>
</ol>

<h4>
    What does the word <emph>equilibrium</emph> mean?
</h4>

<p>
    The word <strong>equilibrium</strong> is used frequently in science
    and in many other academic fields as well.
    It refers to a state that is settled and not changing.
</p>

<p>
    "Thermal equilibrium" is called an equilibrium because heat does not move.
</p>