<p class = 'directions'>
    For each of the statements below, select whether this statement applies to mass or weight.
    Four of the answers are mass and four are weight.
</p>

<ol>
    <li>
        This quantity is the same no matter where an object is in the universe
        (as long as no matter is added or removed to the object).
    </li>
    <li>
        The force pulling an object downward (towards the center) on planet earth.
    </li>
    <li>
        This quantity would change if you moved to another planet
        because each planet has a different gravitational field.
    </li>
    <li>
        Could conceivably be measured by counting every elementary particle (proton, neutron, and electron)
        in an object. (Though this is impractical)
    </li>
    <li>
        Measured with a scale (a device that stretches more or less depending on how heavy an object is.)
    </li>
    <li>
        The amount of inertia an object has
        (as determined by the amount of matter in an object.)
    </li>
    <li>
        Measured with a balance (a device that compares one object to another object.
    </li>
    <li>
        Imagine you are in a location deep in the void of space, far from any planet, star, or galaxy,
        with gravitational field zero.
        This quantity would be zero in this location.
    </li>
</ol>