

<a href = 'https://spacecentre.co.uk/blog-post/the-vast-emptiness-of-the-solar-system/'>
    Very good info on prportions
    of the solar system.
</a>

https://www.discovermagazine.com/the-sciences/space-is-big-empty-and-very-very-lonely

https://science.howstuffworks.com/dictionary/astronomy-terms/question221.htm
