<p>
  The goal is to invent your own story of motion.
  The motion should be made of several distinct time periods.
  In each time period, the subject is either moving at a consant velocity,
  not moving, moving with a positive acceleration, or moving with
  a negative acceleration.
  The motion must fit the following characteristics:
</p>

<ul>
  <li>
    Initial velocity is not zero.
  </li>
  <li>
    Final velocity is zero.
  </li>
  <li>
    The motion includes four periods of moving at a constant velocity.
  </li>
  <li>
    The motion includes three periods of constant positive acceleration.
  </li>
  <li>
    The motion includes two periods of constant negative acceleration.
  </li>
  <li>
    Not all periods last the same length of time.
  </li>
  <li>
    The periods of positive and negative acceleration do not
    all have the same magnitude of acceleration.
  </li>
  <li>
    There is not backwards (negative velocity) motion.
  </li>
</ul>

<p>
  For your description of motion,
  complete the following steps:
</p>
<ul>
  <li>
    Write a story of the motion. The story must include details
    and give some meaning to the motion.
  </li>
  <li>
    Create a position-time graph that describes the motion in the story.
  </li>
  <li>
    Create a velocity-time graph that describes the motion in the story.
  </li>
  <li>
    Create an acceleration-time graph that describes the motion in the story.
  </li>
  <li>
    Note that the different periods of motion should not all last the same length of time.
    Your story and graphs should reflect this.
  </li>
  <li>
    Note that the periods of positive and negative acceleration should
    not all have the same magnitude of acceleration.
    Your story and graphs should reflect this.
  </li>
</ul>
