<p>
    It is the year 2220.
    Earth is engaged in an epic struggle with the space warlock Cezad The Corrupted!
    From his floating base on the surface of Jupiter, Cezad is unleashing countless
    gamma ray attacks on earth.
    Already, six attempts to strike Cezad's base head on have failed,
    there seems to be nothing earth can do.
</p>

<p>
    When all hope is lost, you come up with a final, possible idea.
    Humans have in the past two centuries invented pods capable of withstanding
    several temperature conditions. We have even sent pods into the sun that have
    come back safely.
    However, these pods have been used for surveillance only, and have no more than an extremely weak engine.
    You propose to travel around Jupiter to the other side with one of these pods, directly opposite Cezad's location,
    and send it <emph>through</emph> Jupiter!
    According to your calculations, the pod should reach the bottom of Cezad's floating base, allowing
    intrepid spies ot board and blow it to pieces.
</p>

<p>
    Your colleagues at earth space combat headquarters are skeptical. Everyone knows the pod can
    survive inside of Jupiter, but how can we know it would reach the other side?
    Your job is to convince them, and the future of earth depends on it!
</p>

<ol>
    <li>
        Describe the forces acting on the pod as it approaches the center of Jupiter,
        and how these forces affect the velocity of the pod?
    </li>
    <li>
        Describe the forces acting on the pod after it passes through the center of Jupiter and returns to the surface,
        and how these forces affect the velocity of the pod?
    </li>
    <li>
        Describe how the energy of the pod will change as it travels through Jupiter.
        Make sure to use proper language of <emph>systems</emph> in this explanation.
    </li>
    <li>
        What challenges would this pod face that would be different from those faced by an object
        moving through the center of the earth? How can those challenges be offset?
    </li>
    <li>
        Are there potential options other than moving through the center of Jupiter?
        If so, diagram them and state why these options would work as well.
        What might be the advantage of these alternatives?
    </li>
</ol>

<p>
    Diagrams coming soon!
</p>

<p class = 'dataCredit'>
    https://www.fantasynamegenerators.com/necromancer-names.php
</p>