<p>
    When considering the electromagnetic spectrum,
    it is usefult o rememerb that the six colors of the rainbow are not a seperate category,
    they are <strong>part of</strong> the spectrum itself!
    In order to understand this,
    start with the electromagnetic spectrum. Then, take out <i>visible light</i> and replace it with
    the six colors in order.
    Here is the new spectrum you will get:
</p>

<table>
    <tr>
       <th>
           Electromagnetic Wave
       </th>
    </tr>
    <tr>
        <td>
            Radio Wave
        </td>
    </tr>
    <tr>
        <td>
            Infrared Light
        </td>
    </tr>
    <tr>
        <td>
            Red Light
        </td>
    </tr>
    <tr>
        <td>
            Orange Light
        </td>
    </tr>
    <tr>
        <td>
            Yellow Light
        </td>
    </tr>
    <tr>
        <td>
            Green Light
        </td>
    </tr>
    <tr>
        <td>
            Blue Light
        </td>
    </tr>
    <tr>
        <td>
            Violet Light
        </td>
    </tr>
    <tr>
        <td>
            Ultraviolet Light
        </td>
    </tr>
    <tr>
        <td>
            X-ray
        </td>
    </tr>
    <tr>
        <td>
            Gamma Ray
        </td>
    </tr>
</table>