<p>
    When considering the electromagnetic spectrum,
    it is usefult o rememerb that the six colors of the rainbow are not a seperate category,
    they are <strong>part of</strong> the spectrum itself!
    In order to understand this,
    start with the electromagnetic spectrum. Then, take out <i>visible light</i> and replace it with
    the six colors in order.
    Here is the new spectrum you will get:
</p>

<table>
    <tr>
       <th>
           Electromagnetic Wave
       </th>
    </tr>
    <tr>
        <td>
            Radio Wave
        </td>
    </tr>
    <tr>
        <td>
            Infrared Light
        </td>
    </tr>
    <tr>
        <td>
            Red Light
        </td>
    </tr>
    <tr>
        <td>
            Orange Light
        </td>
    </tr>
    <tr>
        <td>
            Yellow Light
        </td>
    </tr>
    <tr>
        <td>
            Green Light
        </td>
    </tr>
    <tr>
        <td>
            Blue Light
        </td>
    </tr>
    <tr>
        <td>
            Violet Light
        </td>
    </tr>
    <tr>
        <td>
            Ultraviolet Light
        </td>
    </tr>
    <tr>
        <td>
            X-ray
        </td>
    </tr>
    <tr>
        <td>
            Gamma Ray
        </td>
    </tr>
</table>

<p>
    Make sure you spell the names of electromagnetic waves correctly, especially <strong>infrared</strong>.
</p>

<h5>
    Proper Diction
</h5>
<ul>
    <li>
        When discussing the <strong>energy</strong> or <strong>frequency</strong> of an electromagnetic wave,
        we always write that it becomes <strong>higher</strong> or <strong>lower</strong>.
    </li>
    <li>
        When discussing the <strong>wavelength</strong> of an electromagnetic wave,
        we always write that it becomes <strong>longer</strong> or <strong>shorter</strong>.
    </li>
</ul>