<p>
    A person with a mass of 60 kg is standing on a 5 kg skateboard
    and holding a 3 kg bowling ball.
    If he throws the bowling ball with a speed of 6 m/s.
    determine what speed the man <emph>and his skateboard</emph>
    move in the other direction.
    Please determine a formula that relates all necessary variables before
    plugging in values and solving.
</p>

<p>
    A car with a mass of 200 kg moving at 5 m/s to the right
    bumps into another car with a mass of 300 kg moving at 2 m/s to the right.
    If the car with a mass of 200 kg slows down to 1 m/s,
    how fast does the other car move after the collision?
    Please determine a formula that relates all necessary variables before
    plugging in values and solving.
</p>

<p>
    A truck with a mass of 4568 kg drives at 50 m/s
    head on into another truck driving the opposite direction
    with a mass of 3851
    driving at 60 m/s.
    The two trucks stick together following the collision.
    Determine their speed and direction.
    Please determine a formula that relates all necessary variables before
    plugging in values and solving.
</p>


