<p class ='directions'>
    Fill out the table below using the information provided.
    Each graph is used precisely once.
</p>


<table>
    <tr>
        <th>
            Story
        </th>
        <th>
            Position-Time Graph
        </th>
        <th>
            Velocity-Time Graph
        </th>
        <th>
            Acceleration-Time Graph
        </th>
        <th>
            Motion-Map
        </th>
    </tr>
    <tr>
        <td>
            A biker is biking at a constant velocity when he strikes a wall and abruptly stops.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            A biker speeds up while going down a hill,
            then immediately starts going up a hill and slows down.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            A biker is biking at a constant speed.
            He sees his friend, slows stops, and talks to his friend for awhile.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            A biker speeds up going down a hill, then
            bikes at a constant speed on a flat surface,
            and then slowly comes to a stop at an intersection
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<div class = 'bigSpace'></div>

<h4>
    Position-Time Graphs
</h4>

<table>
    <tr>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>A:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_ptA.png' height = '250px' width = 'auto' />
        </td>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>B:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_ptB.png' height = '250px' width = 'auto' />
        </td>
    </tr>
    <tr>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>C:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_ptC.png' height = '250px' width = 'auto' />
        </td>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>D:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_ptD.png' height = '250px' width = 'auto' />
        </td>
    </tr>
</table>

<div class = 'bigSpace'></div>

<h4>
    Velocity-Time Graphs
</h4>

<table>
    <tr>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>A:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_vtA.png' height = '250px' width = 'auto' />
        </td>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>B:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_vtB.png' height = '250px' width = 'auto' />
        </td>
    </tr>
    <tr>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>C:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_vtC.png' height = '250px' width = 'auto' />
        </td>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>D:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_vtD.png' height = '250px' width = 'auto' />
        </td>
    </tr>
</table>

<div class = 'bigSpace'></div>

<h4>
    Acceleration-Time Graphs
</h4>

<p>
    A white circle on a graph refers to a point at which acceleration is not calculated.
</p>

<table>
    <tr>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>A:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_atA.png' height = '250px' width = 'auto' />
        </td>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>B:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_atB.png' height = '250px' width = 'auto' />
        </td>
    </tr>
    <tr>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>C:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_atC.png' height = '250px' width = 'auto' />
        </td>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>D:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_atD.png' height = '250px' width = 'auto' />
        </td>
    </tr>
</table>

<div class = 'bigSpace'></div>

<h4>
    Motion-Maps
</h4>

<table>
    <tr>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>A:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_mmA.png' height = '100px' width = 'auto' />
        </td>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>B:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_mmB.png' height = '100px' width = 'auto' />
        </td>
    </tr>
    <tr>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>C:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_mmC.png' height = '100px' width = 'auto' />
        </td>
        <td class = 'p-3'>
            <span style = 'font-size: x-large'>D:</span>
            <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/stgs1_mmD.png' height = '100px' width = 'auto' />
        </td>
    </tr>
</table>
