<p class="directions">
    State whether each of the following types of energy is mechanical
    energy of non-mechanical energy.
</p>

<ol>
    <li>
        electrical energy
    </li>
    <li>
        gravitational potential energy
    </li>
    <li>
        thermal energy
    </li>
    <li>
        translational kinetic energy
    </li>
    <li>
        rotational kinetic energy
    </li>
    <li>
        elastic potential energy
    </li>
    <li>
        electromagnetic waves (light energy)
    </li>
    <li>
        chemical potential energy
    </li>
</ol>