<p class = 'directions'>
    For each value given,
    write the number in scientific notation.
</p>

<ol type = 'A'>
    <li class = 'mb-4 mt-4'>
        3580000000000
    </li>
    <li class = 'mb-4'>
        0.598
    </li>
    <li class = 'mb-4'>
        56
    </li>
    <li class = 'mb-4'>
        0.000000456
    </li>
</ol>