<p class = 'directions'>
    For each value given,
    write the number in scientific notation.
</p>

<ol>
    <li>
        3580000000000
    </li>
    <li>
        0.598
    </li>
    <li>
        56
    </li>
    <li>
        0.000000456
    </li>
</ol>