<h3>
    Carl the Cannon
</h3>


<p>
    Carl the Cannon is a walking, talking cannon.
    He is the greatest cannon on planet earth.
    He has never missed a shot, ever, in his life.
    When he sees a target ahead of him,
    he sets himself to the correct angle by intuition alone, fires
    and always hits his target.
</p>

<p>
    On planet Xeget,
    peaceful civilians are being raided by terrible pirates.
    Unable to defend themselves, the people of planet Xeget
    hire Carl to come to their planet and defend them.
</p>

<p>
    Carl lands down on planet Xeget confident as can be.
    He sees the pirate ship precisely 50.0 meters ahead of him,
    and on precisely the same vertical level as he is.
    By his intuition, he aims himself at precisely 18 degrees above the horizontal,
    and readies to fire.
</p>

<p>
    All of the sudden, Carl's anonymous assistant speaks or
    "Wait! Carl! Shouldn't you think about this?
    I know that you've never missed a shot in your life,
    but you've never been off of planet earth before.
    It's your first time on planet Xeget, and perhaps we should think about this."
</p>

<p>
    "Be quiet!" Carl screams. "I know what I am doing."
    Carl aims himself at 18.0 degrees above the horizontal, fires,
    and sure enough, the cannonball overshoots his target by 15.0 meters.
    It's his first miss ever.
</p>

<ol class = 'questionList'>
    <li class="question" data-answer = 'The strength of gravity is weaker on Xeget than it is on earth.'>
        Why did Carl miss?
    </li>
    <li class = 'question' data-answer ='13.4 degrees'>
        Determine what angle Carl must aim himself at in order to make
        a direct hit on the pirates.
    </li>
    <li class = 'question' data-answer = '13.4 degrees or 76.6 degrees'>
        There are actually <strong>two</strong> possible angles.
        Find both, and explain briefly why two angles work.
    </li>
</ol>

<!--
v_i = 28.8875136174 m/s
g = 7.54615384617  m/s/s
sin(2 theta) = 0.45214250176

the ratio method also works
-->


<ol class = 'answerList'></ol>