<h3>
    Analysis of Track and Field World Records
</h3>

<p>
    The goal of this analysis is to analyze the world record
    of every Olympic Running event.
</p>


<p>
    All men's world records for track and field events can be accessed <a href = 'https://trackandfieldnews.com/records/mens-world-records/'>here</a>.
    All women's world records for track and field events can be accessed <a href = 'https://trackandfieldnews.com/records/womens-world-records/'>here</a>.
</p>

<p class ='directions'>
    Create a table of the men's and women's world records for track and field events
    included in the Olympic Games.
    (Not all of the records given on the website are included in the Olympics).
    Then, figure out the average speed of the runner in meters per second
    for each event.
    Please give each value ot the correct number of significant figures.
</p>

<p>
    1 marathon = 42,195 meters
</p>

<div id = 'worldRecordTable'></div>


<script>
    let worldRecordTable = new Table(9,5);
    worldRecordTable.addTopHeaders(['Event',"Men's World Record Time","Women's World Record Time","Men's World Record Average Speed (m/s)","Women's World Record Average Speed (m/s)"]);

    worldRecordTable.writeTextInRow(1,['100 m']);
    worldRecordTable.writeTextInRow(2,['200 m']);
    worldRecordTable.writeTextInRow(3,['400 m']);
    worldRecordTable.writeTextInRow(4,['800 m']);
    worldRecordTable.writeTextInRow(5,['1500 m']);
    worldRecordTable.writeTextInRow(6,['5000 m']);
    worldRecordTable.writeTextInRow(7,['10000 m']);
    worldRecordTable.writeTextInRow(8,['marathon']);


    $("#worldRecordTable").append(worldRecordTable.draw(600,1200));
</script>


<!--
Answers: (as of 4-2-2020)
men's
100 m => 10.438 m/s
200 m => 10.422 m/s
400 m => 9.2958 m/s
800 m => 7.92786 m/s
1500 m => 7.28155 m/s
5000 m => 6.601967 m/s
10000 m => 6.33902366 m/s
marathon => 5.78 m/s

women's
100 m => 9.53289 m/s or 9.42507
200 m => 9.372071 m/s
400 m => 8.4033613 m/s
800 m => 7.602147 m/s
1500 m => 6.5197649 m/s
5000 m => 5.874405 m/s
10000 m => 5.6900623 m/s
marathon => 5.193231 m/s

A very suspicious number of these records are from the 80s,
how do you think they ran that fast in the 80s and then no one has run
as fast since????
or perhaps FLo Jo was just a generational talent and no one has come close
-->