<p class = 'introduction'>
    On the level 1 and 2 pods, you looked at motion
    that followed a single, simple pattern:
    a single period of acceleration,
    a single period of constant velocity motion, etc.
</p>

<h1>
    <a href = '/podAssets/kinematics/forward_kinematics_qualitative/story_to_graph_selection_pdf.pdf'>Available as PDF</a>
</h1>


<!--&lt;!&ndash;-->
<!--&lt;!&ndash;################################ Table 1 ###################################&ndash;&gt;-->
<!--<div class="pageBreak"></div>-->
<!--<h4>-->
<!--    Table 1-->
<!--</h4>-->

<!--<p class="directions">-->
<!--    The following table includes four types of motion in four rows.-->
<!--    Following are a selection of position-time graphs.-->
<!--    Match each position-time graph to a row,-->
<!--    and write your selection in the second column.-->
<!--    <br><br>-->
<!--    Then you will see a selection of velocity-time graphs.-->
<!--    Match each velocity-time graph to a row,-->
<!--    and write your selection in the third column.-->
<!--    <br><br>-->
<!--    Repeat for the acceleration-time graphs in the fourth column-->
<!--    and motion maps in the fifth column.-->
<!--</p>-->

<!--<ol class="questionList">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                Motion-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Position-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Velocity-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Acceleration-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Motion Map-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'C, D, A, A'>-->
<!--                    Constant Velocity-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'D, B, B, D'>-->
<!--                    Positive Acceleration-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'A, A, C, C'>-->
<!--                    Negative Acceleration-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'B, C, D, B'>-->
<!--                    Not Moving-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</ol>-->


<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Position-Time Graphs for Table 1-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-1-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-1-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-1-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-1-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Velocity-Time Graphs for Table 1-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-1-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-1-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-1-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-1-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Acceleration-Time Graphs for Table 1-->
<!--</h5>-->
<!--<p>-->
<!--  Note that one of the acceleration graphs is used twice.-->
<!--</p>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-1-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-1-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-1-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark bg-secondary" id = 'acceleration-1-D'>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Motion Maps for Table 1-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-1-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-1-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-1-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-1-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->




<!--&lt;!&ndash;################################ Table 2 ###################################&ndash;&gt;-->
<!--<div class="pageBreak"></div>-->
<!--<h4>-->
<!--    Table 2-->
<!--</h4>-->

<!--<p class="directions">-->
<!--    Fill out the table below as you completed the previous table.-->
<!--</p>-->

<!--<ol class="questionList">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                Description-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Position-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Velocity-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Acceleration-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Motion Map-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'C, F, E, F'>-->
<!--                    Constant velocity followed by positive acceleration-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'A, B, D, A'>-->
<!--                    Constant velocity followed by negative acceleration-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'E, D, A, D'>-->
<!--                    Positive acceleration followed by constant velocity-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'D, E, C, C'>-->
<!--                    Positive acceleration followed by negative acceleration-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'B, A, F, E'>-->
<!--                    Negative acceleration followed by positive acceleration-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'F, C, B, B'>-->
<!--                    Negative acceleration followed by constant velocity-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</ol>-->

<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Position-Time Graphs for Table 2-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-2-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-2-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-2-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-2-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-2-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-2-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Velocity-Time Graphs for Table 2-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-2-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-2-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-2-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-2-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-2-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-2-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Acceleration-Time Graphs for Table 2-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-2-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-2-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-2-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-2-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-2-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-2-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Motion Maps for Table 2-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-2-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-2-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-2-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-2-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-2-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-2-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!--&lt;!&ndash;################################ Table 3 ###################################&ndash;&gt;-->
<!--<div class="pageBreak"></div>-->
<!--<h4>-->
<!--    Table 3-->
<!--</h4>-->

<!--<p class="directions">-->
<!--    Fill out the table below as you completed the previous tables.-->
<!--</p>-->

<!--<ol class="questionList">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                Story-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Position-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Velocity-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Acceleration-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Motion Map-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'C, D, C, D'>-->
<!--                  A car is waiting at a red light.-->
<!--                  The light turns green, the driver hits-->
<!--                  the gas pedal, and the car begins accelerating.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'D, C, E, C'>-->
<!--                  A driver begins at rest and floors the accelerator,-->
<!--                  but the car slams straight into a brick wall and stops.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'A, F, A, E'>-->
<!--                  A driver accelerates from rest,-->
<!--                  and after reaching his favorite speed,-->
<!--                  continues driving at a constant velocity.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'B, E, D, B'>-->
<!--                  A traffic light turns green.-->
<!--                  A driver accelerates from rest to a higher velocity.-->
<!--                  He then drives at a constant velocity for awhile,-->
<!--                  but eventuallyslows back down until he he stopped.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'F, B, B, A'>-->
<!--                  Somebody is sitting on the couch watching TV.-->
<!--                  They get up and go for a walk at a constant velocity.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'E, A, B, F'>-->
<!--                  A car is driving forward at a constant speed when-->
<!--                  it hits a wall and abruptly stops moving.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</ol>-->

<!--<ol class = 'questionList'>-->
<!--  <li class = 'question'>-->
<!--    One of the acceleration-time graphs was used twice.-->
<!--    Explain why the same acceleration-time graph-->
<!--    applied to two very different descriptions of motion.-->
<!--  </li>-->
<!--</ol>-->


<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Position-Time Graphs for Table 3-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-3-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-3-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-3-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-3-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-3-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-3-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Velocity-Time Graphs for Table 3-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-3-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-3-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-3-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-3-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-3-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-3-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Acceleration-Time Graphs for Table 3-->
<!--</h5>-->
<!--<p>-->
<!--  Note that some of these graphs include <em>white circles</em>.-->
<!--  A <em>white circle</em> indicates an <em>undefined point</em>,-->
<!--  or that, at that particular time, we did not or cannot calculate acceleration.-->
<!--  Typically, it indicates a very abrupt change in velocity,-->
<!--  such as something starting or stopping motion in a short time.-->
<!--</p>-->
<!--<p>-->
<!--  Also note that one of these graphs is used twice,-->
<!--  because even though the two particular examples of motion-->
<!--  are very different, the <em>qualitative</em> description-->
<!--  of acceleration for each graph is identical.-->
<!--</p>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-3-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-3-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-3-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-3-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-3-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark bg-secondary" id = 'acceleration-3-F'>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Motion Maps for Table 3-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-3-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-3-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-3-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-3-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-3-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-3-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!--&lt;!&ndash;################################ Table 4 ###################################&ndash;&gt;-->
<!--<div class="pageBreak"></div>-->
<!--<h4>-->
<!--    Table 4-->
<!--</h4>-->

<!--<p class="directions">-->
<!--    Fill out the table below as you completed the previous tables.-->
<!--</p>-->

<!--<ol class="questionList">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                Story-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Position-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Velocity-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Acceleration-Time Graph-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark">-->
<!--                Motion Map-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'D, D, F, A'>-->
<!--                  A traffic light turns green,-->
<!--                  and a driver accelerates from rest until-->
<!--                  he is driving at a constant velocity.-->
<!--                  Eventually, he slows back down to a stop.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'F, C, E, E'>-->
<!--                  A car that is already moving slows-->
<!--                  down to a stop at a red light.-->
<!--                  It waits for a time.-->
<!--                  Then, the light turns green,-->
<!--                  and the car accelerates again.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'C, F, B, D'>-->
<!--                  Someone is deiving on the highway-->
<!--                  at an unsafe speed,-->
<!--                  but sees a police car and decides-->
<!--                  to slow down.-->
<!--                  He drives past the speed car at a slower-->
<!--                  velocity. After passing the police car,-->
<!--                  he speeds back up to an unsafe speed.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'E, B, A, B'>-->
<!--                  A driver is moving at a constant speed.-->
<!--                  A light in front of her turns red, and-->
<!--                  she begins to slow down.-->
<!--                  But before she stops,-->
<!--                  it turns green and she speeds back up.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'B, A, D, C'>-->
<!--                  A driver is moving at a constant speed.-->
<!--                  He sees a yellow light and floors-->
<!--                  his accelerator in order to make it past.-->
<!--                  After shooting through the intsersection,-->
<!--                  he slows back down to a safe speed.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-4 border border-dark">-->
<!--                <li class="question" data-answer = 'A, E, C, F'>-->
<!--                  A driver begins from rest at a stop sign and accelerates,-->
<!--                  but before they even reach the speed limit,-->
<!--                  they see someone in the middle of the road-->
<!--                  and stop as fast as they can.-->
<!--                </li>-->
<!--            </div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--            <div class="col-2 border border-dark"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</ol>-->


<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Position-Time Graphs for Table 4-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-4-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-4-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-4-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-4-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'position-4-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'position-4-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Velocity-Time Graphs for Table 4-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-4-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-4-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-4-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-4-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-4-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'velocity-4-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Acceleration-Time Graphs for Table 4-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-4-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-4-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-4-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-4-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-4-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'acceleration-4-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="pageBreak"></div>-->
<!--<h5>-->
<!--    Motion Maps for Table 4-->
<!--</h5>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-4-A'>-->
<!--            <strong>A:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-4-B'>-->
<!--            <strong>B:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-4-C'>-->
<!--            <strong>C:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-4-D'>-->
<!--            <strong>D:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-4-E'>-->
<!--            <strong>E:</strong><br>-->
<!--        </div>-->
<!--        <div class="col-md-6 border border-dark" id = 'motionMap-4-F'>-->
<!--            <strong>F:</strong><br>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!--<div class="pageBreak"></div>-->
<!--<h4>-->
<!--   Facts often confused-->
<!--</h4>-->

<!--<ul>-->
<!--    <li>-->
<!--        One car is at rest and starts accelerating.-->
<!--        Another car is already moving and then accelerates at the same rate for the same time.-->
<!--        If you looked at a position-time graph, you could tell the difference.-->
<!--        If you looked at a velocity-time graph, you could tell the difference.-->
<!--        But if you looked at an acceleration-time graph, you wouldn’t be able to tell the difference!-->
<!--    </li>-->
<!--    <li>-->
<!--        One car is moving to the right at a constant speed.-->
<!--        Another car waits for five seconds, then moves to the right at a constant speed.-->
<!--        On a position-time graph or a velocity-time graph, you could tell the difference.-->
<!--        But the motion maps would look the same!-->
<!--        Because the motion map only depicts motion.-->
<!--        The five seconds that the car was not moving would not appear on the motion map, only the constant velocity motion.-->
<!--    </li>-->
<!--    <li>-->
<!--        If your acceleration is zero, you can still be moving!-->
<!--        In fact, if your acceleration graph is zero all the time, you can still be moving the whole time!-->
<!--    </li>-->
<!--</ul>-->


<ol class="answerList"></ol>

<script>
    // constant velocity: C, D, A, A
    $("#position-1-C").append(makePositionGraphConstantVelocity().drawCanvas(150));
    $("#velocity-1-D").append(makeVelocityGraphConstantVelocity().drawCanvas(150));
    $("#acceleration-1-A").append(makeAccelerationGraphZero().drawCanvas(150));
    $("#motionMap-1-A").append(makeMotionMapConstantVelocity().drawCanvas(200));

    // positive acceleration: D, B, B, D
    $("#position-1-D").append(makePositionGraphPositiveAcceleration().drawCanvas(150));
    $("#velocity-1-B").append(makeVelocityGraphPositiveAcceleration().drawCanvas(150));
    $("#acceleration-1-B").append(makeAccelerationGraphPositive().drawCanvas(150));
    $("#motionMap-1-D").append(makeMotionMapPositiveAcceleration().drawCanvas(200));

    // negative acceleration: A, A, C, C
    $("#position-1-A").append(makePositionGraphNegativeAcceleration().drawCanvas(150));
    $("#velocity-1-A").append(makeVelocityGraphNegativeAcceleration().drawCanvas(150));
    $("#acceleration-1-C").append(makeAccelerationGraphNegative().drawCanvas(150));
    $("#motionMap-1-C").append(makeMotionMapNegativeAcceleration().drawCanvas(200));

    // not moving: B, C, D, B
    $("#position-1-B").append(makePositionGraphNotMoving().drawCanvas(150));
    $("#velocity-1-C").append(makeVelocityGraphNotMoving().drawCanvas(150));
    $("#acceleration-1-A").append(makeAccelerationGraphZero());
    $("#motionMap-1-B").append(makeMotionMapNotMoving().drawCanvas(200));

    let function21 = new KinematicStepwiseFunctions(0,5);
    function21.addConstantVelocityStep(5);
    function21.addAcceleratedStep(1.5,5);
    let graphs21 = function21.makeQualitativeGraphs('1. Constant velocity followed by positive acceleration.');
    // C F E F
    $("#position-2-C").append(graphs21.positionGraph.drawCanvas(150));
    $("#velocity-2-F").append(graphs21.velocityGraph.drawCanvas(150));
    $("#acceleration-2-E").append(graphs21.accelerationGraph.drawCanvas(150));
    $("#motionMap-2-F").append(graphs21.motionMap.drawCanvas(200));

    let function22 = new KinematicStepwiseFunctions(0,5);
    function22.addConstantVelocityStep(5);
    function22.addAcceleratedStep(-1, 5);
    let graphs22 = function22.makeQualitativeGraphs('2. Constant velocity followed by negative acceleration.');
    // A B D A
    $("#position-2-A").append(graphs22.positionGraph.drawCanvas(150));
    $("#velocity-2-B").append(graphs22.velocityGraph.drawCanvas(150));
    $("#acceleration-2-D").append(graphs22.accelerationGraph.drawCanvas(150));
    $("#motionMap-2-A").append(graphs22.motionMap.drawCanvas(200));

    let function23 = new KinematicStepwiseFunctions(0,0,1);
    function23.addAcceleratedStep(1,5);
    function23.addConstantVelocityStep(5);
    let graphs23 = function23.makeQualitativeGraphs('3. Positive acceleration followed by constant velocity');
    // E D A D
    $("#position-2-E").append(graphs23.positionGraph.drawCanvas(150));
    $("#velocity-2-D").append(graphs23.velocityGraph.drawCanvas(150));
    $("#acceleration-2-A").append(graphs23.accelerationGraph.drawCanvas(150));
    $("#motionMap-2-D").append(graphs23.motionMap.drawCanvas(200));

    let function24 = new KinematicStepwiseFunctions(0,0,1);
    function24.addAcceleratedStep(1,5);
    function24.addAcceleratedStep(-1,5);
    let graphs24 = function24.makeQualitativeGraphs('4. Positive acceleration followed by negative acceleration');
    // D E C C
    $("#position-2-D").append(graphs24.positionGraph.drawCanvas(150));
    $("#velocity-2-E").append(graphs24.velocityGraph.drawCanvas(150));
    $("#acceleration-2-C").append(graphs24.accelerationGraph.drawCanvas(150));
    $("#motionMap-2-C").append(graphs24.motionMap.drawCanvas(200));


    let function25 = new KinematicStepwiseFunctions(0,5,-1);
    function25.addAcceleratedStep(-1,5);
    function25.addAcceleratedStep(1,5);
    let graphs25 = function25.makeQualitativeGraphs('5. Negative acceleration followed by negative acceleration');
    // B A F E
    $("#position-2-B").append(graphs25.positionGraph.drawCanvas(150));
    $("#velocity-2-A").append(graphs25.velocityGraph.drawCanvas(150));
    $("#acceleration-2-F").append(graphs25.accelerationGraph.drawCanvas(150));
    $("#motionMap-2-E").append(graphs25.motionMap.drawCanvas(200));


    let function26 = new KinematicStepwiseFunctions(0,10,-1);
    function26.addAcceleratedStep(-1,5);
    function26.addConstantVelocityStep(5);
    let graphs26 = function26.makeQualitativeGraphs('6. Negative acceleration followed by constant velocity');
    // F C B B
    $("#position-2-F").append(graphs26.positionGraph.drawCanvas(150));
    $("#velocity-2-C").append(graphs26.velocityGraph.drawCanvas(150));
    $("#acceleration-2-B").append(graphs26.accelerationGraph.drawCanvas(150));
    $("#motionMap-2-B").append(graphs26.motionMap.drawCanvas(200));


    // table 3
    // A car is waiting at a red light. The light turns green and the driver hits the gas.
    // C D C D
    let function31 = new KinematicStepwiseFunctions(0,0,0);
    function31.addStationaryStep(5);
    function31.addAcceleratedStep(5,5);
    let graphs31 = function31.makeQualitativeGraphs('car at red light starts accelerating');
    $("#position-3-C").append(graphs31.positionGraph.drawCanvas(150));
    $("#velocity-3-D").append(graphs31.velocityGraph.drawCanvas(150));
    $("#acceleration-3-C").append(graphs31.accelerationGraph.drawCanvas(150));
    $("#motionMap-3-D").append(graphs31.motionMap.drawCanvas(200));

    // A driver floors the accelreator and moves forward, but dries straight into a bwall and stops
    // D C E C
    let function32 = new KinematicStepwiseFunctions(0,0,1);
    function32.addAcceleratedStep(2,5);
    function32.abruptStop();
    function32.addStationaryStep(5);
    let graphs32 = function32.makeQualitativeGraphs("");
    $("#position-3-D").append(graphs32.positionGraph.drawCanvas(150));
    $("#velocity-3-C").append(graphs32.velocityGraph.drawCanvas(150));
    $("#acceleration-3-E").append(graphs32.accelerationGraph.drawCanvas(150));
    $("#motionMap-3-C").append(graphs32.motionMap.drawCanvas(200));


    // A driver accelerates from rest, and after reaching his favorite speed,, continues driving at a constant velocity.
    // A F A E
    let function33 = new KinematicStepwiseFunctions(0,0,1);
    function33.addAcceleratedStep(1,5);
    function33.addConstantVelocityStep(5);
    let graphs33 = function33.makeQualitativeGraphs("");
    $("#position-3-A").append(graphs33.positionGraph.drawCanvas(150));
    $("#velocity-3-F").append(graphs33.velocityGraph.drawCanvas(150));
    $("#acceleration-3-A").append(graphs33.accelerationGraph.drawCanvas(150));
    $("#motionMap-3-E").append(graphs33.motionMap.drawCanvas(200));

    // A traffic light turns green. A driver accelerates from rest to a higher velocity. He then drives at a constant velocity for awhile, but eventuallyslows back down until he he stopped.
    // B E D B
    let function34 = new KinematicStepwiseFunctions(0,0,1);
    function34.addAcceleratedStep(1,3);
    function34.addConstantVelocityStep(3);
    function34.addAcceleratedStep(-1,3);
    let graphs34 = function34.makeQualitativeGraphs("");
    $("#position-3-B").append(graphs34.positionGraph.drawCanvas(150));
    $("#velocity-3-E").append(graphs34.velocityGraph.drawCanvas(150));
    $("#acceleration-3-D").append(graphs34.accelerationGraph.drawCanvas(150));
    $("#motionMap-3-B").append(graphs34.motionMap.drawCanvas(200));


    // somebody is sitting on the couch watching tv, then they get up and go for a walk
    // F B B A
    let function35 = new KinematicStepwiseFunctions(0);
    function35.addStationaryStep(5);
    function35.abruptVelocityChange(1);
    function35.addConstantVelocityStep(5);
    let graphs35 = function35.makeQualitativeGraphs("");
    $("#position-3-F").append(graphs35.positionGraph.drawCanvas(150));
    $("#velocity-3-B").append(graphs35.velocityGraph.drawCanvas(150));
    $("#acceleration-3-B").append(graphs35.accelerationGraph.drawCanvas(150));
    $("#motionMap-3-A").append(graphs35.motionMap.drawCanvas(200));


    // a car is driving forward at a constant speed, then hits a wall and stops
    // E A B F
    let function36 = new KinematicStepwiseFunctions(0,5);
    function36.addConstantVelocityStep(5);
    function36.abruptStop();
    function36.addStationaryStep(5);
    let graphs36 = function36.makeQualitativeGraphs("");
    $("#position-3-E").append(graphs36.positionGraph.drawCanvas(150));
    $("#velocity-3-A").append(graphs36.velocityGraph.drawCanvas(150));
  //  $("#acceleration-3-B").append(graphs36.accelerationGraph.drawCanvas(150)); identical to previous
    $("#motionMap-3-F").append(graphs36.motionMap.drawCanvas(200));


    // #1 D D F A
    let function41 = new KinematicStepwiseFunctions(0,0,1);
    function41.addAcceleratedStep(1,5);
    function41.addConstantVelocityStep(5);
    function41.addAcceleratedStep(-1,5);
    let graphs41 = function41.makeQualitativeGraphs("");
    $("#position-4-D").append(graphs41.positionGraph.drawCanvas(150));
    $("#velocity-4-D").append(graphs41.velocityGraph.drawCanvas(150));
    $("#acceleration-4-F").append(graphs41.accelerationGraph.drawCanvas(150));
    $("#motionMap-4-A").append(graphs41.motionMap.drawCanvas(200));

    // #2 F C E E
    let function42 = new KinematicStepwiseFunctions(0,5,-1);
    function42.addAcceleratedStep(-1,5);
    function42.addStationaryStep(5);
    function42.addAcceleratedStep(1,5);
    let graphs42 = function42.makeQualitativeGraphs("");
    $("#position-4-F").append(graphs42.positionGraph.drawCanvas(150));
    $("#velocity-4-C").append(graphs42.velocityGraph.drawCanvas(150));
    $("#acceleration-4-E").append(graphs42.accelerationGraph.drawCanvas(150));
    $("#motionMap-4-E").append(graphs42.motionMap.drawCanvas(200));


    // # 3 C F B D
    let function43 = new KinematicStepwiseFunctions(0,8,-1);
    function43.addConstantVelocityStep(4);
    function43.addAcceleratedStep(-3,1);
    function43.addConstantVelocityStep(6);
    function43.addAcceleratedStep(3,1);
    function43.addConstantVelocityStep(4);
    let graphs43 = function43.makeQualitativeGraphs("");
    $("#position-4-C").append(graphs43.positionGraph.drawCanvas(150));
    $("#velocity-4-F").append(graphs43.velocityGraph.drawCanvas(150));
    $("#acceleration-4-B").append(graphs43.accelerationGraph.drawCanvas(150));
    $("#motionMap-4-D").append(graphs43.motionMap.drawCanvas(200));

    // #4 E B A B
    function44 = new KinematicStepwiseFunctions(0,6);
    function44.addConstantVelocityStep(3);
    function44.addAcceleratedStep(-1,3);
    function44.addAcceleratedStep(1,3);
    function44.addConstantVelocityStep(2);
    let graphs44 = function44.makeQualitativeGraphs("");
    $("#position-4-E").append(graphs44.positionGraph.drawCanvas(150));
    $("#velocity-4-B").append(graphs44.velocityGraph.drawCanvas(150));
    $("#acceleration-4-A").append(graphs44.accelerationGraph.drawCanvas(150));
    $("#motionMap-4-B").append(graphs44.motionMap.drawCanvas(200));

    // #5 B A D C
    function45 = new KinematicStepwiseFunctions(0,5);
    function45.addConstantVelocityStep(4);
    function45.addAcceleratedStep(2,2);
    function45.addAcceleratedStep(-2,2);
    function45.addConstantVelocityStep(2);
    let graphs45 = function45.makeQualitativeGraphs("");
    $("#position-4-B").append(graphs45.positionGraph.drawCanvas(150));
    $("#velocity-4-A").append(graphs45.velocityGraph.drawCanvas(150));
    $("#acceleration-4-D").append(graphs45.accelerationGraph.drawCanvas(150));
    $("#motionMap-4-C").append(graphs45.motionMap.drawCanvas(200));


    // #6 A E C F
    function46 = new KinematicStepwiseFunctions(0,0,1);
    function46.addAcceleratedStep(1,6);
    function46.addAcceleratedStep(-3,2);
    let graphs46 = function46.makeQualitativeGraphs("");
    $("#position-4-A").append(graphs46.positionGraph.drawCanvas(150));
    $("#velocity-4-E").append(graphs46.velocityGraph.drawCanvas(150));
    $("#acceleration-4-C").append(graphs46.accelerationGraph.drawCanvas(150));
    $("#motionMap-4-F").append(graphs46.motionMap.drawCanvas(200));

</script>
