<p>
    Roll down the window
    <br>
    And let the wind blow back your hair
    <br>
    Well the night's busting open
    <br>
    These two lanes will take us anywhere
    <br>
    --Bruce Springsteen
</p>
