<p>
    A block is attached to a spring resting horizontally on a frictionless surface.
    The block has a mass of 5.00 kg. Assume the mass of the spring is negligible.
    The spring has a spring constant of 20.0 N / m
    and an equilibrium length of 60.0 cm.
    (Note that you must use an <emph>SI</emph> unit in all physics problems.)
    Somebody pulls the block backwards until the spring is 100 .cm long,
    and then lets go. (note that the block is initially at rest)
    The block begins moving back and forth without friction.
</p>
<img src = '/spring_pics.jpg' height = '400px' width = 'auto'/>

<br><br>
<p>
    Fill out the table below to analyze the energy of the block-spring system.
    Assume that the points occur in order.
    The second image above represents the first point on the table, point A.
    For full credit, you must include some descriptions of your calculations, such as formulas and quantities used.
</p>
<div class="container">
    <div class="row">
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            Length (cm)
        </div>
        <div class="col-1 p-2 border border-dark">
            Length (m)
        </div>
        <div class="col-1 p-2 border border-dark">
            Speed (m/s)
        </div>
        <div class="col-2 p-2 border border-dark">
            KE (J)
        </div>
        <div class="col-2 p-2 border border-dark">
            EPE (J)
        </div>
        <div class="col-2 p-2 border border-dark">
            Total Energy (J)
        </div>
        <div class="col-1 p-2 border border-dark">
            Direction the Block is Moving
        </div>
    </div>
    <div class="row">
        <div class="col-1 p-2 border border-dark">
            A
        </div>
        <div class="col-1 p-2 border border-dark">
            100.
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            null
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            B
        </div>
        <div class="col-1 p-2 border border-dark">
            80.0
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            LEFT
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            C
        </div>
        <div class="col-1 p-2 border border-dark">
            60.0
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            LEFT
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            D
        </div>
        <div class="col-1 p-2 border border-dark">
            40.0
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            LEFT
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            E
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            0.00
        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            null
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            F
        </div>
        <div class="col-1 p-2 border border-dark">
            60.0
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            RIGHT
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            G
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            0.00
        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            null
        </div>
    </div>

</div>
