<p class = 'equation'>
    $$
    p = mv
    $$
</p>

<table class = 'equationInfo'>
    <tr height = '50px'>
        <th width = '90px'>Symbol</th>
        <th width = '120px'>Quantity</th>
        <th width = '90px'>Unit</th>
    </tr>
    <tr height = '50px'>
        <td>\( p \)</td>
        <td>momentum</td>
        <td>kg m/s</td>
    </tr>
    <tr height = '50px'>
        <td>\( m \)</td>
        <td>mass</td>
        <td>kg</td>
    </tr>
    <tr height = '50px'>
        <td>\( v \)</td>
        <td>velocity</td>
        <td>m/s</td>
    </tr>
</table>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '45 kg m/s'>
        I have a mass of 15 kg and a velocity of 3 m/s.
        What is my momentum?
        {{>formulaSolvingTable}}
    </li>
    <li class = 'question' data-answer = '600 kg m/s'>
        I have a mass of 30 kg and a velocity of 20 m/s.
        What is my momentum?
        {{>formulaSolvingTable}}
    </li>
    <li class = 'question' data-answer = '6 kg'>
        I have a momentum of 120 kg and a velocity of 20 m/s.
        What is my mass?
        {{>formulaSolvingTable}}
    </li>
    <li class = 'question' data-answer = '5 m/s'>
        A moving car has a mass of 2,000 kg and a momentum of 10,000 kg m/s.
        What is its velocity?
        {{>formulaSolvingTable}}
    </li>
    <li class = 'question' data-answer = '2 m/s'>
        A rolling ball has a mass of 0.5 kg and a momentum of 1 kg m/s.
        What is its velocity?
        {{>formulaSolvingTable}}
    </li>
    <li class = 'question' data-answer = '100,000 kg m/s'>
        A truck on the highway has a mass of 5,000 kg and a velocity of 20 m/s.
        What is its momentum?
        {{>formulaSolvingTable}}
    </li>
    <li class = 'question' data-answer = '3.3 m/s'>
        A turtle is rollin' on a skateboard with a velocity of 4.0 m/s and a momentum of 13.2 kg m/s.
        What is its mass?
        {{>formulaSolvingTable}}
    </li>
</ol>

<h5>
    Some conceptual questions on momentum.
</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/K-lH-DoD6Tk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    This Flipping Physics video stars Mr. P's daughters.
</p>

<ol class = 'questionList'>
    <li data-answer = '0' class = 'question'>
        What is the momentum of an object that is not moving?
    </li>
    <li data-answer = '\( p \)' class = 'question'>
        What is the symbol for momentum?
        [This is the letter used to stand for momentum in formulas.]
    </li>
    <li data-answer = 'kg m/s' class = 'question'>
        What is the SI unit for momentum?
    </li>
    <li data-answer = 'There is no special name.' class = 'question'>
        Other SI unit tend to have special names,
        like Newton's for force,
        Joules for energy,
        and Watts for power.
        But does momentum have a special name?
    </li>
</ol>

<h4>
    Answers
</h4>

<ol class = 'answerList'>

</ol>