
<p>
    For the following problems, you will need to use the following conditions:
</p>

<ul>
    <li>
        If the net force acting on an object is in the <emph>same direction</emph>
        as its velocity, the object will <emph>speed up</emph>.
    </li>
    <li>
        If the net force acting on an object is in the <emph>opposite direction</emph>
        as its velocity, the object will <emph>slow down</emph>.
        If the net force remains in this direction, the object will eventually
        <emph>reverse directions</emph>
    </li>
    <li>
        If the net force acting on an object is equal to zero,
        then the object moves at a constant velocity.
    </li>
    <li>
        If the normal force between an object and a surface is equal to zero,
        the object will <emph>lose contact</emph> with that surface.
    </li>
</ul>


<ol>
    <li class = 'mb-5'>
        A block on mass \( m \) is on a frictionless ramp with angle of incline \( \theta \).
        The block is initially <emph>moving downward</emph>.
        The block is suddenly pulled by a force \( F \) acting at an angle \( \phi \)
        with the surface of the ramp. Determine all of the following in terms of
        these known values and \( g \).
        <br>
        <img src = '/asset/{{id}}/block_pulled_on_ramp.png' width = '300px' height = 'auto'/>
        <ol type = 'a'>
            <li>
                Determine a condition under which the block loses contact with the surface
                of the ramp.
                For the remainder of this problem, assume this condition is not met.
            </li>
            <li>
                Determine a condition under which the block speeds up as it moves down the ramp.
                For this condition, draw a free-body diagram of the block,
                and determine expressions for the net force acting on the block
                and the acceleration of the block.
                Prove your expression for acceleration is dimensionally correct.
                Demonstrate that it \( \phi > 90^{\circ} \),
                meaning that the applied force pulls the block down the ramp,
                this condition is definitely met.
            </li>
            <li>
                Determine a condition under which the block slows down as it moves down the ramp.
                For this condition, draw a free-body diagram of the block,
                and determine expressions for the net force acting on the block
                and the acceleration of the block.
                If the initial speed of the block is \( v_i \),
                and assuming the force acting on the block is constant,
                then determine an expression for the time interval \( \Delta t \)
                before the block changes direction.
                Prove your expression for \( \Delta t \) is dimensionally correct.
            </li>
            <li>
                Determine a condition under which the block moves at a constant velocity
                down the ramp.
                For this condition, draw a free-body diagram of the block.
            </li>
        </ol>
    </li>
    <li class = 'mb-5'>
        A block on mass \( m \) is on a frictionless ramp with angle of incline \( \theta \).
        The block is initially <emph>moving downward</emph>,
        and the coefficient of kinetic friction between the block and the ramp is \( \mu_k \).
        The block is suddenly pulled by a force \( F \) acting at an angle \( \phi \)
        with the surface of the ramp. Determine all of the following in terms of
        these known values and \( g \).
        <br>
        <img src = '/asset/{{id}}/block_pulled_on_ramp.png' width = '300px' height = 'auto'/>
        <ol type = 'a'>
            <li>
                Determine a condition under which the block loses contact with the surface
                of the ramp.
                For the remainder of this problem, assume this condition is not met.
            </li>
            <li>
                Determine a condition under which the block speeds up as it moves down the ramp.
                For this condition, draw a free-body diagram of the block,
                and determine expressions for the net force acting on the block
                and the acceleration of the block.
                Prove your expression for acceleration is dimensionally correct.
            </li>
            <li>
                Determine a condition under which the block slows down as it moves down the ramp.
                For this condition, draw a free-body diagram of the block,
                and determine expressions for the net force acting on the block
                and the acceleration of the block.
                If the initial speed of the block is \( v_i \),
                and assuming the force acting on the block is constant,
                then determine an expression for the time interval \( \Delta t \)
                before the block changes direction.
                Prove your expression for \( \Delta t \) is dimensionally correct.
            </li>
            <li>
                Determine a condition under which the block moves at a constant velocity
                down the ramp.
                For this condition, draw a free-body diagram of the block.
            </li>
        </ol>
    </li>
    <li class = 'mb-5'>
        A block on mass \( m \) is on a frictionless ramp with angle of incline \( \theta \).
        The block is initially <emph>at rest</emph>.
        The coefficient of kinetic friction between the block and the ramp is \( \mu_k \)
        and the coefficient of static friction between the block and the ramp is \( \mu_s \).
        The block is suddenly pulled by a force \( F \) acting at an angle \( \phi \)
        with the surface of the ramp. Determine all of the following in terms of
        these known values and \( g \).
        <br>
        <img src = '/asset/{{id}}/block_pulled_on_ramp.png' width = '300px' height = 'auto'/>
        <ol type = 'a'>
            <li>
                Determine a condition under which the block loses contact with the surface
                of the ramp.
                For the remainder of this problem, assume this condition is not met.
            </li>
            <li>
                Determine a condition under which the block begins moving <emph>down the ramp</emph>.
                For this condition,
                draw a free-body diagram and determine the net force and acceleration of the block.
            </li>
            <li>
                Determine a condition under which the block begins moving <emph>down the ramp</emph>.
                For this condition,
                draw a free-body diagram and determine the net force and acceleration of the block.
            </li>
            <li>
                Determine a condition under which the block remains at rest.
                Draw a free-body diagram under this condition.
            </li>
        </ol>
    </li>
</ol>


<h4>
    Answers
</h4>

<ol>
    <li>
        <ol type = 'a'>
            <li>
                The block loses contact with the surface of the ramp if
                \( F \sin \phi > m g \cos \theta \)
            </li>
            <li>
                The block speeds up if \( m g \sin \theta > F \cos \phi \).
                If \( \phi > 90^{\circ} \), then \( F \cos \phi \)
                is negative and the condition is definitely met.
            </li>
            <li>
                The block slows down if \( m g \sin \theta < F \cos \phi \)
            </li>
            <li>
                The block moves at a constant speed if \( m g \sin \theta = F \cos \phi \)
            </li>
        </ol>
    </li>
</ol>