<p class = 'directions'>
    Write every formula before plugging any values into the formula.
    Write all values plugged into the formula before evaluating them
    with a calculator.
</p>

<ol>
    <li>
        Copy, from memory, Newton's Third Law, word-for-word.
        Please copy a mathematically rigorous version of the law,
        in which each of the words in the statement are precisely defined.
    </li>
    <li>
        Inside of a diamond,
        two carbon nuclei are separated by a distance of 1.54 Angstrom.
        A carbon nucleus contains 6 protons and (usually) 6 neutrons.
        <ol type = 'a'>
            <li>
                Determine the magnitude of the electrostatic force between the two carbon nuclei.
            </li>
            <li>
                Draw the carbon nuclei with vectors illustrating the magnitude and direction of the
                force between them.
            </li>
            <li>
                In one sentence, state how the diagram you drew is consistent with Newton's Third Law.
            </li>
        </ol>
    </li>
    <li>
        An ionic bond is forming.
        A Calcium +2 ion is located 3 nanometers apart from
        a sulfide -2 ion.
        A calcium +2 ion has 20 protons and 18 electrons;
        a sulfide -2 ion has 16 protons and 18 electrons.
        <ol type = 'a'>
            <li>
                Determine the magnitude of the electrostatic force between the two nuclei.
            </li>
            <li>
                Draw the calcium and sulfide nuclei with vectors illustrating the magnitude and direction of the
                force between them.
            </li>
            <li>
                In one sentence, state how the diagram you drew is consistent with Newton's Third Law.
            </li>
        </ol>
    </li>
</ol>