
<p>
    A string has a length of 0.600 meters.
    A wave on the string has a speed of 5 m/s.
    Both ends of the string are fixed.
</p>


<h5>
    Question 1:
</h5>
<p>
    Draw the first 5 harmonics on this string.
</p>

<div class="smallSpace"></div>
<div class="container">
    <div class="row">
        <div class="col-2 p-2 border border-dark">First Harmonic</div>
        <div class="col-4 p-5 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">Second Harmonic</div>
        <div class="col-4 p-5 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">Third Harmonic</div>
        <div class="col-4 p-5 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">Fourth Harmonic</div>
        <div class="col-4 p-5 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">Fifth Harmonic</div>
        <div class="col-4 p-5 border border-dark"></div>
    </div>
</div>
<div class="smallSpace"></div>

<div class="print-only">
    <p>
        Do not forget the question on the back!
    </p>
</div>
<div class="pageBreak"></div>
<h5>
    Question 2:
</h5>
<p>
    Find the wavelength, frequency, and speed of each harmonic on this string,
    up to the 8th harmonic.
    If you draw your own table, make sure it is properly labeled with units indicated.
</p>

<div class="smallSpace"></div>
<div class="container">
    <div class="row">
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark">Wavelength (m)</div>
        <div class="col-3 p-2 border border-dark">Frequency (Hz)</div>
        <div class="col-3 p-2 border border-dark">Speed of Wave (m/s)</div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">First Harmonic</div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">Second Harmonic</div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">Third Harmonic</div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">Fourth Harmonic</div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">Fifth Harmonic</div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">Sixth Harmonic</div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">Seventh Harmonic</div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">Eighth Harmonic</div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
        <div class="col-3 p-2 border border-dark"></div>
    </div>

</div>
<div class="smallSpace"></div>
