<p>
    Your goal is to demonstrate that a battery-powered toy car moves at a constant velocity.
    It is important that your goal is NOT merely to calculate the speed of the car,
    but to argue, using data, that it moves at a constant speed.
</p>

<h5>
    Materials
</h5>
<ul>
    <li>
        Battery-Powered toy car
    </li>
    <li>
        Meter Stick (if needed)
    </li>
    <li>
        Stopwatch (if needed)
    </li>
    <li>
        Metronome (if needed)
    </li>
</ul>

<p>
    Give a description of your data and your argument.
    Your should write at least a paragraph and include a table, a graph, or both.
    Please use graph paper for any graphs you make.
</p>