<p>
    If you are in AP physics,
    you need to complete this lab in your lab notebook!
</p>
<h3>
    Qualitative Pendulum Lab
</h3>

<p>
    A pendulum consists of a bob and a string.
    The bob typically has a high mass.
    The pendulum must swing back and forth so that
    the string is taut (tight).
    If the string slackens (loosens), then it isn't technically
    a pendulum anymore, but an object in free-fall.
</p>

<ol>
    <li>
        Build a simple pendulum out of a ruler,
        duct tape, a string, a clipper, and washers.
        The length of the string must be adjustable in your pendulum.
    </li>
    <li>
        Swing the pendulum gently a few times
        to see how it works.
    </li>
</ol>

<p>
    The <strong>period</strong> of a pendulum
    is the amount of time it takes to swing back and forth,
    completely, one time.
</p>

<ol start = '3'>
    <li>
        Measure the period of the pendulum to practice.
        Measure by letting the pendulum go and measuring
        the time for the pendulum to move
        back and forth <strong>five times</strong>.
    </li>
</ol>

<p>
    There are three adjustable variables for the pendulum you built:
    mass, amplitude, and length.
</p>

<ul>
    <li>
        The <strong>mass</strong> of a pendulum is the mass of the bob of the pendulum.
        You can adjust the mass by adding more or fewer washers to the clip on the end
        of your pendulum.
    </li>
    <li>
        The <strong>amplitude</strong> of your pendulum is how far the pendulum
        is pulled backwards.
        You can adjust the pendulum amplitude by how far back you pull the pendulum.
        For good results, do not pick amplitudes greater tha 45 degrees, which
        will lead the pendulum to slacken and to high air resistance.
    </li>
    <li>
        The <strong>length</strong> of your pendulum is the length of the
        string from the top of the pendulum to the bob.
    </li>
</ul>

<p>
    Of these three variables, one of them determines the <strong>period</strong>
    of the pendulum. The other two barely matter in determining the period.
    The goal of this lab is to qualitatively determine which one.
</p>

<p>
    Make a prediction of which variable you feel determines the period of a pendulum.
    Briefly justify your prediction.
    It does not matter if your prediction is correct, but making a prediction
    can help you learn more!
</p>
<ol type = 'A'>
    <li>
        I think that the mass determines the period of a pendulum.
    </li>
    <li>
        I think that the amplitude determines the period of a pendulum.
    </li>
    <li>
        I think that the length determines the period of a pendulum.
    </li>
</ol>

<p class = 'directions'>
    Run a series of measurements to determine which of the three variables,
    mass, amplitude, or length.
    You must make at least 9 measurements.
    This lab is <emph>qualitative</emph>, not quantitative.
    Thus, you do not need precise measurements of mass, amplitude, and length
    in order to answer the question being asked.
    You may use measurements like 'high,' 'medium,' and 'low' for mass amplitude and length.
    Please do not increase amplitude beyond about 45 degrees,
    as doing so will add significant air resistance and likely impact your results.
</p>

<p>
    Remember that you should have at least <strong>nine</strong>
    measurements.
</p>

<p>
    Write two brief paragraphs analyzing your results.
    The first paragraph should explain which variable determines
    the period by referring to your data.
    The second paragraph should explain why the other two
    variables do not determine the period by referring
    to your data.
    This this analysis should depend <strong>only</strong> upon your data,
    and not judgments about why you think something happens.
</p>

<p>
    If you are in AP physics this must all be in your lab notebook!
</p>