<p class="introduction">
    A pendulum is simply a mass (called a bob)
    hanging from a string.
    You pull the pendulum backwards, and it swings back and forth.
    That's all it is!
    Sounds like nothing, but, this simple device is responsible for so much of physics!
    For hundreds of years, most clocks worked with pendulums,
    and you can still purchase an antique grandfather clock.
    Much of what we know about how gravity works on earth
    was discovered by studying pendulums:
    including the most accurate measurements of earth's gravitational field for generations.
    And the pendulum was used to develop models of periodic motion
    that you likely have already studied in math class (sine curves and cosine curves).
    Jean Piaget even used a pendulum to discover some of the basic principles of
    human cognitive development.
    On that note, we will begin our own study of physics using a pendulum.
</p>

<p class="introduction">
    This lab is a <strong>virtual</strong> version of the more traditional,
    <a href = '/labs/pendulum_lab_1'>physical pendulum lab</a>.
    The virtual version of the pendulum works exactly like a normal pendulum,
    in fact, it works "better" because it can have no friction and never whacks into anything,
    so it goes forever.
    All of the same measurements and concepts in the pendulum lab can be completed in the virtual pendulum lab.
</p>

<iframe src="https://phet.colorado.edu/sims/html/pendulum-lab/latest/pendulum-lab_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>

<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>Phet Interactive Simulations</a>.
</p>