<p class = 'introduction'>
    This is a virtual version of the second pendulum lab.
</p>

<p class = 'introduction'>
    In the previous pendulum lab,
    we built a pendulum, saw how it worked, learned how to make important
    measurements, and then figured out what determines the period of a pendulum.
    We figured it out <emph>inductively</emph> because you looked for a pattern without
    following a specific experimental procedure.
    No matter how, somebody could refute that finding and say you did not test
    all possibilities carefully.
</p>

<p class = 'introduction'>
    This investigation is heavily based on understanding how variables work in a scientific experiment.
    Before you start, you should review <strong>independent variables</strong>,
    <strong>dependent variables</strong>, and <strong>controlled variables</strong>.
</p>

<iframe src="https://phet.colorado.edu/sims/html/pendulum-lab/latest/pendulum-lab_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>

<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>Phet Interactive Simulations</a>.
</p>
<p>
    <a href = 'https://phet.colorado.edu/en/simulation/pendulum-lab'>Link to the simulation</a>
</p>

<h4>
    Getting Started
</h4>

<p>
    First, simply rebuild the pendulum and review how to set and measure
    length, mass, amplitude, and period.
</p>

<p>
    Throughout this investigation, we will call length, mass, and amplitude,
    the <emph>input variables</emph>, because you directly control them,
    and we will call period the <emph>output variable</emph>,
    because it is determined based on the input variable.
</p>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-sm-6'>
            <h5>
                Input Variables
            </h5>
            <ul>
                <li>
                    Length
                </li>
                <li>
                    Mass
                </li>
                <li>
                    Amplitude
                </li>
            </ul>
        </div>
        <div class = 'col-sm-6'>
            <h5>
                Output Variable
            </h5>
            <ul>
                <li>
                    Period
                </li>
            </ul>
        </div>
    </div>
</div>

<h4>
    Defining a "Deductive Experiment"
</h4>

<ol class = 'definition' data-word = 'Deductive Experiment'>
    <li>
        A single deductive experiment consists of a single independent variable,
        a single dependent variable,
        and as many controlled variables as necessary.
    </li>
    <li>
        The experimenter systematically sets the independent variable to a series
        of different values.
    </li>
    <li>
        For each value of the independent variable,
        the experimenter measures the value of the dependent variable.
    </li>
    <li>
        While changing the independent variable,
        each controlled variable is set to a constant value and never changed.
        This ensures that, if there is a change in the dependent variable,
        it comes from the changes in the independent variable and no other factor.
    </li>
    <li>
        Based on the results, the experimenter determines if there is a
        causal relationship between the independent and dependent variables.
    </li>
</ol>

<h4>
    The Task
</h4>

<p>
    The task here is to conduct <strong>three separate</strong>
    deductive experiments using the pendulum.
    Each experiment must meet the following requirements.
</p>

<ul>
    <li>
        For each experiment, select on of the three input variables (length, mass, or period) as your independent variable.
    </li>
    <li>
        For each experiment, the period must be the dependent variable.
    </li>
    <li>
        For each experiment, the two input variables that are not your independent variable must be controlled.
    </li>
    <li>
        You must have six different measurements for each independent variable,
        and for each one a corresponding measurement of the dependent variable.
    </li>
    <li>
        For each experiment, the greatest value of the independent variable
        must be at least <emph>three times</emph> the least value.
        This is to ensure that these is sufficient variability,
        so that if there is a change in the dependent variable, it will be observed.
    </li>
    <li>
        Do not pick values of amplitude greater than 45 degrees.
    </li>
</ul>

<h5>
    Don't do this!!!
</h5>

<p>
    The most common error is mistaking an <emph>experiment</emph>
    with a <emph>measurement</emph>.
    A single experiment must consist of several measurements.
</p>
<p>
    This complete investigation consists of three separate experiments,
    each with at least 6 measurements,
    for a total of 18 measurements.
</p>


<h4>
    LAB REPORT
</h4>

<p>
    After completing this lab, complete the lab report.
    The following is the format.
</p>


<h5>
    Most important Piece: 3 sections
</h5>

<p>
    Your report should be broken into three different sections,
    each describing one of the three experiments you conducted.
    Each experiment must be presented as an independent unit,
    separate from the others.
    The writeup of each experiment should be as though you didn't even do the other two.
</p>


<h5>
    Requirements for Each Experiment Writeup
</h5>
<ul>
    <li>
        Identify the independent and dependent variables of each experiment.
    </li>
    <li>
        Identify the controlled variables, and indicate to what values they were set.
    </li>
    <li>
        Create a table indicated
    </li>
    <li>
        Create a handwritten graph**.
        <ul>
            <li>
                Each graph should have the independent variable on the x-axis
                and the dependent variable on the y-axis.
            </li>
            <li>
                Each graph should be a scatter plot.
                This means it consists only of points that are not connected.
                Do not connect the points as in a line graph.
                Do not add a best fit line.
            </li>
            <li>
                A scatter plot is preferable here because it is not opinionated:
                if you connect the points are draw a best fit line,
                you are putting into your graph a relationship between the points
                rather than letting them speak for themselves.
            </li>
        </ul>
    </li>
    <li>
        Create a very brief analysis
        answering these questions
        <ul>
            <li>
                Do the data suggest there is a relationship
                between the independent and dependent variable?
            </li>
            <li>
                If yes, does this relationship appear to be positive or negative?
                <ul>
                    <li>
                        In a positive relationship, an increase in the independent variable
                        is associate with an <strong>in</strong> in the dependent variable.
                    </li>
                    <li>
                        In a negative relationship, an increase in the independent variable
                        is associated with a <strong>de</strong>crease in the dependent variable.
                    </li>
                </ul>
            </li>
            <li>
                If yes, does this relationship appear to be linear or non-linear?
                <ul>
                    <li>
                        In a linear relationship, any change of one unit
                        in the independent variable is associated with a regular change
                        of some number of units in the dependent variable.
                    </li>
                    <li>
                        In a non-linear relationship, any change of one unit
                        in independent variable can be associated with different changes
                        in the dependent variable.
                    </li>
                    <li>
                        Linear relationships can be identified on a scatter plot:
                        if the points are arranged in a straight line, then the relationship
                        is probably probably non-linear.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<p>
    **I prefer handwritten graphs because I think the process of plotting each point
    helps you think more clearly about what the points mean.
    This manual process is lost when a computer creates your graph in an instant.
</p>

