<p class = 'directions'>
  For each situation, draw an energy transfer diagram.
  Your energy transfer diagram should begin with <strong>sunlight</strong>
  and end at the point indicated.
</p>

<ol>
  <li>
    Somebody eats a bowl of rice,
    then fires a bow and arrow directly upwards into the air.
    Begin with sunlight and end with the arrow
    at the top of its arc.
  </li>
  <li>
    Somebody uses oil-based gasoline
    to operate a lawnmower.
    Begin with sunlight and end with the spinning lawnmower blades.
  </li>
</ol>
