
<p class="directions">
    This quiz iz a proof.
    You must make a very clear argument.
    Refer to several different diagrams and formulas.
    Every time you use a formula, briefly explain why and how you are using it.
    Remember that physics is a writing class,
    and you need to write an eloquent proof to pass the quiz.
    <br>
</p>

<p>
    Make sure that your proof is not circular!
    Your are proving that the conservation of energy is satisfied
    in a ramp problem with friction.
    You may not use the conservation of energy as a part of your
    proof! That would be a <strong>circular argument</strong>.
    You need to use other concepts and principles to calculate
    energy at different points.
</p>

<p>
    A sledder of mass \( m \) is at the top of a straight hill
    of vertical height \( \delta y \) and horizontal distance \( \delta x \).
    The sledder experiences a coefficient  of kinetic friction \( \mu_k \).
    Assume that the sledder is able to overcome static friction and move
    and that air resistance is negligible.
</p>

<ol>
    <li>
        As the sledder travels to the ground,
        prove that the total work down by friction on the sledder-earth
        system is equal to the change in energy of the system.
    </li>
    <li>
        Use the work-energy theorem to determine how far the
        sledder moves after reaching the bottom of the hill.
    </li>
</ol>