<h4>Problem 1</h4>
<p class = 'directions'>
    A battery with a voltage of \( \Delta V \) is connected in series to two resistors
    with resistances \( R_a \) and \( R_b \).
    Fill out the table indicating the voltage, current, resistance, and power in terms of
    \( \Delta V \), \( R_a \), and \( R_b \).
    Note that the two resistances are not necessarily equal.
    You <strong>must</strong> show the algebraic manipulations you used to solve the problem.
    For full credit, I need to know that you found the answers yourself and did not simply memorize the answer.
</p>
<div id = 'problemI1'></div>

<div class = 'pageBreak'></div>
<h4>Problem 2</h4>
<p class = 'directions'>
    A battery with a voltage of \( \Delta V \) is connected in series to two resistors
    with resistances \( R_a \) and \( R_b \).
    Fill out the table indicating the voltage, current, resistance, and power in terms of
    \( \Delta V \), \( R_a \), and \( R_b \).
    Note that the two resistances are not necessarily equal.
    You <strong>must</strong> show the algebraic manipulations you used to solve the problem.
    For full credit, I need to know that you found the answers yourself and did not simply memorize the answer.
</p>
<div id = 'problemI2'></div>


<script>
    let problemI1 = makeCircuitProblem('series', 'ΔV', ['Ra', 'Rb']);
    $("#problemI1").append(problemI1);
    let problemI2 = makeCircuitProblem('parallel', 'ΔV', ['Ra', 'Rb']);
    $("#problemI2").append(problemI2);
</script>
