<h4>
    Transverse and Longitudinal waves in a Slinky:
</h4>

<p class = 'definition'>
    <img src = '/podAssets/waves/wave_structure/transverse_slinky_wave.png' width = '400px' height = 'auto'/>
    <br>
    A <strong>transverse wave</strong> looks like moving crests and troughs.
</p>

<p class = 'definition'>
    <img src = '/podAssets/waves/wave_structure/longitudinal_slinky_wave.png' width = '400px' height = 'auto'/>
    <br>
    A <strong>longitudinal wave</strong> looks like a moving compression.
</p>


<ol class = 'questionList'>
    <img  src = '/podAssets/waves/wave_structure/two_slinky_waves.png' width = '300px' height = 'auto' />
    <li class = 'question' data-answer = 'longitudinal'>
        Is wave (a) a transverse or a longitudinal wave?
    </li>
    <li class = 'question' data-answer = 'transverse'>
        Is wave (b) a transverse or a longitudinal wave?
    </li>
</ol>


<h4>
    Making Waves
</h4>

<p class = 'definition'>
    To make a <strong>transverse slinky wave</strong>,
    move the slinky side-to-side OR up-and-down.
</p>
<p class= 'definition'>
    To make a <strong>longitudinal slinky wave</strong>,
    move the slinky in-and-out OR pluck the slinky.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'transverse'>
        I stretch a slinky out in the hallway, and shake it left to right. What kind of wave do I make?
    </li>
    <li class = 'question' data-answer = 'longitudinal'>
        I stretch a slinky out in the hallway, and pluck it. What kind of wave do I make?
    </li>
    <li class = 'question' data-answer = 'longitudinal'>
        I stretch a slinky out in the hallway, and move it quickly in and out. What kind of wave do I make?
    </li>
    <li class = 'question' data-answer = 'transverse'>
        I stretch a slinky out in the hallway, and shake up and down. What kind of wave do I make?
    </li>
    <li class = 'question' data-answer = 'Move it side-to-side or up-and-down.'>
        How can you make a transverse wave with a slinky?
    </li>
    <li class = 'question' data-answer = 'Move it in-and-out or pluck it.'>
        How can you make a longitudinal wave with a slinky?
    </li>
</ol>

<h4>
    More Transverse and Longitudinal Waves
</h4>

<h5>
    Rules:
</h5>
<ul>
    <li>
        All electromagnetic waves are transverse. This includes <strong>light waves</strong>.
    </li>
    <li>
        Mechanical waves can be either transverse or longitudinal.
    </li>
    <li>
        Sound waves (which are a type of mechanical wave) are always longitudinal.
    </li>
</ul>

<p class = 'directions'>
    For each wave, state if it is <emph>transverse</emph> or <emph>longitudinal</emph>.
</p>
<ol class = 'questionList'>
    <li class = 'question' data-answer = 'longitudinal'>
        A sound wave.
    </li>
    <li class = 'question' data-answer = 'transverse'>
        A light wave.
    </li>
    <li class = 'question' data-answer = 'transverse'>
        Any electromagnetic wave.
    </li>
    <li class = 'question' data-answer = 'longitudinal'>
        An ultrasonic wave (a sound wave with a frequency higher than humans can hear)
    </li>
    <li class = 'question' data-answer = 'transverse. It is an electromagnetic wave.'>
        An ultraviolet wave.
    </li>
</ol>

<h4>
    Answers:
</h4>
<ol class = 'answerList'></ol>