

<p>
    There is a spring oriented vertically.
    The spring has a spring constant of 300 N / m.
    On the end of the spring is a mass of 400 grams.
    Initially, the spring is compressed by 15 cm
    and the mass is moving at a rate of 50 cm/s.
    Somebody gently smacks the mass downward with a hammer,
    doing 4 Joules of work.
    After doing this work, the spring is now stretched by
    20 cm.

</p>

<ol>
    <li>
        Describe what system makes most sense to analyze this
        situation and why.
    </li>
    <li>
        Invent your own equation
        based on the conservation of energy to
        describe the system.
        Describe briefly what each term of this
        equation represents.
    </li>
    <li>
        Determine the speed of the mass after
        it was smacked with the hammer.
        Please write your final
        answer to 4 significant figures of accuracy.
        It should be slightly different than the initial
        speed of the mass.
    </li>
</ol>