
<p class="directions">
    Answer each question below.
    For full credit, write any formula before using it,
    and include proper units in your answer.
</p>

<div class="container">
    <div class="row">
        <div class="col-3 p-2 border border-dark"><strong>Planet</strong></div>
        <div class="col-3 p-2 border border-dark"><strong>Length of Day</strong> (in earth days)</div>
        <div class="col-3 p-2 border border-dark"><strong>Length of Year</strong> (in earth years)</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Mercury</div>
        <div class="col-3 p-2 border border-dark">48.646</div>
        <div class="col-3 p-2 border border-dark">0.2408467</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Venus</div>
        <div class="col-3 p-2 border border-dark">-243.018</div>
        <div class="col-3 p-2 border border-dark">0.61519726</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Earth</div>
        <div class="col-3 p-2 border border-dark">0.99726968</div>
        <div class="col-3 p-2 border border-dark">1.0000174</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Mars</div>
        <div class="col-3 p-2 border border-dark">1.026</div>
        <div class="col-3 p-2 border border-dark">1.8808476</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Jupiter</div>
        <div class="col-3 p-2 border border-dark">0.41354</div>
        <div class="col-3 p-2 border border-dark">11.862615</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Saturn</div>
        <div class="col-3 p-2 border border-dark">0.444</div>
        <div class="col-3 p-2 border border-dark">29.447498</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Uranus</div>
        <div class="col-3 p-2 border border-dark">-0.718</div>
        <div class="col-3 p-2 border border-dark">84.016846</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Neptune</div>
        <div class="col-3 p-2 border border-dark">0.671</div>
        <div class="col-3 p-2 border border-dark">164.79132</div>
    </div>
</div>
<p>
    Source: https://solarsystem.nasa.gov/planet-compare/
</p>


<ol>
    <li>
        Determine the magnitude of angular velocity of Neptune in radians per second.
        (Write your answer as a decimal with 4 significant figures in your answer.)
    </li>
    <li>
        A day on Saturn is just less than half the length of a day on earth.
        Which has a greater angular velocity:
        Saturn or a spinning ballet dancer?
        Briefly explain your answer.
    </li>
    <li>
        Optional (not for any points): The length of a day of Venus are Uranus are negative?
        Huh? Well, that's at least now NASA's website reports it.
        What do you think that means?
    </li>
</ol>
