
<ul>
    <li>
        Physics A Remote Learning Assignment 1:
        <a href = '/extraFiles/isaacNewtonMiracleYears.html'>Isaac Newton Article</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 2:
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_wave_basics'>Electromagnetic Wave Basics</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 3:
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_1'>Electromagnetic Spectrum 1</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 4:
        <ul>
            <li>
                <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/basic_infrared_camera'>Infrared Cameras</a>
            </li>
            <li>
                <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/reflection_color'>Reflection and Color</a>
            </li>
        </ul>
    </li>
    <li>
        Physics A Remote Learning Assignment 5:
        <a href = '/labs/colorVisionVirtual'>Color Mixing Lab</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 6:
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/long_wavelength_astronomy'>NASA Videos on Long Wavelength Astronomy</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 7:
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/short_wavelength_astronomy'>NASA Videos on Short Wavelength Astronomy</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 8:
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_2'>Electromagnetic Spectrum 2</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 9:
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/safe_dangerous_radiation'>Safe and Dangerous Radiation</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 10:
        <a href = '/pod/thermodynamics/heat_transfer_temperature_mathematical/heat_formula_1'> Heat Formula 1</a>: Complete Questions 1 - 10, send a photo of your calculations.
        Full credit will not be given for answers only.
    </li>
    <li>
        Physics A Remote Learning Assignment 11:
        <ul>
            <li>
                <a href = '/pod/thermodynamics/heat_transfer_temperature_mathematical/thermal_contact_1'>Thermal Contact 1</a>
            </li>
            <li>
                <a href = '/pod/thermodynamics/heat_transfer_temperature_mathematical/thermal_contact_2'>Thermal Contact 2</a>
            </li>
        </ul>
    </li>
    <li>
        Physics A Remote Learning Assignment 12:
        <ul>
            <li>
                <a href = '/pod/thermodynamics/kinetic_theory_of_matter_conceptual/states_of_matter_2'>States of Matter 2</a> Please complete problems 1 - 3
            </li>
            <li>
                <a href = '/pod/thermodynamics/heat_transfer_temperature_mathematical/heat_formula_2'>Heat Formula 2</a>: Please show work and turn in a photograph of your calculations.
            </li>
        </ul>
    </li>
    <li>
        Physics A Remote Learning Assignment 13:
        <a href = '/pod/thermodynamics/kinetic_theory_of_matter_conceptual/conduction_convection_radiation_1'>Conduction, Convection, and Radiation</a>: Complete all problems
    </li>
    <li>
        Physics A Remote Learning Assignment 14:
        <a href = '/labs/lunarLander1'>Lunar Lander Lab</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 15:
        <a href = '/labs/thermalPhysicsVirtual1'>Thermal Physics Virtual Lab</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 16:
        <a href = '/pod/atomic_physics/nuclear_reaction_formulas/counting_parts_nucleus'>Counting Parts of a Nucleus</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 17 - 18 (worth 4 points):
        <a href = '/pod/atomic_physics/nuclear_reaction_formulas/alpha_beta_decay'>Alpha and Beta Decay</a>
    </li>
    <li>
        Physics A Remote Learning Assignment 19:
        <a href = '/pod/waves/sound_properties/doppler_effect'>The Doppler Effect</a>
    </li>
</ul>


