<h4>
    <a href = '/extraFiles/isaacNewtonMiracleYears.html'>First Remote Learning Assignment</a>
</h4>
<h5>
    (Orange Class)<br>
    Assigned: Tuesday April 7, 9:30 am
</h5>
<h5>
    Due: Thursday April 9, 9:30 am
</h5>

<h4 class = 'text-success'>
    Remote Learning Assignment 2 Physics A:
</h4>
<p class = 'directions'>
    Please look at the page below on the basics of electromagnetic waves.
    Read the list of principles, watch the video produced by NASA, and
    complete all the questions.
    Please submit your answers to me via email.
    The answers are there for you to check, but please try to answer the questions
    on your own before checking your answers.
    You will be graded only for effort.
</p>
<ul>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_wave_basics'>Electromagnetic Wave Basics</a>
    </li>
</ul>
<h5>
    (Orange Class)
    <br>
    Assigned Thursday April 9, 9:30 am
    <br>
    Due Tuesday April 14, 9:30 am
</h5>

<ul>
    <li>
        All quizzes are available to take,
        see above for directions.
    </li>
    <li>
        The 'official' curriculum will continue with Electromagnetic Waves
        next week when quarter 4 begins.
    </li>
</ul>

<h4>
    Units
</h4>
<ul>
    {{printUnitLink 'waves' 'the_electromagnetic_spectrum_quantitative' gradeMap}}
    {{printUnitLink 'waves' 'the_electromagnetic_spectrum_conceptual' gradeMap}}
</ul>