<h4>
    <a href = '/extraFiles/isaacNewtonMiracleYears.html'>Remote Learning Assignment 1</a>
</h4>
<p class="dueDates ml-4">
    Orange Class: Assigned Tuesday April 7, 9:30 am; Due Thursday April 9, 11:59 pm
</p>

<h4 class = 'text-success'>
    Remote Learning Assignment 2 Honors Physics:
</h4>
<p class="dueDates ml-4">
    Orange Class: Assigned Thursday April 9, 9:30 am; Due Tuesday April 14, 11:59 pm
</p>
<p class = 'directions'>
    Please look at the page below on the basics of electromagnetic waves.
    Read the list of principles, watch the video produced by NASA, and
    complete all the questions.
    Please submit your answers to me via email.
    The answers are there for you to check, but please try to answer the questions
    on your own before checking your answers.
    You will be graded only for effort.
</p>
<ul>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_wave_basics'>Electromagnetic Wave Basics</a>
    </li>
</ul>

<h4 class = 'text-success'>
    Remote Learning Assignment 3 Honors Physics:
</h4>
<p class="dueDates ml-4">
    Orange Class: Assigned Tuesday April 14, 9:30 am; Due Thursday April 16, 11:59 pm
</p>
<p class = 'directions'>
    Please complete the work on the pages below, watch any relevant videos,
    and submit your answers to Mr. Kuncik via email.
</p>
<ul>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_1'>Electromagnetic Spectrum 1</a>
    </li>
</ul>

<h4 class = 'text-success'>
    Remote Learning Assignment 4 Physics A:
</h4>
<p class="dueDates ml-4">
    Orange Class: Assigned Thursday April 16, 9:30 am; Due Tuesday April 21, 11:59 pm
</p>
<p class = 'directions'>
    Please complete the work on the pages below, watch any relevant videos,
    and submit your answers to Mr. Kuncik via email.
    The kangaroo video is optional, but highly recommended!
</p>
<ul>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/basic_infrared_camera'>Infrared Cameras</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/reflection_color'>Reflection and Color</a>
    </li>
</ul>

<h4 class = 'text-success'>
    Remote Learning Assignment 5 Physics A:
</h4>
<p class="dueDates ml-4">
    Orange Class: Assigned Tuesday April 21, 9:30 am; Due Thursday April 23, 11:59 pm
</p>
<p class = 'directions'>
    Complete the following virtual lab on the mixing of color.
    It's good to play around with he simulation a little first,
    then answer the questions.
</p>
<ul>
    <li>
        <a href = '/labs/colorVisionVirtual'>Color Mixing Lab</a>
    </li>
</ul>
