<ul>
    <li>
        <a href = '/extraFiles/isaacNewtonMiracleYears.html'>Remote Learning Assignment 1: Isaac Newton Article</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_wave_basics'>Remote Learning Assignment 2: Electromagnetic Wave Basics</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_1'>Remote Learning Assignment 3: Electromagnetic Spectrum 1</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/basic_infrared_camera'>Remote Learning Assignment 4A: Infrared Cameras</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/reflection_color'>Remote Learning Assignment 4B: Reflection and Color</a>
    </li>
</ul>

<h4 class = 'text-success'>
    Remote Learning Assignment 5 Physics A:
</h4>
<p class="dueDates ml-4">
    Orange Class: Assigned Tuesday April 21, 9:30 am; Due Thursday April 23, 11:59 pm
</p>
<p class = 'directions'>
    Complete the following virtual lab on the mixing of color.
    It's good to play around with he simulation a little first,
    then answer the questions.
</p>
<ul>
    <li>
        <a href = '/labs/colorVisionVirtual'>Color Mixing Lab</a>
    </li>
</ul>

<h4 class = 'text-success'>
    Remote Learning Assignment 6 Physics A:
</h4>
<p class="dueDates ml-4">
    Orange Class: Assigned Thursday April 23, 9:30 am; Due Monday April 27, 11:59 pm
</p>
<ul>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/long_wavelength_astronomy'>NASA Videos on Long Wavelength Astronomy</a>
    </li>
</ul>

<h4 class = 'text-success'>
    Remote Learning Assignment 7 Physics A:
</h4>
<p class="dueDates ml-4">
    Orange Class: Assigned Monday April 27, 9:30 am; Due Wednesday April 29, 11:59 pm
</p>
<ul>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/short_wavelength_astronomy'>NASA Videos on Short Wavelength Astronomy</a>
    </li>
</ul>

<h4 class = 'text-success'>
    Remote Learning Assignment 8 Physics A:
</h4>
<p class="dueDates ml-4">
    Orange Class: Assigned Wednesday April 29, 9:30 am; Due Friday May 1, 11:59 pm
</p>
<ul>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_2'>Electromagnetic Spectrum 2</a>
    </li>
</ul>
