<h3>
    Physics A
</h3>

<ul>
    <li>
        All quizzes are available to take,
        see above for directions.
    </li>
    <li>
        The 'official' curriculum will continue with Electromagnetic Waves
        next week when quarter 4 begins.
    </li>
</ul>

<h4>
    <a href = '/extraFiles/april2020ExtraCredit.html'>Physics A Extra Credit Assignment 1</a>
</h4>
<h4>
    <a href = '/extraFiles/extra_credit_2.html'>Physics A Extra Credit Assignment 2</a>
</h4>
<h4>
    <a href = '/extraFiles/extra_credit_3.html'>Physics A Extra Credit Assignment 3</a>
</h4>

<h4>
    These units are included in the quarter 3 grade:
</h4>

<ul>
    {{printUnitLink 'mechanics' 'quantitative_dynamics' gradeMap}}
    {{printUnitLink 'mechanics' 'conservation_of_energy_quantitative' gradeMap}}
</ul>