<h4>
    <a href = '/extraFiles/isaacNewtonMiracleYears.html'>First Remote Learning Assignment</a>
</h4>
<h5>
    (Orange Class)<br>
    Assigned: Tuesday April 7, 9:30 am
</h5>
<h5>
    Due: Thursday April 9, 9:30 am
</h5>

<ul>
    <li>
        All quizzes are available to take,
        see above for directions.
    </li>
    <li>
        The 'official' curriculum will continue with Electromagnetic Waves
        next week when quarter 4 begins.
    </li>
</ul>


<p>
    Hello everybody.
    Because of all of the unpredictable events over the few weeks,
    the term is about to end, and some people have a grade lower than they would expect.
    There are two ways to improve this.
    one is to take the quizzes, which are now all open, and email them to me.
    The other is to complete this assignment.
</p>

<p>
    The assignments are based on Flipping Physics, which is a set of physics videos
    made by a physics teacher in Michigan.
    You can watch the videos, and then answer the questions,
    then turn them in via email.
    You can turn in a typed copy of the answers, or you can handwrite the answers, take a photo,
    and then send me the photo.
</p>

<p>
    For each assignment you complete well, you will receive 5 extra points in PowerSchool.
    (Those are five points averaged in with all other assignments, not five points towards you grade overall.)
    I am planning to add 4 total assignments, so you can earn 20 points in total.
    I may add more if it seems people will need more than 20 points to achieve their goals,
    but at the moment I feel like that should be enough.
</p>

<p>
    I will accept this Extra Credit via email until noon on Thursday 4-9-2020.
</p>
<p>
    I will accept made up quizzes until noon on Wednesday 4-8-2020.
</p>

<h4>
    <a href = '/extraFiles/extra_credit_1.html'>Physics A Extra Credit Assignment 1</a>
</h4>
<h4>
    <a href = '/extraFiles/extra_credit_2.html'>Physics A Extra Credit Assignment 2</a>
</h4>
<h4>
    <a href = '/extraFiles/extra_credit_3.html'>Physics A Extra Credit Assignment 3</a>
</h4>

<h4>
    These units are included in the quarter 3 grade:
</h4>

<ul>
    {{printUnitLink 'mechanics' 'quantitative_dynamics' gradeMap}}
    {{printUnitLink 'mechanics' 'conservation_of_energy_quantitative' gradeMap}}
</ul>