<h4>
    <a href = '/extraFiles/isaacNewtonMiracleYears.html'>First Remote Learning Assignment</a>
</h4>
<h5>
    Assigned: Monday April 6, 9:30 am
</h5>
<h5>
    Due: Wednesday April 8, 9:30 am
</h5>

<h4 class = 'text-success'>
    Remote Learning Assignment 2 for AP Physics:
</h4>
<h5>
    Assigned: Wednesday April 8, 9:30 am
</h5>
<h5>
    Due: Monday April 13, 9:30 am
</h5>
<p class = 'directions'>
    Please complete each of the pages below, which review many of the basics of circular motion.
    Many of these assignments are graphical, so please handwrite them and then email me a photo of your work.
    For all formula-based questions, you must <strong>show your work</strong>.
    If you simply copy the answer you will not receive full credit.
</p>
<ul>
    <li>
        <a href = '/pod/mechanics/circular_motion/circular_vs_rotational_motion'>Circular vs. Rotational Motion</a>
    </li>
    <li>
        <a href = '/pod/mechanics/circular_motion/circular_motion_basics'>Circular Motion basics (the video is optional)</a>
    </li>
    <li>
        <a href = '/pod/mechanics/circular_motion/circular_kinematics_1'>Circular Kinematics</a>
    </li>
    <li>
        <a href = '/pod/mechanics/circular_motion/vector_analysis_circular_motion_1'>Vector Analysis of Circular Motion 1</a>
    </li>
    <li>
        <a href = '/pod/mechanics/circular_motion/centripetal_acceleration_force_formulas_1'>Centripetal Acceleration and Force Formulas</a>
    </li>
</ul>


<h4>
    Updated Information on the AP Test
</h4>
<ul>
    <li>
        The AP Physics 1 test will be administered online on Thursday May 14 at 4:00 pm.
    </li>
    <li>
        The test will include only two free-response questions:
        <ul>
            <li>
                The first question involves using equations to model some complex situation.
            </li>
            <li>
                The second question involves writing a paragraph to explain some phenomenon.
            </li>
        </ul>
    </li>
    <li>
        I am planning to host Google Hangout sessions to go over how to complete problems
        every <strong>odd</strong> day at 11:30.
    </li>
    <li>
        Waves, Electric circuits, and electrostatics have both been taken off of the AP exam.
        Therefore, we are not going to focus on these units anymore.
    </li>
    <li>
        The College Board is broadcasting lessons every day at 12:00
        <a href = 'https://www.youtube.com/playlist?list=PLoGgviqq4847W5Jc1K3o99YHTGLx-L75m'>here</a>.
        At the moment they are focusing on rotational motion, which is always good to practice.
        These are also the basis of the <a href = '/extraFiles/april2020AP.html'>AP extra credit assignment</a>.
    </li>
    <li>
        I also think that the <a href = 'https://www.flippingphysics.com/ap-physics-1-review.html'>Flipping Physics review videos</a>
        are great to watch before the test.
    </li>
    <li>
        I have been posting practice quizzes on AP classroom. If you do them, I can provide some feedback.
        (I had previously posted quizzes on waves and electric circuits, but I closed those
        down following the announcement from The College Board).
    </li>
    <li>
        You can look up the reference page <a href = '/problemSets/apReferencePage'>here</a>.
    </li>
</ul>

<h4>
    Units
</h4>
<ul>
    {{printUnitLink 'mechanics' 'circular_motion' gradeMap}}
</ul>
