<h4>
    Quizzes In Power School Q1
</h4>

<h4>
    Homework and Memorization Quizzes (low weighting)
</h4>

<ul>
    <li>
        {{individualPodLink 'kinematics' 'forward_kinematics_quantitative' 'kinematic_equations_2' gradeMap}}
    </li>
</ul>

<h4>
    In Class Quiz (high weighting)
</h4>

<ul>
    <li>
        {{individualPodLink 'dynamics' 'quantitative_dynamics' 'block_dragging_3' gradeMap}}
    </li>
</ul>

<!--<h4>-->
<!--    Current Goals-->
<!--</h4>-->

<!--<h5>-->
<!--    Do not worry about the in-class quizzes.-->
<!--    We will get to all of them in time.-->
<!--    (Also, quizzes 302-X and 402-X are not yet written, so do not worry about those).-->
<!--</h5>-->
<!--<div class = 'container'>-->
<!--    <div class = 'row'>-->
<!--        <div class = 'col-2'></div>-->
<!--        <div class = 'col-3 btn' id = 'AP_goals_topic'>Arrange By Topic</div>-->
<!--        <div class = 'col-1'></div>-->
<!--        <div class = 'col-3 btn' id = 'AP_goals_dueDate'>Arrange By Date</div>-->
<!--        <div class = 'col-2'></div>-->
<!--    </div>-->
<!--</div>-->

<!--<div id = 'AP_goals'></div>-->

<script>
    const AP_goalsObject = JSON.parse('{{{getGoalsObject "AP" gradeMap}}}');

    function writeAPGoalsByDueDate() {
        let list = listGoalsByDueDate(AP_goalsObject);
        $("#AP_goals").empty();
        $("#AP_goals").append(list);

        $("#AP_goals_dueDate").removeClass('btn-secondary');
        $("#AP_goals_dueDate").addClass('btn-primary');

        $("#AP_goals_topic").removeClass('btn-primary');
        $("#AP_goals_topic").addClass('btn-secondary');
    }

    function writeAPGoalsByTopic() {
        let list = listGoalsByTopic(AP_goalsObject);
        $("#AP_goals").empty();
        $("#AP_goals").append(list);

        $("#AP_goals_topic").removeClass('btn-secondary');
        $("#AP_goals_topic").addClass('btn-primary');

        $("#AP_goals_dueDate").removeClass('btn-primary');
        $("#AP_goals_dueDate").addClass('btn-secondary');

    }

    writeAPGoalsByDueDate();
    $("#AP_goals_dueDate").on("click",writeAPGoalsByDueDate);
    $("#AP_goals_topic").on("click",writeAPGoalsByTopic);
</script>


<!--
101 => level 3
203 => level 3
204 => level 3
301 => level 4
302 => level 4
401 => level 4
402 => level 4
403 => level 4
601 => level 4
602 => level 3
901 => level 3
1003 => level 3
-->



<h3>
    AP Physics Summer Work
</h3>

<h4>
    Guidelines
</h4>

<ul>
    <li>
        The summer work is not all due on the first day, but is spread throughout the first month of the year.
    </li>
    <li>
        After the year begins, <strong>more work</strong> will be assigned.
        The summer work is a selection of assignments that can give you a head start
        so you are not overwhelmed once the year begins.
    </li>
    <li>
        If one or two of the assignments are difficult, you can ask questions of me,
        or wait until the school year begins.
    </li>
    <li>
        During the first quarter, we will learn the basics of each topic in the curriculum,
        so that in quarters two and three we can go in depth into more challenging problems.
        Thus, the summer work includes a assignments from many different areas of physics.
    </li>
    <li>
        Please <strong>hand write</strong> all assignments.
        You can chose to either print the assignments and hand write them,
        or complete them on a separate page.
        This guideline is in place because I want students to go slowly and think through each problem.
        (Which they often don't when typing.)
    </li>
    <li>
        If we begin the year with remote learning, you will turn in your assignments as photos of handwritten pages.
    </li>
    <li>
        For math-based for formula-based assignments, please show the steps necessary to solve each problem.
        You will not receive credit for merely copying the answers.
    </li>
    <li>
        The answers are included in most of the assignments.
        I do want you to check your work.
        Early in the year, there will be <strong>quizzes</strong> on all these topics.
        If you just copy the answers and don't do the work, you will not be able to hide it.
    </li>
</ul>

<h4>
    On Due Dates:
</h4>
<p>
    I changed all of the due dates in order to reflect the hybrid schedule.
    Assignments will be due each Thursday.
</p>

<h4>
    Assignments
</h4>

<ul>
    <li>
        Due Thursday 9-17-2020: Qualitative Kinematics
        <ul>
            <li>
                <a href = '/pod/8d7e1901-7b54-49ed-885d-73e33521ab42'>Position Graphs and Motion Maps</a>
            </li>
            <li>
                <a href = '/pod/a58d595d-e56e-4755-97ef-77874604f140'>Velocity and Acceleration Graphs</a>
            </li>
            <li>
                <a href = '/pod/bc4f995f-0330-4fcb-921e-4413ae30e716'>Kinematic Graph Connections</a>
            </li>
            <li>
                Read Chapter 2 from the <a href = 'https://openstax.org/details/books/college-physics'>Open Stax College Physics Textbook</a>:
            </li>
            <li>
                <a href = 'https://openstax.org/books/college-physics/pages/2-conceptual-questions'>Chapter 2 Conceptual Questions</a>: 2, 10
            </li>
        </ul>
    </li>
    <li>
        Due Thursday 9-24-2020: Quantitative Kinematics and Quantitative Dynamics
        <ul>
            <li>
                <a href = '/pod/a08be5d5-2392-4ae7-a340-78350eb5497d'>The Acceleration Formula</a>
            </li>
            <li>
                <a href = '/pod/a3b36daf-1055-4e4e-a26b-00f1c6103e9b'>Kinematic Equations 1</a>
            </li>
            <li>
                <a href = '/pod/bd4cf23c-fb64-4eab-95c0-2409680ba9f6'>Numeric Algebra 2</a> (Numeric Algebra 1 is very easy, so we skip it)
            </li>
            <li>
                <a href = '/pod/5432544e-b0e9-490f-9d88-3064ddf83d66'>Symbolic Algebra 1</a>
            </li>
            <li>
                <a href = '/pod/4da5981b-8a41-47d4-ae3d-4da194b442f8'>Area 1</a> (Make sure you know how to find the area of a trapezoids!)
            </li>
            <li>
                <a href = '/pod/232a8df4-bee0-4e8c-9dea-81de848cb14b'>Powers of Ten</a>
            </li>
            <li>
                <a href = '/pod/193942db-85ca-404f-b453-886450e5e415'>Finding Net Force</a>
            </li>
            <li>
                <a href = '/pod/8778d7c4-b9c4-4d35-a8ff-28488849047a'>Newton's Second Law</a>
            </li>
            <li>
                <a href = '/pod/a131a756-1dd9-4e12-b8ef-b5cbb73b325f'>Finding Acceleration</a>
            </li>
            <li>
                <a href = '/pod/54c21b9a-31e8-459d-9e02-95329d57456a'>Trigonometry 1: The Pythagorean Theorem</a>
            </li>
            <li>
                <a href = '/pod/9ab51df3-4d94-4db6-b3b5-b5ff2b9badf8'>Trigonometry 2: Finding Side Length</a>
            </li>
            <li>
                <a href = '/pod/cc841e57-06b7-45ee-9058-0cf259e0470d'>EXTRA: Trigonometry 3: Finding Inverse Trigonometric Functions</a>
            </li>
            <li>
                <a href = '/pod/a5b60619-bb7e-497c-b47a-d8d05eda261d'>EXTRA: Trigonometry 4: Solving Full Triangles</a>
            </li>
        </ul>
    </li>
    <li>
        Due Thursday October 1st: Qualitative Dynamics, Qualitative Energy, Cosmology, and Basic Labs
        <ul>
            <li>
                <a href = '/pod/1a4b0bb4-1a7c-4dbe-a7d2-26f925a4787c'>Free-Body Diagrams 1</a>
            </li>
            <li>
                <a href = '/pod/86f07ce9-dd34-4bfa-a5e6-382119049bd2'>Scientific Notation 1: Scientific to Standard Notation</a>
            </li>
            <li>
                <a href = '/pod/f7055b6d-6b55-4c63-8a0b-af994105b5b6'>Scientific Notation 2: Standard to Scientific Notation</a>
            </li>
            <li>
                <a href = '/pod/f6715d58-1714-4bf3-a776-de17630bfdd1'>Scientific Notation 3: Moving from Incorrect to Correct Scientific Notation</a>
            </li>
            <li>
                <a href = '/summer_observations.pdf'>Independent Investigations</a>
            </li>
            <li>
                Read Chapter 1 from the <a href = 'https://openstax.org/details/books/college-physics'>Open Stax College Physics Textbook</a>
            </li>
            <li>
                <a href = 'https://openstax.org/books/college-physics/pages/1-conceptual-questions'>Chapter 1 Conceptual Questions</a>: 4, 7, 10
            </li>
            <li>
                <a href = '/pod/64f606c7-cfd3-4a2a-866f-10f8f17a8edd'>Scientific Notation 4: Metric to Scientific Notation</a>
            </li>
            <li>
                <a href = '/pod/7d1b7ecb-93a2-481e-8f97-258ae385abd2'>Scientific Notation 5: Scientific Notation to Metric</a>
            </li>
            <li>
                <a href = '/pod/d3ceefc8-352f-43c4-b877-63e5ad3af10a'>Scientific Notation Inequalities</a>
            </li>
            <li>
                <a href = '/pod/4563a828-9757-4cd2-93af-84e3f42fed4c'>Rounding to a Specific Number of Significant Figures</a>
            </li>
        </ul>
    </li>
    <li>
        Due Thursday October 8th: Quantitative Energy and Momentum
        <ul>
            <li>
                <a href = '/pod/8766aaae-7552-4bed-8365-95fcd4bda409'>Energy Table 1</a>
            </li>
            <li>
                <a href = '/pod/cd905e4c-d92e-4b6a-be60-b2f3cda0c68a'>Energy Formulas 1</a>
            </li>
            <li>
                <a href = '/pod/16867305-88ad-4901-b2cf-cd20fcee13e6'>Energy Table 2</a>
            </li>
            <li>
                <a href = '/pod/38654374-f04e-4154-a1b6-f2db64fc3946'>The Momentum Formula</a>
            </li>
            <li>
                <a href = '/pod/1d1e60c4-1279-400c-bf32-e8eb3d2cfc25'>Conservation of Momentum 1: Two Cars</a>
            </li>
            <li>
                <a href = '/pod/c5958795-4dbc-45e7-a23e-2549bb5eeba7'>Counting Significant Figures</a>
            </li>
        </ul>
    </li>
    <li>
        Thursday October 15: Conceptual Gravitation, Conversion Factors and Dimensional Analysis, Circular Motion and Gravitation
        <ul>
            <li>
                <a href = '/pod/0882f6fa-92f5-4604-8ff9-691c38ab4e48'>Basic Gravity</a>
            </li>
            <li>
                <a href = '/pod/f9822f56-bff2-44b6-bacf-3093b6a13613'>Conversion Factors 1: One-Step Conversions</a> (I know you can solve these problems easily, but you need ot be able to correctly write out the <em>conversion factor method</em>)
            </li>
            <li>
                <a href = '/pod/f2216597-0d0c-4345-80a7-c3d5e676712d'>Conversion Factors 2: Two- and Three-Step Conversions</a>
            </li>
            <li>
                <a href = '/pod/263ad05b-9fc8-4b5f-9269-c9649e95cea8'>Very Fast Conversions</a> (Be able to complete these conversions <em>very fast</em> and <em>effortlessly</em>).
            </li>
            <li>
                <a href = '/pod/72607f7a-ceef-4380-9939-b7a20fa3b1e6'>Memorize Metric Prefixes</a> (Please memorize from femto to Peta)
            </li>
            <li>
                <a href = '/pod/d3ceefc8-352f-43c4-b877-63e5ad3af10a'>Scientific Notation on a Calculator 1</a>
            </li>
        </ul>
    </li>
    <li>
        Due Thursday 10-22-2020: Electrostatics and Rotational Motion
        <ul>
            <li>
                <a href = '/pod/93f7fa7a-0c0b-463b-8469-61703c459285'>Electrostatics Basics</a>
            </li>
            <li>
                <a href = '/pod/ca2a4680-e923-4fed-8686-bd9acd2bf571'>Charging by Friction and Electrostatic Discharge</a>
            </li>
            <li>
                <a href = '/pod/3110aa45-4693-4450-9c79-16ce82f9ff21'>What is Charge?</a>
            </li>
            <li>
                <a href = '/pod/d6137d64-bcef-4a8e-bf1b-36002b19cbf1'>Circle Math 1</a>
            </li>
        </ul>
    </li>
    <li>
        Due Thursday 10-29-2020: DC Circuits Math and Basic Waves
        <ul>
            <li>
                <a href = '/pod/65b8b752-7ee6-421f-aede-b40ec100bfe7'>Ohm's Law</a>
            </li>
            <li>
                <a href = '/pod/8e7ca231-51f9-4990-9849-c8b6472ec77a'>The Power Formula</a>
            </li>
            <li>
                <a href = '/pod/875ae026-5f4b-4fa0-8d76-61e2b5420bbf'>Analyze Circuits 1</a>
            </li>
            <li>
                <a href = '/pod/3950df90-a5f0-45f6-bbc0-760a7865445c'>Analyze Circuits 2</a>
            </li>
            <li>
                <a href = '/pod/79415b06-1b6b-4ab2-aab8-b4785d998ded'>Electromagnetic vs. Mechanical Waves</a>
            </li>
            <li>
                <a href = '/pod/4a6e6970-b582-4430-a0f2-e1a2e61200fa'>Transverse vs. Longitudinal Waves</a>
            </li>
            <li>
                <a href = '/pod/9ac8689a-3a1d-43d6-b109-1e31c623477b'>Parts of a Wave 1: Transverse Waves</a>
            </li>
        </ul>
    </li>
</ul>
