<h4>
    Resources
</h4>
<ul>
    <li>
        <a href = '/labs/equationMemorizeJan2020StudyPage'>Reference Sheet</a>
    </li>
    <li>
        <a href = 'https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap-physics-1-equations-table.pdf'>
            Official AP Physics 1 Formula Sheet
        </a>
    </li>
    <li>
        <a href = 'https://apcentral.collegeboard.org/courses/ap-physics-1/exam/past-exam-questions'>
            Past AP Physics Open Response Questions
        </a>
    </li>
    <li>
        <a href = 'https://apcentral.collegeboard.org/courses/ap-physics-1/course'>
            AP Physics 1 Course Description
        </a>
    </li>
</ul>

<h4>
    Older Assignments
</h4>
<ul>
    <li>
        <a href = '/extraFiles/isaacNewtonMiracleYears.html'>Remote Learning Assignment 1: Isaac Newton</a>
    </li>
    <li>
        <a href = 'unit/mechanics/circular_motion'>Remote Learning Assignment 2: Study Pages A - E On Circular Motion</a>
    </li>
    <li>
        <a href = '/extraFiles/alvin_video.html'>Remote Learning Assignment 3A: Video on Uploading Quizzes</a>
    </li>
    <li>
        <a href = 'unit/mechanics/circular_motion'>Remote Learning Assignment 3B: Circular Motion Quizzes A - E</a>
    </li>
    <li>
        <a href = 'unit/mechanics/circular_motion'>Remote Learning Assignment 4: Work and Power Quizzes A - F</a>
    </li>
    <li>
        <a href = '/unit/mechanics/work_and_power'>Remote Learning Assignment 5: Work and Power Quizzes G - J</a>
    </li>
    <li>
        Remote Learning Assignment 6: 18 total quiz attempts
    </li>
    <li>
        Remote Learning Assignment 7: 20 Total Quiz Attempts
    </li>
    <li>
        Remote Learning Assignment 8:
        <ul>
            <li>
                Giancoli, read pages 212 - 218 on Rotational Kinetic Energy
                and Angular Momentum.
                Take at least 5 notes and turn them in.
            </li>
            <li>
                Giancoli, page 225 - 226, question 62, 65
            </li>
            <li>
                From
                <a href = '/pod/rotational_motion/rotational_conservation_laws/rotational_conserved_quantities_1'> this page</a>
                on angular quantities, complete problems <strong>A.5</strong> and <strong>A.12</strong> only.
            </li>
        </ul>
    </li>
    <li>
        Remote Learning Assignment 9:
        <ul>
            <li>
                <a href = '/pod/dynamics/system_dynamics/atwood_machines_1'>Atwood Machines 1</a>
            </li>
            <li>
                <a href = '/pod/dynamics/system_dynamics/atwood_machines_2'>Atwood Machines 2</a>
            </li>
        </ul>
    </li>
    <li>
        Remote Learning Assignment 10:
        <ul>
            <li>
                Please take the QUIZ for <a href = '/pod/dynamics/system_dynamics/atwood_machines_1'>Atwood Machines 1</a>.
                Submit online if you can, or submit to me via email if you cannot.
            </li>
            <li>
                Giancoli: Read pages 93 - 97.
                On pages 103-104, answer questions 37, 47, 50
            </li>
        </ul>
    </li>
    <li>
        Remote Learning Assignment 11:
        The AP Classroom assessments are closed, but you can still complete the
        <a href = '/pod/waves/wave_structure/speed_of_sound_and_light_in_media'>alternative assignment</a>.
    </li>
    <li>
        Remote Learning Assigment 12:
        The AP Classroom assessments are closed, but you can still complete the
        <a href = '/pod/waves/sound_properties/doppler_effect'>alternative assignment</a>.
    </li>
</ul>


<h4>
    No Assignment Due Thursday May 14 or Monday May 18.
</h4>
<p>
    Thursday is the AP test. Good Luck!
    After the AP test, take a break from physics :).
</p>
