{{displayDueDates 'AP' 2021 gradeMap}}


<!--<h4>-->
<!--    Current Goals-->
<!--</h4>-->

<!--<h5>-->
<!--    Do not worry about the in-class quizzes.-->
<!--    We will get to all of them in time.-->
<!--    (Also, quizzes 302-X and 402-X are not yet written, so do not worry about those).-->
<!--</h5>-->
<!--<div class = 'container'>-->
<!--    <div class = 'row'>-->
<!--        <div class = 'col-2'></div>-->
<!--        <div class = 'col-3 btn' id = 'AP_goals_topic'>Arrange By Topic</div>-->
<!--        <div class = 'col-1'></div>-->
<!--        <div class = 'col-3 btn' id = 'AP_goals_dueDate'>Arrange By Date</div>-->
<!--        <div class = 'col-2'></div>-->
<!--    </div>-->
<!--</div>-->

<!--<div id = 'AP_goals'></div>-->

<script>
    const AP_goalsObject = JSON.parse('{{{getGoalsObject "AP" gradeMap}}}');

    function writeAPGoalsByDueDate() {
        let list = listGoalsByDueDate(AP_goalsObject);
        $("#AP_goals").empty();
        $("#AP_goals").append(list);

        $("#AP_goals_dueDate").removeClass('btn-secondary');
        $("#AP_goals_dueDate").addClass('btn-primary');

        $("#AP_goals_topic").removeClass('btn-primary');
        $("#AP_goals_topic").addClass('btn-secondary');
    }

    function writeAPGoalsByTopic() {
        let list = listGoalsByTopic(AP_goalsObject);
        $("#AP_goals").empty();
        $("#AP_goals").append(list);

        $("#AP_goals_topic").removeClass('btn-secondary');
        $("#AP_goals_topic").addClass('btn-primary');

        $("#AP_goals_dueDate").removeClass('btn-primary');
        $("#AP_goals_dueDate").addClass('btn-secondary');

    }

    writeAPGoalsByDueDate();
    $("#AP_goals_dueDate").on("click",writeAPGoalsByDueDate);
    $("#AP_goals_topic").on("click",writeAPGoalsByTopic);
</script>


<!--
101 => level 3
203 => level 3
204 => level 3
301 => level 4
302 => level 4
401 => level 4
402 => level 4
403 => level 4
601 => level 4
602 => level 3
901 => level 3
1003 => level 3
-->

