<h3>
    AP Physics
</h3>

<h4>
    Units
</h4>
<ul>
    {{printUnitLink 'fundamental_forces' 'inverse_square_laws' gradeMap}}
    {{printUnitLink 'waves' 'harmonics' gradeMap}}
    {{printUnitLink 'electric_circuits' 'dc_circuit_math_1' gradeMap}}


</ul>

<h4>
    Homework Due Wednesday March 3
</h4>
<ul>
    <li>
        Karl the Cannon is trying to hit a pirate ship
        that is 50 meters away.
        He aims at 27 degrees, thinking he will hit it,
        but because he is on a different planet,
        his shot goes 15 meters too far.
    </li>
    <li>
        Determine the angle at which Karl must aim
        in order to strike a direct hit.
    </li>
    <li>
        Write you solution up neatly.
        It should be at least a page long.
        In your writeup:
        <ul>
            <li>
                State any formulas you use clearly.
            </li>
            <li>
                If you derive new formulas to help
                you solve the problem, show how you derived
                them and explain why.
            </li>
            <li>
                If you need to find any unknown quantities
                in order to solve this problem,
                explain why you need them
                and show how you found them.
            </li>
        </ul>
    </li>
</ul>

<h4>
    Homework Due Monday March 2
</h4>
<ul>
    <li>
        <a href = '/pod/mechanics/projectile_motion/cannon_problems_1'>Cannon Problems 1: Numeric Solutions</a>
        (You should be able to complete all of these).
    </li>
    <li>
        <a href = '/pod/mechanics/projectile_motion/cannon_problems_2'>Cannon Problems 2: Using the quadratic equation</a>
        (Try your best to complete all of these)
    </li>
    <li>
        <a href = '/pod/mechanics/projectile_motion/cannon_problems_4'>Cannon Problems 4: Algebraic Solutions</a>
        (#1 is required and very crucial for Monday, #2 is a challenge problem).
    </li>
    <li>
        Giancoli, read pages 292 - 304.
        (I may have assigned these already, but reread them and focus on understanding two oscillators: springs and pendulums.)
    </li>
    <li>
        Look at the formulas for <strong>period</strong> and <strong>frequency</strong> of a spring and pendulum.
        These are formulas on the AP test! One of them was the focus of the lab yesterday.
    </li>
    <li>
        Page 322: # 3 - 4 (using the period of a spring formula). try # 7 (using proporitonality with the spring formula).
    </li>
</ul>

<h4>
    Homework Due Thursday 2-27: Projectile Motion
</h4>

<ul>
    <li>
        <a href = '/pod/mechanics/projectile_motion/pop_up_1'>Pop-Up 1: Numeric Solutions</a>
    </li>
    <li>
        <a href = '/pod/mechanics/projectile_motion/pop_up_4'>Pop-Up 4: Algebraic Solutions</a>
    </li>
    <li>
        <a href = '/pod/mechanics/projectile_motion/horizontal_launch_1'>Horizontal Launch 1: Numeric Solutions</a>
    </li>
    <li>
        <a href = '/pod/mechanics/projectile_motion/horizontal_launch_3'>Horizontal Launch 3: Algebraic Solutiosn</a>
    </li>
    <li>
        Finish the write up of the Hooke's Law Lab.
    </li>
</ul>

<h4>
    Vacation Homework
</h4>
<p>
    (Links will be added to the list by tonight: 2-14-2020.)
</p>
<ul>
    <li>
        <a href = '/extraFiles/one_problem_per_formula.pdf'>Formula Practice</a>
        Please use the <a href = '/labs/equationMemorizeJan2020StudyPage'>reference page</a> or the <a href = 'https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap-physics-1-equations-table.pdf'>AP formula sheet</a>.
    </li>
    <li>
        Learn, by yourself, the basics of waves and wave motion.
        In the <a href ='/unit/waves/wave_structure'> Wave Structure</a>, complete sections
        A, B, C, F, H, I, and J. If you know how, also complete sections D, E, and L.
    </li>
    <li>
        Memorize a <a href = '/extraFiles/constants_to_memorize.pdf'>set of constants</a> (quiz the week after break)
    </li>
    <li>
        Practice the <a href = '/extraFiles/very_fast_conversions.pdf'>very fast conversions</a>. (under 1 min quiz the week after break)
    </li>
    <li>
        (optional) Memorize the Greek Alphabet [The name of each capital and lowercase letter.]
    </li>
    <li>
        Recommended: Lots of practice on <a href = '/unit/mechanics/projectile_motion'>projectile motion</a>.
        A significant amount of this work will be due on Monday, March 2. More details later in vacation.
    </li>
</ul>

<!--
<h3>
    Manila Folder Organization:
</h3>
<p>
    Please put assignments IN ORDER and number all assignments!
</p>

<ol>
    <li>
        Problem set 1: Mass of the sun and earth
        <ul>
            <li>
                Determine the mass of the sun by using only
                the period of the earth's revolution and the
                distance between the earth and the sun.
                Write up the solution neatly, as though it were an essay.
                For each formula you use, identify the formula,
                and explain why you are using it.
                Show several steps of algebraic manipulation.
                Diagrams are welcome.
            </li>
            <li>
                Determine the mass of the earth by using only
                the period of the moon's revolution and the
                distance between the earth and the moon.
                Write it up neatly as with the problem above.
            </li>
        </ul>
    </li>
    <li>
        Problem set #2: <a href = '/extraFiles/willy_the_wizard_problem_set.pdf'>Slow Down the World</a>
        For each equation you use, identify it and explain why you chose that equation!
    </li>

    <li>
        Don't have fun!
    </li>
    <li>
        Giancoli Textbook: Page 133, questions 28 - 30. (On the universal law of gravitation)
    </li>
    <li>
        Have fun!
    </li>
    <li>
        Giancoli Textbook: Page 469, questions 1 - 3. (On Coulomb's Law.
    </li>
    <li>
        Complete all the packets that have been passed out in class
        on the Law of Universal Gravitation and Coulomb's Law.
        They are listed as sections E, F, G, and X of the
        <a href = '/unit/fundamental_forces/inverse_square_laws'>inverse square law unit</a>.
    </li>
    <li>
        Giancoli
        Page 132 #1, 5, 18
        <br>
        [Problems on centripetal acceleration and force, see pages 110 - 114 for content]
    </li>
    <li>
        Giancoli Page 134: #37, 38, 39
        <br>
        [Problems on the formula for free-fall acceleration, see pages 121 - 122]
    </li>
    <li>
        Giancoli page 320: #4, #5, #8, #9 (written questions)
    </li>
    <li>
        Answer <a href = '/extraFiles/ap_homework_2-4.html'>these questions</a> regarding waves.
    </li>
    <li>
        Do either <a href = '/pod/electric_circuits/dc_circuit_math_1/analyze_circuits_1'>PART C</a>
        or <a href = '/pod/electric_circuits/dc_circuit_math_1/analyze_circuits_2'>PART D</a>
        on electric circuits.
        Part C we've already completed once, but it seemed in class that people
        needed to practice it more, which is okay.
        Part D is slightly tougher, so if you feel confident you understand part C,
        do part D.
        Or do both!
    </li>
    <li>
        Giancoli Page 134 problem # 41 (on the Universal Law of Gravitation).
    </li>
    <li>
        Watch a movie!
    </li>
    <li>
        Sleep!
    </li>
    <li>
        Jump up and down!
    </li>
    <li>
        <a href = '/contentFiles/light_bulb_activity.pdf'>Finish the Light Bulb Activity</a>
    </li>
    <li>
        Giancoli Page 18 Problem # 19
    </li>
    <li>
        Giancoli Read 159 - 161 (on the power formula), Page 167 Problems # 37 and #59
    </li>
    <li>
        Reading assignment from <a href = '/contentFiles/clockwork_reading_feb.html'>The clockwork universe</a>
    </li>
    <li>
        <a href = '/contentFiles/rotational_motion_equation_review.pdf'>Rotational Motion Equation Review</a> Please practice to be prepared for the activity on Wednesday!
    </li>
    <li>
        <a href = '/pod/fundamental_forces/inverse_square_laws/derive_free_fall_acceleration'>Derive free-fall acceleration</a> (problems 1 -6 and practice the proof!)
    </li>
    <li>
        <a href = '/pod/fundamental_forces/inverse_square_laws/algebraic_inverse_square'>Algebraic Inverse Square Laws</a> (Problems 1 - 10 required, 11 - 13 recommended if you want to pass this quiz).
    </li>
    <li>
        <a href = '/pod/fundamental_forces/inverse_square_laws/inverse_square_law_proportionality'>Inverse Square Law Proportionality</a> (Problems 1 -8 required, other problems not required but coming soon to help you practice for the quiz).
    </li>
    <li>
        Giancoli page 168, Problem 81.
        Use the formulas for WORK and POWER to solve this problem!
    </li>
</ol>


-->