

<ul>
    <li>
        AP Physics Remote Learning Assignment 1:
        <a href = '/extraFiles/isaacNewtonMiracleYears.html'>Isaac Newton</a>
    </li>
    <li>
        AP Physics Remote Learning Assignment 2:
        <a href = 'unit/dynamics/circular_motion'>Study Pages A - E On Circular Motion</a>
    </li>
    <li>
        AP Physics Remote Learning Assignment 3:
        <ul>
            <li>
                <a href = '/extraFiles/alvin_video.html'>Video on Uploading Quizzes</a>
            </li>
            <li>
                <a href = 'unit/dynamics/circular_motion'>Circular Motion Quizzes A - E</a>
            </li>
        </ul>
    </li>
    <li>
        AP Physics Remote Learning Assignment 4:
        <a href = 'unit/dynamics/circular_motion'>Work and Power Quizzes A - F</a>
    </li>
    <li>
        AP Physics Remote Learning Assignment 5:
        <a href = '/unit/energy/work_and_power'>Work and Power Quizzes G - J</a>
    </li>
    <li>
        AP Physics Remote Learning Assignment 6: 18 total quiz attempts
    </li>
    <li>
        AP Physics Remote Learning Assignment 7: 20 Total Quiz Attempts
    </li>
    <li>
        AP Physics Remote Learning Assignment 8:
        <ul>
            <li>
                Giancoli, read pages 212 - 218 on Rotational Kinetic Energy
                and Angular Momentum.
                Take at least 5 notes and turn them in.
            </li>
            <li>
                Giancoli, page 225 - 226, question 62, 65
            </li>
            <li>
                From
                <a href = '/pod/rotational_motion/rotational_conservation_laws/rotational_conserved_quantities_1'> this page</a>
                on angular quantities, complete problems <strong>A.5</strong> and <strong>A.12</strong> only.
            </li>
        </ul>
    </li>
    <li>
        AP Physics Remote Learning Assignment 9:
        <ul>
            <li>
                <a href = '/pod/dynamics/system_dynamics/atwood_machines_1'>Atwood Machines 1</a>
            </li>
            <li>
                <a href = '/pod/dynamics/system_dynamics/atwood_machines_2'>Atwood Machines 2</a>
            </li>
        </ul>
    </li>
    <li>
        AP Physics Remote Learning Assignment 10:
        <ul>
            <li>
                Please take the QUIZ for <a href = '/pod/dynamics/system_dynamics/atwood_machines_1'>Atwood Machines 1</a>.
                Submit online if you can, or submit to me via email if you cannot.
            </li>
            <li>
                Giancoli: Read pages 93 - 97.
                On pages 103-104, answer questions 37, 47, 50
            </li>
        </ul>
    </li>
    <li>
        AP Physics Remote Learning Assignment 11:
        The AP Classroom assessments are closed, but you can still complete the
        <a href = '/pod/waves/wave_structure/speed_of_sound_and_light_in_media'>alternative assignment</a>.
    </li>
    <li>
        AP Physics Remote Learning Assigment 12:
        The AP Classroom assessments are closed, but you can still complete the
        <a href = '/pod/waves/sound_properties/doppler_effect'>alternative assignment</a>.
    </li>
    <li>
        AP Physics Remote Learning Assignment 13:
        <a href = '/labs/energySkateParkBasics'>Energy Skate Park Lab</a>
    </li>
    <li>
        AP Physics Remote Learning Assignment 14:
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_wave_basics'>Electromagnetic Wave Basics</a>
    </li>
    <li>
        AP Physics Remote Learning Assignment 15:
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_1'>Electromagnetic Spectrum 1</a>
    </li>
    <li>
        AP Physics Remote Learning Assignment 16:
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/long_wavelength_astronomy'>Long Wavelength Astronomy</a>
    </li>
    <li>
        AP Physics Remote Learning Assignment 17:
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/short_wavelength_astronomy'>Short Wavelength Astronomy</a>
    </li>
    <li>
        AP Physics Remote Learning Assignment 18:
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_2'>Electromagnetic Spectrum 2</a>
    </li>
    <li>
        AP Physics Remote Learning Assignment 19:
        <a href = '/labs/colorVisionVirtual'>Color Vision Virtual Lab</a>
    </li>
</ul>





<!--<h4>-->
<!--    Resources-->
<!--</h4>-->
<!--<ul>-->
<!--    <li>-->
<!--        <a href = '/labs/equationMemorizeJan2020StudyPage'>Reference Sheet</a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href = 'https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap-physics-1-equations-table.pdf'>-->
<!--            Official AP Physics 1 Formula Sheet-->
<!--        </a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href = 'https://apcentral.collegeboard.org/courses/ap-physics-1/exam/past-exam-questions'>-->
<!--            Past AP Physics Open Response Questions-->
<!--        </a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href = 'https://apcentral.collegeboard.org/courses/ap-physics-1/course'>-->
<!--            AP Physics 1 Course Description-->
<!--        </a>-->
<!--    </li>-->
<!--</ul>-->