<h4>
    Older Assignments
</h4>
<ul>
    <li>
        <a href = '/extraFiles/isaacNewtonMiracleYears.html'>Remote Learning Assignment 1: Isaac Newton</a>
    </li>
    <li>
        <a href = 'unit/mechanics/circular_motion'>Remote Learning Assignment 2: Study Pages A - E On Circular Motion</a>
    </li>
    <li>
        <a href = '/extraFiles/alvin_video.html'>Remote Learning Assignment 3A: Video on Uploading Quizzes</a>
    </li>
    <li>
        <a href = 'unit/mechanics/circular_motion'>Remote Learning Assignment 3B: Circular Motion Quizzes A - E</a>
    </li>
    <li>
        <a href = 'unit/mechanics/circular_motion'>Remote Learning Assignment 4: Work and Power Quizzes A - F</a>
    </li>
    <li>
        <a href = '/unit/mechanics/work_and_power'>Remote Learning Assignment 5: Work and Power Quizzes G - J</a>
    </li>
    <li>
        Remote Learning Assignment 6: 18 total quiz attempts
    </li>
    <li>
        Remote Learning Assignment 7: 20 Total Quiz Attempts
    </li>
    <li>
        Remote Learning Assignment 8:
        <ul>
            <li>
                Giancoli, read pages 212 - 218 on Rotational Kinetic Energy
                and Angular Momentum.
                Take at least 5 notes and turn them in.
            </li>
            <li>
                Giancoli, page 225 - 226, question 62, 65
            </li>
            <li>
                From
                <a href = '/pod/rotational_motion/rotational_conservation_laws/rotational_conserved_quantities_1'> this page</a>
                on angular quantities, complete problems <strong>A.5</strong> and <strong>A.12</strong> only.
            </li>
        </ul>
    </li>

</ul>

<p>
    Please take quizzes exclusively from these four units (for now):
</p>
<ul>
    <li>
        <a href = '/unit/mechanics/circular_motion'>Circular Motion</a>
    </li>
    <li>
        <a href = '/unit/mechanics/work_and_power'>Work and Power</a>
    </li>
    <li>
        <a href = '/unit/mechanics/two_dimensional_dynamics'>Two-Dimensional Dynamics</a>
    </li>
    <li>
        <a href = '/unit/mechanics/system_dynamics'>System Dynamics</a>
    </li>
</ul>


<h4>
    Remote Learning Assignment 9
</h4>
<p>
    Assigned Thursday April 30, 9:30 am; Due Monday May 4 11:59 pm
</p>
<ul>
    <li>
        <a href = '/pod/mechanics/system_dynamics/atwood_machines_1'>Atwood Machines 1</a>
    </li>
    <li>
        <a href = '/pod/mechanics/system_dynamics/atwood_machines_2'>Atwood Machines 2</a>
    </li>
</ul>

<h4>
    Remote Learning Assignment 10
</h4>
<p>
    Assigned Monday May 4, 9:30 am; Due Wednesday May 6 11:59 pm
</p>
<ul>
    <li>
        Please take the QUIZ for <a href = '/pod/mechanics/system_dynamics/atwood_machines_1'>Atwood Machines 1</a>.
        Submit online if you can, or submit to me via email if you cannot.
    </li>
    <li>
        Giancoli: Read pages 93 - 97.
        On pages 103-104, answer questions 37, 47, 50
    </li>
</ul>

<h4>
    Remote Learning Assignment 11
</h4>
<p>
    Assigned Wednesday May 6, 9:30 am; Due Friday May 7 11:59 pm
</p>
<ul>
    <li>
        If you are taking the AP test,
        your assignment is to complete the quiz in AP classroom
        title "Three Short Paragraph Response Questions".
    </li>
    <li>
        If you opted out, you can chose between the AP Classroom assignment or the
        <a href = '/pod/waves/wave_structure/speed_of_sound_and_light_in_media'>alternative assignment</a>.
    </li>
</ul>

<h4>
    Remote Learning Assignment 12
</h4>
<p>
    Assigned Friday May 8, 9:30 am; Due Tuesday May 12 11:59 pm
</p>
<ul>
    <li>
        If you are taking the AP test,
        your assignment is to complete the quiz in AP classroom
        title "Three Short Qualitative Quantitative Translation Questions".
    </li>
    <li>
        If you opted out, you can chose between the AP Classroom assignment or the
        <a href = '/pod/waves/sound_properties/doppler_effect'>alternative assignment</a>.
    </li>
    <li>
        Note that this is the final assignment before the AP test.
    </li>
</ul>


<h4>
    Do you want to study more for the AP test?
</h4>
<p>
    I created two quizzes on AP Classroom that focus exclusively on the types
    of questions that will be on the AP test: Qualitative-Quantitative Translation
    and Short-Paragraph Response.
    All AP Classroom quizzes will be optional!
    But, if you complete them, I will score them and  give comments
</p>
<p>
    Of course, there are also the live streams, and many other places to study.
</p>

<!--<h4>-->
<!--    Updated Information on the AP Test-->
<!--</h4>-->
<!--<ul>-->
<!--    <li>-->
<!--        The AP Physics 1 test will be administered online on Thursday May 14 at 4:00 pm.-->
<!--    </li>-->
<!--    <li>-->
<!--        The test will include only two free-response questions:-->
<!--        <ul>-->
<!--            <li>-->
<!--                The first question involves using equations to model some complex situation.-->
<!--            </li>-->
<!--            <li>-->
<!--                The second question involves writing a paragraph to explain some phenomenon.-->
<!--            </li>-->
<!--        </ul>-->
<!--    </li>-->
<!--    <li>-->
<!--        I am planning to host Google Hangout sessions to go over how to complete problems-->
<!--        every <strong>odd</strong> day at 11:30.-->
<!--    </li>-->
<!--    <li>-->
<!--        Waves, Electric circuits, and electrostatics have both been taken off of the AP exam.-->
<!--        Therefore, we are not going to focus on these units anymore.-->
<!--    </li>-->
<!--    <li>-->
<!--        The College Board is broadcasting lessons every day at 12:00-->
<!--        <a href = 'https://www.youtube.com/playlist?list=PLoGgviqq4847W5Jc1K3o99YHTGLx-L75m'>here</a>.-->
<!--        At the moment they are focusing on rotational motion, which is always good to practice.-->
<!--        These are also the basis of the <a href = '/extraFiles/april2020AP.html'>AP extra credit assignment</a>.-->
<!--    </li>-->
<!--    <li>-->
<!--        I also think that the <a href = 'https://www.flippingphysics.com/ap-physics-1-review.html'>Flipping Physics review videos</a>-->
<!--        are great to watch before the test.-->
<!--    </li>-->
<!--    <li>-->
<!--        I have been posting practice quizzes on AP classroom. If you do them, I can provide some feedback.-->
<!--        (I had previously posted quizzes on waves and electric circuits, but I closed those-->
<!--        down following the announcement from The College Board).-->
<!--    </li>-->
<!--    <li>-->
<!--        You can look up the reference page <a href = '/problemSets/apReferencePage'>here</a>.-->
<!--    </li>-->
<!--</ul>-->

<h4>
    Units
</h4>
<ul>
    {{printUnitLink 'mechanics' 'circular_motion' gradeMap}}
    {{printUnitLink 'mechanics' 'work_and_power' gradeMap}}
    {{printUnitLink 'mechanics' 'two_dimensional_dynamics' gradeMap}}
</ul>
