<h3>
    AP Physics
</h3>
<video width = '400px' height = 'auto' controls>
    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/ap_3-27-2020.mp4' type = 'video/mp4'>
</video>
<ul>
    <li>
        Waves, Electric circuits, and electrostatics have both been taken off of the AP exam.
        Therefore, we are not going to focus on these units anymore.
    </li>
    <li>
        The College Board is broadcasting lessons every day at 12:00
        <a href = 'https://www.youtube.com/watch?v=ixsIR0yKytA&list=PLoGgviqq4847W5Jc1K3o99YHTGLx-L75m'>here</a>.
        At the moment they are focusing on rotational motion, which is always good to practice.
    </li>
    <li>
        I also think that the <a href = 'https://www.flippingphysics.com/ap-physics-1-review.html'>Flipping Physics review videos</a>
        are great to watch before the test.
    </li>
    <li>
        I have been posting practice quizzes on AP classroom. If you do them, I can provide some feedback.
        (I had previously posted quizzes on waves and electric circuits, but I closed those
        down following the announcement from The College Board).
    </li>
    <li>
        The AP exam this year will include <strong>only</strong> open-response questions.
        There will be no multiple choice questions. Soon, I will close all of the multiple choice
        questions I have provided on AP classroom, and assign only open-response questions from here on.
    </li>
    <li>
        My quizzes (the one's you take for my class, not the AP classroom quizzes)
        will reopen on Monday, 3-30-2020. I will work out a policy for retaking quizzes before that date.
        I believe that Coulomb's law is no longer on the AP test, but the Law of Universal Gravitation still is.
    </li>
    <li>
        No final grades for anything will be submitted until at least one week after school is in session again,
        whenever or however that is. If you chose not to do nay work until that time, it will not affect your grade,
        but this is still a good opportunity to improve and build for the AP test.
    </li>
    <li>
        You can look up the reference page <a href = '/problemSets/apReferencePage'>here</a>.
    </li>
</ul>



<h4>
    Units
</h4>
<ul>
    {{printUnitLink 'fundamental_forces' 'inverse_square_laws' gradeMap}}
</ul>

<!--
<h4>
    Homework Going Forward
</h4>
<p>
    I am waiting to see what is happening with Massachusetts public schools
    before posting any assignments.
    - Mr. Kuncik
</p>

<h4>
    Homework recommended to complete by Thursday March 12
</h4>
<ul>
    <li>
        Solve the <a href = '/pod/electric_circuits/dc_circuit_math_1/analyze_circuits_3'>one-step accordion circuits</a>.
        You don't need to do the extra problems at the bottom,
        only the problems on the page.
    </li>
    <li>
        Giancoli read pages 526 - 532 on Direct-Current Circuits,
        and especially focus on the sections on equivalent resistance and
        equivalent circuits.
        On page 552, complete questions 4, 5, and 6.
    </li>
    <li>
        Then, continue in Giancoli. Read pages 532 -535 on Kirchoff's Laws.
        We will learn more about these rules next week, but you are already using them
        without even knowing it!
        Especially take a look at Figure 19-12 on page 533, which is a diagram
        of electric potential like the one's we've made in class.
        On page 553, complete question 25.
    </li>
    <li>
        Watch this video regarding the basics of standing waves and harmonics.
        There aren't any questions, but this can really help you comprehend harmonics! <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DUPLRe5PHvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
</ul>

<h4>
    Homework due Tuesday March 10
</h4>
<ul>
    <li>
        Giancoli read pages 315 - 316 an pages 328 - 340.
        Focus on the information for different types of harmonics.
    </li>
    <li>
        Giancoli page 324 # 38, 49, 50, 51
    </li>
    <li>
        In the <a href = '/unit/waves/harmonics'>unit on harmonics</a>,
        complete sections F, G, H, I. We completed portions of F, G, and H in class on Friday.
    </li>
    <li>
        Complete the <a href="/quizzes/waves/harmonics">harmonics quizzes</a> A - E.
        (Quiz A will be posted later today).
        These quizzes are on the simpler harmonics questions from earlier this week.
        You must complete the ALONE and use your own code to take them.
        Please turn them in inside an envelope.
    </li>
</ul>

<h4>
    Upcoming Schedule!
</h4>
<ul>
    <li>
        Tuesday March 8:
        Learn about electric circuit math!
        Take one quiz.
        Homework will be significant practice with electric circuits
        and potentially electric circuit take home quizzes.
    </li>
    <li>
        Thursday March 10:
        Practice/more challenging problems on both electric circuits
        and harmonics.
        You will work in assigned groups of 2 - 3.
        Take one quiz at the end.
        Homework will likely be reading and problems from the book
        building on your knowledge of electric circuits and harmonics.
    </li>
    <li>
        Week of March 16: (3 classes scheduled)
        Begin completing one open response problem each class period.
        Time to work on quizzes on harmonics and electric circuits.
        Electric circuit labs (and maybe harmonic labs as well).
        You should also begin studying for the next reference memorization quiz,
        which will include all formulas on the AP formula sheet plus several more principles.
        Homework organization at the end of the week.
    </li>
</ul>


<h4>
    Homework Due Friday March 6
</h4>
<ul>
    <li>
        <a href = '/unit/waves/harmonics'>Harmonics Sections A - E</a>
    </li>
</ul>

<h4>
    Homework Due Wednesday March 4
</h4>
<ul>
    <li>
        Karl the Cannon is trying to hit a pirate ship
        that is 50 meters away.
        He aims at 27 degrees, thinking he will hit it,
        but because he is on a different planet,
        his shot goes 15 meters too far.
    </li>
    <li>
        Determine the angle at which Karl must aim
        in order to strike a direct hit.
    </li>
    <li>
        Write you solution up neatly.
        It should be at least a page long.
        In your writeup:
        <ul>
            <li>
                State any formulas you use clearly.
            </li>
            <li>
                If you derive new formulas to help
                you solve the problem, show how you derived
                them and explain why.
            </li>
            <li>
                If you need to find any unknown quantities
                in order to solve this problem,
                explain why you need them
                and show how you found them.
            </li>
        </ul>
    </li>
</ul>

<h4>
    Homework Due Monday March 2
</h4>
<ul>
    <li>
        <a href = '/pod/mechanics/projectile_motion/cannon_problems_1'>Cannon Problems 1: Numeric Solutions</a>
        (You should be able to complete all of these).
    </li>
    <li>
        <a href = '/pod/mechanics/projectile_motion/cannon_problems_2'>Cannon Problems 2: Using the quadratic equation</a>
        (Try your best to complete all of these)
    </li>
    <li>
        <a href = '/pod/mechanics/projectile_motion/cannon_problems_4'>Cannon Problems 4: Algebraic Solutions</a>
        (#1 is required and very crucial for Monday, #2 is a challenge problem).
    </li>
    <li>
        Giancoli, read pages 292 - 304.
        (I may have assigned these already, but reread them and focus on understanding two oscillators: springs and pendulums.)
    </li>
    <li>
        Look at the formulas for <strong>period</strong> and <strong>frequency</strong> of a spring and pendulum.
        These are formulas on the AP test! One of them was the focus of the lab yesterday.
    </li>
    <li>
        Page 322: # 3 - 4 (using the period of a spring formula). try # 7 (using proporitonality with the spring formula).
    </li>
</ul>

<h4>
    Homework Due Thursday 2-27: Projectile Motion
</h4>

<ul>
    <li>
        <a href = '/pod/mechanics/projectile_motion/pop_up_1'>Pop-Up 1: Numeric Solutions</a>
    </li>
    <li>
        <a href = '/pod/mechanics/projectile_motion/pop_up_4'>Pop-Up 4: Algebraic Solutions</a>
    </li>
    <li>
        <a href = '/pod/mechanics/projectile_motion/horizontal_launch_1'>Horizontal Launch 1: Numeric Solutions</a>
    </li>
    <li>
        <a href = '/pod/mechanics/projectile_motion/horizontal_launch_3'>Horizontal Launch 3: Algebraic Solutiosn</a>
    </li>
    <li>
        Finish the write up of the Hooke's Law Lab.
    </li>
</ul>

<h4>
    Vacation Homework
</h4>
<p>
    (Links will be added to the list by tonight: 2-14-2020.)
</p>
<ul>
    <li>
        <a href = '/extraFiles/one_problem_per_formula.pdf'>Formula Practice</a>
        Please use the <a href = '/labs/equationMemorizeJan2020StudyPage'>reference page</a> or the <a href = 'https://secure-media.collegeboard.org/digitalServices/pdf/ap/ap-physics-1-equations-table.pdf'>AP formula sheet</a>.
    </li>
    <li>
        Learn, by yourself, the basics of waves and wave motion.
        In the <a href ='/unit/waves/wave_structure'> Wave Structure</a>, complete sections
        A, B, C, F, H, I, and J. If you know how, also complete sections D, E, and L.
    </li>
    <li>
        Memorize a <a href = '/extraFiles/constants_to_memorize.pdf'>set of constants</a> (quiz the week after break)
    </li>
    <li>
        Practice the <a href = '/extraFiles/very_fast_conversions.pdf'>very fast conversions</a>. (under 1 min quiz the week after break)
    </li>
    <li>
        (optional) Memorize the Greek Alphabet [The name of each capital and lowercase letter.]
    </li>
    <li>
        Recommended: Lots of practice on <a href = '/unit/mechanics/projectile_motion'>projectile motion</a>.
        A significant amount of this work will be due on Monday, March 2. More details later in vacation.
    </li>
</ul>


<h3>
    Older Assignments:
</h3>
<ul>
    <li>
        <a href = '/extraFiles/mass_of_the_sun.html'>Mass of the Sun Problem Set</a>
    </li>
    <li>
        <a href = '/pod/mathematics/scientific_notation/memorize_metric_prefixes'>Metric Prefixes to Memorize</a>
    </li>
    <li>
        <a href = '/extraFiles/constants_to_memorize.pdf'>Constants to Memorize</a>
    </li>
</ul>
-->
<!--
<h3>
    Manila Folder Organization:
</h3>
<p>
    Please put assignments IN ORDER and number all assignments!
</p>

<ol>
    <li>
        Problem set 1: Mass of the sun and earth
        <ul>
            <li>
                Determine the mass of the sun by using only
                the period of the earth's revolution and the
                distance between the earth and the sun.
                Write up the solution neatly, as though it were an essay.
                For each formula you use, identify the formula,
                and explain why you are using it.
                Show several steps of algebraic manipulation.
                Diagrams are welcome.
            </li>
            <li>
                Determine the mass of the earth by using only
                the period of the moon's revolution and the
                distance between the earth and the moon.
                Write it up neatly as with the problem above.
            </li>
        </ul>
    </li>
    <li>
        Problem set #2: <a href = '/extraFiles/willy_the_wizard_problem_set.pdf'>Slow Down the World</a>
        For each equation you use, identify it and explain why you chose that equation!
    </li>

    <li>
        Don't have fun!
    </li>
    <li>
        Giancoli Textbook: Page 133, questions 28 - 30. (On the universal law of gravitation)
    </li>
    <li>
        Have fun!
    </li>
    <li>
        Giancoli Textbook: Page 469, questions 1 - 3. (On Coulomb's Law.
    </li>
    <li>
        Complete all the packets that have been passed out in class
        on the Law of Universal Gravitation and Coulomb's Law.
        They are listed as sections E, F, G, and X of the
        <a href = '/unit/fundamental_forces/inverse_square_laws'>inverse square law unit</a>.
    </li>
    <li>
        Giancoli
        Page 132 #1, 5, 18
        <br>
        [Problems on centripetal acceleration and force, see pages 110 - 114 for content]
    </li>
    <li>
        Giancoli Page 134: #37, 38, 39
        <br>
        [Problems on the formula for free-fall acceleration, see pages 121 - 122]
    </li>
    <li>
        Giancoli page 320: #4, #5, #8, #9 (written questions)
    </li>
    <li>
        Answer <a href = '/extraFiles/ap_homework_2-4.html'>these questions</a> regarding waves.
    </li>
    <li>
        Do either <a href = '/pod/electric_circuits/dc_circuit_math_1/analyze_circuits_1'>PART C</a>
        or <a href = '/pod/electric_circuits/dc_circuit_math_1/analyze_circuits_2'>PART D</a>
        on electric circuits.
        Part C we've already completed once, but it seemed in class that people
        needed to practice it more, which is okay.
        Part D is slightly tougher, so if you feel confident you understand part C,
        do part D.
        Or do both!
    </li>
    <li>
        Giancoli Page 134 problem # 41 (on the Universal Law of Gravitation).
    </li>
    <li>
        Watch a movie!
    </li>
    <li>
        Sleep!
    </li>
    <li>
        Jump up and down!
    </li>
    <li>
        <a href = '/contentFiles/light_bulb_activity.pdf'>Finish the Light Bulb Activity</a>
    </li>
    <li>
        Giancoli Page 18 Problem # 19
    </li>
    <li>
        Giancoli Read 159 - 161 (on the power formula), Page 167 Problems # 37 and #59
    </li>
    <li>
        Reading assignment from <a href = '/contentFiles/clockwork_reading_feb.html'>The clockwork universe</a>
    </li>
    <li>
        <a href = '/contentFiles/rotational_motion_equation_review.pdf'>Rotational Motion Equation Review</a> Please practice to be prepared for the activity on Wednesday!
    </li>
    <li>
        <a href = '/pod/fundamental_forces/inverse_square_laws/derive_free_fall_acceleration'>Derive free-fall acceleration</a> (problems 1 -6 and practice the proof!)
    </li>
    <li>
        <a href = '/pod/fundamental_forces/inverse_square_laws/algebraic_inverse_square'>Algebraic Inverse Square Laws</a> (Problems 1 - 10 required, 11 - 13 recommended if you want to pass this quiz).
    </li>
    <li>
        <a href = '/pod/fundamental_forces/inverse_square_laws/inverse_square_law_proportionality'>Inverse Square Law Proportionality</a> (Problems 1 -8 required, other problems not required but coming soon to help you practice for the quiz).
    </li>
    <li>
        Giancoli page 168, Problem 81.
        Use the formulas for WORK and POWER to solve this problem!
    </li>
</ol>


-->