


<!--{{displayDueDatesNew 'AP' 2021 gradeMap}}-->


<h3>
    Summer Work 2022
</h3>

<h4>
    Guidelines
</h4>
<ul>
    <li>
        I will not collect any paperwork from over the summer.
        Instead, I provided a list of content with which you should
        be familiar at the beginning of the year.
    </li>
    <li>
        You can expect a quiz on this content in the second
        or third week of the year.
    </li>
    <li>
        Some content will be discussed in class and that will not be
        discussed and become familiar with the content that will be discussed.
    </li>
    <li>
        I will update videos on the content over the course of the summer.
    </li>
</ul>

<h4>
    Content that will NOT be discussed in class
</h4>

<ul>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
</ul>

<h4>
    Content that will be discussed in class.
</h4>

<ul>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
    <li>
        <a href = "/pod/___">___</a>
    </li>
</ul>


<script>
    const AP_goalsObject = JSON.parse('{{{getGoalsObject "AP" gradeMap}}}');

    function writeAPGoalsByDueDate() {
        let list = listGoalsByDueDate(AP_goalsObject);
        $("#AP_goals").empty();
        $("#AP_goals").append(list);

        $("#AP_goals_dueDate").removeClass('btn-secondary');
        $("#AP_goals_dueDate").addClass('btn-primary');

        $("#AP_goals_topic").removeClass('btn-primary');
        $("#AP_goals_topic").addClass('btn-secondary');
    }

    function writeAPGoalsByTopic() {
        let list = listGoalsByTopic(AP_goalsObject);
        $("#AP_goals").empty();
        $("#AP_goals").append(list);

        $("#AP_goals_topic").removeClass('btn-secondary');
        $("#AP_goals_topic").addClass('btn-primary');

        $("#AP_goals_dueDate").removeClass('btn-primary');
        $("#AP_goals_dueDate").addClass('btn-secondary');

    }

    writeAPGoalsByDueDate();
    $("#AP_goals_dueDate").on("click",writeAPGoalsByDueDate);
    $("#AP_goals_topic").on("click",writeAPGoalsByTopic);
</script>


<!--
101 => level 3
203 => level 3
204 => level 3
301 => level 4
302 => level 4
401 => level 4
402 => level 4
403 => level 4
601 => level 4
602 => level 3
901 => level 3
1003 => level 3
-->

