<h4>
    AP Physics Summer Work
</h4>

<p>
    I will make some very minor changes before Monday June 15, but here is the general structure of the work:
</p>

<p>
    There are four sections to the summer work for AP Physics:
</p>
<ol>
    <li>
        Math Review
    </li>
    <li>
        Brief Introduction to Each Topic
    </li>
    <li>
        Some Textbook Reading
    </li>
    <li>
        Independent Investigations
    </li>
</ol>



<ol>
    <li>
        Math Review (Due First Class Period):
        Complete the problems on each link.
        You do not need to complete the miniquizzes (they are inaccessible).
        <ul>
            <li>
                <a href = '/pod/pure_mathematics/algebra/numeric_algebra_2'>Numeric Algebra 2</a> (Numeric Algebra 1 is very easy, so we skip it)
            </li>
            <li>
                <a href = '/pod/pure_mathematics/algebra/symbolic_algebra_1'>Symbolic Algebra 1</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/geometry/trigonometry_1'>Trigonometry 1: The Pythagorean Theorem</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/geometry/area_1'>Area 1</a> (Make sure you know how to find the area of a trapezoids!)
            </li>
            <li>
                <a href = '/pod/pure_mathematics/geometry/circle_math_1'>Circle Math 1</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/geometry/trigonometry_2'>Trigonometry 1: One-Step SOHCAHTOA</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/scientific_notation/powers_of_ten'>Powers of Ten</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/scientific_notation/scientific_notation_1'>Scientific Notation 1: Scientific to Standard Notation</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/scientific_notation/scientific_notation_2'>Scientific Notation 2: Standard to Scientific Notation</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/scientific_notation/scientific_notation_3'>Scientific Notation 3: Moving from Incorrect to Correct Scientific Notation</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/scientific_notation/very_fast_conversions'>Very Fast Conversions</a> (Be able to complete these conversions <em>very fast</em> and <em>effortlessly</em>).
            </li>
            <li>
                <a href = '/pod/pure_mathematics/scientific_notation/memorize_metric_prefixes'>Memorize Metric Prefixes</a> (Please memorize from femto to Peta)
            </li>
            <li>
                <a href = '/pod/pure_mathematics/scientific_notation/scientific_notation_inequalities'>Scientific Notation on a Calculator 1</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/scientific_notation/scientific_notation_inequalities'>Scientific Notation Inequalities</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/scientific_notation/scientific_notation_4'>Scientific Notation 4: Metric to Scientific Notation</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/scientific_notation/scientific_notation_5'>Scientific Notation 5: Scientific Notation to Metric</a>
            </li>
            <li>
                <a href = '/pod/pure_mathematics/dimensional_analysis/conversion_factors_1'>Conversion Factors 1: One-Step Conversions</a> (I know you can solve these problems easily, but you need ot be able to correctly write out the <em>conversion factor method</em>)
            </li>
            <li>
                <a href = '/pod/pure_mathematics/dimensional_analysis/conversion_factors_2'>Conversion Factors 2: Two- and Three-Step Conversions</a>
            </li>
            <li>
                <a href = '/pod/science_practice/error_approximation/significant_figures_1'>Counting Significant Figures</a>
            </li>
            <li>
                <a href = '/pod/science_practice/error_approximation/significant_figures_2'>Rounding to a Specific Number of Significant Figures</a>
            </li>
        </ul>
    </li>
    <li>
        Brief Introduction to Each Topic (Due Second Class Period)
        Complete the problems on each link.
        You do not need to complete the miniquizzes (they are inaccessible).
        <ul>
            <li>
                <a href = '/pod/kinematics/forward_kinematics_qualitative/position_graphs_motion_maps'>Position Graphs and Motion Maps</a> (Problems will be added by Monday June 15)
            </li>
            <li>
                <a href = '/pod/kinematics/forward_kinematics_qualitative/velocity_acceleration_graphs'>Velocity and Acceleration Graphs</a> (Problems will be added by Monday June 15)
            </li>
            <li>
                <a href = '/pod/kinematics/forward_kinematics_qualitative/kinematic_graph_connections'>Kinematic Graph Connections</a> (Problems will be added by Monday June 15)
            </li>
            <li>
                <a href = '/pod/kinematics/forward_kinematics_quantitative/acceleration_formula'>The Acceleration Formula</a>
            </li>
            <li>
                <a href = '/pod/kinematics/forward_kinematics_quantitative/kinematic_equations_1'>Kinematic Equations 1</a>
            </li>
            <li>
                <a href = '/pod/dynamics/identifying_forces/free_body_diagrams_1'>Free-Body Diagrams 1</a>
            </li>
            <li>
                <a href = '/pod/dynamics/quantitative_dynamics/finding_net_force'>Finding Net Force</a>
            </li>
            <li>
                <a href = '/pod/dynamics/quantitative_dynamics/newtons_second_law'>Newton's Second Law</a>
            </li>
            <li>
                <a href = '/pod/dynamics/quantitative_dynamics/finding_acceleration'>Finding Acceleration</a> (will be updated by Monday June 15)
            </li>
            <li>
                <a href = '/pod/fundamental_forces/conceptual_gravitation/basic_gravity'>Basic Gravity</a>
            </li>
            <li>
                <a href = '/pod/fundamental_forces/conceptual_electrostatics/electrostatic_basics'>Electrostatics Basics</a>
            </li>
            <li>
                <a href = '/pod/fundamental_forces/conceptual_electrostatics/charging_by_friction_electrostatic_discharge'>Charging by Friction and Electrostatic Discharge</a>
            </li>
            <li>
                <a href = '/pod/fundamental_forces/conceptual_electrostatics/what_is_charge'>What is Charge?</a> (will be updated by Monday June 15)
            </li>
            <li>
                <a href = '/pod/momentum/collisions_and_explosions/momentum_formula'>The Momentum Formula</a>
            </li>
            <li>
                <a href = '/pod/momentum/collisions_and_explosions/conservation_of_momentum_1'>Conservation of Momentum 1: Two Cars</a>
            </li>
            <li>
                <a href = '/pod/energy/conservation_of_energy_quantitative/energy_table_1'>Energy Table 1</a>
            </li>
            <li>
                <a href = '/pod/energy/conservation_of_energy_quantitative/energy_formulas_1'>Energy Formulas 1</a>
            </li>
            <li>
                <a href = '/pod/energy/conservation_of_energy_quantitative/energy_table_2'>Energy Table 2</a>
            </li>
            <li>
                <a href = '/pod/waves/wave_structure/electromagnetic_vs_mechanical_waves_1'>Electromagnetic vs. Mechanical Waves</a>
            </li>
            <li>
                <a href = '/pod/waves/wave_structure/transverse_vs_longitudinal_waves'>Transverse vs. Longitudinal Waves</a>
            </li>
            <li>
                <a href = '/pod/waves/wave_structure/parts_of_a_wave_1'>Parts of a Wave 1: Transverse Waves</a>
            </li>
            <li>
                <a href = '/pod/electric_circuits/dc_circuit_math_1/ohms_law'>Ohm's Law</a>
            </li>
            <li>
                <a href = '/pod/electric_circuits/dc_circuit_math_1/power_formula'>The Power Formula</a>
            </li>
            <li>
                <a href = '/pod/electric_circuits/dc_circuit_math_1/analyze_circuits_1'>Analyze Circuits 1</a>
            </li>
            <li>
                <a href = '/pod/electric_circuits/dc_circuit_math_1/analyze_circuits_2'>Analyze Circuits 2</a>
            </li>
        </ul>
    </li>
    <li>
        Textbook Reading: (due on the Third Class Period)
        Read from the <a href = 'https://openstax.org/details/books/college-physics'>Open Stax College Physics Textbook</a>:
        Chapter 1 and Chapter 2
        <ul>
            <li>
                <a href = 'https://openstax.org/books/college-physics/pages/1-conceptual-questions'>Chapter 1 Conceptual Questions</a>: 4, 7, 10
            </li>
            <li>
                <a href = 'https://openstax.org/books/college-physics/pages/2-conceptual-questions'>Chapter 2 Conceptual Questions</a>: 2, 10
            </li>
        </ul>
    </li>
    <li>
        <a href = '/summer_observations.pdf'>Independent Investigations</a> (Due Fourth Class Period)
    </li>
</ol>