<h3>
    Conversion Factor List
</h3>
<ul>
    <li>
        Length Conversion Factors
        <ul>
            <li>
                1 foot = 12 inches
            </li>
            <li>
                1 yard = 3 feet
            </li>
            <li>
                1 football field = 120 yards
            </li>
            <li>
                1 mile = 5280 feet
            </li>
            <li>
                1 meters = 1000 millimeters
            </li>
            <li>
                1 meter = 100 centimeters
            </li>
            <li>
                1 kilometer = 1000 meters
            </li>
            <li>
                1 inch = 2.54 centimeters
            </li>
            <li>
                1 meter = 3.28 feet
            </li>
            <li>
                1 mile = 1.61 kilometers
            </li>
        </ul>
    </li>
    <li>
        Time Conversion Factors
        <ul>
            <li>
                1 minute = 60 seconds
            </li>
            <li>
                1 hour = 60 minutes
            </li>
            <li>
                1 day = 24 hours
            </li>
            <li>
                1 normal year = 365 days
            </li>
            <li>
                1 leap year = 366 days
            </li>
            <li>
                1 full rotation of sun = 365.25 days
            </li>
            <li>
                1 century = 100 full rotations of sun
            </li>
            <li>
                Note that "months" are not a standard unit, because not all months have the same number of days.
            </li>
        </ul>
    </li>
    <li>
        Mass Conversion Factors
        <ul>
            <li>
                1 kilogram = 1000 grams
            </li>
            <li>
                1 gram = 1000 milligrams
            </li>
            <li>
                1 slug = 14.6 kilograms
            </li>
            <li>
                1 kilogram = 2.2046 pounds
            </li>
            <li>
                1 metric ton (also called <emph>tonne</emph>) = 1000 kilograms
            </li>
        </ul>
    </li>
    <li>
        Force Conversion Factors
        <ul>
            <li>
                1 pound-force = 4.45 Newtons
            </li>
            <li>
                1 Newton = 100,000 dynes
            </li>
            <li>
                1 ton = 2000 pounds
            </li>
        </ul>
    </li>
</ul>
