{{#if successFlash}}
    <div class = 'alert alert-success' role = 'alert'>
        {{successFlash}}
    </div>
{{/if}}


{{#if dangerFlash}}
    <div class = 'alert alert-danger' role = 'alert'>
        {{dangerFlash}}
    </div>
{{/if}}