<table>
    <tr>
        <td class = 'lookingForBox'>
            Looking For
        </td>
        <td class = 'formulaBox'>
            Formula
        </td>
        <td class = 'littleBoxOnTheSide'>

        </td>
    </tr>
    <tr>
        <td class = 'alreadyKnowBox'>
            Already Know
        </td>
        <td class = 'workBox' colspan = '2'>

        </td>
    </tr>
    <tr>
        <td class = 'answerBox' colspan = '3'>
            Answer in a complete sentence <i>with unit</i>.
        </td>
    </tr>
</table>
