<p>
   What is this thing doing?
</p>
<ol type = 'A'>
    <li>
        Moving at a constant speed
    </li>
    <li>
        Speeding up
    </li>
    <li>
        Slowing down
    </li>
    <li>
        Not moving
    </li>
</ol>