<div>
    {{>navbar}}
</div>

<div>
    {{>flashSpace}}
</div>


{{#if flashMessage}}
    <h1 class = "display-1 text-danger">
        {{flashMessage}}
    </h1>
{{/if}}

<div class = 'no-print'>
    {{userInfo user section overallLevel totalAttempts}}
</div>



