{{displayDueDates 'Honors' 2021 gradeMap}}


<h2>
    Final Exam Content
</h2>
<p>
    Content on each of these practice pages will appear on the final exam for physics.
    Study content on each page to prepare for the test.
    Questions will be primarily multiple choice.
</p>
<ul>
    <li>
        <ul class = 'inlineList list-middot mb-3'>
            <li>
                <a href = '/pod/386543'>601-A</a>
            </li>
            <li>
                <a href = '/pod/1d1e60'>601-C</a>
            </li>
            <li>
                <a href = '/pod/38e07e'>601-D</a>
            </li>
            <li>
                <a href = '/pod/b656a7'>601-E</a>
            </li>
            <li>
                <a href = '/pod/93e3ce'>601-F</a>
            </li>
        </ul>
    </li>
    <li>
        <ul class = 'inlineList list-middot mb-3'>
            <li>
                <a href = '/pod/80cac9'>1102-A</a>
            </li>
            <li>
                <a href = '/pod/2c3d67'>1102-B</a>
            </li>
            <li>
                <a href = '/pod/38952d'>1102-E</a>
            </li>
            <li>
                <a href = '/pod/82f477'>1102-H</a>
            </li>
        </ul>
    </li>
    <li>
        <ul class="inlineList list-middot mb-3">
            <li>
                <a href = '/pod/79415b'>901-A</a>
            </li>
            <li>
                <a href = '/pod/4a6e69'>901-B</a>
            </li>
            <li>
                <a href = '/pod/9ac868'>901-C</a>
            </li>
            <li>
                <a href = '/pod/83111d'>901-D</a>
            </li>
            <li>
                <a href = '/pod/0ffd1c'>901-E</a>
            </li>
            <li>
                <a href = '/pod/d1847d'>901-F</a>
            </li>
        </ul>
    </li>
    <li>
        <ul class="inlineList list-middot mb-3">
            <li>
                <a href = '/pod/a95408'>905-A</a>
            </li>
            <li>
                <a href = '/pod/ddf304'>905-B</a>
            </li>
            <li>
                <a href = '/pod/b645cf'>905-C</a>
            </li>
            <li>
                <a href = '/pod/cf1f01'>905-D</a>
            </li>
        </ul>
    </li>
    <li>
        <ul class="inlineList list-middot mb-3">
            <li>
                <a href = '/pod/1a4b0b'>401-A</a>
            </li>
            <li>
                <a href = '/pod/ba7882'>401-B</a>
            </li>
        </ul>
    </li>
    <li>
        <ul class="inlineList list-middot mb-3">
            <li>
                <a href = '/pod/193942'>402-A</a>
            </li>
            <li>
                <a href = '/pod/8778d7'>402-B</a>
            </li>
            <li>
                <a href = '/pod/a131a7'>402-C</a>
            </li>
            <li>
                <a href = '/pod/28a149'>402-E</a>
            </li>
        </ul>
    </li>
    <li>
        <ul class="inlineList list-middot mb-3">
            <li>
                <a href = '/pod/63741b'>202-A</a>
            </li>
        </ul>
    </li>
</ul>




<!--<h3>-->
<!--    Current Goals-->
<!--</h3>-->

<!--<div class = 'container'>-->
<!--    <div class = 'row'>-->
<!--        <div class = 'col-2'></div>-->
<!--        <div class = 'col-3 btn' id = 'Honors_goals_topic'>Arrange By Topic</div>-->
<!--        <div class = 'col-1'></div>-->
<!--        <div class = 'col-3 btn' id = 'Honors_goals_dueDate'>Arrange By Date</div>-->
<!--        <div class = 'col-2'></div>-->
<!--    </div>-->
<!--</div>-->

<!--<div id = 'Honors_goals'></div>-->

<script>
    const Honors_goalsObject = JSON.parse('{{{getGoalsObject "Honors" gradeMap}}}');

    function writeHonorsGoalsByDueDate() {
        let list = listGoalsByDueDate(Honors_goalsObject);
        $("#Honors_goals").empty();
        $("#Honors_goals").append(list);

        $("#Honors_goals_dueDate").removeClass('btn-secondary');
        $("#Honors_goals_dueDate").addClass('btn-primary');

        $("#Honors_goals_topic").removeClass('btn-primary');
        $("#Honors_goals_topic").addClass('btn-secondary');
    }

    function writeHonorsGoalsByTopic() {
        let list = listGoalsByTopic(Honors_goalsObject);
        $("#Honors_goals").empty();
        $("#Honors_goals").append(list);

        $("#Honors_goals_topic").removeClass('btn-secondary');
        $("#Honors_goals_topic").addClass('btn-primary');

        $("#Honors_goals_dueDate").removeClass('btn-primary');
        $("#Honors_goals_dueDate").addClass('btn-secondary');

    }

    writeHonorsGoalsByDueDate();
    $("#Honors_goals_dueDate").on("click",writeHonorsGoalsByDueDate);
    $("#Honors_goals_topic").on("click",writeHonorsGoalsByTopic);
</script>

