<p>
    It takes the videos a little bit of time to load.
    If they aren't loading well, click the link to the video.
    Also, I find they load easier in Google Chrome than other browsers.
</p>
<h4>
    What is Physics?
</h4>
<video width = '400px' height = 'auto' controls>
    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/what_is_physics.mp4' type = 'video/mp4'>
</video>
<a href = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/what_is_physics.mp4'>Link to Video</a>


<h4>
    The Goal of Honors Physics
</h4>
<video width = '400px' height = 'auto' controls>
    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/the_goal_of_honors_physics.mp4' type = 'video/mp4'>
</video>
<a href = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/the_goal_of_honors_physics.mp4'>Link to Video</a>



<h4>
    The Problem Solving Method
</h4>
<video width = '400px' height = 'auto' controls>
    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/problem_solving_method.mp4' type = 'video/mp4'>
</video>
<a href = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/problem_solving_method.mp4'>Link to Video</a>



<h4>
    Grading 1
</h4>
<video width = '400px' height = 'auto' controls>
    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/grading.mp4' type = 'video/mp4'>
</video>
<a href = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/grading.mp4'>Link to Video</a>


<h4>
    Grading 2: Performance vs. Effort
</h4>
<video width = '400px' height = 'auto' controls>
    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/performance_vs_effort.mp4' type = 'video/mp4'>
</video>
<a href = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/performance_vs_effort.mp4'>Link to Video</a>


<h4>
    Grading 3: Mistakes Based Grading
</h4>
<video width = '400px' height = 'auto' controls>
    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/retaking_quizzes.mp4' type = 'video/mp4'>
</video>
<a href = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/retaking_quizzes.mp4'>Link to Video</a>


<h4>
    The Calendar
</h4>
<video width = '400px' height = 'auto' controls>
    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/spiralling.mp4' type = 'video/mp4'>
</video>
<a href = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/spiralling.mp4'>Link to Video</a>

