<h4>
    All Assignments For Seniors
</h4>
<ul>
    <li>
        <a href = '/extraFiles/isaacNewtonMiracleYears.html'>Remote Learning Assignment 1: Isaac Newton Article</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_wave_basics'>Remote Learning Assignment 2: Electromagnetic Wave Basics</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_1'>Remote Learning Assignment 3: Electromagnetic Spectrum 1</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/basic_infrared_camera'>Remote Learning Assignment 4A: Infrared Cameras</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/reflection_color'>Remote Learning Assignment 4B: Reflection and Color</a>
    </li>
    <li>
        <a href = '/labs/colorVisionVirtual'>Remote Learning Assignment 5: Color Mixing Lab</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/long_wavelength_astronomy'>Remote Learning Assignment 6: NASA Videos on Long Wavelength Astronomy</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/short_wavelength_astronomy'>Remote Learning Assignment 7: NASA Videos on Short Wavelength Astronomy</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_2'>Remote Learning Assignment 8: Electromagnetic Spectrum 2</a>
    </li>
    <li>
        <a href = '/pod/waves/the_electromagnetic_spectrum_conceptual/safe_dangerous_radiation'>Remote Learning Assignment 9: Safe and Dangerous Radiation</a>
    </li>
    <li>
        <a href = '/pod/thermodynamics/heat_transfer_temperature_mathematical/heat_formula_1'>Remote Learning Assignment 10: Heat Formula 1</a>: Complete Questions 1 - 10, send a photo of your calculations.
        Full credit will not be given for answers only.
    </li>
    <li>
        <a href = '/pod/thermodynamics/heat_transfer_temperature_mathematical/thermal_contact_1'>Remote Learning Assignment 11A: Thermal Contact 1</a>
    </li>
    <li>
        <a href = '/pod/thermodynamics/heat_transfer_temperature_mathematical/thermal_contact_2'>Remote Learning Assignment 11B: Thermal Contact 2</a>
    </li>
    <li>
        Remote Learning Assignment 12:
        <ul>
            <li>
                <a href = '/pod/thermodynamics/kinetic_theory_of_matter_conceptual/states_of_matter_2'>States of Matter 2</a> Please complete problems 1 - 3
            </li>
            <li>
                <a href = '/pod/thermodynamics/heat_transfer_temperature_mathematical/heat_formula_2'>Heat Formula 2</a>: Please show work and turn in a photograph of your calculations.
            </li>
        </ul>
    </li>
    <li>
        Remote Learning Assignment 13:
        <ul>
            <li>
                <a href = '/pod/thermodynamics/heat_transfer_temperature_mathematical/heat_formula_3'>Heat Formula 3</a> Complete all odd problems. You must show your calculations to receive full credit.
            </li>
            <li>
                <a href = '/pod/thermodynamics/kinetic_theory_of_matter_conceptual/conduction_convection_radiation_1'>Conduction, Convection, and Radiation</a>: Complete problems 1 - 20.
            </li>
        </ul>
    </li>
    <li>
        Remote Learning Assignment 14:
        <a href = '/labs/thermalPhysicsVirtual1'>Thermal Physics Virtual Lab</a>
    </li>
</ul>

<h4>
    Remote Learning Assignment 15
</h4>
<p class="dueDates ml-4">
    Red and Blue Classes: Assigned: Wednesday May 20, 9:30 am; Due Friday May 22, 11:59 pm
    Green Class: Assigned Thursday May 21, 9:30 am; Due Thursday May 28, 11:59 pm
</p>
<ul>
    <li>
        <a href = '/labs/thermalPhysicsVirtual1'>Thermal Physics Virtual Lab</a>
    </li>
</ul>

<h4>
    Remote Learning Assignment 16 (Juniors Only)
</h4>
<p class="dueDates ml-4">
    Red and Blue Classes: Assigned Friday May 22, 9:30 am. Due Friday May 29, 11:59 pm.
    Green Class: Assigned Thursday May 28, 9:30 am. Due Monday June 1, 11:59 pm.
</p>
<ul>
    <li>
        <a href = '/pod/atomic_physics/nuclear_reaction_formulas/counting_parts_nucleus'>Counting Parts of a Nucleus</a>
    </li>
</ul>

<h4>
    Remote Learning Assignment 17 (Juniors Only)
</h4>
<p class="dueDates ml-4">
    Red and Blue Classes: Assigned Friday May 29, 9:30 am. Due Tuesday June 1, 11:59 pm.
    Green Class: Assigned Monday May 31, 9:30 am. Due Wednesday June 2, 11:59 pm.
</p>
<ul>
    <li>
        <a href = '/pod/atomic_physics/nuclear_reaction_formulas/alpha_beta_decay'>Alpha and Beta Decay</a>
    </li>
</ul>
