
<h3>
    Current Goals
</h3>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-2'></div>
        <div class = 'col-3 btn' id = 'Honors_goals_topic'>Arrange By Topic</div>
        <div class = 'col-1'></div>
        <div class = 'col-3 btn' id = 'Honors_goals_dueDate'>Arrange By Due Date</div>
        <div class = 'col-2'></div>
    </div>
</div>

<div id = 'Honors_goals'></div>

<script>
    const Honors_goalsObject = JSON.parse('{{{getGoalsObject "Honors" gradeMap}}}');

    function writeHonorsGoalsByDueDate() {
        let list = listGoalsByDueDate(Honors_goalsObject);
        $("#Honors_goals").empty();
        $("#Honors_goals").append(list);

        $("#Honors_goals_dueDate").removeClass('btn-secondary');
        $("#Honors_goals_dueDate").addClass('btn-primary');

        $("#Honors_goals_topic").removeClass('btn-primary');
        $("#Honors_goals_topic").addClass('btn-secondary');
    }

    function writeHonorsGoalsByTopic() {
        let list = listGoalsByTopic(Honors_goalsObject);
        $("#Honors_goals").empty();
        $("#Honors_goals").append(list);

        $("#Honors_goals_topic").removeClass('btn-secondary');
        $("#Honors_goals_topic").addClass('btn-primary');

        $("#Honors_goals_dueDate").removeClass('btn-primary');
        $("#Honors_goals_dueDate").addClass('btn-secondary');

    }

    writeHonorsGoalsByDueDate();
    $("#Honors_goals_dueDate").on("click",writeHonorsGoalsByDueDate);
    $("#Honors_goals_topic").on("click",writeHonorsGoalsByTopic);
</script>

