<div class = 'container'>
    <div class ='row'>
        <div class = 'col-6-md equation'>
            \(
            v_f = v_i + a \cdot \Delta t
            \)
        </div>
        <div class = 'col-6-md equation'>
            \( \Delta x = v_i \cdot \Delta t + \frac{1}{2} a \left( \Delta t \right)^2 \)
        </div>
    </div>
    <div class ='row'>
        <div class = 'col-6-md equation'>
            \( \Delta x = \left( \frac{v_i + v_f}{2} \right) \Delta t \)
        </div>
        <div class = 'col-6-md equation'>
            \( v_f^2 = v_i^2 + 2 a \cdot \Delta x \)
        </div>
    </div>
</div>
