
<div>
    <ul>
        <li>
            <a href = '#'>
                Syllabus
            </a>
        </li>
        <li>
            <a href = '#'>
                Calendar
            </a>
        </li>
        <li>
            <a href = '#'>
                Units
            </a>
        </li>
        <li>
            <a href = '#'>
                Writing
            </a>
        </li>
        <li>
            <a href = '#'>
                Labs
            </a>
        </li>
        <li>
            <a href = '#'>
                Computation
            </a>
        </li>
        <li>
            <a href = '#'>
                Enrichment
            </a>
        </li>
        <li>
            <a href = '#'>
                Jokes
            </a>
        </li>
    </ul>
</div>