
<nav class = 'navbar fixed-top navbar-expand-sm bg-light'>
    <div class = 'container'>
        <a href = '/' class = 'navbar-brand'>508 Physics</a>
        <ul class = 'navbar-nav'>
            <li class = 'navbar-item' id = 'backgroundButtonSpace'>
                <button id = 'backgroundButton' class = 'bg-dark text-warning'>Dark Background</button>
            </li>
            <li class = 'navbar-item'>
                {{loginLink user}}
            </li>
            <li class = 'navbar-item'>
                <a class = 'nav-link' href = '/unitsEntryPage'>
                    Units
                </a>
            </li>
            <li class = 'navbar-item'>
                <a class = 'nav-link' href = '/labs'>
                    Labs
                </a>
            </li>
            <li class = 'navbar-item'>
                <a class = 'nav-link' href = '/problemSets'>
                    Problem Sets
                </a>
            </li>
        </ul>
    </div>
</nav>
