
<div>
    <ul>
        <li>
            <a class = 'btn btn-outline-info' href = '/about'>
                About
            </a>
        </li>
        <li>
            <a class = 'btn btn-warning' href = '/calendars'>
                Calendars
            </a>
        </li>
        <li>
            <a class = 'btn btn-primary' href = '/unitsEntryPage'>
                Units
            </a>
        </li>
        <li>
            <a class = 'btn btn-success' href = '/labs'>
                Labs
            </a>
        </li>
        <li>
            <a class = 'btn btn-danger' href = '/writing'>
                Writing
            </a>
        </li>
        <li>
            <a class = 'btn btn-secondary' href = '/computationEntry'>
                Computation
            </a>
        </li>
        <li>
            <a class = 'btn btn-light' href = '/enrichment'>
                Enrichment
            </a>
        </li>
        <li>
            <a class = 'btn btn-dark' href = '/jokes'>
                Jokes
            </a>
        </li>
    </ul>
</div>