
<nav class = 'navbar navbar-expand-sm bg-light'>
    <div class = 'container'>
        <a href = '/' class = 'navbar-brand'>Mr. Kuncik Physics</a>
        <ul class = 'navbar-nav'>
            <li class = 'navbar-item'>
                <a class = 'nav-link' href = '/info'>
                    Information
                </a>
            </li>
            <li class = 'navbar-item'>
                <a class = 'nav-link' href = '/calendars'>
                    Calendars
                </a>
            </li>
            <li class = 'navbar-item'>
                <a class = 'nav-link' href = '/unitsEntryPage'>
                    Units
                </a>
            </li>
            <li class = 'navbar-item'>
                <a class = 'nav-link' href = '/labs'>
                    Labs
                </a>
            </li>
            <li class = 'navbar-item'>
                <a class = 'nav-link' href = '/quizzes'>
                    Quizzes
                </a>
            </li>
            <li class='navbar-item'>
                <a class = 'nav-link' href = '/computationEntry'>
                    Computation
                </a>
            </li>
            <li class = 'navbar-item'>
                <a class = 'nav-link' href = '/enrichment'>
                    Enrichment
                </a>
            </li>
            <li class = 'navbar-item'>
                <a class = 'nav-link' href = '/jokes'>
                    Jokes
                </a>
            </li>
        </ul>
    </div>
</nav>
