<h3>
    Grade Calculation:
</h3>

<p>
    Your grade is equal to
</p>
<ul>
    <li>
        0.7 * the average of 70-quizzes
    </li>
    <li>
        0.1 * the average of 80-quizzes
    </li>
    <li>
        0.1 * the average of 90-quizzes
    </li>
    <li>
        0.1 * the average of 100-quizzes
    </li>
</ul>

{{displayDueDatesNew 'AP' 2022 gradeMap}}
