<h2>
    Welcome to AP Physics!
</h2>
<h4>
    2021-2022 school year.
</h4>


<h5>
    The first "assignment":
</h5>
<p>
    Your first task is to email Mr. Kuncik the name of a COLOR and and ANIMAL.
    The COLOR should begin with the same letter as your first name.
    The ANIMAL should begin with the same letter as your last name.
    My name is "Daniel Kuncik", so my color will begin with "D" and my animal will begin with "K".
    (Dandelion Kangaroo!)
</p>

<p>
    There are colors and animals for every letter, but you may need to use Google to find some more obscure colors.
</p>

<p>
    The summer work is a series of quizzes, listed below.
    The first two are very easy quizzes about how to use the system, and it is recommended
    to complete them BEFORE the end of this school year.
    The rest should be attempted over the summer.
</p>

{{displayDueDatesForJune2021 'summer' gradeMap}}
