<h3>
    Song Lyric Challenge:
</h3>
<p>
    Identify what well-known song lyrics are being referenced on the blackboard
</p>

<img src = '/images/songLyricChallenge/lyric_1.png' height = '400px' width = 'autp' />

<p class="imageCredit">
    https://www.in-formality.com/wiki/index.php?title=File:Blackboard.png
</p>