<h3>
    Song Lyric Challenge:
</h3>
<p>
    Identify what well-known song lyrics are being referenced on the blackboard
</p>

<img src = '/images/songLyricChallenge/lyric_1.png' height = '400px' width = 'autp' />

<p class="imageCredit">
    https://www.in-formality.com/wiki/index.php?title=File:Blackboard.png
</p>


Rotate 180 degrees, person whose ocular organs emit high intensity electromagnetic waves.

She has returned to the area of gas particles gravitationally attracted to earth,
her long protein filaments containing particulate matter from a nearby large gaseous sphere.

I inquire as to the individual who is responsible for the displacement
of organisms of the species canis familiaris.

I request that you set the probability of communicating with me via long wavelength electromagnetic
waves at a value noticeably greater than 0 and yet noticeably less than 1.