<div class="container">
    <div class="row">
        <div class="col-12 border border-dark pb-5">
            Free-Body Diagram
            <br><br><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark pb-1">
            Force
        </div>
        <div class="col-4 border border-dark pb-1">
            Direction
        </div>
        <div class="col-4 border border-dark pb-1">
            Agent
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark pb-4">
            <br><br>
        </div>
        <div class="col-4 border border-dark pb-4">

        </div>
        <div class="col-4 border border-dark pb-4">

        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark pb-4">
            <br><br>
        </div>
        <div class="col-4 border border-dark pb-4">

        </div>
        <div class="col-4 border border-dark pb-4">

        </div>
    </div>
</div>
