<div class="accordion" id = 'homePageAccordion'>
    <div class="card">
        <div class = 'card-header homePageCard' id = 'AP_heading'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target="#collapse_AP" aria-expanded="false" aria-controls="collapse_AP">
                    AP Physics Home Page
                </button>
            </h3>
        </div>

        <div id = 'collapse_AP' class = 'collapse' aria-labelledby="AP_heading" data-parent = '#homePageAccordion'>
            <div class = 'card-body'>
                {{>ap_home_page}}
            </div>
        </div>
    </div>

    <div class="card">
        <div class = 'card-header homePageCard' id = 'honors_heading'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target="#collapse_honors" aria-expanded="false" aria-controls="collapse_honors">
                    Honors Physics Home Page
                </button>
            </h3>
        </div>

        <div id = 'collapse_honors' class = 'collapse' aria-labelledby="honors_heading" data-parent = '#homePageAccordion'>
            <div class = 'card-body'>
                {{>honors_home_page}}
            </div>
        </div>
    </div>

    <div class="card">
        <div class = 'card-header homePageCard' id = 'song_lyric_heading'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target="#collapse_song_lyric" aria-expanded="false" aria-controls="collapse_song_lyric">
                    Science Song Lyric Challenge
                </button>
            </h3>
        </div>

        <div id = 'collapse_song_lyric' class = 'collapse' aria-labelledby="song_lyric_heading" data-parent = '#homePageAccordion'>
            <div class = 'card-body'>
                <p>
                    {{>science_song_lyrics}}
            </div>
        </div>
    </div>


    <div class="card">
        <div class = 'card-header homePageCard' id = 'nonsense_heading'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target="#collapse_nonsense" aria-expanded="false" aria-controls="collapse_nonsense">
                    Puns
                </button>
            </h3>
        </div>

        <div id = 'collapse_nonsense' class = 'collapse' aria-labelledby="nonsense_heading" data-parent = '#homePageAccordion'>
            <div class = 'card-body'>
                <h5>
                    A message from Mr. Kuncik
                </h5>
                <video width = '400px' height = 'auto' controls>
                    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/carrot.mp4' type = 'video/mp4'>
                </video>
            </div>
        </div>
    </div>
</div>
