<p>
    A block with a mass of 30 kg is resting on a table.
    Somebody pulls the block with a froce of 15 Newtons to the right.
</p>

<ol>
    <li>
        Draw a free-body diagram for the block.
        Your diagram must be quantitatively correct
        and every force must be named.
        You must write every equation you use
        before plugging any numbers in.
    </li>
    <li>
        What is the magnitude of gravity?
    </li>
    <li>
        What is the direction of gravity?
    </li>
    <li>
        What is the magnitude of the normal force?
    </li>
    <li>
        What is the direction of the normal force?
    </li>
    <li>
        What is the magnitude of the applied force?
    </li>
    <li>
        What is the direction of the applied force?
    </li>
    <li>
        Determine the vector net force.
        "Vector net force" means that your answer must include both magnitude and direction.
    </li>
    <li>
        Determine the vector acceleration.
        your answer must include both magnitude and direction.
        Write any equation you use before plugging numbers in.
    </li>
</ol>