<p class = 'directions'>
    Answer each multiple choice question.
</p>


<ol>
    <li>
    What quantity is provided by a battery in a circuit?
    <ol type = 'A'>
        <li>Voltage</li>
        <li>Current</li>
        <li>Resistance</li>
        <li>Power</li>
    </ol>
</li>

    <li>
        What word refers to the strength with which electrons
        are pushed around a circuit?
        <ol type = 'A'>
            <li>Voltage</li>
            <li>Current</li>
            <li>Resistance</li>
            <li>Power</li>
        </ol>
    </li>
    <li>
    A circuit with a very very low amount of this quantity
    is called a <strong>short circuit</strong>.
    <ol type = 'A'>
        <li>Voltage</li>
        <li>Current</li>
        <li>Resistance</li>
        <li>Power</li>
    </ol>
    </li>

    <li>
        What word refers to have fast a charge moves past a point on the circuit?
        <ol type = 'A'>
            <li>Voltage</li>
            <li>Current</li>
            <li>Resistance</li>
            <li>Power</li>
        </ol>
    </li>
    <li>
        What word refers to the rate at which energy changes in an electric circuit?
        <ol type = 'A'>
            <li>Voltage</li>
            <li>Current</li>
            <li>Resistance</li>
            <li>Power</li>
        </ol>
    </li>
    <li>
        What quantity is provided by a light bulb in a circuit?
        <ol type = 'A'>
            <li>Voltage</li>
            <li>Current</li>
            <li>Resistance</li>
            <li>Power</li>
        </ol>
    </li>



</ol>