<p>
    The speed of a wave on a uniform string is given by the formula
    $$
    v = \sqrt{\frac{T}{m / L}}
    $$
    in which \( T \) is the tension of the string,
    \( m \) is the mass of the string,
    and \( L \) is the length of the string.
    Notice that the denominator of the fraction is the density-per-length
    of the string.
</p>

<p>
    In a string that is hanging vertically from some point,
    the tension at any point in the string
    is equal to the weight of the string from below that point.
</p>

<p>
    A string of length \( L \) and mass \( m \) is hanging from a vibrator
    that is oscillating the string at frequency \( f \).
    Derive a formula for \( \lambda(y) \),
    the wavelength on each point on the string, in which \( y \) is
    the vertical distance from the top of the string.
</p>

<p>
    Describe in detail how you derived the formula.
</p>