<p>
    In previous pods, we used Coulombs Law \( F_e = \frac{k q_1 q_2}{d^2} \)
    to determine the force between two charged objects.
    However, we haven't looked at the most interesting charged particles:
    protons and electrons.
    (Nearly) everything in our world is made of protons, neutrons, and electrons,
    so understanding how they exert forces on each other is crucial to understanding our world.
</p>

<p>
    <strong>Disclaimer:</strong>
    Many of the problems in this pod are simplifications!
    A true analysis of subatomic particles,
    particularly electrons, requires you to use the wildly complex
    rules of quantum mechanics.
    Nevertheless, using these formulas is a good way to get started
    learning about how the electric force works within atoms.
    As you improve in physics and learn quantum mechanics, you'll see how similar rules
    apply within the center of electrons.
</p>

<h4>
    The Electronic Charge
</h4>

<p>
    In a previous unit, charge was measured in a very arbitrary seeming unit
    called a "Coulomb."
    In actuality, electric charge comes from protons and electrons.
    A single proton has a charge of \( +1.602 \times 10^{-19} \text{ Coulombs} \).
    A single electron has a charge of \( -1.602 \times 10^{-19} \text{ Coulombs} \).
    This value is called the <strong>elementary charge</strong> and is represented by the symbol \( e \).
    $$
    1 e = 1.602 \times 10^{-19} \text{ Coulombs}
    $$
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        What is the charge of 5 electrons?
    </li>
    <li class = 'question'>
        What is the charge of 8 protons?
    </li>
    <li class = 'question'>
        An iron nucleus has 26 protons. What is the charge of the nucleus alone in Coulombs?
    </li>
    <li class = 'question'>
        A silver atom has 47 protons and 45 electrons.
        What is its charge of the atom in Coulombs?
    </li>
    <li class = 'question'>
        A sulfur atom has 16 protons and 18 electrons. What is the charge of this atom in Coulombs?
    </li>
</ol>

<!--
<h5>
    Angstroms:
</h5>

<p>
    Briefly, many measurements of the inside of atoms used a quirky unit called and Angstrom.
    A
</p>
-->
<h4>
    The Nucleus
</h4>

<p>
    At the center of each atom is the <strong>nucleus</strong>.
    The nucleus contains protons and neutrons. The neutrons are not charged
    and therefore have no effect on electrostatic forces.
    The protons are positively charged, with each proton having a charge of +1 elementary charge,
    or +e.
    Therefore, the nucleus itself is <emph>positively charged </emph>.
</p>

<p>
    Every atom is an atom of a particular element, and each element has an <strong>atomic number</strong>,
    which you can look up on any periodic table of elements.
    The atomic number of an atom gives the number of protons in the nucleus of that atom.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '\( +1.266 \times 10^{-17} \text{ Coulombs} \)'>
        What is the charge in Coulombs of a Gold nucleus?
    </li>
    <li class = 'question' data-answer = '\( +1.602 \times 10^{-19} \text{ Coulombs} \)'>
        What is the charge in Coulombs of a Hydrogen nucleus?
    </li>
    <li class = 'question' data-answer = '\( +1.474 \times 10^{-17} \text{ Coulombs} \)'>
        What is the charge in Coulombs of a Uranium nucleus?
    </li>
</ol>

<h4>
    Electrons
</h4>


<h4>
    Structure of metals
</h4>