<p>
    In previous pods, we focused on solving the formulas
    for either numerical or algebraic solutions.
    In this pod, we will focus on using proportionality
    to solve them.
    These formulas are <emph>named</emph> for a particular
    type of proportionality (the inverse square proportionality),
    understanding their proportionality is quite important to using them correctly.
</p>

<p>
    We will focus on proportionality in three formulas:
    $$
    F_g = \frac{G m_1 m_2}{d^2}
    $$
    $$
    F_e = \frac{k q_1 q_2}{d^2}
    $$
    $$
    g = \frac{G M}{R^2}
    $$
</p>

<h4>
    Identifying types of proportionality relationships:
</h4>

<p class = 'directions'>
    For each of the following sets of variables,
    determine the proportionality relationship between them.
    Select from four different choices.
    In all of the following situations,
    assume that all other variables are held constant.
</p>
<ul>
    <li>
        direct proportionality
    </li>
    <li>
        inverse proportionality
    </li>
    <li>
        square proportionality
    </li>
    <li>
        inverse square proportionality
    </li>
</ul>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'direct proportionality'>
        What is the proportionality relationship between the force of gravity and a single mass?
    </li>
    <li class = 'question' data-answer = 'inverse square proportionality'>
        What is the proportionality relationship between the force of gravity and the distance
        between the center of mass of two attracting objects?
    </li>
    <li class = 'question' data-answer = 'direct proportionality'>
        What is the proportionality relationship between electrostatic force and a single charge?
    </li>
    <li class = 'question' data-answer = 'inverse square proportionality'>
        What is the proportionality relationship between electrostatic force and the distance between charges?
    </li>
    <li class = 'question' data-answer = 'square proportionality'>
        What is the proportionality relationship between the electrostatic force between two nuclei identical and the atomic numbers of those nuclei?
    </li>
    <li class = 'question' data-answer = 'direct proportionality'>
        What is the proportionality relationship between free-fall acceleration on a planet, and the mass of that planet, if its size is a constant?
    </li>
    <li class = 'question' data-answer = 'inverse square proportionality'>
        What is the proportionality relationship between free-fall acceleration on a planet, and the radius of that planet, if its mass is a constant?
    </li>
    <li class = 'question'>
        What is the proportionality relationship between free-fall acceleration on a planet, and the density of that planet, if its size is a constant?
    </li>
</ol>

<h4>
    Using Proportionality Relationships
</h4>

<p class = 'directions'>
    Please determine the answer to each question <emph>using the proportionality relationship</emph>.
    Do not solve for missing variables and then get the answer.
    If you do so on the quiz, you will not receive full credit.
</p>

<ol class = 'questionList'>
    <li class = 'question'>

    </li>
    <li class = 'question'>

    </li>
    <li class = 'question'>

    </li>
    <li class = 'question'>

    </li>
</ol>

<h3>
    Answers:
</h3>

<ol class = 'answerList'></ol>