<div class="bigSpace"></div>
<div class="bigSpace"></div>


<h3>
    <a href = '/podAssets/fundamental_forces/inverse_square_laws/law_of_gravitation_1.pdf'>Practice Page Available as a PDF</a>
</h3>


<div class="bigSpace"></div>
<div class="bigSpace"></div>

<h3>
    Video Resources
</h3>
<h5>
    Flipping Physics Video 1: An introduction to this equation
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/LspI56OPmqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h5>
    Flipping Physics Video 2: Using this equation for small objects
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/070pMWD01cE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h5>
    Flipping Physics Video 3: Using this equation for astronomical objects
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YaX12vE6Lk4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>