<div class="bigSpace"></div>
<div class="bigSpace"></div>


<h3>
    <a href = '/podAssets/fundamental_forces/inverse_square_laws/law_of_gravitation_2.pdf'>Practice Page Available as a PDF</a>
</h3>


<div class="bigSpace"></div>
<div class="bigSpace"></div>


<h3>
    Video Resources
</h3>
<h5>
    Flipping Physics Video
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/l2NukCn079c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    (Note that Mr. P uses the formula \( F_g = m g \) to derive a new equation for \( g \),
    but he does not prove this formula is true. You should be able to prove this formula.)
</p>