<p class = 'direcitons'>
  For full credit, you must write any relevant equations,
  and you must explicitly indicate which direction you
  have labeled as positive.
</p>

<p>
  An object is moving to the left with a speed of 12 m/s.
  It has an acceleration of 3 m/s/s to the right.
</p>

<ul>
  <li>
    Explicitly indicate which direction is positive
    and which direciton is negative.
  </li>
  <li>
    Draw a <em>quantitative</em>
    velocity-time graph for the object from
    time = 0 to time = 8 seconds.
  </li>
  <li>
    On the velocity-time graph,
    indicate when the object is moving left and
    when the object is moving right.
  </li>
  <li>
    On the velocity-time graph,
    indicate when the object is speeding up and when
    the object is slowing down.
  </li>
  <li>
    If there is a point on the velocity-time graph
    when the object is momentarily not moving,
    indicate that point.
  </li>
</ul>

<!--
Do i want to include:
- one more of an object that only speeds up

- some problems that are merely numerical? (like the one on the ap test?)

-->
