<p>
    A book with a mass of 5 kg rests on a table.
    The table is 0.7 meters tall.
    The table is on the 5th floor of a building. The floor is 40 meters off the ground.
    The building is 200 meters above sea level.
    The ceiling in the room is 5 meters tall. Its a big room!
</p>

<ol>
    <li>
        Determine four different possible answers to the question:
        "What is the gravitational potential-energy of the book-earth system?"
    </li>
    <li>
        Describe briefly why each of these four answers exist.
        In this description, you must properly define the term "zero-point height,"
        and to describe how "zero-point height" is determined.
    </li>
    <li>
        Invent two different problems in which it would be useful
        to use two different values of GPE. You do not need to solve these
        problems, only invent them and identify which to which value of GPE they would apply.
    </li>
</ol>

<!--
The key word I want to read in this quiz is CHOOSE
You choose the zero-point height.
-->