<p>
    An object with a mass of \( m_a \) and initial velocity \( v_a \)
    collides into an object with a mass of \( m_b \) and initial velocity \( v_b \).
    They stick together and move with a speed \( v_f \).
</p>

<p>
    Prove that the total kinetic energy lost in this collision is given by
    $$
        \Delta KE = - \frac{1}{2} \frac{m_a m_b}{(m_a + m_b)} \left( v_a - v_b \right)^2
    $$
</p>

<p>
    Under what condition is no kinetic energy lost?
    Explain why this is logical.
</p>

<p>
    How much kinetic energy is lost if \( m_a >> m_b \)?
</p>

<p>
    How much kinetic energy is lost if one of the two objects
    is initially stationary?
</p>

<p>
    Prove that if one of the objects is initially stationary
    and has a mass that is insignificant relative to the other,
    an insignificant amount of kinetic energy is lost.
    (For example, in the case of a truck running over a stationary pebble.)
</p>