<div class = 'container'>
    <div class = 'row'>
        <div class = 'md-col-4'>
            <p class = 'equation'>
                $$
                KE = \frac{1}{2} m v^2
                $$
            </p>
        </div>
        <div class = 'md-col-4'></div>
        <div class = 'md-col-4'>
            <p class = 'equation'>
                $$
                GPE = mgh
                $$
            </p>
        </div>
    </div>
</div>


<ol>
    <li>
        An object has a speed of 5 m/s
        and a mass of 4 kg.
        What is its kinetic energy?
        {{>formulaSolvingTable}}
    </li>
    <li>
        An object has a mass of 10 kg
        and a height of 20 m.
        What is its gravitational potential energy?
        {{>formulaSolvingTable}}
    </li>
    <li>
        An object has a mass of 4 kg and a kinetic energy
        of 100 Joules.
        What is its speed?
        {{>formulaSolvingTable}}
    </li>
    <li>
        An object has a mass of 8 kg and 400 Joules
        of gravitational potential energy.
        What is its height?
        {{>formulaSolvingTable}}
    </li>
</ol>



