<p class = 'introduction'>
    In the previous two pods, you derived all the necessary information regarding the motion
    of some object from a position-time graph and a velocity-time graph.
    From that one graph, you could write a story and determine the other two graphs.
    In this pod, you will do the same with an acceleration-time graph,
    but with one caveat.
    An acceleration-time graph does not tell you all of the information you need to know,
    it is missing one key piece: the initial velocity of an object.
    (Acceleration and velocity graphs also both don't contain the initial position of an
    object, but initial position is much less interesting than initial velocity.)
    To best understand this situation, you will make graphs showing different
    initial velocities and see how they compare.
</p>

<ol class = 'questionList'>
    <h5>Acceleration-Time Graph 1</h5>
    <img src = '/podAssets/kinematics/forward_kinematics_qualitative/acceleration_connection_1.png'>
    <li class = 'question'>
        A person, animal, or object moves with acceleration-time graph 1.
        Assume that it begins its motion <strong>at rest</strong>.
        <ol about="subQuestionList">
            <li class = 'subQuestion'>
                Write a story based on this motion.
            </li>
            <li class = 'subQuestion'>
                Create a position-time graph describing this motion.
            </li>
            <li class = 'subQuestion'>
                Create a velocity-time graph describing this motion.
            </li>
        </ol>
    </li>
    <li class = 'question'>
        A person, animal, or object again moves with acceleration-time graph 1,
        but this time assume that it begins <strong>in motion</strong> (initial velocity > 0).
        <ol about="subQuestionList">
            <li class = 'subQuestion'>
                Write a story based on this motion.
            </li>
            <li class = 'subQuestion'>
                Create a position-time graph describing this motion.
            </li>
            <li class = 'subQuestion'>
                Create a velocity-time graph describing this motion.
            </li>
        </ol>
    </li>

    <h5>Acceleration-Time Graph 2</h5>
    <img src = '/podAssets/kinematics/forward_kinematics_qualitative/acceleration_connection_2.png'>
    <li class = 'question'>
        A person, animal, or object moves with acceleration-time graph 2.
        Assume that it begins its motion <strong>at rest</strong>.
        <ol about="subQuestionList">
            <li class = 'subQuestion'>
                Write a story based on this motion.
            </li>
            <li class = 'subQuestion'>
                Create a position-time graph describing this motion.
            </li>
            <li class = 'subQuestion'>
                Create a velocity-time graph describing this motion.
            </li>
        </ol>
    </li>
    <li class = 'question'>
        A person, animal, or object again moves with acceleration-time graph 2,
        but this time assume that it begins <strong>in motion</strong> (initial velocity > 0).
        <ol about="subQuestionList">
            <li class = 'subQuestion'>
                Write a story based on this motion.
            </li>
            <li class = 'subQuestion'>
                Create a position-time graph describing this motion.
            </li>
            <li class = 'subQuestion'>
                Create a velocity-time graph describing this motion.
            </li>
        </ol>
    </li>

</ol>