
<p class = 'introduction'>
    In a <a href = '/pod/kinematics/forward_kinematics_qualitative/kinematic_graph_comparisons_1'>previous pod</a> on kinetics between kinematic graphs,
    you learned about how graphs of objects moving at a different constant velocities look different.
    In this pod, you will extend these comparisons to objects with different accelerations,
    final velocities, and initial velocities.
</p>

<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_101.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_102.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_103.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_104.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_105.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_106.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_107.png'/>