<p class = 'directions'>
    For each of the following statements and/or images,
    indicate if it represents a traveling or a standing wave.
</p>


<ol>
    <li>
        A wave that includes nodes and anti-nodes.
    </li>
    <li>
        A wave that primarily oscillates between two ends.
    </li>
    <li>
        Light waves from the sun that reach earth.
    </li>
    <li>
        Waves made in the strings of a violin when a musician plays it.
    </li>
    <li>
        You hear somebody across a large field speaking with a blowhorn.
        Classify the sound waves from the blowhorn.
    </li>
    <li>
        <img src = '/images/wave_image_a.png' height = '150px' width = 'auto' />
    </li>
    <li>
        <img src = '/images/wave_image_b.jpg' height = '150px' width = 'auto' />
    </li>
</ol>


<!--
    Image source https://www.webassign.net/asucolphysmechl2/lab_11/manual.html
    Image source https://www.slideserve.com/waneta/traveling-waves-wave-equation
-->
