<p class="directions">
    Calculate the torque acting on each rod.
    For full credit you must write the formula each time that you use it
    and include units and direction in your answer.
</p>

<ol>
    <li>

    </li>
</ol>