

<h4>
  Meters per Second and Miles Per Hour
</h4>

<p>
  This is the king of conversion factor problems!
  If you can solve these properly, you have truly mastered conversion factors!
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        Convert 8 meters per second to miles per hour. [4 conversion factors]
    </li>
    <li class="question">
        Convert 27 meters per second to miles per hour.
    </li>
    <li class="question">
        Convert 9 miles per hour to meters per second.
    </li>
    <li class = 'question'>
        The world record for the 100 meter dash is 9.58 seconds,
        held by Usain Bolt.
        Using four conversion factors, find his average speed during the race in in miles per hour.
    </li>
    <li class = 'question'>
        If someone is driving 60 mph on the highway, how many meters per second do they move? [4 conversion factors]
    </li>
</ol>

<h4>
    Acceleration Conversions
</h4>
<ol class = 'questionList'>
    <li class="question">
        A car accelerates by 2 mph every second.
        Convert this unit to meters per second squared. [4 conversion factors]
    </li>



</ol>
