
<p class = 'directions'>
    Complete each of the following problems with <em>two</em> conversion factors.
    You must use two conversion factors for each problem.
    On some of the problems, you have to use specific conversion factors.
    You must follow all of the requirements for conversion problems in the study guide.
</p>
<div class = 'styleGuide'>
    {{> conversionFactors}}
</div>


<ol class = 'questionList'>
    <li class = 'question' data-answer = '
        \(  \require{enclose}
            30 \, \text{seconds} =
            \frac{30 \, \enclose{horizontalstrike}{\text{seconds}}}{1}
            \left( \frac{1 \, \enclose{horizontalstrike}{\text{minute}}}{60 \, \enclose{horizontalstrike}{\text{seconds}}} \right)
            \left( \frac{1 \, \text{hour}}{60 \, \enclose{horizontalstrike}{\text{minutes}}} \right) =
        \)
    '>
        Convert 30 seconds to hours using two conversion factors.
    </li>
    <li class = 'question' data-answer = '
        \(
            250 \, \text{seconds} =
            \frac{250 \, \enclose{horizontalstrike}{\text{seconds}}}{1}
            \left( \frac{1 \enclose{horizontalstrike}{\text{minute}}}{60 \enclose{horizontalstrike}{\text{seconds}}} \right)
            \left( \frac{1 \, \text{hour}}{60 \, \enclose{horizontalstrike}{\text{DDD}}} \right) =
        \)
    '>        Convert 250 seconds to hours using two conversion factors.
    </li>
    <li class = 'question' data-answer = '
        \(
            50 \, \text{minutes} =
            \frac{50 \, \enclose{horizontalstrike}{\text{minutes}}}{1}
            \left( \frac{1 \, \enclose{horizontalstrike}{\text{hour}}}{60 \, \enclose{horizontalstrike}{\text{minutes}}} \right)
            \left( \frac{1 \, \text{day}}{24 \, \enclose{horizontalstrike}{\text{hours}}} \right) =
        \)
    '>        Convert 50 minutes to days.
    </li>
    <li class = 'question' data-answer = '
        \(
            1400 \, \text{feet} =
            \frac{1400 \, \enclose{horizontalstrike}{\text{feet}}}{1}
            \left( \frac{1 \, \enclose{horizontalstrike}{\text{mile}}}{5280 \, \enclose{horizontalstrike}{\text{feet}}} \right)
            \left( \frac{AAA \, \text{BBB}}{CCC \, \enclose{horizontalstrike}{\text{DDD}}} \right) =
        \)
    '>        Convert 1400 feet to kilometers using these conversion factors:
        <ul>
            <li>1 mile = 5280 feet</li>
            <li>1 mile = 1.61 kilometers</li>
        </ul>
    </li>
    <li class = 'question' data-answer = '
        \(
            1400 \, \text{feet} =
            \frac{1400 \, \enclose{horizontalstrike}{\text{feet}}}{1}
            \left( \frac{1 \, \enclose{horizontalstrike}{\text{meter}}}{3.28 \, \enclose{horizontalstrike}{\text{feet}}} \right)
            \left( \frac{AAA \, \text{BBB}}{CCC \, \enclose{horizontalstrike}{\text{DDD}}} \right) =
        \)
    '>        Convert 1400 feet to kilometers using these <em>different</em> conversion factors:
        <ul>
            <li>1 meter = 3.28 feet</li>
            <li>1 kilometer = 1000 meters</li>
        </ul>
    </li>
    <li class = 'question' data-answer = '
        \(
            5 \, \text{days} =
            \frac{5 \, \enclose{horizontalstrike}{\text{days}}}{1}
            \left( \frac{24 \, \enclose{horizontalstrike}{\text{hours}}}{1 \, \enclose{horizontalstrike}{\text{day}}} \right)
            \left( \frac{AAA \, \text{BBB}}{CCC \, \enclose{horizontalstrike}{\text{DDD}}} \right) =
        \)
    '>        How many minutes are there in 5 days?
    </li>
    <li class = 'question' data-answer = '
        \(
            20 \, \text{miles} =
            \frac{20 \, \enclose{horizontalstrike}{\text{miles}}}{1}
            \left( \frac{5280 \, \enclose{horizontalstrike}{\text{feet}}}{1 \, \enclose{horizontalstrike}{\text{mile}}} \right)
            \left( \frac{AAA \, \text{BBB}}{CCC \, \enclose{horizontalstrike}{\text{DDD}}} \right) =
        \)
    '>        How many inches are there in 20 miles?
    </li>
    <li class = 'question' data-answer = '
        \(
            1 \, \text{mile} =
            \frac{1 \, \enclose{horizontalstrike}{\text{mile}}}{1}
            \left( \frac{1.61 \, \enclose{horizontalstrike}{\text{kilometers}}}{1 \, \enclose{horizontalstrike}{\text{mile}}} \right)
            \left( \frac{AAA \, \text{BBB}}{CCC \, \enclose{horizontalstrike}{\text{DDD}}} \right) =
        \)
    '>        How many meters are there in 1 mile? Use these two conversion factors:
        <ul>
            <li>1 mile = 1.61 kilometers</li>
            <li>1 kilometer = 1000 meters</li>
        </ul>
    </li>
    <li class = 'question' data-answer = '
        \(
            1 \, \text{mile} =
            \frac{1 \, \enclose{horizontalstrike}{\text{mile}}}{1}
            \left( \frac{5280 \, \enclose{horizontalstrike}{\text{feet}}}{1 \, \enclose{horizontalstrike}{\text{mile}}} \right)
            \left( \frac{AAA \, \text{BBB}}{CCC \, \enclose{horizontalstrike}{\text{DDD}}} \right) =
        \)
    '>        How many meters are there in 1 mile? Use these two <em>different</em> conversion factors:
        <ul>
            <li>1 mile = 5280 feet</li>
            <li>1 meter = 3.28 feet</li>
        </ul>
    </li>
    <li class = 'question' data-answer = '
        \(
            500 \, \text{slugs} =
            \frac{500 \, \enclose{horizontalstrike}{\text{slugs}}}{1}
            \left( \frac{14.6 \, \enclose{horizontalstrike}{\text{kilograms}}}{1 \, \enclose{horizontalstrike}{\text{slug}}} \right)
            \left( \frac{AAA \, \text{BBB}}{CCC \, \enclose{horizontalstrike}{\text{DDD}}} \right) =
        \)
    '>        Convert 500 slugs to metric tons.
    </li>
</ol>


<ol class="answerList"></ol>