
<p class = 'directions'>
    Complete each of the following problems with <em>two</em> conversion factors.
    You must use two conversion factors for each problem.
    On some of the problems, you have to use specific conversion factors.
    You must follow all of the requirements for conversion problems in the study guide.
    Please write all answers to three significant figures of accuracy.
</p>
<div class = 'styleGuide'>
    {{> conversionFactors}}
</div>


<ol class = 'questionList'>
    <li class = 'question' data-answer = '
        \(  \require{enclose}
            30 \, \text{seconds} =
            \frac{30 \, \enclose{horizontalstrike}{\text{seconds}}}{1}
            \left( \frac{1 \, \enclose{horizontalstrike}{\text{minute}}}{60 \, \enclose{horizontalstrike}{\text{seconds}}} \right)
            \left( \frac{1 \, \text{hour}}{60 \, \enclose{horizontalstrike}{\text{minutes}}} \right) =
            \frac{30 \, \text{hours}}{60 \cdot 60} =
            0.00833 \, \text{hours}
        \)
    '>
        Convert 30 seconds to hours using two conversion factors.
    </li>
    <li class = 'question' data-answer = '
        \(
            250 \, \text{seconds} =
            \frac{250 \, \enclose{horizontalstrike}{\text{seconds}}}{1}
            \left( \frac{1 \enclose{horizontalstrike}{\text{minute}}}{60 \enclose{horizontalstrike}{\text{seconds}}} \right)
            \left( \frac{1 \, \text{hour}}{60 \, \enclose{horizontalstrike}{\text{minutes}}} \right) =
            \frac{250 \, \text{hours}}{60 \cdot 60} =
            0.0694 \, \text{hours}
        \)
    '>        Convert 250 seconds to hours using two conversion factors.
    </li>
    <li class = 'question' data-answer = '
        \(
            50 \, \text{minutes} =
            \frac{50 \, \enclose{horizontalstrike}{\text{minutes}}}{1}
            \left( \frac{1 \, \enclose{horizontalstrike}{\text{hour}}}{60 \, \enclose{horizontalstrike}{\text{minutes}}} \right)
            \left( \frac{1 \, \text{day}}{24 \, \enclose{horizontalstrike}{\text{hours}}} \right) =
            \frac{50 \, \text{days}}{60 \cdot 24} =
            0.0347 \, \text{days}
        \)
    '>        Convert 50 minutes to days.
    </li>
    <li class = 'question' data-answer = '
        \(
            1400 \, \text{feet} =
            \frac{1400 \, \enclose{horizontalstrike}{\text{feet}}}{1}
            \left( \frac{1 \, \enclose{horizontalstrike}{\text{mile}}}{5280 \, \enclose{horizontalstrike}{\text{feet}}} \right)
            \left( \frac{1.61 \, \text{kilometers}}{1 \, \enclose{horizontalstrike}{\text{mile}}} \right) =
            \frac{1400 \cdot 1.61 \, \text{kilometers}}{5280} =
            0.427 \, \text{kilometers}
        \)
    '>        Convert 1400 feet to kilometers using these conversion factors:
        <ul>
            <li>1 mile = 5280 feet</li>
            <li>1 mile = 1.61 kilometers</li>
        </ul>
    </li>
    <li class = 'question' data-answer = '
        \(
            1400 \, \text{feet} =
            \frac{1400 \, \enclose{horizontalstrike}{\text{feet}}}{1}
            \left( \frac{1 \, \enclose{horizontalstrike}{\text{meter}}}{3.28 \, \enclose{horizontalstrike}{\text{feet}}} \right)
            \left( \frac{1 \, \text{kilometer}}{1000 \, \enclose{horizontalstrike}{\text{meters}}} \right) =
            \frac{1400 \, \text{kilometers}}{3.28 \cdot 1000} =
            0.427 \, \text{kilometers}
        \)
    '>        Convert 1400 feet to kilometers using these <em>different</em> conversion factors:
        <ul>
            <li>1 meter = 3.28 feet</li>
            <li>1 kilometer = 1000 meters</li>
        </ul>
    </li>
    <li class = 'question' data-answer = '
        \(
            5 \, \text{days} =
            \frac{5 \, \enclose{horizontalstrike}{\text{days}}}{1}
            \left( \frac{24 \, \enclose{horizontalstrike}{\text{hours}}}{1 \, \enclose{horizontalstrike}{\text{day}}} \right)
            \left( \frac{60 \, \text{minutes}}{1 \, \enclose{horizontalstrike}{\text{hour}}} \right) =
            \frac{5 \cdot 24 \cdot 60 \, \text{minutes}}{1} =
            7200 \, \text{minutes}
        \)
    '>        How many minutes are there in 5 days?
    </li>
    <li class = 'question' data-answer = '
        \(
            20 \, \text{miles} =
            \frac{20 \, \enclose{horizontalstrike}{\text{miles}}}{1}
            \left( \frac{5280 \, \enclose{horizontalstrike}{\text{feet}}}{1 \, \enclose{horizontalstrike}{\text{mile}}} \right)
            \left( \frac{12 \, \text{inches}}{1 \, \enclose{horizontalstrike}{\text{foot}}} \right) =
            \frac{20 \cdot 5280 \cdot 12 \, \text{inches}}{1} =
            AAA \, \text{miles}
        \)
    '>        How many inches are there in 20 miles?
    </li>
    <li class = 'question' data-answer = '
        \(
            1 \, \text{mile} =
            \frac{1 \, \enclose{horizontalstrike}{\text{mile}}}{1}
            \left( \frac{1.61 \, \enclose{horizontalstrike}{\text{kilometers}}}{1 \, \enclose{horizontalstrike}{\text{mile}}} \right)
            \left( \frac{1000 \, \text{meters}}{1 \, \enclose{horizontalstrike}{\text{kilometer}}} \right) =
            \frac{1.61 \cdot 1000 \, \text{meters}}{1} =
            1610 \, \text{meters}
        \)
    '>        How many meters are there in 1 mile? Use these two conversion factors:
        <ul>
            <li>1 mile = 1.61 kilometers</li>
            <li>1 kilometer = 1000 meters</li>
        </ul>
    </li>
    <li class = 'question' data-answer = '
        \(
            1 \, \text{mile} =
            \frac{1 \, \enclose{horizontalstrike}{\text{mile}}}{1}
            \left( \frac{5280 \, \enclose{horizontalstrike}{\text{feet}}}{1 \, \enclose{horizontalstrike}{\text{mile}}} \right)
            \left( \frac{1 \, \text{meter}}{3.28 \, \enclose{horizontalstrike}{\text{feet}}} \right) =
            \frac{5280 \, \text{meters}}{3.28} =
            1610 \, \text{meters}
        \)
        [To three significant digits, it is identical to the above answer.]
    '>        How many meters are there in 1 mile? Use these two <em>different</em> conversion factors:
        <ul>
            <li>1 mile = 5280 feet</li>
            <li>1 meter = 3.28 feet</li>
        </ul>
    </li>
    <li class = 'question' data-answer = '
        \(
            500 \, \text{slugs} =
            \frac{500 \, \enclose{horizontalstrike}{\text{slugs}}}{1}
            \left( \frac{14.6 \, \enclose{horizontalstrike}{\text{kilograms}}}{1 \, \enclose{horizontalstrike}{\text{slug}}} \right)
            \left( \frac{1 \, \text{metric ton}}{1000 \, \enclose{horizontalstrike}{\text{kilograms}}} \right) =
            \frac{500 \cdot 14.6 \, \text{metric tons}}{1000} =
            7.30 \, \text{metric tons}
        \)
    '>        Convert 500 slugs to metric tons.
    </li>
</ol>


<ol class="answerList"></ol>
