

<h4>
  One Conversion Factor
</h4>

<p class = 'directions'>
  Complete all of the problems below using the conversion
  factor method.
  For full credit, you must follow
  the steps in the style guide.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    Convert 5 meters per second to meters per minute.
  </li>
  <li class = 'question'>
    Convert 12 meters per second to meters per minute.
  </li>
  <li class = 'question'>
    Convert 15 meters per second to feet per second.
  </li>
  <li class = 'question'>
    Convert 60 feet per second to meters per second.
  </li>
  <li class = 'question'>
    Convert 90 feet per second to feet per minute.
  </li>
</ol>


<h4>
  Two Conversion Factors
</h4>

<p class = 'dreictions'>
  Complete all of the problems below
  by using <em>two</em> conversion factors.
  For full credit, you must follow the steps
  in the style guide.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    Convert 8 meters per second to meters per hour.
  </li>
  <li class = 'question'>
    Convert 14 meters per second to feet per minute.
  </li>
</ol>
