

<p>
  Solve all fo the problems below by inventing a formula
  using dimensional analysis.
  You may know one of the "official" physics formulas that you can use,
  but even if you do, don't use it!
  Instead, derive a formula for this specific problem
  by stringing together a series of conversion factors and quantities represented.
</p>


<li class = 'question'>
  The world record 100 meter dash time is ____ seconds.
  Using conversion factors (and NO formulas),
  determine this average speed in miles per hour.
</li>
<li class = 'question'>
  A very good major league baseball pitcher pitches a ball with a speed of 95 mph.
  Home plate is 60 feet, 6 inches (60.5 feet) from the pitches mount.
  Determine the time in seconds it would take a 95 mph fastball to reach home plate.
</li>
<li class = 'question'>
  If a plane flies 1 mile every 6 seconds,
  determine the time in hours it takes the plane to fly from New York to Los Angeles.
</li>
