
<p>
    To complete:
    $$
    \frac{54}{32 \cdot 45}
    $$
    You can type either of these two things into your calculator:
    $$
    54 / 32 / 45 \: \: \: \text{or} \: \: \: 54 / (32 \cdot 45)
    $$
    But, do NOT type!
    $$
    \require{enclose}
    \enclose{horizontalstrike}{54 / 32 \cdot 45}
    $$
    which will give the wrong answer!
</p>



<p class="directions">
    Evaluate each of the expressions below using a calculator.
</p>

<ol class="questionList">
    <li class="question" data-answer = ''>
        \(
            \frac{AAA}{BBB \cdot CCC}
        \)
    </li>
    <li class="question" data-answer = ''>
        \(
        \frac{AAA}{BBB \cdot CCC}
        \)
    </li>
    <li class="question" data-answer = ''>
        \(
        \frac{AAA}{BBB \cdot CCC}
        \)
    </li>
    <li class="question" data-answer = ''>
        \(
        \frac{AAA}{BBB \cdot CCC}
        \)
    </li>
    <li class="question" data-answer = ''>
        \(
        \frac{AAA}{BBB \cdot CCC \cdot DDD}
        \)
    </li>
    <li class="question" data-answer = ''>
        \(
        \frac{AAA}{BBB \cdot CCC \cdot DDD \cdot EEE}
        \)
    </li>
</ol>


<ol class="answerList"></ol>