
<!--
I want to make this into a higher level pod,
on energy types:
not level 1, level 2 or 3
-->

<p>
  When physicists say
  "kinetic energy" and "potential energy,"
  they don't actually mean two specific types of energy
  but actually two <strong>broad categories</strong>.
  In fact, <em>every</em> type of energy
  can be categorized as either
  a <strong>kinetic energy</strong>
  or a <strong>potential energy</strong>.
</p>

<p class = 'definition' data-word = 'Kinetic Energy'>
  All types of energy
  held by something in motion
  are <strong>kinetic energy</strong>.
</p>
<p class = 'definition' data-word = 'Potential Energy'>
  All types of energy
  held by something that is not
  moving, but has the <em>potential</em>
  to begin moving are <strong>potential energy</strong>.
</p>


<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <strong>
        Kinetic Energy
      </strong>
    </div>
    <div class = 'col-6 border border-dark'>
      <strong>
        Potential Energy
      </strong>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark mt-3'>
      <ul>
        <li>
          Translational Kinetic Energy
        </li>
        <li>
          Rotational Kinetic Energy
        </li>
        <li>
          Thermal Energy
        </li>
        <li>
          Electrical Energy
        </li>
        <li>
          Mechanical Wave Energy
        </li>
        <li>
          Electromangetic Wave Energy
        </li>
      </ul>
    </div>
    <div class = 'col-6 border border-dark mt-3'>
      <ul>
        <li>
          Gravitational Potential Energy
        </li>
        <li>
          Elastic Potential Energy
        </li>
        <li>
          Chemical Potential Energy
        </li>
        <li>
          Electrochemical Potential Energy
        </li>
        <li>
          Nuclear Energy
        </li>
      </ul>
    </div>
  </div>
</div>

<h4>
  Translational vs. Rotational Kinetic Energy
</h4>
<!--
should i move this to another unit?
-->

<p class = 'definition' data-word = 'Translational Kinetic Energy'>
  An object has <strong>translational kinetic energy</strong>
  if its <em>center of mass</em> is moving.
</p>
<p class = 'definition' data-word = 'Rotational Kinetic Energy'>
  An object's <strong>rotational kinetic energy</strong>
  if it is <em>rotating about its center of mass</em>.
</p>

<p>
  Some objects in rotational motion about a point
  <em>other than</em> their center of mass have translational
  kinetic energy.
</p>

<p class = 'directions'>
  For each of the objects below, indicate if it has
  <em>translational kinetic energy</em>,
  <em>rotational kinetic energy</em>,
  or <em>both</em>.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'both'>
    When a car is moving, the tire of a car.
  </li>
  <li class = 'question' data-answer = 'translational'>
    A door that is being opened.
  </li>
  <li class 'question' data-answer = 'translational'>
    A baseball bat being swung by Big Papi.
  </li>
  <li class = 'question' data-answer = 'rotational'>
    A basketball spinning on tip of Michael Jordan's finger.
  </li>
  <li class = 'question' data-answer = 'both'>
    The rotor on a steamboat while the boat is moving.
  </li>
  <li class = 'question' data-answer = 'translational'>
    A book being pushed across a table
  </li>
  <li class = 'question' data-answer = 'both'>
    The earth orbitting the sun
  </li>
</ol>

<h4>
  Translational Kinetic Energy vs. Thermal Energy
</h4>

<p>
  Everything is made of atoms and molecules,
  and when those atoms and molecules
  move, it has kinetic energy!
  However, atoms and molecules can move in two different ways,
  and those two different ways indicate two different types of kinetic energy:
  translational kinetic energy and thermal energy.
</p>

<p class = 'definition' data-word = 'Translational Kinetic Energy'>
  Imagine a block made of molecules.
  If all of those molecules are moving in the <em>same direction</em>,
  that block has <strong>translational kinetic energy</strong>.
</p>

<p class = 'definition' data-word = 'Thermal Energy'>
  Imagine a block made of molecules.
  The molecules are <em>always</em> moving randomly!
  Because of this random motion, the molecules have
  <strong>thermal energy</strong>.
  <br>
  Objects that are cold <em>still</em> have thermal energy, just less.
</p>

<p class = 'directions'>
  For each of the object's below,
  indicate if it has
  <em>translational kinetic energy only</em>,
  <em>thermal energy only</em>,
  or <em>both</em>.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'both'>
    A broom being dragged across the room.
  </li>
  <li class = 'question' data-answer = 'thermal enery only'>
    The air inside a hot oven.
  </li>
  <li class = 'question' data-answer = 'both'>
    The air inside a hot oven on a cruise ship, that is moving.
  </li>
  <li class = 'question' data-answer = 'thermal energy only (just less!)'>
    An iceberg, which isn't moving at all.
  </li>
  <li class = 'question' data-answer = 'both (just less thermal energy!)'>
    An iceman (made of ice) running a marathon.
  </li>
  <li class = 'question' data-answer = 'All objects have randomly moving molecules, whether they are moving translationally or not.'>
    Hey, have you been checking your answer?
    If you have, you might have noticed that <em>none</em>
    of these have translational kinetic energy only. Why is that?
  </li>
  <li class = 'question' data-answer = 'translational kinetic energy only'>
    A (not real) baseball at absolute zero moving in space.
  </li>
</ol>


<h4>
  Six Types of Kinetic Energy
</h4>


<h4>
  Five Types of Potential Energy
</h4>
