
<h4>
  Five Types of Energy To Start
</h4>

<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <strong>Definition</strong>
    </div>
    <div class = 'col-6 border border-dark'>
      <strong>Examples</strong>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Kinetic Energy</em>
      <br>
      Energy of something moving.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>A sprinter running.</li>
        <li>A car driving.</li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Gravitational Potential Energy</em>
      <br>
      Energy of something that is high up off the ground.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          A bungee jumper on a high cliff about to jump
        </li>
        <li>
          A glass of water sitting on the edge of a table
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Elastic Potential Energy</em>
      <br>
      Energy stored in something that has been stretched or compressed.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          A stretched rubber band.
        </li>
        <li>
          A bowstring just before an arrow is released.
        </li>
        <li>
          A trampoline when you fall onto it and it stretches out.
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Thermal Energy</em>
      <br>
      Energy of moving molecules.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          All items have thermal energy!
          Warmer objects just have more than cooler objects.
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Chemical Potential Energy</em>
      <br>
      Energy contained in chemical bonds between atoms.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          Food
        </li>
        <li>
          Gasoline
        </li>
      </ul>
    </div>
  </div>
</div>

<div class = 'addAnswerButton'></div>

<p class = 'directions'>
  For each item, state what type of energy it has.
  (If it has more than one, pick the best option!)
</p>

<ol class = 'questionList' id = 'list1'>
</ol>
<div class = 'addAnswerButton'></div>


<script>
    const firstEnergyArray = ['ke','gpe','epe','te','cpe'];
    writtenEnergySelectionProblem('A very fast moving car',firstEnergyArray,'ke').displayProblemAsInputOneAnswer('list1');
    writtenEnergySelectionProblem('A bookshelf on the roof of a building',firstEnergyArray,'gpe').displayProblemAsInputOneAnswer('list1');
    writtenEnergySelectionProblem('Your lunch',firstEnergyArray,'cpe').displayProblemAsInputOneAnswer('list1');
    writtenEnergySelectionProblem('Anything with moving molecules',firstEnergyArray,'te').displayProblemAsInputOneAnswer('list1');
    writtenEnergySelectionProblem('A matchbox car that is wound up; matchbox cars have springs inside them.',firstEnergyArray,'epe').displayProblemAsInputOneAnswer('list1');
    writtenEnergySelectionProblem('A gallon of gasoline',firstEnergyArray,'cpe').displayProblemAsInputOneAnswer('list1');
    writtenEnergySelectionProblem('Mr. Kuncik running in the hallway',firstEnergyArray,'ke').displayProblemAsInputOneAnswer('list1');
    writtenEnergySelectionProblem('A book that is on the edge of a table.',firstEnergyArray,'gpe').displayProblemAsInputOneAnswer('list1');
</script>


<p class = 'directions'>
  For each type of energy,
  draw a picture of something with that type of energy.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    Kinetic Energy
  </li>
  <li class = 'question'>
    Gravitational Potential Energy
  </li>
  <li class = 'question'>
    Elastic Potential Energy
  </li>
  <li class = 'question'>
    Thermal Energy
  </li>
  <li class = 'question'>
    Chemical Potential Energy
  </li>
</ol>

<h4>
  Five More types of Energy
</h4>

<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <strong>Definition</strong>
    </div>
    <div class = 'col-6 border border-dark'>
      <strong>Examples</strong>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Electrical Energy</em>
      <br>
      Energy of moving electrons.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          Electric Current in a wire
        </li>
        <li>
          A static shock
        </li>
        <li>
          A lightning bolt.
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Electrochemical Potential Energy</em>
      <br>
      A specific type of chemical potential energy that
      can easily be converted into electrical energy.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          A battery
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Mechanical Wave Energy</em>
      <br>
      Waves of oscillation that move through matter;
      made by atoms pushing other atoms.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          Water waves
        </li>
        <li>
          Sound
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Electromagnetic Wave Energy</em>
      <br>
      Waves of oscillating electric and magnetic energy.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          Light
        </li>
        <li>
          Microwaves (Not a microwave oven, the things that a microwave oven makes!)
        </li>
        <li>
          Ultraviolet light
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Nuclear Energy</em>
      <br>
      Energy contained in the nucleus of an atom;
      energy contained in mass.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          All objects have nuclear energy.
        </li>
        <li>
          Objects whose nuclear energy is released are <em>radioactive</em>.
        </li>
      </ul>
    </div>
  </div>
</div>

<p>
  A common error:
  don't call Mechanical Wave Energy
  "Mechanical Energy"!!
  It's very important to indicate it is a wave,
  and mechanical energy is actually a different thing
  we will learn about later!
</p>

<p class = 'directions'>
  For each item, state what type of energy it has.
  (If it has more than one, pick the best option!)
</p>
<div class = 'addAnswerButton'></div>
<ol class = 'questionList' id = 'list2'></ol>
<div class = 'addAnswerButton'></div>

<script>
    const secondEnergyArray = ['ee','mwe','emwe','ne','ecpe'];
    writtenEnergySelectionProblem('Current in an electrical transmission wire',secondEnergyArray,'ee').displayProblemAsInputOneAnswer('list2');
    writtenEnergySelectionProblem('The smallest part of an atom, when it is moving',secondEnergyArray,'ee').displayProblemAsInputOneAnswer('list2');
    writtenEnergySelectionProblem('The center of an atom has this type of energy',secondEnergyArray,'ne').displayProblemAsInputOneAnswer('list2');
    writtenEnergySelectionProblem('Light',secondEnergyArray,'emwe').displayProblemAsInputOneAnswer('list2');
    writtenEnergySelectionProblem('AAA battery',secondEnergyArray,'ecpe').displayProblemAsInputOneAnswer('list2');
    writtenEnergySelectionProblem('Someone is banging on the door. What is the energy of the BANG?',secondEnergyArray,'mwe').displayProblemAsInputOneAnswer('list2');
    writtenEnergySelectionProblem('Water waves you see at the beach',secondEnergyArray,'mwe').displayProblemAsInputOneAnswer('list2');
    writtenEnergySelectionProblem('All matter has this type of energy, because all matter has mass.',secondEnergyArray,'ne').displayProblemAsInputOneAnswer('list2');
    writtenEnergySelectionProblem('An X-Ray machine makes this type of energy.',secondEnergyArray,'emwe').displayProblemAsInputOneAnswer('list2');
    writtenEnergySelectionProblem('The type of energy used by a cellphone to send signals',secondEnergyArray,'emwe').displayProblemAsInputOneAnswer('list2');
</script>

<p class = 'directions'>
  For each type of energy,
  draw a picture of something that shows that type of energy.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    Electrical Energy
  </li>
  <li class = 'question'>
    Mechanical Wave Energy
  </li>
  <li class = 'question'>
    Electromagnetic Wave Energy
  </li>
  <li class = 'question'>
    Nuclear Energy
  </li>
  <li class = 'question'>
    Electrochemical Potential Energy
  </li>
</ol>
