
<p class = 'introduction'>
    In the pods of this topic, our goal has been to identify types of energy
    and to describe how energy changes from one type to another.
    In this pod, our goal is to trace all energy transfers back to their initial source: the sun.
    Of the energy on earth, the vast majority originated with light from the sun.
    All the energy in your life: the kinetic energy of you walking around,
    the light energy from a bulb,
    or the potential energy in your phone's battery, can be traced back, step by step, to the sun.
</p>


<div class = 'accordion' id = 'energyBooksAccordion'>
    <div class = 'card'>
        <div class = 'card-header bookTitleCard' id = 'book1_heading'>
            <h3 class = 'mb-0 bookTitle'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = '#collapse_energy_book_1' aria-expanded = 'false' aria-controls = 'collapse_energy_book_1'>
                    The Story of Energy: Book 1
                </button>
            </h3>
        </div>
    </div>
    <div id = 'collapse_energy_book_1' class = 'collapse' aria-labelledby="book1_heading" data-parent = '#energyBooksAccordion'>
        <div class = 'card-body'>
            {{>book1_apple}}
        </div>
    </div>
    <div class = 'card'>
        <div class = 'card-header bookTitleCard' id = 'book2_heading'>
            <h3 class = 'mb-0 bookTitle'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = '#collapse_energy_book_2' aria-expanded = 'false' aria-controls = 'collapse_energy_book_2'>
                    The Story of Energy: Book 2
                </button>
            </h3>
        </div>
    </div>
    <div id = 'collapse_energy_book_2' class = 'collapse' aria-labelledby="book1_heading" data-parent = '#energyBooksAccordion'>
        <div class = 'card-body'>
            {{>book2_cow}}
        </div>
    </div>
    <div class = 'card'>
        <div class = 'card-header bookTitleCard' id = 'book1_heading'>
            <h3 class = 'mb-0 bookTitle'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = '#collapse_energy_book_3' aria-expanded = 'false' aria-controls = 'collapse_energy_book_3'>
                    The Story of Energy: Book 3
                </button>
            </h3>
        </div>
    </div>
    <div id = 'collapse_energy_book_3' class = 'collapse' aria-labelledby="book1_heading" data-parent = '#energyBooksAccordion'>
        <div class = 'card-body'>
            {{>book3_coal}}
        </div>
    </div>
    <div class = 'card'>
        <div class = 'card-header bookTitleCard' id = 'book1_heading'>
            <h3 class = 'mb-0 bookTitle'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = '#collapse_energy_book_4' aria-expanded = 'false' aria-controls = 'collapse_energy_book_4'>
                    The Story of Energy: Book 4
                </button>
            </h3>
        </div>
    </div>
    <div id = 'collapse_energy_book_4' class = 'collapse' aria-labelledby="book1_heading" data-parent = '#energyBooksAccordion'>
        <div class = 'card-body'>
            {{>book4_gas}}
        </div>
    </div>
    <div class = 'card'>
        <div class = 'card-header bookTitleCard' id = 'book1_heading'>
            <h3 class = 'mb-0 bookTitle'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = '#collapse_energy_book_5' aria-expanded = 'false' aria-controls = 'collapse_energy_book_5'>
                    The Story of Energy: Book 5
                </button>
            </h3>
        </div>
    </div>
    <div id = 'collapse_energy_book_5' class = 'collapse' aria-labelledby="book1_heading" data-parent = '#energyBooksAccordion'>
        <div class = 'card-body'>
            {{>book5_wind}}
        </div>
    </div>
</div>

<h5>
    Creating Energy Transfer Diagrams Based on These Stories
</h5>

<ol class = 'questionList'>
    <li class = 'question'>
        Read Book 1.
        Create an energy transfer diagram that shows how energy
        changes from light from the sun into the running person,
        via an apple.
    </li>
    <li class = 'question'>
        Read Book 2.
        Create an energy transfer diagram that shows how energy
        changes from light from the sun into the person on the top of the stairs,
        via a cow.
    </li>
    <li class = 'question'>
        Read Book 3.
        Create an energy transfer diagram that describes the
        transition from light from the sun into light form the light bulb,
        via coal.
    </li>
    <li class = 'question'>
        Read Book 4.
        Create an energy transfer diagram that describes the
        transition from light from the sun into light form the light bulb,
        via natural gas.
    </li>
    <li class = 'question'>
        Read Book 5.
        Create an energy transfer diagram that describes the
        transition from light from the sun into light form the light bulb,
        via wind.
    </li>
</ol>


<h5>
    Creating Energy Transfer Diagrams Based on Similar Stories
</h5>

<ol class = 'questionList'>
    <li class = 'question'>
        A person eats a loaf of bread, then fires an arrow.
        Create an energy transfer diagram that describes
        changes in energy from the light of the sun
        to the motion of the arrow.
    </li>
    <li class = 'question'>
        A person puts coal into a furnace in order to heat up their house.
        Create an energy transfer diagram that describes changes in energy
        from the light of the sun to the heat within the house.
    </li>
    <li class = 'question'>
        Create a similar energy transfer diagram diagram that shows
        somebody lighting their house with wood, not coal.
    </li>
    <li class = 'question'>
        Somebody plugs in their iPhone to charge their battery.
        Assume that their electrical power came primarily from natural gas.
        Create an energy transfer diagram that shows how the energy
        stored in the battery ultimately
        came from the sun.
    </li>
    <li class = 'question'>
        Somebody plugs speakers into an outlet and plays music.
        Assume that their electrical energy comes primarily from wind turbines.
        Create an energy transfer diagram that shows how the energy  of the music ultimately
        came from the sun.
    </li>
</ol>