
<p class = 'introduction'>
    In the pods of this topic, our goal has been to identify types of energy
    and to describe how energy changes from one type to another.
    In this pod, our goal is to trace all energy transfers back to their initial source: the sun.
    Of the energy on earth, the vast majority originated with light from the sun.
    All the energy in your life: the kinetic energy of you walking around,
    the light energy from a bulb,
    or the potential energy in your phone's battery, can be traced back, step by step, to the sun.
</p>


<div class = 'accordion' id = 'energyBooksAccordion'>
    <div class = 'card'>
        <div class = 'card-header bookTitleCard' id = 'book1'>
            <h3 class = 'mb-0 bookTitle'>
                <button class = 'btnbtn-link' type = 'button' data-toggle = 'collapse' data-target = '#collapse_energy_story_1'>

                </button>
                The Story of Energy: Book 1
            </h3>
        </div>
    </div>
</div>


<div class = 'container'>
    <div class="row">
        <div class = 'col-12 text-center'>
            <h3 class = 'bookTitle'>
                The Story of Energy: Book 1
            </h3>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12'>
            {{>book1_apple}}
        </div>
    </div>

    <div class = 'row'>
      <h3 class = 'bootTitle'>
        The Story of Energy: Book 2
      </h3>
    </div>

    <div class = 'row'>
        {{>book2_cow}}
    </div>


    <div class = 'row'>
        <h3 class = 'bookTitle'>
            The Story of Energy: Book 3
        </h3>
    </div>
    <div class = 'row'>
        {{>book3_coal}}
    </div>

    <div class = 'row'>
      <h3 class = 'bookTitle'>
        The Story of Energy: Book 4
      </h3>
    </div>
    <div class = 'row'>
        {{>book4_gas}}
    </div>

    <div class = 'row'>
      <h3 class = 'bookTitle'>
        The Story of Energy Book 5
      </h3>
    </div>

    <div class = 'row'>
        {{>book5_wind}}
    </div>

</div>
