
<div class="container">
    <div class="row">
        <div class="col-md-6 border border-dark p-3">
            If
            $$
            A = B \cdot \text{constant}
            $$
            Then A and B are <strong>directly proportional</strong>.
        </div>
        <div class="col-md-6 border border-dark p-3">
            If
            $$
            A = \frac{\text{constant}}{B}
            $$
            or
            $$
            \text{constant} = A \cdot B
            $$
            Then A and B are <strong>inversely proportional.</strong>
        </div>
    </div>
</div>

<p>
    Most physics equations have <strong>3</strong> variables.
    Proportionality relationships only exist in equations of 2 variables,
    which means that one of the three variables must be constant for a proportionality
    relationship to exist.
</p>

<div class="container">
    <div class="row">
        <div class="col-6 border border-dark p-3">
            \( \Sigma F = m a \)
        </div>
        <div class="col-6 border border-dark p-3">
            \( p = m v \)
        </div>
    </div>
    <div class="row">
        <div class="col-6 border border-dark p-3">
            \( V = I R \)
        </div>
        <div class="col-6 border border-dark p-3">
            \( F_g = m g \)
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-2 border border-dark">
            <strong>Symbol</strong>
        </div>
        <div class="col-3 border border-dark">
            <strong>Quantity</strong>
        </div>
        <div class="col-1 border border-dark bg-secondary">

        </div>
        <div class="col-2 border border-dark">
            <strong>Symbol</strong>
        </div>
        <div class="col-3 border border-dark">
            <strong>Quantity</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-3">
            \( \Sigma F \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Net Force
        </div>
        <div class="col-1 border border-dark bg-secondary">
        </div>
        <div class="col-2 border border-dark pt-3">
            \( V \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Voltage
        </div>
    </div>

    <div class="row">
        <div class="col-2 border border-dark pt-3">
            \( m \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Mass
        </div>
        <div class="col-1 border border-dark bg-secondary">
        </div>
        <div class="col-2 border border-dark pt-3">
            \( I \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Current
        </div>
    </div>

    <div class="row">
        <div class="col-2 border border-dark pt-3">
            \( a \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Acceleration
        </div>
        <div class="col-1 border border-dark bg-secondary">
        </div>
        <div class="col-2 border border-dark pt-3">
            \( R \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Resistance
        </div>
    </div>

    <div class="row">
        <div class="col-2 border border-dark pt-3">
            \( p \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Momentum
        </div>
        <div class="col-1 border border-dark bg-secondary">
        </div>
        <div class="col-2 border border-dark pt-3">
            \( F_g \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Weight (Force of Gravity)
        </div>
    </div>

    <div class="row">
        <div class="col-2 border border-dark pt-3">
            \( v \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Velocity
        </div>
        <div class="col-1 border border-dark bg-secondary">
        </div>
        <div class="col-2 border border-dark pt-3">
            \( g \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Free-Fall Acceleration
        </div>
    </div>
</div>

<ol class="questionList mt-5">
    <li class="question" data-answer = 'directly proportional'>
        What is the proportionality relationship between net force and acceleration
        if mass is held constant?
    </li>
    <li class="question" data-answer = 'inversely proportional'>
        What is the proportionality relationship between mass and acceleration
        if net force is held constant?
    </li>
    <li class="question" data-answer = 'directly proportional'>
        What is the proportionality relationship between momentum and velocity
        if mass is held constant?
    </li>
    <li class="question" data-answer = 'directly proportional'>
        What is the proportionality relationship between momentum and mass
        if velocity is held constant?
    </li>
    <li class="question" data-answer = 'direclty proportional'>
        What is the proportionality relationship between mass and weight
        if free-fall acceleration is held constant?
    </li>
    <li class="question" data-answer = 'directly proportional'>
        What is the proportionality relationship between voltage and current
        if resistance is held constant?
    </li>
    <li class="question" data-answer = 'inversely proportional'>
        What is the proportionality relationship between current and resistance
        if voltage is held constant?
    </li>
</ol>

<p class="directions">
    Write the formulas below as two statements about proportionality.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'If resistance is held constant, then voltage and current are directly proportional. If voltage is held constant then current and resistance are inversely proportional.'>
        Write Ohm's Law, \( V = IR \),
        as two statements about proportionality.
    </li>
    <li class="question" data-answer = 'If mass is held constant then net force and acceleration are directly proportional. If net force is held constant then mass and acceleration are inversely proportional.'>
        Write Newton's Second Law, \( \Sigma F = m a \),
        as two statements about proportionality.
    </li>
</ol>

<p>
    Note that the statements written above, when together, are mathematically equivalent to
    the formula itself. We will use them to create experiments that test these formulas.
</p>


<ol class="answerList"></ol>


<!---
What about square and inverse square proportionality ???
-->