<a href = 'https://en.wikipedia.org/wiki/Biellmann_spin'>Wikipedia article on Biellmann spin.</a>


<iframe width="560" height="315" src="https://www.youtube.com/embed/wDqyipDB-nc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<iframe width="560" height="315" src="https://www.youtube.com/embed/eoMkWIA2jVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

