<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body class = 'bg-light'>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<div>
    {{{body}}}
</div>
<div>
    {{listAllUnitsWithinSuperUnit selectedSuperUnitKey gradeMap}}
</div>
<a href = '/unitsEntryPage'>BACK TO ALL TOPICS</a>
<footer>
    {{>footer}}
</footer>
</body>
</html>