<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<ul>
    <li>
        Unit Cluster: {{unitClusterName}}
    </li>
</ul>
<div>
    {{{body}}}
</div>
<div>
    {{listUnitLinks}}
</div>
<footer>
    {{>footer}}
</footer>
</body>
</html>