<p class="directions">
    Write the value of each expression given in standard notation.
</p>


<ol type = 'A'>
    <li class = 'mb-2'>
        \( 4.63 x 10^{-5} \)
    </li>
    <li class = 'mb-2'>
        \( 4.82 x 10^{-2} \)
    </li>
    <li class = 'mb-2'>
        \( 2.5 x 10^{9} \)
    </li>
    <li class = 'mb-2'>
        \( 8.6 x 10^{1} \)
    </li>
</ol>