<p>
    The formula \( v = \lambda f \) can be understood in terms of
    proportionality.
    Specifically, we frequently analyze waves of different frequency
    and wavelength but the same speed.
</p>


<ol class = 'questionList'>
    <li class = 'question' data-answer = 'They are inversely proportional.'>
        If the variable \( v \) is held constant
        and the variables \( \lambda \) and \( f \)
        are allowed to vary,
        what is the proportionality relationship amongst these variables.
    </li>
    <li class = 'question'>
        Briefly sketch a graph that shows the relationship
        between \( \lambda \) and \( f \) if the variable \( v \)
        is held constant.
        Place \( f \) on the y-axis and \( \lambda \) in the x-axis.
    </li>
    <li class = 'question'>
        If the variable \( v \) is held constant,
        then the frequency \( f \) is directly proportional
        to the inverse of the wavelength \( \frac{1}{\lambda} \).
        Briefly sketch this relationship with \( f \) on the x-axis
        and \( \frac{1}{\lambda} \) on the y-axis.
        The sketch should show a linear graph, so explain the significance of the slope
        of this line.
    </li>
</ol>





<p class = 'directions'>
    Please solve all of the problems below
    using the proportionality between the variables.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '80 cm'>
        A particular wave has a frequency
        of 440 Hertz and a wavelength of 40 cm.
        Determine the wavelength of a wave with
        a frequency of 220 Hertz.
    </li>
    <li class = 'question' data-answer = '1890 Hz'>
        A particular wave has a frequency
        of 630 Hertz and a wavelength of 30 cm.
        Determine the frequency of a wave with
        a wavelength of 10 cm.
    </li>
    <li class = 'question' data-answer = '20 cm'>
        A particular wave has a frequency
        of 180 Hertz and a wavelength of 60 cm.
        Determine the wavelength of a wave with
        a frequency of 360 Hertz.
    </li>
    <li class = 'question' data-answer = '15 Hz'>
        A particular wave has a frequency
        of 60 Hertz and a wavelength of 15 cm.
        Determine the frequency of a wave with
        a wavelength of 60 cm.
    </li>
    <li class = 'question' data-answer = '48 cm'>
        A particular wave has a frequency
        of 800 Hertz and a wavelength of 12 cm.
        Determine the wavelength of a wave with
        a frequency of 200 Hertz.
    </li>
    <li class = 'question' data-answer = '330 Hz'>
        A particular wave has a frequency
        of 55 Hertz and a wavelength of 12 cm.
        Determine the frequency of a wave with
        a wavelength of 2 cm.
    </li>
    <li class = 'question' data-answer = '20 cm'>
        A particular wave has a frequency
        of 550 Hertz and a wavelength of 4 cm.
        Determine the wavelength of a wave with
        a frequency of 110 Hertz.
    </li>
</ol>

<h4>
    Answers:
</h4>

<ol class = 'answerList'></ol>