<p>
    The techniques we have been using can be used to find the
    speed of sound!
    In fact, the speed of sound can be determined using
    only a tuning fork, a cylinder of water
</p>

<p>
    When you bang a tuning fork, it creates a sound wave of a very specific frequency.
    When you place that tuning fork in front of a column of air,
    if and only if the air has the correct length to produce a harmonic,
    then the
</p>

<p>
    Remember that the speed of sound, unlike the speed of light,
    is not a constant, but can change based on the temperature and pressure
    of the air in the room. So, don't expect there will necessarily be a particular value!
</p>

<p>
    Questions, and a lab, coming soon!
</p>