<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/dbbyhnwwrt?sui=92,1'>
        AP Physics 1: 1.2 Daily Video 2 (Skill 6.4)
    </a>
</h4>
<p class="finePrint">
    AP Classroom Daily Videos are not available year round.
    The release dates for each video
    <a href = 'https://apcentral.collegeboard.org/pdf/ap-daily-course-release-dates.pdf'>this page</a>.
    AP Classroom Daily Videos are available only to students in AP Physics.
</p>