


<p class = 'directions'>
    The students below completed an experiment.
    <br><br>
    Only one group collected data optimally.
    Other groups made mistakes in how they collected data.
    Identify which group collected data well,
    for each other group, identify which mistake they made.
    In 1 - 2 sentences, explain what that group did wrong.
</p>


<h5>
    Data Collection Mistakes
</h5>
<ul>
    <li>
        Using inappropriately small values of the independent variable.
    </li>
    <li>
        Using inappropriately large values of the independent variable
    </li>
    <li>
        Insufficient variability of the independent variable.
    </li>
    <li>
        Too few values of the independent variable
    </li>
    <li>
        Too few data points.
    </li>
</ul>


<h5>
    Description of Experiment
</h5>
<p>
    The students are trying to judge accuracy of a basketball shot at different distances.
    They take members of the varsity basketball team, and have them take shots from different distances.
    For each distance, the member of the team takes exactly ten shots, and it is recorded how many they scored.
</p>


<h5>
    Group 1:
    Template
</h5>

<div class="container" id = 'dataTable'>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">
            Datum
        </div>
        <div class="col-md-2 col-3 p-2 border border-dark">
            Distance From Center of Hoop (feet)
        </div>
        <div class="col-md-2 col-3 p-2 border border-dark">
            Number of Shots made of Ten
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">1</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">2</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">3</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">4</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">5</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">6</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">7</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">8</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">9</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">10</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">11</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">12</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">13</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">14</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">15</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">16</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">17</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-3 p-2 border border-dark">18</div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
        <div class="col-md-2 col-3 p-2 border border-dark"></div>
    </div>
</div>

<h5>
    Group 1
</h5>
<div id = 'question1'></div>

<h5>
    Group 2
</h5>
<div id = 'question2'></div>

<h5>
    Group 3
</h5>
<div id = 'question3'></div>

<h5>
    Group 4
</h5>
<div id = 'question4'></div>

<h5>
    Group 5
</h5>
<div id = 'question5'></div>

<h5>
    Group 6
</h5>
<div id = 'question6'></div>

<div id = 'test'></div>

<script>
    const template = $("#dataTable");

    let data1 = template.clone();
    let data2 = template.clone();
    let data3 = template.clone();
    let data4 = template.clone();
    let data5 = template.clone();
    let data6 = template.clone();

    function addDatum(dataTable, datumNumber, distance, numShots) {
        let container = data1.children();
        if (datumNumber + 1 > container.length) {
            return false
        }
        let row = $(container[datumNumber]).children();

        row[1].append(String(distance));
        row[2].append(String(numShots));
    }

    addDatum(data1,1,1,2);
    addDatum(data1,2,3,4);
    addDatum(data1,3,4,5);
    addDatum(data1,4,5,6);

    $("#question1").append(data1);
    $("#question2").append(data2);
    $("#question3").append(data3);
    $("#question4").append(data4);
    $("#question5").append(data5);
    $("#question6").append(data6);

</script>