<p>
  This section deals with similar problems on angular acceleration,
  but one's that require quite a bit more inference!
</p>

<h4>
  Problem 1
</h4>

<p>
  Willy the Wizard was having a tough time.
  He just couldn't seem to find enough time in the day
  to succeed in all of his wizardly duties and also find a
  good eight hours to sleep.
  He was cranky and tired all the time.
  He tried drinking energy drinks, but they made him more tired.
</p>

<p>
  "What should I do?" he asked his friends.
  "You need to cut back." They said.
  But he couldn't do that! There was so much wizarding to get
  done, and just not enough hours in the day to do it all.
  Finally, Willy the Wizard solved the problem in the only way he knew how.
</p>

<p>
  On New Year's Eve of 2019, Willy the Wizard flew to the north pole.
  And at precisely midnight, he struck his staff into the top
  of the earth, and said
  "I, Willy the Wizard, greatest wizard of this planet, hereby declare
  that the days and not long enough. And such, I will bend reality to
  my will."
</p>

<p>
  "Over this next year, the rotation of this great orb will change.
  And by one year from this moment, each day will be 25 hours long,
  not 24."
</p>

<p>
  And so it happened. The rotation of the earth changed as Willy dicated.
</p>

<p>
  Assuming it is a constant value, determine the angular acceleration
  of the earth over the course of the eyar.
  Please consider <strong>all</strong> factors,
  and report your answer with six significant figures of accuracy
  in radians per second.
</p>



<h4>
  Problem 2:
</h4>

<p>
  A Ferrari is capable of accelerating from zero to 124 mph in a time of 7.0 seconds.
  Assume the diameter of the tire is 26.8 inches.
  Determine the angular acceleration of a tire during this acceleration.
</p>

<h4>
  Problem 3:
</h4>
