
dated, but still so good
(the laniakea supercluster hadn't been invented yet, so it isn't included in the video)
<iframe width="560" height="315" src="https://www.youtube.com/embed/0fKBhvDjuy0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
https://www.eamesoffice.com/the-work/powers-of-ten/

<h3>
    Earth's Cosmic Address
</h3>
<div class="memorizeBox">

<ul>
    <li>
        <h5>The Earth:</h5> A large rocky sphere on which humans are located.
    </li>
    <li>
        <h5>The Earth-Moon System:</h5> The earth, and all things orbiting the earth.
    </li>
    <li>
        <h5>The Solar System:</h5> The sun, and all things orbiting the sun.
    </li>
    <li>
        <h5>The Milky Way Galaxy:</h5> Billions of stars arranged in a spiral pattern with a supermassive black hole at the center.
    </li>
    <li>
        <h5>The Laniakea Supercluster:</h5> Thousands of galaxies gravitationally attracted towards a point known as the great attractor.
    </li>
    <li>
        <h5>The Universe:</h5> Everything; a presumably infinite expanse of space and mass
    </li>
</ul>

</div>

<h3>
    Earth
</h3>

<h3>
    Earth-Moon System
</h3>

<h3>
    The Solar System Galaxy
</h3>

<h3>
    The Milky Way Galaxy
</h3>

<h3>
    The Laniakea Supercluster
</h3>


basic video
<iframe width="560" height="315" src="https://www.youtube.com/embed/rENyyRwxpHo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h3>
    The Universe
</h3>





