<p class = 'directions'>
    Use a kinematic equation to derive each of the new formulas written below.
    Please write each formula before performing any operations.
    After deriving each new formula, use dimensional analysis to prove that the formula is valid.
    For full credit, each formula <i>must</i> be properly simplified and written using typical algebraic conventions.
</p>

<ol>
    <li class = 'mediumQuestion'>
        Derive a formula for displacement in terms of initial velocity, final velocity, and acceleration.
        Prove that your formula is dimensionally correct.
    </li>
    <li class = 'mediumQuestion'>
        Derive a formula for initial velocity in terms of final velocity, displacement, and time.
        Prove that your formula is dimensionally correct.
    </li>
    <li class= 'mediumQuestion'>
        Derive a formula for displacement in terms of acceleration, time, and final velocity.
        Prove that your formula is dimensionally correct.
    </li>
</ol>
