<p class = 'directions'>
    Use a kinematic equation to derive each of the new formulas written below.
    Please write each formula before performing any operations.
    After deriving each new formula, use dimensional analysis to prove that the formula is valid.
    For full credit, each formula <i>must</i> be properly simplified and written using typical algebraic conventions.
</p>

<p class="directions">
    If you use any formula that is <strong>not</strong> one of the four standard kinematic equations,
    you need to show how that new formula is derived.
</p>

<ol>
    <li class = 'mediumQuestion'>
        Derive an equation for time interval in terms of initial velocity, final velocity, and displacement.
    </li>
    <li class = 'mediumQuestion'>
        Derive an equation for acceleration in terms of final velocity, initial velocity, and displacement.
    </li>
    <li class= 'mediumQuestion'>
        Derive a formula for final velocity in terms of displacement, time interval, and acceleration.
    </li>
</ol>
