<h4>
  The Electricity Proof
</h4>


<p>
  Someone write the following statements,
  "Two identical resistors in parallel
  draw twice as much current as the same to two resistors
  in series. (connected to the same batteries)"
</p>


<ul>
  <li>Prove the result is or is not true algebraically.</li>
  <li>Build an actual circuit that matches those specifications, to test that the result works.</li>
</ul>
