<h3>
    Slow Down the World
</h3>



<p>
    December, 2031: Willie the Wizard is very upset.
    There simply aren't enough hours in the day for him to
    complete all of his wizarding duties, see all his wizard friends,
    and get a solid 8 hours of sleep.
    So, he concludes there is only one thing that he can do.
</p>

<p>
    On New Years Eve, 2031, Willie flies to the north pole.
    At precisely midnight, the beginning of the new year,
    Willie thrusts his staff into the north pole and says,
    "I hereby command this planet earth,
    that by the moment the next year begins,
    every day will be 25 hours long and not 24."
</p>


<p>
    The next day, something strange happens.
    January 1st, 2032 is a tiny bit longer than 24 hours by only a matter of seconds.
    January 2nd is a tiny bit longer than that.
    At first, no one notices,
    but by the summer, days a a full half hour longer than normal.
    By next December, every day is almost 25 hours long.
    And, just as Willie commanded, January 1st 2032,
    and all days thereafter, are precisely 25 hours long.
</p>


<p>
    Given this analysis, answer the following questions.
    When solving these problems,
    every answer should be 100 % perfect, on the dot.
    If you are a tiny bit off, you are probably missing some
    important aspect of the problem.
    Please check every answer before moving to the next question,
    or you may have a mistake that ends up affecting every single question.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer="-9.011071727994032e-14 rad/s/s">
        Assuming it is constant, determine the
        average angular acceleration of the earth during the year 2032.
        Express your answer is radians per second squared.
        (Note that is will be an extremely low value.)
    </li>
    <li class = 'question' data-answer = '24 hours, 8 minutes, 21.64 seconds'>
        Determine how long February 20th, 2032 will be?
        Please determine your answer in terms of hours, minutes, and seconds.
        Round to the nearest hundredth of a second.
    </li>
    <li class = 'question' data-answer = '-8.722553057846049e+24 N m'>
        The rotational inertia of a uniform solid sphere is equal to
        two-fifths times the mass times the radius squared:
        \( I = \frac{2}{5} m r^2 \).
        Assume that the earth is uniform (it isn't, but it's okay for now).
        Determine the torque acting on the earth during the year 2032, as a result of Willie's spell.
        (This will be a huge number! It takes a lot of torque to slow down the earth).

        To answer this question, you will reed to look up two quantities online.
        Please explain which quantities you looked up and why you chose those quantities.
    </li>
    <li class = 'question' data-answer = '-219.45369987871644 N m; Ecuador'>
        An individual with a mass of 60 kg spends the entire year 2032 in
        the nation of Equatorial Guinea.
        Equatorial Guinea is an African Nation about the size of Massachusetts
        that is so named because the equator cuts right through the country.
        Determine the torque acting on this individual during the year 2032 as
        a result of Willie's spell.
        (Bonus: What other very small nation is so named because the equator cuts right through it?)
    </li>
    <li class = 'question' data-answer = '-122.48463458292217 N m'>
        Another individual with a mass of 60 kg spends the entire year 2032 in Mattapoisett, MA.
        Determine the torque acting on this individual during the year.
        For this problem, you must look up one new quantity online.
        Explain which quantity you look up and why you chose that quantity.
    </li>
    <li class ='question'>
        Does more torque act on the person in Equatorial Guinea or in Mattapoisett?
        Defend your answer by connecting the formula for torque to the geometry of the situation.
    </li>
    <li class = 'question' data-answer = '350.64 days'>
        After Willie casts his spell, how many times will the earth rotate
        in the time it takes the earth to orbit the sun?
    </li>
    <li class = 'question' data-answer = 'No. 525,600 minutes is precisely 365 days, not 366.'>
        (Unrelated, but interesting)
        The musical RENT chronicles the life of a single group of people living
        as squatters in New York City for one year.
        Does this musical take place during a leap year, or a non-leap year?
        (If you don't know anything about the musical, find someone else in the class who does,
        and they will probably know what you need to understand this question.
        It is very well known.)
    </li>
</ol>


<ol class = 'answerList'></ol>