
<ol>
    <li>
        Draw a planet and the gravitational field surrounding that planet.
    </li>
    <li>
        Draw a single positive charge and the electric field surrounding that charge.
    </li>
    <li>
        Draw a single negative charge and the electric field surrounding that charge.
    </li>
</ol>