<p class = 'directions'>
    Answer each of the questions below by referring to Newton's Laws as stated above.
    You must refer to the laws stated above for full credit.
</p>

<h5>Newton's First Law</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force = 0 and object is not moving
        </td>
        <td>
            Object remains still
        </td>
    </tr>
    <tr>
        <td>
            Net Force = 0 and the object is moving
        </td>
        <td>
            Object moves with a constant velocity
        </td>
    </tr>
</table>
<br>
<h5>Newton's Second Law</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force is in the same direction as velocity
        </td>
        <td>
            Object increases in speed.
        </td>
    </tr>
    <tr>
        <td>
            Net force is in the opposite direciton as velocity
        </td>
        <td>
            Object decreases in speed.
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Objects with more mass require a greater net force
            to achieve the same acceleration.
        </td>
    </tr>
</table>
<h5>Newton's Third Law</h5>
<table>
    <tr>
        <td>
            If A exerts a force on B,
            then B exerts a force on A
            with equal magnitude and opposite direciton.
        </td>
    </tr>
</table>


<ol>
    <li class = 'bigQuestion'>
        Refer to <emph>at least two</emph> of Newton's Laws as listed above to explain
        why a canoe moves when you row it. <br>
        <img src = 'images/canoe.jpg' width = '400px' height = 'auto' />
    </li>
    <li class = 'bigQuestion'>
        A racecar driver floors her gas pedal at the start of the race,
        and the car begins accelerating at a very fast rate of 1.5 gs (14.7 m/s<sup>2</sup>).
        She feels a strong force of her chair pressing her forward.
        Explain why.
        Refer to <emph>at least one</emph> of Newton's Laws as listed above
        and draw a free-body diagram of the driver.
    </li>
</ol>

