<p class = 'introduction'>
    In a <a href = '/pod/b645cf'>previous pod</a>,
    we learned that the wavelength of a visible light photon determines the color of that photon.
    However, that exercise comprises on a tiny portion of possible wavelengths,
    from 400 nm to 700 nm.
    The wavelengths of an electromagnetic wave can extend from hundreds or thousands of meters
    to less than 0.000000000001 meters.
    Every photon can be categorized into one of the seven categories of electromagnetic wave based on its wavelength.
</p>

<p class = 'introduction'>
    However, due to the extreme differences in order of magnitude of wavelengths,
    wavelength needs to be expressed in scientific notation.
    This can make identifying the type of electromagnetic wave a particular photon represents
    a little more difficult than it was when we were dealing only with colors.
</p>


<h3>
    Part 1: Visible vs. Invisible Light
</h3>


<div class = 'container'>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'><strong>Type of Wave</strong></div>
        <div class = 'col-6 border border-dark p-1'><strong>Wavelength</strong></div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Invisible Light</div>
        <div class = 'col-6 border border-dark p-1'>greater than \( 7 \cdot 10^{-7}\text{ meters} \)</div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Visible Light</div>
        <div class = 'col-6 border border-dark p-1'>between \( 4 \cdot 10^{-7} \text{ meters} \) and  \( 7 \cdot 10^{-7} \text{ meters} \)</div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Invisible Light</div>
        <div class = 'col-6 border border-dark p-1'>less than than \( 4 \cdot 10^{-7} \text{ meters} \)</div>
    </div>
    <div class = 'row mt-3 mb-4'>
        <div class = 'col-12 align-center'>
            <img src = '/asset/{{id}}/spectrum_graphic_1.jpeg' height = '200px' width = 'auto'/>
        </div>
    </div>
</div>



<p class = 'directions'>
    For a photon of the wavelength indicated,
    state if that photon would be <emph>visible</emph> or <emph>invisible</emph>.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'invisible'>
        \( \lambda = 2 \cdot 10^{-6} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'invisible'>
        \( \lambda = 3 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'visible'>
        \( \lambda = 5 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'visible'>
        \( \lambda = 6 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'invisible'>
        \( \lambda = 9 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'invisible'>
        \( \lambda = 8 \cdot 10^{-8} \text{ meters} \)
    </li>
</ol>

<div class="pageBreak"></div>

<h3>
    Part 2: 3 types of waves
</h3>

<div class = 'container'>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'><strong>Type of Wave</strong></div>
        <div class = 'col-6 border border-dark p-1'><strong>Wavelength</strong></div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Infrared Light</div>
        <div class = 'col-6 border border-dark p-1'>between \( 7 \cdot 10^{-7} \text{ meters} \) and \( 1 \cdot 10^{-3} \text{ meters}\)</div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Visible Light</div>
        <div class = 'col-6 border border-dark p-1'>between \( 4 \cdot 10^{-7} \text{ meters} \) and  \( 7 \cdot 10^{-7} \text{ meters} \)</div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Ultraviolet Light</div>
        <div class = 'col-6 border border-dark p-1'>between \( 1 \cdot 10^{-8} \text{ meters} \) and \( 4 \cdot 10^{-7} \text{ meters} \)</div>
    </div>
    <div class = 'row mt-3 mb-4'>
        <div class = 'col-12 align-center'>
            <img src = '/asset/{{id}}/spectrum_graphic_2.jpeg' height = '200px' width = 'auto'/>
        </div>
    </div>
</div>

<p class = 'directions'>
    For a photon of the wavelength indicated, determine if that photon would be
    infrared light, visible light, or ultraviolet light:
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'infrared'>
        \( \lambda = 4 \cdot 10^{-5} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'infrared'>
        \( \lambda = 8 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'visible'>
        \( \lambda = 4.5 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'visible'>
        \( \lambda = 5.8 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'ultraviolet'>
        \( \lambda = 2 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'ultraviolet'>
        \( \lambda = 2.3 \cdot 10^{-8} \text{ meters} \)
    </li>
</ol>

<p class = 'directions'>
    For a photon of the wavelength indicated, determine if that photon would be
    infrared light, visible light, or ultraviolet light:
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'visible'>
        \( \lambda = 5.3 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'infrared'>
        \( \lambda = 2.4 \cdot 10^{-6} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'infrared'>
        \( \lambda = 4.3 \cdot 10^{-4} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'ultraviolet'>
        \( \lambda = 6.5 \cdot 10^{-8} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'ultraviolet'>
        \( \lambda = 1.2 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = 'visible'>
        \( \lambda = 6.7 \cdot 10^{-7} \text{ meters} \)
    </li>
</ol>


<ol class="answerList"></ol>

