<div class = 'definitionBox'>
    <h5>
        Newton's First Law:
    </h5>
    <p>
        An object at rest will stay at rest unless acted upon by a net outside force.
        An object in motion will stay in motion unless acted upon by a net outside force.
    </p>
</div>

<div class = 'definitionBox'>
    <h5>
        Inertia:
    </h5>
    <p>
        One way of reading Newton’s First Law is that objects will resist any change in their motion.
        If they are not moving, it requires a force to make them start moving.
        If they are moving, it requires a force to make an object stop, to move faster,
        or to change its direction.
    </p>
    <p>
        This resistance of a change in motion is called an object’s inertia.
        The more mass an object has, the more inertia it has!
    </p>
</div>

<!--- Some simple questions here --->

<h5>True or False?</h5>
<ol class = 'questionList'>
    <li data-answer = 'True' class = 'question'>
        An object at rest will stay at rest unless acted upon by a net outside force.
    </li>
    <li data-answer = 'False' class = 'question'>
        An object at rest can begin moving without being acted upon by a force.
    </li>
    <li data-answer = 'True' class = 'question'>
        An object in motion will stay in motion unless acted upon by a net outside force.
    </li>
    <li data-answer = 'False' class = 'question'>
        An object in motion will stop moving unless acted upon by a net outside force.
    </li>
</ol>

<h5>Fill in the blank.</h5>
<ol class = 'questionList'>
    <li data-answer = 'inertia' class = 'question'>
        The resistance to the change in motion of an object is called the __________.
    </li>
    <li data-answer = 'force' class = 'question'>
        An object in motion will stay in motion unless being acted upon by a net outside ____________.
    </li>
</ol>

<h3>
    Mass:
</h3>
<p>
    Mass is a central concept to the understanding of dynamics.
    There are three different ways to think of mass.
</p>

<div class = 'definitionBox'>
    <h5>Mass as Matter</h5>
    <p>
        Mass is the amount of matter in an object.
        All of matter is made up of protons, neutrons, and electrons.
        The more protons, neutrons and electrons are contained in a particular object,
        the more mass it has!
        (With protons and neutrons counting about 1000 times as an electron.)
    </p>
</div>

<div class = 'definitionBox'>
    <h5>Inertial Mass:</h5>
    <p>
        The more difficult it is to change the motion of an object
        (to make an object start moving, stop moving, move faster,
        or change direction), the more inertial mass it has.
    </p>
</div>

<div class = 'definitionBox'>
    <h5>Gravitational Mass:</h5>
    <p>
        The ability of mass to attract other mass.
    </p>
</div>

<p>
    All three types of mass are equal to each other!
    More matter means more inertial mass and more
    gravitational mass in precisely the same proportion.
</p>

<p>
    For each statement, state if it refers to mass as matter, inertial mass, or gravitational mass.
</p>
<ol class = 'questionList'>
    <li data-answer = 'inertial mass' class = 'question'>
        An object's resistance to changes in motion.
    </li>
    <li data-answer = 'mass as matter' class = 'question'>
    Total amount of matter in an object.
    </li>
    <li data-answer = 'gravitational mass' class = 'question'>
    Causes all mass to attract all other mass.
    </li>
    <li data-answer = 'inertial mass' class = 'question'>
        If an object is already moving, this makes it hard to stop.
    </li>
    <li data-answer = 'mass as matter' class = 'question'>
    This could technically be calculated by adding every proton, neutron, and electron in an object.
    </li>
    <li data-answer = 'inertial mass' class = 'question'>
        If an object is not moving, this makes it hard to start it moving.
    </li>
    <li data-answer = 'gravitational mass' class = 'question'>
        Causes the earth to be attracted to the sun.
    </li>
</ol>

<p>
    Remember that all three types of mass are <i>equal</i>.
    That is, if the mass as matter is 5 kg, the inertial mass is 5 kg, and the gravitational mass is 5 kg.
    They are all the same! It is three different ways of interpreting the same number
</p>

<ol class = 'questionList'>
    <li data-answer = 'True' class = 'question'>
        True or false? Mass as matter is equal to inertial mass and gravitational mass.
    </li>
    <li data-answer = 'Both are 8 kg.' class = 'question'>
        If the inertial mass is 8 kg, what is the mass as matter? What is the gravitational mass?
    </li>
</ol>


<h3>
    Video Resources
</h3>
<h5>
    Flipping Physics Video
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1kjgVcflx0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h3>Answers</h3>
<ol class = 'answerList'>
</ol>

