<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>

<h3>
    <a href = '/podAssets/dynamics/vector_force_analysis/inertia_stories.pdf'>Study Material Available as a PDF</a>
</h3>


<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>

<h4>
    Questions
</h4>

<p class = 'directions'>
    For each of the following statements,
    select true or false.
    Then, briefly explain why a statement is true or false
    by referring to the definition of inertia, velocity, and/or acceleration.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'False: inertia has no relationship with velocity itself, only the change in velocity. Trucks and trains are certainly capable of moving just as fast as cars!'>
        Objects with less inertia move faster than objects with more inertia.
    </li>
    <li class = 'question' data-answer = 'True: less inertia makes changes in velocity more easy, and speed is a component of velocity.'>
        Objects with less inertia increase in speed more easily than objects with more inertia.
    </li>
    <li class = 'question' data-answer = 'True: less inertia makes changes in velocity more easy, and speed is a component of velocity.'>
        Objects with less inertia decrease in speed more easily than objects with more inertia.
    </li>
    <li class = 'question' data-answer = 'True: less inertia makes changes in velocity more easy, and direction is a component of velocity.'>
        Objects with less inertia change direction more easily than objects with more inertia.
    </li>
</ol>


<ol class = 'answerList'></ol>