

<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>

<h3>
    <a href = '/podAssets/dynamics/quantitative_dynamics/newtons_model_3.pdf'>
        Study Material Available as PDF
    </a>
</h3>


<h3>
    Video Resources
</h3>
<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/c1aq5b8xqf?sui=92,2'>
        AP Physics 1: 2.1 Daily Video 1 (Skill 1.1)
    </a>
</h4>
<p class="finePrint">
    AP Classroom Daily Videos are not available year round.
    The release dates for each video
    <a href = 'https://apcentral.collegeboard.org/pdf/ap-daily-course-release-dates.pdf'>this page</a>.
    AP Classroom Daily Videos are available only to students in AP Physics.
</p>



<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>
