<ol>
    <li>
        The mass of earth is 5.972e27 kg.
        The mass of the moon is 7.35e22 kg.
        By referring to these two numbers,
        explain why astronauts need to wear a spacesuit on the moon
        but not on earth.
    </li>
    <li>
        The following is a picture of the "Pillars of Creation" within the Eagle Nebula:
        <br>
        <img src = 'https://www.nasa.gov/sites/default/files/thumbnails/image/hubble_birthofstars_0.jpg' height = '300px' width = 'auto'/>
        <p class = 'imageCredit'>
            NASA, ESA, and the Hubble Heritage team; retrieved from https://www.nasa.gov/feature/goddard/2017/messier-16-the-eagle-nebula
        </p>
        The Pillars of Creation are known as an area where many stars are forming.
        By using the concept of universal gravitation,
        explain why this would be a good place for stars to form.
    </li>
</ol>