<h3>
    Pendulum Algebra
</h3>
<ol>
    <li>
        A pendulum whose bob has a mass \( m \) and length \( l \)
        is pulled backwards by an angle \( \theta \) and let go.
        Assume the string of the pendulum is massless.
        <ol type = 'a'>
            <li>
                Define the zero-height point as the point at which the pendulum bob is at equilibrium.
                Describe briefly why this is a good choice and how things would be much harder if we defined it elsewhere.
            </li>
            <li>
                Draw a diagram illustrating the geometry of the situation.
                On your graph, label the height of the pendulum \( h \) above the distance point.
            </li>
            <li>
                Determine an expression for the total energy of the pendulum-earth system
                in terms of \(m\), \( l \), \( \theta \), and \( g \).
                How many terms does your expression have? (Remember that if there is only one term, that is ok!)
                Describe in words what each term represents.
                Also, prove that each term of the expression has the correct units.
            </li>
            <li>
                At what point does the pendulum reach its maximum speed \( v_{max} \) and why?
            </li>
            <li>
                Determine an equation for the maximum speed of the pendulum bob \( v_{max} \)
                in terms of \( l \), \( \theta \), and \( g \).
                Briefly describe your method in words.
                Prove your equation is dimensionally correct.
            </li>
        </ol>
    </li>
    <li>
        A pendulum has a massless string of length \( l \) and a bob of mass \( m \).
        While the pendulum bob is at rest in its equilibrium position,
        somebody comes along and smacks it to give it an speed \( v_i \).
        <ol type = 'a'>
            <li>
                Determine an expression for the total energy of the pendulum-earth system
                in terms of \(m \), \( l \), \( v_i \), and \( g \).
                How many terms does your expression have?
                Describe in words what each term represents.
                Also, prove that each term of the expression has the correct units.
            </li>
            <li>
                Determine an equation for the maximum angle to which the pendulum moves \( \theta_{max} \)
                in terms of  \( l \), \( v_i \), and \( g \).
                Briefly describe your method in words.
                Prove your equation is dimensionally correct.
            </li>
        </ol>
    </li>
</ol>
<!--
<h3>
    Horizontal Spring
</h3>
<ol>
    <li>
        A massless spring is attached to a wall and is lying horizontally on a frictionless surface.
        The spring has spring constant \( k \) and is at rest at its equilibirum length \( x_0 \).
        Attached to the end of the spring is a block of mass \( m \).
        Somebody then pulls the spring backward to length \( x_1 > x_0 \).
        <ol type = 'a'>
            <li>
                Determine an equation for the total energy of the block-spring system
                in terms of \( k \), \( x_0 \), and \(x _1 \).
                How many terms are in your equation?
                Describe in words what each term represents.
                Prove that each term of your equation has the correct units of energy.
            </li>
            <li>
                The person lets go of the block, and it begins to accelerate towards the wall, pulled by the spring.
                At what point will the block reach its maximum velocity and why?
            </li>
            <li>
                Determine an equation for the maximum velocity of the block in terms of
                \( m \), \( k \), \( x_0 \), and \(x _1 \).
                Briefly describe your method in words.
                Prove that your equation is dimensionally correct.
            </li>
            <li>
                After reaching maximum velocity, the block decelerates until it compresses
                the spring to a distance \( x_{min} \).
                Determine an equation for \( x_{min} \) in terms of
                \( x_0 \) and \( x_1 \).
                Briefly describe your method in words.
                Prove that your equation is dimensionally correct.
            </li>
        </ol>
    </li>
    <li>
        A massless spring is attached to a wall and is lying horizontally on a frictionless surface.
        The spring has spring constant \( k \) and is at rest at its equilibirum length \( x_0 \).
        Attached to the end of the spring is a block of mass \( m \).
        Somebody than whacks the block very hard with a hammer, and gives it a velocity \( v_i \).
        The whack was in the direction towards the wall, so after being whacked the spring begins to compress.
        <ol type = 'a'>
            <li>
                Write an equation for the total energy of the mass-spring system
                in terms of \( k \), \( x_0 \), \( m \), and \( v_i \).
                Some of the known variables may be unecessary.
                How many terms does your equation have?
                Briefly describe what each term of your equation represents.
                Prove that each term of your equation has the correct units of energy.
            </li>
            <li>
                The block compresses the spring until the spring stops moving.
                Determine an equation for \( x_{min} \), the minimum length of the spring.
                Briefly describe your method.
                Prove that your equation is dimensionally correct.
            </li>
            <li>
                After compressing to \( x_{min} \),
                the spring beings stretching until it is stretched to a length \( x_{max} \)
                and the block stops moving a second time.
                Determine an equation for \( x_{max} \) in terms of
                \( x_0 \) and \( x_{min} \).
                Briefly describe why you picked the equation you did.
            </li>
        </ol>
    </li>
</ol>
-->
