<p>
    Goal: Figure out a method to determine the coefficient of kinetic friction
    between two bodies using:
</p>

<ul>
    <li>
        A force meter
    </li>
    <li>
        Anything you can drag
    </li>
    <li>
        Weights as necessary
    </li>
</ul>

<p>
    A <a href="/pod/169d20">previous pod</a> involved problems in which you were calculating the coefficient of kinetic friction.
    The method will involve recreating a problem similar to those in real life
</p>

<h5>
    Questions
</h5>
<ol class = questionList>
    <li class="question">
        Briefly describe your method in words.
        Include references to any laws of physics you employ.
    </li>
    <li class="question">
        Draw a quantitative free-body diagram that illustrates the situation you
        created. Name each force clearly.
    </li>
    <li class="question">
        Some groups find that it is easier to do this lab if dragging a heavier object.
        Referring to your free-body diagram and any formulas you employed,
        explain why this might be true.
    </li>
</ol>