
<h4>Referece</h4>

<ul>
    <li>\( c = \lambda f \)</li>
    <li>\( E = h f \)</li>
    <li>speed of light = 300,000,000 m/s</li>
    <li>Planck's Constant = 6.626 x 10<sup>-34</sup> Joules</li>
    <li>1 Joule = 6.242 x 10<sup>18</sup> eV</li>
</ul>


<img src = '/asset/{{id}}/inverse_relationship_diagram.png' />


<div class="bigSpace"></div>
<h4>
    Standard Units Table
</h4>
<div class="table">
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Region of Spectrum
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Lower Bound Wavelength (meters)
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Upper Bound Wavelength (meters)
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Lower Bound Frequency (Hertz)
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Upper Bound Frequency (Hertz)
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Lower Bound Energy (Joules)
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Upper Bound Energy (Joules)
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Lower Bound Energy (eV)
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Upper Bound Energy (eV)
        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Radio Wave
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            1
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            100,000
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Microwave
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            1 x 10<sup>-3</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            1
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Infrared Light
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            7 x 10<sup>-7</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            1 x 10<sup>-3</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Visible Light
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            4 x 10<sup>-7</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            7 x 10<sup>-7</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Ultraviolet Light
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            1 x 10<sup>-8</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            4 x 10<sup>-7</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            X-Ray
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            1 x 10<sup>-12</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            1 x 10<sup>-8</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Gamma Ray
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            1 x 10<sup>-15</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            1 x 10<sup>-12</sup>
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
</div>

<div class="pageBreak"></div>

<h4>
    Logarithmic Table
</h4>
<div class="table">
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Region of Spectrum
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Lower Bound Wavelength (log_10(meters))
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Upper Bound Wavelength (log_10(meters))
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Lower Bound Frequency (log_10(Hertz))
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Upper Bound Frequency (log_10(Hertz))
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Lower Bound Energy (log_10(eV))
        </div>
        <div class = 'col-1 p-3 border border-dark'>
            Upper Bound Energy (log_10(eV))
        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Radio Wave
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Microwave
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Infrared Light
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Visible Light
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Ultraviolet Light
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            X-Ray
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
    <div class="row">
        <div class = 'col-2 p-3 border border-dark'>
            Gamma Ray
        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
        <div class = 'col-1 p-3 border border-dark'>

        </div>
    </div>
</div>

<div class="pageBreak"></div>

<p>
    Note that, because wavelength is inversely proportional from frequency and photon energy,
    the wavelength scale goes from hi to low, and frequency and energy scales go from low to hi.
    This ensures that the regions you graph for wavelength, frequency, and energy will line up with each other.
</p>

<div class="bigSpace"></div>
<div id = 'WavelengthScaleHere'></div>
<div class="bigSpace"></div>

<div id = 'FrequencyScaleHere'></div>
<div class="bigSpace"></div>

<div id = 'EnergyScaleHere'></div>



<script>

    function makeLogScale(name, x_min, x_max, backwards) {
        let scale = new DiagramF();
        let hash_length = .25;
        let textSize = hash_length * .8;
        scale.addSegmentQuick(x_min,0,x_max,0);

        let i;
        for (i = x_min; i <= x_max; i++) {
            let q;
            if (backwards) {
                q = x_max  + x_min - i;
            } else {
                q = i
            }
            scale.addSegmentQuick(i, -1 * hash_length, i, hash_length);
            let text = `10^${q}`;
            let textPoint = scale.addNewPoint(i, -hash_length - textSize);
            scale.addText(text,textPoint,textSize);
        }

        let finalTextPoint = scale.addNewPoint((x_min + x_max)/2, -1*(hash_length + textSize)*2);
        scale.addText(name, finalTextPoint, textSize*1.5);

        return scale;
    }

    let WavelengthScale = makeLogScale("Wavelength (m)",-15,5,true);
    let FrequencyScale = makeLogScale("Frequency (Hz)",4,24);
    let EnergyScale = makeLogScale("Photon Energy (eV)",-12,11);


    $("#WavelengthScaleHere").append(WavelengthScale.drawCanvas(1000));
    $("#FrequencyScaleHere").append(FrequencyScale.drawCanvas(1000));
    $("#EnergyScaleHere").append(EnergyScale.drawCanvas(1000));

</script>