<ol>
    <li>
        An object with only magnitude is referred to as a:
    </li>
    <div class="bigSpace"></div>
    <li>
        An object with both magnitude and direction is referred to as a:
    </li>
    <div class="bigSpace"></div>
    <li>
        I am traveling at 50 mph to the west. What is my speed?
    </li>
    <div class="bigSpace"></div>
    <li>
        I am traveling at 50 mph to the west. What is my velocity?
    </li>
    <div class="bigSpace"></div>
</ol>
