<!--
rewriting the kinematic equation as a function
"final velocity" is really just "the velocity right now, or v(t)"
"initial velocity" is just "the velocity at time = 0", indicated by v_0, pronounced "v-naught"
"time" replaces "time interval"...some specific time is chosen as "time = 0", aall times before that are negative and all ahed of that positive

displacement is replaced by x(t) - x_0, or, "the position right now minus the position at t = 0"
-->


<h5>
  "T-minus"
</h5>
