<h4>
    Definitions of Waves
</h4>

<p class = 'definition'>
    An <strong>oscillation</strong> is when an object moves in a repeating pattern.
    It does not travel, but ends up in the same place again and again.
    Another name for oscillation is <strong>harmonic motion</strong>.
</p>

<p class = 'definition'>
    A <strong>wave</strong> is a moving oscillation.
    Energy moves in waves.
</p>

There are two large categories of waves:
mechanical waves and electromagnetic waves.

<p class = 'definition'>
   A <strong>mechanical wave</strong> consists of a moving oscillation through matter (solid, liquid, or gas).
    It could be oscillating water molecules, oscillating air molecules, oscillating ropes and slinkies,
    or oscillating particles in rocks.
    If actual particles, things you can touch, are oscillating, it is a <strong>mechanical wave</strong>.
</p>

<p class = 'definition'>
    A <strong>electromagnetic wave</strong> consists of oscillating electric and magnetic energy.
    No physical thing that you can feel or touch is moving.
    It is only energy moving.
</p>


<ol class = 'questionList'>
    <li class = 'question' data-answer = 'oscillation'>
        What do we call the motion of an object back and forth in a repeating patter?
    </li>
    <li class = 'question' data-answer = 'moving'>
        A wave is a _________ oscillation.
    </li>
    <li class = 'question' data-answer = 'mechanical waves'>
        What type of wave consists of moving oscillations in matter?
    </li>
    <li class = 'question' data-answer = 'electromagnetic waves'>
        What type of wave consists of oscillations of electric and magnetic energy?
    </li>
    <li class = 'question' data-answer = 'Mechanical wave, because air is matter!'>
        An oscillation in air would be what type of wave?
    </li>
</ol>

<h4>
    Examples of Waves
</h4>
<p class = 'definition'>
    The most important example of a mechanical wave is a <strong>sound wave</strong>.
    But it is not the only mechanical wave!
</p>
<p class = 'definition'>
    The most important example of an electromagnetic wave is a <strong>visible light wave</strong>.
    But is it is not the only example of an electromagnetic wave!
</p>

<div id = 'waveExampleTable'></div>


<script>
    let waveExampleTable = new Table(8,3);
    waveExampleTable.addTopHeaders(['Mechanical Waves','','Electromagnetic Waves']);
    waveExampleTable.setMaxFontProportion(0.05);

    waveExampleTable.setColumnProportions([4,1,4]);
    waveExampleTable.mergeFullColumn(1, true);

    waveExampleTable.writeTextInCell(1,0,'Sound Wave');
    waveExampleTable.writeTextInCell(2,0,'Waves in a cord slinky or rope.');
    waveExampleTable.writeTextInCell(3,0,'Water Wave');
    waveExampleTable.writeTextInCell(4,0,'Seismic waves (made inside the earth during and earthquake');
    waveExampleTable.writeTextInCell(5,0,'Ultrasonic waves (sound waves with a frequency higher than humans can hear)');

    waveExampleTable.writeTextInCell(1,2,"Radio Wave");
    waveExampleTable.writeTextInCell(2,2,"Microwave");
    waveExampleTable.writeTextInCell(3,2,"Infrared Wave");
    waveExampleTable.writeTextInCell(4,2,"Visible Light Wave");
    waveExampleTable.writeTextInCell(5,2,"Ultraviolet Wave");
    waveExampleTable.writeTextInCell(6,2,"X-Ray Wave");
    waveExampleTable.writeTextInCell(7,2,"Gamma Ray Wave");

    $("#waveExampleTable").append(waveExampleTable.draw(600));
</script>

<p class= 'directions'>
    For each wave, write what kind of wave it is,
    electromagnetic or mechanical.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'electromagnetic wave'>
        A light wave
    </li>
    <li class = 'question' data-answer = 'mechanical wave'>
        A sound wave
    </li>
    <li class = 'question' data-answer = 'mechanical wave'>
        A seismic wave
    </li>
    <li class = 'question' data-answer = 'mechanical wave'>
        A water wave
    </li>
    <li class = 'question' data-answer = 'electromagnetic wave'>
        A radio wave
    </li>
</ol>

<h4>
    The 7 Electromagnetic Waves
</h4>

<p>
    There are seven types of electromagnetic wave.
    You should remember them in this order:
</p>
<ul>
    <li>
        Radio Waves
    </li>
    <li>
        Microwaves
    </li>
    <li>
        Infrared Waves
    </li>
    <li>
        Visible Light Waves
    </li>
    <li>
        Ultraviolet Waves
    </li>
    <li>
        X-Ray Waves
    </li>
    <li>
        Gamma Ray Waves
    </li>
</ul>

<p>
    There is a very easy way to help you remember these waves:
</p>
<p style = 'font-size: 18px'>
    Ranging Martians Invade Venus Using X-Ray Guns
</p>
<p style = 'font-size: 18px'>
    Radio Micro Infrared Visible Ultraviolet X-Ray Gamma
</p>


<p>
    Image of a raging martian invading venus using an X-ray gun:
</p>
<img  src = '/podAssets/waves/wave_structure/marvin.png' width = '100px' height = 'auto' />

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Martians; Venus; X-Ray'>
        Raging ________ invade _________ using _________ guns.
    </li>
    <li class = 'question' data-answer = 'Radio Micro Infrared Visible Ultraviolet X-Ray Gamma'>
        List the seven types of electromagnetic wave in order.
    </li>
</ol>

<h4>
    Problems
</h4>

<p class = 'directions'>
    For each example of a waves,
    indicate if they are electromagnetic waves or a mechanical waves.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'mechanical waves'>
        Water Waves
    </li>
    <li class = 'question' data-answer = 'electromagnetic waves'>
        Light Waves
    </li>
    <li class = 'question' data-answer = 'mechanical waves'>
        Sound Waves
    </li>
    <li class = 'question' data-answer = 'mechanical waves'>
        Seismic (earthquake) waves
    </li>
    <li class = 'question' data-answer = 'electromagnetic waves'>
        Radio Waves
    </li>
    <li class = 'question' data-answer = 'electromagnetic waves'>
        X-Ray Waves
    </li>
    <li class = 'question' data-answer = 'electromagnetic waves'>
        Ultraviolet Waves
    </li>
    <li class = 'question' data-answer = 'mechanical waves'>
        Ultrasonic Waves
    </li>
    <li class = 'question' data-answer = 'electromagnetic waves'>
        Gamma Rays
    </li>
    <li class = 'question' data-answer = 'electromagnetic waves'>
        Microwaves
    </li>
    <li class = 'question' data-answer = 'mechanical waves'>
        Waves in a rope
    </li>
    <li class = 'question' data-answer = 'mechanical waves'>
        Waves in a guitar string
    </li>
    <li class = 'question' data-answer = 'electromagnetic waves'>
        Infrared Waves
    </li>
</ol>

<h4>
    Answers:
</h4>

<ol class = 'answerList'></ol>