
<p class="definition" data-word = 'Answering Numerical Problems Accurately'>
    Whenever you write the answer to a division or multiplication problem,
    report your answer with the LOWEST number of significant figures
    of any information given in the problem.
</p>

<p class="equation">
    $$
    d = vt
    \\
    \text{distance} = \text{speed} \cdot \text{time}
    $$
</p>

<ol class="questionList">
    <li class="question">
        I move a distance of 52.6 meters in a time of 23.7 seconds.
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '3'>
                How many significant figures are given in the value for distance?
            </li>
            <li class="subQuestion" data-answer = '3'>
                How many significant figures are given in the value for time?
            </li>
            <li class="subQuestion" data-answer = '3'>
                According to the rule listed above,
                how many significant figures should be included in the answer?
            </li>
            <li class="subQuestion" data-answer = '2.22 m/s'>
                Use the formula to solve for speed and write the answer
                with the correct number of significant figures.
            </li>
        </ol>
    </li>
    <li class="question">
        I move a distance of 3.0 meters in a time of 6.458 seconds.
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '2'>
                How many significant figures are given in the value for distance?
            </li>
            <li class="subQuestion" data-answer = '4'>
                How many significant figures are given in the value for time?
            </li>
            <li class="subQuestion" data-answer = '2'>
                According to the rule listed above,
                how many significant figures should be included in the answer?
            </li>
            <li class="subQuestion" data-answer = '0.46 m/s'>
                Use the formula to solve for speed and write the answer
                with the correct number of significant figures.
            </li>
        </ol>
    </li>
    <li class="question">
        I move at a speed of of 4.56 m/s for a time of 9 seconds.
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '3'>
                How many significant figures are given in the value for speed?
            </li>
            <li class="subQuestion" data-answer = '1'>
                How many significant figures are given in the value for time?
            </li>
            <li class="subQuestion" data-answer = '1'>
                According to the rule listed above,
                how many significant figures should be included in the answer?
            </li>
            <li class="subQuestion" data-answer = '40 m'>
                Use the formula to solve for speed and write the answer
                with the correct number of significant figures.
            </li>
        </ol>
    </li>

    <li class="question">
        I move at a speed of of 0.08 m/s for a time of 400 seconds.
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '1'>
                How many significant figures are given in the value for speed?
            </li>
            <li class="subQuestion" data-answer = '1'>
                How many significant figures are given in the value for time?
            </li>
            <li class="subQuestion" data-answer = '1'>
                According to the rule listed above,
                how many significant figures should be included in the answer?
            </li>
            <li class="subQuestion" data-answer = '30 m'>
                Use the formula to solve for speed and write the answer
                with the correct number of significant figures.
            </li>
        </ol>
    </li>
</ol>

<!--
similar problems involving scientific notation
-->

<p class="definition" data-word = 'Answering Numerical Problems Accurately'>
    Whenever you write the answer to a division or multiplication problem,
    report your answer with the LOWEST number of significant figures
    of any information given in the problem.
    Note that the values in these problems are chosen only to highlight
    certain mathematical situations, they have no bearing on actual,
    physical situations.
</p>

<ol class="questionList">
    <li class="question">
        I move a distance of 4.560e-8 meters in a time of 3.0e6 seconds.
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '4'>
                How many significant figures are given in the value for distance?
            </li>
            <li class="subQuestion" data-answer = '2'>
                How many significant figures are given in the value for time?
            </li>
            <li class="subQuestion" data-answer = '2'>
                According to the rule listed above,
                how many significant figures should be included in the answer?
            </li>
            <li class="subQuestion" data-answer = '1.5e-14 m/s'>
                Use the formula to solve for speed and write the answer
                with the correct number of significant figures.
            </li>
        </ol>
    </li>
</ol>


<ol class="answerList"></ol>

<div class="bigSpace"></div>
<div class="bigSpace"></div>

<h3>
    <a href = '/podAssets/science_practice/error_approximation/significant_figures_3.pdf'>
        Continued Practice Page Available as a PDF
    </a>
</h3>

<div class="bigSpace"></div>
<div class="bigSpace"></div>

<h3>
    Video Resources
</h3>
<h5>
    Flipping Physics Video
</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/iwTMqLxQcp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
