

<!--- change formatting to make it easier to see what the conversions are -->
<!-- underline the unit and add some line breaks, right now it is very hard to read--->

<h4>
  One Conversion Factor
</h4>

<p class = 'directions'>
  Complete all of the problems below using the conversion
  factor method.
  For full credit, you must follow
  the steps in the style guide.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = '
    \( \require{enclose}
        5 \, \text{m/s} =
        \frac{5 \, \text{meters}}{  \enclose{horizontalstrike}{\text{second}}}
        \left( \frac{60 \, \enclose{horizontalstrike}{\text{seconds}}}{1 \, \text{minute} } \right) =
        \frac{5 \cdot 60 \, \text{meters}}{1 \, \text{minute}} =
        300 \, \text{m/min}
    \)
    '>
    Convert 5 meters per second to meters per minute. <!--  alter formatting -->
  </li>
    <li class = 'question' data-answer = '
    \(
        12 \, \text{m/s} =
        \frac{12 \, \text{meters}}{ \enclose{horizontalstrike}{\text{second}}}
        \left( \frac{60 \, \enclose{horizontalstrike}{\text{seconds}}}{1 \, \text{minute} } \right) =
        \frac{12 \cdot 60 \, \text{meters}}{1 \, \text{minute}} =
        720 \, \text{m/min}
    \)
    '>    Convert 12 meters per second to meters per minute.
  </li>
    <li class = 'question' data-answer = '
    \(
        15 \, \text{m/s} =
        \frac{15 \, \enclose{horizontalstrike}{\text{meters}}}{\text{second}}
        \left( \frac{3.28 \, \text{feet}}{1 \, \enclose{horizontalstrike}{\text{meter}} } \right) =
        \frac{15 \cdot 3.28 \, \text{feet}}{1 \, \text{second}} =
        49.2 \, \text{ft/s}
    \)
    '>    Convert 15 meters per second to feet per second.
  </li>
    <li class = 'question' data-answer = '
    \(
        60 \, \text{ft/s} =
        \frac{60 \, \enclose{horizontalstrike}{\text{feet}}}{\text{second}}
        \left( \frac{1 \, \text{meter}}{3.28 \, \enclose{horizontalstrike}{\text{feet}} } \right) =
        \frac{60 \, \text{meters}}{3.28 \, \text{seconds}} =
        18.3 \, \text{m/s}
    \)
    '>    Convert 60 feet per second to meters per second.
  </li>
    <li class = 'question' data-answer = '
    \(
        90 \, \text{ft/s} =
        \frac{90 \, \text{feet}}{\enclose{horizontalstrike}{\text{second}}}
        \left( \frac{60 \, \enclose{horizontalstrike}{\text{seconds}}}{1 \, \text{minute} } \right) =
        \frac{90 \cdot 60 \, \text{feet}}{1 \, \text{minute}} =
        5400 \, \text{ft/min}
    \)
    '>    Convert 90 feet per second to feet per minute.
  </li>
</ol>

<h4>
  Two Conversion Factors
</h4>

<p class = 'directions'>
  Complete all of the problems below
  by using <em>two</em> conversion factors.
  For full credit, you must follow the steps
  in the style guide.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '
    \(
        8 \, \text{m/s} =
        \frac{8 \, \text{meters}}{\enclose{horizontalstrike}{\text{second}}}
        \left( \frac{60 \, \enclose{horizontalstrike}{\text{seconds}}}{1 \, \enclose{horizontalstrike}{\text{minute}} } \right)
        \left( \frac{60 \, \enclose{horizontalstrike}{\text{minutes}}}{1 \, \text{hour} } \right) =
        \frac{8 \cdot 60 \cdot 60 \, \text{meters}}{1 \, \text{hour}} =
        28800 \, \text{m/hr}
    \)
    '>    Convert 8 meters per second to meters per hour.
    </li>
    <li class = 'question' data-answer = '
    \(
        14 \, \text{m/s} =
        \frac{14 \, \enclose{horizontalstrike}{\text{meters}}}{\enclose{horizontalstrike}{\text{second}}}
        \left( \frac{3.28 \, \text{feet}}{1 \, \enclose{horizontalstrike}{\text{meter}} } \right)
        \left( \frac{60 \, \enclose{horizontalstrike}{\text{seconds}}}{1 \, \text{minute} } \right) =
        \frac{14 \cdot 3.28 \cdot 60 \, \text{feet}}{1 \, \text{minute}} =
        2760 \, \text{ft/min}
    \) [rounded to two significant figures]
    '>
        Convert 14 meters per second to feet per minute.
    </li>
    <li class = 'question' data-answer = '
    \(
        29 \, \text{ft/min} =
        \frac{29 \, \enclose{horizontalstrike}{\text{feet}}}{\enclose{horizontalstrike}{\text{minute}}}
        \left( \frac{1 \, \text{meter}}{3.28 \, \enclose{horizontalstrike}{\text{feet}} } \right)
        \left( \frac{1 \, \enclose{horizontalstrike}{\text{minute}}}{60 \, \text{seconds} } \right) =
        \frac{29 \, \text{meters}}{3.28 \cdot 60 \, \text{seconds}} =
        0.147 \, \text{m/s}
    \)
    '>
        Convert 29 feet per minute to meters per second.
    </li>
    <li class = 'question' data-answer = '
    \(
        8 \, \text{ft/min} =
        \frac{8 \, \enclose{horizontalstrike}{\text{feet}}}{\enclose{horizontalstrike}{\text{minute}}}
        \left( \frac{1 \, \text{meter}}{3.28 \, \enclose{horizontalstrike}{\text{feet}} } \right)
        \left( \frac{60 \, \enclose{horizontalstrike}{\text{minutes}}}{1 \, \text{hour} } \right) =
        \frac{8 \cdot 60 \, \text{meters}}{3.28 \, \text{hours}} =
        146 \, \text{m/hr}
    \)
    '>
        Convert 8 feet per minute to meters per hour.
    </li>
</ol>

<p>
    Sometimes, you will begin with numbers in the denominator.
    For example, imagine a slug moves 1 foot in 8 hours.
    You would represent this value as
    $$
    \frac{1 \, \text{foot}}{6 \, \text{hours}}
    $$
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '
    \(
        \frac{1 \, \text{foot}}{8 \, \enclose{horizontalstrike}{\text{hours}}}
        \left( \frac{1 \, \enclose{horizontalstrike}{\text{hour}}}{60 \, \enclose{horizontalstrike}{\text{minutes}} } \right)
        \left( \frac{1 \, \enclose{horizontalstrike}{\text{minute}}}{60 \, \text{seconds} } \right) =
        \frac{1 \, \text{foot}}{8 \cdot 60 \cdot 60 \, \text{seconds}} =
        0.000347 \, \text{ft/s}
    \)
    '>
        A slug moves 1 foot in 8 hours.
        How many feet does it move in one second?
    </li>
    <li class = 'question' data-answer = '
    \(
        \frac{1 \, \text{mile}}{6 \, \enclose{horizontalstrike}{\text{seconds}}}
        \left( \frac{60 \, \enclose{horizontalstrike}{\text{seconds}}}{1 \, \enclose{horizontalstrike}{\text{minute}} } \right)
        \left( \frac{60 \, \enclose{horizontalstrike}{\text{minutes}}}{1 \, \text{hour} } \right) =
        \frac{60 \cdot 60 \, \text{miles}}{6 \, \text{hours}} =
        600 \, \text{mi/hour}
    \)
    '>
        A plane flies one mile in 6 seconds.
        Convert this value to miles per hour.
    </li>
    <li class = 'question' data-answer = '
    \(
        \frac{2 \, \enclose{horizontalstrike}{\text{meters}}}{3 \, \enclose{horizontalstrike}{\text{minutes}}}
        \left( \frac{1 \, \enclose{horizontalstrike}{\text{minute}}}{60 \, \text{seconds} } \right)
        \left( \frac{3.28 \, \text{feet}}{1 \, \enclose{horizontalstrike}{\text{meter}} } \right) =
        \frac{2 \cdot 3.28 \, \text{feet}}{3 \cdot 60 \, \text{seconds}} =
        0.0547 \, \text{ft/s}
    \)
    '>
        An ant moves 2 meters in 3 minutes.
        How what is its speed in feet per second?
    </li>
</ol>

<h4>
    Acceleration Conversions
</h4>

<ol class="questionList">
    <li class = 'question' data-answer = '
    \(
        AAA \, \text{BBB} =
        \frac{AAA \, \text{BBB}}{\text{CCC}}
        \left( \frac{AAA \, \text{BBB}}{CCC \, \text{DDD} } \right)
        \left( \frac{AAA \, \text{BBB}}{CCC \, \text{DDD} } \right) =
        \frac{AAA \, \text{BBB}}{CCC \, \text{DDD}} =
        AAA \, \text{BBB}
    \)
    '>
        Convert 9.8 meters per second-squared to feet per second-squared.
    </li>
    <li class = 'question' data-answer = '
    \(
        AAA \, \text{BBB} =
        \frac{AAA \, \text{BBB}}{\text{CCC}}
        \left( \frac{AAA \, \text{BBB}}{CCC \, \text{DDD} } \right)
        \left( \frac{AAA \, \text{BBB}}{CCC \, \text{DDD} } \right) =
        \frac{AAA \, \text{BBB}}{CCC \, \text{DDD}} =
        AAA \, \text{BBB}
    \)
    '>

    </li>
    <li class = 'question' data-answer = '
    \(
        AAA \, \text{BBB} =
        \frac{AAA \, \text{BBB}}{\text{CCC}}
        \left( \frac{AAA \, \text{BBB}}{CCC \, \text{DDD} } \right)
        \left( \frac{AAA \, \text{BBB}}{CCC \, \text{DDD} } \right) =
        \frac{AAA \, \text{BBB}}{CCC \, \text{DDD}} =
        AAA \, \text{BBB}
    \)
    '>

    </li>
    <li class = 'question' data-answer = '
    \(
        AAA \, \text{BBB} =
        \frac{AAA \, \text{BBB}}{\text{CCC}}
        \left( \frac{AAA \, \text{BBB}}{CCC \, \text{DDD} } \right)
        \left( \frac{AAA \, \text{BBB}}{CCC \, \text{DDD} } \right) =
        \frac{AAA \, \text{BBB}}{CCC \, \text{DDD}} =
        AAA \, \text{BBB}
    \)
    '>

    </li>
</ol>



<ol class="answerList"></ol>


<!--
add acceleration conversions

Convert 9.81 meters /second^2 to feet / second^2

A car accelerates at arate of 5 mph / s,
convert this to m/s^2
-->


<!--
    <li class = 'question' data-answer = '
    \(
        AAA \, \text{BBB} =
        \frac{AAA \, \text{BBB}}{\text{CCC}}
        \left( \frac{AAA \, \text{BBB}}{CCC \, \text{DDD} } \right)
        \left( \frac{AAA \, \text{BBB}}{CCC \, \text{DDD} } \right) =
        \frac{AAA \, \text{BBB}}{CCC \, \text{DDD}} =
        AAA \, \text{BBB}
    \)
    '>

    </li>
-->