<!--
- how stars move


- why stars move that way??? [in a different pod]

- principles:
=> all stars have the same position relative to each other
=> the sphere showing these positions is called the Celestial Sphere
=> many cultures have broken these positions into constellations. the most well known of these are the ancient greek constellations
=> over the course of 24 hours, the whole celestial sphere spins around two points in the north and south
=> at the north is the star polaris
(this occurs because the earth is spinning...but that has only been accepted for about 500 years)

vocabulary
- celestial globe
- constellations

-->


<p>
    All stars have the same position
</p>


<img src = 'https://www.exposureguide.com/media/night-sky-photography1.jpg?x99980' height = '300px' width = 'auto' />
<p class="photoCredit">
    https://www.exposureguide.com/night-sky-photography-tips/
</p>
<p>
    This photo was taken by allowing the shutter of a camera to remain open for three hours.
    In that time, stars would move one-eighth of the way around a circle.
    Each star is moving in a circle centered at the star Polaris (the North Star).
</p>

<img src = 'http://skyandtelescope.org/wp-content/uploads/Celestial-globe-500px.jpg' height = '200px' width = 'auto' />
<p>
    http://skyandtelescope.org/wp-content/uploads/Celestial-globe-500px.jpg
</p>


<p class="directions">
    Determine the best vocabulary word for each statement.
</p>
<ol class="questionList">
    <li class="question" data-answer = 'Celestial Globe'>
        A sphere showing the location of each star relative to each other.
    </li>
    <li class="question" data-answer = 'Polaris'>
        The star around which all other stars appear to rotate.
    </li>
    <li class="question" data-answer = 'Constellation'>
        A shape that appears from the pattern of stars. Used to organize the celestial sphere.
    </li>
    <li>

    </li>
</ol>


<ol class="questionList fillInTheBlank">
    The cel
</ol>
