<!--
Copernican Revolution

-->


<h4>
    Implication 1:
</h4>

<p>
    The word <emph>planet</emph> is now highly ill-defined.
    Remember that planet is meant to be a "wanderer," a spot of light
    moving to different locations across the sky.
    But now, including our own planet, earth, in that definition
    makes it very unclear what a planet actually is.
    Anything orbiting the sun? Big spheres orbiting the sun?
    This issue would not be definitively "resolved" until
    an International Astronomical Union meeting in 2006
    that created a new precise definition of the word planet.
    Unfortunately, this new definition deeply unpopular
    among scientists and the general public alike
</p>

<h4>
    Implication 2:
</h4>

<p>
    The Copernican Universe began a trend in physics and cosmology that would
    continue for 500 years all the way until the present time:
    intuition and common sense are replaced by careful reasoning to create
    a model that more simply explains the observation.
    Common sense dictates that the sun moves around the earth,
    but to make this model match all the observed data requires significant
    complications such as circles inside of circles.
    Copernicus's model requires humans to use difficult reasoning to understand the relative positions
    of the earth, moon, and sun.
    However, once such reasoning is completed, the resulting model is much simpler,
    not requiring unnecessary add-ons.
</p>

<h4>
    Implication 3: (The Copernican Principle)
</h4>

<p>
    The Copernican Revolution indicated
    that the earth was now not the center, but just another point.

    If you asked an ancient Greek what someone on Mars would see,
    firstly, they might look at you funny, because in their view
    Mars was simply a ball of light and not a place that you could visit.
    But, if they got over that, they would imagine that the person at Mars would see something very different
    someone on earth.

    ===]====]===]===

    if you asked an ancient greek what someone on mars would see......

    According to the Copernican principle, someone on another planet would see something similar to what we see.


    (SOmeone on Mars would see something similar to us...and might reasonably conclude
    that Mars is the cente rof the universe.)
</p>



<h4>
    Implication 4: (The future question: WHY?)
</h4>

<p>
    People think of the Copernican Revolution as a great leap forwards,
    but in truth, it raised as many questions as it solved.
    Mainly, why?
    Why are humans on the third planet? What makes that location special?
    Why are there six planets? Why do all the planets orbit the sun
    but the moon orbits the earth and Jupiter's moon orbit Jupiter?
    If the earth is moving, why don't we fall off?
    Why don't we feel it?
    If the earth is not the center of the universe, why do we fall towards the center of the
    earth and not the center of the sun?
</p>
<p>
    It would take Isaac Newton and future physicists to resolve these new questions.
</p>