

<ol class="questionList">
    <li class="question" data-answer = 'Lunar Eclipse'>
        The earth is situated between the sun and the moon., causing the moon to temporaily disappear.
    </li>
    <li class="question" data-answer = 'Solar Eclipse'>
        The moon is situated between the sun and the earth,
        causing the sun to temporarily disappear.
    </li>
    <li>

    </li>
    <li class="question" data-answer = 'Totality'>
        Moment when the sun is completed covered, causing the sky to appear totally dark.
    </li>
    <li class="question" data-answer = 'Corona'>
        Light around the edges of the sun. Visible only during a total eclipse.
    </li>
    <li class="question" data-answer = 'A Total Eclipse of the Heart'>
        Once upon a time there was light in my life, but now there's only love in the dark.
        There's nothing I can say...
    </li>
</ol>

<ol class="questionList">
    <li class="question">
        Draw a simple diagram that shows the relative positions of earth, moon, and sun
        during a <strong>solar</strong> eclipse.
    </li>
    <li class="question">
        Draw a simple diagram that shows the relative positions of earth, moon, and sun
        during a <strong>lunar</strong> eclipse.
    </li>
</ol>