<p>
    The word "planet" has come to mean something very different from what
    the ancient Greeks believed.
    It is instructive to think about the original use to the term
    in how it relates to different conceptions of the universe.
    When the ancient Greek's looked at the sky each day and night,
    they saw objects moved in different patterns.
    The sun moved in an arc across the sky from east to west each day.
    The moon appeared and disappeared and moved in different arcs
    during both the day and night. These two objects clearly were unique and couldn't fit into
    any category.
    Then there were the stars, obviously much dimmer and farther away than the moon and the sun.
    The stars, like the sun, moved in an arc across the sky during the night,
    though different stars are visible in different times of the year.
    One star, polaris, was an exception that never changed its location and always was due north.
    The stars always appeared in the same position relative to each other.
    For this reason, the Greeks fit the stars into constellations, shapes that appeared each night,
    again and again.
    The bears ursa major and ursa minor, the warrior Orion, and the swan cygnus always appeared.
    The map of all the stars in each constellation came to be known as the <strong>celestial sphere</strong>.
</p>

<p>
    However, there were other bodies that clearly did not fit into the category of star.
    These bodies were tiny spots, similar to stars and obviously not the sun or moon,
    but their position within the celestial sphere was different each night.
    A tiny red spot (Mars), might one night be located in the constellation Cassiopeia and
    a different night int he constellation Orion.
    These objects were given the name "wanderers," or in Greek <emph>planetes</emph>.
    There were five objects in this category. The Romans gave them the names of five of their Gods:
    Mercury, Venus, Mars, Jupiter, and Saturn.
    Remember that earth was certainly not known to be in this category yet,
    and that Uranus, Neptune, and Pluto, were not visible until thousands of years
    later when telescopes were invented.
</p>


<p>
    The Greeks believed that all objects orbited the earth in perfect circles.
    This was obviously true of the moon, the sun, and the stars,
    but the wanderers (planetes) were more complicated.
    Mars, for example, might appear to be traveling in a circle around the earth, progressing through
    its motion each night, when all of the sudden, it began to move backwards.
    This motion, called <emph>retrograde motion</emph> by modern astronomers,
    was a problem with the model.
</p>
<p>
    The astronomer Ptolomey came up with a solution:
    the wanderers (planetes) moved not in circles, but in circles inside of circles.
    When a wanderer began moving backwards (retrograde motion),
    it was moving forwards in its larger circle,
    but backwards within its smaller circle.
    The Ptolomeic model matched observable data, that is, it accurately predicted
    where each wanderer (planetes) would be in the sky each night.
    It's downside was that it was extremely complicated.
</p>
