<p>
    In chemistry class,
    you learn that almost all of the
    interactions that determine how our world
    works occur due to the electrostatic
    interactions between protons and electrons.
    Protons and electrons are attracted;
    protons and other protons repel;
    electrons and other electrons repel.
    From this idea follows the rules of chemistry
    as we know them.
</p>

<p>
    However, here in physics, we learn about
    <emph>two</emph>
    fundamental forces between objects:
    the electrostatic and the gravitational force.
    Protons and electrons are attracted for two reasons:
    first because they have opposite charged,
    and second because they both have mass.
    Furthermore, two electrons not only repel
    but also <emph>attract</emph> due to the gravitational
    force. Ditto for two protons.
</p>

<p>
    Why is it that the electrostatic force,
    not the gravitational force,
    determines how atoms behave?
    Why do you spend all of chemistry class talking about
    electrical forces, and none of it learning about gravity?
    The goal of this problem set is to prove this point.
</p>


<ol>
    <li>
        Imagine a proton and electron located within
        an atom. Demonstrate <strong>numerically</strong>
        that the electrostatic force is so much greater
        than the gravitational force that the gravitational force
        is inconsequential.
        As part of your analysis, you should invent your own numbers
        that are reasonable for the inside of an atom.
        After solving the problems, write a brief two-sentence summary.
    </li>
    <li>
        Inside of a metal particle,
        nuclei are arranged in a grid pattern
        and electrons are shared amongst them.
        The electrostatic repulsion between the nuclei locks them
        into the necessary grid pattern.
        However, gravitational forces between the nuclei actually
        <strong>attract them</strong>.
        If gravitational force were stronger than electrostatic force,
        then the nuclei would collapse into each other.
        Make an argument that the force of gravity is completely
        irrelevant in this situation.
        As part of your analysis, you should invent your own
        numbers that are reasonable for metal atoms.
        A brief review of basic chemistry and the periodic table of elements
        may be necessary.
    </li>
</ol>