<p class = 'directions'>
    By using the concept of inertia, describe a solution to each of the stories below.
</p>

<ol>
    <li class = 'bigQuestion'>
        In football, defensive backs are players that must run close to another player.
        To excel at their position, they must be highly agile.
        They need to be able to change speed and direction extremely quickly.
        Defensive backs are typically the <empy>least massive</empy> players on the field.
        For professional players, defensive back's height and weight are
        close to those of average humans, whereas most every other player on the field
        is significantly larger.
        Explain this using the concept of inertia. Compare defensive backs to other players.
        For full credit, you must refer to at least one of Newton's Laws
        and the concept of <emph>acceleration</emph>
        or <strong>change in velocity</strong>.
        (Note: Even if you don't know anything abotu football, you can answer the question correctly using
        the information provided in this paragraph.)
    </li>
    <li class = 'bigQuestion'>
        When wildebeests are attacked by a lion, they frequently defend themselves by running
        not away from the lion but <emph>towards</emph> the lion!
        While the lion is attacking the, they run directly at the lion and evade the lion.
        The lion is forced to <emph>turn around</emph> in order to continue attacking the wildebeest!
        Part of the reason this strategy is so effective is that the lion is so massive.
        A typical male lion has a mass of about 190 kg, more than twice that of a typical male human.
        Explain the wildebeest's defense strategy using the concept of inertia.
        For full credit, you must refer to at least one of Newton's Laws
        and the concept of <emph>acceleration</emph>
        or <strong>change in velocity</strong>.
    </li>
</ol>

<p>Don't forget the back!</p>
<div class = 'pageBreak'></div>
<p class = 'directions'>
    For each option, state if it refers to inertial mass or gravitational mass.
</p>

<ol>
    <li class = 'tinyQuestion'>
        All mass attracts all other mass.
    </li>
    <li class = 'tinyQuestion'>
        All mass resists any change in motion.
    </li>
    <li class = 'tinyQuestion'>
        A full cup of water will fall over less than an empty cup.
    </li>
    <li class = 'tinyQuestion'>
        Jupiter pulls on Mercury and causes it's orbit to change slightly.
    </li>
    <li class = 'tinyQuestion'>
        You fall down.
    </li>
    <li class = 'tinyQuestion'>
        It is harder for the Hulk to knock over a truck that is full of bricks than an empty truck.
    </li>
</ol>

