<p>
  All you need is a toy car that moves at an apparently constant velocity.
</p>

<p>
  Other recommended, but not required materials are a stopwatch, meterstick, and/or metronome.
</p>

<p>
  Your goal is to <strong>quantitatively demonstrate</strong>
  that the car is, in fact, moving at a constant velocity.
</p>


<p>
  While you're at it, calculate the magnitude of velocity in meters per second.
</p>
