

<h3>
    Requirements
</h3>


<ul>
    <li>
        A data table
        <ul>
            <li>
                The data table should include three columns:
                time, position, and time-squared.
                In this data table, the time and position
                are direct measurements,
                and time-squared is a calculation.
            </li>
            <li>
                The proper SI units should be indicated
                in the header of each column
                (seconds, meters, and seconds-squared).
            </li>
            <li>
                There should be at least six
                data points in the table,
                indicating six different
                measurements of time.
            </li>
        </ul>
    </li>
    <li>
        A position-time scatter plot:
        <ul>
            <li>
                Your graph should be on graph paper
                and be at least 5 inches by 5 inches.
            </li>
            <li>
                The scatter plot should have
                time labeled on the horizontal axis
                and position labeled on the vertical axis.
            </li>
            <li>
                On each axis label, the unit should be indicated.
            </li>
            <li>
                Each point on the data-table should be included on the scatter plot.
            </li>
            <li>
                The scatter plot should contain only the points.
                Points should <emph>not</emph>
                be connected, and no best fit-line or curve should be drawn.
            </li>
        </ul>
    </li>
    <li>
        A brief analysis of the scatter plot:
        <ul>
            <li>
                In only 1 -2 sentences,
                indicate whether the scatter plot suggests
                the car is accelerating.
            </li>
        </ul>
    </li>
    <li>
        A linearized graph
        <ul>
            <li>
                Your graph should be on graph paper
                and be at least 5 inches by 5 inches.
            </li>
            <li>
                The linearized graph should have
                position on the vertical axis
                and time-squared on the horizontal axis.
            </li>
            <li>
                The proper unit should be indicated on each
                of the axis labels.
            </li>
            <li>
                At least 6 points, corresponding to those in the
                data table, should be drawn.
            </li>
            <li>
                If the graph does not appear linear,
                indicate outliers, points that do not fit the general pattern,
                with an X and points on the line with an O.
            </li>
            <li>
                A hand-drawn best-ft lie should be added:
                <ul>
                    <li>
                        The best-fit line should go as close
                        to as many of the non-outlier data points (indicated by Os) as possible.
                    </li>
                    <li>
                        The best-fit line should not include an arrow on the end.
                    </li>
                    <li>
                        Do not take into account the outliers on the best-fit line.
                    </li>
                    <li>
                        The points should be large enough that they are visible
                        if the best-fit line goes through them.
                    </li>
                    <li>
                        The best-fit line does not need to go through the origin.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        An algebraic derivation:
        <ul>
            <li>
                By using one of the kinematic
                equations, determine
                a relationship
                between position and time.
            </li>
            <li>
                For this derivation, you can replace displacement
                with position in the kinematic equations.
                This simply indicates, without loss of generality, that the car
                began at the position zero.
            </li>
            <li>
                If any quantity is set to zero,
                indicate which quantity is and briefly explain why.
            </li>
            <li>
                Indicate if the derivation that you determine
                includes any <emph>constant values</emph>.
            </li>
            <li>
                From your derivation,
                indicate what quantity will be equal to the slope
                of the linearized graph of position vs. time-squared.
            </li>
        </ul>
    </li>
    <li>
        A calculation:
        <ul>
            <li>
                Determine the slope of your linearized graph.
                Do this <emph>by hand</emph>
                by selecting any two points on the best fit
                line and using the formula
                \( m = \frac{y_2 - y_1}{x_2 - x_1} \)
            </li>
            <li>
                If you know how to determine slope using a linear regression,
                you may optionally add this piece,
                but also include the by hand calculation.
            </li>
            <li>
                Combine this slope with your algebraic
                derivation from above
                to determine a numerical value for the
                acceleration of the car.
            </li>
        </ul>
    </li>
    <li>
        A brief analysis of the linearized graph:
        <ul>
            <li>
                In 1-2 sentences, comment on whether the linearized graph
                indicates the car is moving forward with a constant, positive acceleration.
            </li>
            <li>
                If there are points that are outliers on your graph,
                and they are not the result of gross measurement error,
                this must mean that the car is not consistently accelerating
                at the same rate.
                If you have such points, in 1-2 sentences comment on why you think they appear.
            </li>
            <li>
                In 1-2 sentences comment on whether the acceleration you determined
                was realistic.
                It should be much less than 9.8 m/s/s (because that would indicate a full drop),
                but the order of magnitude should be 0 or -1, and not less.
            </li>
            <li>
                In 1-2 sentences, comment on the advantage of the linearized graph
                over the scatter plot.
            </li>
        </ul>
    </li>
</ul>