<!--
organize by location in solar system
-->
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            Planet
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Eccentricity
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Perihelion (AU)
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Aphelion (AU)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Mercury</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.205
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.307
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.467
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Venus</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.007
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.719
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.723
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Earth</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.017
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.983
        </div>
        <div class = 'col-2 border border-dark p-2'>
            1.02
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Mars</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.094
        </div>
        <div class = 'col-2 border border-dark p-2'>
            1.38
        </div>
        <div class = 'col-2 border border-dark p-2'>
            1.67
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Jupiter</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.049
        </div>
        <div class = 'col-2 border border-dark p-2'>
            4.95
        </div>
        <div class = 'col-2 border border-dark p-2'>
            5.46
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Saturn</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.057
        </div>
        <div class = 'col-2 border border-dark p-2'>
            9.04
        </div>
        <div class = 'col-2 border border-dark p-2'>
            10.1
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Uranus</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.046
        </div>
        <div class = 'col-2 border border-dark p-2'>
            18.3
        </div>
        <div class = 'col-2 border border-dark p-2'>
            20.1
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Neptune</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.011
        </div>
        <div class = 'col-2 border border-dark p-2'>
            29.7
        </div>
        <div class = 'col-2 border border-dark p-2'>
            30.4
        </div>
    </div>

</div>
<p class = 'dataCredit'>
    NASA: https://nssdc.gsfc.nasa.gov/planetary/factsheet/
</p>

<h5>
    Dwarf Planets
</h5>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            Planet
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Eccentricity
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Perihelion (AU)
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Aphelion (AU)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Pluto</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.244
        </div>
        <div class = 'col-2 border border-dark p-2'>
            29.7
        </div>
        <div class = 'col-2 border border-dark p-2'>
            49.3
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong></strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>

        </div>
        <div class = 'col-2 border border-dark p-2'>

        </div>
        <div class = 'col-2 border border-dark p-2'>

        </div>
    </div>

</div>

<p class = 'dataCredit'>
    https://solarsystem.nasa.gov
</p>

<h5>
    Comets
</h5>

<p class ='dataCredit'>
    https://solarsystem.nasa.gov
</p>

<h4>
    Diagrams
</h4>
<!-- make these click and view -->

<h5>
    Inner Solar System
</h5>
<img src = 'https://ssd.jpl.nasa.gov/images/orbit_plot_inner.png' height = '600px' width = 'auto'/>
<p class = 'imageCredit'>
    Jet Propulsion Laboratory  https://ssd.jpl.nasa.gov/?orbits
</p>

<h5>
    Outer Solar System
</h5>
<img src = 'https://ssd.jpl.nasa.gov/images/orbit_plot_outer.png' height = '600px' width = 'auto'/>
<p class = 'imageCredit'>
    Jet Propulsion Laboratory  https://ssd.jpl.nasa.gov/?orbits
</p>


<h5>
    Distant Solar System
</h5>
<img src = 'https://ssd.jpl.nasa.gov/images/orbit_plot_distant.png' height = '600px' width = 'auto'/>
<p class = 'imageCredit'>
    Jet Propulsion Laboratory  https://ssd.jpl.nasa.gov/?orbits
</p>


<ol class = 'answerList'></ol>



<h4>
    Draft
</h4>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            Body
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Type
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Orbital Period (years)
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Eccentricity
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Perihelion (AU)
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Aphelion (AU)
        </div>

    </div>

    <!--aphelion = 2 * sem major axis - perihelion -->

    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Halley's Comet</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Comet
        </div>
        <div class = 'col-2 border border-dark p-2'>
            75.3
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.967
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.586
        </div>
        <div class = 'col-2 border border-dark p-2'>
            35.1
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>Hale-Bopp Comet</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            Comet
        </div>
        <div class = 'col-2 border border-dark p-2'>
            2460
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.995
        </div>

        <div class = 'col-2 border border-dark p-2'>
            0.917
        </div>
        <div class = 'col-2 border border-dark p-2'>
            363
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark p-2'>
            <strong>2013 FY27</strong>
        </div>
        <div class = 'col-2 border border-dark p-2'>
            TransNeptunian Object
        </div>
        <div class = 'col-2 border border-dark p-2'>
            449
        </div>
        <div class = 'col-2 border border-dark p-2'>
            0.399
        </div>
        <div class = 'col-2 border border-dark p-2'>
            35.2
        </div>
        <div class = 'col-2 border border-dark p-2'>
            82.1
        </div>
    </div>

</div>

<p class = 'dataCredit'>
    NASA Comet Fact Sheet => https://nssdc.gsfc.nasa.gov/planetary/factsheet/cometfact.html
</p>




<ol class = 'questionList'>
    <li class = 'question'>
        Find an object that travels farther away from the sun than Neptune,
        but then comes closer to the sun than the earth.
    </li>
</ol>

<!--
this seems more like a lab
[add some brief questions on the pod, then larger, more investigative questions on the lab]
-->


<!--
How i am going to oragnize this:
- organize it by the position within the solar system
near, far, and distant
- have the data tables next to the diagrams

- then, come up with questions that involve interpreting them
-->