<p class = 'introduction'>
    A pendulum is simply a mass (called a bob)
    hanging from a string.
    You pull the pendulum backwards, and it swings back and forth.
    That's all it is!
    Sounds like nothing, but, this simple device is responsible for so much of physics!
    For hundreds of years, most clocks worked with pendulums,
    and you can still purchase an antique grandfather clock.
    Much of what we know about how gravity works on earth
    was discovered by studying pendulums:
    including the most accurate measurements of earth's gravitational field for generations.
    And the pendulum was used to develop models of periodic motion
    that you likely have already studied in math class (sine curves and cosine curves).
    Jean Piaget even used a pendulum to discover some of the basic principles of
    human cognitive development.
    On that note, we will begin our own study of physics using a pendulum.
</p>

<script>
    const letter = 'P';
</script>

<h4>
    Building a Pendulum
</h4>

<p>
    Build a pendulum out of materials provided.
    For the first few labs, you do not need a very precise pendulum.
    All you need a a string, attached to some stable top surface
    (called a pivot), and a weight at the end.
    Commonly found materials you could use to construct are:
</p>
<ul>
    <li>
        Duct Tape
    </li>
    <li>
        A ruler or meter stick
    </li>
    <li>
        String
    </li>
    <li>
        A binder clip
    </li>
    <li>
        Washers
    </li>
</ul>


<h4>
    Making Measurements
</h4>

<p>
    There are four crucial variables that determine how the pendulum functions.
    In this step, measure each variable just once, to see what it is:
</p>

<ul>
    <li>
        <strong>Length:</strong>
        The <emph>length</emph> of a pendulum is the distance
        from the pivot of the pendulum to the center of mass (roughly the center)
        of the bob.
        You can measure it with a ruler or meter stick.
    </li>
    <li>
        <strong>Mass:</strong>
        The <emph>mass</emph> of the pendulum bob.
        The easiest way to measure this is to hang the mass from a spring scale.
    </li>
    <li>
        <strong>Amplitude:</strong>
        The <emph>amplitude</emph> of the pendulum is a measure of how far
        you pull back the pendulum.
        Unlike the mass and length, this variable is not a part of the structure
        of the pendulum, but is set when you chose to pull the pendulum back.
        You can measure the amplitude by holding a protractor behind the pendulum string
        as you pull back the pendulum.
    </li>
    <li>
        <strong>Period:</strong>
        The <emph>period</emph> of a pendulum is the time for a single swing back and forth.
        It comprises a full swing, so if you let go of the pendulum,
        a period has not passed until the pendulum returns to its initial location.
        The best way to measure a period is to measure the time for the pendulum
        to complete five full swings, then divide the result by five.
    </li>
</ul>

<ol class = 'questionList'>
    <li class="question">
        Chose any length, mass, and amplitude.
        Write down what they are.
        Then, let the pendulum go and measure the period, and write it down.
        That is one pendulum measurement!
    </li>
</ol>


<h4>
    Figuring Out How it Works
</h4>

<p>
    Three of the variables (the three input variables) you are able to directly control:
    the length, the mass, and the amplitude.
    The fourth variable (the output variable) you cannot directly control but measures.
    The goal is to figure out which of the three input variables has the greatest effect
    on the output variable.
</p>

<p>
    Try to figure out which of the three input variables determines the period of the pendulum.
    Don't just go by what your intuition or common sense tells you, it might be wrong!
    Figure it out by <emph>experimenting</emph> and <emph>testing</emph> with your pendulum.
</p>

<ol class="questionList">
    <li class="question">
        Which input variable: mass, length, or amplitude, is the most crucial in determining the period of a pendulum?
    </li>
</ol>


<h4>
    Exploring More
</h4>

<p>
    Once you think you have an idea which variable is the one that matters,
    subject it to a more careful analysis.
    Pick the variable you think determines the period (either mass, amplitude, or length),
    and try 4 or 5 different values of that variable, to see if the period changes.
</p>
<p>
    Here' a very big hint:
    when you change something, change it <emph>a lot</emph>!
    For example, if you change mass, don't just add one washer, add several.
    If you change length, don't just make it an inch longer, make it many inches longer.
    If you change an important variable by only a little, it's easy to miss how important it is.
    If you change it a lot, then you'll very clearly see what matters.
</p>
<p>
    If you decide that you got it "wrong," try something else.
    In physics <strong>all</strong> facts need to be demonstrated by experimental observations,
    so you aren't done with this lab until you have shown through your result through experiment.
</p>

<p>
    Once you can do this section, you are moving into the next big step,
    which is to complete a <emph>deductive</emph> lab to answer this question.
</p>

<h4>
    Discussion of the Lab
</h4>


<h4>
    Questions about the lab
</h4>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Even though the lab includes many measurements and numbers, your end result about which variable is the one that matters is actually a qualitative result. '>
        Was the result of this lab <a href = '/pod/92fa82'><emph>qualitative</emph> or <emph>quantitative</emph></a>?
    </li>
    <li class ="question" data-answer = 'In this lab, you discovered a new theory based on reasoning through what happens, without following specific directions. This lab was more inductive.'>
        Was this investigation more <a href = '/pod/4b48ec'><emph>inductive</emph> or <emph>deductive</emph> and why</a>?
    </li>
</ol>


<h4>
    Writeup:
</h4>
<p>
    Write 2 - 3 paragraphs explaining each of the following:
</p>
<ul>
    <li>
        How you built your pendulum
    </li>
    <li>
        How you measured the length, mass, amplitude, and period of your pendulum
    </li>
    <li>
        How you determined which input variable on a pendulum determines its period
    </li>
    <li>
        Why would someone consider this lab to be <emph>qualitative</emph>,
        even if it was based on measurements and numbers?
    </li>
    <li>
        Why would someone consider this lab to be <emph>inductive</emph>
        rather than deductive?
    </li>
</ul>


<ol class = 'answerList'></ol>
