<p class = 'introduction'>
    This is a virtual version of the second pendulum lab.
</p>

<p class = 'introduction'>
    In the previous pendulum lab,
    we built a pendulum, saw how it worked, learned how to make important
    measurements, and then figured out what determines the period of a pendulum.
    We figured it out <emph>inductively</emph> because you looked for a pattern without
    following a specific experimental procedure.
    No matter how, somebody could refute that finding and say you did not test
    all possibilities carefully.
</p>

<p class = 'introduction'>
    This investigation is heavily based on understanding how variables work in a scientific experiment.
    Before you start, you should review <strong>independent variables</strong>,
    <strong>dependent variables</strong>, and <strong>controlled variables</strong>.
</p>

<iframe src="https://phet.colorado.edu/sims/html/pendulum-lab/latest/pendulum-lab_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>

<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>Phet Interactive Simulations</a>.
</p>
<p>
    <a href = 'https://phet.colorado.edu/en/simulation/pendulum-lab'>Link to the simulation</a>
</p>

<h4>
    Getting Started
</h4>

<p>
    First, simply rebuild the pendulum and review how to set and measure
    length, mass, amplitude, and period.
</p>

<p>
    Throughout this investigation, we will call length, mass, and amplitude,
    the <emph>input variables</emph>, because you directly control them,
    and we will call period the <emph>output variable</emph>,
    because it is determined based on the input variable.
</p>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-sm-6'>
            <h5>
                Input Variables
            </h5>
            <ul>
                <li>
                    Length
                </li>
                <li>
                    Mass
                </li>
                <li>
                    Amplitude
                </li>
            </ul>
        </div>
        <div class = 'col-sm-6'>
            <h5>
                Output Variable
            </h5>
            <ul>
                <li>
                    Period
                </li>
            </ul>
        </div>
    </div>
</div>

<h4>
    Defining a "Deductive Experiment"
</h4>

<ol class = 'definition' data-word = 'Deductive Experiment'>
    <li>
        A single deductive experiment consists of a single independent variable,
        a single dependent variable,
        and as many controlled variables as necessary.
    </li>
    <li>
        The experimenter systematically sets the independent variable to a series
        of different values.
    </li>
    <li>
        For each value of the independent variable,
        the experimenter measures the value of the dependent variable.
    </li>
    <li>
        While changing the independent variable,
        each controlled variable is set to a constant value and never changed.
        This ensures that, if there is a change in the dependent variable,
        it comes from the changes in the independent variable and no other factor.
    </li>
    <li>
        Based on the results, the experimenter determines if there is a
        causal relationship between the independent and dependent variables.
    </li>
</ol>

<h4>
    The Task
</h4>

<p>
    The task here is to conduct <strong>three separate</strong>
    deductive experiments using the pendulum.
    Each experiment must meet the following requirements.
</p>

<ul>
    <li>
        For each experiment, select on of the three input variables (length, mass, or amplitude) as your independent variable.
    </li>
    <li>
        For each experiment, the period must be the dependent variable.
    </li>
    <li>
        For each experiment, the two input variables that are not your independent variable must be controlled.
    </li>
    <li>
        You must have six different measurements for each independent variable,
        and for each one a corresponding measurement of the dependent variable.
    </li>
    <li>
        For each experiment, the greatest value of the independent variable
        must be at least <emph>four times</emph> the lowest value.
        This is to ensure that these is sufficient variability,
        so that if there is a change in the dependent variable, it will be observed.
        [Note: if your lab is already completed with 3x, you do not need to redo the lab.]
    </li>
    <li>
        Do not pick values of amplitude greater than 45 degrees.
    </li>
    <li>
        Do not change the gravity (keep it set to "Earth") or friction (keep it set to "None").
        Those variables are important, they just aren't a part of this particular lab.
    </li>
</ul>

<h5>
    Don't do this!!!
</h5>

<p>
    The most common error is mistaking an <emph>experiment</emph>
    with a <emph>measurement</emph>.
    A single experiment must consist of several measurements.
</p>
<p>
    This complete investigation consists of three separate experiments,
    each with at least 6 measurements,
    for a total of 18 measurements.
</p>


<h4>
    LAB REPORT FORMAT
</h4>

<p>
    Formatting of assignments is crucial because the format should reflect the goal of the assignment.
    In this assignment, the goal was to design experiments.
    Therefore, the formatting needs to reflect proper experimental design
</p>


<h5>
    3 Sections, Each Describing an Experiment
</h5>

<p>
    Your report should be broken into three different sections,
    each describing one of the three experiments you conducted.
    Each experiment must be presented as an independent unit,
    separate from the others.
    The writeup of each experiment should be as though you didn't even do the other two.
</p>


<h5>
    Requirements for Each Experiment Writeup
</h5>
<ul>
    <li>
        <strong>Definitions of Variables:</strong>
        In this section, you define the variables for your experiment.
        <ul>
            <li>
                Define the independent variable: (mass, length, or amplitude)
            </li>
            <li>
                Define the dependent variable: (period)
            </li>
            <li>
                Define the two controlled variables (mass, length, or amplitude),
                and write the constant value of each of those controlled variables.
            </li>
        </ul>
        "Definitions of variables" does not mean that you are writing the
        dictionary definition of independent, dependent, and controlled variables,
        but that you are showing what variables <emph>you defined</emph> as independent, dependent and controlled.
        This section does not need to be longer than a short list.
    </li>
    <li>
        <strong>Data Table:</strong>
        In this section, you will write each value chosen for the independent variable (on the left),
        and a corresponding measurement for the dependent variable (on the right).
        Make sure to properly label your table and include units in the headers.
        The rows of the table should be ordered in increasing values of the independent variable.
    </li>
    <li>
        <strong>Scatter Plot:</strong>
        In this section, you draw a handwritten** scatter plot.
        The independent variable should be on the horizontal axis
        and the dependent variable should be on the vertical axis.
        In the scatter plot, do not connect points or add a best fit line,
        only  show each point. (You are not adding your own analysis, only relevant data).
    </li>
    <li>
        <strong>Analysis:</strong>
        In this section, you answer a few questions about the relationship
        between the independent and dependent variables.
        For full credit, you must use the terms
        "independent variable" and "dependent variable"
        correctly in this analysis section.
        However, the analysis does not need to be more than a few sentences long!
        <ol>
            <li>
                Do the data suggest there is a relationship
                between the independent and dependent variable?
            </li>
            <li>
                If #1 is yes, does this relationship appear to be positive or negative? (if #1 is no, your analysis is complete)
                <ul>
                    <li>
                        In a positive relationship, an increase in the independent variable
                        is associate with an <strong>in</strong> in the dependent variable.
                    </li>
                    <li>
                        In a negative relationship, an increase in the independent variable
                        is associated with a <strong>de</strong>crease in the dependent variable.
                    </li>
                </ul>
            </li>
            <li>
                If #1 is yes, does this relationship appear to be linear or non-linear?
                <ul>
                    <li>
                        In a linear relationship, any change of one unit
                        in the independent variable is associated with a regular change
                        of some number of units in the dependent variable.
                    </li>
                    <li>
                        In a non-linear relationship, any change of one unit
                        in independent variable can be associated with different changes
                        in the dependent variable.
                    </li>
                    <li>
                        Linear relationships can be identified on a scatter plot:
                        if the points are not in a straight line, then the relationship
                        is probably probably non-linear.
                    </li>
                </ul>
            </li>
        </ol>
    </li>
</ul>

<p>
    **I prefer handwritten graphs because I think the process of plotting each point
    helps you think more clearly about what the points mean.
    This manual process is lost when a computer creates your graph in an instant.
</p>

<h4>
    Example:
</h4>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-4'>
            <h5>
                Experiment 1
            </h5>
            <ul>
                <li class = 'mb-3'>
                    <strong>Definitions of variables:</strong>
                    <ul>
                        <li>
                            Independent Variable: ____________________
                        </li>
                        <li>
                            Dependent Variable: ____________________
                        </li>
                        <li>
                            Controlled Variables and Values: ____________________
                        </li>
                    </ul>
                </li>
                <li class = 'mb-3'>
                    <strong>Data Table:</strong>
                    <div id = 'table1'></div>
                </li>
                <li class = 'mb-3'>
                    <strong>Scatter Plot:</strong>
                    <div id = 'scatterPlot1'></div>
                </li>
                <li class = 'mb-3'>
                    <strong>Analysis:</strong>
                    <div id = 'text1'></div>
                </li>
            </ul>
        </div>
        <div class = 'col-md-4'>
            <h5>
                Experiment 2
            </h5>
            <ul>
                <li class = 'mb-3'>
                    <strong>Definitions of variables:</strong>
                    <ul>
                        <li>
                            Independent Variable: ____________________
                        </li>
                        <li>
                            Dependent Variable: ____________________
                        </li>
                        <li>
                            Controlled Variables and Values: ____________________
                        </li>
                    </ul>
                </li>
                <li class = 'mb-3'>
                    <strong>Data Table:</strong>
                    <div id = 'table2'></div>
                </li>
                <li class = 'mb-3'>
                    <strong>Scatter Plot:</strong>
                    <div id = 'scatterPlot2'></div>
                </li>
                <li class = 'mb-3'>
                    <strong>Analysis:</strong>
                    <div id = 'text2'></div>
                </li>
            </ul>
        </div>
        <div class = 'col-md-4'>
            <h5>
                Experiment 3
            </h5>
            <ul>
                <li class = 'mb-3'>
                    <strong>Definitions of variables:</strong>
                    <ul>
                        <li>
                            Independent Variable: ____________________
                        </li>
                        <li>
                            Dependent Variable: ____________________
                        </li>
                        <li>
                            Controlled Variables and Values: ____________________
                        </li>
                    </ul>
                </li>
                <li class = 'mb-3'>
                    <strong>Data Table:</strong>
                    <div id = 'table3'></div>
                </li>
                <li class = 'mb-3'>
                    <strong>Scatter Plot:</strong>
                    <div id = 'scatterPlot3'></div>
                </li>
                <li class = 'mb-3'>
                    <strong>Analysis:</strong>
                    <div id = 'text3'></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<p class = 'text-danger'>
    Remember that the key to having a good science report is not a long report,
    but a concise report that clearly organizes information!
</p>

<script>
    function makeRandomScatterPlot(numPoints = 6) {
        let plot = new DiagramF();
        plot.addSegment(new PointF(0,0),new PointF(10,0));
        plot.addSegment(new PointF(0,0),new PointF(0,10));
        let i;
        for (i = 0; i < numPoints; i++) {
            let newCirc = plot.addCircle(new PointF(1 + 9 * Math.random(), 1 + 9 * Math.random()), 0.2);
            newCirc.fill();
        }
        plot.addText('Indp. Var. (unit)',new PointF(5,-1));
        plot.addText('Dp. Var. (unit)',new PointF(-1,5),undefined,3 * Math.PI /2);
        return plot;
    }

    function generateThreeSigFigPoint() {
        return Math.floor(Math.random() * 1000) / 100
    }

    function generateRandomTable(numPoints = 6) {
        let table = $("<table></table>");
        let headerRow = $("<tr><th>Independent Variable (unit)</th><th>Dependent Variable (unit)</th></tr>");
        $(table).append(headerRow);
        let j;
        for (j = 0; j < numPoints; j++) {
            let cell1 = $(`<td>${generateThreeSigFigPoint()}</td>`);
            let cell2 = $(`<td>${generateThreeSigFigPoint()}</td>`);
            let nextRow = $("<tr></tr>");
            $(nextRow).append(cell1);
            $(nextRow).append(cell2);
            $(table).append(nextRow);
        }
        return table;
    }

    const loremIpsum = [
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
        "Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar.",
        "Habitant morbi tristique senectus et netus et malesuada fames ac.",
        "Sed viverra tellus in hac habitasse platea dictumst vestibulum.",
        "Ac placerat vestibulum lectus mauris ultrices eros in.",
        "Urna nunc id cursus metus.",
        "Id volutpat lacus laoreet non curabitur gravida.",
        "Non sodales neque sodales ut etiam sit amet.",
        "At urna condimentum mattis pellentesque id nibh tortor id aliquet.",
        "Neque laoreet suspendisse interdum consectetur libero id faucibus.",
        "Non nisi est sit amet facilisis magna etiam.",
        "Cursus vitae congue mauris rhoncus aenean vel elit scelerisque.",
        "Amet porttitor eget dolor morbi non arcu.",
        "Eu facilisis sed odio morbi quis commodo odio aenean.",
        "Morbi tristique senectus et netus.",
        "Ultrices tincidunt arcu non sodales neque sodales ut.",
        "Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et.",
        "Pellentesque sit amet porttitor eget dolor morbi non.",
        "Nec ultrices dui sapien eget.",
        "Ac tortor vitae purus faucibus ornare suspendisse.",
        "Amet purus gravida quis blandit turpis.",
        "Aliquam vestibulum morbi blandit cursus risus at.",
        "Sed cras ornare arcu dui vivamus arcu felis.",
        "Volutpat blandit aliquam etiam erat velit scelerisque in dictum non.",
        "Ac felis donec et odio.",
        "Faucibus interdum posuere lorem ipsum dolor sit amet consectetur.",
        "Ultrices sagittis orci a scelerisque purus semper eget duis at.",
        "Amet volutpat consequat mauris nunc.",
        "Cursus eget nunc scelerisque viverra mauris in aliquam sem.",
        "Et ligula ullamcorper malesuada proin libero nunc.",
        "Pellentesque id nibh tortor id aliquet lectus.",
        "Vitae nunc sed velit dignissim sodales ut.",
        "Nec dui nunc mattis enim ut.",
        "Scelerisque eleifend donec pretium vulputate sapien.",
        "Aliquet nec ullamcorper sit amet risus nullam eget.",
        "Tortor aliquam nulla facilisi cras fermentum odio eu feugiat.",
        "Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem.",
        "Ut ornare lectus sit amet est placerat in.",
        "Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse.",
        "Facilisis magna etiam tempor orci eu lobortis.",
        "Tempus quam pellentesque nec nam aliquam sem et.",
        "Tincidunt id aliquet risus feugiat in ante metus.",
        "Eu tincidunt tortor aliquam nulla facilisi.",
        "Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod.",
        "Volutpat commodo sed egestas egestas.",
        "Aliquet nibh praesent tristique magna sit amet purus gravida.",
        "Scelerisque eleifend donec pretium vulputate sapien.",
        "Diam phasellus vestibulum lorem sed.",
        "Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et.",
        "Faucibus turpis in eu mi bibendum.",
        "Sed libero enim sed faucibus turpis in eu mi. Volutpat diam ut venenatis tellus in.",
        "Nam aliquam sem et tortor consequat id porta.",
        "Ut sem viverra aliquet eget sit amet tellus cras adipiscing.",
        "Eget egestas purus viverra accumsan in nisl nisi scelerisque.",
        "Morbi tincidunt augue interdum velit euismod in pellentesque.",
        "Vel eros donec ac odio tempor orci dapibus ultrices in.",
        "Pharetra convallis posuere morbi leo urna molestie.",
        "Aliquet risus feugiat in ante.",
        "Cras sed felis eget velit aliquet sagittis id consectetur purus.",
        "Aliquam etiam erat velit scelerisque in dictum.",
        "Condimentum id venenatis a condimentum vitae sapien pellentesque.",
        "Facilisis magna etiam tempor orci eu lobortis.",
        "Sollicitudin tempor id eu nisl nunc mi ipsum faucibus.",
        "Nam aliquam sem et tortor consequat id.",
        "Turpis egestas integer eget aliquet nibh praesent tristique.",
        "Mi tempus imperdiet nulla malesuada.",
        "Sit amet nulla facilisi morbi tempus."
    ];

    function generateRandomText(numSentences = 3, start = randInt(0,loremIpsum.length - 1 - numSentences)) {
        let string = "";
        let k;
        for (k = 0; k < numSentences; k++) {
            string = string + loremIpsum[start + k];
        }
        return $(`<p>${string}</p>`);
    }

    $("#table1").append(generateRandomTable());
    $("#scatterPlot1").append(makeRandomScatterPlot().drawCanvas(150));
    $("#text1").append(generateRandomText());

    $("#table2").append(generateRandomTable());
    $("#scatterPlot2").append(makeRandomScatterPlot().drawCanvas(150));
    $("#text2").append(generateRandomText());

    $("#table3").append(generateRandomTable());
    $("#scatterPlot3").append(makeRandomScatterPlot().drawCanvas(150));
    $("#text3").append(generateRandomText());

</script>