<p>
  Someone (who is insane) invents a winter-fun activity for kids:
  a kid on a sled is shot out of a cannon up a hill at 40 m/s!
  The kid goes up the hill first, then falls backwards down the hill on the sled.
  Assume that, while on the hill, the kid moves with an acceleration of 5 m/s/s
  down the hill, and assume that kid does not reach the top of the hill,
  and that the hill extends downwards 200 m past where the cannon is.
</p>
<!--
Use the same story of this kid to create a stepwise problem

Why do I have three different pods for three very similar problems?
-->

<ol type = 'a'>
  <li>
    Determine how long the kid moves up the hill before he starts falling down.
  </li>
  <li>
    Determine how far the kid moves up the hill before he starts moving down.
  </li>
  <li>
    Without using an equation, determine
    the magnitude and direction of the kid's velocity when he reaches the cannon
    again.
    Then, use a kinematic equation to demonstrate that your reasoning is correct.
  </li>
  <li>
    Without using an equation, determine
    the time at which the kid reaches the cannon again.
    Briefly explain your reasoning.
    Then, use a kinematic equation to demonstrate that your reasoning is correct.
  </li>
  <li>
    Determine the total time before the kid reaches the ground.
  </li>
  <li>
    Determine the magnitude and direction of the kid's velocity
    when he reaches the ground.
  </li>
  <li>
    Draw a quantitative position-time graph for the kid
    from the time when he is fired from the cannon to the time when he reaches the ground.
  </li>
  <li>
    Draw a quantitative velocity-time graph for the kid
    from the time when he is fired from the cannon to the time when he reaches the ground.
  </li>
  <li>
    Draw a quantitative acceleration-time graph for the kid
    from the time when he is fired from the cannon to the time when he reaches the ground.
  </li>
  <li>
    On your position-time graph and your velocity-time graph,
    indicate the moment when the kid reaches his highest point on the hill.
    Demonstrate that this occurs at the same time of each graph.
  </li>
  <li>
    On your position-time graph and your velocity-time graph,
    indicate the moment when the kid passes the cannon on his way down.
    Demonstrate that this occurs at the same time of each graph.
  </li>
  <li>
    Why can't you indicate any of these points on the velocity-time graph?
  </li>
</ol>
