<p class = 'directions'>
    Whenever using a formula, you must copy that formula.
</p>


<ol>
    <li>
        I push a block with a force of 30 N a distance of 3 meters.
        How much work did I do?
    </li>
    <li>
        I lift a block to a height of 2 meters and I do 400 Newtons of work.
        How much did the block weigh?
    </li>
    <li>
        I push a wall with a force of 500 Newtons.
        The wall does not move.
        How much work did I do?
    </li>
</ol>