<p>
    The previous unit, on using the Conservation of Energy quantitatively,
    introduced the concept of <strong>work</strong>
    as the change in energy of a system.
</p>
<p>
    In this unit, we will expand on the idea of <strong>work</strong>.
    Work is defined as force times distance.
    Considering work both as force times distance and as energy change
    connects the topic of <emph>dynamics</emph> with the topic of <emph>energy</emph>.
</p>