<h4>
    Problem 1:
</h4>
<p>
    State, from memory, the work-energy theorem in words.
</p>

<h4>
    Problem 2:
</h4>

<p>
    A book is on a table,
    when it falls off!
    Analyze the book while it is midair.
    Ignore air resistance.
</p>

<!--<p>-->
<!--    Secret agent man is hanging from a rope,-->
<!--    while the rope is pulling him upward.-->
<!--</p>-->

<p>
    Analyze the situation from two different points of view:
    The system of the <strong>book alone</strong>
    and the <strong>book-earth system</strong>.
    For each point of view do the following:
</p>

<ul>
    <li>
        Draw a free-body diagram
        showing external forces acting on the system.
    </li>
    <li>
        By referring to your free-body diagram,
        determine whether positive, zero, or negative
        work is done on the system.
    </li>
    <li>
        Identify what types of mechanical energy the
        system may possess.
    </li>
    <li>
        Identify whether total mechanical energy is
        increasing, decreasing, or staying the same.
    </li>
    <li>
        Describe qualitatively how the work-energy theorem is valid for each system.
        Your explanation should include which specific types of energy are changing.
    </li>
</ul>


<h4>
    Problem 3:
</h4>

<p>
    A very kindly person
    comes along, picks up the book,
    and places it back on the shelf.
    Analyze this situation while
    the person is in the process of lifting the book
    and it is moving at a constant velocity.
</p>
<p>
    Analyze the situation from two different points of view:
    The system of the <strong>book alone</strong>
    and the <strong>book-earth system<strong>.
    For each point of view do the following:
</p>

<ul>
    <li>
        Draw a free-body diagram
        showing external forces acting on the system.
    </li>
    <li>
        By referring to your free-body diagram,
        determine whether positive, zero, or negative
        work is done on the system.
    </li>
    <li>
        Identify what types of mechanical energy the
        system may possess.
    </li>
    <li>
        Identify whether total mechanical energy is
        increasing, decreasing, or staying the same.
    </li>
    <li>
        Describe qualitatively how the work-energy theorem is valid for each system.
        Your explanation should include which specific types of energy are changing.
    </li>
</ul>


