<p class = 'directions'>
    Answer the very very questions below.
    It isn't a trick!
</p>

<ol>
    <li>
        What is 5 + 5?
    </li>
    <li>
        What is the capital of the United States?
    </li>
    <li>
        How legs does a horse have?
    </li>
    <li>
        Name a color that ends in "urple."
    </li>
    <li>
        Which year was the Declaration of Independence Signed?
        <ol type = 'a'>
            <li>
                1776
            </li>
            <li>
                2020
            </li>
            <li>
                24 BCE
            </li>
            <li>
                987
            </li>
        </ol>
    </li>
</ol>