

<p>
    The Mars Rover Perseverance is located at the Jezero Crater on Mars.
    Its coordinates are approximately 18 degrees North, 77 degrees longitude.
    One day on Mars is approximately 1 earth day plus 37 minutes.
    The radius of Mars is 3,389.5 km.
</p>

<ol>
    <li>
        Draw a diagram of Mars that roughly illustrates the latitude of the Mars Rover.
    </li>
    <li>
        Determine Perseverance's angular velocity due to Mar's rotation.
        You must include some description of your calculation in your answer.
        State your answer to 6 significant figures of accuracy.
    </li>
</ol>