<div class="bigSpace"></div>
<div class="bigSpace"></div>


<h3>
    <a href = '/asset/{{id}}/kinetic_friction_lab.pdf'>
        Available as a pdf.
    </a>
</h3>


<div class="bigSpace"></div>
<div class="bigSpace"></div>