<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<ol>
    <li>
        A block as a mass of 7.80 kg and is not moving.
        Somebody begins pulling the block with a force of 60.0 N to the right.
        The coefficient of <emph>kinetic</emph> friction between the block and the surface is 0.450.
        The coefficient of <emph>static</emph> friction between the block and the surface is 0.700.
        <ol type = 'a'>
            <li>
                Draw a <strong>qual</strong>itative free-body diagram of this situation.
                Identify the frictional force merely as friction, neither static nor kinetic.
            </li>
            <div class = 'bigSpace'></div>
            <li>
                Determine if the block moves. Explain how you determined this in 1 - 2 sentences.
            </li>
            <div class = 'mediumSpace'></div>
            <li>
                Complete the <strong>quant</strong>itative free-body diagram of this situation.
                Explain how you determined the magnitude of friction in 1 - 2 sentences.
            </li>
            <div class = 'bigSpace'></div>
            <li>
                Determine the magnitude of acceleration of the block. If you use a formula to do so,
                make sure you write it down.
            </li>
        </ol>
    </li>
    <div class = 'pageBreak'></div>
    <div class = 'bigSpace no-print'></div>
    <div class = 'bigSpace no-print'></div>
    <li>
        A block as a mass of 7.00 kg and is not moving.
        Somebody begins pulling the block with a force of 40.0 N to the right.
        The coefficient of <emph>kinetic</emph> friction between the block and the surface is 0.500.
        The coefficient of <emph>static</emph> friction between the block and the surface is 0.680.
        <ol type = 'a'>
            <li>
                Draw a <strong>qual</strong>itative free-body diagram of this situation.
                Identify the frictional force merely as friction, neither static nor kinetic.
            </li>
            <div class = 'bigSpace'></div>
            <li>
                Determine if the block moves. Explain how you determined this in 1 - 2 sentences.
            </li>
            <div class = 'mediumSpace'></div>
            <li>
                Complete the <strong>quant</strong>itative free-body diagram of this situation.
                Explain how you determined the magnitude of friction in 1 - 2 sentences.
            </li>
            <div class = 'bigSpace'></div>
            <li>
                Determine the magnitude of acceleration of the block. If you use a formula to do so,
                make sure you write it down.
            </li>
        </ol>
    </li>
    <div class = 'bigSpace'></div>
</ol>
