<p class = 'directions'>
    Please answer each question in at
    least one complete sentence.
</p>

<ol>
    <li>
        What is your goal when you are studying <emph>kinematics</emph>?
    </li>
    <li>
        What is explicitly <strong>not</strong> your goal
        when you are studying kinematics?
    </li>
    <li>
        What is the difference between <emph>qualitative</emph>
        kinematics and <emph>quantitative</emph> kinematics?
    </li>
    <li>
        Are these quizzes on qualitative or quantitative kinematics?
    </li>
</ol>