<h4>
  Algebraic Solutions:
</h4>

<p class = 'directions'>
  A ball is launched directly upwards into the air at a speed \( v_i \).
  It rises up into the air and then falls to the ground.
  Its final altitude is exactly the same as its initial.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = '\( t = \frac{v_i}{g} \)'>
    Determine the time that it takes
    the ball to reach the top of its arc
    in terms of \( v_i \) and \( g \).
    Demonstrate your result is dimensionally correct.
  </li>
  <li class = 'question' data-answer = '\( t = 2 \frac{v_i}{g} \)'>
    Determine the total time that the ball
    is in the air in terms of \( v_i \) and \( g \).
  </li>
  <li class = 'question' data-answer = '\( v = v_i \)'>
    Determine the speed at which the ball strikes the ground.
    Demonstrate this answer both algebraically and with a conceptual
    argument.
  </li>
  <li class = 'question' data-answer = '\( h = \frac{v_i^2}{2g}\)'>
    Determine the maximum height of the ball in terms of
    \( v_i \) and \( g \).
    Demonstrate that your result is dimensionally correct.
  </li>
</ol>


<h4>
  Functional Solutions:
</h4>


<p class = 'directions'>
  A ball at vertical position \( y_i \) is launched directly upwards
  into the air
  at a speed \( v_i \).
  No other information is known. The ball could land
  on the ground as in the previous problem, or fall into a hole,
  or be caught in the air by a bird.
  The task is to devise a function that describes all
  possibilities.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = "I'll assume you chose upward as positive and downward as negative.">
    Decide which direction should be positive and
    which should be negative.
    Regardless of your decision, assume that the constant \( g \)
    refers to the magnitude of free-fall acceleration.
  </li>
  <li class = 'question' data-answer = '\( y(t) = y_i + v_i t - \frac{1}{2} g t^2 \)'>
    Derive a function for the vertical position of the ball
    as a function of time \( y(t) \)
    including constants \( y_i \), \( v_i \), and \( g \).
  </li>
  <li class = 'question' data-answer = '\( v(t) = v_i - g t \)'>
    Derive a function for the velocity of the ball as a
    function of time \( v(t) \)
    including constants \( v_i \) and \( g \).
  </li>
  <li class = 'question' data-answer = '\( a(t) = -g \)'>
    Derive a sort-of function for the acceleration
    of the ball \( a(t) \).
    It's very simple!
  </li>
  <li class = 'question'>
    Demonstrate that if you plug in your value for
    total time in the air from the previous section,
    your position-function will return \( y(t) = y_i \).
  </li>
  <li class = 'question'>
    Demonstrate that if you plug in your value for
    half of the total time in the air and \( y_i = 0 \)
    from the previous section, you return your result
    for maximum height.
  </li>
  <li class = 'question'>
    Demonstrate that if you plug in your value for
    total time in the air, your velocity function will
    return \( v(t) = -v_i \).
  </li>
</ol>



<h4>
  Energy Analysis:
</h4>

<p class = 'directions'>
  This section builds on the problems of the previous
  section by including an analysis of energy.
  A ball at vertical position \( y_i \) is launched directly upwards
  into the air
  at a speed \( v_i \).
  Assume no work is done on the ball-earth system
  at any point in the ball's flight.
  Keep your functions from before, as they will be useful.
    Also assume tha the ball has mass \( m \).
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = '\( KE(t) = \frac{1}{2} m v_i^2 + \frac{1}{2} m g^2 t^2 - m v_i g t \)'>
    Determine a function for the kinetic energy
    of the ball as a function of time \( KE(t) \).
    If you have a squared bionomial, please mutliply it out and distribute all values.
  </li>
  <li class = 'question' data-answer = '\( GPE(t) = m g y_i + m g v_i t - \frac{1}{2} m g^2 t^2 \)'>
    Determine a function for the gravitational
    potential energy of the ball-earth system as
    a function of time \( GPE(t) \).
    Please distribute all values.
    Take as your zero-point height the value \( y = 0 \).
    Note that the system may not begin
    with zero gravitational potential energy.
  </li>
  <li class = 'question' data-answer = '\( TE(t) = \frac{1}{2} m v_i^2 + m g y_i \)'>
    Determine a function for the total energy
    of the ball-earth system as a function of time \( TE(t) \).
    But you may notice something funny about this "function" of time when you simplify!
  </li>
  <li class = 'question' data-answer = 'The Law of the Conservation of Energy'>
    What principle states that, if no external work is done on the
    ball-earth system, the total energy of the system
    will remain constant?
  </li>
  <li class = 'question' data-answer = 'Total Energy is a constant value indepdent of time!'>
    How is this principle consistent with the
  </li>
</ol>





<ol class = 'answerList'></ol>
