<p>
    An abnormally large marble (A) with a mass of 4 kg
    is moving to the right with a speed of 3 m/s.
    Another even larger marble (B) with a mass of 6 kg
    is moving to the left with a speed of 2 m/s.
    They collide elastically
</p>

<ol type = 'a'>
    <li>
        Use relevant conservation laws to create two different formulas
        that relate the following six variables:
        \( m_a \), \( m_b \), \( v_{ai} \), \( v_{bi} \), \( v_{bf} \), and \( v_{af} \).
        Note that these variables each represent the velocity, not the speed
        of each marble.
        Please create these questions before adding any
        For each equation, briefly describe the principle of physics
        behind that equation, and briefly describe what physical
        quantity is represented by each term of the equation.
    </li>
    <li>
        Solve your equations to determine the velocity of each marble after the collision:
        \( v_{af} \) and \( v_{bf} \).
    </li>
    <li>
        Your equations may have had more than one  mathematical solution.
        If so, explain mathematically why this occurred, and explain which solution is the
        physical solution and why.
    </li>
</ol>