<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<ol>
    <li>
        A person is pressing a book against the wall and the book is not moving.
        The book has a mass of 2.5 kg, and the coefficient of static friction between the
        book and the wall is 0.4,
        <ol type = 'a'>
            <li>
                Draw a qualitative free-body diagram which names each of the forces acting on the book (there are 4)
                and names the agent causing that force.
            </li>
            <li>
                Determine the magnitude of the force of gravity acting on the book.
            </li>
            <li>
                Determine the minimum force with which the person must press the book
                to make it stay in place and not move.
            </li>
            <li>
                Assuming the person is pressing the book with this minimum force,
                complete a quantitative free-body diagram of the book.
            </li>
        </ol>
    </li>
    <div class = 'pageBreak'></div>
    <li>
        A person is falling with a speed of 10 m/s and is 20 meters above the ground.
        when he grabs onto a pole.
        The man has a mass of 80 kg.
        His hands press on the pole with a force of 90 Newtons,
        and the coefficient of kinetic friction between the man's hands and the pole is 0.3.
        <ol type = 'a'>
            <li>
                Draw a qualitative free-body diagram which names each of the forces acting on the man (there are 3)
                and names the agent causing that force.
            </li>
            <li>
                Determine the magnitude of each force acting on the man.
                Make sure that you write each equation you use before plugging numbers in.
                Write 1-2 sentences on how you determined the force of kinetic friction.
            </li>
            <li>
                Will the man stop moving before reaching the ground?
                If he strikes the ground, with what speed will he strike the ground?
            </li>
            <li>
                Briefly, state if grabbing the pole was a good strategy to protect this person from injury
                and defend your answer by referring to the results of this problem.
            </li>
        </ol>

    </li>
</ol>
