
<h4>
  Nuclear Reaction Laws
</h4>

<p>
  When a nucleus decays,
  we draw a reaction with an arrow
  like this:
  $$
  ^{14} _6 \text{C} \longrightarrow ^{10} _4 \text{Be} + ^4 _2 \text{He}
  $$
</p>

<p class = 'definition' data-word = 'Conservation of Mass'>
  The mass numbers of the reactants and producs must add up.
  <br>
  <br>
  In the example above 14 = 10 + 4
</p>
<p class = 'definition' data-word = 'Conservation of Charge'>
  The atomic numbers (which represent charge) of the reactants
  and products must add up.
  <br><br>
  In the example above
  6 = 4 + 2
</p>

<p class = 'definition'>
  Using the <strong>conservation of mass</strong>
  and the <strong>conservation of charge</strong>,
  find the missing nuclide:
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    \( ^{238} _{92} \text{U} \longrightarrow ^{??} _{??} \text{??} + ^4 _2 \text{He} \)
  </li>
  <li class = 'question'>
    \( ^{222} _{88} \text{Ra} \longrightarrow ^{??} _{??} \text{??} + ^4 _2 \text{He} \)
  </li>
  <li class = 'question'>
    \( ^{208} _{84} \text{Po} \longrightarrow ^{??} _{??} \text{??} + ^4 _2 \text{He} \)
  </li>
</ol>


<h4>
  Types of Particles
</h4>

<p class = 'definition' data-word = 'Alpha Particle (\( \alpha \))'>
  A Helium-4 nucleus
  <br>
  Represented by \( ^4 _2 \text{He} \)
</p>
<p class = 'definition' data-word = 'Beta Particle (\( \beta \))'>
  An electron
  <br>
  Represented by \( ^0 _{-1} \text{e} \)
</p>
<p class = 'Gamma Ray (\( \gamma \))'>
  A very high energy photon (electromagnetic wave)
  <br>
  Represented by \( \gamma \), the Greek letter gamma.
</p>

<p class = 'definition'>
  Write whether each symbol describes an alpha particle,
  a beta particle, or a gamma ray.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    \( \gamma \)
  </li>
  <li class = 'question'>
    \( \alpha \)
  </li>
  <li class = 'question'>
    \( \beta \)
  </li>
  <li class = 'question'>
    \( ^0 _{-1} \text{e} \)
  </li>
  <li class = 'question'>
    \( ^4 _2 \text{He} \)
  </li>
  <li class = 'question'>
    Helium-4
  </li>
  <li class = 'question'>
    Electron
  </li>
</ol>

<h4>
    Video:
</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zF5pn8FVlPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h4>
  Alpha Decay
</h4>

<p class = 'definition' data-word = 'Alpha Decay'>
  In alpha decay, a nuclide gives off an alpha particle (\( ^4 _2 \text{He} \)).
</p>

<p class = 'directions'>
  Draw an alpha decay of each nuclide.
  For full credit, you must write the entire reaction in the box.
  The entire reaction includes the initial nuclide, the products,
  and an arrow between them. Do not write only the products.
  Do not draw an arrow through the shaded space.
  Write out the entire reaction.
</p>

<ol class = 'questionList'>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-1 border border-dark'>
      </div>
      <div class = 'col-2 border border-dark'>
        Nuclide
      </div>
      <div class = 'col-1 border border-dark bg-secondary'>
      </div>
      <div class = 'col-6 border border-dark'>
        Decay Reaction
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-1 border border-dark pt-4'>
        <li class = 'question'></li>
      </div>
      <div class = 'col-2 border border-dark pt-4'>
        \( ^{256} _{103} \text{Lr} \)
      </div>
      <div class = 'col-1 border border-dark bg-secondary pt-4'>
      </div>
      <div class = 'col-6 border border-dark pt-4'>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-1 border border-dark pt-4'>
        <li class = 'question'></li>
      </div>
      <div class = 'col-2 border border-dark pt-4'>
        \( ^{231} _{91} \text{Pa} \)
      </div>
      <div class = 'col-1 border border-dark bg-secondary pt-4'>
      </div>
      <div class = 'col-6 border border-dark pt-4'>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-1 border border-dark pt-4'>
        <li class = 'question'></li>
      </div>
      <div class = 'col-2 border border-dark pt-4'>
        \( ^{225} _{89} \text{Ac} \)
      </div>
      <div class = 'col-1 border border-dark bg-secondary pt-4'>
      </div>
      <div class = 'col-6 border border-dark pt-4'>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-1 border border-dark pt-4'>
        <li class = 'question'></li>
      </div>
      <div class = 'col-2 border border-dark pt-4'>
        \( ^{211} _{87} \text{Fr} \)
      </div>
      <div class = 'col-1 border border-dark bg-secondary pt-4'>
      </div>
      <div class = 'col-6 border border-dark pt-4'>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-1 border border-dark pt-4'>
        <li class = 'question'></li>
      </div>
      <div class = 'col-2 border border-dark pt-4'>
        \( ^{185} _{79} \text{Au} \)
      </div>
      <div class = 'col-1 border border-dark bg-secondary pt-4'>
      </div>
      <div class = 'col-6 border border-dark pt-4'>
      </div>
    </div>

  </div>
</ol>


<h4>
  Beta Decay
</h4>

<p class = 'definition' data-word = 'Beta Decay'>
  In beta decay, a nuclide gives off a beta particle (\( ^0 _{-1} \text{e} \)).
</p>

<p class = 'directions'>
  Draw a beta decay of each nuclide.
  For full credit, you must write the entire reaction in the box.
  The entire reaction includes the initial nuclide, the products,
  and an arrow between them. Do not write only the products.
  Do not draw an arrow through the shaded space.
  Write out the entire reaction.
</p>


<ol class = 'questionList'>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-1 border border-dark'>
      </div>
      <div class = 'col-2 border border-dark'>
        Nuclide
      </div>
      <div class = 'col-1 border border-dark bg-secondary'>
      </div>
      <div class = 'col-6 border border-dark'>
        Decay Reaction
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-1 border border-dark pt-4'>
        <li class = 'question'></li>
      </div>
      <div class = 'col-2 border border-dark pt-4'>
        \( ^{6} _{2} \text{He} \)
      </div>
      <div class = 'col-1 border border-dark bg-secondary pt-4'>
      </div>
      <div class = 'col-6 border border-dark pt-4'>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-1 border border-dark pt-4'>
        <li class = 'question'></li>
      </div>
      <div class = 'col-2 border border-dark pt-4'>
        \( ^{24} _{11} \text{Na} \)
      </div>
      <div class = 'col-1 border border-dark bg-secondary pt-4'>
      </div>
      <div class = 'col-6 border border-dark pt-4'>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-1 border border-dark pt-4'>
        <li class = 'question'></li>
      </div>
      <div class = 'col-2 border border-dark pt-4'>
        \( ^{201} _{79} \text{Au} \)
      </div>
      <div class = 'col-1 border border-dark bg-secondary pt-4'>
      </div>
      <div class = 'col-6 border border-dark pt-4'>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-1 border border-dark pt-4'>
        <li class = 'question'></li>
      </div>
      <div class = 'col-2 border border-dark pt-4'>
        \( ^{52} _{26} \text{Fe} \)
      </div>
      <div class = 'col-1 border border-dark bg-secondary pt-4'>
      </div>
      <div class = 'col-6 border border-dark pt-4'>
      </div>
    </div>

    <div class = 'row'>
      <div class = 'col-1 border border-dark pt-4'>
        <li class = 'question'></li>
      </div>
      <div class = 'col-2 border border-dark pt-4'>
        \( ^{42} _{19} \text{K} \)
      </div>
      <div class = 'col-1 border border-dark bg-secondary pt-4'>
      </div>
      <div class = 'col-6 border border-dark pt-4'>
      </div>
    </div>

  </div>
</ol>
