<h4>
    How to calculate atomic mass
</h4>

<ol>
    <li>
        Find the mass of every isotope of an atom.
    </li>
    <li>
        Find the abundance of each isotope of an element.
        This is what fraction of all of the atoms of that element
        that are that isotope.
    </li>
    <li>
        Add up the mass of each isotope times the prevalence of that isotope.
    </li>
</ol>

<h5>
    Antimony
</h5>
<div class="container">
    <div class="row">
        <div class="col-3 border border-dark">
            Isotope
        </div>
        <div class="col-3 border border-dark">
            Abundance
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Antimony-121
        </div>
        <div class="col-3 border border-dark pt-4">
            57.21%
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Antimony-123
        </div>
        <div class="col-3 border border-dark pt-4">
            42.79%
        </div>
    </div>
</div>

<p>
    If the abundance of an isotope is listed as "trace,"
    that means it is so low that you don't need to consider it.
    If the abundance of an isotope is listed as "synthetic,"
    that means taht this isotope can only be created by humans in a lab.
    You don't consider it when calculating atomic mass.
</p>

<h5>
    Hydrogen
</h5>
<div class="container">
    <div class="row">
        <div class="col-3 border border-dark">
            Isotope
        </div>
        <div class="col-3 border border-dark">
            Abundance
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Hydrogen-1
        </div>
        <div class="col-3 border border-dark pt-4">
            99.98%
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Hydrogen-2
        </div>
        <div class="col-3 border border-dark pt-4">
            0.02%
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Hydrogen-3
        </div>
        <div class="col-3 border border-dark pt-4">
            trace
        </div>
    </div>
</div>

<h5>
    Silver
</h5>
<div class="container">
    <div class="row">
        <div class="col-3 border border-dark">
            Isotope
        </div>
        <div class="col-3 border border-dark">
            Abundance
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Silver-107
        </div>
        <div class="col-3 border border-dark pt-4">
            51.839%
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Silver-109
        </div>
        <div class="col-3 border border-dark pt-4">
            48.161%
        </div>
    </div>
</div>


<h5>
    Chlorine
</h5>
<div class="container">
    <div class="row">
        <div class="col-3 border border-dark">
            Isotope
        </div>
        <div class="col-3 border border-dark">
            Abundance
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Chlorine-35
        </div>
        <div class="col-3 border border-dark pt-4">
            76%
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Chlorine-36
        </div>
        <div class="col-3 border border-dark pt-4">
            trace
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Chlorine-37
        </div>
        <div class="col-3 border border-dark pt-4">
            24%
        </div>
    </div>
</div>


<ol class="questionList">
    <li class="question">
        Determine the atomic mass of antimony.
        Please show your calculation clearly and
        write your answer to four significant figues of accuracy.
    </li>
    <li class="question">
        Determine the atomic mass of hydrogen.
        Please show your calculation clearly and
        write your answer to four significant figues of accuracy.
    </li>
    <li class="question">
        Determine the atomic mass of silver.
        Please show your calculation clearly and
        write your answer to four significant figues of accuracy.
    </li>
    <li class="question">
        Determine the atomic mass of chlorine.
        Please show your calculation clearly and
        write your answer to four significant figues of accuracy.
    </li>
</ol>





<h4>
    Conceptual Questions
</h4>

<ol>
    <li class="question" data-answer = 'B'>
        The atomic mass of carbon 12.011.
        This is because:
        <ol type = 'A'>
            <li>
                All carbon atoms have a mass number of 12.
            </li>
            <li>
                Almost all carbon atoms have a mass number of 12.
                A few of them are 13 or 14.
            </li>
            <li>
                Almost all carbon atoms have a mass number of 12.
                A few of them are 10 or 11.
            </li>
        </ol>
    </li>
    <li class="question">
        A teacher gives his students a problem involving an atom
        of nitrogen with a mass number of 15.
        One of the students in the class raises his hand
        and tells the teacher he made a typo.
        "The periodic table says that the mass of nitrogen is 14, not 15."
        What would you tell this confused student?
    </li>
    <li class="question">
        A chemist discovers a new element.
        Assume that she has the ability to count and weigh
        individual atoms of this element.
        How would she calculate the atomic mass?
        Please check <emph>all</emph> the correct answers.
        <ol type = 'A'>
            <li>

            </li>
        </ol>
    </li>
</ol>