<div id = 'planetTable'></div>

<script>
    let planetTable = new Table(9,3);
    planetTable.addTopHeaders(['Planet','Mass (kg)','Radius (km)']);
    planetTable.writeTextInRow(1,['Mercury','3.301 × 10^23','2,440']);
    planetTable.writeTextInRow(2,['Venus','4.867 × 10^24','6,052']);
    planetTable.writeTextInRow(3,['Earth','5.972 × 10^24','6,371']);
    planetTable.writeTextInRow(4,['Mars','6.417 × 10^23','3,390']);
    planetTable.writeTextInRow(5,['Jupiter','1.898 × 10^27','69,910']);
    planetTable.writeTextInRow(6,['Saturn','5.683 × 10^26','58,230']);
    planetTable.writeTextInRow(7,['Neptune','1.024 × 10^26','24,620']);
    planetTable.writeTextInRow(8,['Uranus','8.681 × 10^25','25,360']);

    $("#planetTable").append(planetTable.draw(500));
</script>


<p class = 'directions'>
    Write every formula before plugging any values into the formula.
    Write all values plugged into the formula before evaluating them
    with a calculator.
</p>

<ol>
    <li>
        Copy, from memory, Newton's Third Law, word-for-word.
        Please copy a mathematically rigorous version of the law,
        in which each of the words in the statement are precisely defined.
    </li>
    <li>
        A person with a mass of 55 kg is standing on the surface
         of Venus.
        <ol type = 'a'>
            <li>
                Use the Law of Universal Gravitation to
                determine the force of gravity between this person and Venus.
            </li>
            <li>
                Draw a (not to scale) diagram of the person and Venus,
                in your diagram illustrate vectors
                showing the forces of gravity between this person and Venus.
            </li>
            <li>
                One of the forces you drew above is, while it exists, entirely irrelevant.
                Explain why.
            </li>
            <li>
                Explain how the diagram you drew is consistent with Newton's Third Law.
            </li>
        </ol>
    </li>
    <li>
        Explain briefly why the radius of the planets was relevant to these
        problems by referring to Newton's Law of Universal Gravitation.
    </li>
    <li>
        Person A is at sea level on planet earth,
        while person B is 100 m above sea level.
        <ol type = 'a'>
            <li>
                Who experiences a stronger gravitational pull and why?
                Refer to Newton's Law of Universal Gravitation in your answer.
            </li>
            <li>
                Is this difference very important? Explain why or why not in two ways:
                by referring to the formula and by referring to your own life experience.
            </li>
        </ol>
    </li>
</ol>