
<p class = 'directions'>
    Write every formula before plugging any values into the formula.
    Write all values plugged into the formula before evaluating them
    with a calculator.
</p>

<p>
    Note that in the table below, mass is in terms of 10^24 kg.
</p>

<div class="container">
    <div class="row">
        <div class="col-3 border border-dark p-2"><strong>Planet</strong></div>
        <div class="col-3 border border-dark p-2"><strong>Mass</strong> (10^24 kg)</div>
        <div class="col-3 border border-dark p-2"><strong>Radius</strong> (km)</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Mercury</div>
        <div class="col-3 border border-dark p-2">0.3301</div>
        <div class="col-3 border border-dark p-2">2,440</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Venus</div>
        <div class="col-3 border border-dark p-2">4.867</div>
        <div class="col-3 border border-dark p-2">6,052</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Earth</div>
        <div class="col-3 border border-dark p-2">5.972</div>
        <div class="col-3 border border-dark p-2">6,371</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Mars</div>
        <div class="col-3 border border-dark p-2">0.6417</div>
        <div class="col-3 border border-dark p-2">3,390</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Jupiter</div>
        <div class="col-3 border border-dark p-2">1898</div>
        <div class="col-3 border border-dark p-2">69,910</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Saturn</div>
        <div class="col-3 border border-dark p-2">568.3</div>
        <div class="col-3 border border-dark p-2">58,230</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Neptune</div>
        <div class="col-3 border border-dark p-2">102.4</div>
        <div class="col-3 border border-dark p-2">24,620</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Uranus</div>
        <div class="col-3 border border-dark p-2">86.81</div>
        <div class="col-3 border border-dark p-2">25,360</div>
    </div>
</div>

<ol>
    <li>
        PLease copy: "Newton's Third Law states that when A exerts a force on B,
        B exerts a force on A with equal magnitude and opposite direction.
    </li>
    <li>
        A person with a mass of 65 kg is standing on the surface of Mercury.
        <ol type = 'a'>
            <li>
                Use the Law of Universal Gravitation to
                determine the force of gravity between this person and Mercury.
            </li>
            <li>
                Draw a (not to scale) diagram of the person and Mercury,
                in your diagram illustrate vectors
                showing the forces of gravity between this person and Mercury.
            </li>
            <li>
                One of the forces you drew above is, while it exists, entirely irrelevant.
                Explain why.
            </li>
            <li>
                Explain how the diagram you drew is consistent with Newton's Third Law.
            </li>
        </ol>
    </li>
    <li>
        Explain briefly why the radius of the planets was relevant to these
        problems by referring to Newton's Law of Universal Gravitation.
    </li>
    <li>
        Person A is at sea level on planet earth,
        while person B is 100 m above sea level.
        <ol type = 'a'>
            <li>
                Who experiences a stronger gravitational pull and why?
                Refer to Newton's Law of Universal Gravitation in your answer.
            </li>
            <li>
                Is this difference very important? Explain why or why not in two ways:
                by referring to the formula and by referring to your own life experience.
            </li>
        </ol>
    </li>
</ol>