Whenever completing a non-metric unit conversion, explicitly write out conversion factors.
When writing conversion factors:
<ul>
    <li>
        Quantities should be represented as fractions.
    </li>
    <li>
        Units should be represented as words in the correct part of a fraction.
    </li>
    <li>
        Conversion factors should be written as fractions with a different unit in the numerator and denominator and value equal to one.
    </li>
    <li>
        Units that cancel should be crossed out.
    </li>
    <li>
        Equal signs must be included in appropriate places.
    </li>
    <li>
        You should explicitly write the final answer of the conversion.
    </li>
</ul>
