<p>
    For each question, state if the questioner
    is seeking qualitative or quantitative information.
</p>

<ol>
    <li>
        How many words are in <emph>War and Peace</emph>?
    </li>
    <li>
        What color does a sugar maple leaf turn in autumn?
    </li>
    <li>
        How much does an average brown bear weigh?
    </li>
    <li>
        What do bears eat?
    </li>
    <li>
        What language is <emph>War and Peace</emph> written in?
    </li>
    <li>
        How many fingers am I holding up?
    </li>
</ol>