<p class="directions">
    Determine the net torque on each rod picture.
    The large blue circle indicates the pivot point.
    Please write each answer to two significant figures of accuracy
    and include the proper direction and unit.
</p>


<ol>
    <li>
        <img src = '/asset/3a52bf/net_torque_quiz_3.png' height = '300px' width = 'auto' />
    </li>
    <div class="bigSpace"></div>
    <li>
        <img src = '/asset/3a52bf/net_torque_quiz_4.png' height = '300px' width = 'auto' />
    </li>
</ol>