<p class = 'directions'>
    Complete each of the derivations below.
    For full credit, you must show how you derived each equation,
    and you must include a free-body diagram as part of your derivation.
    At the conclusion of each problem, use dimensional analysis to argue
    your equatio is dimensionally correct.
</p>

<ol>
    <li>
        A block with a mass \( m \) is being pushed to the right
        with a force \( F_a \) at a constant velocity on a table
        with coefficient of kinetic friction \( \mu_k \).
        Determine a formula for the \( \mu_k \) in terms
        of \( m \), \( g \), and \( F_a \).
        Include a free-body diagram in your derivation, and
        prove that your formula is dimensionally correct.
    </li>
    <li>
        A block with a mass \( m \) is at rest when it is suddenly
        pushed with a force \( F_a \). The coefficient of kinetic friction
        between the block and the table is \( \mu_k \) and the coefficient
        of static friction between the block and the table is \( \mu_s \).
        Write a written algorithm to determine the acceleration of the block \( a \)
        using the variables \( m \), \( F_a \), \( \mu_k \), \( \mu_s \), and \( g \).
        Note this an an algorithm and not a formula because it must
        include an IF-ELSE statement.
        Include a free-body diagram in your derivation.
    </li>
    <li>
        A person is attempting to hold a math textbook by pressing it against
        a wall. The book has a mass \( m \).
        The coefficient of kinetic friction
        between the book and the wall is \( \mu_k \) and the coefficient
        of static friction between the book and the wall is \( \mu_s \).
        Determine a formula for the minimum force required to hold the book \( F_a \)
        in terms of \( m \), \( g \), and either \( \mu_k \) or \( \mu_s \).
        Include a free-body diagram in your derivation, and
        prove that your formula is dimensionally correct.
    </li>
</ol>
