<p>
    A battery certainly adds voltage,
    but what if I told you that a battery also adds a little resistance?
    The resistance added by a battery is called the <emph>internal resistance</emph>.
    It is a double edged sword. On the plus side, internal resistance prevents a battery
    accidentally put into a short circuit from having runaway current and massively overheating.
    On the negative side, it is a pain to deal with.
    Most of the measurements we've made have been inaccurate precisely because we have not included the internal
    resistance in our measurements. That's about to change.
</p>

<h3>
    Part 1: Measuring Internal Resistance
</h3>

<h3>
    Steps to Find Internal Resistance of a Battery
</h3>
<ol>
    <li>
        Connect a voltmeter to both ends of a battery, to find its voltage.
    </li>
    <li>
        Connect the battery to a resistor and an ammeter in series. Measure the current through the ammeter.
    </li>
    <li>
        Assume that the color bands on the resistors are accurate. (If you really don't believe them, you can use the ohmmeter on
        your multimeter.)
    </li>
    <li>
        Draw the following circuit, and do the math that we had learned previously
        to determine the magnitude of the unknown resistor.
    </li>
</ol>


<h3>
    Using Internal Resistance
</h3>

<ul>
    <li>
        see if resistance measurements are accurate
    </li>
</ul>