<p>
    Hello there everyone!
</p>

<div id = 'blockProblem'></div>
<div id = 'table'></div>

<script>
    let blockProblem = new BlockProblem();
    // blockProblem.addRamp();
    blockProblem.addBlock();
    let myForce = blockProblem.addAngledAppliedForce(undefined, undefined, undefined, 30, 'right');
    myForce.addComponents();


    let myTable = new forceTableQuantitative2D(1,4);
    $("#table").append(myTable.draw());


    $("#blockProblem").append(blockProblem.drawCanvas(800));
</script>