<p>
    In a previous pod, we looked at dragging a block
    at an angle on a frictionless surface or a surface
    with kinetic friction.
    In this pod, we will consider a surface with <strong>static friction</strong>.
    As with a box pulled horizontally under static friction,
    analyzing this situation involves a conditional:
    you first need to determine if the block moves or not,
    and other factors will change based on that result.
</p>

<p>
    However, when a box is pulled at an angle, there are three conditions:
    the box could not move, the box could move horizontally,
    or the box could be pulled upward off the ground!
    See the flowchart below:
</p>

<img src = '/podAssets/mechanics/two_dimensional_dynamics/dragging_at_angle_2_flowchart.png' height = '600px' width ='auto' />

<p class="directions">
    For full credit on each of these problems, you must clearly and carefully show your work.
    Imagine that you are not only trying to give the correct answer, but convince someone who doesn’t believe you that you have the correct answer.
    <br>
    Whenever you use a formula,
    you must write the formula before plugging values in.
    After plugging values in, write those values before completing
    any numerical operations.
    <br>
    Free-body Diagrams should be created with the following conditions:
    <ul>
        <li>
            Each force should be clearly labeled.
        </li>
        <li>
            Components should be drawn separately from the free-body diagrams.
        </li>
        <li>
            The length of each arrow should correlate roughly to the relative magnitude of each force.
        </li>
    </ul>
</p>


<ol class="questionList">
    <li class="question">
        <p>
            A box is dragged at an angle along a flat surface,
            as showing in the diagram below.
            The coefficient of static friction between the box and the floor is 0.6.
            The coefficient of kinetic friction between the box and the floor is 0.3.
        </p>
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/dragging_at_angle_2_a.png' height = '250px' width ='auto' />
        <ol class="subQuestionList" type = "a">
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the block.
                Label each force.
                Do not break any forces into components on this diagram.
            </li>
            <li class="subQuestion">
                Determine what happens to the box:
                <ol type = 'A'>
                    <li>
                        The box does not move.
                    </li>
                    <li>
                        The box begins to accelerate.
                    </li>
                    <li>
                        The box is lifted upward.
                    </li>
                </ol>
            </li>
            <li class="subQuestion">
                Explain how you determined your answer in 2 - 3 sentences.
            </li>
            <li class="subQuestion">
                If you selected A or B, determine the acceleration of the block.
            </li>
        </ol>
    </li>
    <li class="question">
        <p>
            A box is dragged at an angle along a flat surface,
            as showing in the diagram below.
            The coefficient of static friction between the box and the floor is 0.55.
            The coefficient of kinetic friction between the box and the floor is 0.4.
        </p>
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/dragging_at_angle_2_b.png' height = '250px' width ='auto' />
        <ol class="subQuestionList" type = "a">
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the block.
                Label each force.
                Do not break any forces into components on this diagram.
            </li>
            <li class="subQuestion">
                Determine what happens to the box:
                <ol type = 'A'>
                    <li>
                        The box does not move.
                    </li>
                    <li>
                        The box begins to accelerate.
                    </li>
                    <li>
                        The box is lifted upward.
                    </li>
                </ol>
            </li>
            <li class="subQuestion">
                Explain how you determined your answer in 2 - 3 sentences.
            </li>
            <li class="subQuestion">
                If you selected A or B, determine the acceleration of the block.
            </li>
        </ol>
    </li>
    <li class="question">
        <p>
            A box is dragged at an angle along a flat surface,
            as showing in the diagram below.
            The coefficient of static friction between the box and the floor is 0.5.
            The coefficient of kinetic friction between the box and the floor is 0.2.
        </p>
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/dragging_at_angle_2_c.png' height = '250px' width ='auto' />
        <ol class="subQuestionList" type = "a">
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the block.
                Label each force.
                Do not break any forces into components on this diagram.
            </li>
            <li class="subQuestion">
                Determine what happens to the box:
                <ol type = 'A'>
                    <li>
                        The box does not move.
                    </li>
                    <li>
                        The box begins to accelerate.
                    </li>
                    <li>
                        The box is lifted upward.
                    </li>
                </ol>
            </li>
            <li class="subQuestion">
                Explain how you determined your answer in 2 - 3 sentences.
            </li>
            <li class="subQuestion">
                If you selected A or B, determine the acceleration of the block.
            </li>
        </ol>
    </li>
    <li class="question">
        <p>
            A box is dragged at an angle along a flat surface,
            as showing in the diagram below.
            The coefficient of static friction between the box and the floor is 0.6.
            The coefficient of kinetic friction between the box and the floor is 0.4.
        </p>
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/dragging_at_angle_2_d.png' height = '250px' width ='auto' />
        <ol class="subQuestionList" type = "a">
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the block.
                Label each force.
                Do not break any forces into components on this diagram.
            </li>
            <li class="subQuestion">
                Determine what happens to the box:
                <ol type = 'A'>
                    <li>
                        The box does not move.
                    </li>
                    <li>
                        The box begins to accelerate.
                    </li>
                    <li>
                        The box is lifted upward.
                    </li>
                </ol>
            </li>
            <li class="subQuestion">
                Explain how you determined your answer in 2 - 3 sentences.
            </li>
            <li class="subQuestion">
                If you selected A or B, determine the acceleration of the block.
            </li>
        </ol>
    </li>
</ol>

<a href = '/extraFiles/dragging_2_answers.pdf'>ANSWERS</a>