<p>
    Hello there everyone!
</p>

<div id = 'blockProblem'></div>
<div id = 'table'></div>

<script>
    let blockProblem = new BlockProblem();
    // blockProblem.addRamp();
    blockProblem.addBlock();
    blockProblem.addNormalForce();
    blockProblem.addFriction(undefined, undefined, undefined, 'right');
    blockProblem.addHorizontalAppliedForce(undefined, undefined, undefined, 'left');
    blockProblem.addAngledAppliedForce(undefined, undefined, undefined, -10, 'right');
    blockProblem.addAngledAppliedForce(undefined, undefined, undefined, 10, 'left');


    let myTable = new forceTableQuantitative2D(1,4);
    $("#table").append(myTable.draw());


    $("#blockProblem").append(blockProblem.drawCanvas(800));
</script>