<p>
    In two previous pods,
    we looked at a block on a ramp
    with <a href = '/pod/mechanics/two_dimensional_dynamics/ramp_problems_1'>no friction</a>
    and with <a href = '/pod/mechanics/two_dimensional_dynamics/ramp_problems_2'>kinetic friction only</a>.
    In real life, if you place something on a sloped surface,
    you must consider both <emph>static friction</emph>
    and <emph>kinetic friction</emph>.
    This involves the same principles as in the pod on
    <a href = '/pod/mechanics/quantitative_dynamics/block_dragging_3'>dragging a block
    on a horizontal surface with static and kinetic friction</a>.
</p>

<img src = '/podAssets/mechanics/two_dimensional_dynamics/ramp_problems_3_a.png' height = '200px' width ='auto' />

<h3>
    Flowchart of a ramp problem:
</h3>

<img src = '/podAssets/mechanics/two_dimensional_dynamics/ramp_problems_3_flowchart.png' height = '500px' width ='auto' />

<div class="container">
    <ol class="questionList">
        <li class="question mb-5">
            <div class="row">
                <div class="col-6">
                    <img src = '/podAssets/mechanics/two_dimensional_dynamics/ramp_problems_3_b.png' height = '200px' width ='auto' />
                </div>
                <div class="col-6">
                    <ul>
                        <li>
                            An 8 kg box is on a ramp with an angle of incline of 40 degrees.
                        </li>
                        <li>
                            \( \mu_s = 0.3 \)
                        </li>
                        <li>
                            \( \mu_k = 0.2 \)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ol class="subQuestionList" type = 'a'>
                        <li class="subQuestion">
                            Determine if the box moves.
                        </li>
                        <li class="subQuestion">
                            Draw a <strong>quantitative</strong> free-body diagram
                            of the box.
                            Write the name of each force.
                        </li>
                        <li class="subQuestion">
                            Describe in about 2 sentences how you determined
                            the fictional force.
                        </li>
                        <li class="subQuestion">
                            Determine the magnitude and direction
                            of the acceleration of the block.
                        </li>
                    </ol>
                </div>
            </div>
        </li>
        <li class="question">
            <div class="row">
                <div class="col-6">
                    <img src = '/podAssets/mechanics/two_dimensional_dynamics/ramp_problems_3_c.png' height = '200px' width ='auto' />
                </div>
                <div class="col-6">
                    <ul>
                        <li>
                            A 12 kg boc is on a ramp with an angle
                            of incline of 20 degrees.
                        </li>
                        <li>
                            \( \mu_s = 0.35 \)
                        </li>
                        <li>
                            \( \mu_k = 0.2 \)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ol class="subQuestionList" type = 'a'>
                        <li class="subQuestion">
                            Determine if the box moves.
                        </li>
                        <li class="subQuestion">
                            Draw a <strong>quantitative</strong> free-body diagram
                            of the box.
                            Write the name of each force.
                        </li>
                        <li class="subQuestion">
                            Describe in about 2 sentences how you determined
                            the fictional force.
                        </li>
                        <li class="subQuestion">
                            Determine the magnitude and direction
                            of the acceleration of the block.
                        </li>
                    </ol>
                </div>
            </div>
        </li>
    </ol>
</div>

<ol class="answerList"></ol>