

<ol class="questionList">
    <li class="question">
        A block of mass \( m \) is on a frictionless ramp with angle of incline \( \theta \).
        <br>
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/ramp_problems_4.png' height = '200px' width ='auto' />
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram for the block in terms
                of \( \theta \), \( g \), and \( m \).
                Do not break any forces into components on the free-body diagram.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of net force acting on the block
                in terms of \( \theta \), \( g \), and \( m \).
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the block
                in terms of \( \theta \) and \( g \).
            </li>
            <li class="subQuestion">
                Demonstrate that if \( \theta = 0 \),
                the free-body diagram of the box is identical
                to that of a box on a flat surface.
                Show that the net force and acceleration of the block
                are zero.
            </li>
            <li class="subQuestion">
                Demonstrate that if \( \theta = 90^{\circ} \),
                the free-body diagram of the block is identical
                to that of a free-body diagram in free-fall.
                Show that the acceleration of the block is
                equal to \( g \) downward.
            </li>
        </ol>
    </li>
    <li class="question">
        A block of mass \( m \) is on a frictionless ramp with angle of incline \( \theta \).
        The surface of the ramp and the block have a coefficient of kinetic friction of \( \mu_k \).
        <br>
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/ramp_problems_4.png' height = '200px' width ='auto' />
    <li class="subQuestion">
        Draw a free-body diagram for the block in terms
        of \( \theta \), \( g \), \( m \), and \( \mu_k \).
        Do not break any forces into components on the free-body diagram.
    </li>
    <li class="subQuestion">
        Determine the magnitude and direction of net force acting on the block
        in terms of \( \theta \), \( g \), \( m \), and \( \mu_k \).
    </li>
    <li class="subQuestion">
        Determine the magnitude and direction of the acceleration of the block
        in terms of \( \theta \), \( g \), and \( \mu_k \).
    </li>
    <li class="subQuestion">
        Demonstrate that if \( \mu_k = 0 \),
        the free-body diagram, net force, and acceleration
        are identical to that for a block on a frictionless ramp
        (the previous problem).
    </li>
</ol>