
<p>
    The goal of this pod is to demonstrate that
    the conservation of energy is followed for a block on a ramp.
</p>

<ol class="questionList">
    <li class="question">
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/ramp_problems_X.png' height = '200px' width ='auto' />
        <br>
        A block of mass \( m \) located at rest at the top
        of a frictionless ramp of height \( h \) and angle of incline \( \theta \).
        <ol class="subQuestionList">
            <li class="subQuestion">
                Determine the total energy of the block-earth system
                when the block is at rest at the top of the ramp.
                Explain briefly what type or types of energy this system
                has.
            </li>
            <li class="subQuestion">
                As was done in a previous pod,
                determine the magnitude of acceleration of the block
                in terms of \( g \) and \( \theta \).
            </li>
            <li class="subQuestion">
                As the block travels all the way from the top of the ramp
                to the bottom,
                determine the total distance the block moves \( \Delta x \)
                in terms of \( h \) and \( \theta \).
            </li>
            <li class="subQuestion">
                Using one of the four kinematic equations,
                determine the speed of the block when it reaches
                the bottom of the ramp.
            </li>
            <li class="subQuestion">
                Determine the total energy of the block-earth system
                when the block reaches the bottom of the ramp.
                Explain briefly what type or types of energy this system
                has.
            </li>
            <li class="subQuestion">
                Argue that the block moving down the ramp
                follows the <strong>Law of Conservation of Energy</strong>
                because the total energy of the block-earth system
                remained constant.
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/ramp_problems_X.png' height = '200px' width ='auto' />
        <br>
        A block of mass \( m \) located at rest at the top
        of a  ramp of height \( h \) and angle of incline \( \theta \).
        Assume that the block begins moving down the ramp,
        and the coefficient of kinetic friction between the block
        and the ramp is \( \mu_k \).
        <ol class="subQuestionList">
            <li class="subQuestion">
                Determine the total energy of the block-earth system
                when the block is at rest at the top of the ramp.
                Explain briefly what type or types of energy this system
                has.
            </li>
            <li class="subQuestion">
                As was done in a previous pod,
                determine the magnitude of acceleration of the block
                in terms of \( g \), \( \theta \), and \( \mu_k \).
            </li>
            <li class="subQuestion">
                As the block travels all the way from the top of the ramp
                to the bottom,
                determine the total distance the block moves \( \Delta x \)
                in terms of \( h \) and \( \theta \).
            </li>
            <li class="subQuestion">
                Using one of the four kinematic equations,
                determine the speed of the block when it reaches
                the bottom of the ramp.
            </li>
            <li class="subQuestion">
                Determine the total energy of the block-earth system
                when the block reaches the bottom of the ramp.
                Explain briefly what type or types of energy this system
                has.
            </li>
            <li class="subQuestion">
                During this motion, friction does work on the block-earth system.
                Is this work positive or negative? Defend your answer.
            </li>
            <li class="subQuestion">
                Determine the magnitude of work done by friction
                on the block-earth system as the block moves down the ramp.
            </li>
            <li class="subQuestion">
                Unlike in the previous problem,
                the total energy of the block-earth system does not stay the same in this case.
                Argue that the <strong>Law of Conservation of Energy</strong>
                is followed because the change in energy of the system
                is equal to the total work done ont he system by friction.
                \( \Delta E = W \)
            </li>

        </ol>
    </li>
</ol>


<ol class="answerList"></ol>