
<div id = 'test'></div>



<script>
    let myDiagram = new Diagram();

    let r = 3;
    let A = new Point(r / 1.4142135623730951,-1 * r / 1.4142135623730951);
    let B = new Point(-1 * r,0);
    myDiagram.addSegment(origin, A);
    myDiagram.addSegment(origin, B);
    myDiagram.labelAngle('X',A,origin,B,'exterior','B',0.3333333);
    // make sure it always returns the angle you want

    // it cannot properly cross over the +X line


    /// TO DO
    // make sure that the label is correctly oriented
    // the last thing i need to do is make the label actually good!



    $("#test").append(myDiagram.drawCanvas());


</script>