
<div id = 'test'></div>



<script>
    let myDiagram = new Diagram();

    let A = new Point(0,-3);
    let B = new Point(3,0);
    myDiagram.addNewPoint(3,0);
    myDiagram.addSegment(origin, A);
    myDiagram.addSegment(origin, B);
    myDiagram.labelAngle('A',A,origin,B);

    /// TO DO
    // make sure that the arc always works correctly
    // make sure that the label is correctly oriented
    // fix the arc object in the program that finds the range
    // allow the user to chose to place the label on the start or the end



    $("#test").append(myDiagram.drawCanvas());


</script>