<p>
    Standing waves come in shapes called <strong>harmonics</strong>.
    This page shows thr first six harmonics,
    they are called the first harmonic, the second harmonic, the third harmonic, etc.
</p>

<div id = 'harmonicsTable1'></div>


<p>
    A harmonic is a <strong>standing wave</strong>
    because it is a wave pattern that is oscillating in place,
    not oscillating at once.
</p>

<p>
    The points at which the wave is not moving
    at all are called the <strong>nodes</strong>.
    All nodes are circled in the diagram below.
</p>
<div id = 'harmonicWithNodes'></div>

<p>
    The points at which the wave is moving
    as much as possible (through two full amplitudes)
    is called an <strong>antinode</strong>.
    All antinodes (both the top and bottom)
    are circled in the diagram below:
</p>
<div id = 'harmonicWithAntiNodes'></div>


<script>
    let harmonicsTable = new HarmonicsTable(6,[]);
    harmonicsTable.addHarmonicDiagrams('closed','closed');

    $("#harmonicsTable1").append(harmonicsTable.draw(400,800));

    let harmonicWithNodes = new Harmonic(4,'closed','closed');
    harmonicWithNodes.circleNodes();
    $("#harmonicWithNodes").append(harmonicWithNodes.drawCanvas(300));

    let harmonicWithAntiNodes = new Harmonic(4, 'closed', 'closed');
    harmonicWithAntiNodes.circleAntiNodes();
    $("#harmonicWithAntiNodes").append(harmonicWithAntiNodes.drawCanvas(300));

</script>