<p>
    In previous pods, we introduced the concept of angular momentum.
    Angular momentum is always conserved when their are no torques acting
    on some object.
    This principle can be used by athletes to control how quickly their body rotates.
    This quiz focuses on the most famous example of this technique: spinning figure skaters.
</p>


<p class = 'equation'>
    $$
    L = I \omega
    $$
</p>

<p class = 'definition'>
    The <strong>conservation of angular momentum</strong> states that,
    when no external torques are acting on some object,
    the angular momentum \( L \) of that object remains constant.
</p>

<p>
    The rotational inertia of a point mass is given by the formula
    \( I = m r^2 \).
    To find the rotational inertia of a person's arm, more complicated math is required.
    Nevertheless, the point mass formula contains the concept you need to understand:
    when mass is farther away form the axis of rotation, it contributes MORE to the rotational inertia
    than when it is close to the axis of rotation.
</p>


<ol class = 'questionList'>
    <li class = 'question' data-answer = 'B. Inverse Proportionality'>
        If no external torques act on an object,
        what is the proportionality relationship between
        rotational inertia and angular momentum?
        <ul type = 'A'>
            <li>
                direct proportionality
            </li>
            <li>
                inverse proportionality
            </li>
        </ul>
    </li>
    <li class = 'question' data-answer = 'Rotational inertia decreases, because the moment arm of the mass \( r \) is lesser.'>
        When a figure skater moves her arms inward,
        what happens to her <strong>rotational inertia</strong>?
        Explain why by referring explicitly to the formula for rotational inertia.
    </li>
    <li class = 'question' data-answer = 'Rotational inertia increases, because the moment arm of the mass \( r \) is greater.'>
        When a figure skater moves are arms outward,
        what happens to her <strong>rotational inertia</strong>?
        Explain why by referring explicitly to the formula for rotational inertia.
    </li>
    <li class = 'question' data-answer = "Angular velocity decreases, because rotational inertia and angular velocity are inversely proportional if there are no external torques.">
        If there are no external torques, and rotational inertia increases (arms raised outward),
        what happens to angular velocity? Why?
    </li>
    <li class = 'question' data-answer = "Angular velocity decreases, because rotational inertia and angular velocity are inversely proportional if there are no external torques.">
        If there are no external torques, and rotational inertia decreases (arms held inward),
        what happens to angular velocity? Why?
    </li>
    <li class = 'question' data-answer = "We should observe the skater spin faster.">
        By putting together all of the analysis above,
        when a spinning figure skater pulls her arms <strong>inward</strong>,
        what should we observe?
    </li>
    <li class = 'question' data-answer = "We should observe the skater spin slower.">
        By putting together all of the analysis above,
        when a spinning figure skater pulls her arms <strong>outward</strong>,
        what should we observe?
    </li>
</ol>

<a href = 'https://en.wikipedia.org/wiki/Biellmann_spin'>Wikipedia article on Biellmann spin.</a>


<p>
    The following two articles show a spinning figure skaters.
    At some points, a figure skater moves her arms inward
    in order to spin faster,
    than moves them outward when they want to stop spinning.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wDqyipDB-nc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eoMkWIA2jVY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<ol class = 'answerList'></ol>