<p class = 'directions'>
    Round each number below to the specified number of significant digits.
</p>
<ol>
    <li class = 'mb-4'>
        1847234
        <ol type = 'a'>
            <li class = 'mb-2 mt-2'>
                Round to 1 significant digit
            </li>
            <li class = 'mb-2'>
                Round to 2 significant digits
            </li>
            <li class = 'mb-2'>
                Round to 3 significant digits
            </li>
            <li class = 'mb-2'>
                Round to 4 significant digits
            </li>
        </ol>
    </li>
    <li class = 'mb-4'>
        0.000984431
        <ol type = 'a'>
            <li class = 'mb-2 mt-2'>
                Round to 1 significant digit
            </li>
            <li class = 'mb-2'>
                Round to 2 significant digits
            </li>
            <li class = 'mb-2'>
                Round to 3 significant digits
            </li>
            <li class = 'mb-2'>
                Round to 4 significant digits
            </li>
        </ol>
    </li>
</ol>