
<ol>
    <li>
        Write the significance of the work done on a system word for word.
    </li>
    <li>
        <p>
            An massive block is on a ramp, connected to a spring.
            The block has mass \( m \); the spring has spring constant \( k \) and equilibrium length \( x_0 \); the block
            is at a distance \( x_1 \), which is not the equilibrium length; the angle of incline of the ramp is \( \theta \).
            Define the zero point height as the ground.
        </p>
        <p>
            Somebody pulls the mass backwards to a new length \( x_2 \). After the pull, the ramp is not moving.
        </p>
        <img src = '/spring_on_ramp.jpg' height = '400px' width = 'auto'/>
        <ol type = 'a'>
            <li>
                Write an equation for the work done on the block-spring-earth system \( W \)
                in terms of all known variables.
            </li>
            <li>
                There should be several terms in the equation you wrote.
                Some of those terms should be positive and others negative.
                Identify briefly what each term means, whether that term is positive or negative and why.
            </li>
            <li>
                Work is done by external forces acting parallel to the motion of objects in the system.
                Two forces did work on this system. Identify those two forces.
            </li>
        </ol>
    </li>
    <li>
        A person of mass \( m \) is climbing a rope.
        Initially, they have a height \( y_1 \) and a speed \( v_1 \).
        They continue climbing until they have a new hieght \( y_2 \) and a speed \( v_2 \).
    </li>
    <ol type = 'a'>
        <li>
            Write an equation for the work done on the person-earth system \( W \)
            in terms of all known variables.
        </li>
        <li>
            There should be several terms in the equation you wrote.
            Some of those terms should be positive and others negative.
            Identify briefly what each term means, whether that term is positive or negative and why.
        </li>
    </ol>
</ol>

