<p>
    This page will contain a computational physics curriculum.
</p>

<h4>
    Tutorials
</h4>
<p>
    Step by step directions on how to use Ubuntu and Python.
</p>
<ul>
    <li>
        <a href = 'computation/tutorials/physicsCoding1'>Physics Coding 1</a>
    </li>
    <li>
        <a href = 'computation/tutorials/physicsCoding2'>Physics Coding 2</a>
    </li>
    <li>
        <a href = 'computation/tutorials/physicsCoding3'>Physics Coding 3</a>
    </li>
</ul>

<h4>
    Exercises
</h4>
<p>
    Short exercises to help practice what you learned in the tutorials.
</p>

<h4>
    Challenges
</h4>
<p>
    Challenges to create short Python functions that aid in understanding physics.
</p>
<ul>
    <li>
        <a href = 'computation/challenges/physicsCodingChallenges1'>Physics Coding Challenges 1</a>
    </li>
    <li>
        <a href = 'computation/challenges/physicsCodingChallenges2'>Physics Coding Challenges 2</a>
    </li>
    <li>
        <a href = 'computation/challenges/physicsCodingAssignments'>Physics Coding Assignments</a>
    </li>
</ul>


<h4>
    Projects
</h4>
<p>
    Directives to create large projects in how to solve large physics problems
</p>
<ul>
    <li>
        <a href = 'computation/projects/computationalPhysicsProject1'>Computational Physics Project</a>
    </li>
</ul>