<h3>
    Hello!
</h3>

<a href = 'extraFiles/summer_work.html'>Summer Work!</a>

<h3>
    AP Physics
</h3>

<h5>
    <a href = '/quizzes/mechanics/conservation_of_energy_quantitative'>Quizzes for 11-5-19</a>
</h5>

<ul>
    <li>
        Homework Due Thuesday 11-7 <br>
        <a href = '/contentFiles/energy_files/falling_probs_5.pdf'>Algebraic Energy Problems</a>
        Now required. Also, note that these is now a new problem on algebraically determining the energy of a horizontal-spring system.
    </li>
    <li>
        Homework Due Tuesday 11-5 <br>
        <a href = 'extraFiles/ap_homework_11_7_19.html'>Homework</a>
    </li>
    <li>
        Homework Due Friday 11-1 <br>
        <a href = 'extraFiles/ap_homework_11_1.html'>Short Video</a>
    </li>
    <li>
        Homework Due Wednesday 10-30
        <ul>
            <li>
                <a href = '/pod/mechanics/forward_and_backward_kinematics/two_direction_kinematic_equations_1'>Using Kinematic Equations for Objects that Change Direction</a>
            </li>
        </ul>
    </li>
    <li>
        Homework Due Monday 10-28: (There's alot. We are accelerating as we come into quarter 2.)
        It is <strong>NOT</strong> just what we did in class. It's much more.
        Do not just turn in the packet from class.
        <ul>
            <li>
                <a href = '/pod/mechanics/dynamics_math/vertical_friction'>Vertical Friction</a>
            </li>
            <li>
                <a href = '/pod/mechanics/identifying_forces/free_body_diagrams_3A'>Identifying Action-Reaction Pairs</a>
            </li>
            <li>
                <a href = '/pod/mechanics/forward_and_backward_kinematics/distance_displacement_position'>Distance, Displacement, and Position (Nick the Knight)</a>
            </li>
            <li>
                <a href = 'extraFiles/ap_homework_10_28_resources.html'>Resources to Help you Understand these Assignments</a>
            </li>
        </ul>
    </li>
    <li>
        <a href = '/pod/mechanics/dynamics_math/block_dragging_3'>Homework Due Tuesday 10-22-19: Static Friction Packet</a>
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_10_16_19.html'>Homework Due Tuesday 10-16-19!</a>
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_10_10_19.html'>Very Brief Homework Due Thursday 10-10-19!</a>
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_10_8_19.html'>Homework Due Tuesday 10-8-19!</a>
    </li>
    <li>
        <a href = '/unit/mechanics/dynamics_math'>Homework Due Friday 10-4-19:</a> Please complete sections A - D of the next unit (on Quantitative Dynamics) and check your answers
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_10_2_19.html'>Homework Due Monday 10-2-19!</a>
    </li>
</ul>

<br>
<a href = '/unit/mechanics/dynamics_math' class = 'importantLink'>To study for the AP Quizzes, click here!!</a>


<h3>
    Honors Physics
</h3>
<p>
    Current Unit: Qualitative and Quantitative Kinematics!
</p>

<h4>Honors Homework</h4>
<ul>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/kinematic_equations_1'>Quarter 2: Homework Assignment 1</a>
        <ul>
            <li>
                Due Wednesday 11-6 for Green
            </li>
            <li>
                Due Thursday 11-7 for Red and Blue
            </li>
            <li>
                For each problem, always write the formula before plugging numbers into it!
            </li>
        </ul>
    </li>
</ul>

<p>Maps of Content</p>
<ul>
    <li>
        <a href = 'unit/mechanics/forward_kinematics_qualitative'>Qualitative Kinematics</a>
    </li>
    <li>
        <a href = 'unit/mechanics/forward_kinematics_quantitative'>Quantitative Kinematics</a>
    </li>
</ul>


<h3>
    Physics A
</h3>
<p>
    Current Unit: Qualitative and Quantitative Kinematics!
</p>

<p>Maps of Content</p>
<ul>
    <li>
        <a href = 'unit/mechanics/forward_kinematics_qualitative'>Qualitative Kinematics</a>
    </li>
    <li>
        <a href = 'unit/mechanics/forward_kinematics_quantitative'>Quantitative Kinematics</a>
    </li>
</ul>

