<h3>
    Hello!
</h3>

<a href = 'extraFiles/summer_work.html'>Summer Work!</a>

<h3>
    AP Physics
</h3>


<a href = '/unit/mechanics/dynamics_math' class = 'importantLink'>To study for the AP Quz Thursday, click here!!</a>

<ul>
    <li>
        Homework Due Monday 10-28: (There's alot. We are accelerating as we come into quarter 2.)
        <ul>
            <li>
                <a href = '/pod/mechanics/dynamics_math/vertical_friction'>Vertical Friction</a>
            </li>
            <li>
                <a href = '/pod/mechanics/identifying_forces/free_body_diagrams_3A'>Identifying Action-Reaction Pairs</a>
            </li>
            <li>
                <a href = '/pod/mechanics/forward_and_backward_kinematics/distance_displacement_position'>Distance, Displacement, and Position (Nick the Knight)</a>
            </li>
        </ul>
    </li>
    <li>
        <a href = '/pod/mechanics/dynamics_math/block_dragging_3'>Homework Due Tuesday 10-22-19: Static Friction Packet</a>
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_10_16_19.html'>Homework Due Tuesday 10-16-19!</a>
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_10_10_19.html'>Very Brief Homework Due Thursday 10-10-19!</a>
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_10_8_19.html'>Homework Due Tuesday 10-8-19!</a>
    </li>
    <li>
        <a href = '/unit/mechanics/dynamics_math'>Homework Due Friday 10-4-19:</a> Please complete sections A - D of the next unit (on Quantitative Dynamics) and check your answers
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_10_2_19.html'>Homework Due Monday 10-2-19!</a>
    </li>
</ul>



<h3>
    Honors Physics
</h3>
<p>
    Current Unit: Basic Electric Circuits!
</p>

<ul>
    <li>
        <a href = 'extraFiles/homework_10_15_19.html'>Homework Due 10-15-19 or 10-16-19!</a>
    </li>
</ul>

<a href = '/unit/electric_circuits/dc_circuit_math_1' class = 'importantLink'>To study for the Honors Quizzes, click here!!</a>

<p>Other Important Content</p>
<ul>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_concepts_1'>Concepts and Definitions</a>
    </li>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_math_1'>Quantitative Circuit Problems</a>
    </li>
</ul>


<h3>
    Physics A
</h3>
<p>
    Current Unit: Basic Electric Circuits!
</p>

<ul>
    <li>
        <a href = 'extraFiles/homework_10_15_19.html'>Homework Due 10-15-19 or 10-16-19!</a>
    </li>
</ul>

<a href = '/unit/electric_circuits/dc_circuit_math_1' class = 'importantLink'>To study for the Physics A Quizzes, click here!!</a>

<p>Other Important Content</p>
<ul>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_concepts_1'>Concepts and Definitions</a>
    </li>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_math_1'>Quantitative Circuit Problems</a>
    </li>
</ul>

