
<h3>
    {{message}}
</h3>

<h3>
    {{message_2}}
</h3>

{{#if (isAP2021 courseLevel year)}}
    <h3>
        AP Physics
    </h3>
    <div class = 'ml-5'>
        {{>ap_home_page}}
    </div>
{{/if}}

{{#if (isAP2022 courseLevel year)}}
    <h3>
        AP Physics
    </h3>
    <div class = 'ml-5'>
        {{>new_ap_physics_home_page}}
    </div>
{{/if}}

{{#if (isHonors courseLevel)}}
    <h3>
        Honors Physics
    </h3>
    <div class = 'ml-5'>
        {{>honors_home_page}}
    </div>
{{/if}}


{{#if (isA_Level courseLevel)}}
    <h3>
        Physics A
    </h3>
    <div class = 'ml-5'>
        {{>a_level_home_page}}
    </div>{{/if}}

{{#if (isNoSection courseLevel)}}
    <div class = 'ml-5'>
        {{>unlogged_home_page}}
    </div>

{{/if}}


<!--        <div class="card">-->
<!--            <div class = 'card-header homePageCard' id = 'AP_step_up_heading'>-->
<!--                <h3 class = 'mb-0'>-->
<!--                    <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target="#collapse_AP_step_up" aria-expanded="false" aria-controls="collapse_AP_step_up">-->
<!--                        AP Physics Step Up Day Videos-->
<!--                    </button>-->
<!--                </h3>-->
<!--            </div>-->

<!--            <div id = 'collapse_AP_step_up' class = 'collapse' aria-labelledby="AP_step_up_heading" data-parent = '#homePageAccordion'>-->
<!--                <div class = 'card-body'>-->
<!--                    {{>AP_step_up_day_videos}}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="card">-->
<!--            <div class = 'card-header homePageCard' id = 'AP_summer_work_heading'>-->
<!--                <h3 class = 'mb-0'>-->
<!--                    <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target="#collapse_AP_summer_work" aria-expanded="false" aria-controls="collapse_AP_summer_work">-->
<!--                        AP Physics Summer Work-->
<!--                    </button>-->
<!--                </h3>-->
<!--            </div>-->

<!--            <div id = 'collapse_AP_summer_work' class = 'collapse' aria-labelledby="AP_summer_work_heading" data-parent = '#homePageAccordion'>-->
<!--                <div class = 'card-body'>-->
<!--                    {{>ap_physics_summer_work}}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="card">-->
<!--            <div class = 'card-header homePageCard' id = 'honors_step_up_heading'>-->
<!--                <h3 class = 'mb-0'>-->
<!--                    <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target="#collapse_honors_step_up" aria-expanded="false" aria-controls="collapse_honors_step_up">-->
<!--                        Honors Physics Step Up Day Videos-->
<!--                    </button>-->
<!--                </h3>-->
<!--            </div>-->

<!--            <div id = 'collapse_honors_step_up' class = 'collapse' aria-labelledby="honors_step_up_heading" data-parent = '#homePageAccordion'>-->
<!--                <div class = 'card-body'>-->
<!--                    {{>honors_step_up_day_videos}}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--
<div class="card">
    <div class = 'card-header homePageCard' id = 'a_level_heading'>
        <h3 class = 'mb-0'>
            <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target="#collapse_A" aria-expanded="false" aria-controls="collapse_A">
                Physics A Remote Learning Assignments
            </button>
        </h3>
    </div>

    <div id = 'collapse_A' class = 'collapse' aria-labelledby="A_heading" data-parent = '#homePageAccordion'>
        <div class = 'card-body'>
            {{>a_level_home_page}}
        </div>
    </div>
</div>
-->

<!--<video width = '400px' height = 'auto' controls>-->
<!--    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/ketchup_movie+2.mp4' type = 'video/mp4'>-->
<!--</video>-->
