<h3>
    Hello!
</h3>

<a href = 'extraFiles/summer_work.html'>Summer Work!</a>

<h3>
    AP Physics
</h3>
<a href = 'extraFiles/ap_homework_9_30_19.html'>Homework Due Monday 9-30-19!</a>
<p>
    Current Unit: Kinematics!
</p>
<a href = '/unit/mechanics/forward_kinematics_quantitative' class = 'importantLink'>To study for the AP Quizzes, click here!!</a>

<p>Other Important Content</p>
<ul>
    <li>
        <a href = '/unit/mechanics/forward_kinematics_qualitative'>Qualitative Kinematics Problems</a>
    </li>
    <li>
        <a href = '/unit/mechanics/forward_kinematics_quantitative'>Quantitative Kinematics Problems</a>
    </li>
    <li>
        <a href = # ><!--'/unit/mechanics/forward_and_backward_kinematics'-->Kinematics Problems Going Both Forward and Backwards (coming soon)</a>
    </li>
</ul>


<h3>
    Honors Physics
</h3>
<p>
    Current Unit: Basic Electric Circuits!
</p>
<a href = '/unit/electric_circuits/dc_circuit_math_1' class = 'importantLink'>To study for the Honors Quizzes, click here!!</a>

<p>Other Important Content</p>
<ul>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_concepts_1'>Concepts and Definitions</a>
    </li>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_math_1'>Quantitative Circuit Problems</a>
    </li>
</ul>


<h3>
    Physics A
</h3>
<p>
    Current Unit: Basic Electric Circuits!
</p>
<a href = '/unit/electric_circuits/dc_circuit_math_1' class = 'importantLink'>To study for the Physics A Quizzes, click here!!</a>

<p>Other Important Content</p>
<ul>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_concepts_1'>Concepts and Definitions</a>
    </li>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_math_1'>Quantitative Circuit Problems</a>
    </li>
</ul>

