<h3>
    Hello!
</h3>

<p class = 'testClass'>
    Current Unit: The Electromagnetic Spectrum !
</p>
<a href = '/unit/waves/electrmgntc_spectrm'>Electromagnetic Spectrum Unit</a>

<ul>
    <li>
        Quiz Day: Friday 3-1-19
    </li>
    <li>
        Quiz Day: Monday 3-11-19
    </li>
</ul>