
<h3>Quizzes:</h3>
All quizzes are now open an available to take.
Here is what you need to do.
<ol>
    <li>
        Log in.
        If you forgot your passcode and/or username,
        email me and I can send it to you.
    </li>
    <li>
        After you log in, on the home screen should display
        current scores. Click on each unit,
        and it will tell you what
        quizzes you have passes and not yet passed yet.
        I am always updating these scores.
    </li>
    <li>
        It still says your "current grade," which is what
        your grade would be if we were still in school.
        I am not sure how grading will work going forward!
        However, I can promise that it can only help to improve this score.
    </li>
    <li>
        PLEASE STUDY BEFORE TAKING THE QUIZ!
        (Click on the link labeled "units" to study.)
    </li>
    <li>
        When you are ready, take the quiz.
        Click on the "quiz" link, select the quiz you want.
        If you are logged it, it will immediately take you to the quiz.
        There is no password.
    </li>
    <li>
        Take this quiz on a piece of paper.
        PLEASE TAKE THE QUIZ BY YOURSELF.
        PLEASE DON'T LOOK AT ANY RESOURCES WHILE TAKING THE QUIZ.
    </li>
    <li>
        When you are done, take a picture of your piece of paper
        and email it to me. I'll score your quiz and send you back
        comments. The score will shortly thereafter show up on the
        website, and you can move to the next quiz.
    </li>
</ol>

<p>
    Note: I will probably update the website each night around midnight.
    If you are logged in at this time, you will be logged out.
</p>


{{#if (isAP courseLevel)}}
    {{>ap_home_page}}
{{/if}}

{{#if (isHonors courseLevel)}}
    {{>honors_home_page}}
{{/if}}

{{#if (isA_Level courseLevel)}}
    {{>a_level_home_page}}
{{/if}}


{{#if (isNoSection courseLevel)}}
    {{>ap_home_page}}

    <br>

    {{>honors_home_page}}

    <br>

    {{>a_level_home_page}}
{{/if}}


{{{displayJoke 'frog1'}}}

