<h3>
    Hello!
</h3>

<a href = 'extraFiles/summer_work.html'>Summer Work!</a>

<h3>
    AP Physics
</h3>

<ul>
    <li>
        <a href = 'extraFiles/ap_homework_10_10_19.html'>Very Brief Homework Due Thursday 10-10-19!</a>
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_10_8_19.html'>Homework Due Tuesday 10-8-19!</a>
    </li>
    <li>
        <a href = '/unit/mechanics/dynamics_math'>Homework Due Friday 10-4-19:</a> Please complete sections A - D of the next unit (on Quantitative Dynamics) and check your answers
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_10_2_19.html'>Homework Due Monday 10-2-19!</a>
    </li>
</ul>

<p>Content to Study</p>
<ul>
    <li>
        <a href = '/unit/mechanics/vector_force_analysis'>The Current Unit - Conceptual Force Questions and Analyzing Forces with Vectors</a>
    </li>
    <li>
        <a href = '/unit/mechanics/forward_kinematics_quantitative'>The Previous Unit (Kinematics) - Final Day for Quizzes 10-2-19.</a>
    </li>

</ul>


<h3>
    Honors Physics
</h3>
<p>
    Current Unit: Basic Electric Circuits!
</p>
<a href = '/unit/electric_circuits/dc_circuit_math_1' class = 'importantLink'>To study for the Honors Quizzes, click here!!</a>

<p>Other Important Content</p>
<ul>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_concepts_1'>Concepts and Definitions</a>
    </li>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_math_1'>Quantitative Circuit Problems</a>
    </li>
</ul>


<h3>
    Physics A
</h3>
<p>
    Current Unit: Basic Electric Circuits!
</p>
<a href = '/unit/electric_circuits/dc_circuit_math_1' class = 'importantLink'>To study for the Physics A Quizzes, click here!!</a>

<p>Other Important Content</p>
<ul>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_concepts_1'>Concepts and Definitions</a>
    </li>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_math_1'>Quantitative Circuit Problems</a>
    </li>
</ul>

