<h3>
    Hello!
</h3>

<a href = 'extraFiles/summer_work.html'>Summer Work!</a>

<h3>
    AP Physics
</h3>
<br>
<a href = 'extraFiles/ap_homework_9_4-19.pdf'>Homework For Labor Day Weekend!</a>
<p>
    Current Unit: Kinematics!
</p>

<h4>Quiz on Friday is on Quantitative Kinematics Problems:</h4>
<br>
<a href = '/unit/mechanics/forward_kinematics_quantitative'>Quantitative Kinematics Problems</a>


<ul>
    <li>
        <a href = '/unit/mechanics/forward_kinematics_qualitative'>Qualitative Kinematics Problems</a>
    </li>
    <li>
        <a href = '/unit/mechanics/forward_kinematics_quantitative'>Quantitative Kinematics Problems</a>
    </li>
    <li>
        <a href = # ><!--'/unit/mechanics/forward_and_backward_kinematics'-->Kinematics Problems Going Both Forward and Backwards (coming soon)</a>
    </li>
</ul>


<h3>
    Honors Physics
</h3>
<p>
    Current Unit: Basic Electric Circuits!
</p>
<ul>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_concepts_1'>Concepts and Definitions</a>
    </li>
    <li>
        <a href = '/unit/electric_circuits/dc_circuit_math_1'>Quantitative Circuit Problems</a>
    </li>
</ul>


<h3>
    Physics A
</h3>