<h3>
    AP Physics
</h3>

<h4>
    Homework Due Monday 1-27 (for Q3)
</h4>
<ol>
    <li>
        Giancoli Textbook: Read Chapter 5 on Circular Motion and Gravitation.
        We may have completed some of this reading before, but at least look it over
        as we will dive into these topics next week.
    </li>
    <li>
        Giancoli Textbook: Page 133, questions 28 - 30. (On the universal law of gravitation)
    </li>
    <li>
        Giancoli Textbook: Read Chapter 16 on Electrostatics and Coulomb's Law.
        Pay special attention to electric and gravitational fields, because these questions will
        be topics on quizzes next week. We will go over them as well.
        We may have completed some of this reading before, but at least look it over
        as we will dive into these topics next week.
    </li>
    <li>
        Giancoli Textbook: Page 469, questions 1 - 3. (On Coulomb's Law.
    </li>
    <li>
        Complete all the packets that have been passed out in class
        on the Law of Universal Gravitation and Coulomb's Law.
        They are listed as sections E, F, G, and X of the
        <a href = '/unit/fundamental_forces/inverse_square_laws'>inverse square law unit</a>.
    </li>
</ol>

<h4>
    AP Physics Q2 Assignments in Manila Folder
</h4>
<p>
    Please place assignments in the manila folder in order during class on 1-23.
</p>

<ol>
    <li>
        <a href = '/pod/mechanics/rotational_dynamics/rotational_inertia_formula'>Rotational Inertial Formula</a>
    </li>
    <li>
        <a href = '/pod/mechanics/rotational_dynamics/cross_product'>Cross Products (problems at the bottom)</a>
    </li>
    <li>
        <a href = '/pod/mechanics/rotational_dynamics/torque_formula'>The Torque Formula</a>
    </li>
    <li>
        <a href = '/pod/mechanics/rotational_dynamics/determine_net_torque'>Determine net torque</a>
    </li>
    <li>
        <a href = '/pod/mechanics/rotational_dynamics/torque_conceptual_examples'>Torque conceptual examples</a>
    </li>
    <li>
        <a href = '/pod/mechanics/rotational_kinematics/rotational_vs_linear_velocity'>Rotational vs. Linear velocity question</a>
    </li>
    <li>
        Finish the <a href = '/contentFiles/rotational_kinematics_practice.pdf'>page from class 1-10</a>.
    </li>
    <li>
        <a href = '/pod/mechanics/rotational_kinematics/rotational_position_displacement'>Rotational Position and Displacement</a>
    </li>
    <li>
        <a href = '/pod/mechanics/rotational_kinematics/rotational_velocity_calculations'>Rotational Velocity Calculations</a>
    </li>
    <li>
        <a href = '/pod/mechanics/rotational_kinematics/rotational_velocity_conversions'>Rotational Velocity Conversions</a> (Use conversion factors!)
    </li>
    <li>
        <a href = '/extraFiles/ap_vacation_homework.pdf'>Vacation Homework</a>
    </li>
    <li>
        <a href = '/contentFiles/dragging_at_angle_1_extra_problems.pdf'>Extra Problems on dragging at an angle with a constant velocity</a>
    </li>
    <li>
        <a href = '/unit/mechanics/two_dimensional_dynamics'>Two-Dimensional Dynamics Sections G, I, J, and K </a>
        (problems 1 -4 only of part K)
    </li>
    <li>
        <a href = '/unit/mechanics/two_dimensional_dynamics'>Two-Dimensional Dynamics Sections A - F</a>
    </li>
    <li>
        <a href = '/pod/mechanics/impulse/dynamic_graphs_2'>Dynamic Graphs 2 (F.1-F.5)</a>
    </li>
    <li>
        <a href = '/pod/mechanics/impulse/dynamic_graphs_3'>Dynamic Graphs 2 (G.1-G.3)</a>
    </li>
    <li>
        Giancoli page 193, #s 25 - 27 (perfectly elastic collisions)
    </li>
    <li>
        <a href = '/unit/mechanics/impulse'>A, C, D: complete all problems with numbers divisible by 3</a>
    </li>
    <li>
        <a href = '/pod/mechanics/impulse/impulse_formula_3'>E: Yes it's the same problem as in class. Do it again.</a>
    </li>
    <li>
        Giancoli: Read pages 170 - 172; 176 - 177.
        Page 192, Problems 15 - 17
    </li>
    <li>
        Giancoli
        Page 192 #7, 9, 11
    </li>
    <li>
        <a href = '/unit/mechanics/collisions_and_explosions'>Collision and explosion</a>
        sections A - G.
    </li>
    <li>
        <a href = '/unit/mechanics/collisions_and_explosions'>Collision and explosion</a>
        sections H - K.
        Note that these aren't the same as the quizzes!
    </li>
    <li>
        <a href = '/extraFiles/ap_homework_12_3_19.html'>Thanksgiving Book Work</a>
    </li>
    <li>
        AP Classroom quiz due 12-11: Explain two multiple choice questions
    </li>
    <li>
        AP Classroom quiz due 12-3: Explain two multiple choice questions
    </li>
    <li>
        <a href = '/extraFiles/ap_homework_11_26_19.html'>Problems on projectile motion</a>.
    </li>
    <li>
        AP Classroom quiz due 11-26: Explain two multiple choice questions
    </li>
    <li>
        <a href = '/pod/mechanics/conservation_of_energy_quantitative/vertical_spring_system'>Vertical Spring System Problem</a>
    </li>
    <li>
        <a href = '/extraFiles/ap_homework_11_18_19.html'>Book Work</a>
    </li>
    <li>
        Giancoli: Page 167 #75; Page 168 #84
    </li>
    <li>
        <a href = '/pod/mechanics/conservation_of_energy_quantitative/work_done_on_system'>Work Done on a System (Problems 1 - 5)</a>
    </li>
    <li>
        <a href = '/pod/mechanics/conservation_of_energy_quantitative/symbolic_energy'>Symbolic Energy Problems</a>
    </li>
    <li>
        <a href = 'extraFiles/ap_homework_11_1.html'>Short Light Bulb Video</a>
    </li>
</ol>


<h4>
    AP Physics Assignments in Lab Notebook: Q2:
</h4>
<p>(Including work due after Thanksgiving)</p>

<ol>
    <li>
        <a href = '/labs/balloonsAndStaticElectricityVirtualLab'>Balloons and Static Electricity Virtual Lab</a>
    </li>
    <li>
        <a href = '/labs/johnTravoltageVirtualLab'>John Travoltage Virtual Lab</a>
    </li>
    <li>
        <a href = '/labs/virtualPendulum'>Virtual Pendulum Lab</a>
    </li>
    <li>
        <a href = '/labs/quantitativePendulum'>Quantitative Pendulum Lab</a>
    </li>
    <li>
        <a href = '/labs/qualitativePendulum'>Qualitative Pendulum Lab</a>
    </li>
</ol>


<h3>
    Honors Physics
</h3>

<h4>
    Honors Assignments for Q2
</h4>
<ul>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/quantitative_kinematic_graphs_3'>Quantitative Kinematic Graphs 3</a>
    </li>
    <li>
        <a href = '/labs/qualitativePendulum'>Qualitative Pendulum Lab</a>
    </li>
    <li>
        <a href="pod/mechanics/forward_kinematics_qualitative/velocity_graph_connection">Velocity Graph Connection (Problems 1 - 2)</a>
    </li>
    <li>
        <a href="pod/mechanics/forward_kinematics_qualitative/story_to_graph_selection_A">Kinematic Graphs Story Problem 1 (Pages 1-5)</a>
    </li>
    <li>
        <a href="pod/mechanics/forward_kinematics_qualitative/story_to_graph_selection_A">Kinematic Graphs Story Problem 2 (Pages 6-11)</a>
    </li>
    <li>
        <a href="pod/mechanics/forward_kinematics_qualitative/story_to_graph_selection_A">Kinematic Graphs Story Problem 3 (Pages 12-17)</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/acceleration_formula'>The Acceleration Formula</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/quantitative_kinematic_graphs_1'>Quantitative Kinematic Graphs 1</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/quantitative_kinematic_graphs_2'>Quantitative Kinematic Graphs 2 (Pages 1 - 4)</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/kinematic_equations_1'>Kinematic Equations 1</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/kinematic_equations_2'>Kinematic Equations 2</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/kinematic_equations_3'>Kinematic Equations 3 (Problems 1 -6)</a>
    </li>
</ul>


<h4>Honors Homework</h4>
<ul>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/quantitative_kinematic_graphs_3'>HW assignment 5: Quantitative Kinematic Graphs 3</a>
        <br>
        Due Thursday 12-5 for green class,
        and Friday 12-6 for red and blue classes.
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/quantitative_kinematic_graphs_1'>Quarter 2: Homework Assignment 4</a>
        <br>
        If you haven't already completed this assignment in class,
        please do so by Monday 11-18 or Tuesday 11-19.
    </li>
</ul>

<p>Maps of Content</p>
<ul>
    <li>
        <a href = 'unit/mechanics/forward_kinematics_qualitative'>Qualitative Kinematics</a>
    </li>
    <li>
        <a href = 'unit/mechanics/forward_kinematics_quantitative'>Quantitative Kinematics</a>
    </li>
</ul>


<h3>
    Physics A
</h3>
<p>
    Current Unit: Qualitative and Quantitative Kinematics!
</p>

<h4>
    Physics A Assignments for Q2
</h4>
<ul>
    <li>
        <a href = '/labs/qualitativePendulum'>Qualitative Pendulum Lab</a>
    </li>
    <li>
        <a href="pod/mechanics/forward_kinematics_qualitative/story_to_graph_selection_A">Kinematic Graphs Story Problem 1 (Pages 1-5)</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/quantitative_kinematic_graphs_2'>Quantitative Kinematic Graphs 2 (Pages 1 - 4)</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/speed_formula'>The Speed Formula</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_qualitative/kinematic_graph_connections'>Kinematic Graph Connections (pages 8 - 11)</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/acceleration_formula'>The Acceleration Formula</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/kinematic_equations_1'>Kinematic Equations 1</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/kinematic_equations_2'>Kinematic Equations 2</a>
    </li>
    <li>
        <a href = 'pod/mechanics/forward_kinematics_quantitative/kinematic_equations_3'>Kinematic Equations 3 (Problems 1 -6)</a>
    </li>
</ul>

<p>Maps of Content</p>
<ul>
    <li>
        <a href = 'unit/mechanics/forward_kinematics_qualitative'>Qualitative Kinematics</a>
    </li>
    <li>
        <a href = 'unit/mechanics/forward_kinematics_quantitative'>Quantitative Kinematics</a>
    </li>
</ul>

<br><br><br>
<a href = '/contentFiles/electrostatics_notes.pdf'>
    Electrostatics Notes
</a>
<br><br><br>


<iframe width="560" height="315" src="https://www.youtube.com/embed/A05n32Bl0aY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
