

<!--<video width = '400px' height = 'auto' controls>-->
<!--    <source src = 'https://physicsvideos12128724.s3.us-east-2.amazonaws.com/ketchup_movie+2.mp4' type = 'video/mp4'>-->
<!--</video>-->


{{#if (isAP courseLevel)}}
    <h3>
        AP Physics
    </h3>
    <div class = 'ml-5'>
        {{>ap_home_page}}
    </div>
{{/if}}

{{#if (isHonors courseLevel)}}
    <h3>
        Honors Physics
    </h3>
    <div class = 'ml-5'>
        {{>honors_home_page}}
    </div>
{{/if}}

{{#if (isA_Level courseLevel)}}
    <h3>
        Physics A
    </h3>
    <div class = 'ml-5'>
        {{>a_level_home_page}}
    </div>{{/if}}


{{#if (isNoSection courseLevel)}}
    <h3>
        AP Physics
    </h3>
    <div class = 'ml-5'>
        {{>ap_home_page}}
    </div>

    <h3>
        Honors Physics
    </h3>
    <div class = 'ml-5'>
        {{>honors_home_page}}
    </div>

    <h3>
        Physics A
    </h3>
    <div class = 'ml-5'>
        {{>a_level_home_page}}
    </div>
{{/if}}
