<p>
    This page will contain a new joke each day.
</p>

<!--
<img src = '/getJoke/orca.jpg' height = '400px' width = 'auto' />
-->

<img src="https://jokebucket1211878183.s3.us-east-2.amazonaws.com/memed_photos/otterSlideThreeOtters.jpg" height = '400px' width = 'auto'/>