
<ul>
    <li>
        <a href = '/labs/qualitativePendulum'>Qualitative Pendulum Lab</a>
    </li>
    <li>
        <a href = '/labs/quantitativePendulum'>Quantitative Pendulum Lab</a>
    </li>
    <li>
        <a href = '/labs/virtualPendulum'>Virtual Pendulum Lab</a>
    </li>
    <li>
        <a href = '/labs/proveKineticFrictionFormula'>Proving the Kinetic Friction Formula</a>
    </li>
</ul>


<h4>
    Electrostatics
</h4>
<ul>
    <li>
        <a href = '/labs/rabbitFurAndPVC'>Rabbit Fur and PVC</a>
    </li>
    <li>
        <a href = '/labs/vanDeGraafGenerator'>Van De Graaf Generator</a>
    </li>
    <li>
        <a href = '/labs/johnTravoltageVirtualLab' >John Travoltage Virtual Lab</a>
    </li>
    <li>
        <a href = '/labs/balloonsAndStaticElectricityVirtualLab'>Balloons and Static Electricity Virtual Lab</a>
    </li>
</ul>