
<ul>
    <li>
        <a href = '/labs/qualitativePendulum'>Qualitative Pendulum Lab</a>
    </li>
    <li>
        <a href = '/labs/quantitativePendulum'>Quantitative Pendulum Lab</a>
    </li>
    <li>
        <a href = '/labs/virtualPendulum'>Virtual Pendulum Lab</a>
    </li>
</ul>