<h3>
    Login Here
</h3>


<h3>
    No Login Today, will be available December 1, 2020
</h3>

<!--<form method = 'post' action = '/login?path={{newPath}}'>&lt;!&ndash; add new path here somehow &ndash;&gt;-->
<!--    <ul>-->
<!--        <li>-->
<!--            USERNAME:-->
<!--            <br>-->
<!--            <input type = 'text' name = 'name' />-->
<!--        </li>-->
<!--        <li>-->
<!--            PASSCODE:-->
<!--            <br>-->
<!--            <input type = 'number' name = 'passcode' />-->
<!--        </li>-->
<!--        <li>-->
<!--            <input type = 'submit' value = 'LOGIN' />-->
<!--        </li>-->
<!--    </ul>-->
<!--</form>-->


