<p class = 'directions'>
    Each of the situations below shows two unitless vectors.
    Find the cross product of the vectors in the order indicated.
    For full credit, your answer must include <strong>direction</strong> of the cross product.
    Please write all magnitudes to three significant figures of accuracy.
</p>

<h5 class="text-danger">
    For full credit, you must include a brief description of your calculations in your answers.
</h5>


<h4>
    Vectors:
</h4>

<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <img src = '/podAssets/rotational_motion/rotational_dynamics/cross_product_quiz_AB.png' height = '200px' width = 'auto'/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <img src = '/podAssets/rotational_motion/rotational_dynamics/cross_product_quiz_CD.png' height = '200px' width = 'auto'/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img src = '/podAssets/rotational_motion/rotational_dynamics/cross_product_quiz_FG.png' height = '200px' width = 'auto'/>
        </div>
    </div>
</div>



<h4>
    Questions:
</h4>
<ol>
    <li class = 'mb-3'>
        \( \overrightarrow{A} \times \overrightarrow{B} = \text{?} \)
    </li>
    <li class = 'mb-3'>
        \( \overrightarrow{B} \times \overrightarrow{A} = \text{?} \)
    </li>
    <li class = 'mb-3'>
        \( \overrightarrow{C} \times \overrightarrow{D} = \text{?} \)
    </li>
    <li class = 'mb-3'>
        \( \overrightarrow{D} \times \overrightarrow{C} = \text{?} \)
    </li>
    <li>
        \( \overrightarrow{F} \times \overrightarrow{G} = \text{?} \)
    </li>
</ol>