<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-sm-9'>

            <p>
                Here you can take your quizzes!
            </p>

            {{listAllUnitsWithQuizzes gradeMap}}
        </div>
    </div>
</div>
