<p>
    Here is where you will enter the passcode to enter a quiz
</p>

<h3>
    Enter Passcode here:
</h3>

    <input id = 'passwordInput' type = 'password' class = 'quizPasscodeInput' />

    <button onclick = "clickFunction()">
        Enter Quiz
    </button>



<script>

    function clickFunction() {
        let inputtedPassword = document.getElementById('passwordInput').value;
        let link = '{{selectedPodKey}}';
        link += `?password=${inputtedPassword}`;
        window.location.href = link;
    }

</script>