<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-sm-9'>
            <p>
                This page will be used to access quizzes online.
                You will still take the quiz on paper, not on the computer,
                but by accessing them online it will be easier to customize quizzes for
                each student.
            </p>
            <p>
                At the moment, this page is under construction.
                Shortly, it will be available.
            </p>

            {{listAllUnitsWithQuizzes}}
        </div>
    </div>
</div>
