<p class ='directions'>
    Write every formula you use in its canonical form before plugging any values in.
    For full credit, you must write the formula each time you use it.
    Show the values in the formula before evaluating them with a calculator.
</p>


<ol>
    <li>
        A 4.00 kg bowling ball is located 0.800 meters
        from an 800. kg spaceship.
        Determine the magnitude of the force of gravity
        between the bowling ball and the spaceship.
    </li>
    <li>
        A 0.00300 kg caterpillar is located
        0.0200 meters from a 0.00600 kg butterfly.
        Determine the magnitude of the force of gravity
        between the caterpillar and the butterfly.
    </li>
</ol>