<p class="directions">
    Every time you use a formula, write the formula
    before putting any values in.
    Every time you put values into a formula,
    write the values before completing any operations.
    Write vector components separately from a free-body diagrams.
</p>

<h4>
    Please answer in the space below the questions!
</h4>


<ol>
    <li>
        <br>
        <img src = '/images/dragging_at_an_angle_1_quiz_a.png' height = '200px' width = 'auto' />
        <br>
        A block of mass 2 kg is moving on a surface
        with a coefficient of kinetic friction of 0.18.
        Somebody pulls the block with a force of 6 Newtons
        at an angle of 20 degrees to the horizontal.
        <ol type = 'a'>
            <li>
                Draw a qualitative free-body diagram of the block.
                Label each force. Do not break vectors into components.
            </li>
            <li>
                Break the applied force into components.
                Please write these components separately from your
                free-body diagram.
            </li>
            <li>
                Determine the magnitude of all forces
                acting on the block and create a quantitative free-body diagram.
            </li>
            <li>
                Explain briefly, in 1 -2 sentences,
                why the magnitude of the normal force is not equal to the
                magnitude of gravity.
            </li>
            <li>
                Determine the magnitude and direction
                of the acceleration on the block.
            </li>
        </ol>
    </li>
    <div class="pageBreak"></div>
    <li>
        <br>
        <img src = '/images/dragging_at_an_angle_1_quiz_b.png' height = '200px' width = 'auto' />
        <br>
        A block of mass 3 kg is moving on a surface
        with an unknown coefficient of kinetic friction.
        Somebody pulls the block with a force of 4 Newtons
        at an angle of 75 degrees to the horizontal.
        The block moves at a constant velocity.
        <ol type = 'a'>
            <li>
                Draw a qualitative free-body diagram of the block.
                Label each force. Do not break vectors into components.
            </li>
            <li>
                Break the applied force into components.
                Please write these components separately from your
                free-body diagram.
            </li>
            <li>
                Determine the magnitude of all forces
                acting on the block and create a quantitative free-body diagram.
                In 1-2 sentences, describe how you determined
                the magnitude of the frictional force.
            </li>
            <li>
                Determine coefficient of kinetic friction
                between the block and the surface.
            </li>
        </ol>
    </li>
</ol>
