<p class="directions">
    For full credit, you must write each formula that you use.
    Note that the formula for centripetal force is relevant to this problem,
    but if any force in a free-body diagram is labeled as the centripetal force,
    you will receive no credit for that problem.
</p>

<p>
    An 300. gram mass on a string spins in a vertical circle with a radius of 40.0 centimeters.
    Assume that it takes the object 0.800 seconds to complete a single rotation,
    and that it moves at a constant speed**
</p>


<img src = '/asset/204ac1/vertical_circle_quiz.png' />

<ol>
    <li>
        Draw a free-body diagram of the object at point A that includes two forces***.
        For each force, label the force and determine its magnitude.
    </li>
    <li>
        Draw a free-body diagram of the object at point B that includes two forces.
        For each force, label the force and determine its magnitude.
    <li>
        Draw a free-body diagram of the object at point C that includes two forces.
        For each force, label the force and determine its magnitude.
    <li>
        Draw a free-body diagram of the object at point D that includes two forces.
        For each force, label the force and determine its magnitude.
    </li>
    <li>
        Assume that the string is flimsy and can break easily.
        At which point would the string be most likely to break and why?
        Refer to your free-body diagrams in answering this question.
    </li>
    <li>
        Explain words how the centripetal force is relevant to this problem.
    </li>
</ol>


<p>
    ** Note that, in reality, it would be very unlikely that an object in a vertical
    circle would move at a constant speed. However thinking about it in this way
    can help to understand some of the physical principles involved
    without the problem becoming to complex.
</p>

<p>
    ***Note that more than two forces would be necessary to ensure the mass moved at a constant
    speed, but, as stated above, they are omitted to focus on the most important
    principles of the problem.
</p>

<div class="pageBreak"></div>

<p class = 'directions'>
    Solve the problems listed below while showing a significant amount of work.
    For full credit, you must write each formula you use before plugging any numbers into the formula.
    Please write answers to the correct number of significant figures.
</p>


<h5>Problem 1:</h5>
<p>
    A cannon is fired from an angle of 23.0 degrees and shoots a ball at a velocity of 12.0 m/s.
    Assume that the ball lands on the same vertical position at which it was fired,
    and that air resistance is negligible.
    Determine how far the cannon ball travels in the air before striking the ground.
</p>

<div class="bigSpace"></div>
<div class="bigSpace"></div>
<div class="bigSpace"></div>


<h5>Problem 2:</h5>
<p>
    A cannon is fired from an angle of 81.0 degrees and shoots a ball at a velocity of 44.0 m/s.
    Assume that the ball lands on the same vertical position at which it was fired,
    and that air resistance is negligible.
    Determine how far the cannon ball travels in the air before striking the ground.
</p>

<div class="pageBreak"></div>

<p>
    The goal of this quiz is to demonstrate the derivation of the kinematic equations.
    Please answer all questions on a separate sheet of paper.
</p>

<ol>
    <li class = 'physicsQuestion'>
        Write the definition of acceleration <em>in words</em>, not as an equation!
        Give a brief example to illustrate how this definition can be applied.
        Translate this definition to an equation.
        Then, derive the <em>first kinematic equation</em>.
        (Which is titled the <em>definition of acceleration</em>.)
    </li>
    <li class = 'physicsQuestion'>
        Draw a velocity-time graph for an object which begins with some initial velocity \( v_i \)
        and accelerates at a constant rate \( a \) for a period of time \( \Delta t \).
        On your graph, indicate the geometric interpretation of the variables \( v_i \), \( a \), and \( \Delta t \).
        Derive an equation for displacement \( \Delta x \) by determining the area underneath the line of your graph
        in terms of these three variables.
        (Which I call the <i>King of the Kinematic Equations</i>.
        Nobody else calls it this, but they should because it is the best kinematic equation.)
    </li>
    <li class = 'physicsQuestion'>
        Draw a velocity-time graph for an object which begins with some initial velocity \( v_i \)
        and accelerates at a constant rate to a final velocity \( v_f \) over a period of time \( \Delta t \).
        On your graph, indicate the geometric interpretations of the variables \( v_i \), \( v_f \), and \( \Delta t \).
        Note that this graph is identical to the previous one, but different variables are highlighted.
        Derive an equation for displacement \( \Delta x \) by determining the area underneath the line of your graph
        in terms of these three variables.
        (This is called the <i>average-velocity formula</i>.)
    </li>
    <li class = 'physicsQuestion'>
        By using the three equations you have already derived, algebraically derive a new equation that does not
        include the variable \( \Delta t \). Put this equation into its canonical form (the way it is typically written).
        (This is called the <i>no-time equation</i>, and I don't think I'm the only one who calls it that.
        But if you are with other people, it might be good to call it
        "the kinematic equation that doesn't include time," just to be safe.)
    </li>
    <li class = 'physicsQuestion'>
        Prove that each of the kinematic equations is dimensionally correct by showing that all the terms of each
        equation has the same SI unit.
    </li>
    <li class = 'physicsQuestion'>
        In the specific case that velocity is constant, the only relevant equation is
        $$
        v = \frac{\Delta x}{\Delta t}.
        $$
        Show that in this specific case, in which acceleration is zero and final and initial velocity are identical,
        all of the kinematic equations can be simplified to either the equation above or a redundant equation.
        (Examples of a redundant equation are \( 0 = 0 \) or \( \Delta t = \Delta t \).
    </li>
</ol>

<div class="pageBreak"></div>

<p class="directions">
    Determine the net torque on each rod picture.
    Please write each answer to two significant figures of accuracy
    and include the proper direction and unit.
</p>


<ol>
    <li>
        <img src = '/asset/3a52bf/net_torque_quiz_1.png' height = '300px' width = 'auto' />
    </li>
    <div class="bigSpace"></div>
    <li>
        <img src = '/asset/3a52bf/net_torque_quiz_2.png' height = '300px' width = 'auto' />
    </li>
</ol>

<div class="pageBreak"></div>


<p>
    A giant robot is spinning extremely fast.
    As it spins, its arms: which are gigantic, heavy, robot arms,
    hang by its side.
    At some point while spinning, the robot lifts its arms and holds them outwards,
    causing its motion to change in some way.
    Answer the questions below regarding the robot motion.
</p>

<img src = '/images/robot_1.png' width = '300px' height = 'auto' />
<br>
<div class="mediumSpace"></div>
<br>
<img src = '/images/robot_2.png' width = '300px' height = 'auto' />

<ol>
    <li>
        Write the equation for rotational inertia of a point mass.
        Identify each quantity in this equation.
    </li>
    <li>
        Write the equation for angular momentum?
        Identify each quantity in this equation.
    </li>
    <li>
        Under what conditions is angular motion conserved?
    </li>
    <li>
        What result will you observe when the robot brings its arms outwards?
    </li>
    <li>
        Assuming that angular momentum is conserved in this situation,
        relate the physical observation in #4 to the formulas that you wrote in #1 and #2.
    </li>
    <li>
        A different robot repeats this motion.
        However, the new robot, instead of having heavy arms, has extremely light
        and flimsy arms but a heavy body.
        Will this robot achieve the same effect as the first?
        Explain by relating the situation to relevant equations.
    </li>
</ol>

<div class="pageBreak"></div>

<p>
    A person is riding in a graviron moving with angular velocity \( \omega \).
    For the person to stick to the wall, the gravitron must spin very fast.
    Determine a formula for \( \omega_{\text{min}} \), the minimum angular velocity
    for somebody to stick to the wall,
    in terms of the coefficient of static friction between a person's clothing the the wall \( \mu_s \),
    the radius of the gravitron \( r \), and the free-fall acceleration \( g \).
</p>

<p>
    In your derivation, you should:
</p>
<ul>
    <li>
        Draw a free-body diagram of the person.
    </li>
    <li>
        Identify the centripetal force, and explain why that is the centripetal force.
    </li>
    <li>
        Write a condition necessary for the person to not fall down, and explain in words
        how this is related to the velocity of the gravitron.
    </li>
    <li>
        Use multiple equations. Identify each equation you use and explain why you are using that equation.
    </li>
</ul>

<p>
    Notice that the person's mass was not a part of the formula derived above.
    In a couple brief sentences, explain why.
    Then, explain why this fact might be important to the amusement park operating a gravitron.
</p>

<p>
    Determine a new equation for the minimum period of rotation of the gravitron \( T_{\text{min}} \)
    in terms of \( \mu_s \), \( r \), and \( g \).
</p>

<div class="pageBreak"></div>



<p class="directions">
    The following stories consider a road
    that travels east-west with a traffic light in
    the middle.
    The origin is defined as the traffic light,
    and the positive direction is defined to be east.
</p>
<p>
    You only need to select a letter for each box, you do not need to draw a graph.
</p>

<ol class = 'questionList'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-3 border border-dark'>
                <strong>Story</strong>
            </div>
            <div class = 'col-3 border border-dark'>
                <strong>Position-Time Graph</strong>
            </div>
            <div class = 'col-3 border border-dark'>
                <strong>Velocity-Time Graph</strong>
            </div>

            <div class = 'col-3 border border-dark'>
                <strong>Acceleration-Time Graph</strong>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col-3 border border-dark pt-3'>
                <li class = 'question'>
                    A car approaches the traffic light from the <em>west, traveling east</em>.
                    The light is red, so the car slows down, stops,
                    and waits at the light.
                    When the light turns green, the car accelerates again.
                </li>
            </div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
        </div>
        <div class = 'row'>
            <div class = 'col-3 border border-dark pt-3'>
                <li class = 'question'>
                    A car approaches the traffic light from the <em>east, traveling west</em>.
                    The light is red, so the car slows down, stops,
                    and waits at the light.
                    When the light turns green, the car accelerates again.
                </li>
            </div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
        </div>
        <div class = 'row'>
            <div class = 'col-3 border border-dark pt-3'>
                <li class = 'question' data-answer = 'A, F, B'>
                    A car approaches the traffic light from the <em>west, traveling east</em>.
                    The light is yellow, so the car speeds up to pass the light.
                    After passing the light, the car slows to its initial velocity.
                </li>
            </div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
        </div>
        <div class = 'row'>
            <div class = 'col-3 border border-dark pt-3'>
                <li class = 'question' data-answer = 'B, B, D'>
                    A car approaches the traffic light from the <em>east, traveling west</em>.
                    The light is yellow, so the car speeds up to pass the light.
                    After passing the light, the car slows to its initial velocity.
                </li>
            </div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
        </div>
        <div class = 'row'>
            <div class = 'col-3 border border-dark pt-3'>
                <li class = 'question'>
                    A car approaches the traffic light from the <em>west, traveling east</em>.
                    The light is green,
                    so the car passes through the light without
                    changing speed.
                </li>
            </div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
        </div>
        <div class = 'row'>
            <div class = 'col-3 border border-dark pt-3'>
                <li class = 'question'>
                    A car approaches the traffic light from the <em>east, traveling west</em>.
                    The light is green,
                    so the car passes through the light without
                    changing speed.
                </li>
            </div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
            <div class = 'col-3 border border-dark'></div>
        </div>
    </div>
</ol>

<div class = 'pageBreak'></div>
<h4>
    Position-Time Graphs
</h4>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'position-1-A'>
            <strong>A:</strong><br>
        </div>
        <div class = 'col-6 border border-dark' id = 'position-1-B'>
            <strong>B:</strong><br>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'position-1-C'>
            <strong>C:</strong><br>
        </div>
        <div class = 'col-6 border border-dark' id = 'position-1-D'>
            <strong>D:</strong><br>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'position-1-E'>
            <strong>E:</strong><br>
        </div>
        <div class = 'col-6 border border-dark' id = 'position-1-F'>
            <strong>F:</strong><br>
        </div>
    </div>
</div>

<div class = 'pageBreak'></div>
<h4>
    Velocity-Time Graphs
</h4>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'velocity-1-A'>
            <strong>A:</strong><br>
        </div>
        <div class = 'col-6 border border-dark' id = 'velocity-1-B'>
            <strong>B:</strong><br>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'velocity-1-C'>
            <strong>C:</strong><br>
        </div>
        <div class = 'col-6 border border-dark' id = 'velocity-1-D'>
            <strong>D:</strong><br>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'velocity-1-E'>
            <strong>E:</strong><br>
        </div>
        <div class = 'col-6 border border-dark' id = 'velocity-1-F'>
            <strong>F:</strong><br>
        </div>
    </div>
</div>

<div class = 'pageBreak'></div>
<h4>
    Acceleration-Time Graphs
</h4>
<p>
    One of the acceleration-time graphs is used twice
</p>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'acceleration-1-A'>
            <strong>A:</strong><br>
        </div>
        <div class = 'col-6 border border-dark' id = 'acceleration-1-B'>
            <strong>B:</strong><br>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'acceleration-1-C'>
            <strong>C:</strong><br>
        </div>
        <div class = 'col-6 border border-dark' id = 'acceleration-1-D'>
            <strong>D:</strong><br>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'acceleration-1-E'>
            <strong>E:</strong><br>
        </div>
        <div class = 'col-6 border border-dark bg-secondary' id = 'acceleration-1-F'>
        </div>
    </div>
</div>

<script>
    let function11 = new KinematicStepwiseFunctions(-24,4,0);
    function11.addConstantVelocityStep(4);
    function11.addAcceleratedStep(-1,4);
    function11.addStationaryStep(4);
    function11.addAcceleratedStep(1,4);
    function11.addConstantVelocityStep(4);
    let graph11 = function11.makeQualitativeGraphs("");
    $("#position-1-B").append(graph11.positionGraph.drawCanvas(150));
    $("#velocity-1-B").append(graph11.velocityGraph.drawCanvas(150));
    $("#acceleration-1-E").append(graph11.accelerationGraph.drawCanvas(150));

    let function12 = new KinematicStepwiseFunctions(24,-4,0);
    function12.addConstantVelocityStep(4);
    function12.addAcceleratedStep(1,4);
    function12.addStationaryStep(4);
    function12.addAcceleratedStep(-1,4);
    function12.addConstantVelocityStep(4);
    let graph12 = function12.makeQualitativeGraphs("");
    $("#position-1-C").append(graph12.positionGraph.drawCanvas(150));
    $("#velocity-1-A").append(graph12.velocityGraph.drawCanvas(150));
    $("#acceleration-1-B").append(graph12.accelerationGraph.drawCanvas(150));

    let function13 = new KinematicStepwiseFunctions(-21,2,0);
    function13.addConstantVelocityStep(3);
    function13.addAcceleratedStep(2,3);
    function13.addAcceleratedStep(-2,3);
    function13.addConstantVelocityStep(3);
    let graph13 = function13.makeQualitativeGraphs("");
    $("#position-1-F").append(graph13.positionGraph.drawCanvas(150));
    $("#velocity-1-E").append(graph13.velocityGraph.drawCanvas(150));
    $("#acceleration-1-C").append(graph13.accelerationGraph.drawCanvas(150));

    let function14 = new KinematicStepwiseFunctions(21,-2,0);
    function14.addConstantVelocityStep(3);
    function14.addAcceleratedStep(-2,3);
    function14.addAcceleratedStep(2,3);
    function14.addConstantVelocityStep(3);
    let graph14 = function14.makeQualitativeGraphs("");
    $("#position-1-E").append(graph14.positionGraph.drawCanvas(150));
    $("#velocity-1-D").append(graph14.velocityGraph.drawCanvas(150));
    $("#acceleration-1-A").append(graph14.accelerationGraph.drawCanvas(150));

    let function15 = new KinematicStepwiseFunctions(-20,4,0);
    function15.addConstantVelocityStep(10);
    let graph15 = function15.makeQualitativeGraphs("");
    $("#position-1-A").append(graph15.positionGraph.drawCanvas(150));
    $("#velocity-1-C").append(graph15.velocityGraph.drawCanvas(150));
    $("#acceleration-1-D").append(graph15.accelerationGraph.drawCanvas(150));

    let function16 = new KinematicStepwiseFunctions(20,-4,0);
    function16.addConstantVelocityStep(10);
    let graph16 = function16.makeQualitativeGraphs("");
    $("#position-1-D").append(graph16.positionGraph.drawCanvas(150));
    $("#velocity-1-F").append(graph16.velocityGraph.drawCanvas(150));
    //  $("#acceleration-1-D").append(graph16.accelerationGraph.drawCanvas(150)); used twice

</script>
