
<p class = 'directions'>
    For each situation involved,
    draw an energy transfer diagram with at least the number of steps indicated.
    You may include more steps if you like,
    but if you have an incorrect step, you will be penalized.
</p>

<ol>
    <li>
        Somebody eats an apple and then goes running.
        Begin with the apple and end with the person running.
        (2 steps)
    </li>
    <li>
        A piece of wood catches on fire.
        Begin with the wood and end with <emph>two</emph>
        forms of energy represented by the fire.
        (2 steps)
    </li>
    <li>
        <p>
            A pitching machine operated by an electric motor throws a ball directly
            upward into the air.
            Begin with electric current and end with the ball high up in the air.
        </p>
        <p>
            Make sure you accurately describe how a pitching machine throws the ball.
            The machine works because a ball is pushed by a very fast spinning wheel.
            See the photo below, though unlike in the photo, in this problem
            the machine is pointed directly upward.
        </p>
        <img src = 'https://upload.wikimedia.org/wikipedia/commons/2/24/Pitching_machine.jpg' height = '300px' width = 'auto'/>
        <p class = 'imageCredit'>
            https://upload.wikimedia.org/wikipedia/commons/2/24/Pitching_machine.jpg
        </p>
        (4 steps)
    </li>
</ol>

<div class="pageBreak"></div>

<p class = 'directions'>
    For each situation, draw an energy transfer diagram.
    Your energy transfer diagram should include a type of energy,
    and should indicate what object or situation 'holds' that energy.
    Your energy transfer diagram should begin with <strong>sunlight</strong>
    and end at the point indicated.
    Fore full credit, you must indicate between types of kinetic energy.
</p>

<ol>
    <li>
        Somebody eats a bowl of rice,
        then fires a bow and arrow directly upwards into the air.
        Begin with sunlight and end with the arrow
        at the top of its arc.
        (minimum 5 steps)
    </li>
</ol>
