<h1>
AP Physics
</h1>

<h2>
    11-1-24
</h2>

<h2>
    Open Response
</h2>

<h2>
    Name _____________________
</h2>

<div class="pageBreak"></div>


<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<ol>
    <li>
        A block with a mass of 12.0 kg is dragged on a flat surface with a force of 14.0 N,
        represented by <i>F</i> in the diagram below.
        The coefficient of kinetic friction between the block and the ground
        is given by \( \mu_k \) and is unknown.
        The block is moving at a <strong>constant velocity</strong>.
        <ol type = 'a'>
            <li>
                Determine the net force acting on the block.
                Defend your answer by referring explicitly to a law of physics.
            </li>
            <div class = 'bigSpace'></div>
            <li>
                Draw a free-body diagram for the block.
                Please name each force,
                and determine the correct magnitude of each force.
                <br>
                <div class = 'mediumSpace'></div>
                <img src = '/contentFiles/dynamicsQuizImages/basic_dragging_block.png' width = '300px' height = 'auto'>
                <div class = 'mediumSpace'></div>
            </li>
            <li>
                With an equation or in words, defend your choice for the value of the normal force.
            </li>
            <li>
                Using the information above, determine the coefficient of kinetic
                friction \( \mu_k \).
            </li>
        </ol>
    </li>
    <div class = 'pageBreak'></div>
    <li>
        A block with a mass of 4.50 kg is dragged on a flat surface with a force of 16.0 N,
        represented by <emph>F</emph> in the diagram below.
        The coefficient of kinetic friction between the block and the ground is 0.170.
        The block is <emph>NOT</emph> being dragged at a constant velocity to the right. It is accelerating.
        <ol type = 'a'>

            <li>
                Draw a free-body diagram on the picture below.
                Four forces act on the block.
                Please name each force and determine the correct magnitude and direction of each force.
                <br>
                <div class = 'mediumSpace'></div>
                <img src = '/contentFiles/dynamicsQuizImages/basic_dragging_block.png' width = '300px' height = 'auto'>
                <div class = 'mediumSpace'></div>
            </li>
            <li>
                Determine the magnitude <strong>and direction</strong> of the net force acting on the block.
                <div class = 'bigSpace'></div>
            </li>
            <li>
                Determine the magnitude <strong>and direction</strong> of the acceleration of the block.
            </li>
        </ol>
    </li>
    <li>
        (I took out #3. It was redundant.)
    </li>
    <!--    <div class = 'pageBreak'></div>-->
    <!--    <li>-->
    <!--        A block with a mass of 8.00 kg is dragged on a flat surface with a force of 9.00 N,-->
    <!--        represented by <i>F</i> in the diagram below.-->
    <!--        The coefficient of kinetic friction between the block and the ground-->
    <!--        is given by \( \mu_k \) and is unknown.-->
    <!--        The block is moving at a <strong>constant velocity</strong>.-->
    <!--        <ol type = 'a'>-->
    <!--            <li>-->
    <!--                Determine the net force acting on the block,-->
    <!--                and explain how you found your answer.-->
    <!--            </li>-->
    <!--            <div class = 'bigSpace'></div>-->
    <!--            <li>-->
    <!--                Draw a free-body diagram for the block.-->
    <!--                Please name each force,-->
    <!--                and determine the correct magnitude of each force.-->
    <!--                <br>-->
    <!--                <div class = 'mediumSpace'></div>-->
    <!--                <img src = '/contentFiles/dynamicsQuizImages/basic_dragging_block.png' width = '300px' height = 'auto'>-->
    <!--                <div class = 'mediumSpace'></div>-->
    <!--            </li>-->
    <!--            <li>-->
    <!--                Using the information above, determine the coefficient of kinetic-->
    <!--                friction \( \mu_k \).-->
    <!--            </li>-->
    <!--        </ol>-->
    <!--    </li>-->
    <!--    <div class = 'bigSpace'></div>-->
</ol>

<div class="pageBreak"></div>

<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<ol>
    <li>
        A block as a mass of 8.80 kg and is not moving.
        Somebody begins pulling the block with a force of 54.0 N to the right.
        The coefficient of <emph>kinetic</emph> friction between the block and the surface is 0.480.
        The coefficient of <emph>static</emph> friction between the block and the surface is 0.670.
        <ol type = 'a'>
            <li>
                Draw a <strong>qual</strong>itative free-body diagram of this situation.
                Identify the frictional force merely as friction, neither static nor kinetic.
            </li>
            <div class = 'bigSpace'></div>
            <li>
                Determine if the block moves. Explain how you determined this in 1 - 2 sentences.
            </li>
            <div class = 'mediumSpace'></div>
            <li>
                Complete the <strong>quant</strong>itative free-body diagram of this situation.
                Explain how you determined the magnitude of friction in 1 - 2 sentences.
            </li>
            <div class = 'bigSpace'></div>
            <li>
                Determine the magnitude of acceleration of the block. If you use a formula to do so,
                make sure you write it down.
            </li>
        </ol>
    </li>
    <div class = 'pageBreak'></div>
    <div class = 'bigSpace no-print'></div>
    <div class = 'bigSpace no-print'></div>
    <li>
        A block as a mass of 6.50 kg and is not moving.
        Somebody begins pulling the block with a force of 44.0 N to the right.
        The coefficient of <emph>kinetic</emph> friction between the block and the surface is 0.470.
        The coefficient of <emph>static</emph> friction between the block and the surface is 0.660.
        <ol type = 'a'>
            <li>
                Draw a <strong>qual</strong>itative free-body diagram of this situation.
                Identify the frictional force merely as friction, neither static nor kinetic.
            </li>
            <div class = 'bigSpace'></div>
            <li>
                Determine if the block moves. Explain how you determined this in 1 - 2 sentences.
            </li>
            <div class = 'mediumSpace'></div>
            <li>
                Complete the <strong>quant</strong>itative free-body diagram of this situation.
                Explain how you determined the magnitude of friction in 1 - 2 sentences.
            </li>
            <div class = 'bigSpace'></div>
            <li>
                Determine the magnitude of acceleration of the block. If you use a formula to do so,
                make sure you write it down.
            </li>
        </ol>
    </li>
    <div class = 'bigSpace'></div>
</ol>



<div class="pageBreak"></div>
<p>
    A student is given en the following problem on a quiz:
</p>
<p>
    "A batter hits a baseball and it begins flying directly upwards (a pop-up).
    Ignoring air resistance, draw a free-body diagram of the ball after it is no
    longer touching the bat and is traveling upwards."
</p>
<p>
    The student says to himself:
</p>
<p>
    "There must be two forces on the ball,
    gravity is acting downward, and for the ball to travel upwards,
    there must be an upward net force on the baseball,
    so there must be another force acting upward on the ball
    that is stringer than gravity.
    I'm not sure what to call this force, so I will call it 'applied force'
    because the batter applied it"
</p>
<p>
    Here is what the student writes:
</p>

<img src = '/asset/e492fc/quiz_fbd.png' width = '200px' height = 'auto'/>

<p>
    Unfortunately, the teacher marks the student's answer <strong>incorrect</strong>.
</p>

<ol>
    <li>
        Determine one element of the student's reasoning that was correct.
    </li>
    <li>
        Determine two elements of the student's reasoning that was incorrect.
    </li>
    <li>
        Assume a baseball did have the two forces the student identified acting on it
        while moving upward.
        Describe what the motion of the baseball would be.
    </li>
    <li>
        Draw the free-body diagram that would have been the correct answer.
    </li>
</ol>

<div class="pageBreak"></div>

<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<h5>Newton's First Law</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force = 0 and object is not moving
        </td>
        <td>
            Object remains still
        </td>
    </tr>
    <tr>
        <td>
            Net Force = 0 and the object is moving
        </td>
        <td>
            Object moves with a constant velocity
        </td>
    </tr>
</table>
<br>
<h5>Newton's Second Law</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force is in the same direction as velocity
        </td>
        <td>
            Object increases in speed.
        </td>
    </tr>
    <tr>
        <td>
            Net force is in the direction opposite velocity
        </td>
        <td>
            Object decreases in speed.
        </td>
    </tr>
</table>

<ol>
    <li>
        A person with a mass of 68.0 kg is riding downward in an elevator to the basement floor at a speed of 1.20 m/s.
        Upon nearing the basement, the elevator begins to slow down and stops in a time of 3.00 seconds.
        Assume that, during this period, the elevator moves with a constant acceleration.
        <ol type = 'a'>
            <li>
                Determine the magnitude and direction of the acceleration of the elevator.
                Represent your answer as an arrow.
            </li>
            <li>
                Determine the magnitude and direction of the net force acting on the person.
                Represent your answer as an arrow.
            </li>
            <li>
                Referring to <strong>explicitly</strong> one of Newton's Laws
                listed in the table above and the direction of velocity of the elevator,
                defend your answer for the <strong>direction</strong>
                of the net force.
            </li>
            <li>
                There are two forces acting on the person.
                Draw a free-body diagram for him.
                Determine the magnitude of each of two forces.
                Explain, in one sentence, how your determined each magnitude.
            </li>
            <li>
                By referring to your free-body diagram,
                explain what this person will <emph>feel</emph>
                as the elevator slows to a stop in the basement.
            </li>
        </ol>
    </li>
    <div class = 'pageBreak'></div>
    <h5>Newton's First Law</h5>
    <table>
        <tr>
            <th>
                Net Force
            </th>
            <th>
                Motion of Object
            </th>
        </tr>
        <tr>
            <td>
                Net Force = 0 and object is not moving
            </td>
            <td>
                Object remains still
            </td>
        </tr>
        <tr>
            <td>
                Net Force = 0 and the object is moving
            </td>
            <td>
                Object moves with a constant velocity
            </td>
        </tr>
    </table>
    <br>
    <h5>Newton's Second Law</h5>
    <table>
        <tr>
            <th>
                Net Force
            </th>
            <th>
                Motion of Object
            </th>
        </tr>
        <tr>
            <td>
                Net Force is in the same direction as velocity
            </td>
            <td>
                Object increases in speed.
            </td>
        </tr>
        <tr>
            <td>
                Net force is in the direction opposite velocity
            </td>
            <td>
                Object decreases in speed.
            </td>
        </tr>
    </table>
    <li>
        A person with a mass of 75.0 kg is riding upward in an elevator to the 100th floor at a speed of 3.30 m/s.
        Upon nearing the 100th floor, the elevator begins to slow down and stops in a time of 3.00 seconds.
        Assume that, during this period, the elevator moves with a constant acceleration.
        <ol type = 'a'>
            <li>
                Determine the magnitude and direction of the acceleration of the elevator.
                Represent your answer as an arrow.
            </li>
            <li>
                Determine the magnitude and direction of the net force acting on the person.
                Represent your answer as an arrow.
            </li>
            <li>
                Referring to <strong>explicitly</strong> one of Newton's Laws
                listed in the table above and the direction of velocity of the elevator,
                defend your answer for the <strong>direction</strong>
                of the net force.
            </li>
            <li>
                There are two forces acting on the person.
                Draw a free-body diagram for him.
                Determine the magnitude of each of two forces.
                Explain, in one sentence, how your determined each magnitude.
            </li>
            <li>
                By referring to your free-body diagram,
                explain what this person will <emph>feel</emph>
                as the elevator slows to a stop in the basement.
            </li>
        </ol>
    </li>
</ol>


<div class="pageBreak"></div>


<p class = 'directions'>
    A person pushes a box to the LEFT on a surface that includes friction.
    The box is moving at a <emph>constant velocity</emph>,
    and thus a net force of zero acts on on both the box and the person.
    Draw free-body diagrams of the person, the earth, the box, and the floor.
    For full credit, you <strong>must</strong> distinguish between static and kinetic friction
    and write the full name of each force.
</p>

<p class="directions">
    Your score on this quiz will be based primarily on how well you answer the final question.
    The questions before are worth less, but you must answer them correctly
    in order to set up the final question.
    <strong>DO NOT</strong> change the order of forces that are indicated in the tables provided,
    you need to use the letters provided in the spaces they are provided to earn a perfect score.
    (If people changed the order of forces, grading this quiz would become impractical.)
</p>

<ol>
    <div class = 'container'>
        <div class = 'row mb-5'>
            <div class = 'col-md-4'>
                <li>
                    Draw free-body diagrams of the box.
                </li>
                <br><br><br><br>
            </div>
            <div class = 'col-md-4'>
                <li>
                    For each force, identify the type of force, direction, agent, and object.
                    Do not change the order of forces indicated below.
                    For all frictional forces, identify them as kinetic or static friction.
                </li>
                <table>
                    <tr>
                        <th>
                            ---------
                        </th>
                        <th>
                            Force---------
                        </th>
                        <th>
                            Direction---------
                        </th>
                        <th>
                            Agent---------
                        </th>
                        <th>
                            Object---------
                        </th>
                    </tr>
                    <tr>
                        <td>A<br><br><br></td><td></td><td>down (inward)</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>B<br><br><br></td><td></td><td>up (outward)</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>C<br><br><br></td><td></td><td>left</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>D<br><br><br></td><td></td><td>right</td><td></td><td></td>
                    </tr>
                </table>
            </div>
            <div class = 'col-md-4'>
                <li>
                    Identify each balanced force pair acting on the box.
                    A balance force pair are forces with equal magnitude and opposite
                    direction that act on the <emph>same object</emph> and are not
                    an action-reaction pair.
                </li>
            </div>
        </div>
        <div class = 'row mb-5 mt-5'>
            <div class = 'col-md-4'>
                <li>
                    Draw free-body diagrams of the person.
                </li>
                <br><br><br><br>

            </div>
            <div class = 'col-md-4'>
                <li>
                    For each force in your free-body diagram, identify the type of force, direction, agent, and object.
                    Do not change the order of forces indicated.
                    For all frictional forces, identify them as kinetic or static friction.
                </li>
                <table>
                    <tr>
                        <th>
                            ---------
                        </th>
                        <th>
                            Force---------
                        </th>
                        <th>
                            Direction---------
                        </th>
                        <th>
                            Agent---------
                        </th>
                        <th>
                            Object---------
                        </th>
                    </tr>
                    <tr>
                        <td>E<br><br><br></td><td></td><td>down (inward)</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>F<br><br><br></td><td></td><td>up (outward)</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>G<br><br><br></td><td></td><td>right</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>H<br><br><br></td><td></td><td>left</td><td></td><td></td>
                    </tr>
                </table>
            </div>
            <div class = 'col-md-4'>
                <li>
                    Identify each balanced force pair acting on the person.
                    A balance force pair are forces with equal magnitude and opposite
                    direction that act ont he <emph>same object</emph> and are not
                    an action-reaction pair.
                </li>
            </div>
        </div>
        <div class="pageBreak"></div>
        <div class = 'row mt-5 mb-5'>
            <div class = 'col-md-5'>
                <li>
                    Draw free-body diagrams of the floor.
                    Many forces act on the floor, but consider only those directly
                    relevant to this situation.
                </li>
                <br><br><br><br>
            </div>
            <div class = 'col-md-2'>

            </div>
            <div class = 'col-md-5'>
                <li>
                    For each force in your free-body diagram, identify the type of force, direction, agent, and object.
                    Do not change the order of forces indicated
                </li>
                <table>
                    <tr>
                        <th>
                            ---------
                        </th>
                        <th>
                            Force---------
                        </th>
                        <th>
                            Direction---------
                        </th>
                        <th>
                            Agent---------
                        </th>
                        <th>
                            Object---------
                        </th>
                    </tr>
                    <tr>
                        <td>I<br><br><br></td><td></td><td>down (inward)</td><td>person</td><td></td>
                    </tr>
                    <tr>
                        <td>J<br><br><br></td><td></td><td>down (inward)</td><td>box</td><td></td>
                    </tr>
                    <tr>
                        <td>K<br><br><br></td><td></td><td>left</td><td></td><td></td>
                    </tr>
                    <tr>
                        <td>L<br><br><br></td><td></td><td>right</td><td></td><td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class = 'row mb-5 mt-5'>
            <div class = 'col-md-5'>
                <li>
                    Draw a free-body diagram of the earth.
                    Obviously, countless forces act on the earth, so consider only those relevant to this situation.
                </li>
                <br><br><br><br>
            </div>
            <div class = 'col-md-2'>
            </div>
            <div class = 'col-md-5'>
                <li>
                    For each force, identify the type of force, direction, agent, and object.
                    Do not change the order of forces indicated.
                </li>
                <table>
                    <tr>
                        <th>
                            ---------
                        </th>
                        <th>
                            Force---------
                        </th>
                        <th>
                            Direction---------
                        </th>
                        <th>
                            Agent---------
                        </th>
                        <th>
                            Object---------
                        </th>
                    </tr>
                    <tr>
                        <td>M<br><br><br></td><td></td><td>up (outward)</td><td>box</td><td></td>
                    </tr>
                    <tr>
                        <td>N<br><br><br></td><td></td><td>up (outward)</td><td>person</td><td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class = 'row mt-5 mb-5'>
        <div class = 'col-md-5'>
            <li>
                Identify each action-reaction force pair.
                Each force should be a part of an action-reaction force pair.
            </li>
        </div>
        <div class = 'col-md-2'>

        </div>
        <!-- This final question, about explicitly using Newton's Third Law, should be moved to a new quiz,
        this particular quiz is already too big!-->
        <!--        <div class = 'col-md-5'>-->
        <!--            <li>-->
        <!--                Select a action-reaction force pair and <strong>explicitly</strong> relate-->
        <!--                these forces to the definition of reaction forces in Newton's Third law.-->
        <!--                [To explicitly relate to Newton's Third law, you must show that the forces-->
        <!--                satisfy each of the statements identified in Newton's Third Law.]-->
        <!--            </li>-->
        <!--        </div>-->
    </div>
</ol>

<div class="pageBreak"></div>

<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<ol>
    <li>
        A person is pressing a book to the right against the wall and the book is not moving.
        The book has a mass of 2.50 kg, and the coefficient of static friction between the
        book and the wall is 0.400,
        <ol type = 'a'>
            <li>
                Draw a qualitative free-body diagram which names each of the forces acting on the book (there are 4)
                and names the agent causing that force.
            </li>
            <li>
                Determine the magnitude of the force of gravity acting on the book.
            </li>
            <li>
                Determine the minimum force with which the person must press the book
                to make it stay in place and not move.
            </li>
            <li>
                Assuming the person is pressing the book with this minimum force,
                complete a quantitative free-body diagram of the book.
            </li>
        </ol>
    </li>
    <div class = 'pageBreak'></div>
    <li>
        A person is falling with a speed of 10.0 m/s and is 20.0 meters above the ground.
        when he grabs onto a pole.
        The man has a mass of 80.0 kg.
        His hands press on the pole with a force of 90.0 Newtons,
        and the coefficient of kinetic friction between the man's hands and the pole is 0.300.
        <ol type = 'a'>
            <li>
                Draw a qualitative free-body diagram which names each of the forces acting on the man (there are 3)
                and names the agent causing that force.
            </li>
            <li>
                Determine the magnitude of each force acting on the man.
                Make sure that you write each equation you use before plugging numbers in.
                Write 1-2 sentences on how you determined the force of kinetic friction.
            </li>
            <li>
                Determine the magnitude of downward acceleration of the man.
                In 1-2 sentences, compare this magnitude of acceleration to what it would be if he did not grab the pole,
                and, dynamically, why it is slower.
            </li>
            <li>
                Determine the speed at which the man will strike the ground.
            </li>
            <li>
                Determine what speed the man would have struck the ground if he had not grabbed the pole.
            </li>
        </ol>

    </li>
</ol>
