<!--<div style = 'font-size: 25px'>-->
<!--    <p>-->
<!--        There are 5 sections.-->
<!--        Please write your name on each page!-->
<!--        We will complete section 5 on Friday.-->
<!--    </p>-->

<!--    <ol>-->
<!--        <li>-->
<!--            Elevators Free-Body Diagrams-->
<!--        </li>-->
<!--        <li>-->
<!--            Block with Kinetic Friction-->
<!--        </li>-->
<!--        <li>-->
<!--            Block with Static and Kinetic Friction-->
<!--        </li>-->
<!--        <li>-->
<!--            Newton's Third Law and the Earth-->
<!--        </li>-->
<!--        <li>-->
<!--            Motion and Free-Body Diagrams (Friday)-->
<!--        </li>-->
<!--    </ol>-->

<!--    <div class="pageBreak"></div>-->
<!--    <p>-->
<!--        This page is intentionally left blank.-->
<!--    </p>-->
<!--    <div class="pageBreak"></div>-->

<!--    <h3>-->
<!--        1: Elevator Free-Body Diagrams-->
<!--    </h3>-->

<!--    <p class = 'directions'>-->
<!--        Whenever using an equation, write the equation out before plugging any numbers in.-->
<!--        When explaining, please write a full sentence-->
<!--    </p>-->

<!--    <ol>-->
<!--        <li>-->
<!--            A person with a mass of 65.0 kg is an an elevator that is-->
<!--            accelerating a rate of 0.400 m/s<sup>2</sup> <strong>downwards</strong>.-->
<!--            <ol type = 'a'>-->
<!--                <li>-->
<!--                    Determine the magnitude and direction of net force acting on this person.-->
<!--                </li>-->
<!--                <li>-->
<!--                    There are two forces acting on this person.-->
<!--                    Draw a free-body diagram.-->
<!--                    Each force should be labeled-->
<!--                    with the correct name and the correct magnitude.-->
<!--                </li>-->
<!--                <li>-->
<!--                    Explain in one sentence how you determined the magnitude of the normal force acting on the person.-->
<!--                    Your explanation should include an explicit reference to the definition of the term "constraint force."-->
<!--                </li>-->
<!--            </ol>-->
<!--        </li>-->
<!--        <div class = 'pageBreak'></div>-->
<!--        <li>-->
<!--            A person with a mass of 74.0 kg is in an elevator that is-->
<!--            accelerating at a rate of 0.700 m/s<sup>2</sup> <strong>upwards</strong>.-->
<!--            <ol type = 'a'>-->
<!--                <li>-->
<!--                    Determine the magnitude and direction of net force acting on this person.-->
<!--                </li>-->
<!--                <li>-->
<!--                    There are two forces acting on this person.-->
<!--                    Draw a free-body diagram.-->
<!--                    Each force should be labeled-->
<!--                    with the correct name and the correct magnitude.-->
<!--                </li>-->
<!--            </ol>-->
<!--        </li>-->
<!--    </ol>-->

<!--    <div class = 'pageBreak'></div>-->

<!--    <h3>-->
<!--        2: Blocks with Kinetic Friction-->
<!--    </h3>-->

<!--    <p class = 'directions'>-->
<!--        Whenever using an equation, write the equation out before plugging any numbers in.-->
<!--    </p>-->

<!--    <ol>-->
<!--        <li>-->
<!--            A block with a mass of 12.0 kg is dragged on a flat surface with a force of 14.0 N,-->
<!--            represented by <i>F</i> in the diagram below.-->
<!--            The coefficient of kinetic friction between the block and the ground-->
<!--            is given by \( \mu_k \) and is unknown.-->
<!--            The block is moving at a <strong>constant velocity</strong>.-->
<!--            <ol type = 'a'>-->
<!--                <li>-->
<!--                    Determine the net force acting on the block.-->
<!--                    Defend your answer by referring explicitly to a law of physics.-->
<!--                </li>-->
<!--                <div class = 'bigSpace'></div>-->
<!--                <li>-->
<!--                    Draw a free-body diagram for the block.-->
<!--                    Please name each force,-->
<!--                    and determine the correct magnitude of each force.-->
<!--                    <br>-->
<!--                    <div class = 'mediumSpace'></div>-->
<!--                    <img src = '/contentFiles/dynamicsQuizImages/basic_dragging_block.png' width = '300px' height = 'auto'>-->
<!--                    <div class = 'mediumSpace'></div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    With an equation or in words, defend your choice for the value of the normal force.-->
<!--                </li>-->
<!--                <li>-->
<!--                    Using the information above, determine the coefficient of kinetic-->
<!--                    friction \( \mu_k \).-->
<!--                </li>-->
<!--            </ol>-->
<!--        </li>-->
<!--        <div class = 'pageBreak'></div>-->
<!--        <li>-->
<!--            A block with a mass of 4.50 kg is dragged on a flat surface with a force of 16.0 N,-->
<!--            represented by <emph>F</emph> in the diagram below.-->
<!--            The coefficient of kinetic friction between the block and the ground is 0.170.-->
<!--            The block is <emph>NOT</emph> being dragged at a constant velocity to the right. It is accelerating.-->
<!--            <ol type = 'a'>-->

<!--                <li>-->
<!--                    Draw a free-body diagram on the picture below.-->
<!--                    Four forces act on the block.-->
<!--                    Please name each force and determine the correct magnitude and direction of each force.-->
<!--                    <br>-->
<!--                    <div class = 'mediumSpace'></div>-->
<!--                    <img src = '/contentFiles/dynamicsQuizImages/basic_dragging_block.png' width = '300px' height = 'auto'>-->
<!--                    <div class = 'mediumSpace'></div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    With an equation or in words, defend your choice for the value of the normal force.-->
<!--                </li>-->
<!--                <li>-->
<!--                    Determine the magnitude <strong>and direction</strong> of the net force acting on the block.-->
<!--                    <div class = 'bigSpace'></div>-->
<!--                </li>-->
<!--                <li>-->
<!--                    Determine the magnitude <strong>and direction</strong> of the acceleration of the block.-->
<!--                </li>-->
<!--            </ol>-->
<!--        </li>-->
<!--        &lt;!&ndash;    <div class = 'pageBreak'></div>&ndash;&gt;-->
<!--        &lt;!&ndash;    <li>&ndash;&gt;-->
<!--        &lt;!&ndash;        A block with a mass of 8.00 kg is dragged on a flat surface with a force of 9.00 N,&ndash;&gt;-->
<!--        &lt;!&ndash;        represented by <i>F</i> in the diagram below.&ndash;&gt;-->
<!--        &lt;!&ndash;        The coefficient of kinetic friction between the block and the ground&ndash;&gt;-->
<!--        &lt;!&ndash;        is given by \( \mu_k \) and is unknown.&ndash;&gt;-->
<!--        &lt;!&ndash;        The block is moving at a <strong>constant velocity</strong>.&ndash;&gt;-->
<!--        &lt;!&ndash;        <ol type = 'a'>&ndash;&gt;-->
<!--        &lt;!&ndash;            <li>&ndash;&gt;-->
<!--        &lt;!&ndash;                Determine the net force acting on the block,&ndash;&gt;-->
<!--        &lt;!&ndash;                and explain how you found your answer.&ndash;&gt;-->
<!--        &lt;!&ndash;            </li>&ndash;&gt;-->
<!--        &lt;!&ndash;            <div class = 'bigSpace'></div>&ndash;&gt;-->
<!--        &lt;!&ndash;            <li>&ndash;&gt;-->
<!--        &lt;!&ndash;                Draw a free-body diagram for the block.&ndash;&gt;-->
<!--        &lt;!&ndash;                Please name each force,&ndash;&gt;-->
<!--        &lt;!&ndash;                and determine the correct magnitude of each force.&ndash;&gt;-->
<!--        &lt;!&ndash;                <br>&ndash;&gt;-->
<!--        &lt;!&ndash;                <div class = 'mediumSpace'></div>&ndash;&gt;-->
<!--        &lt;!&ndash;                <img src = '/contentFiles/dynamicsQuizImages/basic_dragging_block.png' width = '300px' height = 'auto'>&ndash;&gt;-->
<!--        &lt;!&ndash;                <div class = 'mediumSpace'></div>&ndash;&gt;-->
<!--        &lt;!&ndash;            </li>&ndash;&gt;-->
<!--        &lt;!&ndash;            <li>&ndash;&gt;-->
<!--        &lt;!&ndash;                Using the information above, determine the coefficient of kinetic&ndash;&gt;-->
<!--        &lt;!&ndash;                friction \( \mu_k \).&ndash;&gt;-->
<!--        &lt;!&ndash;            </li>&ndash;&gt;-->
<!--        &lt;!&ndash;        </ol>&ndash;&gt;-->
<!--        &lt;!&ndash;    </li>&ndash;&gt;-->
<!--        &lt;!&ndash;    <div class = 'bigSpace'></div>&ndash;&gt;-->
<!--    </ol>-->

<!--    <div class="pageBreak"></div>-->
<!--    <h3>-->
<!--        3: Blocks with Static and Kinetic Friction-->
<!--    </h3>-->
<!--    <p class = 'directions'>-->
<!--        Whenever using an equation, write the equation out before plugging any numbers in.-->
<!--    </p>-->

<!--    <ol>-->
<!--        <li>-->
<!--            A block as a mass of 7.80 kg and is not moving.-->
<!--            Somebody begins pulling the block with a force of 60.0 N to the right.-->
<!--            The coefficient of <emph>kinetic</emph> friction between the block and the surface is 0.450.-->
<!--            The coefficient of <emph>static</emph> friction between the block and the surface is 0.700.-->
<!--            <ol type = 'a'>-->
<!--                <li>-->
<!--                    Draw a <strong>qual</strong>itative free-body diagram of this situation.-->
<!--                    Identify the frictional force merely as friction, neither static nor kinetic.-->
<!--                </li>-->
<!--                <div class = 'bigSpace'></div>-->
<!--                <li>-->
<!--                    Determine if the block moves. Explain how you determined this in 1 - 2 sentences.-->
<!--                </li>-->
<!--                <div class = 'mediumSpace'></div>-->
<!--                <li>-->
<!--                    Complete the <strong>quant</strong>itative free-body diagram of this situation.-->
<!--                    Explain how you determined the magnitude of friction in 1 - 2 sentences.-->
<!--                </li>-->
<!--                <div class = 'bigSpace'></div>-->
<!--                <li>-->
<!--                    Determine the magnitude of acceleration of the block. If you use a formula to do so,-->
<!--                    make sure you write it down.-->
<!--                </li>-->
<!--            </ol>-->
<!--        </li>-->
<!--        <div class = 'pageBreak'></div>-->
<!--        <div class = 'bigSpace no-print'></div>-->
<!--        <div class = 'bigSpace no-print'></div>-->
<!--        <li>-->
<!--            A block as a mass of 7.00 kg and is not moving.-->
<!--            Somebody begins pulling the block with a force of 40.0 N to the right.-->
<!--            The coefficient of <emph>kinetic</emph> friction between the block and the surface is 0.500.-->
<!--            The coefficient of <emph>static</emph> friction between the block and the surface is 0.680.-->
<!--            <ol type = 'a'>-->
<!--                <li>-->
<!--                    Draw a <strong>qual</strong>itative free-body diagram of this situation.-->
<!--                    Identify the frictional force merely as friction, neither static nor kinetic.-->
<!--                </li>-->
<!--                <div class = 'bigSpace'></div>-->
<!--                <li>-->
<!--                    Determine if the block moves. Explain how you determined this in 1 - 2 sentences.-->
<!--                </li>-->
<!--                <div class = 'mediumSpace'></div>-->
<!--                <li>-->
<!--                    Complete the <strong>quant</strong>itative free-body diagram of this situation.-->
<!--                    Explain how you determined the magnitude of friction in 1 - 2 sentences.-->
<!--                </li>-->
<!--                <div class = 'bigSpace'></div>-->
<!--                <li>-->
<!--                    Determine the magnitude of acceleration of the block. If you use a formula to do so,-->
<!--                    make sure you write it down.-->
<!--                </li>-->
<!--            </ol>-->
<!--        </li>-->
<!--        <div class = 'bigSpace'></div>-->
<!--    </ol>-->


<!--    <div class="pageBreak"></div>-->

<!--    <h3>-->
<!--        4: Earth and Newton's Third Law-->
<!--    </h3>-->

<!--    <p class = 'definition' data-word = "Newton's Third Law">-->
<!--        Whenever A exerts a force on B,-->
<!--        B exerts a force on A with equal magnitude and opposite direction.-->
<!--    </p>-->

<!--    <p class = 'directions'>-->
<!--        The diagram below shows two people standing on earth,-->
<!--        Mr. A and Ms. E.-->
<!--        All work on this quiz MUST be based on this diagram,-->
<!--        and must consider people's position within the entire earth, not on the floor.-->
<!--    </p>-->

<!--    &lt;!&ndash;-->
<!--    revise number system for this quiz,-->
<!--    similarly to free-body diagrams 3-->
<!--    &ndash;&gt;-->

<!--    <img src = '/asset/4e9b25/two_people_on_earth.jpeg' height = '400px' width = 'auto'/>-->

<!--    <ol>-->
<!--        <li>-->
<!--            Draw a free-body diagram for Mr. A.-->
<!--            Your free-body diagram should include two forces,-->
<!--            each identified by the type, direction represented as an arrow, agent, and object.-->
<!--            <div class = 'container'>-->
<!--                <div class = 'row'>-->
<!--                    <div class = 'col-md-6 border border-dark'>-->
<!--                        <strong>Free-Body Diagram</strong>-->
<!--                        <br><br><br><br><br><br><br><br><br>-->
<!--                    </div>-->
<!--                    <div class = 'col-md-6 border border-dark bg-secondary'>-->
<!--                        <div class = 'row'> &lt;!&ndash; nested table &ndash;&gt;-->
<!--                            <div class = 'col-3 border border-dark bg-white'>-->
<!--                                Type Of Force-->
<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark bg-white'>-->
<!--                                Direction (represented as an arrow)-->
<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark bg-white'>-->
<!--                                Agent-->
<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark bg-white'>-->
<!--                                Object-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class = 'row'>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class = 'row'>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->

<!--        <li>-->
<!--            Draw a free-body diagram for Ms. E.-->
<!--            Your free-body diagram should include two forces,-->
<!--            each identified by the type, direction represented as an arrow, agent, and object.-->
<!--            <div class = 'container'>-->
<!--                <div class = 'row'>-->
<!--                    <div class = 'col-md-6 border border-dark'>-->
<!--                        <strong>Free-Body Diagram</strong>-->
<!--                        <br><br><br><br><br><br><br><br><br>-->
<!--                    </div>-->
<!--                    <div class = 'col-md-6 border border-dark bg-secondary'>-->
<!--                        <div class = 'row'> &lt;!&ndash; nested table &ndash;&gt;-->
<!--                            <div class = 'col-3 border border-dark bg-white'>-->
<!--                                Type Of Force-->
<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark bg-white'>-->
<!--                                Direction (represented as an arrow)-->
<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark bg-white'>-->
<!--                                Agent-->
<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark bg-white'>-->
<!--                                Object-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class = 'row'>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class = 'row'>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4 bg-white'>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </li>-->
<!--        <div class="pageBreak"></div>-->
<!--        <li>-->
<!--            Draw three free-body diagrams for the ground beneath-->
<!--            Mr. A's feet, the ground beneath Ms. E's feet,-->
<!--            and the whole earth.-->
<!--            Your three free-body diagrams should include 4 forces total-->
<!--            (but they don't contain all of the forces acting on these bodies),-->
<!--            each identified by type, direction, agent, and object.-->
<!--            Please note that these are <strong>not</strong>-->
<!--            the only four forces acting on the earth,-->
<!--            but the one's relevant to Mr. A and Mr. E.-->
<!--            Each free-body diagram must be labeled.-->
<!--            Fill out the tables with the four forces involved.-->

<!--            <div class = 'container'>-->
<!--                <div class = 'row'>-->
<!--                    <div class = 'col-md-6 border border-dark'>-->
<!--                        <strong>Free-Body Diagram</strong>-->
<!--                        <br><br><br><br><br><br><br><br><br>-->
<!--                    </div>-->
<!--                    <div class = 'col-md-6 border border-dark'>-->
<!--                        <div class = 'row'> &lt;!&ndash; nested table &ndash;&gt;-->
<!--                            <div class = 'col-3 border border-dark'>-->
<!--                                Type Of Force-->
<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark'>-->
<!--                                Direction (represented as an arrow)-->
<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark'>-->
<!--                                Agent-->
<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark'>-->
<!--                                Object-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class = 'row'>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class = 'row'>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class = 'row'>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class = 'row'>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                            <div class = 'col-3 border border-dark p-4'>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </li>-->

<!--        <li>-->
<!--            Your three free-body diagrams,-->
<!--            there are 8 total forces.-->
<!--            Two of these forces can be described as <emph>weight</emph>.-->
<!--            Identify which two.-->
<!--        </li>-->
<!--<div class="mediumSpace"></div>-->
<!--        <li>-->
<!--            In your three-free body diagrams,-->
<!--            label each force A - H.-->
<!--            Identify <strong>four</strong> sets of action-reaction pairs.-->
<!--        </li>-->

<!--        &lt;!&ndash; This quesiton, abotu explicitly referring to newton's third law, should be moved to a new quiz &ndash;&gt;-->
<!--        &lt;!&ndash;- this quiz is too big! &ndash;&gt;-->
<!--        &lt;!&ndash;    <li>&ndash;&gt;-->
<!--        &lt;!&ndash;        Pick one of your sets and explain why this is an action-reaction&ndash;&gt;-->
<!--        &lt;!&ndash;        pair by <emph>explicitly</emph> referring to Newton's Third Law above.&ndash;&gt;-->
<!--        &lt;!&ndash;    </li>&ndash;&gt;-->
<!--    </ol>-->

<!--    <div class="pageBreak"></div>-->

<!--    <h3>-->
<!--        5: Free-Body Diagrams and Motion-->
<!--    </h3>-->

<!--    <p>-->
<!--        A student is given the following problem on a quiz:-->
<!--    </p>-->
<!--    <p>-->
<!--        "A batter hits a baseball and it begins flying directly upwards (a pop-up).-->
<!--        Ignoring air resistance, draw a free-body diagram of the ball after it is no-->
<!--        longer touching the bat and is traveling upwards."-->
<!--    </p>-->
<!--    <p>-->
<!--        The student says to himself:-->
<!--    </p>-->
<!--    <p>-->
<!--        "There must be two forces on the ball,-->
<!--        gravity is acting downward, and for the ball to travel upwards,-->
<!--        there must be an upward net force on the baseball,-->
<!--        so there must be another force acting upward on the ball-->
<!--        that is stringer than gravity.-->
<!--        I'm not sure what to call this force, so I will call it 'applied force'-->
<!--        because the batter applied it"-->
<!--    </p>-->
<!--    <p>-->
<!--        Here is what the student writes:-->
<!--    </p>-->

<!--    <img src = '/asset/e492fc/quiz_fbd.png' width = '200px' height = 'auto'/>-->

<!--    <p>-->
<!--        Unfortunately, the teacher marks the student's answer <strong>incorrect</strong>.-->
<!--    </p>-->

<!--    <ol>-->
<!--        <li>-->
<!--            Determine one element of the student's reasoning that was correct.-->
<!--        </li>-->
<!--        <li>-->
<!--            Determine two elements of the student's reasoning that was incorrect.-->
<!--        </li>-->
<!--        <li>-->
<!--            Assume a baseball did have the two forces the student identified acting on it-->
<!--            while moving upward.-->
<!--            Describe what the motion of the baseball would be.-->
<!--        </li>-->
<!--        <li>-->
<!--            Draw the free-body diagram that would have been the correct answer.-->
<!--        </li>-->
<!--    </ol>-->
<!--</div>-->
