<!--<p class="directions">-->
<!--    Before using any formula,-->
<!--    write that formula.-->
<!--    You must carefully identify each formula you use for full credit.-->
<!--    If you quantitatively evaluate a formula,-->
<!--    you must show numbers that you plug in before completing any operations.-->
<!--    You ust carefully show all numerical values you use for full credit.-->
<!--</p>-->

<!--<h3>-->
<!--    Number 1:-->
<!--</h3>-->



<!--<img src = '/asset/89ebe7/ramp_problems_2_quiz.jpeg' height = '200px' width = 'auto'/>-->

<!--<p>-->
<!--    A 0.6 kilogram block is on a ramp with an-->
<!--    angle of incline of 23 degrees.-->
<!--    The block is moving down the ramp.-->
<!--    The coefficient of kinetic friction between the block and the ramp-->
<!--    is 0.16.-->
<!--</p>-->

<!--<ol type = 'A'>-->
<!--    <li>-->
<!--        Draw a qualitative free-body diagram on the block.-->
<!--        Label each force. Do not break each force into components.-->
<!--    </li>-->
<!--    <li>-->
<!--        Please break each of the forces acting on the block-->
<!--        into components and quantitatively determine the component-->
<!--        of each force.-->
<!--        Represent your components separately from the free-body-->
<!--        diagram in an appropriate notation.-->
<!--        Show clearly which forces are x-forces and which are y-forces.-->
<!--    </li>-->
<!--    <li>-->
<!--        In 1-2 sentences, briefly explain how you determined-->
<!--        the magnitude of the normal force.-->
<!--    </li>-->
<!--    <li>-->
<!--        In 1-2 sentences, briefly explain how you determined-->
<!--        the magnitude of the frictional force.-->
<!--    </li>-->
<!--    <li>-->
<!--        Determine the magnitude and direction of the acceleration of the block.-->
<!--    </li>-->
<!--</ol>-->

<!--<div class="mediumSpace"></div>-->

<!--<h3>-->
<!--    Numbers 2 and 3-->
<!--</h3>-->

<!--<ol start = '2'>-->
<!--    <li>-->
<!--        <img src = '/asset/084130/ramp_problems_3_a_quiz.png' height = '200px' width = 'auto'/><br>-->
<!--        A ramp block of ramp 500 grams-->
<!--        is on a ramp with an angle of incline of 23 degrees.-->
<!--        The coefficient of static friction is 0.44 and the coefficient-->
<!--        of kinetic friction is 0.37.-->
<!--        <ol type = 'a'>-->
<!--            <li>-->
<!--                Determine if the box moves.-->
<!--                Defend your answer through calculations-->
<!--                and 1 - 3 sentences.-->
<!--            </li>-->
<!--            <li>-->
<!--                Draw an <emph>quantitatively correct</emph>-->
<!--                free-body diagram of the block.-->
<!--                Label each force.-->
<!--                Describe briefly how you determine the magnitude of friction.-->
<!--            </li>-->
<!--            <li>-->
<!--                Determine the magnitude and direction-->
<!--                of the net force acting on the block.-->
<!--            </li>-->
<!--            <li>-->
<!--                Determine the magnitude and direction-->
<!--                of the net acceleration of the block.-->
<!--            </li>-->
<!--        </ol>-->
<!--    </li>-->
<!--    <li>-->
<!--        <img src = '/asset/084130/ramp_problems_3_b_quiz.png' height = '200px' width = 'auto'/><br>-->
<!--        A ramp block of ramp 400 grams-->
<!--        is on a ramp with an angle of incline of 23 degrees.-->
<!--        The coefficient of static friction is 0.45 and the coefficient-->
<!--        of kinetic friction is 0.38.-->
<!--        <ol type = 'a'>-->
<!--            <li>-->
<!--                Determine if the box moves.-->
<!--                Defend your answer through calculations-->
<!--                and 1 - 3 sentences.-->
<!--            </li>-->
<!--            <li>-->
<!--                Draw an <emph>quantitatively correct</emph>-->
<!--                free-body diagram of the block.-->
<!--                Label each force.-->
<!--                Describe briefly how you determine the magnitude of friction.-->
<!--            </li>-->
<!--            <li>-->
<!--                Determine the magnitude and direction-->
<!--                of the net force acting on the block.-->
<!--            </li>-->
<!--            <li>-->
<!--                Determine the magnitude and direction-->
<!--                of the net acceleration of the block.-->
<!--            </li>-->
<!--        </ol>-->
<!--    </li>-->
<!--</ol>-->

<!--<div class="pageBreak"></div>-->
<!--<h3>-->
<!--    Numbers 4 and 5-->
<!--</h3>-->



<!--<ol start = '4'>-->
<!--    <li>-->
<!--        An object is moving down a ramp with an angle of incline \( \theta \).-->
<!--        The coefficient of kinetic friction between the object and the ramp is \( \mu_k \), and assume that the block's velocity is down the ramp.-->
<!--        The mass of the object is unknown. Note that mass will not be included in any final equations if you solve them correctly.-->
<!--        Assuming the direction of the block's acceleration is down the ramp, determine its magnitude in terms of known quantities and constants.-->
<!--        Demonstrate that your answer is dimensionally correct.-->
<!--    </li>-->
<!--    <li>-->
<!--        Consider all the same situation as above, but this time assume the block's veloctiy is UP the ramp.-->
<!--        <ol type = 'a'>-->
<!--            <li>-->
<!--                Determine the direction of acceleration.-->
<!--            </li>-->
<!--            <li>-->
<!--                Determine the magnitude of acceleration.-->
<!--            </li>-->
<!--            <li>-->
<!--                Determine if the block is speeding up, slowing down, or moving at a constantly speed and describe briefly how your know.-->
<!--            </li>-->
<!--            <li>-->
<!--                Give a very brief description of a time that this might be the case.-->
<!--            </li>-->
<!--        </ol>-->
<!--    </li>-->
<!--</ol>-->