<p class = 'directions'>
    Use principles of electrical circuits to find the voltage, current, resistance, and power
    of each circuit written and the total circuit.
</p>

<ol>
    <li class = 'physicsQuestion'><br>
        <div id = 'problem-C4'></div>
    </li>
    <div class = 'smallSpace'></div>
    <li class = 'physicsQuestion'><br>
        <div id = 'problem-C3'></div>
    </li>
    <div class="pageBreak"></div>
    <div class = 'smallSpace'></div>
    <li class = 'physicsQuestion'><br>
        <div id = 'problem-C1'></div>
    </li>
    <li class = 'physicsQuestion'><br>
        <div id = 'problem-C2'></div>
    </li>
</ol>

<script>
    // function makeCircuitProblem(type, voltage, resistorArray, powerRowBoolean) {
    $("#problem-C1").append(makeCircuitProblem('parallel',10,[10,5,2]));
    $("#problem-C2").append(makeCircuitProblem('series',6,[3,6,3]));
    $("#problem-C3").append(makeCircuitProblem('parallel',16,[4,8,16]));
    $("#problem-C4").append(makeCircuitProblem('series',18,[3,2,1]));
</script>

<div class = 'pageBreak'></div>


<p class="directions">
    For each of the numbers listed below,
    write the number in correct scientific notation.
    If it is already in correct scientific notation,
    indicate this in your answer.
</p>

<ol type = 'A'>
    <li class = 'mt-4 mb-4'>
        \( 23.56 \cdot 10^{20} \)
    </li>
    <li class="mb-4">
        \( 0.0025 \cdot 10^{12} \)
    </li>
    <li class="mb-4">
        \( 124 \cdot 10^{15} \)
    </li>
    <li class="mb-4">
        \( 1.56 \cdot 10^{-9} \)
    </li>
</ol>


<h5>
    Problem 1
</h5>
<div class="container">
    <div class="row">
        <div class="col-12 border border-dark">
            Someone fires a bow and arrow across the room to the right
            and into a wall.
            The arrow travels fast enough that it barely falls during its motion.
            Consider the motion from the moment that the arrow is no
            longer in contract with the bow until the moment
            immediately before it touches the wall.
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-dark">
            Direction of Velocity:
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-12 border border-dark">
                        Choice A
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark" id = 'choice_A'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        Direction of net force:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        If this choice A were true, the arrow would __________________.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-12 border border-dark">
                        Choice B
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark" id = 'choice_B'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        Direction of net force:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        If this choice B were true, the arrow would __________________.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = 'col-12 border border-dark'>
            When observing the motion of the arrow,
            we see that it is _____________________.
            Therefore, the correct answer must be ___________.
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-dark">
            Of the forces in the answer choices above,
            which one does not exist?
            <br><br><br>
            Explain briefly why this force cannot exist:
        </div>
    </div>
</div>

<script>
    let choice_A = fastFBD([['down','gravity'],['right','bow force']]);
    let choice_B = fastFBD([['down','gravity']]);
    $("#choice_A").append(choice_A.drawCanvas(150));
    $("#choice_B").append(choice_B.drawCanvas(150));
</script>


<h5>
    Problem 2
</h5>
<div class="container">
    <div class="row">
        <div class="col-12 border border-box">
            Somebody is lifting up a heavy tool box.
            Consider the motion of the tool box for
            <emph>most of the way up</emph>,
            not at the top of the end of the motion.
            During this period, the person is lifting the box
            at a constant velocity.
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-dark">
            Direction of Velocity:
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 border border-dark">
                        Choice C
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark" id = 'choice_C'></div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        Direction of Net Force:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        If choice C was true, the tool box would _________________.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 border border-dark">
                        Choice D
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark" id = 'choice_D'></div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        Direction of Net Force:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        If choice D was true, the tool box would _________________.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 border border-dark">
                        Choice E
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark" id = 'choice_E'></div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        Direction of Net Force:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        If choice E was true, the tool box would _________________.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-dark">
            When observing the motion of the tool box, we observe that it
            is _________________.
            Therefore, the correct answer must be _____________.
        </div>
    </div>
</div>

<script>
    let choice_C = fastFBD([['up','applied',1],['down','gravity',2]]);
    let choice_D = fastFBD([['up','applied',2],['down','gravity',2]]);
    let choice_E = fastFBD([['up','applied',3],['down','gravity',2]]);

    $("#choice_C").append(choice_C.drawCanvas(150));
    $("#choice_D").append(choice_D.drawCanvas(150));
    $("#choice_E").append(choice_E.drawCanvas(150));
</script>