<div id = 'space1'></div>

<div class="bigSpace"></div>

<div id = 'space2'></div>

<script>
    $("#space1").append(fastFBD([['left',220],['left',160],['right',180],['right',100]]).drawCanvas(300,150));
    $("#space2").append(fastFBD().drawCanvas(300,150));

</script>