<div id = 'positionGraph'></div>

<ol>
    <li>
        Write a story that includes something moving with
        this particular position-time graph.
    </li>
    <li>
        Draw a corresponding velocity-time graph.
    </li>
    <li>
        Draw a corresponding acceleration-time graph.
    </li>
</ol>


<script>
    let kinematicFunction = new KinematicStepwiseFunctions(0,0,1);
    kinematicFunction.addAcceleratedStep(1,5);
    kinematicFunction.addConstantVelocityStep(3);
    kinematicFunction.addAcceleratedStep(-1,4);
    kinematicFunction.addConstantVelocityStep(5);

    let graphs = kinematicFunction.makeQualitativeGraphs(undefined, true);
    $("#positionGraph").append(graphs.positionGraph.drawCanvas(500,500));
</script>
<div class="pageBreak"></div>
<div id = 'velocityGraph'></div>

<ol>
    <li>
        Write a story about something that
        could have this particular velocity-time graph.
    </li>
    <li>
        Draw a corresponding position-time graph,
        assuming that initial position = 0.
    </li>
    <li>
        Draw a corresponding acceleration-time graph.
    </li>
</ol>

<script>
    let kinematicFunctions = new KinematicStepwiseFunctions(0,4,0);
    kinematicFunctions.addConstantVelocityStep(6);
    kinematicFunctions.addAcceleratedStep(-1,4);
    kinematicFunctions.addAcceleratedStep(1,6);
    kinematicFunctions.addAcceleratedStep(-1,6);

    let graphs2 = kinematicFunctions.makeQualitativeGraphs(undefined, true);
    $("#velocityGraph").append(graphs2.velocityGraph.drawCanvas(500,500));
</script>
<div class="pageBreak"></div>
<img src =  '/images/acceleration_quiz.jpeg' height = '300px' width = 'auto'/>
<ol>
    <li>
        Write a story about something that
        begins at rest and moves with this acceleration-time graph.
    </li>
    <li>
        Assuming that initial velocity = 0,
        draw a corresponding velocity-time graph.
    </li>
    <li>
        Assuming that initial position = 0,
        draw a corresponding position-time graph.
    </li>
</ol>

<script>
    // there are lots of problems here!
    let kinematicFunctions = new KinematicStepwiseFunctions(0,0,3);
    kinematicFunctions.addAcceleratedStep(3,2);
    kinematicFunctions.addConstantVelocityStep(3);
    kinematicFunctions.addAcceleratedStep(-3,3);
    kinematicFunctions.addAcceleratedStep(3,3);
    kinematicFunctions.addConstantVelocityStep(2);
    kinematicFunctions.addAcceleratedStep(3,3);


    let graphs = kinematicFunctions.makeQualitativeGraphs(undefined, true, 2);
    console.log(graphs3);
    $("#accelerationGraph").append(graphs3.accelerationTime.drawCanvas(800,400));
</script>