<h3>
    AP Physics Quiz on WORK and POWER
</h3>

<div class="bigSpace"></div>
<h4>
    Please DO NOT squeeze your answers between the questions but use the GIANT space below the questions.
    If I need to squint to see what you wrote, you will take a penalty.
</h4>
<div class="bigSpace"></div>

<h4>
    Name ____________________
</h4>

<div class="pageBreak"></div>
<h3>
    Is Work Done?
</h3>
<p class="directions">
    In each of the following situations, state whether
    positive work, negative work, or no work is done.
    State why.
</p>

<ol>
    <li>
        Somebody lifts a weight.
    </li>
    <li>
        Somebody gently lowers a weight.
    </li>
    <li>
        Somebody is carrying a heavy weight, exerting a force upward
        to hold the weight while walking forward at a constant velocity.
    </li>
    <li>
        Somebody tries to stop their bookshelf from falling over, but fails.
        (They are trying to hold it up while it falls!)
    </li>
    <li>
        Somebody tries to lift a rock that does not move.
    </li>
    <li>
        Somebody pushes a car and it does move.
    </li>
</ol>

<div class="pageBreak"></div>

<h3>Weightlifter Problems</h3>


<p class="directions">
    Please answer all of the questions below
    by referring to the formulas for <strong>work</strong>
    and <strong>power</strong>,
    by <emph>without</emph> doing any quantitative calculations!
</p>


<p>
    Two cranes are lifting weights at a work site.
    Crane A lifts a weight of 500 Newtons a height of 30 meters.
    Crane B does exactly the same thing, but in half the time.
</p>

<ol>
    <li>
        Which crane does more work: A, B, or neither? Briefly explain.
    </li>
    <li>
        Which crane has more power: A, B, or neither? Briefly explain.
    </li>
</ol>


<p>
    Two more cranes are in on the job.
    Crane C takes 5 minutes to lift a weight of 1000 newtons a height of 40 meters.
    Crane D also takes 5 minutes to lift a weight of 1000 Newtons, but lifts it 50 meters.
</p>

<ol start = '3'>
    <li>
        Which crane does more work: C, D, or neither? Briefly explain.
    </li>
    <li>
        Which crane has more power: C, D, or neither? Briefly explain.
    </li>
</ol>

<div class="pageBreak"></div>

<h3>Work Energy Theorem</h3>

<p>
    The work energy theorem states that the total work done on a system is equal to the change in energy of that system.
</p>

<ol start = '1'>
    <li>
        Look at the AP Formula sheet. Which formula describes the work-energy theorem? Copy that formula here.
    </li>
</ol>

<p class="directions">
    Every time you use a formula,
    write that formula before using it, and
    show how you used it.
</p>

<p>
    A block has a mass of 8 kg
    and is moving with a speed of 4 m/s on a frictionless surface.
    Somebody pushes the box with a force of 32 N in the direction it is moving,
    while the box moves a distance of 3 meters.
</p>

<ol start = '2'>
    <li>
        Determine the final speed of the block
        using the rules of kinematics and dynamics,
        <strong>not</strong> the rules of energy!
    </li>
    <li>
        Determine the final speed of the block by using the work-energy theorem.
    </li>
    <li>
        If you did the two previous problems correctly,
        you should have an argument that confirms the work-energy theorem.
        Briefly explain this argument.
        Briefly explain your reasoning in 2 - 3 sentences.
    </li>
</ol>

<div class="pageBreak"></div>

<h3>
    Deriving Formulas for Work Done on a System
</h3>


<ol>
    <li>
        <p>
            An massive block is stationary on a ramp, connected to a spring.
            The block has mass \( m \); the spring has spring constant \( k \) and equilibrium length \( x_0 \); the block
            is at a distance \( x_1 \), which is not the equilibrium length; the angle of incline of the ramp is \( \theta \).
            Define the zero point height as the ground.
        </p>
        <p>
            Somebody pulls the mass backwards to a new length \( x_2 \). After the pull, the block is not moving.
        </p>
        <img src = '/spring_on_ramp.jpg' height = '400px' width = 'auto'/>
        <ol type = 'a'>
            <li>
                Write an equation for the work done on the block-spring-earth system \( W \)
                in terms of all known variables.
            </li>
            <li>
                There should be several terms in the equation you wrote.
                Some of those terms should be positive and others negative.
                Identify briefly what each term means, whether that term is positive or negative and why.
            </li>
        </ol>
    </li>
    <li>
        A person of mass \( m \) is climbing a rope.
        Initially, they have a height \( y_1 \) and a speed \( v_1 \).
        They continue climbing until they have a new height \( y_2 \) and a speed \( v_2 \).
    </li>
    <ol type = 'a'>
        <li>
            Write an equation for the work done on the person-earth system \( W \)
            in terms of all known variables.
        </li>
        <li>
            There should be several terms in the equation you wrote.
            Some of those terms should be positive and others negative.
            Identify briefly what each term means, whether that term is positive or negative and why.
        </li>
    </ol>
</ol>

