<h1>
    December Physics A Quiz
</h1>
<h3>
    Quantitative Conservation of Energy
</h3>

<div class="bigSpace"></div>

<h5>
    Name _____________________________
</h5>

<div class="bigSpace"></div>
<h4>
    Reference
</h4>
<ul>
    <li class = 'mb-5'>
        \( KE = \frac{1}{2} m v^2 \)
    </li>
    <li class = 'mt-5'>
        \( GPE = m g h \)
    </li>
</ul>

<div class="pageBreak"></div>

<h3>
    Part A: Conservation of Energy Table
</h3>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'md-col-6' id = 'rampA'></div>
        <div class = 'md-col-6' id = 'rampB'></div>
    </div>
    <div class = 'row'>
        <div class ='md-col-6' id = 'rampC'></div>
        <div class ='md-col-6' id = 'rampD'></div>
    </div>
</div>

<p>
    Using the conservation of energy, fill out the table below:
</p>

<div id = 'energyTable'></div>

<div class = 'pageBreak'></div>

<ol>
    <li class = 'smallQuestion'>
        At what point is the ball moving the fastest? Explain why by referring to the information in the table?
    </li>
    <li class = 'smallQuestion'>
        As the ball rolls down the ramp, does kinetic energy increase, decrease, or remain the same?
    </li>
    <li class = 'smallQuestion'>
        As the ball rolls down the ramp, does gravitational potential energy increase, decrease, or remain the same?
    </li>
    <li class = 'smallQuestion'>
        As the ball rolls down the ramp, does total energy increase, decrease, or remain the same?
    </li>
</ol>

<script>
    const ballRadius = 0.2;
    function drawRamp(letter, ballPosition) {
        // ball position is from 0 to 1
        // the function doesn't work correctly if it is equal to 0 or 1
        let myDiagram = new DiagramF();
        let endOfRamp1 = origin;
        let topOfRamp = myDiagram.addNewPoint(1,0);
        let bottomOfRamp = myDiagram.addNewPoint(3,-2);
        let endOfRamp2 = myDiagram.addNewPoint(4,-2);

        myDiagram.addText(letter, new PointF(3,-0.5), 0.5);
        myDiagram.addSegment(endOfRamp1, topOfRamp);
        let rampSegment = myDiagram.addSegment(topOfRamp, bottomOfRamp);
        myDiagram.addSegment(bottomOfRamp, endOfRamp2);

        let centerBallPoint =  topOfRamp.interpolate(bottomOfRamp, ballPosition);
        myDiagram.addCircle(centerBallPoint, ballRadius);

        let phi = rampSegment.getPerpendicularAngle();
        centerBallPoint.translate(ballRadius * Math.cos(phi), ballRadius * Math.sin(phi));

        return myDiagram
    }

    let rampA = drawRamp('A',0.03);
    let rampB = drawRamp('B',0.3);
    let rampC = drawRamp('C',0.6);
    let rampD = drawRamp('D',0.97);

    $("#rampA").append(rampA.drawCanvas(300,300));
    $("#rampB").append(rampB.drawCanvas(300,300));
    $("#rampC").append(rampC.drawCanvas(300,300));
    $("#rampD").append(rampD.drawCanvas(300,300));

    let energyTable = new EnergyTable(4, ['ke','gpe','total_e']);
    energyTable.writeTextInCell(1,1,'0');
    energyTable.writeTextInCell(1,2,'80');
    energyTable.writeTextInCell(2,2,'50');
    energyTable.writeTextInCell(3,1,'60');
    energyTable.writeTextInCell(4,2,'0');
    $("#energyTable").append(energyTable.draw(400,300));

</script>

<div class="pageBreak"></div>

<h3>
    Part A: Energy Formulas
</h3>

<p class = 'directions'>
    Write every formula you use before you use it!
</p>

<ol>
    <li class="tinyQuestion">
        An object has a speed of 5.0 m/s
        and a mass of 4.0 kg.
        What is its kinetic energy?
        {{>formulaSolvingTable}}
    </li>
    <li class="tinyQuestion">
        An object has a mass of 10. kg
        and a height of 20. m.
        What is its gravitational potential energy?
        {{>formulaSolvingTable}}
    </li>
    <div class = 'pageBreak'></div>
    <li class="tinyQuestion">
        An object has a mass of 4.0 kg and a kinetic energy
        of 100. Joules.
        What is its speed?
        {{>formulaSolvingTable}}
    </li>
    <li class="tinyQuestion">
        An object has a mass of 8.0 kg and 400. Joules
        of gravitational potential energy.
        What is its height?
        {{>formulaSolvingTable}}
    </li>
</ol>

<div class = 'pageBreak'></div>


<h3>
    Part C: Putting it Together
</h3>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'md-col-6' id = 'rampA_x'></div>
        <div class = 'md-col-6' id = 'rampB_x'></div>
    </div>
    <div class = 'row'>
        <div class ='md-col-6' id = 'rampC_x'></div>
        <div class ='md-col-6' id = 'rampD_x'></div>
    </div>
</div>

<p class = 'directions'>
    Write every formula you use before you use it!
</p>

<p>
    A ball of unknown mass rolls down a ramp of unknown height,
    and at the bottom has a speed of 4.8 m/s
    and a kinetic energy of 92.16 Joules.
</p>

<p>
    First, determine the mass of the ball:
</p>
{{>formulaSolvingTable}}


<div class = 'pageBreak'></div>

<p>
    Second, use the Law of Conservation of Energy
    and the formulas for kinetic and gravitational potential energy
    to complete the table below.
    Assume that the ball loses no energy to friction or air resistance as it falls.
</p>

<div id = 'energyTable_x'></div>

<script>
    const ballRadius_x = 0.2;
    function drawRamp_x(letter, ballPosition) {
        // ball position is from 0 to 1
        // the function doesn't work correctly if it is equal to 0 or 1
        let myDiagram = new DiagramF();
        let endOfRamp1 = origin;
        let topOfRamp = myDiagram.addNewPoint(1,0);
        let bottomOfRamp = myDiagram.addNewPoint(3,-2);
        let endOfRamp2 = myDiagram.addNewPoint(4,-2);

        myDiagram.addText(letter, new PointF(3,-0.5), 0.5);
        myDiagram.addSegment(endOfRamp1, topOfRamp);
        let rampSegment = myDiagram.addSegment(topOfRamp, bottomOfRamp);
        myDiagram.addSegment(bottomOfRamp, endOfRamp2);

        let centerBallPoint =  topOfRamp.interpolate(bottomOfRamp, ballPosition);
        myDiagram.addCircle(centerBallPoint, ballRadius);

        let phi = rampSegment.getPerpendicularAngle();
        centerBallPoint.translate(ballRadius * Math.cos(phi), ballRadius * Math.sin(phi));

        return myDiagram
    }

    let rampA_x = drawRamp_x('A',0.03);
    let rampB_x = drawRamp_x('B',0.3);
    let rampC_x = drawRamp_x('C',0.6);
    let rampD_x = drawRamp_x('D',0.97);

    $("#rampA_x").append(rampA_x.drawCanvas(400,400));
    $("#rampB_x").append(rampB_x.drawCanvas(400,400));
    $("#rampC_x").append(rampC_x.drawCanvas(400,400));
    $("#rampD_x").append(rampD_x.drawCanvas(400,400));


    let energyTable_x = new EnergyTable(4, ['speed', 'height', 'ke', 'gpe', 'total_e'])
    energyTable_x.writeTextInCellKeys('A', 'speed', 0);
    energyTable_x.writeTextInCellKeys('C', 'speed', 3.3);
    energyTable_x.writeTextInCellKeys('D', 'speed', 4.8);
    energyTable_x.writeTextInCellKeys('B', 'height', 0.85);
    energyTable_x.writeTextInCellKeys('D', 'height', 0);
    energyTable_x.writeTextInCellKeys('D', 'ke', 92.16)
    $("#energyTable_x").append(energyTable_x.draw(500,500));
</script>