<h4>
    1: Determine Net Torque v2
</h4>
<h4>
    Name: _____________________
</h4>
<h4>
    Section: _____________________
</h4>

<p class="directions">
    Determine the net torque on each rod picture.
    The large blue circle indicates the pivot point.
    Please write each answer to two significant figures of accuracy
    and include the proper direction and unit.
</p>


<ol>
    <li>
        <img src = '/asset/3a52bf/net_torque_quiz_3.png' height = '300px' width = 'auto' />
    </li>
    <div class="bigSpace"></div>
    <li>
        <img src = '/asset/3a52bf/net_torque_quiz_4.png' height = '300px' width = 'auto' />
    </li>
</ol>

<div class="pageBreak"></div>

<h4>
    2: Angular Velocity of Real Things v3
</h4>
<h4>
    Name: _____________________
</h4>
<h4>
    Section: _____________________
</h4>



<p class="directions">
    Answer each question below.
    For full credit, write any formula before using it,
    and include proper units in your answer.
</p>

<div class="container">
    <div class="row">
        <div class="col-3 p-2 border border-dark"><strong>Planet</strong></div>
        <div class="col-3 p-2 border border-dark"><strong>Length of Day</strong> (in earth days)</div>
        <div class="col-3 p-2 border border-dark"><strong>Length of Year</strong> (in earth years)</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Mercury</div>
        <div class="col-3 p-2 border border-dark">48.646</div>
        <div class="col-3 p-2 border border-dark">0.2408467</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Venus</div>
        <div class="col-3 p-2 border border-dark">-243.018</div>
        <div class="col-3 p-2 border border-dark">0.61519726</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Earth</div>
        <div class="col-3 p-2 border border-dark">0.99726968</div>
        <div class="col-3 p-2 border border-dark">1.0000174</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Mars</div>
        <div class="col-3 p-2 border border-dark">1.026</div>
        <div class="col-3 p-2 border border-dark">1.8808476</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Jupiter</div>
        <div class="col-3 p-2 border border-dark">0.41354</div>
        <div class="col-3 p-2 border border-dark">11.862615</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Saturn</div>
        <div class="col-3 p-2 border border-dark">0.444</div>
        <div class="col-3 p-2 border border-dark">29.447498</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Uranus</div>
        <div class="col-3 p-2 border border-dark">-0.718</div>
        <div class="col-3 p-2 border border-dark">84.016846</div>
    </div>
    <div class="row">
        <div class="col-3 p-2 border border-dark">Neptune</div>
        <div class="col-3 p-2 border border-dark">0.671</div>
        <div class="col-3 p-2 border border-dark">164.79132</div>
    </div>
</div>
<p>
    Source: https://solarsystem.nasa.gov/planet-compare/
</p>


<ol>
    <li>
        Determine the magnitude of angular velocity of Mercury's rotation in radians per second.
        (Write your answer as a decimal with 4 significant figures in your answer.)
    </li>
    <li>
        Which value is greater:
        The angular velocity of Mercury's rotation
        or it angular velocity of Mercury's revolution (it's orbit around the sun.).
        Briefly explain your answer.
    </li>
    <li>
        Bonus (kinda): The length of a day of Venus are Uranus are negative?
        Huh? Well, that's at least now NASA's website reports it.
        What do you think that means?
    </li>
</ol>



<div class="pageBreak"></div>

<h4>
    3: Creating Formulas for Collisions v3
</h4>
<h4>
    Name: _____________________
</h4>
<h4>
    Section: _____________________
</h4>


<p>
    A car (A) of mass \( m_a \) moving at a velocity \( v_{ai} \) collides into another car (B)
    of mass \( m_b \) moving at velocity \( v_{bi} \).
    Following the collision, car A is stationary.
    However, 20 % of car A sticks to car B, and together the move with velocity \( v_f \).
    Assume no momentum leaves the system of the two cars.
</p>

<p>
    Use the conservation of momentum to invent an equation that relates all of the variables above.
    Your equation should have 3 terms
    You only need to create an equation, you do not need to solve your equation
    for any particular variable.
</p>


<p>
    After creating the formula, identify what each <strong>term</strong> of the formula represents physically.
</p>


<div class="pageBreak"></div>
<h4>
    4: Newton's Law of Universal Gravitation Part 2 (we skipped part 1) v2
</h4>
<h4>
    Name: _____________________
</h4>
<h4>
    Section: _____________________
</h4>


<p class = 'directions'>
    Write every formula before plugging any values into the formula.
    Write all values plugged into the formula before evaluating them
    with a calculator.
</p>

<h5>
    Mass of Uranus =  8.68 x 10<sup>25</sup> kilograms.
</h5>
<h5>
    The Moons of Uranus:
</h5>
<p>
    Note that mass is in units of 10^18 kilograms.
</p>


<div class="container">
    <div class="row">
        <div class="col-3 border border-dark p-2"><strong>Moon</strong></div>
        <div class="col-3 border border-dark p-2"><strong>Mass</strong> (10^18 kg)</div>
        <div class="col-3 border border-dark p-2"><strong>Radius of Rotation</strong> (km)</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Ophelia</div>
        <div class="col-3 border border-dark p-2">0.053</div>
        <div class="col-3 border border-dark p-2">49770</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Juliet</div>
        <div class="col-3 border border-dark p-2">0.056</div>
        <div class="col-3 border border-dark p-2">64350</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Rosalind</div>
        <div class="col-3 border border-dark p-2">0.25</div>
        <div class="col-3 border border-dark p-2">69940</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Bianca</div>
        <div class="col-3 border border-dark p-2">0.092</div>
        <div class="col-3 border border-dark p-2">59170</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Desdemona</div>
        <div class="col-3 border border-dark p-2">0.18</div>
        <div class="col-3 border border-dark p-2">62680</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Titania</div>
        <div class="col-3 border border-dark p-2">3527</div>
        <div class="col-3 border border-dark p-2">435910</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Oberon</div>
        <div class="col-3 border border-dark p-2">3014</div>
        <div class="col-3 border border-dark p-2">583520</div>
    </div>
</div>

<p>Source: <a href = 'https://en.wikipedia.org/wiki/Moons_of_Uranus'>Wikipedia: Moons of Uranus</a>
    (Yes, it's okay to look up factual information on Wikipedia.</p>
<p>
    Assume all moons move in circles, rather than ellipses.
    All of the moon's listed have extremely low eccentricities (meaning they are very nearly circles).
</p>
<ol>
    <li>
        PLease copy: "Newton's Third Law states that when A exerts a force on B,
        B exerts a force on A with equal magnitude and opposite direction.
    </li>
    <li>
        <ol type = 'a'>
            <li>
                Determine the magnitude of the force of gravitation between Uranus and Ophelia.
            </li>
            <li>
                Draw a diagram depicting Uranus and Ophelia.
                In your diagram, represent two forces of gravity quantitatively as arrows.
            </li>
            <li>
                In a sentence, describe how your diagram is consistent with Newton's Third Law.
            </li>
        </ol>
    </li>
    <li>
        BONUS: All of the moons of Uranus are named after characters created by what famous author?
    </li>
</ol>



<div class="pageBreak"></div>

<h4>
    5: Newton's Law of Universal Gravitation Part 3 v3
</h4>
<h4>
    Name: _____________________
</h4>
<h4>
    Section: _____________________
</h4>


<p class = 'directions'>
    Write every formula before plugging any values into the formula.
    Write all values plugged into the formula before evaluating them
    with a calculator.
</p>

<p>
    Note that in the table below, mass is in terms of 10^24 kg.
</p>

<div class="container">
    <div class="row">
        <div class="col-3 border border-dark p-2"><strong>Planet</strong></div>
        <div class="col-3 border border-dark p-2"><strong>Mass</strong> (10^24 kg)</div>
        <div class="col-3 border border-dark p-2"><strong>Radius</strong> (km)</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Mercury</div>
        <div class="col-3 border border-dark p-2">0.3301</div>
        <div class="col-3 border border-dark p-2">2,440</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Venus</div>
        <div class="col-3 border border-dark p-2">4.867</div>
        <div class="col-3 border border-dark p-2">6,052</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Earth</div>
        <div class="col-3 border border-dark p-2">5.972</div>
        <div class="col-3 border border-dark p-2">6,371</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Mars</div>
        <div class="col-3 border border-dark p-2">0.6417</div>
        <div class="col-3 border border-dark p-2">3,390</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Jupiter</div>
        <div class="col-3 border border-dark p-2">1898</div>
        <div class="col-3 border border-dark p-2">69,910</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Saturn</div>
        <div class="col-3 border border-dark p-2">568.3</div>
        <div class="col-3 border border-dark p-2">58,230</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Neptune</div>
        <div class="col-3 border border-dark p-2">102.4</div>
        <div class="col-3 border border-dark p-2">24,620</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Uranus</div>
        <div class="col-3 border border-dark p-2">86.81</div>
        <div class="col-3 border border-dark p-2">25,360</div>
    </div>
</div>

<ol>
    <li>
        PLease copy: "Newton's Third Law states that when A exerts a force on B,
        B exerts a force on A with equal magnitude and opposite direction.
    </li>
    <li>
        A person with a mass of 65 kg is standing on the surface of Mercury.
        <ol type = 'a'>
            <li>
                Use the Law of Universal Gravitation to
                determine the force of gravity between this person and Mercury.
            </li>
            <li>
                Draw a (not to scale) diagram of the person and Mercury,
                in your diagram illustrate vectors
                showing the forces of gravity between this person and Mercury.
            </li>
            <li>
                One of the forces you drew above is, while it exists, entirely irrelevant.
                Explain why.
            </li>
            <li>
                Explain how the diagram you drew is consistent with Newton's Third Law.
            </li>
        </ol>
    </li>
    <li>
        Explain briefly why the radius of the planets was relevant to these
        problems by referring to Newton's Law of Universal Gravitation.
    </li>
    <li>
        Person A is at sea level on planet earth,
        while person B is 100 m above sea level.
        <ol type = 'a'>
            <li>
                Who experiences a stronger gravitational pull and why?
                Refer to Newton's Law of Universal Gravitation in your answer.
            </li>
            <li>
                Is this difference very important? Explain why or why not in two ways:
                by referring to the formula and by referring to your own life experience.
            </li>
        </ol>
    </li>
</ol>


<div class="pageBreak"></div>

<h4>
    6: Ballistic Pendulums v3
</h4>
<h4>
    Name: _____________________
</h4>
<h4>
    Section: _____________________
</h4>


<h4>
    Number 1:
</h4>
<p>
    A bullet of mass 250 grams moving at a speed 55 m/s strikes
    a pendulum of mass 3000 grams that is stationary.
    When the bullet strikes the pendulum, they stick together,
    and the pendulum begins to rise.
</p>

<p>
    Determine the height to which the pendulum rises to 2 significant figures of accuracy.
    The answer may or may not be a realistic value.
    Please show multiple steps of your derivation with your answer.
</p>

<h4>
    Number 2
</h4>

<p>
    A bullet of mass 80 grams moving at a velocity of 33 m/s strikes
    a pendulum of unknown mass that is stationary.
    When the bullet strikes the pendulum, they stick together,
    and the pendulum begins to rise.
    It rises 9 centimeters before it stops moving.
</p>

<p>
    Determine the mass of the pendulum of the bullet to 3 significant figures of accuracy.
    Please show multiple steps of your derivation with your answer.
</p>
