<p class = 'directions'>
    Use the formulas in the box below to solve each of the problems.
    Please show your work by filling in all necessary information in the boxes provided.
</p>

<table>
    <tr>
        <td class = 'equation'>
            $$ v_f = v_i + a \cdot \Delta t $$
        </td>
        <td class = 'equation'>
            $$ \Delta x = \left( \frac{v_f + v_i}{2} \right) \Delta t $$
        </td>
    </tr>
    <tr>
        <td class = 'equation'>
            $$ \Delta x = v_i \cdot \Delta t + \frac{1}{2} a \left( \Delta t \right)^2 $$
        </td>
        <td class = 'equation'>
            $$ v_f^2 = v_i^2 + 2 a \cdot \Delta x $$
        </td>
    </tr>
</table>
<div class = 'mediumSpace'></div>


<ol>
    <li class = 'physicsQuestion'>
        An object accelerates at a rate of 3 m/s<sup>2</sup> for a time of 5 seconds and ends
        at a final velocity of 22 m/s.
        What was its initial velocity?
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class = 'physicsQuestion'>
        An object with an initial velocity of 8 m/s accelerates at a rate of 2 m/s<sup>2</sup>
        for a time of 9 seconds.
        What is its displacement during this time?
        <div class = 'formulaSolvingTable'></div>
    </li>
    <div class="pageBreak"></div>
    <li class = 'physicsQuestion'>
        An object with an initial velocity of 8 m/s accelerates to a final velocity of 12 m/s
        and covers a displacement of 50 meters.
        How much time passed?
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class = 'physicsQuestion'>
        An object accelerates from an initial velocity velocity of 20 m/s for a time of 8 seconds and ends
        at a final velocity of 44 m/s.
        What was its acceleration?
        <div class = 'formulaSolvingTable'></div>
    </li>
</ol>


<div class="pageBreak"></div>

<ol>
    <li class = 'bigQuestion'>
        A stapler at rest falls off of a table and strikes the ground 0.235 seconds later.
        How tall is the table?
    </li>
    <div class = 'pageBreak'></div>
    <div class = 'smallSpace'></div>
    <li class = 'bigQuestion'>
        A car is driving, probably too fast, when it sees wall a distance of 15.0 meters in front of it.
        The car tries to slow down, but it hits the wall 0.654 seconds later while moving at a speed of 3.80 m/s.
        How fast was the car moving <emph>before</emph> it started slowing down.
    </li>
    <li class = 'bigQuestion'>
        A football is thrown downward with a speed of 15 m/s from a height of 0.683 meters.
        What speed will the football be moving immediately before it strikes the ground?
    </li>
</ol>

<div class="pageBreak"></div>

<p class = 'directions'>
    Using the graphs below, answer each of the questions asked.
    You must do so using one of the <i>kinematic equations</i>.
    Please write out each equation you use <i>before</i> plugging any numbers
    into the equation.
</p>

<ol>
    <li class = 'smallQuestion'><br>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md' id ='I1'></div>
                <div class = 'col-6-md'>
                    Determine the final velocity of the object.
                    Note that the graph is flat at t = 0.
                </div>
            </div>
        </div>
    </li>
    <!--    <li class = 'smallQuestion'><br> &lt;!&ndash;- Big problem with this question !-&ndash;&gt;-->
    <!--        <div class = 'container'>-->
    <!--            <div class = 'row'>-->
    <!--                <div class = 'col-6-md' id = 'I2'></div>-->
    <!--                <div class = 'col-6-md'>-->
    <!--                    Determine the acceleration of the object.-->
    <!--                    Note that the graph is flat at t = 0.8 s.-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->
    <div class = 'pageBreak'></div>
    <li class = 'smallQuestion'> <br>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md' id = "I3"></div>
                <div class = 'col-6-md'>
                    <ol type = 'a'>
                        <li>Determine the displacement of the object.</li>
                        <li>Determine the acceleration of the object.</li>
                    </ol>
                </div>
            </div>
        </div>
    </li>
    <li class = 'physicsQuestion'><br>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md' id = 'I4'></div>
                <div class = 'col-6-md'>
                    The following object has an initial velocity of 8 m/s.
                    <ol type = 'a'>
                        <li>Determine the final velocity of the object.</li>
                        <li>Determine the displacement of the object</li>
                    </ol>
                </div>
            </div>
        </div>

    </li>
</ol>

<script>
    /// function makeParabolicPTgraph(tMax, positionMax, acceleration, initialVelocity, initialPosition)
    let I1 = makeParabolicPTgraph(20,undefined,3,0,0);
    $("#I1").append(I1.drawCanvas(300,300));

    // let I2 = makeParabolicPTgraph(0.8, undefined, -0.02, 0.016, 0); <!-- ???? this graph is a line! -->
    // $("#I2").append(I2.drawCanvas(300,300));

    let I3 = new QuantitativeGraph(0,20,0,3);
    I3.labelAxes('time (s)', 'velocity (m/s)');
    I3.addReferenceArray([4,8,12,16,20],[.5,1.5,2,2.5,3]);
    I3.addSegmentWithCirclesOnEnds(0,2.5,20,0);
    $("#I3").append(I3.drawCanvas(300,300));

    let I4 = new QuantitativeGraph(0,0.5,-5,0);
    I4.labelAxes('time (s)', 'acceleration (m/s/s)');
    I4.addReferenceArray([0.5],[-3]);
    I4.addSegmentWithCirclesOnEnds(0,-3,0.5,-3);
    $("#I4").append(I4.drawCanvas(300,300));
</script>


<div class="pageBreak"></div>
<p class = 'directions'>
    Use the position-time graphs below to create corresponding velocity-time and acceleration-time graphs.
    You must complete each problem without the use of a graphing calculator.
    When solving each problem, please write down any formulas you use before plugging numbers into them.
    You must show the kinematic equations you use in order to solve the problems.
    <br>
    If you do know calculus, please also solve the problems without using differentiation or integration.
    If you know how to use these methods, you may do them as well,
    but I want to see that you know how to figure out the problems using algebra alone.
</p>

<ol>
    <li class = 'physicsQuestion'><br>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md' id = "K1-position"></div>
                <div class = 'col-6-md'>
                    Note that the curve is flat at t = 0.
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-6-md' id = 'K1-velocity'></div>
                <div class = 'col-6-md' id = 'K1-acceleration'></div>
            </div>
        </div>
    </li>
    <div class = 'pageBreak'>MORE ON THE BACK!</div>
    <li class = 'physicsQuestion'><br>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md' id = "K2-position"></div>
                <div class = 'col-6-md'>Note that the curve is flat at t = 12 s.</div>
            </div>
            <div class = 'row'>
                <div class = 'col-6-md' id = 'K2-velocity'></div>
                <div class = 'col-6-md' id = 'K2-acceleration'></div>
            </div>
        </div>
    </li>
</ol>

<script>
    // function makeParabolicPTgraph(tMax, positionMax, acceleration, initialVelocity, initialPosition) {

    let K1positon = makeParabolicPTgraph(9,undefined,4);
    K1positon.addReferenceArray([3,6],[]);
    $("#K1-position").append(K1positon.drawCanvas(300,300));

    let K1velocity = new QuantitativeGraph(0,9,0,48);
    K1velocity.addReferenceArray([3,6,8],[12,24,36,48]);
    K1velocity.labelAxes('time (s)', 'velocity (m/s)');
    $("#K1-velocity").append(K1velocity.drawCanvas(300,300));

    let K1acceleration = new QuantitativeGraph(0,9,-8,8);
    K1acceleration.addReferenceArray([3,6,9],[-8,-4,4,8]);
    K1acceleration.labelAxes('time (s)', 'acceleration (m/s/s)');
    $("#K1-acceleration").append(K1acceleration.drawCanvas(300,300));

    let K2position = makeParabolicPTgraph(12,undefined,-3,36);
    K2position.addReferenceArray([],[]);
    $("#K2-position").append(K2position.drawCanvas(300,300));

    let K2velocity = new QuantitativeGraph(0,12,0,48);
    K2velocity.labelAxes('time (s)', 'velocity (m/s)');
    K2velocity.addReferenceArray([4,8,12],[12,24,36,48]);
    $("#K2-velocity").append(K2velocity.drawCanvas(300,300));

    let K2acceleration = new QuantitativeGraph(0,12,-3,3);
    K2acceleration.labelAxes('time (s)', 'acceleration (m/s/s)');
    K2acceleration.addReferenceArray([4,8,12],[-3,3]);
    $("#K2-acceleration").append(K2acceleration.drawCanvas(300,300));

</script>


<div class="pageBreak"></div>
<p class = 'directions'>
    Use the acceleration-time graphs below to create corresponding position-time and acceleration-time graphs.
    You must complete each problem without the use of a graphing calculator.
    When solving each problem, please write down any formulas you use before plugging numbers into them.
    You must show the kinematic equations you use in order to solve the problems.
    <br>
    If you do know calculus, please also solve the problems without using differentiation or integration.
    If you know how to use these methods, you may do them as well,
    but I want to see that you know how to figure out the problems using algebra alone.
</p>

<ol>
    <li class = 'physicsQuestion'><br>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md' id = "M1-acceleration"></div>
                <div class = 'col-6-md'>
                    Initial Position = 0.
                    <br>
                    Initial Velocity = 0 m/s.
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-6-md' id = 'M1-position'></div>
                <div class = 'col-6-md' id = 'M1-velocity'></div>
            </div>
        </div>
    </li>
    <div class = 'pageBreak'>MORE ON THE BACK!</div>
    <li class = 'physicsQuestion'><br>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md' id = "M2-acceleration"></div>
                <div class = 'col-6-md'>
                    Initial Position = 0
                    Initial Velocity = 12 m/s
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-6-md' id = 'M2-position'></div>
                <div class = 'col-6-md' id = 'M2-velocity'></div>
            </div>
        </div>
    </li>
</ol>


<script>
    let M1acceleration = new QuantitativeGraph(0,10,0,8);
    M1acceleration.labelAxes('time (s)', 'acceleration (m/s/s)');
    M1acceleration.addReferenceArray([5,10],[2,4,6,8]);
    M1acceleration.addSegmentWithCirclesOnEnds(0,6,10,6);
    $("#M1-acceleration").append(M1acceleration.drawCanvas(300,300));

    let M1velocity = new QuantitativeGraph(0,10,0,80);
    M1velocity.labelAxes('time (s)', 'velocity (m/s)');
    M1velocity.addReferenceArray([5,10],[20,40,60,80]);
    $("#M1-velocity").append(M1velocity.drawCanvas(300,300));

    let M1position = new QuantitativeGraph(0,10,0,400);
    M1position.labelAxes('time (s)', 'position (m)');
    M1position.addReferenceArray([5,10],[100,200,300,400]);
    $("#M1-position").append(M1position.drawCanvas(300,300));

    let M2acceleration = new QuantitativeGraph(0,0.6,-25,0);
    M2acceleration.labelAxes('time (s)', 'acceleration (m/s/s)');
    M2acceleration.addReferenceArray([0.2,0.4,0.6],[-10,-20]);
    M2acceleration.addSegmentWithCirclesOnEnds(0,-20,0.6,-20);
    $("#M2-acceleration").append(M2acceleration.drawCanvas(300,300));

    let M2velocity = new QuantitativeGraph(0,0.6,0,20);
    M2velocity.labelAxes('time (s)', 'velocity (m/s)');
    M2velocity.addReferenceArray([0.2,0.4,0.6],[4,8,12,16,20]);
    $("#M2-velocity").append(M2velocity.drawCanvas(300,300));

    let M2position = new QuantitativeGraph(0,0.6,0,7);
    M2position.labelAxes('time (s)', 'position (m)');
    M2position.addReferenceArray([0.2,0.4,0.6],[2.16,4.32,6.48]);
    $("#M2-position").append(M2position.drawCanvas(300,300));

</script>

<div class="pageBreak"></div>

<p class = 'directions'>
    Use principles of electrical circuits to find the voltage, current, resistance, and power
    of each circuit written and the total circuit.
</p>

<ol>
    <li class = 'physicsQuestion'><br>
        <div id = 'problem-C1'></div>
    </li>
    <div class = 'smallSpace'></div>
    <li class = 'physicsQuestion'><br>
        <div id = 'problem-C2'></div>
    </li>
    <div class="pageBreak"></div>
    <div class = 'smallSpace'></div>
    <li class = 'physicsQuestion'><br>
        <div id = 'problem-C3'></div>
    </li>
    <li class = 'physicsQuestion'><br>
        <div id = 'problem-C4'></div>
    </li>
</ol>

<script>
    // function makeCircuitProblem(type, voltage, resistorArray, powerRowBoolean) {
    $("#problem-C1").append(makeCircuitProblem('parallel',18,[6,3,9]));
    $("#problem-C2").append(makeCircuitProblem('series',20,[4,5,1]));
    $("#problem-C3").append(makeCircuitProblem('parallel',10,[1,2,2]));
    $("#problem-C4").append(makeCircuitProblem('series',15,[1,3,1]));
</script>


<div class = 'pageBreak'></div>


<p class="directions">
    For each of the numbers listed below,
    write the number in correct scientific notation.
    If it is already in correct scientific notation,
    indicate this in your answer.
</p>

<ol type = 'A'>
    <li class = 'mt-4 mb-4'>
        \( 23.56 \cdot 10^{20} \)
    </li>
    <li class="mb-4">
        \( 0.0025 \cdot 10^{12} \)
    </li>
    <li class="mb-4">
        \( 124 \cdot 10^{15} \)
    </li>
    <li class="mb-4">
        \( 1.56 \cdot 10^{-9} \)
    </li>
</ol>


<h5>
    Problem 1
</h5>
<div class="container">
    <div class="row">
        <div class="col-12 border border-dark">
            Someone fires a bow and arrow across the room to the right
            and into a wall.
            The arrow travels fast enough that it barely falls during its motion.
            Consider the motion from the moment that the arrow is no
            longer in contract with the bow until the moment
            immediately before it touches the wall.
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-dark">
            Direction of Velocity:
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-12 border border-dark">
                        Choice A
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark" id = 'choice_A'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        Direction of net force:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        If this choice A were true, the arrow would __________________.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-12 border border-dark">
                        Choice B
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark" id = 'choice_B'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        Direction of net force:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        If this choice B were true, the arrow would __________________.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = 'col-12 border border-dark'>
            When observing the motion of the arrow,
            we see that it is _____________________.
            Therefore, the correct answer must be ___________.
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-dark">
            Of the forces in the answer choices above,
            which one does not exist?
            <br><br><br>
            Explain briefly why this force cannot exist:
        </div>
    </div>
</div>

<script>
    let choice_A = fastFBD([['down','gravity'],['right','bow force']]);
    let choice_B = fastFBD([['down','gravity']]);
    $("#choice_A").append(choice_A.drawCanvas(150));
    $("#choice_B").append(choice_B.drawCanvas(150));
</script>


<h5>
    Problem 2
</h5>
<div class="container">
    <div class="row">
        <div class="col-12 border border-box">
            Somebody is lifting up a heavy tool box.
            Consider the motion of the tool box for
            <emph>most of the way up</emph>,
            not at the top of the end of the motion.
            During this period, the person is lifting the box
            at a constant velocity.
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-dark">
            Direction of Velocity:
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 border border-dark">
                        Choice C
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark" id = 'choice_C'></div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        Direction of Net Force:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        If choice C was true, the tool box would _________________.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 border border-dark">
                        Choice D
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark" id = 'choice_D'></div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        Direction of Net Force:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        If choice D was true, the tool box would _________________.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 border border-dark">
                        Choice E
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark" id = 'choice_E'></div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        Direction of Net Force:
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 border border-dark">
                        If choice E was true, the tool box would _________________.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-dark">
            When observing the motion of the tool box, we observe that it
            is _________________.
            Therefore, the correct answer must be _____________.
        </div>
    </div>
</div>

<script>
    let choice_C = fastFBD([['up','applied',1],['down','gravity',2]]);
    let choice_D = fastFBD([['up','applied',2],['down','gravity',2]]);
    let choice_E = fastFBD([['up','applied',3],['down','gravity',2]]);

    $("#choice_C").append(choice_C.drawCanvas(150));
    $("#choice_D").append(choice_D.drawCanvas(150));
    $("#choice_E").append(choice_E.drawCanvas(150));
</script>