<h3>
    Note on vectors and scalars:
</h3>
<ul>
    <li>
        Every quantity is a vector or a scalar.
    </li>
    <li>
        Vectors have both magnitude and direction, where scalars have only magnitude.
    </li>
    <li>
        All vectors are written with an arrow over them.
    </li>
    <li>
        The magnitude of each vector is a scalar, and can be written as the vector in absolute value signs or the vector without an arrow.
    </li>
    <li>
        All vectors can be broken into components, which are typically written as the vector with \( x \) and \( y \) subscripts.
    </li>
    <li>
        Vector components are scalars.
    </li>
</ul>



<h2>
    Variables
</h2>

<h3>
    Length Variables
</h3>

<ul>
    <li>
        Position
        <ul>
            <li>
                Symbol:  \( \overrightarrow{x} \) or \( \overrightarrow{r} \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI unit: meter (m)
            </li>
            <li>
                Note: The components are given as \( x \), \( y \), and \( z \).
            </li>
            <li>
                Definition: A vector pointing from one point, called the origin, to the location of an object.
            </li>
            <li>
                Note: The origin is a point determined by the physicist and must be consistent through the problem.
            </li>
        </ul>
    </li>
    <li>
        Displacement
        <ul>
            <li>
                Symbol: \( \Delta x \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI unit: meter (m)
            </li>
            <li>
                Definition: Change in position
            </li>
            <li>
                Note: Represents how much position changes in a situation.
            </li>
            <li>
                Note: Independent of the origin
            </li>
        </ul>
    </li>
    <li>
        Distance
        <ul>
            <li>
                Symbol: \( d \)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: meters (m)
            </li>
            <li>
                Definition: The total amount a person moves in some time
            </li>
            <li>
                Note: Distance is path dependent
            </li>
        </ul>
    </li>
    <li>
        Height
        <ul>
            <li>
                Symbol: \( h \)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: meters (m)
            </li>
            <li>
                Definition: Another term for the vertical component of position \( y \).
            </li>
            <li>
                Note: Always defined relative to some zero-point height (the vertical position of the origin.)
            </li>
        </ul>
    </li>
    <li>
        Radius
        <ul>
            <li>
                Symbol: \( r \)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: meters (m)
            </li>
            <li>
                Definition: Distance from the center of a circle to the outside of the circle.
            </li>
            <li>
                Note: The variable \( r \) is also used to refer to the magnitude of position. (This notation is related to the mathematical concept of polar coordinates.)
            </li>
        </ul>
    </li>
    <li>
        Length
        <ul>
            <li>
                Symbol: \( l \)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: meters (m)
            </li>
        </ul>
    </li>
</ul>

<h3>Area</h3>
    <ul>
        <li>
            Symbol: \( A \)
        </li>
        <li>
            Type: Scalar
        </li>
        <li>
            SI Unit: meter-squared (m^2)
        </li>
    </ul>

<h3>
    Volume
</h3>

<ul>
    <li>
        Volume
        <ul>
            <li>
                Symbol: \( V \)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: meter-cubed (m^3)
            </li>
        </ul>
    </li>
</ul>

<h3>
    Time Variables
</h3>

<ul>
    <li>
        Time
        <ul>
            <li>
                Symbol: \( t \)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: second (s)
            </li>
        </ul>
    </li>
    <li>
        Time Interval
        <ul>
            <li>
                Symbol: \( \Delta t \)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: second (s)
            </li>
        </ul>
    </li>
    <li>
        Period
        <ul>
            <li>
                Symbol: \( T \)
            </li>
            <li>
                Type: scalar
            </li>
            <li>
                SI unit: second (s)
            </li>
            <li>
                Definition: Time for a repeating process to occur.
            </li>
        </ul>
    </li>
</ul>

<h3>
    Speed Variables
</h3>

<ul>
    <li>
        Average Velocity
        <ul>
            <li>
                Symbol: \( \bar{v} \) or (more properly, but awkward \( \bar{\overrightarrow{v}} \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: meters per second (m/s)
            </li>
            <li>
                Definition: Displacement divided by time.
            </li>
            <li>
                Note: Average velocity is always defined over a time interval.
            </li>
            <li>
                Note: It is best to write out 'average velocity' and 'average speed' because the symbols of magnitude of average velocity and average speed are the same, but these variables are not the same.
            </li>
        </ul>
    </li>
    <li>
        Average Speed
        <ul>
            <li>
                Symbol: \( \bar{v} \) (better to write out)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: meters per second (m/s)
            </li>
            <li>
                Definition: Distance divided by time.
            </li>
            <li>
                Note: Average speed is always defined over a time interval.
            </li>
            <li>
                Note: It is best to write out 'average velocity' and 'average speed' because the symbols of magnitude of average velocity and average speed are the same, but these variables are not the same.
            </li>
        </ul>
    </li>
    <li>
        Velocity
        <ul>
            <li>
                Symbol: \( \overrightarrow{v} \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: meters per second (m/s)
            </li>
            <li>
                Also called <strong>instantaneous velocity</strong>.
            </li>
            <li>
                Definition: Unfortunately, velocity cannot be formally defined without the use of calculus.
                Conceptually, it is the average velocity (displacement divided by time)
                measured over a very short time interval.
            </li>
            <li>
                For objects moving at a constant velocity, velocity is defined by the same formulas a average velocity (displacement divided by time).
            </li>
        </ul>
    </li>
    <li>
        Speed
        <ul>
            <li>
                Symbol: \( v \) or \( | \overrightarrow{v} | \)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: meters per second (m/s)
            </li>
            <li>
                Also called <strong>instantaneous speed</strong>.
            </li>
            <li>
                Definition: The magnitude of the velocity vector.
            </li>
        </ul>
    </li>
    <li>
        Initial Velocity
        <ul>
            <li>
                Symbol: \( \overrightarrow{v_i} \)
            </li>
            <li>
                Type: vector
            </li>
            <li>
                SI Unit: meters per second (m/s)
            </li>
            <li>
                Definition: The value of the velocity at the beginning of a time interval.
            </li>
        </ul>
    </li>
    <li>
        Final Velocity
        <ul>
            <li>
                Symbol: \( \overrightarrow{v_f} \)
            </li>
            <li>
                Type: vector
            </li>
            <li>
                SI Unit: meters per second (m/s)
            </li>
            <li>
                Definition: The value of the velocity at the end of a time interval.
            </li>
        </ul>
    </li>
    <li>
        Initial Velocity (form-2)
        <ul>
            <li>
                Symbol: \( \overrightarrow{v_0} \)
            </li>
            <li>
                Type: vector
            </li>
            <li>
                SI Unit: meters per second (m/s)
            </li>
            <li>
                Definition: The value of the velocity at time = 0.
            </li>
            <li>
                Note: More appropriate than \( v_i \) when equations are written as functions of time \( t \) rather than in terms of time intervals \( \Delta v \).
            </li>
            <li>
                Note: pronounced "v-naught.'
            </li>
        </ul>
    </li>
</ul>

<h3>
    Acceleration Variables
</h3>

<ul>
    <li>
        Acceleration
        <ul>
            <li>
                Symbol: \( \overrightarrow{a} \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: meters per second per second (m/s/s or m/s^2)
            </li>
            <li>
                Definition: If acceleration is constant, it be defined as change in velocity divided by change in time (average acceleration).
            </li>
            <li>
                Definition: IF acceleration is not constant, we cannot write a formula definition without calculus,
                but conceptually it is still change in velocity divided by change in time over a very short time interval.
            </li>
            <li>
                Note: In most the AP Physics 1 curriculum, because it is an algebra-based physics class, acceleration is typically a constant variable
                and it is not necessary to distinguish between acceleration and average acceleration. However, it is good to know that this distinction exists.
            </li>
        </ul>
    </li>
    <li>
        Free-Fall Acceleration / Gravitational Field
        <ul>
            <li>
                Symbol: \( \overrightarrow{g} \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: m/s/s or Newtons per kilogram
            </li>
            <li>
                Definition 1: Free-Fall Acceleration
                <ul>
                    <li>
                        The rate of acceleration for all objects in free-fall (experiencing no forces but gravity)
                    </li>
                    <li>
                        A property of a planet (typically given for the surface of that planet)
                    </li>
                    <li>
                        A vector whose direction is always downward (towards teh center of the planet)
                    </li>
                    <li>
                        Equal to 9.81 m/s/s in most locations on earth's surface
                    </li>
                </ul>
            </li>
            <li>
                Definition 2: Gravitational Field
                <ul>
                    <li>
                        The force of gravity on a unit mass at some location.
                    </li>
                    <li>
                        Property of a position (can be any position in the universe).
                    </li>
                    <li>
                        Note that all "field" variables are properties of position. Gravitational field is the only field variable in AP Physics 1.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Centripetal Acceleration
        <ul>
            <li>
                Symbol: \( a_C \)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI unit: m/s/s
            </li>
            <li>
                Typical Definition: The component of acceleration pointing towards the center of a circle for an object in circular motion.
            </li>
            <li>
                More General Definition: The component of acceleration perpendicular to velocity.
            </li>
            <li>
                Equal to speed divided by the radius squared for an object moving in a circle at a constant speed.
            </li>
        </ul>
    </li>
</ul>

<h3>
    Mass
</h3>

<ul>
    <li>
        Inertial Mass and Gravitational Mass
        <ul>
            <li>
                Symbol: \( m \)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: kilogram (kg)
            </li>
            <li>
                Definition 1: Inertial Mass: An object's resistance to changes in velocity. (Formally defined by Newton's Second Law \( \Sigma F = m a \)).
            </li>
            <li>
                Definition 2: Gravitational Mass: An object's ability to attract other objects. (Formally defined by Newton's Law of Universal Gravitation \( F_g = \frac{G m_1 m_2}{d^2} \).
            </li>
            <li>
                Note: A definition more commonly seen in chemistry ("the amount of matter") is NOT an official definition of mass in physics.
            </li>
            <li>
                Note: Inertial and Gravitational Mass Are technically <strong>two different quantities</strong> that have the same value.
            </li>
        </ul>
    </li>
</ul>

<h3>
    Individual Forces
</h3>

<p>
    The SI unit of all forces is the "Newton," where a Newton is defined as (kg m / s^2) in base units.
</p>

<ul>
    <li>
        Gravitational Force on a Planet
        <ul>
            <li>
                Symbol: \( F_g \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: Newton (N)
            </li>
            <li>
                Magnitude is given by the mass of an object times the gravitational field on that planet (F_g = mg)
            </li>
            <li>
                Direction is always downwards (towards the center of a planet).
            </li>
        </ul>
    </li>
    <li>
        Force of Universal Gravitation
        <ul>
            <li>
                Symbol: \( F_g \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: Newton (N)
            </li>
            <li>
                Definition: A force of attraction that exists between any two objects in the universe.
            </li>
            <li>
                Magnitude is given by Newton's Law of Universal Gravitation: \( F_g = \frac{G m_1 m_2}{d^2} \).
            </li>
            <li>
                Direction is always towards the other object.
            </li>
        </ul>
    <li>
        Normal Force
        <ul>
            <li>
                Symbol: \( F_N \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: Newton (N)
            </li>
            <li>
                The force between an object and some surface, such as a floor, wall, or chair.
            </li>
            <li>
                The direction is always perpendicular to the surface. (normal = perpendicular)
            </li>
            <li>
                A constraint force: Its magnitude is always the value necessary for some constraint to apple. Practically, to determine the magnitude of normal force you must find the net force on the object first.
            </li>
        </ul>
    </li>
    <li>
        Applied Force
        <ul>
            <li>
                Symbol: \( F_A \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: Newton (N)
            </li>
            <li>
                A force intentionally applied by some human.
            </li>
            <li>
                Magnitude and direction are determined by the human applying the force.
            </li>
        </ul>
    </li>
    <li>
        Tension
        <ul>
            <li>
                Symbol: \( F_T \) or \( T \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: Newton (N)
            </li>
            <li>
                The force applied by a tight rope.
            </li>
            <li>
                Practically, tension is often either a constraint force (similar to normal force) or an applied force.
            </li>
            <li>
                Note: Tension is zero if a rope is not taut.
            </li>
        </ul>
    </li>
    <li>
        Kinetic Frictional Force
        <ul>
            <li>
                Symbol: \( F_f \), \( F_{fr} \), or \( F_{frk} \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: Newton (N)
            </li>
            <li>
                The force that acts to stop an object from sliding. It acts between an object and a surface whenever the object is sliding on the surface.
            </li>
            <li>
                The magnitude is given by \( F_{frk} = \mu_k F_N \)
            </li>
            <li>
                The direction is always opposed to the direction an object is sliding.
            </li>
        </ul>
    </li>
    <li>
        Static Frictional Force
        <ul>
            <li>
                Symbol: \( F_f \), \( F_{fr} \), or \( F_{frk} \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: Newton (N)
            </li>
            <li>
                Force that prevents an object from sliding on a surface.
            </li>
            <li>
                A constant force whose magnitude and direction are the necessary value for an object to not slide.
            </li>
            <li>
                It can be any magnitude up to some maximum magnitude given by \( \mu_s F_N \). If the force(s) opposed to static friction exceed its maximum value, an object will begin sliding.
            </li>
            <li>
                Note: The maximum value of static friction is always greater than kinetic friction between the same two surfaces.
            </li>
            <li>
                Note: The actual magnitude of static friction will rarely, if ever, equal its maximum value.
            </li>
            <li>
                Note: the word "sliding" and not "moving" is used in the official definition of static friction. There are situations when an object moves but does not slide, such as a book on a table that is being carried.
            </li>
        </ul>
    </li>
    <li>
        Spring Force
        <ul>
            <li>
                Symbol: \( F_S \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: Newton (N)
            </li>
            <li>
                The force exerted by a spring that has been either stretched or compressed.
            </li>
            <li>
                Its magnitude is given by the spring constant times the displacement of the spring from its equilibrium length. ( F_s = k (\Delta x) ).
            </li>
            <li>
                Its direction is always in the direction necessary to return the spring to its equilibrium length.
            </li>
        </ul>
    </li>
</ul>

<h3>
    Variables that are Dimensionally Force that are NOT individual forces
</h3>

<p>
    These are quantities that have the same dimensions as forces,
    but are not individual forces and thus would not appear on a free-body diagram.
</p>

<ul>
    <li>
        Net Force
        <ul>
            <li>
                Symbol: \( \Sigma \overrightarrow{F} \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: Newton (N)
            </li>
            <li>
                The vector sum of all forces acting on an object.
            </li>
            <li>
                A crucial variable in Newton's Second Law, \( a = \frac{\Sigma F}{m} \), which relates the forces on an object to its motion.
            </li>
        </ul>
    </li>
    <li>
        Centripetal Force
        <ul>
            <li>
                Symbol: \( F_C \)
            </li>
            <li>
                Type: Scalar (This is because the components of vectors are scalars.)
            </li>
            <li>
                SI Unit: Newton (N)
            </li>
            <li>
                Definition 1: The summation of forces acting towards the center of a circle for an object in circular motion.
            </li>
            <li>
                Definition 2: The component of net force that is perpendicular to the velocity of an object.
            </li>
            <li>
                For an object to move in a circle at a constant velocity, the centripetal force must be equal to \( \frac{m v}{r^2} \).
            </li>
        </ul>
    </li>
</ul>


<h3>
    Spring Constant
</h3>

<ul>
    Spring Constant
    <li>
        Symbol: \( k \)
    </li>
    <li>
        Type: Scalar
    </li>
    <li>
        SI Unit: Newton per meter (N / m); also (kg /^2)
    </li>
    <li>
        A measurement of how tight or loose a spring is.
    </li>
    <li>
        Defined by Hooke's Law: \( F_s = k (l - l_0 ) \).
    </li>
    <li>
        Equal to the force exerted by a spring divided by how far the spring is stretched or compressed.
    </li>
</ul>

<h3>
    Momentum
</h3>

<ul>
    <li>
        Momentum
        <ul>
            <li>
                Symbol: \( \overrightarrow{p} \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: kg m/s (no special name)
            </li>
            <li>
                Definition: mass times velocity: \( ( \overrightarrow{p} = m \overrightarrow{v} ) \)
            </li>
            <li>
                Always has the same direction as velocity.
            </li>
            <li>
                The magnitude equal to the amount of impulse that must be applied to an object opposite its velocity to make it stop moving.
            </li>
        </ul>
    </li>
    <li>
        Impulse
        <ul>
            <li>
                Symbol: \( \overrightarrow{J} \) or \( \Delta \overrightarrow{p} \)
            </li>
            <li>
                Type: Vector
            </li>
            <li>
                SI Unit: kg m/s
            </li>
            <li>
                Definition: Change in momentum.
            </li>
            <li>
                According to Newton's Second Law, the impulse provided by one force is equal to that force times time interval over which the force is applied.
            </li>
            <li>
                \( \overright{J} = \left( \Sigma \overrightarrow F \right) \left( \Delta t \right) = \Delta \overrightarrow{p}
            </li>
        </ul>
    </li>
</ul>

<h3>
    Energy Variables
</h3>


<h3>
    Power
</h3>

<h3>
    Dimensionless Variables
</h3>

<h3>
    Frequency Variables
</h3>

<h3>
    Angular Acceleration
</h3>

<h3>
    Moment of Inertia
</h3>

<h3>
    Toque
</h3>

<h3>
    Angular Momentum
</h3>


<h3>
    Density
</h3>

<ul>
    <li>
        Density
        <ul>
            <li>
                Symbol: \( \rho \)  (The Greek letter "rho," not a p.)
            </li>
            <li>
                Type: Scalar
            </li>
            <li>
                SI Unit: kg / m^3
            </li>
            <li>
                Definition: An objects mass divided by its volume.
            </li>
        </ul>
    </li>
</ul>