<h1>
    Physics A December Quiz
</h1>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'md-col-6' id = 'rampA'></div>
        <div class = 'md-col-6' id = 'rampB'></div>
    </div>
    <div class = 'row'>
        <div class ='md-col-6' id = 'rampC'></div>
        <div class ='md-col-6' id = 'rampD'></div>
    </div>
</div>

<p>
    Using the conservation of energy, fill out the table below:
</p>

<div id = 'energyTable'></div>

<div class = 'pageBreak'></div>

<ol>
    <li class = 'smallQuestion'>
        At what point is the ball moving the fastest? Why?
    </li>
    <li class = 'smallQuestion'>
        As the ball rolls down the ramp, does kinetic energy increase, decrease, or remain the same?
    </li>
    <li class = 'smallQuestion'>
        As the ball rolls down the ramp, does gravitational potential energy increase, decrease, or remain the same?
    </li>
    <li class = 'smallQuestion'>
        As the ball rolls down the ramp, does total energy increase, decrease, or remain the same?
    </li>
</ol>

<script>
    const ballRadius = 0.2;
    function drawRamp(letter, ballPosition) {
        // ball position is from 0 to 1
        // the function doesn't work correctly if it is equal to 0 or 1
        let myDiagram = new DiagramF();
        let endOfRamp1 = origin;
        let topOfRamp = myDiagram.addNewPoint(1,0);
        let bottomOfRamp = myDiagram.addNewPoint(3,-2);
        let endOfRamp2 = myDiagram.addNewPoint(4,-2);

        myDiagram.addText(letter, new PointF(3,-0.5), 0.5);
        myDiagram.addSegment(endOfRamp1, topOfRamp);
        let rampSegment = myDiagram.addSegment(topOfRamp, bottomOfRamp);
        myDiagram.addSegment(bottomOfRamp, endOfRamp2);

        let centerBallPoint =  topOfRamp.interpolate(bottomOfRamp, ballPosition);
        myDiagram.addCircle(centerBallPoint, ballRadius);

        let phi = rampSegment.getPerpendicularAngle();
        centerBallPoint.translate(ballRadius * Math.cos(phi), ballRadius * Math.sin(phi));

        return myDiagram
    }

    let rampA = drawRamp('A',0.03);
    let rampB = drawRamp('B',0.3);
    let rampC = drawRamp('C',0.6);
    let rampD = drawRamp('D',0.97);

    $("#rampA").append(rampA.drawCanvas(300,300));
    $("#rampB").append(rampB.drawCanvas(300,300));
    $("#rampC").append(rampC.drawCanvas(300,300));
    $("#rampD").append(rampD.drawCanvas(300,300));

    let energyTable = new EnergyTable(4, ['ke','gpe','total_e']);
    energyTable.writeTextInCell(1,1,'0');
    energyTable.writeTextInCell(1,2,'80');
    energyTable.writeTextInCell(2,2,'50');
    energyTable.writeTextInCell(3,1,'60');
    energyTable.writeTextInCell(4,2,'0');
    $("#energyTable").append(energyTable.draw(400,300));

</script>

<div class="pageBreak"></div>


<div class = 'container'>
    <div class = 'row'>
        <div class = 'md-col-6'>
            <p class = 'equation'>
                \( KE = \frac{1}{2} m v^2 \)
            </p>
        </div>
        <div class = 'md-col-6'>
            <p class = 'equation'>
                \( GPE = mgh \)
            </p>
        </div>
    </div>
</div>

<p class = 'directions'>
    Write every formula you use before you use it!
</p>


<ol>
    <li class="tinyQuestion">
        An object has a speed of 5.0 m/s
        and a mass of 4.0 kg.
        What is its kinetic energy?
        {{>formulaSolvingTable}}
    </li>
    <li class="tinyQuestion">
        An object has a mass of 10. kg
        and a height of 20. m.
        What is its gravitational potential energy?
        {{>formulaSolvingTable}}
    </li>
    <div class = 'pageBreak'></div>
    <li class="tinyQuestion">
        An object has a mass of 4.0 kg and a kinetic energy
        of 100. Joules.
        What is its speed?
        {{>formulaSolvingTable}}
    </li>
    <li class="tinyQuestion">
        An object has a mass of 8.0 kg and 400. Joules
        of gravitational potential energy.
        What is its height?
        {{>formulaSolvingTable}}
    </li>
</ol>

<div class="pageBreak"></div>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'md-col-6' id = 'rampA'></div>
        <div class = 'md-col-6' id = 'rampB'></div>
    </div>
    <div class = 'row'>
        <div class ='md-col-6' id = 'rampC'></div>
        <div class ='md-col-6' id = 'rampD'></div>
    </div>
</div>

<p class = 'directions'>
    Write every formula you use before you use it!
</p>

<p>
    A ball of unknown mass rolls down a ramp of unknown height,
    and at the bottom has a speed of 4.8 m/s
    and a kinetic energy of 92.16 Joules.
</p>

<p>
    First, determine the mass of the ball:
</p>
{{>formulaSolvingTable}}


<div class = 'pageBreak'></div>

<p>
    Second, use the Law of Conservation of Energy
    and the formulas for kinetic and gravitational potential energy
    to complete the table below.
    Assume that the ball loses no energy to friction or air resistance as it falls.
</p>

<div id = 'energyTable'></div>

<script>
    const ballRadius = 0.2;
    function drawRamp(letter, ballPosition) {
        // ball position is from 0 to 1
        // the function doesn't work correctly if it is equal to 0 or 1
        let myDiagram = new DiagramF();
        let endOfRamp1 = origin;
        let topOfRamp = myDiagram.addNewPoint(1,0);
        let bottomOfRamp = myDiagram.addNewPoint(3,-2);
        let endOfRamp2 = myDiagram.addNewPoint(4,-2);

        myDiagram.addText(letter, new PointF(3,-0.5), 0.5);
        myDiagram.addSegment(endOfRamp1, topOfRamp);
        let rampSegment = myDiagram.addSegment(topOfRamp, bottomOfRamp);
        myDiagram.addSegment(bottomOfRamp, endOfRamp2);

        let centerBallPoint =  topOfRamp.interpolate(bottomOfRamp, ballPosition);
        myDiagram.addCircle(centerBallPoint, ballRadius);

        let phi = rampSegment.getPerpendicularAngle();
        centerBallPoint.translate(ballRadius * Math.cos(phi), ballRadius * Math.sin(phi));

        return myDiagram
    }

    let rampA = drawRamp('A',0.03);
    let rampB = drawRamp('B',0.3);
    let rampC = drawRamp('C',0.6);
    let rampD = drawRamp('D',0.97);

    $("#rampA").append(rampA.drawCanvas(400,400));
    $("#rampB").append(rampB.drawCanvas(400,400));
    $("#rampC").append(rampC.drawCanvas(400,400));
    $("#rampD").append(rampD.drawCanvas(400,400));


    let energyTable = new EnergyTable(4, ['speed', 'height', 'ke', 'gpe', 'total_e'])
    energyTable.writeTextInCellKeys('A', 'speed', 0);
    energyTable.writeTextInCellKeys('C', 'speed', 3.3);
    energyTable.writeTextInCellKeys('D', 'speed', 4.8);
    energyTable.writeTextInCellKeys('B', 'height', 0.85);
    energyTable.writeTextInCellKeys('D', 'height', 0);
    energyTable.writeTextInCellKeys('D', 'ke', 92.16)
    $("#energyTable").append(energyTable.draw(500,500));
</script>

<div class="pageBreak"></div>

<h1>
    Honors Physics December Quiz
</h1>


<div class="bigSpace"></div>
<h4>
    Name: _______________________________________
</h4>
<div class="bigSpace"></div>

<ul>
    <li class = "mb-5">
        \( KE = \frac{1}{2} m v^2 \)
    </li>
    <li class = "mb-5">
        \( GPE = mgh \)
    </li>
    <li class = "mb-5">
        \( EPE = \frac{1}{2} k (x - x_0)^2 \)
    </li>
</ul>

<div class="pageBreak"></div>

<h3>
    Part 1: Roller Coaster Problems
</h3>

<h4>
    Problem:
</h4>
<img src = '/roller_coaster_1.jpg' width = '400px' height = 'auto'/>

<p>
    Imagine that a roller coaster car of mass 100 kg
    drives up and down the following roller coaster.
    It begins at point A (height = 90 m) with a speed of 33 m/s.
    Assume the roller coaster car moves with no energy
    being added to or subtracted from the system.
</p>


<ol>
    <li class="mb-5">
        Between points C and D, does the car gain or lose kinetic energy?
    </li>
    <li class="mb-5">
        Between points C and D, does the car-earth system gain or lose gravitational potential energy?
    </li>
    <li class="mb-5">
        Between points D and E, does the car gain or lose kinetic energy?
    </li>
    <li class="mb-5">
        Between points D and E, does the car-earth system gain or lose gravitational potential energy?
    </li>
    <li class="mb-5">
        Determine the kinetic energy of the car at point D.
    </li>
    <div class="mediumSpace"></div>
    <li class="mb-5">
        Determine the speed of the car at point B.
    </li>
    <div class="mediumSpace"></div>
    <li class="mb-5">
        Determine the final speed of the car (at point F).
    </li>
</ol>


<div class="pageBreak"></div>

<h3>
    Part 2: Springs
</h3>

<p>
    A block is attached to a spring resting horizontally on a frictionless surface.
    The block has a mass of 5 kg. Assume the mass of the spring is negligible.
    The spring has a spring constant of 20 N / m
    and an equilibrium length of 60 cm.
    (Note that you must use an <emph>SI</emph> unit in all physics problems.)
    Somebody pulls the block backwards until the spring is 100 cm long,
    and then lets go. (note that the block is initially at rest)
    The block begins moving back and forth without friction.
</p>
<img src = '/spring_pics.jpg' height = '400px' width = 'auto'/>


<br><br>
Fill out the table below to analyze the energy of the block-spring system.
Assume that the points occur in order.
The second image above represents the first point on the table, point A.
<div class="container">
    <div class="row">
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            Length (m)
        </div>
        <div class="col-1 p-2 border border-dark">
            Speed (m/s)
        </div>
        <div class="col-2 p-2 border border-dark">
            KE (J)
        </div>
        <div class="col-2 p-2 border border-dark">
            EPE (J)
        </div>
        <div class="col-2 p-2 border border-dark">
            Total Energy (J)
        </div>
        <div class="col-1 p-2 border border-dark">
            Direction the Block is Moving
        </div>
    </div>
    <div class="row">
        <div class="col-1 p-2 border border-dark">
            A
        </div>
        <div class="col-1 p-2 border border-dark">
            1.00
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            null
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            B
        </div>
        <div class="col-1 p-2 border border-dark">
            0.800
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            LEFT
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            C
        </div>
        <div class="col-1 p-2 border border-dark">
            0.600
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            LEFT
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            D
        </div>
        <div class="col-1 p-2 border border-dark">
            0.400
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            LEFT
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            E
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            0.00
        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            null
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            F
        </div>
        <div class="col-1 p-2 border border-dark">
            0.600
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            RIGHT
        </div>
    </div>

    <div class="row">
        <div class="col-1 p-2 border border-dark">
            G
        </div>
        <div class="col-1 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            0.00
        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-2 p-2 border border-dark">

        </div>
        <div class="col-1 p-2 border border-dark">
            null
        </div>
    </div>

</div>

<div class="pageBreak"></div>

<h3>
    Part 3: Heat Loss
</h3>


<p>
    A piano falls off a short shelf.
    The shelf is 0.51 m and the piano strikes the ground with a speed of 2.83 m/s.
    If falls quickly but experiences significant air resistance.
    (Note that all values in this problem are not necessarily realistic but do follow appropriate laws and formulas.)
    First, determine the mass of the piano
    Then, fill out the following table to describe how the energy of the piano-earth system changes over time:
</p>

<table>
    <tr>
        <td>
            Point
        </td>
        <td>
            Speed (m/s)
        </td>
        <td>
            Height (m)
        </td>
        <td>
            Kinetic Energy (J)
        </td>
        <td>
            Gravitational Potential Energy (J)
        </td>
        <td>
            Thermal Energy (J)
            (lost from system)
        </td>
        <td>
            Total Energy including thermal energy(J)
        </td>
        <td>
            Total Energy Remaining in the System (J)
        </td>
    </tr>
    <tr>
        <!-- speed, height ke, gpe, thermal--->
        <td>A</td><td>0</td><td>0.51</td><td></td><td>1170</td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>B</td><td>1.18</td><td>0.42</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>C</td><td>1.67</td><td>0.306</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>D</td><td>2.83</td><td>0</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
</table>


<p>
    Show the work needed to fill out the table below:
</p>