<p>
    Refer to this page whenever Mr. Kuncik is absent.
</p>


<h4 class = 'text-danger'>
    Please print the pages only if there is a very important reason to do so!
</h4>
<h4 class = 'text-info'>
    I prefer you to answer clearly on a sheet on lined paper.
</h4>

<h2>
    AP Physics
</h2>
<p>
    Part 1: Watch the following videos:
</p>
<ul>
    <li>
        <a href = 'https://www.youtube.com/watch?v=0fKBhvDjuy0'>
            Powers of 10
        </a>
    </li>
    <li>
        <a href = 'https://www.youtube.com/embed/rENyyRwxpHo'>
            The Laniakea Suoercluster
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/first-law.html'>
            Flipping Physics: Newton's First Law
        </a>
    </li>
    <li>
        <a href = 'https://www.youtube.com/watch?v=j1TUpbGzPBQ'>
            Flipping Physics: Block Problem
        </a>
    </li>
</ul>


<p>
    Part 2: Complete and turn in the following assignments.
    Please turn in paper copies of your work on each assignment.
    If you do not finish in class, please complete the assignments for homework.
    Some of the assignments include videos to show how to complete some of the problems.
</p>
<ul>
    {{{podLink '28a149' gradeMap undefined}}}
    <li>
        <a href = 'https://508physics.com/podAssets/dynamics/quantitative_dynamics/find_missing_force.pdf'>
            Finding The Missing Force
        </a>
    </li>
    {{{podLink '169d20' gradeMap undefined}}}
    {{{podLink 'cbf3cb' gradeMap undefined}}}
</ul>

<h2>
    Honors Physics
</h2>

<p>
    Complete and turn in the following worksheets.
    Show work and do not just copy answers to numerical questions.
    Please turn in paper copies of your work on each assignment.
    If you do not finish in class, please complete the assignments for homework.
</p>

<ul>
    <li>
        <a href = 'https://508physics.com/pod/86459b'>
            Vectors and Scalars
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/a6330e'>
            Quantitative Information from Kinematic Graphs
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/1a4b0b'>
            Free-Body Diagrams
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/193942'>
            Finding net force (if not already completed)
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/8778d7'>
            Newton's Second Law (if not already completed)
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/a131a7'>
            Finding Acceleration
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/podAssets/kinematics/forward_kinematics_qualitative/story_to_graph_selection_pdf.pdf'>
            Story to graph connection:
        </a>
        We will keep working on this when I return, but please make as much progress as
        you can working in groups today.
    </li>
</ul>
