<p>
    Refer to this page whenever Mr. Kuncik is absent.
</p>

<h2>
    AP Physics
</h2>
<p>
    Part 1: Watch the following videos from Flipping Physics.
</p>
<ul>
    <li>
        <a href = 'https://www.flippingphysics.com/understanding-and-walking-graphs-of-position-as-a-function-of-time.html'>
            Walking position time graphs
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/walking-position-velocity-and-acceleration-as-a-function-of-time-graphs.html'>
            Walking Position, velocity, and acceleration graphs
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/introduction-to-uniformly-accelerated-motion.html'>
            Introduction to UAM
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/introductory-uniformly-accelerated-motion-problem.html'>
            UAM Problem
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/significant-figures.html'>
            Introduction to Significant Figures
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/working-with-significant-figures.html'>
            Working with Significant Figures
        </a>
    </li>
</ul>

<p>
    Part 2: Complete and turn in the following assignments.
    Please turn in paper copies of your work on each assignment.
    If you do not finish in class, please complete the assignments for homework.
</p>
<ul>
    <li>
        <a href = 'https://508physics.com/pod/ba74c4'>
            Position Graph Connections
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/1287eb'>
            Velocity Graph Connections
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/eda5ba'>
            Kinematic Equations 2
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/e9cb0a'>
            Kinematic Equations 3
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/a6330e'>
            Quantitative Information from Kinematic Graphs
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/1a4b0b'>
            Free-Body Diagrams
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/ba7882'>
            Newton's Third Law
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/193942'>
            Finding net force
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/8778d7'>
            Newton's Second Law
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/a131a7'>
            Finding Acceleration
        </a>
    </li>
</ul>

<h2>
    Honors Physics
</h2>

<p>
    Part 1: Watch the following videos on flipping physics.
</p>

<ul>
    <li>
        <a href = 'https://www.flippingphysics.com/understanding-and-walking-graphs-of-position-as-a-function-of-time.html'>
            Walking position time graphs
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/introduction-to-acceleration-with-prius-brake-slamming-example-problem.html'>
            Introduction to Acceleration
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/introduction-to-uniformly-accelerated-motion.html'>
            Introduction to UAM
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/introductory-uniformly-accelerated-motion-problem.html'>
            UAM Problem
        </a>
    </li>
</ul>



<p>
    Part 2: Complete and turn in the following worksheets.
    Show work and do not just copy answers to numerical questions.
    Please turn in paper copies of your work on each assignment.
    If you do not finish in class, please complete the assignments for homework.
</p>

<ul>
    <li>
        <a href = 'https://508physics.com/pod/8d7e19'>
            Position Graphs and Motion Maps
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/a08be5'>
            The Acceleration Formula
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/a3b36d'>
            Kinematic Equations 1
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/eda5ba'>
            Kinematic Equations 2
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/bc4f99'>
            Kinematic Graph connections
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/podAssets/kinematics/forward_kinematics_qualitative/story_to_graph_selection_pdf.pdf'>
            Story to graph connection:
        </a>
        We will keep working on this when I return, but please make as much progress as
        you can working in groups today.
    </li>
    <li>
        <a href = 'https://508physics.com/pod/193942'>
            Finding net force
        </a>
    </li>
    <li>
        <a href = 'https://508physics.com/pod/8778d7'>
            Newton's Second Law
        </a>
    </li>
</ul>
