<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<h5>Newton's First Law</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force = 0 and object is not moving
        </td>
        <td>
            Object remains still
        </td>
    </tr>
    <tr>
        <td>
            Net Force = 0 and the object is moving
        </td>
        <td>
            Object moves with a constant velocity
        </td>
    </tr>
</table>
<br>
<h5>Newton's Second Law</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force is in the same direction as velocity
        </td>
        <td>
            Object increases in speed.
        </td>
    </tr>
    <tr>
        <td>
            Net force is in the direction opposite velocity
        </td>
        <td>
            Object decreases in speed.
        </td>
    </tr>
</table>

<ol>
    <li>
        A person with a mass of 68.0 kg is riding downward in an elevator to the basement floor at a speed of 1.20 m/s.
        Upon nearing the basement, the elevator begins to slow down and stops in a time of 3.00 seconds.
        Assume that, during this period, the elevator moves with a constant acceleration.
        <ol type = 'a'>
            <li>
                Determine the magnitude and direction of the acceleration of the elevator.
                Represent your answer as an arrow.
            </li>
            <li>
                Determine the magnitude and direction of the net force acting on the person.
                Represent your answer as an arrow.
            </li>
            <li>
                Referring to <strong>explicitly</strong> one of Newton's Laws
                listed in the table above and the direction of velocity of the elevator,
                defend your answer for the <strong>direction</strong>
                of the net force.
            </li>
            <li>
                There are two forces acting on the person.
                Draw a free-body diagram for him.
                Determine the magnitude of each of two forces.
                Explain, in one sentence, how your determined each magnitude.
            </li>
            <li>
                By referring to your free-body diagram,
                explain what this person will <emph>feel</emph>
                as the elevator slows to a stop in the basement.
            </li>
        </ol>
    </li>
    <div class = 'pageBreak'></div>
    <h5>Newton's First Law</h5>
    <table>
        <tr>
            <th>
                Net Force
            </th>
            <th>
                Motion of Object
            </th>
        </tr>
        <tr>
            <td>
                Net Force = 0 and object is not moving
            </td>
            <td>
                Object remains still
            </td>
        </tr>
        <tr>
            <td>
                Net Force = 0 and the object is moving
            </td>
            <td>
                Object moves with a constant velocity
            </td>
        </tr>
    </table>
    <br>
    <h5>Newton's Second Law</h5>
    <table>
        <tr>
            <th>
                Net Force
            </th>
            <th>
                Motion of Object
            </th>
        </tr>
        <tr>
            <td>
                Net Force is in the same direction as velocity
            </td>
            <td>
                Object increases in speed.
            </td>
        </tr>
        <tr>
            <td>
                Net force is in the direction opposite velocity
            </td>
            <td>
                Object decreases in speed.
            </td>
        </tr>
    </table>
    <li>
        A person with a mass of 75.0 kg is riding upward in an elevator to the 100th floor at a speed of 3.30 m/s.
        Upon nearing the 100th floor, the elevator begins to slow down and stops in a time of 3.00 seconds.
        Assume that, during this period, the elevator moves with a constant acceleration.
        <ol type = 'a'>
            <li>
                Determine the magnitude and direction of the acceleration of the elevator.
                Represent your answer as an arrow.
            </li>
            <li>
                Determine the magnitude and direction of the net force acting on the person.
                Represent your answer as an arrow.
            </li>
            <li>
                Referring to <strong>explicitly</strong> one of Newton's Laws
                listed in the table above and the direction of velocity of the elevator,
                defend your answer for the <strong>direction</strong>
                of the net force.
            </li>
            <li>
                There are two forces acting on the person.
                Draw a free-body diagram for him.
                Determine the magnitude of each of two forces.
                Explain, in one sentence, how your determined each magnitude.
            </li>
            <li>
                By referring to your free-body diagram,
                explain what this person will <emph>feel</emph>
                as the elevator slows to a stop in the basement.
            </li>
        </ol>
    </li>
</ol>
