

<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/0snjbylt82?sui=92,1'>
        AP Classroom: 1.1: Daily Video 3 (Skill 4.2)
    </a>
    (Review: also in a the calculating acceleration pod.)
</h4>
<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/l0jzfr31zi?sui=92,1'>
        AP Classroom: 1.1: Daily Video 4 (Skill 5.1)
    </a>
</h4>
<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/33ozjqkg76?sui=92,1'>
        AP Classroom 1.1: Daily Video 7 (Skill 5.1)
    </a>
    (This is essentially the same experiment as above, but now applied specifically to free-fall and using a video analysis.)
</h4>
<p>
    Note that AP Classroom Daily Videos are not available year round.
    The release dates for each video
    <a href = 'https://apcentral.collegeboard.org/pdf/ap-daily-course-release-dates.pdf'>this page</a>.
    Also, AP Classroom Daily Videos are available only to students in AP Physics.
</p>

<h3>
    Resources
</h3>
<ul>
    <li>
        AP Physics 1 Classroom: 1.2 Daily Video 1 (Skill 1.4)
    </li>
</ul>

<h3>
    Requirements
</h3>


<ul>
    <li>
        A brief setup:
        <ul>
            <li>
                What theory/hypothesis are you seeking to prove or disprove?
            </li>
            <li>
                If the theory is accurate, what equation will the subject follow?
            </li>
            <li>
                To test this equation, what are the independent, dependent and controlled variables.
            </li>
        </ul>
    </li>
    <li>
        A small diagram of your setup, with a 1-2 sentence description of what you actually did.
    </li>
    <li>
        A data table
        <ul>
            <li>
                The data table should include three columns:
                time, position, and time-squared.
                In this data table, the time and position
                are direct measurements,
                and time-squared is a calculation.
            </li>
            <li>
                The proper SI units should be indicated
                in the header of each column
                (seconds, meters, and seconds-squared).
            </li>
            <li>
                There should be at least 18
                data points in the table,
                indicating six different
                measurements of the independent variable (time).
                <ul>
                    <li>
                        Do not average data points with identical values for time.
                        These points should be indicated as different data points.
                    </li>
                </ul>
            </li>
            <li>
                The greatest measurement of the independent variable (time)
                should be at least 4 times the least measurement of the independent variable,
                if possible.
            </li>
        </ul>
    </li>
    <li>
        A position-time scatter plot:
        <ul>
            <li>
                Your graph should be on graph paper
                and be at least 5 inches by 5 inches.
            </li>
            <li>
                The scatter plot should have
                time labeled on the horizontal axis
                and position labeled on the vertical axis.
            </li>
            <li>
                On each axis label, the unit should be indicated.
            </li>
            <li>
                Each point on the data-table should be included on the scatter plot.
            </li>
            <li>
                The scatter plot should contain only the points.
                Points should <emph>not</emph>
                be connected, and no best fit-line or curve should be drawn.
            </li>
            <li>
                Write a brief analysis of the scatter plot.
                For this graph, the analysis should read as follows:
                <ol>
                    <li>
                        Copy these sentences:
                        <emph>
                            Our hypothesis is that the car is moving with a constant acceleration.
                            If the hypothesis is correct, then car’s motion could be modeled by the four kinematic equations.
                        </emph>
                    </li>
                    <li>
                        Next, write one of these two options:
                        <ul>
                            <li>
                                <emph>The data in this graph are <strong>consistent</strong> with the hypothesis.</emph>
                            </li>
                            <li>
                                <emph>The data in this graph are <strong>inconsistent</strong> with the hypothesis.</emph>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Write 3-4 sentences defending your choice.
                    </li>
                </ol>
            </li>
        </ul>
    </li>
    <li>
        A linearized graph
        <ul>
            <li>
                Your graph should be on graph paper
                and be at least 5 inches by 5 inches.
            </li>
            <li>
                The linearized graph should have
                position on the vertical axis
                and time-squared on the horizontal axis.
            </li>
            <li>
                The proper unit should be indicated on each
                of the axis labels.
            </li>
            <li>
                At least 18 points, corresponding to those in the
                data table, should be drawn.
            </li>
            <li>
                Indicate and analyze outliers:
                <ul>
                    <li>
                        Outliers are points that are <strong>far outside</strong>
                        the pattern indicated by other points.
                        An outlier means one of two things:
                        <ul>
                            <li>
                                That particular point was taken in error
                                or is somehow not relevant to the study.
                            </li>
                            <li>
                                The data are not consistent with the hypothesis.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Circle each outlier (you may have none).
                        For each outlier, indicate what reason you think that outlier exists.
                        Remember that there is no penalty for concluding the data re inconsistent with
                        the hypothesis if your data indicate this.
                    </li>
                    <li>
                        If you have 1-2 or more outliers, it is possible those points were taken in error.
                        if you have 3 or more outliers, you should concluded the data are inconsistent with the
                        hypothesis, or you have so many points taken in error that you should repeat your data collection.
                    </li>
                </ul>
            </li>
            <li>
                Write a brief analysis of the linearized scatter plot.
                For this graph, the analysis should read as follows:
                <ol>
                    <li>
                        Copy these sentences:
                        <emph>
                            Our hypothesis is that the car is moving with a constant acceleration.
                            If the hypothesis is correct, then car’s motion could be modeled by the four kinematic equations.
                        </emph>
                    </li>
                    <li>
                        Next, write one of these two options:
                        <ul>
                            <li>
                                <emph>The data in this graph are <strong>consistent</strong> with the hypothesis.</emph>
                            </li>
                            <li>
                                <emph>The data in this graph are <strong>inconsistent</strong> with the hypothesis.</emph>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Write 3-4 sentences defending your choice.
                    </li>
                </ol>
            </li>

            <li>
                <strong>If and only if</strong> you conclude the data are consistent with the hypothesis, a hand-drawn best-ft lie should be added:
                <ul>
                    <li>
                        The best-fit line should go as close
                        to as many of the non-outlier data points (indicated by Os) as possible.
                    </li>
                    <li>
                        The best-fit line should not include an arrow on the end.
                    </li>
                    <li>
                        Do not take into account the outliers on the best-fit line.
                    </li>
                    <li>
                        The points should be large enough that they are visible
                        if the best-fit line goes through them.
                    </li>
                    <li>
                        The best-fit line does not need to go through the origin.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        An algebraic derivation:
        <ul>
            <li>
                By using one of the kinematic
                equations, determine
                a relationship
                between position and time.
            </li>
            <li>
                For this derivation, you can replace displacement
                with position in the kinematic equations.
                This simply indicates, without loss of generality, that the car
                began at the position zero.
            </li>
            <li>
                If any quantity is set to zero,
                indicate which quantity is and briefly explain why.
            </li>
            <li>
                Indicate if the derivation that you determine
                includes any <emph>constant values</emph>.
            </li>
            <li>
                From your derivation,
                indicate what quantity will be equal to the slope
                of the linearized graph of position vs. time-squared.
            </li>
        </ul>
    </li>
    <li>
        A calculation:
        <ul>
            <li>
                Include this section only if you concluded that the data are consistent with the hypothesis.
            </li>
            <li>
                Determine the slope of your linearized graph.
                Do this <emph>by hand</emph>
                by selecting any two points on the best fit
                line and using the formula
                \( m = \frac{y_2 - y_1}{x_2 - x_1} \)
            </li>
            <li>
                If you know how to determine slope using a linear regression,
                you may optionally add this piece,
                but also include the by hand calculation.
            </li>
            <li>
                Combine this slope with your algebraic
                derivation from above
                to determine a numerical value for the
                acceleration of the car.
            </li>
        </ul>
    </li>

</ul>