<p class = 'directions'>
    For each photo, describe what type of energy is <strong>best</strong> shown in that image.
</p>
<ol class = 'questionList'>
    <li class = 'question'>
        <img href = '/quizAssets/energy/conceptual_conservation_of_energy/hawkeye.jpg'/>
    </li>
    <li>

    </li>
</ol>

<!--
black widow hanging for gpe
logo on fire for thermal energy
eating => chemical potential energy
-->