<p>
  This unit covers questions in
  which an object is moving
  in circular motion,
  but the centripetal force is a component
  of another force.
  In such cases, trigonometry is necessary to comprehend
  circular motion.
</p>
