<p>
  In this pod we will approach
  cannon problems such as
  those seen in <a href = '/pod/mechanics/projectile_motion/cannon_problem_1'>a previous pod</a>,
  but will approach them algebraically, not numerically.
</p>


<p>
  The <strong>double angle formula</strong>
  states that
  $$
  \sin(2 \theta) = 2 \sin(\theta) \cos(\theta).
  $$
  This formula can be used to simplify several formulas in your problems.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    A cannon is aimed at an angle \( \theta \) above the horizontal.
    It fires a cannonball at a speed of \( v_i \).
    The cannonball rises and falls and lands on the same level it was fired at.
    <ol class = 'subQuestionList'>
      <li class = 'subQuestion' data-answer = '\( v_{xi} = v_i \cos( \theta ) \); \( v_{yi} = v_i \sin( \theta ) \)'>
        Break the initial velocity down into horizontal and vertical components.
      </li>
      <li class = 'subQuestion' data-answer = '\( \Delta t = \frac{2 v_i \sin(\theta)}{g} \)'>
        Determine the total time that the cannonball is in the air before it falls to the ground.
        Demonstrate that your answer is dimensionally correct.
      </li>
      <li class = 'subQuestion' data-answer = '\( \Delta x = \frac{2 v_i^2 \sin(\theta) \cos(\theta)}{g} = \frac{v_i^2 \sin(2 \theta)}{g} \)'>
        Determine the horizontal range of the cannonball before it falls to the ground.
        Simplify your answer.
        Demonstrate that your answer is dimensionally correct.
      </li>
    </ol>
  </li>
</ol>

<h4>
  Answers:
</h4>

<ol class = 'answerList'></ol>
