

<ul class = 'questionList'>
    <li class = 'question'>
        A cannon fires a cannonball with a speed of 20 m/s
        at an angle of 30 degrees.
        The cannon is on top of cliff that is 30 meters tall.
        <ul class ='subQuestionList'>
            <li class = 'subQuestion' data-answer = '\( v_{xi} = 17.3 \text{ m/s} \); \( v_{yi} = 10.0 \text{ m/s} \)'>
                Break the initial velocity of the cannonball into
                components.
            </li>
            <li class = 'subQuestion' data-answer = '\( \Delta t = 3.69 \text{ s} \)'>
                Determine the total amount of time the cannon is in the air before it
                strikes the ground.
                Note that this problem requires the use of the quadratic equation.
            </li>
            <li class = 'subQuestion' data-answer = 'The solution \( \Delta t = -1.66 \text{ s}  \) referred to the time at which the cannonball would have passed the ground if it had traveled backwards through the cannon and cliff.'>
                When solving the previous question,
                you probably found <emph>two</emph> solutions to your equation.
                One is the answer, and the other is irrelevant.
                Explain what the irrelevant answer means.
            </li>
            <li class = 'subQuestion' data-answer = '64.0 m'>
                Determine the horizontal range of the cannonball.
            </li>
        </ul>
    </li>
    <li class = 'question'>
        A cannon fires a cannonball with a speed of 13 m/s
        at an angle of 23 degrees.
        The cannon is on top of cliff that is 22 meters tall.
        <ul class ='subQuestionList'>
            <li class = 'subQuestion' data-answer = '\( v_{xi} = 12.0 \text{ m/s} \); \( v_{yi} = 5.08 \text{ m/s} \)'>
                Break the initial velocity of the cannonball into
                components.
            </li>
            <li class = 'subQuestion' data-answer = '\( \Delta t = 2.70 \text{ s} \)'>
                Determine the total amount of time the cannon is in the air before it
                strikes the ground.
                Note that this problem requires the use of the quadratic equation.
            </li>
            <li class = 'subQuestion' data-answer = 'The solution \( \Delta t = -1.66 \text{ s}  \) referred to the time at which the cannonball would have passed the ground if it had traveled backwards through the cannon and cliff.'>
                When solving the previous question,
                you probably found <emph>two</emph> solutions to your equation.
                One is the answer, and the other is irrelevant.
                Explain what the irrelevant answer means.
            </li>
            <li class = 'subQuestion' data-answer = '32.3 m'>
                Determine the horizontal range of the cannonball.
            </li>
        </ul>
    </li>
</ul>