<p>
  In this section, we will revist one of the most important questions
  we considered during kinematics: an object falling.
  We will add some new vocabulary and slight changes
  that will aid us in our student of projectile motion.
</p>


<p class = 'definition'>
  An object is in <strong>free-fall</strong>
  it is accelerating at 9.8 m/s<sup>2</sup> downward,
  and the only force acting on that object is gravity.
</p>

<!--
Image of positive up and negative down
[compass]
-->

<p>
  Typically, upward is considered the positive direction
  and downward is considered the negative direction.
  For this reason, when an object is falling, almost all
  of our variables will be <emph>negative</emph>.
  (You are allowed to change this for yoru convience,
  but in this section we are trying to get used to the conventional system,
  so please consider the downward direction to be neagative!)
</p>

<p>
  When an object is falling, it is accelerating
  at a constant rate of 9.8 m/s<sup>2</sup> downward.
  So, we are able to use the four <strong>kinematic equations</strong>.
</p>

<div id = 'kinematicEquationList'></div>

<script>
  $("#kinematicEquationList").append(kinematicEquationsHtmlList('y'));
</script>

<p>
  Here are some changes we are going to make:
</p>
<ul>
  <li>
    In all of the kinematic equations, the variable \( \Delta x \)
    for displacement has been displaced with \( \Delta y \).
    This is beacuse \( y \) is used as a variable when motion is vertical.
  </li>
  <li>
    Because when an object is falling, its vertical displacement is downward,
    we are going to use a <emph>negative</emph> value for \( \Delta y \).
  </li>
  <li>
    An object is accelerating at a rate of 9.8 m/s<sup>2</sup> downward.
  </li>
  <li>
    Also, whenever velocity isn't zero, it will be neagtive (until we get to problems with objects thrown upward).
  </li>
</ul>

<ol class = 'questionList'>
  <li class = 'question'>
    An object is dropped from rest at a height of 30 meters.
    How long does it take the object to reach the ground?
    Please figure out the problem using typical sign conventions (negative is down).
  </li>
  <li class = 'question'>
    An object is dropepd from rest at a height of 20 meters.
    How long does it take to reach the ground?
  </li>
  <li class = 'question'>
    An object is dropped from rest at a height of 20 meters.
    What is its velocity (with correct sign) when it strikes the ground?
  </li>
  <li class = 'question'>
    An object is dropped from rest at a height of 80 meters.
    What is its velocity (with correct sign) immediately before
    it strikes the ground?
  </li>
  <li class = 'question'>
    An object is dropped from rest and takes a time of 2 seconds to
    reach the ground. How far was it dropped?
    (Answer with correct signs.)
  </li>
  <li class = 'question'>
    An object is dropped from rest. What is its velocity (with magnitude and sign)
    after it has fallen for 3.3 seconds?
  </li>
  <li class = 'question'>
    An object is dropped from rest.
    Immediately before striking the ground, its velocity is 15 m/s downward.
    What is its displacement (with appropriate sign)?
  </li>
</ol>


<h5>
  Spiking:
</h5>

<p>
  All of the previous quesitons involved objects dropped from rest.
  But this is not the only way that an object can fall!
  It can also be thrown downward, like when a football is spiked!
</p>

<!--
Add several spiking problems
-->


<!--
= define free-fall
= present falling problems
= give falling problems in which initial velocity is not zero
= use signs properly (-9.8 m/s2, and velocity downward, and vertical displacement downward)
-->
