


<p>
  In a previous section,
  we looked at problems when an object is thrown directly upward
  and then lands in exactly the same spot it was thrown from.
  Of course, frequenlly, when an object is thrown directly upward,
  it does not land in precisely the same spot it was thrown
  at but at a different height.
  For example, if a person who is six feet tall throws something upward
  but then doesn't catch it, it lands six feet below where it started.
  Or an object could land on a roof or ledge.
  (It might not be moving perfeclty vertically, but it is close enough!)
</p>


<p>
  To solve problems like this, you will need to enter a different value
  for vertical displacement \( \Delta y \).
  In order to determine the total time an object is in the air,
  you will need to use the quadratic equation.
</p>

<p>
  To use the quadratic equation,
  you must manipulate a formula until it is in the form
  $$
  0 = a \left( \Delta t \right)^2 + b \Delta t + c
  $$
  This equation has two solutions for \( \Delta t \),
  and they are given by the equation
  $$
  \Delta t = \frac{-b \pm \sqrt{b^2 - 4 a c}}{2 a}
  $$
</p>

<!---
include some problems here:
-->
