<p>
    This section is a full analysis of an object thrown directly up into the air.
</p>

<p class = 'definition'>
    An object in <strong>free-fall</strong> is any object for which
    the only force acting on that object is gravity.
    An object in free-fall always has an acceleration of 9.8 m/s<sup>2</sup>
    downward.
    An object does not need to be moving downward to be in free-fall,
    it can be moving in any direction, even directly upward.
</p>

<p class = 'definition'>
    When an object is thrown upward,
    it reaches its highest point when it is <emph>momentarily stationary</emph>.
    That is, its instantaneous velocity is equal to zero.
</p>

<p>
    An object is thrown directly upward from the ground with
    a speed \( v_i \).
    Answer three questions regarding the motion of the object:
</p>
<ol>
    <li>
        Determine the total time that the object takes to reach the top of its motion.
        Demonstrate that your equation is dimensionally correct.
    </li>
    <li>
        Determine the total time that the object is in the air.
        Is the result intuitive?
    </li>
    <li>
        Determine the maximum height of the object.
        Demonstrate that your equation is dimensionally correct.
    </li>
</ol>

<p>
    An object with a mass \( m \)
    is thrown directly upward with a speed \( v_i \)
    from some initial position \( y_i \).
    The object rises and then falls.
    Complete the following tasks to analyze the motion of the object:
</p>
<p>
    Consider the origin to be the ground,
    the positive direction to be upward,
    and the negative direction to be downward.
</p>
<ol>
    <li>
        Derive an algebraic equation for the time that the object takes to reach the top
        of its motion.
        Demonstrate that your equation is dimensionally correct.
    </li>
    <li>
        Derive an algebraic equation for the maximum height of the object.
        Demonstrate that your equation is dimensionally correct.
    </li>
    <li>
        Derive an algebraic equation for the time that the object is in the air.
        Demonstrate that your equation is dimensionally correct.
    </li>
    <li>
        Derive an algebraic equation for the speed with which the obejct strikes
        the ground.
        Demonstrate that your equation is dimensionally correct.
    </li>
    <li>
        Derive a function \( y(t) \) for the vertical position of the object
        with constants \( g \), \( y_i \), and \( v_i \).
    </li>
    <li>
        Derive a function \( v_y(t) \) for the vertical velocity of the object
        with constants \( g \), \( y_i \), and \( v_i \).
    </li>
    <li>
        Derive a function \( a_y(t) \) for the vertical acceleration of the object.
        (Hint: It's a pretty simple function. Don't overthink this.)
    </li>
    <li>
        Draw a qualitative vertical position-time graph for the object.
    </li>
    <li>
        Draw a qualitative vertical velocity-time graph for the object.
    </li>
    <li>
        Draw a qualitative vertical acceleration-time graph for the object.
    </li>
    <li>
        By referring to the fundamental theorem of calculus,
        describe how the shapes of the three different kinematic graphs
        are related to each other.
    </li>
    <li>
        No work is done on the object-earth system as the object rises and falls.
        Demonstrate that the total energy of the system is constant
        for all time by using your formulas for \( y(t) \) and \( v_y(t) \).
    </li>
    <li>
        By referring to the velocity-time graph,
        describe when the object is speeding up and when it is slowing down.
    </li>
    <li>
        Draw a free-body diagram for the object.
        Referring to Newton's Laws of motion, relate the free-body diagram
        to whether the object is speeding up or slowing down at different times
        in its motion.
    </li>
    <li>
        Is the object in free-fall when it is rising up?
        Explain.
    </li>
</ol>