<p>
    An earlier unit dealt extensively with quantitative kinematics,
    and in particular the four kinematic equations.
    This next unit will extend this content to one of the most
    important concepts in physics, projectile motion.
    In order to properly understand projectile motion,
    we first need to learn to categorize motion into three types
    and solve each type of motion appropriately.
</p>


<h5>
    Three types of problems about motion
</h5>
<ul>
    <li>
        If an object is moving with a <strong>constant velocity</strong>,
        the only formula necessary to use is the constant velocity motion formula:
        <ul>
            <li>
                \( \Delta x = v \cdot \Delta t \)
            </li>
        </ul>
    </li>
    <li>
        If an object's velocity is changing, but it is moving at a <strong>constant acceleration</strong>,
        This is often called <strong>uniformly accelerated motion</strong>.
        you can use the four kinematic equations to analyze its motion:
        <ul>
            <li>
                \( v_f = v_i + a \cdot \Delta t \)
            </li>
            <li>
                \( \Delta x = v_i \cdot \Delta t + \frac{1}{2} a \left( \Delta t \right)^2 \)
            </li>
            <li>
                \( \Delta x = \left( \frac{v_i + v_f}{2} \right) \Delta t \)
            </li>
            <li>
                \( v_f^2 = v_i^2 + 2 a \cdot \Delta x \)
            </li>
        </ul>
    </li>
    <li>
        If the object is moving with a <strong>changing acceleration</strong>,
        then to analyze the motion of the object you must use differential and integral calculus.
    </li>
</ul>


<!---
Write a series of problems in which
students need to first identify which type of
motion an object is in and why,
and if it is the first two, they need to solve the problem
-->

<p>
    In a particular physics  [make up problem here]
    a person identifies the motion as "constant."
    Unforutnately, this does not correctly identify the problem
    and what method could be used to solve it. Explain why.
</p>