<p class = directions>
    For full credit, you must write each formula before you use it,
    properly use the conversion factor method for all conversions,
    and include units in with each answer.
</p>

<h5>
    Conversion Factors:
</h5>
<ul>
    <li>
        1 Joule = \( 6.24 \cdot 10^{18} \) electron Volts.
    </li>
</ul>

<h5>
    Universal Constants:
</h5>

<ul>
    <li>
        Planck's Constant = \( 6.626 \cdot 10^{-34} \text{J} \cdot \text{s} \)
    </li>
    <li>
        Speed of Light = \( 3.00 \cdot 10^8 \frac{\text{m}}{\text{s}} \)
    </li>
</ul>

<h5>
    Metric Prefixes:
</h5>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'><strong>Prefix</strong></div>
        <div class = 'col-2 p-2 border border-dark'><strong>Abbreviation</strong></div>
        <div class = 'col-4 p-2 border border-dark'><strong>Multiplier</strong></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>peta</div>
        <div class = 'col-2 p-2 border border-dark'>P</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>15</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>tera</div>
        <div class = 'col-2 p-2 border border-dark'>T</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>12</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>giga</div>
        <div class = 'col-2 p-2 border border-dark'>G</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>9</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>mega</div>
        <div class = 'col-2 p-2 border border-dark'>M</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>6</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>kilo</div>
        <div class = 'col-2 p-2 border border-dark'>k</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>3</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>hecto</div>
        <div class = 'col-2 p-2 border border-dark'>h</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>2</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>deca</div>
        <div class = 'col-2 p-2 border border-dark'>da</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>1</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark bg-secondary'></div>
        <div class = 'col-2 p-2 border border-dark bg-secondary'></div>
        <div class = 'col-4 p-2 border border-dark bg-secondary'></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>deci</div>
        <div class = 'col-2 p-2 border border-dark'>d</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>-1</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>centi</div>
        <div class = 'col-2 p-2 border border-dark'>c</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>-2</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>milli</div>
        <div class = 'col-2 p-2 border border-dark'>m</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>-3</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>micro</div>
        <div class = 'col-2 p-2 border border-dark'>μ</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>-6</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>nano</div>
        <div class = 'col-2 p-2 border border-dark'>n</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>-9</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>pico</div>
        <div class = 'col-2 p-2 border border-dark'>p</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>-12</sup></div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 p-2 border border-dark'>femto</div>
        <div class = 'col-2 p-2 border border-dark'>f</div>
        <div class = 'col-4 p-2 border border-dark'>10<sup>-15</sup></div>
    </div>
</div>

<div class = 'pageBreak'></div>

<h5>
    Problem 1:
</h5>

<p>
    A photon has a wavelength of 650. nanometers. It is an orange-red color:
</p>

<ol type = 'a'>
    <li>
        Determine the wavelength of the photon in meters.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the frequency of the photon in Hertz.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the energy of the photon in Joules.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the energy of the photon in electron Volts.
    </li>
    <div class = 'bigSpace'></div>
</ol>

<div class = 'pageBreak'></div>
<h5>
    Problem 2:
</h5>

<p>
    A photon has an energy of 80.0 electron-volts.
</p>

<ol type = 'a'>
    <li>
        Determine the energy of the photon in Joules.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the frequency of the photon in Hertz.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the wavelength of the photon in meters.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the wavelength of the photon in nanometers.
    </li>
    <div class = 'bigSpace'></div>
</ol>
