<p class = directions>
    For full credit, you must write each formula before you use it,
    properly use the conversion factor method for all conversions,
    and include units in with each answer.
</p>

<h5>
    Conversion Factors:
</h5>
<ul>
    <li>
        1 Joule = \( 6.24 \cdot 10^{18} \) electron-volts.
    </li>
</ul>

<h5>
    Universal Constants:
</h5>

<ul>
    <li>
        Planck's Constant = \( 6.626 \cdot 10^{-34} \text{J} \cdot \text{s} \)
    </li>
</ul>


<div class = 'pageBreak'></div>

<h5>
    Problem 1:
</h5>

<p>
    An infrared photon has a wavelength of 780. nanometers.
</p>

<ol type = 'a'>
    <li>
        Determine the wavelength of the photon in meters.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the frequency of the photon in Hertz.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the energy of the photon in Joules.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the energy of the photon in electron Volts.
    </li>
    <div class = 'bigSpace'></div>
</ol>

<div class = 'pageBreak'></div>
<h5>
    Problem 2:
</h5>

<p>
    An ultraviolet photon has an energy of 8.43 electron-volts.
</p>

<ol type = 'a'>
    <li>
        Determine the energy of the photon in Joules.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the frequency of the photon in Hertz.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the wavelength of the photon in meters.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Determine the wavelength of the photon in nanometers.
    </li>
    <div class = 'bigSpace'></div>
</ol>
