
<h3>
    Objects
</h3>
<ul>
    <li>
        gamma ray burst
    </li>
    <li>
        nebula/star forming region (find at least one infrared image)
    </li>
    <li>
        supernova (find at least one X-Ray image)
    </li>
    <li>
        Cosmic microwave background
        (If you pick this, you don't need to figure out the cosmic address or how far away it is...instead figure out why)
    </li>
    <li>
        Quasar (find at least one radio image)
    </li>
    <li>
        Pulsar
    </li>
</ul>


<h3>
    Requirements
</h3>
<ul>
    <li>
        Describe what your object is.
    </li>
    <li>
        Who first discovered your object? What other researchers were crucial?
    </li>
</ul>

<ul>
    <li>
        Find at least two specific examples of your object, of which you can find a photo.
        <ul>
            <li>
                What is the specific name of the object pictured (it may be a super technical name)?
            </li>
            <li>
                Write the <a href = 'https://508physics.com'>cosmic address of the object pictured.</a>
                (Unless you chose the cosmic microwave background, which is everywhere.)
            </li>
            <li>
                How far is your object from earth?
                (Unless you chose the cosmic microwave background, which is everywhere.)
            </li>
            <li>
                What telescope was used to take the photo?
                The two photos should be taken from different telescopes.
            </li>
            <li>
                What region of the electromagnetic spectrum is pictured in the photo?
            </li>
            <li>
                What agency has credit for the photo? (This is typically a government agency like NASA or the ESA or a university.)
            </li>
        </ul>
    </li>
    <li>
        If possible, also include an artist rendering of the object.
        This is a drawing or painting of the object, rather than a telescope image.
        Make sure to adequately credit the artist of the image.
    </li>
</ul>


<h4>
    Resources
</h4>
<p>
    Please do not use Google Image Search!
    Find your images from sites where you know they will be well cited.
</p>
<ul>
    <li>
        <a href = 'https://nasasearch.nasa.gov/search/images?affiliate=nasa&query='>
            NASA Image Library
        </a>
    </li>
    <li>
        <a href = 'https://www.esa.int/ESA_Multimedia/Images'>
            ESA image library
        </a>
    </li>
</ul>