<h3>
    Objects
</h3>
<ul>
    <li>
        gamma ray burst
    </li>
    <li>
        nebula/star forming region (find at least one infrared image)
    </li>
    <li>
        supernova (find at least one X-Ray image)
    </li>
    <li>
        Cosmic microwave background
        (If you pick this, you don't need to figure out the cosmic address or how far away it is...instead figure out why)
    </li>
    <li>
        Quasar (find at least one radio image)
    </li>
    <li>
        Pulsar
    </li>
</ul>


<h3>
    Requirements
</h3>
<ul>
    <li>
        Describe what your object is.
    </li>
    <li>
        Who first discovered your object? What other researchers were crucial?
    </li>
    <li>
        What is the significance of your object to physics and astronomy?
    </li>
</ul>

<ul>
    <li>
        Find at least two telescope <strong>photos</strong> of your object.
        <ul>
            <li>
                What is the specific name of the object pictured (it may be a super technical name)?
            </li>
            <li>
                Write the <a href = 'https://508physics.com'>cosmic address of the object pictured.</a>
                (Unless you chose the cosmic microwave background, which is everywhere.)
            </li>
            <li>
                How far is your object from earth?
                (Unless you chose the cosmic microwave background, which is everywhere.)
            </li>
            <li>
                What telescope was used to take the photo?
            </li>
            <li>
                What region of the electromagnetic spectrum is pictured in the photo?
                (It may be more than one, if data from multiple telescopes was overlaid.)
            </li>
            <li>
                What agency has credit for the photo? (This is typically a government agency like NASA or the ESA or a university.)
                Where can it be accessed?
            </li>
        </ul>
    </li>
    <li>
        If possible, also include an artist rendering of the object.
        This is a drawing or painting of the object, rather than a telescope image.
        Make sure to adequately credit the artist of the image.
    </li>
</ul>


<h4>
    Resources
</h4>
<p>
    Please do not use Google Image Search!
    Find your images from sites where you know they will be well cited.
</p>
<ul>
    <li>
        <a href = 'https://nasasearch.nasa.gov/search/images?affiliate=nasa&query='>
            NASA Image Library
        </a>
    </li>
    <li>
        <a href = 'https://www.esa.int/ESA_Multimedia/Images'>
            ESA image library
        </a>
    </li>
</ul>


<h3>
    Checklist
</h3>

<ul>
    <li>
        <input type = 'checkbox'  name = 'checklist1' />
        <label for = 'checklist1'>Did you describe what your object is?</label>
    </li>
    <li>
        <input type = 'checkbox'  name = 'checklist2' />
        <label for = 'checklist2'>Did you write who discovered your object?</label>
    </li>
    <li>
        <input type = 'checkbox'  name = 'checklist2' />
        <label for = 'checklist2'>Did you write the significance of your object to physics?</label>
    </li>
    <li>
        Telescope Image 1:
        <ul>
            <li>
                <input type = 'checkbox'  name = 'checklist10' />
                <label for = 'checklist10'>Did you write the name of the object shown (this might be a very technical name like "SN 1987A"</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist11' />
                <label for = 'checklist11'>Did you include the cosmic address of the object, giving its location within the universe?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist12' />
                <label for = 'checklist12'>Did you include how far the object is from earth?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist13' />
                <label for = 'checklist13'>Did you include what telescope was used to take the photo?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist14' />
                <label for = 'checklist14'>Did you include the region of the electromagnetic spectrum shown in the photo?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist15' />
                <label for = 'checklist15'>Did you include the agency or individual that owns the intellectual property of the photo?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist16' />
                <label for = 'checklist16'>Did you include a link to the photo, which should go to a space agency website?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist17' />
                <label for = 'checklist17'>(optional) Did you include the constellation in which the object is seen? This is not a part of the cosmic address, because it does not refer to an object's location. It tells in what direction earthlings can look to view that object.</label>
            </li>
        </ul>
    </li>
    <li>
        Telescope Image 2:
        <ul>
            <li>
                <input type = 'checkbox'  name = 'checklist20' />
                <label for = 'checklist20'>Did you write the name of the object shown (this might be a very technical name like "SN 1987A"</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist21' />
                <label for = 'checklist21'>Did you include the cosmic address of the object, giving its location within the universe?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist22' />
                <label for = 'checklist22'>Did you include how far the object is from earth?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist23' />
                <label for = 'checklist23'>Did you include what telescope was used to take the photo?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist24' />
                <label for = 'checklist24'>Did you include the region of the electromagnetic spectrum shown in the photo?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist25' />
                <label for = 'checklist25'>Did you include the agency or individual that owns the intellectual property of the photo?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist26' />
                <label for = 'checklist26'>Did you include a link to the photo, which should go to a reputable website?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist27' />
                <label for = 'checklist27'>(optional) Did you include the constellation in which the object is seen? This is not a part of the cosmic address, because it does not refer to an object's location. It tells in what direction earthlings can look to view that object.</label>
            </li>
        </ul>
    </li>
    <li>
        <input type = 'checkbox'  name = 'checklist30' />
        <label for = 'checklist30'>Is at least one of your images from your specified region of the electromagnetic spectrum?</label>
        <ul>
            <li>
                Quasar: Radio waves
            </li>
            <li>
                Cosmic Microwave Background: Microwaves
            </li>
            <li>
                Nebula/Star Forming Region: Infrared
            </li>
            <li>
                Supernova: X-Ray
            </li>
            <li>
                Gamma Ray Burst: Gamma Ray
            </li>
        </ul>
    </li>
    <li>
        <input type = 'checkbox'  name = 'checklist31' />
        <label for = 'checklist31'>Did you include an artist rendering?</label>
        <ul>
            <li>
                <input type = 'checkbox' name = 'checklist32' />
                <label for = 'checklist32'>Is your artist rendering identified as an artist rendering?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist33' />
                <label for = 'checklist33'>Did you include the owner of the intellectual property of the image (possibly an agency)?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist34' />
                <label for = 'checklist34'>Did you include a link to the image?</label>
            </li>
            <li>
                <input type = 'checkbox' name = 'checklist35' />
                <label for = 'checklist35'>If possible, did you include the name of the artist artist?</label>
            </li>
        </ul>
    </li>
</ul>
