<p>
    In chemistry class, you spend most of the year
    learning about chemical reactions.
    Nuclear reactions can, at first glance, appear similar
    to chemical reactions.
    On paper, they look very similar,
    but in reality, they are very very different.
</p>

<p class = 'directions'>
    For each reaction, determine if it describes a chemical reaction
    or a nuclear reaction
</p>

<ol class = 'directions'>
    <li class = 'question'>
        Over time, a collection of uranium turns into other elements.
    </li>
    <li class = 'question'>
        You put bread in the toaster and it comes out burnt.
    </li>
    <li class = 'question'>
        In the center of the sun, particles combine an release enormous amounts of energy.
    </li>
    <li class = 'question'>
        Over a long time, exposed iron becomes rusted.
    </li>
    <li class = 'question'>
        A large amount of Uranium-235 splits into smaller nuclei and releasing enormous
        amounts of energy.
    </li>
    <li class = 'question'>
        Atoms exchange electrons from one atom to another.
    </li>
    <li class = 'question'>
        A neutron or proton leaves an atom.
    </li>
</ol>
