
<h5>
    A rigorous definition:
</h5>
<ul class = 'principleList'>
    <li>
        In a <strong>conservative force</strong>, the path an object takes between two points
        does not affect the work done by this force.
    </li>
    <li>
        In a <strong>non-conservative force</strong>, the path an object takes
        between two points does affect the work done by this force.
    </li>
</ul>

<p class ='definition'>
    A <strong>conservative force</strong> is related to some type of potential energy.
    Whenever a conservative force does negative work,
    it stores energy in some form of potential energy.
    By contrast, when a <strong>non-conservative force</strong> does negative work,
    it usually changes mechanical energy into non-mechanical energy (heat loss).
</p>

<p>
    In AP Physics 1, there are only three conservative forces: gravity, the elastic force,
    and the electrostatic force. Within this unit, we will discuss only
    gravity and the elastic force.
</p>
<p>
    All of the other forces, including applied forces, tension, and normal forces, are non-conservative
    forces. However, by far, the most easily understood example of a non-conservative force is <strong>friction</strong>.
</p>


<p>
    Imagine two friends, person A and person B.
    (Take a minute to celebrate the amazing creativity of the names I invent!)
</p>

<img src = '/podAssets/mechanics/work_and_power/two_people_lift_a_book.png' height = '200px' width = 'auto'/>

<p>
    Person A and person B need to lift up a book.
    The book has a weight of 20 Newtons, and they need to lift it onto a table that is 2 m tall.

    However, they do this work in different ways.
    Person A is normal, and he picks up the book and places it on the table. This takes 40 Joules of work.
    (Work = Force * Distance = 20 * 2 = 40 Joules.)
    As person A does 40 Joules of work, gravity does negative 40 Joules of work!
    Person B picks the book up, moves it up, down, and around like a crazy person,
    and then puts it on the table.
    Person B moved the book much more, but <emph>in sum total</emph>,
    he did precisely the same amount of work against the force of gravity as person A!
    When he moved it up, gravity does negative work.
    When he moved it down, gravity does positive work.
    When he moved it to the side, gravity does zero work.
    In sum total, gravity does -40 Joules of work, no different than in person A's case.
    Gravity is a conservative force! The <emph>path</emph> that the book traveled
    had no effect on the work that gravity did.
    Also, the negative work that gravity did
    is now stored as gravitational potential energy!
</p>


<img src = '/podAssets/mechanics/work_and_power/two_people_push_a_book.png' height = '200px' width = 'auto'/>

<p>
    Now consider a different situation:
    Person A and person B need to push a book across the floor.
    Person A simply pushes the book across the floor.
    Friction did <emph>negative</emph> work on the book while it moved.
    Friction always does negative work, because it acts in the opposite direction that the
    book moves, and converts the book's mechanical energy to thermal energy.
    Then, person B, true to character, pushes the book all over the floor like a crazy person.
    Everywhere person B pushes the book, it friction acts against the book.
    Friction is doing negative work.
    Because he is pushing the book all over, friction is able to do much much more negative
    work against the book than it did to person A.
    Friction is a non-conservative force!
    When person B took a different path, it caused friction to do much more negative work!
    And, the negative work that friction did is not stored as potential energy,
    but was converted to thermal energy!
</p>


<h4>
    Textbook Resources
</h4>
<a href = 'https://opentextbc.ca/physicstestbook2/chapter/nonconservative-forces/'>Open Stax College Physics</a>