
<h5>
    A rigorous definition:
</h5>
<ul class = 'principleList'>
    <li>
        In a <strong>conservative force</strong>, the path an object takes between two points
        does not affect the work done by this force.
    </li>
    <li>
        In a <strong>non-conservative force</strong>, the path an object takes
        between two points does affect the work done by this force.
    </li>
</ul>

<p class ='definition'>
    A <strong>conservative force</strong> is related to some type of potential energy.
    Whenever a conservative force does negative work,
    it stores energy in some form of potential energy.
    By contrast, when a <strong>non-conservative force</strong> does negative work,
    it usually changes mechanical energy into non-mechanical energy (heat loss).
</p>

<p>
    In AP Physics 1, there are only three conservative forces: gravity, the elastic force,
    and the electrostatic force. Within this unit, we will discuss only
    gravity and the elastic force.
</p>
<p>
    All of the other forces, including applied forces, tension, and normal forces, are non-conservative
    forces. However, by far, the most easily understood example of a non-conservative force is <strong>friction</strong>.
</p>





<h4>
    Textbook Resources
</h4>
<a href = 'https://opentextbc.ca/physicstestbook2/chapter/nonconservative-forces/'>Open Stax College Physics</a>