<p>
    This unit revolves around a crucial theory called the
    work-energy theorem, which relates the work
    to the mechanical energy of a system.
    But, in order to use that theorem, we need
    to have a good definition of <strong>mechanical energy</strong>,
    and be able to recognize what is mechanical energy and what
    is not mechanical energy.
</p>


<p class = 'definition'>
    Mechanical energy refers to the types of kinetic and potential
    energy that are related to either the speed or the position of an object.
</p>

<p>
    All types of energy can be categorized into kinetic or potential energy.
    Some types of energy are mechanical, and some are non-mechanical.
</p>

<div class="container">
    <div class="row">
        <div class="col-2 border border-dark">

        </div>
        <div class="col-5 border border-dark">
            Kinetic Energy
        </div>
        <div class="col-5 border border-dark">
            Potential Energy
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark">
            Mechanical Energy
        </div>
        <div class="col-5 border border-dark">
            <ul>
                <li>
                    Translational kinetic energy
                </li>
                <li>
                    Rotational kinetic energy
                </li>
            </ul>
        </div>
        <div class="col-5 border border-dark">
            <ul>
                <li>
                    Gravitational potential energy
                </li>
                <li>
                    Elastic potential energy
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark">
            Non-Mechanical Energy
        </div>
        <div class="col-5 border border-dark">
            <ul>
                <li>
                    Thermal energy (kinetic energy due to random motion of molecules)
                </li>
                <li>
                    Electrical energy (kinetic energy of electrons)
                </li>
                <li>
                    Sound energy (longitudinal mechanical waves)
                </li>
                <li>
                    Electromagnetic waves
                </li>
            </ul>
        </div>
        <div class="col-5 border border-dark">
            <ul>
                <li>
                    Chemical potential energy
                </li>
                <li>
                    Electrochemical potential energy (chemical potential energy in a battery)
                </li>
                <li>
                    Nuclear energy
                </li>
            </ul>
        </div>
    </div>
</div>

<p>
    Note that what we typically call "kinetic energy," the energy of an object moving,
    can be broken into translational kinetic energy and rotational kinetic energy.
    Translational kinetic energy refers to the motion of an object's center of mass.
    For simplicity, I will use the terms "kinetic energy" and "translational kinetci energy"
    interchangeably.
</p>

<p class="directions">
    For each of the following types of energy,
    indicate if it can be categorized as mechanical energy or non-mechanical energy.
</p>

<ol class = 'questionList'>
    <li class="question" data-answer = 'Mechanical energy'>
        Elastic Potential Energy
    </li>
    <li class="question" data-answer = 'Non-mechanical energy'>
        Electromagnetic Waves
    </li>
    <li class="question" data-answer = 'Non-mechanical energy'>
        Nuclear Energy
    </li>
    <li class="question" data-answer = 'Non-mechanical energy'>
        Sound Energy
    </li>
    <li class="question" data-answer = 'Non-mechanical energy'>
        Electrochemical Potential Energy
    </li>
    <li class="question" data-answer = 'Mechanical energy'>
        Rotational Kinetic Energy
    </li>
    <li class="question" data-answer = 'Non-mechanical energy'>
        Thermal Energy
    </li>
    <li class="question" data-answer = 'Non-mechanical energy'>
        Electrical Energy
    </li>
    <li class="question" data-answer = 'Non-mechanical energy'>
        Chemical Potential Energy
    </li>
    <li class="question" data-answer = 'Mechanical energy'>
        Translational Kinetic Energy
        (This is what we normally call "kinetic energy").
    </li>
    <li class="question" data-answer = 'Mechanical energy'>
        Gravitational Potential Energy
    </li>
</ol>


<ol class="answerList"></ol>
