<p>
    This pod builds on our knowledge of the <a>work formula</a>
    to think about whether work is positive, negative, or zero?
</p>


<ul class = 'principleList'>
    <li>
        When a force pushes something in the <strong>same direction</strong> that it is moving,
        then <strong>positive work</strong> is done.
    </li>
    <li>
        When a force pushes something in the <strong>opposite direction</strong> that it is moving,
        then <strong>negative work</strong> is done.
    </li>
    <li>
        When a force pushes something in a direction <strong>perpendicular</strong> to where it is moving,
        then <strong>no work</strong> is done.
    </li>
    <li>
        When something <strong>does not move</strong>, then <strong>no work</strong> is done.
    </li>
</ul>