<p>
    In the previous pod, we learned the formula for work.
    In this pod, we will its companion, the formula for power.
    In fact, there are three formulas for power!
    (Hence the name of this pod: Power Formula<strong>s</strong>.
    The first one is the main one we will use in this unit.
    The second one is also extremely useful,
    and the third one is used in learning electric circuits.
</p>


<h5>
    Formula 1:
</h5>

<p class = 'equation'>
    $$
    P = \frac{W}{\Delta t}
    $$
</p>
<div class = 'container mb-5'>
    <div class = 'row'>
        <div class = 'col-4 border border-dark'>
            <strong>Symbol</strong>
        </div>
        <div class = 'col-4 border border-dark'>
            <strong>Quantity</strong>
        </div>
        <div class = 'col-4 border border-dark'>
            <strong>Unit</strong>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 border border-dark'>
            \( P \)
        </div>
        <div class = 'col-4 border border-dark'>
            Power
        </div>
        <div class = 'col-4 border border-dark'>
            Watts (W)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 border border-dark'>
            \( W \)
        </div>
        <div class = 'col-4 border border-dark'>
            Work
        </div>
        <div class = 'col-4 border border-dark'>
            Joules (J)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 border border-dark'>
            \( \Delta t \)
        </div>
        <div class = 'col-4 border border-dark'>
            Change in time
        </div>
        <div class = 'col-4 border border-dark'>
            seconds (s)
        </div>
    </div>
</div>

<p>
    This is the most well known formula for power!
</p>


<ol class = 'questionList'>
    <li class="question" data-answer = '5 Watts'>
        I do 1000 Joules of work in a time of 200 seconds. What is my power?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class="question" data-answer = '160 Joules'>
        I had a power of 40 Watts for a time of 4 seconds. How much work did I do?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class = 'question' >
        I push a box with a force of 50 Newtons a distance of 5 meters in a tie of 100 seconds.
        <ol class="subQuestionList" type = 'a'>
            <li class = 'subQuestion' data-answer = '250 Joules'>
                What is my work?
                <br>
                <div class = 'formulaSolvingTable'></div>
            </li>
            <li class = 'subQuestion' data-answer = '2.5 Watts'>
                What is my power?
                <br>
                <div class = 'formulaSolvingTable'></div>
            </li>
        </ol>
    </li>
</ol>


<h5>
    Formula 2:
</h5>

<p class = 'equation'>
    $$
    \text{Energy Used} = \text{Power} \cdot \text{Time}
    $$
</p>

<p>
    This formula is a re-organizing of the first formula to emphasize
    a crucial point:
    power is the rate that energy is transferred from one type of energy to another type of energy!
</p>

<ol class="questionList">
    <li class="question" data-answer = '600 Joules'>
        You use a 20 watt light bulb for a time of 30 seconds. How much energy did you use?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
</ol>

<h5>
    Formula 3:
</h5>

<p class = 'equation'>
    $$
    P = IV
    $$
    $$
    \text{Power} = \text{Current} \cdot \text{Voltage}
    $$
</p>

<p>
    This formula gives you the power emitted by an <emph>electric circuit</emph>.
    It isn't a part of this unit, but it is important to know this is another
    completely different formula for power.
</p>
<p>
    In this formula, the unit for Power is still Watts.
    The unit for current is Amps, and the unit for Voltage is Volts.
</p>

<ol class="questionList">
    <li class="question" data-answer = '72 Watts'>
        You hook up a 12 Volt battery to a resistor that has 6 Amps of current.
        How much power is dissipated by your resistor?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
</ol>


<h4>
    Some more questions:
</h4>

<ol class="questionList">
    <li>
        I push a rock for 30 seconds with a force of 20 newtons, but it does not move.
        <ol class = 'subQuestionList'>
            <li class = 'subQuestion' data-answer = 'None.'>
                How much work did I do?
            </li>
            <li class = 'subQuestion' data-answer = 'Zero Watts'>
                How much power do I have?
            </li>
        </ol>
    </li>
    <li class="question">
        Besides Watts, another very commonly known unit for power is the horsepower.
        <br>
        1 horsepower = 746 Watts
        <br> <br>
        A Ferrari 485 Speciale engine has a power of 597 horsepower.
        <ol class="subQuestionList" type = 'a'>
            <li class = 'subQuestion mb-5' data-answer = '445362 Watts'>
                Using the <strong>conversion factor method</strong>,
                convert the power into Watts.
            </li>
            <li class = 'subQuestion mb-5' data-answer = '\( 1.60 \cdot 10^9 \text{ Joules} = 1.60 \text{ Gigajoules} \)'>
                If you drive the Ferrari for an hour (3600 seconds),
                how many Joules of energy did you use?
            </li>
        </ol>
    </li>
</ol>



<ol class = 'answerList'></ol>

<h4>
    Important Resources:
</h4>
<div class = 'container'>
    <div class='row'>
        <div class = 'col-6-md'>
            <img src = 'https://external-preview.redd.it/wwkYb49PrrqwAuW71biUED09PkSE_-jsGe9ip-ndoSQ.jpg?auto=webp&s=8a4fc034c84ade60d5eb6b68f231bbeb37456df1' height = '300px' width = 'auto'/>
            <p class = 'imageCredit'>
                https://external-preview.redd.it/wwkYb49PrrqwAuW71biUED09PkSE_-jsGe9ip-ndoSQ.jpg?auto=webp&s=8a4fc034c84ade60d5eb6b68f231bbeb37456df1
            </p>
        </div>
        <div class = 'col-6-md'>
            <img src = 'https://geekshumor.com/wp-content/uploads/2013/06/watt-is-love.jpg' height = '300px' width = 'auto' />
            <p class = 'imageCredit'>
                https://geekshumor.com/wp-content/uploads/2013/06/watt-is-love.jpg
            </p>
        </div>
    </div>
</div>


<h4>
    Textbook Resources:
</h4>
<ul>
    <li>
        Giancoli, 7th Edition:
        Section 6-10, pages 159-161
    </li>
</ul>

