<p>
    In two previous pods, we used formulas
    for work and power.
    In this pod, we will put these together,
    and answer some questions both quantitative and qualitative
    regarding work and power.
</p>


<p class = 'equation'>
    $$
    W = Fd
    $$
    $$
    P = \frac{W}{\Delta t}
    $$
    $$
    \text{Energy Used} = \text{P} \cdot {\Delta t}
    $$
</p>

<p class="directions">
    Please write a formula every time you use it.
    Whenever answering a non-numerical question about
    work or power, refer to the formula for work or power!
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        Two weightlifters are lifting a heavy weight.
        Weightlifter A lifts a weight of 500 Newtons
        to a height fo 1.5 meters in a time of 2 seconds.
        Weightlifter B lifts a weight of 500 Newtons
        to a height of 1.5 meters in a time of 5 seconds.
        <ol class="subQuestionList" type = 'a'>
            <li class = 'subQuestion' data-answer = 'A: 750 Joules; B: 750 Joules'>
                Determine the WORK that weightlifter A and weightlifter B did.
            </li>
            <li class="subQuestion" data-answer = 'They did the same work because they exerted the same force and lifted it the same distance.'>
                Who did more work?
                <ol type = 'A'>
                    <li>Weightlifter A</li>
                    <li>Weightlifter B</li>
                    <li>They did the same work.</li>
                </ol>
                Defend your answer <emph>by referring to the formula for power.</emph>
            </li>
            <li class="subQuestion" data-answer = 'A: 375 Watts; B: 150 Watts'>
                Determine the POWER of weightlifter A and weightlifter B.
            </li>
            <li class="subQuestion" data-answer = 'Weightlifter A has more power becuase he did the same work in less time.'>
                Who has more power?
                <ol type = 'A'>
                    <li>Weightlifter A</li>
                    <li>Weightlifter B</li>
                    <li>They have the same power.</li>
                </ol>
                Defend your answer <emph>by referring to the formula for work and power.</emph>

            </li>
        </ol>
    </li>
    <li class="question">
        Four friends are running up a staircase. The height of the staircase is 30 meters.
        Find the work done by each runner and the power of that runner.
        <div class="container">
            <div class = 'row'>
                <div class = 'col-2 border border-dark'>

                </div>
                <div class = 'col-2 border border-dark'>
                    Weight (N)
                </div>
                <div class = 'col-3 border border-dark'>
                    Work Done (J)
                </div>
                <div class = 'col-2 border border-dark'>
                    Time (s)
                </div>
                <div class = 'col-3 border border-dark'>
                    Power (W)
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-2 border border-dark'>
                    John
                </div>
                <div class = 'col-2 border border-dark'>
                    500
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
                <div class = 'col-2 border border-dark'>
                    12
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-2 border border-dark'>
                    Paul
                </div>
                <div class = 'col-2 border border-dark'>
                    550
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
                <div class = 'col-2 border border-dark'>
                    13
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-2 border border-dark'>
                    George
                </div>
                <div class = 'col-2 border border-dark'>
                    588
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
                <div class = 'col-2 border border-dark'>
                    15
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-2 border border-dark'>
                    Ringo
                </div>
                <div class = 'col-2 border border-dark'>
                    650
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
                <div class = 'col-2 border border-dark'>
                    15
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
            </div>
        </div>
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = 'John'>
                Who is the fastest runner?
            </li>
            <li class="subQuestion" data-answer = 'Ringo'>
                Who has the most power?
            </li>
            <li class="subQuestion" data-answer = 'Because Ringo weighs more, he needs to do more work to get up the stairs, as work = force * distance; therefore, he has more power as power = work / time'>
                Why does the fastest runner not have the most power?
            </li>
        </ol>
    </li>
    <li class="question">
        Somebody hsa four different devices in their house.
        The following table describes how much power each device
        uses, and how long that device was used for.
        Complete the missing portions of the table:
        <div class="container">
            <div class = 'row'>
                <div class = 'col-3 border border-dark'>
                    Appliance
                </div>
                <div class = 'col-3 border border-dark'>
                    Power (W)
                </div>
                <div class = 'col-3 border border-dark'>
                    Time Used (s)
                </div>
                <div class = 'col-3 border border-dark'>
                    Energy Used (J)
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark'>
                    Light #1
                </div>
                <div class = 'col-3 border border-dark'>
                    80
                </div>
                <div class = 'col-3 border border-dark'>
                    43000
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark'>
                    Light #2
                </div>
                <div class = 'col-3 border border-dark'>
                    140
                </div>
                <div class = 'col-3 border border-dark'>
                    43000
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark'>
                    Refrigerator
                </div>
                <div class = 'col-3 border border-dark'>
                    2000
                </div>
                <div class = 'col-3 border border-dark'>
                    86400
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark'>
                    Stereo System
                </div>
                <div class = 'col-3 border border-dark'>
                    4000
                </div>
                <div class = 'col-3 border border-dark'>
                    2000
                </div>
                <div class = 'col-3 border border-dark'>

                </div>
            </div>
        </div>
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = 'The stereo system.'>
                Which device has the most power?
            </li>
            <li class="subQuestion" data-answer = 'The refrigerator'>
                Which device uses the most energy?
            </li>
            <li class="subQuestion" data-answer = 'The refrigerator is used for a much longer time than the stereo system; energy used = power * time'>
                Why does the most <emph>powerful</emph> device not use the most energy?
            </li>
        </ol>
    </li>
</ol>

<ol class="answerList"></ol>
