<p class = 'definition'>
    The <strong>work-energy theorem</strong>
    states the the work done on a single
    particle is equal to the change in kinetic energy of that single party.
    Remember that a single particle can have <emph>only</emph>
    kinetic energy, and not any other form of energy.
</p>

<p class="defintion">
    More generally, the work done on a system
    is equal to the change in the total energy of that system.
    A system can have forms of potential energy as well as
    kinetic energy.
    This is a consequence of the <strong>Law of Conservation of Energy</strong>.
</p>



<h4>
    Using the Work-Energy Theorem
</h4>

<!--
2 gains elastic potential energy
2 gains kinetic energy by pushing something that is initially moving
-->

<ol class="questionList">
    <li class="question">
        A block has mass of 3 kg.
        Somebody pushes the box on a frictionless surface with a force
        of 12 N for a distance of 4 m.
        The box was stationary before the person begin pushing it.
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '48 Joules'>
                Determine the <strong>work done</strong> on the box by the person.
            </li>
            <li class="subQuestion" data-answer = 'The box gained kinetic energy.'>
                According to the work-energy theorem, this work will transfer to the box.
                What type of energy will the box gain from being pushed on a frictionless surface?
            </li>
            <li class="subQuestion" data-answer = '5.66 m/s'>
                Using the formula \( KE = \frac{1}{2} m v^2 \),
                determine the final velocity of the box.
            </li>
        </ol>
    </li>
    <li class="question">
        A book has mass of 0.300 kg.
        Somebody pushes it with a force of 2 Newtons for a distance of only 20 centimeters.
        The box was stationary before the person begin pushing it.
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = ''>
                Determine the <strong>work done</strong> on the box by the person.
            </li>
            <li class="subQuestion" data-answer = '.'>
                According to the work-energy theorem, this work will transfer to the book.
                What type of energy will the box gain from being pushed on a frictionless surface?
            </li>
            <li class="subQuestion" data-answer = ''>
                Using the formula \( KE = \frac{1}{2} m v^2 \),
                determine the final velocity of the book.
            </li>
        </ol>
    </li>
    <li class="question">
        A 1.2 kg book is sliding along the floor at a velocity of 0.45 m/s.
        (Somebody must have grown frustrated and shoved their physics textbook!)
        The book slows to a stop due to friction acting on the book.
        The coefficient of kinetic friction between the book and the floor is
        0.2.
        <ol class="subQuestionList">
            <li class="subQuestion">
                Draw a <strong>qualitative</strong> free-body diagram of the book after it has lost
                contact with the person's hand.
                Only three forces exist on this free body diagram.
                Indicate the velocity of the book to the side of your free-body diagram
                (not on the free-body diagram!) and indicate if the book should
                speed up, slow down, or move at a constant speed.
                For a review of these concepts, look at a
                <a href = '/pod/mechanics/vector_force_analysis/newtons_model_4B'>previous pod</a>.
            </li>
            <li class="subQuestion">
                Of the three forces acting on the book,
                only one does work. Which force?
                Does it do positive, negative, or zero work?
            </li>
            <li class="subQuestion">
                Convert your qualitative free body diagram into a <strong>quantitative</strong>
                free-body diagram.
                For a review of the methods necessary to do this,
                look at a
                <a href = '/pod/mechanics/quantitative_dynamics/block_dragging_1'>previous pod</a>.
            </li>
            <li class="subQuestion">
                Determine the change in kinetic energy of the book as it slides to a stop.
            </li>
            <li class="subQuestion">
                <emph>Using the work-energy theorem</emph>,
                determine the distance that the book moves
                before coming to a stop.
            </li>
        </ol>
    </li>
    <li class="question">
        A 0.4 kg book is sliding along the floor at a velocity of 0.700 m/s.
        (Somebody must have grown frustrated and shoved their physics textbook!)
        The book slows to a stop due to friction acting on the book.
        The coefficient of kinetic friction between the book and the floor is
        0.23.
        <ol class="subQuestionList">
            <li class="subQuestion">
                Draw a <strong>qualitative</strong> free-body diagram of the book after it has lost
                contact with the person's hand.
                Only three forces exist on this free body diagram.
                Indicate the velocity of the book to the side of your free-body diagram
                (not on the free-body diagram!) and indicate if the book should
                speed up, slow down, or move at a constant speed.
            </li>
            <li class="subQuestion">
                Of the three forces acting on the book,
                only one does work. Which force?
                Does it do positive, negative, or zero work?
            </li>
            <li class="subQuestion">
                Convert your qualitative free body diagram into a <strong>quantitative</strong>
                free-body diagram.
            </li>
            <li class="subQuestion">
                Determine the change in kinetic energy of the book as it slides to a stop.
            </li>
            <li class="subQuestion">
                <emph>Using the work-energy theorem</emph>,
                determine the distance that the book moves
                before coming to a stop.
            </li>
        </ol>
    </li>
    <li>
        A 4 kg block is moving with a speed of 2 m/s,
        when it begins being pushed <emph>forward</emph>
        by a force of 6 Newtons.
        It travels a distance of 3 meters while this force is exerted.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Determine the work done on the block.
            </li>
            <li class="subQuestion">
                Determine the change in kinetic energy of the block.
            </li>
            <li class="subQuestion">
                Determine the final speed of the block.
            </li>
        </ol>
    </li>
    <li>
        A 8 kg block is moving with a speed of 3 m/s,
        when it begins being pushed <emph>forward</emph>
        by a force of 4 Newtons.
        It travels a distance of 0.6 meters while this force is exerted.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Determine the work done on the block.
            </li>
            <li class="subQuestion">
                Determine the change in kinetic energy of the block.
            </li>
            <li class="subQuestion">
                Determine the final speed of the block.
            </li>
        </ol>
    </li>
</ol>

<p>
    **She probably doesn't, but the math will work the similarly.
</p>
<h3>
    Still under construction!
</h3>


<h4>
    Quantitatively Confirming the Work-Energy Theorem
</h4>

<p>
    The problems in this section will look similar to the previous seciton,
    but we will go about them in two different directions.
    First, we will solve each problem using the methods of kinematics
    and dynamics.
    Then, we wil solve each problem using the work-energy theorem.
    The goal is to show that you find the same results,
    which <strong>confirms</strong> the work-energy theorem.
    (At least in each specific case).
</p>


<p class="directions">
    Follow the steps below to confirm that the work-energy theorem
    is consistent with other methods of solving mechanics problems.
    To properly complete these proofs, you must use different methods
    to achieve the same results. Please very clearly indicate all formulas
    and principles used.
</p>

<ol class="questionList">
    <li class="question">
        A block has mass of 5 kg.
        Somebody pushes the box on a frictionless surface with a force
        of 25 N for a distance of 2 m.
        The box was stationary before the person begin pushing it.
        <ol class="subQuestionList">
            <li class="subQuestion">
                Using <strong>Newton's Second Law</strong> and one of the <strong>kinematic equations</strong>,
                determine the final velocity of the block.
            </li>
            <li class="subQuestion">
                Determine the final kinetic energy of the block from your answer to (a).
            </li>
            <li class="subQuestion">
                Demonstrate that the change in kinetic energy of the block is equal to the work done on the block.
            </li>
        </ol>
    </li>
    <li class="question">
        (Technically, this is not about the work-energy theorem per se,
        because it deals with a system, not a single particle,
        but it is basically the same idea.)
        A weightlifter is trying to lift a mass of 80 kilograms
        above his head, a height of 2.5 meters.
        Assume she lifts the weight at a constant velocity**.
        <ol class="subQuestionList">
            <li class="subQuestion">
                Determine the weight the person is trying to lift in Newtons.
                This is the force necessary to lift the weight at a constant velocity.
            </li>
            <li class="subQuestion">
                According to the work-energy theorem, this work will cause some system
                to gain new mechanical energy. What type of mechanical energy will
                the book-earth system gain?
            </li>
            <li class="subQuestion">
                Determine the total amount of work the weightlifter does in lifthing the weight,
                assuming it is lifted at a constatn velocity?
            </li>
            <li class="subQuestion">
                Demonstrate that the total amount of work done by the lifter
                equals the amount of gravitational potential energy gained
                by the mass-earth system.
            </li>
        </ol>
    </li>
</ol>


<ol class="answerList"></ol>

<h3>
    Textbook Resources
</h3>

<ul>
    <li>
        Open Stax College Physics:
        <ul>
            <li>
                <a href = 'https://openstax.org/books/college-physics/pages/7-2-kinetic-energy-and-the-work-energy-theorem'>
                    Work-Energy Theorem for a Particle
                </a>
            </li>
            <li>
                <a href = 'https://openstax.org/books/college-physics/pages/7-3-gravitational-potential-energy'>
                    Defining Gravitational Potential Energy via Work Done Against Gravity
                </a>
            </li>
        </ul>
    </li>
    <li>
        Giancoli Physics,
    </li>
</ul>