<p class = 'definition'>
    The work done on a system equals the change in mechanical energy of that system.
</p>


<h4>
    Using the Work-Energy Theorem
</h4>

<!--
2 gains kinetic energy by pushing something not initially moving
2 gains gravitational potential energy
2 gains elastic potential energy
2 gains kinetic energy by pushing something that is initially moving
2 energy LOST due to friction
-->

<ol class="questionList">
    <li class="question">
        A block has mass of 3 kg.
        Somebody pushes the box on a frictionless surface with a force
        of 12 N for a distance of 4 m.
        The box was stationary before the person begin pushing it.
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '48 Joules'>
                Determine the <strong>work done</strong> on the box by the person.
            </li>
            <li class="subQuestion" data-answer = 'The box gained kinetic energy.'>
                According to the work-energy theorem, this work will transfer to the box.
                What type of energy will the box gain from being pushed on a frictionless surface?
            </li>
            <li class="subQuestion" data-answer = '5.66 m/s'>
                Using the formula \( KE = \frac{1}{2} m v^2 \),
                determine the final velocity of the box.
            </li>
        </ol>
    </li>
</ol>


<h3>
    Still under construction!
</h3>


<h4>
    Quantitatively Confirming the Work-Energy Theorem
</h4>

<!---
one of each of the types of message above
[4 total]
-->

<p class="directions">
    Follow the steps below to confirm that the work-energy theorem
    is consistent with other methods of solving mechanics problems.
    To properly complete these proofs, you must use different methods
    to achieve the same results. Please very clearly indicate all formulas
    and principles used.
</p>

<ol class="questionList">
    <li class="question">
        A block has mass of 5 kg.
        Somebody pushes the box on a frictionless surface with a force
        of 25 N for a distance of 2 m.
        The box was stationary before the person begin pushing it.
        <ol class="subQuestionList">
            <li class="subQuestion">
                Using <strong>Newton's Second Law</strong> and one of the <strong>kinematic equations</strong>,
                determine the final velocity of the block.
            </li>
            <li class="subQuestion">
                Determine the final kinetic energy of the block from your answer to (a).
            </li>
            <li class="subQuestion">
                Demonstrate that the change in kinetic energy of the block is equal to the work done on the block.
            </li>
        </ol>
    </li>
</ol>


<ol class="answerList"></ol>