<h4 class = 'sectionHeader'>
    Velocity-Time Graphs
</h4>

<p>
    A <strong>velocity-time graph</strong> describes how fast
    an object is moving.
    If the velocity is higher, the object is moving faster.
    If the velocity is lower, it is moving slower.
    If the velocity is zero, the object is not moving.
</p>

<ul>
    <li>
        Velocity-time graph for an object moving with a constant velocity:
        <br>
        <div id = 'velocityGraph1'></div>
    </li>
    <li>
        Velocity-time graph for an object that is speeding up (positive acceleration):
        <br>
        <div id = 'velocityGraph2'></div>
    </li>
    <li>
        Velocity-time graph for an object that is slowing down (negative acceleration):
        <br>
        <div id = 'velocityGraph3'></div>
    </li>
    <li>
        Velocity-time graph for an object that is not moving:
        <br>
        <div id = 'velocityGraph4'></div>
    </li>
</ul>

<div class="pageBreak"></div>
<p class = 'directions'>
    For each description of motion, select the corresponding velocity-time graph.
</p>

<ol class = 'questionList'>
    <div class = 'container'>
        <div class = 'row mb-4'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'B'>
                    A dog is asleep.
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5' id = 'velocityQuestionA'>
                A:<br>
            </div>
        </div>
        <div class = 'row mb-4'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'C'>
                    A dog was running fast and then slows down the stop.
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5' id = 'velocityQuestionB'>
                B:<br>
            </div>
        </div>
        <div class = 'row mb-4'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'A'>
                    A dog is not moving, but then suddenly sees a squirrel and runs after it.
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5' id = 'velocityQuestionC'>
                C:<br>
            </div>
        </div>
        <div class = 'row mb-2'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'D'>
                    A dog is walking along at a constant speed
                    and wagging his tail.
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5' id = 'velocityQuestionD'>
                D:<br>
            </div>
        </div>
    </div>
</ol>


<div class="pageBreak"></div>
<h4 class = 'sectionHeader'>
    Acceleration-Time Graphs
</h4>

<p>
    An <strong>acceleration-time</strong> graph describes
    the rate of change of an objects velocity.
    The acceleration-time graph is frequently the most
    counter-intuitive of all the kinematic graphs.
    In this unit, we will only learn about constant
    acceleration motion, meaning the acceleration-time graphs
    will always be horizontal lines or connected horizontal lines.
</p>

<ul>
    <li>
        Acceleration-time graph for an object moving at a constant velocity.
        <br>
        <div id = 'accelerationGraph1'></div>
    </li>
    <li>
        Acceleration-time graph for an object that is speeding up (positive acceleration).
        <div id = 'accelerationGraph2'></div>
    </li>
    <li>
        Acceleration-time graph for an object that is slowing down (negative acceleration).
        <br>
        <div id = 'accelerationGraph3'></div>
    </li>
    <li>
        Acceleration-time graph for an object that is not moving.
        <br>
        <div id = 'accelerationGraph4'></div>
    </li>
</ul>

<p class = 'definition'>
    There is an important point here:
    the acceleration-time graph for something that is not moving looks
    <em>exactly the same</em>
    as the acceleration graph for something moving at a constant velocity!
    They both have an acceleration of zero!
</p>

<div class="pageBreak"></div>
<p class = 'directions'>
    For each description of motion, select an an acceleration graph
    that represents that motion.
    One of the graphs is used twice.
</p>

<ol class = 'questionList'>
    <div class = 'container'>
        <div class = 'row mb-4'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'A'>
                    A rocket ship is on the launchpad and hasn't yet taken off.
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5' id = 'accelerationQuestionA'>
                A:<br>
            </div>
        </div>
        <div class = 'row mb-4'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'C'>
                    A rocket ship takes off and speeds up while moving towards space.
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5' id = 'accelerationQuestionB'>
                B:<br>
            </div>
        </div>
        <div class = 'row mb-4'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'A'>
                    The rocket ship moves at a constant velocity towards the moon.
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5' id = 'accelerationQuestionC'>
                C:<br>
            </div>
        </div>
        <div class = 'row mb-2'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'B'>
                    The rocket ship slows down in order to land on the moon.
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5'>
            </div>
        </div>
    </div>
</ol>

<div class="pageBreak"></div>
<p class="directions">
    For each velocity-time graph, select the corresponding acceleration-time graph.
    One of the acceleration-time graphs is used twice.
</p>

<ol class = 'questionList'>
    <div class = 'container'>
        <div class = 'row mb-4'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'C' id = 'velocityGraphConnectionA'>
                    <br>
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5' id = 'accelerationConnectionA'>
                A:<br>
            </div>
        </div>
        <div class = 'row mb-4'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'C' id = 'velocityGraphConnectionB'>
                    <br>
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5' id = 'accelerationConnectionB'>
                B:<br>
            </div>
        </div>
        <div class = 'row mb-4'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'B' id = 'velocityGraphConnectionC'>
                    <br>
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5' id = 'accelerationConnectionC'>
                C:<br>
            </div>
        </div>
        <div class = 'row mb-2'>
            <div class = 'col-5'>
                <li class = 'question' data-answer = 'A' id = 'velocityGraphConnectionD'>
                    <br>
                </li>
            </div>
            <div class = 'col-2'>
            </div>
            <div class = 'col-5'>
            </div>
        </div>
    </div>
</ol>


<ol class="answerList"></ol>

<script>
    let velocityGraph1 = makeVelocityGraphConstantVelocity();
    $("#velocityGraph1").append(velocityGraph1.drawCanvas(250));

    let velocityGraph2 = makeVelocityGraphPositiveAcceleration();
    $("#velocityGraph2").append(velocityGraph2.drawCanvas(250));

    let velocityGraph3 = makeVelocityGraphNegativeAcceleration();
    $("#velocityGraph3").append(velocityGraph3.drawCanvas(250));

    let velocityGraph4 = makeVelocityGraphNotMoving();
    $("#velocityGraph4").append(velocityGraph4.drawCanvas(250));

    $("#velocityQuestionA").append(velocityGraph2.drawCanvas(200));
    $("#velocityQuestionB").append(velocityGraph4.drawCanvas(200)); // BUG when using velocity graph 4 twice
    $("#velocityQuestionC").append(velocityGraph3.drawCanvas(200));
    $("#velocityQuestionD").append(velocityGraph1.drawCanvas(200));

    let accelerationGraph1 = makeAccelerationGraphZero();
    $("#accelerationGraph1").append(accelerationGraph1.drawCanvas(250));

    let accelerationGraph2 = makeAccelerationGraphPositive();
    $("#accelerationGraph2").append(accelerationGraph2.drawCanvas(250));

    let accelerationGraph3 = makeAccelerationGraphNegative();
    $("#accelerationGraph3").append(accelerationGraph3.drawCanvas(250));

    let accelerationGraph4 = makeAccelerationGraphZero();
    $("#accelerationGraph4").append(accelerationGraph4.drawCanvas(250));

    $("#accelerationQuestionA").append(accelerationGraph1.drawCanvas(250));
    $("#accelerationQuestionB").append(accelerationGraph3.drawCanvas(250));
    $("#accelerationQuestionC").append(accelerationGraph2.drawCanvas(250));


    $("#velocityGraphConnectionA").append(velocityGraph4.drawCanvas(200));
    $("#velocityGraphConnectionB").append(velocityGraph1.drawCanvas(200));
    $("#velocityGraphConnectionC").append(velocityGraph2.drawCanvas(200));
    $("#velocityGraphConnectionD").append(velocityGraph3.drawCanvas(200));

    $("#accelerationConnectionA").append(accelerationGraph3.drawCanvas(250));
    $("#accelerationConnectionB").append(accelerationGraph2.drawCanvas(250));
    $("#accelerationConnectionC").append(accelerationGraph1.drawCanvas(250));

</script>