<p>
  In two previous pods, we learned to find the net force
  acting on an object and to use the formula Newton's Second Law
  which relates net force, mass and acceleration.
  In this pod, we will put them together.
  Our goal is to find the acceleration of an object if we know
  only the forces acting on that object.
</p>


<p class = 'equation'>
  $$
    \Sigma F = m a
  $$
</p>

<p class="directions">
    For each of the objects below,
    find the magnitude of acceleration.
    Do so by first finding the net force,
    then finding the acceleration using Newton's Second Law.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    An object has a mass of 20 kg and has two forces acting on it:
    <div id = 'object1'></div>
    <script>$("#object1").append(fastFBD([['left',100],['right',60]]).drawCanvas(200));</script>
    <ol class = 'subQuestionList' type = 'a'>
      <li class = 'subQuestion' data-answer = '40 N LEFT'>
        Determine the magnitude and direction of the net force
        acting on this object.
      </li>
      <li class = 'subQuestion' data-answer = '2 m/s/s'>
        Using Newton's Second Law, determine the magnitude of acceleration
        of this object.
          <div class="formulaSolvingTable"></div>
      </li>
    </ol>
  </li>
  <li class = 'question'>
    An object has a mass of 6 kg and has three forces acting on it:
    <div id = 'object2'></div>
    <script>$("#object2").append(fastFBD([['left',160],['right',72],['right',112]]).drawCanvas(200));</script>
    <ol class = 'subQuestionList' type = 'a'>
      <li class = 'subQuestion' data-answer = '24 N LEFT'>
        Determine the magnitude and direction of the net force
        acting on this object.
      </li>
      <li class = 'subQuestion' data-answer = '4 m/s/s'>
        Using Newton's Second Law, determine the magnitude of acceleration
        of this object.
          <div class="formulaSolvingTable"></div>
      </li>
    </ol>
  </li>
  <li class = 'question'>
    An object has a mass of 3 kg and has three forces acting on it:
    <div id = 'object3'></div>
    <script>$("#object3").append(fastFBD([['left',18],['left',16],['right',55]]).drawCanvas(200));</script>
    <ol class = 'subQuestionList' type = 'a'>
        <li class = 'subQuestion' data-answer = '21 N RIGHT'>
            Determine the magnitude and direction of the net force
            acting on this object.
        </li>
        <li class = 'subQuestion' data-answer = '7 m/s/s'>
            Using Newton's Second Law, determine the magnitude of acceleration
            of this object.
            <div class="formulaSolvingTable"></div>
        </li>
    </ol>
  </li>
  <li>
      An object with a mass of 9 kg has four forces acting on it.
      <div id = 'object4'></div>
      <script>$("#object4").append(fastFBD([['left',216],['left',314],['right',254],['right',195]]).drawCranvas(200));</script>
      <ol class = 'subQuestionList' type = 'a'>
          <li class = 'subQuestion' data-answer = '81 N LEFT'>
              Determine the magnitude and direction of the net force
              acting on this object.
          </li>
          <li class = 'subQuestion' data-answer = '9 m/s/s'>
              Using Newton's Second Law, determine the magnitude of acceleration
              of this object.
              <div class="formulaSolvingTable"></div>
          </li>
      </ol>
  </li>
</ol>

<h4>
    The Direction of Acceleration
</h4>

<p class="definition" data-word = 'Acceleration is a Vector'>
    Acceleration is a <strong>vector</strong>,
    which means that it has both <em>magnitude</em>
    and <em>direction</em>.
</p>
<p class="directions" data-word = 'Direction of Acceleration'>
    The direction of the acceleration is <strong>always</strong>
    the same as the direction of the net force.
</p>

<p class="directions">
    Solve the problems below with the same method you used above,
    but <em>also</em> determine the direction of acceleration.
</p>


<ol class="questionList">
    <li class="question">
        An object with a mass of 5 kg experiences three forces:
        <div id = 'object5'></div>
        <script>$("#object5").append(fastFBD([['left',53],['right',35],['right',33]]).drawCanvas(200));</script>
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '15 N RIGHT'>
                Determine the magnitude and direction of the net force acting on this object.
            </li>
            <li class="subQuestion" data-answer = '3 m/s/s'>
                Determine the <em>magnitude</em> of acceleration of this object.
                <div class="formulaSolvingTable"></div>
            </li>
            <li class="subQuestion" data-answer = 'RIGHT'>
                Determine the <em>direction</em> of acceleration of this object.
            </li>
        </ol>
    </li>
    <li class="question">
        An object with a mass of 4 kg experiences five forces:
        <div id = 'object6'></div>
        <script>$("#object6").append(fastFBD([['left',12],['left',18],['right',13],['right',9],['right',8]]).drawCanvas(200))</script>
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '2 N LEFT'>
                Determine the magnitude and direction of the net force acting on this object.
            </li>
            <li class="subQuestion" data-answer = '0.5 m/s/s'>
                Determine the <em>magnitude</em> of acceleration of this object.
                <div class="formulaSolvingTable"></div>
            </li>
            <li class="subQuestion" data-answer = 'LEFT'>
                Determine the <em>direction</em> of acceleration of this object.
            </li>
        </ol>
    </li>
</ol>


<h4>
    More Practice Problems
</h4>

<p class="directions">
    For each of the situations below,
    draw a free-body diagram,
    then determine the net force acting on an object and its acceleration.
    List both magnitude and direction of net force and acceleration.
</p>

<ol class="questionList">
    <li class="question">
        A 4 kg object experiences three forces:
        20 N to the left,
        40 N to the right,
        and 32 N to the left.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram of the object.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force acting on the object.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the object.
            </li>
        </ol>
    </li>
    <li class="question">
        A 9 kg object experiences four forces:
        13 N to the left,
        22 N to the left,
        34 N to the left,
        and 49 N to the right.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram of the object.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force acting on the object.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the object.
            </li>
        </ol>
    </li>
    <li class="question">
        Four friends are in a game of tug-o-war,
        pulling at 12 kg rope.
        Friend A and B each pull 350 N to the left,
        but friends C and D each pull 351.5 N to the right.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram of the object.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force acting on the object.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the object.
            </li>
        </ol>
    </li>
</ol>


<h4>
    Creating a Free-Body Diagram and Finding Acceleration
</h4>

<p class="directions">
    Read the descriptions of forces on an object.
    Draw a free-body diagram that illustrates those forces,
    then find the net force, and acceleration acting on the object.
    <br>
    If you have gone ahead and you know how to calculate specific forces such as weight, normal force, and friction,
    please do not include these forces in your free-body diagrams.
    Only include the forces that are <em>explicitly</em> mentioned in the descriptions.
</p>

<p class="definition" data-word = 'A very Important Point'>
    Remember that <strong>mass</strong> is <em>never</em> included
    in a free-body diagram, because mass is not a force.
</p>

<ol class="questionList">
    <li class="question">
        A car moves forward due to a thrust of 2000 N.
        Air resistance pushes back on the car with a force of 200 N.
        Please ignore all other forces.
        The car has a mass of 1000 kg.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram of the car.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force acting on the car.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the car.
            </li>
        </ol>
    </li>
    <li class="question">
        A man is falling due to his weight of 695 N down.
        He is resisted by an upward air resistance force of 200 N.
        He has a mass of 71 kg.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram of the man.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force acting on the man.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the man.
            </li>
        </ol>
    </li>
    <li class="question">
        A man is falling due to his weight of 695 N down.
        He is resisted by an upward air resistance force of 200 N.
        He has a mass of 71 kg.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram of the man.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force acting on the man.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the man.
            </li>
        </ol>
    </li>
    <li class="question">
        An elephant on roller skates is rolling down a hill. The elephant has a mass of 2,700 kg.
        A downward force (caused by gravity) of 18900 N pulls him down the track.
        A frictional force of 7500 N resists his motion.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram of the elephant.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force acting on the elephant.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the elephant.
            </li>
        </ol>
    </li>
    <li class="question">
        Three people are pulling on a big, 50 kg barrel. Jim is pulling 400 N to the right.
        Joe is pulling 400 N to the right.
        Hector is pulling 1000 N to the left.
        (Note that Hector eats all protein and works out daily while Jim and Joe watch Netflix and eat Doritos.)
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram of the barrel.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force acting on the barrel.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the barrel.
            </li>
        </ol>

    </li>
</ol>

<h4>
    Final Problems
</h4>

<p class="directions">
    In the following problems, you must determine the acceleration of an object.
    Please show every step of the process clearly,
    and make sure to include both magnitude and direction in your answer.
    Follow all relevant portions of the style guide:
</p>

<ol class="questionList">
    <li class="question" data-answer = ''>
        A 4 kg object experiences a downward weight of 39.2 N,
        an upward pull of 20 N, and a downward push of 6 N.
        Determine the magnitude and direction of the object's acceleration.
    </li>
    <li class="question">
        A 2361 kg car experiences a forward thrust of 5000 N,
        a backwards air resistance of 1284 N,
        and a backwards friction of 2673 N.
        Determine the magnitude and direction of the car's acceleration.
    </li>
    <li class="question">
        A rocket ship is moving with a mass of 20 thousand kilograms.
        The operator fires and exerts a forward thrust of 30 thousand Newtons.
        The evil aliens ahead of the ship exert a backwards thrust of 40 thousand Newtons.
        The space wind comes in and exerts another backward thrust of 10 thousand Newtons.
        Desperately, the operator uses the auxiliary engines, which add only another 5 thousand Newtons
        for forward thrust.
        Determine the magnitude and direction of the rocket ship's acceleration.
    </li>
</ol>



<ol class = 'answerList'></ol>
