<p class = 'directions'>
    All diagrams must be drawn with conventional circuit diagrams.
</p>

<ol>
    <li>
        Draw a circuit with one or more batteries, a single light bulb,
        and a switch that controls the light bulb properly.
    </li>
    <li>
        Draw a circuit with the same elements but with the switch "reversed,"
        that is, when the switch is on, the light bulb is off,
        and when the switch is off the light bulb is on.
    </li>
    <li>
        A reversed switch always means that you have a short circuit.
        Briefly describe how your reversed switch circuit
        can potentially lead to a short circuit.
    </li>
</ol>