<p class ='equation'>
    $$
    GPE = mgh
    $$
</p>

<p class = 'equation'>
    $$
    KE = \frac{1}{2} m v^2
    $$
</p>

<p class = 'equation'>
    $$
    EPE = \frac{1}{2} k \left( x - x_0 \right)^2
    $$
</p>

<h4>
    Dimensional Analysis
</h4>

<p>
    When we do dimensional analysis in physics,
    we typically break formulas down to three unit:
    meters, kilograms, and seconds (also called MKS).
    When we do dimensional analysis on a function,
    we replace each quantity with the unit of that quantity in terms
    of meters, kilograms, and seconds.
</p>
<p>
   To complete a dimensional analysis, follow these steps:
</p>
<ul>
    <li>
        Replace each quantity in the equation with its unit in terms
        of meters, kilograms, and seconds.
    </li>
    <li>
        Following the order of operations, any quantities raised
        to an exponent means you raise each unit to the same exponent.
    </li>
    <li>
        Any quantities being multiplied or divided, follow the
        laws of multiplying and dividing fractions.
        Typically, these results in many unit cancelling.
    </li>
    <li>
        Any quantities being added or subtracted <strong>must</strong>
        have the same unit. If so, then when doing dimensional
        analysis you can replace the added quantities as one quantity
        with the same unit.
    </li>
    <li>
        In the end, each term of the equation must have the same unit.
    </li>
</ul>
<ol>
    <li>
        Joules can be written as kg m/s<sup>2</sup>.
        Demonstrate that the kinetic energy formula has these unit.
    </li>
    <li>
        Demonstrate that the gravitational potential energy formulas
        has unit of Joules.
    </li>
    <li>
        Demonstrate that the elastic potential energy formula has unit of Joules.
    </li>
</ol>


<h4>
    Algebraic Solutions
</h4>
<p>
    We can algebraically manipulate the formulas above to find many new useful formulas.
</p>

<ol>
    <li>
        Derive a formula for mass in terms of kinetic energy and velocity.
    </li>
    <li>
        Derive a formula for velocity in terms of kinetic energy and mass.
    </li>
    <li>
        Derive a formula for mass in terms of gravitational potential energy, height, and free-fall acceleration.
    </li>
    <li>
        Derive a formula for height in terms of mass, gravitational potential energy, and free-fall acceleration.
    </li>
    <li>
        Derive a formula for the spring constant of a spring in terms of elastic potential energy
        and the displacement of the spring \( \left( x - x_0 \right) \).
    </li>
    <li>
        Derive a formula for the displacement of a spring \( \left( x - x_0 \right) \) in terms of the
        elastic potential energy
        and the spring constant.
    </li>
    <li>
        Derive a formula for the length of a spring in terms of the elastic potential energy,
        the spring constant, and the equilibrium length of the spring.
    </li>
    <li>
        Prove each of the formulas you derived is dimensionally correct.
    </li>
</ol>

<h4>
    Proportionality
</h4>

<p>
    There are two types of proportionality you see in the
    equations for energy:
    <strong>direct</strong> proportionality
    and <strong>square</strong> proportionality.
</p>

<p>
    Proportionality comes into play whenever
    you multiply or divide quantities by certain amounts.
    For example, when quantities are doubled, halved, tripled,
    quadrupled, or divided by nine.
    Proportionality is never used when adding or subtracting.
</p>

<p>
    When two quantities are directly proportional,
    whatever you do to one quantity you do to the other.
    For example, if A and B are directly proportional
    and B is doubled, then A is also doubled.
</p>

<p>
    If if one quantity is proportional to the square of another,
    then whenever the second quantity is multiplied or divided by some factor,
    you multiply or divide the first by the square of that factor.
    For example, if A is proportional to the square of
    B, and B is multiplied by 2,
    A is multiplied by 2<sup>2</sup>.
    If B is multiplied by 5, A is multiplied by 5<sup>2</sup>.
    If B is divided by 27, A is divided by 27<sup>2</sup>.
</p>

<ol>
    <li data-answer = '20'>
        A and B are directly proportional.
        If A is equal to 10 and then B is doubled,
        what is the new value of B?
    </li>
    <li data-answer = '15'>
        C and D are directly proportional.
        If C is equal to 5 and D is tripled,
        what is the new value of C.
    </li>
    <li data-answer = '32'>
        E is equal to the <emph>square</emph> of F.
        If E is equal to 8 and F is doubled,
        what is the new value of E?
    </li>
    <li data-answer = '900'>
        G is equal to the <emph>square</emph> of H.
        If G is equal to 100 and H is tripled,
        what is the new value of G?
    </li>
</ol>

<p>
    Identify the proportionality relationship
    between each variable and the type of energy:
</p>

<ol>
    <li data-answer = 'direct'>
        Kinetic energy and mass.
    </li>
    <li data-answer = 'square'>
        Kinetic energy and speed.
    </li>
    <li data-answer = 'direct'>
        Gravitational potential energy and mass.
    </li>
    <li data-answer = 'direct'>
        Gravitational potential energy and height.
    </li>
    <li data-answer = 'direct'>
        Elastic potential energy and spring constant.
    </li>
    <li data-answer = 'square'>
        Elastic potential energy and spring displacement \( x - x_0 \).
    </li>
</ol>