<h3>
    The Kinetic Energy Formula
</h3>

<p class = 'formula'>
    $$
    KE = \frac{1}{2} m v^2
    $$
</p>

<table>
    <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Unit</th>
    </tr>
    <tr>
        <td>\( KE \)</td><td>Kinetic Energy</td><td>Joules (J)</td>
    </tr>
    <tr>
        <td>\( m \)</td><td>mass</td><td>kilograms (kg)</td>
    </tr>
    <tr>
        <td>\( v \)</td><td>speed</td><td>meters/second (m/s)</td>
    </tr>
</table>

<ol>
    <li>
        A person with a mass of 60 kg is running at a speed of 8 m/s.
        What is his kinetic energy?
        {{>formulaSolvingTable}}
    </li>
    <li>
        A car with a mass of 1100 kg is moving at a speed of 23 m/s.
        What is its kinetic energy?
        {{>formulaSolvingTable}}
    </li>
    <li>
        A man has a speed of 5 m/s a kinetic energy of 1000 Joules.
        What is his mass?
        {{>formulaSolvingTable}}
    </li>
    <li>
        A rolling ball has a mass of 8.0 kg and a kinetic energy of 50 Joules.
        What is its speed?
        {{>formulaSolvingTable}}
    </li>
    <li>
       A man has a mass of 60 kg and a kinetic energy of 750 Joules?
        What is his speed?
        {{>formulaSolvingTable}}
    </li>
    <li>
        A boy on his bicycle have a combined mass of 120 kg and a speed of 12 m/s.
        What is their kinetic energy?
        {{>formulaSolvingTable}}
    </li>
</ol>

<h3>
    The Gravitational Potential Energy Formula
</h3>

<p class = 'formula'>
    $$
    GPE = mgh
    $$
</p>

<table>
    <tr>
        <th>
            Symbol
        </th>
        <th>
            Quantity
        </th>
        <th>
            SI Unit
        </th>
        <th>
            Note
        </th>
    </tr>
    <tr>
        <td>\( GPE \)</td>
        <td>Gravitational Potential Energy</td>
        <td>Joules (J)</td>
        <td></td>
    </tr>
    <tr>
        <td>\( m \)</td>
        <td>mass</td>
        <td>kilograms (kg)</td>
        <td></td>
    </tr>
    <tr>
        <td>\( g \)</td>
        <td>free-fall acceleration</td>
        <td>m/s<sup>2</sup></td>
        <td>
            On earth, free-fall acceleartion is always equal to
            9.8 m/s<sup>2</sup>
        </td>
    </tr>
    <tr>
        <td>\( h \)</td>
        <td>height</td>
        <td>meters (m)</td>
        <td></td>
    </tr>
</table>

<ol>
    <li>
        A piano with a mass of 400 kg is on top of the high school, at a height of 50 m.
        What is its gravitational potential energy?
        {{>formulaSolvingTable}}
    </li>
    <li>
        A book with a mass of 2 kg is on a desk that is 1.5 m tall.
        What is its gravitational potential energy?
        {{>formulaSolvingTable}}
    </li>
    <li>
        A book has a mass of 5 kg and 150 J of gravitational potential energy.
        What is its height?
        {{>formulaSolvingTable}}
    </li>
    <li>
        A man is on top of a tall building, with a potential energy of 34,000 J and a height of 50 m.
        What is his mass?
        {{>formulaSolvingTable}}
    </li>
    <li>
        An astronaut on the moon, in his suit, has a mass of 120 kg.
        He is 2 m off the ground of the moon, and on the moon, g is 1.6 m/s<sup>2</sup>.
        What is his gravitational potential energy?
        {{>formulaSolvingTable}}
    </li>
    <li>
        A dude on earth jumps to a height of 0.5 m. He has a mass of 80 kg.
        What was his potential energy at the top of his jump?
        {{>formulaSolvingTable}}
    </li>
</ol>