<p class = 'directions'>
    Use the equation below to to answer each questions.
    Please write the equation each time you use it <i>before</i> plugging values in.
</p>
<p class = 'equation'>
    $$ a = \frac{v_f - v_i}{\Delta t} $$
</p>

<ol>
    <li class = 'physicsQuestion'>
        An object accelerates from an initial speed of 4 m/s to a final speed of 12 m/s in a time of 2 seconds.
        What is its acceleration?
        <div class = 'formulaBoxDiv'></div>
    </li>
    <li class = 'physicsQuestion'>
        An object accelerates from an initial speed of 9 m/s to a final speed of 51 m/s in a time of 6 seconsd.
        What is its acceleration?
        <div class = 'formulaBoxDiv'></div>
    </li>
</ol>
