<p>
    Mass of the sun problem set.
</p>

<p>
    Rules: you should complete the first problem without looking up any information other than the two pieces provided below.
</p>

<h5>
    Available information:
</h5>
<ul>
    <li>
        Watch video, a classic moment in television history:
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BAyty1kPW6U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
    <li>
        A 5K (five kilometer) race is 3.1 miles long.
    </li>
</ul>

<h4>
    Problem 1:
</h4>

<p>
    With only this information, determine the <strong>mass of the sun</strong>.
</p>

<h4>
    Problem 2:
</h4>

<p>
    Look up <strong>2</strong> (and only two) pieces of information online.
    Using a similar method as you used in problem 1, determine ethe <strong>mass of the earth</strong>.
    You cannot look up any qualities of the earth, such as its mass (duh), its radius, its circumference, etc.
    You need to look up other information that is not about the earth per se, and from that,
    determine the mass of the earth.
</p>

