
<p>
    The purpose of this unit is to introduce the concepts of astronomy that can be understood
    through the naked eye or with simple telescopes and binoculars
</p>

<p>
    This concept explores astronomy without using physical and mathematical models,
    such as Newton's Laws of Gravity, electromagnetic theory, or the theory of general relativity.
</p>

<p>
    However, there is <emph>still</emph> complex reasoning involved in understanding how these concepts work.
</p>