<ol>
    <li class = 'bigQuestion'>
        State at least 3 factors that determine whether air resistance is an important factor in a problem.
        Indicate specifically <emph>how</emph> air resistance is related to each factor.
        (For example, if variable A is high, air resistance is crucial to consider, but if variable A is low, it is not.)
    </li>
    <li class = 'bigQuestion'>
        State 1 situations in which a researcher would need to consider the effects of air resistance
        to accomplish their goal. Explain why considering air resistance is necessary by
        referring <emph>specifically</emph> to at least one of the principles you mentioned in problem #1.
    </li>
    <li class = 'bigQuestion'>
        State 1 situation in which a researcher would be advised to ignore the effects of air resistance.
        Do not use an example in which air is completely absent, such as an object moving in space.
        Instead, select an example in which air resistance is force acting on an object but barely impacts
        its motion.
        Explain why considering air resistance is
        unnecessary by referring <emph>specifically</emph> to one of the principles
        you mentioned in problem #1.
    </li>
</ol>
