<p class = 'directions'>
    Answer the questions below.
    None of them are trick questions.
</p>

<ol>
    <li>
        What is 5 + 5?
    </li>
    <li>
        What is the capital of Massachusetts?
    </li>
    <li>
        How legs does a horse have?
    </li>
    <li>
        Name a color that ends in "urple."
    </li>
</ol>