



<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/0snjbylt82?sui=92,1'>
        AP Classroom: 1.1: Daily Video 3 (Skill 4.2)
    </a>
    (Review: also in a the calculating acceleration pod.)
</h4>
<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/l0jzfr31zi?sui=92,1'>
        AP Classroom: 1.1: Daily Video 4 (Skill 5.1)
    </a>
</h4>
<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/33ozjqkg76?sui=92,1'>
        AP Classroom 1.1: Daily Video 7 (Skill 5.1)
    </a>
    (This is essentially the same experiment as above, but now applied specifically to free-fall and using a video analysis.)
</h4>
<p>
    Note that AP Classroom Daily Videos are not available year round.
    The release dates for each video
    <a href = 'https://apcentral.collegeboard.org/pdf/ap-daily-course-release-dates.pdf'>this page</a>.
    Also, AP Classroom Daily Videos are available only to students in AP Physics.
</p>