<p class="directions">
    For each of the numbers listed below,
    determine which number is greater.
</p>


<ol type = 'A'>
    <li class="mt-4 mb-4">
        &nbsp; &nbsp; &nbsp; 4.56<small>E</small>9 &nbsp; &nbsp; &nbsp; vs. &nbsp; &nbsp; &nbsp; 8.34<small>E</small>8
    </li>
    <li class="mb-4">
        &nbsp; &nbsp; &nbsp; 1.29<small>E</small>-5 &nbsp; &nbsp; &nbsp; vs. &nbsp; &nbsp; &nbsp; 4.36<small>E</small>-4
    </li>
    <li class="mb-4">
        &nbsp; &nbsp; &nbsp; 2.89<small>E</small>-3 &nbsp; &nbsp; &nbsp; vs. &nbsp; &nbsp; &nbsp; 6.67<small>E</small>-2
    </li>
    <li class="mb-4">
        &nbsp; &nbsp; &nbsp; 5.84<small>E</small>15 &nbsp; &nbsp; &nbsp; vs. &nbsp; &nbsp; &nbsp; 7.12<small>E</small>15
    </li>
</ol>

