<p class = 'introduction'>
    Remember when you were a kid and someone asked if you wanted to dig a hole to China?
    If you're like me, you were pretty disappointed when you realized that if you dug all day,
    you'd just reach rock and groundwater.
    But what if you <emph>could</emph> actually dig a hole that went through the center of the universe.
    If you were in Mattapoisett, MA (41.6616° N, 70.8151° W), you would end up not in China, but somewhere
    in the center of the Indian Ocean.
</p>
<p class = 'introduction'>
    Many physicists have asked looked at this question as a <strong>thought experiment</strong>,
    something they can not actually test but they can learn from imagining.
    The most interesting question for physicists is this: how would gravity work while
    you were falling through the earth? What direction would gravity pull you? How strong would it be?
</p>

<p>
    More coming soon!
</p>

<p>
    "The Universe" Season 2, episode 17.
</p>