<p>
    The earth's cosmic address is our basis for understanding astronomical objects. The goal of this pod is to get a sense of some of the bodies you will
    find at each level of our cosmic address.
</p>

<h4>
    1: Earth
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#Earth' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<h4>
    2: Earth-Moon System
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#EarthMoon' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<h4>
    3: The Solar System
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#SolarSystem' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<h4>
    4: The Milky Way Galaxy
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#MilkyWay' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<h4>
    5: The Laniakea Supercluster
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#Laniakea' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<h4>
    6: The Universe
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#Universe' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>

<div class = 'collapse' id = 'Earth'>
    earth
</div>
<div class = 'collapse' id = 'EarthMoon'>
    earth-moon
</div>
<div class = 'collapse' id = 'SolarSystem'>
    solar system
</div>
<div class = 'collapse' id = 'MilkyWay'>
    milky way
</div>
<div class = 'collapse' id = 'Laniakea'>
    laniakea
</div>
<div class = 'collapse' id = 'Universe'>
    universe
</div>