

<ol>
    <li>
        What is the correct formula for the rotational inertia of a point mass?
        <ol type = 'A'>
            <li>
                \( I = m r \)
            </li>
            <li>
                \( I = m r^2 \)
            </li>
            <li>
                \( I = m \sqrt{r} \)
            </li>
            <li>
                \( I = \frac{m}{r} \)
            </li>
        </ol>
    </li>
    <li>
        In the formula above, \( r \) indicates
        <ol type = 'A'>
            <li>
                The shortest distance from the axis of rotation to the point mass being measured
            </li>
            <li>
                The shortest distance from the axis of rotation to the farthest mass of an object
            </li>
            <li>
                The shortest distance from the center of mass of the object to the axis of rotation
            </li>
            <li>
                The shortest distance from the axis of rotation to the ground
            </li>
        </ol>
    </li>
    <li>
        To find the rotational inertia of a complex object, such as a person, an elephant or a robot,
        which of the following methods would give you the most accurate result?
        <ol type = 'A'>
            <li>
                (Hypothetically) break the object into 100 tiny pieces, and utilize the formula above 100 times for each piece.
            </li>
            <li>
                Use the formula above once, and plug in the mass of the object for \( m \) and the distance from the axis of rotation to the center of mass for \( r \).
            </li>
            <li>
                Use teh formula above once and plug in the mass of the object for \( m \) and its width for \( r \).
            </li>
            <li>
                Break the object into two pieces and use the formula twice once for each piece.
            </li>
        </ol>
    </li>
    <li>
        What is the definition of angular acceleration? (written in scalar form)
        <ol type = 'A'>
            <li>
                \( L = I \omega \)
            </li>
            <li>
                \( L = I \omega^2 \)
            </li>
            <li>
                \( L = I sqrt{\omega} \)

            </li>
            <li>
                \( L = \frac{I}{\omega} \)
            </li>
        </ol>
    </li>
    <li>
        The letter \( \omega \), standing for angular velocity, in the formula above is:
        <ol type = 'A'>
            <li>
                A script version of the Latin letter "w".
            </li>
            <li>
                A lowercase version of the Greek letter \( \Omega \).
            </li>
            <li>
                A letter for the Phoenician alphabet.
            </li>
            <li>
                A unique symbol with no other meaning than angular velocity.
            </li>
        </ol>
    </li>
    <li>
        Under what condition is the angular momentum conserved.
        <ol type = 'A'>
            <li>
                The net torque acting on the system is zero.
            </li>
            <li>
                The net torque acting on the system is the same way the object is rotation.
            </li>
            <li>
                Only forces perpendicular to the moment arm act on the system.
            </li>
            <li>
                Angular momentum is always conserved, regardless of the situation.
            </li>
        </ol>
    </li>
    <li>
        If angular momentum is conserved, what is the relationship between the rotational inertia
        and the angular velocity?
        <ol type = 'A'>
            <li>
                direct
            </li>
            <li>
                inverse
            </li>
            <li>
                inverse square
            </li>
            <li>
                direct square
            </li>
        </ol>
    </li>

    <p>
        A giant robot is spinning extremely fast.
        As it spins, its arms: which are gigantic, heavy, robot arms,
        hang by its side.
        At some point while spinning, the robot lifts its arms and holds them outwards,
        causing its motion to change in some way.
        Assume that angular momentum is conserved in this situation.
        Answer the questions below regarding the robot's motion.
    </p>

    <img src = '/asset/afc922/robot_1.png' width = '300px' height = 'auto' />
    <br>
    <div class="mediumSpace"></div>
    <br>
    <img src = '/asset/afc922/robot_2.png' width = '300px' height = 'auto' />

    <li>
        When the robot lifts its arms, what do you observe?
        <ol type = 'A'>
            <li>
                The robot appears to spin faster.
            </li>
            <li>
                The robot appears to spin slower.
            </li>
            <li>
                The robots moves in a straight line faster.
            </li>
            <li>
                The robots moves in a straight line slower.
            </li>
            <li>
                You observe no change in the robots motion.
            </li>
        </ol>
    </li>
    <li>
        When the robot lifts his arms, what happens to its rotational inertia?
        <ol type = 'A'>
            <li>
                There is no change in the robot's rotational inertia because its mass and size have not changed.
            </li>
            <li>
                Rotational inertia decreases because the robot is more spread out.
            </li>
            <li>
                Rotational inertia increases because some of the robot's mass is farther from the axis of rotation than before.
            </li>
            <li>
                There is no change in the robot's rotational inertia because the position of the axis of rotation has not changed.
            </li>
            <li>
                Rotational inertia increases because the axis of rotation is farther away from the center of mass than before.
            </li>
        </ol>
    </li>
    <li>
        In 2-3 sentences, relate the observation you see to the equations for angular velocity in and rotational inertia.
    </li>
    <li>
        Another robot repeats the same process.
        However, instead of big heavy arms, this robot has light and flimsy arms?
        Would you see the same observation and why?
        <ol type = 'A'>
            <li>
                You would observe the exact same thing, because no significant variables have changed.
            </li>
            <li>
                You would observe the same thing, but with a stronger affect because the lighter robot can move more quickly.
            </li>
            <li>
                You would observe the exact same thing, because changes in the variables \( m \) and \( r \) cancel each other out.
            </li>
            <li>
                You would observe the same thing, but with a weaker affect because a lower mass is moving than before.
            </li>
            <li>
                Something completely different and unpredictable will happen, following formulas and concepts not included on this quiz.
            </li>
        </ol>
    </li>
    <li>
        The robots motion in this quiz is analogous to one of the most iconic maneuvers in what winter olympic sport?
        <ol type = 'A'>
            <li>
                luge
            </li>
            <li>
                hockey
            </li>
            <li>
                figure skating
            </li>
            <li>
                bobsledding
            </li>
            <li>
                long track speed-skating
            </li>
            <li>
                short track speed-skating
            </li>
            <li>
                cross-country skiing
            </li>
        </ol>
    </li>


</ol>