
<ol>
    <li>
        Draw the circuit diagram symbol for a <emph>resistor</emph>.
    </li>
    <li>
        Draw the circuit diagram symbol for a <emph>fuse</emph>.
    </li>
    <li>
        Draw the circuit diagram symbol for a <emph>battery</emph>.
    </li>
    <li>
        Draw the circuit diagram symbol for an <emph>open switch</emph>.
    </li>
    <li>
        What is the role of a resistor in a circuit?
        <ol type = 'a'>
            <li>
                To provide voltage
            </li>
            <li>
                To slow down the current
            </li>
            <li>
                To turn a circuit on and off
            </li>
            <li>
                To protect the circuit from dangerous levels of current.
            </li>
        </ol>
    </li>
    <li>
        What is the role of a fuse in a circuit?
        <ol type = 'a'>
            <li>
                To provide voltage
            </li>
            <li>
                To slow down the current
            </li>
            <li>
                To turn a circuit on and off
            </li>
            <li>
                To protect the circuit from dangerous levels of current.
            </li>
        </ol>
    </li>
</ol>