<p>
    This person is pushing a box in a frictionless environment.
    [Imagine it as a box on extremely slick ice.]
    He pushes a little and the box begins moving.
</p>
<ol>
    <li class="smallQuestion">
        If you want the box to move at a constant speed forward,
        explain what you would need to do and why by referring to Newton's Model.
    </li>
    <li class="smallQuestion">
        If you want the box to accelerate forward,
        explain what you would need to do and why be referring to Newton's Model.
    </li>
    <li class="smallQuestion">
        If you want the box to stop moving, explain what you would need to do and why
        by referring to Newton's Model.
    </li>
</ol>

<p class = 'directions'>
    Answer the following question regarding falling and air resistance.
</p>

<ol>
    <li>
        A person with a weight of 600 N is falling and accelerating at 9.8 m/s<sup>2</sup>.
        As they continue falling and moving faster, the strength of air resistance
        increases until it reaches a magnitude of 600 N.
        Draw a free-body diagram of the person in this situation, and describe what motion
        they will have.
    </li>
</ol>

