<p class="directions">
    Convert each of the values listed below to <emph>meters</emph> in scientific notation.
    For full credit, your answer must be written in correct scientific notation and must include the correct final unit.
</p>


<ol type = 'A'>
    <li class = 'mt-4 mb-4'>
        789 nanometers
    </li>
    <li class = 'mb-4'>
        0.35 terameters
    </li>
    <li class = 'mb-4'>
        66 millimeters
    </li>
    <li class = 'mb-4'>
        68 femtometers
    </li>
    <li class = 'mb-4'>
        4.5 megameters
    </li>
    <li class = 'mb-4'>
        192 μm
    </li>
</ol>