<p class="directions">
    Convert each of the values listed below to meters in scientific notation.
    For full credit, your answer must be written in correct scientific notation and must include a unit.
</p>


<ol>
    <li>
        789 nanometers
    </li>
    <li>
        0.35 terameters
    </li>
    <li>
        66 millimeters
    </li>
    <li>
        68 femtometers
    </li>
    <li>
        4.5 megameters
    </li>
    <li>
        192 μm
    </li>
</ol>