<p class="directions">
    Convert each of the values listed below to <emph>meters</emph> in scientific notation.
    For full credit, your answer must be written in correct scientific notation and must include the correct final unit.
</p>


<ol>
    <li>
        548 femtometers
    </li>
    <li>
        0.56 gigameters
    </li>
    <li>
        89 millimeters
    </li>
    <li>
        234 nanometers
    </li>
    <li>
        0.45 megameters
    </li>
    <li>
        132 μm
    </li>
</ol>