<p class="directions">
    Convert each of the values listed below to <emph>meters</emph> in scientific notation.
    For full credit, your answer must be written in correct scientific notation and must include the correct final unit.
</p>


<ol type = 'A'>
    <li class = 'mt-4 mb-4'>
        548 femtometers
    </li>
    <li class = 'mb-4'>
        0.56 gigameters
    </li>
    <li class = 'mb-4'>
        89 millimeters
    </li>
    <li class = 'mb-4'>
        234 nanometers
    </li>
    <li class = 'mb-4'>
        0.45 megameters
    </li>
    <li class = 'mb-4'>
        132 μm
    </li>
</ol>