<p>
    For each of the following situations, state if kinetic friction or static friction acts on the object.
</p>
<ul>
    <li>
        Crutches have tiny rubber pieces on the bottom so that they do not slide when you use them.
    </li>
    <div class = 'smallSpace'></div>
    <li>
        A sled sliding across the snow eventually stops.
    </li>
    <div class = 'smallSpace'></div>
    <li>
        A book that is sliding across the floor eventually stops.
    </li>
    <div class = 'smallSpace'></div>
    <li>
        A chair does not move when somebody leans back in the chair.
    </li>
    <div class = 'smallSpace'></div>
</ul>

<p>
    Which force is stronger, kinetic friction or (maximum) static friction?
</p>
<div class = 'mediumSpace'></div>

<p>
    A mover is pushing a heavy box across the floor. He finds he needs to push hardest
    to get the box to begin moving. Once it begins moving, it is still difficult but
    he does not need to push as hard to keep it moving at a constant speed. Explain this experience by
    referring to the concepts of static and kinetic friction:
</p>
<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>

