

<div id = 'putQuestionsHere'>
    <h3>
        Problems
    </h3>
    <p class = 'directions'>
        In each problem, solve for the stated variable in terms of the others.
    </p>
</div>
<div id = 'putAnswersHere'>
    <h3>
        Answers
    </h3>
</div>

<script>
    var myProblems = new writtenProblemList();
    $.getJSON( '{{assetPath}}' + 'symbolic_algebra_2_problems.json',(data)=>{
        data.problems.forEach((problem) => {
            myProblems.addProblem( [problem.questionLine1, "\\(" + problem.questionLine2 + "\\)"], '\\(' + problem.answer + '\\)');
        });
        console.log(myProblems);
        myProblems.insertLists('putQuestionsHere','putAnswersHere');
    });
    myProblems.insertLists('putQuestionsHere','putAnswersHere');
</script>