
<ol>
    <li>
        Two cars, C and D, accelerate to some velocity and then drive at a constant velocity.
        <br>
        <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/comparison_2.png' height = '300px' width = 'auto'/>
        <br>
        Which car accelerated to a faster constant velocity?
        How do you know?
    </li>
    <li>
        Two cars, E and F, begin with a velocity greater than zero and accelerate.
        <br>
        <img src = '/quizAssets/kinematics/forward_kinematics_qualitative/comparison_3.png' height = '300px' width = 'auto'/>
        <br>
        Which car had a greater initial velocity?
        How do you know?
    </li>
</ol>