<p class="directions">
    Match each situation to the correct free-body diagram.
</p>


<h5>
    Part 1:
</h5>

<div class="container">
    <div class="row">
        <div class="col-5">
            1. A person resting in bed.
        </div>
        <div class="col-2 bg-secondary">

        </div>
        <div class="col-5" id = 'fbd_A'>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            2. A box being pushed across a floor with friction.
        </div>
        <div class="col-2 bg-secondary">

        </div>
        <div class="col-5" id = 'fbd_B'>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            3. An object that is falling down.
        </div>
        <div class="col-2 bg-secondary">

        </div>
        <div class="col-5" id = 'fbd_C'>
        </div>
    </div>


    <div class="row">
        <div class="col-5">
            4. And box being <em>pulled</em> by
            a rope across a frictionless surface.
        </div>
        <div class="col-2 bg-secondary">

        </div>
        <div class="col-5" id = 'fbd_D'>
        </div>
    </div>

</div>

<script>
    // 3 1 2 4
    $("#fbd_A").append(fastFBD([['down','gravity']]).drawCanvas());
    $("#fbd_B").append(fastFBD([['down','gravity'],['up','normal']]).drawCanvas());
    $("#fbd_C").append(fastFBD([['down','gravity'],['up','normal'],['right','applied'],['left','friction']]).drawCanvas());
    $("#fbd_D").append(fastFBD([['down','gravity'],['up','normal'],['right','tension']]).drawCanvas());
</script>

<h5>
    Part 2:
</h5>

<div class="container">
    <div class="row">
        <div class="col-5">
            5. Somebody hanging from a very powerful spring.
        </div>
        <div class="col-2 bg-secondary">

        </div>
        <div class="col-5" id = 'fbd_E'>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            6. A plane flying.
        </div>
        <div class="col-2 bg-secondary">

        </div>
        <div class="col-5" id = 'fbd_F'>
        </div>
    </div>

    <div class="row">
        <div class="col-5">
            7. A buoy floating in the water.
        </div>
        <div class="col-2 bg-secondary">

        </div>
        <div class="col-5" id = 'fbd_G'>
        </div>
    </div>


    <div class="row">
        <div class="col-5">
            8. A boxer standing on a mat and taking a punch
        </div>
        <div class="col-2 bg-secondary">

        </div>
        <div class="col-5" id = 'fbd_H'>
        </div>
    </div>

</div>


<script>
    ///1 3 4 2
    $("#fbd_E").append(fastFBD([['down','gravity'],['up','elastic force']]).drawCanvas());
    $("#fbd_F").append(fastFBD([['down','gravity'],['up','buoyancy']]).drawCanvas());
    $("#fbd_G").append(fastFBD([['down','gravity'],['up','normal'],['left','contact']]).drawCanvas());
    $("#fbd_H").append(fastFBD([['down','gravity'],['right','thrust'],['left','drag'],['up','lift']]).drawCanvas());
</script>
