<p>
    Typically, when solving a physics problem,
    you find an answer with many extra decimal places
</p>

<h4>
    Rounding to a Whole Number
</h4>
<ul>
    <li>
        Look at the first decimal digit:
    </li>
    <li>
        If it is 0, 1, 2, 3, or 4, round down.
        Keep the number you have without the decimal.
    </li>
    <li>
        If it is 5, 6, 7, 8, or 9, round up.
        Move up one number and don't write the decimal.
    </li>
</ul>

<!---
INCLUDE ARCANE ROUNDING RULE!
--->

<ol class = 'questionList'>
    <li class = 'question' data-answer = '3'>
        3.45
    </li>
    <li class = 'question' data-answer = '2'>
        1.89
    </li>
    <li class = 'question' data-answer = '3'>
      3.085
    </li>
    <li class = 'question' data-answer = '157'>
        156.731
    </li>
    <li class = 'question' data-answer = '342'>
        341.98312
    </li>
    <li class = 'question' data-answer = '58'>
        58.121
    </li>
    <li class = 'question' data-answer = '0'>
        0.45
    </li>
    <li class = 'question' data-answer = '1'>
        0.5
    </li>
    <li class = 'question' data-answer = '3'>
        2.5
    </li>
</ol>

<h4>
    Rounding Negative Numbers
</h4>

<ul>
    <li>
        Look at the first decimal place
    </li>
    <li>
        If the digit is 0, 1, 2, 3, or 4: round UP.
    </li>
    <li>
        If the digit is 5, 6, 7, 8, or 9: round DOWN.
        You will have a negative number with greater magnitude.
    </li>
</ul>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '-6'>
        -6.23
    </li>
    <li class = 'question' data-answer = '-5'>
        -4.62
    </li>
    <li class = 'question' data-answer = '-2'>
        -1.5
    </li>
    <li class = 'question' data-answer = '-32'>
        -32.1
    </li>
    <li class = 'question' data-answer = '0'>
        -0.4
    </li>
    <li class = 'question' data-answer = '-1'>
        -0.6
    </li>
</ol>



<h4>
    Rounding to a Decimal
</h4>

<p>
    Coming soon!
</p>


<h4>
    Answers:
</h4>
<ol class = 'answerList'></ol>