

<div class="bigSpace"></div>
<div class="bigSpace"></div>

<h3>
    <a href = '/podAssets/science_practice/error_approximation/significant_figures_3.hbs'>
        Practice Page Available as a PDF
    </a>
</h3>

<div class="bigSpace"></div>
<div class="bigSpace"></div>

<h3>
    Video Resources
</h3>
<h5>
    Flipping Physics Video
</h5>

<iframe width="560" height="315" src="https://www.youtube.com/embed/iwTMqLxQcp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
