<p class="directions">
    Find the length of the missing side.
    For full credit, you must include a brief description of your calculations.
</p>

<h5 class="text-danger">
    For full credit, you must include a brief description of your calculations.
</h5>


<ol class = 'questionList'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-md-6 mb-5' id = 'triangle1'>
            </div>
            <div class = 'col-md-6 mb-5' id = 'triangle2'>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col-md-6 mb-5' id = 'triangle3'>
            </div>
            <div class = 'col-md-6 mb-5'>
            </div>
        </div>
    </div>
</ol>


<script>
    sineProblem(409,72.94).displayProblem('triangle1');
    cotangentProblem(627,28.89).displayProblem('triangle2');
    secantProblem(540,49.35,true).displayProblem('triangle3');
</script>