
<p class = 'directions'>
    Write every formula before plugging any values into the formula.
    Write all values plugged into the formula before evaluating them
    with a calculator.
</p>

<h5>
    Mass of Uranus =  8.68 x 10<sup>25</sup> kilograms.
</h5>
<h5>
    The Moons of Uranus:
</h5>
<p>
    Note that mass is in units of 10^18 kilograms.
</p>


<div class="container">
    <div class="row">
        <div class="col-3 border border-dark p-2"><strong>Moon</strong></div>
        <div class="col-3 border border-dark p-2"><strong>Mass</strong> (10^18 kg)</div>
        <div class="col-3 border border-dark p-2"><strong>Radius of Rotation</strong> (km)</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Ophelia</div>
        <div class="col-3 border border-dark p-2">0.053</div>
        <div class="col-3 border border-dark p-2">49770</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Juliet</div>
        <div class="col-3 border border-dark p-2">0.056</div>
        <div class="col-3 border border-dark p-2">64350</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Rosalind</div>
        <div class="col-3 border border-dark p-2">0.25</div>
        <div class="col-3 border border-dark p-2">69940</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Bianca</div>
        <div class="col-3 border border-dark p-2">0.092</div>
        <div class="col-3 border border-dark p-2">59170</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Desdemona</div>
        <div class="col-3 border border-dark p-2">0.18</div>
        <div class="col-3 border border-dark p-2">62680</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Titania</div>
        <div class="col-3 border border-dark p-2">3527</div>
        <div class="col-3 border border-dark p-2">435910</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Oberon</div>
        <div class="col-3 border border-dark p-2">3014</div>
        <div class="col-3 border border-dark p-2">583520</div>
    </div>
</div>

<p>Source: <a href = 'https://en.wikipedia.org/wiki/Moons_of_Uranus'>Wikipedia: Moons of Uranus</a>
    (Yes, it's okay to look up factual information on Wikipedia.</p>
<p>
    Assume all moons move in circles, rather than ellipses.
    All of the moon's listed have extremely low eccentricities (meaning they are very nearly circles).
</p>
<ol>
    <li>
        PLease copy: "Newton's Third Law states that when A exerts a force on B,
        B exerts a force on A with equal magnitude and opposite direction.
    </li>
    <li>
        <ol type = 'a'>
            <li>
                Determine the magnitude of the force of gravitation between Uranus and Ophelia.
            </li>
            <li>
                Draw a diagram depicting Uranus and Ophelia.
                In your diagram, represent two forces of gravity quantitatively as arrows.
            </li>
            <li>
                In a sentence, describe how your diagram is consistent with Newton's Third Law.
            </li>
        </ol>
    </li>
    <li>
        BONUS: All of the moons of Uranus are named after characters created by what famous author?
    </li>
</ol>

