

<h5>
  Three ways to write Newton's Third Law:
</h5>

<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-4 border border-dark'>

    </div>
    <div class = 'col-4 border border-dark'>
      <strong>Advantages</strong>
    </div>
    <div class = 'col-4 border border-dark'>
      <strong>Disadvantages</strong>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-4 border border-dark mb-2'>
      <strong>The Poetic Version</strong>
      <br>
      For every action there is an equal and opposite reaction.
    </div>
    <div class = 'col-4 border border-dark mb-2'>
      Beautiful, famous quote.<br>
      Makes you sound smart.
    </div>
    <div class = 'col-4 border border-dark mb-2'>
      It isn't clear what this actually means.
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-4 border border-dark mb-2'>
      <strong>The Simple Version</strong><br>
      If you push something, it pushes you back with the same force,
      called the <em>reaction force</em>.
    </div>
    <div class = 'col-4 border border-dark mb-2'>
      Intuitive; captures the essence of Newton's Third Law in simple, easy language.
    </div>
    <div class = 'col-4 border border-dark mb-2'>
      Too simple to use for complex physical models.
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-4 border border-dark mb-2'>
      <strong>The Precise Version</strong><br>
      Whenever A exerts a force on B,
      also exerts a force on A with equal magnitude and opposite direction.
      <br>
      These two forces are called an <em>action-reaction pair</em>.
    </div>
    <div class = 'col-4 border border-dark mb-2'>
      Truly precise and correct, can be used for advanced physics models.
    </div>
    <div class = 'col-4 border border-dark mb-2'>
      Theoretical and non-intuitive.
    </div>
  </div>
</div>

<p>
  In this class, we will start by using the simple version in level 1,
  but quickly move to the precise version in level 2 and above.
  The poetic version you should memorize to sound smart,
  but it isn't very useful for solving physics problems.
</p>


<ol class = 'questionList'>
  <li class = 'question'>
    Mr. Kuncik punches the wall with a force of 200 N.
    What force does the wall exert on Mr. Kuncik?
    What will Mr. Kuncik feel?
  </li>
  <li class = 'question'>
    If Mr. Kuncik punched the wall to the right, what is the direction
    of the reaction force?
  </li>
  <li class = 'question'>
    A massive linebacker slams Mr. Kuncik in the face with a force of 800 N.
    What force does Mr. Kuncik's face exert on the linebackers fist?
  </li>
  <li class = 'question'>
    A truck is speeding on the highway,
    when it hits an innocent bug flying.
    SPLAT!
    During the collision, which exerted more force:
    <ol type ='a'>
      <li>the bug</li>
      <li>the windshield</li>
      <li>they exerted the same force</li>
    </ol>
    Explain how you know:
  </li>
  <li class = 'question'>
    Make up your own situation involving Newton's Third Law.
  </li>
</ol>


<h3>
    Video Resources
</h3>
<h5>
    Flipping Physics Video
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/bAevUhFUhV4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>