<p class="directions">
    For each of the prefixes listed below, state the appropriate multiplier.
    (You must state the multiplier, not the exponent.)
</p>

<ol>
    <li class = 'mb-2'>
        centi
    </li>
    <li class = 'mb-2'>
        mega
    </li>
    <li class = 'mb-2'>
        micro
    </li>
    <li class = 'mb-2'>
        pico
    </li>
    <li class = 'mb-2'>
        hecto
    </li>
    <li class = 'mb-2'>
        milli
    </li>
    <li class = 'mb-2'>
        nano
    </li>
    <li class = 'mb-2'>
        femto
    </li>
    <li class = 'mb-2'>
        deca
    </li>
    <li class = 'mb-2'>
        giga
    </li>
    <li class = 'mb-2'>
        peta
    </li>
    <li class = 'mb-2'>
        tera
    </li>
    <li class = 'mb-2'>
        deci
    </li>
    <li class = 'mb-2'>
        kilo
    </li>
    <li class = 'mb-2'>
        What prefix is represented by the abbreviation μ.
    </li>
</ol>