
<h3>
    Good Graphs
</h3>

<h4>
    Make your Graph Large (use a whole page)
</h4>

<h4>
    Always Draw your Graph on Graph Paper
</h4>


<h4>
    Plot the independent variable on the horizontal axis
    and the dependent variable on the vertical axis.
</h4>
<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/58779731/?s=fdwl0y&amp;ref=embed" allowfullscreen></iframe>


<h4>
    Label the quantity and unit of each variable on the axis
</h4>
<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/58779821/?s=55aeyh&amp;ref=embed" allowfullscreen></iframe>


<h4>
    Draw a Scatter Plot. Do not connect points. Include a best-fit line only if your hypothesis
    indicates the variables are linearly proportional.
</h4>
<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/58780035/?s=xlpwt4&amp;ref=embed" allowfullscreen></iframe>

<h4>
    Label your scale. Use an Appropriate Scale
</h4>

<h4> Do not include a point at (0,0) unless it is in your data table.</h4>


<h3>
    Good Best Fit Lines
</h3>

<h4>
    Do not include an arrow on your best fit line
</h4>

<h4>
    Remember whether or not there is a point at (0,0).
</h4>

<h4>
    Your best fit line does not need tog o through the origin.
</h4>


<h4>
    Draw your best fit line with a ruler
</h4>

<h4>
    Remember the Purpose of a Best Fit Line:
    To evaluate if the dependent variable is linearly proportional to the independent variable.
</h4>