<p>
  Remember that physics is,
  above all else,
  a class in <strong>How to Solve a Problem</strong>.
</p>

<p>
  Several psychologists have studied physics students
  and they have found the same thing again and again:
  physics students, even highly talented ones,
  learn very little through lectures,
  but they learn immensely from solivng problems.
  Students remember very little of what was explained in a physics
  lecture, but can remember the problems they solved in all their detail.
  (I can attest to this personally: I remember the problems I solved in college
  intimately to this day!)
</p>

<p>
  In this class, you will learn physics by discovering physics on your own.
  You will learn by solving problems.
  It can be stressful and uncomfortable at first,
  but my hope is that you will find yourself in the drivers seat and enjoy learning.
</p>

<h3>
  Problem Solving Skills
</h3>


<ul>
  <li>
    Getting Started:
    Suppose you have a new problem,
    and have no idea how to get started.
    How should you proceed.
    <ul>
      <li>
        Your first step should not be to ask the teacher.
        Once the teacher starts explaining,
        you are only learning to follow directions,
        not think through problems.
      </li>
      <li>
        It is good, even when working in groups,
        to try solving a problem
        on your own for a short time before
        discussing with your group members.
      </li>
      <li>
        Try to identify which topics of physics,
        which equations and concepts, are related to this problem.
        Is this a kinematics problem? A dynamics problem? etc.
        Many physics problems cross over between different branches
        of physics. (In fact, all real problems do.)
      </li>
      <li>
        If you don't know how to start this problem,
        then <em>make up</em> simpler problems that use
        the same concepts.
        For example, if you think that a problem
        will involve Newton's Law of Universal Gravitation,
        then make up an easy problem using this formula,
        and solve it. You'll be more warmed up and prepared.
      </li>
      <li>
        A similar strategy:
        look back through your notes, online resources, and textbook readings.
        Re-solve problems in your notes.
        You can watch online videos, but instead of watching the whole video,
        stop it once the problem is introduced, then solve that problem yourself.
      </li>
    </ul>
  </li>
  <li>
    Solve Problems Confidently
    <ul>
      <li>
        Pick an approach, a direction with which to solve
        the problem.
        Go down that direction will all your
        intellectual power.
        Turn around only if you have
        become sure it is a dead-end.
      </li>
      <li>
        If the direction you picked was wrong,
        you will eventually find out,
        but you will be more skilled for having
        tried.
        So do not be afraid to try wrong options.
      </li>
      <li>
        Never ask your teacher or your friends
        "Am I doing this right?"
        You may be doing it right or wrong,
        but have confidence in your own intellect either way.
      </li>
    </ul>
  </li>
  <li>
    How to Get Help
    <ul>
      <li>
        It is better to get help from a peer than from your teacher.
        Your peer is struggling through physics just like you,
        and will be able to expain physics as they are discovering it.
        And getting help from peers sets the right tone.
      </li>
      <li>
        Whenever you are solving physics problems together with someone,
        you want it to feel like <em>two people working together</em>,
        not someone telling another person what to do.
        In most high school physics classes, students quickly identify
        highly talented students and then lean on them for how to solve
        problems all year. That kind of social structure sets the wrong tone.
      </li>
      <li>
        Remember that <em>everyone</em> has something to bring to your group.
        Even if you struggle in physics class, you have something to add
        by asking your group to slow down and explain their process carefully.
        (Trust me, if talented students go too fast, they will run into problems )
      </li>
      <li>
        Don't ask the question "How do I get started?" or say "I have no idea how to get started!"
        Instead, try some of the strategies above, and then tell your peer helping you
        what you tried.
        Even if you aren't on the right track, this sets the right tone:
        two partners working together.
      </li>
      <li>
        Don't ask "Am I on the right track?"
        because (as it says above), this question shows a lack of confidence.
        Always speak confidently, and you will feel confidently.
        If you are concerend that you aren't on the right track,
        say what work you've done so far nonetheless.
        If you aren't on the right track, you'll find out eventually, but always stay confident.
      </li>
      <li>
        Work with different people! Keep changing who you work with.
        If the same group of friends always works together, they begin
        to fall into very set roles. When you work with a totally new group,
        you will find that you might end up doing things <em>differently</em>,
        and learning in a different way.
      </li>
    </ul>
  </li>
  <li>
    Writing Up Your Answer:
    <ul>
      <li>
        After completing a problem, do
        not turn in the page of notes
        that you initially solved
        the problem on.
        Instead, treat those notes as a first draft
        and write up a very careful, well written,
        and presentable piece to turn in.
      </li>
      <li>
        I always say "Physics is a problem solving class,"
        and I also always say "Physics is a writing class."
        So, it follows: "Problem solving is writing."
        You have not solved a problem until you
        have written the solution well.
      </li>
      <li>
        In writing up your solution,
        follow the style guide.
      </li>
    </ul>
  </li>
  <li>
    Solving a Problem Again:
    <ul>
      <li>
        Once you've solved a problem once, it is always helpful
        to solve it again, even the same exact problem!
      </li>
      <li>
        If it is a long and involved problem,
        it is like reading a book again.
        Can you learn more by reading
        Hamlet's "To Be or Not To Be Speech" more than once?
        Of course you can!
        And you can learn more by solving a very difficult
        physics problem more than once.
      </li>
    </ul>
  </li>
  <li>
    Helping Others Solve Problems
    <ul>
      <li>
        You will learn <strong>more</strong> by helping other students solve
        problems than by solving them yourself.
        To help others, you need to put your knowledge into clear language,
        which forces you to really, really understand it.
        Even better than explaining a problem is breaking it down into questions
        and thinking inside another person's head.
      </li>
      <li>
        When helping others, try to be <strong>minimalist</strong>,
        meaning, let the other person do as much work as possible.
        For example, if they seem to know what to do, back off and let them keep going.
      </li>
      <li>
        If you can, instead of explaining the topic, help someone
        by asking questions.
        For example, instead of saying "Use this formula."
        say, "What formula might help us get to the next step here?"
      </li>
    </ul>
  </li>
</ul>
