<ul>
    <li>
        \( \overline{\v} = \frac{d}{\Delta t} \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
    <li>
        \(  \)
    </li>
</ul>