<h5>Newton's First Law</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force = 0 and object is not moving
        </td>
        <td>
            Object remains still
        </td>
    </tr>
    <tr>
        <td>
            Net Force = 0 and the object is moving
        </td>
        <td>
            Object moves with a constant velocity
        </td>
    </tr>
</table>
<br>
<h5>Newton's Second Law</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force is in the same direction as velocity
        </td>
        <td>
            Object increases in speed.
        </td>
    </tr>
    <tr>
        <td>
            Net force is in the opposite direciton as velocity
        </td>
        <td>
            Object decreases in speed.
        </td>
    </tr>
</table>
<h5>Newton's Third Law</h5>
<table>
    <tr>
        <td>
            If A exerts a force on B,
            then B exerts a force on A
            with equal magnitude and opposite direciton.
        </td>
    </tr>
</table>


<p class = 'directions'>
    Answer each of the questions below by referring to Newton's Laws as stated above.
    You must refer to the laws stated above for full credit.
</p>

<ol>
    <li class = 'bigQuestion'>
        A spaceship is flying forward at a constant speed.
        It's thrusters, facing backwards, are off.
        The only way for a spaceship to stop moving
        is to <emph>turn around</emph> and fire the thrusters.
        Explain this by referring to one of Newton's Laws above,
        and by drawing a picture to illustrate how the law is applied.
    </li>
    <li class = 'bigQuestion'>
        A stupid astronaut thinks its a very good idea
        to throw a baseball while in outer space.
        Unfortunately, he finds that after throwing the ball,
        he flies backwards away from his ship, and continues moving that way forever!
        Explain why this is true by referring to <emph>at least two</emph>
        of Newton's Laws as listed above.
    </li>
</ol>

