<p>
    A block on a frictionless surface experiences a force \( F_a \) to the right,
    a gravitational force with magnitude \( mg \) downward,
    and a normal force \( mg \) upwards.
</p>

<p>
    Why is the magnitude of normal force equal to the magnitude of gravity?
</p>
<ol type = 'a'>
    <li>
        Every action has an equal and opposite reaction.
        Normal force is the reaction force to gravity, so its magnitude must
        be equal to that of gravity and its direction must be opposite.
    </li>
    <li>
        We observe the box is not accelerating.
        Therefore, each force must be balanced.
    </li>
    <li>
        We observe the box is not moving in the vertical dimension.
        Therefore, the net force in the vertical dimension must be zero.
    </li>
    <li>
        We observe the box is not accelerating in the vertical dimension.
        Therefore, the net force in the vertical dimension must be zero.
    </li>
</ol>

<p>
    <strong>1. - 3.</strong>
    For each of the three incorrect answer choices written above,
    write 2-3 sentences explaining why this answer choice is incorrect.
    For full credit, your explanations must refer explicitly to Newton's Laws of Motion.
</p>

<p>
    <strong>4.</strong>
    Improve the correct answer by defining the term <emph>constraint force</emph>
    and showing how it applies to this situation.
</p>

