<h2 class = 'text-danger'>
    This quiz must be taken on graph paper!
    If you don't have any, use a ruler to turn lined paper into graph paper
    or print some out <a href = 'https://www.waterproofpaper.com/graph-paper/graph-paper-half-inch.pdf'>here</a>.
</h2>

<p class = 'directions'>
  Draw waves with the specified wavelength and amplitude.
  For full credit, all crests, middle points, and troughs
  must be located in the correct locations.
  To make it clear you are accomplishing this goal,
  please indicate each crest, trough, and middle point with a solid point.
  For this quiz, you must draw sinusoidal waves (not triangular waves).
</p>

<ol>
  <li class = 'mb-3'>
    Draw a wave with the following specifications:
    <ul>
      <li>
        Wavelength = 8 squares
      </li>
      <li>
        Amplitude = 2 squares
      </li>
    </ul>
  </li>
  <li class ='mb-3'>
    Draw a wave with the following specifications:
    <ul>
      <li>
        Wavelength = 4 squares
      </li>
      <li>
        Amplitude = 6 squares
      </li>
    </ul>
  </li>
</ol>
