<p class = 'directions'>
    For full credit, you must carefully show your work on each problem.
    Every time you use a formula, copy the formula before using it.
    When you plug values into a formula, show the plugged values
    <emph>before</emph> simplifying or evaluating.
    Always include an appropriate unit in your answer.
</p>


<ol>
    <li>
        A car has a mass of 1356 kg.
        It is doing donuts (driving in circles) with a radius of 6 m,
        and completes 8 circles in a time of 12 seconds.
        Determine the:
        <ol tyoe = 'a'>
            <li>
                Linear speed of the car.
            </li>
            <li>
                Magnitude of centripetal acceleration of the car.
            </li>
            <li>
                Magnitude of centripetal force acting on the car.
            </li>
        </ol>
    </li>
    <li>
        A car has a mass of 1652 kg.
        It takes a turn, completing a quarter of a
        circle with a radius of 8 meters in a time of 3 seconds.
        Determine the centripetal force acting on the car.
    </li>
</ol>
