<h3>
    Incomplete!
</h3>


<p class = 'directions'>
    Read the entire section before writing anything.
    Write your ideas on a separate page.
</p>



<p>
    Nearly all physics students, when first asked, choose the answer A.
    When asked how confident they are about it, they state, "100%."
    When asked why, students consistently say that "the arrow moves forward because there is a force pushing the arrow forward."
    This incldues students who have extremely high SAT scores and attend highly competitive colleges,
    even those who major in STEM subjects.
</p>
<p>
    Of course, you know by now (if you've passed all the quizzes before this), that the correct answer is B
    and you know why.
    For this quiz, your task is to explore the reasons why highly intelligent students could so confidently get
    an answer incorrect.
</p>

<p>
    Living on earth is responsible for incorrect ideas about physics.
    The laws of physics are universal, and describe motion in all areas of the universe,
    yet all but a handful of humans (and all high school physics students)
    have no experience with life outside of earth.
    Thus, people begin to assume that certain facts which are true in earth are true universally.
</p>
