<ol>
    <li>
        A massless spring is attached to a wall and is lying horizontally on a frictionless surface.
        The spring has spring constant \( k \) and is at rest at its equilibirum length \( x_0 \).
        Attached to the end of the spring is a block of mass \( m \).
        Somebody then pulls the spring backward to length \( x_1 > x_0 \).
        <ol type = 'a'>
            <li>
                Determine an equation for the total energy of the block-spring system
                in terms of \( k \), \( x_0 \), and \(x _1 \).
                How many terms are in your equation?
                Describe in words what each term represents.
                Prove that each term of your equation has the correct units of energy.
            </li>
            <li>
                The person lets go of the block, and it begins to accelerate towards the wall, pulled by the spring.
                At what point will the block reach its maximum velocity and why?
            </li>
            <li>
                Determine an equation for the maximum velocity of the block in terms of
                \( m \), \( k \), \( x_0 \), and \(x _1 \).
                Briefly describe your method in words.
                Prove that your equation is dimensionally correct.
            </li>
            <li>
                After reaching maximum velocity, the block decelerates until it compresses
                the spring to a distance \( x_{min} \).
                Determine an equation for \( x_{min} \) in terms of
                \( x_0 \) and \( x_1 \).
                Briefly describe your method in words.
                Prove that your equation is dimensionally correct.
            </li>
        </ol>
    </li>
    <li>
        A massless spring is attached to a wall and is lying horizontally on a frictionless surface.
        The spring has spring constant \( k \) and is at rest at its equilibirum length \( x_0 \).
        Attached to the end of the spring is a block of mass \( m \).
        Somebody than whacks the block very hard with a hammer, and gives it a velocity \( v_i \).
        The whack was in the direction towards the wall, so after being whacked the spring begins to compress.
        <ol type = 'a'>
            <li>
                Write an equation for the total energy of the mass-spring system
                in terms of \( k \), \( x_0 \), \( m \), and \( v_i \).
                Some of the known variables may be unecessary.
                How many terms does your equation have?
                Briefly describe what each term of your equation represents.
                Prove that each term of your equation has the correct units of energy.
            </li>
            <li>
                The block compresses the spring until the spring stops moving.
                Determine an equation for \( x_{min} \), the minimum length of the spring.
                Briefly describe your method.
                Prove that your equation is dimensionally correct.
            </li>
            <li>
                After compressing to \( x_{min} \),
                the spring beings stretching until it is stretched to a length \( x_{max} \)
                and the block stops moving a second time.
                Determine an equation for \( x_{max} \) in terms of
                \( x_0 \) and \( x_{min} \).
                Briefly describe why you picked the equation you did.
            </li>
        </ol>
    </li>
</ol>