

<!--
oldContent:
-ptolomeic universe

- copernican principle
- anthropic principle


There are no special observers in the universe.
Someone looking at us in a galaxy 1 billion light years away
would see something similar


Humans are not at the center of the universe. (To the best of our knowledge, there isn't a center.)

-->


<ul class="definition" data-word = 'Copernican Principle'>
    <li>
        There are no special observers in the universe.
    </li>
    <li>
        Humans are not situated at the center or at any special point in the universe.
    </li>
    <li>
        Someone in a galaxy 1 billion light years away, when observing the universe,
        would see something similar to what we see.
    </li>
</ul>


<ul class="definition" data-word = 'Planet (Greek view)'>
    <li>
        The word planet comes from the Greek word <emph>planetes</emph>, meaning wanderer.
    </li>
    <li>
        The stars remain in the same locations each night, while appearing to move in a circle around the sky
        each night.
    </li>
    <li>
        The sun appears to orbit
    </li>
    <li>
        The bodies called Mars,
    </li>
</ul>


<ul class="definition" data-word = 'Ptolemaic Model'>
    <li>
        The earth is situated at the center of the universe.
    </li>
    <li>
        The moon, sun, stars, and all planets orbit the earth.
    </li>
    <li>
        The retrograde motion of the planets occur because the
        they move in circles inside of circles.
    </li>
</ul>

<ul class="definition" data-word = 'Copernican Model'>
    <li>
        The sun is situated at the center (of the universe that was known at that time.)
    </li>
    <li>
        Earth is grouped with the planets. All planets orbit the sun in circles
    </li>
</ul>

<p>
    Note that the Copernican model is <emph>not perfect</emph>.
    For one thing, later astronomers discovered planets move in ellipses, not circles.
    However, not physical model is perfect: the important thing is that newer,
    models that match data better with simpler assumptions are being developed.
</p>