<h4>
    Introduction
</h4>

<p class="definition" data-word = 'atom'>
    A tiny piece of matter, made of protons,
    neutrons, and electrons.
</p>
<p class="definition" data-word = 'element'>
    A substance made of atoms that are all the same type.
</p>
<p class="definition" data-wrod = 'Periodic Table of Elements'>
    A systemtic table listing all discovered elements.
</p>

<ol class="questionList fillInTheBlank">
    Gold, silver, and carbon are all examples of
    <li class="question" data-answer = 'elements'>_______________</li>.
    They are listed on the
    <li class="question" data-answer = 'periodic table of elements'>_______________</li>.
    If you had a golden ring, you could break it down
    into tiny pieces called
    <li class="question" data-answer = 'atoms'>_______________</li>.
</ol>

<!--
structure of atoms
--->

<p class="definition" data-word = 'atomic number'>
    The number of protons in the nucleus of an atom.
    All nuclei of a particular element have
    <emph>the same</emph>
    number of protons.
</p>
<p class="definition" data-word = 'Mass Number'>
    THe number of protons + the number of neutrons.
    All nuclei DO NOT have the same number of neutrons,
    and DO NOT have the same mass number
</p>
<p class="definition" data-word = 'isotope'>
    All atoms of one element have the <emph>same number</emph>
    of protons, but they do not have the same mass number.
    Different <emph>isotopes</emph> of one element are different
    atoms of the same element with different mass numbers.
</p>

<p class="definition" data-word = 'Important fact on isotopes'>
    When you are in chemistry class, and learning about the different
    chemical reactions that an atom undergoes.
    In this case, the isotopes of an atom don't matter very much.
    However, when dealing with nuclear reactions,
    the isotopes you have is one of the most important factors.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'mass number'>
        When you add the number of protons and the number of neutrons
        in an atom, you have the _______________ of an atom.
    </li>
    <li class="question" data-answer = 'atomic number'>
        The number of protons in an atom is called the ______________.
    </li>
</ol>


<h4>
    Analyzing Isotopes
</h4>
<p>
    The common way to write an isotope is to write teh
    <strong>name of the element</strong>
    followed by the
    <strong>mass number</strong>.
    Note that the mass number of the isotope
    in quesiton may not be the atomic mass of that element.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'isotopes'>
        Carbon-12, carbon-13, and carbon-14 are all different ______________ of carbon.
    </li>
</ol>


<ol class="questionList">
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark">
                <strong>Isotope</strong>
            </div>
            <div class="col-2 border border-dark">
                <strong>Atomic Symbol</strong>
            </div>
            <div class="col-2 border border-dark">
                <strong>Mass Number</strong>
            </div>
            <div class="col-2 border border-dark">
                <strong>Number of Protons</strong>
            </div>
            <div class="col-2 border border-dark">
                <strong>Number of Neutrons</strong>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark pt-4">
                Uranium-238
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'U'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '238'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '92'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '146'></li>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark pt-4">
                Radium-226
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'Ra'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '226'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '88'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '138'></li>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark pt-4">
                Lead-206
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'Pb'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '82'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '206'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '124'></li>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark pt-4">
                Hydrogen-3
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'H'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '3'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '1'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '2'></li>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark pt-4">
                Sodium-22
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'Na'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '22'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '11'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '11'></li>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark pt-4">
                Argon-39
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'Ar'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '39'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '18'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '21'></li>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark pt-4">
                Radon-222
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'Rn'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '222'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '86'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '136'></li>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark pt-4">
                Carbon-12
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'C'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '12'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '6'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '6'></li>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark pt-4">
                Carbon-13
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'C'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '12'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '13'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '7'></li>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 border border-dark pt-4">
                Carbon-14
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'C'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '14'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '6'></li>
            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = '8'></li>
            </div>
        </div>
    </div>
</ol>


<h4>
    Representation of a Nucleus
</h4>

<p>
    This is how we represent the nucleus of Carbon-14.
    When we draw it this way, we call it a <strong>nuclide</strong>.
</p>

<p>
    $$
    ^{14} _6 \text{C}
    $$
</p>

<!--
INFORMATION HERE
-->


<p class="directions">
    For each nuclide, use the periodic table of elements to fill in the missing information:
</p>

<ol class="questionList">
    <li class="question" data-answer = '11'>
        \( \; \; \; ^{23} _{??} \text{Na} \)
    </li>
    <li class="question" data-answer = '8'>
        \( \; \; \; ^{16} _{??} \text{O} \)
    </li>
    <li class="question" data-answer = 'H'>
        \( \; \; \; ^1 _1 \text{??} \)
    </li>
    <li class="question" data-answer = 'Te'>
        \( \; \; \; ^{124} _{52} \text{??} \)
    </li>
    <li class="question" data-answer = '18'>
        \( \; \; \; ^{40} _{??} \text{Ar} \)
    </li>
</ol>


<p class="directions">
    Using the table below, determine the number
    of protons and neutrons each nuclide has.
</p>

<ol class="questionList">
    <div class="container">
        <div class="row">
            <div class="col-3 border border-dark">
                Nuclide
            </div>
            <div class="col-3 border border-dark">
                Element
            </div>
            <div class="col-3 border border-dark">
                Number of Protons
            </div>
            <div class="col-3 border border-dark">
                Number of Neutrons
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark pt-4">
                \( ^{14} _{7} \text{N} \)
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = 'Nitrogen'></li>
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '7'></li>
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '7'></li>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark pt-4">
                \( ^{1} _{1} \text{H} \)
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = 'Hydrogen'></li>
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '1'></li>
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '0'></li>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark pt-4">
                \( ^{222} _{86} \text{Rn} \)
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = 'Radon'></li>
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '86'></li>
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '136'></li>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark pt-4">
                \( ^{235} _{92} \text{U} \)
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = 'Uranium'></li>
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '92'></li>
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '143'></li>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark pt-4">
                \( ^{14} _{6} \text{C} \)
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = 'Carbon'></li>
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '6'></li>
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '8'></li>
            </div>
        </div>
    </div>
</ol>

<p class="directions">
    For each isotope, draw the <emph>nuclide notation</emph>.
</p>

<ol class="questionList">
    <div class="container">
        <div class="row">
            <div class="col-3 border border-dark">
                Isotope
            </div>
            <div class="col-3 border border-dark">
                Nuclide Notation
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark pt-4">
                Lithium-7
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '\( ^{7} _{3} \text{Li} \)'></li>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark pt-4">
                Iron-56
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '\( ^{56} _{26} \text{Fe} \)'></li>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark pt-4">
                Magnesium-24
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '\( ^{24} _{12} \text{Mg} \)'></li>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark pt-4">
                Gold-197
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '\( ^{197} _{79} \text{Au} \)'></li>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark pt-4">
                Antimony-123
            </div>
            <div class="col-3 border border-dark pt-4">
                <li class="question" data-answer = '\( ^{123} _{51} \text{Sb} \)'></li>
            </div>
        </div>
    </div>
</ol>

