<p>
  In the previous pod, we discussed what a theory is.
  A theory is a statement about how the universe works.
  The goal of physicists is to create theories,
  then run observations and experiments that can be explained
  and predicted by the theories.
  However, there is more to a good theory than simply matching
  the data.
  In this pod, we will learn about some of the qualities
  that make a theory strong: universality, parsimony, and clear limitations.
</p>

<h4>
  Universality
</h4>

<p>
    A good theory is <em>universal</em>, it applies in the entire universe, not just part of it.
    Of course, we cannot prove the entire universe follows a particular law unless we can visit and observe the entire
    universe, but a good theory should be applicable to all parts of the universe we can observe.
</p>

<h5>
    Example: Aristotle and Newton
</h5>

<p>
    Aristotle, and many thinkers after him, argued that earth and space (the heavens) followed fundamentally different laws.
    On earth, objects fall down and stop moving. In the heavens, they planets and starts move on their course forever.
    When Isaac Newton released his Laws of Gravity and Motion, he was able to describe motion both in earth and in space.
    Objects on earth fall down because they are attracted to the mass of the earth; planets and comets in space move in circles
    because they are pulled into those circles by the mass of the sun. In both cases, the Law of Gravity is followed.
    Objects on earth stop moving because, forces pull on them to stop them, but the absence of oif a force to stop them
    allows orbiting planets to continue moving. In both cases, forces are necessary tos top an object (Newton's First Law).
</p>

<p>
    The success of Newton's Laws was not simply that they were more correct, or that they better matched the data,
    but that they were more <strong>universal</strong>.
    With Aristotle's Laws, the different rules govern the earth and the heavens,
    but with Newton's Laws, the same rules govern both.
</p>

<p>
    Further Reading:
    __________________
</p>

<h4>
  Parsimony
</h4>

<!--
- Kepler's Laws vs. ptolomeic universe model
- discovery of the electroweak theory
- possibility of a grand unified theory
-->

<p>
    A good theory is <strong>parsimonious</strong>, which means that it explains the universe with <em>as few</em>
    and <em>as simple</em>
    basic assumptions as possible.
    Essentially, good theories are <strong>simple</strong>!
</p>

<h5>
    Example: Ptolemaic Universe vs. Kepler's Laws
</h5>

<p>
    The Greek philosopher Ptolemy created a model of the universe that was believed for centuries:
    all planets, as well as the sun and the moon, orbited the earth in circles.
    However, at times, people would see that a planet would be moving forward on its circular path,
    when, instead of completing its circle, it would suddenly start moving backwards!
    Astronomers and mathematicians invented a solution: the planets were not moving around the earth merely in circles,
    but in circles inside of circles, or even circles inside of circles inside of circles. With this modification,
    the Ptolemaic model was able to fit the observed data of planetary motion.
</p>

<p>
    In the 16th and 17th century, astronomers began to question Ptolemy's model.
    The Polish astronomer Nicolaus Copernicus was the first to posit that planets orbit the sun, not the earth,
    but the largest figure of this period was the German mathematician Johannes Kepler.
    By examining mountains of astronomical data compiled by the Danish astronomer Tycho Brahe,
    Kepler wrote three laws of planetary motion.
    The first was that all planets, earth included, move in an ellipse around the sun.
    (The other two are mathematical laws that determine the speed a planet moves.)
</p>

<p>
    Kepler's model could explain the problem with Ptolemy's:
    If Mars was moving in an apparent circle than suddenly turned around,
    it was not that mars had turned around, but that <em>the earth</em>
    had turned around and rotated the other way.
    There was no need to state that Mars was moving around the earth in a circle inside a circle inside of circle,
    only that Mars and Earth were both moving around the sun.
</p>

<p>
    Of course, today, we accept sun-centric theory, not the earth-centric theory,
    but the important question is <em>why</em> teh sun-centric theory is better.
    People might say it is because they one theory is correct and the other is wrong,
    but this is not the full story. If you assume planets move in circles inside of circles inside of circles,
    then this theory <em>still</em> matches the observed data from planets. It can still explain why each
    planet is seen int eh night sky at the particular place it is each night. So why was that theory abandoned?
</p>

<p>
    The sun-centric theory is superior because it is more <strong>parsimonius</strong>,
    meaning that it explains the motion of planets, correctly, with one simple assumption: that they all move around the sun.
    The earth-centric theory explains the motion of the planets but requires circles inside of circles inside of circles,
    which are far more complex.
    The sun-centric theory is superior because it is based on a single, straightforward, assumption.
</p>

<p>
    Further reading:
    ___________
</p>


<h5>
    Example: The Electroweak Force
</h5>

<p>
    During the 20th century, physcists had discovered that all of the forces in the world, and thus the motion,
    could be broken in to four fundamental force:
</p>
<ul>
    <li>
        Gravity
    </li>
    <li>
        The Electromagnetic Force
    </li>
    <li>
        The Strong Nuclear Force
    </li>
    <li>
        The Weak Nuclear Force
    </li>
</ul>
<p>
    In the 1960s and 1970s, Steven Weinberg, Sheldon Glashow, and Abdus Salam discovered that
    at high energies, the Electromagnetic Force and the Weak Nuclear Force
    combined to make a single force,
    called the <strong>electroweak force</strong>.
</p>
<p>
    This discovery made the theory of four fundamental forces more <em>parsimonious</em>.
    Before, all forces could be traced to four forces, now they could be traced to three.
    Fewer basic assumptions are necessary to explain the workings of the universe.
</p>

<p>
    Many physicists are still unsatisfied by having three fundamental forces and want their
    to be only one. A potential theory with only a single force would
    be called a <em>Grand Unified Theory</em> or a <em>Theory of Everything</em>.
    To date, no physicist has been able to create such a theory which matches experimental
    observations.
</p>

<h4>
  Clear Limitations
</h4>

<!---
Discuss Newton's Second Law vs. relativity and quantum theory
-->
