
<p class="definition" data-word = 'Variable'>
    Any number or quality that you can measure and can change.
    (Variables can be either qualitative or quantitative.)
</p>

<p class="definition" data-word = 'Independent Variable'>
    A variable that is systematically changed .
</p>

<p class="definition" data-word = 'Dependent Variable'>
    A variable that is measured each time the independent variable is changed.
</p>

<p class="definition" data-word = 'Controlled Variable'>
    A variable that
    is intentionally kept the same.
</p>

<ul class="definition" data-word = 'Deductive Experiment'>
    <li>
        A deductive experiment is a test of whether  and how one variable
        influences another variable.
    </li>
    <li>
        Every deductive experiment has...
        <ul>
            <li>
                <strong>One</strong> independent variable,
            </li>
            <li>
                <strong>One</strong> dependent variable,
            </li>
            <li>
                And as many controlled variables as are necessary.
            </li>
        </ul>
    </li>
    <li>
        The experiment tests how the independent variable changes the dependent variable.
    </li>
</ul>

<h5>
    Measurability:
</h5>
<p>
    Remember that the variable must be something measurable and what you are exactly measuring.
    It cannot be an abstract concept you want to measure.
    For example, suppose you are trying to measure happiness.
    "Happiness" is not a concept with a precise definition that can be measured and quantified.
    What you can do is give people a paper that asks "How happy are you right now on a scale from 1 - 10?"
    In this case, your variable is not "happiness" itself, but people's answer to the question
    "How happy are you right now on a scale from 1 - 10?"
</p>

<p>
    (This is a much bigger problem issue in psychology and medicine than in physics.
    In physics, we typically deal with
    quantities that can be precisely measured.
    However, it still bears mentioning.)
</p>

<h4>
    Questions
</h4>

<ol class="questionList">
    <li class="question">
        Your Question: You have a device that fires marbles from a cannon,
        and you want to know which cannon angle causes a marble to fly the farthest distance before hitting the ground.
        <br>
        Your Procedure: You begin the cannon at 5 degrees, fire it, and then determine how far the marble flies before hitting the ground.
        You add 5 degrees and repeat, and continue adding five degrees each time you fire the cannon.
        Throughout this procedure, the marble cannon is kept on its lowest strength setting.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = 'The angle at which the cannon is fired'>
                What is the independent variable?
            </li>
            <li class="subQuestion" data-answer = 'The distance the marble flies before striking the ground.'>
                What is the dependent variable?
            </li>
            <li class="subQuestion" data-answer = 'The strength setting of the marble launcher.'>
                Identify one controlled variable.
            </li>
        </ol>
    </li>
    <li class="question">
        Your Question: Which make and model of car has the best gas mileage on the highway?
        <br>
        Your Procedure: I drive a different make and model of car from Fall River to Boston on the exact same route each night.
        I drive in the middle o f the night, when there is very little traffic, and I use cruise control
        to make sure that I stay at a speed of 60 mph.
        After each trip, I chart precisely how much gas my car used.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = 'Make and model of car'>
                What is the independent variable?
            </li>
            <li class="subQuestion" data-answer = 'How much gas is used'>
                What is the dependent variable?
            </li>
            <li class="subQuestion" data-answer = 'The speed of the car (60 mph) OR the route driven (Fall River to Boston)'>
                Identify one controlled variable.
            </li>
        </ol>
    </li>
    <li class="question">
        Your Question: What is the fastest way to drive from home to work?
        <br>
        Your Procedure: Every day, I leave my apartment at precisely 6:30 am, when traffic is light.
        I take a different route to work each day, and each day I make note of the time that I arrive at work.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = 'The route I take to work.'>
                What is the independent variable?
            </li>
            <li class="subQuestion" data-answer = 'The time I arrive at work.'>
                What is the dependent variable?
            </li>
            <li class="subQuestion" data-answer = 'The time I leave my apartment.'>
                Identify one controlled variable.
            </li>
        </ol>
    </li>
    <li class="question">
        Your Question: How long do you grill a steak to get the best taste?
        <br>
        Your Procedure: Every night, I buy 30 T-Bone steaks.
        I grill the steaks for a different time interval every night, beginning with 8 minutes and adding one minute each night.
        I give the steaks free to people in Government Center in Boston.
        Each person fills out a survey on how the steak tastes.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = 'Time interval grilling the steak'>
                What is the independent variable?
            </li>
            <li class="subQuestion" data-answer = 'Survey answers on taste of the steak (Remember that it must be a measurable variable, it cannot be the taste of teh steaks, which is subjective.)'>
                What is the dependent variable?
            </li>
            <li class="subQuestion" data-answer = 'Type of steak used (T-Bone) OR where surveys are given (Government Center)'>
                Identify one controlled variable.
            </li>
        </ol>
    </li>
    <li class="question">
        Your Question: Does homework help students learn more?
        <br>
        Your Procedure: I give each class different amount of homework.
        One class receives no homework. Another class receives about 5 physics problems,
        and another class receives about 50 physics problems.
        All students receive exactly the same
        After two weeks, I give all classes a physic test, and I calculate the mean score of each class.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = 'Amount of homework received by each class.'>
                What is the independent variable?
            </li>
            <li class="subQuestion" data-answer = 'Mean performance of each class on the physics test.'>
                What is the dependent variable?
            </li>
            <li class="subQuestion" data-answer = 'The lesson delivered in class.'>
                Identify one controlled variable.
            </li>
            <li class="subQuestion" data-answer = 'The students in each class (what if one class does better on the test because it has students?)'>
                Identify a variable I was not able to control.
            </li>
        </ol>
    </li>

    <li class="question">
        Your Question: I am an advertising designer, and I want to know: what type of TV advertisement sells the most hamburgers.
        (Those with giant photos of hamburgers? Those with people enjoying hamburgers with their friends? Ads about how cheap hamburgers are? Humorous ads?)
        <br>
        Your Procedure:
        I create several different hamburger ads.
        I bring randomly selected volunteers into a room and show each volunteer one of the ads.
        I only select volunteers between ages 16 and 36.
        Three months later, I track each volunteer down and give them a survey on how many hamburgers they purchased in the past three months.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = 'Which hamburger ad was seen.'>
                What is the independent variable?
            </li>
            <li class="subQuestion" data-answer = 'Number of hamburgers reported bought in three months.'>
                What is the dependent variable?
            </li>
            <li class="subQuestion" data-answer = 'Age range of volunteers.'>
                Identify one controlled variable.
            </li>
        </ol>
    </li>
</ol>

<ol class="answerList"></ol>