<ol>
    <li class = 'physicsQuestion'>
        True or false? An object in motion will stay in motion if no force is acted on it.
    </li>
    <li class = 'physicsQuestion'>
        True or false? It is possible for an object at rest to begin moving through some method other than a force.
    </li>
    <li class = 'physicsQuestion'>
        What is the name of the property of matter "resistance to change in motion"?
    </li>
    <li class = 'physicsQuestion'>
        Mass is the amount of ___________ in an object.
        <ol type = 'A'>
            <li>Matter</li>
            <li>Force</li>
            <li>Time</li>
            <li>Love</li>
        </ol>
    </li>
    <li class = 'physicsQuestion'>
        When we say mass is attracting other masses, this is called what type of mass?
        <ol type = 'A'>
            <li>inertial mass</li>
            <li>gravitational mass</li>
            <li>physics mass</li>
            <li>football mass</li>
        </ol>
    </li>
    <li class = 'physicsQuestion'>
        Inertial mass is always ___________ gravitational mass
        <ol type = 'A'>
            <li>greater than</li>
            <li>less than</li>
            <li>equally to</li>
            <li>irrelevant to</li>
        </ol>
    </li>
</ol>
