

<ol class="questionList">
    <li class="question" data-answer = '7'>
        \( 12 = 5 + x \)
    </li>
    <li class="question" data-answer = '13'>
        \( 21 = 8 + x \)
    </li>
    <li class="question" data-answer = '24'>
        \( 19 = x - 5 \)
    </li>
    <li class="question" data-answer = '9'>
        \( 6 = x - 3 \)
    </li>
    <li class="question" data-answer = '4'>
        \( 8 = x \cdot 2 \)
    </li>
    <li class="question" data-answer = '7'>
        \( 28 = x \cdot 4  \)
    </li>
    <li class="question" data-answer = '48'>
        \( 6 = \frac{x}{8} \)
    </li>
    <li class="question" data-answer = '38'>
        \( 19 = \frac{x}{2} \)
    </li>
</ol>

<!---
Those are one step problems, add two step problems
-->