<p>
    In the previous pod, we counted the significant figures.
    In this pod, we will round to a specified number of significant figures.
</p>


<p class = 'directions'>
    For each of the values above, round the number to 2 significant digits.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '1.0'>
        1.0000000000
    </li>
    <li class = 'question' data-answer = '3.3'>
        3.333333333
    </li>
    <li class = 'question' data-answer = '4.9'>
        4.87123
    </li>
    <li class = 'question' data-answer = '0.22'>
        2 divided by 9
    </li>
    <li class = 'question' data-answer = '3.1'>
        \( \pi \)
    </li>
</ol>

<p class = 'direction'>
    For each of the values below,
    <emph>first</emph> convert the number into scientific notation,
    and <emph>then</emph> round it to three significant figures.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '\( 1.41 \cdot 10^{5} \)'>
        141231
    </li>
    <li class = 'question' data-answer = '\( 1.24 \cdot 10^{10} \)'>
        12412090184
    </li>
    <li class = 'question' data-answer = '\( 8.10 \cdot 10^{8} \)'>
        809707042
    </li>
    <li class = 'question' data-answer = '\( 1.41 \cdot 10^{-6} \)'>
        0.00000141240918
    </li>
    <li class = 'question' data-answer = '\( 1.24 \cdot 10^{-4} \)'>
        0.0001241241
    </li>
</ol>

<!---

-->


<h4>
    Answers:
</h4>

<ol class = 'answerList'></ol>