
<p class = 'directions'>
  Draw an energy transfer diagram that describes each situation.
  In each case, the energy transfer diagram should begin with <strong>sunlight</strong>
  and end at the indicated point.
</p>

<ol>
  <li>
    Somebody receives their electrical power from natural gas,
    and then uses it to light a light bulb.
    Begin with sunlight and end with the light of the light bulb.
  </li>
  <li>
    Somebody receives electrical power from a wind turbine,
    and then uses it to operate a toaster,
    but unfortuanely the toaster causes the bread to catch on fire!
    Begin with sunlight and end with <emph>two</emph>
    forms of energy given off by the burning bread.
  </li>
</ol>
