<p class = 'directions'>
    Answer each of the following questions by referring to facts mathematical
    facts about Newton's First and Second Laws.
</p>

<ol>
    <!--
    <li class = 'bigQuestion'>
        When Newton's Second Law is correctly interpreted,
        one can deduce if the net force is in the direction <emph>opposite</emph>
        the velocity,
        an object still moves, but the magnitude of velocity (speed) decreases.
        Using the fact that the acceleration and thus the <emph>change in velocity</emph>
        is in the same direction as net force for a particular period of time,
        demonstrate this fact using a  head-to-tail vector addition diagram.
    </li>
    -->
    <li class = 'bigQuestion'>
        A student is asked to write Newton's First Law and writes the following:
        "An object at rest stays at rest unless acted on by a force.
        An object in motion stays in motion at a constant velocity unless acted on by a force."
        This person forget a few key words.
        Point out one of them and <emph>give a specific example</emph> that states why this word is so important.
    </li>
    <p>Dont' Forget the back!</p>
    <div class = 'pageBreak'></div>
    <li class = 'bigQuestion'>
        Can an object <emph>change direction</emph> if no force acts on it?
        Answer the question by referring to Newton's First Law and using the
        precise definitions of velocity.
    </li>
</ol>
