<p>
    A student is giv en the following problem on a quiz:
</p>
<p>
    "A batter hits a baseball and it begins flying directly upwards (a pop-up).
    Ignoring air resistance, draw a free-body diagram of the ball after it is no
    longer touching the bat and is traveling upwards."
</p>
<p>
    The student says to himself:
</p>
<p>
    "There must be two forces on the ball,
    gravity is acting downward, and for the ball to travel upwards,
    there must be an upward net force on the baseball,
    so there must be another force acting upward on the ball
    that is stringer than gravity.
    I'm not sure what to call this force, so I will call it 'applied force'
    because the batter applied it"
</p>
<p>
    Here is what the student writes:
</p>

<img src = '/asset/e492fc/quiz_fbd.png' width = '200px' height = 'auto'/>

<p>
    Unfortunately, the teacher marks the student's answer <strong>incorrect</strong>.
</p>

<ol>
    <li>
        Determine one element of the student's reasoning that was correct.
    </li>
    <li>
        Determine two elements of the student's reasoning that was incorrect.
    </li>
    <li>
        Assume a baseball did have the two forces the student identified acting on it
        while moving upward.
        Describe what the motion of the baseball would be.
    </li>
    <li>
        Draw the free-body diagram that would have been the correct answer.
    </li>
</ol>