<p class = 'directions'>
    Solve each of the questions below by referring specifically and explicitly to Newton's Laws.
</p>

<ol>
    <li class = 'bigQuestion'>
        How is it possible that we can predict the time of a solar eclipse 30
        years from now to the exact minute but can't build a photocopier that does not jam?
        For this question, you do not need to <emph>explicitly</emph> refer to Newton's Laws,
        but please answer the question by describing facts about space and motion in space.
        Compare teh motion of the earth moon and sun to the motion of a piece of paper inside the photo copier.
    </li>
    <li class = 'bigQuestion'>
        Imagine a comet (a giant ball of ice) is on a path to strike earth.
        Explain how the crisis could be easily averted by by referring to facts
        about space and at least one of Newton's Laws.
    </li>
    <p>Don't forget the back!</p>
    <div class = 'pageBreak'></div>
    <li class = 'bigQuestion'>
        By referring to one of Newton's Laws above,
        explain what the motion of this X-Wings in this photo should be.
        (The X-wings are the spaceships with wings in the shape of an X).
        <br>
        <img src = 'images/x_wing.jpg' width = '400px' height = 'auto' />
    </li>
    <li class="bigQuestion">
        A spaceship is headed to the planet Epsilon Eridani b.
        As the ship is moving quickly in the right direction and the captain wants to conserve fuel,
        she turns off the engines and lets the spaceship keep moving towards the planet, expecting
        to reach the planet in 20 hours.
        But later on, while everyone else is asleep,
        a very unhelpful astronaut (not the captain) is so upset at autocorrect
        that she angrily throws her iPhone out the safety latch and into space.
        20 hours later, the rest of the crew wakes up and finds they are way off course and nowhere
        near the planet Epsilon Eridani b!
        Explain what went wrong by referring to Newton's Laws of Motion.
    </li>
</ol>
