<p class = 'direcitons'>
    Use the Laws of Physics to determine solutions to each of the following dilemmas
</p>

<ol>
    <li class="bigQuestion">
        Oh no! Allison the Astronaut has drifted about 500 m away from her spaceship!
        A bunch of goofball astronauts through it would be a good idea to play cards
        while on a spacewalk, and after some sillyness, Allison ended up with the card
        table 500 m away from her ship. Fortunately, she can still clearly see the ship.
        Unfortunately, all she has with her is a silly card table.
        Determine a way that Allison can safely return to her spaceship, and relate
        this motion to Newton's Laws of Motion.
    </li>
    <li class="bigQuestion">
        A spaceship is headed to the planet Epsilon Eridani b.
        As the ship is moving quickly in the right direction and the captain wants to conserve fuel,
        she turns off the engines and lets the spaceship keep moving towards the planet, expecting
        to reach the planet in 20 hours.
        But later on, while everyone else is asleep,
        a very unhelpful astronaut (not the captain) is so upset at autocorrect
        that she angrily throws her iPhone out the safety latch and into space.
        20 hours later, the rest of the crew wakes up and finds they are way off course and nowhere
        near the planet Epsilon Eridani b!
        Explain what went wrong by referring to Newton's Laws of Motion.
    </li>
</ol>
