<h5>Newton's Model</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force = 0 and object is not moving
        </td>
        <td>
            Object remains still
        </td>
    </tr>
    <tr>
        <td>
            Net Force = 0 and the object is moving
        </td>
        <td>
            Object moves with a constant velocity
        </td>
    </tr>
    <tr>
        <td>
            Net Force is in the same direction as velocity
        </td>
        <td>
            Object increases in speed.
        </td>
    </tr>
    <tr>
        <td>
            Net force is in the opposite direciton as velocity
        </td>
        <td>
            Object decreases in speed.
        </td>
    </tr>
</table>

<ol>
    <!-- Newtons Laws (4) -->
    <li class="bigQuestion">
        A baseball is thrown forward in space.
        Explain what happens to it and relate this explaination to Newton's Laws.
    </li>
    <li class="bigQuestion">
        A baseball is thrown forward. Explain what happens to the person who threw it,
        assuming they have absolutely no way to exert any force on themselves after throwing the baseball
        Rate this explanation to Newton's Laws.
    </li>
    <li class="bigQuestion">
        Two small objects are located a couple centimeters apart in outer space.
        Explain what will happen to them over the course of the next few hours,
        and relate your answers to Newton's Laws.
    </li>
    <!-- Newton's Model-->
    <li class="bigQuestion">
        A spaceship has thrusters in the back. This means that the forward direction is opposite the direciton the thrusters are pointing.
        The spaceship is moving very fast forward, and it fires its thrusters. What happens to it?
        Relate your answer to Newton's Model.
    </li>
    <li class="bigQuestion">
        A spaceship has thrusters in the back.
        The spaceship is moving very fast, and it <i>turns around</i> and then fires its thrusters. What happens to it?
        Relate your answer to Newton's Model.
    </li>
    <li class="bigQuestion">
        A spaceship has thrusters and does not turn them on.
        It is moving very fast.
        What happens to it? Relate your answer to Newton's Model.
    </li>
</ol>
