
<h3>
    Problems:
</h3>
<div id = "put_questions_here"></div>
<h3>
    Answers:
</h3>
<div id = "put_answers_here"></div>


<script>
    var myProblems = new writtenProblemList();

    myProblems.addProblem(
            {
                "question": "X - 3 = 10",
                "answer": "X = 13"
            }
    );

    myProblems.addProblem(
            {
                "question": "X - 8 = 9",
                "answer": "X = 17"
            }
    );



    myProblems.insertLists("put_questions_here", "put_answers_here");
</script>