<p>
    <strong>Directions:</strong> In each problem, solve for \( x \).
</p>


<div id = 'put_questions_here'></div>
<div id = 'put_answers_here'></div>

<script>
    var myProblems = new writtenProblemList();

    myProblems.addProblem(
            {
                "question": "\\( 4 + 11 = 3 x - 6 \\)",
                "answer": "7"
            }
    );

    myProblems.addProblem(
            {
                "question": "\\( 55 = 12 x^2 - 53 \\)",
                "answer": "3"
            }
    );

    myProblems.addProblem(
            {
                "question": "\\( 19x = 24x - 15\\)",
                "answer": "3"
            }
    );

    myProblems.addProblem(
            {
                "question": "\\( 6= \\frac{24}{x} \\)",
                "answer": "4"
            }
    );

    myProblems.addProblem(
            {
                "question": "\\( 19 = \\frac{31}{x} \\)",
                "answer": "1.63"
            }
    );

    myProblems.addProblem(
            {
                "question": "\\( 36 = 16 + 2 \\cdot 12 (x - 12) \\)",
                "answer": "12.83"
            }
    );

    myProblems.addProblem(
            {
                "question": "\\( 100 = 64 + 2 \\cdot (x - 30) \\)",
                "answer": "31.8"
            }
    );

    myProblems.addProblem(
            {
                "question": "\\( 81 = 25 + 2 \\cdot 4 (18 - x) \\)",
                "answer": "11"
            }
    );


    myProblems.addProblem(
            {
                "question": "\\( 64 = 16 2 \\cdot 7 (20 - x) \\)",
                "answer": "16.57"
            }
    );


    myProblems.addProblem(
            {
                "question": "\\( 100 = \\frac{2 \\cdot 4 \\cdot 6}{x} \\)",
                "answer": "0.48"
            }
    );

    myProblems.addProblem(
            {
                "question": "\\( 24 = 6 \\sqrt{\\frac{x}{3}} \\)",
                "answer": "48"
            }
    );

    myProblems.addProblem(
            {
                "question": "\\( 40 = \\frac{1}{4} \\sqrt{\\frac{x + 10}{3}} \\)",
                "answer": "76,790"
            }
    );


    myProblems.addProblem(
            {
                "question": "\\( 50 = \\frac{2}{3}\\sqrt{\\frac{x + 13}{0.4}} \\)",
                "answer": "2,237"
            }
    );


    myProblems.addProblem(
            {
                "question": "\\( 500 = \\frac{1}{2} \\cdot 4 x^2 + 4 \\cdot 10 \\cdot 12 \\)",
                "answer": "3.16"
            }
    );


    myProblems.addProblem(
            {
                "question": "\\( 200 = \\frac{1}{2} \\cdot x \\cdot 5^2 + x \\cdot 10 \\cdot 14 \\)",
                "answer": "1.31"
            }
    );

    myProblems.addProblem(
            {
                "question": "\\( 120 = \\frac{3 \\cdot 9 \\cdot 12}{x^2} \\)",
                "answer": "1.64"
            }
    );
    myProblems.addProblem(
            {
                "question": "\\( 300 = \\frac{12 \\cdot 3x}{9^2} \\)",
                "answer": "675"
            }
    );
    myProblems.addProblem(
            {
                "question": "\\( 400 = \\frac{3 \\cdot 2 \\cdot (10 - 2)}{x^2} \\)",
                "answer": "0.34"
            }
    );
    myProblems.addProblem(
            {
                "question": "\\( \\frac{1}{x} = \\frac{1}{2} + \\frac{1}{4} \\)",
                "answer": "1.33"
            }
    );
    myProblems.addProblem(
            {
                "question": "\\( \\frac{1}{10} = \\frac{1}{x} + \\frac{1}{20} \\)",
                "answer": "20"
            }
    );

    myProblems.insertLists("put_questions_here", "put_answers_here");


</script>
