<p class = 'directions'>
    Answer each of the questions below based upon the random information from the study page.
</p>

<ol>
    <li>
        Who was elected Vice President in 1812?
    </li>
    <li>
        Lome is the capital of what African nation?
    </li>
    <li>
        What song won Grammy of the year in 1971?
    </li>
    <li>
        What team won the 1935 World Series?
    </li>
</ol>