<p class = 'directions'>
    Use two formulas for electrical circuits to derive new formulas as written in the problem.
    For full credit, you <emph>must</emph> show the operations used to solve each problem.
</p>

<ol>
    <li class = 'mediumQuestion'>
        Derive an equation for current in terms of voltage and power.
    </li>
    <li class = 'bigQuestion'>
        Derive an equation for resistance in terms of voltage and power.
    </li>
    <li class = bigQuestion>
        Derive an equation for current in terms of power and resistance.
    </li>
</ol>
