
<p class="directions">
    Determine each unknown angle indicated in degrees.
    For full credit, you must write each formula you use before you use it.
</p>

<ol>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2" id = 'triangle1'>
                <!--                <li class="question" data-answer = '30'><br></li>-->
            </div>
            <div class="col-md-6 mb-2" id = 'triangle2'>
                <!--                <li class="question" data-answer = '45'><br></li>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-2" id = 'triangle3'>
                <!--                <li class="question" data-answer = '14'><br></li>-->
            </div>
            <div class="col-md-6 mb-2" id = 'triangle4'>
                <!--                <li class="question" data-answer = '73'><br></li>-->
            </div>
        </div>
    </div>
</ol>

<script>
    /// add values here
    inverseSineProblem(1,1).displayProblem('triangle1');
    inverseCosineProblem(1,1,true).displayProblem('triangle3');
    inverseTangentProblem(1,1,true).displayProblem('triangle5');

</script>