<ol>
    <li>
        An stationary astronaut fires a gun in space
        (which is possible).
        The bullet has a speed of 800 m/s
        and a mass of 0.040 kg.
        The astronaut has a mass of 70 kg
        and their spacesuit has a mass of
        200 kg.
        Determine the total amount of kinetic
        energy gained by the explosion.
    </li>
    <li>
        King Kong has a mass of 50,000 kg
        and is running at 90 m/s
        straight towards Godzilla.
        Godzilla has a mass of 70,000 kg
        and is running at 80 m/s
        in the same direction.
        King Kong slams into Godzilla
        and they stay together following the
        collision.
        Determine the total amount of kinetic
        energy lost in the collision.
    </li>
</ol>