<p class="directions">
    Answer each question below.
</p>


<p>
    A block of mass \( m \) is located at the equilibrium position \( x_0 \)
    of a spring with spring constant \( k \).
    Somebody strikes the block, giving it a speed \( v_{\text{i}} \).
    As a result of the strike, the spring compresses until the block is at position \( x_{\text{min}} \),
    then stretches until the block is at position \( x_{\text{max}} \).
    Assume no energy is lost from the spring-block system.
</p>
<ol>
    <li>
        Using the conservation of energy, determine an equation that
        relates all of the variables identified above.
    </li>
    <li>
        Identify and explain each term in the equation that you wrote.
    </li>
    <li>
        Derive equations for \( x_{\text{min}} \) and \( x_{\text{max}} \)
        in terms of \( m \), \( x_0 \), \( k \), and \( v_{\text{i}} \).
    </li>
    <li>
        In 1-2 sentences, describe how you were able to find two different values for
        \( x_{\text{min}} \) and \( x_{\text{max}} \) despite working from identical formulas for each.
    </li>
    <li>
        Demonstrate that the formulas you derived are dimensionally correct.
    </li>
    <li>
        Demonstrate that when the spring is maximally compressed it has moved the
        same distance from the equilibrium point as when it is maximally stretched.
        (In other words, it stretches the same amount that it compresses.)
    </li>
    <li>
        Consider the special case in which the person does <emph>not</emph> strike the block at all.
        In this special case, which variable would you set to zero?
        Do your formulas you derived for \( x_{\text{min}} \) and \( x_{\text{max}} \) make sense in this special case?
        In 1-2 sentences, explain why.
    </li>
</ol>
