<p class="introduction">
    In previous pods, we completely and fully analyzed the harmonics
    made on a string or in a tube.
    We organized information in a table, and found all relevant
    information about each harmonic,
    then learned by finding patterns in this information.
    In this pod, we will solve questions that are much shorter,
    but actually more difficult: relating information about
    one harmonic to information about another, without finding out
    information about all the harmonics.
    These problems are actually more difficult, because you need a deeper
    understanding of the patterns and relationships to jump from one
    piece of information to another without finding out everything,
    but they will increase your knowledge much more!
</p>

<h4>
    Harmonics on a String
</h4>

<p class = 'directions'>
    All of the following problems involve harmonics
    on a string, meaning that each harmonic has
    a node on each end, and the first harmonic has only one anti-node.
    Determine the answer to each question.
    For full credit, you must include some description of the calculations that you used
    to answer that question.
</p>

<h5 class = 'text-danger'>
  For full credit, you must include some description of the calculations that you used
  to answer that question.
</h5>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '11.25 cm'>
        If the second harmonic has a wavelength of 45 centimeters,
        what is the wavelength of the eighth harmonic.
    </li>
    <div class="bigSpace print-only"></div>
    <li class = 'question' data-answer = '2.67 cm'>
        If the first harmonic has a wavelength of 24 centimeters, what is the wavelength of the ninth harmonic?
    </li>
    <div class="bigSpace print-only"></div>
    <li class = 'question' data-answer = '15 cm'>
        If the sixth harmonic has a wavelength of 5 centimeters, what is the wavelength of the second harmonic?
    </li>
    <div class="bigSpace print-only"></div>
    <li class = 'question' data-answer = '96 cm'>
        If the eighth harmonic has a wavelength of 12 centimeters, what is the wavelength of the first harmonic?
    </li>
    <div class="bigSpace print-only"></div>
    <li class = 'question' data-answer = '6.43 cm'>
        If the third harmonic has a wavelength of 30 centimeters, what is the wavelength of the 14th harmonic?
    </li>
    <div class="bigSpace print-only"></div>
    <div class="pageBreak"></div>
    <li class = 'question' data-answer = '60 Hz**'>
        If the fourth harmonic has a wavelength of 20 centimeters and a frequency of 24 Hertz, what is the frequency of the tenth harmonic?
    </li>
    <div class="bigSpace print-only"></div>
    <li class = 'question' data-answer = '96 Hz**'>
        If the first harmonic has a wavelength of 150 centimeters and a frequency of 8 Hertz, what is the frequency of the twelfth harmonic?
    </li>
    <div class="bigSpace print-only"></div>
    <li class = 'question' data-answer = '56.25 Hz'>
        If the eighth harmonic has a wavelength of 10 centimeters and a speed of 900 cm/s, what is the frequency of the 5th harmonic?
    </li>
    <div class="bigSpace print-only"></div>
    <li class = 'question' data-answer = '23.33 Hz'>
        If the tenth harmonic has a wavelength of 6 centimeters and a speed of 1400 cm/s, what is the frequency of the first harmonic (the fundamental frequency)?
    </li>
    <div class="bigSpace print-only"></div>
    <li class = 'question' data-answer = '34.3 Hz'>
        If the sixth harmonic has a frequency of 50 Hertz and a speed of 2000 cm/s, what is the wavelength of the seventh harmonic?
    </li>
    <div class="bigSpace print-only"></div>
</ol>

<p>
    ** These problems actually include excess information!
    If you understand the pattern of the frequencies of each harmonic,
    you can figure out these problems without using the speed
    of the wave.
    We will derive this pattern in a future pod!
</p>

<div class="pageBreak"></div>

<h4>
    Harmonics in a Tube
</h4>

<p>
    Coming soon!
</p>





<ol class="answerList"></ol>
