<p>
    In the previous pod,
    we first looked at how harmonics can be formed on a string.
    In this pod, we will begin quantitatively analyzing harmonics.
</p>

<h4>
    Finding the wavelength of a harmonic:
</h4>

<p>
    A single wavelength in a traveling wave always has this form:
</p>
<div id = 'singleWavelengthTraveling'></div>


<p>
    In a standing wave pattern,
    the same wave looks like this:
</p>
<div id = 'singleWavelengthStanding'></div>


<script>

</script>


<p>
    To find the number of wavelengths in a harmonic,
    you need to use this formula:
    $$
    (\text{Number of Wavelengths})(\text{Wavelength}) = \text{Total Length of the String}
    $$
</p>