<p>
    A car of mass \( m_a \) is moving at some velocity \( v_i \).
    It strikes a stationary car of mass \( m_b \).
    Following the collision, the two cars stick together and move at a velocity \( v_f \)
    but a piece of car B of mass \( m_x \) flies off of the car at a velocity \( v_x \).
</p>

<p>
    Use the conservation of momentum to invent a formula that relates all of the variables above.
    You only need to create a formula, you do not need to solve your formula
    for any particular variable.
</p>

<p>
    After creating the formula, identify what each <strong>term</strong> of the formula represents physically.
</p>