<p>
    A car of mass \( m_x \) is moving at some velocity \( v_i \).
    It strikes a stationary car of mass \( m_y \).
    Following the collision, the two cars stick together and move at a velocity \( v_f \)
    but a piece of car B of mass \( m_p \) flies off of the car at a velocity \( v_p \).
</p>

<p>
    Use the conservation of momentum to invent an equation that relates all of the variables above.
    Your equation should have 3 terms
    You only need to create an equation, you do not need to solve your equation
    for any particular variable.
</p>

<p>
    After creating the formula, identify what each <strong>term</strong> of the formula represents physically.
</p>