<p>
    A cannon of mass \( m_a \) is attached to a spaceship of mass \( m_b \).
    Inside the cannon is a cannonball of mass \( m_c \).
    The spaceship is moving with a velocity of \( v_{\text{i}} \).
    The cannon fires and the cannonball moves at a velocity \( v_{c \text{f}} \).
    However, the cannon malfunctions, detaches from the spaceship, and begins moving at a velocity \( v_{a \text{f}} \).
    The spaceship begins moving at a velocity \( v_{b \text{f}} \).
    Assume no momentum enters or leaves the system.
</p>

<p>
    Use the conservation of momentum to invent an equation that relates all of the variables above.
    Your equation should have 4 terms
    You only need to create an equation, you do not need to solve your equation
    for any particular variable.
</p>

<p>
    After creating the formula, identify what each <strong>term</strong> of the formula represents physically.
</p>