<p>
    A car (A) of mass \( m_a \) moving at a velocity \( v_{ai} \) collides into another car (B)
    of mass \( m_b \) moving at velocity \( v_{bi} \).
    Following the collision, car A is stationary.
    However, 20 % of car A sticks to car B, and together the move with velocity \( v_f \).
    Assume no momentum leaves the system of the two cars.
</p>

<p>
    Use the conservation of momentum to invent an equation that relates all of the variables above.
    Your equation should have 3 terms
    You only need to create an equation, you do not need to solve your equation
    for any particular variable.
</p>


<p>
    After creating the formula, identify what each <strong>term</strong> of the formula represents physically.
</p>