p.testClass {
    font-size: 50px;
}

div.definitionBox {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

p.directions {
    font-size: 14px;
}

li.physicsQuestion {
    font-size: 14px;
    margin-bottom: 20px;
}