
@media only screen and (min-width: 600px) {
    body {
        padding-top: 70px;
    }
}
@media only screen and (max-width: 600px) {
    body {
        padding-top: 200px;
    }
}

p.testClass {
    font-size: 50px;
}

div.definitionBox {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    width: 600px;
}

p.definition {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    width: 600px;
}

li.question {

}

li.subQuestion {

}

div.formulaSolvingTable {

}

p.imageCredit {
    font-size: 8px;
}

ul.principleList {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    width: 600px;
}

ol.questionList {
    list-style-type: none;
}

ol.answerList {
    list-style-type: none;
}

h4.answerHeader {
    page-break-before: always;
}

div.pageBreak {
    page-break-after: always;
}

div.smallSpace {
    height: 50px;
}

div.mediumSpace {
    height: 100px;
}

div.bigSpace {
    height: 150px;
}

div.hugeSpace {
    height: 250px;
}

h3.newQuizHeading {
    page-break-before: always;
}

p.directions {
    font-size: 18px;
}

p.equation {
    font-size: 25px;
    text-align: center;
}

p.veryImportantEquation {
    font-size: 30px;
}
p.semiImportantEquation {
    font-size: 20px;
}

td.equation {
    font-size: 20px;
    padding: 10px;
}

li.bigQuestion {
    font-size: 20px;
    margin-bottom: 500px;
}
li.mediumQuestion {
    font-size: 20px;
    margin-bottom: 300px;
}

li.smallQuestion {
    font-size: 20px;
    margin-bottom: 150px;
}

li.tinyQuestion {
    font-size: 20px;
    margin-bottom: 80px;
}

li.physicsQuestion {
    font-size: 22px;
    margin-bottom: 150px;
}

li.circuitProblem {
    margin-bottom: 20px;
}

a.importantLink {
    font-size: 18px;
    border-color: palegreen;
    border-width: 2px;
    border-style: solid;
}

div.formulaBoxDiv {

}

ul.extraLinks {
    font-size: 22px;
    text-emphasis-color: red;
}

input.quizPasscodeInput {
    font-size: 20px;
    width: 100px;
    height: 80px;
}
h5.equationName {
    font-size: 18px;
}

div.equation {
    font-size: 18px;
    text-align: center;
}

h3.podTitle {
    font-size: 24px;
}

h4.sectionHeader {
    color: red;
}

ol.graphicalQuestionList {

}
p.quizLink {
    font-size: 18px;
}

ol.fillInTheBlank li {
    display: inline;
}

@media print
{
  .no-print
  {
    display: none !important;
  }

}

/*
Classes for a list of all units on the unit entry page!
 */
ul.listOfAllUnits {

}

ul.unitList {

}

li.superUnitListItem {
    font-size: 24px;
}

li.podListItem {
    font-size: 18px;
}

li.lessImportantSuperUnitListItem {
    font-size: 16px;
}

li.unitListItem {
    font-size: 20px;
}


/*ol.xxx {*/
/*    counter-reset: section;*/
/*  !*  list-style-type: none; *!*/
/*}*/

/*li.yyy::before {*/
/*    counter-increment: section;*/
/*    counter: counters(section, ".") " ";*/
/*}*/


/*
Quiz submission
 */


input.quizFileUploadButton {
    width: 300px;
    height: 100px;
    font-size: 40px;
}

input.quizSubmitButton {
    width: 300px;
    height: 100px;
    font-size: 40px;
}