p.testClass {
    font-size: 50px;
}

div.definitionBox {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    width: 600px;
}

ol.questionList {

}

ol.answerList {

}

div.pageBreak {
    page-break-after: always;
}

div.smallSpace {
    height: 50px;
}

div.mediumSpace {
    height: 100px;
}

div.bigSpace {
    height: 150px;
}

h3.newQuizHeading {
    page-break-before: always;
}

p.directions {
    font-size: 18px;
}

p.equation {
    font-size: 30px;
}

td.equation {
    font-size: 20px;
    padding: 10px;
}

li.bigQuestion {
    font-size: 20px;
    margin-bottom: 500px;
}
li.mediumQuestion {
    font-size: 20px;
    margin-bottom: 300px;
}

li.smallQuestion {
    font-size: 20px;
    margin-bottom: 150px;
}

li.tinyQuestion {
    font-size: 20px;
    margin-bottom: 80px;
}

li.physicsQuestion {
    font-size: 22px;
    margin-bottom: 150px;
}

li.circuitProblem {
    margin-bottom: 20px;
}

a.importantLink {
    font-size: 18px;
    border-color: palegreen;
    border-width: 2px;
    border-style: solid;
}

div.formulaBoxDiv {

}

ul.extraLinks {
    font-size: 22px;
    text-emphasis-color: red;
}