td {
    border: 1px solid black;
    margin: 0;
    vertical-align: text-top;
    font-size: 10px;
}

td.nonShaded {
    background-color: white;
}

td.shaded {
    background-color: darkgrey;
}

th {
    border: 1px solid black;
    margin: 0;
    vertical-align: text-top;
}

th.greenHeader {
    color: green;
}

td.lookingForBox {

}

td.alreadyKnowBox {

}

td.formulaBox {

}

td.workBox {

}

td.answerBox {

}
