table.equationInfo {
    text-align: center;
}

td {
    border: 1px solid black;
    margin: 0;
    vertical-align: text-top;
    font-size: 20px;
}


td.nonShaded {
    background-color: white;
}

td.shaded {
    background-color: darkgrey;
}

th {
    border: 1px solid black;
    margin: 0;
    vertical-align: text-top;
}

th.greenHeader {
    color: green;
}



/*
Style for a formula solving table

table width = 400px
table height = 400px

 */


td.lookingForBox {
    font-size: 14px;
    width: 300px;
    height: 100px;
}

td.alreadyKnowBox {
    font-size: 14px;
    width: 300px;
    height: 200px;
}

td.formulaBox {
    font-size: 14px;
    width: 300px;
    height: 100px
}

td.littleBoxOnTheSide {
    width: 200px;
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

td.workBox {
    width: 500px;
    height: 200px;
}

td.answerBox {
    font-size: 14px;
    width: 800px;
    height: 100px;
}


