table {
    border-spacing: 0px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

td {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    vertical-align: text-top;
    text-align: center;
}

th {
    border: 1px solid black;
    margin: 0;
    vertical-align: text-bottom;
    text-align: center;
}

th.storyTable {
    font-size: 10px;
}
td.storyTable {
    font-size: 10px;
}

th.electricCircuitTableSideHeader {
    font-size: 20px;
    font-weight: normal;
    vertical-align: middle;
}

th.electricCircuitTableTopHeader {
    font-size: 20px;
    font-weight: normal;
    vertical-align: top;
}

td.electricCircuitTable {

}

td.shaded {
    background-color: darkgrey;
}
th.shaded {
    background-color: darkgrey;
}


/*
Style for a formula solving table

table width = 400px
table height = 400px

 */


td.lookingForBox {
    font-size: 14px;
    width: 300px;
    height: 100px;
}

td.alreadyKnowBox {
    font-size: 14px;
    width: 300px;
    height: 200px;
}

td.formulaBox {
    font-size: 14px;
    width: 300px;
    height: 100px
}

/*td.littleBoxOnTheSide {*/
/*    width: 200px;*/
/*    border-bottom-color: #FFFFFF;*/
/*    border-bottom-style: solid;*/
/*    border-bottom-width: 1px;*/
/*}*/

td.workBox {
    width: 500px;
    height: 200px;
}

td.answerBox {
    font-size: 14px;
    width: 800px;
    height: 100px;
}

td.littleBoxOnTheSide {
        border-bottom-color: #FFFFFF;
        border-bottom-style: solid;
        border-bottom-width: 1px;
}