<ol>
    <li>
        Using dimensional analysis,
        determine the correct units of the
        universal gravitational constant \( G \)
        in terms of meters, kilograms, and seconds.
    </li>
    <li>
        Using dimensional analysis,
        determine the correct units of the
        electrostatic constant \( k \)
        in terms of meters, kilograms, seconds, and Coulombs.
    </li>
    <li>
        Derive a formula for the distance between a star and a planet \( d_{sp} \)
        in terms of the gravitational force attracting them \( F_g \),
        the mass of the planet \( M_p \), the mass of the star \( M_s \),
        and the universal gravitational constant \( G \).
        Prove that your formula is dimensionally correct.
    </li>
    <li>
        Derive a formula for the number of protons in a nucleus \( N_p \)
        in terms of the distance to the first electron** of the atom \( r_{1s} \),
        the electronic charge \( e \), the electrostatic constant \( k \),
        and the force that is attracting the first electron \( F_e \).
        Prove that the result of your formula is dimensionless.
    </li>
</ol>


<p>
    ** Note: In this problem, we are assuming that protons
    and electrons are classical particles,
    that is, they are subject to Newton's Laws of Motion
    rather than the laws of quantum mechanics.
</p>