<p>
    A Newton's cradle is a popular toy made of
    five hanging steel balls of equal mass:
</p>

<img src="/images/newtons_cradle/newtons_cradle_static.png" width = '200px' height = 'auto' />

<p>
    When one ball is swung towards a Newton's cradle,
    momentum transfers through the cradle and one ball swings out on the other end:
</p>

<img src="/images/newtons_cradle/newtons_cradle_1_in.png" width = '200px' height = 'auto' />
<br>
<img src="/images/newtons_cradle/newtons_cradle_1_out.png" width = '200px' height = 'auto' />

<p>
    The goal of this problem set is to prove how a Newton's cradle works.
    The key is that:
    a) The steel balls of the Newton's cradle have equal mass and
    b) the collision between the balls of the Newton's cradle is <strong>elastic</strong>.
</p>

<h4>
    Problem 1:
</h4>

<p>
    Imagine one ball is swung towards a Newton's cradle:
</p>

<img src="/images/newtons_cradle/newtons_cradle_1_in.png" width = '200px' height = 'auto' />

<p>
    Now imagine three possible options for what happens afterwards:
</p>

<h5>
    Option A:
</h5>
<img src="/images/newtons_cradle/newtons_cradle_1_out.png" width = '200px' height = 'auto' />

<h5>
    Option B:
</h5>
<img src="/images/newtons_cradle/newtons_cradle_2_out.png" width = '200px' height = 'auto' />

<h5>
    Option C:
</h5>
<img src="/images/newtons_cradle/newtons_cradle_3_out.png" width = '200px' height = 'auto' />

<p>
    Prove that of these options, only Option A
    satisfies the necessary conditions of an elastic collision.
</p>


<h4>
    Problem 2:
</h4>

<p>
    Now imagine that two balls are swung towards the Newton's cradle.
</p>
<img src="/images/newtons_cradle/newtons_cradle_1_in.png" width = '200px' height = 'auto' />
<p>
    Imagine three possibilities for what happens afterwards:
</p>
<h5>
    Option A:
</h5>
<img src="/images/newtons_cradle/newtons_cradle_1_out.png" width = '200px' height = 'auto' />

<h5>
    Option B:
</h5>
<img src="/images/newtons_cradle/newtons_cradle_2_out.png" width = '200px' height = 'auto' />

<h5>
    Option C:
</h5>
<img src="/images/newtons_cradle/newtons_cradle_3_out.png" width = '200px' height = 'auto' />

<p>
    Prove that of these options, only Option B satisfies the conditions
    of an elastic collision.
</p>
