<p class = 'introduction'>
    If you took the first quiz, congratulations!
    Of course, physics can be quite a bit more difficult than that quiz (just a bit).
    You can't just expect to blindly take every quiz;
    you need to study!
    To help organize the curriculum, I created a separate "Study Page"
    for each quiz.
    When you are learning a new step, first you will study the information
    on the study page, then you will take the quiz.
    Most of the study pages are not only written content:
    they include problems to solve (with answers),
    videos, automatic problem generation, etc.
</p>


<p class = 'directions'>
    Commit the following random facts to memory.
</p>

<ul>
    <li>
        In 1935, the Detroit Tigers won the World Series.
    </li>
    <li>
        The capital of Laos is Vientiane.
    </li>
    <li>
        In 1875, Claude Monet painted "Woman with a Parasol."
    </li>
    <li>
        In 1860, Hannibal Hamlin was elected Vice-President.
        (Abraham Lincoln was elected President).
    </li>
    <li>
        (ONE MORE)
    </li>
</ul>