<p class = 'introduction'>
    Welcome to the very first step of physics!
    In this step, we will learn to take a quiz at home.
</p>


<h4>
    Steps to Taking Your First Physics Quiz
</h4>

<ol>
    <li>
        First, make sure that you have a 508physics login.
        Email Mr. Kuncik two things:
        <ul>
            <li>
                A color that begins with the same letter as your first name
            </li>
            <li>
                An animal that begins with the same letter as your last name
            </li>
        </ul>
        Mr. Kuncik will send you back a username and a passcode, which is a random sequence of digits and letters.
        If you don't email him soon enough, he will come up with your name on his own!
    </li>
    <li>
        Log into 508physics on a smart phone or tablet.
        Please note that the username is case sensitive and includes no spaces.
        Everything must be typed exactly the same as Mr. Kuncik sent to you.
    </li>
    <li>
        On this page, click "GO TO MINIQUIZ."
    </li>
    <li>
        Read over the policies.
    </li>
    <li>
        Click "Take Quiz"
    </li>
    <li>
        On a piece of paper, write out the answers to the questions.
    </li>
    <li>
        At the bottom of the quiz, click the button that says "Choose File."
        When you click it, one of the options will likely be "take photo."
        Take a photo of the work you did on paper.
    </li>
    <li>
        Click "Submit Quiz." You're done!
    </li>
</ol>

<p>
    Take this first quiz
</p>


<ol class="questionList">
    <li class="question" data-answer = 'yes'>
        Is your username case sensitive (letters must be either upper and lower case)?
    </li>
    <li class="question" data-answer = 'yes'>
        Is your password case sensitive?
    </li>
    <li class="question" data-answer = 'no'>
        Does your username include spaces?
    </li>
    <li class="question" data-answer = 'no'>
        Is your username your name?
    </li>
    <li class="question" data-answer = 'no'>
        Can you pick your passcode?
    </li>
    <li class="question" data-answer = 'false'>
        True or false: you type out your answers to the questions on a quiz.
    </li>
    <li class="question" data-answer = 'true'>
        True or false: your quiz score will be based on a photo that you submit with your quiz.
    </li>
</ol>

<ol class = 'answerList'></ol>