<p class = 'introduction'>
    Welcome to the very first step of physics!
    In this step, we will learn to take a quiz at home.
</p>


<h4>
    Steps to Taking a Quiz
</h4>

<ol>
    <li>
        Log into 508physics on a smart phone or tablet.
    </li>
    <li>
        Go to the study page for that quiz.
        (right now, you are on the study page for this quiz.)
    </li>
    <li>
        Click "Go to Quiz"
    </li>
    <li>
        Read over the policies.
    </li>
    <li>
        Click "Take Quiz"
    </li>
    <li>
        On a piece of paper, write out the answers to the questions.
    </li>
    <li>
        At the bottom of the quiz, click the button that says "Choose File."
        When you click it, one of the options will likely be "take photo."
        Take a photo of the work you did on paper.
    </li>
    <li>
        Click "Submit Quiz." You're done!
    </li>
</ol>