

<p class = 'directions'>
    Determine the quadrant of each value given.
</p>

<ol>
    <li>
        3 radians
    </li>
    <li>
        -5 radians
    </li>
    <li>
        -4 radians
    </li>
</ol>


<p class = 'directions'>
    For each scenario given below,
    determine the initial angular position and final angular position
    in radians between \( 0 \) and \( 2 \pi \),
    and determine the angular displacement.
    Note that the angular displacement may not be between \( 0 \) and \( 2 \pi \).
</p>

<ol start = '4'>
    <li>
        I begin on the +y axis and I run five times around the circle counterclockwise.
    </li>
    <li>
        I begin on the -y axis and I run halfway around the circle counterclockwise.
    </li>
    <li>
        I begin on the -x axis and I run a quarter of the way around the circle clockwise.
    </li>
    <li>
        I begin on the -x axis and I run around the circle clockwise six and three-quarter times.
    </li>
</ol>