
<p class="equation">
    $$
    Q = m c \Delta T
    $$
</p>

<div class = 'container'>
    <div class="row">
        <div class="col-2 border border-dark">
            Symbol
        </div>
        <div class="col-4 border border-dark">
            Quantity
        </div>
        <div class="col-3 border border-dark">
            SI Unit
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( Q \)
        </div>
        <div class="col-4 border border-dark pt-5">
            Heat Energy Transferred
        </div>
        <div class="col-3 border border-dark pt-5">
            Joules (J)
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( m \)
        </div>
        <div class="col-4 border border-dark pt-5">
            mass
        </div>
        <div class="col-3 border border-dark pt-5">
            kilograms (kg)
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( c \)
        </div>
        <div class="col-4 border border-dark pt-5">
            Specific Heat of Substance
        </div>
        <div class="col-3 border border-dark pt-5">
            \( \frac{ \text{J} }{ \text{kg} \cdot ^{\circ} \text{C} } \)
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( \Delta T \)
        </div>
        <div class="col-4 border border-dark pt-5">
            Change in Temperature
        </div>
        <div class="col-3 border border-dark pt-5">
            Kelvin (K) or Degrees Celsius (\( ^{\circ} \text{C} \))
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-3 border border-dark">
            Material
        </div>
        <div class="col-4 border border-dark">
            Specific heat \( \left( \frac{ \text{J} }{ \text{kg} \cdot ^{\circ} \text{C} } \right)  \)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            water
        </div>
        <div class="col-4 border border-dark">
            4184
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            oil
        </div>
        <div class="col-4 border border-dark">
            1900
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            wood
        </div>
        <div class="col-4 border border-dark">
            1800
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            aluminum
        </div>
        <div class="col-4 border border-dark">
            900
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            concrete
        </div>
        <div class="col-4 border border-dark">
            880
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            glass
        </div>
        <div class="col-4 border border-dark">
            800
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            steel
        </div>
        <div class="col-4 border border-dark">
            470
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            silver
        </div>
        <div class="col-4 border border-dark">
            235
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            gold
        </div>
        <div class="col-4 border border-dark">
            129
        </div>
    </div>
</div>



<ol class="questionList">
    <li class="question" data-answer = '235 J / kg °C; silver'>
        When 1500 Joules of energy is lost from a 1.277-kilogram object,
        its temperature decreases from 45°C to 40°C.
        What is the specific heat of this object?
        Of what material is this object made?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '800 J / kg °C; concrete'>
        What is the specific heat of a material that gains 600 Joules
        of energy when a 0.25-kilogram object increases in temperature by 3°C?
        What is this material?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '0.25 kg'>
        A liquid with a specific heat of 1900 J/kg °C has 4750 Joules of heat energy
        added to it.
        Its temperature increases from 20°C to 30°C.
        What is the mass of the liquid?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '13.2 kg'>
        What is the mass of a block of concrete that gains 52800 Joules
        of energy when its temperature is increased by 5°C?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '1600 Joules'>
        A scientists wants to raise the temperature of a 0.10-kilogram
        sample of glass from 15°C to 35°C.
        How much heat energy is required to produce this change in temperature?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '22.2 °C'>
        A 0.25-kilogram sample of aluminum is provided with 5000 Joules of heat energy.
        What will be the change in temperature of this sample of aluminum?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '1.02 °C'>
        What is the change in temperature for a 2-kilogram mass of water
        than loses 8500 Joules of energy?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
</ol>

<ol class="answerList"></ol>