
<div class="container">
    <div class="row">
        <div class="col-2 border border-dark font-weight-bold">
            Substance
        </div>
        <div class="col-3 border border-dark font-weight-bold">
            Melting/Freezing Point
        </div>
        <div class="col-3 border border-dark font-weight-bold">
            Boiling/Condensing Point
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-4">
            Water (H<sub>2</sub>O)
        </div>
        <div class="col-3 border border-dark pt-4">
            0&#176;C
        </div>
        <div class="col-3 border border-dark pt-4">
            100&#176;C
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-4">
            Nitrogen (N<sub>2</sub>)
        </div>
        <div class="col-3 border border-dark pt-4">
            -210&#176;C
        </div>
        <div class="col-3 border border-dark pt-4">
            -196&#176;C
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-4">
            Oxygen (O<sub>2</sub>)
        </div>
        <div class="col-3 border border-dark pt-4">
            219&#176;C
        </div>
        <div class="col-3 border border-dark pt-4">
            -183&#176;C
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-4">
            Iron (Fe)
        </div>
        <div class="col-3 border border-dark pt-4">
            1538&#176;C
        </div>
        <div class="col-3 border border-dark pt-4">
            2862&#176;C
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-4">
            Mercury (Hg)
        </div>
        <div class="col-3 border border-dark pt-4">
            -39&#176;C
        </div>
        <div class="col-3 border border-dark pt-4">
            357&#176;C
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-4">
            Copper (Cu)
        </div>
        <div class="col-3 border border-dark pt-4">
            1085&#176;C
        </div>
        <div class="col-3 border border-dark pt-4">
            2562&#176;C
        </div>
    </div>
</div>


<p class="directions">
    Fill out the table below.
    For each substance at each temperature, state if it is a solid, a liquid, or a gas.
</p>

<ol class="questionList">
    <li class="question" data-answer_id = 'states_of_matter_table'>
        <div class="container">
            <div class="row">
                <div class="col-2 border border-dark">

                </div>
                <div class="col-1 border border-dark">
                    -270&#176;C
                </div>
                <div class="col-1 border border-dark">
                    -200&#176;C
                </div>
                <div class="col-1 border border-dark">
                    -100&#176;C
                </div>
                <div class="col-1 border border-dark">
                    22&#176;C
                </div>
                <div class="col-1 border border-dark">
                    150&#176;C
                </div>
                <div class="col-1 border border-dark">
                    500&#176;C
                </div>
                <div class="col-1 border border-dark">
                    1500&#176;C
                </div>
                <div class="col-1 border border-dark">
                    3000&#176;C
                </div>
            </div>
            <div class="row">
                <div class="col-2 border border-dark pt-4">
                    Water (H<sub>2</sub>O)
                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
            </div>
            <div class="row">
                <div class="col-2 border border-dark pt-4">
                    Nitrogen (N<sub>2</sub>)
                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
            </div>
            <div class="row">
                <div class="col-2 border border-dark pt-4">
                    Oxygen (O<sub>2</sub>)
                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
            </div>
            <div class="row">
                <div class="col-2 border border-dark pt-4">
                    Iron (Fe)
                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
            </div>
            <div class="row">
                <div class="col-2 border border-dark pt-4">
                    Mercury (Hg)
                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
            </div>
            <div class="row">
                <div class="col-2 border border-dark pt-4">
                    Copper (Cu)
                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
                <div class="col-1 border border-dark pt-4">

                </div>
            </div>
        </div>
    </li>
</ol>
<script>
    addAnswerObject('states_of_matter_table',$("<img src = '/podAssets/thermodynamics/heat_transfer_temperature_mathematical/states_of_matter_table.png' height = '200px' width = 'auto' />"));
</script>

<h4>
    Temperature and the State of Water
</h4>

<p class="definition" data-word = 'Rule #1'>
    Liquid water <emph>cannot</emph> have a temperature less than 0&#176;C
    or greater than 100&#176;C.
</p>
<p class="definition" data-word = 'Rule #2'>
    When changing state (freezing, boiling, melting, or condensing), water does not change temperature.
</p>
<p class="definition" data-word = 'Rule #3'>
    Water cannot be less than 0&#176;C without freezing into ice first.
    Ice cannot have a temperature greater than 0&#176;C without turning into water first.
    Freezing water or melting ice <emph>always</emph> has a temperature of 0&#176;C.
    It cannot be anything else.
</p>
<p class="definition" data-word = 'Rule #4'>
    Water cannot be greater than 100&#176;C without boiling into vapor first.
    Vapor cannot be less than 100&#176;C without condensing into water first.
    Boiling water <emph>always</emph> has a temperature of 100&#176;C.
    It cannot be anything else.
</p>

<ol class="questionList">
    <li class="question" data-answer = '0&#176;C'>
        What temperature is a cup of ice water, in which the ice is slowly melting?
    </li>
    <li class="question" data-answer = '100&#176;C'>
        What temperature is a pot of boiling water?
    </li>
    <li class="question">
        A bowl of water has a temperature of 22&#176;C.
        You put a bowl of water in a freezer.
        The freezer temperature is -18&#176;C.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Thirty minutes later, you check the freezer, and the bowl is still water, not ice.
                What temperature is it? Why?
                <ol type = 'A'>
                    <li>-18&#176;C</li>
                    <li>somewhere between -18&#176;C and 0&#176;C</li>
                    <li>0&#176;C</li>
                    <li>somewhere between 0&#176;C and 22&#176;C</li>
                    <li>22 &#176;C</li>
                </ol>
            </li>
            <li class="subQuestion">
                Three hours later, you check the freezer the bowl is partly ice and partly water.
                Assume the temperature eof the bowl is uniform (all the same).
                What temperature is it? Why?
                <ol type = 'A'>
                    <li>-18&#176;C</li>
                    <li>somewhere between -18&#176;C and 0&#176;C</li>
                    <li>0&#176;C</li>
                    <li>somewhere between 0&#176;C and 22&#176;C</li>
                    <li>22&#176;C</li>
                </ol>
            </li>
            <li class="subQuestion">
                Three days later, you check the freezer and the bowl is entirely ice.
                What temperature is it? Why?
                <ol type = 'A'>
                    <li>-18&#176;C</li>
                    <li>somewhere between -18&#176;C and 0&#176;C</li>
                    <li>0&#176;C</li>
                    <li>somewhere between 0&#176;C and 22&#176;C</li>
                    <li>22&#176;C</li>
                </ol>
            </li>
        </ol>
    </li>
</ol>

<p class="definition" data-word = 'Rule #5'>
    Dissolving salt in water
    <emph>increases the boiling temperature</emph>
    and
    <emph>decreases the melting temperature</emph>.
</p>

<ol class="questionList">
    <li class="question">
        To cook pasta,
        you need to put it in boiling water.
        The hotter this water is, the faster the pasta cooks.
        <br>
        You can cook pasta faster if you dissolve salt in the water. Why?
    </li>
    <li class="question">
        To melt ice on the roads in winter, people cover the roads with salt. Why?
    </li>
</ol>

<h4>
    Heat Energy Graphs
</h4>

Create a semi-quantitative heat energy graph for H<sub>2</sub>O
as it is heated from -40&#176;C to 120&#176;C.
Remember when making your graph that the <emph>temperature does not change</emph>
when the state of matter is changing.


<ol class="answerList"></ol>

