<p class="equation">
    $$
    Q = m c \Delta T
    $$
</p>

<div class = 'container'>
    <div class="row">
        <div class="col-2 border border-dark">
            Symbol
        </div>
        <div class="col-4 border border-dark">
            Quantity
        </div>
        <div class="col-3 border border-dark">
            SI Unit
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( Q \)
        </div>
        <div class="col-4 border border-dark pt-5">
            Heat Energy Transferred
        </div>
        <div class="col-3 border border-dark pt-5">
            Joules (J)
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( m \)
        </div>
        <div class="col-4 border border-dark pt-5">
            mass
        </div>
        <div class="col-3 border border-dark pt-5">
            kilograms (kg)
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( c \)
        </div>
        <div class="col-4 border border-dark pt-5">
            Specific Heat of Substance
        </div>
        <div class="col-3 border border-dark pt-5">
            \( \frac{ \text{J} }{ \text{kg} \cdot ^{\circ} \text{C} } \)
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( \Delta T \)
        </div>
        <div class="col-4 border border-dark pt-5">
            Change in Temperature
        </div>
        <div class="col-3 border border-dark pt-5">
            Kelvin (K) or Degrees Celsius (\( ^{\circ} \text{C} \))
        </div>
    </div>
</div>

<p>
    When using this formula,
    one of the key pieces is called the
    <strong>specific heat</strong> (\( c \)),
    also known as the <strong>heat capacity</strong>.
    This quantity depends on the material that is being
    heated up.
    You need to look it up in a reference table,
    then use it as a quantity in your equation.
</p>

<div class="container">
    <div class="row">
        <div class="col-3 border border-dark">
            Material
        </div>
        <div class="col-4 border border-dark">
            Specific heat \( \left( \frac{ \text{J} }{ \text{kg} \cdot ^{\circ} \text{C} } \right)  \)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            water
        </div>
        <div class="col-4 border border-dark">
            4184
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            oil
        </div>
        <div class="col-4 border border-dark">
            1900
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            wood
        </div>
        <div class="col-4 border border-dark">
            1800
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            aluminum
        </div>
        <div class="col-4 border border-dark">
            900
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            concrete
        </div>
        <div class="col-4 border border-dark">
            880
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            glass
        </div>
        <div class="col-4 border border-dark">
            800
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            steel
        </div>
        <div class="col-4 border border-dark">
            470
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            silver
        </div>
        <div class="col-4 border border-dark">
            235
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            gold
        </div>
        <div class="col-4 border border-dark">
            129
        </div>
    </div>
</div>

<ol class="questionList">
    <li class="question" data-answer = '83680 Joules' >
        I have 2 kg of <emph>water</emph>.
        I heat it form 20&#176;C to 30&#176;C.
        <br>
        How much heat energy does the water absorb?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li></li>
</ol>

<ol class="answerList"></ol>