<p class = 'introduction'>
    The goal of dynamics is to analyze the reasons why things move.
    But before we can analyze why things move, we need to analyze why things <emph>don't move!</emph>,
    that is, the reason something would do nothing at all!
    To that end, this pod will be an in-depth quantitative look at the simplest of free-body diagrams:
    an object that is at rest on a table.
</p>


<h3>
    Why does Normal Force Equal Gravity
</h3>
<h4>
    Wrong Answers
</h4>
<p>
    (Don't write any of these on a quiz!)
</p>
<ul>
    <li>
        Normal force always equals gravity! (It does not!)
    </li>
    <li>
        There is a formula \( F_g = F_N \).
        There is not! (This is really the same as the previous issue).
    </li>
    <li>
        Because of Newton's Third Law:
        The normal force and gravity being equal has nothing at all to do with Newton's Third Law.
        This issue is extensively explored in a pod on
        <a href = '/pod/78d2e6'>identifying action-reaction pairs</a>.
    </li>
</ul>

<h4>
    Correct Answer:
</h4>
