<p>
  In science, we typically represent numbers
  in a form called <strong>scientific notation</strong>.
  In scientific notation, numbers have two parts:
  the <emph>significant figures</emph>
  and the <emph>order of magnitude</emph>.
  In the following example, the significant figures
  are 3.45 and the order of magnitude is +6.
</p>

<div id = 'scientificNotationExample'></div>

<script>
  let scientificNotationExample = new Table(1,1);
  scientificNotationExample.writeTextInCell(0,0,'\\( 3.45 \\times 10^6 \\)');

  $("#scientificNotationExample").append(scientificNotationExample.draw(400,200));
</script>

<p>
  Sometimes, the significant figures are referred to
  as the <emph>coefficient</emph>
  and the order of magnitude is referred to as
  the <emph>exponent</emph>.
  In this class, I prefer to use the term
  "significant figures" and "order of magnitude."
</p>

<p>
  All of the numbers you are used to writing,
  such as 10, 28, 415891, are called
  numbers in <strong>standard notation</strong>.
</p>

<ul class="definition" data-word = 'Different Ways to Write Scientific Notation'>
    <li>
        There are multiple ways of writing a number in scientific notation.
    </li>
    <li>
        Most typically, it is written as significant digits multiplied by a power of ten:
        <br>
        \( 3.45 \cdot 10^{6} \)
    </li>
    <li>
        However, scientific notation can also be written with a capital "E":
        <br>
        3.45E6
    </li>
    <li>
        It can be written with a lower case "e".
        <br>
        3.45e6
    </li>
    <li>
        Lastly, it can be written with a small font size capital "<small>E</small>".
        I personally find this notation easiest to read.
        <br>
        3.45<small>E</small>6
    </li>
</ul>

<h5>
  Converting Scientific Notation to Standard Notation
</h5>
<ul>
  <li>
    Rule 1:
      <ul>
        <li>
          Move the decimal point to the RIGHT if the exponent is POSITIVE.
        </li>
        <li>
          Move the decimal point to the LEFT if the exponent is NEGATIVE.
        </li>
        <li>
          Move the decimal point as many spots as the exponent.
        </li>
      </ul>
  </li>
  <li>
    Rule 2:
    After moving the decimal, add zeroes in any empty spots.
  </li>
</ul>

<h3>
  Questions:
</h3>
<p class = 'directions'>
  Convert each number to standard notation.
</p>


<ol class = 'questionList'>
  <li class = 'question' data-answer = '34500'>
    \( 3.45 \times 10^4 = \)
  </li>
  <li class = 'question' data-answer = '42300000'>
    \( 4.23 \times 10^7 = \)
  </li>
  <li class = 'question' data-answer = '912'>
    \( 9.12 \times 10^2 = \)
  </li>
  <li class = 'question' data-answer = '487000'>
    \( 4.87 \times 10^5 = \)
  </li>
  <li class = 'question' data-answer = '8250000'>
    \( 8.25 \times 10^6 = \)
  </li>
  <li class = 'question' data-answer = '2.45'>
    \( 2.45 \times 10^0 = \)
  </li>
  <li class = 'question' data-answer = '25.4'>
    \( 2.45 \times 10^1 = \)
  </li>
  <li class = 'question' data-answer = '3.89'>
    \( 3.89 \times 10^0 = \)
  </li>
  <li class = 'question' data-answer = '0.00423'>
    \( 4.23 \times 10^{-3} = \)
  </li>
  <li class = 'question' data-answer = '0.0000000328'>
      3.28E-8
<!--    \( 3.28 \times 10^{-8} = \)-->
  </li>
  <li class = 'question' data-answer = '0.0000678'>
      6.78E-5
<!--    \( 6.78 \times 10^{-5} = \)-->
  </li>
  <li class = 'question' data-answer = '0.000385'>
      3.85e-4
<!--    \( 3.85 \times 10^{-4} = \) -->
  </li>
  <li class = 'question' data-answer = '0.000000528'>
      5.28e-7
<!--    \( 5.28 \times 10^{-7} = \)-->
  </li>
  <li class = 'question' data-answer = '342000'>
      3.42<small>E</small>5
<!--    \( 3.42 \times 10^{5} = \)-->
  </li>
  <li class = 'question' data-answer = '423'>
      4.23<small>E</small>2
<!--    \( 4.23 \times 10^{2} = \)-->
  </li>
  <li class = 'question' data-answer = 'significant figures'>
    What do we call the digits at the beginning of a scientific notation number?
  </li>
  <li class = 'question' data-answer = 'order of magnitude'>
    What do we call the exponent in a scientific notation number?
  </li>
</ol>

<h3>
  Answers:
</h3>

<ol class = 'answerList'></ol>
