<p>
    Scientific Notation on a calculator
</p>

<p class="introduction">
    Physicists must constantly deal with numbers that are either very large or very small.
    They express these numbers in scientific notation.
    Naturally, physicists must add, subtract, multiply, and divide values in scientific notation.
    Doing this on a calculator requires some difficulty.
</p>


<ul class="definition" data-word = 'The scientific notation button'>
    <li>
        When solving scientific notation on a calculator, always use the "Scientific Notation Button."
    </li>
    <li>
        DO NOT try to type out "x 10^__".
        On large problems with many numbers in scientific notation, you are <emph>very</emph>
        likely to make a mistake.
    </li>
    <li>
        On most scientific calculators, the scientific notation button is "EE" and
        appears as "<small>E</small>" on the screen.
    </li>
    <li>
        (On some others, it is written as "EXP")
    </li>
</ul>

<p class="directions">
    For each of the problems below, write how you would enter this value on a calculator
    using the symbol <small>E</small> to represent the scientific notation button on the calculator.
    Then, write the answer to the problem.
</p>

<ol class="questionList">
    <li class="question">
        \( \left( 4.56 \cdot 10^4 \right) \left( 6.59 \cdot 10^9 \right) \)
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '4.56<small>E</small>4*6.59<small>E</small>9'>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li class="subQuestion" data-answer = '3.01<small>E</small>14'>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
    <li class="question">
        \( \frac{ 5.93 \cdot 10^{18} }{ 2.73 \cdot 10^{28} } \)
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '5.93<small>E</small>/2.73<small>E</small>28'>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li class="subQuestion" data-answer = '2.17<small>E</small>-10'>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>

</ol>


<p class="definition" data-word = 'Negative Exponents on a Calculator'>
    Most calculators have two buttons that look like a negative sign.
    One of them is the button for "minus" and the other is the button
    for "negative."
    When entering a negative exponent in scientific notation,
    you <emph>must</emph> use <strong>negative</strong> button,
    or you will get an error on your calculator.
</p>

<p class="directions">
    For each of the problems below, write how you would enter this value on a calculator
    using the symbol <small>E</small> to represent the scientific notation button on the calculator.
    Then, write the answer to the problem using the same notation.
</p>

<ol class="questionList">
    <li class="question">
        \( \left( 8.34 \cdot 10^{19} \right) \left( 5.23 \cdot 10^{-8} \right) \)
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '8.34<small>E</small>19*5.23<small>E</small>-8'>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li class="subQuestion" data-answer = '4.36<small>E</small>12'>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
    <li class="question">
        \( \left( 1.84 \cdot 10^{-14} \right) \left( 6.82 \cdot 10^{-7} \right) \)
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '1.84<small>E</small>-14*6.83<small>E</small>-7'>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li class="subQuestion" data-answer = '1.25<small>E</small>-20'>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
    <li class="question">
        \( \frac{4.83 \cdot 10^5}{3.89 \cdot 10^{-19}} \)
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '4.83<small>E</small>5/3.89<small>E</small>-19'>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li class="subQuestion" data-answer = '1.24<small>E</small>'>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
    <li class="question">
        \( \frac{7.12 \cdot 10^{-20}}{5.55 \cdot 10^{-4}} \)
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '7.12<small>E</small>-20/5.55<small>E</small>-4'>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li class="subQuestion" data-answer = '1.28<small>E</small>-16'>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
</ol>

<p class="definition" data-word = 'Raising Scientific Notation to Exponents'>
    When you need to square or cube a number in scientific notation,
    place that number in parentheses:
    <br>
    <br>
    For example, to compute 6 million cubed, type in
    <br>
    (6<small>E</small>6)^3
</p>


<ol class="questionList">
    <li class="question">
        \( \left( 3.45 \cdot 10^8 \right)^2 \)
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '(3.45<small>E</small>8)^2'>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li class="subQuestion" data-answer = '1.19<small>E</small>17'>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
    <li class="question">
        \( \left( 1.87 \cdot 10^{-4} \right)^3 \)
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '(1.87<small>E</small>-4)^3'>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li class="subQuestion" data-answer = '6.54<small>E</small>-12'>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
    <li class="question">
        \( \left( 8.34 \cdot 10^9 \right)^{-2} \)
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '(8.34<small>E</small>9)-2'>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li class="subQuestion" data-answer = '1.44<small>E</small>-20'>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
</ol>

<h5>
    More difficult Problems
</h5>
<p class="definition">
    The problems below are reflective of some messy computations you may
    see in a physics course.
    Find the solution on a calculator.
</p>

<ol class = 'questionList'>
    <li class="question" data-answer = '236'>
        \(
        \frac{
        \left( 6.67 \cdot 10^{-11} \right)
        \left( 24.0 \right)
        \left( 5.97 \cdot 10^{24} \right)
        }{
        \left( 6.37 \cdot 10^6 \right)^2
        }
        \)
    </li>
    <li class="question" data-answer = '3.54<small>E</small>22'>
        \(
        \frac{
        \left( 6.67 \cdot 10^{-11} \right)
        \left( 2.00 \cdot 10^{30} \right)
        \left( 5.96 \cdot 10^{24} \right)
        }{
        \left( 1.50 \cdot 10^{11} \right)^2
        }
        \)
    </li>
    <li class="question" data-answer = '1.98<small>E</small>20'>
        \(
        \frac{
        \left( 6.67 \text{e} -11 \right)
        \left( 7.35 \text{e} 22 \right)
        \left( 5.97 \text{e} 24 \right)
        }{
        \left( 3.84 \text{e} 8 \right)^2
        }
        \)
    </li>
</ol>

<ol class="answerList"></ol>