<p>
    You need to be able to memorize two things in order: the six colors of the rainbow and the electromagnetic spectrum.
</p>

<p>
    To memorize the six colors, just remember this name"
    <strong>ROY G BV</strong>.
    [And note that I took indigo out of the name.]
</p>
<div class = 'container'>
    <table>
        <tr>
            <th>Color</th>
            <td colspan = '7'></td>
        </tr>
        <tr>
            <td>
                Red
            </td>
        </tr>
        <tr>
            <td>
                Orange
            </td>
        </tr>
        <tr>
            <td>
                Yellow
            </td>
        </tr>
        <tr>
            <td>
                Green
            </td>
        </tr>
        <tr>
            <td>
                Blue
            </td>
        </tr>
        <tr>
            <td>
                Violet
            </td>
        </tr>
    </table>
</div>

<p>
    To remember the seven types of electromagnetic wave, it is easy to use this mnemonic device:
    <strong>Ranging Martians Invade Venus Using X-Ray Guns</strong>.
</p>

<table>
    <tr>
        <th>
            Type of Wave
        </th>
        <td colspan = '8'></td>
    </tr>
    <tr>
        <td>
            Radio Wave
        </td>
    </tr>
    <tr>
        <td>
            Microwave
        </td>
    </tr>
    <tr>
        <td>
            Infrared Light
        </td>
    </tr>
    <tr>
        <td>
            Visible Light
        </td>
    </tr>
    <tr>
        <td>
            Ultraviolet Light
        </td>
    </tr>
    <tr>
        <td>
            X-Ray
        </td>
    </tr>
    <tr>
        <td>
            Gamma Ray
        </td>
    </tr>
</table>