<p class = 'directions'>
    Before using any formula, copy that formula.
    Always include unit in your answer.
</p>

<ol>
    <li>
        Write the formula that relates the speed, frequency, and period of a wave.
    </li>
    <li>
        A wave on a string has a frequency of 55 Hertz and a wavelength of 0.4 m.
        What is its speed?
    </li>
    <li>
        A sound wave has a speed of 330 m/s and a frequency of 220 Hertz.
        What is its wavelength?
    </li>
</ol>