<p>
    An object of mass \( m \) is in free-fall on a planet of mass \( M \)
    and radius \( R \).
</p>

<ol>
    <li>
        Draw a free-body diagram for the object,
        and explicitly note the definition of the term 'free-fall'
        in making your diagram.
    </li>
    <li>
        Derive an equation for the acceleration of the object, given by \( g \), free-fall acceleration.
        Explicitly note any formulas or principles used in your derivation.
    </li>
    <li>
        Demonstrate how the very simple formula for the force of gravity on a planet (called weight) can be
        derived from the much more complex formula for universal gravitation.
    </li>
    <li>
        In the late 1500s,
        Galileo Galilee purportedly dropped a light sphere and a much heavier sphere
        off the leaning tower of Pisa to show that they struck the ground at the same time.
        Relate this famous result to your derivation above,
        and explain <emph>in words</emph> why it works out.
        For full credit, your explanation should point to two different understandings
        of the term "mass."
    </li>
</ol>