<p>
    An object of mass \( m \) is in free-fall on a planet of mass \( M \)
    and radius \( R \).
</p>

<ol>
    <li>
        Draw a free-body diagram for the object,
        and explicitly note the definition of the term 'free-fall'
        in making your diagram.
    </li>
    <li>
        Derive an equation for the acceleration of the object, given by \( g \), free-fall acceleration
        in terms of the universal gravitational constant \( G \), the mass of the planet \( M \), and the radius of the planet \( R \).
        Explicitly note any formulas or principles used in your derivation.
    </li>
    <li>
        Given that the mass of earth is 5.972 x 10<sup>24</sup> kg
        and the radius of earth is 6,371 km,
        use your formula to find the free-fall acceleration of earth.
        Confirm your formula returns the value you would expect.
    </li>
    <li>
        Derive a new very simple formula for the force of gravity acting on an object while it is on the surface
        of a planet in terms of the mass of that object and the free-fall acceleration of the planet.
        You must derive this formula from the formula for universal gravitation.
    </li>
    <li>
        In the late 1500s,
        Galileo Galilee purportedly dropped a light sphere and a much heavier sphere
        off the leaning tower of Pisa to show that they struck the ground at the same time.
        Relate this famous result to your derivation above,
        and explain <emph>in words</emph> why it works out.
        For full credit, your explanation should define and use the terms "gravitational mass"
        and "inertial mass."
    </li>
</ol>