<div class = 'container'>
<ol class = 'graphicalQuestionList'>
    <li class = 'tinyQuestion'>
    <div class = 'row'>
        <br>
            <div id = 'positionGraph1' class = 'col-6-md mr-4'></div>
            <div class = 'col-6-md ml-4'>
                {{>fourMotionMultipleChoice}}
            </div>
    </div>
    </li>

    <div class = 'row'>
        <li class = 'tinyQuestion'>
            <div id = 'positionGraph2' class = 'col-6-md'></div>
            <div class = 'col-6-md'>
                {{>fourMotionMultipleChoice}}
            </div>
        </li>
    </div>
    <div class = 'row'>
        <li class = 'tinyQuestion'>
            <div id = 'positionGraph3' class = 'col-6-md'></div>
            <div class = 'col-6-md'>
                {{>fourMotionMultipleChoice}}
            </div>
        </li>
    </div>
    <div class = 'row'>
        <li class = 'tinyQuestion'>
            <div id = 'positionGraph4' class = 'col-6-md'></div>
            <div class = 'col-6-md'>
                {{>fourMotionMultipleChoice}}
            </div>
        </li>
    </div>
</ol>
</div>

<ol class = 'graphicalQuestionList' start = '5'>
    <div class = 'row'>
        <li class = 'tinyQuestion'>
            <div id = 'motionMap1' class = 'col-6-md'></div>
            <div class = 'col-6-md'>
                {{>fourMotionMultipleChoice}}
            </div>
        </li>
    </div>
    <div class = 'row'>
        <li class = 'tinyQuestion'>
            <div id = 'motionMap2' class = 'col-6-md'></div>
            <div class = 'col-6-md'>
                {{>fourMotionMultipleChoice}}
            </div>
        </li>
    </div>
    <div class = 'row'>
        <li class = 'tinyQuestion'>
            <div id = 'motionMap3' class = 'col-6-md'></div>
            <div class = 'col-6-md'>
                {{>fourMotionMultipleChoice}}
            </div>
        </li>
    </div>
    <div class = 'row'>
        <li class = 'tinyQuestion'>
            <div id = 'motionMap4' class = 'col-6-md'></div>
            <div class = 'col-6-md'>
                {{>fourMotionMultipleChoice}}
            </div>
        </li>
    </div>
</ol>


<script>
    let positionGraph1 = makePositionGraphConstantVelocity();
    let positionGraph2 = makePositionGraphNegativeAcceleration();
    let positionGraph3 = makePositionGraphNotMoving();
    let positionGraph4 = makePositionGraphPositiveAcceleration();

    $("#positionGraph1").append(positionGraph1.drawCanvas(300,300));
    $("#positionGraph2").append(positionGraph2.drawCanvas(300,300));
    $("#positionGraph3").append(positionGraph3.drawCanvas(300,300));
    $("#positionGraph4").append(positionGraph4.drawCanvas(300,300));

</script>

