<p class="directions">
    For full credit, you must write each formula that you use.
    Note that the formula for centripetal force is relevant to this problem,
    but if any force in a free-body diagram is labeled as the centripetal force,
    you will receive no credit for that problem.
</p>

<p>
    An 300. gram mass on a string spins in a vertical circle with a radius of 40.0 centimeters.
    Assume that it takes the object 0.800 seconds to complete a single rotation,
    and that it moves at a constant speed**
</p>


<img src = '/images/vertical_circle.png' />

<ol>
    <li>
        Draw a free-body diagram of the object at point A that includes two forces***.
        For each force, label the force and determine its magnitude.
    </li>
    <li>
        Draw a free-body diagram of the object at point B that includes two forces.
        For each force, label the force and determine its magnitude.
    <li>
        Draw a free-body diagram of the object at point C that includes two forces.
        For each force, label the force and determine its magnitude.
    <li>
        Draw a free-body diagram of the object at point D that includes two forces.
        For each force, label the force and determine its magnitude.
    </li>
    <li>
        Assume that the string is flimsy and can break easily.
        At which point would the string be most likely to break and why?
        Refer to your free-body diagrams in answering this question.
    </li>
    <li>
        Explain words how the centripetal force is relevant to this problem.
    </li>
</ol>


<p>
    ** Note that, in reality, it would be very unlikely that an object in a vertical
    circle would move at a constant speed. However thinking about it in this way
    can help to understand some of the physical principles involved
    without the problem becoming to complex.
</p>

<p>
    ***Note that more than two forces would be necessary to ensure the mass moved at a constant
    speed, but, as stated above, they are omitted to focus on the most important
    principles of the problem.
</p>