<div class="bigSpace"></div>
<div class="bigSpace"></div>


<h3>
    <a href = '/podAssets/fundamental_forces/inverse_square_laws/coulombs_law_1.pdf'>Practice Page Available as a PDF</a>
</h3>


<div class="bigSpace"></div>
<div class="bigSpace"></div>

<p class="equation">
    $$
    F_E = k \frac{q_1 q_2}{d^2}
    $$
</p>

<div class="container">
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            <strong>Symbol</strong>
        </div>
        <div class="col-3 p-2 border border-dark">
            <strong>Quantity</strong>
        </div>
        <div class="col-2 p-2 border border-dark">
            <strong>SI Unit</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            \( F_E \)
        </div>
        <div class="col-3 p-2 border border-dark">
            Electrostatic Force
        </div>
        <div class="col-2 p-2 border border-dark">
             Newtons (N)
        </div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            \( k \)
        </div>
        <div class="col-3 p-2 border border-dark">
            Coulomb's Constant =
            \( 9.0 \cdot 10^9 \frac{\text{N} \cdot \text{m}^2}{\text{C}} \)
        </div>
        <div class="col-2 p-2 border border-dark">
            \( \frac{\text{N} \cdot \text{m}^2}{\text{C}} \)
        </div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            \( q_1 \)
        </div>
        <div class="col-3 p-2 border border-dark">
            Charge 1
        </div>
        <div class="col-2 p-2 border border-dark">
            Coulombs (C)
        </div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            \( q_2 \)
        </div>
        <div class="col-3 p-2 border border-dark">
            Charge 2
        </div>
        <div class="col-2 p-2 border border-dark">
            Coulombs (C)
        </div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            \( d \)
        </div>
        <div class="col-3 p-2 border border-dark">
            Distance between charges
        </div>
        <div class="col-2 p-2 border border-dark">
            Meters (m)
        </div>
    </div>
</div>

<h4>
    Attraction and Repulsion
</h4>

<p>
    An electrostatic force can be either an attractive charge
    or a repulsive charge, depending upon the situation.
    Like charges repel each other, and opposite charges attract.
</p>

<div class="container">
    <div class="row">
        <div class = 'col-3 p-2 border border-dark'>
            <strong>Charge</strong>
        </div>
        <div class = 'col-3 p-2 border border-dark'>
            <charge>Attract or Repel?</charge>
        </div>
    </div>
    <div class="row">
        <div class = 'col-3 p-2 border border-dark'>
            Positive and Positive
        </div>
        <div class = 'col-3 p-2 border border-dark'>
            Repulsive
        </div>
    </div>
    <div class="row">
        <div class = 'col-3 p-2 border border-dark'>
            Negative and Negative
        </div>
        <div class = 'col-3 p-2 border border-dark'>
            Repulsive
        </div>
    </div>
    <div class="row">
        <div class = 'col-3 p-2 border border-dark'>
            Positive and Negative
        </div>
        <div class = 'col-3 p-2 border border-dark'>
            Attractive
        </div>
    </div>
</div>

<h3>
    Useful Constants
</h3>

<div class="container">
    <div class="row">
        <div class="col-1 p-2 border border-dark">
            <strong>Symbol</strong>
        </div>
        <div class="col-2 p-2 border border-dark">
            <strong>Name</strong>
        </div>
        <div class="col-4 p-2 border border-dark">
            <strong>Value</strong>
        </div>
        <div class="col-4 p-2 border border-dark">
            <strong>Explanation</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-1 p-2 border border-dark">
            \( e \)
        </div>
        <div class="col-2 p-2 border border-dark">
            Elementary Charge
        </div>
        <div class="col-4 p-2 border border-dark">
            \( 1.602 \cdot 10^{-19} \text{ Coulombs}\)
        </div>
        <div class="col-4 p-2 border border-dark">
            The charge of a single proton or electron.
        </div>
    </div>
    <div class="row">
        <div class="col-1 p-2 border border-dark">
            &#8491;
        </div>
        <div class="col-2 p-2 border border-dark">
            angstrom
        </div>
        <div class="col-4 p-2 border border-dark">
            \( 1 \cdot 10^{-10} \text{ meters} \)
        </div>
        <div class="col-4 p-2 border border-dark">
            A frequently used distance unit for the insides of atoms.
        </div>
    </div>
</div>

<h3>
    Video Resources
</h3>
<h5>
    Flipping Physics Videos
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4ubqby1Id4g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>