
<p class = 'definition' data-word = "Newton's Third Law">
    Whenever A exerts a force on B,
    B exerts a force on A with equal magnitude and opposite direction.
</p>

<p>
    The diagram below shows two people standing on earth,
    Mr. A and Ms. E.

</p>

<img src = '/quizAssets/dynamics/identifying_forces/two_people_on_earth.jpeg' height = '400px' width = 'auto'/>

<ol>
    <li>
        Draw a free-body diagram for Mr. A.
        Your free-body diagram should include two forces,
        each identified by the type, direction, agent, and object.
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-md-6 border border-dark'>
                    <strong>Free-Body Diagram</strong>
                    <br><br><br><br><br><br><br><br><br>
                </div>
                <div class = 'col-md-6 border border-dark bg-secondary'>
                    <div class = 'row'> <!-- nested table -->
                        <div class = 'col-3 border border-dark bg-white'>
                            Type Of Force
                        </div>
                        <div class = 'col-3 border border-dark bg-white'>
                            Direction
                        </div>
                        <div class = 'col-3 border border-dark bg-white'>
                            Agent
                        </div>
                        <div class = 'col-3 border border-dark bg-white'>
                            Object
                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <li>
        Draw a free-body diagram for Ms. E.
        Your free-body diagram should include two forces,
        each identified by the type, direction, agent, and object.
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-md-6 border border-dark'>
                    <strong>Free-Body Diagram</strong>
                    <br><br><br><br><br><br><br><br><br>
                </div>
                <div class = 'col-md-6 border border-dark bg-secondary'>
                    <div class = 'row'> <!-- nested table -->
                        <div class = 'col-3 border border-dark bg-white'>
                            Type Of Force
                        </div>
                        <div class = 'col-3 border border-dark bg-white'>
                            Direction
                        </div>
                        <div class = 'col-3 border border-dark bg-white'>
                            Agent
                        </div>
                        <div class = 'col-3 border border-dark bg-white'>
                            Object
                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                        <div class = 'col-3 border border-dark p-4 bg-white'>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </li>
    <li>
        Draw a free-body diagram for the earth.
        Your free-body diagram should include 4 forces,
        each identified by type, direction, agent, and object.
        Please note that these are <strong>not</strong>
        the only four forces acting on the earth,
        but the one's relevant to Mr. A and Mr. E.
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-md-6 border border-dark'>
                    <strong>Free-Body Diagram</strong>
                    <br><br><br><br><br><br><br><br><br>
                </div>
                <div class = 'col-md-6 border border-dark'>
                    <div class = 'row'> <!-- nested table -->
                        <div class = 'col-3 border border-dark'>
                            Type Of Force
                        </div>
                        <div class = 'col-3 border border-dark'>
                            Direction
                        </div>
                        <div class = 'col-3 border border-dark'>
                            Agent
                        </div>
                        <div class = 'col-3 border border-dark'>
                            Object
                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                        <div class = 'col-3 border border-dark p-4'>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </li>

    <li>
        Your three free-body diagrams,
        there are 8 total forces.
        Two of these forces can be described as <emph>weight</emph>.
        Identify which two.
    </li>

    <li>
        In your three-free body diagrams,
        label each force A - G.
        Identify <strong>four</strong> sets of action-reaction pairs.
    </li>

    <li>
        Pick one of your sets and explain why this is an action-reaction
        pair by explicitly referring to Newton's Third Law above.
    </li>

    <li>
        There is an important distinction to make for your free-body diagram of earth:
        two of the forces apply to the full earth,
        one force applies specifically to the ground underneath Mr. A,
        and one force applies specifically to the ground underneath Ms. E.
        Identify which force applies where.
    </li>
</ol>