

<h4>
    Octave Facts
</h4>
<ul>
    <li>
        There are eight notes in an octave.
        They are called Do, Re, Mi, Fa, So, La, Ti, and Do.
    </li>
    <li>
        The final note of the octave has twice the frequency of the first note of the octave.
    </li>
    <li>

    </li>
</ul>