<p>
  In a previous pod, we learned the formula for angular velocity
  \( \omega = \frac{\Delta \theta}{\Delta t} \),
  and then were able to apply this relationship
  by using the knowledge that
  \( 1 \text{ revolution} = 2 \pi \text{ radians} \).
  In this pod, we are going to apply this same formula to
  determining the angular velocity of real things!
  Follow these steps:
</p>

<h5>
  Steps:
</h5>
<ul>
  <li>
    Use your personal knowldege to figure out how long \( \left( \Delta t \right) \) it takes
    an object to moe in a complete circle.
  </li>
  <li>
    Convert this value to seconds using the <a href = '#'>conversion factor method</a>.
  </li>
  <li>
    Know that one complete revoution represents an angular displacement of \( \Delta \omega = 2 pi \text{ radians} \)
  </li>
  <li>
    Apply the formula \( \omega = \frac{\Delta \Theta}{\Delta t} \) to determine the
    angular velocity in radians per second.
  </li>
</ul>

<p class = 'definitionBox'>
  The earth revolves completely around the sun in approximately 24.25 days.
  To account for this, most years are 365 days, but every four years is a leap year that
  is 366 days, so an average year is precisely 24.25 days.
</p>
<p class = 'definitionBox'>
  The moon revolves completely around the earth in a time of 27 days.
</p>

<p class = 'directions'>
    Determine the angular velocity of each of the objects
    below in terms of radians per second.
    Please write your answer as a decimal with four significant
    figures our accuracy.
    For all necessary conversions, please use the
    <a href = '/pod/pure_mathematics/dimensional_analysis/conversion_factors_1'>conversion factor method</a> appropriately.
</p>

<h4>
  Questions:
</h4>
<ol class = 'questionList'>
  <li class = 'question' data-answer = '0.1047 rad / sec'>
    Determine the angular velocity of the second hand of a clock.
  </li>
  <li class = 'question' data-answer = '0.001745 rad / sec'>
    Determine the angular velocity of the minute hand of a clock.
  </li>
  <li class = 'question' data-answer = '0.001454'>
    Determine the angular velocity of the hour hand of a clock.
  </li>
  <li class = 'question' data-answer = '\( 7.272 \times 10^{-5} \text{ rad / sec} \)'>
    Determine the angular velocity of the rotation of the earth (its spinning around to create days).
  </li>
  <li class = 'question' data-answer = '\( 1.991 \times 10^{-7} \text{ rad / sec} \)'>
    Determine the angular velocity of the revolution of the earth around the sun (which creates seasons).
  </li>
  <li class = 'question' data-answer = '\( 2.693 \times 10^{-6} \text{ rad / sec} \)'>
    Determine the angular velocity of the revolution of the moon around the earth.
  </li>
</ol>


<p class = 'directions'>
    Answer the following question in a brief paragraph.
</p>

<ol class = 'questionList'>
    Which has a greater angular velocity: the earth (in its daily rotation)
    or a spinning top?
</ol>



<ol class = 'answerList'></ol>
