<p>
    The SI unit for angular velocity is radians per second.
    However, it is frequently presented with a different unit, namely,
    radians per second.
</p>

<h5>
    Other unit
</h5>
<p>
    Here are two non-SI but very common units for angular velocity:
    $$
    \text{rps} = \text{rotations per second} = \frac{\text{rotations}}{\text{second}}
    $$
    and
    $$
    \text{rpm} = \text{rotations per minute} = \frac{\text{rotations}}{\text{minute}}
    $$
</p>

<p>
    You can convert these to quantities using the following conversion factors
</p>

<p class = 'directions'>
    Convert each of the following quantities to
    radians per second, the SI unit,
    using the <a href = '/podX/pure_mathematics/dimensional_analysis/conversion_factors_1'>conversion factor method</a> correctly.
</p>

<ol class = 'questionList'>
    <li class="question">
        Convert 50 rps to radians per second.
    </li>
    <li class="question">
        Convert 120 rps to radians per second.
    </li>
    <li class="question">
        Convert 2 rpm to radians per second.
    </li>
    <li class="question">
        Convert 30 rpm to radians per second.
    </li>
</ol>


<p>
    Coming soon:
    ---examples of how to use the <emph>conversion factor method</emph> here
    ---more questions involving many steps of conversions
    ---description of what must be precisely written for full credit
</p>


<ol class = 'answerList'></ol>