<p>
    When we were learning about linear motion,
    we learned about a series of kinematic quantities,
    such as position, velocity, and acceleration.
    We needed to learn what each quantity meant,
    how to calculate it, and how to interpret it.
</p>
<p>
    Now that we are beginning with rotational kinematics,
    we need to relearn about each of those same quantities.
    Position, velocity, and acceleration still exist in rotational
    motion, but they have new meanings.
    In this first pod, we will learn the definitions
    of rotational position and displacement.
</p>


<ul class="definition" data-word = 'Radians'>
    <li>
        Radians are an alternative to degrees used to understand angles.
    </li>
    <li>
        A single revolution around a circle represents 360 degrees or \(2pi \) radians.
    </li>
    <li>
        Half a revolution represents \( \pi \) radians, and a quarter of a revolution
        represents \( \frac{\pi}{2} \) radians.
    </li>
</ul>

<p class="definition" data-word = 'Unit Circle'>
    The <strong>unit circle</strong>
    is a circle with a radius of 1
    used to help understand the meaning of angles.
    To use a unit circle, begin from the +x direction, directly right of the center,
    and move counterclockwise.
</p>

<img src = '/podAssets/rotational_motion/rotational_kinematics/unit_circle.png'  height = '300px' width = 'auto' class = 'm-4'/>
<p class="imageCredit">
    Image Credit: https://etc.usf.edu/clipart/43200/43205/unit-circle13_43205.htm
</p>
<!--
when i make my own, don't add arrows
-->

<p class="definition" data-word = 'Angular Position'>
    <strong>Angular Position</strong> is given by the position of a rotating
    object on the unit circle, as measured in radians.
    <br>
    Angular Position is represented by the Greek lettr theta: \( \theta \).
</p>

<h5>
    A Brief Guide to Angular Positions
</h5>

<ul>
    <li>
        The positive-x direction, directly to the right of the center of the circle,
        represents angular position zero.
    </li>
    <li>
        As you move counterclockwise through quadrant 1,
        angular position increases to \( \frac{\pi}{2} \).
    </li>
    <li>
        The positive-y direction, directly up from the center of the circle,
        represents angular position \( \frac{\pi}{2} \).
    </li>
    <li>
        As you move counterclockwise through quadrant 2,
        angular position increases to \( \pi \).
    </li>
    <li>
        The negative-x direction, directly left from the center of the circle,
        represents angular position \( \pi \).
    </li>
    <li>
        As you move counterclockwise through quadrant 3,
        angular position increases to \( \frac{3 \pi}{2} \).
    </li>
    <li>
        The negative-y direction, directly down from the center of the circle,
        represents angular position \( \frac{3 \pi}{2} \)
    </li>
    <li>
        As you move counterclockwise through quadrant 4,
        angular position increases to \( 2 \pi \).
    </li>
    <li>
        Angular position cannot be greater than \( 2 \pi \), or a single revolution.
        Once an object crosses the +x direciton, the zero radian line,
        angular position decreases back to zero and begins again.
        (\( 2 \pi = 6.283 \))
    </li>
</ul>


<p class="directions">
    For each of the following angular positions,
    determine which quadrant it is in.
</p>

<ol class="questionList">
    <li class="question" data-answer = ''>
        \( \theta = 1 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = 2 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = 3 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = 4 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = 5 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = 6 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = 7 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = 8 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = -1 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = -3 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = -5 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = -7 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = 100 \)
    </li>
    <li class="question" data-answer = ''>
        \( \theta = -50 \)
    </li>
</ol>


<h4>
    Angle Conversions
</h4>

<p class = 'directions'>
    Complete each of the following conversions
    using the
    <a href = '/pod/f9822f56-bff2-44b6-bacf-3093b6a13613'>
        conversion factor method</a>.
    Please represent each answer as decimal to 3 significant figures of accuracy.s
</p>

<h5>
    Conversion Factors
</h5>
<ul>
    <li>
        360 degrees = \( 2 \pi \) radians = 1 revolution
    </li>
    <li>
        180 degrees = \( \pi \) radians = 0.5 revolutions
    </li>
</ul>

<ol class="questionList">
    <li class="question" data-answer = ''>
        Convert 4 revolutions to radians.
    </li>
    <li class="question" data-answer = ''>
        Convert 10 and a half revolutions to radians.
    </li>
    <li class="question" data-answer = ''>
        Convert 200 degrees to radians.
    </li>
    <li class="question" data-answer = ''>
        Convert 10 degrees to radians.
    </li>
    <li class="question" data-answer = ''>
        How many degrees are in 3 revolutions (use the conversion factor method)?
    </li>
    <li class="question" data-answer = ''>
        How many revolutions are in \(8 \pi \) radians.
    </li>
    <li class="question" data-answer = ''>
        How many revolutions are in 24 radians?
    </li>
    <li class="question" data-answer = ''>
        How many revolutions are in 10,000 degrees?
    </li>
</ol>

<h4>
    Angular Displacement
</h4>

<p>
    When we first learned about kinematics,
    we learned about both position and displacement.
    Position represents where you are,
    and displacement represents your change in position.
    Angular position and displacement work similarly,
    but with some complications.
</p>

<ul class = 'definition' data-word = 'Angular Displacement'>
    <li>
        Angular displacement represents change in angular position.
        It represents how much and object spins.
    </li>
    <li>
        Even though angular position cannot be greater than \( 2 \pi \),
        angular displacement <em>can</em>, if an object completes more
        than one rotation.
    </li>
    <li>
        Even though angular position is never negative,
        angular displacement <em>can be</em>.
        Positive angular displacement represents an object moving
        clockwise and negative angular displacement
        represents an object moving counterclockwise.
    </li>
    <li>
        The symbol for angular displacement is Delta-Theta: \( \Delta \theta \).
    </li>
</ul>

<p class = 'directions'>
    Determine the angular displacement \( \Delta \theta \) in each of the cases below.
    Please write your answer in terms of \( \pi \).s
</p>

<ol class="questionList">
    <li class="question">
        I run around a circle once, counterclockwise.
    </li>
    <li class="question">
        I run around a circle once, clockwise.
    </li>
    <li class="question">
        I run half a circle counterclockwise.
    </li>
    <li class="question">
        I run a quarter of a circle counterclockwise.
    </li>
    <li class="question">
        I run an eighth of a circle clockwise.
    </li>
    <li class="question">
        I run in two circles clockwise.
    </li>
    <li class="question">
        I run in ten circles counterclockwise.
    </li>
    <li class="question">
        I run in 100 circles clockwise.
    </li>
</ol>



<ol class="answerList"></ol>