<p>
  At many points in physics, you need to pu together existing
  equations and invent a new equation.
  Frequently, this equation is based on a conservation law.
</p>
<!--
Quiz shoudl include editing someone elses work,
someone has identified variables instead of terms
-->
