
<div class = 'container'>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'><strong>Types of Wave</strong></div>
        <div class = 'col-8 border border-dark p-1'><strong>Wavelength</strong></div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Radio Wave</div>
        <div class = 'col-8 border border-dark p-1'>greater than 1 meter</div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Microwave</div>
        <div class = 'col-8 border border-dark p-1'>between 1 millimeter and 1 meter</div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Infrared Light</div>
        <div class = 'col-8 border border-dark p-1'>between 700 nanometers and 1 millimeter</div>
    </div>
    <div class= 'row'>
        <div class = 'col-1 border border-dark p1'>
            <p class = 'sidewaysText'>Visible Light</p> <!-- still working on this!!!! --->
        </div>
        <div class = 'col-10 border border-dark'>
            <div class = 'row'>
                <div class = 'col-2 border border-dark p-1' style = 'color:red'>Red</div>
                <div class = 'col-10 border border-dark p-1'>between 635 nanometers and 700 nanometers</div>
            </div>
            <div class= 'row'>
                <div class = 'col-2 border border-dark p-1' style = 'color:orange'>Orange</div>
                <div class = 'col-10 border border-dark p-1'>between 590 nanometers and 635 nanometers</div>
            </div>
            <div class= 'row'>
                <div class = 'col-2 border border-dark p-1' style = 'color:yellow'>Yellow</div>
                <div class = 'col-10 border border-dark p-1'>between 560 nanometers and 590 nanometers</div>
            </div>
            <div class= 'row'>
                <div class = 'col-2 border border-dark p-1' style = 'color:green'>Green</div>
                <div class = 'col-10 border border-dark p-1'>between 520 nanometers and 560 nanometers</div>
            </div>
            <div class= 'row'>
                <div class = 'col-2 border border-dark p-1' style = 'color:blue'>Blue</div>
                <div class = 'col-10 border border-dark p-1'>between 450 nanometers and 520 nanometers</div>
            </div>
            <div class= 'row'>
                <div class = 'col-2 border border-dark p-1' style = 'color:violet'>Violet</div>
                <div class = 'col-10 border border-dark p-1'>between 400 nanometers and 450 nanometers</div>
            </div>
        </div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Ultraviolet Light</div>
        <div class = 'col-8 border border-dark p-1'>between 10 nanometers and 400 nanometers</div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>X-ray</div>
        <div class = 'col-8 border border-dark p-1'>between 1 picometer and 10 nanometers</div>
    </div>
    <div class= 'row'>
        <div class = 'col-3 border border-dark p-1'>Gamma Ray</div>
        <div class = 'col-8 border border-dark p-1'>less than 1 picometer</div>
    </div>
</div>

<p class = 'directions'>
    For each wave of a particular wavelength,
    determine which type of electromagnetic wave it is.
    If the light is visible light, determine its color.
</p>

<ol>
    <li class = 'mb-2'>
        \( \lambda = 86 \text{ centimeters} \)
    </li>
    <li class = 'mb-2'>
        \( \lambda = 23 \text{ nanometers} \)
    </li>
    <li class = 'mb-2'>
        \( lambda = 200 \text{ micrometers} \)
    </li>
    <li class = 'mb-2'>
        \( \lambda = 640 \text{ nanometers} \)
    </li>
    <li class = 'mb-2'>
        \( \lambda = 56 \text{ femtometers} \)
    </li>
    <li class = 'mb-2'>
        \( \lambda = 540 \text{ nanometers} \)
    </li>
</ol>