<p class = 'introduction'>
  In this pod, we continue with identifying different variables,
  as in
  <a href = '/pod/81cace0c-1f2e-4e05-8a98-e950ebacafa8'>identify variables 1</a>,
  with some more challenging examples.
</p>
