Finding the mass of the sun: multiple choice quiz:

The mass of the sun can be determined from the formulas for centripetal force and the Law of Universal Gravitation and some basic knowledge of the earth and the sun. Answer the questions below relating to the concepts of this problem.
You don’t have any lifelines, but you did take Astronomy in college.



<ol>
    <li>
        (for $200) What is the Law of Universal Gravitation?

        A. \( F = mg \)

        B. \( F = \frac{G m_1 m_2}{d^2} \)

        C. \( F= \frac{m v^2}{4} \)

        D. \( F= \mu_k F_N \)
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        (for $500) What is the formula for centripetal force?

        A. \( F = mg \)

        B. \( F = \frac{G m_1 m_2}{d^2} \)

        C. \( F= \frac{m v^2}{4} \)

        D. \( F= \mu_k F_N \)
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        (for $1000) The value of the Universal Gravitational Constant is:


        A. 9.67e-10 N * m^2 / kg

        B. 4.87e-12 N * m^2 / kg

        C. 6.67e-11 N * m^2 / kg

        D. 5.67e-11 N * m^2 / kg
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        (for $2000) In this particular problem, the formulas for gravitational force and centripetal force can be set equal. Why is this?

        A. These two forces are always equal.

        B. The gravitational force is the force pulling the earth into a nearly circular orbit around the sun.

        C. The gravitational force is responsible for setting the earth’s velocity.

        D. The gravitational force is proportional to the angular momentum of the earth.
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        (For $8000) Which of the following are necessary to solve the problem?:

        A. The mass of the earth, the distance between the earth and the sun, and the Universal Gravitational constant.

        B. The mass of the earth, the distance between the earth and the sun, the Universal Gravitational constant, and earth’s free-fall acceleration.

        C. The distance between the earth and the sun, the Universal Gravitational Constant, and earth’s free-fall acceleration.

        D. The distance between the earth and the sun, the time for the earth to orbit the sun, and the Universal Gravitational constant.
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        (For $32,000) Is the mass of the earth is necessary to solve this problem and why?

        A. No, because when the necessary formula is written it cancels out.

        B. Yes, because it is included in the formula for gravitational force.

        C. Yes, because it is included in both the formula for gravitational force and the formula for centripetal force.

        D. No, the free-fall acceleration of the earth is used instead.
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
</ol>





(for $64,000) You should be able to figure out the speed of the earth as it orbits the sun in meters per second. This requires:


A. The distance from the earth to the sun, the time of a year in seconds, and the basic geometry of circles.

B. The distance from the earth to the sun, the time of a year in seconds, whether it is daylight savings time, and basic geometry of circles.

C. The distance from the sun to the earth, the time of a day in seconds, and basic geometry of circles.

D. The radius of the earth, the time of a day in seconds, and the basic geometry of circles








(for $125000) Can this method be replicated to measure the mass of the Jupiter?

A. Yes, because Jupiter has moons in a nearly circle orbit.

B. No, this method is only relevant to the sun.

C. Yes, because the free-fall acceleration on Jupiter is known

D. Yes, because Jupiter also orbits the sun.





(for $250000) The moon Titania orbits Uranus in a nearly circular orbit. It is a distance of 435000 km from Uranus and orbits in a time of 209 hours.
What is the mass of Uranus to one significant figure?

A. 9e25 kg

B. 5e26 kg

C. 9e27 kg

D. 2e28 kg







(for $500,000) For whom or what is the moon Titania named?


A. The Greek god of the earth

B. The apocalypse in Norse Mythology

C. An ancient city in Italy

D. The queen of the fairies in A Midsummer Nights Dream










(for $1,000,000) The earth is approximately how many miles away from the sun:


A. 9.3 million

B. 39 million

C. 93 million

D. 193 million