

<div class="container">
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            Moon
        </div>
        <div class="col-2 p-2 border border-dark">
            Period of Orbit (earth days)
        </div>
        <div class="col-2 p-2 border border-dark">
            Semi-Major Axis* (km)
        </div>
        <div class="col-2 p-2 border border-dark">
            Mass (kg)
        </div>
        <div class="col-2 p-2 border border-dark">
            Eccentricity**
        </div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">
            Miranda
        </div>
        <div class="col-2 p-2 border border-dark">
            1.413
        </div>
        <div class="col-2 p-2 border border-dark">
            129000
        </div>
        <div class="col-2 p-2 border border-dark">
            6.4e19
        </div>
        <div class="col-2 p-2 border border-dark">
            0.0013
        </div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">
            Titania
        </div>
        <div class="col-2 p-2 border border-dark">
            8.705
        </div>
        <div class="col-2 p-2 border border-dark">
            436000
        </div>
        <div class="col-2 p-2 border border-dark">
            3.4e19
        </div>
        <div class="col-2 p-2 border border-dark">
            0.0011
        </div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">
            Oberon
        </div>
        <div class="col-2 p-2 border border-dark">
            13.463
        </div>
        <div class="col-2 p-2 border border-dark">
            584000
        </div>
        <div class="col-2 p-2 border border-dark">
            3.08e19
        </div>
        <div class="col-2 p-2 border border-dark">
            0.0014
        </div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">
            Ariel
        </div>
        <div class="col-2 p-2 border border-dark">
            2.520
        </div>
        <div class="col-2 p-2 border border-dark">
            191000
        </div>
        <div class="col-2 p-2 border border-dark">
            1.25e19
        </div>
        <div class="col-2 p-2 border border-dark">
            0.0012
        </div>
    </div>

    <div class="row">
        <div class="col-2 p-2 border border-dark">
            Umbriel
        </div>
        <div class="col-2 p-2 border border-dark">
            4.144
        </div>
        <div class="col-2 p-2 border border-dark">
            266000
        </div>
        <div class="col-2 p-2 border border-dark">
            1.28e19
        </div>
        <div class="col-2 p-2 border border-dark">
            0.0039
        </div>
    </div>

</div>
<p>
    * This is the longest distance between the moon and Uranus.
    The semi-major axis of earth's orbit is approximately 93 million miles.
</p>
<p>
    ** Eccentricity is a measure of how circular or elongated an elliptical orbit is.
    A low value of eccentricity means an orbit is nearly circular.
    The eccentricity of earth's orbit is about 0.0167.
</p>

<ol>
    <li>
        By using the information in the table above, calculate the mass of Uranus.
    </li>
    <li>
        Two formulas are necessary to answer the question above.
        Explain briefly why each of the two
        formulas is valid in this situation.
    </li>
    <li>
        Of the pieces of information in the table, other than eccentricity,
        one piece of information is unnecessary.
        Briefly explain why.
    </li>
</ol>