<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<p>
    A worker for a moving company is trying to push an extremely heavy box,
    which has a mass of 150 kg.
    Initially, he pushes the box hard, but it does not move, so he pushes it
    harder and harder until it finally moves. Once the box is moving,
    he pushes it across the room at a constant velocity.
</p>
<img src = '/contentFiles/dynamicsQuizImages/dragging_problems_three.jpg' height = '300px' width = 'auto'/>
<p>
    The graph shown above is an applied force-time graph for this process.
    The y-axis depicts the force exerted by the worker (not the net force!)
    and the x-axis shows the time.
    Analyze the situation according to the prompts below.
    Questions require you to
</p>
<!---
Must get a pic of the graph here!!!
also, need a good review page for this quiz
--->

<ol>
    <li>
        At some period of time during this motion,
        the block is not moving.
        Identify this time period on the graph
        and label it \( \Delta t_a \).
    </li>
    <li>
        For a <i>very</i> brief period of time during this motion,
        the block is accelerating.
        Identify this time period on the graph
        and label it \( \Delta t_b \).
    </li>
    <li>
        For another period of time during this motion,
        the block is moving at a constant velocity.
        Identify this period of time on the graph
        and label it \( \Delta t_c \).
    </li>
    <p>
        There are more questions on the back!
    </p>
    <div class = 'pageBreak'></div>
    <li>
        Pick <i>any</i> point within the period of time \( \Delta t_a \).
        Label this point in time \( t_1 \).
        Note that there are infinitely many points you could pick!
        Draw a <strong>quant</strong>itative free-body diagram of the
        box at time \( t_1 \).
        You free-body diagram should show four forces
        acting on the block. Each force should be identified
        and its magnitude and direction should be properly determined.
        The frictional force should be identified specifically
        as either static or kinetic friction.
    </li>
    <li>
        Pick any point within the period of time \( \Delta t_b \).
        Label this point in time \( t_2 \).
        Note that there are infinitely many points you could pick!
        Draw a <strong>quant</strong>itative free-body diagram of the
        box at time \( t_1 \).
        You free-body diagram should show four forces
        acting on the block. Each force should be identified
        and its magnitude and direction should be properly determined.
        However, on this graph, the force of friction can be drawn qualitatively.
        It should be drawn without magnitude, but the relative length of the
        arrow representing force of friction should be such that the block would accelerate.
        The frictional force at this time does not need to be identified as static or kinetic friction,
        Simply call it "friction".
    </li>
    <li>
        Pick any point within the period of time \( \Delta t_c \).
        Label this point in time \( t_3 \).
        Note that there are infinitely many points you could pick!
        Draw a <strong>quant</strong>itative free-body diagram of the
        box at time \( t_3 \).
        You free-body diagram should show four forces
        acting on the block. Each force should be identified
        and its magnitude and direction should be properly determined.
        The frictional force should be identified specifically
        as either static or kinetic friction.
    </li>
    <li>
        From the graph, determine <i>both</i> the <strong>coefficient of kinetic friction</strong>
        and <strong>coefficient of static friction</strong> of the surface of the box on the floor.
        Please write the formulas you used to determine these values,
        and write a couple sentences saying how you
        determine the values you needed to plug into these formulas.
    </li>
    <!--
    -->
</ol>
