
<div class="bigSpace"></div>
<div class="bigSpace"></div>
<a href  = '/asset/ca2a46/charging_by_friction_electrostatic_discharge.pdf'>PRACTICE PAGE IS AVAILABLE HERE</a>
<div class="bigSpace"></div>
<div class="bigSpace"></div>