<ol>
    <li class = 'physicsQuestion'>
        True or false? An object in motion will stay in motion if the net force on that object is zero.
    </li>
    <li class = 'physicsQuestion'>
        True or False? An object at rest will begin moving it the net force on it is <emph>greater</emph> than zero.
    </li>
    <li class = 'physicsQuestion'>
        What is the name of the property of matter "resistance to change in motion"?
    </li>
    <li class = 'physicsQuestion'>
        Mass is the amount of ___________ in an object.
        <ol type = 'A'>
            <li>Matter</li>
            <li>Force</li>
            <li>Physics</li>
            <li>Energy</li>
        </ol>
    </li>
    <li class = 'physicsQuestion'>
        Inertial mass is always ___________ gravitational mass
        <ol type = 'A'>
            <li>greater than</li>
            <li>equal to</li>
            <li>less than</li>
            <li>irrelevant to</li>
        </ol>
    </li>
    <li class = 'physicsQuestion'>
        When we say mass is attracting other masses, this is called what type of mass?
        <ol type = 'A'>
            <li>fun mass</li>
            <li>silly mass</li>
            <li>gravitational mass</li>
            <li>inertial mass</li>
        </ol>
    </li>
</ol>
