

<ol class="questionList">
    <li class="question" data-answer = '7'>
        \( 4 + 11 = 3x - 6 \)
    </li>
    <li class="question" data-answer = '3'>
        \( 55 = 12 x^2 - 53 \)
    </li>
    <li class="question" data-answer = '3'>
        \( 19x = 24x - 15 \)
    </li>
    <li class="question" data-answer = '4'>
        \( 6 = \frac{24}{6} \)
    </li>
    <li class="question" data-answer = '1.63'>
        \( 19 = \frac{31}{x} \)
    </li>
    <li class="question" data-answer = '12.83'>
        \( 36 = 16 + 2 \cdot 12 \left( x - 12 \right) \)
    </li>
    <li class="question" data-answer = '31.8'>
        \( 100 = 64 + 2 \cdot 10 \left( x - 30 \right) \)
    </li>
    <li class="question" data-answer = '11'>
        \( 81 = 25 + 2 \cdot \left( 18 - x \right) \)
    </li>
    <li class="question" data-answer = '16.75'>
        \( 64 = 16 + 2 \cdot \left( 20 - x \right) \)
    </li>
    <li class="question" data-answer = '0.48'>
        \( 100 = \frac{2 \cdot 4 \cdot 6}{x} \)
    </li>
    <li class="question" data-answer = '48'>
        \( 24 = 6 \sqrt{\frac{x}{3}} \)
    </li>
    <li class="question" data-answer = '76,790'>
        \( 40 = \frac{1}{4} \sqrt{\frac{x + 10}{3}} \)
    </li>
    <li class="question" data-answer = '2,237'>
        \( 50 = \frac{2}{3} \sqrt{\frac{x + 13}{0.4}} \)
    </li>
    <li class="question" data-answer = '3.16'>
        \( 500 = \frac{1}{2} \cdot 4 \cdot x^2 + 4 \cdot 10 \cdot 12 \)
    </li>
    <li class="question" data-answer = '1.31'>
        \( 200 = \frac{1}{2} \cdot x \cdot 5^2 + x \cdot 10 \cdot 14 \)
    </li>
    <li class="question" data-answer = '1.64'>
        \( 120 = \frac{3 \cdot 9 \cdot 12}{x^2} \)
    </li>
    <li class="question" data-answer = '657'>
        \( 300 = \frac{12 \cdot 3x}{9^2} \)
    </li>
    <li class="question" data-answer = '0.34'>
        \( 400 = \frac{3 \cdot 2 \cdot \left( 10 - 2 \right) }{x^2} \)
    </li>
    <li class="question" data-answer = '1.33'>
        \( \frac{1}{2} = \frac{1}{2} + \frac{1}{4} \)
    </li>
    <li class="question" data-answer = '20'>
        \( \frac{1}{10} = \frac{1}{x} + \frac{1}{20} \)
    </li>
</ol>

<ol class="answerList"></ol>