
<p>
    Symbols like \( x \), \( y \), and \( z \) can be manipulated just like numbers can.
    You can add, subtract, multiply, or divide both sides of an equation by a symbol.
    To <i>Solve for</i> a variable means that you have only that variable on one side of the equation.
</p>

<p class = 'definition' data-word = 'in terms of'>
    For example, let's say that I have an equation like this:
    $$
    Z = X Y^2 + Y^3 X + (Y - X) XY
    $$
    This equation would be referred to as
    "\( Z \) in terms of \( X \) and \( Y \)".
</p>

<p class="definition" data-word = 'solve for a variable'>
    Imagine you have
    \( Z = \text{some long function that includes } \( X \) \text{ and } \( Y \). \)
    Imagine that you are able to manipulate the equation so that instead,
    it looks like this:
    \( Y = \text{some long function that includes } \( Z \) \text{ and } \( X \). \)
</p>





<div id = 'put_questions_here'></div>
<div id = 'put_answers_here'></div>

<script>
    var myProblems = new writtenProblemList();


    /// ONE STEP EQUATIONS
    myProblems.addProblem(
            {
                "question": "Solve for \\( B \\): <br>  \\( A = B C \\)",
                "answer": "\\( B = \\frac{A}{C} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( E \\): <br> \\( D = E + F \\)",
                "answer": "\\( E = D - F \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( G \\): <br> \\( H = G - 1 \\)",
                "answer": "\\( G = H + I \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( N \\): <br> \\( M = \\frac{N}{O} \\)",
                "answer": "\\( N = MO \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( Q \\): <br> \\( P = 5 Q \\)",
                "answer": "\\( Q = \\frac{P}{5} \\)"
            }
    );

    // two step
    myProblems.addProblem(
            {
                "question": "Solve for \\( L \\): <br> \\( J = K - L \\)",
                "answer": "\\( L = K - J \\)"
            }
    );

    /// needs directions on solving for a variable in the denominator
    myProblems.addProblem(
            {
                "question": "Solve for \\( R \\): <br> \\( \\frac{S}{R} = T \\)",
                "answer": "\\( R = \\frac{T}{S} \\)"
            }
    );
    //// There need to be more like that one!


    myProblems.addProblem(
            {
                "question": "Solve for \\( m \\): <br> \\( E = mgh \\)",
                "answer": "\\( m = \\frac{E}{gh} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( h \\): <br> \\( E = mgh \\)",
                "answer": "\\( h = \\frac{E}{mg} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( m \\): <br> \\( E = \\frac{1}{2} m v^2 \\)",
                "answer": "\\( m = \\frac{2E}{v^2} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( v \\): <br> \\( E = \\frac{1}{2} m v^2 \\)",
                "answer": "\\( v = \\sqrt{\\frac{2E}{m}} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( F_1 \\): <br> \\( F_1 - F_2 = m a \\)",
                "answer": "\\( F_1 = F_2 + ma \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( a \\): <br> \\( F_1 - F_2 = ma \\) ",
                "answer": "\\( a = \\frac{F_1 - F_2}{m} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( v_i \\): <br> \\( v_f = v_i + at \\)",
                "answer": "\\( v_i = v_f - at \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( a \\): <br> \\( v_f = v_i + at \\)",
                "answer": "\\( a = \\frac{v_f - v_i}{t} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( t \\): <br> \\( v_f = v_i + at \\)",
                "answer": "\\( t = \\frac{v_f - v_i}{a} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( v \\): <br> \\( a = \\frac{v^2}{r} \\)",
                "answer": "\\( v = \\sqrt{ar} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( r \\): <br> \\( a = \\frac{v^2}{r} \\)",
                "answer": "\\( r = \\frac{v^2}{a} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( m_1 \\): <br> \\( F = \\frac{G m_1 m_2}{r^2} \\)",
                "answer": "\\( m_1 = \\frac{F r^2}{G m_2} \\)"
            }
    );


    myProblems.addProblem(
            {
                "question": "Solve for \\( m_2 \\): <br> \\( F = \\frac{G m_1 m_2}{r^2} \\)",
                "answer": "\\( m_2 = \\frac{F r^2}{G m_1} \\)"
            }
    );

    myProblems.addProblem(
            {
                "question": "Solve for \\( r \\): <br> \\( F = \\frac{G m_1 m_2}{r^2} \\)",
                "answer": "\\( r = \\frac{G m_1 m_2}{F} \\)"
            }
    );

    myProblems.insertLists("put_questions_here", "put_answers_here");
</script>
