

<h4>
  Examples From Physics
</h4>
<ol class = 'questionList'>
  <li class = 'question'>
    <ul>
      <li>
        \(
        \Delta x = v_i \cdot \Delta t + \frac{1}{2} a \left( \Delta t \right)^2
        \)
      </li>
      <li>
        \(
        v_f^2 = v_i^2 + 2 a \cdot \Delta x
        \)
      </li>
    </ul>
    From these two equations,
    derive an equation for \( v_f \)
    in terms of \( \Delta x \), \( a \), and \( \Delta t \).
  </li>
  <li class = 'question'>
    <ul>
      <li>
        \( v_f = v_i + a \cdot \Delta t \)
      </li>
      <li>
        KE = \frac{1}{2} a v_f^2
      </li>
    </ul>
    Determine an equation for kinetic energy
    in terms of initial velocity and acceleration.
  </li>
</ol>
