<h3>
    Reference Information
</h3>

<p>
    There are <strong>two different ways</strong> to gather information from a kinematic graph.
    Where possible, show you are capable of using both methods.
</p>
<div class="container">
    <div class="row">
        <div class="col-md-6 border border-dark">
            <h5>
                Method 1: The Kinematic Equations
            </h5>
            <p>
                Gather what information is available on the graph,
                and then use the four kinematic equations to determine missing information:
            </p>
            <ul>
                <li class = 'mb-3'>
                    \( v_f = v_i + a \cdot \Delta t \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta x = v_i \cdot \Delta t + \frac{1}{2} \cdot a (\Delta t)^2 \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta x = \left( \frac{v_i + v_f}{2} \right) \Delta t \)
                </li>
                <li>
                    \( v_f^2 = v_i^2 + 2 a \cdot \Delta x \)
                </li>
            </ul>
        </div>
        <div class="col-md-6 border border-dark">
            <h5>
                Method 2: Graphical Methods
            </h5>
            <p>
                Use the following graphical rules to analyze information:
            </p>
            <ul>
                <li>
                    At any given time, the slope of the position-time graph is the velocity at that time.
                </li>
                <li>
                    At any given time, the slope of the velocity-time graph is the acceleration at that time.
                </li>
                <li>
                    Over any given interval of time,
                    the area under the curve of the velocity-time graph is the displacement
                    (change in position) over that time interval.
                </li>
                <li>
                    Over any given interval of time, the area under the curve of the
                    acceleration-time graph is the change in velocity over that time interval.
                </li>
            </ul>
        </div>
    </div>
</div>


<p class = 'introduction'>
    In <a href = '/pod/e9cb0a'>Kinematic Equations 3</a>, we used the kinematic equations to analyze real world questions about motion.
    This next section involves using similar skills,
    but instead applies them to kinematic graphs.
    Kinematic graphs demonstrate how an object moves, and a quantitative kinematic graphs
    describe that with numbers.
</p>

<p class = 'introduction'>
    Each of these kinematic graphs shows an object moving with a uniform acceleration,
    so they can all be analyzed quantitatively using the four <emph>kinematic equations</emph>.
    Please answer each of the questions below by using one of the four <emph>kinematic equations</emph>.
    Before plugging numbers in, always write out the equation.
    Also, always write a unit with your answers.
</p>

<div class = 'smallSpace'></div>

<div class="no-print">
    <iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/56410316/?s=5N2I4g&amp;ref=embed" allowfullscreen></iframe>
</div>

<div class = 'bigSpace'></div>

<ol class = 'questionList'>

    <!---0 - 4 Position-Time Graphs --->
    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    The graph is flat at \( t = 0 \).
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '4 m/s<sup>2</sup>' class = 'subQuestion'>Determine the acceleration of the object in the graph.</li>
                        <li data-answer = '40 m/s' class = 'subQuestion'>Determine the final velocity of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem0' class = 'col-6-md'></div>
            </div>
        </div>
    </li>

    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    The graph is flat at \( t = 0 \).
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '6 m/s<sup>2</sup>' class = 'subQuestion'>Determine the acceleration of the object in the graph.</li>
                        <li data-answer = '48 m/s' class = 'subQuestion'>Determine the final velocity of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem1' class = 'col-6-md'></div>
            </div>
        </div>
    </li>

    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    The graph below is flat at \( t = 0 \).
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '0.25 m/s<sup>2</sup>' class = 'subQuestion'>Determine the acceleration of the object in the graph.</li>
                        <li data-answer = '3 m/s' class = 'subQuestion'>Determine the final velocity of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem2' class = 'col-6-md'></div>
            </div>
        </div>
    </li>

    <div class = 'pageBreak'></div>
    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    The graph below is flat at \( t = 3 \text{ seconds} \).
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '12 m/s<sup>2</sup>' class = 'subQuestion'>Determine the initial velocity of the object in the graph.</li>
                        <li data-answer = '-4 m/s' class = 'subQuestion'>Determine the acceleration of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem3' class = 'col-6-md'></div>
            </div>
        </div>

    </li>

    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    The graph below is flat at \( t = 48 \text{ seconds} \).
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '6 m/s' class = 'subQuestion'>Determine the initial velocity of the object in the graph.</li>
                        <li data-answer = '-0.125 m/s<sup>2</sup>' class = 'subQuestion'>Determine the acceleration of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem4' class = 'col-6-md'></div>
            </div>
        </div>


    </li>

<!--- 5 - 8 Velocity-Time graphs--->
    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '216 m' class = 'subQuestion'>Determine the displacement of the object in the graph.</li>
                        <li data-answer = '3 m/s<sup>2</sup>' class = 'subQuestion'>Determine the acceleration of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem5' class = 'col-6-md'></div>
            </div>
        </div>
    </li>

    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '4000 m' class = 'subQuestion'>Determine the displacement of the object in the graph.</li>
                        <li data-answer = '0.8 m/s<sup>2</sup>' class = 'subQuestion'>Determine the acceleration of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem6' class = 'col-6-md'></div>
            </div>
        </div>
    </li>

    <div class = 'pageBreak'></div>
    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '400 m' class = 'subQuestion'>Determine the displacement of the object in the graph.</li>
                        <li data-answer = '-2 m/s<sup>2</sup>' class = 'subQuestion'>Determine the acceleration of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem7' class = 'col-6-md'></div>
            </div>
        </div>
    </li>

    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '125 m' class = 'subQuestion'>Determine the displacement of the object in the graph.</li>
                        <li data-answer = '-0.5 m/s<sup>2</sup>' class = 'subQuestion'>Determine the acceleration of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem8' class = 'col-6-md'></div>
            </div>
        </div>
    </li>


    <!---9 - 12 Acceleration-Time Graphs ---->
    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    Initial Velocity = 0
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '40 m/s' class = 'subQuestion'>Determine the final velocity of the object in the graph.</li>
                        <li data-answer = '160 m' class = 'subQuestion'>Determine the displacement of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem9' class = 'col-6-md'></div>
            </div>
        </div>
    </li>

    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    Initial Velocity = 0
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '2.4 m/s' class = 'subQuestion'>Determine the final velocity of the object in the graph.</li>
                        <li data-answer = '7.2 m' class = 'subQuestion'>Determine the displacement of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem10' class = 'col-6-md'></div>
            </div>
        </div>
    </li>

    <div class = 'pageBreak'></div>
    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    Initial Velocity = 30 m/s
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '0' class = 'subQuestion'>Determine the final velocity of the object in the graph.</li>
                        <li data-answer = '150 m' class = 'subQuestion'>Determine the displacement of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem11' class = 'col-6-md'></div>
            </div>
        </div>
    </li>

    <li class = 'question'>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-6-md'>
                    Initial Velocity = 16 m/s
                    <ol type = 'a' class = 'subQuestionList'>
                        <li data-answer = '4 m/s' class = 'subQuestion'>Determine the final velocity of the object in the graph.</li>
                        <li data-answer = '80 m' class = 'subQuestion'>Determine the displacement of the object in the graph.</li>
                    </ol>
                </div>
                <div id = 'problem12' class = 'col-6-md'></div>
            </div>
        </div>
    </li>

</ol>

<script>

    var problem0 = makeParabolicPTgraph(10,200,4,0,0);
    $("#problem0").append(problem0.drawCanvas(300,300));

    var problem1 = makeParabolicPTgraph(8,undefined,6,0,0);
    $("#problem1").append(problem1.drawCanvas(300,300));

    var problem2 = makeParabolicPTgraph(12,undefined,0.25,0,0);
    $("#problem2").append(problem2.drawCanvas(300,300));

    var problem3 = makeParabolicPTgraph(3,undefined,-4,12,0);
    $("#problem3").append(problem3.drawCanvas(300,300));

    var problem4 = makeParabolicPTgraph(48,undefined,-0.125,6,0);
    $("#problem4").append(problem4.drawCanvas(300,300));

    var problem5 = new QuantitativeGraph(0,12,0,48,1);
    problem5.labelAxes('time (s)', 'velocity (m/s)');
    problem5.addSegmentWithCirclesOnEnds(0,0,12,36);
    problem5.addReferenceArray([4,8,12],[12,24,36,48]);
    $("#problem5").append(problem5.drawCanvas(300,300));

    var problem6 = new QuantitativeGraph(0,100,0,80,1.25);
    problem6.labelAxes('time (s)', 'velocity (m/s)');
    problem6.addSegmentWithCirclesOnEnds(0,0,100,80);
    problem6.addReferenceArray([50,100],[20,40,60,80]);
    $("#problem6").append(problem6.drawCanvas(400,300));

    var problem7 = new QuantitativeGraph(0,20,0,40);
    problem7.labelAxes('time (s)', 'velocity (m/s)');
    problem7.addReferenceArray([10,20],[10,20,30,40]);
    problem7.addSegmentWithCirclesOnEnds(0,40,20,0);
    $("#problem7").append(problem7.drawCanvas(300,300));

    var problem8 = new QuantitativeGraph(0,10,0,20);
    problem8.labelAxes('time (s)', 'velocity (m/s)');
    problem8.addReferenceArray([5,10],[5,10,15,20]);
    problem8.addSegmentWithCirclesOnEnds(0,15,10,10);
    $("#problem8").append(problem8.drawCanvas(300,300));

    var problem9 = new QuantitativeGraph(0,8,0,8);
    problem9.labelAxes('time (s)', 'acceleration (m/s/s)');
    problem9.addReferenceArray([4,8],[5]);
    problem9.addSegmentWithCirclesOnEnds(0,5,8,5);
    $("#problem9").append(problem9.drawCanvas(300,300));

    var problem10 = new QuantitativeGraph(0,6,0,1);
    problem10.labelAxes('time (s)', 'acceleration (m/s/s)');
    problem10.addReferenceArray([3,6],[0.4]);
    problem10.addSegmentWithCirclesOnEnds(0,0.4,6,0.4);
    $("#problem10").append(problem10.drawCanvas(300,300));

    var problem11 = new QuantitativeGraph(0,10,-5,0);
    problem11.labelAxes('time (s)', 'acceleration (m/s/s)');
    problem11.addReferenceArray([5,10],[-3]);
    problem11.addSegmentWithCirclesOnEnds(0,-3,10,-3);
    $("#problem11").append(problem11.drawCanvas(300,300));

    var problem12 = new QuantitativeGraph(0,8,-2,0);
    problem12.labelAxes('time (s)', 'acceleration (m/s/s)');
    problem12.addReferenceArray([4,8],[-1.5]);
    problem12.addSegmentWithCirclesOnEnds(0,-1.5,8,-1.5);
    $("#problem12").append(problem12.drawCanvas(300,300));

    // minor problem: 11 and 12 have large space above
    // something is wrong with the graphing program when it y is going from zero down

</script>

<div class = 'pageBreak'></div>
<h4>
    Answers
</h4>

<ol class="answerList">

</ol>
