
<h3>
    Adding Light Bulbs In Series and Parallel: Virtual Version
</h3>

<p>
    This is a version of the <a href = '/labs/addingLightbulbs'>adding light bulbs lab</a>.
    lab conducted virtually,
    using the simulation below.
    I recommend you select "intro" mode,
    although you can use either "intro" mode or "lab" mode.
</p>


<iframe src="https://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
</p>

<p>
    The goal of this lab is to figure out what happens when we add more light bulbs to a series or a parallel
    circuit.
    Do they become dimmer? Do they become brighter? What happens tot he battery?
    If we can understand this, then later on we can use light bulbs and/or resistors to control what happens in our circuits.
</p>

<h4>
    Virtual Materials
</h4>
<ul>
    <li>
        Two Batteries
    </li>
    <li>
        Four <emph>identical</emph> light bulbs
    </li>
    <li>
        Lots of wires
    </li>
</ul>


<h3>
    Part 1: Adding Light Bulbs in Series
</h3>

<ol>
    <li>
        Begin by connecting the two batteries to a single light bulb.
        <br>
        <div id = 'seriesCircuit1Bulb'></div>
    </li>
    <li>
        Add a another light bulb in series.
        What happens to the first bulb?
        <br>
        <div id = 'seriesCircuit2Bulbs'></div>
    </li>
    <li>
        Make a prediction: What do you think will happen if you continue to add light bulbs in series?
    </li>
    <li>
        Add three, and then four light bulbs in series.
        <br>
        <div id = 'seriesCircuit3Bulbs'></div>
        <div id = 'seriesCircuit4Bulbs'></div>
        <br>
        To understand this lab correctly, they must be <emph>identical</emph>,
        otherwise you will see effects that are more difficult to understand.
        However, if you simply don't change anything about the light bulbs on the virtual circuit builder, they will be identical.
        What happened? Did it match your prediction?
    </li>
    <li>
        What happens to the electrons moving through the wires as you add more light bulbs
        in series? Why do you think this happens?
    </li>
    <li>
        You can add up to 10 light bulbs in the simulator.
        Predict what will happen if you have 10 light bulbs in series.
        Then, try it out.
        (You can do this very quickly if you just connect one light bulb to the next without a wire in between)
        <br>
        <div id = 'seriesCircuit10Bulbs'></div>
    </li>
</ol>


<h3>
    Part 2: Adding Light Bulbs in Parallel
</h3>

<ol start = '7'>
    <li>
        Begin by connecting the two batteries to a single light bulb.
        <br>
        <div id = 'parallelCircuit1Bulb'></div>
    </li>
    <li>
        Add another light bulb in parallel. What happens to the first bulb?
        <br>
        <div id = 'parallelCircuit2Bulbs'></div>
    </li>
    <li>
        Make a prediction: What do you think will happen if you continue to add light bulbs in parallel?
    </li>
    <li>
        Add three, and then four light bulbs in parallel.
        <br>
        <div id = 'parallelCircuit3Bulbs'></div>
        <div id = 'parallelCircuit4Bulbs'></div>
        <br>
        To understand this lab correctly, they must be <emph>identical</emph>,
        otherwise you will see effects that are more difficult to understand.
        What happened? Did it match your prediction?
    </li>
    <li>
        There are some very interesting effects your se in the electrons inside the circuit
        whenever you add a new light bulb in parallel:
        <ul>
            <li>
                What happens to the electrons moving through the batteries?
            </li>
            <li>
                What happens to the electrons moving through the light bulbs?
            </li>
            <li>
                What happens to the electrons in the wires that connect each branch to the next branch?
            </li>
        </ul>
        What do you think could be going on here?
        We will be able to understand this effect better as we move into the third and fourth levels of the
        unit of <a href = '/unit/electric_circuits/dc_circuit_math_1'>quantitative electric circuits</a>.
    </li>
    <li>
        Unlike in series,
        adding more light bulbs in parallel does not make them dimmer.
        However, there is a cost to everything!
        What do you think the "price" is of adding more light bulbs in parallel?
        [You won't experience this in the simulation, but you would in the real world!]
    </li>
</ol>



<script>

    $("#seriesCircuit1Bulb").append(makeSimpleCircuit().drawCanvas(300));
    $("#seriesCircuit2Bulbs").append(makeSeriesCircuitOfLightBulbs(2).drawCanvas(300));
    $("#seriesCircuit3Bulbs").append(makeSeriesCircuitOfLightBulbs(3).drawCanvas(350));
    $("#seriesCircuit4Bulbs").append(makeSeriesCircuitOfLightBulbs(4).drawCanvas(400));
    $("#seriesCircuit10Bulbs").append(makeSeriesCircuitOfLightBulbs(10).drawCanvas(400));


    $("#parallelCircuit1Bulb").append(makeSimpleCircuit().drawCanvas(200,200));
    $("#parallelCircuit2Bulbs").append(makeParallelCircuitOfLightBulbs(2).drawCanvas(400,200));
    $("#parallelCircuit3Bulbs").append(makeParallelCircuitOfLightBulbs(3).drawCanvas(600,200));
    $("#parallelCircuit4Bulbs").append(makeParallelCircuitOfLightBulbs(4).drawCanvas(800,200));

</script>
