

<div id = 'putItHere'></div>


<script>
    let myBingoBoard = new BingoBoard();

    myBingoBoard.addWord(['a']);
    myBingoBoard.addWord(['b']);
    myBingoBoard.addWord(['c']);
    myBingoBoard.addWord(['d']);
    myBingoBoard.addWord(['e']);
    myBingoBoard.addWord(['f']);
    myBingoBoard.addWord(['g']);
    myBingoBoard.addWord(['h']);
    myBingoBoard.addWord(['i']);
    myBingoBoard.addWord(['j']);
    myBingoBoard.addWord(['k']);
    myBingoBoard.addWord(['l']);
    myBingoBoard.addWord(['m']);
    myBingoBoard.addWord(['n']);
    myBingoBoard.addWord(['o']);
    myBingoBoard.addWord(['p']);
    myBingoBoard.addWord(['q']);
    myBingoBoard.addWord(['r']);
    myBingoBoard.addWord(['s']);
    myBingoBoard.addWord(['t']);
    myBingoBoard.addWord(['u']);
    myBingoBoard.addWord(['v']);
    // myBingoBoard.addWord(['w']);
    // myBingoBoard.addWord(['x']);
    // myBingoBoard.addWord(['y']);

    $("#putItHere").append(myBingoBoard.draw());
    myBingoBoard.setUpEventListeners();
</script>