<p>
  All you need is a car that appaers to move with a constant <emph>acceleration</emph>
  (not a constant velocity).
  Make sure the acceleration is very low (much less than \(1g\)).
  The easiest way to make this happen is to let a car move down a very
  shallow ramp, such as a ramp held up by a single textbook or half a textbook.
</p>

<p>
  Other recommended materials include a meterstick and a metronome.
</p>

<p>
  Your task is to <strong>quantitatively</strong> demonstrate that the car
  is moving at a constant acceleration.
</p>

<p>
  While you're at it, calculate the acceleration of the car is meters per second per second.
</p>
