<p>
    The <emph>tumble buggies</emph> are cars that move at a constant velocity (or very close to one).
    The goal of this lab is to demonstrate that using a mathematical tool that  physicists use frequently:
    <strong>the position-time graph</strong>.
</p>

<h3>
    Procedure
</h3>
<p>
    (If you do not already have not already collected sufficient data for this analysis during <a href = '/labs/carLab1'>Car Lab 1</a>.)
</p>

<ol>
    <li>
        Set a metronome to 120 bpm (one beat = 0.5 s)**.
    </li>
    <li>
        Measure the distance that the tumble buggie moves between a certain number of clicks**.
    </li>
    <li>
        Ensure that your data is measured in SI units of meters and seconds.
    </li>
    <li>
        Compile your data into a table. Complete the requirements of a report given below.
    </li>
</ol>

<p>
    **If you already have taken at least six distance and time measurements
    of the tumble buggie in a previous investigation,
    you can use your previous data and skip steps 1 - 2.
</p>

<h3>
    Report
</h3>

<p>
    Your lab report should include the following pieces:
</p>

<ul>
    <li>
        A data table, showing the position of the car at each of specified times.
        <ul>
            <li>
                The quantities measured in the table: <strong>position</strong> and <strong>time</strong>, should eb clearly labeled.
            </li>
            <li>
                The quantity <emph>position</emph> should be used rather than distance or displacement.
                (We will learn about the distinction, for now it will suffice to know that
                if the car is moving in a straight line, they are interchangeable.)
            </li>
            <li>
                The data table should include at least six different points of time.
            </li>
            <li>
                The units of the position of the car should be meters.
            </li>
            <li>
                The units of time should be <emph>seconds</emph>.
            </li>
        </ul>
    </li>
    <li>
        A <strong>position-time scatterplot</strong> that visualizes the data presented in the table:
        <ul>
            <li>
                The graph should be at least 5 inches by 5 inches in size. (To ensure it is large and visible)
            </li>
            <li>
                Time should be labeled on the horizontal axis with units clearly stated.
            </li>
            <li>
                Position should be labeled on the vertical axis with units clearly stated.
            </li>
            <li>
                A minimum of six points, corresponding to the data in the table, should be indicated.
            </li>
        </ul>
    </li>
    <li>
        Your scatter plot should also include a <strong>best fit line</strong>.
        <ul>
            <li>
                A best fit line should be drawn. You should draw it by hand, rather than using a computer.
                It should be drawn to go as close to as many of the points on the graph as possible.
            </li>
            <li>
                If the best fit line crosses any points, the points should still be visible.
            </li>
            <li>
                Your best fit line should not include the arrow.
            </li>
            <li>
                Your best-fit line does NOT need to go through the origin.
                Depending on how you measured the position of the car, it may or may not be
                appropriate for it to go through the origin.
            </li>
        </ul>
    </li>
    <li>
        A short (1-3 sentence) <strong>analysis</strong> which answers the following questions:
        <ul>
            <li>
                Does the graph indicate that the car is moving at a constant velocity?
                How can you tell?
            </li>
        </ul>
    </li>
    <li>
        A short <strong>calculation</strong> of the velocity of the car
        using the slope of the best fit line:
        <ul>
            <li>
                The calculation should be completed by comparing any two points on the best-fit line.
            </li>
            <li>
                Two points must be clearly selected and the formula \( \text{slope} = \frac{y_2 - y_1}{x_2 - x_1} \) should be used.
                You should show your calculations using this formula.
            </li>
            <li>
                Work must be shown and units must be included in your answer.
            </li>
            <li>
                If you know how to complete a linear regression, you can include one optionally,
                but you must also include a hand calculation of the slope of the best-fit line.
            </li>
        </ul>
    </li>
</ul>