



<iframe src="https://phet.colorado.edu/sims/html/energy-skate-park-basics/latest/energy-skate-park-basics_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
<p>
    This simulation was created by <a href = 'https://phet.colorado.edu/'>Phet Interactive Simulations</a> at the University of Colorado.
</p>

<p>
    First, play with the simulation for about 5 minutes.
    Then, answer the questions asked.
</p>

<ol>
    <li>
        (Intro Mode)
        Turn on the bar graph,
        and then put the person at the top
        of a ramp with two sides.
        <ol type = 'a'>
            <li>
                What happens to his energy when he is going up the ramp?
            </li>
            <li>
                What happens to his energy when he is going down the ramp?
            </li>
            <li>
                When is he moving the fastest? Explain why by referring to his energy.
            </li>
            <li>
                When is he moving the slowest? Explain why by referring to his energy.
            </li>
        </ol>
    </li>
    <li>
        (Friction Mode)
        Put the skater in the same situation, but with friction.
        Keep the bar graph on.
        <ol type = 'a'>
            <li>
                What is different about the skater's energy?
            </li>
            <li>
                Speaking only in terms of energy, why does the skater eventually stop moving?
            </li>
            <li>
                Trying making friction larger or smaller. What changes?
            </li>
        </ol>
    </li>
    <li>
        (Playground Mode, Friction off)
        Go to "playground" mode and turn friction off.
        Try to build a device in which the skater successfully
        completes a loop-de-loop (He needs to go from right side up, to upside down, to right side up, without losing contact with he track!)
        <ol type = 'a'>
            <li>
                Draw the skate course you made.
            </li>
            <li>
                Explain how the skater's energy changes as he moves around the loop.
            </li>
            <li>
                Where on the loop is he moving <emph>slowest</emph> and why?
            </li>
        </ol>
    </li>
    <li>
        (Playground Mode: Friction on)
        Turn friction on.
        See if you can make a loop-de-loop that still works!
        Can you get one that works with maximum friction?
        If you do, draw how you did it.
        Explain, using energy, what makes it work successfully.
    </li>
</ol>