<h3>
    January 2020 Memorization Test
</h3>

<p>
    <strong>The Goal:</strong>
    Memorize every quantity, equation, and principle we've learned thus far
    by Thursday 1-23-2020, the end of the quarter.
    (Plus one more I'm giving you on Tuesday 1-21-2020.)
</p>

<p>
    There are no retakes, levels, take homes, etc.
    You take it once in class and the grade you get is final.
</p>

<h3>
    Kinematics
</h3>

<h5>
    Quantities:
</h5>

<div id = 'kinematicsQuantitiesTable'></div>

<script>
    let kinematicsQuantitiesTable = new Table(10,4);
    kinematicsQuantitiesTable.addTopHeaders(['Symbol','Quantity','SI unit',"vector or Scalar"]);
    kinematicsQuantitiesTable.writeTextInRow(1,['\\( d \\)','distance','m','scalar']);
    kinematicsQuantitiesTable.writeTextInRow(2,['\\( x \\)','position','m','vector']);
    kinematicsQuantitiesTable.writeTextInRow(3,['\\( \\Delta x \\)','displacement (change in position)','m','vector']);
    kinematicsQuantitiesTable.writeTextInRow(4,['\\( v \\)','speed','m/s','scalar']);
    kinematicsQuantitiesTable.writeTextInRow(5,['\\( v \\)','velocity','m/s','vector']);
    kinematicsQuantitiesTable.writeTextInRow(6,['\\( a \\)','acceleration','m/s^2','vector']);
</script>


<h3>
    Dynamics
</h3>


<!--
momentum included here
-->
<h3>
    Energy
</h3>



<h3>
    Rotational Motion
</h3>

<h3>
    Electrical Circuits
</h3>

<h3>
    Principles
</h3>

<ul>
    <li>
        <strong>Newton's First Law</strong>:
        If an object has an external net force of zero,
        then it is either moving at a constant velocity
        or not moving.
    </li>
    <li>
        <strong>Newton's Third Law</strong>:
        If A exerts a force on B,
        then B exerts a force on A with equal magnitude and opposite direction.
    </li>
    <li>
        <strong>Principle of 2-D Physics</strong>:
        In two dimensional problems,
        the rules of kinematics and dynamics apply independently
        in each dimension.
    </li>
    <li>
        <strong>Conservation of Energy</strong>:
        If no work is done on a system,
        the total energy of that system is constant.
    </li>
    <li>
        <strong>Conservation of Momentum</strong>:
        If there are no external forces on a system,
        the total momentum of that system is constant,
        particularly during a collision or explosion.
    </li>
    <li>
        <strong>Work-Energy Theorem</strong>:
        If work is done on a system,
        the work done on that system equals the change
        in mechanical energy of that system.
    </li>
</ul>

<h5>
    The Greek Alphabet
</h5>

<div id = 'greekAlphabetTable'></div>

<script>
    let greekAlphabetTable = new Table(10,3);

    greekAlphabetTable.addTopHeaders(['Symbol','letter','What it means']);
    greekAlphabetTable.writeTextInRow(1,['\\( \\Delta \\)', 'upper case Delta','Change']);
    greekAlphabetTable.writeTextInRow(2,['\\( \\omega \\)', 'lower case Omega','Angular Velocity']);
    greekAlphabetTable.writeTextInRow(3,['\\( \\Omega \\)','upper cae Omega','Ohms (SI unit of electrical resistance']);
    greekAlphabetTable.writeTextInRow(4,['\\( \\mu \\)','lower case Mu','coefficient of friction OR 10^-6']);
</script>