<h3>
    January 2020 Memorization Test
</h3>

<p>
    <strong>The Goal:</strong>
    Memorize every quantity, equation, and principle we've learned thus far
    by Thursday 1-23-2020, the end of the quarter.
    (Plus one more I'm giving you on Tuesday 1-21-2020.)
</p>

<p style = 'font-size:20px' >
    There are no retakes, levels, take homes, etc.
    You take it once in class and the grade you get is final.
</p>

<div class = 'pageBreak'></div>
<h2>
    Memorization Quiz - January 2020
</h2>
<p class = 'directions'>
    Fill in every blank box on each table blank space
    with the correct information.
</p>

<p>
    Name: ________________________________
</p>

<div class = 'pageBreak'></div>
<h3>
    Kinematics
</h3>

<h5>
    Quantities:
</h5>

<div id = 'kinematicsQuantitiesTable'></div>
<script>
    let kinematicsQuantitiesTable = new Table(9,4);
    kinematicsQuantitiesTable.setMaxFontProportion(0.05);
    kinematicsQuantitiesTable.addTopHeaders(['Symbol','Quantity','SI unit',"Vector or Scalar"]);
    kinematicsQuantitiesTable.writeTextInRow(1,['\\( d \\)','','','']);
    kinematicsQuantitiesTable.writeTextInRow(2,['\\( x \\)','','','']);
    kinematicsQuantitiesTable.writeTextInRow(3,['\\( \\Delta x \\)','','','']);
    kinematicsQuantitiesTable.writeTextInRow(4,['\\( v \\)','','','']);
    kinematicsQuantitiesTable.writeTextInRow(5,['\\( v \\)','','','']);
    kinematicsQuantitiesTable.writeTextInRow(6,['\\( a \\)','','','']);
    kinematicsQuantitiesTable.writeTextInRow(7,['\\( t \\)', '','', '']);
    kinematicsQuantitiesTable.writeTextInRow(8,['\\( \\Delta t \\)','','','']);

    $("#kinematicsQuantitiesTable").append(kinematicsQuantitiesTable.draw(500));
</script>


<h5>
    Basic Formulas:
</h5>

<div id = 'basicKinematicFormulaTable'></div>
<script>
    let basicKinematicFormulaTable = new Table(7,3);
    basicKinematicFormulaTable.setRowProportions(0.05);
    basicKinematicFormulaTable.addTopHeaders(['name','formula','notes']);
    basicKinematicFormulaTable.writeTextInRow(1,['constant speed formula','','for constant speed']);
    basicKinematicFormulaTable.writeTextInRow(2,['constant velocity formula', '','for constant velocity']);
    basicKinematicFormulaTable.writeTextInRow(3,['definition of average speed','']);
    basicKinematicFormulaTable.shadeCell(3,2);
    basicKinematicFormulaTable.shadeCell(4,2);
    basicKinematicFormulaTable.shadeCell(5,2);
    basicKinematicFormulaTable.writeTextInRow(4,['definition of average velocity','']);
    basicKinematicFormulaTable.writeTextInRow(5,['definition of acceleration','']);
    basicKinematicFormulaTable.writeTextInRow(6,['definition of acceleration','', 'identical to above']);

    $("#basicKinematicFormulaTable").append(basicKinematicFormulaTable.draw(500));
</script>

<div class = 'pageBreak'></div>
<h5>
    The Kinematic Equations:
</h5>

<div id = 'kinematicEquationsTable'></div>
<script>
    let kinematicEquationsTable = new Table(4,2);
    kinematicEquationsTable.setMaxFontProportion(0.05);

    kinematicEquationsTable.mergeBelow(0,1);
    kinematicEquationsTable.mergeBelow(0,1);
    kinematicEquationsTable.mergeBelow(0,1);
    kinematicEquationsTable.writeTextInCell(0,1,'Apply only if _____________ is constant');

    $("#kinematicEquationsTable").append(kinematicEquationsTable.draw(500));
</script>

<h5>
    Principles:
</h5>

<ul>
    <li>
        The _______________ of the position-time function \( x(t) \) at any time \( t_1 \)
        is equal to the velocity at that time \( v(t_1) \).
    </li>
    <li>
        The _______________ of the velocity-time function \( v(t) \)
        over any time interval \( \Delta t \) is equal to the
        change in position \( \Delta x \) over that same time interval.
        This quantity is called the displacement.
    </li>
    <li>
        The _______________ of the velocity-time function \( v(t) \) at any time \( t_1 \)
        is equal to the acceleration at that time \( v(t_1) \).
    </li>
    <li>
        The _______________ of the acceleration-time function \( a(t) \)
        over any time interval \( \Delta t \) is equal to the change in velocity
        \( \Delta v \) over that same time interval.
    </li>
</ul>

<div class = 'pageBreak'></div>
<h3>
    Dynamics
</h3>

<h5>
    Quantities:
</h5>

<div id = 'dynamicsQuantitiesTable'></div>

<script>
    let dynamicsQuantitiesTable = new Table(6,4);
    dynamicsQuantitiesTable.setMaxFontProportion(0.05);
    dynamicsQuantitiesTable.addTopHeaders(['Symbol','Quantity','SI unit',"vector or Scalar"]);
    dynamicsQuantitiesTable.writeTextInRow(1,['\\( m \\)','','','']);
    dynamicsQuantitiesTable.writeTextInRow(2,['\\( \\Sigma F \\)','', "",'']);
    dynamicsQuantitiesTable.writeTextInRow(3,['\\( J \\)','','', '']);
    dynamicsQuantitiesTable.writeTextInRow(4,['\\( p \\)','', '', '']);
    dynamicsQuantitiesTable.writeTextInRow(5,['\\( g \\)','','', '']);
    $("#dynamicsQuantitiesTable").append(dynamicsQuantitiesTable.draw(500));
</script>

<h5>
    Basic Formulas:
</h5>
<div id = 'dynamicsBasicFormulaTable'></div>

<script>
    let dynamicsBasicFormulaTable = new Table(4,2);
    dynamicsBasicFormulaTable.setRowProportions([1,3,3,3]);
    dynamicsBasicFormulaTable.setMaxFontProportion(0.05);
    dynamicsBasicFormulaTable.addTopHeaders(['name','formula']);
    dynamicsBasicFormulaTable.writeTextInRow(1,["Newton's Second Law",'']);
    dynamicsBasicFormulaTable.writeTextInRow(2, ['Definition of Momentum', '']);
    dynamicsBasicFormulaTable.writeTextInRow(3,['Impulse Formula', '']);
    $("#dynamicsBasicFormulaTable").append(dynamicsBasicFormulaTable.draw(500));
</script>

<div class = 'pageBreak'></div>
<h5>
    Forces:
</h5>
<div id = 'forcesTable'></div>

<script>
    let forcesTable = new Table(10,4);
    forcesTable.setMaxFontProportion(0.05);
    forcesTable.addTopHeaders(['name of force', 'symbol', 'magnitude', 'direction']);
    forcesTable.writeTextInRow(1,['gravity on planet', '\\( F_g \\)', '','']);
    forcesTable.writeTextInRow(2,['normal force','\\( F_N \\)', 'constraint force*', 'perpendicular to the surface']);
    forcesTable.writeTextInRow(3,['applied force','\\( F_a \\)','not definite','not definite']);
    forcesTable.writeTextInRow(4,['kinetic friction','\\( F_{frk} \\)','', '']);
    forcesTable.writeTextInRow(5,['Static friction', '\\( F_{frs} \\)', 'constraint force up to maximum value _________', '']);
    forcesTable.writeTextInRow(6,['Tension', '\\( F_T \\) or \\( T \\)', 'constraint force or given value', 'not definite']);
    forcesTable.writeTextInRow(7,['Spring Force','\\( F_s \\)','', '']);
    forcesTable.writeTextInRow(8,['Universal Gravity', '\\( F_g \\)', '', '']);
    forcesTable.writeTextInRow(9,['Coulomb Force', '\\( F_e \\)','\\( F_e = \\frac{k q_1 q_2 }{d^2}\\)','attraction or repulsion']);
    $("#forcesTable").append(forcesTable.draw(500));
</script>

<ul>
    <li>
        * Normal Force and sometimes tension match the value necessary for an object to be stationary, or for an object to have a particular acceleration .
    </li>
    <li>
        ** Static friction matches the value necessary to prevent an object from slipping, up to the maximum value of ___________.
    </li>
</ul>

<h5>
    Qualitative Principles:
</h5>

<ul>
    <li>
        When an object has a net force of zero acting on it,
        it is either <emph>____________</emph>
        or <emph>_____________________</emph>.
        This object is said to be in <strong>equilibrium</strong>.
        This statement is called <strong>______________</strong>.
    </li>
    <li>
        When an object has a net force acting in the same direction
        as its velocity,
        it <strong>____________</strong>
        This statement is a consequence of Newton's Second Law.
    </li>
    <li>
        When an object has a net force acting in the opposite direction
        as its velocity,
        it <strong>____________</strong>.
        This statement is a consequence of Newton's Second Law.
    </li>
    <li>
        When an object has a net force acting perpendicular to its velocity,
        it <strong>changes direction</strong>.
        This force is called a <strong>centripetal force</strong>.
        This statement is a consequence of Newton's Second Law.
    </li>
    <li>
        An object moves in a circle when the centripetal force has
        a magnitude \( F_c = \frac{m v^2}{r} \).3
    </li>
</ul>

<div class = 'pageBreak'></div>
<h3>
    Energy
</h3>

<h5>
    Types of Energy:
</h5>
<div id = 'typesOfEnergyTable'></div>

<script>
    let typesOfEnergyTable = new Table(7,4);
    typesOfEnergyTable.setMaxFontProportion(0.02);
    typesOfEnergyTable.setRowProportions([1,3,3,3,3,3,3]);
    typesOfEnergyTable.addTopHeaders(['name','symbol','magnitude','notes']);
    typesOfEnergyTable.writeTextInRow(1,['kinetic energy','\\( K \\) or \\( KE \\)', '', 'system must include moving object']);
    typesOfEnergyTable.writeTextInRow(2,['gravitational potential energy on planet', '\\( GPE \\) or \\( U_g \\)', '', 'system must include _________; depends on max height']);
    typesOfEnergyTable.writeTextInRow(3,['elastic potential energy', '\\( EPE \\) or  \\( U_s \\)', '', 'system must include spring; often \\( x_0  = 0 \\) 0 is assumed']);
    typesOfEnergyTable.writeTextInRow(4,['rotational kinetic energy', '\\( K_{rot} \\)', '\\( \\frac{1}{2} I \\omega^2 \\)','system must include rotating object']);
    typesOfEnergyTable.writeTextInRow(5, ['universal gravitational potential energy', '\\( GPE \\) or \\( U_g \\)', '\\( U_g = \\frac{- G m_1 m_2 }{d} \\)', 'always negative, zero point set at infinite distance']);
    typesOfEnergyTable.writeTextInRow(6, ['nuclear energy', '\\( E_{nuc} \\)', '', 'energy released if mass is lost']);

    $("#typesOfEnergyTable").append(typesOfEnergyTable.draw(500));
</script>

<h5>
    Energy Quantities:
</h5>

<div id = 'energyQuantities'></div>

<script>
    let energyQuantities = new Table(3,4);
    energyQuantities.setMaxFontProportion(0.08);
    energyQuantities.setRowProportions([1,3,3]);
    energyQuantities.addTopHeaders(['symbol','name','SI unit','note']);
    energyQuantities.writeTextInRow(1,['\\( W \\)','','','quantity of energy transferred']);
    energyQuantities.writeTextInRow(2,['\\( P \\)','','','rate of energy transfer']);


    $("#energyQuantities").append(energyQuantities.draw(300));
</script>

<h5>
    Energy Formulas:
</h5>

<div id = 'energyFormulas'></div>

<script>
    let energyFormulas = new Table(3,2);
    energyFormulas.setMaxFontProportion(0.06);
    energyFormulas.setRowProportions([1,3,3]);
    energyFormulas.addTopHeaders(['Name','Formula']);
    energyFormulas.writeTextInRow(1,['Definition of Work','']);
    energyFormulas.writeTextInRow(2,['Definition of Power', '______________ or _____________' ]);

    $("#energyFormulas").append(energyFormulas.draw(200));
</script>

<h5>
    Energy Principles:
</h5>

<ul>
    <li>
        The conservation of energy (universal):
        Energy cannot be created or destroyed,
        it changes only from one form to another.
    </li>
    <li>
        The conservation of energy (specific systems):
        The total energy in a system is constant if no
        work is done on that system.
    </li>
    <li>
        The Work-Energy Theorem:
        The total work done on a system
        by external forces is equal to the
        change energy for that system:
        \( W = \Delta E \).
    </li>
</ul>

<div class = 'pageBreak'></div>
<h3>
    Fundamental Forces:
</h3>

<p>
    There are four fundamental forces that act on an object:
</p>
<ul>
    <li>
        The gravitational force:
        All masses are attracted to all other masses.
    </li>
    <li>
        The electromagnetic force (4 parts):
        <ul>
            <li>
                The electrostatic force:
                Like charges repel each other and unlike charges attract each other.
            </li>
            <li>
                The magnetic and other forces (not on the AP test)
            </li>
        </ul>
    </li>
    <li>
        The Strong Nuclear Force (not on the AP test)
    </li>
    <li>
        The Weak Nuclear Force (not on the AP test)
    </li>
</ul>

<h3>
    Rotational Motion
</h3>

<h5>
    Quantities:
</h5>
<div id = 'rotationalMotionQuantitiesTable'></div>

<script>
    let rotationalMotionQuantitiesTable = new Table(9,4);
    rotationalMotionQuantitiesTable.setRowProportions([1,3,3,3,3,3,3,3,3,3]);
    rotationalMotionQuantitiesTable.setMaxFontProportion(0.04);
    rotationalMotionQuantitiesTable.addTopHeaders(['symbol','name','analogous translational quantity', 'vector or scalar']);
    rotationalMotionQuantitiesTable.writeTextInRow(1,['\\( \\theta \\)', '','','vector']);
    rotationalMotionQuantitiesTable.writeTextInRow(2,['\\( \\Delta \\theta \\)', '','','vector']);
    rotationalMotionQuantitiesTable.writeTextInRow(3, ['\\( \\omega \\)', '','','']);
    rotationalMotionQuantitiesTable.writeTextInRow(4,['\\( \\alpha \\)', '','','']);
    rotationalMotionQuantitiesTable.writeTextInRow(5,['\\( I \\)', '','','']);
    rotationalMotionQuantitiesTable.writeTextInRow(6,['\\( \\tau \\)', '','','']);
    rotationalMotionQuantitiesTable.writeTextInRow(7,['\\( \\Sigma \\tau \\)', '','','']);
    rotationalMotionQuantitiesTable.writeTextInRow(8,['\\( L \\)', '','','']);
    $("#rotationalMotionQuantitiesTable").append(rotationalMotionQuantitiesTable.draw(500));
</script>


<h5>
    Basic Formulas:
</h5>
<div id = 'rotationalMotionBasicFormulasTable'></div>

<script>
    let rotationalMotionBasicFormulasTable = new Table(7,3);
    rotationalMotionBasicFormulasTable.addTopHeaders(['name','formula','analogous linear motion formula']);

    rotationalMotionBasicFormulasTable.writeTextInRow(1,['definition of angular velocity','','']);
    rotationalMotionBasicFormulasTable.writeTextInRow(2,['definition of angular acceleration','','']);
    rotationalMotionBasicFormulasTable.writeTextInRow(3,['definition of angular momentum','','']);
    rotationalMotionBasicFormulasTable.writeTextInRow(4,['linear and angular velocity','','none']);

    rotationalMotionBasicFormulasTable.writeTextInRow(5,['definition of torque','', 'none']);
    rotationalMotionBasicFormulasTable.writeTextInRow(6,['definition of rotational inertia for point mass','', 'none']);


    $("#rotationalMotionBasicFormulasTable").append(rotationalMotionBasicFormulasTable.draw(500));
</script>

<div class = 'pageBreak'></div>
<h5>
    Kinematic Equations:
</h5>
<div id = 'rotationalMotionKinematicEquations'></div>

<script>
    let rotationalMotionKinematicEquations = new Table(5,3);
    rotationalMotionKinematicEquations.setMaxFontProportion(0.03);

    rotationalMotionKinematicEquations.writeTextInCell(0,0,'Rotational Kinematic Equation');
    rotationalMotionKinematicEquations.writeTextInCell(0,1,'Analogous Linear Kinematic Equation');

    rotationalMotionKinematicEquations.writeTextInCell(0,2, 'These equations apply ONLY when _________________ is constant.');
    rotationalMotionKinematicEquations.mergeBelow(0,2);
    rotationalMotionKinematicEquations.mergeBelow(0,2);
    rotationalMotionKinematicEquations.mergeBelow(0,2);
    rotationalMotionKinematicEquations.mergeBelow(0,2);


    rotationalMotionKinematicEquations.writeTextInCell(1,0,'');
    rotationalMotionKinematicEquations.writeTextInCell(2,0,'');
    rotationalMotionKinematicEquations.writeTextInCell(3,0, '');
    rotationalMotionKinematicEquations.writeTextInCell(4,0,'');

    rotationalMotionKinematicEquations.writeTextInCell(1,1,'');
    rotationalMotionKinematicEquations.writeTextInCell(2,1,'');
    rotationalMotionKinematicEquations.writeTextInCell(3,1, '');
    rotationalMotionKinematicEquations.writeTextInCell(4,1,'');

    $("#rotationalMotionKinematicEquations").append(rotationalMotionKinematicEquations.draw(500));
</script>

<h5>
    Rotational Dynamics Formulas:
</h5>
<div id = 'rotationalDynamicsFormulas'></div>

<script>
    let rotationalDynamicsFormulas = new Table(3,3);
    rotationalDynamicsFormulas.setMaxFontProportion(0.04);
    rotationalDynamicsFormulas.setRowProportions([1,2,2]);

    rotationalDynamicsFormulas.addTopHeaders(['name','formula','analogous linear motion formula']);

    rotationalDynamicsFormulas.writeTextInRow(1,["Newton's Second Law for Rotation",'','']);
    rotationalDynamicsFormulas.writeTextInRow(2,['angular impulse formula','', '']);

    $("#rotationalDynamicsFormulas").append(rotationalDynamicsFormulas.draw(500));
</script>

<div class = 'pageBreak'></div>

<h3>
    Periodic Motion
</h3>

<div id = 'periodicMotionTable'></div>

<script>
    let periodicMotionTable = new Table(4,2);
    periodicMotionTable.setMaxFontProportion(0.04);
    periodicMotionTable.addTopHeaders(['name of formula','formula']);
    periodicMotionTable.writeTextInRow(1,['period and frequency', '\\( T = \\frac{1}{f} \\)']);
    periodicMotionTable.writeTextInRow(2,['period of pendulum','\\( T_p = 2 \\pi \\sqrt{ \\frac{l}{g} } \\)']);
    periodicMotionTable.writeTextInRow(3,['period of spring','\\( T_s = 2 \\pi \\sqrt{ \\frac{m}{k} } \\)']);

    $("#periodicMotionTable").append(periodicMotionTable.draw(500));
</script>


<div class = 'pageBreak'></div>
<h3>
    Electrical Circuits
</h3>

<h5>
    Quantities:
</h5>

<div id ='electricCircuitQuantityTable'></div>

<script>
    let electricCircuitQuantityTable = new Table(5,5);
    electricCircuitQuantityTable.setMaxFontProportion(0.03);
    electricCircuitQuantityTable.setRowProportions([1,2,2,2,2]);
    electricCircuitQuantityTable.addTopHeaders(['symbol','quantity', 'SI unit 1', 'SI unit 2', 'vector or scalar']);

    electricCircuitQuantityTable.writeTextInRow(1,['\\( \\Delta V \\)', '', '', 'Joules per Coulomb (J / C)', 'scalar']);
    electricCircuitQuantityTable.writeTextInRow(2,['\\( I \\)', '', '', 'Coulombs per Second (C /s)', 'scalar']);
    electricCircuitQuantityTable.writeTextInRow(3,['\\( R \\)', '', '', 'Joule-Seconds / Coulomb^2 (J-s/C^2)', 'scalar']);
    electricCircuitQuantityTable.writeTextInRow(4,['\\( P \\)', '', '', 'Joules / second (J/s)', 'scalar']);

    $("#electricCircuitQuantityTable").append(electricCircuitQuantityTable.draw(400));
</script>

<h5>
    Formulas:
</h5>

<div id = 'electricCircuitFormulasTable'></div>

<script>
    let electricCircuitFormulasTable = new Table(3,2);
    electricCircuitFormulasTable.setMaxFontProportion(0.05);
    electricCircuitFormulasTable.addTopHeaders(['name','formula']);
    electricCircuitFormulasTable.writeTextInRow(1,["Ohm's Law", '']);
    electricCircuitFormulasTable.writeTextInRow(2,['electric power formula', '']);

    $("#electricCircuitFormulasTable").append(electricCircuitFormulasTable.draw(500));
</script>

<h5>
    Principles:
</h5>

<ul>
    <li>
        In a series circuit:
        <ul>
            <li>
                The potential difference (voltage)
                of all circuit elements adds to the total.
            </li>
            <li>
                The current of all circuit elements is the same.
            </li>
            <li>
                The resistance of all circuit elements adds to the total.
            </li>
        </ul>
    </li>
    <li>
        In a parallel circuit:
        <ul>
            <li>
                The potential difference (voltage)
                of all circuit elements is the same.
            </li>
            <li>
                The current of all circuit elements adds to the total.
            </li>
            <li>
                The resistance of all circuit elements DOES NOT add to the total.
                it follows the formula:
                \( \frac{1}{R_{total}} = \frac{1}{R_1} + \frac{1}{R_2} + \frac{1}{R_3} + \ldots \)
            </li>
        </ul>
    </li>
    <li>
        The power inputted to the circuit always
        equals the power outputted,
        not matter how complex the ciruit. (Conservation of Energy)
    </li>
</ul>

<h3>
    Principles
</h3>


<ul>
    <li>
        <strong>Conservation of Energy</strong>:
        If no work is done on a system,
        the total energy of that system is constant.
    </li>
    <li>
        <strong>Conservation of Momentum</strong>:
        If there are no external forces on a system,
        the total momentum of that system is constant,
        particularly during a collision or explosion.
    </li>
    <li>
        <strong>Work-Energy Theorem</strong>:
        If work is done on a system,
        the work done on that system equals the change
        in mechanical energy of that system.
    </li>
</ul>

<div class = 'pageBreak'></div>
<h3>
    The Greek Alphabet
</h3>

<div id = 'greekAlphabetTable'></div>

<script>
    let greekAlphabetTable = new Table(13,3);

    greekAlphabetTable.addTopHeaders(['Symbol','letter','What it means']);
    greekAlphabetTable.writeTextInRow(1,['\\( \\Delta \\)', 'upper case _____','']);
    greekAlphabetTable.writeTextInRow(2,['\\( \\omega \\)', 'lower case _____','']);
    greekAlphabetTable.writeTextInRow(3,['\\( \\Omega \\)','upper case _____','']);
    greekAlphabetTable.writeTextInRow(4,['\\( \\mu \\)','lower case _____','__________ OR __________']);
    greekAlphabetTable.writeTextInRow(5,['\\( \\Sigma \\)','Upper Case _____', '']);
    greekAlphabetTable.writeTextInRow(6,['\\( \\theta \\)', 'lower Case _____', '']);
    greekAlphabetTable.writeTextInRow(7,['\\( \\phi \\)', 'lower case _____', '']);
    greekAlphabetTable.writeTextInRow(8,['\\( \\alpha \\)', 'lower case _____', '']);
    greekAlphabetTable.writeTextInRow(9,['\\( \\tau \\)', 'lower case _____', '']);
    greekAlphabetTable.writeTextInRow(10,['\\( \\pi \\)', 'lower case _____', '']);
    greekAlphabetTable.writeTextInRow(11,['\\( \\rho \\)', 'lower case rho', 'density']);
    greekAlphabetTable.writeTextInRow(12,['\\( \\lambda \\)', 'lower case lambda', 'wavelength']);
    $("#greekAlphabetTable").append(greekAlphabetTable.draw(500));
</script>
