<p>
    This lab is to demonstrate that height, not angle, determines the final speed of a rolling object.
    The point is to change the angle of a slope but keep the total ehight of a car the same,
    and then measure the final speed of the car each time.
</p>