<p>
    If you are in AP physics,
    please complete this lab in your lab notebook!
    If you are not in AP Physics,
    please complete it on a separate piece of paper and place it
    in the manila folder.
</p>


<p>
    This is a virtual lab based on a simulation developed by the <a href = 'https://phet.colorado.edu'>Phet Interactive Simulations Group</a>
    at the University of Colorado.
    The lab is embedded on this page and can also be accessed <a href = 'https://phet.colorado.edu/en/simulation/john-travoltage'>here</a>.
</p>
<iframe src="https://phet.colorado.edu/sims/html/john-travoltage/latest/john-travoltage_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>


