<p>
    If you are in AP physics,
    please complete this lab in your lab notebook!
    If you are not in AP Physics,
    please complete it on a separate piece of paper and place it
    in the manila folder.
</p>


<p>
    This is a virtual lab based on a simulation developed by the <a href = 'https://phet.colorado.edu'>Phet Interactive Simulations Group</a>
    at the University of Colorado.
    The lab is embedded on this page and can also be accessed <a href = 'https://phet.colorado.edu/en/simulation/john-travoltage'>here</a>.
</p>
<iframe src="https://phet.colorado.edu/sims/html/john-travoltage/latest/john-travoltage_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>


<p>
    Use the vocabulary below to describe what happens.
    You may or may not need to use all of the words.
</p>

<p>
    Please answer questions <strong>without</strong>
    <a href = 'https://en.wikipedia.org/wiki/Anthropomorphism'>anthropomorphizing</a> protons and electrons.
    That means giving them them human characteristics and emotions,
    such as saying "Protons and electrons want to be together."
</p>

<h5>
    Vocabulary
</h5>
<ul>
    <li>
        Charge: An object is positively charged when it has more protons
        than electrons and an object is negative charged when it has
        more electrons than protons.
    </li>
    <li>
        Polarization: When an has a more positive charge on one side
        and more negative charge on another side.
    </li>
    <li>
        Charging by Friction: When two objects are rubbed together and electrons transfer
        from one object to another.
    </li>
    <li>
        Charging by Induction: When an object causes another object to be charged
        without exchanging electrons. Often results in a polarized charge.
    </li>
    <li>
        Electrostatic Discharge: Electrons move through the air from an insulator to a grounded conductor
        due to repulsion. Causes a spark to appear, and eliminates charge in an object.
    </li>
    <li>
        Grounded: A conductor is grounded if electrons are able to move from that
        conductor to the ground, effectively providing a way to eliminate charge.
    </li>
    <li>
        Attraction: Whenever two objects experience a force pulling them together.
    </li>
    <li>
        Repulsion: Whenever two objects experience a force driving them apart.
    </li>
    <li>
        Electronegativity: The extent to which a particular chemical or substance
        attracts electrons. Electrons will tend to move from more electronegative
        substances to less electronegative substances.
    </li>
</ul>

<ol>
    <li>
        How do you charge John Travolta?
        Answer by creating a diagram that shows the moving
        electrons and using the vocabulary above.
    </li>
    <li>
        What happens when John Travolta is highly charged?
        Answer by creating a diagram that shows
        moving electrons and using the vocabulary above.
    </li>
    <li>
        How can you cause John Travolta to hold his charge
        and not discharge?
        Explain why you think this works.
    </li>
</ol>

<p>
    Try doing it with sound.
    Nothing to do with physics, it's just silly.
</p>