

<iframe src="https://phet.colorado.edu/sims/lunar-lander/lunar-lander_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
</p>
<p>
    Note that this simulation requires the use of Adobe Flash.
</p>

<p>
    The previous lab dealt with playing the game with the lunar lander.
    This lab deals with connecting it to Newton's Second Law.
</p>

<ul class="defintion" data-word = "Newton's Second Law">
    <li>
        When net force and velocity are in the <strong>same direction</strong>,
        the magnitude of velocity increases.
    </li>
    <li>
        When net force and velocity are in <strong>opposite directions</strong>,
        the magnitude of velocity decreases.
    </li>
    <li>
        When net force is zero, an object moves at a constant velocity. (also Newton's First Law)
    </li>
</ul>


<p class="directions">
    Put "vectors" on.
    This will cause the simulation to show two vectors:
    a green arrow indicating the velocity
    and a yellow air indicating the acceleration vector.
</p>


<ol>
    <li>
        What are the two forces acting on the lander.
        Draw a free-body diagram of the lander.
    </li>
    <li>
        Which force do you control?
        Which force has a constant value?
    </li>
    <li>
        Under what conditions will the lander achieve a constant velocity?
        Try to achieve these conditions. What happens?
    </li>
    <li>
        Determine a time when the lander is NOT MOVING in the same
    </li>
</ol>


<h5>
    A huge challenge
</h5>

<ol>
    <li>
        Can the lander be "facing downward" but moving upward?
    </li>
    <li>
        See if you can land the lander upside down!
    </li>
</ol>