

<iframe src="https://phet.colorado.edu/sims/lunar-lander/lunar-lander_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
</p>
<p>
    Note that this simulation requires the use of Adobe Flash.
</p>



<h5>
    Challenge 1
</h5>
<ol>
    <li>
        The first goal of the game is to get a "soft landing"
    </li>
    <li>
        What happens if you never fire the thruster at all?
    </li>
    <li>
        What happens if you fire the thruster a lot?
    </li>
    <li>
        If the thruster is up, does the ship always move up?
        If the thruster is down, does the ship always move down?
        What happens?
    </li>
    <li>
        Find a way to fail very dramatically.
    </li>
    <li>
        What is the softest landing you can get?
        Write three strategies on how to get this landing.
        (And no cheating! You know who you are!)
    </li>
</ol>

<h5>
    Challenge 2
</h5>

<ol>
    <li>
        In the box on the side, there are two numbers,
        "altitude" which tells you the
    </li>
</ol>


<h5>
    Challenge 3 (Very hard!)
</h5>

<ol>
    <li>
        Can you get a soft landing while the lander is upside down?
        (I can't, but see if you can!)
    </li>
</ol>