

<iframe src="https://phet.colorado.edu/sims/lunar-lander/lunar-lander_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
</p>
<p>
    Note that this simulation requires the use of Adobe Flash.
</p>

<p>
    In the previous lab, you played with the lunar lander just to appreciate how
    it worked. In this lab, you will connect the operation of the
    lunar lander to the laws of physics.
</p>

<ul class="defintion" data-word = "Newton's Second Law">
    <li>
        When net force and velocity are in the <strong>same direction</strong>,
        the magnitude of velocity increases.
    </li>
    <li>
        When net force and velocity are in <strong>opposite directions</strong>,
        the magnitude of velocity decreases.
    </li>
    <li>
        When net force is zero, an object moves at a constant velocity. (also Newton's First Law)
    </li>
</ul>


<p class="directions">
    Put "vectors" on.
    This will cause the simulation to show two vectors:
    a green arrow indicating the velocity
    and a yellow air indicating the acceleration vector.
</p>


<h5>
    Part 1: Vertical Motion Only
</h5>

<ol>
    <li>
        What are the two forces acting on the lander?
        Draw a free-body diagram of the lander.
    </li>
    <li>
        Which force do you control?
        Which force has a constant value?
    </li>
    <li>
        If your thruster is firing upward, does it guarantee your
        net force and acceleration are upward?
        Explain why or why not.
    </li>
    <li>
        Under what conditions will the lander achieve a constant velocity?
        Try your best to achieve these conditions.
    </li>
    <li>
        Making the ship move at a constant velocity is actually impossible,
        not because of physics, but because of how the game is programmed.
        Explain why it isn't possible.
    </li>
    <li>
        Find a situation in which the lander is moving downward
        and the net force is also downward.
        What does the lander do?
        Connect this to Newton's Second Law as dictated above.
    </li>
    <li>
        Find a situation in which the lander is moving downward
        but the net force is upward.
        What does the lander do?
        Connect this to Newton's Second Law as dictated above.
    </li>
    <li>
        Find a situation in which the lander is moving upward
        and the net force is also upward.
        What does the lander do?
        Connect this to Newton's Second Law as dictated above.
    </li>
    <li>
        Find a situation in which the lander is moving upward
        but the net force is downward.
        What does the lander do?
        Connect this to Newton's Second Law as dictated above.
    </li>
</ol>

<h5>
    Part 2: Horizontal Motion
</h5>

<p class="directions">
    Figure out a way to get the ship to move to the left and then stop moving horizontally altogether.
    This involves two steps:
    First, the ship needs to begin accelerating to the left.
    Second, the ship needs to decelerate while continuing to move to the left.
    It's really tough to make this work, but try your best!
</p>
<ol>
    <li>
        Construct a free-body diagram of the ship while in the first step,
        while it is beginning to accelerate to the left.
        Analyze the horizontal motion of the ship at this point by referring to Newton's Second Law
        as listed above.
    </li>
    <li>
        Construct a free-body diagram of the ship while in the first step,
        while it is moving to the left and decelerating.
        Analyze the horizontal motion of the ship at this point by referring to Newton's Second Law
        as listed above.
    </li>
</ol>


<h5>
    A huge challenge
</h5>

<ol>
    <li>
        Can the lander be "facing downward" but moving upward?
        (I don't know...I haven't been able to make it work, but maybe one of you can!)
    </li>
</ol>