<p>
    In this lab, you will measure the coefficient of kinetic friction \( \mu_k \)
    by following a simple procedure using only a weight and a force meter.
    You will measure \( \mu_k \) by replicating the same procedure used in
    a typical problem about friction
</p>

<ol>
    <li>
        Get some weight that is between 250 grams and 2000 grams (0.25 kg and 2 kg).
        Get several force meters capable of of measuring several different forces.
    </li>
    <li>
        Draw a <strong>qualitative</strong> free-body diagram of a weight
        that is being dragged horizontally along a flat surface.
        There are four forces acting on the weight.
    </li>
    <li>
        Using a force-meter, find the force of gravity pulling down
        on the weight. Remember that when using a force-meter,
        you want to select the meter that is
        the most sensitive that is not maxed out,
        as outlined in <a href = '/labs/usingForceMeter'>a previous lab</a>.
    </li>
    <li>
        Using a force-meter, find the applied force on the weight necessary
        to pull it at a constant velocity on the flat surface.
        Make sure you are pulling the weight horizontally
        and using the best force-meter for the task.
    </li>
    <li>
        By using the two forces that you measured and by
        using the concepts outlined in the <a href = '/pod/dynamics/quantitative_dynamics/block_dragging_2'>unit on dynamics</a>,
        complete a <strong>quantitative</strong> free-body diagram of your weight
        while it is being dragged horizontally at a constant velocity on a
        flat surface.
    </li>
    <li>
        Find the coefficient of kinetic friction \( \mu_k \)
        using the formula \( F_{frk} = \mu_k F_N \).
    </li>
    <li>
        Write a brief paragraph that briefly summarizes the process used to find \( \mu_k \).
        Make sure that you refer to the formulas and principles of physics
        you used in your analysis.
    </li>
</ol>
