<p>
    In the <a href = '/labs/measureCoefficientOfKineticFrictionPart1'>previous lab</a>,
    we learned a method for measuring the coefficient of kinetic friction by
    simply dragging a weight at a constant velocity across a surface.
    Now, we will use this method to compare the coefficient of kinetic friction
    for several different surfaces.
</p>


<p>
    The goal of this lab is to repeat the process of the
    <a href = '/labs/measureCoefficientOfKineticFrictionPart1'>previous lab</a>
    in several different surfaces. Options include:
</p>

<ul>
    <li>
        The normal tables.
    </li>
    <li>
        Lab benches
    </li>
    <li>
        The floor
    </li>
    <li>
        Cardboard
    </li>
    <li>
        A rug (if available)
    </li>
    <li>
        A wet floor
    </li>
</ul>

<p>
    The coefficient of kinetic friction should be greater when the
    surface is rougher and less when it is smoother.
    Do you feel like this happens?
    Were there any surprises?
</p>

<p>
    The coefficient of kinetic friction depends not only
    on the surface but also the thing being dragged.
    What changes can you make to the thing being
    dragged that might influence the coefficient of kinetic
    friction?
</p>