<h3>
    Modeling Kinematics
</h3>

<h4>
    A Constant Speed Car
</h4>

<p>
    You have:
</p>
<ul>
    <li>
        A toy car that moves at a constant speed.
    </li>
    <li>
        A meterstick
    </li>
    <li>
        A metronome (at one beat per second)
    </li>
</ul>

<p>
    Your goal is to <em>prove</em> that the car is moving at a constant speed using these materials.
    (You can also state that you must prove that the speed does nto change.)
</p>


<p>
    This is an <em>inductive</em> lab. You are not told to use a particular principle or theory,
    you instead need to make up your own concept of how to prove this.
</p>

<h4>
    Accelerating Car
</h4>

<p>
    You have
</p>
<ul>
    <li>
        A car that will experience very low friction
    </li>
    <li>
        A ramp at a very small angle
    </li>
    <li>
        A meterstick
    </li>
    <li>
        A metronome (at two beats per second)
    </li>
</ul>
<p>
    Your goal is to prove that the car is <em>accelerating</em>.
    That is, you must prove that its speed is steadily increasing.
</p>


<p>
    This is an <em>inductive</em> lab. You are not told to use a particular principle or theory,
    you instead need to make up your own concept of how to prove this.
</p>


<h4>
    Accelerating Car 2
</h4>

<p>
    You have
</p>
<ul>
    <li>
        A car that will experience very low friction
    </li>
    <li>
        A ramp at a very small angle
    </li>
    <li>
        A meterstick
    </li>
    <li>
        A metronome (at two beats per second)
    </li>
</ul>
<p>
    Your goal is to prove that <em>acceleration of the car is constant</em>.
    (unless it isn't, you may determine that it is not constant)
</p>


<p>
    This is an <em>inductive</em> lab. You are not told to use a particular principle or theory,
    you instead need to make up your own concept of how to prove this.
</p>