
<script>
    const letter = 'P';
</script>
<p class="introduction">
    A pendulum is simply a mass (called a bob)
    hanging from a string.
    You pull the pendulum backwards, and it swings back and forth.
    That's all it is!
    Sounds like nothing, but, this simple device is responsible for so much of physics!
    For hundreds of years, most clocks worked with pendulums,
    and you can still purchase an antique grandfather clock.
    Much of what we know about how gravity works on earth
    was discovered by studying pendulums:
    including the most accurate measurements of earth's gravitational field for generations.
    And the pendulum was used to develop models of periodic motion
    that you likely have already studied in math class (sine curves and cosine curves).
    Jean Piaget even used a pendulum to discover some of the basic principles of
    human cognitive development.
    On that note, we will begin our own study of physics using a pendulum.
</p>

<p class="introduction">
    This lab is a <strong>virtual</strong> version of the more traditional,
    <a href = '/labs/pendulum_lab_1'>physical pendulum lab</a>.
    The virtual version of the pendulum works exactly like a normal pendulum,
    in fact, it works "better" because it can have no friction and never whacks into anything,
    so it goes forever.
    All of the same measurements and concepts in the pendulum lab can be completed in the virtual pendulum lab.
</p>

<iframe src="https://phet.colorado.edu/sims/html/pendulum-lab/latest/pendulum-lab_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>

<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>Phet Interactive Simulations</a>.
</p>
<p>
    <a href = 'https://phet.colorado.edu/en/simulation/pendulum-lab'>Link to the simulation</a>
</p>


<h4>
    Learning the Simulation
</h4>

<p>
    Whenever you see a new simulation, the best thing to do is to play around for ten minutes or so, just to see how it works!
    See what all the different buttons do, how to make the pendulum go, how to make it fast or slow, etc.
    Once you start with the questions, you will be familiar with how everything works!
</p>


<h4>
    Pendulum Measurements
</h4>

<p>
    For the rest fof this experiment,
    it is best to be on <strong>Lab</strong> mode.
    Also, to start, have one pendulum rather than two.
</p>

<p>
    A pendulum essential has three parts: the pivot, the string, and the bob.
</p>
<ul>
    <li>
        The pivot: the point at the top
    </li>
    <li>
        The string
    </li>
    <li>
        The bob: the weight at the bottom
    </li>
</ul>

<p>
    There are four quantities that define how a pendulum works:
    length, mass, amplitude, and period.
    The first step is the see what they all mean, and how to measure them in the virtual pendulum.
</p>

<ul>
    <li>
        Length: This is the length from the pivot to the center of mass of the bob.
        The length can be set with a button on the side of the pendulum.
    </li>
    <li>
        Mass: This is the mass of the bob of a pendulum.
        The mass, like the length, can be set with a button on the side.
    </li>
    <li>
        Amplitude: This refers to how far you pull the pendulum backwards
        before letting it go.
        it is measured in degrees with a protractor,
        and it shows up whenever you pull the pendulum backwards.
    </li>
    <li>
        Period: This is the time for a complete swing of the pendulum.
        It can be measured manually with a stop watch, but if you are on <strong>Lab</strong> mode,
        there is an option called "Period Timer" that automatically diagrams and measures
        the period.
    </li>
</ul>

<p>
    In this experiment, are are not going to change teh gravity or the friction of the pendulum.
    Please set the gravity to "Earth" (9.81 m/s<sup>2</sup>) and the friction to "None."
    We will explore these concepts in future experiments.
</p>

<p>
    (You also don't need to velocity or acceleration vectors or the energy graph for this experiment.)
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        Pick any values you want for length, mass, and amplitude. Write them down, and then make the pendulum swing!
        For these three values of length, mass, and amplitude, measure the period.
    </li>
</ol>

<h4>
    Figuring Out How it Works
</h4>

<p>
    Three of the variables (the three input variables) you are able to directly control:
    the length, the mass, and the amplitude.
    The fourth variable (the output variable) you cannot directly control but measures.
    The goal is to figure out which of the three input variables has the greatest effect
    on the output variable.
</p>

<p>
    Try to figure out which of the three input variables determines the period of the pendulum.
    Don't just go by what your intuition or common sense tells you, it might be wrong!
    Figure it out by <emph>experimenting</emph> and <emph>testing</emph> with your pendulum.
</p>


<ol class="questionList">
    <li class="question">
        Which input variable: mass, length, or amplitude, is the most crucial in determining the period of a pendulum?
    </li>
</ol>

<h4>
    Exploring More
</h4>

<p>
    Once you think you have an idea which variable is the one that matters,
    subject it to a more careful analysis.
    Pick the variable you think determines the period (either mass, amplitude, or length),
    and try 4 or 5 different values of that variable, to see if the period changes.
</p>
<p>
    Here' a very big hint:
    when you change something, change it <emph>a lot</emph>!
    For example, if you change mass, don't just make it 0.1 kg more, make it 0.3 kg more.
    If you change length, don't just make it 0.1 m longer, make it 0.3 m longer.
    If you change an important variable by only a little, it's easy to miss how important it is.
    If you change it a lot, then you'll very clearly see what matters.
</p>
<p>
    If you decide that you got it "wrong," try something else.
    In physics <strong>all</strong> facts need to be demonstrated by experimental observations,
    so you aren't done with this lab until you have shown through your result through experiment.
</p>

<p>
    Once you can do this section, you are moving into the next big step,
    which is to complete a <emph>deductive</emph> lab to answer this question.
</p>

<h4>
    Two Pendulum Mode
</h4>

<p>
    In this simulation, you can click on a button that gives you two pendulums instead of one.
    This way, you can more clearly see exactly how each variable works.
    If you think you know which variable matters,
    try making two pendulums, and then setting them so they are different in the variable that matters.
    See how they move differently in real time!
</p>

<h4>
    Questions about the lab
</h4>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Even though the lab includes many measurements and numbers, your end result about which variable is the one that matters is actually a qualitative result. '>
        Was the result of this lab <a href = '/pod/92fa82e3-71c1-44af-9f87-7317a83b15cb'><emph>qualitative</emph> or <emph>quantitative</emph></a>?
    </li>
    <li class ="question" data-answer = 'In this lab, you discovered a new theory based on reasoning through what happens, without following specific directions. This lab was more inductive.'>
        Was this investigation more <a href = '/pod/4b48ec0a-cb85-4b7c-afd3-c6501d97e7e0'><emph>inductive</emph> or <emph>deductive</emph> and why</a>?
    </li>
</ol>


<h4>
    Writeup:
</h4>
<p>
    Write 2 - 3 paragraphs explaining each of the following:
</p>
<ul>
    <li>
        How you measured the length, mass, amplitude, and period of your pendulum
    </li>
    <li>
        How you determined which input variable on a pendulum determines its period
    </li>
    <li>
        Why would someone consider this lab to be <emph>qualitative</emph>,
        even if it was based on measurements and numbers?
    </li>
    <li>
        Why would someone consider this lab to be <emph>inductive</emph>
        rather than deductive?
    </li>
</ul>
