<h3>
    Series and Parallel Circuits
</h3>

<p>
    If you have one light bulb and one battery, there's only one way to connect it.
    But if you want to have two light bulbs,
    there are two different ways to connect them: series and parallel.
    Series and parallel circuits work differently, and there are advantages to each.
    The goal of this lab is to create basic series and parallel circuits
    and see how they work.
</p>

<h5>
    Materials
</h5>
<ul>
    <li>
        One or two batteries in a holder.
    </li>
    <li>
        Two identical light bulbs. They must be in screw-in holders.
    </li>
    <li>
        Four wires with alligator clips
    </li>
</ul>


<h5>
    Steps and Questions
</h5>

<ol>
    <li>
        Connect a single light bulb to a battery,
        so that the light bulb lights.
        For this lab, use two two wires with alligators clips and a light bulb.
        <br>
        <div id = 'simpleCircuit'></div>
    </li>
    <li>
        Now, connect two light bulbs in a row.
        This is called a <strong>series circuit</strong>.
        <br>
        <div id = 'seriesCircuit'></div>
    </li>
    <li>
        Try unscrewing one of the light bulbs from the series circuit.
        What happens to the other light bulb?
    </li>
    <li>
        Now, connect the two different bulbs on two different branches.
        This is called a <strong>parallel circuit</strong>.
        <br>
        <div id = 'parallelCircuit'></div>
    </li>
    <li>
        Try unscrewing one of the light bulbs from the parallel circuit.
        What happens to the other light bulb?
    </li>
    <li>
        In which circuit were the light bulbs brighter, series or parallel?
    </li>
    <li>
        To wire the lights in your house, which type of circuit would
        you prefer, series or parallel? Explain two reasons why.
    </li>
</ol>

<script>
    $("#simpleCircuit").append(makeSimpleCircuit().drawCanvas(300));
    $("#seriesCircuit").append(makeSeriesCircuitOfLightBulbs(2).drawCanvas(300));
    $("#parallelCircuit").append(makeParallelCircuitOfLightBulbs(2).drawCanvas(300));
</script>

<!--
Make light bulbs, not resistors!
-->