<h3>
    Series and Parallel Circuits Virtual Lab
</h3>

<p>
    This is a version of the <a href = '/labs/seriesAndParallelCircuits'>Series and Parallel Circuits</a>
    lab conducted virtually,
    using the simulation below.
    I recommend you select "intro" mode,
    although you can use either "intro" mode or "lab" mode.
</p>



<iframe src="https://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
</p>

<h5>
    Virtual Materials
</h5>
<ul>
    <li>
        One or two batteries.
    </li>
    <li>
        Two identical light bulbs. Don't adjust the resistance of the light bulbs, so they are identical.
    </li>
    <li>
        A bunch of wires.
    </li>
</ul>


<h5>
    Steps and Questions
</h5>

<ol>
    <li>
        Connect a single light bulb to a battery,
        so that the light bulb lights.
        For this lab, use two two wires with alligators clips and a light bulb.
        <br>
        <div id = 'simpleCircuit'></div>
    </li>
    <li>
        Now, connect two light bulbs in a row.
        This is called a <strong>series circuit</strong>.
        <br>
        <div id = 'seriesCircuit'></div>
    </li>
    <li>
        Try unscrewing one of the light bulbs from the series circuit.
        What happens to the other light bulb?
    </li>
    <li>
        Now, connect the two different bulbs on two different branches.
        This is called a <strong>parallel circuit</strong>.
        <br>
        <div id = 'parallelCircuit'></div>
    </li>
    <li>
        Try unscrewing one of the light bulbs from the parallel circuit.
        What happens to the other light bulb?
    </li>
    <li>
        In which circuit were the light bulbs brighter, series or parallel?
    </li>
    <li>
        To wire the lights in your house, which type of circuit would
        you prefer, series or parallel? Explain two reasons why.
    </li>
</ol>

<script>
    let simpleCircuit = new CircuitDiagram();
    simpleCircuit.addCellSimple('up',3);
    simpleCircuit.addWire('up',1);
    simpleCircuit.addWire('right',4);
    simpleCircuit.addWire('down',2);
    simpleCircuit.addLightBulb('down',1);
    simpleCircuit.addWire('down',2);
    simpleCircuit.addWire('left',4);
    simpleCircuit.addWire('up',1);

    let seriesCircuit = new CircuitDiagram();
    seriesCircuit.addCellSimple('up',3);
    seriesCircuit.addWire('up',1);
    seriesCircuit.addWire('right',2);
    seriesCircuit.addLightBulb('right',1);
    seriesCircuit.addWire('right',2);
    seriesCircuit.addWire('down',5);
    seriesCircuit.addWire('left',2);
    seriesCircuit.addLightBulb('left',1);
    seriesCircuit.addWire('left',2);
    seriesCircuit.addWire('up',1);

    let parallelCircuit = new CircuitDiagram();
    parallelCircuit.addCellSimple('up',3);
    parallelCircuit.addWire('up',1);
    parallelCircuit.addWire('right',4);
    parallelCircuit.addWire('down',2);
    parallelCircuit.addLightBulb('down',1);
    parallelCircuit.addWire('down',2);
    parallelCircuit.translateCursor('up',5);
    parallelCircuit.addWire('right',3);
    parallelCircuit.addWire('down',2);
    parallelCircuit.addLightBulb('down',1);
    parallelCircuit.addWire('down',2);
    parallelCircuit.addWire('left',3);
    parallelCircuit.addWire('left',4);
    parallelCircuit.addWire('up',1);

    $("#simpleCircuit").append(simpleCircuit.drawCanvas(300));
    $("#seriesCircuit").append(seriesCircuit.drawCanvas(300));
    $("#parallelCircuit").append(parallelCircuit.drawCanvas(300));
</script>

