<p>
    Hello. It's me.
    I've been wondering if after all these years you'd like to meet.
    To go over, everything.
    They say that times supposed to heal you,
    but I ain't done much healing.
</p>

<div id = 'putItHere'></div>

<script>
    let newWave = new Wave(3,undefined,undefined,0);
    //newWave.circleAllKeyPoints();
    // newWave.pointToCrests('crest');
    // newWave.pointToTroughs('trough');
    newWave.pointToWavelengthTop(1,'wavelength');
    newWave.pointToWavelengthBottom(1,'wavelength');
    $("#putItHere").append(newWave.drawCanvas(500));
</script>