<p>
    Hello. It's me.
    I've been wondering if after all these years you'd like to meet.
    To go over, everything.
    They say that times supposed to heal you,
    but I ain't done much healing.
</p>

<div id = 'putItHere'></div>

<script>
    // let myCircuit = new CircuitDiagram();
    //
    // myCircuit.addCell('up',3);
    // myCircuit.addWire('up',2);
    // myCircuit.addWire('right',5);
    // myCircuit.addWire('down',2);
    // myCircuit.addResistor('down',3);
    // myCircuit.addWire('down',2);
    // myCircuit.addWire('left',5);
    // myCircuit.addWire('up',2);
    //
    // $("#putItHere").append(myCircuit.drawCanvas(500));


    // let myDiagram = new Diagram();
    // let pointA = myDiagram.addNewPoint(0,0);
    // let pointB = myDiagram.addNewPoint(1,2);
    // let mySegment = myDiagram.addSegment(pointA, pointB);
    // myDiagram.addLinesNextToSegment(pointA, pointB,['A = 2','B = 3','C = 4'],'right',0);
    // $("#putItHere").append(myDiagram.drawCanvas(300));

    let myPad = new GeometryPad();
    let triangle1 = myPad.addTriangleSAS(origin, 1,60,1);
    myPad.labelTriangleLength(triangle1, 'xyz', 'C')
    $("#putItHere").append(myPad.drawCanvas(300));
</script>
