<p>
    Hello. It's me.
</p>

<div id = 'putItHere'></div>

<script>
    let harmonicsTable = new HarmonicsTable(undefined,undefined,true);

    let waveTest = new Wave();
    waveTest.makeLongitudinal();

    $("#putItHere").append(waveTest.drawCanvas(500));
</script>