<p>
    Hello. It's me.
    I've been wondering if after all these years you'd like to meet.
    To go over, everything.
    They say that times supposed to heal you,
    but I ain't done much healing.
</p>

<div id = 'FBD' class = 'm-5'></div>



<div id = 'putItHere' class = 'm-5'></div>
<div id = 'finalGraphHere' class = 'm-5'></div>

<div id = 'impulseGraphHere' class = 'm-5'></div>

<div id = 'putTheOtherOneHere' class = 'm-5'></div>

<script>

  let myTriangle = new GeometryPad();
  myTriangle.addEquilateralTriangle(3);
  myTriangle.spinTriangle(180);
  console.log(myTriangle.triangles[0].area);
  $("#putItHere").append(myTriangle.drawCanvas());

//    let interactionDiagram = new InteractionDiagram();
//    interactionDiagram.addActor('Knife',0,0, -5, 2);
//    interactionDiagram.addActor('Watermelon',0,-10, -1.2, 0.9);
//    interactionDiagram.addInteraction('strike','Knife','Watermelon');
//    interactionDiagram.addInteraction('pull','Knife','Watermelon');
//    interactionDiagram.addInteraction('push','Knife','Watermelon');
//    interactionDiagram.addInteraction('blow','Knife','Watermelon');
//    // interactionDiagram.addInteraction('strike','Knife','Watermelon');
//    //interactionDiagram.addActorToSystem('Watermelon');
//    // interactionDiagram.addActorToSystem('Knife');
    // pretty cool


    // $("#putTheOtherOneHere").append(interactionDiagram.drawCanvas());


   //
   //  let newDiagram = new Diagram();
   //  //     addText(letters, referencePoint, relativeFontSize, rotation, positioning) {
   //  let newText = newDiagram.addText('hello its me', makeOrigin(),1,Math.PI / 2);
   //  newText.extendRangeBox(4,0);
   //  newText.drawBoxAround(newDiagram);
   //  // newText.rangeBox.addSegmentsToDiagram(newDiagram);
   //  newDiagram.addBlackCircle(makeOrigin(),0.25);
   //  // newDiagram.addBlackCircle(new Point(-6,0),.25);
   //  // newDiagram.addBlackCircle(new Point(-12,0),.25);
   //  // newDiagram.addBlackCircle(new Point(6,0),.25);
   //  // newDiagram.addText('hello its me', origin,1,Math.PI / 4);
   //  $("#putItHere").append(newDiagram.drawCanvas(1000));
   //
   // //
   //  $("#FBD").append(fastFBD([['up','tension',1.5],['down','gravity',1]]).drawCanvas());
   //
   //  const m_knife = .25;
   //  const m_watermelon= 3;
   //  const vi_knife = 26;
   //  const vi_watermelon = 0;
   //  const vf_knife = 2;
   //  const vf_watermelon = 2;
   //  let delta_t = 0.0232;
   //  let F_on_knife = (vf_knife * m_knife + vf_watermelon * m_watermelon  - vi_knife * m_knife - vi_watermelon * m_watermelon)/ delta_t;
   //  let initialMomentumGraph = new MomentumBarChart(m_knife + m_watermelon,0,vi_knife,1);
   //  initialMomentumGraph.addMomentum(m_knife,vi_knife,'#FF0000');
   //  initialMomentumGraph.addMomentum(m_watermelon,vi_watermelon,'#00FF00');
   //  initialMomentumGraph.addLineToKey('Watermelon','#00FF00');
   //  initialMomentumGraph.addLineToKey('Knife','#FF0000');
   //  initialMomentumGraph.addReferenceArray([m_knife,m_knife+m_watermelon],[0,vf_knife,vi_knife]);
   //
   //  let finalMomentumGraph = new MomentumBarChart(m_knife + m_watermelon,0,vi_knife,1);
   //  finalMomentumGraph.addMomentum(m_knife,0,'#FF0000');
   //  finalMomentumGraph.addMomentum(m_watermelon,0,'#00FF00');
   //  finalMomentumGraph.addLineToKey('Watermelon','#00FF00');
   //  finalMomentumGraph.addLineToKey('Knife','#FF0000');
   //  finalMomentumGraph.addReferenceArray([m_knife,m_knife + m_watermelon],[0,vf_knife,vi_knife]);
   //
   //  $("#putItHere").append(initialMomentumGraph.drawCanvas());
   //  $("#finalGraphHere").append(finalMomentumGraph.drawCanvas());
   //
   //
   //  delta_t = 2.5;
   //  let change_in_p = -6.5;
   //  let F = change_in_p / delta_t;
   // let myImpulseGraph = new MomentumBarChart(delta_t,F,0);
   // myImpulseGraph.turnIntoImpulseBarChart();
   // myImpulseGraph.addMomentum(delta_t,F,'#FF0000');
   // myImpulseGraph.addReferenceArray([0,delta_t],[F,0]);
   // $("#impulseGraphHere").append(myImpulseGraph.drawCanvas());
    //
    // let momentumGraph1 = new MomentumBarChart(10,-3,3);
    // momentumGraph1.addZero(5,.4);
    //
    // momentumGraph1.turnIntoImpulseBarChart();
    // $("#putItHere").append(momentumGraph1.drawCanvas());
    //

    // let myCircuit = new CircuitDiagram();
    //
    // myCircuit.addCell('up',3);
    // myCircuit.addWire('up',2);
    // myCircuit.addWire('right',5);
    // myCircuit.addWire('down',2);
    // myCircuit.addResistor('down',3);
    // myCircuit.addWire('down',2);
    // myCircuit.addWire('left',5);
    // myCircuit.addWire('up',2);
    //
    // $("#putItHere").append(myCircuit.drawCanvas(500));


    // let myDiagram = new Diagram();
    // let pointA = myDiagram.addNewPoint(0,0);
    // let pointB = myDiagram.addNewPoint(1,2);
    // let mySegment = myDiagram.addSegment(pointA, pointB);
    // myDiagram.addLinesNextToSegment(pointA, pointB,['A = 2','B = 3','C = 4'],'right',0);
    // $("#putItHere").append(myDiagram.drawCanvas(300));

    // let myPad = new GeometryPad();
    // let triangle1 = myPad.addTriangleSAS(origin, 1,60,1);
    // myPad.labelTriangleLength(triangle1, 'xyz', 'C')
    // $("#putItHere").append(myPad.drawCanvas(300));
</script>
