<p>
    Hello. It's me.
</p>

<div id = 'putItHere'></div>

<script>
    let harmonicsTable = new HarmonicsTable(undefined,undefined,true);

    let waveTest = new Wave(3,1,4,1);
    waveTest.makeLongitudinal();
    // creates the correct pattern, but amplitude has no effect

    $("#putItHere").append(waveTest.drawCanvas(500));
</script>