<p>
    Hello. It's me.
    I've been wondering if after all these years you'd like to meet.
    To go over, everything.
    They say that times supposed to heal you,
    but I ain't done much healing.
</p>

<div id = 'putItHere'></div>

<script>
    let newCircuit = new CircuitDiagram();
    // newCircuit.addElementWithCursor('battery');
    // newCircuit.addElementWithCursor('wire')

    newCircuit.addCell(new Point(0,0), new Point(0, 3));

</script>