<p>
    Hello. It's me.
    I've been wondering if after all these years you'd like to meet.
    To go over, everything.
    They say that times supposed to heal you,
    but I ain't done much healing.
</p>

<div id = 'FBD' class = 'm-5'></div>

<ol class ='questionList'>
  <li class = 'question' id = 'triangle2'>
  </li>
</ol>

<ol class = 'answerList'></ol>

<div class = 'addAnswerButton'></div>
<div id = 'putItHere' class = 'm-5'></div>

<div class = 'addAnswerButton'></div>

<div id = 'finalGraphHere' class = 'm-5'></div>

<div id = 'impulseGraphHere' class = 'm-5'></div>

<div id = 'putTheOtherOneHere' class = 'm-5'></div>


<script>
    const energy_choices_1 = ['ke','gpe','epe','cpe'];
    let myProb = writtenEnergySelectionProblem('something', energy_choices_1,'ke');
    myProb.displayProblemAsInputOneAnswer('putItHere');


    /*
    DIAGRAM TEST
let myDiagram = new Diagram();
let point1 = makeOrigin(undefined, true);
let point2 = new Point(new Magnitude('3.000'), new Magnitude('3.0000'));
let mySegment = new Segment(point1, point2);
let angle = mySegment.getAngleToHorizontal().convertToDegrees(); // i should make this a test! create 'segment tests'
console.log(angle.printString());
myDiagram.addSegment(mySegment);
let pointCenter = new Point(new Magnitude('5.0000'), new Magnitude('5.0000'));
let radius = new Magnitude('1.0000');
myDiagram.addCircle(new Circle(pointCenter, radius));

//     constructor(letters, referencePoint, relativeFontSize, positioning, rotationAngle) {
let myText = new Text('xxx', pointCenter, 1); // a little too small but it works
myDiagram.addText(myText);

let text2 = mySegment.labelAbove('qqq');
text2.drawBorder();

myDiagram.addText(text2);

$("#putItHere").append(myDiagram.drawCanvas());
*/

</script>
