<p>
    Hello. It's me.
</p>

<div id = 'putItHere'></div>

<script>
    let harmonicsTable = new HarmonicsTable(undefined,undefined,true);

    $("#putItHere").append(harmonicsTable.draw(500));
</script>