

<iframe src="https://phet.colorado.edu/sims/html/states-of-matter-basics/latest/states-of-matter-basics_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>

<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
</p>

<h5>
    Part 1:
</h5>
<p class="defintion">
    Begin the simulation on "States" mode.
    Start with Argon in a solid (where it automatically starts).
</p>
<ol>
    <li>
        What happens to the Argon if you add heat?
    </li>

    <li>
        Can you get the Argon to absolute zero?
        What happens to the molecules here?
    </li>
</ol>