<p>
    UNDER CONSTRUCTION
</p>

<ol class = 'xxx'>
    <li class = 'yyy'>
        Hello
    </li>
    <li class = 'yyy'>
        Goodbye
        <ol class ='xxx'>
            <li class ='yyy'>
                bbb
            </li>
            <li class = 'yyy'>
                ccc
            </li>
        </ol>
    </li>
    <li class = 'yyy'>
        Hello again
    </li>
    <li class = 'yyy'>
        Goodbye again
    </li>
</ol>


<script>
    let letter = 'A';
   // $(".yyy").prepend(`${letter}--`);
</script>