<div id = 'velocityGraph'></div>

<ol>
    <li>
        Write a story about something that
        could have this particular velocity-time graph.
    </li>
    <li>
        Draw a corresponding position-time graph,
        assuming that initial position = 0.
    </li>
    <li>
        Draw a corresponding acceleration-time graph.
    </li>
</ol>

<script>
    let kinematicFunctions = new KinematicStepwiseFunctions(0,4,0);
    kinematicFunctions.addConstantVelocityStep(6);
    kinematicFunctions.addAcceleratedStep(-1,4);
    kinematicFunctions.addAcceleratedStep(1,6);
    kinematicFunctions.addAcceleratedStep(-1,6)

    let graphs = kinematicFunctions.makeQualitativeGraphs(undefined, true);
    $("#velocityGraph").append(graphs.velocityGraph.drawCanvas(500,500));
</script>