<h4>
    Problem 1:
</h4>
<p>
    State, from memory, the work-energy theorem in words.
</p>

<h4>
    Problem 2:
</h4>

<p>
    Secret agent man is hanging from a rope,
    while the rope is pulling him upward.
</p>

<p>
    Analyze the situation from two different points of view:
    The system of the secret agent man alone
    and the man-earth system.
    For each point of view do the following:
</p>

<ul>
    <li>
        Draw a free-body diagram
        showing external forces acting on the system.
    </li>
    <li>
        By referring to your free-body diagram,
        determine whether positive, zero, or negative
        work is done on the system.
    </li>
    <li>
        Identify what types of mechanical energy the
        system may possess.
    </li>
    <li>
        Identify whether total mechanical energy is
        increasing, decreasing, or staying the same.
    </li>
    <li>
        Confirm that the work-energy theorem is being followed
        for each system.
    </li>
</ul>

