

<p>
    Do not confuse velocity and acceleration.
</p>

<p>
    The word 'moving' indicates velocity, not acceleration.
</p>

<p class="directions">
    For each of the following statements, indicate if it is written correctly.
    If it is not, indicate the error.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'Incorrect, 9.8 m/s/s is the acceleration, not the velocity'>
        When falling, objects move with a velocity of 9.8 m/s.
    </li>
    <li class="question" data-answer = 'Incorrect, 9.8 m/s/s is the acceleration, not the velocity. the term "move" indicates velocity'>
        When falling, objects move at 9.8 m/s/s.
    </li>
    <li class="question">
        When falling, objects accelerate at a rate of 9.8 m/s/s.
    </li>
</ol>