
<h1>
    The Progress Grading System: Rules
</h1>


<ul>
    <li>
        You begin the term with a grade with a grade of zero,
        and zero points.
        (You may have more than zero points if you some assignments completed in previous quarters.)
    </li>
    <li>
        Every time you complete an assignment, you earn points.
        When you earn a specified number of points, your
        grade increases by one percentage.
    </li>
    <li>
        Your grade only goes up. It does not go down.
    </li>
<!--    <li>-->
<!--        The curriculum is broken into tiny pieces called pods. Each pod has, attached to it,-->
<!--        a practice page and an assessments.-->
<!--        For most pods, the assessment is a quiz, but for some it is a lab-->
<!--        report or a problem set.-->
<!--        You can complete these assignments at home or in class.-->
<!--    </li>-->
<!--    <li>-->
<!--        The pods are divided into <strong>ladders</strong>.-->
<!--        The ladders build on an individual type of problem.-->
<!--        For example, a level 1 pod in the momentum ladder introduces the momentum formula,-->
<!--        and subsequent pods apply it to increasingly difficult problems.-->
<!--        You are expected to complete the pods on a ladder in order.-->
<!--        You will not complete ladders one at a time, but switch between different ladders-->
<!--        as the year goes on.-->
<!--    </li>-->
<!--    <li>-->
<!--        Each pod had a level, indicating its difficulty.-->
<!--        Most level 1 pods involve only plugging into a simple formula or memorizing a few definitions,-->
<!--        but level 6 pods are as difficult as an advanced physics college problem set.-->
<!--    </li>-->
    <li>
        A <strong>practice page</strong> is a page you do to help yourself
        learn an assignment.
        They are graded for completion, effort, and following directions.
        When you complete a practice page, you earn:
        $$
        100 \times \left( \text{level} \right)
        $$
    </li>
    <li>
        Each practice page has attached to it a <strong>self quiz</strong>.
        When you complete the <strong>self quiz</strong>, you will gain points equal to:
        $$
        200 \times \left( \text{level} \right) \times \left( \frac{\text{Your score}}{20} \right)
        $$
        All self quizzes can be retaken as many times as you like.
        You will gain points equal to the highest score earned on the quiz.
    </li>
    <li>
        Periodically, we will take <strong>in class quizzes</strong>. In class quizzes will be short
        quizzes whose topics are chosen at random when they are taken.
        When you complete an in class quiz, you will gain points equal to:
        $$
        500 \times \left( \text{level} \right) \times \left( \frac{\text{Your score}}{20} \right)
        $$
        You cannot retake the in-class quiz, but you can gain the points elsewhere.
    </li>
<!--    <li>-->
<!--        Each pod has an assessment attached to it: a self quiz, a problem set, a lab report, or a memorization quiz.-->
<!--        <ul>-->
<!--            <li>-->
<!--                A <strong>self quiz</strong> is a short quiz that you are allowed to complete-->
<!--                on your own and submit using your phone.-->
<!--            </li>-->
<!--            <li>-->
<!--                A <strong>problem set</strong> is a longer problem you are encouraged to complete-->
<!--                in a group, and turn in as an assignment.-->
<!--            </li>-->
<!--            <li>-->
<!--                A <strong>lab report</strong> is an activity where you collect data as a group,-->
<!--                and write an analysis of that data on your own.-->
<!--            </li>-->
<!--            <li>-->
<!--                A <strong>memorization quiz</strong> is a brief amount of content that must be memorized-->
<!--                word for word. Memorization quizzes must be taken in class, but can be taken multiple times.-->
<!--            </li>-->
<!--        </ul>-->
<!--        All assessments are scored out of 20. You can retake or resubmit assessments as many times as-->
<!--        you want. If you resubmit an assessment, you will earn the higher grade.-->
<!--        If you achieve a score of 18, 19, or 20, your score is automatically moved up to 20-->
<!--        and reported as "ACE."-->
<!--        When you complete an assessment, you will gain points equal to:-->
<!--        $$-->
<!--        200 \times \left( \text{level} \right) \times \left( \frac{\text{Your score}}{20} \right)-->
<!--        $$-->
<!--        If you complete an assignment and improve your grade, you score will be added equal tot he extra points you-->
<!--        earned, but you will not be able to earn the points for each assessment multiple times.-->
<!--    </li>-->
<!--    <li>-->
<!--        We will take <strong>in-class quizzes</strong> in class.-->
<!--        The in-class quizzes are identical to the self quizzes, but you will receive-->
<!--        one randomly from a pile.-->
<!--        We will take in-class quizzes approximately once every other class.-->
<!--        You cannot retake an in-class quiz.-->
<!--        When you complete an in-class quiz, you earn points equal to:-->
<!--        $$-->
<!--        500 \times \left( \text{level} \right) \times \left( \frac{\text{Your score}}{20} \right)-->
<!--        $$-->
<!--    </li>-->
    <li>
        You may earn points by completing any assignments from the units specified for quarter 3.
        You have flexibility in what assignments you complete.
        I will provide you with a sequence of how you should complete assignments.
    </li>
        It is allowed but not recommended for
        AP students to complete level 1 or level 2
        practice pages.
        These assignments are very simple and are not worth enough points to make
        an appreciable difference in your grade.
        However, you <emph>should</emph> complete level 1 and 2 quizzes in order.
        Even though they are relatively easy for most AP Students, they establish
        the fundamental content that will be used throughout the rest of a quiz ladder.
    </li>
</ul>

<h1>
    <a href = '/gradeScale'>View Grading Scale</a>
</h1>