<p>
  When you take a quiz, you will not receive a numerical score,
  you will receive either JACK, QUEEN, KING, or ACE.
</p>


<ul>
  <li>
    JACK:
    <ul>
      <li>
        If you receive this score,
        you have not shown that you understand
        the topic.
      </li>
      <li>
        The best thing to do next is to learn
        the topic again from the beginning.
      </li>
      <li>
        If you skipped over simpler topics to
        reach this one, don't do that.
      </li>
    </ul>
  </li>
  <li>
    QUEEN:
    <ul>
      <li>
        If you receive this score,
        you seem to be making progress
        and understanding the basics,
        but there are big portions that
        you are missing.
      </li>
      <li>
        Read your comments and focus on re-learning
        those aspects of the topic.
        Starting from the beginning is a good idea,
        but there might be a key problem you are making.
      </li>
      <li>
        Above all, focus on practice questions.
        Practice, practice, practice.
      </li>
    </ul>
  </li>
  <li>
    KING:
    <ul>
      <li>
        You are almost there!
        You have the general concepts down,
        but you are making some mistakes.
      </li>
      <li>
        Focus on <em>practice questions</em>.
      </li>
      <li>
        It may be okay to take the quiz again.
        If you made one small mistake.
      </li>
    </ul>
  </li>
  <li>
    ACE:
    <ul>
      <li>
        This means that you fully understand this pod!
        Move onto the next one!
      </li>
    </ul>
  </li>
</ul>



<p>
  On comments:
  Your comments do not necessarily reflect
  every thing that you got wrong!
  If I marked everything that you go wrong,
  it might be too much information to work with.
  Rather, it reflects the next step you need
  to take to master that pod.
</p>
