<h3>
    Style Guide
</h3>

<p>
    Remember that <strong>Physics is a Writing Class</strong>.
</p>

<ul>
    <li>
        Whenever you are solving a formula to find a numerical solution:
        <ul>
            <li>
                Always begin by writing the formula in its <em>cannonical form</em>.
            </li>
            <li>
                If you are plugging numbers into the formula, plug those numbers into the formula before
                manipulating the formula at all.
                It should be abundantly clear to a reader what number corresponds to what quantity.
            </li>
            <li>
                If you are using SI units, you do not need to write units when numbers are in an equation.
            </li>
            <li>
                If a problem requires more than one algebraic operation, explicitly label each operation.
            </li>
            <li>
                Write the result with a unit.
            </li>
        </ul>
    </li>
    <li>
        Proper units must be included on all numerical answers to questions.
    </li>
    <ul>
        Whenever completing a non-metric unit conversion, explicitly write out conversion factors.
        When writing conversion factors:
        <li>
            Quantities should be represented as fractions.
        </li>
        <li>
            Units should be represented as words in the correct part of a fraction.
        </li>
        <li>
            Conversion factors should be written as fractions with a different unit in the numerator and denominator and value equal to one.
        </li>
        <li>
            Units that cancel should be crossed out.
        </li>
        <li>
            Equal signs must be included in appropriate places.
        </li>
        <li>
            You should explicitly write the final answer of the conversion.
        </li>
    </ul>
    <li>
        When two variables in a problem both represent the same quantity, subscripts should
        be used to differentiate between them.
        If these subscripts are not cannonical, explicitly describe what each one defines.
    </li>
    <li>
        When inventing a new formula, typically by using a conservation law,
        you should explicitly declare what each term of the formula represents.
    </li>
    <li>
        Whenever you are solving a deriving a new formula from an existing formula or formulas:
        <ul>
            <li>
                Begin by writing the any formula you are using in its cannonical form.
            </li>
            <li>
                If a problem requires more than one algebraic manipulation,
                explicitly show each manipulation.
            </li>
            <li>
                After having derived a new formula, demonstrate that the formula
                you derived is dimensionally correct.
            </li>
        </ul>
    </li>
    <li>
        Always write a vector as a magnitude and a direction, unless:
        <ul>
            <li>
                There is not enough information in the problem to find one of these pieces of information.
            </li>
            <li>
                A problem explicitly asks for only magnitude or only direction.
            </li>
        </ul>
    </li>
    <li>
        Whenever you use positive and negative signs to represent the direction of a vector,
        explicitly label which direction you have defined as positive and which you have defined as negative.
    </li>
    <li>
        Use positive and negative signs to represent the direction of a vector while completing a problem,
        but in the answer, please write the magnitude of a vector as a positive number and represent
        the direction with a word or arrow, not a sign.
    </li>
    <li>
        Never give a scalar quantity a negative value. (unless you have properly defined what it means)
    </li>
    <li>
        Never give the magnitude of a vector a negative value.
    </li>
    <li>
        If direction is highly relevant to a problem, label vectors in each formula with an overhead arrow
    </li>
    <li>
        Write vector components using unit vector form.
    </li>
    <li>
        On all problems involving forces,
        draw a proper free-body diagram:
        <ul>
            <li>
                Name each forces, if possible.
            </li>
            <li>
                Give magnitudes of the forces if it is a quantitative problem.
            </li>
            <li>
                If it is relevant to the problem, give the agent of each force.
            </li>
        </ul>
    </li>
    <li>
        Forces should not be broken into components on a free-body diagram, but should be broken into components to the side.
    </li>
    <li>
        Mass should <em>never</em> be included on a free-body diagram, as it is a scalar and a free-body diagram is a diagram of only vectors.
    </li>
    <li>
        A free-body diagram indicates all of the forces acting on an object. Velocity and acceleration should never appear on a free-body diagram
        because they are not forces. If they are relevant to a problem, they should be drawn tot he side of the free-body diagram and explicitly labeled.
    </li>
    <li>
        The net force is <em>never</em> included on a free-body diagram. A free-body diagram shows only the <em>individual</em> forces acting on an object,
        and the net force is the summation of these forces, not one of them. Because the net force is nearly always relevant to the problem,
        it should be drawn to the side of the free-body diagram and explicitly labeled.
    </li>
    <li>
        The arrows on a free-body diagram representing each force should be roughly proportional to the magnitudes of the forces they represent.
        For example, an arrow representing a 30 N force should be roughly three times as long as an arrow representing a 10 N force.
        This is particularly important if the problem is qualitative, and the relative lengths of arrows is the only way of determining
        the net force acting on an object.
    </li>
    <li>
        A free-body diagram should ideally be drawn on a diagram of the object with each arrow drawn at the specific point on an object
        where that force is applied. However, this can be cumbersome, so in problems that do not involve rotational motion,
        the free-body diagram typically shows arrows emanating from a single dot. In problems related to rotational motion,
        it is imperative that a free-body diagram represent the location at which each force is applied.
    </li>
    <li>
        Whenever you create a cartesian graph, always label both axes on the graph.
    </li>
    <li>
      Unless it is very very very obvious,
      the system must be explicitly defined,
      particularly in problems involving
      more than one free-body diagram, or
      problems involving changes in energy.
    </li>
</ul>


<h5>
  Concision
</h5>
<ul>
  <li>
    There should be no information in any explanation
    that is not relevant to the problem.
  </li>
  <li>
    It is not necessary to repeat basic definitions.
  </li>
  <li>
    If there is more than one way to solve a problem,
    it can be beneficial to write both ways.
    (but not always necessary)
    Make it very clear when you change,
    do not meld the different explanations.
  </li>
</ul>
