<h3>
    Style Guide
</h3>

<p>
    Remember that <strong>Physics is a Writing Class</strong>.
</p>

<ul>
    <li>
        Whenever you are solving a formula to find a numerical solution:
        <ul>
            <li>
                Always begin by writing the formula in its <em>cannonical form</em>.
            </li>
            <li>
                If you are plugging numbers into the formula, plug those numbers into the formula before
                manipulating the formula at all.
                It should be abundantly clear to a reader what number corresponds to what quantity.
            </li>
            <li>
                If you are using SI units, you do not need to write units when numbers are in an equation.
            </li>
            <li>
                If a problem requires more than one algebraic operation, explicitly label each operation.
            </li>
            <li>
                Write the result with a unit.
            </li>
        </ul>
    </li>
    <li>
        Proper units must be included on all numerical answers to questions.
    </li>
    <ul>
        Whenever completing a non-metric unit conversion, explicitly write out conversion factors.
        When writing conversion factors:
        <li>
            Quantities should be represented as fractions.
        </li>
        <li>
            Units should be represented as words in the correct part of a fraction.
        </li>
        <li>
            Conversion factors should be written as fractions with a different unit in the numerator and denominator and value equal to one.
        </li>
        <li>
            Units that cancel should be crossed out.
        </li>
        <li>
            Equal signs must be included in appropriate places.
        </li>
        <li>
            You should explicitly write the final answer of the conversion.
        </li>
    </ul>
    <li>
        Whenever you are solving a deriving a new formula from an existing formula or formulas:
        <ul>
            <li>
                Begin by writing the any formula you are using in its cannonical form.
            </li>
            <li>
                If a problem requires more than one algebraic manipulation,
                explicitly show each manipulation.
            </li>
            <li>
                After having derived a new formula, demonstrate that the formula
                you derived is dimensionally correct.
            </li>
        </ul>
    </li>
    <li>
        Always write a vector as a magnitude and a direction, unless:
        <ul>
            <li>
                There is not enough information in the problem to find one of these pieces of information.
            </li>
            <li>
                A problem explicitly asks for only magnitude or only direction.
            </li>
        </ul>
    </li>
    <li>
        Whenever you use positive and negative signs to represent the direction of a vector,
        explicitly label which direction you have defined as positive and which you have defined as negative.
    </li>
    <li>
        Use positive and negative signs to represent the direction of a vector while completing a problem,
        but in the answer, please write the magnitude of a vector as a positive number and represent
        the direction with a word or arrow, not a sign.
    </li>
    <li>
        Never give a scalar quantity a negative value. (unless you have properly defined what it means)
    </li>
    <li>
        Never give the magnitude of a vector a negative value.
    </li>
    <li>
        If direction is highly relevant to a problem, label vectors in each formula with an overhead arrow
    </li>
    <li>
        Write vector components using unit vector form.
    </li>
    <li>
        On all problems involving forces,
        draw a proper free-body diagram:
        <ul>
            <li>
                Name each forces, if possible.
            </li>
            <li>
                Give magnitudes of the forces if it is a quantitative problem.
            </li>
            <li>
                If it is relevant to the problem, give the agent of each force.
            </li>
        </ul>
    </li>
    <li>
        Whenever you create a cartesian graph, always label both axes on the graph.
    </li>
</ul>