<!--
Head-On Collisions
-->
<p>
    In the previous two sections,
    we used the conservation of momentum
    to analyze two cars in a crash.
    All of these were rear-end collisions,
    in which one car hit another moving in the same direction.
</p>

<p>
    In this section, we will move to head-on collisions.
    In these problems, objects move in two different directions.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '15 m/s right'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 400 kg and is moving RIGHT with a speed of 10 m/s.
                    </li>
                    <li>
                        Car B has a mass of 200 kg and is moving LEFT with a speed of 5 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision...
                <ul>
                    <li>
                        Car A is stationary.
                    </li>
                    <li>
                        What is the <emph>magnitude</emph> and <emph>direction</emph>
                        of car B's velocity?
                    </li>
                </ul>
            </li>
        </ul>
        <div id = 'table1' class = 'basicMomentumTable'></div>
    </li>
    <li class = 'question' data-answer = '30 m/s right'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 300 kg and is moving RIGHT with a speed of 12 m/s.
                    </li>
                    <li>
                        Car B has a mass of 100 kg and is moving LEFT with a speed of 6 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision...
                <ul>
                    <li>
                        Car A is stationary.
                    </li>
                    <li>
                        What is the <emph>magnitude</emph> and <emph>direction</emph>
                        of car B's velocity?
                    </li>
                </ul>
            </li>
        </ul>
        <div id = 'table1' class = 'basicMomentumTable'></div>
    </li>
    <div class = 'pageBreak'></div>
    <li class = 'question' data-answer = '2 m/s left'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 100 kg and is moving LEFT with a speed of 8 m/s.
                    </li>
                    <li>
                        Car B has a mass of 150 kg and is moving RIGHT with a speed of 4 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision...
                <ul>
                    <li>
                        Car B is stationary.
                    </li>
                    <li>
                        What is the <emph>magnitude</emph> and <emph>direction</emph>
                        of car A's velocity?
                    </li>
                </ul>
            </li>
        </ul>
        <div id = 'table1' class = 'basicMomentumTable'></div>

    </li>
    <li class = 'question' data-answer = '4.5 m/s right'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 30 kg and is moving RIGHT with a speed of 12 m/s.
                    </li>
                    <li>
                        Car B has a mass of 40 kg and is moving LEFT with a speed of 6 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision...
                <ul>
                    <li>
                        Car A moving to the LEFT with a speed of 2 m/s.
                    </li>
                    <li>
                        What is the <emph>magnitude</emph> and <emph>direction</emph>
                        of car B's velocity?
                    </li>
                </ul>
            </li>
        </ul>
        <div id = 'table1' class = 'basicMomentumTable'></div>
    </li>
    <div class = 'pageBreak'></div>
    <li class = 'question' data-answer = '3.5 m/s left'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 2000 kg and is moving RIGHT with a speed of 3 m/s.
                    </li>
                    <li>
                        Car B has a mass of 4000 kg and is moving LEFT with a speed of 9 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision...
                <ul>
                    <li>
                        Car A is moving LEFT with a speed of 8 m/s.
                    </li>
                    <li>
                        What is the <emph>magnitude</emph> and <emph>direction</emph>
                        of car B's velocity?
                    </li>
                </ul>
            </li>
        </ul>
        <div id = 'table1' class = 'basicMomentumTable'></div>
    </li>
    <li data-answer = 'The cars both stop!' class = 'question'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 400 kg and is moving RIGHT with a speed of 5 m/s.
                    </li>
                    <li>
                        Car B has a mass of 200 kg and is moving LEFT with a speed of 10 m/s.
                    </li>
                </ul>
            </li>
            <li>
                The collision is <strong>totally inelastic</strong>.
            </li>
            <li>
                What happens after the collision?
            </li>
        </ul>
        <div id = 'table1' class = 'totallyInelasticTable'></div>
    </li>
    <div class = 'pageBreak'></div>
    <li class = 'question' data-answer = '27.1 m/s in the original direction of the railroad car'>
      A railroad car with a mass of 50,000 kg is moving at a speed
      of 40 m/s when it smashes into a running tree trunk
      moving the other way at 5 m/s with a mass of 20,000 kg.
      The tree lodges in the railroad car. Nobody is injured, including the tree trunk.
      What is their speed and direction after the collision?
      <div id = 'momentumTable4'></div>
    </li> <!--add two more totally inelastic collision problems here -->
    <li class = 'question' data-answer = '1.15 m/s downfield'>
      A linebacker with a mass of 140 kg is running downfield at 9 m/s
      towards a 120 kg running back running upfield with a speed of 8 m/s.
      They collide, and the linebacker wraps up the running back so they stick
      together.
      What is their speed and direction after the collision?
      <div id = 'momentumTable5'></div>
    </li>
    <div class = 'pageBreak'></div>
    <li class = 'question' data-answer = '3 m/s'>
      A red bumper car with a mass of 200 kg is driving to the right with a speed
      of 5 m/s. A blue bumper car with a mass of 200 kg is driving to the left
      with a speed of 6 m/s.
      They smash into each other. Each bumper car bounces back in the opposite direciton
      it was moving!
      If the red car has a speed of 4 m/s after the collision,
      what is the speed of the blue car?
      <div id = 'momentumTable3'></div>
    </li>
    <li class = 'question' data-answer = '3 m/s forward'>
        A bumper car with a mass of 200 kg is driving forward (+) really fast,
        with a speed of 30 m/s.
        It slams directly into a truck with a mass of 4000 kg that
        is stationary and releases a loaded spring.
        The bumper car bounces backwards (-) with a speed of 30 m/s.
        The truck begins slowly rolling.
        Determine the magnitude and direction of the truck's velocity
        after the collision.
        <div id = 'momentumTable2'></div>
    </li>
</ol>

<script>
    let basicMomentumTable = new MomentumTable();
    $(".basicMomentumTable").append(basicMomentumTable.draw(350,350));

    let totallyInelasticTable = new MomentumTable();
    totallyInelasticTable.makeTotallyInelasticCollision();
    $(".totallyInelasticTable").append(totallyInelasticTable.draw(350,350));

    let momentumTable2 = new MomentumTable();
    momentumTable2.setNameOfObjects('bumper car', 'truck');
    $("#momentumTable2").append(momentumTable2.draw(350,350));

    let momtenumTable3 = new MomentumTable();
    momtenumTable3.setNameOfObjects('blue car', 'red car');
    $("#momentumTable3").append(momtenumTable3.draw(350,350));


    let momentumTable4 = new MomentumTable();
    momentumTable4.makeTotallyInelasticCollision();
    momentumTable4.setNameOfObjects('railroad car', 'running tree');
    $("#momentumTable4").append(momentumTable4.draw(350,350));

    let momentumTable5 = new MomentumTable();
    momentumTable5.makeTotallyInelasticCollision();
    momentumTable5.setNameOfObjects('linebacker', 'running back');
    $("#momentumTable5").append(momentumTable5.draw(350,350));
</script>
<div class = 'pageBreak'></div>
<h4>
    Answers
</h4>

<ol class = 'answerList'></ol>
