<p>
    Before diving into your study of electromagnetic waves,
    it is important that you know all of the following material.
    Much of this was covered in <a href = '/unit/waves/wave_structure'>a previous unit</a>,
    but it is such foundational knowledge, it never hurts to go over it more than once.
</p>

<p>
    First, review this list of facts on electromagnetic waves:
</p>

<ul class = 'principleList'>
    <li>
        A <emph>wave</emph> is moving energy in the form of a moving oscillation.
    </li>
    <li>
        An <emph>electromagnetic wave</emph> consists of oscillating electric and magnetic energy.
    </li>
    <li>
        All electromagnetic waves are <emph>transverse</emph> waves.
    </li>
    <li>
        In physics, a <emph>vacuum</emph> is a space with no matter.
        <ul>
            <li>
                We do not live inside a vacuum, because we are surrounded by air, which is matter.
            </li>
            <li>
                You can create a vacuum on earth by sucking the air out of a small space using a <emph>vacuum pump</emph>.
            </li>
            <li>
                However, the most important vacuum to know about is <emph>outer space</emph>.
                Because there is very very little matter between the stars and planets, outer space is near perfect vacuum.
            </li>
        </ul>
    </li>
    <li>
        Electromagnetic waves all move at a speed of \( 3.0 \cdot 10^8 \text{m/s} \) in a vacuum.
    </li>
    <li>
        Electromagnetic waves can move through some matter as well.
        For example, a radio wave can move through most matter, which is why you can use your radio indoors.
        A visible light wave can move through air or glass, but it cannot move through steel.
    </li>
    <li>
        All electromagnetic waves are capable of moving in a vacuum.
        <ul>
            <li>
                When you look at the stars, you are seeing electromagnetic waves that have traveled for eyars through spcae
                to your eye.
            </li>
            <li>
                The sun also sends light and heat to the earth via electromagnetic waves,
                which travel through the vacuum of space to reach earth.
            </li>
        </ul>
    </li>
    <li>
        Electromagnetic waves are often contrasted with mechanical waves.
        <ul>
            <li>
                Mechanical waves are waves of oscillating matter.
            </li>
            <li>
                Mechanical waves exist only in matter and thus can never move through a vacuum.
            </li>
            <li>
                All mechanical waves move at different speeds, but all of these are much much slower than the speed of light,
                \( 3.0 \cdot 10^8 \text{m/s} \).
            </li>
            <li>
                Mechanical waves can be either transverse or longitudinal.
            </li>
        </ul>
    </li>
    <li>
        All electromagnetic waves come in tiny pieces called <strong>photons</strong>.
    </li>
    <li>
        The most common example of an electromagnet wave is <strong>visible light</strong>.
    </li>
    <li>
        However, there are seven types of electromagnetic wave in total, visible light
        and six others which are invisible:
        <ul>
            <li>
                Radio waves
            </li>
            <li>
                Microwaves
            </li>
            <li>
                Infrared Waves
            </li>
            <li>
                Visible Light Waves
            </li>
            <li>
                Ultraviolet Waves
            </li>
            <li>
                X-Ray Waves
            </li>
            <li>
                Gamma Ray Waves
            </li>
        </ul>
    </li>
    <li>
        Always remember electromagnetic waves in this order, because this is the order from longest wavelength
        to shortest wavelength.
    </li>
    <li>
        It's easy to remember them using this mnemonic device:
        <strong>Raging Martians Invade Venus Using X-Ray Guns</strong>
    </li>
</ul>

<h5>
    Video from NASA on Electromagnetic Waves:
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/lwfJPc-rSXw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    The video comes from <a href = 'https://science.nasa.gov/ems'>this NASA page</a> on the electromagnetic spectrum.
</p>

<h5>
    True or False:
</h5>
<ol class = 'questionList'>
    <li class = 'question' data-answer = 'false'>
        Mechanical waves move faster than electromagnetic waves.
    </li>
    <li class = 'question' data-answer = 'false'>
        Mechanical waves can move through a vacuum.
    </li>
    <li class = 'question' data-answer = 'true'>
        Electromagnetic waves can move through a vacuum.
    </li>
    <li class = 'question' data-answer = 'true'>
        Electromagnetic waves are always transverse.
    </li>
    <li class = 'question' data-answer = 'false'>
        Electromagnetic waves can be transverse or longitudinal.
    </li>
    <li class = 'question' data-answer = 'true'>
        There are seven types of electromagnetic waves.
    </li>
    <li class = 'question' data-answer = 'true'>
        Electromagnetic waves are made of oscillating electric and magnetic energy.
    </li>
    <li class = 'question' data-answer = 'Probably false, but this is still a good way to remember the seven types of electromagnetic
waves!'>
        As you read this page, Raging Martians are Invading Venus Using X-ray Guns.
    </li>
</ol>


<ol class = 'questionList'>
    <li class = 'question' data-answer ='Radio micro infrared visible light ultraviolet X-Ray gamma ray;
Radio micro infrared visible light ultraviolet X-Ray gamma ray'>
        Copy the seven types of electromagnetic waves twice. Yes, it’s repetitive, but a little bit of copying does help you remember things.
    </li>
</ol>


<p class = 'directions'>
    Fill in the blanks of the following paragraph using items from the word bank.
    Each word is used once.
</p>

<h5>Word Bank</h5>
<ul>
    <li>
        \( 3.0 \cdot 10^8 \text{m/s} \)
    </li>
    <li>
        electric
    </li>
    <li>
        vacuum
    </li>
    <li>
        transverse
    </li>
    <li>
        photons
    </li>
    <li>
        visible
    </li>
    <li>
        faster
    </li>
    <li>
        invisible
    </li>
    <li>
        magnetic
    </li>
</ul>


<ol class = 'questionList fillInTheBlank'>
    An electromagnetic wave is a type of wave consisting of oscillating
    <li class = 'question' data-answer = 'electric'>_______________</li> and <li class = 'question' data-answer = 'electric'>_______________</li> energy.
    Electromagnetic waves always come in tiny little pieces called <li class = 'question' data-answer = 'photon'>_______________</li>,
    and all electromagnetic waves move at a speed of <li class = 'question' data-answer = '\( 3.0 \cdot 10^8 \text{m/s} \)'>_______________</li>.
    Electromagnetic waves are different from another type of wave, called a mechanical wave.
    Electromagnetic waves are capable of moving through a <li class ='question' data-answer = 'vacuum'>_______________</li>,
    while mechanical waves are not.
    Electromagnetic waves are all <li class = 'question' data-answer = 'transverse'>_______________</li> waves,
    while mechanical waves can be either transverse or longitudinal waves.
    Electromagnetic waves all move much much <li class = 'question' data-answer = 'faster'>_______________</li> than mechanical waves.
    There are seven different types of electromagnetic wave.
    One of these types is <li class = 'question' data-answer = 'visible'>_______________</li> light,
    while the other six are all <li class = 'question' data-answer = 'invisible'>_______________</li>.
</ol>

<p class = 'directions'>
    Answer the questions below in 2 - 3 sentences.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer ='The light waves that the sun creates are electromagnetic and can move through the
vacuum of space. The sound waves that the sun creates are mechanical and cannot move
through a vacuum.'>
        You can see the sun but you cannot hear the sun. And the sun is making lots and lots of noise, as much as thousands of atomic bombs exploding every second. Explain why you can see the sun but not hear it.
    </li>
    <li class = 'question' data-answer = 'When electrons jump to earth, they create light and sound. The light waves are
electromagnetic and the sound waves are mechanical. The sound waves move fast, but the light waves move much much much faster. Therefore, you see the lightning almost instantaneously, but you hear the thunder seconds after.'>
        By using the concepts and vocabulary on this page, explain why you see lightning before you hear thunder.
    </li>
</ol>

<ol class = 'answerList'></ol>