<ol>
    <li>
        Draw two positive charges, and the electric fields surrounding them.
    </li>
    <li>
        Draw a positive charge adjacent to a negative charge,
        and the electric field surrounding them.
    </li>
    <li>
        Draw two planets next to each other and the gravitational field surrounding them.
    </li>
</ol>