<p>
    Directions:
    Make sure to always include MAGNITUDE and DIRECTION when necessary.
    Always use proper SI Units.
</p>

<ol>
    <li>
        I move a distance of 4 m north, 5 m south, 6 m north, 8 m south in a time of 8 seconds.
        Find my:
        <ul>
            <li>
                Distance:
            </li>
            <div class="smallSpace"></div>
            <li>
                Displacement:
            </li>
            <div class="smallSpace"></div>
            <li>
                Average Speed:
            </li>
            <div class="smallSpace"></div>
            <li>
                Average Velocity:
            </li>
            <div class="smallSpace"></div>
        </ul>
    </li>
    <li>
        I run 8 times around a 400 meter track in a time of ten minutes and 22 seconds.
        Find my:
        <ul>
            <li>
                Distance:
            </li>
            <div class="smallSpace"></div>
            <li>
                Displacement:
            </li>
            <div class="smallSpace"></div>
            <li>
                Average Speed:
            </li>
            <div class="smallSpace"></div>
            <li>
                Average Velocity:
            </li>
            <div class="smallSpace"></div>
        </ul>
    </li>

</ol>