<p class="directions">
    For each of the numbers listed below,
    write the number in correct scientific notation.
    If it is already in correct scientific notation,
    indicate this in your answer.
</p>

<ol type = 'A'>
    <li class = 'mt-4 mb-4'>
        \( 23.56 \cdot 10^{20} \)
    </li>
    <li class="mb-4">
        \( 0.0025 \cdot 10^{12} \)
    </li>
    <li class="mb-4">
        \( 124 \cdot 10^{-15} \)
    </li>
    <li class="mb-4">
        \( 1.56 \cdot 10^{-9} \)
    </li>
</ol>