<p>
    On the next page are 11 kinematic graphs.
    Please categorize them based on what type of motion they describe.
</p>

<p>
    There are 4 groups.
    Each group should have three graphs.
    One of the graphs is used twice.
</p>

<ol>
    <li class = 'mb-5'>
        Category 1: Moving at a constant speed
    </li>
    <li class = 'mb-5'>
        Category 2: Not Moving
    </li>
    <li class = 'mb-5'>
        Category 3: Speeding Up
    </li>
    <li class = 'mb-5'>
        Category 4: Slowing Down
    </li>
</ol>

<div class = 'pageBreak'>
</div>

<div id = 'bigTable'></div>

<script>
    let positionGraph1 = makePositionGraphConstantVelocity();
    let positionGraph2 = makePositionGraphNotMoving();
    let positionGraph3 = makePositionGraphPositiveAcceleration();
    let positionGraph4 = makePositionGraphNegativeAcceleration();

    let velocityGraph1 = makeVelocityGraphConstantVelocity();
    let velocityGraph2 = makeVelocityGraphNotMoving();
    let velocityGraph3 = makeVelocityGraphPositiveAcceleration();
    let velocityGraph4 = makeVelocityGraphNegativeAcceleration();

    let accelerationGraph1 = makeAccelerationGraphZero();
    let accelerationGraph2 = makeAccelerationGraphPositive();
    let accelerationGraph3 = makeAccelerationGraphNegative();

    let motionMap1 = makeMotionMapConstantVelocity();
    let motionMap2 = makeMotionMapNotMoving();
    let motionMap3 = makeMotionMapPositiveAcceleration();
    let motionMap4 = makeMotionMapNegativeAcceleration();


    let bigTable = new TableOfCanvasses(3,4, 'Diagram','diagram');
    bigTable.addDiagramsToCells([
        accelerationGraph2, positionGraph3, velocityGraph4, accelerationGraph1,
            positionGraph2, velocityGraph1, velocityGraph3, positionGraph1,
            accelerationGraph3, positionGraph4, velocityGraph2
    ]);
    bigTable.eraseTextInCell(2,3);
    $("#bigTable").append(bigTable.draw(1400,1400));
</script>