<p class="directions">
    Before using any formula,
    write that formula.
    You must carefully identify each formula you use for full credit.
    If you quantitatively evaluate a formula,
    you must show numbers that you plug in before completing any operations.
    You ust carefully show all numerical values you use for full credit.
</p>

<img src = '/asset/452069/ramp_problems_1_quiz.jpeg' height = '200px' width = 'auto'/>

<p>
    A 0.40 kilogram block is on a frictionless ramp with an
    angle of incline of 18 degrees.
</p>

<ol>
    <li>
        Draw a qualitative free-body diagram on the block.
        Label each force. Do not break each force into components.
    </li>
    <li>
        Draw a diagram of the block like the one shown above.
        On that diagram, draw the coordinate axis that
        physicists typically use to analyze this situation.
        In 1-2 sentences, explain the advantages of this particular
        coordinate axis.
    </li>
    <li>
        Please break each of the forces acting on the block
        into components and quantitatively determine the component
        of each force.
        Represent your components separately from the free-body
        diagram in an appropriate notation.
        Ensure that forces have proper signs as defined in your coordinate axis.
    </li>
    <li>
        Determine the magnitude and direction of the acceleration of the block.
    </li>
</ol>
