

<iframe src="https://phet.colorado.edu/sims/html/states-of-matter-basics/latest/states-of-matter-basics_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>

<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
</p>

<h5>
    Part 1: States Mode
</h5>
<p class="definition">
    Begin the simulation on "States" mode.
    First, play around with the simulation for 5 - 10 minutes, just to see how it works.
    Then, answer the specific questions.
    Start with neon in a solid (where it automatically starts).
</p>
<ol>
    <li>
        Move neon from solid, to liquid, to gas.
        <ol type = 'a'>
            <li>
                Describe the motion of <strong>solid</strong> neon atoms.
            </li>
            <li>
                Describe the motion of <strong>liquid</strong> neon atoms.
            </li>
            <li>
                Describe the motion of <strong>gaseous</strong> neon atoms.
            </li>
        </ol>
    </li>
    <li>
        What happens to the solid neon if you add heat but not enough to make it a liquid?
    </li>
    <li>
        What happens to the gaseous neon if you keep adding more and more heat?
    </li>
    <li>
        Can you get the neon to absolute zero?
        What happens to the molecules here?
    </li>
    <li>
        Figure out the melting point of neon (in Kelvin).
        To do so, begin with solid neon, and then slowly add heat and
        find the point when it turns to liquid neon.
        What value did you get?
    </li>
    <li>
        Find the boiling point of neon (in Kelvin),
        by finding the temperature at which it cahnges from liquid to gas.
    </li>
    <li>
        At a normal room temperature (about 293 Kelvin),
        what state of matter is neon?
        (Extra: Does this connect with what you learned about neon in chemistry class?)
    </li>
    <li>
        Try the other molecules.
        Argon and oxygen will work similarly to neon,
        but with water, some different things are going on.
        <ol type = 'a'>
            <li>
                Look at soid water (ice).
                It looks a little awkward and less organized than the
                other solid states. Explain how.
            </li>
            <li>
                In the liquid and gaseous state, the water molecules
                move in a way that the argon and neon atoms never do.
                (Oxygen does it a little, but much less dramatically.)
                How?
            </li>
        </ol>
    </li>
</ol>

<h5>
    Part 2: Phase Change Mode
</h5>

<p class="directions">
    Switch the simulation to "phase change" mode.
    Before, the only variable you could change was temperature,
    but now you can change temperature, volume, or air pressure.
    This lesson focuses on thermal physics, rather than gas laws,
    so we will not spend as much time on this mode.
</p>

<ol>
    <li>
        Figure out a way to turn neon to a solid.
        What is the air pressure in this case?
    </li>
    <li>
        Turn it back into a gas using the bicycle pump,
        How does this work?
    </li>
    <li>
        How do you blow the lid off of the container?.
    </li>
</ol>