<p class = 'directions'>
    A car is driven at a velocity \( v_x \) off of a cliff of height \( h \).
    The car is moving completely horizontal when it leaves the cliff, and the ground below is flat.
    Please properly simplify all answers.
</p>


<ol>
    <li>
        In terms of \( h \), and known constants, determine an equation for the time that the car is in the air before striking the ground.
        <ul>
            <li>
                Show at least two steps of your derivation.
            </li>
            <li>
                Demonstrate that your equation is dimensionally correct.
            </li>
            <li>
                Demonstrate that if the cliff has no height at all, your equation will return a time of zero.
            </li>
        </ul>
    </li>
    <li>
        In terms of \( h \), \( v_x \), and known constants, determine an equation for the horizontal distance from the cliff that the car lands.
        <ul>
            <li>
                Show at least three steps of your derivation. You may refer to the previous problem for two of your steps.
            </li>
            <li>
                Demonstrate that your equation is dimensionally correct.
            </li>
            <li>
                Demonstrate that if car drives off the cliff on a planet where gravity is non-existent, your equation will return no valid answer (as gravity becomes very weak, your result will go to infinity).
            </li>
        </ul>
    </li>
    <li>
        In terms of \( h \), \( v_x \), and known constants, determine an equation for the speed (magnitude of velocity) at which the car strikes the ground.
        Note that the magnitude if velocity is determined by finding each component of velocity and using the Pythagorean Theorem.
        <ul>
            <li>
                Show at least four steps of your derivation.
            </li>
            <li>
                Demonstrate that your equation is dimensionally correct.
            </li>
        </ul>
    </li>
</ol>