<p class = 'directions'>
    For each of the following items,
    indicate if it represents
    <strong>rotational motion</strong>
    or
    <strong>circular motion</strong>.
    Please select only one answer for each that <strong>best</strong>
    describes.
</p>


<ol>
    <li>
        Mercury completes its orbit of the sun.
    </li>
    <li>
        Mercury spins around, causing one half to be very warm and the other half very cold.
    </li>
    <li>
        A ballerina spinning in place on one foot.
    </li>
    <li>
        The swinging of a pendulum can be most easily modeled as this type of motion.
    </li>
    <li>
        Two people are in a rolling chair race down the hall.
        What type of motion describes the motion Bob's center of mass as he turns around a corner?
    </li>
    <li>
        Two people are in a rolling chair race down the hall.
        Susie of them wins and celebrates by spinning around a bunch of times.
        What type of motion is this?
    </li>
</ol>

<p>
    Fun fact:
    Mercury is the only planet that orbits the sun in less time than it takes to spin around.
</p>