
<ol>
    <li>
        From memory, write word for word the most precise definition of Newton's Third Law.
    </li>
    <li>
        If a person runs into a brick wall with a force of 200 Newtons to the right,
        give the magnitude and the direction of the reaction force.
    </li>
    <li>
        If a car strikes a pebble on the highway, which statement is true:
        <ol type = 'a'>
            <li>
                The car exerts more force.
            </li>
            <li>
                The pebble exerts more force.
            </li>
            <li>
                They exert the same force.
            </li>
        </ol>
    </li>
</ol>