<p>
    A pendulum has length \( l \) and the mass of the bob is \( m \).
    Somebody pulls the pendulum backwards so that the pendulum string makes a length
    \( \theta_0 \) with the vertical, then lets go.
    Assume no work is done on the pendulum-earth system after the person lets go.
    Determine a function \( v \left( \theta \right) \) for the speed of the bob
    in terms of the angle \( \theta \) with constants \( l \),  \( g \), \( \theta_0 \).
    After deriving your formula, complete the following analyses:
</p>
<ul>
    <li>
        State any principles of physics used to derive your formula.
    </li>
    <li>
        Demonstrate that the function you derive is dimensionally correct.
    </li>
    <li>
        Determine the values
        \( v \left( \theta = 0 \right) \),
        \( v \left( \theta = \theta_0 \right) \),
        and \( v \left( \theta = - \theta_0 \right) \),
        and argue that these values are the results you would expect.
    </li>
    <li>
        Your formula should contain a square root.
        Speed can never be an imaginary number,
        so the value in the square root must always
        be a positive value.
        Briefly explain why this is the case by carefully examining
        the terms inside the square root.
    </li>
    <li>
        Mass is not a term in your equation.
        Briefly, relate explain how this is consistent to the
        (possibly apocryphal)
        <a href = 'https://www.youtube.com/watch?v=_Kv-U5tjNCY'>story of Galileo
            dropping heavy spheres</a>
        of the Leaning Tower of Pisa.
    </li>
</ul>





