
<p class="introduction">
    In science, there are two different types of measurements we make: qualitative and quantitative measurements.
    To understand physics, you need to have a thorough understanding of both methods, and to be able to connect
    qualitative observations to quantitative measurements.
    In this pod, we will look at the definitions of <strong>qualitative</strong> and <strong>quantitative</strong>,
    and then focus on them.
</p>


<p class="definition" data-word = 'quantitative'>
    Relating to numbers, or quantities.
</p>
<p class="definition" data-word = 'qualitative'>
    Relating to the non-numerical qualities of something.
</p>


<p class="directions">
    Below is a list of <strong>observations.</strong>
    State if this is a qualitative or a quantitative observation.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'quantitative'>
        The flower has 11 petals.
    </li>
    <li class="question" data-answer = 'qualitative'>
        The petals of the flower are blue.
    </li>
    <li class="question" data-answer = 'quantitative'>
        The population of the United States is approximately 330 million people.
    </li>
    <li class="question" data-answer = 'quantitative'>
        School ends at 1:57 pm.
    </li>
    <li class="question" data-answer = 'qualitative'>
        The Empire State building is taller than the Chrysler building.
    </li>
    <li class="question" data-answer = 'quantitative'>
        If you are hungry and eat just one potato chip, you will still be hungry.
    </li>
</ol>


<p class="directions">
    Below is a list of <strong>questions.</strong>
    State if each question is seeking qualitative or quantitative information.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'quantitative'>
        How many students are taking physics this year?
    </li>
    <li class="question" data-answer = 'quantitative'>
        How many people graduated college in the United States in the year 2018?
    </li>
    <li class="question" data-answer = 'qualitative'>
        What color are the leaves of a sugar maple tree in October?
    </li>
    <li class="question" data-answer = 'quantitative'>
        How tall was Abraham Lincoln?
    </li>
    <li class="question" data-answer = 'qualitative'>
        Is the population of the United States increasing, decreasing, or roughly staying the same?
    </li>
    <li class="question" data-answer = 'qualitative'>
        Is the shape of the White House roof a square or a rectangle?
    </li>
</ol>

<p class="directions">
    Below is a list of experimental procedures.
    State if each procedure will yield qualitative or quantitative information.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'qualitative'>
        Galileo wants to determine if a heavy metal sphere falls faster than a
        light metal sphere. So he takes a very heavy feeling sphere
        and a much lighter feeling sphere and drops them both off of the
        Tower of Pisa to see which one strikes the ground first.
    </li>
    <li class="question" data-answer = 'quantitative'>
        A physics student wants to determine how the angle of a slope affects the speed
        of a toy car moving down the slope.
        So, he measures the angle in ten degree increments and
        carefully measures the time it takes a toy car to reach the bottom.
    </li>
    <li class="question" data-answer = 'qualitative'>
        An electrician wants to tell if batteries in series or parallel make a light bulb brighter.
        So, he takes 4 batteries and connects them in series to a light bulb,
        and sees how bright it is.
        Then, he takes the same four batteries and connects them in parallel to a light bulb,
        and sees how bright it is.
    </li>
    <li class="question" data-answer = 'quantitative'>
        A physicist develops an elaborate system of mirrors and lasers to measure the speed
        of light to five decimal places.
    </li>
    <li class="question" data-answer = 'quantitative'>
        Eratosthenes measures the length of a shadow of his cane in the city of Alexandria,
        He measures it on the same day and time in the city of Syene.
        He compares the difference and uses it to calculate the circumference of the earth.
    </li>
    <li class="question" data-answer = 'qualitative '>
        The biologist Henry Walter Bates is seeking to understand how the butterflies of the Amazon rainforest have evolved.
        He tracks the size, shape, and color of the butterfly wings found in different regions of the rainforest.
    </li>
</ol>

<ol class="answerList"></ol>