<p class="directions">
    Before using any formula,
    write that formula.
    You must carefully identify each formula you use for full credit.
    If you quantitatively evaluate a formula,
    you must show numbers that you plug in before completing any operations.
    You ust carefully show all numerical values you use for full credit.
</p>

<img src = '/images/hanging_sign_1_quiz.jpeg' height = '200px' width = 'auto'/>

<p>
    A sign with a mass of 6 kg is hanging by two ropes,
    which each make an angle of 50 degrees to the horizontal,
    as shown the diagram (not to scale).
    The tension in the first rope is \( T_1 \),
    and the tension in the second rope is \( T_2 \).
    The sign is not moving.
</p>

<ol>
    <li>
        Draw a qualitative free-body diagram on the block.
        Label each force. Do not break each force into components.
    </li>
    <li>
        Please break each of the forces acting on the block
        into components. Determine each component in
        terms of the variables \( T_1 \) and \( T_2 \).
        Represent your components separately from the free-body
        diagram in an appropriate notation.
    </li>
    <li>
        Create equations based on the fact that the
        sign is not moving.
        Do not solve these equations.
        In 1 - 2 sentences, explain briefly why you made these
        particular equations.
    </li>
    <li>
        Solve the equations you made
        to determine quantitatively correct
        values for \( T_1 \) and \( T_2 \),
        the magnitude of tension in each rope.
    </li>
</ol>