<p class ='directions'>
    Write every formula you use in its canonical form before plugging any values in.
    Show the values in the formula before evaluating them with a calculator.
</p>


<ol>
    <li>
        A +0.005 Coulomb sphere is located 0.4 meters
        from a +0.003 Coulomb sphere.
        <ol type = 'a'>
            <li>
                Is the electrostatic force between them
                attractive or repulsive. How do you know?
            </li>
            <li>
                Determine the magnitude of the electrostatic
                force between the spheres.
            </li>
        </ol>
    </li>
    <li>
        A +0.003 Coulomb sphere is located 0.4 meters
        from a -0.008 Coulomb sphere.
        <ol type = 'a'>
            <li>
                Is the electrostatic force between them
                attractive or repulsive. How do you know?
            </li>
            <li>
                Determine the magnitude of the electrostatic
                force between the spheres.
            </li>
        </ol>
    </li>
</ol>