
<p class = 'definition' data-word = 'Nuclear Fission'>
    One very large nucleus is broken into two smaller nuclei,
    releasing enormous amounts of energy.
</p>
<p class = 'definition' data-word = 'Nuclear Fusion'>
    Two very small nuclei are combined to form a larger nucleus;
    releasing <emph>even more</emph> energy than nuclear fission.
</p>

<ul class = 'definition' data-word = 'Nuclear Fission Examples'>
    <li>
        Nuclear	power	plants	use	nuclear	fission	to	produce	electricity.
    </li>
    <li>
        A nuclear fission bomb uses a chain of nuclear fission reactions.
    </li>
    <li>
        Submarines in the US Navy run on nuclear fission reactors.
    </li>
</ul>

<ul class = 'definition' data-word = 'Nuclear Fusion Examples'>
    <li>
        Nuclear	fusion occurs	in the center	of the sun,
        producing	all	the	energy that	makes	life	on
        earth	possible.
    </li>
    <li>
        Nuclear fusion inside of a supernova (exploding stary)
        produces the elements that make up
        our daily life, such as carbon and iron.
    </li>
    <li>
        In the 1950s, the US government nuclear fusion bombs
        (called Hydrogen-Bombs)
        that are even more powerful than fission bombs.
        None has ever been used in wartime, only in developmental tests.
    </li>
    <li>
        Many scientsits are attempting to harness nuclear fusion
        to create electrical science.
        This is one of the "holy grails" of science.
    </li>
</ul>

<p class = 'directions'>
    For each statement, determine if it
    reflects nuclear fusion or nuclear fission.
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        Two small nuclei combine to make a large nuclei.
    </li>
    <li class = 'question'>
        A large Uranium nucleus breaks into two smaller nuclei.
    </li>
    <li class = 'question'>
        Which type of reaction releases more energy?
    </li>
    <li class = 'question'>
        Used by nuclear power plants.
    </li>
    <li class = 'question'>
        Most nuclear bombs work this way.
    </li>
    <li class = 'question'>
        Two protons merge to make a larger nucleus.
    </li>
    <li class = 'question'>
        The type of nuclear reaction that occurs in the center of the sun.
    </li>
</ol>


<h4>
    Nucler reactions
</h4>

<p class = 'definition' data-word = 'Conservation of Mass'>
    The mass numbers of the reactants and producs must add up.
</p>
<p class = 'definition' data-word = 'Conservation of Charge'>
    The atomic numbers (which represent charge) of the reactants
    and products must add up.
</p>

<p class = 'directions'>
    For each reaction, fill in the empty spaces
    by using the conservation of mass
    and the conservation of charge.
    Then, state if the reaction is a fission reaction
    or a fusion reaction.
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        \( ^{235} _{[\;\;\;]} \text{U} + ^1 _0 \text{n} \longrightarrow ^{[\;\;\;]} _{[\;\;\;]} \text{Ba} + ^{94} _{[\;\;\;]} [\;\;\;] + 3 ^1 _0 \text{n} \)
        <br><br>
        Is this a <emph>fission reaction</emph> or a <emph>fusion reaction</emph>?
    </li>
    <li class = 'question'>
        \( ^{235} _{[\;\;\;]} \text{U} + ^1 _0 \text{n} \longrightarrow ^{139} _{[\;\;\;]} [\;\;\;] + ^{[\;\;\;]} _{[\;\;\;]} \text{Cs} + 3 ^1 _0 \text{n} \)
        <br><br>
        Is this a <emph>fission reaction</emph> or a <emph>fusion reaction</emph>?
    </li>
    <li class = 'question'>
        \( ^1 _0 \text{n} + ^1 _0 \text{n} \longrightarrow ^{[\;\;\;]} _1 [\;\;\;] + ^0 _{[\;\;\;]} \text{e} + ^0 _0 \nu \)
        <br><br>
        Is this a <emph>fission reaction</emph> or a <emph>fusion reaction</emph>?
    </li>
    <li class = 'question'>
        \( 4 ^1 _{[\;\;\;]} \text{H} \longrightarrow ^{[\;\;\;]} _{[\;\;\;]} [\;\;\;] + 2 ^0 _1 \text{e} \)
        <br><br>
        Is this a <emph>fission reaction</emph> or a <emph>fusion reaction</emph>?
    </li>
    <li class = 'question'>
        \( ^2 _1 \text{H} + ^1 _1 \text{H} \longrightarrow ^{[\;\;\;]} _{[\;\;\;]} [\;\;\;] +  \gamma \)
        <br><br>
        Is this a <emph>fission reaction</emph> or a <emph>fusion reaction</emph>?
    </li>
    <li class = 'question'>
        \( ^2 _{[\;\;\;]} \text{H} + ^{[\;\;\;]} _{[\;\;\;]} \text{H} \longrightarrow ^4 _{[\;\;\;]} \text{He} + ^{[\;\;\;]} _{[\;\;\;]} \text{n} \)
        <br><br>
        Is this a <emph>fission reaction</emph> or a <emph>fusion reaction</emph>?
    </li>
</ol>
