<ol>
    <li>
        A massless spring with equilibrium length \( y_0 \) is hanging vertically from a ceiling.
        Somebody attaches a block of mass \( m \) to the spring, and it sinks
        by a length \( y_1 \), so that the total length of the spring is now \( y_0 + y_1 \).
        <ol type = 'a'>
            <li>
                Illustrate each situation in a diagram.
            </li>
            <li>
                Determine an equation for the spring constant \( k \)
                in terms of \( m \), \( g \), and \( y_1 \).
            </li>
            <!--
            <li>
                Determine an equation for the total energy of the
                spring-mass-earth system at this moment
                in terms of \( m \), \( g \), \( y_0 \), and \( y_1 \).
                As the zero-height point, use the equilibrium length of the spring
                which the vertical spring is attached.
                Note that this results in a <emph>negative</emph> gravitational potential energy,
                but that is totally okay. All the equations will still work.
                How many terms are in your equation?
                Identify what each term in your equation represents.
                Prove that each term has the correct units for energy.
            </li>
            -->
            <li>
                Somebody pulls the spring downward by a length \( A \),
                so that the total length of the spring is now \( y_0 + y_1 + A \).
                As the origin of your system, take the equilibrium distance of the spring
                below the ceiling. This will make your equations much easier.
                Create an equation for the total energy of the spring-mass-earth system at this point.
                Your equation should be in terms of \( m \), \( g \) \( y_1 \), and \( A \).
                After a considerable amount of simplification, your equation should have only two terms in it.
                Prove that each term has the correct units.
            </li>
            <li>
                The person lets the spring go. Create an equation \( TE(y, v) \)
                for the total energy of the mass-spring-earth system at any point in its motion
                in terms of its vertical position \( y \) and speed \( v \).
                Your equation should include constants \( m \), \( g \), and \( y_1 \).
            </li>
            <li>
                Write an equation for the two points at which the mass is momentarily stationary.
                Do this by setting the total energy function you determined in part (d)
                to the total energy expression you determined in part (c),
                and setting \( v = 0 \).
            </li>
            <li>
                Use the quadratic equation to solve this formula for \( y \)
                at the points where the mass is stationary.
                Your final result should be
                $$
                y(v = 0) = - y_1 \pm A
                $$
                indicating that the system is moving up or down by amplitude \( A \)
                about an equilibrium point \( - y_1 \).
            </li>
        </ol>
    </li>
</ol>
