<ol>
    <li>
        A massless spring with equilibrium length \( y_0 \) is hanging vertically from a ceiling.
        Somebody attaches a block of mass \( m \) to the spring, and it sinks
        to a lenght of \( y_1 \), with \( y_1 > y_0 \).
        <ol type = 'a'>
            <li>
                Illustrate each situation in a diagram.
            </li>
            <li>
                Determine an equation for the spring constant \( k \)
                in terms of \( m \), \( g \), \( y_0 \), and \( y_1 \).
            </li>
            <li>
                Determine an equation for the total energy of the
                spring-mass-earth system at this moment
                in terms of \( m \), \( g \), \( y_0 \), and \( y_1 \).
                As the zero-height point, use the ceiling to
                which the vertical spring is attached.
                Note that this results in a <emph>negative</emph> gravitational potential energy,
                but that is totally okay. All the equations will still work.
                How many terms are in your equation?
                Identify what each term in your equation represents.
                Prove that each term has the correct units for energy.
            </li>
            <li>
                Somebody pulls the spring downward to a length \( y_2 \),
                with \( y_2 > y_1 > y_0 \).
                Determine a new equation for the total energy of the spring-mass-earth system
                in terms of \( m \), \( g \), \( y_0 \), \( y_1 \), and \( y_2 \).
                Because the person pulling the spring applied an external force did work on the system,
                the new energy must be greater than the old energy.
                How many terms are in your equation?
                Identify what each term in your equation represents.
                Prove that each term has the correct units for energy.
            </li>
            <li>
                The person lets the spring go. The mass raises and the spring compresses to a length \( y_x \),
                The mass and spring are closer to the ceiling than in all previous situations:
                \( y_2 > y_1 > y_0 > y_x \).
                Determine an equation for \( y_x \) in terms of \( m \), \( g \), \( y_0 \), \( y_1 \), and \( y_2 \).
                Briefly describe your method in words.
                Prove your equation is dimensionally correct.
            </li>
        </ol>
    </li>
</ol>