<h4>
    Three Objects
</h4>

<p>
    Get a piece of plastic, a piece of paper, and a piece of metal.
    Touch each one. Which is the coldest?
    If you said the piece of metal...you're wrong!
    Unless one has been recently heated or cooled, they all have the same temperature!
    but if, as is likely the case, they have been in the same room for awhile,
    all of them are in <strong>thermal equilibrium</strong>
</p>
<p>
    The reason the metal feels colder is that it is a better conductor of heat than other
    substances.
    It takes heat away from your hand more effectively,
    and thus feels cooler.
    But it is not actually colder!
</p>


<ol class="questionList">
    <li class="question">
        You’re at a football game in November.
        You sit down on the metal bleachers and....and they are freezing!
        <ol class="questionList">
            <li class="subQuestion">
                Are the bleachers colder than the air around them?
                Why or why not?
            </li>
            <li class="subQuestion">
                Why do the bleachers feel colder?
            </li>
        </ol>
    </li>
    <li class="question">
        Months go by, now you are rooting for the lacrosse team in June.
        On an extremely hot day, you down on the same metal bleachers... and they are very hot!
        <ol class="subQuestionList">
            <li class="subQuestion">
                Are the bleachers warmer than the air around them?
                Why or why not?
            </li>
            <li class="subQuestion">
                Why do the bleachers feel warmer?
            </li>
        </ol>
    </li>
</ol>

<h4>
    More facts on thermal equilibrium:
</h4>

<p>
    Look around the room you are in.
    Right now, just about everything in the room is in <strong>thermal equilibrium</strong>!
    Any objects that have been round each other for a long time are in thermal equilibrium.
</p>

<p>
    There are some exceptions: anything that is being continuously heated or cooled.
    This includes:
</p>
<ul>
    <li>
        Yourself, because your body burns energy to maintain a temperature of 37&#176;C
        (or 98&#176;F).
    </li>
    <li>
        A computer, or any electrical device that generates heat
        (although they generate much less heat than in the past, because people
        have continually been generating more efficient appliances).
    </li>
    <li>
        Something near a window, if the temperature outside is much different than the temperature
        inside and/or sunlight is coming in.
    </li>
    <li>
        Water in an open container:
        water is usually cooler than the environment around it due to a process called <emph>evaporation</emph>.
        However, for evaporation to happen, water must be in an open container.
    </li>
</ul>

<p class="directions">
    Imagine you are in a typical high school classroom,
    and the temperature of this classroom is about 23&#176;C.
    Look around at everything in the room!
    Everything with a temperature of 23&#176;C is in thermal equilibrium,
    and <emph>almost</emph> everything is in thermal equilibrium.
    But, a few things are not. For each item on the list,
    state if it is in thermal equilibrium.
    If not, state if it is warmer or colder than the rest of the room
    and briefly explain why.
</p>

<ol class="questionList">
    <li class="question">
        The books on the shelf.
    </li>
    <li class="question">
        The blackboard
    </li>
    <li class="question">
        Your friend
    </li>
    <li class="question">
        A bottle of water in an open bottle.
    </li>
    <li class="question">
        A bottle of water in a closed bottle.
    </li>
    <li class="question">
        A book that has been sitting right near the window...and assume it is January!
    </li>
    <li class="question">
        A chair no one is sitting in.
    </li>
    <li class="question">
        A cold-feeling piece of metal.
    </li>
    <li class="question">
        A dog! (because the teacher brought their dog to school!)
    </li>
    <li class="question">
        Your pencil
    </li>
    <li class="question">
        You pencil, after you have been holding it for a long time.
    </li>
</ol>


<h4>
    Extra Practice
</h4>

<ol class="questionList">
    <li class="question">
        Somebody throws a very hot rock into a bowl of cold water.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                How does heat move?
                <ol type = 'A'>
                    <li>
                        From the rock to the water.
                    </li>
                    <li>
                        From the water to the rock.
                    </li>
                    <li>
                        Heat does not move.
                    </li>
                </ol>
            </li>
            <li class="subQuestion">
                What happens to the temperature of the rock?
            </li>
            <li class="subQuestion">
                What happens to the temperature of the water?
            </li>
            <li class="subQuestion">
                When does heat stop moving?
            </li>
        </ol>
    </li>
</ol>


<h4>
    Estimating Final Temperature
</h4>

<p>
    Coming soon!
</p>
<p>
    (not a part of the assignment on 5-7-2020)
</p>