<p>
    Note: a compass and straight edge are necessary to complete this quiz.
</p>

<p>
    Gandalf is on a flat, open field surrounded by orcs.
    Thousands or orcs are chasing after Gandalf (a wizard) from all sides,
    and some flying orcs are even attacking him from above.
    As he is completely surrounded and all appears lost,
    Gandalf drives his staff into the ground and screams.
    A massive blast emanates from his staff,
    and every orc is instantly smote.
    Assume Gandalf creates a value of \( N \) blasts of power.
    These blasts of power are evenly distributed in a sphere around
    Gandalf's staff, and blast out in all directions.
</p>
<p>
    Your goal is to through geometry and reasonable assumptions,
    derive a formula of \( F_w \),
    the force of a wizard blast, in terms of reasonable variables.
</p>


<ol>
    <li>
        Draw Gandalf surroudended by orcs.
        If possible, make it a three-dimensional image,
        but you may make it a two-dimensional image as well.
    </li>
    <li>
        In your diagram, draw a sphere or radius \( r \)
        surrounding Gandalf.
        If your diagram is two-dimensional,
        represent it as a circle but know it is a sphere.
    </li>
    <li>
        Create a formula for the <emph>flux</emph> of Gandalf's power blasts
        through your sphere.
        Flux is given by the number of power blasts divided by the
        area of the sphere.
    </li>
    <li>
        Assume that the force of a wizard blast is directly
        proportional to the flux of wizard blast,
        and the constant of proportionality is \( W \),
        the universal constant of wizards.
        From this statement, derive a formula for
        \( F_w(r) \), the force of a wizard's blast,
        in terms of \( N \), \( r \), and \( W \).
    </li>
    <li>
        This quiz is supposed to be about gravity.
        What on earth does this ridiculous problem
        have to do with gravity?
        Your answer should have the following components:
        <ul>
            <li>
                Properly defined the variable \( d \) in the inverse square law and show how it is similar to
                the variable \( r \) in the law above.
            </li>
            <li>
                Describe the geometric reason why the variable \( d \) in the inverse square law
                follows an inverse square law.
            </li>
            <!--
            MORE!
            -->
        </ul>
    </li>
    <li>
        Bonus: Shalt you pass this quiz?
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3xYXUeSmb-Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
</ol>
