<p>
    Note: a compass and straight edge are necessary to complete this quiz.
</p>

<p>
    Gandalf is on a flat, open field surrounded by orcs.
    Thousands or orcs are chasing after Gandalf (a wizard) from all sides.
    As he is completely surrounded and all appears lost,
    Gandalf drives his staff into the ground and screams.
    A massive blast emanates from his staff,
    and every orc is instantly smote.
    The force with which each orc is blasted
    is given by the following formula:
    $$
    F_w = \frac{K_w}{r^n}
    $$
    in which \( F_w \) indicates the force of a wizard,
    \( K_w \) is a constant describing Gandalf's power**,
    and \( r \) represents the distance of that particular orc from Gandalf's staff,
    and \( n \) is some constant.
    Your goal is to decide on a logical value of the constant \( n \),
    and defend your decision using geometry.
</p>

<ol>
    <li>
        Draw, from a birds eye view,
        Gandalf being attacked by the orcs as he smashes his staff into the ground.
        Place Gandalf at the center of your picture.
        The orc's should be represented as dots.
        There should be over 20 orcs depicted,
        and they should be randomly spaced throughout the image.
    </li>
    <li>
        Draw at least 6 circles centered on Gandalf. Invent reasonable
        values for the radius of each circle.
    </li>
    <li>
        Draw force field lines emanating from Gandalf.
        Each line should have an arrow, and the arrow indicates
        the force that would be applied to an orc at that particular location.
        Your field lines should be regularly spaced and do not
        need to line up with the individual orcs.
    </li>
    <li>
        For each of the <emph>circles</emph> that you drew,
        determine the number of field lines crossing this circle
        per unit length of the circle.
        Using some basic circular geometry is necessary to complete this task.
        Call this quantity "field line density" for each circle.
    </li>
    <li>
        Create a table that relates the radius of each circle to
        its field line density.
    </li>
    <li>
        From your table,
        determine the proportionality relationship between the radius
        of each circle and its field line density. Briefly defend
        your choice.
    </li>
    <li>
        The higher the density of field lines through a circle,
        the stronger the force is smashing orcs that are located on that particular circle.
        Use this proportionality between radius and field line density
        of a circle to determine the constant \( n \)
        in the formula
        $$
        F_w = \frac{K_w}{d^n}.
        $$
        Briefly defend your answer.
    </li>
    <li>
        This example, though it seems completely ridiculous
        to include in a physics class,
        is actually relevant because the formula for the force
        that Gandalf exerts on the orcs is
        analogous to the Law of Universal Gravitation
        and Coulomb's Law.
        In about 4 sentences, explain why.
    </li>
    <li>
        BONUS: Shalt thou pass this quiz?
    </li>
</ol>


<p>
    ** \( k_w > 1\text{E}100 \text{ N} \cdot \text{m}^2 \). But this has nothing to do with the problem.
    Just know that Gandalf is very powerful.
</p>
