<p>
    The goal of this unit is to explore how each of the seven different electromagnetic
    waves affects our lives.
    We will start with <strong>infrared waves</strong>, and specifically <strong>infrared cameras</strong>,
    which are devices that see infrared light.
</p>

<h4>
    An Infrared Video
</h4>

<p>
    Watch this video on the basics of infrared imagery:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hELg9A3Y8I8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    From National Geographic
</p>

<p>
    Infrared cameras are often called <strong>thermal cameras</strong>.
    Many people will say that the "see heat," btu that isn't true!
    Heat can't bee seen at all.
    Warmer objects emit more infrared waves than cooler objects,
    and what infrared cameras due is detect infrared waves.
    In this way, they can estimate the temperatures of objects they see.
</p>

<p>
    Let's look in more depth at some of the images in the video:
</p>

<img src = '/podAssets/waves/the_electromagnetic_spectrum_conceptual/infrared_image_1.png' height = '300 px' width = 'auto' />

<p class="directions">
    Answer each of the questions below about the image above.
    Every single one of your answers should include the words "infrared waves."
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Probably coffee. It is hot and gives off lots of infrared waves.'>
        What is she drinking? Why does it appear white?
    </li>
    <li class = 'question' data-answer = 'It looks like a popsicle. It is cold and gives off fewer infrared waves.'>
        What is he eating? Why does it appear white?
    </li>
    <li class = 'question' data-answer = 'Human bodies are warm and give off lots of infrared waves. The clothing is cooler and blocks some of the infrared waves given off by the body.'>
        Why does their skin appear red, but their clothing appears green?
    </li>
    <li class = 'question' data-answer = "Probably because he's been eating that popsicle and his mouth is colder than normal. It gives off fewer infrared waves than the rest of his body.">
        Why does the inside of this mouth appear blue?
    </li>
</ol>

<h5>
    More Infrared Videos
</h5>

<p>
    Watch this video about applications of an infrared camera (which he calls a "thermal camera"):
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1DiqL8iFD8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p class = 'directions'>
    Answer each of the questions below. Each one of your answers should include the phrase "infrared waves."
</p>


<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Overheating circuit components emit more infrared waves.'>
        How can an infrared camera help build an electric circuit?
    </li>
    <li class = 'question' data-answer = 'When you accidentally build a short circuit, components will get warm and emit large amounts of infrared waves.'>
        If you've done the lab, relate the question above to the lab on <a href = '/labs/shortCircuits'>short circuits</a>!
        Imagine that, unlike in the lab, you accidentally, no purposefully, build a short circuit.
    </li>
    <li class = 'question' data-answer = 'Gas is much less dense than solid or liquid and does not emit enough infrared waves to be registered by the camera.'>
        Why can infrared cameras not see hot gas?
    </li>
    <li class = 'question' data-answer = 'Water coming out of the leaks is usually colder and gives off fewer infrared waves.'>
        How can an infrared camera help you find leaks.
    </li>
    <li class = 'question' data-answer = 'If there is a fire behind a door, it would give off many infrared waves and firefighters could see it before opening the door.'>
        How would an infrared camera be useful to firefighters?
    </li>
    <li class = 'question' data-answer = 'Cars that have recently been driven still have heat from the running engine and give off more infrared waves.'>
        Why do cars that have recently been driven appear different than cars that have been parked for a long time?
    </li>
</ol>

<h5>
    Police Usage of Infrared Cameras
</h5>
<p>
    Officers in Winnipeg, Canada were chasing down an escaping criminal at night.
    As he  drove away, a police helicopter monitored his movements with an
    infrared camera, and relayed the information back to the officers on the ground.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xsMMvLL0B_k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'The engine and other parts are emitting many electromagnetic waves below the chasis'>
        Why do cars look as though they have a bright light underneath them?
    </li>
    <li class = 'question' data-answer = 'Yes! The engine must be warmer when the car is running faster.'>
        Does the car become brighter when they are going faster?
    </li>
    <li class = 'question' data-answer = "Yes! This contrasts with the previous video. Probably: the exhaust is very hot, the exhaust is a much denser gas when it exits the tailpipe, and the police are using a far high quality infrared camera than the man in the previous video.">
        Can you see the exhaust from the car? The previous video said you could not see gasses, so why can you now?
    </li>
</ol>


<img src = '/podAssets/waves/the_electromagnetic_spectrum_conceptual/infrared_image_6.jpg' height = '300 px' width = 'auto' />

<p>
    The Massachusetts State Police used an infrared camera to help catch the Boston Marathon Bomber Dzhokar Tsarnaev.
    In 2013, a local college student Dzhokar Tsarnaev and his brother Tamerlan Tsarnaev planted two bombs that exploded at the finish line of the Boston Marathon,
    killing three and injuring many others.
    After several days of fear and speculation, investigators figured out who had planted the bombs through security footage
    from a restaurant at the finish line. Once he was spotted, Dzhokar and his Tamerlan assassinated an MIT police
    officer and got into a shootout with the police near Watertown, Massachusetts, a suburb of Boston, in which his Tamerlan was killed and Dzhokar
    was injured. Dzhokar hid in a boat in a person's backyard. For several hours,
    the Watertown, Boston, and all surrounding areas were put on lockdown while law enforcement went door to door trying
    to figure out where Dzhokar Tsarnaev was hiding. After several hours, the evidence pointed to the boat, the police used an
    infrared image from a helicopter to confirm his location and that he was seriously injured.
    Shortly thereafter, Dzhokar Tasrnaev
    was detained by police alive.
</p>


<h5>
    The different colors on an infrared camera:
</h5>
<p>
    Some infrared cameras have different colors, others are black and white.
    All humans, mammals, and birds appear as bright white in an infrared camera, regardless of how they
    would appear in person.
    The colors that appear on an infrared camera are decided by the programmer who designed the camera.
</p>


<ol class="answerList"></ol>


<h4>
    More Resources
</h4>

<h5>
    Video of Kangaroos fighting in infrared:
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/TRiS4DWlga4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
