<p>
    The electromagnetic waves are of key importance to astronomers.
    Objects in space give of radiation in all parts of the electromagnetic spectrum.
    Each of these waves give unique information about different objects in the universe.
    In this pod, we will look at information astronomers receive in the longer wavelength
    regions of the spectrum: radio waves, microwaves, and infrared waves.
    In the next pod, we will look at the shorter wavelength regions of the spectrum.
</p>

<p>
    NASA maintains a <a href = 'https://science.nasa.gov/ems'>very useful page</a> of information on astronomy and the entire electromagnetic spectrum
    from which much of this information is collected.
</p>

<p>
    One useful lesson you can learn from watching these videos:
    NASA has alot of telescopes styding space,
</p>

<p class = 'directions'>
    Based on the information in the three NASA videos,
    identify which type of electromagnetic wave is described
    by each statement below.
    The answer to each statement is "radio waves," "microwaves," or "infrared waves."
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'radio waves'>
        Due to their large wavelength, astronomers need a huge antenna and receiving dish in order to detect these waves.
    </li>
    <li class = 'question' data-answer = 'radio waves'>
        Discovered by Heinrich Hertz
    </li>
    <li class = 'question' data-answer = 'radio waves'>
        Pulsars and quasars were discovered using these waves.
    </li>
    <li class = 'question' data-answer = 'infrared waves'>
        Discovered by William Herschel.
    </li>
    <li class = 'question' data-answer = 'radio waves'>
        Emitted by charged particles around a particle, such as the sun's corona.
        [edit this question]
    </li>
    <li class = 'question' data-answer = 'infrared waves'>
        Can detect planet forming discs in the Orion Nebula.
    </li>
    <li class ='question' data-answer = 'microwave'>
        If your eyes could see this type of wave, they would fill the sky, all the time, even at night.
    </li>
    <li class = 'question' data-answer = 'microwave'>
        Which type of electromagnetic radiation forms a background in the universe due which is used to analyze the Big Bang?
    </li>
    <li class ='question' data-answer = 'microwave'>
        Satellites that record these waves can view storms and other weather events from space.
    </li>
    <li class ='question' data-answer = 'microwave'>
        Can identify moisture in the soil in satellites from space.
    </li>
    <li class = 'question' data-answer = 'infrared waves'>
        This is the wave from the sun that is largely responsible for warming earth's surface and atmosphere.
        (More on this in the pod on climate change).
    </li>
    <li class = 'question' data-answer = 'infrared wave'>
        Which type of electromagnetic wave astronomy detects particles of dust and can detect discs or forming planets?
    </li>
    <li class = 'question' data-answer = 'infrared waves'>
        Which type of electromagnetic wave is detected by the Spitzer Space Telescope?
    </li>

    <li class ='question' data-answer = 'microwave'>
        Are given off by arctic sea ice, and can be used to measure the size of the arctic sea ice from space.
    </li>
    <li class = 'question' data-answer = '(near) infrared waves'>
        All leaves reflect green light, but leaves reflect this kind of invisible light as well.
        By studying it, we can better evaluate the health of agriculture and forests on earth.
    </li>
    <li class = 'question' data-answer = 'Radio astronomy'>
        This type of electromagnetic wave astronomy can be done effectively
        from the ground. (All others require a satellite).
        [This is because their long wavelength ]
    </li>
</ol>

<ol class = 'answerList'></ol>