<p>
    In the unit on
    <a href = '/unit/waves/the_electromagnetic_spectrum_quantitative'>Quantitative Analysis of the Electromagnetic Spectrum</a>,
    we learned that the color of visible light is based on different wavelengths of electromagnetic wave.
    What makes red, green, and blue light different is a different wavelength.
    However, when thinking about color,
    we usually think of <emph>items themselves</emph> having color,
    such as when we say "That's a red sweater." or "Leaves are green."
    In this pod, we will answer the question:
    "How do individual items have color?"
</p>

<h4>
    Items with Color
</h4>
<p>
    In physics, we say there are six colors in the rainbow:
    red, orange, yellow, green, blue, and violet.
    These six colors exist because of
    <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/choosing_color_by_wavelength'>electromagnetic waves of different wavelengths</a>.
</p>

<ul class = 'principleList'>
    <li>
        When an electromagnetic wave of the <strong>same color</strong>
        strikes an object, it reflects that wave.
    </li>
    <li>
        When an electromagnetic wave of a <strong>different color</strong>
        strikes an object, it absorbs that wave.
    </li>
    <li>
        The reflected wave goes into your eye,
        telling your brain what color something is.
    </li>
</ul>


<ol class = 'questionList'>
    <li class ='question'>
        Someone is wearing a RED sweater:
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = 'reflected'>
                A red photon strikes this sweater.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A blue photon strikes this sweater.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A green photon strikes this sweater.
                Is it absorbed or reflected?
            </li>
        </ol>
    </li>
    <li class ='question'>
        A leaf is GREEN:
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A red photon strikes this leaf.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A blue photon strikes this leaf.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'reflected'>
                A green photon strikes this leaf.
                Is it absorbed or reflected?
            </li>
        </ol>
    </li>
    <li class ='question'>
        The cover of a book is blue:
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A yellow photon strikes this book.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'reflected'>
                A blue photon strikes this book.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A violet photon strikes this book.
                Is it absorbed or reflected?
            </li>
        </ol>
    </li>
    <li class ='question'>
        A potion is orange:
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = 'reflected'>
                An orange photon strikes this book.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A violet photon strikes this book.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A yellow photon strikes this book.
                Is it absorbed or reflected?
            </li>
        </ol>
    </li>
</ol>

<h4>
    White and Black Items
</h4>


<ul class = 'principleList'>
    <li>
        An object that is white <strong>reflects every color</strong>.
    </li>
    <li>
        An object that is block <strong>absorbs every color</strong>.
    </li>
    <li>
        White light is made from all colors of light put together, so when
        every color is reflected, something appears white.
    </li>
    <li>
        Black is the absence of light, so when all colors are absorbed, something appaers
        black.
    </li>
</ul>

<ol class = 'questionList'>
    <li class ='question'>
        A car is white:
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = 'reflected'>
                An orange photon strikes this car.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'reflected'>
                A violet photon strikes this car.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'reflected'>
                A yellow photon strikes this car.
                Is it absorbed or reflected?
            </li>
        </ol>
    </li>
    <li class ='question'>
        A T-Shirt is black:
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A blue photon strikes this T-Shirt.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A red photon strikes this T-Shirt.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A green photon strikes this T-Shirt.
                Is it absorbed or reflected?
            </li>
        </ol>
    </li>
    <li class ='question'>
        You see a black bear:
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A violet photon strikes the bear.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A blue photon strikes the bear.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'absorbed'>
                A red photon strikes the bear.
                Is it absorbed or reflected?
            </li>
        </ol>
    </li>
    <li class ='question'>
        You see a polar bear:
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = 'reflected'>
                A yellow photon strikes the bear.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'reflected'>
                A green photon strikes the bear.
                Is it absorbed or reflected?
            </li>
            <li class = 'subQuestion' data-answer = 'reflected'>
                An orange photon strikes the bear.
                Is it absorbed or reflected?
            </li>
        </ol>
    </li>
</ol>



<h4>
    Implications
</h4>

<ul class = 'principleList'>
    <li>
        When waring black clothing, you feel <emph>warmer</emph>,
        because your clothing absorbs all wavelengths
        of visible light.
    </li>
    <li>
        When wearing  white clothing, you feel <emph>cooler</emph>,
        because your clothing does not absorb any wavelengths
        of visible light.
    </li>
    <li>
        Lots of white objects can be extremely bright, sometimes to the point
        where they are uncomfortable to your eyes,
        because they reflect so much light.
    </li>
    <li>
        Having a very white surface,
        such as the polar ice caps,
        cools down a planet because it reflects more light from
        its star.
        This effect is called <a href = 'https://en.wikipedia.org/wiki/Albedo'>albedo</a>.
    </li>
</ul>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'A white T-shirt. It reflects all wavelengths of light and keeps your cooler.'>
        It is a summer day, and its over 100 degrees Fahrenheit outside.
        What color shirt do you want to wear to keep cool? Why?
    </li>
    <li class = 'question' data-answer = 'A black jacket. It absorbed all wavelengths of light and keeps you warmer.'>
        It is a cold winter day, and it is less than 0 degrees Fahrenheit outside.
        What color shirt do you want to wear to keep warm? Why?
    </li>
    <li class = 'question' data-answer = 'The white snow reflects the sunlight, and it is everywhere!'>
        It snowed last night! When you step outside,
        you see beautiful snow covering every surface.
        But unfortunately, the sunlight is blinding and hurts your eyes.
        You better go put on some sunglasses.
        Why did this happen?
    </li>
    <li class = 'question' data-answer = "The planet with a white surface is probably cooler, because it reflects more of the sun's light back into space. The planet with a black surface absorbs more of the sun's light.">
        Astronomers discovered two new dwarf planets!
        They are both an equal distance from the sun,
        so they receive the same intensity of light from the sun.
        But, one of the planet is covered in snow and ice,
        and the other is covered with some sort of black rock.
        Which planet do you think is warmer? Why?
        (Answer by referring to the content on electromagnetic waves!)
    </li>
</ol>


<ol class = 'answerList'></ol>