<p>
    This pod deals with the loaded word <strong>radiation</strong>.
    We learn when it means something dangerous and when it means something
    perfectly safe.
</p>


<h4>
    The word "Radiation"
</h4>

<p>
    When people see the word “radiation” they often think of something very dangerous.
    But, in physics, “radiation” is not dangerous at all.
    In fact, you are surrounded by completely safe radiation all the time!
</p>

<p class="definition">
    In physics <strong>"radiation"</strong> is
    a synonym for <strong>electromagnetic wave</strong>.
    It can mean any wave:
    radio, micro, infrared, visible light, ultraviolet, X-Ray, or gamma ray.
    It is also often called <strong>electromagnetic radiation</strong>.
</p>

<p>
    The word "radiation" comes from the same root as the word "radius",
    as in the radius of a circle.
    If you have some source of electromagnetic waves,
    such as a light bulb, it sends electromagnetic waves out in every single direction,
    just like the radii come out in every direction from the center of a circle or sphere.
</p>


<p class="directions">
    For each statement, chose true or false:
</p>
<ol class="questionList">
    <li class="question">
        All radiation is dangerous.
    </li>
    <li class="question">
        Light is radiation.
    </li>
    <li class="question">
        There is radiation around you right now.
    </li>
</ol>

<ol class="questionList">
    <li class="question">
        What are some examples of radiation that
        is surrounding you right now?
    </li>
</ol>


<h4>
    Ionizing Radiation vs. Non-Ionizing Radiation
</h4>

<p class="definition">
    All electromagnetic radiation comes in tiny pieces
    called <strong>photons</strong>.
    Each photon has a very specific amount of energy.
    For example, a photon of red light has 1.8 electron Volts of energy.
</p>

<p class="definition">
    An <strong>ion</strong> is an atom that does not have
    a neutral change. It is called an ion because it has
    either gained or lost an electron.
</p>

<p>
    Imagine that a photon of light strieks an atom.
    If the photon has enough energy, then it will knock
    one of the electrons in the atom out of the atom.
    We say that the photon <emph>ionized</emph>
    the atom.
</p>


<p>
    The simplest atom is hydrogen and has only one proton and one electron.
    It takes 13.6 electron volts of energy to knock the electron out of the hydrogen atom.
    Thus, all electromagnetic photons with an energy greater than 13.6 electron Volts are called <strong>ionizing radiation</strong>.
    All electromagnetic waves with an energy less than 13.6 electron Volts are called <strong>non-ionizing radiation</strong>.
</p>

<p>
    A photon with precisely 13.6 electron volts, the first photon that is considered <emph>ionizing</emph>,
    comes in the ultraviolet region of the electromagnetic spectrum.
</p>

<img src = '/podAssets/waves/the_electromagnetic_spectrum_conceptual/ionizing_radiation_diagram.jpeg' height = '300px' width = 'auto' class = 'no-print'>



<p class="directions">
    For each electromagnetic wave, state if it is:
    <br>a) ionizing radiation
    <br>b) non-ionizing radiation
    <br>c) partly ionizing radiation and partly non-ionizing radiation
</p>

<ol class="questionList">
    <li class="question">
        Infrared
    </li>
    <li class="question">
        Microwaves
    </li>
    <li class="question">
        Gamma Rays
    </li>
    <li class="question">
        Ultraviolet Rays
    </li>
    <li class="question">
        Radio waves
    </li>
    <li class="question">
        X-Rays
    </li>
    <li class="question">
        Visible Light
    </li>
    <li class="question">
        A photon with 12 electron Volts of energy.
    </li>
    <li class="question">
        A photon with 14 electron volts of energy.
    </li>
</ol>

<p class="directions">
    For each electromagnetic wave, state if it is:
    <br>a) ionizing radiation
    <br>b) non-ionizing radiation
    <br>c) partly ionizing radiation and partly non-ionizing radiation
</p>

<ol class="questionList">
    <li class="question">
        Light from a light bulb
    </li>
    <li class="question">
        Light form the sun (Light from the sun is primarily infrared, visible, and ultraviolet radiation)
    </li>
    <li class="question">
        A signal from a radio transmitter
    </li>
    <li class="question">
        A pulse from an X-Ray machine
    </li>
    <li class="question">
        Radiation used in a microwave oven
    </li>
    <li class="question">
        Radiation used by a wifi signal
    </li>
    <li class="question">
        Radiation from a remote control (infrared)
    </li>
    <li class="question">
        Radiation emitted by a gamma ray burst
    </li>
</ol>

<p>
    In physics, as stated above, the word “radiation” does not mean something dangerous, but rather means any electromagnetic wave.
    There is both non-dangerous radiation and dangerous radiation.
    The dangerous radiation is the ionizing radiation and the non-dangerous radiation is the non-ionizing radiation.
</p>


<ol class="answerList"></ol>