<p>
    This is the second half of a two-pod sequence
    on how astronomers study space in the entire electromagnetic
    spectrum.
    In this pod, we focus on the visible, ultraviolet, X-Ray and Gamma Ray
    segments of the electromagnetic spectrum.
</p>


<p>
    NASA maintains a <a href = 'https://science.nasa.gov/ems'>very useful page</a> of information on astronomy and the entire electromagnetic spectrum
    from which much of this information is collected.
    These four videos from the website give basic information on how NASA scientists detect and
    analyze visible light waves, ultraviolet waves, X-Ray waves, and gamma ray waves.
    The full youtube series is available <a href = 'https://www.youtube.com/playlist?list=PL09E558656CA5DF76'>here</a>.
</p>

<ul>
    <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PMtC34pzKGc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
    <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QW5zeVy8aE0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <li>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CCAYcuCWOnM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
    <li>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TA5SLDiIUWs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
</ul>


<p class = 'directions'>
    Based on the information in the three NASA videos,
    identify which type of electromagnetic wave is described
    by each statement below.
    The answer to each statement is "radio waves," "microwaves," or "infrared waves."
</p>


<ol class = 'questionList'>
    <li class = 'question' data-answer = 'X-Ray and Gamma Ray'>
        Given off by extremely hot supernovas (exploding stars) [2 answers].
    </li>
    <li class = 'question' data-answer = 'X-Ray'>
        Scientists discovered the shape of DNA by determining how it diffracted these particular waves.
    </li>
    <li class = 'question' data-answer = 'ultraviolet'>
        Most of the harmful types of this radiation are absorbed by ozone in the earth's atmosphere.
    </li>
    <li class = 'question' data-answer = 'X-Ray'>
        Studied by the NASA's Chandra satellite.
    </li>
    <li class = 'question' data-answer = 'gamma ray'>
        Studied by NASA's Swift satellite and the Fermi space telescope.
    </li>
    <li class = 'question' data-answer = 'red'>
        When objets are cooler, what visible colors do they emit?
    </li>
    <li class = 'question' data-answer = 'X-Ray'>
        Given off by hot plasma in the corona of the sun.
    </li>
    <li class = 'question' data-answer = 'ultraviolet'>
        NASA detects types of this radiation that reflect from far away stars off the moon
        in order to try to find water on the moon.
    </li>
    <li class = 'question' data-answer = 'ultraviolet light'>
        This type of wave was discovered by Joseph Ritter.
    </li>
    <li class = 'question' data-answer = 'ultraviolet (although this fact is true of most regions of the spectrum as well)'>
        Because the earth's atmosphere (specifically ozone) absorbs most of this light,
        NASA scientists can only properly study from satellites above the atmosphere.
    </li>
    <li class = 'question' data-answer = 'gamma ray'>
        Deadly to humans due to high energy.
    </li>
    <li class = 'question' data-answer = 'gamma ray'>
        Comes in bursts that last fractions of a second to minutes.
    </li>
    <li class = 'question' data-answer = 'gamma ray'>
        Given off by the sun's coronal mass ejection; could be studied to understand solar bursts that can disrupt our technology.
    </li>
    <li class = 'question' data-answer = 'visible light'>
        This type of electromagnetic wave would tell us, if we were on another planet, what it would look like to us.
    </li>
    <li class = 'question' data-answer = 'visible light (blue on earth)'>
        The atmosphere appears a certain color because it scatters this type of light.
    </li>
    <li class = 'question' data-answer = 'gamma ray'>
        Scientists could not detect these until they used balloons to go above the atmosphere.
    </li>
    <li class = 'question' data-answer = 'gamma ray'>
        Has a wavelength small enough to travel through most atoms.
    </li>
    <li class = 'question' data-answer = 'X-Ray'>
        Wilhelm Roentgen discovered that you could see images of out bones by firing these waves through out body.
    </li>
    <li class = 'question' data-answer = 'Isaac Newton'>
        This scientist demonstrated that white light is made up all colors of light put together.
    </li>
    <li class = 'question' data-answer = 'visible light'>
        NASA scientists send lasers of this type of light to a planet, and then, based on the time taken to receive a response,
        determine the altitude of a planet at that point.
    </li>
    <li class = 'question' data-answer = 'blue'>
        When objects are hotter, what visible colors do they emit?
    </li>
    <li class = 'question' data-answer = 'ultraviolet'>
        NASA often gains more information from looking at stars and galaxies this, broader, higher energy
        range than looking only in visible light.
    </li>
</ol>

<ol class = 'answerList'></ol>