<p class = 'directions'>
    Please answer each question in at
    least one complete sentence.
</p>

<ol>
    <li>
        What is your goal when you are studying <emph>kinematics</emph>?
    </li>
    <li>
        What is explicitly <strong>not</strong> your goal
        when you are studying kinematics?
    </li>
    <li>
        What is the difference between <emph>qualitative</emph>
        kinematics and <emph>quantitative</emph> kinematics?
    </li>
    <li>
        Make up one example of a <emph>qualitative</emph>
        kinematics question and answer it.
    </li>
</ol>


<p>
    Note: Make sure on the questions above you do not include a
    <strong>circular definition</strong>.
    A circular definition is a definition that uses the word being defined.
    Example:
    "Qualitative science is about qualities and quantitative science is about quantities."
</p>
