<p>
    A mass moving at some velocity
    strikes an equal mass that is stationary.
    Their collision is elastic.
    Prove that the first object will
    stop and the second will begin moving with
    the same velocity as the first.
</p>

<p>
    An object of mass \( m_A \) and velocity \( v_{ai} \)
    collides elastically into an object of mass \( m_B \) and velocity \( v_{bi} \).
    Following the collision, the objects have velocity \( v_{af} \) and \( v_{bf} \).
    Use two relevant conservation equations to prove that:
</p>

<p>
    $$
    v_{ai} + v_{af} = v_{bi} + v_{bf}
    $$
</p>