<p>
    Your goal is to determine the acceleration of a body freely falling on earth using the following items:
</p>
<ul>
    <li>
        A tennis ball
    </li>
    <li>
        A stopwatch
    </li>
    <li>
        A ruler
    </li>
    <li>
        A balcony
    </li>
</ul>

<ol>
    <li>
        Briefly describe the methods you use.
    </li>
    <li>
        Describe any equations you use and write why you picked those equations.
    </li>
    <li>
        What value did you fid for free-fall acceleration?
    </li>
    <li>
        Assuming the theoretically calculated value on earth is 9.8 m/s/s, what is your percent error?
    </li>
    <li>
        What are two sources of error in this method? Do they provide random or systematic error?
    </li>
    <li>
        Write one way to reduce error that does not cost any money.
    </li>
    <li>
        Write one way to reduce error that is very expensive.
    </li>
</ol>