<p class = 'directions'>
    Use the equation below to to answer each questions.
    Please write the equation each time you use it <emph>before</emph> plugging values in.
</p>
<p class = 'equation'>
    $$ d = vt $$
</p>
<ol>
    <li class = 'physicsQuestion'>
        I have a speed of 3 m/s. <br>
        I have a time of 18 seconds. <br>
        What is my distance? <br>
        <div class = 'formulaBoxDiv'></div>
    </li>
    <li class = 'physicsQuestion'>
        I have a distance of 66 m. <br>
        I have a time of 6 seconds. <br>
        What is my speed? <br>
        <div class = 'formulaBoxDiv'></div>
    </li>
</ol>
