<p>

</p>

<<h3>
    Less accurate measurement: Not accounting for internal ressitance
</h3>


<h3>
    More accurate measurement: Accounting for Internal Resistance
</h3>

<ol>
    <li>
        Determine the internal resistance of a battery. [necessary?]
    </li>
    <li>
        Connect the battery to a single resistor and measure the current
        and voltage across the resistor.
        Assume that the resistor color bands are accurate
    </li>
</ol>