<ol class="directions">
    For full credit, you must write out the formulas that you
    use and some description of the work you did to find an answer.
</ol>

<ol>
    <li>
        When 600. grams of iron at 300. degrees Celsius is added to 4.0 kilograms of water at
        20. degrees Celsius, what will be the final temperature of the mixture?
    </li>
    <li>
        You add 500. grams of an unknown material at 500. degrees Celsius to 1.00 kilograms of water at 10.0 degrees Celsius.
        The resultant mixture has a final temperature of 48.32 degrees Celsius.
        What is most likely the material in question?
    </li>
</ol>