<p>
    In all of the previous sections of this unit,
    we have analyzed only three quantities:
    mass, velocity, and momentum.
    But only other quantity is crucial in understanding momentum: kinetic energy.
</p>

<p>
    The total amount of energy added to the system is the WORK DONE on the system.
</p>

<ul>
    <li>
        If kinetic energy is lost, it is an inelastic collision. (negative work done on the system)
    </li>
    <li>
        If kinetic energy is conserved, it is an elastic collision. (zero work done on the system)
    </li>
    <li>
        If kinetic energy is gained, it is an explosion (positive work done on the system).
    </li>
</ul>

<!--
In each of these problems,
figure out all unknown variables using the conservation of momentum,
then determine how much work was done on the system,
and analyze what force did this work on the system.
-->




<ol class = 'questionList'>
    <li class = 'question'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 300 kg and is moving RIGHT with a speed of 12 m/s.
                    </li>
                    <li>
                        Car B has a mass of 100 kg and is moving LEFT with a speed of 6 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision...
                <ul>
                    <li>
                        Car A is stationary.
                    </li>
                    <li>
                        Car B is moving at an unknown velocity.
                    </li>
                </ul>
            </li>
        </ul>
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = '\( m_a v_{ai} + m_b v_{bi} = m_b v_{bf} \)'>
                Write an equation based on the conservation of momentum that relates
                all the variables in this problem.
                Write the equation in full before plugging any numbers into it.
            </li>
            <li class = 'subQuestion' data-answer = '15 m/s'>
                Determine the speed (magnitude only) of car B after the collision.
            </li>
            <li class = 'subQuestion' data-answer = '22500 Joules'>
                Determine the total amount of kinetic energy in the two car system before the collision.
            </li>
            <li class = 'subQuestion' data-answer = '22500 Joules'>
                Determine the total amount of kinetic energy in the two car system after the collision.
            </li>
            <li class = 'subQuestion' data-answer = '0'>
                Determine the amount of work done on the two car system during the collision.
            </li>
            <li class = 'subQuestion' data-anwer = 'Perfectly Elastic'>
                What type of collision is this?
            </li>
        </ol>
</ol>


<div class = 'pageBreak'></div>

<h3>
    Answers
</h3>

<ol class = 'answerList'></ol>