<p>
    In all of the previous sections of this unit,
    we have analyzed only three quantities:
    mass, velocity, and momentum.
    But only other quantity is crucial in understanding momentum: kinetic energy.
</p>

<p>
    The total amount of energy added to the system is the WORK DONE on the system.
</p>

<ul>
    <li>
        If kinetic energy is lost, it is an inelastic collision. (negative work done on the system)
    </li>
    <li>
        If kinetic energy is conserved, it is an elastic collision. (zero work done on the system)
    </li>
    <li>
        If kinetic energy is gained, it is an explosion (positive work done on the system).
    </li>
</ul>

<!--
In each of these problems,
figure out all unknown variables using the conservation of momentum,
then determine how much work was done on the system,
and analyze what force did this work on the system.
-->