<!--
Perfectly Inelastic Collisions
-->

<p>
    In the previous section,
    you used information given and the conservation of momentum
    to fill out a table of information relating two cars.
    This section continues building the same skill,
    but focuses on a particular type of collisions: <strong>perfectly inelastic collisions</strong>.
</p>

<p class="definition">
    In a <strong>perfectly inelastic collision</strong>,
    the two objects that collide stick together following the collision.
</p>

<p>
    These tables are actually slightly easier to figure out,
    because there aren't as many boxes.
    Just remember that because two objects stick together,
    after their collision their mass is combined!
</p>

<!---
- let these problems involve a little bit more writing
- have some examples that are not car A and car B,
such as two train cars or two people

- have four looking for the final speed
- then ahve two looking for the initial speed?
-->