<p>
    Total Momentum = Momentum A + Momentum B
</p>

<h4>
    The Conservation of Momentum
</h4>
<p>
    The total momentum is the same before and after a collision!
</p>

<!---
4 sets of problems that are simple:
(these are all level 2 pods)
[4 level 2 pods...all straightforward]

SIMPLE [1 direction collision]
4 problems where one is stationary before
then 4 problems where one is moving after

Perfectly inelastic collision
(8 problems)

Head-on collisions [2 direction collisions]
(8 problems)

Explosions
(8 problems)

[32 problems on level 2, all involving using a formula]

then, in level 3,
it will be:
- deriving equations [1 pod] [moving on from the tables that lay it out for you...]
- solving problems where the numbers are not easily laid out [2 pods?]


level 4:
- algebraic solutions
- proportionality
- numerical elastic collision problems

level 5:
- algebraic and conceptual elastic collision problems
- newton's cradle

level 6:
- need to think of one
-->

<ol class = 'questionList'>
    <li class = 'question' data-answer = '30 m/s'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 400 kg and is moving right with a speed of 15 m/s.
                    </li>
                    <li>
                        Car B has a mass of 200 kg and is stationary before the collision.
                    </li>
                </ul>
            </li>
            <li>
                After the collision...
                <ul>
                    <li>
                        Car A is stationary.
                    </li>
                    <li>
                        How fast is car B moving?
                    </li>
                </ul>
            </li>
        </ul>
        <div id = 'table1' class = 'basicMomentumTable'></div>
    </li>
    <li class = 'question' data-answer = '36 m/s'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 100 kg and is stationary.
                    </li>
                    <li>
                        Car B has a mass of 300 kg and is moving to the right with a speed of 12 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision...
                <ul>
                    <li>
                        Car B is stationary.
                    </li>
                    <li>
                        How fast is car A moving?
                    </li>
                </ul>
            </li>
            <div id = 'table2' class = 'basicMomentumTable'></div>
        </ul>
    </li>
    <li class = 'question' data-answer = '15 m/s'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 600 kg and is moving forward at 4 m/s.
                    </li>
                    <li>
                        Car B has a mass of 200 kg and is moving forward at a rate of only 3 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision..
                <ul>
                    <li>
                        Car A is stationary.
                    </li>
                    <li>
                        How fast is Car B moving?
                    </li>
                </ul>
            </li>
        </ul>
        <div class = 'basicMomentumTable'></div>
    </li>
    <li class = 'question' data-answer = '20 m/s'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 1000 kg and is moving at a rate of 20 m/s.
                    </li>
                    <li>
                        Car B has a mass of 2000 kg and is moving at a rate of 10 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision..
                <ul>
                    <li>
                        Car A is stationary.
                    </li>
                    <li>
                        How fast is Car B moving?
                    </li>
                </ul>
            </li>
        </ul>
        <div class = 'basicMomentumTable'></div>
    </li>
    <li class = 'question' data-answer = '9.0 m/s'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 20 kg and is moving at 10 m/s.
                    </li>
                    <li>
                        Car B has a mass of 30 kg and is moving at 5 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision..
                <ul>
                    <li>
                        Car A is moving at 4 m/s.
                    </li>
                    <li>
                        How fast is car B moving?
                    </li>
                </ul>
            </li>
        </ul>
        <div class = 'basicMomentumTable'></div>
    </li>
    <li class = 'question' data-answer = '7 m/s'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 200 kg and is moving at 9 m/s.
                    </li>
                    <li>
                        Car B has a mass of 50 kg and is moving at 4 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision..
                <ul>
                    <li>
                        How fast is car A moving?
                    </li>
                    <li>
                        Car B is moving at 12 m/s.
                    </li>
                </ul>
            </li>
        </ul>
        <div class = 'basicMomentumTable'></div>
    </li>
    <li class = 'question' data-answer = '4 m/s'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 60 kg and is moving at an unknown speed.
                    </li>
                    <li>
                        Car B has a mass of 30 kg and is moving at 8 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision..
                <ul>
                    <li>
                        Car A is moving at 4 m/s.
                    </li>
                    <li>
                        Car B is moving at 6 m/s.
                    </li>
                </ul>
            </li>
        </ul>
        <div class = 'basicMomentumTable'></div>
    </li>
    <li class = 'question' data-answer = '2 m/s'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 40 kg and is moving at 5 m/s.
                    </li>
                    <li>
                        Car B has a mass of 30 kg and is moving at an unknown speed.
                    </li>
                </ul>
            </li>
            <li>
                After the collision..
                <ul>
                    <li>
                        Car A is moving at 2 m/s.
                    </li>
                    <li>
                        Car B is moving at 6 m/s.
                    </li>
                </ul>
            </li>
        </ul>
        <div class = 'basicMomentumTable'></div>
    </li>
</ol>

<script>
    let basicMomentumTable = new MomentumTable();
    $(".basicMomentumTable").append(basicMomentumTable.draw(350,350));
</script>

<ol class = 'answerList'>

</ol>
