<!--
symbolic solutions
-->


<p>
    In this section we will derive equations for the most common problems
    on the conservation of momentum.
    These equations can be especially helpful for confirming the conservation
    of momentum experimentally.
</p>


<ol>
    <li>
        A cannon of mass \( M_C \) is loaded with a cannonball of mass \( m_b \).
        Initially, they are stationary.
        The cannon fires the cannonball with a velocity \( v_b \),
        and recoils with a velocity \( v_C \).
        Define the direction the cannonball is fired as the positive direction.
        <ol type = 'a'>
            <li>
                Derive an equation from the conservation of momentum
                that relates the variables \( M_C \), \( m_b \), \( v_C \), and \( v_b \).
                Do not solve the equation for any particular variable.
                Describe what each term of the equation represents.
            </li>
            <li>
                Solve for an formula for \( v_C \) in terms of
                \( M_C \), \( m_b \), and \( v_b \).
            </li>
            <li>
                Demonstrate the formula you derived is dimensionally correct.
            </li>
            <li>
                The recoil velocity of the cannon should be in the opposite
                direction as the velocity of the cannonball.
                Demonstrate from your formula that this is the case.
            </li>
            <li>
                Solve for a new equation that relates the ratio of the speeds
                \( \left| \frac{v_C}{v_b} \right| \)
                to the ratio of the masses \( \frac{M_C}{m_b} \).
            </li>
            <li>
                What is the proportionality relationship between \( \left| \frac{v_C}{v_b} \right| \)
                and \( \frac{M_C}{m_b} \)
                and what is the constant of proportionality?
            </li>
        </ol>
    </li>
    <li>
        <!-- perfectly inelastic collision -->
    </li>
    <li>
        <!-- general collision -->
    </li>
    <li>
        <!-- one more? -->
    </li>
</ol>