<p>
    Total Momentum = Momentum A + Momentum B
</p>

<h4>
    The Conservation of Momentum
</h4>
<p>
    The total momentum is the same before and after a collision!
</p>

<!---
4 sets of problems that are simple:
(these are all level 2 pods)
[4 level 2 pods...all straightforward]

SIMPLE [1 direction collision]
4 problems where one is stationary before
then 4 problems where one is moving after

Perfectly inelastic collision
(8 problems)

Head-on collisions [2 direction collisions]
(8 problems)

Explosions
(8 problems)

[32 problems on level 2, all involving using a formula]

then, in level 3,
it will be:
- deriving equations [1 pod] [moving on from the tables that lay it out for you...]
- solving problems where the numbers are not easily laid out [2 pods?]


level 4:
- algebraic solutions
- proportionality
- numerical elastic collision problems

level 5:
- algebraic and conceptual elastic collision problems
- newton's cradle

level 6:
- need to think of one
-->

<ol>
    <li>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 400 kg and is moving right with a speed of 15 m/s.
                    </li>
                    <li>
                        Car B has a mass of 200 kg and is stationary before the collision.
                    </li>
                </ul>
            </li>
            <li>
                After the collision...
                <ul>
                    <li>
                        Car A is stationary.
                    </li>
                    <li>
                        How fast is car B moving?
                    </li>
                </ul>
            </li>
        </ul>
        <!-- TABLE-->
    </li>
    <li>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 100 kg and is stationary.
                    </li>
                    <li>
                        Car B has a mass of 300 kg and is moving to the right with a speed of 12 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision...
                <ul>
                    <li>
                        Car B is stationary.
                    </li>
                    <li>
                        How fast is car A moving?
                    </li>
                </ul>
            </li>
            <!-- TABLE --->
        </ul>
    </li>
</ol>