<!--
Perfectly Inelastic Collisions
-->

<p>
    In the previous section,
    you used information given and the conservation of momentum
    to fill out a table of information relating two cars.
    This section continues building the same skill,
    but focuses on a particular type of collisions: <strong>perfectly inelastic collisions</strong>.
</p>

<p class="definition">
    In a <strong>perfectly inelastic collision</strong>,
    the two objects that collide stick together following the collision.
</p>

<p>
    These tables are actually slightly easier to figure out,
    because there aren't as many boxes.
    Just remember that because two objects stick together,
    after their collision their mass is combined!
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '6.67 m/s'>
      <ul>
          <li>
              Before the collision...
              <ul>
                  <li>
                      Car A has a mass of 400 kg and is moving right with a speed of 10 m/s.
                  </li>
                  <li>
                      Car B has a mass of 200 kg and is stationary before the collision.
                  </li>
              </ul>
          </li>
          <li>
              After the collision,
              the two cars stick together.
              It is a <emph>totally inelastic collision</emph>
          </li>
          <li>
            What is the speed of the cars after the collision?
          </li>
      </ul>
      <div id = 'table1' class = 'totallyInelasticTable'></div>
    </li>
    <li class = 'question' data-answer = '7.5 m/s'>
      <ul>
          <li>
              Before the collision...
              <ul>
                  <li>
                      Car A has a mass of 200 kg and is moving right with a speed of 15 m/s.
                  </li>
                  <li>
                      Car B has a mass of 200 kg and is stationary before the collision.
                  </li>
              </ul>
          </li>
          <li>
              After the collision,
              the two cars stick together.
              It is a <emph>totally inelastic collision</emph>
          </li>
          <li>
            What is the speed of the cars after the collision?
          </li>
      </ul>
      <div id = 'table1' class = 'totallyInelasticTable'></div>
    </li>
    <div class = 'pageBreak'></div>
    <li class = 'question' data-answer = '18.125 m/s'>
      <ul>
          <li>
              Before the collision...
              <ul>
                  <li>
                      Car A has a mass of 500 kg and is moving right with a speed of 20 m/s.
                  </li>
                  <li>
                      Car B has a mass of 300 kg and is moving right with a speed of 15 m/s.
                  </li>
              </ul>
          </li>
          <li>
              After the collision,
              the two cars stick together.
              It is a <emph>totally inelastic collision</emph>
          </li>
          <li>
            What is the speed of the cars after the collision?
          </li>
      </ul>
      <div id = 'table1' class = 'totallyInelasticTable'></div></li>
    <li class = 'question' data-answer = 'coming soon'>
      <ul>
          <li>
              Before the collision...
              <ul>
                  <li>
                      Car A has a mass of 1000 kg and is moving with a speed of 12 m/s.
                  </li>
                  <li>
                      Car B has a mass of 1200 kg and is moving with a speed of 6 m/s.
                  </li>
              </ul>
          </li>
          <li>
              After the collision,
              the two cars stick together.
              It is a <emph>totally inelastic collision</emph>
          </li>
          <li>
            What is the speed of the cars after the collision?
          </li>
      </ul>
      <div id = 'table1' class = 'totallyInelasticTable'></div>
    </li>
    <div class = 'pageBreak'></div>
    <li class = 'question' data-answer = '2.5 m/s'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 200 kg and is moving at an unknown velocity.
                    </li>
                    <li>
                        Car B has a mass of 300 kg and is moving at 5 m/s.
                    </li>
                </ul>
            </li>
            <li>
                After the collision,
                the two cars stick together and move at a speed of 4 m/s.
            </li>
            <li>
                What was the initial speed of car A?
            </li>
        </ul>
        <div id = 'table1' class = 'totallyInelasticTable'></div>
    </li>
    <li class = 'question' data-answer = '12 m/s'>
        <ul>
            <li>
                Before the collision...
                <ul>
                    <li>
                        Car A has a mass of 400 kg and is moving at a velocity of 8 m/s.
                    </li>
                    <li>
                        Car B also has a mass of 400 kg and is moving at an unknown velocity.
                    </li>
                </ul>
            </li>
            <li>
                After the collision,
                the two cars stick together and move at a speed of 10 m/s.
            </li>
            <li>
                What was the initial velocity of car B?
            </li>
        </ul>
        <div id = 'table1' class = 'totallyInelasticTable'></div>
    </li>
    <div class = 'pageBreak'></div>
    <li class = 'question' data-answer = '27.6 m/s'>
      A truck with a mass of 4000 kg is speeding at a rate
      of 30 m/s.
      It slams into a compact car with a mass of 1000 kg
      driving safely at a rate of 18 m/s.
      The compact sticks to the truck after the collision.
      What is their speed?
      <div id = 'table1' class = 'totallyInelasticTable2'></div>
    </li>
    <li class = 'question' data-answer = '7.14 m/s'>
      A linebacker with a mass of 120 kg runs at a rate
      of 8 m/s into a running back.
      The running back has a mass of 90 kg and is
      running in the same direction at a rate of 6 m/s.
      The linebacker wraps his arms around the running back
      so they stick together following the collision.
      What is their speed?
      <div id = 'table1' class = 'totallyInelasticTable3'></div>
    </li>
</ol>

<script>
  let totallyInelasticTable = new MomentumTable();
  totallyInelasticTable.makeTotallyInelasticCollision();
  $(".totallyInelasticTable").append(totallyInelasticTable.draw(350,350));

  let totallyInelasticTable2 = new MomentumTable();
  totallyInelasticTable2.setNameOfObjects('truck', 'compact');
  totallyInelasticTable2.makeTotallyInelasticCollision();
  $(".totallyInelasticTable2").append(totallyInelasticTable2.draw(350,350));

  let totallyInelasticTable3 = new MomentumTable();
  totallyInelasticTable3.setNameOfObjects('linebacker', 'running back');
  totallyInelasticTable3.makeTotallyInelasticCollision();
  $(".totallyInelasticTable3").append(totallyInelasticTable3.draw(350,350));

</script>
<div class = 'pageBreak'></div>
<h4>
    Answers
</h4>

<ol class = 'answerList'></ol>
<!---
- let these problems involve a little bit more writing
- have some examples that are not car A and car B,
such as two train cars or two people

- have four looking for the final speed
- then ahve two looking for the initial speed?
-->
