<p class = 'definition'>
    In an <strong>elastic collision</strong>,
    the total momentum is conserved, and the total kinetic energy is also conserved.
</p>

<p>
    When a collision is elastic, you are able to create two equations:
    one from the conservation of momentum and another from the conservation
    of kinetic energy.
    Now that there are two equations,
    you can solve a problem with two unknowns
    using a system of equations.
    In all previous sections, the questions, had only one unknown variable.
    In this section, there will be two.
</p>