<p class = 'definition'>
    In an <strong>elastic collision</strong>,
    the total momentum is conserved, and the total kinetic energy is also conserved.
</p>

<p>
    When a collision is elastic, you are able to create two equations:
    one from the conservation of momentum and another from the conservation
    of kinetic energy.
    Now that there are two equations,
    you can solve a problem with two unknowns
    using a system of equations.
    In all previous sections, the questions, had only one unknown variable.
    In this section, there will be two.
</p>

<ol class = 'questionList'>
    <li class ='question' data-answer ='v_a = 1 m/s left; v_b = 0.5 m/s right'>
        Before the Collisions:
        <ul>
            <li>
                Ball A has a mass of 2 kg and is rolling at 1 m/s to the right.
            </li>
            <li>
                Ball B has a mass of 1 kg and is rolling at 2 m/s to the left.
            </li>
        </ul>
        The two balls collide <strong>elastically</strong>.
        The goal is to find the velocity (with magnitude and direction) of each of the balls
        after the collision.
        Answer the question by following these steps:
        <ol type = 'a'>
            <li>
                Create an equation in terms of \( m_a \), \( m_b \), \( v_{ai} \), \( v_{bi} \), \( v_{af} \), and \( v_{bf} \)
                that represents the conservation of momentum.
            </li>
            <li>
                Create an equation in terms of \( m_a \), \( m_b \), \( v_{ai} \), \( v_{bi} \), \( v_{af} \), and \( v_{bf} \)
                that represents the conservation of kinetic energy. Simplify your equation
            </li>
            <li>
                Plug all known values into the two equations above.
                Of the six variables in your equation, there are 4 known values and 2 unknown values.
                This will lead you with two equations and two unknowns!
            </li>
            <li>
                Solve for \( v_{bf} \) in terms of \( v_{af} \).
            </li>
            <li>
                Solve for \( v_{af} \).
                The solution involves taking a square root, and will include a \( \pm \).
            </li>
            <li>
                To determine whether the plus or minus is correct, look carefully at your two solutions,
                and at the initial condition before the collision.
                In one of the options, the balls would have to pass through each other!
                In the other, the balls would bounce off each other.
                Pick the option such that the balls bounce off each other.
            </li>
            <li>
                Write the final answer for the velocity of ball A and ball B after the elastic collision,
                both with magnitude and direction.
            </li>
        </ol>
        Find the velocity (magnitude and direction), of each ball after the collision.
    </li>
    <!-- deal with the issue of a + or - in this problem -->
    <li class = 'question'>
        Before the collision:
        <ul>
            <li>
                Ball A has a mass of 4 kg is moving to the right with a speed of 2 m/s.
            </li>
            <li>
                Ball B has a mass of 4 kg and is moving to the left with a speed of 2 m/s.
            </li>
        </ul>
        The two balls collide <strong>elastically</strong>.
        <ol type = 'a'>
            <li>
                Create equations based on the conservation of momentum
                and the conservation of kinetic energy.
                Please write your equations with only variables and identify them <emph>before</emph>
                plugging any numbers into the equations.
            </li>
            <li>
                Then, solve your equations to find the speed and direction of each ball after the collision.
                There will be two possible mathematical solutions.
                Select the one that makes physical sense.
            </li>
            <li>
                Compare the conditions of the balls before and after the collision.
                The answer should be intuitive!
                Explain briefly why.
            </li>
        </ol>
    </li>
</ol>


<div class = 'pageBreak'></div>
<h3>
    Answers
</h3>

<ol class = 'answerList'>

</ol>

<div class = 'pageBreak'></div>

<h3>
    Resources
</h3>

<ul>
    <li>
        <a href = 'http://hyperphysics.phy-astr.gsu.edu/hbase/elacol.html'>Hyperphysics page on elastic collisions</a>
    </li>
</ul>