<p>
    The Conservation of Momentum,
    like the conservation of energy,
    is one of the crucial laws in all of science.
    You should memorize it, word for word.
</p>

<p>
    The total momentum of a system
    before a collision or explosion is equal to the
    total momentum of the system
    after the collision or explosion.
</p>

<p>
    You should also memorize the formula for momentum!
</p>

<p class = 'formula'>
    $$
    p = mv
    $$
</p>

