<ul>
    <li>
        Each level must be rigorously defined.
    </li>
    <li>
        Each level must be completely contained within the level above.
    </li>
    <li>
        No two levels may be identical.
    </li>
</ul>



<p class = 'directions'>
    Determine what rule is violated by each address written below:
</p>
<ol class = 'questionList'>

</ol>