

<ol>
    <li>
        What is the definition of acceleration in words?
        <ol type = 'A'>
            <li>
                The change in velocity in a given time.
            </li>
            <li>
                The change in velocity.
            </li>
            <li>
                The change in position in a given time.
            </li>
            <li>
                The change in time for a given change in velocity.
            </li>
        </ol>
    </li>
    <li>
        What is the equation form of the definition of acceleration?
        <ol type = 'A'>
            <li>
                \( a = \frac{\Delta v}{\Delta t} \)
            </li>
            <li>
                \( a = \frac{\Delta t}{\Delta v} \)
            </li>
            <li>
                \( a = (\Delta v) (\Delta t) \)
            </li>
            <li>
                \( a = \frac{\Delta x}{\Delta t} \)
            </li>
        </ol>
    </li>
    <li>
        When can you use this equation?
        <ol type = 'A'>
            <li>
                You know acceleration is a constant value.
            </li>
            <li>
                Acceleration is not a constant value, but you are interested in average acceleration.
            </li>
            <li>
                Acceleration is changing for each time.
            </li>
            <li>
                A and B
            </li>
        </ol>
    </li>
    <li>
        THe equation form of the definition of acceleration is equivalent to which of the four kinematic equations?
        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        The equation \( v_f = v_i + a \cdot \Delta t \) is directly related to.
        <ol type = 'A'>
            <li>
                The algebraic formula for a line.
            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>

        <ol type = 'A'>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
    <li>
        The equation \( \Delta x = v_i (\Delta t) + \frac{1}{2}a(\Delta t)^2 \) is derived from what two geometric formulas, and how?
        <ol type = 'A'>
            <li>
                The first term represents the area of a rectangle; the second term represents the area of a right triangle.
            </li>
            <li>
                The first term represents the area of a right triangle; the second term represents the area of a rectangle.
            </li>
            <li>
                The first term represents the area of a right trapezoid; the second term represents the area of a right triangle.
            </li>
            <li>
                The first term represents the area of a right trapezoid; the second term represents the area of a rectangle.
            </li>
            <li>
                The first term represents the area of a rectangle; the second term represents the area of a right trapezoid.
            </li>
            <li>
                The first term represents the area of a right triangle; the second term represents the area of a right trapezoid.
            </li>
        </ol>
    </li>
    <li>
        The equation \( \Delta x = \left( \frac{v_f + v_i}{2} \right) \Delta t  \) is derived directly from:
        <ol type = 'A'>
            <li>
                Newton's Second Law
            </li>
            <li>
                The formula for the area of a right trapezoid.
            </li>
            <li>
                The formula for the area of a rectangle.
            </li>
            <li>
                The formula for the area of a right triangle.
            </li>
            <li>
                The definition of acceleration.
            </li>
            <li>
                The formula for the area of a circle.
            </li>
        </ol>
    </li>
    <li>
        To derive a formula that does not include the variable time-interval (\Delta t), what can you do?
        <ol type = 'A'>
            <li>
                Solve any kinematic equation for \( \Delta t \) and plug the result in for \( \Delta t \) into a different kinematic equation.
            </li>
            <li>
                Create a graph of initial velocity and final velocity and find its slope.
            </li>
            <li>
                Create a graph of initial velocity and final velocity and find the area under the curve.
            </li>
            <li>

            </li>
            <li>

            </li>
        </ol>
    </li>
</ol>