<p class = 'podIntroduction'>
    At any point in time,
    as long as you are on planet earth,
    you are spinning around, once per day.
    But how fast?
    In this pod, you will learn to answer that question.
</p>


<p class = 'equation'>
    $$
    v = r \omega
    $$
</p>

<h4>What is \( r \)?</h4>

<p>
    In the equation above, the variable \( r \),
    refers to the <strong>distance between the rotating point and the axis of rotation</strong>.
    On the earth, this value is less than the actual radius of the earth (unless you are on the equator).
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'The Equator'>
        Where on the earth is the variable \( r \)
        equal to the radius of the earth?
    </li>
    <li class = 'question' data-answer = 'The North and South Poles'>
        Where on the earth is the variable \( r \)
        equal to zero?
    </li>
</ol>

<h4>Angular Velocity of a Planet</h4>

<ol class = 'questionList'>
    <li class = 'question'>
        What is the angular velocity of earth?
    </li>
    <li class = 'question'>
        What is the angular velocity of Mars?
    </li>
    <li class = 'question'>
        What is the angular velocity of the moon?
    </li>
</ol>

<h4>
    Latitude
</h4>

<ol class = 'questionList'>
    <li class = 'question'>
        How far are you from the axis of rotation of earth in Boston, MA?
    </li>
    <li class = 'question'>
        How far are you from the axis of rotation of earth in New Orleans, LA?
    </li>
    <li class = 'question'>
        How far are you from the axis of rotation of earth when you are standing on the equator?
    </li>
    <li class = 'physics'>
        How far are you form the axis of rotation of the earth when you are standing on the north pole?
    </li>
</ol>

<h4>
    The Speed of Earth's Rotation
</h4>

<p>
    The ultimate goal is to determine the <emph>translational</emph>
    and <emph>rotational</emph> speed of a person at different points on the planet.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '400 m/s'>
        How fast are you rotating when you are standing
        at a latitude of 30 degrees North?
    </li>
</ol>


<h3>
    Answers:
</h3>

<ol class = 'answerList'></ol>