<p>
  In a previous pod, we learned the formula for angular velocity
  \( \omega = \frac{\Delta \theta}{\Delta t} \),
  and then were able to apply this relationship
  by using the knowledge that
  \( 1 \text{ revolution} = 2 \pi \text{ radians} \).
  In this pod, we are going to apply this same formula to
  determining the angular velocity of real things!
  Follow these steps:
</p>

<h5>
  Steps:
</h5>
<ul>
  <li>
    Use your personal knowledge to figure out how long \( \left( \Delta t \right) \) it takes
    an object to moe in a complete circle.
  </li>
  <li>
    Convert this value to seconds using the <a href = '/pod/f9822f'>conversion factor method</a>.
  </li>
  <li>
    Know that one complete revolution represents an angular displacement of \( \Delta \omega = 2 pi \text{ radians} \)
  </li>
  <li>
    Apply the formula \( \omega = \frac{\Delta \Theta}{\Delta t} \) to determine the
    angular velocity in radians per second.
  </li>
</ul>

<p class = 'definitionBox'>
  The earth revolves completely around the sun in approximately 365.25 days.
  To account for this, most years are 365 days, but every four years is a leap year that
  is 366 days, so an average year is precisely 365.25 days.
</p>
<p class = 'definitionBox'>
  The moon revolves completely around the earth in a time of 27.3 days.
</p>

<ul class = 'Sign of Angular Velocity'>
    <li>
        The angular velocity is <emph>positive</emph> if rotation is counter clockwise
        and <emph>negative</emph> if it is clockwise.
    </li>
    <li>
        Clocks, of course, move clockwise, so they have negative angular velocity.
    </li>
    <li>
        If you go to the north pole, then rise up (out), and look back downwards (inwards) on the earth,
        it will appear to be moving <emph>counterclockwise</emph>.
        If you do the same thing at the south pole, it will appear to be moving clockwise.
        Because we are in the northern hemisphere, in this class, we will take the convention
        that the earth rotates <strong>counterclockwise</strong> and has positive angular velocity.
    </li>
    <li>
        (In a more advanced point of view, you use the right hand rule to determine the direction
        of angular velocity as a vector. We will discuss this more when we learn about <a href = '/unit/163092'>angular momentum</a>.)
    </li>
</ul>

<p class = 'directions'>
    Determine the angular velocity of each of the objects
    below in terms of radians per second.
    Please write your answer as a decimal with four significant
    figures our accuracy.
</p>


<h4>
  Questions:
</h4>
<ol class = 'questionList'>
  <li class = 'question' data-answer = '-0.1047 rad / sec'>
    Determine the angular velocity of the second hand of a clock.
  </li>
  <li class = 'question' data-answer = '-0.001745 rad / sec'>
    Determine the angular velocity of the minute hand of a clock.
  </li>
  <li class = 'question' data-answer = '-0.0001454 rad / sec'>
    Determine the angular velocity of the hour hand of a clock.
  </li>
  <li class = 'question' data-answer = '\( 7.272 \times 10^{-5} \text{ rad / sec} \)'>
    Determine the angular velocity of the rotation of the earth (its spinning around to create days).
  </li>
  <li class = 'question' data-answer = '\( 1.991 \times 10^{-7} \text{ rad / sec} \)'>
    Determine the angular velocity of the revolution of the earth around the sun (which creates seasons).
  </li>
  <li class = 'question' data-answer = '\( 2.693 \times 10^{-6} \text{ rad / sec} \)'>
    Determine the angular velocity of the revolution of the moon around the earth.
  </li>
</ol>


<p class = 'directions'>
    Answer the following question in 2-3 sentences.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'The spinning top has a greater angular velocity. The angular top completes a rotation in less than a second, while the earth takes 24 hours to complete one rotation.'>
        Which has a greater angular velocity: the earth (in its daily rotation)
        or a spinning top?
    </li>
</ol>



<ol class = 'answerList'></ol>
