<p class = 'direction'>
    Write any equation you use before plugging numbers into the equation.
</p>

<p>
    A block with a mass of 30 kg is resting on a frictionless table.
    Somebody pulls the block with a force of 6 Newtons to the right.
</p>

<ol>
    <li>
        Draw a qualitative free-body diagram,
        which names all the forces on the block.
        There are three forces acting on the block.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        Draw a quantitatively correct free-body diagram.
        This means there must be a number next to each arrow.
    </li>
    <div class = 'bigSpace'></div>
    <li>
        What is the magnitude of gravity?
    </li>
    <div class = 'smallSpace'></div>
    <li>
        What is the direction of gravity?
    </li>
    <div class = 'smallSpace'></div>
    <li>
        What is the magnitude of the normal force?
    </li>
    <div class = 'smallSpace'></div>
    <li>
        What is the direction of the normal force?
    </li>
    <div class = 'smallSpace'></div>
    <li>
        What is the magnitude of the applied force?
    </li>
    <div class = 'smallSpace'></div>
    <li>
        What is the direction of the applied force?
    </li>
    <div class = 'smallSpace'></div>
    <li>
        Determine the vector net force.
        "Vector net force" means that your answer must include both magnitude and direction.
    </li>
    <div class = 'smallSpace'></div>
    <li>
        Determine the vector acceleration.
        Your answer must include both magnitude and direction.
        Write any equation you use before plugging numbers in.
    </li>
    <div class = 'smallSpace'></div>
</ol>