<ol>
    <li>
        Draw a wave with a wavelength of 3 boxes and an amplitude of 2 boxes.
        <br>
        <div id = 'grid1'></div>
    </li>
</ol>


<script>
    let grid1 = new Grid(20,8);
    $("#grid1").append(grid1.drawCanvas(600,300));
</script>