
<p class = 'definition' data-word = 'Right Triangle'>
  A <strong>right triangle</strong>
  is a triangle with one angle
  equal to 90 degrees.
</p>

<p class = 'definition' data-word = 'Hypotenuse'>
  The longest side of a right triangle is called
  the <strong>hypotenuse</strong>.
  It is <em>always</em> opposite the 90
  degree angle.
</p>

<h4>
  The Pythagorean Theorem
</h4>

<p class = 'equation'>
  $$
    a^2 + b^2 = c^2
  $$
</p>
<ul>
  <li>
    \( c \) is the length of the hypotenuse.
  </li>
  <li>
    \( a \) and \( b \) are the lengths of the two shorter legs.
  </li>
</ul>

<p class = 'directions'>
  Find the length of the missing side.
</p>

<ol class = 'questionList'>
  <li class = 'question' id = 'triangle1' data-answer = '5'><br></li>
  <li class = 'question' id = 'triangle2' data-answer = '29'><br></li>
  <li class = 'question' id = 'triangle3' data-answer = '36'><br></li>
  <li class = 'question' id = 'triangle4' data-answer = '80'><br></li>
  <li class = 'question' id = 'triangle5' data-answer = '48'><br></li>
  <li class = 'question' id = 'triangle6' data-answer = '31.7'><br></li>
  <li class = 'question' id = 'triangle7' data-answer = '50.6'><br></li>
  <li class = 'question' id = 'triangle8' data-answer = '37.3'><br></li>
  <li class = 'question' id = 'triangle9' data-answer = '113'><br></li>
</ol>

<script>
  // let triangle1 = new GeometryPad();
  // triangle1.addTriangleSAS(3,90,4);// as long as the point isn't the official point origin, it works, but when it is the origin, it fails
  // triangle1.makeRightTriangle();
  // triangle1.makeOrientationCounterClockwise();
  // triangle1.labelTriangleLength('A'); /// i need to make this more automatic!!!
  // triangle1.labelTriangleLength('C');
  // $("#triangle1").append(triangle1.drawCanvas(150));
  //
  // let triangle2 = new GeometryPad();
  // triangle2.addTriangleSAS(20,90,21);
  // triangle2.makeRightTriangle();
  // triangle2.makeOrientationCounterClockwise();
  // triangle2.labelTriangleLength('A');
  // triangle2.labelTriangleLength('C');
  // $("#triangle2").append(triangle2.drawCanvas(150));

  function solveForHypotenuseProblem(leg1, leg2) {
    let myTriangle = new GeometryPad();
    myTriangle.addTriangleSAS(leg1,90,leg2);
    myTriangle.makeRightTriangle();
    myTriangle.makeOrientationCounterClockwise();
    myTriangle.labelTriangleLength('A');
    myTriangle.labelTriangleLength('C');
    return myTriangle
  }
  $("#triangle1").append(solveForHypotenuseProblem(3,4).drawCanvas(150));
  $("#triangle2").append(solveForHypotenuseProblem(20,21).drawCanvas(150));
  $("#triangle8").append(solveForHypotenuseProblem(35.7,10.9).drawCanvas(150));
  $("#triangle9").append(solveForHypotenuseProblem(85.1,75.1).drawCanvas(150));


// not tested
  function solveForLegProblem(knownLeg, hypotenuse) {
    let unknownLeg = Math.sqrt(hypotenuse**2 - knownLeg**2);
    let myTriangle = new GeometryPad();

    myTriangle.addTriangleSSS(knownLeg, unknownLeg, hypotenuse);
    myTriangle.makeRightTriangle();
    myTriangle.makeOrientationCounterClockwise();
    myTriangle.labelTriangleLength('C');
    myTriangle.labelTriangleLength('B'); // not in correct location
    // myTriangle.labelTriangleLength('A');
    return myTriangle
  }

  $("#triangle3").append(solveForLegProblem(77,85).drawCanvas(150));
  $("#triangle4").append(solveForLegProblem(39,89).drawCanvas(150));
  $("#triangle5").append(solveForLegProblem(55,73).drawCanvas(150));
  $("#triangle6").append(solveForLegProblem(29.1,43,).drawCanvas(150));
  $("#triangle7").append(solveForLegProblem(6.46,51.0).drawCanvas(150));



  // add a random problem generator

</script>


<!--
before translation
0: Point {x: 3, y: 0, name: "A"} [vertex B]
1: Point {x: 2.9999999999999996, y: 4, name: "B"} [vertex C]
2: Point {x: 4.3203840920506664e-12, y: 3.07327612945304e-11, name: "origin"} [vertex A]

before rescale
0: Point {x: 2.9999999999770144, y: 2, name: "A"}
1: Point {x: 2.999999999977014, y: 6, name: "B"}
2: Point {x: 0, y: 2.000000000002069, name: "origin"}, what's up with this? the origin should never be moved [translation]

after rescale
0: Point {x: 54.99999999957859, y: 36.666666666666664, name: "A"}
1: Point {x: 54.999999999578584, y: 110, name: "B"}
2: Point {x: 0, y: 36.66666666670459, name: "origin"}


Final [everything has translated DOWN by 2)????
0: Point {x: 3, y: 0, name: "A"}
1: Point {x: 2.9999999999999996, y: 4.000000000000001, name: "B"}
2: Point {x: 8.577920526543722e-11, y: 3.986588836824012e-12, name: "origin"}
-->


<ol class = 'answerList'></ol>
