
<ol class = 'questionList'>
    <div class = 'container'>
        <div class = 'row'>
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '4.0' id = 'triangle6'><br></li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '15' id = 'triangle7'><br></li>
            </div>
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '29' id = 'triangle8'><br></li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '73' id = 'triangle9'><br></li>
            </div>
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '25' id = 'triangle10'><br></li>
            </div>
        </div>
    </div>
</ol>

<ol class="answerList"></ol>

<script>
    $("#triangle6").append(tangentProblem(3,5).drawCanvas(250));
    $("#triangle7").append(cotangentProblem(3,15.2970585408).drawCanvas(250));
    $("#triangle8").append(cosecantProblem(20,29).drawCanvas(250));
    $("#triangle9").append(secantProblem(48,73).drawCanvas(250));
    $("#triangle10").append(secantProblem(7,25).drawCanvas(250));
</script>