<h4>
    Inverse Trigonometric Functions
</h4>

<p>
    In all of the previous problems, we knew an angle and were looking for the value of a side.
    What if we were in the opposite situation: we knew two sides, and we wanted to find an angle.
    In order to complete that problem, we would use an <em>inverse trigonometric function</em>.
</p>

<!---
PUT INTO A NEW POD!
-->

<!--
make sure to explain what the inverse functions actually mean:
inverse sine of 0.56 tells us what angle has a sine of 0.56 !
-->
