
<p class = 'definition' data-word = 'Right Triangle'>
  A <strong>right triangle</strong>
  is a triangle with one angle
  equal to 90 degrees.
</p>

<p class = 'definition' data-word = 'Hypotenuse'>
  The longest side of a right triangle is called
  the <strong>hypotenuse</strong>.
  It is <em>always</em> opposite the 90
  degree angle.
</p>

<h4>
  The Pythagorean Theorem
</h4>

<p class = 'equation'>
  $$
    a^2 + b^2 = c^2
  $$
</p>
<ul>
  <li>
    \( c \) is the length of the hypotenuse.
  </li>
  <li>
    \( a \) and \( b \) are the lengths of the two shorter legs.
  </li>
</ul>

<p class = 'directions'>
  Find the length of the missing side.
</p>

<ol class = 'questionList'>
  <li class = 'question' id = 'triangle1'></li>
  <li class = 'question' id = 'triangle2'></li>
  <li class = 'question' id = 'triangle3'></li>
  <li class = 'question' id = 'triangle4'></li>
  <li class = 'question' id = 'triangle5'></li>
  <li class = 'question' id = 'triangle6'></li>
  <li class = 'question' id = 'triangle7'></li>
  <li class = 'question' id = 'triangle8'></li>
  <li class = 'question' id = 'triangle9'></li>
</ol>

<script>
  let triangle1 = new GeometryPad();
  triangle1.addTriangleSAS(3,90,4);
  triangle1.makeOrientationCounterClockwise();
  triangle1.labelTriangleLength('A',3);
  triangle1.labelTriangleLength('C',4);
  $("#triangle1").append(triangle1.drawCanvas(150));
</script>



<ol class = 'answerList'></ol>
