
<!--
To do:
- create two separate sections
'solve for hypotensue problem, solve for leg problem
-->

<p class = 'definition' data-word = 'Right Triangle'>
  A <strong>right triangle</strong>
  is a triangle with one angle
  equal to 90 degrees.
</p>

<p class = 'definition' data-word = 'Hypotenuse'>
  The longest side of a right triangle is called
  the <strong>hypotenuse</strong>.
  It is <em>always</em> opposite the 90
  degree angle.
</p>

<h4>
  The Pythagorean Theorem
</h4>

<p class = 'equation'>
  $$
    a^2 + b^2 = c^2
  $$
</p>
<ul>
  <li>
    \( c \) is the length of the hypotenuse.
  </li>
  <li>
    \( a \) and \( b \) are the lengths of the two shorter legs.
  </li>
</ul>

<p class = 'directions'>
  Find the length of the missing side.
</p>

<ol class = 'questionList'>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'triangle1'><br></li>
      </div>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'triangle2'><br></li>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'triangle3'><br></li>
      </div>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'triangle4'><br></li>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'triangle5'><br></li>
      </div>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'triangle6'><br></li>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'triangle7'><br></li>
      </div>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'triangle8'><br></li>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'triangle9'><br></li>
      </div>
      <div class = 'col-md-6 mb-5'>

      </div>
    </div>
  </div>
</ol>

<h4>
  Random Problems
</h4>
<p>
  You do not need to complete these in order to receive full credit for this assignment.
</p>


<ol class = 'questionList'>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'randomProblem1'><br></li>
      </div>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'randomProblem2'><br></li>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'randomProblem3'><br></li>
      </div>
      <div class = 'col-md-6 mb-5'>
        <li class = 'question' id = 'randomProblem4'><br></li>
      </div>
    </div>
  </div>
</ol>

<script>

  appendProblem('triangle1',solveForHypotenuseProblem(3,4));
  appendProblem('triangle2',solveForHypotenuseProblem(20,21));
  appendProblem('triangle3',solveForLegProblem(85,77));
  appendProblem('triangle4',solveForLegProblem(89,39));
  appendProblem('triangle5',solveForLegProblem(73,55));
  appendProblem('triangle6',solveForLegProblem(43,29.1));
  appendProblem('triangle7',solveForLegProblem(51.0,6.46));
  appendProblem('triangle8',solveForHypotenuseProblem(10.9,35.7));
  appendProblem('triangle9',solveForHypotenuseProblem(75.1,85.1));

  // 
  // appendProblem('randomProblem1',randomPythagoreanTheoremProblem());
  // appendProblem('randomProblem2',randomPythagoreanTheoremProblem());
  // appendProblem('randomProblem3',randomPythagoreanTheoremProblem());
  // appendProblem('randomProblem4',randomPythagoreanTheoremProblem());
  //
  //
</script>



<ol class = 'answerList'></ol>
