

<ol class="questionList">
    <div class = 'container'>
        <div class="row">
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '5.0' id = 'triangle1'><br></li>
            </div>
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '36' id = 'triangle2'><br></li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '13' id = 'triangle3'><br></li>
            </div>
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '12' id = 'triangle4'><br></li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '24' id = 'triangle5'><br></li>
            </div>
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '4.0' id = 'triangle6'><br></li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '15' id = 'triangle7'><br></li>
            </div>
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '29' id = 'triangle8'><br></li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '73' id = 'triangle9'><br></li>
            </div>
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '25' id = 'triangle10'><br></li>
            </div>
        </div>
    </div>
</ol>

<ol class="answerList"></ol>

<script>

    $("#triangle1").append(cosineProblem(5,13).drawCanvas(250));
    $("#triangle2").append(sineProblem(36,85).drawCanvas(250));
    $("#triangle3").append(cosineProblem(13,85).drawCanvas(250));
    $("#triangle4").append(sineProblem(12,37).drawCanvas(250));
    $("#triangle5").append(cosineProblem(24,25).drawCanvas(250));
    $("#triangle6").append(tangentProblem(3,5).drawCanvas(250));
    $("#triangle7").append(cotangentProblem(3,15.2970585408).drawCanvas(250));
    $("#triangle8").append(cosecantProblem(20,29).drawCanvas(250));
    $("#triangle9").append(secantProblem(48,73).drawCanvas(250));
    $("#triangle10").append(secantProblem(7,25).drawCanvas(250));
</script>