
<h2>
    <a href = '/asset/{{id}}/pod.pdf'>
        Practice page available as a pdf
    </a>
</h2>

<h4>
    Video: Electric Potential Diagram of a Series Circuit
</h4>

<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/57504451/?s=zbawrc&amp;ref=embed" allowfullscreen></iframe>

<h4>
    Video: Electric Potential Diagram of a Parallel Circuit
</h4>

<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/57504941/?s=3t57x7&amp;ref=embed" allowfullscreen></iframe>

<h2>
    <a href = '/asset/{{id}}/pod.pdf'>
        Practice page available as a pdf
    </a>
</h2>


<div id = 'diagramHere'></div>

<script>
    // let myPotentialDiagram = new ElectricPotentialGraph();
    // myPotentialDiagram.addBattery(30,2);
    // myPotentialDiagram.addWire(2);
    // myPotentialDiagram.addResistor(10,2);
    // myPotentialDiagram.addWire(2);
    // myPotentialDiagram.addResistor(10,2);
    // myPotentialDiagram.addWire(2);
    // myPotentialDiagram.addResistor(10,2);
    //
    //
    // $("#diagramHere").append(myPotentialDiagram.drawCanvas(800,500));
</script>