
<h3>
    References
</h3>
<h5>
    AP Physics 1 Classroom:
    1.1: Daily Video 1 (Skill 1.5)
</h5>
<p>
    (This video discusses how velocity is always defined with respect to a frame of reference.)
</p>