
<h3>
    Video Resources
</h3>
<h5>
    <a href = 'https://apclassroom.collegeboard.org/d/y285h823vc?sui=92,1'>
        AP Physics 1 Classroom:
        1.1: Daily Video 1 (Skill 1.5)
    </a>
</h5>
<p>
    (This video discusses how velocity is always defined with respect to a frame of reference.)
</p>
<p class="finePrint">
    Note that AP Classroom Daily Videos are not available year round.
    The release dates for each video
    <a href = 'https://apcentral.collegeboard.org/pdf/ap-daily-course-release-dates.pdf'>this page</a>.
    AP Classroom Daily Videos are available only to students in AP Physics.
</p>