<p>
  In the previous pod, we discussed what a theory is.
  A theory is a statement about how the universe works.
  The goal of physicists is to create theories,
  then run observations and experiments that can be explained
  and predicted by the theories.
  However, there is more to a good theory than simply matching
  the data.
  In this pod, we will learn about some of the qualities
  that make a theory strong: universality, parsimony, and clear limitations.
</p>

<h4>
  Universality
</h4>

<!--
Discuss Isaac Newton's Law of Universal Gravitation and First Law,
explaining the full universe
-->

<h4>
  Parsimony
</h4>

<!--
- Kepler's Laws vs. ptolomeic universe model
- discovery of the electroweak theory
- possibility of a grand unified theory
-->


<h4>
  Clear Limitations
</h4>

<!---
Discuss Newton's Second Law vs. relativity and quantum theory
-->
