

<p class="directions">
    Below is a list of <strong>observations.</strong>
    State if this is a qualitative or a quantitative observation.
</p>

<ol class="questionList">

</ol>


<p class="directions">
    Below is a list of <strong>questions.</strong>
    State if each question is seeking qualitative or quantitative information.
</p>

<ol class="questionList">

</ol>

<p class="directions">
    Below is a list of experimental procedures.
    State if each procedure will yield qualitative or quantitative information.
</p>

<ol class="questionList">

</ol>