<p>
  In physics, our goal is to make <strong>theories</strong> and to test those theories.
  To this end, it is absolutely crucial to understand fully what a theory is,
  because the word "theory" in everyday speech has a bad reputation.
  Often, people use it as an idea that is unpractical, as in the phrase
  "that idea works well in theory,"
  or some idea that isn't actually true, as in the phrase
  "that's just a theory."
  But in physics, a theory is a possible answer to our ultimate question:
  why does the universe work the way it does?
</p>

<ul class = 'definition' data-word = "Theory">
  <li>
    A <strong>theory</strong> is any explanation of why the universe works the way that it does.
  </li>
  <li>
    A good theory is universal and parsimonious.
  </li>
  <li>
    Theories are tested with an experiment.
  </li>
  <li>
    A theory that has been been proven valid again and again and again is called a <strong>Law</strong>.
  </li>
</ul>

<h4>
  Theories vs. Laws
</h4>

<p>
  Many of the most important theories are called "Laws,"
  but don't be confused, they are theories.
  For example, the "Law of Gravity" is really a theory
  stating that all masses attract all other masses.
  Because this law has been validated by observation again and again,
  for hundreds of years (with a few well understood exceptions, see below),
  it is called a "Law" rather than a theory.
</p>

<p data-word = "Law">
  A <strong>Law of Physics</strong> is a physics theory that has
  been validated by experiment repeatedly for a very long time (usually over 100 years).
</p>



<h4>
  Theoretical and Experimental Physics
</h4>

<p>
  The goal of any scientist creating a theory
  is for the theory to withstand observations.
</p>

<p>
  Physics is often considered to be split into two branches:
  theoretical physics and experimental physics.
</p>

<p class = 'definition' data-word = 'Theoretical Physicist'>
  A <strong>Theoretical Physicist</strong>
  invents new theories and derives what observations
  you would expect to see with different theories.
</p>

<p class ='definition' data-word = 'Experimental Physicist'>
  An <strong>Experimental Physicist</strong>
  designs ways to conduct experiments of new theories.
</p>


<h4>
  Theories, Predictions, and Observations
</h4>

<p>
  Typically, a theoretical physicist will invent some theory.
  The theory needs to be based on a few simple statements or equations.
  An experimental physicist will invent some situation in which this theory can be tested.
  Then, the theoretical physicist will complete a bunch of mathematical derivations
  (or computer simulations) to create a <strong>prediction</strong>.
  If the theory is true, then this particular thing would happen.
  THe experimental physicist conducts the experiment.
  If the prediction comes true, we would say that <em>the observations are consistent with the theory</em>.
  If the prediction does not come true, we would say that <em>the observations are inconsistent with the theory</em>.
</p>

<p>
  It is <strong>very</strong> important to note this:
  Technically, we should never say a theory is "true" or "false,"
  and we should never say a theory is "confirmed" or "disproven."
  We should only say, "The data are consistent with the theory" or "the data are inconsistent with the theory."
  A theory cannot be confirmed because tomorrow, there may be a new observation inconsistent with the theory.
  In reality, scientists often slip up and say something they shouldn't,
  but you should try your best to be very conservative in your speech!
</p

<p>
  If a theory repeatedly provides correct predictions of observations and experiments,
  we sometimes say that the theory is <strong>validated</strong>.
  But you should never say it is "confirmed" or "proven"!
</p>

<p>
  For example, in nutritional science, there is a theory that weight loss and weight
  gain depend entirely on how many calories you eat and how many calories your body burns.
  If you eat more calories than you burn, you gain weight,
  and if you eat fewer calories than you burn, you lose weight.
  According to this particular theory, it does not matter at all what food you eat,
  only how many calories you eat.
</p>

<p>
  To test this theory, a nutritional scientist decided to attempt to lose
  weight by eating only twinkies.
  The scientist made a <strong>prediction</strong>:
  If the theory is true, it is possible to lose weight eating only twinkies
  as long as you eat fewer calories than you burn, it does not matter
  if these calories come only from twinkies.
  If the theory is false, then the person could eat fewer twinkie calories
  than he burns, but would still gain weight because the twinkie calories
  are not healthy.
</p>

<p>
  (I don't actually know how it turned out, and there are certainly
  some problems with the methodology, btu it is a good example nonetheless.)
</p>

<p>
  There are two types of observations.
  In astrophysics (the physics of space), scientists so they simply observe spcae,
  and then see if the data they collect is consistent with their theories.
  However, most physicists studying principles here on earth spend their
  time designing specific experiments.
</p>

<h4>
  Examples
</h4>

<h5>
  Aristotle's Theories
</h5>

<p>
  Aristotle was one of the most famous philosophers from Ancient Greece.
  He created many theories of how things work, but he never tested these theories.
  One of his theories is that all things are created of four elements:
  fire, earth, water, and air.
</p>

<p>
  Many centuries after Aristotle lived, scientists discovered
  that if you run electrcity through water, it splits into two different
  gasses: oxygen and hydrogen.
  Therefore, because water can be split into two pieces,
  it cannot be one of the basic elements that make up the universe.
  Aristotle's theory was not consistent with the observation.
  It needed to be replaced with a new theory:
  all matter is made up of the elements in the Periodic Table.
</p>

<h5>
  Isaac Newton and Neptune
</h5>

<p>
  Isaac Newton, the most successful physicist of all time,
  developed a theory of how objects move based on three laws of motion,
  the mathematics of calculus, and the Universal Law of Gravitation.
  His theory perfectly explained why each planet had the specific orbit that
  it did.
</p>

<p>
  54 years after he died, a new planet, Uranus, was discovered.
  Uranus did <em>not</em> follow an orbit that Newton's Laws predicted,
  but seemed to break out at some points of its orbits.
  If this was true, that would mean that Newton's Laws of motion and gravity did not apply far out in the solar system.
  However, one French astronomer, named Urbain Le Verrier, had another idea.
  He thought that Newton's Laws were correct, but another planet was pulling on Uranus,
  adding an unaccounted for force. He did calculations to determine where this planet must
  be, and later discovered the planet Neptune.
  Once Neptune was discovered, the orbits of Uranus and Neptune perfectly matched
  the predictions made by Newton's Laws.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ckOch3OAyFM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>
  Isaac Newton and Mercury
</h5>

<p>
  However, there was one tiny piece not explained by the laws.
  The axis on which Mercury orbited rotated by 43 arcseconds every century (0.01194 degrees per year, or one full rotation in about 30,000 years).
  In this case, there was no other planet, Newton's Theories simply had an unpredicted
  result! This does not mean that Newton's Theory needed to be completely
  discarded, but that it had a limitation, in some very strange cases, it does not work.
</p>

<p>
  In 1915, Albert Einstein revised Newton's Theory of Gravity
  to state that gravity is actually a bending in space-time
  (The theory he invented was called <em>General Relativity</em>.)
  When Einstein ran the mathematical calculations of his new theory,
  his theory could corrected predict the rotation in Mercury's axis.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/hSXNE0pNtr8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<h5>
  Einstein and the Eclipse
</h5>

<p>
  Einstein's Theory of general relativity predicted that the sun
  would <em>bend</em> light coming from the stars behind it
    by <a href = 'https://imagine.gsfc.nasa.gov/educators/programs/cosmictimes/downloads/posters/1919_poster.pdf'>0.87 arcseconds</a> (0.00024 degrees).
    Einstein couldn't test this idea because it is impossible
  to see the light coming from stars behind the sun. The sun is too bright!
</p>



<p>
  Four years after he created that theory, in 1919,
  there was a total solar eclipse. The sun would be completely
  blocked by the moon. In this instance,
  it would be possible to see light from stars behind the sun.
  The Theory of General Relativity predicted that this light
  would be slightly bent. Astronomers around the world observed the light
  during the solar eclipse, which perfectly matched Einstein's Theory.
  The Theory of General Relative of validated, and Einstein became internationally famous.
</p>

<p>
    Further Reading:
    <a href = 'https://www.amazon.com/Proving-Einstein-Right-Expeditions-Universe/dp/1541762258'>Proving Einstein Right</a>
    by S. James Gates and Cathie Pelletier.
</p>


<h5>
  CERN and the Higgs Boson
</h5>

<p>
  In the second half fo the 20th century, physicists created
  an elaborate theory called the "Standard Model."
  The Standard Model combined the laws of Quantum Mechanics
  with other laws to create a single vision of how the universe could work.
  For many years, the theory succeeded at predicting the results of every
  experiment and observation conducted, but there was one missing piece:
  The Standard Model stated there should be a particle called a "Higgs Boson,"
  but no experiment could demonstrate that the Higgs Boson existed.
</p>

<p>
  In the early 21st century, physicists from all over the world
  built a massive particle accelerator in Switzerland.
  named the _____
  The coilder had enough power to identify for certain in the
  Higgs Boson existed. If it found the particle,
  the Standard Model would continue to be the accepted vision of the universe,
  but with even more validity.
  If it failed to find the particle, the Standard Model would
  need to be replaced.
</p>

<p>
  On _____,
  the _____
</p>

<h5>
  "Breaking Physics"
</h5>

<p>
  After the confirmation of the Higgs Boson, scientists at CERN
  reconfigured the collider to allow even higher energy collisions.
  They stated that the goal was to "break physics."
  But what does it mean to "break physics?" It's not a glass jar! How can it be broken?
</p>

<p>
  What they meant was that they wanted to find an observation that could <em>not</em>
  be predicted by the Standard Model.
  If so, they would then find that, at extremely high energies,
  some new theory needed to be developed to replace it.
</p>

<p>
  Thus far, (June 2020),
  the particle accelerator at CERN has not found any results
  that could not be predicted by the Standard Model.
</p>




<h4>
  Examples of Famous Theories
</h4>

<ul>
  <li>
    The Law of Gravity:
    <p>
      The Law of Gravity states that all masses are attracted to all other masses,
      and the magnitude of attraction is given by a particular formula.
      Even though it is called "Law",
      this is a theory.
      It is called a law because nobody, in over 300 years since it was developed,
      has ever run an experiment or seen an observation inconsistent with the theory.
      Every experiment on earth and every observation in space is perfectly explained by the law.
      When astronauts visited the moon, they found that gravity worked exactly as the theory predicted.
      Whenever some new asteroid, comet, or moon is discovered, it moves in exactly the pattern
      predicted by the law of gravity.
      Therefore, this theory has been consistent with observations so many times that it is now
      considered a "Law," but it is really just a very successful theory.
      <!--
      EINSTEIN!!!!
      --->
    </p>
  </li>
  <li>
    The Law of Conservation of Energy
    <p>
      The Law of Conservation of Energy states that, in any process,
      energy can change form but never is created or destroyed.
      Once again, this theory is called a Law because it is so confirmed.
    </p>
  </li>
  <li>
    Newton's Laws of Motion
    <p>
      Newton's Three Laws of Motion are three statements that together
      comprise a theory of why things move in the particular way they do.
    </p>
  </li>
  <li>
    The Big Bang Theory
    <p>
      The Big Bang Theory states that, at some point approximately 14 billion years ago,
      the universe was suddenly filled with extremely dense energy, which then began expanding.
      (It does not mean that there was a big explosion, it's more complicated than that!)
      The Big Bang Theory is a "Theory" and not a "Law" because it does not perfectly
      explain all of the observations of the universe that scientists have made.
      The universe is far more spread out and less dense than the Big Bang Theory predicts.
      Scientists have tried to make modifications to it (called Inflation Theories),
      but thus far none of these have successfully matched observations enough to be
      considered a Law.
    </p>
  </li>
  <li>
    The Laws of Quantum Mechanics
    <p>
      The Laws of Quantum Mecahnics is a set of rules that explains how particles smaller than atoms behave.
      They were discovered about 100 years old and has been consistent with thousands of observations.
      Originally, they were called "quantum theories," but now they have been tested so many
      times and always been consistent with data, they have been promoted to "Quantum Laws."
    </p>
  </li>
</ul>


<h4>
  Falsifiability
</h4>

<p>
  For a theory to be used in physics, it must predict some observable result about the universe.
  For example, suppose someone stated that inside every atom is a little fairy who
  determines how the atom behaves, but the fairy can never be seen.
  This theory is neither true nor untrue, because it is impossible to state if the fairies
  are or are not there.
  The theory cannot be a part of physics because it is not <strong>falsifiable</strong>.
</p>

<p class = 'definition' data-word = 'Falsifiability'>
  A theory is <strong>falsifiable</strong>
  if it can be used to predict an observation that could possible <em>not</em>
  happen.
  All theories in physics must be falsifiable.
</p>




<p>
  "There's nothing so practical as a good theory."
  <br>
  -Kurt Lewin
</p>
