<p>
    In the previous pod, we learned how to convert from a metric system unit
    to a correct unit.
    In this pod, we will do the reverse, convert from a scientific notation value
    into other metric units.
</p>


<h4>
    Part 1: The order of magnitude is already a multiple of 3.
</h4>

<p class = 'directions'>
    Replace the exponent part of each problem
    with the necessary metric prefix.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '3.69 terameters'>
        \( 3.69 \times 10^12 \text{ meters} \)
    </li>
</ol>

<h4>
    Part 2: The order of magnitude is not always a multiple of 3
</h4>

<h4>
    Steps
</h4>

<ol>
    <li>
        Move the decimal point to right RIGHT
        and DECREASE the exponent until the exponent
        is a multiple of 3.
    </li>
    <li>
        Replace the exponent with the necessary metric prefix.
    </li>
</ol>


<h4>
    Part 3: Smaller orders of magnitude
</h4>



<!---
I need to do something about the other metric units
less than 10^3
--->


<h3>
    Answers:
</h3>