<p>
  In previous pods, we learned the prefixes of the metric
  system and converted between standard and scientific notattion.
  In this pod, we will convert from any metric units to scientific notation
  in base units.
  In many reference sources and physics textbooks,
  information is given in non-base metric units,
  often because it is far more elegant to do so than to give information
  in non-metric units.
  Before completing any mathematical problem, you must convert into
  proper metric units.
</p>

<h5>
  Converting from Metric to Standard Notation
</h5>
<ol>
  <li>
    Replace the metric prefix with an appropriate mulitplier,
    which is always 10 to some exponent.
  </li>
  <li>
    If the number returned is not in proper scientific notation,
    convert it to proper scientific notation
    using the method described <a href = '/pod/mathematics/scientific_notation/scientific_notation_3'>in a previous pod</a>.
  </li>
</ol>


<h3>
  Questions
</h4>

<p class = 'directions'>
  Convert each value given to its base unit in proper scientific notation.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = '\( 1.2 \times 10^4 \text{ meters} \)'>
    I ran 12 kilometers.
  </li>
  <li class = 'question' data-answer = '\( 1.6 \times 10^{-5} \text{ meters} \)'>
    A human hair has a width of 17 \( \mu \)meters.
  </li>
  <li class = 'question' data-answer = '\( 1.2 \times 10^{13} \text{ watts} \)'>
    A large city uses 12 terawatts of power.
  </li>
  <li class = 'question' data-answer = '\( 5.0 \times 10^{-5} \text{ meters} \)'>
    The protest <emph>Eugiena gracilis</emph> has a length of 50 \( \mu \)m.
  </li>
  <li class = 'question' data-answer = '\( 6.00 \times 10^{14} \text{ Hertz} \)'>
    The color green has a frequency of 600 terahertz.
  </li>
  <li class = 'question' data-answer = '\( 5;50 \times 10^{-6} \text{ meters} \)'>
    The color green has a wavelength of 550 nanometers.
  </li>
  <li class = 'question' data-answer = '\( 4.80 \times 10^{14} \text{ Hertz} \)'>
    The color red has a frequency of 480 terahertz.
  </li>
  <li class = 'question' data-answer = '\( 7.50 \times 10^{-17} \text{ meters} \)'>
    The color red has a wavelength of 750 nanometers.
  </li>
  <li class = 'question' data-answer = '\( 6.5 \times 10^{4} \text{ Hertz} \)'>
    The highest sound heard by a cat has a frequency of 64 kilohertz.
  </li>
  <li class = 'question' data-answer = '\( 4.511 \times 10^6 \text{ meters} \)'>
    There are 4811 kilometesr on the drive from Boston to Los Angeles.
  </li>
</ol>

<h3>
  Answers:
</h3>

<h3 class = 'answers'>
</h3>

<ol class = 'answerList'></ol>
