<h3>
    Under Construction:
</h3>

<p>
    Imagine a cardboard box is resting on the table like so:
</p>

<img src = '/contentFiles/dynamicsQuizImages/cardboardBox.jpg' height = '250 px' width = 'auto' />

<p>
    Somebody pushes the cardboard box.
    Then, they take the cardboard box and put it on the shorter side, and push it again.
    Then, they take it and hand it on the end, and continues to push it.
</p>

<p>
    Compare the magnitude of friction in each situation.
</p>