<p class = 'directions'>
  For each wave described, write if the wave
  is transverse or longitudinal.
</p>


<ol>
  <li>
    This wave:
    <img src = '#' height = '200px' width = 'auto' />
  </li>
  <li>
    A sound wave.
  </li>
  <li>
    An ultrasonic wave.
  </li>
  <li>
    A wave of yelllow light.
  </li>
  <li>
    A compressed pulse moving down a slinky.
  </li>
  <li>
    <li>
      This wave:
      <img src = '#' height = '200px' width = 'auto' />
    </li>
  </li>
</ol>
