<p class = 'directions'>
    All diagrams must be drawn with conventional circuit diagrams.
</p>

<ol>
    <li>
        Draw a series circuit with one or more batteries and two light bulbs.
    </li>
    <li>
        Draw a parallel circuit with one or more batteries and two light bulbs.
    </li>
    <li>
        In a series circuit, one light bulb is removed and nothing else is changed.
        What happens to the other bulb?
    </li>
    <li>
        In a parallel circuit, one light bulb is removed and nothing else is changed.
        What happens to the other bulb?
    </li>
    <li>
        Which type of circuit has brighter light bulbs, series or parallel?
    </li>
</ol>