<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<ol>
    <li>
        A block with a mass of 12.0 kg is dragged on a flat surface with a force of 14.0 N,
        represented by <i>F</i> in the diagram below.
        The coefficient of kinetic friction between the block and the ground
        is given by \( \mu_k \) and is unknown.
        The block is moving at a <strong>constant velocity</strong>.
        <ol type = 'a'>
            <li>
                Determine the net force acting on the block.
                Defend your answer by referring explicitly to a law of physics.
            </li>
            <div class = 'bigSpace'></div>
            <li>
                Draw a free-body diagram for the block.
                Please name each force,
                and determine the correct magnitude of each force.
                <br>
                <div class = 'mediumSpace'></div>
                <img src = '/contentFiles/dynamicsQuizImages/basic_dragging_block.png' width = '300px' height = 'auto'>
                <div class = 'mediumSpace'></div>
            </li>
            <li>
                With an equation or in words, defend your choice for the value of the normal force.
            </li>
            <li>
                Using the information above, determine the coefficient of kinetic
                friction \( \mu_k \).
            </li>
        </ol>
    </li>
    <div class = 'pageBreak'></div>
    <li>
        A block with a mass of 4.50 kg is dragged on a flat surface with a force of 16.0 N,
        represented by <emph>F</emph> in the diagram below.
        The coefficient of kinetic friction between the block and the ground is 0.170.
        The block is <emph>NOT</emph> being dragged at a constant velocity to the right. It is accelerating.
        <ol type = 'a'>

            <li>
                Draw a free-body diagram on the picture below.
                Four forces act on the block.
                Please name each force and determine the correct magnitude and direction of each force.
                <br>
                <div class = 'mediumSpace'></div>
                <img src = '/contentFiles/dynamicsQuizImages/basic_dragging_block.png' width = '300px' height = 'auto'>
                <div class = 'mediumSpace'></div>
            </li>
            <li>
                With an equation or in words, defend your choice for the value of the normal force.
            </li>
            <li>
                Determine the magnitude <strong>and direction</strong> of the net force acting on the block.
                <div class = 'bigSpace'></div>
            </li>
            <li>
                Determine the magnitude <strong>and direction</strong> of the acceleration of the block.
            </li>
        </ol>
    </li>
    <li>
        (I took out #3. It was redundant.)
    </li>
<!--    <div class = 'pageBreak'></div>-->
<!--    <li>-->
<!--        A block with a mass of 8.00 kg is dragged on a flat surface with a force of 9.00 N,-->
<!--        represented by <i>F</i> in the diagram below.-->
<!--        The coefficient of kinetic friction between the block and the ground-->
<!--        is given by \( \mu_k \) and is unknown.-->
<!--        The block is moving at a <strong>constant velocity</strong>.-->
<!--        <ol type = 'a'>-->
<!--            <li>-->
<!--                Determine the net force acting on the block,-->
<!--                and explain how you found your answer.-->
<!--            </li>-->
<!--            <div class = 'bigSpace'></div>-->
<!--            <li>-->
<!--                Draw a free-body diagram for the block.-->
<!--                Please name each force,-->
<!--                and determine the correct magnitude of each force.-->
<!--                <br>-->
<!--                <div class = 'mediumSpace'></div>-->
<!--                <img src = '/contentFiles/dynamicsQuizImages/basic_dragging_block.png' width = '300px' height = 'auto'>-->
<!--                <div class = 'mediumSpace'></div>-->
<!--            </li>-->
<!--            <li>-->
<!--                Using the information above, determine the coefficient of kinetic-->
<!--                friction \( \mu_k \).-->
<!--            </li>-->
<!--        </ol>-->
<!--    </li>-->
<!--    <div class = 'bigSpace'></div>-->
</ol>
