<p>
    In the level 1 sections, we determined how to calculate the voltage, current, resistance, and power
    of a circuit with just a battery and a single resistor using two formulas:
    $$ V = IR $$,
    $$ P = IV $$.
    In this section, we will determine the voltage, current, resistance, and power
    of <i>each</i> resistor within a circuit. Based on how the circuit is connected,
    these quantities follow logical mathematical rules.
</p>
<p>
    There are two ways for a circuit to be connected called <i>series</i> and <i>parallel</i> circuits.
    Each of these circuits follows particular rules.
</p>

<h3>
    Solving a Series Circuit
</h3>

<div class = 'definitionBox'>
    <h5>
        Series Circuit Rules:
    </h5>
    <ul>
        <li>
            The <strong>voltage</strong> of each element adds to the total voltage.
        </li>
        <li>
            The <strong>current</strong> is the same for every element of the circuit.
        </li>
        <li>
            The <strong>resistance</strong> of each element adds to the total resistance.
        </li>
        <li>
            For each element, the formula \( V = IR \) applies.
        </li>
    </ul>
</div>

<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/57361993/?s=gaz0lq&amp;ref=embed" allowfullscreen></iframe>

<div class = 'pageBreak'></div>
<ol class = 'questionList'>
    <li class = 'question' data-answer_id = 'problem1Answer' id = 'problem1'></li>
    <li class = 'question' data-answer_id = 'problem2Answer' id = 'problem2'></li>
    <li class = 'question' data-answer_id = 'problem3Answer' id = 'problem3'></li>
    <li class = 'question' data-answer_id = 'problem4Answer' id = 'problem4'></li>
    <li class = 'question' data-answer_id = 'problem5Answer' id = 'problem5'></li>
</ol>
<div class = 'pageBreak'></div>
<h3>
    Solving a Parallel Circuit
</h3>

<div class = 'definitionBox'>
    <h5>
        Parallel Circuit Rules:
    </h5>
    <ul>
        <li>
            The <strong>voltage</strong> is the same for every element of the circuit.
        </li>
        <li>
            The <strong>current</strong> of each element adds up to the total.
        </li>
        <li>
            The <strong>resistance</strong> of each element DOES NOT add to the total. (There is a more complex formula we will learn later).
        </li>
        <li>
            For each element, the formula \( V = IR \) applies.
        </li>
    </ul>
</div>

<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/57362007/?s=xfd0dr&amp;ref=embed" allowfullscreen></iframe>

<ol class = 'questionList'>
    <li class = 'question' data-answer_id = 'problem6Answer' id = 'problem6'></li>
    <li class = 'question' data-answer_id = 'problem7Answer' id = 'problem7'></li>
    <li class = 'question' data-answer_id = 'problem8Answer' id = 'problem8'></li>
    <li class = 'question' data-answer_id = 'problem9Answer' id = 'problem9'></li>
    <li class = 'question' data-answer_id = 'problem10Answer' id = 'problem10'></li>
    <li class = 'question' data-answer = "Ohm's Law is the same rule for series and parallel circuits.">
        What rule is the same for series and parallel circuits?
    </li>
    <li class = 'question' data-answer = "The rules relating voltage, current, and resistance of different elements are different in series and parallel circuits.">
        What rules are different for series and parallel circuits?
    </li>
</ol>

<div class = 'pageBreak'></div>
<h3>
    Solving for Power of Circuits
</h3>

<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/57619586/?s=tinfzi&amp;ref=embed" allowfullscreen></iframe>

<div class = 'definitionBox'>
    <h5>Power Rule</h5>
    <p>
        In all circuits, series or parallel, you can use the formula \( P = IV \) to find power.
    </p>
</div>

<ol class = 'questionList'>
    <li class = 'question' data-answer_id = 'problem13Answer' id = 'problem13'></li>
    <li class = 'question' data-answer_id = 'problem14Answer' id = 'problem14'></li>
    <li class = 'question' data-answer_id = 'problem15Answer' id = 'problem15'></li>
    <li class = 'question' data-answer_id = 'problem16Answer' id = 'problem16'></li>
</ol>

<h3>
    EXTRA PRACTICE
</h3>
<h5>
    You do NOT need to complete these problems to receive full credit for the practice page!
</h5>

<ol class = 'questionList'>
    <li class = 'question' data-answer_id = 'problem17Answer' id = 'problem17'></li>
    <li class = 'question' data-answer_id = 'problem18Answer' id = 'problem18'></li>
    <li class = 'question' data-answer_id = 'problem19Answer' id = 'problem19'></li>
    <li class = 'question' data-answer_id = 'problem20Answer' id = 'problem20'></li>
</ol>

<ol class = 'answerList'></ol>

<script>

    let problem1 = createCircuitProblem('series',12,[2,4],false,[2,4,6],[2,2,2],[4,8,12]);
    insertCircuitProblem(1,problem1);

    let problem2 = createCircuitProblem('series',20,[2,3],false,[2,3,5],[4,4,4],[8,12,20]);
    insertCircuitProblem(2,problem2);

    let problem3 = createCircuitProblem('series',30,[3,7],false,[3,7,10],[3,3,3],[9,21,30]);
    insertCircuitProblem(3,problem3);

    let problem4 = createCircuitProblem('series', 18, [1,2,3], false, [1,2,3,6], [3,3,3,3], [3,6,9,18]);
    insertCircuitProblem(4, problem4);

    let problem5 = createCircuitProblem('series', 21.23, [4.47, 5.36, 2.94], false, [4.47, 5.36, 2.94, 12.77], [1.66, 1.66, 1.66, 1.66], [7.43, 8.91, 4.89, 21.23])
    insertCircuitProblem(5, problem5);

    let problem6 = createCircuitProblem('parallel', 12, [3, 6], false, [3,6,2], [4,2,6], [12,12,12]);
    insertCircuitProblem(6, problem6);
    let problem7 = createCircuitProblem('parallel', 10, [5, 10], false, [5, 10, 3.33], [2, 1, 3], [10,10,10]);
    insertCircuitProblem(7, problem7);
    let problem8 = createCircuitProblem('parallel', 20, [2, 4], false, [2,4,1.33], [10,5,15], [20,20,20]);
    insertCircuitProblem(8, problem8);
    let problem9 = createCircuitProblem('parallel', 6, [2,2,2], false, [2,2,2,0.667],[3,3,3,9],[6,6,6,6]);
    insertCircuitProblem(9, problem9);
    let problem10 = createCircuitProblem('parallel', 10.45, [3.45, 2.58, 8.12], false,[3.45,2.58,8.12,1.25],[3.03,4.05,1.29,8.37],[10.45,10.45,10.45,10.45]);
    insertCircuitProblem(10, problem10);

    let problem13 = createCircuitProblem('series', 50, [10,15], true, [10, 15, 25], [2,2,2], [20,30,50], [40, 60, 100]);
    insertCircuitProblem(13, problem13);
    let problem14 = createCircuitProblem('series', 12, [4, 6], true, [4, 6, 10], [1.2, 1.2, 1.2], [4.8, 7.2, 12], [5.76, 8.64, 14.4]);
    insertCircuitProblem(14, problem14);
    let problem15 = createCircuitProblem('parallel', 15, [3,5], true, [3,5,1.875], [5, 3, 8], [15, 15, 15], [75, 45, 120]);
    insertCircuitProblem(15, problem15);
    let problem16 = createCircuitProblem('parallel', 30, [15, 25], true, [15, 25, 9.375], [2, 1.2, 3.2], [30, 30, 30], [60, 36, 96]);
    insertCircuitProblem(16, problem16);

    let problem17 = createCircuitProblem('series',12,[2,2,4],true,[2,2,4,8],[1.5,1.5,1.5,1.5],[3,3,6,12],[4.5,4.5,9,18]);
    insertCircuitProblem(17,problem17);

    let problem18 = createCircuitProblem('series',8,[10,4,2],true,[10,4,2,16],[.5,.5,.5,.5],[5,2,1,8],[2.5,1,.5,4]);
    insertCircuitProblem(18,problem18);

    let problem19 = createCircuitProblem('parallel',9,[9,3,9],true,[9,5,9,1.8],[1,3,1,5],[9,9,9,9],[9,27,9,45]);
    insertCircuitProblem(19,problem19);

    let problem20 = createCircuitProblem('parallel',20,[4,5,10],true,[4,5,10,1.81],[5,4,2,11],[20,20,20,20],[100,80,40,220]);
    insertCircuitProblem(20,problem20);

    createCircuitProblem()

</script>