<p>
    The goal of this section
    is to solve many different collision and explosion problems
    using the conservation of momentum.
    For any problem, you should be able to invent a formula
    that represents the conservation of momentum,
    plug in known values,
    and solve for unknown values.
</p>

<p>
    In previous sections, we used tables to aid in this process
    and focused on sets of similar questions.
    To improve at physics, you should be able to answer
    many different types of collision questions with a formula.
</p>

<p>
    Please <strong>always</strong>
    write the formula out before plugging numbers into it.
    This is particularly important for this topic, where the
    formula is your own invention.
</p>

<p>
    For December 6, 2019, there are no assigned problems in this group.
</p>

<p>
    Most of the problems on Momentum in
    the Giancoli textbook fit this type.
    Four are already assigned as homework and are written on the homepage.
    If you need more practice on this topic,
    look at the problems on page 192 of the textbook.
</p>