<p class="directions">
    Write the value of each expression given in standard notation as a decimal.
</p>

<ol>
    <li class="mb-4 mt-4">
        \( 10^{-6} \)
    </li>
    <li class="mb-4">
        \( 10^{8} \)
    </li>
    <li class="mb-4">
        \( 10^{-3} \)
    </li>
    <li class="mb-4">
        \( 10^{0} \)
    </li>
    <li class="mb-4">
        \( 10^{4} \)
    </li>
</ol>