<p class="directions">
    Write the value of each expression given in standard notation.
</p>

<ol>
    <li>
        \( 10^{-6} \)
    </li>
    <li>
        \( 10^{8} \)
    </li>
    <li>
        \( 10^{-3} \)
    </li>
    <li>
        \( 10^{0} \)
    </li>
    <li>
        \( 10^{4} \)
    </li>
</ol>