
<h4>
  Five Types of Energy To Start
</h4>

<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <strong>Definition</strong>
    </div>
    <div class = 'col-6 border border-dark'>
      <strong>Examples</strong>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Kinetic Energy</em>
      <br>
      Energy of something moving.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>A sprinter running.</li>
        <li>A car driving.</li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Gravitational Potential Energy</em>
      <br>
      Energy of something that is high up off the ground.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          A bungee jumper on a high cliff about to jump
        </li>
        <li>
          A glass of water sitting on the edge of a table
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Elastic Potential Energy</em>
      <br>
      Energy stored in something that has been strected on compressed.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          A stretched rubber band.
        </li>
        <li>
          A bowstring just before an arrow is released.
        </li>
        <li>
          A trampoline when you fall onto it and it stretches out.
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Thermal Energy</em>
      <br>
      Energy of moving molecules.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          All items have thermal energy!
          Warmer objects just have more than cooler objects.
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Chemical Potential Energy</em>
      <br>
      Energy contained in chemical bonds between atoms.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          Food
        </li>
        <li>
          Gasoline
        </li>
      </ul>
    </div>
  </div>
</div>

<p class = 'directions'>
  For each item, state what type of energy it has.
  (If it has more than one, pick the best option!)
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    A very fast moving car
  </li>
  <li class = 'question'>
    A bookshelf on the roof of a building
  </li>
  <li class = 'question'>
    Your lunch
  </li>
  <li class = 'question'>
    Anything with moving molecules
  </li>
  <li class = 'question'>
    A matchbox car that is wound up;
    Matchbox cars have springs inside them.
  </li>
  <li class = 'question'>
    A gallon of gasoline
  </li>
  <li class = 'question'>
    Mr. Kuncik running in the hallway
  </li>
  <li class = 'question'>
    A book that is on the edge of a table.
  </li>
</ol>

<p class = 'directions'>
  For each type of energy,
  draw a picture of something with that type of energy.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    Kinetic Energy
  </li>
  <li class = 'question'>
    Gravitational Potential Energy
  </li>
  <li class = 'question'>
    Elastic Potential Energy
  </li>
  <li class = 'question'>
    Thermal Energy
  </li>
  <li class = 'question'>
    Chemical Potential Energy
  </li>
</ol>

<h4>
  Five More types of Energy
</h4>

<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <strong>Definition</strong>
    </div>
    <div class = 'col-6 border border-dark'>
      <strong>Examples</strong>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Electrical Energy</em>
      <br>
      Energy of moving electrons.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          Electric Current in a wire
        </li>
        <li>
          A static shock
        </li>
        <li>
          A lightning bolt.
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Electrochemical Potential Energy</em>
      <br>
      A specific type of chemical potential energy that
      can easily be converted into electrical energy.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          A battery
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Mechanical Wave Energy</em>
      <br>
      Waves of oscillation that move through matter;
      made by atoms pushing other atoms.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          Water waves
        </li>
        <li>
          Sound
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Electromagnetic Wave Energy</em>
      <br>
      Waves of oscillating electric and magnetic energy.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          Light
        </li>
        <li>
          Microwaves (Not a microwave oven, the things that a microwave oven makes!)
        </li>
        <li>
          Ultraviolet light
        </li>
      </ul>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Nuclear Energy</em>
      <br>
      Energy contained in the nucleus of an atom;
      energy contained in mass.
    </div>
    <div class = 'col-6 border border-dark'>
      <ul>
        <li>
          All objects have nuclear energy.
        </li>
        <li>
          Objects whose nuclear energy is released are <em>radioactive</em>.
        </li>
      </ul>
    </div>
  </div>
</div>

<p>
  A common error:
  don't call Mechanical Wave Energy
  "Mechanical Energy"!!
  It's very important to indicate it is a wave,
  and mechanical energy is actually a different thing
  we will learn about later!
</p>

<p class = 'directions'>
  For each item, state what type of energy it has.
  (If it has more than one, pick the best option!)
</p>


<ol class = 'questionList'>
  <li class = 'question'>
    Current in an electrical transmission wire
  </li>
  <li class = 'question'>
    The smallest part of an atom, when it is moving
  </li>
  <li class = 'question'>
    The center of an atom
  </li>
  <li class = 'question'>
    Light
  </li>
  <li class = 'question'>
    AAA battery
  </li>
  <li class = 'question'>
    Someone is banging on the door.
    What is the energy of the BANG?
  </li>
  <li class = 'question'>
    Water waves you see at the beach
  </li>
  <li class = 'question'>
    All matter has this type of energy,
    because all matter has mass.
  </li>
  <li class = 'question'>
    An X-Ray machine makes this type of energy.
  </li>
  <li class = 'question'>
    The type of energy used by a cellphone to send signals
  </li>
</ol>

<p class = 'directions'>
  For each type of energy,
  draw a picture of something that shows that type of energy.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    Electrical Energy
  </li>
  <li class = 'question'>
    Mechanical Wave Energy
  </li>
  <li class = 'question'>
    Electromagnetic Wave Energy
  </li>
  <li class = 'question'>
    Nuclear Energy
  </li>
  <li class = 'question'>
    Electrochemical Potential Energy
  </li>
</ol>


<ol class = 'answerList'></ol>

<!--
ADD PICTURE QUESTIONS!
-->



<!--
how do i want to deal with the distinction between translational and rotational kinemic energy?
probably in a different pod than this one!

how about kinetic vs. potential energy? that is a good one

-->
