
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <strong>Definition</strong>
    </div>
    <div class = 'col-6 border border-dark'>
      <strong>Examples</strong>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Translational Kinetic Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Rotational Kinetic Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Gravitational Potential Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Elastic Potential Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Thermal Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Chemical Potential Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
</div>





<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <strong>Definition</strong>
    </div>
    <div class = 'col-6 border border-dark'>
      <strong>Examples</strong>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Electrical Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Gravitational Potential Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Electrochemical Potential Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Mechanical Wave Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Electromagnetic Wave Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark'>
      <em>Nuclear Energy</em>
      <br>

    </div>
    <div class = 'col-6 border border-dark'>

    </div>
  </div>
</div>
