<ol>
    <li>
        What is Isaac Newton's definition of the word "gravity"?
        <ol type = 'A'>
            <li>
                Gravity tells how heavy an object is.
            </li>
            <li>
                Gravity is a force that makes people fall down.
            </li>
            <li>
                Gravity is a force attracting all mass to all other mass.
            </li>
            <li>
                Gravity is the force that attracts all things to the earth.
            </li>
        </ol>
    </li>
    <li>
        True or false:
        Between any two small object that you can pick up and hold,
        there is a force of gravitational attraction.
    </li>
    <li>
        Is there gravity in space?
        If yes, give one example. If no, explain why not.
    </li>
    <li>
        People always fall down because gravity is attracting them to where...
        <ol type = 'A'>
            <li>
                The ground
            </li>
            <li>
                The earth's mantle
            </li>
            <li>
                The center of the earth
            </li>
            <li>
                The downward direction of the universe
            </li>
        </ol>
    </li>
</ol>