

<ol>
  <li>
    State, from memory, the Law of Universal Gravitation,
    focusingly only on the concept, not the formula.
  </li>
  <li>
    By referring explicitly to the definition above,
    explain why gravity makes you fall down.
  </li>
  <li>
    By referring explicitly to the definition above,
    give one example of gravity <em>in space</em>.
  </li>
  <li>
    By referring explicitly to the definition above,
    explain how there is a force of attraction between
    you and the table you are working on.
  </li>
  <li>
    Explain why you do not <em>feel</em> a force of attraction
    attraction to the table you are working on. 
  </li>
</ol>
