<p>
    How much force do you apply if you break a board in half
    with a chop?
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/5GvT6GTP0Os?start=44" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<h5>
    Important Implication of Newton's Third Law:
</h5>
<p>
    You can never apply more force to something
    that it is capable of applying back to you.
    This is because
    forces are <strong>always</strong>
    an interaction.
</p>

<p>
    Someone is strong enough to apply 3000 N of force.
    The are trying to break a board that will break if it
    experiences 2000 N of force.
    The person will never be able to hit the board harder than
    2000 Newtons.
</p>


<h5>
    Newton's Third Law on an atomic level:
</h5>

<p>
    Contact forces are really <emph>electrostatic</emph> forces.
    If your fist comes near to a wall,
    your force
</p>


<h4>
    Questions
</h4>

<ol>
    <li>
        A mixed-martial arts master is strong enough to apply 4000 N of force.
        If he punches a piece of paper,
        it will not hurt as much as if he punches a wall.
        Explain this by referring to this principle.
    </li>
</ol>
