<p>
    Every electromagnetic wave has a particular wavelength.
    For electromagnetic waves within the visible light range,
    the wavelength determines the color of the electromagnetic wave.
    In the <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_1'>previous pod</a>, we learned that
    red has the longest wavelength and violet has the shortest.
    In this pod, we will quantify this relationship.
</p>


<p>
    All of the electromagnetic waves of visible light have
    a wavelength between 400 nanometers and 700 nanometers.
</p>

<div id = 'wavelengthColorTable'></div>

<script>
    let wavelengthColorTable = new Table (7,2);
    wavelengthColorTable.addTopHeaders(['Color','Wavelength']);
    wavelengthColorTable.writeTextInRow(1,['Red','635 nm - 700 nm']);
    wavelengthColorTable.writeTextInRow(2,['Orange','590 nm - 635 nm']);
    wavelengthColorTable.writeTextInRow(3,['Yellow','560 nm - 590 nm']);
    wavelengthColorTable.writeTextInRow(4,['Green','520 nm - 590 nm']);
    wavelengthColorTable.writeTextInRow(5,['Blue','450 nm - 520 nm']);
    wavelengthColorTable.writeTextInRow(6,['Violet','400 nm - 450 nm']);


    $("#wavelengthColorTable").append(wavelengthColorTable.draw(200,400));
</script>


<p class = 'directions'>
    For each electromagnetic wave given, determine what color this wave would have:
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'blue'>
        A light wave has a wavelength of 458 nanometers. What color is it?
    </li>
    <li class = 'question' data-answer = 'orange'>
        A light wave has a wavelength of 612 nanometers. What color is it?
    </li>
    <li class = 'question' data-answer = 'green'>
        A light wave has a wavelength of 555 nanometers. What color is it?
    </li>
    <li class = 'question' data-answer = 'red'>
        A light wave has a wavelength of 678 nanometers. What color is it?
    </li>
    <li class = 'question' data-answer = 'yellow'>
        A light wave has a wavelength of 562 nanometers. What color is it?
    </li>
    <li class = 'question' data-answer = 'violet'>
        A light wave has a wavelength of 444 nanometers. What color is it?
    </li>
</ol>



<ol class = 'answerList'></ol>


<!---
Textbook Resources:


https://courses.lumenlearning.com/boundless-physics/chapter/the-electromagnetic- spectrum/

https://www.siyavula.com/read/science/grade-10/electromagnetic-radiation/11- electromagnetic-radiation-03

-->