<p>
    In the <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/classify_electromagnetic_wave_by_wavelength_1'>previous pod</a>
    you learned to classify every electromagnetic wave into one of seven categories based upon its wavelength.
    This required using a wide range of values in scientific notation.
    In this pod, you will learn a slight variation on that activity.
    Many scientists don't like using scientific notation because it simply looks awkward and is difficult to view
    intuitively. They would prefer to use <a href = '/pod/pure_mathematics/scientific_notation/memorize_metric_prefixes'>metric prefixes</a>
    to represent different orders of magnitudes,
    because they appear eloquent and elegant.
    In this pod, we will look at values of wavelength written in metric prefixes and classify them into seven electromagnetic waves.
    It may be helpful to review <a href = '/pod/pure_mathematics/scientific_notation/scientific_notation_4'>converting metric unit to scientific notation</a>.
</p>

<img src = '/podAssets/waves/the_electromagnetic_spectrum_quantitative/classification_table_2.png' height = 'auto' width = '500px'/>


<p class = 'directions'>
    For each of the following wavelengths, first convert them into <emph>meters</emph> in scientific notation,
    then classify each wave into one of the seven electromagnetic waves listed in the table above.
</p>

<ol class = 'questionList'>
    <li class="question" data-answer = ''>
        \( \lambda = 500 \text{ nanometers} \)
    </li>
    <li class="question" data-answer = ''>
        \( \lambda = 28 \text{ micrometers} \)
    </li>
    <li class="question" data-answer = ''>
        \( \lambda = 19 \text{ picometers} \)
    </li>
    <li class="question" data-answer = ''>
        \( \lambda = 0.8 \text{ picometers} \)
    </li>
    <li class="question" data-answer = ''>
        \( \lambda = 0.8 \text{ meters} \)
    </li>
    <li class="question" data-answer = ''>
        \( \lambda = 12 \text{ centimeters} \)
    </li>
    <li class="question" data-answer = ''>
        \( \lambda = 300 \text{ micrometers} \)
    </li>
    <li class="question" data-answer = ''>
        \( \lambda = 200 \text{ nanometers} \)
    </li>
    <li class="question" data-answer = ''>
        \( \lambda = 500 \text{ picometers} \)
    </li>
</ol>



<h4>
    The Full Spectrum
</h4>

<p>
    As we learned in a <a href = '/pod/waves/the_electromagnetic_spectrum_quantitative/electromagnetic_spectrum_2'>previous pod</a>,
    the entire electromagnetic spectrum consists not of seven types of waves, but 12.
    There are the six invisible electromagnetic waves: radio, micro, infrared, ultraviolet, X-Ray, and gamma ray.
    In the middle of them, with wavelengths between 400 nanometers and 700 nanometers
    is visible light, which can be broken into six colors: red, orange, yellow, green, blue, and violet.
    Any photon has a wavelength that will classify it into one of these twelve waves.
</p>

<img src = '/podAssets/waves/the_electromagnetic_spectrum_quantitative/classification_table_3.png' height = 'auto' width = '500px'/>



<p class = 'directions'>
    For each wave of a particular wavelength,
    determine which type of electromagnetic wave it is.
    Also indicate if it is visible of invisible,
    and if it is visible indicate what color it is.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = ''>

    </li>
</ol>


<ol class = 'answerList'></ol>