<h3>
    Part 1: Colors
</h3>

<p>
    In this lesson, we will focus on six colors: Red, Orange, Yellow, Green, Blue, Violet.
    You can remember the colors in order using the acronym:
    ROY. G. BV
    (Indigo, which is slightly between blue and violet, is not typically included in the physics colors.)
</p>

<p>
    Each color is caused by an <strong>electromagnetic wave</strong> of <emph>visible light</emph>.
    What makes each color is the <emph>wavelength</emph> and <emph>frequency</emph> of that electromagnetic wave.
</p>

<p>
    There are 3 facts you need to know about wavelength and frequency of colors
    for this pod:
</p>

<ul class = 'principleList'>
    <li>
        Wavelength and frequency are <epmh>inversely proportional</epmh>.<br>
        When wavelength is longer, frequency is shorter.<br>
        When wavelength is shorter, frequency is longer.
    </li>
    <li>
        Red has the longest wavelength and violet has the shortest wavelength.
        As you move from red to violet, wavelength gets shorter.
    </li>
    <li>
        Violet has the highest frequency and red has the shortest frequency.
        As you move from violet to red, frequency gets lower.
    </li>
</ul>

<p>
    Note that, when talking about wavelength, we say it is “longer” or “shorter,”
    but when discussing frequency we say it is “higher” or “lower.”
</p>

<img src = '/podAssets/waves/the_electromagnetic_spectrum_quantitative/em_spectrum_1_color_table.png' width = 'auto' height = '300px' />

<h4>
    Questions:
</h4>


<ol class = 'questionList'>
    <li class = 'question' data-answer = 'radio, micro, infrared, visible, ultraviolet, X-ray, gamma ray'>
        Copy the six colors form longest wavelength to shortest wavelength.
        (It's repetitive, but copying does help build memory.
    </li>
    <h5>
        Questions about wavelength:
    </h5>
    <li class = 'question' data-answer = 'red'>
        Which has a longer wavelength: red or violet?
    </li>
    <li class = 'question' data-answer = 'yellow'>
        Which has a longer wavelength: blue or yellow?
    </li>
    <li class = 'question' data-answer = 'orange'>
        Which has a longer wavelength: green or orange?
    </li>
    <li class = 'question' data-answer = 'green'>
        Which has a shorter wavelength: yellow or green?
    </li>
    <li class = 'question' data-answer = 'violet'>
        Which has a shorter wavelength: violet or blue?
    </li>
    <li class = 'question' data-answer = 'blue'>
        Which has a shorter wavelength: green or blue?
    </li>
    <h5>
        Questions about frequency:
    </h5>
    <li class = 'question' data-answer = 'violet'>
        Which has a higher frequency: red or violet?
    </li>
    <li class = 'question' data-answer = 'green'>
        Which has a higher frequency: green or red?
    </li>
    <li class = 'question' data-answer = 'orange'>
        Which has a lower frequency: orange or blue?
    </li>
    <li class = 'question' data-answer = 'blue'>
        Which has a lower frequency: violet or blue?
    </li>
    <li class = 'question' data-answer = 'red'> <!-- same question as above reversed-->
        Which has a lower frequency: red or green?
    </li>
    <li class ='question' data-answer ='green'>
        Which has a higher frequency: yellow or green?
    </li>
</ol>

<p class = 'directions'>
    In the sentences below, fill in the blanks to describe the waves.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'red waves...blue waves'>
        Compare RED WAVES and BLUE WAVES: <br>
        __________________ have a longer wavelength but ____________________ have a higher frequency.
    </li>
    <li class = 'question' data-answer = 'yellow waves...blue waves'>
        Compare YELLOW WAVES and BLUE WAVES: <br>
        __________________ have a longer wavelength but ____________________ have a higher frequency.
    </li>
    <li class = 'question' data-answer = 'green waves...violet waves'>
        Compare VIOLET WAVES and GREEN WAVES: <br>
        __________________ have a longer wavelength but ____________________ have a higher frequency.
    </li>
    <li class = 'question' data-answer = 'shorter...higher'>
        Compare ORANGE WAVES and RED WAVES: <br>
        Orange waves have a ____________________ wavelength but a ___________________ frequency than red waves.
    </li>
    <li class = 'question' data-answer = 'shorter...higher'>
        Compare BLUE WAVES and GREEN WAVES: <br>
        Blue waves have a ____________________ wavelength but a ___________________ frequency than green waves.
    </li>
    <li class = 'question' data-answer = 'longer...lower'>
        Compare YELLOW WAVES and VIOLET WAVES: <br>
        Yellow waves have a ____________________ wavelength but a ___________________ frequency than violet waves.
    </li>
</ol>


<p class = 'directions'>
    In the problems below, use the words <emph>wavelength</emph> and <emph>frequency</emph>
    to describe the differences between the waves.
    You should write sentences that sound like those written above.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Red waves have a longer wavelength but a lower frequency than green waves.'>
        Using the terms wavelength and frequency, compare red waves and green waves.
    </li>
    <li class = 'question' data-answer = 'Violet waves have a higher frequency but a shorter wavelength than blue waves.'>
        Using the terms wavelength and frequency, compare violet waves and blue waves.
    </li>
    <li class = 'question' data-answer = 'Orange waves have a longer wavelength but a lower frequency than green waves.'>
        Using the terms wavelength and frequency, compare orange waves and green waves.
    </li>
    <li class = 'question' data-answer = 'Yellow waves have a longer wavelength but a lower frequency than violet waves.'>
        Using the terms wavelength and frequency, compare yellow waves and violet waves.
    </li>
    <li class = 'question' data-answer = 'Blue waves have a shorter wavelength but a higher frequency than green waves.'>
        Using the terms wavelength and frequency, compare blue waves and green waves.
    </li>
    <li class = 'question' data-answer = 'Red waves have a lower frequency but a longer wavelength than violet waves.'>
        Using the terms wavelength and frequency, compare red waves and violet waves.
    </li>
</ol>

<h3>
    Part 2:
    The Electromagnetic Spectrum
</h3>

<p>

    The electromagnetic spectrum consists of seven different types of electromagnetic waves: <br>
    Radio Waves, Microwaves, Infrared Waves, Visible Light Waves, Ultraviolet Waves, X-Ray Waves, and Gamma Ray Waves
</p>

<p>
    You can remember these, in order, using the acronym: <br>
    Raging Martians Invade Venus Using X-Ray Guns
</p>

<p>
    What makes each electromagnetic wave different are two things: it’s <emph>wavelength</emph> and its <emph>frequency</emph>:
</p>

<p>
    There are three things you need to know about wavelength and frequency of electromagnetic waves:
</p>

<ul class = 'principleList'>
    <li>
        Wavelength and frequency are <emph>inversely proportional</emph>. <br>
        When wavelength is longer, frequency is lower. <br>
        When wavelength is shorter, frequency is higher.
    </li>
    <li>
        Radio waves have the <emph>longest wavelength</emph>.
        Gamma Ray waves have the <emph>shortest wavelength</emph>.
        As you progress from radio waves to gamma ray waves, wavelength becomes shorter.
    </li>
    <li>
        Gamma ray waves have the <emph>highest frequency</emph>.
        Radio waves have the <emph>lowest frequency</emph>.
        As you progress from radio waves to gamma ray waves, frequency becomes higher.
    </li>
</ul>


<img src = '/podAssets/waves/the_electromagnetic_spectrum_quantitative/em_spectrum_1_spectrum_table.png' width = 'auto' height = '300px' />


<ol class = 'answerList'></ol>