<h3>
    Part 1: Colors
</h3>

<p>
    In this lesson, we will focus on six colors: Red, Orange, Yellow, Green, Blue, Violet.
    You can remember the colors in order using the acronym:
    ROY. G. BV
    (Indigo, which is slightly between blue and violet, is not typically included in the physics colors.)
</p>

<p>
    Each color is caused by an <strong>electromagnetic wave</strong> of <emph>visible light</emph>.
    What makes each color is the <emph>wavelength</emph> and <emph>frequency</emph> of that electromagnetic wave.
</p>

<p>
    There are 3 facts you need to know about wavelength and frequency of colors
    for this pod:
</p>

<ul class = 'principleList'>
    <li>
        Wavelength and frequency are <epmh>inversely proportional</epmh>.<br>
        When wavelength is longer, frequency is shorter.<br>
        When wavelength is shorter, frequency is longer.
    </li>
    <li>
        Red has the longest wavelength and violet has the shortest wavelength.
        As you move from red to violet, wavelength gets shorter.
    </li>
    <li>
        Violet has the highest frequency and red has the shortest frequency.
        As you move from violet to red, frequency gets lower.
    </li>
</ul>

<p>
    Note that, when talking about wavelength, we say it is “longer” or “shorter,”
    but when discussing frequency we say it is “higher” or “lower.”
</p>

<img src = '/podAssets/waves/the_electromagnetic_spectrum_quantitative/em_spectrum_1_color_table.png' width = 'auto' height = '300px' />







<h3>
    Part 2:
    The Electromagnetic Spectrum
</h3>

<p>

    The electromagnetic spectrum consists of seven different types of electromagnetic waves: <br>
    Radio Waves, Microwaves, Infrared Waves, Visible Light Waves, Ultraviolet Waves, X-Ray Waves, and Gamma Ray Waves
</p>

<p>
    You can remember these, in order, using the acronym: <br>
    Raging Martians Invade Venus Using X-Ray Guns
</p>

<p>
    What makes each electromagnetic wave different are two things: it’s <emph>wavelength</emph> and its <emph>frequency</emph>:
</p>

<p>
    There are three things you need to know about wavelength and frequency of electromagnetic waves:
</p>

<ul class = 'principleList'>
    <li>
        Wavelength and frequency are <emph>inversely proportional</emph>. <br>
        When wavelength is longer, frequency is lower. <br>
        When wavelength is shorter, frequency is higher.
    </li>
    <li>
        Radio waves have the <emph>longest wavelength</emph>.
        Gamma Ray waves have the <emph>shortest wavelength</emph>.
        As you progress from radio waves to gamma ray waves, wavelength becomes shorter.
    </li>
    <li>
        Gamma ray waves have the <emph>highest frequency</emph>.
        Radio waves have the <emph>lowest frequency</emph>.
        As you progress from radio waves to gamma ray waves, frequency becomes higher.
    </li>
</ul>


<img src = '/podAssets/waves/the_electromagnetic_spectrum_quantitative/em_spectrum_1_spectrum_table.png' width = 'auto' height = '300px' />