<p>
    Two friends are talking on the phone.
    Friend A is located in India, and friend B is located in Russia.
</p>

<ol>
    <li>
        Which friend has a greater angular velocity:
        A, B, or neither?
        Briefly explain your answer.
    </li>
    <li>
        Which friend has a greater linear velocity:
        A, B, or neither?
        Briefly explain your answer.
    </li>
</ol>
