<p>
    The key concept of nuclear physics is that different isotopes
    will decay and react differently.
    Each isotope has a particular mass number, which indicates whether it is stable or
    likely to decay.
    However, many students confuse the <strong>mass number</strong> with the <strong>atomic mass</strong>.
</p>


<h4>
    Definitions
</h4>

<p class="definition" data-answer = 'mass number'>
    The <strong>mass number</strong> of an atom represents the total mass of the atom.
    It is the total number of atomic mass units in a nucleus.
    The mass number of an atom is equal to the number of protons plus the number of neutrons.
</p>
<p class="definition" data-answer = 'isotope'>
    Every element has a certain number of atoms of that element
</p>
<p class="definition" data-answer = 'atomic mass'>
    The average mass of all of the atoms of an element.
</p>


<h4>
    How to calculate atomic mass
</h4>

<ol>
    <li>
        Find the mass of every isotope of an atom.
    </li>
    <li>
        Find the abundance of each isotope of an element.
        This is what fraction of all of the atoms of that element
        that are that isotope.
    </li>
    <li>
        Add up the mass of each isotope times the prevalence of that isotope.
    </li>
</ol>

<h5>
    Antimony
</h5>
<div class="container">
    <div class="row">
        <div class="col-3 border border-dark">
            Isotope
        </div>
        <div class="col-3 border border-dark">
            Abundance
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Antimony-121
        </div>
        <div class="col-3 border border-dark pt-4">
            57.21%
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Antimony-123
        </div>
        <div class="col-3 border border-dark pt-4">
            42.79%
        </div>
    </div>
</div>

<h4>
    Conceptual Questions
</h4>

<ol>
    <li class="question" data-answer = 'B'>
        The atomic mass of carbon 12.011.
        This is because:
        <ol type = 'A'>
            <li>
                All carbon atoms have a mass number of 12.
            </li>
            <li>
                Almost all carbon atoms have a mass number of 12.
                A few of them are 13 or 14.
            </li>
            <li>
                Almost all carbon atoms have a mass number of 12.
                A few of them are 10 or 11.
            </li>
        </ol>
    </li>
    <li class="question">
        A teacher gives his students a problem involving an atom
        of nitrogen with a mass number of 15.
        One of the students in the class raises his hand
        and tells the teacher he made a typo.
        "The periodic table says that the mass of nitrogen is 14, not 15."
        What would you tell this confused student?
    </li>
</ol>