<p>
    "A book with a mass of 2 kg is at rest on a table that is 0.8 meters tall."
    A student completes the following calculation:
    $$
    GPE = mgh = 2 \cdot 9.8 \cdot = 0.8 = 15.68
    $$
    Which is the best way to write his result?
</p>
<ol type = 'A'>
    <li>
        The book has 15.68 Joules of gravitational potential energy.
    </li>
    <li>
        The book-earth system has 15.68 Joules of gravitational potential energy.
    </li>
    <li>
        The book-table system has 15.68 Joules of gravitational potential energy.
    </li>
</ol>
<p>
    (note: there is one correct answer)
    Please defend your answer in a brief paragraph.
    In your paragraph, you should do each of the following:
</p>
<ul>
    <li>
        Define a "system"
    </li>
    <li>
        Define "gravity" and/or Newton's Law of Universal Gravitation
    </li>
    <li>
        Identify reason why objects on earth have gravitational potential energy when they are above the ground.
    </li>
</ul>

<p>
    "A ball a mass of 3 kg has just been thrown by someone's arm, and now is moving with a speed of 5 m/s."
    A student completes the following calculation:
    $$
    KE = \frac{1}{2} m v^2 = 0.5 \cdot 3 \cdot 5^2 = 37.5
    $$
    Which is the best way to write this result?
</p>
<ol type = 'A'>
    <li>
        The book has 37.5 Joules of kinetic energy.
    </li>
    <li>
        The book-earth system has 37.5 Joules of kinetic energy.
    </li>
    <li>
        The book-arm system has 37.5 Joules of kinetic energy.
    </li>
</ol>

<p>
    (note: there is one correct answer)
    Please defend your answer in a brief paragraph.
    In your paragraph, you should do each of the following:
</p>

<ul>
    <li>
        Define a "system"
    </li>
    <li>
        Define "kinetic energy"
    </li>
    <li>
        Refer to Newton's First Law
    </li>
</ul>