
<ol>
    <li>
        <p>
            A book with a mass of 2 kg is at rest on a table that is 0.8 meters tall.
            The table is on the third floor of a building, and the floor is 9 meters above the ground.
            The ground on which the building is built is 200 meters above sea level.
            The ceiling in the room is 4 meters tall.
            A teacher asks her five students to determine the gravitational potential energy of the book,
            and they have five different responses:
        </p>
        <ul>
            <li>
                \( GPE = mgh =  2 \cdot 0.8 \cdot 9.8 = 15.69 \text{ J} \)
            </li>
            <li>
                \( GPE = mgh =  2 \cdot (0.8 + 9 ) \cdot 9.8 = 192.08 \text{ J} \)
            </li>
            <li>
                \( GPE = mgh =  2 \cdot (0.8 + 9 + 200) \cdot 9.8 = 4112.08 \text{ J} \)
            </li>
            <li>
                \( GPE = mgh =  2 \cdot (0.8 - 4) \cdot 9.8 = -62.72 \text{ J} \)
            </li>
            <li>
                \( GPE = mgh =  2 \cdot 0 \cdot 9.8 = 0 \)
            </li>
        </ul>
        <p>
            All five are correct. Explain how.
        </p>
    </li>
    <li>
        <p>
            A book with a mass of 2 kg is sitting on a table that is 0.8 meters tall.
            A student solving the problem writes "The book has 15.68 Joules of gravitational potential energy."
            His statement is partially correct but can be improved by using the language
            of <emph>systems</emph>.
            Rewrite the student's statement and explain why you wrote it that way.
        </p>
    </li>
</ol>



