
<p>
    A book with a mass of 2 kg is sitting on a table that is 0.8 meters tall.
    A student solving the problem writes "The book has 15.68 Joules of gravitational potential energy."
    His statement is partially correct,
    but he could better reflect the nature of energy the  by using the language
    of <emph>systems</emph>.
    Rewrite the student's statement and explain why you wrote it that way.
</p>


<p>
    A ball with a mass of 3 kg is moving with a speed of 5 m/s because it was pushed by someone.
    A student solving the problem writes "The ball has 37.5 Joules of Kinetic energy."
    Is this statement complete, according to the language of <emph>systems</emph>? Explain why or why not.
</p>

