
<p>
    For a quiz on this topic,
    you will need to make a mathematical argument
    that each of the four kinematic equations is true in the case of constant acceleration.
    of the four kinematic equations.
    Know where they are derived from and how to derive them.
    You will be graded on how clear your derivations are,
    and you must <i>explicitly</i> mention how constant acceleration is necessary for the
    equations to work.
    Your derivation should <b>not</b> use integrals of derivatives as an argument,
    because it is important to see the concepts without these tools.
</p>

<p>
    This video from Brad Davis gives a decent derivation:
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/tp_8a-A9ZvU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
    Note that derivations you find in other sources do not necessarily use the same notation as I do.
    For example, \( v_0 \) (pronounced "v-naught") can be substituted for \( v_i \).
</p>

<p>
    There is also a decent written derivation on <a href = 'https://www.carolina.com/teacher-resources/Interactive/derivation-of-the-kinematics-equation/tr32615.tr'>this page</a>.
</p>

<p>
    There is a written derivation on pages 28 - 29 of the Giancoli textbook.
    But this derivation uses equations only, rather than graphical arguments.
    On the quiz, you will need to be able to give graphical arguments,
    particularly for the formula \( \Delta x = v_i \cdot \Delta t + \frac{1}{2} a \left( \Delta t \right)^2 \),
    because it is crucial to understand how graphical and algebraic representations of motion relate to each other.
</p>