<p>
    The fundamental theorem of calculus.
</p>

<!--
<div id = 'putGraphsHere'></div>
-->

<p>
    The <strong>slope</strong> of a position-time graph at time \( t \) is the velocity \( v(t) \) at time \( t \).
</p>

<p>
    The <strong>slope</strong> of a velocity-time graph at time \( t \) is the acceleration \( a(t) \) at time \( t \).
</p>

<p>
    The <strong>area under the curve</strong> of a velocity-time graph during a time interval \( \Delta t \) is the
    change in position \( \Delta x \) over that interval.
</p>

<p>
    The <strong>area under the curve</strong> of an acceleration-time graph during a time interval \( \Delta t \) is the
    change in velocity \( \Delta v \) over that interval.
</p>

<p>
    In the quiz on this topic, you will need to <i>argue</i> and <i>demonstrate</i> that these principles are true
    by using what you know about kinematics. The quiz is open ended. You may use an algebraic problem,
    a numerical problem, a conceptual argument, or all of these together.
</p>


<script>
    let positionTimeGraph = new QuantitativeGraph(0, 5, -5, 5);
    positionTimeGraph.labelAxes('time (s)', 'position (m)');

    let velocityTimeGraph = new QuantitativeGraph(0,5,-5,5);
    velocityTimeGraph.labelAxes('time (s)', 'velocity (m/s)');

    let accelerationTimeGraph = new QuantitativeGraph(0, 5, -5, 5);
    accelerationTimeGraph.labelAxes('time (s)', 'acceleration (m/s/s)');



//     labelLineAbove(point1, point2, text, textDisplacement, relativeFontSize) {
//     labelLineBelow(point1, point2, text, textDisplacement, relativeFontSize) {

    let arrows = new Diagram();
    let pointA = new Point(0,1);
    let pointB = new Point(3,1);
    arrows.addArrow(pointA, pointB);
    arrows.labelLineAbove(pointA, pointB, 'slope'); // this needs to be a better function
    let pointC = new Point(3,0);
    let pointD = origin;
    arrows.addArrow(pointC, pointD);
    arrows.labelLineBelow(pointC, pointD, 'area under curve');


    positionTimeGraph.merge(arrows, 'right', 0.5);
    positionTimeGraph.merge(velocityTimeGraph, 'right', 0.5);
// merge with duplicate of 'arrows'
    positionTimeGraph.merge(accelerationTimeGraph, 'right', 0.5);


    $("#putGraphsHere").append(positionTimeGraph.drawCanvas(900,300));

    // well, it is a work in progress

    // i think the problem may be that the labels are not considered part of the range of my graph!

</script>