
<ol>

    <!---1 - 4 Position-Time Graphs --->
    <li>
        The graph below is flat at \( t = 0 \).
        <ol type = 'a'>
            <li>Determine the acceleration of the object in the graph below.</li>
            <li>Determine the final velocity of the object in the graph below.</li>
        </ol>
        <div id = 'problem1'></div>
    </li>

    <li>
        The graph below is flat at \( t = 0 \).
        <ol type = 'a'>
            <li>Determine the acceleration of the object in the graph below.</li>
            <li>Determine the final velocity of the object in the graph below.</li>
        </ol>
        <div id = 'problem2'></div>
    </li>

    <li>
        The graph below is flat at \( t = 18 \text{seconds} \).
        <ol type = 'a'>
            <li>Determine the acceleration of the object in the graph below.</li>
            <li>Determine the initial velocity of the object in the graph below.</li>
        </ol>
        <div id = 'problem3'></div>
    </li>

    <li>
        The graph below is flat at \( t = 144 \text{seconds} \).
        <ol type = 'a'>
            <li>Determine the acceleration of the object in the graph below.</li>
            <li>Determine the inital velocity of the object in the graph below.</li>
        </ol>
        <div id = 'problem4'></div>
    </li>

    <p>
        Problems 5 - 12, involving position-time and velocity-time graphs, are coming soon!
    </p>

</ol>

<script>
    /*
<!--- 5 - 8 Velocity-Time graphs--->
<li>
    <ol type = 'a'>
        <li>Determine the displacement of the object in the graph below.</li>
        <li>Determine the acceleration of the object in the graph below.</li>
    </ol>
    <div id = 'problem5'></div>
</li>

<li>
    <ol type = 'a'>
        <li>Determine the acceleration of the object in the graph below.</li>
        <li>Determine the final velocity of the object in the graph below.</li>
    </ol>
    <div id = 'problem6'></div>
</li>

<li>
    <ol type = 'a'>
        <li>Determine the acceleration of the object in the graph below.</li>
        <li>Determine the final velocity of the object in the graph below.</li>
    </ol>
    <div id = 'problem7'></div>
</li>

<li>
    <ol type = 'a'>
        <li>Determine the acceleration of the object in the graph below.</li>
        <li>Determine the final velocity of the object in the graph below.</li>
    </ol>
    <div id = 'problem8'></div>
</li>

<!---9 - 12 Acceleration-Time Graphs ---->
<li>
    <ol type = 'a'>
        <li>Determine the final velocity of the object in the graph below.</li>
        <li>Determine the displacement of the object in the graph below.</li>
    </ol>
    <div id = 'problem9'></div>
</li>

<li>
    <ol type = 'a'>
        <li>Determine the acceleration of the object in the graph below.</li>
        <li>Determine the final velocity of the object in the graph below.</li>
    </ol>
    <div id = 'problem10'></div>
</li>

<li>
    <ol type = 'a'>
        <li>Determine the acceleration of the object in the graph below.</li>
        <li>Determine the final velocity of the object in the graph below.</li>
    </ol>
    <div id = 'problem11'></div>
</li>

<li>
    <ol type = 'a'>
        <li>Determine the acceleration of the object in the graph below.</li>
        <li>Determine the final velocity of the object in the graph below.</li>
    </ol>
    <div id = 'problem12'></div>
</li>
*/
</script>



<script>

    var problem1 = makeParabolicPTgraph(8,undefined,6,0,0);
    $("#problem1").append(problem1.drawCanvas(300,300));

    var problem2 = makeParabolicPTgraph(12,undefined,0.25,0,0);
    $("#problem2").append(problem2.drawCanvas(300,300));

    var problem3 = makeParabolicPTgraph(3,undefined,-4,12,0);
    $("#problem3").append(problem3.drawCanvas(300,300));

    var problem4 = makeParabolicPTgraph(48,undefined,-0.125,6,0);
    $("#problem4").append(problem4.drawCanvas(300,300));

</script>
