<p>
    If you have completed all of the previous pods in this unit,
    you are likely getting good at solving the inverse-square laws
    numerically.
    Of course, we want to be able to solve them algebraically as well!
    But before we can accomplish that, we need to clear up some unfinished business
    on the unit of the universal constants.
</p>

<h4>
    Dimensional Analysis of the Inverse Square Laws:
</h4>

<h4>
    Algebraic Solutions of the Inverse Square Laws:
</h4>