<p>
    If you have completed all of the previous pods in this unit,
    you are likely getting good at solving the inverse-square laws
    numerically.
    Of course, we want to be able to solve them algebraically as well!
    But before we can accomplish that, we need to clear up some unfinished business
    on the unit of the universal constants.
</p>

<h4>
    Dimensional Analysis of the Inverse Square Laws:
</h4>

<p>
    Newton's Law of Universal Gravitation is given by
    $$
    F_g = \frac{G m_1 m_2}{d^2}.
    $$
    The SI unit for force is Newtons (N).
    The SI unit for mass is kilograms (kg).
    The SI unit for distance is meters (m).
    For this reason, in order for the formula to be dimensionally correct,
    the SI unit for the Universal Gravitational Constant \( G \) must be
    \( \text{N} \cdot \frac{\text{m}^2}{\text{kg}^2} \).
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        Complete a dimensional analysis to show that, if the units for \( G \) are
        \( \text{N} \cdot \frac{\text{m}^2}{\text{kg}^2} \),
        the formula above is dimensionally correct.
    </li>
    <li class = 'question'>
        Newtons can be written as \( \text{N} = \text{kg} \cdot \frac{\text{m}}{\text{s}^2} \).
        Using this definition, write the unit for \( G \) in terms of meters, kilograms, and seconds.
    </li>
</ol>

<p>
    What do these units actually mean? They look like some sort of alphabet soup!
    Scientists know that the force of gravity must be directly proportional to the
    two masses attracting, and inversely proportional to the square of the distance
    between their centers of mass.
    <a href = '#' data-comment = 'link to proportionality unit'>Any proportionality equation requires a constant of
    proportionality </a>.
    In this case, that is played by the universal gravitational constant \( G \).
    \( G \) isn't anything that you can see or touch.
    It is just a number that makes the equation work.
    And its units are simply the units that make the formula work.
    Don't over think it.
</p>

<p>
    The exact same analysis applies to Coulombs Law:
    $$
    F_e = \frac{k q_1 q_2}{d^2}.
    $$
    The SI units for charge \( q \) is Coulombs (C); the SI unit for distance \( d \) is meters (m);
    the SI unit for electric force \( F_e \) is Newtons (N).
    For the formula to work, the SI unit for the electrostatic constant \( k \) must be
    \( \text{N} \cdot \frac{\text{m}^2}{\text{C}^2} \).
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        Demonstrate that if the unit for the electrostatic constant is equal to
        \( \text{N} \cdot \frac{\text{m}^2}{\text{C}^2} \),
        then the formula above is dimensionally correct.
    </li>
    <li class = 'question'>
        Newtons can be written as \( \text{N} = \text{kg} \cdot \frac{\text{m}}{\text{s}^2} \).
        Using this definition, write the unit for \( k \) in terms of meters, kilograms, seconds, and Coulombs.
    </li>
    <li class = 'question'>
        If you want to get super-technical about it, Coulombs are not a base unit in the International System (SI).
        The base unit that includes charge is the Ampere, in which 1 Ampere = 1 Coulomb / 1 second:
        \( \left( \text{A} = \frac{\text{C}}{\text{s}}  \right) \).
        Write the electrostatic constant in terms of meters, kilograms, seconds, and Coulombs (all base units in the International System).
    </li>
</ol>

<p>
    As with \( G \), the \( k \) is simply a value that makes the equation work.
    It's units do not make sense, but they make the equation work.
</p>

<h4>
    Algebraic Solutions of the Inverse Square Laws:
</h4>