<p>
    In previous pods,
    we to draw electric field and gravitational field
    lines for some simple examples of masses and charges,
    such as two masses next to each other or a negative and
    positive charge next to each other.
    In this pod, we will open up the book entirely to
    all different distribution of masses and (especially) charges.
    The goal is to draw a qualitative picture of the electric field
    for complex and irregular distributions of charges.
</p>

<p>
    The best way is simply to test it out!
    The following simulation is presented by the
    Phet Interactive Simulations from the University
    of Colorado.
    Play around and see the distribution of the electric
    field when different charges are arranged together!
    Note that electric field is presented by arrows, rather than
    lines, but the same principles hold.
</p>

<iframe src="https://phet.colorado.edu/sims/html/charges-and-fields/latest/charges-and-fields_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>