<p>
    In previous pods, we learned to use the formula for universal gravitation:
    $$
    F_g = \frac{G m_1 m_2}{d^2}
    $$
    to determine the strength of the force of gravity between two objects.
</p>