<p class = 'directions'>
    For each of the following situations,
</p>
<ol type = 'a'>
    <li>
        Which force does the pair of bodies experience (gravitational or electrostatic)?
    </li>
    <li>
        Does the pair of bodies attract or repel? How do you know?
    </li>
    <li>
        Of the two choices, which pair feels the strongest force between them and why?
    </li>
</ol>

<ol>
    <li>
        <ol type = 'A'>
            <li>
                A lithium nucleus (charge +3) is located 5 Angstrom from another lithium nucleus.
            </li>
            <li>
                A carbon nucleus (charge +6) is located 5 Angstron from another carbon nucleus.
            </li>
        </ol>
    </li>
    <li>
        <ol type = 'A'>
            <li>
                An electron on level 1 is located 8 Angstrom from the nucleus.
            </li>
            <li>
                An electron on level 3 is located 27 Angstrom from the nucleus.
            </li>
        </ol>
    </li>
    <li>
        <ol type = 'A'> <!---should this concept be moved to a higher level, seeing as it incorporates proportionality?? --->
            <li>
                A 3 x 10^24 kg planet and its 2 x 10^20 kg moon are separated by a distance of 600,000 miles.
            </li>
            <li>
                A 6 x 10^24 kg planet and its 2 x 10^20 kg moon are separated by a distance of 300,000 miles.
            </li>
        </ol>
    </li>
</ol>