
<!--
it almost feels like rolling is a full ladder

basic rolling kinematics
- rolling combines translational and rotational motion
- rigid body motion condition
(v = r omega and a = r alpha)

basic rolling dynamics
- two forces need to act for an object to roll
[in the most basic rolling, it is just two forces, one forwards and static friction]
- a force that pushes the object forward and static friction backwards, providing a torque
- static fricion, not kinetic friction, always provides the torque because the wheel is not slipping or sliding onn the ground


why wheels make rolling easy
- to push a flat object, the pusher must overcome maximum static friction. for heavy objects, this requires a very strong force
- to push a wheel, the pusher needs only apply a weak force. the static friction


slipping kinematics
- slipping occurs when the translational motion of the wheel exceeds what its rotational motion allows
- when v > r omega

rolling kinematics:
- a wheel slips when the force pushing a wheel forwards exceeds the maximum static friction acting on the wheel
(this is the same condition that would cause a block to move)
- in this case, kinetic friction replaces static friction, signifiacntly reducing the friction acting on the wheel, so it now cannot turn easily
- in the case of a car, control of the car is lost by the driver (skidding)
[does 'turning into the skid' help? => turn your wheels to generate more friction and stop the wheels motion ]

rolling energy:
- when pushing a block, kinetic friction acts on the blcok and converts the blocks kinetic energy to thermal energy
- when a wheel is rolling, static friction actso n the wheel and converts its translational kinetic energy to rotational kinetic energy
=> in this case, energy is not lost from the system!

-->




<h3>
    Why rolling is easy
</h3>
<p>
    Timonthy is standing before two obejcts:
     a table and a wheeled car with identical mass.
    Timothy pusehs the heavy table witha  froce of 50 Newtons. It does not budge.
    Then, Timothy pushes the cart with 50 Newtons of force, and it begins moving.
    (It's obvious, i know, but let's break down the dynamics of it!)
</p>
<p>
    Why didn't the table move:
    Timothy must push with enough force to overcome the maximum static friction of the table,
    which is considerable
</p>
<p>
    Why did the cart move:
    Sttaic friction provides a torque to the wheel, and allows it to mvoe
</p>

<h2>
    Slipping
</h2>

<p c>

</p>
<h3>
    Slipping Kinematics
</h3>
<h5>
    How to tell if a wheel is slipping
</h5>


<h3>
    Slipping Dynamics
</h3>
<h5>
    Why wheels slip
</h5>