<p class = 'directions'>
    Explicitly reference the formula for torque to answer each of the following questions:
</p>

<p class = 'equation'>
    $$
    \overrightarrow{\tau} = \overrightarrow{r} \times \overrightarrow{F}
    $$
</p>

<ul>
    <li>
        \( \overrightarrow{\tau} \)
    </li>
</ul>

<ol>
    <li>
        Why is a doorknob always located on the side
        of the door opposite the hinge,
        never close to the hinge?
    </li>
    <li>
        How does a wrench enable people to turn a screw or nut
        much more easily?
    </li>
</ol>

<p>
    Watch the following video on torque in offensive lineman, published by the National Science Foundation.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/F4h4t0Q1I2s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
