<p>
    As in "Non-Round Earth 1,"
    pick a new shape for earth, and describe how gravity would work on that shape.
    This time, pick your own shape to examine.
    You cannot pick a flat earth (this is already discussed in the Vsauce video),
    and you cannot pick the same shape you explored in "Non-Round Earth 1."
</p>