<ol>
    <li>
        Write a function for position, given by \( x \) in terms of time, given by \( t \),
        for an object moving with a constant acceleration.
        The function should include three constant values. Identify each constant.
        Each constant <strong>must</strong> be a variable that could be known at \( t = 0 \).
    </li>
    <li>
        Write a function for velocity, given by \( v \) in terms of time, given by \( t \),
        with two constants. Identify each constant.
        Each constant <strong>must</strong> be a variable that could be known at \( t = 0 \).
    </li>
    <li>
        Write an numerical function for the speed of an object that was dropped from
        a surface on planet earth in terms of time.
    </li>
    <li>
        Write a numerical function for the position of a car on the highway.
        The car begins at mile marker 54 and is moving in the direction of increasing mile markers
        at a speed of 50 mph.
        The car very slowly speeds up at a rate of 1 mph per 10 minutes.
        Use a consistent unit of time in your measurement.
    </li>
</ol>