<p>
    Breaking a wave down to its geometric parts is essential for explaining how waves function.
    In this pod, we will consider the parts of a traveling, transverse wave,
    the most common type of wave people know.
</p>

<h4>
    Crests and Troughs:
</h4>

<p class = 'definition'>
    The top of a wave is called a <strong>crest</strong>
    and the bottom of a wave is called a <strong>trough</strong>.
</p>


<h4>
    Wavelength and Amplitude:
</h4>


<h4>
    Practice:
</h4>

