<div id = 'gasCarousel' class = 'carousel slide energySlides' data-ride = 'carousel' data-interval = 'false'>
    <ol class = 'carousel-indicators'>
        <li data-target = '#gasCarousel' data-slide-to = '0' class = 'active'></li>
        <li data-target = '#gasCarousel' data-slide-to = '1'></li>
        <li data-target = '#gasCarousel' data-slide-to = '2'></li>
        <li data-target = '#gasCarousel' data-slide-to = '3'></li>
        <li data-target = '#gasCarousel' data-slide-to = '4'></li>
        <li data-target = '#gasCarousel' data-slide-to = '5'></li>
    </ol>

    <div class = 'carousel-inner'>
        <div class = 'carousel-item active text-center'>
            <h3 class = 'bookTitle'>
                How a Light Bulb was Lit, in the 21st century
            </h3>
        </div>
        <div class = 'carousel-item text-center'>
            <p class = 'storyBook'>
                This book tells the story of a light bulb
                lit by natural gas energy.
                From 2000&#8212;2020, natural gas replaced
                coal as the most commonly used source of electrical
                energy in the United States.
            </p>
        </div>
        <div class = 'carousel-item text-center'>

        </div>
        <div class = 'carousel-item text-center'>

        </div>
        <div class = 'carousel-item text-center'>

        </div>
        <div class = 'carousel-item text-center'>

        </div>
        <div class = 'carousel-item text-center'>

        </div>
        <div class = 'carousel-item text-center'>

        </div>
    </div>


    <a class="carousel-control-prev" href="#gasCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#gasCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
