<p class = 'directions'>
    Use the formula to answer the problems below. Include units in every answer.
</p>

<p class = 'equation'>
    $$ V = IR $$
</p>

<ol>
    <li class = 'physicsQuestion'>
        I have a voltage of 24 V and a current of 3 Amps.
        What is my resistance?
        <div class = 'formulaBoxDiv'></div>
    </li>
    <li class = 'physicsQuestion'>
        I have a current of 0.8 Amps and a resistance of 100 Ohms.
        What is my voltage?
        <div class = 'formulaBoxDiv'></div>
    </li>
</ol>