<ol>
    <li>
        Draw a comet moving in a highly elliptical orbit.
        Include the sun and the approximate location of the earth on your diagram.
    </li>
    <li>
        Assume that the comet has a certain amount of energy, split between kinetic energy and gravitational potential energy.
        Chose three points on your graph: one near the sun, far away from the sun, and one in that middle.
        Demonstrate with pie graphs the approximate percentage of the comets energy that is in each form at each point.
    </li>
    <li>
        Comets are seen from the earth for only a few weeks, then disappear (to us) for many years,
        some for decades and some for millennia.
        Connect this reality to the physics principles you explained in previous sections
    </li>
</ol>