


<p>
  In a previous section,
  we looked at problems when an object is thrown directly upward
  and then lands in exactly the same spot it was thrown from.
  Of course, frequenlty, when an object is thrown directly upward,
  it does not land in precisely the same spot it was thrown
  at but at a different height.
  For example, if a person who is six feet tall throws something upward
  but then doesn't catch it, it lands six feet below where it started.
  Or an object could land on a roof or ledge.
  (It might not be moving perfectly vertically, but it is close enough!)
</p>


<p>
  To solve problems like this, you will need to enter a different value
  for vertical displacement \( \Delta y \).
  In order to determine the total time an object is in the air,
  you will need to use the quadratic equation.
</p>

<p>
  To use the quadratic equation,
  you must manipulate a formula until it is in the form
  $$
  0 = a \left( \Delta t \right)^2 + b \Delta t + c
  $$
  This equation has two solutions for \( \Delta t \),
  and they are given by the equation
  $$
  \Delta t = \frac{-b \pm \sqrt{b^2 - 4 a c}}{2 a}
  $$
</p>


<ol class = 'questionList'>
  <li class = 'question'>
    A person throws a ball directly up into the air with a speed of 28 m/s.
    It travels up, reaches the top, falls back down,
    and lands on a ledge that is 15 meters above where it was thrown.
    For how long was the ball in the air?
  </li>
  <li class = 'question'>
    A person throws a ball directly up into the air with a speed of 13 m/s.
    It travels up, reaches the top, falls back down,
    and lands on a ledge that is 4 meters above where it was thrown.
    For how long was the ball in the air?
  </li>
</ol>

<h5>
  What the two solutions mean:
</h5>

<p>
  When you solve a quadratic equation, you will (almost)
  always get two solutions to the problem.
  Sometimes, both are positive,
  but for the two problems above, one of the solutions is negative.
  What does that mean?
</p>

<p>
  For these two problems,
  there are two positive solutions.
  The first solution is when the ball passed the ledge on its way up,
  and the second solution is when it landed on the ledge on its way down.
</p>

<p>
  For example, imagine your solutions are \( \Delta t = 2 \text{ s} \)
  and \( \Delta t = 6 \text{ s} \).
  The person threw the ball, and after two seconds, it was at the point of the ledge.
  The ball continued upward, reached the top of its motion, and started falling back down.
  Four seconds later (6 seconds after it was thrown), it came back to the ledge
  and landed there.
</p>

<p>
  Both of these solutions exist because they are both solutions to the equation.
  They are both times for which the vertical displacement is the height of the ledge.
  However, the question asks specifically for the time before the ball lands on the ledge,
  which means that the second of the two solutions is the answer to the question.
</p>

<!---
include pictures and decsibes here on what the two solutions mean.
-->



<ol class = 'questionList'>
  <li class = 'question'>
    A person is on a top of a cliff that is 30 meters tall.
    He throws a ball upward with a speed of 25 m/s.
    How long does it take the ball to reach the ground?
  </li>
  <li class = 'question'>
    A person is on a top of a cliff that is 50 meters tall.
    He throws a ball upward with a speed of 12 m/s.
    How long does it take the ball to reach the ground?
  </li>
</ol>

<!---
There will need to be a photo here
-->

<p>
  For these problems, you have two solutions.
  One is positive, and the other is negative.
  What do they mean?
</p>
<p>
  Take the ball from the end of its motion, and imagine that you play a tape backwards.
  The ball would go back up, come down, and go back into the person's hand.
  Imagine instead that the person and the cliff aren't even there.
  THe ball keeps traveling downward, and time moves backward, into <emph>negative time</emph>
  The ball would be at height zero at the time you indicated.
</p>

<p>
  What does negative time mean? It means that many seconds <emph>before</emph>
  the person threw the ball.
  Thus, if your answers are \( \Delta t= 5 \text{ s} \) and \( \Delta t= -3 \text{ s} \),
  that means that the ball reaches the ground 5 seconds after the person threw it,
  and it would have been at the ground 3 seconds <emph>before</emph> the person threw it.
</p>




<!---
include some problems here:
-->



<h5>
  Throwing downward problems (looking for time)
</h5>

<!---
add some thrown downaard problems...looking for time!
--->

<h3>
    Video Resources
</h3>

<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/rehmzqyecv?sui=92,1'>
        AP Classroom 1.1: Daily Video 5 (Skill 1.5)
    </a>
</h4>
<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/0lvbiihiry?sui=92,1'>
        AP Classroom 1.1: Daily Video 6 (Skill 2.1)
    </a>
    (Notice how she implicitly makes downwards the positive direction when completing her equations.)
</h4>
<p>
    Note that AP Classroom Daily Videos are not available year round.
    The release dates for each video
    <a href = 'https://apcentral.collegeboard.org/pdf/ap-daily-course-release-dates.pdf'>this page</a>.
    Also, AP Classroom Daily Videos are available only to students in AP Physics.
</p>
