<p>
    The books <emph>A Song of Fire and Ice</emph> by George R. R. Martin and accompanying HBO shows
    take place in a land called Westeros (and an accompanying land of Essos).
    In this land, seasons do not work as they do on earth.
    "Summers" and "winters" each last several earth years, and they happen in a non-regular pattern.
    You may have a summer of 3 earth years, followed by a winter of 2 earth years,
    followed by a summer of 8 earth years, followed by a winter of 5 earth years,
    etc. etc.
    The people must constantly be prepared for a long winter, as one may come at any notice.
</p>

<p>
    Devise an imaginary planet on which such a pattern would occur.
    It is definitely important to know why seasons occur.
    On this planet, the rotation around the accompanying star will be such that the
    seasons will occur in some non-regular pattern.
</p>