<h4>
    Colors of Visible Light
</h4>

<p>
    Visible light waves ahve colors that are on the order of hundreds of nanometers.
    Each wavelength has a slightly different color.
    To make things simpler, we differentiate them into six categories by the colors we know best:
</p>

<table>
    <tr>
        <th>
            Color
        </th>
        <th>
            Wavelength
        </th>
    </tr>
    <tr>
        <td>
            Red
        </td>
        <td>
            635 - 700 nanometers (nm)
        </td>
    </tr>
    <tr>
        <td>
            Orange
        </td>
        <td>
            590 - 635 nm
        </td>
    </tr>
    <tr>
        <td>
            Yellow
        </td>
        <td>
            560 - 590 nm
        </td>
    </tr>
    <tr>
        <td>
            Green
        </td>
        <td>
            520 - 560 nm
        </td>
    </tr>
    <tr>
        <td>
            Blue
        </td>
        <td>
            450 - 490 nm
        </td>
    </tr>
    <tr>
        <td>
            Violet
        </td>
        <td>
            400 - 450 nm
        </td>
    </tr>
</table>
