<p>
    A cannon with a mass of 500 kg
    fires a cannonball with a mass of 4 kg
    at a speed of 250 m/s.
    Both are at rest before the explosion.
    Fill out the table below in order to determine the
    recoil speed of the cannon.
</p>

<div id = 'explosionTable'></div>

<p>
    After filling out the table, please explicitly write the final answer.
</p>

<script>
    let explosionTable = new MomentumTable();
    explosionTable.setNameOfObjects('cannon', 'cannonball');
    $("#explosionTable").append(explosionTable.draw(500,500));
</script>