
<div id = 'putQuestionsHere'>
    <h4>
        Questions:
    </h4>
</div>

<div id = 'putAnswersHere'>
    <h4>
        Answers:
    </h4>
</div>

<script>
    var myProblems = new writtenProblemList();
    $.getJSON( '{{assetPath}}' + 'conserv_momentm_2_problems.json',(data)=>{
        data.problems.forEach((problem) => {
            myProblems.addProblem(problem.question, problem.answer, problem.questionTable);
        });
        myProblems.insertLists('putQuestionsHere','putAnswersHere');
    });
    myProblems.insertLists('putQuestionsHere','putAnswersHere');

</script>
