<ol>
    <li>
        Write the number \( pi \) to at least 9 significant digits:
    </li>
    <li>
        Write the official definition of pi as a sentence.
    </li>
    <li>
        Write the official definition of pi as an equation.
    </li>
</ol>