<p class = 'introduction'>
    The goal of this pod is to write and speak about gravity as physicists do.
    When most people are asked what "gravity" is, they state that it has to do with falling down.
    As physicists, we should always discuss gravity as a
</p>

<h4>
    Gravitational Attraction
</h4>

<p>
    Gravity always involves two objects being attracted...
</p>

<h4>
    Falling Down (in)
</h4>

<p>
    You fall down
</p>


<ol class = 'questionList'>
    <li class = 'question'>
        Chose the <strong>best</strong> answer the describes what gravity does.
        <ol type = 'A'>
            <li>
                Attracts smaller masses to bigger masses.
            </li>
            <li>
                Attracts bigger masses to smaller masses.
            </li>
            <li>
                Attracts every mass to every other mass.
            </li>
        </ol>
    </li>
    <li class = 'question'>
        If you trip why do you fall to the ground?
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion'>
                Chose the answer that <emph>best</emph> reflects the Law of Universal Gravitation.
                <ol type = 'A'>
                    <li>
                        The earth has a mass and you have a mass, so you are attracted to the earth. This force is strong because the earth has a high mass.
                    </li>
                    <li>
                        You have a mass, the earth has a mass, so you are attracted to the earth. This force is strong because the earth has a much greater mass than you.
                    </li>
                    <li>
                        You have mass and the ground has mass, so you are attracted to the ground.
                    </li>
                    <li>

                    </li>
                </ol>
            </li>
            <li class = 'subQuestion'>
                For each of the <emph>incorrect</emph> answer choices above,
                explain why that answer choice is incorrect.
            </li>
        </ol>
    </li>
</ol>