<p>
    In the <a href = '/podX/dynamics/circular_motion/vector_analysis_circular_motion_1'>previous pod</a>,
    we learned about the direction of the vectors for centripetal acceleration and centripetal force.
    In this pod, we we learn about the magnitudes:
</p>


<div id = 'formulasTable' class ='mb-5'></div>

<div id = 'quantitiesTable'></div>

<script>
    let formulasTable = new Table(2,2);
    formulasTable.addTopHeaders(['Formula for Centripetal Acceleration','Formula for Centripetal Force']);
    formulasTable.writeTextInRow(1,["\\( a_c = \\frac{v^2}{r} \\)","\\( F_c = \\frac{m v^2}{r} \\)"]);

    let quantitiesTable = new Table(6,3);
    quantitiesTable.addTopHeaders(['Symbol','Quantity','SI Unit']);
    quantitiesTable.writeTextInRow(1,['\\( a_c \\)','centripetal acceleration','m/s/s']);
    quantitiesTable.writeTextInRow(2,['\\( F_c \\)','centripetal force','Newtons (N)']);
    quantitiesTable.writeTextInRow(3,['\\( m \\)','mass','kilograms (kg)']);
    quantitiesTable.writeTextInRow(4,['\\( v \\)','speed','m/s']);
    quantitiesTable.writeTextInRow(5,['\\( r \\)','radius of circle','meters (m)']);

    $("#formulasTable").append(formulasTable.draw(300));
    $("#quantitiesTable").append(quantitiesTable.draw(300));
</script>

<p>
    Note, that the <strong>centripetal force</strong> is simply the <strong>centripetal
    acceleration</strong> times the <strong>mass</strong>.
    The two are related by Newton's Second Law
    $$
    \Sigma F = m a
    $$
</p>

<p class = 'directions'>
    Every time you use a formula, copy the formula, then show the values you plugged into the formula,
    then write the solution.
    PLease do not simply write the solutions; it will look like you copied the answers without
    completing the work.
    Please answer all questions to three significant figures of accuracy.
</p>


<ol class="questionList">
    <li class="question" data-answer = '62.4 m/s/s'>
        What is the centripetal acceleration of an object that is moving
        in a circle with of radius 0.400 m
        with a linear velocity of 5.00 m/s?
    </li>
    <li class="question" data-answer = '0.408 m/s/s'>
        What is the centripetal acceleration of an object that is moving
        in a circle with of radius 1.20 m
        with a linear velocity of 0.700 m/s?
    </li>
    <li class="question" data-answer = '32.0 m/s/s (did you remember to convert centimeters to meters?)'>
        What is the centripetal acceleration of an object that is moving
        in a circle with of radius 50.0 cm
        with a linear velocity of 4.00 m/s?
    </li>
    <li class="question" data-answer = '180 m/s/s (Over 18 gs of acceleration!)'>
        What is the centripetal acceleration of an object that is moving
        in a circle with of radius 80.0 cm
        with a linear velocity of 12.0 m/s?
    </li>
    <li class = 'question'>
        An object with mass of 4.00 kg is moving with a speed of 3.00 m/s
        in a circle with a radius of 2.00 m.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = '4.50 m/s/s'>
                What is the object's centripetal acceleration?
            </li>
            <li class = 'subQuestion' data-answer = '18.0 N'>
                What is the magnitude of centripetal force acting on the object?
            </li>
        </ol>
    </li>
    <li class = 'question'>
        An object with mass of 6.23 kg is moving with a speed of 1.45 m/s
        in a circle with a radius of 0.892 m.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = '2.36 m/s/s'>
                What is the object's centripetal acceleration?
            </li>
            <li class = 'subQuestion' data-answer = '14.7 N'>
                What is the magnitude of centripetal force acting on the object?
            </li>
        </ol>
    </li>
    <li class="question">
        A go-kart is moving in a circle with a radius of 2.00 meters.
        The go-kart makes 5.00 turns in a time of 12.0 seconds.
        <ol class = 'subQuestionList' type = 'a'>
            <li class="subQuestion" data-answer = '2.62 m/s'>
                What is the linear velocity of the go-kart?
            </li>
            <li class="subQuestion" data-answer = '3.43 m/s/s'>
                What is the centripetal acceleration of the go-kart?
            </li>
        </ol>
    </li>
    <li class="question">
        A super-science-fiction fighter jet is flying in circles of radius 200. meters.
        It flies a full circle in a time of only 1.45 seconds!
        <ol class = 'subQuestionList' type = 'a'>
            <li class="subQuestion" data-answer = '867 m/s'>
                What is the linear velocity of the plane?
            </li>
            <li class="subQuestion" data-answer = '3760 N'>
                What is the centripetal acceleration of the plane?
            </li>
        </ol>
    </li>
    <li class="question">
        One of the strongest people in the world is swinging a rock in a circle with.
        The rock has amass of 0.450 kg, and is moves in a circle
        with a radius of 0.600 m in a time of 0.430 seconds.
        <ol class = 'subQuestionList' type = 'a'>
            <li class="subQuestion" data-answer = '8.77 m/s'>
                What is the linear velocity of the rock?
            </li>
            <li class="subQuestion" data-answer = '128 m/s/s'>
                What is the centripetal acceleration of the rock?
            </li>
            <li class="subQuestion" data-answer = '57.7 N'>
                What is the centripetal force acting on the rock?
            </li>
        </ol>
    </li>
    <li class="question">
        A 500. kg car turns with a radius of 15.0 meters.
        It moves in a <emph>quarter circle</emph>
        in a time of 3.00 seconds.
        <ol class = 'subQuestionList' type = 'a'>
            <li class="subQuestion" data-answer = '7.85 m/s'>
                What is the linear velocity of the car?
            </li>
            <li class="subQuestion" data-answer = '4.11 m/s/s'>
                What is the centripetal acceleration of the car?
            </li>
            <li class="subQuestion" data-answer = '2060 N'>
                What is the centripetal force acting on the car?
            </li>
        </ol>
    </li>
</ol>

<h4>
    Looking for Other Quantities from the Centripetal Acceleration and Force Formulas
</h4>

<p>
    Coming In The Future
    Not a part of this assignment on 4-8-2020
</p>



<ol class="answerList"></ol>