<p>
    The goal of this pod, building on the <a href = '/pod/dynamics/circular_motion/circular_motion_basics'>basics of circular motion</a>
    is to describe all of the relevant kinematic and dynamic quantities in circular motion as vectors.
</p>

<ul class = 'principleList'>
    <li>
        A <strong>position vector</strong> is a vector pointing from the origin to the point
        where an object is located.
        In circular motion, the <emph>origin</emph> is often chosen to be the center of the circle.
        In this case, the position vector would be a radius of the circle,
        pointing from the center to the current location of an object.
    </li>
    <li>
        The <strong>velocity vector</strong> shows the position an object is moving.
        In circular motion, the <emph>velocity vector</emph> is always <emph>tangential</emph>
        to the circle.
        You can tell from the velocity vector if an object is moving clockwise or counterclockwise.
    </li>
    <li>
        The <strong>net force vector</strong> for an object in circular motion at a constant speed
        always points towards the center of the circle.
        It is called the <emph>centripetal force</emph>.
    </li>
    <li>
        The <strong>acceleration vector</strong>, as per Newton's Second Law,
        is always in the same direction as the net force vector.
        It is called the <emph>centripetal acceleration</emph>.
    </li>
</ul>

<!--
add some questions here
-->
<ol class = 'questionList'>
    <li class = 'question' data-answer = 'C.'>
        In circular motion, which direction does the velocity vector point?
        <ol type = 'A'>
            <li>
                Inward
            </li>
            <li>
                Outward
            </li>
            <li>
                Tangential
            </li>
        </ol>
    </li>
    <li class = 'question' data-answer = 'A.'>
        In circular motion, which direction does the net force vector point?
        <ol type = 'A'>
            <li>
                Inward
            </li>
            <li>
                Outward
            </li>
            <li>
                Tangential
            </li>
        </ol>
    </li>
    <li class = 'question' data-answer = 'B.'>
        In circular motion, which direction does the position vector point,
        assuming the origin is located at the center of the circle?
        <ol type = 'A'>
            <li>
                Inward
            </li>
            <li>
                Outward
            </li>
            <li>
                Tangential
            </li>
        </ol>
    </li>
    <li class = 'question' data-answer = 'C.'>
        In circular motion, which direction does the acceleration vector point?
        <ol type = 'A'>
            <li>
                Inward
            </li>
            <li>
                Outward
            </li>
            <li>
                Tangential
            </li>
        </ol>
    </li>
    <li class = 'question' data-answer = "Newton's Second Law, \( \Sigma F = m a \)">
        What law states that the net force vector and the acceleration vector
        must <emph>always</emph> have the same direction?
    </li>
    <li class = 'question' data-answer = 'Centripetal Acceleration'>
        What is the special name for the <emph>acceleration</emph>
        of an object moving in a circle?
    </li>
    <li class="question" data-answer = 'The center of the circle'>
        The position vector always depends upon where a physicists chooses
        to place the origin.
        What is the most logical choice for the position of the origin
        in the case of circular motion?
    </li>
</ol>


<p class = 'text-danger border border-danger'>
    Be careful about putting all of these vectors on the same diagram!
    This is frequently how it is pictured in textbooks, (and I've even done it)
    but remember that these four quantities have different dimensions and can never be added together!
</p>
<p class = 'text-info border border-info'>
    In this pod, we will draw all of the kinematic and dynamic vectors separately,
    the way it always should be.
</p>


<p class = 'directions'>
    Each of the objects below depicts an object moving in a circle.
    Draw an arrow indicating the direction of the relevant kinematic and dynamic vectors
    for each object.
    You only need to indicate direction, there is no information to indicate magnitude accurately.
</p>

<img src = '/podAssets/dynamics/circular_motion/circMotionVectorTable.png' height = '600px' width = 'auto' />


<ol class = 'answerList'></ol>

<img src = '/podAssets/dynamics/circular_motion/circMotionVectorTableAnswers.png' height = '600px' width = 'auto' />
