
<h3>
    Reference Information
</h3>

<p>
    There are <strong>two different ways</strong> to gather information from a kinematic graph.
    Where possible, show you are capable of using both methods.
</p>
<div class="container">
    <div class="row">
        <div class="col-md-6 border border-dark">
            <h5>
                Method 1: The Kinematic Equations
            </h5>
            <p>
                Gather what information is available on the graph,
                and then use the four kinematic equations to determine missing information:
            </p>
            <ul>
                <li class = 'mb-3'>
                    \( v_f = v_i + a \cdot \Delta t \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta x = v_i \cdot \Delta t + \frac{1}{2} \cdot a (\Delta t)^2 \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta x = \left( \frac{v_i + v_f}{2} \right) \Delta t \)
                </li>
                <li>
                    \( v_f^2 = v_i^2 + 2 a \cdot \Delta x \)
                </li>
            </ul>
        </div>
        <div class="col-md-6 border border-dark">
            <h5>
                Method 2: Graphical Methods
            </h5>
            <p>
                Use the following graphical rules to analyze information:
            </p>
            <ul>
                <li>
                    At any given time, the slope of the position-time graph is the velocity at that time.
                </li>
                <li>
                    At any given time, the slope of the velocity-time graph is the acceleration at that time.
                </li>
                <li>
                    Over any given interval of time,
                    the area under the curve of the velocity-time graph is the displacement
                    (change in position) over that time interval.
                </li>
                <li>
                    Over any given interval of time, the area under the curve of the
                    acceleration-time graph is the change in velocity over that time interval.
                </li>
            </ul>
        </div>
    </div>
</div>


<h3>
  <a href = '/podAssets/kinematics/forward_kinematics_quantitative/quantitative_kinematic_graphs_4A.pdf'>Available as PDF</a>
</h3>


<h3>
    Resources
</h3>
<ul>
    <li>
        AP Physics 1 Classroom: 1.2 Daily Video 1 (Skill 1.4)
    </li>
</ul>