<p>
    This is a multiple choice version of the gravitron quiz.
</p>

<p>
    A person is inside of a gravitron ride of radius \( r \).
    The gravitron moves around the circle in a time \( T \).
    The person has a mass \( m \).
    The person's clothing and the wall have a coefficient of static and kinetic friction
    of \( \mu_s \) and \( \mu_k \), respectively.

</p>

<ol>
    <li>
        What is the direction of the normal force acting on the person?
        <ol type = 'A'>
            <li>
                Towards the center of the circle, because that is the direction perpendicular to the surface of the wall
            </li>
            <li>
                Upwards, because that is always the direction of the normal force on a planet.
            </li>
            <li>
                Upwards, because the normal force is always in the direction opposite the force of gravity.
            </li>
            <li>
                Outwards from the center of the circle, because the person is being pressed into the wall.
            </li>
        </ol>
    </li>
    <li>
        What is the direction of the gravitational force acting on the person?
        <ol type = 'A'>
            <li>
                upwards
            </li>
            <li>
                towards the center of the circle
            </li>
            <li>
                outwards from the center of the circle
            </li>
            <li>
                downwards
            </li>
        </ol>
    </li>
    <li>
        What is the direction of the frictional force?
        <ol type = 'A'>
            <li>
                downwards, to supplement gravity
            </li>
            <li>
                upwards, to resist motion
            </li>
            <li>
                inwards, because it is the centripetal force
            </li>
            <li>
                outwards, to keep the person from falling off the ride
            </li>
        </ol>
    </li>
    <li>
        Which type of frictional force is applied?
        <ol type = 'A'>
            <li>
                Kinetic, because the person is moving in a circle

            </li>
            <li>
                Static, because the person is not sliding

            </li>
            <li>
                Kinetic, because the person is moving up and down

            </li>
            <li>
                Static, because the motion of the person is highly organized
            </li>
        </ol>
    </li>
    <li>
        If the person is not falling down, what is the magnitude of the frictional force?
        <ol type = 'A'>
            <li>
                equal to the magnitude of the normal force times the coefficient of kinetic friction ( \F_N \mu_s)
            </li>
            <li>
                equal the the gravitational force (\( mg) \))
            </li>
            <li>
                equal to the centripetal force (\( \frac{m v^2}{ r} \)
            </li>
            <li>
                equal to the magnitude of the normal force times the coefficient of static friction ( F_N \mu_k )
            </li>
        </ol>
    </li>
    <li>
        What is the magnitude of the normal force?
        <ol type = 'A'>
            <li>
                equal the the gravitational force (\( mg \))
            </li>
            <li>
                equal to the centripetal force (\( \frac{m v^2}{ r} \)
            </li>
            <li>
                Equal to the gravitational force minus the centripetal force (\( mg - \frac{m v^2}{r} \) )
            </li>
            <li>
                There is not enough information to determine the magnitude of the normal force.
            </li>
        </ol>
    </li>
    <li>
        The speed of the person written in <emph>{known quantities</emph> is equal to:
        <ol type = 'A'>
            <li>
                \( \frac{2 \pi r }{T} \)
            </li>
            <li>
                \( \frac(\pi r }{T} \)
            </li>
            <li>
                \( \frac{T}{2 \pi r} \)
            </li>
            <li>
                \sqrt{\frac{F_c r}{m}}
            </li>
        </ol>
    </li>
    <li>
        In order for the person to stick to the walls (which is the reason people pay admission),
        the maximum frictional force must exceed gravity.
        Derive the condition necessary for this to be true in terms of known quantities.
        Note that your final answer should include a \( \leq \) or an \( \geq \) rather than a = sign.
    </li>
    <li>
        Demonstrate the condition derived above is dimensionally correct.
    </li>
    <li>
        One known quantity is surprisingly absent from the condition described above.
        Briefly explain why.
    </li>
</ol>




