<p class = 'directions'>
    Write which type of energy is <strong>best</strong> described by each prompt.
    If more than one type of energy could describe the prompt,
    select the single type that most specifically describes the prompt.
</p>
<ol>
    <li>
        A bow and arrow pulled back by an archer.
    </li>
    <li>
        The energy of randomly moving molecules.
    </li>
    <li>
        A car moving very quickly.
    </li>
    <li>
        There is lots of this type of energy in sugar.
    </li>
    <li>
        Energy of light.
    </li>
    <li>
        Energy contained in all mass.
    </li>
</ol>
