<p class = 'directions'>
    Write which type of energy is <strong>best</strong> described by each prompt.
    If more than one type of energy could describe the prompt,
    select the single type that most specifically describes the prompt.
</p>
<ol>
  <li>
      There is lots of this type of energy in sugar.
  </li>
  <li>
      Moving electrons have this type of energy.
  </li>
  <li>
      The energy of randomly moving molecules.
  </li>
  <li>
      Sound is this type of energy.
  </li>
  <li>
      A ball resting on the edge of a cliff.
  </li>
  <li>
      Energy contained in all mass.
  </li>
</ol>
