<p class = 'directions'>
    For each statement, describe what type of energy is <strong>best</strong> shown in that image.
</p>
<ol>
  <li>
      There is lots of this type of energy in sugar.
  </li>
  <li>
      Moving electrons have this type of energy.
  </li>
  <li>
      The energy of randomly moving molecules.
  </li>
  <li>
      Sound is this type of energy.
  </li>
  <li>
      A ball resting on the edge of a cliff.
  </li>
  <li>
      Energy contained in all mass.
  </li>
</ol>
