<p class = 'directions'>
    Write which type of energy is <strong>best</strong> described by each prompt.
</p>
<ol>
    <li>
        A sledder is on the top of a hill, ready to sled down!
        What type of energy does she have?
    </li>
    <li>
        What type of energy is contained in a loaf of bread?
    </li>
    <li>
        Moving electrons have this type of energy.
    </li>
    <li>
        The energy of randomly moving molecules.
    </li>
    <li>
        Energy contained in all mass.
    </li>
    <li>
        A little kid is screaming very loudly. What type of energy is coming out of his mouth?
    </li>
</ol>
