<p class = 'directions'>
    Write which type of energy is <strong>best</strong> described by each prompt.
    If more than one type of energy could describe the prompt,
    select the single type that most specifically describes the prompt.
</p>

<ol>
    <li class = 'mb-4'>
        A sledder is on the top of a hill, ready to sled down!
        What type of energy does she have?
        <ol type = 'A'>
            <li class = 'mb-2 mt-2'>
                Chemical Potential Energy
            </li>
            <li class = 'mb-2'>
                Gravitational Potential Energy
            </li>
            <li class = 'mb-2'>
                Elastic Potential Energy
            </li>
            <li class = 'mb-2'>
                Kinetic Energy
            </li>
        </ol>
    </li>
    <li class = 'mb-4'>
        What type of energy is contained in a loaf of bread?
        <ol type = 'A'>
            <li class = 'mb-2'>
                Electrical Energy
            </li>
            <li class = 'mb-2'>
                Electromagnetic Wave Energy
            </li>
            <li class = 'mb-2'>
                Kinetic Energy
            </li>
            <li class = 'mb-2 mt-2'>
                Chemical Potential Energy
            </li>
        </ol>
    </li>
    <li class = 'mb-4'>
        Moving electrons have this type of energy.
        <ol type = 'A'>
            <li class = 'mb-2 mt-2'>
                Electrical Energy
            </li>
            <li class = 'mb-2'>
                Mechanical Wave Energy
            </li>
            <li class = 'mb-2'>
                Chemical Potential Energy Wave Energy
            </li>
            <li class = 'mb-2'>
                Gravitational Potential Energy
            </li>
        </ol>
    </li>
    <li class = 'mb-4'>
        The energy of randomly moving molecules.
        <ol type = 'A'>
            <li class = 'mb-2 mt-2'>
                Electrical Energy
            </li>
            <li class = 'mb-2'>
                Mechanical Wave Energy
            </li>
            <li class = 'mb-2'>
                Electrochemical Potential Energy
            </li>
            <li class = 'mb-2'>
                Thermal Energy
            </li>
        </ol>
    </li>
    <li class = 'mb-4'>
        Energy contained in all mass.
        <ol type = 'A'>
            <li class = 'mb-2 mt-2'>
                Kinetic Energy
            </li>
            <li class = 'mb-2'>
                Elastic Potential Energy
            </li>
            <li class = 'mb-2'>
                Mechanical Wave Energy
            </li>
            <li class = 'mb-2'>
                Nuclear Energy
            </li>
        </ol>
    </li>
    <li class = 'mb-4'>
        A little kid is screaming very loudly. What type of energy is coming out of his mouth?
        <ol type = 'A'>
            <li class = 'mb-2 mt-2'>
                Electromagnetic Wave Energy
            </li>
            <li class = 'mb-2'>
                Nuclear Energy
            </li>
            <li class = 'mb-2'>
                Mechanical Wave Energy
            </li>
            <li class = 'mb-2'>
                Electrochemical Potential Energy
            </li>
        </ol>
    </li>
</ol>
