<p class = 'directions'>
    Write which type of energy is <strong>best</strong> described by each prompt.
    If more than one type of energy could describe the prompt,
    select the single type that most specifically describes the prompt.
</p>
<ol>
    <li>
        An archer pulls back her bow and is about to fire.
        What kind of energy is stored in the bowstring?
    </li>
    <li>
        Energy contained in all mass.
    </li>
    <li>
        The energy stored inside of a battery.
    </li>
    <li>
        Candy is tasty because it gives you body so much of this type of energy.
    </li>
    <li>
        Electric current has this type of energy.
    </li>
    <li>
        The energy of randomly moving molecules.
    </li>
</ol>
