<p>
    A spring is hanging from a ceiling
    vertically at its equilibrium length of 50 cm.
    Assume during this problem that the mass of the spring is negligible.
</p>


<ol>
    <li>
        Somebody hangs a mass of 2 kg from the spring,
        and it sinks to a length of 80 cm.
        Find the spring constant of the spring.
        (This problem is solved using the principles of dynamics, not energy.
        Draw a quantitative free-body diagram of the mass and apply relevant laws.)
    </li>
    <li>
        Somebody else grabs the mass and pulls
        it downward until the spring has a length of 120 cm.
        Determine the work that this person did on the mass-spring-earth system.
    </li>
    <li>
        The person then lets go of the mass and the mass begins moving upward.
        Assume that during the next period, no work is done on the mass-spring-earth system.
        Determine the position at which the mass is moving at its maximum speed,
        and determine the maximum speed of the mass.
        (Determine the position with a conceptual argument and the maximum speed numerically.)
    </li>
    <li>
        Again assuming no work is done on the mass-spring earth system,
        determine the highest vertical position of the mass at which it is stationary.
        (This question will require solving a quadratic equation. Use the quadratic formula.)
    </li>
    <li>
        Some time passes, and the spring now has a length of 60 cm
        and the mass of the spring is moving at a rate of 3.8 m/s upward.
        Determine the work that has been done on the mass-spring-earth system since the person originally let go of the mass.
    </li>
</ol>