<p>
    A spring is hanging from a ceiling
    vertically at its equilibrium length of 50 cm.
    Assume during this problem that the mass of the spring is negligible.
</p>


<p>
    In the following problem, you have two different choices for how to position your origin.
    Option 1 is to select the origin as the ceiling to which the spring hangs.
    Option 2 is to select the origin as the point 50 centimeters below the ceiling,
    the equilibrium point of the spring.
    If you select option 2, all of your equations will be much simpler because the equation
    for elastic potential energy will simplify as \( y_0 = 0 \),
    so I would recommend this option.
    (If you understand this problem very well, you should be able to complete it both ways!)
</p>

<ol>
    <li>
        Somebody hangs a mass of 2 kg from the spring,
        and it sinks to a length of 80 cm, then eventually becomes stationary.
        Find the spring constant of the spring.
        (This problem is solved using the principles of dynamics, not energy.
        Draw a quantitative free-body diagram of the mass and apply relevant laws.)
    </li>
    <li>
        Somebody else grabs the mass and pulls
        it downward until the spring has a length of 120 cm.
        Determine the work that this person did on the mass-spring-earth system.
    </li>
    <li>
        The person then lets go of the mass and the mass begins moving upward.
        Assume that during the next period, no work is done on the mass-spring-earth system.
        Determine the position at which the mass is moving at its maximum speed,
        and determine the maximum speed of the mass.
        (Determine the position with a conceptual argument and the maximum speed numerically.)
    </li>
    <li>
        Again assuming no work is done on the mass-spring earth system,
        determine the highest vertical position of the mass at which it is stationary.
        Complete this problem through several steps:
        <ol type = 'a'>
            <li>
                If you haven't already, determine a numerical value for the total
                energy of the mass-spring-earth system based on the initial condition,
                before the person lets go of the mass.
            </li>
            <li>
                Use the conservation of energy to create an equation for
                the total energy on the system at the point at which the mass is stationary.
                Write this equation in terms of \( k \) , \( m \), \( g \), and \( y \).
                You may also have a variable \( y_0 \), indicating the equilibrium position of
                the spring, if you have not decided this position is zero.
            </li>
            <li>
                Plug in values for each variable other than \( y \)
                and for the total energy of the spring-mass-earth system.
                Manipulate your equation so that it takes the form:
                \( 0 = a y^2 + b y + c \).
            </li>
            <li>
                Use the quadratic equation to determine two solutions for \( y \).
                If you chose for the origin to be at a point other than the ceiling,
                translate these positions so they are in reference to the ceiling.
            </li>
            <li>
                The two solutions represent the two points at which the mass is stationary.
                One of them is old information (you already knew) and one is new information.
                Explain which is old information.
            </li>
            <li>
                Explicitly write the final answer, explaining the highest vertical point
                to which the mass reaches.
                This answer should make some intuitive sense. Explain why.
            </li>
        </ol>
    </li>
    <li>
        Some time passes, and the spring now has a length of 60 cm
        and the mass of the spring is moving at a rate of 3.8 m/s upward.
        Determine the work that has been done on the mass-spring-earth system since the person originally let go of the mass.
        This result may be positive or negative. It is not indicated what force did work on the system,
        only that work was done on the system.
    </li>
</ol>