
<h5>
    Torque Formula:
</h5>
<p class="equation">
    $$
    \overrightarrow{\tau} = \overrightarrow{r} \times \overrightarrow{F}
    $$
</p>

<h5>
    Crowbar:
</h5>
<img src = 'https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Piedbiche.jpg/220px-Piedbiche.jpg' height = '200px' width = 'auto' />

<h5>
    Questions:
</h5>
<ol>
    <li>
        A crowbar, pictured above, is a device used to pry two things apart.
        Describe why the shape of a crow bar allows people to do more
        than they could with their bare hands.
        For full credit, you must refer explicitly to the formula for torque
        shown above.
    </li>
    <li>
        Give one more real life example of a time in which
        applying force with a greater moment arm provides
        more torque.
        For full credit, you must explicitly refer to the formula for torque
        shown above.
    </li>
</ol>