<h4>
    Problem:
</h4>
<img src = '/roller_coaster_1.jpg' width = '400px' height = 'auto'/>

<p>
    Imagine that a roller coaster car of mass 100 kg
    drives up and down the following roller coaster.
    It begins at point A (height = 90 m) with a speed of 33 m/s.
    Assume the roller coaster car moves with no energy
    being added to or subtracted from the system.
</p>


<ul>
    <li>
        Without completing any calculations, determine the speed of the car at point C.
        Explain your answer by referring to different types of energy qualitatively.
    </li>
</ul>