<p>
    In the previous pod, we counted the significant figures.
    In this pod, we will round to a specified number of significant figures.
</p>


<p class = 'directions'>
    For each of the values above, round the number to 2 significant digits.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '1.0'>
        1.0000000000
    </li>
    <li class = 'question' data-answer = '3.3'>
        3.333333333
    </li>
    <li class = 'question' data-answer = '4.9'>
        4.87123
    </li>
    <li class = 'question' data-answer = '0.22'>
        2 divided by 9
    </li>
    <li class = 'question' data-answer = '3.1'>
        \( \pi \)
    </li>
</ol>

<p class = 'direction'>
    For each of the values below,
    <emph>first</emph> convert the number into scientific notation,
    and <emph>then</emph> round it to three significant figures.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '\( 1.41 \cdot 10^{5} \)'>
        141231
    </li>
    <li class = 'question' data-answer = '\( 1.24 \cdot 10^{10} \)'>
        12412090184
    </li>
    <li class = 'question' data-answer = '\( 8.10 \cdot 10^{8} \)'>
        809707042
    </li>
    <li class = 'question' data-answer = '\( 1.41 \cdot 10^{-6} \)'>
        0.00000141240918
    </li>
    <li class = 'question' data-answer = '\( 1.24 \cdot 10^{-4} \)'>
        0.0001241241
    </li>
</ol>

<p class="directions">
    Round the given number to several different numbers of significant figures.
</p>
<ol class="questionList">
    <iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/62081167/?s=x2jrpc&amp;ref=embed" allowfullscreen></iframe>
    <li class="question">
        5371987532
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '5.371987532e9'>
                Please put the number into scientific notation, without rounding it.
            </li>
            <li class="subQuestion" data-answer = '5e9'>
                Round to 1 significant figure
            </li>
            <li class="subQuestion" data-answer = '5.4e9'>
                Round to 2 significant figures
            </li>
            <li class="subQuestion" data-answer = '5.37e9'>
                Round to 3 significant figures
            </li>
            <li class="subQuestion" data-answer = '5.372e9'>
                Round to 4 significant figures
            </li>
            <li class="subQuestion" data-answer = '5.3720e9'>
                Round to 5 significant figures
            </li>
        </ol>
    </li>
    <li>
        0.00000012462832
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '1.2462832e-7'>
                Please put the number into scientific notation, without rounding it.
            </li>
            <li class="subQuestion" data-answer = '1e-7'>
                Round to 1 significant figure
            </li>
            <li class="subQuestion" data-answer = '1.2e-7'>
                Round to 2 significant figures
            </li>
            <li class="subQuestion" data-answer = '1.25e-7'>
                Round to 3 significant figures
            </li>
            <li class="subQuestion" data-answer = '1.246e-7'>
                Round to 4 significant figures
            </li>
            <li class="subQuestion" data-answer = '1.2463e-7'>
                Round to 5 significant figures
            </li>
        </ol>
    </li>
    <li class="question">
        0.0000099123124
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '9.9123124e-6'>
                Please put the number into scientific notation, without rounding it.
            </li>
            <li class="subQuestion" data-answer = '1e-5'>
                Round to 1 significant figure
            </li>
            <li class="subQuestion" data-answer = '9.9e-6'>
                Round to 2 significant figures
            </li>
            <li class="subQuestion" data-answer = '9.91e-6'>
                Round to 3 significant figures
            </li>
            <li class="subQuestion" data-answer = '9.912e-6'>
                Round to 4 significant figures
            </li>
            <li class="subQuestion" data-answer = '9.9123e-6'>
                Round to 5 significant figures
            </li>
        </ol>
    </li>
    </li>
    <li class="question">
        0.000000000000000099999999999999
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = '1e-16'>
                Round to 1 significant figure
            </li>
            <li class="subQuestion" data-answer = '1.0e-16'>
                Round to 2 significant figures
            </li>
            <li class="subQuestion" data-answer = '1.00e-16'>
                Round to 3 significant figures
            </li>
            <li class="subQuestion" data-answer = '1.000e-16'>
                Round to 4 significant figures
            </li>
            <li class="subQuestion" data-answer = '1.0000-e16'>
                Round to 5 significant figures
            </li>
        </ol>
    </li>
    <li class="question">
        999000000000000000000000000.
        <ol class="subQuestionList">

            <li class="subQuestion" data-answer = '1e27'>
                Round to 1 significant figure
            </li>
            <li class="subQuestion" data-answer = '1.0e27'>
                Round to 2 significant figures
            </li>
            <li class="subQuestion" data-answer = '9.99e26'>
                Round to 3 significant figures
            </li>
            <li class="subQuestion" data-answer = '9.990e26'>
                Round to 4 significant figures
            </li>
            <li class="subQuestion" data-answer = '9.9900e26'>
                Round to 5 significant figures
            </li>
        </ol>
    </li>
</ol>


<h3>
    Video Resources
</h3>
<h5>
    Flipping Physics Video
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mxbsgqFnNVY?start=285" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
    Note: same video as in the <a href = '/pod/c59587'>previous pod</a>, but starting at the location relevant to this pod.
</p>


<ol class = 'answerList'></ol>