
<h4>
    Basic Geoemtry Review:
</h4>


<p class = 'definition'>
    A <strong>circle</strong> is all points equidistant from a single point.
</p>
<p class = 'definition'>
    A line <strong>tangent</strong> to a circle
    is a line that touches the circle at only one point.
</p>
<p class = 'definition'>
    A <strong>radius</strong> of a circle is a line that
    goes from the center of a circle to the outside of the circle.
</p>
<p class = 'definition'>
    Any tangent of a circle and a radius of the circle that intersect
    are perpendicular.
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        On the circle below, draw any line <emph>tangent</emph> to the circle.
        <br>
        <div id = 'simpleCircle1'></div>
    </li>
    <li class = 'question'>
        On the circle below, draw any segment that is a <emph>radius</emph> of the circle.
        <br>
        <div id = 'simpleCircle2'></div>
    </li>
    <li class ='question'>
        On the circle below, draw a <emph>radius</emph> and <emph>tangent line</emph> that intersect,
        and indicate they are perpendicular.
        <br>
        <div id = 'simpleCircle3'></div>
    </li>
</ol>

<img src = '/podAssets/mechanics/circular_motion/simpleCircularMotionDiagram.png' height = '200px' width = 'auto' />

<!--
I have no image credit for this image, and i need to replace it with one of my own
-->

<h4>
    Rules for an object moving in a circle
</h4>

<ol class = 'principleList'>
    <li>
        Whenever an object is moving in a circle, its <emph>velocity</emph> is <emph>tangent</emph> to the circle.
    </li>
    <li>
        Whenever an object is moving in a circle, there is a <emph>force</emph> pulling it <emph>towards the center</emph>
        of the circle.
        This force is called the <strong>centripetal force</strong>.
    </li>
    <li>
        If the centripetal force is released, the object will fly in a straight line <emph>tangent</emph> to the circle,
        in the direction of its velocity the moment it was released.
        It <strong>never</strong> continues to turn or bend, but always moves in a straight line.
    </li>
</ol>

<ol class ='questionList'>
    <li class = 'question' data-answer_id = 'circleCounterclockwise1Answer'>
        The circle below shows an object moving counterclockwise.
        Add an arrow showing the <emph>velocity</emph> of this object.
        Label your arrow.
        <br>
        <div id = 'circleCounterclockwise1'></div>
    </li>
    <li class = 'question' data-answer_id = 'circleCounterclockwise2Answer'>
        The circle below shows an object moving counterclockwise.
        Add an arrow showing the <emph>centripetal force</emph> acting on this object.
        Label your arrow.
        <br>
        <div id = 'circleCounterclockwise2'></div>
    </li>
    <li class = 'question' data-answer_id = 'circleCounterclockwise3Answer'>
        The circle below shows an object moving counterclockwise.
        Add an two arrows, showing <strong>both</strong> the velocity and centripetal force
        acting on the object.
        Then, draw a dotted line showing the direction that the object would move
        if the centripetal force were released.
        <br>
        <div id = 'circleCounterclockwise3'></div>
    </li>
    <li class = 'question' data-answer_id = 'circleClockwise1Answer'>
        The circle below shows an object moving clockwise.
        Add an arrow showing the <emph>velocity</emph> of this object.
        Label your arrow.
        <br>
        <div id = 'circleClockwise1'></div>
    </li>
    <li class = 'question' data-answer_id = 'circleClockwise2Answer'>
        The circle below shows an object moving clockwise.
        Add an arrow showing the <emph>centripetal force</emph> acting on this object.
        Label your arrow.
        <br>
        <div id = 'circleClockwise2'></div>
    </li>
    <li class = 'question' data-answer_id = 'circleClockwise3Answer'>
        The circle below shows an object moving clockwise.
        Add an two arrows, showing <strong>both</strong> the velocity and centripetal force
        acting on the object.
        Then, draw a dotted line showing the direction that the object would move
        if the centripetal force were released.
        <br>
        <div id = 'circleClockwise3'></div>
    </li>
</ol>


<h5>
    True or False:
</h5>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'false'>
        No force is necessary to keep an object in a circle.
    </li>
    <li class = 'question' data-answer = 'false'>
        The centripetal force pulls an object away from a circle.
    </li>
    <li class = 'question' data-answer = 'true'>
        The centripetal force pulls an object into the center of a circle.
    </li>
    <li class = 'question' data-answer = 'true'>
        Velocity during circular motion is tangent to the circle.
    </li>
    <li class = 'question' data-answer = 'false'>
        When something is released from circular motion, it continues to curve.
    </li>
    <li class = 'question' data-answer = 'true'>
        When something is released from circular motion, it moves in a straight line.
    </li>
</ol>

<h5>
    Fill in the Blank
</h5>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'centripetal force'>
        The force that pulls an object to the center of a circle is called the _____________________.
    </li>
    <li class = 'question' data-answer = 'in a straight line'>
        If an object is released from circular motion, it will move ______________________.
    </li>
    <li class = 'question' data-answer = 'tangential'>
        The velocity is always ________________ to the circle.
    </li>
    <li class = 'question' data-answer = 'center'>
        The centripetal force always points towards the _______________ of the circle.
    </li>
</ol>


<ol class = 'answerList'></ol>



<h4>
    Video Resources:
</h4>

<p>
    This a V-Sauce video on what would happen if the sun suddenly disappeared.
    It's pretty interesting, although also completely speculative.
    But, one small point of it applies to this topic:
    if the sun suddenly disappeared, how would the earth move?
    The video will start shortly before he answers this question.
    (You can back up and watch the whole thing if you like, but do note he makes a terrible physics mistake in the first minute! You can learn more about this mistake in the unit on gravity.)
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/rltpH6ck2Kc?start=108" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



<script>
    let simpleCircle = new Diagram();
    simpleCircle.addCircle(origin,1);
    $("#simpleCircle1").append(simpleCircle.drawCanvas(100));
    $("#simpleCircle2").append(simpleCircle.drawCanvas(100));
    $("#simpleCircle3").append(simpleCircle.drawCanvas(100));

    let circleCounterClockwise1 = new CircularMotionDiagram('counterclockwise');
    circleCounterClockwise1.addVisiblePoint(1);
    let circleCounterClockwise1Answer = new CircularMotionDiagram('counterclockwise');
    circleCounterClockwise1Answer.addVisiblePoint(1);
    circleCounterClockwise1Answer.addVelocityArrow(1);
    addAnswerObject('circleCounterclockwise1Answer', circleCounterClockwise1Answer.drawCanvas(150));

    let circleCounterClockwise2 = new CircularMotionDiagram('counterclockwise');
    circleCounterClockwise2.addVisiblePoint(2.5);
    let circleCounterClockwise2Answer = new CircularMotionDiagram('counterclockwise');
    circleCounterClockwise2Answer.addVisiblePoint(2.5);
    circleCounterClockwise2Answer.addCentripetalForce(2.5);
    addAnswerObject('circleCounterclockwise2Answer', circleCounterClockwise2Answer.drawCanvas(150));


    let circleCounterClockwise3 = new CircularMotionDiagram('counterclockwise');
    circleCounterClockwise3.addVisiblePoint(5.5);
    let circleCounterclockwise3Answer = new CircularMotionDiagram('counterclockwise');
    circleCounterclockwise3Answer.addVisiblePoint(5.5);
    circleCounterclockwise3Answer.addVelocityArrowWithDottedLine(5.5);
    circleCounterclockwise3Answer.addCentripetalForce(5.5);
    addAnswerObject('circleCounterclockwise3Answer', circleCounterclockwise3Answer.drawCanvas(150));



    let circleClockwise1 = new CircularMotionDiagram('clockwise');
    circleClockwise1.addVisiblePoint(4);
    let circleClockwise2 = new CircularMotionDiagram('clockwise');
    circleClockwise2.addVisiblePoint(0.5);
    let circleClockwise3 = new CircularMotionDiagram('clockwise');
    circleClockwise3.addVisiblePoint(5.2);

    $("#circleCounterclockwise1").append(circleCounterClockwise1.drawCanvas(150));


    $("#circleCounterclockwise2").append(circleCounterClockwise2.drawCanvas(150));
    $("#circleCounterclockwise3").append(circleCounterClockwise3.drawCanvas(150));

    $("#circleClockwise1").append(circleClockwise1.drawCanvas(150));
    $("#circleClockwise2").append(circleClockwise2.drawCanvas(150));
    $("#circleClockwise3").append(circleClockwise3.drawCanvas(150));
</script>

