<p>
    This unit focuses on <emph>circular motion</emph>.
    There is another
    <a href = '/unitcluster/rotational_motion'>cluster of units</a> that focuses on
    <emph>rotational motion</emph>.
    Many of the same concepts apply to both circular motion and rotational motion,
    but it is still useful to differentiate between the two.
</p>


<p class = 'directions'>
    For each example or photo given, state
    whether it is an example of circular motion
    or rotational motion.
</p>

<ol class = 'questionList'>
    <li class = 'direction' data-answer = ''>

    </li>
    <li class = 'direction' data-answer = ''>
        A spinning top: <br>
        <img src = '/podAssets/mechanics/circular_motion/spinning_top.jpg' height = '120px' width = 'auto'/>
        <p class = 'imageCredit'>
            https://www.latiendadelyoyo.com/en/spin-tops/872-spinning-tops-imperials.html
        </p>
    </li>
    <li class = 'direction' data-answer = ''>

    </li>
    <li class = 'direction' data-answer = ''>

    </li>
    <li class = 'direction' data-answer = ''>

    </li>
    <li class = 'direction' data-answer = ''>

    </li>
    <li class = 'direction' data-answer = ''>
        The earth's revolution around the sun,
        which creates the seasons.
    </li>
    <li class = 'direction' data-answer = ''>
        The earth spinning aroudn,
        which creates day and night.
    </li>
</ol>