

<p class = 'directions'>
    Please answer all of the questions below as a decimal to 3 significant figures of accuracy.
</p>

<ol class = 'questionList'>
    <li class="question" data-answer = ''>
        What is the linear speed of an object that moves around a circle
        with a radius of 4 m in a time of 8 seconds?
    </li>
    <li class = 'question' data-answer = ''>
        What is the linear speed of an object that moves around a circle with
        a radius of 0.6 meters in a time of 0.2 seconds?
    </li>
</ol>

<h4>
    Finding Both Linear and Angular Speed of an object moving around a circle.
</h4>

<p>
    There are two different ways to describe the speed of an object moving in a circle:
</p>
<ul class = 'principleList'>
    <li>
        An objects <strong>linear speed</strong> is the distance it moves
        divided by the time.
    </li>
    <li>
        An object's <strong>angular speed</strong> represents how many radians
        the object moves around the circle divided by time.
    </li>
</ul>

<p>
    There is a very extension discussion of angular speed and how ot find it
    in the <a href = '/pod/rotational_motion/rotational_kinematics/rotational_velocity_calculations'>pod on calculating angular velocity</a>.
</p>


<ol class = 'questionList'>
    <li>
        An object moves around a circle with a radius of 3 m
        in a time of 9 seconds.
        <ol class = 'subQuestionList' type = 'a'>
            <li class="subQuestion" data-answer = ''>
                What is its linear speed?
            </li>
            <li class = 'subQuestion' data-answer = ''>
                What is its angular speed?
            </li>
        </ol>
    </li>
    <li>
        An object moves around a circle with a radius of 0.2 m
        in a time of 12 seconds.
        <ol class = 'subQuestionList' type = 'a'>
            <li class="subQuestion" data-answer = ''>
                What is its linear speed?
            </li>
            <li class = 'subQuestion' data-answer = ''>
                What is its angular speed?
            </li>
        </ol>
    </li>
</ol>