

<p>
    It is good to review some of the advanced <a href = '/pod/mechanics/quantitative_dynamics/elevators_2'>elevator problems</a> and <a href = '/pod/mechanics/quantitative_dynamics/block_dragging_3'>friction problems</a>.
    To recap briefly:
</p>

<ul class = 'principleList'>
    <li>
        You do not actually <emph>feel</emph> the force of gravity. You feel the normal force of the ground
        pressing on you. In an elevator, you feel lighter and heavier as the elevator moves,
        not because the gravity acting on you is changing (it's not),
        but because the normal force acting on you is changing.
    </li>
    <li>
        The normal force is a <emph>constraint force</emph>. Unlike other forces, that match a particular value
        a constraint force will match a value necessary to f....
        Typically, you need to find the <emph>net force</emph> acting on an object then ....
    </li>
    <li>
        Static friction is also a constraint force. There is a maximum value equal to the normal force
        times the coefficient of static friction. ....
    </li>
</ul>




<p>
    The gravitron is an amusement park ride in which the
</p>