<p>
    The goal of this pod, building on the <a href = '/pod/mechanics/circular_motion/circular_motion_basics'>basics of circular motion</a>
    is to describe all of the relevant kinematic and dynamic quantities in circular motion as vectors.
</p>

<ul class = 'principleList'>
    <li>
        A <strong>position vector</strong> is a vector pointing from the origin to the point
        where an object is located.
        In circular motion, the <emph>origin</emph> is often chosen to be the center of the circle.
        In this case, the position vector would be a radius of the circle,
        pointing from the center to the current location of an object.
    </li>
    <li>
        The <strong>velocity vector</strong> shows the position an object is moving.
        In circular motion, the <emph>velocity vector</emph> is always <emph>tangential</emph>
        to the circle.
        You can tell from the velocity vector if an object is moving clockwise or counterclockwise.
    </li>
    <li>
        The <strong>net force vector</strong> for an object in circular motion at a constant speed
        always points towards the center of the circle.
    </li>
</ul>