<h3>
    Algebraic Physics Problems
</h3>

<p>
    Oftentimes in physics class, we solve to find an answer that is <i>numerical</i>.
    We want a number giving a particular value, like the voltage or power of a circuit.
    Other times, however, we want to find a new formula for a situation.
    Finding a new formula lets us analyze a situation a whole different way.
    We call this a <i>symbolic problem</i> or a <i>derivation</i>.
    In this section, we will practice finding new formulas for electrical circuit values.
</p>

<h5>
    "In terms of"
</h5>

<p>
    We use the phrase "in terms of" often in symbolic problems.
    When we say we want to find "\( A \) in terms of \( B \) and \( C \),"
    that means we want to find an equation that begins with \( A = \),
    and on the other side of the equations sign has some expression made of \( B \) and \( C \).
</p>

<p>
    "\( A \) in terms of \( B \) and \( C \) means we find
    $$
    A = \{ \textrm{Expression with } B \textrm{ and } C \}
    $$
</p>

<p>
    "\( J \) in terms of \( K \), \( L \), and \( M \)" means we find
    $$
    J = \{ \textrm{Expression with } K \textrm{, } L \textrm{, and } M \}
    $$
</p>

<h5>
    Solving Ohm's Law
</h5>

<p class = 'equation'>
    $$ V = IR $$
</p>

<p>
    In each of these problems, you need to solve Ohm's Law for one of the pieces.
    Start with the formula Ohm's Law: \( V = IR \), and manipulate to find a new formula.
</p>


<ol>
    <li>
        Solve for <strong>current</strong> in terms of <i>voltage</i> and <i>resistance</i>.
    </li>
    <li>
        Solve for <strong>resistance</strong> in terms of <i>voltage</i> and <i>current</i>.
    </li>
    <li>
        Using the phrase "in terms of," how would you describe the formula Ohm's Law: \( V = IR \)?
    </li>
</ol>

<h5>
    Solving the Power Formula
</h5>

<p class = 'equation'>
    $$ P = IV $$
</p>

<p>
    In each of these problems, you need to solve the Power Formula for one of its peices.
    Start with the power formula: \( P = IV \), and manipulate to find a new formula.
</p>

<ol start = '4'>
    <li>
        Solve for <strong>current</strong> in terms of <i>voltage</i> and <i>power</i>.
    </li>
    <li>
        Solve for <strong>voltage</strong> in terms of <i>current</i> and <i>power</i>.
    </li>
    <li>
        Using the phrase "in terms of," how would you describe the power formula \( P = IV \)?
    </li>

</ol>

<h4>
    Finding New Formulas
</h4>

<p>
    In each of these problems, you will need to combine <i>both</i> of the formulas \( P = IV \) and \( V = IR \).
    Specifically, you will need to substitute one formula into another formula.
</p>

<ol start = '7'>
    <li>
        Solve for <strong>power</strong> in terms of <i>current</i> and <i>resistance</i>.
    </li>
    <li>
        Solve for <strong>power</strong> in terms of <i>voltage</i> and <i>resistance</i>.
    </li>
    <li>
        Solve for <strong>voltage</strong> in terms of <i>power</i> and <i>resistance</i>.
    </li>
    <li>
        Solve for <strong>current</strong> in terms of <i>power</i> and <i>resistance</i>.
    </li>
    <li>
        Solve for <strong>resistance</strong> in terms of <i>power</i> and <i>current</i>.
    </li>
    <li>
        Solve for <strong>resistance</strong> in terms of <i>power</i> and <i>voltage</i>.
    </li>
</ol>

<div class = 'pageBreak'></div>
<h4>
    Answers:
</h4>

<ol>
    <li>
        \( I = \frac{V}{R} \)
    </li>
    <li>
        \( R = \frac{V}{I} \)
    </li>
    <li>
        Voltage in terms of current and resistance.
    </li>
    <li>
        \( I = \frac{P}{V} \)
    </li>
    <li>
        \( V = \frac{P}{I} \)
    </li>
    <li>
        Power in terms of current and voltage.
    </li>
    <li>
        \( P = I^2 R \)
    </li>
    <li>
        \( P = \frac{V^2}{R} \)
    </li>
    <li>
        \( V= \sqrt{PR} \)
    </li>
    <li>
        \( I = \sqrt{\frac{P}{R}} \)
    </li>
    <li>
        \( R = \frac{P}{I^2} \)
    </li>
    <li>
        \( R = \frac{V^2}{P} \)
    </li>
</ol>
