<p>
    In the level 1 sections, we determined how to calculate the voltage, current, resistance, and power
    of a circuit with just a battery and a single resistor using two formulas:
    $$ V = IR $$,
    $$ P = IV $$.
    In this section, we will determine the voltage, current, resistance, and power
    of <i>each</i> resistor within a circuit. Based on how the circuit is connected,
    these quantities follow logical mathematical rules.
</p>
<p>
    There are two ways for a circuit to be connected called <i>series</i> and <i>parallel</i> circuits.
    Each of these circuits follows particular rules.
</p>

<h3>
    Solving a Series Circuit
</h3>

<div class = 'definitionBox'>
    <h5>
        Series Circuit Rules:
    </h5>
    <ul>
        <li>
            The <strong>voltage</strong> of each element adds to the total voltage.
        </li>
        <li>
            The <strong>current</strong> is the same for every element of the circuit.
        </li>
        <li>
            The <strong>resistance</strong> of each element adds to the total resistance.
        </li>
        <li>
            For each element, the formula \( V = IR \) applies.
        </li>
    </ul>
</div>

<ol>
    <li class = 'circuitProblem'><br>
       <div id = 'problem1Circuit'></div><br>
        <div id = 'problem1Table'></div>
    </li>
    <li class = 'circuitProblem'><br>
        <div id = 'problem2Circuit'></div><br>
        <div id = 'problem2Table'></div>
    </li>
    <li class = 'circuitProblem'><br>
        <div id = 'problem3Circuit'></div><br>
        <div id = 'problem3Table'></div>
    </li>
    <li class = 'circuitProblem'><br>
        <div id = 'problem4Circuit'></div><br>
        <div id = 'problem4Table'></div>
    </li>
    <li class = 'circuitProblem'><br>
        <div id = 'problem5Circuit'></div><br>
        <div id = 'problem5Table'></div>
    </li>
</ol>

<h3>
    Solving a Parallel Circuit
</h3>

<div class = 'definitionBox'>
    <h5>
        Series Circuit Rules:
    </h5>
    <ul>
        <li>
            The <strong>voltage</strong> is the same for every element of the circuit.
        </li>
        <li>
            The <strong>current</strong> of each element adds up to the total.
        </li>
        <li>
            The <strong>resistance</strong> of each element DOES NOT add to the total. (There is a more complex formula we will learn later).
        </li>
        <li>
            For each element, the formula \( V = IR \) applies.
        </li>
    </ul>
</div>

<ol start = '6'>
    <li>
        <div id = 'problem6Circuit'></div><br>
        <div id = 'problem6Table'></div>
    </li>
    <li>
        <div id = 'problem7Circuit'></div><br>
        <div id = 'problem7Table'></div>
    </li>
    <li>
        <div id = 'problem8Circuit'></div><br>
        <div id = 'problem8Table'></div>
    </li>
    <li>
        <div id = 'problem9Circuit'></div><br>
        <div id = 'problem9Table'></div>
    </li>
    <li>
        <div id = 'problem10Circuit'></div><br>
        <div id = 'problem10Table'></div>
    </li>
    <li>
        What rule is the same for series and parallel circuits?
    </li>
    <li>
        What rules are different for series and parallel circuits?
    </li>
</ol>


<h3>
    Solving for Power of Circuits
</h3>

<div class = 'definitionBox'>
    <h5>Power Rule</h5>
    <p>
        In all circuits, series or parallel, you can use the formula \( P = IV \) to find power.
    </p>
</div>

<ol start = '13'>
    <li class = 'circuitProblem'><br>
        <div id = 'problem13Circuit'></div><br>
        <div id = 'problem13Table'></div>
    </li>
    <li class = 'circuitProblem'><br>
        <div id = 'problem14Circuit'></div><br>
        <div id = 'problem14Table'></div>
    </li>
    <li class = 'circuitProblem'><br>
        <div id = 'problem15Circuit'></div><br>
        <div id = 'problem15Table'></div>
    </li>
    <li class = 'circuitProblem'><br>
        <div id = 'problem16Circuit'></div><br>
        <div id = 'problem16Table'></div>
    </li>
</ol>

<h3>
    Answers
</h3>
<ol>
    <li>
        <br><div id = 'problem1Answer'></div>
    </li>
    <li>
        <br><div id = 'problem2Answer'></div>
    </li>
    <li>
        <br><div id = 'problem3Answer'></div>
    </li>
    <li>
        <br><div id = 'problem4Answer'></div>
    </li>
    <li>
        <br><div id = 'problem5Answer'></div>
        <br>
        Results are rounded to 3 significant figures.
    </li>
    <li>
        <br><div id = 'problem6Answer'></div>
    </li>
    <li>
        <br><div id = 'problem7Answer'></div>
    </li>
    <li>
        <br><div id = 'problem8Answer'></div>
    </li>
    <li>
        <br><div id = 'problem9Answer'></div>
    </li>
    <li>
        <br><div id = 'problem10Answer'></div>
    </li>
    <li>
        Ohm's Law applies to both types of circuits.
    </li>
    <li>
        The voltage, current, and resistance rules are different for series and parallel circuits.
    </li>
    <li>
        <br><div id = 'problem13Answer'></div>
    </li>
    <li>
        <br><div id = 'problem14Answer'></div>
    </li>
    <li>
        <br><div id = 'problem15Answer'></div>
    </li>
    <li>
        <br><div id = 'problem16Answer'></div>
    </li>
</ol>

<script>
    let problem1Circuit = makeSeriesCircuit(12,[2,4]);
    let problem1Table = new ElectricCircuitTable(2,false);
    let problem1Answer = new ElectricCircuitTable(2, false);
    problem1Answer.fillInResistanceRow([2,4,6]);
    problem1Answer.fillInCurrentRow([2,2,2]);
    problem1Answer.fillInVoltageRow([4,8,12]);
    $("#problem1Circuit").append(problem1Circuit.drawCanvas(400,200));
    $("#problem1Table").append(problem1Table.draw(600,300));
    $("#problem1Answer").append(problem1Answer.draw(400,200));

    let problem2Circuit = makeSeriesCircuit(20, [2,3]);
    let problem2Table = new ElectricCircuitTable(2, false);
    let problem2Answer = new ElectricCircuitTable(2, false);
    problem2Answer.fillInResistanceRow([2,3,5]);
    problem2Answer.fillInCurrentRow([4,4,4]);
    problem2Answer.fillInVoltageRow([8,12,20]);
    $("#problem2Circuit").append(problem2Circuit.drawCanvas(400,200));
    $("#problem2Table").append(problem2Table.draw(600,300));
    $("#problem2Answer").append(problem2Answer.draw(400,200));

    let problem3Circuit = makeSeriesCircuit(30, [3,7]);
    let problem3Table = new ElectricCircuitTable(2, false);
    let problem3Answer = new ElectricCircuitTable(2, false);
    problem3Answer.fillInResistanceRow([3,7,10]);
    problem3Answer.fillInCurrentRow([3,3,3]);
    problem3Answer.fillInVoltageRow([9,21,30]);
    $("#problem3Circuit").append(problem3Circuit.drawCanvas(400,200));
    $("#problem3Table").append(problem3Table.draw(600,300));
    $("#problem3Answer").append(problem3Answer.draw(400,200));

    function createCircuitProblem(type, batteryVoltage, resistorArray, powerBoolean, resistanceAnswers, currentAnswers, voltageAnswers, powerAnswers) {
        let circuit, table, answerTable;
        if (type === 'series') {
            circuit = makeSeriesCircuit(batteryVoltage, resistorArray);
        } else if (type === 'parallel') {
            circuit = makeParallelCircuit(batteryVoltage, resistorArray);
        }
        table = new ElectricCircuitTable(resistorArray.length, powerBoolean);
        answerTable = new ElectricCircuitTable(resistorArray.length, powerBoolean);
        answerTable.fillInResistanceRow(resistanceAnswers);
        answerTable.fillInVoltageRow(voltageAnswers);
        answerTable.fillInCurrentRow(currentAnswers);
        if (powerBoolean) {
            answerTable.fillInPowerRow(powerAnswers);
        }
        return {
            circuit: circuit,
            table: table,
            answerTable: answerTable
        }
    }

    function insertCircuitProblem(number, circuitProblem, size) {
        if (size === undefined) {size = 4;}
        $(`#problem${number}Circuit`).append(circuitProblem.circuit.drawCanvas(size * 100, size * 50));
        $(`#problem${number}Table`).append(circuitProblem.table.draw(size * 150, size * 75));
        $(`#problem${number}Answer`).append(circuitProblem.answerTable.draw(size *100, size * 50));
    }

    let problem4 = createCircuitProblem('series', 18, [1,2,3], false, [1,2,3,6], [3,3,3,3], [3,6,9,18]);
    insertCircuitProblem(4, problem4);

    let problem5 = createCircuitProblem('series', 21.23, [4.47, 5.36, 2.94], false, [4.47, 5.36, 2.94, 12.77], [1.66, 1.66, 1.66, 1.66], [7.43, 8.91, 4.89, 21.23])
    insertCircuitProblem(5, problem5);

    let problem6 = createCircuitProblem('parallel', 12, [3, 6], false, [3,6,2], [4,2,6], [12,12,12]);
    insertCircuitProblem(6, problem6);
    let problem7 = createCircuitProblem('parallel', 10, [5, 10], false, [5, 10, 3.33], [2, 1, 3], [10,10,10]);
    insertCircuitProblem(7, problem7);
    let problem8 = createCircuitProblem('parallel', 20, [2, 4], false, [2,4,1.33], [10,5,15], [20,20,20]);
    insertCircuitProblem(8, problem8);
    let problem9 = createCircuitProblem('parallel', 6, [2,2,2], false, [2,2,2,0.667],[3,3,3,9],[6,6,6,6]);
    insertCircuitProblem(9, problem9);
    let problem10 = createCircuitProblem('parallel', 10.45, [3.45, 2.58, 8.12], false,[3.45,2.58,8.12,1.25],[3.03,4.05,1.29,8.37],[10.45,10.45,10.45,10.45]);
    insertCircuitProblem(10, problem10);

    let problem13 = createCircuitProblem('series', 50, [10,15], true, [10, 15, 25], [2,2,2], [20,30,50], [40, 60, 100]);
    insertCircuitProblem(13, problem13);
    let problem14 = createCircuitProblem('series', 12, [4, 6], true, [4, 6, 10], [1.2, 1.2, 1.2], [4.8, 7.2, 12], [5.76, 8.64, 14.4]);
    insertCircuitProblem(14, problem14);
    let problem15 = createCircuitProblem('parallel', 15, [3,5], true, [3,5,1.875], [5, 3, 8], [15, 15, 15], [75, 45, 120]);
    insertCircuitProblem(15, problem15);
    let problem16 = createCircuitProblem('parallel', 30, [15, 25], true, [15, 25, 9.375], [2, 1.2, 3.2], [30, 30, 30], [60, 36, 96]);
    insertCircuitProblem(16, problem16);

</script>