

<p class="definition" data-word = 'Constellations'>
    A series of patterns and shapes that appear in the stars.
    Used to organize and understand the celestial globe.
</p>


<a href = 'https://www.iau.org/public/themes/constellations/'>
    List of official 88 constellations in the International Astronomical Union organization.
</a>


<strong>
    12 Zodiac Constellations
</strong>
<ul>
    <li>
        Aries
    </li>
    <li>
        Taurus
    </li>
    <li>
        Gemini
    </li>
    <li>
        Cancer
    </li>
    <li>
        Leo
    </li>
    <li>
        Virgo
    </li>
    <li>
        Libra
    </li>
    <li>
        Scorpio
    </li>
    <li>
        Sagittarius
    </li>
    <li>
        Capricorn
    </li>
    <li>
        Aquarius
    </li>
    <li>
        Pisces
    </li>
    <li>
        (Ophiuchus)
    </li>
</ul>