<p>
    For each of the following situations, state if kinetic friction or static friction acts on the object.
</p>
<ul>
    <li>
        Crutches have tiny rubber pieces on the bottom so that they do not slide when you use them.
    </li>
    <div class = 'smallSpace'></div>
    <li>
        A sled sliding across the snow eventually stops.
    </li>
    <div class = 'smallSpace'></div>
    <li>
        A book that is sliding across the floor eventually stops.
    </li>
    <div class = 'smallSpace'></div>
    <li>
        A chair does not move when somebody leans back in the chair.
    </li>
    <div class = 'smallSpace'></div>
</ul>

<p>
    Which force is stronger, kinetic friction or (maximum) static friction?
</p>
<div class = 'mediumSpace'></div>


