
<h4>
    Quantitative Problems With Extra Mass
</h4>

<ol class="questionList">
    <li class="question">
        An Atwood machine has two masses on it.
        Assume the Atwood machine is frictionless and the string is massless.
        <br>
        Mass 1= 0.700 kg [is on the LEFT side]
        <br>
        Mass 2 = 0.900 kg [is on the RIGHT side]
        <br>
        Mass 3 = 0.400 kg on a table between the two pulles. The table is frictionless.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a schematic of the Atwood Machine.
                Label each mass.
            </li>
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the Atwood Machine system.
                This free-body diagram should have <emph>four</emph> external forces acting
                on it, one clockwise, and the other counterclockwise,
                and then two other forces that cancel out.
            </li>
            <li class="subQuestion">
                Using a formula, make a quantitative free-body diagram
                of the Atwood Machine system.
                Identify which formula you use.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the
                net force acting on the Atwood Machine system.
                The net force will be either clockwise or
                counterclockwise.
            </li>
            <li class="subQuestion">
                Determine the total mass of the Atwood Machine system.
                To find the total mass of a system,
                add the mass of each part of that system.
            </li>
            <li class="subQuestion" data-answer = '0.980 m/s/s clockwise'>
                Determine the magnitude and direction of the
                acceleration of the Atwood Machine system.
                The acceleration will be either clockwise or counterclockwise.
            </li>
            <li class="subQuestion">
                How does adding the mass in the middle
                affect the acceleration of this machine?
                Does it make it accelerate faster, slower,
                or at the same rate.
                Refer to specific formulas in determining your answer.
            </li>
        </ol>
    </li>
    <li class="question">
        An Atwood machine has two masses on it.
        Assume the Atwood machine is frictionless and the string is massless.
        <br>
        Mass 1= 2.90 kg [is on the LEFT side]
        <br>
        Mass 2 = 3.50 kg [is on the RIGHT side]
        <br>
        Mass 3 = 2.70 kg on a table between the two pulles. The table is frictionless.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a schematic of the Atwood Machine.
                Label each mass.
            </li>
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the Atwood Machine system.
            </li>
            <li class="subQuestion">
                Using a formula, make a quantitative free-body diagram
                of the Atwood Machine system.
                Identify which formula you use.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the
                net force acting on the Atwood Machine system.
            </li>
            <li class="subQuestion">
                Determine the total mass of the Atwood Machine system.
            </li>
            <li class="subQuestion" data-answer = '0.646 m/s/s clockwise'>
                Determine the magnitude and direction of the
                acceleration of the Atwood Machine system.
            </li>
        </ol>
    </li>

</ol>


<ol class="answerList"></ol>