
<p>
    An Atwood machine is a device used to measure and test Newton's Laws.
</p>

<img src = '/podAssets/mechanics/system_dynamics/atwood_diagram.png' height = '300px' width ='auto' />


<h4>
    Qualitative Analysis of Atwood Machine:
</h4>

<ol class="questionList">
    <li class="question">
        We have an Atwood machine with <emph>more mass on the left</emph>.
        We assume that the pulley is frictionless and the string is weightless.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer_id = 'fbd1'>
                Draw a free-body diagram of
                the mass on the LEFT.
                Only two forces act on this mass.
                Identify each force, and identify the agent of that force.
                {{>two_force_fbd}}
                <script>
                    let fbd1 = fastFBD([['down','gravity',2],['up','tension',1.5]]);
                    addAnswerObject('fbd1', fbd1.drawCanvas(200));
                </script>
            </li>
            <li class="subQuestion" data-answer = 'the net force is downward; gravity is stronger than tension because this mass is greater than the other mass.'>
                The net force acting on this mass is <strong>not zero</strong>!
                The mass is accelerating.
                Determine which direction, and reflect this in your free-body diagram
                by making one of the force vectors greater.
            </li>
            <li class="subQuestion" data-answer_id = 'fbd2'>
                Draw a free-body diagram of
                the mass on the RIGHT.
                Only two forces act on this mass.
                Identify each force, and identify the agent of that force.
                {{>two_force_fbd}}
                <script>
                    let fbd2 = fastFBD([['down','gravity',1],['up','tension',1.5]]);
                    addAnswerObject('fbd2',fbd2.drawCanvas(200));
                </script>
            </li>
            <li class="subQuestion" data-answer = 'the net force is upward; the tension force is stronger than gravity because this mass is less than the other mass'>
                The net force acting on this mass is <strong>not zero</strong>!
                The mass is accelerating.
                Determine which direction, and reflect this in your free-body diagram
                by making one of the force vectors greater.
            </li>
            <li class="subQuestion" data-answer_id = 'force_table_1'>
                Now, we are going to consider the Atwood Machine as a system,
                in which <emph>both masses</emph> are a part of this system.
                The two free-body diagrams you just drew,
                in sum total, include <emph>four forces</emph>.
                However, because the masses are pulling against each other,
                we are going to structure this free-body diagram a little bit
                differently from the ordinary.
                Do not make the forces up and down, but make them <emph>clockwise</emph>
                or <emph>counterclockwise</emph>.
                There are four total forces acting on the system.
                <script>
                    let force_table_1 = new ForceTableQualitative(4,true);
                    force_table_1.addForce('gravity','counterclockwise','earth','left mass');
                    force_table_1.addForce('gravity','clockwise','earth','right mass');
                    force_table_1.addForce('tension','counterclockwise','right mass','left mass');
                    force_table_1.addForce('tension','clockwise','left mass','right mass');
                    addAnswerObject('force_table_1',force_table_1.draw(300));
                </script>
            </li>
            <li class="subQuestion" data-answer_id = 'force_table_2'>
                All of the four forces you listed above do not all count!
                Two of them are <emph>internal forces</emph>,
                and two are <emph>external forces</emph>.
                An internal force is one that acts from one part of the system on a different part of the system.
                Identify the internal forces, and then delete them from your free-body diagram!
                There should now be only two forces in the free-body diagram.
                <script>
                    let force_table_2 = new ForceTableQualitative(4,true,true);
                    force_table_2.addForce('gravity','counterclockwise','earth','left mass','external');
                    force_table_2.addForce('gravity','clockwise','earth','right mass','external');
                    force_table_2.addForce('tension','counterclockwise','right mass','left mass','internal');
                    force_table_2.addForce('tension','clockwise','left mass','right mass','internal');
                    addAnswerObject('force_table_2',force_table_2.draw(300));
                </script>
            </li>
            <li class="subQuestion" data-answer = 'The two tension forces are an action-reaction force pair: the right mass exerts a force counterclockwise on the left mass; the left mass exerts a force clockwise on the right mass'>
                Newton's Third Law states that whenever A
                exerts a force on B, B exerts a force on A
                with equal magnitude and opposite direction.
                All forces come in pairs, called an "Action-Reaction Force Pair",
                though this is something of a misnomer, because one force
                does not follow the other, but they exist together.
                Demonstrate that the two internal forces to the system
                are an action-reaction force pair.
            </li>
            <li class="subQuestion" data-answer = 'Because the left mass is greater, the force of gravity pulling counterclockwise is greater than the force of gravity pulling clockwise; this the net force is counterclockwise'>
                The system does not have net force zero, but has a net force
                acting on it and is accelerating.
                Identify which of the two forces is the greater one,
                make sure this is represented in your free-body diagram,
                and identify the net force acting on the Atwood machine system.
            </li>
            <li class="subQuestion" data-answer = 'The mass of the left will accelerate downward and the mass on the right will accelerate upward.'>
                Briefly describe what will happen to the Atwood Machine system in real life.
            </li>
        </ol>
    </li>
</ol>

<h4>
    Quantitative Analysis of an Atwood Machine
</h4>

<p>
    The simplest way to understand an Atwood machine
    quantitatively is as a <emph>full system</emph>.
    In this case, there are only two formulas you need.
</p>

<ul class="principleList">
    <li>
        \( F_g = mg \)
    </li>
    <li>
        The force of gravity (weight) = mass * free-fall acceleration
    </li>
    <li>
        On earth, free-fall acceleration = 9.8 m/s<sup>2</sup>.
    </li>
</ul>

<ul class="principleList">
    <li>
        Newton's Second Law:
    </li>
    <li>
        \( \Sigma F = m a  \)
    </li>
    <li>
        Net Force = mass * acceleration
    </li>
</ul>



<ol class="questionList">
    <li class="question">
        An Atwood machine has two masses on it.
        Assume the Atwood machine is frictionless and the string is massless.
        <br>
        Mass 1= 0.500 kg [is on the right side]
        <br>
        Mass 2 = 0.300 kg [is on the left side]
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a schematic of the Atwood Machine.
                Label each mass.
            </li>
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the Atwood Machine system.
                This free-body diagram should have only two forces acting
                on it, one clockwise, and the other counterclockwise.
            </li>
            <li class="subQuestion">
                Using a formula, make a quantitative free-body diagram
                of the Atwood Machine system.
                Identify which formula you use.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the
                net force acting on the Atwood Machine system.
                The net force will be either clockwise or
                counterclockwise.
            </li>
            <li class="subQuestion">
                Determine the total mass of the Atwood Machine system.
                To find the total mass of a system,
                add the mass of each part of that system.
            </li>
            <li class="subQuestion" data-answer = '2.45 m/s/s clockwise'>
                Determine the magnitude and direction of the
                acceleration of the Atwood Machine system.
                The acceleration will be either clockwise or counterclockwise.
            </li>
        </ol>
    </li>
    <li class="question">
        An Atwood machine has two masses on it.
        Assume the Atwood machine is frictionless and the string is massless.
        <br>
        Mass 1= 1.50 kg [is on the right side]
        <br>
        Mass 2 = 2.20 kg [is on the left side]
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a schematic of the Atwood Machine.
                Label each mass.
            </li>
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the Atwood Machine system.
            </li>
            <li class="subQuestion">
                Using a formula, make a quantitative free-body diagram
                of the Atwood Machine system.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the
                net force acting on the Atwood Machine system.
            </li>
            <li class="subQuestion">
                Determine the total mass of the Atwood Machine system.
            </li>
            <li class="subQuestion" data-answer = '1.85 m/s/s clockwise'>
                Determine the magnitude and direction of the
                acceleration of the Atwood Machine system.
            </li>
        </ol>
    </li>
    <li class="question">
        An Atwood machine has two masses on it.
        Assume the Atwood machine is frictionless and the string is massless.
        <br>
        Mass 1= 0.900 kg [is on the left side]
        <br>
        Mass 2 = 0.800 kg [is on the right side]
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a schematic of the Atwood Machine.
                Label each mass.
            </li>
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the Atwood Machine system.
            </li>
            <li class="subQuestion">
                Using a formula, make a quantitative free-body diagram
                of the Atwood Machine system.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the
                net force acting on the Atwood Machine system.
            </li>
            <li class="subQuestion">
                Determine the total mass of the Atwood Machine system.
            </li>
            <li class="subQuestion" data-answer = '0.576 m/s/s clockwise'>
                Determine the magnitude and direction of the
                acceleration of the Atwood Machine system.
            </li>
        </ol>
    </li>

</ol>

<ol class="answerList"></ol>