<p>
    A <strong>system</strong> is one of the fundamental concepts in physics,
    but also one of the most difficult to define and understand.
    In this unit, we will begin to unravel what a system is
    and practice using properly language of systems,
    which will then be applied to nearly every other unit.
</p>

<p class ='definition'>
    A <strong>system</strong> several parts that combine to make
    a single whole. When analyzing a system, you analyze only
    the whole, not the parts.
</p>


<p>
    An important thing to know about systems:
</p>
<p style = 'font-size: 20px'>
    You have been thinking about systems your entire life!
    You probably just haven't realized it.
</p>


<ul>
    <li>
        <strong>Example 1:</strong>
        You are about to cross the road, and you see a car coming.
        You wait for the car to stop before crossing the road.
        While waiting, your looking at the car, and looking at how it is moving,
        and trying to determine if it is slowing down enough to be safe to stop.
        You <emph>aren't</emph> thinking about how many people are in the car,
        or whether there is a ton of stuff inside, if there are kids inside,
        or if there is a dog inside.
        You <emph>aren't</emph> thinking about how fast the wheels are turning,
        or how precisely the pistons in the engines are moving, or what each
        of the different fluids inside the car does.
        You are just thinking about the car, moving.
        The car is a <strong>system</strong>.
    </li>
    <li>
        <strong>Example 2:</strong>
        Your friend is walking towards you.
        You wave and great ready to talk to your friend.
        You <emph>aren't</emph> thinking about how each of their individual
        fingers and toes is moving.
        You <emph>arne't</emph> thinking about how your friends hearts, lungs,
        kidneys, and stomach are functioning.
        You <emph>aren't</emph> thinking about the billions of individual cells
        that make up your friend's body.
        You just see your friend, coming towards you.
        Your friend is a <strong>system</strong>
    </li>
    <li>
        <strong>Example 3:</strong>
        You are playing catch, and someone throws a ball towards you.
        You see the ball, and you move your hands in order to catch it.
        The ball does not have many different parts, but it does have different atoms.
        It is made of a billion, billion, billion atoms. each of those atoms, is made
        of protons, neutrons, and electrons. Each of the protons and neutrons are
        made of quarks.
        But, I really hope you aren't thinking about all the electrons and quarks when the ball
        is coming towards you! You are just thinking about the ball itself,
        and where it is going, so that you can catch it!
        The ball is a <strong>system</strong>.
    </li>
    <li>
        <strong>Example 4:</strong>
        There is one physics system everyone knows about, even people who have never
        taken physics at all: The Solar System.
        The Solar System consists of the sun, the planets, their moons, asteroids, comets,
        and any other objects orbiting the sun.
        There are many objects that orbit the sun, and they are complex,
        but they can be considered as a single part as they make their way around the galaxy.
    </li>
</ul>

<h4>
    Why are systems useful:
</h4>

<p>
    Coming soon!
</p>