<ol class = 'questionList'>
    <li class="question">
        A and B are <em>directly proportional</em>.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = 'B is doubled.'>
                If A is doubled, what happens to B?
            </li>
            <li class="subQuestion" data-answer = 'A is doubled.'>
                If B is doubled, what happens to A?
            </li>
            <li class="subQuestion" data-answer = '120'>
                A has a value of 40. B has a value of 30.
                The value of A increases to 160.
                What is the new value of B?
            </li>
        </ol>
    </li>
    <li class="question" data-answer = '0.005'>
        C and D are <em>directly proportional</em>.
        C has a value of 6 and D has a value of 0.01.
        If C is decreased to 3, what is the new value of D?
    </li>
    <li class="question" data-answer = '33'>
        E and F are <em>inversely proportional</em>.
        When E has a value of 5, F has a value of 11.
        When E is increased to 15, what is the new value of F?
    </li>
    <li class="question" data-answer = '12'>
        G and H are <em>inversely proportional</em>.
        When G has a value of one million, H has a value of 6.
        When G is decreased to 500,000, what is the new value of H?
    </li>
    <li class="question" data-answer = '0.0008'>
        I and J are <em>directly proportional</em>.
        When I has a value of 4000, J has a value of 0.0002.
        When I is increased to 16000, what is the new value of J?
    </li>
    <li class="question" data-answer = '\( 4 \cdot 10^{-10} \)'>
        K and L are <em>inversely proportional</em>.
        When K has a value of \( 8 \cdot 10^{-10} \),
        L has a value of 4 million.
        If the value of L is increased to 8 million,
        what is the new value of K?
    </li>
    <li class="question" data-answer = '\( 6 \cdot 10^{-5} \)'>
        M and N are <em>directly proportional</em>.
        When M has a value of \( 3 \cdot 10^4 \),
        N has a value of \( 6 \cdot 10^{-8} \).
        When M is increased to \( 3 \cdot 10^6 \),
        what is the new value of N?
    </li>
</ol>

<ol class="answerList"></ol>

<!--
add a few more very simple problems
then a couple more advanced problems
-->