<ul class='definition' data-word = 'Square Proportion'>
  If \(A\) is proportional to the square of \(B\)...<br><br>
  <li>
    then if \(B\) is multipled by a number,
    \(A\) is multiplied by <em>the square of</em> that number.
  </li>
  <li>
    and \(B\) is divided by a number,
    \(A\) is divided by <em>the square of</em> that number.
  </li>
  <li>
    and \(A\) and \(B\) can be represetned by the equation:
    \( \frac{A_2}{A_1} = \left( \frac{B_2}{B_1} \right)^2  \)
  </li>
</ul>


<ul class='definition' data-word = 'Square Root Proportion'>
    If \(A\) is proportional to the square root of \(B\)...<br><br>
  <li>
    then if \(B\) is multipled by a number,
    \(A\) is multiplied by <em>the square root of</em> that number.
  </li>
  <li>
    and \(B\) is divided by a number,
    \(A\) is divided by <em>the square root of</em> that number.
  </li>
  <li>
    and \(A\) and \(B\) can be represetned by the equation:
    \( \frac{A_2}{A_1} = \sqrt{ \frac{B_2}{B_1} }  \)
  </li>
</ul>


<ul class='definition' data-word = 'Inverse Square Proportion'>
    If \(A\) is proportional to the inverse square of \(B\)...<br><br>
  <li>
    then if \(B\) is multipled by a number,
    \(A\) is <strong>divided</strong> by <em>the square of</em> that number.
  </li>
  <li>
    and \(B\) is divided by a number,
    \(A\) is <strong>multipled</strong> by <em>the square of</em> that number.
  </li>
  <li>
    and \(A\) and \(B\) can be represetned by the equation:
    \( \frac{A_2}{A_1} = \left( \frac{B_1}{B_2} \right)^2  \)
  </li>
</ul>

<ul class='definition' data-word = 'Inverse Square Root Proportion'>
    If \(A\) is proportional to the inverse square root of \(B\)...<br><br>
  <li>
    then if \(B\) is multipled by a number,
    \(A\) is <strong>divided</strong> by <em>the square root of</em> that number.
  </li>
  <li>
    and \(B\) is divided by a number,
    \(A\) is <strong>multiplied</strong> by <em>the square root of</em> that number.
  </li>
  <li>
    and \(A\) and \(B\) can be represetned by the equation:
    \( \frac{A_2}{A_1} = \sqrt{ \frac{B_1}{B_2} }  \)
  </li>
</ul>
