<p>
    This is a test. Nothing to see here.
</p>

<div id = 'putItHere'></div>

<script>
    let rotatingRod = new RotatingRod(3,3,0);
    rotatingRod.addMass(-2,5);
    rotatingRod.addForce(2,10,225);
    $("#putItHere").append(rotatingRod.drawCanvas(600,300));
</script>
