
<p class = 'directions'>
    Write every formula before plugging any values into the formula.
    Write all values plugged into the formula before evaluating them
    with a calculator.
</p>

<h5>
    Mass of Uranus =  8.68 x 10<sup>25</sup> kilograms.
</h5>
<h5>
    The Moons of Uranus:
</h5>
<p>
    Note that mass is in units of 10^18 kilograms.
</p>
<div id = 'moonsOfJupiterTable'></div>
<p>Source: <a href = 'https://en.wikipedia.org/wiki/Moons_of_Uranus'>Wikipedia: Moons of Uranus</a>
(Yes, it's okay to look up factual information on Wikipedia.</p>
<p>
    Assume all moons move in circles, rather than ellipses.
    All of the moon's listed have extremely low eccentricities (meaning they are very nearly circles).
</p>
<ol>
    <li>
        Copy, from memory, Newton's Third Law.
        Please copy a mathematically rigorous version of the law,
        in which each of the words in the statement are precisely defined.
    </li>
    <li>
        <ol type = 'a'>
            <li>
                Determine the magnitude of the force of gravitation between Uranus and Rosalind.
            </li>
            <li>
                Draw a diagram depicting Uranus and Rosalind.
                In your diagram, represent two forces of gravity quantitatively as arrows.
            </li>
            <li>
                In a sentence, describe how your diagram is consistent with Newton's Third Law.
            </li>
        </ol>
    </li>
    <li>
        <ol type = 'a'>
            <li>
                Determine the magnitude of the force of gravitation between Uranus and Desdemona.
            </li>
            <li>
                Draw a diagram depicting Uranus and Desdemona.
                In your diagram, represent two forces of gravity quantitatively as arrows.
            </li>
            <li>
                In a sentence, describe how your diagram is consistent with Newton's Third Law.
            </li>
        </ol>
    </li>
    <li>
        BONUS: All of the moons of Uranus are named after characters created by what famous author?
    </li>
</ol>


<script>
    let moonsOfJupiterTable = new Table(8,3);
    moonsOfJupiterTable.addTopHeaders(['Moon','Mass (x 10^18 kg)','Radius of Rotation (km)']);
    moonsOfJupiterTable.setMaxFontProportion(0.05);

    moonsOfJupiterTable.writeTextInRow(1,['Ophelia','0.053','49770']);
    moonsOfJupiterTable.writeTextInRow(2,['Juliet','0.056','64350']);
    moonsOfJupiterTable.writeTextInRow(3,['Rosalind','0.25','69940']);
    moonsOfJupiterTable.writeTextInRow(4,['Bianca','0.092','59170']);
    moonsOfJupiterTable.writeTextInRow(5,['Desdemona','0.18','62680']);
    moonsOfJupiterTable.writeTextInRow(6,['Titania','3527','435910']);
    moonsOfJupiterTable.writeTextInRow(7,['Oberon','3014','583520']);

    $("#moonsOfJupiterTable").append(moonsOfJupiterTable.draw(600));
</script>