
<ol start = '1'>
    <li>
        State, from memory, the work-energy theorem
        as it applies to a single particle.
    </li>
</ol>


<p class="directions">
    Every time you use a formula,
    write that formula before using it, and
    show how you used it.
</p>

<p>
    A block has a mass of 5 kg
    and is moving with a speed of 3 m/s on a frictionless surface.
    Somebody pushes the box with a force of 15 N,
    while the box moves a distance of 2 meters.
</p>

<ol start = '2'>
    <li>
        Determine the final speed of the block
        using the rules of kinematics and dynamics,
        <strong>not</strong> the rules of energy!
    </li>
    <li>
        Once you determine this value, use it to <emph>confirm</emph>
        the work-energy theorem that you listed above
        for this specific case.
        Briefly explain your reasoning in 2 - 3 sentences.
    </li>
</ol>