<p class = 'directions'>
    Use the equations written below to to answer the questions asked.
    Please write the equation each time you use it <i>before</i> plugging values in.
    In each question, the object is moving with a constant acceleration.
</p>
<table>
    <tr>
        <td class = 'equation'>
            $$ v_f = v_i + a \cdot \Delta t $$
        </td>
        <td class = 'equation'>
            $$ \Delta x = \left( \frac{v_f + v_i}{2} \right) \Delta t $$
        </td>
    </tr>
    <tr>
        <td class = 'equation'>
            $$ \Delta x = v_i \cdot \Delta t + \frac{1}{2} a \left( \Delta t \right)^2 $$
        </td>
        <td class = 'equation'>
            $$ v_f^2 = v_i^2 + 2 a \cdot \Delta x $$
        </td>
    </tr>
</table>

<ol>
    <li class = 'physicsQuestion'>
        I have a final velocity of 50.0 m/s. <br>
        I had an initial velocity of 17.0 m/s. <br>
        I have an acceleration of 3.00 m/s<sup>2</sup>. <br>
        How much time did it take?
    </li>
    <li class = 'physicsQuestion'>
        I accelerate from 2.00 m/s to 20.0 m/s and travel a displacement of 120. m.
        What is my acceleration?
    </li>
    <li class="physicsQuestion">
        I begin at rest and travel a displacement of 200. m while accelerating at a rate of 1.50 m/s<sup>2</sup>.
        How much time does it take?
    </li>
</ol>
