<p class = 'directions'>
    Use the equations written below to to answer the questions asked.
    Please write the equation each time you use it <i>before</i> plugging values in.
    In each question, the object is moving with a constant acceleration.
</p>
<table>
    <tr>
        <td class = 'equation'>
            $$ v_f = v_i + a \cdot \Delta t $$
        </td>
        <td class = 'equation'>
            $$ \Delta x = \left( \frac{v_f + v_i}{2} \right) \Delta t $$
        </td>
    </tr>
    <tr>
        <td class = 'equation'>
            $$ \Delta x = v_i \cdot \Delta t + \frac{1}{2} a \left( \cdot \right)^2 $$
        </td>
        <td class = 'equation'>
            $$ v_f^2 = v_i^2 + 2 a \cdot \Delta x $$
        </td>
    </tr>
</table>


<ol>
    <li>
        I have an initial velocity of 4 m/s,
        a final velocity of 9 m/s,
        and a displacement of 5 meters.
        What is my displacement?
    </li>
    <li>
        I have an initial velocity of 0,
        an acceleration of 12 m/s/s,
        and a displacement of 240,000 m.
        How much time did it take?
    </li>
    <li>
        I have an initial velocity of 5 m/s,
        a time of 8 s,
        and a displacement of 80 m.
        What is my final velocity?
    </li>
</ol>