<p>
    This unit focuses on <emph>circular motion</emph>.
    There is another
    <a href = '/unitcluster/rotational_motion'>cluster of units</a> that focuses on
    <emph>rotational motion</emph>.
    Many of the same concepts apply to both circular motion and rotational motion,
    but it is still useful to differentiate between the two.
</p>

<ul class = 'principleList'>
    <li>
        In <strong>circular motion</strong>,
        an object moves in a circle around some point.
    </li>
    <li>
        In <strong>rotational motion</strong>,
        an object spins around some axis.
    </li>
</ul>

<p>
    However, despite the importance of distinction,
    many of the concepts of circular motion and rotational motion overlap,
    and a small number of concepts can be well analyzed with both methods.
</p>

<p class = 'directions'>
    For each example or photo given, state
    whether it is an example of circular motion
    or rotational motion.
    One item on the list can be considered either circular
    or rotational motion.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'rotational motion'>
        A basketball spinning on someone's fingertip. <br>
        <img src = '/podAssets/mechanics/circular_motion/spinning_basketball.jpg' height = '120px' width = 'auto'/>
        <p class = 'imageCredit'>
            https://sportsintherough.com/how-to-spin-basketball-on-finger/
        </p>
    </li>
    <li class ='question' data-answer = 'rotational motion'>
        A turning tire. <br>
        <img src = '/podAssets/mechanics/circular_motion/spinning_tire.jpg' height = '120px' width = 'auto'/>
        <p class = 'imageCredit'>
            https://pullmancriminalattorney.com/2015/06/07/street-racing-charges-washington-state/
        </p>
    </li>
    <li class = 'question' data-answer = 'rotational motion'>
        A spinning top: <br>
        <img src = '/podAssets/mechanics/circular_motion/spinning_top.jpg' height = '120px' width = 'auto'/>
        <p class = 'imageCredit'>
            https://www.latiendadelyoyo.com/en/spin-tops/872-spinning-tops-imperials.html
        </p>
    </li>
    <li class = 'question' data-answer = 'rotational motion'>
        A figure skater spinning around. <br>
        <img src = '/podAssets/mechanics/circular_motion/figure_skater.jpg' height = '120px' width = 'auto'/>
        <p class="imageCredit">
            https://www.wired.com/story/how-ice-skaters-turn-physics-into-astonishing-spins/
        </p>
    </li>
    <li class = 'question' data-answer = 'circular motion'>
        A car going around a curve. <br>
        <img src = '/podAssets/mechanics/circular_motion/nascar.jpg' height = '120px' width = 'auto'/>
        <p class = 'imageCredit'>
            https://www.carthrottle.com/post/own-a-street-legal-nascar-race-car-for-21000/
        </p>
    </li>
    <li class = 'question' data-answer = 'either'>
        A little kid on a merry-go-round. <br>
        <img src = '/podAssets/mechanics/circular_motion/merry_go_round.png' height = '120px' width = 'auto'/>
        <p class="imageCredit">
            https://adventureplaysystems.com/product/independent-play/merry-go-round-10-ft/
        </p>
    </li>
    <li class = 'question' data-answer = 'circular motion'>
        Someone swinging on a rope (like a pendulum). <br>
        <img src = '/podAssets/mechanics/circular_motion/luke_leia.jpg' height = '120px' width = 'auto'/>
        <p class="imageCredit">
            https://www.artstation.com/artwork/e0WYD3
        </p>
    </li>
    <li class = 'question' data-answer = 'circular motion'>
        The earth's revolution around the sun,
        which creates the seasons.
    </li>
    <li class = 'question' data-answer = 'rotational motion'>
        The earth spinning around,
        which creates day and night.
    </li>
</ol>


<ol class = 'answerList'></ol>
