<h5>Newton's First Law</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force = 0 and object is not moving
        </td>
        <td>
            Object remains still
        </td>
    </tr>
    <tr>
        <td>
            Net Force = 0 and the object is moving
        </td>
        <td>
            Object moves with a constant velocity
        </td>
    </tr>
</table>
<br>
<h5>Newton's Second Law</h5>
<table>
    <tr>
        <th>
            Net Force
        </th>
        <th>
            Motion of Object
        </th>
    </tr>
    <tr>
        <td>
            Net Force is in the same direction as velocity
        </td>
        <td>
            Object increases in speed.
        </td>
    </tr>
    <tr>
        <td>
            Net force is in the opposite direction as velocity
        </td>
        <td>
            Object decreases in speed.
        </td>
    </tr>
</table>

<p class = 'directions'>
    Questions 1 - 3 deal with a box sliding to the right on a frictionless surface.
    There is absolutely no friction or air resistance acting on the block.
    The block is already moving when the problem begins.
    For full credit on each question, you must refer to either Newton's First Law
    or Newton's Second Law <strong>explicitly</strong>.
</p>

<ol>
    <li class = 'mediumQuestion'>
        You want the box to continue moving at a constant speed.
        <ol type = 'a'>
            <li>
                Do you need to exert a force on the box?
            </li>
            <li>
                If so, what direction must the force be?
            </li>
        </ol>
    </li>
    <li class = 'mediumQuestion'>
        You want the box to move faster.
        <ol type = 'a'>
            <li>
                Do you need to exert a force on the box?
            </li>
            <li>
                If so, what direction must the force be?
            </li>
        </ol>
    </li>
    <p>Don't forget the back!</p>
    <div class = 'pageBreak'></div>
    <li class = 'mediumQuestion'>
        You want the box to continue moving to the right but slow down.
        <ol type = 'a'>
            <li>
                Do you need to exert a force on the box?
            </li>
            <li>
                If so, what direction must the force be?
            </li>
            <li>
                Draw a free-body diagram of the box.
                Indicate 2 or 3 forces on this free-body diagram: gravity, a normal force,
                and an applied force if you feel there should be one.
                Also indicate the velocity of the object (to the right)
                separately from the free body diagarm.
            </li>
        </ol>
    </li>
</ol>

<ol start = '4'>
    <li class = 'bigQuestion'>
        A person lifts a box with a weight of 200 Newtons.
        The person is lifting the box upward, but it is <emph>slowing down</emph> as it rises.
        The only forces to consider on the box are the contact force caused by the person's arms
        and the weight of the box.
        Draw an appropriate free-body diagram of the box. You may pick any appropriate magnitude of the contact force.
        By referring <strong>explicitly</strong> to Newton's First and/or Second Law,
        explain why you picked the free-body diagram you did.
    </li>
</ol>
