<p class = 'directions'>
  For each of the diagrams below,
  select the part of the wave indicated.
</p>

<h5 class = 'text-danger'>
  Answer all multiple choice questions by writing the LETTER for the correct answer!
</h5>

<ol>
    <div class = 'container'>
        <li>
            <div class = 'row mb-5'>
                <div class = 'col-6' id = 'waveImage1'><br></div>
                <div class = 'col-6 waveImageOptions'></div>
            </div>
        </li>
        <li>
            <div class = 'row mb-5'>
                <div class = 'col-6' id = 'waveImage2'><br></div>
                <div class = 'col-6 waveImageOptions'></div>
            </div>
        </li>
        <li class = 'question'>
            <div class = 'row mb-5'>
                <div class = 'col-6' id = 'waveImage3'><br></div>
                <div class = 'col-6 waveImageOptions'></div>
            </div>
        </li>
        <li class = 'question'>
            <div class = 'row mb-5'>
                <div class = 'col-6' id = 'waveImage4'><br></div>
                <div class = 'col-6 waveImageOptions'></div>
            </div>
        </li>
        <li class = 'question'>
            <div class = 'row mb-5'>
                <div class = 'col-6' id = 'waveImage5'><br></div>
                <div class = 'col-6 waveImageOptions'></div>
            </div>
        </li>
        <li class = 'question'>
            <div class = 'row mb-5'>
                <div class = 'col-6' id = 'waveImage6'><br></div>
                <div class = 'col-6 waveImageOptions'></div>
            </div>
        </li>
</ol>

<script>
  let waveImageOptions = $("<ol type = 'A'></ol>");
  $(waveImageOptions).append($("<li>crest</li>"));
  $(waveImageOptions).append($("<li>trough</li>"));
  $(waveImageOptions).append($("<li>wavelength</li>"));
  $(waveImageOptions).append($("<li>amplitude</li>"));
  $(waveImageOptions).append($("<li>twice the amplitude</li>"));
  $(".waveImageOptions").append(waveImageOptions);

  let waveImage1 = new Wave();
  waveImage1.pointAmplitudeOnTrough(3);

  let waveImage2 = new Wave();
  waveImage2.labelSingleWavelengthBottom(2);

  let waveImage3 = new Wave();
  waveImage3.labelSingleWavelengthTop(1);

  let waveImage4 = new Wave();
  waveImage4.pointFullHeightOfWave('crest',2);

  let waveImage5 = new Wave();
  waveImage5.pointToOneTrough(3);

  let waveImage6 = new Wave();
  waveImage6.pointToOneCrest(0);

  $("#waveImage1").append(waveImage1.drawCanvas(300));
  $("#waveImage2").append(waveImage2.drawCanvas(300));
  $("#waveImage3").append(waveImage3.drawCanvas(300));
  $("#waveImage4").append(waveImage4.drawCanvas(300));
  $("#waveImage5").append(waveImage5.drawCanvas(300));
  $("#waveImage6").append(waveImage6.drawCanvas(300));

</script>
