
<p>
    When first learning physics, many students develop the idea
    that the normal force always has an equal magnitude to gravity.
    While this is commonly the case, it is certainly not a rule.
</p>

<p>
    Invent two situations in which both normal force and gravity act on
    some person or object but they do <strong>NOT</strong> have the same magnitude.
    For each situation, in 2-3 sentences, explain why the magnitude of
    normal force is not equal to the magnitude of gravity.
</p>

<p>
    You may pick any situations you like, as long as your examples follow the laws of physics.
    However, your two situations must be qualitatively different,
    they cannot be slight variations on the same theme.
</p>

<p>
    For full credit, your explanations must refer to the definition of a constraint force.
</p>