<p>
    This pod focuses primarily on math, not physics.
    The cross product is crucial to understanding
    rotational dynamics because the <emph>torque</emph>
    is a cross product of two vectors.
</p>
<p>
    There are two ways to multiply two vectors,
    cross product and dot product.
    The dot product multiplies two vectors and returns
    a scalar;
    the cross product multiplies two vectors
    and returns another vector.
    This pod focuses on cross products.
</p>


<h4>
    Principles of Cross Products:
</h4>
<ul>
    <li>
        The cross product of two vectors
        \( \overrightarrow{A} \) and \( \overrightarrow{B} \)
        is written as
        \( \overrightarrow{A} \times \overrightarrow{B} \).
    </li>
    <li>
        The magnitude cross product of two vectors
        \( \left| \overrightarrow{A} \times \overrightarrow{B} \right| \)
        is defined as the magnitude of \( \overrightarrow{A} \)
        times the component of \( \overrightarrow{B} \)
        which is <strong>perpendicular</strong> to \( \overrightarrow{A} \).
    </li>
    <li>
        The magnitude of the the cross product
        \( \left| \overrightarrow{A} \times \overrightarrow{B} \right| \)
        is equal to \( \left| \overrightarrow{A} \right| \left| \overrightarrow{B} \right| \sin \theta \),
        in which \( \theta \) is the interior angle between
        \( \overrightarrow{A} \) and \( \overrightarrow{B} \).
    </li>
    <li>
        The direction of the cross product of two vectors
        \( \overrightarrow{A} \times \overrightarrow{B} \)
        is defined by the <strong>right hand rule</strong>.
        Place the fingers of your right hand in line with
        vector \( \overrightarrow{A} \),
        and curl them towards vector \( \overrightarrow{B} \).
        Your thumb faces in the direction of the cross product
        \( \overrightarrow{A} \times \overrightarrow{B} \).
    </li>
    <li>
        The direction of the cross product is always
        perpendicular to the plane in which
        \( \overrightarrow{A} \) and \( \overrightarrow{B} \)
        are located.
        For example,
        if
        \( \overrightarrow{A} \) and \( \overrightarrow{B} \)
        are written on a piece of paper,
        then
        \( \overrightarrow{A} \times \overrightarrow{B} \)
        is either into the piece of paper or out of the piece of paper.
    </li>
    <li>
        A vector that is pointing into a piece of paper
        is denoted by \( \otimes \).
        This symbol is looks like arrow fired from a bow flying away from you.
    </li>
    <li>
        A vector that is pointing out of a piece of paper
        is denoted by \( \odot \).
        This symbol is looks like arrow fired from a bow flying towards you.
    </li>
    <li>
        If two vectors
        \( \overrightarrow{A} \) and \( \overrightarrow{B} \)
        are perpendicular,
        the magnitude of the cross product is equal to their magnitudes multiplied:
        \(
        \left| \overrightarrow{A} \times \overrightarrow{B} \right| =
        \left| \overrightarrow{A} \right| \left| \overrightarrow{B} \right|
        \).
    </li>
    <li>
        If two vectors
        \( \overrightarrow{A} \) and \( \overrightarrow{B} \)
        are parallel,
        their cross product is zero:
        \(
        \left| \overrightarrow{A} \times \overrightarrow{B} \right| = 0
        \)
    </li>
</ul>



<h4>
    Problems:
</h4>

<a href = '/contentFiles/cross_product_problems.pdf'>Cross Product Problems here:</a>

<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>