<p>
    Consider two people that are traveling from point A to point B.
    There is a straight line between point A and point B,
    and some straight line distance \( d \) between them.
</p>

<p>
    Person #1 travels at a constant velocity form point A to point B.
    Imagine that he accelerates very quickly to a constant velocity \( v \),
    travels at a constant velocity for almost his entire journey,
    and then decelerates quickly in order to stop at point B.
</p>

<p>
    Person #2 takes a more non-traditional method.
    He accelerates for the entire first half of this trip at an acceleration \( a \),
    reaches top speed precisely at the midpoint between points A and B
    and then decelerates for the second half at an acceleration \( -a \),
    so he eventually reaches point B at rest.
</p>

<p>
    Your task on the quiz will be to compare the two motions.
    To prepare for the quiz,
    create different models of person #1 and person #2. Here are some things you should do:
</p>
<ul>
    <li>
        Create position-time, velocity-time, acceleration-time, and motion maps of both travelers.
    </li>
    <li>
        Derive how long it takes each person to reach their destination in terms of known quantities.
    </li>
    <li>
        Consider the advantages of person #2, particular if the distance \( d \) is a very large number.
    </li>
</ul>


<p>
    How do you think this problem applies to flying to Mars?
    The book <i>The Martian</i> by Andy Weir gives some guidance.
    (The movie with Matt Damon was based on this book).
</p>