<div id = kinematicEquationsTable></div>

<script>
    $("#kinematicEquationsTable").append(makeKinematicEquationsTable().draw(300));
</script>

<div class="no-print">
    <iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/56410317/?s=wzsEpO&amp;ref=embed" allowfullscreen></iframe>
</div>

<p>
    Like previous sections, this section is based on answering questions using the
    four kinematic equations.
    However, in previous sections, information was very clearly and directly stated.
    In this section, problems are presented as real world questions.
    The most difficult part of these is not the algebra, but in figuring out the information
    you are looking for and in the information your know.
</p>

<p>
    Note that any object that is falling has an acceleration of 9.81 m/s<sup>2</sup>.
</p>

<p>
    Please answer all questions to two significant figures of accuracy.
</p>


<p>
    For full credit on this assignment, you must:
</p>
<ul>
    <li>
        Copy each equation in the original form before plugging any numbers into it.
    </li>
    <li>
        Write unit with each answer.
    </li>
</ul>

<h4>
    Questions:
</h4>

<ol class = 'questionList'>
    <li data-answer = '29 m/s' class = 'question'>
        If I drop something from rest off the roof, how fast is it traveling after 3.0 seconds. (ignoring air resistance)?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <div class="pageBreak"></div>
    <li data-answer = '24 m' class = 'question'>
        A running squirrel accelerates from 3.0 m/s to 5.0 m/s in 6.0 seconds. How far does she travel while accelerating?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li data-answer = '53 m' class = 'question'>
        If a car accelerates from zero to 30 m/s in a time of only 3.5 seconds, how far does it travel in that time?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li data-answer = '51 m' class = 'question'>
        If a car accelerates from zero to 35 m/s with an acceleration of 12 m/s2, how far does it travel in that time?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <div class="pageBreak"></div>
    <li data-answer = '3.5 s' class = 'question'>
        How long does it take something that has been dropped from rest off of a 60.0 m roof to strike the ground?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li data-answer = '28 m' class = 'question'>
        Something falls from rest off a roof and strikes the ground after 2.4 seconds. How tall was the roof?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
</ol>


<ol class = 'answerList'></ol>