<h3>
  <a href = '/podAssets/kinematics/forward_kinematics_quantitative/quantitative_kinematic_graphs_5.pdf'>Available as PDF</a>
</h3>


<h4>
    Number 1
</h4>

<p>
    A car undergoes the following motion:
</p>
<ul>
    <li>
        Initial Position = 0
    </li>
    <li>
        The car is stopped at a red light. The light turns green at time t = 0.
    </li>
    <li>
        For the first 5 seconds, it accelerates at a rate of 4 m/s2.
    </li>
    <li>
        For the next 15 seconds, it travels at a constant velocity.
    </li>
    <li>
        The car sees a red light ahead.
        It begins to slow down at a rate of -4 m/s2.
        It slows until it is at rest.
    </li>
</ul>

<p>
    On a separate sheet of paper, create three kinematic graphs that illustrate the motion of this car:
    a position-time graph, a velocity-time graph, and an acceleration time graph.
    Each of your graphs must be quantitatively correct for full credit.
    You need to determine an appropriate scale for the graphs yourself.
    You also must write any equations or principles you use in solving the problem explicitly.
</p>

<h4>
    Number 2
</h4>


<div class="pageBreak"></div>

<h2>Answers</h2>

<h3>
    Number 1 Answer
</h3>


<h3>
    Number 2 Answer
</h3>