
<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>

<h5>
    Video 1: Converting a Position-Time Graph to a Velocity-Time Graph
</h5>
<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/57240724/?s=r16d8m&amp;ref=embed" allowfullscreen></iframe>

<h5>
    Video 2: Converting a Velocity-Time Graph to a Position-Time Graph
</h5>
<iframe width="480" height="300" frameborder="0" src="https://www.educreations.com/lesson/embed/57368446/?s=tbgu88&amp;ref=embed" allowfullscreen></iframe>

<h3>
  <a href = '/podAssets/kinematics/forward_kinematics_quantitative/quantitative_kinematic_graphs_2.pdf'>Study material available as PDF</a>
</h3>

<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>
