<p>
    The Fundamental Theorem of Calculus relates the functions for position, velocity, and acceleration in terms of time.
</p>

<ol>
    <li class = 'physicsQuestion'>
        State, in mathematically precise language, the relationship between
        a position-time graphs and a velocity-time graph for the same object.
        Describe the relationship <strong>geometrically</strong> without using the words <i>derivative</i> or <i>integral</i>
        even if you know them.
    </li>
    <li class = 'physicsQuestion'>
        State, in mathematically precise language, the relationship between
        a velocity-time and the acceleration-time graph for the same object.
        Describe the relationship <strong>geometrically</strong> without using the words <i>derivative</i> or <i>integral</i>
        even if you know them.
    </li>
    <li class = 'physicsQuestion'>
        <p>
            Invent your own situation in which an object is moving with constant acceleration.
            Using this situation demonstrate the proper relationship between these graphs
            in the special case that \( a \) is constant.
            Use only the relationships above, and describe in words how you are applying them.
        </p>
        <p>
            Do not use the kinematic equations.
            If you passed quiz P, you demonstrated that the kinematic equations follow mathematically from the above
            relationships in the special case that \( a \) is constant.
            The goal here is to go back to the source.
        </p>
    </li>
    <li class = 'physicsQuestion'>
        For an object moving with a constant velocity,
        describe conceptually and geometrically how the relationship described in question 1
        relates to the equation \( d = vt \).
        [In fact, <i>all</i> of kinematics derives from an equation you probably first learned in elementary school!]
    </li>
    <li class = 'physicsQuestion'>
        Quiz A was \( d = vt \), so you have now come full circle!
        Congratulations on reaching the top of this unit!
        Now you can go to Mars.
    </li>
</ol>
