<p class="equation">
    v = \lambda f
</p>
<p class="equation">
    d = v t
</p>
<p class="equation">
    \text{frequency} = \frac{\text{number of waves}}{\text{time}}
</p>

<p class="directions">
    For full credit, you must write an equation every time that you use it,
    and include a unit in all of your answers.
</p>

<ol>
    <li>
        A wave is moving with a speed of 16 m/s
        and a wavelength of 0.40 meters.
        What is its frequency?
    </li>
    <li>
        A wave is moving at a wavelength of 0.300 meters
        and a frequency of 12.0 Hertz.
        <ol type = 'a'>
            <li>
                What is the speed of the wave?
            </li>
            <li>
                How much time would it take the wave
                to travel 200. meters?
            </li>
        </ol>
    </li>
    <li>
        A wave has a speed of 20.0 m/s.
        In a time of 2.50 seconds,
        exactly 8 waves pass through.
        <ol type = 'a'>
            <li>
                What is the frequency of the wave?
            </li>
            <li>
                What is the wavelength of the wave?
            </li>
        </ol>
    </li>
</ol>
