<p>
    A spaceship undergoes the following motion.
    It is consistently traveling forward and does not change direction.
</p>
<ul>
    <li>
        The spaceship is moving through space at a constant speed of 40 m/s for a time of 30 seconds.
    </li>
    <li>
        The spaceship begins accelerating at a rate of 3 m/s<sup>2</sup> until it reaches a speed of 70 m/s.
    </li>
    <li>
        The spaceship continues moving at a constant speed for a time of 30 seconds.
    </li>
    <li>
        The spaceship slows down for 25 seconds until it reaches a speed of 20 m/s.
    </li>
</ul>

<p>
    On a separate sheet of paper,
    please create a position-time graph, a velocity-time graph, and an acceleration-time graph for the spaceship.
    Each graph must be <i>quantitatively</i> correct for full credit.
    You  must label each graph appropriately and determine an appropriate scale for each graph.
</p>
