<ol>
    <li>
        You're friend Groot lives at 45 Thor Volcano road on Jupiter's moon of Io.
        Address a letter to Groot that contains at least 5 steps of a "cosmic-address."
        It must include the steps that your 'mailman' would need to deliver the letter from earth!
    </li>
    <li>
        You're other friend Ross lives at
        56 Wald Strasse on a planet called Kepler-11c, which orbits a star named Kepler-11.
    </li>
</ol>