<p>
    The goal of this quiz is to demonstrate the derivation of the kinematic equations.
    Please answer all questions on a separate sheet of paper.
</p>

<ol>
    <li class = 'physicsQuestion'>
        Write the definition of acceleration <em>in words</em>, not as an equation!
        Give a brief example to illustrate how this definition can be applied.
        Translate this definition to an equation.
        Then, derive the <em>first kinematic equation</em>.
        (Which is titled the <em>definition of acceleration</em>.)
    </li>
    <li class = 'physicsQuestion'>
        Draw a velocity-time graph for an object which begins with some initial velocity \( v_i \)
        and accelerates at a constant rate \( a \) for a period of time \( \Delta t \).
        On your graph, indicate the geometric interpretation of the variables \( v_i \), \( a \), and \( \Delta t \).
        Derive an equation for displacement \( \Delta x \) by determining the area underneath the line of your graph
        in terms of these three variables.
        (Which I call the <i>King of the Kinematic Equations</i>.
        Nobody else calls it this, but they should because it is the best kinematic equation.)
    </li>
    <li class = 'physicsQuestion'>
        Draw a velocity-time graph for an object which begins with some initial velocity \( v_i \)
        and accelerates at a constant rate to a final velocity \( v_f \) over a period of time \( \Delta t \).
        On your graph, indicate the geometric interpretations of the variables \( v_i \), \( v_f \), and \( \Delta t \).
        Note that this graph is identical to the previous one, but different variables are highlighted.
        Derive an equation for displacement \( \Delta x \) by determining the area underneath the line of your graph
        in terms of these three variables.
        (This is called the <i>average-velocity formula</i>.)
    </li>
    <li class = 'physicsQuestion'>
        By using the three equations you have already derived, algebraically derive a new equation that does not
        include the variable \( \Delta t \). Put this equation into its canonical form (the way it is typically written).
        (This is called the <i>no-time equation</i>, and I don't think I'm the only one who calls it that.
        But if you are with other people, it might be good to call it
        "the kinematic equation that doesn't include time," just to be safe.)
    </li>
    <li class = 'physicsQuestion'>
        Prove that each of the kinematic equations is dimensionally correct by showing that all the terms of each
        equation has the same SI units.
    </li>
    <li class = 'physicsQuestion'>
        In the specific case that velocity is constant, the only relevant equation is
        $$
        v = \frac{\Delta x}{\Delta t}.
        $$
        Show that in this specific case, in which acceleration is zero and final and initial velocity are identical,
        all of the kinematic equations can be simplified to either the equation above or a redundant equation.
        (Examples of a redundant equation are \( 0 = 0 \) or \( \Delta t = \Delta t \).
    </li>
</ol>
