<p class="introduction">
    In this pod, we will learn the definitions of four quantities
    that determine how each electric circuit works: voltage, current, resistance, and power.
</p>

<img src = '/podAssets/electric_circuits/voltage_and_current_concepts/circuit.png' />
<p class = 'imageCredit'>
    https://learning-center.homesciencetools.com/article/circuit-science-projects-for-elementary/
</p>


<p class = 'definition' data-word = 'Voltage'>
    How hard an electron is <emph>pushed</emph>
    around a circuit by the battery.
</p>

<p class = 'definition' data-word = 'Resistance'>
    What is slowing down electrons form moving around the circuit.
    The resistance in the circuit above is provided by the light bulb.
    All circuits must have resistance to be safe.
    A circuit with very low resistance is called <strong>short circuit</strong>,
    and is unsafe.
</p>


<p class = 'definition' data-word = 'Current'>
    How fast charge moves around the circuit.
</p>


<p class = 'definition' data-word = 'Power'>
    How fast the circuit converts energy from the battery to the output (the light bulb).
    Determines how bright the light bulb is.
</p>

<h4>
    Fill in the Blank
</h4>
<h5>
    Word Bank:
</h5>
<ul>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-md-3 col-6'>
                <li>
                    voltage
                </li>
            </div>
            <div class = 'col-md-3 col-6'>
                <li>
                    current
                </li>
            </div>
            <div class = 'col-md-3 col-6'>
                <li>
                    resistance
                </li>
            </div>
            <div class = 'col-md-3 col-6'>
                <li>
                    power
                </li>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col-md-3 col-6'>
                <li>
                    battery
                </li>
            </div>
            <div class = 'col-md-3 col-6'>
                <li>
                    light bulb
                </li>
            </div>
            <div class = 'col-md-3 col-6'>
                <li>
                    charge
                </li>
            </div>
            <div class = 'col-md-3 col-6'>
                <li>
                    brighter
                </li>
            </div>
        </div>
    </div>
</ul>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'light bulb'>
        The resistance of a circuit is provided by the ____________________.
    </li>
    <li class = 'question' data-answer = 'charge'>
        The current tells you how fast the ____________________ is moving.
    </li>
    <li class = 'question' data-answer = 'brighter'>
        If you have more power, the light bulb is ____________________.
    </li>
    <li class = 'question' data-answer = 'power'>
        How fast the circuit converts energy from the potential energy battery to light
        is called the ____________________.
    </li>
    <li class = 'question' data-answer = 'voltage'>
        How hard the electrons are being pushed is called the ____________________.
    </li>
    <li class = 'question' data-answer = 'current'>
        To tell how fast charge is moving around the circuit, you need to know the
        ____________________.
    </li>
    <li class = 'question' data-answer = 'battery'>
        The voltage of a circuit is determined by the strength of the ____________________.
    </li>
    <li class = 'question' data-answer = 'resistance'>
        What is blocking or slowing down electrons is called the ____________________.
    </li>
</ol>

<h4>
    True or False
</h4>

<ol class = 'questionList'>
    <li class="question" data-answer = "false">
        The resistance tells how fast the circuit converts energy.
    </li>
    <li class = "question" data-answer = "false">
        The current shows how fast neutrons are moving.
    </li>
    <li class = "question" data-answer = "true">
        The light bulb provides resistance to the circuit.
    </li>
    <li class = "question" data-answer = "false">
        The light bulb provides voltage to the circuit.
    </li>
    <li class = "question" data-answer = "true">
        The current shows how fast charges are moving.
    </li>
    <li class = "question" data-answer = "false">
        More current means the bulb will be less bright.
    </li>
    <li class = "question" data-answer = "true">
        The power tells how fast the circuit converts energy.
    </li>
    <li class = "question" data-answer = "true">
        The battery provides voltage to the circuit.
    </li>
    <li class="question" data-answer = "true">
        More power means the bulb will be more bright.
    </li>
</ol>


<ol class="answerList"></ol>