<p class = 'directions'>
  For each of the situations below,
  identify a depedent variable, an independent variable,
  and one or more controlled variables.
</p>

<ol>
  <li>
    Someone wants to tell how much coffee they can
    take before it affects their sleep patterns.
    Each week, they drink a different amount of the same type of coffee
    in the morning, then each night they use a smart watch to
    track the quality of their sleep.
    <ol type = 'a'>
      <li>
        What is the independent variable?
      </li>
      <li>
        What is the dependent variable variable?
      </li>
      <li>
        What is <strong>one</strong> controlled variable?
      </li>
    </ol>
    <h5>Choices:</h5>
    <ul>
      <li>
        The number of cups of coffe drank
      </li>
      <li>
        What mug was used
      </li>
      <li>
        What type of coffee was drank
      </li>
      <li>
        Quality of sleep, as measured by a smartwatch
      </li>
    </ul>
  </li>
  <li>
    A physics student wants to determine how the incline of a ramp
    affects the acceleration of a car going down the ramp.
    She puts the car at the top of the ramp,
    lets it roll down, and calculates its acceleration with a formula.
    Between each measurement, she changes the angle of incline
    of the ramp, but always uses the same car and the same ramp.
  </li>
  <ol type = 'a'>
    <li>
      What is the independent variable?
    </li>
    <li>
      What is the dependent variable variable?
    </li>
    <li>
      Give <strong>two</strong> controlled variables.
    </li>
  </ol>
  <h5>Choices</h5>
  <ul>
    <li>
      The mass of the car
    </li>
    <li>
      The angle of incline of the ramp
    </li>
    <li>
      The acceleration of the car
    </li>
    <li>
      The length of the ramp
    </li>
  </ul>
</ol>
