
<p class="directions">
    Solve each of the algebraic problems below for the indicated variable
    in terms of the other variables.
    For full credit, you must explicitly write at least two operations that you conducted.
    Also, if more than one solution is possible, you must write both.
</p>

<ol>
    <li class="mt-4 mb-4">
        Solve for \( g \). Note that there are two solutions.
        <br>
        \( X = 0.25 q r g^2 \)
    </li>
    <li class="mb-4">
        Solve for \( X \):
        <br>
        \( \frac{Z} = \frac{1}{X} \)
    </li>
    <li class="mb-4">
        Solve for \( q \):
        <br>
        \( 2x = y * z + \frac{q}{w} \)
    </li>
</ol>