<p>
    In the previous pod, we learned how to convert from a metric system unit
    to a correct unit.
    In this pod, we will do the reverse, convert from a scientific notation value
    into other metric unit.
</p>


<h4>
    Part 1: The order of magnitude is already a multiple of 3.
</h4>

<p class = 'directions'>
    Replace the exponent part of each problem
    with the necessary metric prefix.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '3.69 Terameters'>
        \( 3.69 \times 10^{12} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = '8.12 Megameters'>
        \( 8.12 \times 10^6 \text{ meters}  \)
    </li>
    <li class = 'question' data-answer = '1.47 Petahertz'>
        \( 1.47 \times 10^{15} \text{ Hertz} \)
    </li>
    <li class = 'question' data-answer = '3.14 micrometers'>
        \( 3.14 \times 10^{-6} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = '5.67 femtometers'>
        \( 5.67 \times 10^{-15} \text{ Watts} \)
    </li>
    <li class = 'question' data-answer = '3.87 picometers'>
        \( 3.87 \times 10^{-12} \text{ meters} \)
    </li>
</ol>

<h4>
    Part 2: The order of magnitude is not always a multiple of 3
</h4>

<h4>
    Steps
</h4>

<ol>
    <li>
        Move the decimal point to right RIGHT
        and DECREASE* the exponent until the exponent
        is a multiple of 3.
    </li>
    <li>
        Replace the exponent with the necessary metric prefix.
    </li>
</ol>
<p>
  Make sure that in the end, your significant figures are not
  less than one.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = '456 Gigawatts'>
      \( 4.56 \times 10^{11} \text{ Watts} \)
  </li>
  <li class = 'question' data-answer = '38.7 Megajoules'>
      \( 3.87 \times 10^7 \text{ Joules} \)
  </li>
  <li class = 'question' data-answer = '81.5 Gigajoules'>
      \( 8.15 \times 10^{10} \text{ Hertz} \)
  </li>
  <li class = 'question' data-answer = '35.6 micrometers'>
      \( 3.59 \times 10^{-5} \text{ meters} \)
  </li>
  <li class = 'question' data-answer = '645 picometers'>
      \( 6.45 \times 10^{-10} \text{ meters} \)
  </li>
  <li class = 'question' data-answer = '338 nanometers'>
      \( 3.38 \times 10^{-7} \text{ meters} \)
  </li>
</ol>


<h4>
    Part 3: Smaller orders of magnitude
</h4>
<p>
  In all honesty, none of the metric prefixes
  for powers smaller than +3 or -3 are used frequently,
  with the exception of centimeters.
  These prefixes are deca, hecto, deci, and centi.
  However, they do sometimes appear, and you are
  certianly free to use them yourself!
</p>

<p>
  The method of converting these is similar to
  the methods in the
  <a href = '/pod/263ad0'>very fast conversions</a>.
</p>
<!---
MORE DIRECTIONS HERE
-->

<p class = 'directions'>
    Convert each of the following to a metric unit.
</p>

<!--
Do i need a specific set of steps here??
-->

<ol class="questionList">
  <li class = 'question' data-answer = '68 centimeters'>
    Convert 0.68 meters to centimeters.
  </li>
  <li class = 'question' data-answer = '0.12 hecotmeters'>
    Convert 12 meters to hectometers.
  </li>
  <li class = 'question' data-answer = '14.5 centigrams'>
    Convert 0.145 grams to centigrams.
  </li>
  <li class = 'question' data-answer = '8.83 decanewtons'>
    Convert 88.3 Newtons to decanewtons.
  </li>
  <li class = 'question' data-answer = '8.91 decimeters'>
    Convert 0.891 metets to decimeters.
  </li>
  <li class = 'question' data-answer = '8.88 hecowatts'>
    Convert 888 Watts to hectowatts.
  </li>
</ol>

<h3>
    Answers:
</h3>


<ol class = 'answerList'></ol>
