<p>
    In physics, many of our numbers are either extremely large
    or extremely small. We need to consider ranges
    from the mass of the sun down to the width of an atom.
    In order to handle such large and small numbers,
    we use a mathematical notation called <strong>scientific notatation</strong>.
</p>
