
<p>
    A giant robot is spinning extremely fast.
    As it spins, its arms: which are gigantic, heavy, robot arms,
    hang by its side.
    At some point while spinning, the robot lifts its arms and holds them outwards,
    causing its motion to change in some way.
    Answer the questions below regarding the robot motion.
</p>

<img src = '/images/robot_1.png' width = '300px' height = 'auto' />
<br>
<div class="mediumSpace"></div>
<br>
<img src = '/images/robot_2.png' width = '300px' height = 'auto' />

<ol>
    <li>
        Write the equation for rotational inertia of a point mass.
        Identify each quantity in this equation.
    </li>
    <li>
        Write the equation for angular momentum?
        Identify each quantity in this equation.
    </li>
    <li>
        Under what conditions is angular motion conserved?
    </li>
    <li>
        What result will you observe when the robot brings its arms outwards?
    </li>
    <li>
        Assuming that angular momentum is conserved in this situation,
        relate the physical observation in #4 to the formulas that you wrote in #1 and #2.
    </li>
    <li>
        A different robot repeats this motion.
        However, the new robot, instead of having heavy arms, has extremely light
        and flimsy arms but a heavy body.
        Will this robot achieve the same effect as the first?
        Explain by relating the situation to relevant equations.
    </li>
</ol>