<p class="directions">
    Before using any formula,
    write that formula.
    You must carefully identify each formula you use for full credit.
    If you quantitatively evaluate a formula,
    you must show numbers that you plug in before completing any operations.
    You ust carefully show all numerical values you use for full credit.
</p>

<img src = '/images/ramp_problems_2_quiz.jpeg' height = '200px' width = 'auto'/>

<p>
    A 0.6 kilogram block is on a ramp with an
    angle of incline of 23 degrees.
    The block is moving
    The coefficient of kinetic friction between the block and the ramp
    is 0.16.
</p>

<ol>
    <li>
        Draw a qualitative free-body diagram on the block.
        Label each force. Do not break each force into components.
    </li>
    <li>
        Please break each of the forces acting on the block
        into components and quantitatively determine the component
        of each force.
        Represent your components separately from the free-body
        diagram in an appropriate notation.
    </li>
    <li>
        In 1-2 sentences, briefly explain how you determined
        the magnitude of the normal force.
    </li>
    <li>
        In 1-2 sentences, briefly explain how you determined
        the magnitude of the frictional force.
    </li>
    <li>
        Determine the magnitude and direction of the acceleration of the block.
    </li>
</ol>