
<p>
    Symbols like \( x \), \( y \), and \( z \) can be manipulated just like numbers can.
    You can add, subtract, multiply, or divide both sides of an equation by a symbol.
    To <i>Solve for</i> a variable means that you have only that variable on one side of the equation.
</p>

<p class = 'definition' data-word = 'in terms of'>
    For example, let's say that I have an equation like this:
    $$
    Z = X Y^2 + Y^3 X + (Y - X) XY
    $$
    This equation would be referred to as
    "\( Z \) in terms of \( X \) and \( Y \)".
</p>

<p class="definition" data-word = 'solve for a variable'>
    Imagine you have
    \( Z = \text{some long function that includes } X \text{ and } Y. \)
    Imagine that you are able to manipulate the equation so that instead,
    it looks like this:
    \( Y = \text{some long function that includes } Z \text{ and } X. \)
    This is called "Solving for \( Y \) in terms of \( X \) and \( Z \)."
</p>


<ol class = 'questionList'>
  <li class = 'question' data-answer = '\( B = \frac{A}{C} \)'>
    Solve for \( B \): <br>  \( A = B C \)
  </li>
  <li class = 'question' data-answer = '\( E = D - F \)'>
    Solve for \( E \): <br> \( D = E + F \)
  </li>
  <li class = 'question' data-answer = '\( G = H + I \)'>
    Solve for \( G \): <br> \( H = G - I \)
  </li>
  <li class = 'question' data-answer = '\( N = MO \)'>
    Solve for \( N \): <br> \( M = \frac{N}{O} \)
  </li>
  <li class = 'question' data-answer = '\( Q = \frac{P}{5} \)'>
    Solve for \( Q \): <br> \( P = 5 Q \)
  </li>

  <!--- Beginning of two-step problems --->
  <li class = 'question' data-answer = '\( L = K - J \)'>
    Solve for \( L \): <br> \( J = K - L \)
  </li>
  <!--- add directions here for solving for variables in the denominator
    and add more solving for varaibles in the denominator problems
  --->
  <li class = 'question' data-answer = '\( R = \frac{S}{T} \)'>
    Solve for \( R \): <br> \( \frac{S}{R} = T \)
  </li>
  <li class = 'question' data-answer = '\( m = \frac{E}{gh} \)'>
    Solve for \( m \): <br> \( E = mgh \)
  </li>
  <li class = 'question' data-answer = '\( h = \frac{E}{mg} \)'>
    Solve for \( h \): <br> \( E = mgh \)
  </li>
  <li class = 'question' data-answer = '\( m = \frac{2E}{v^2} \)'>
    Solve for \( m \): <br> \( E = \frac{1}{2} m v^2 \)
  </li>

  <!---
three step are supposed to be in symbolic algebra 2,
so determine a point to move these questions to symbolic algebra 2!
  -->
  <li class = 'question' data-answer = '\( v = \pm \sqrt{\frac{2E}{m}} \)'>
    Solve for \( v \). Note that there are two solutions. <br> \( E = \frac{1}{2} m v^2 \)
  </li>
  <li class = 'question' data-answer = '\( F_1 = F_2 + ma \)'>
    Solve for \( F_1 \): <br> \( F_1 - F_2 = m a \)
  </li>
  <li class = 'question' data-answer = '\( a = \frac{F_1 - F_2}{m} \)'>
    Solve for \( a \): <br> \( F_1 - F_2 = ma \)
  </li>
  <li class = 'question' data-answer = '\( v_i = v_f - at \)'>
    Solve for \( v_i \): <br> \( v_f = v_i + at \)
  </li>
  <li class = 'question' data-answer = '\( a = \frac{v_f - v_i}{t} \)'>
    Solve for \( a \): <br> \( v_f = v_i + at \)
  </li>
  <li class = 'question' data-answer = '\( t = \frac{v_f - v_i}{a} \)'>
    Solve for \( t \): <br> \( v_f = v_i + at \)
  </li>
  <li class = 'question' data-answer = '\( v = \sqrt{ar} \)'>
    Solve for \( v \). Note that there are two solutions. <br> \( a = \pm \frac{v^2}{r} \)
  </li>
  <li class = 'question' data-answer = '\( r = \frac{v^2}{a} \)'>
    Solve for \( r \): <br> \( a = \frac{v^2}{r} \)
  </li>
  <li class = 'question' data-answer = '\( m_1 = \frac{F r^2}{G m_2} \)'>
    Solve for \( m_1 \): <br> \( F = \frac{G m_1 m_2}{r^2} \)
  </li>
  <li class = 'question' data-answer = '\( m_2 = \frac{F r^2}{G m_1} \)'>
    Solve for \( m_2 \): <br> \( F = \frac{G m_1 m_2}{r^2} \)
  </li>
  <li class = 'question' data-answer = '\( r = \pm \sqrt{ \frac{G m_1 m_2}{F} } \)'>
    Solve for \( r \). Note that there are two solutions : <br> \( F = \frac{G m_1 m_2}{r^2} \)
  </li>
</ol>


<ol class = 'answerList'></ol>
