<p>
    In the previous section,
    we introduced the formula for impulse.
    In this section, we will consider many of
    the very important conceptual implications of this.
</p>

<p class = 'equation'>
    $$
    J = \Sigma F \cdot \Delta t = \Delta p = m v_f - m v_i
    $$
</p>

<p>
    The impulse formula is actually the same formula
    as Newton's Second Law ( \( F = ma \) ),
    presented slightly differently.
    However, Newton's Second Law can be very difficult
    to understand intuitively because acceleration is
    such a counterintuitive concept.
    The concepts of force, time, and momentum are far easier
    to understand than acceleration.
    For that reasons,
    many of the intuitive implications of dynamics
    are much easier to comprehend using the impulse formula.
</p>

<h4>
    Implications
</h4>
<ul>
    <li>
        If two objects experience the same change in momentum,
        but one does so less time, that one experiences a lower force.
    <li>
        If two objects with the same mass and velocity
        are both stopped, they both experience the same
        change in momentum.
        But if one is stopped in a lower time,
        it experiences less force.
    </li>
    <li>
        If two objects experience the same force,
        but one does so in more time,
        then the one with more time experiences a greater
        change in momentum.
    </li>
    <li>
        An object that experiences
        the same impulse (force * time)
        but has a greater mass will
        have a lesser change in velocity.
    </li>
</ul>


<ol class = 'questionList'>
    <li class = 'question'>
        Which will hurt more,
        punching a wall or punching a pillow?
        Explain why by using the impulse formula.
    </li>
    <li class = 'question'>
        Using the impulse formula, explain
        why it is good for racecar tracks
        to use piles of ties,
        rather than concrete walls,
        as barriers.
    </li>
    <li class = 'question'>
        If falling from an airplane, it is always
        better to land on a tree than the solid ground.
        Explain why by referring to the impulse formula.
    </li>
    <li class = 'question'>
        Whenever you fall,
        you bend your legs as you strike the ground.
        You never want to land on a straight leg.
        Otherwise, you will probably break it!
        Explain why by referring to the impulse formula.
    </li>
    <li class = 'question'>
        When swinging to hit a golf ball as far
        as possible, it is always necessary
        to "follow through," that is,
        keep swinging after you first strike the ball.
        There are several reasons for this,
        and one of those reasons involves
        the impulse formula. Explain.
    </li>
    <li class = 'question'>
        When you press on the accelerator,
        your car experiences a forward force called the <emph>thrust</emph>.
        Using the impulse formula,
        explain why a driver who presses the accelerator
        for longer will end up going faster.
    </li>
    <li class = 'question'>
        Using the impulse formula,
        explain why a loaded truck will probably
        accelerate slower than a compact car.
    </li>
</ol>

