<p>
  Equations are made of "terms" and "variables."
</p>

<p>
  In order to understand the instructions to problems in this class,
  you need to have a clear understanding of the words
  <strong>term</strong>, <strong>variable</strong>, and <strong>quantity</strong>
  in a mathematical context.
</p>
