<p>
    A pendulum has length \( l \) and the mass of the bob is \( m \).
    Somebody pulls the pendulum backwards so that the pendulum string makes a length
    \( \theta_0 \) with the vertical, then lets go.
    Assume no work is done on the pendulum-earth system after the person lets go.
    Determine a function \( v \left( \theta \right) \) for the speed of the bob
    in terms of the angle \( \theta \) with constants \( l \) and \( g \).
    State any principles of physics used to derive your formula.
    Demonstrate that the function you derive is dimensionally correct.
    Plug in the values
    \( v \left( \theta = 0 \right) \),
    \( v \left( \theta = \theta_0 \right) \),
    and \( v \left( \theta = - \theta_0 \right) \),
    and prove that these values give the results you would expect.
</p>

<p>
    A horizontal spring with spring constant \( k \) and equilibrium length \( x_0 \).
    The horizontal spring is attached to a mass \( m \) and is at rest at its equilibrium length.
    Somebody pulls the spring backwards until its length is \( A \), then lets go
    Assume no work is done on the mass-spring system after the person lets go.
    Determine a function \( v \left( x \right) \) for the speed of the mass in terms of its horizontal position.
    Your function should include constant values \( k \), \( x_0 \), \( m \), and \( A \).
    Note that the symbol \( A \) is used to indicate the amplitude of an oscillating system.
    Prove that the values
    \( v \left( x = x_0 \right) \),
    \( v \left( x = x_0 + A \right) \),
    \( v \left( x = x_0 - A \right) \),
    and demonstrate that these values give the results you would expect.
</p>