<p>
    A pendulum has length \( l \) and the mass of the bob is \( m \).
    Somebody pulls the pendulum backwards so that the pendulum string makes a length
    \( \theta_0 \) with the vertical, then lets go.
    Assume no work is done on the pendulum-earth system after the person lets go.
    Determine a function \( v \left( \theta \right) \) for the speed of the bob
    in terms of the angle \( \theta \) with constants \( l \) and \( g \).
    State any principles of physics used to derive your formula.
    Demonstrate that the function you derive is dimensionally correct.
    Determine the values
    \( v \left( \theta = 0 \right) \),
    \( v \left( \theta = \theta_0 \right) \),
    and \( v \left( \theta = - \theta_0 \right) \),
    and argue that these values are the results you would expect.
</p>

