<ol>
    <li>
        A pendulum whose bob has a mass \( m \) and length \( l \)
        is pulled backwards by an angle \( \theta \) and let go.
        Assume the string of the pendulum is massless.
        <ol type = 'a'>
            <li>
                Define the zero-height point as the point at which the pendulum bob is at equilibrium.
                Describe briefly why this is a good choice and how things would be much harder if we defined it elsewhere.
            </li>
            <li>
                Draw a diagram illustrating the geometry of the situation.
                On your graph, label the height of the pendulum \( h \) above the distance point.
            </li>
            <li>
                Determine an expression for the total energy of the pendulum-earth system
                in terms of \(m\), \( l \), \( \theta \), and \( g \).
                How many terms does your expression have? (Remember that if there is only one term, that is ok!)
                Describe in words what each term represents.
                Also, prove that each term of the expression has the correct units.
            </li>
            <li>
                At what point does the pendulum reach its maximum speed \( v_{max} \) and why?
            </li>
            <li>
                Determine an equation for the maximum speed of the pendulum bob \( v_{max} \)
                in terms of \( l \), \( \theta \), and \( g \).
                Briefly describe your method in words.
                Prove your equation is dimensionally correct.
            </li>
        </ol>
    </li>
    <li>
        A pendulum has a massless string of length \( l \) and a bob of mass \( m \).
        While the pendulum bob is at rest in its equilibrium position,
        somebody comes along and smacks it to give it an speed \( v_i \).
        <ol type = 'a'>
            <li>
                Determine an expression for the total energy of the pendulum-earth system
                in terms of \(m \), \( l \), \( v_i \), and \( g \).
                How many terms does your expression have?
                Describe in words what each term represents.
                Also, prove that each term of the expression has the correct units.
            </li>
            <li>
                Determine an equation for the maximum angle to which the pendulum moves \( \theta_{max} \)
                in terms of  \( l \), \( v_i \), and \( g \).
                Briefly describe your method in words.
                Prove your equation is dimensionally correct.
            </li>
        </ol>
    </li>
</ol>
