<p class = 'introduction'>
    When drawing electric circuits,
    we dont' draw them as they look.
    Instead, we use a set of symbols
    for each portion of an electric circuit.
</p>


<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-2 border border-dark'>
            <strong>Element</strong>
        </div>
        <div class = 'col-6 border border-dark'>
            <strong>Symbol</strong>
        </div>
        <div class = 'col-4 border border-dark'>
            <strong>Function</strong>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark'>
            Battery
        </div>
        <div class = 'col-6 border border-dark' id = 'battery_symbol'>

        </div>
        <div class = 'col-4 border border-dark'>
            Provides voltage; pushes electrons around the circuit
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark'>
            Light Bulb
        </div>
        <div class = 'col-6 border border-dark' id = 'light_bulb_symbol'>

            (This symbol is not standard: in some places different symbols are used.)
        </div>
        <div class = 'col-4 border border-dark'>
            A resistor that converts electrical energy into thermal and electromagnetic (light) energy.
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark'>
            Wire
        </div>
        <div class = 'col-6 border border-dark' id = 'wire_symbol'>

        </div>
        <div class = 'col-4 border border-dark'>
            A conductor that provides a path through which charge can easily travel.
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark'>
            Switch
        </div>
        <div class = 'col-6 border border-dark' id = 'switch_symbol'>

        </div>
        <div class = 'col-4 border border-dark'>
            Easily completes or breaks a circuit, shutting electric current on and off.
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark'>
            Resistor
        </div>
        <div class = 'col-6 border border-dark' id = 'resistor_symbol'>

        </div>
        <div class = 'col-4 border border-dark'>
            Slows down current in an electric circuit.
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-2 border border-dark'>
            Fuse
        </div>
        <div class = 'col-6 border border-dark' id = 'fuse_symbol'>

        </div>
        <div class = 'col-4 border border-dark'>
            Breaks circuit if current is dangerously high.
        </div>
    </div>
</div>

<script>
    /*
    Problems:
    - the battery is too spread out
    - no symbol for fuse
    - there is an extra line in the resistor
     */

    let battery = new CircuitDiagram();
    let resistor = new CircuitDiagram();
    let wire = new CircuitDiagram();
    let switch_diagram = new CircuitDiagram();
    let light_bulb = new CircuitDiagram();
    let fuse = new CircuitDiagram();

    battery.addCellSimple('right',1,undefined);
    resistor.addResistorSimple('right',1,undefined);
    wire.addWire('right',1);
    switch_diagram.addOpenSwitch('right',1,'counterclockwise');
    light_bulb.addLightBulb('right',1);

    // figure out how to draw a fuse

    $("#battery_symbol").append(battery.drawCanvas(150));
    $("#resistor_symbol").append(resistor.drawCanvas(150));
    $("#wire_symbol").append(wire.drawCanvas(150));
    $("#switch_symbol").append(switch_diagram.drawCanvas(150));
    $("#light_bulb_symbol").append(light_bulb.drawCanvas(150));
</script>

<h3>
    Minor Issues
</h3>

<h4>
    Batteries and Battery Packs
</h4>

<h4>
    Open and Closed Switches
</h4>