<p class = 'introduction'>
  Building an electric circuit always has a risk:
  if the current in the circuit is too high, the circuit will
  overheat and potentially start a fire.
  The risk is low if you are building circuits with only D batteries,
  but it much higher if you are using devices that require high amounts of voltage
  and current.
  Fortunately, there is a device that protects your circuit from dangerous levels
  of current: a fuse.
  A fuse is a device that burns up if the current in a circuit reaches a certain level.
</p>


<div class = "accordion" id = "labAccordion">
    <div class = "card">
        <div class = "card-header" id = 'alligator_heading'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = "#collapse_alligator" aria-expanded = "false" aria-controls = 'collapse_alligator'>
                    Building a Fuse
                </button>
            </h3>
        </div>

        <div id = 'collapse_alligator' class = 'collapse' aria-labelledby="alligator_heading" data-parent = '#labAccordion'>
            <div class = 'card-body'>
                <h3>
                  Materials
                </h3>
                <ul>
                  <li>
                    Several batteries
                  </li>
                  <li>
                    Two or more alligator clips
                  </li>
                  <li>
                    A small piece of steel wool (a very thin piece of metal)
                  </li>
                  <li>
                    A glass jar or some other device to hold the fuse
                  </li>
                  <li>
                    Optional: An ammeter
                  </li>
                </ul>

                <h3>
                  Steps
                </h3>
                <ol>
                  <li>
                    Connect the piece of steel wool with two alliagor clips
                    to both sides of a single battery.
                    There is now current moving through the steel wool,
                    but not enough to burn it.
                  </li>
                  <li>
                    Place the steel wool in a glass jar,
                    in which it is able to burn safely.
                  </li>
                  <li>
                    Keep adding batteries to the circuit.
                    The batteries must be added in series with each other,
                    it will not work if they are added in parallel.
                    Eventually, the circuit will become high enough that the
                    piece of steel wool will burn.
                  </li>
                  <li>
                    Optionally, repeat the steps with an ammeter connected
                    in order to measure the current over which the fuse burns.
                    <!-- should this be 'non-optional' -->
                  </li>
                </ol>
            </div>
        </div>

    </div>


    <div class = 'card'>
        <div class = "card-header" id = 'virtual_heading'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = "#collapse_virtual" aria-expanded = "false" aria-controls = 'collapse_virtual'>
                    Virtual Version
                </button>
            </h3>
        </div>

        <div id = 'collapse_virtual' class = 'collapse' aria-labelledby="virtual_heading" data-parent = '#labAccordion'>
            <div class = 'card-body'>
              <p>
                  I recommend you select "intro" mode,
                  although you can use either "intro" mode or "lab" mode.
              </p>


              <iframe src="https://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
              <p>
                  Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
              </p>


            </div>

        </div>

    </div>

</div>
