<p class = 'introduction'>
  Electrical wires need to be built out of a certain type of material,
  called a <emph>conductor</emph>.
  If they are built out of a different material, called an <emph>insulator</emph>,
  no electricity will flow.
  In this lab, you will test to determien what materials are conductors
  and what are insulators.
</p>


<div class = "accordion" id = "labAccordion">
    <div class = "card">
        <div class = "card-header" id = 'alligator_heading'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = "#collapse_alligator" aria-expanded = "false" aria-controls = 'collapse_alligator'>
                    Alligator Clip Version
                </button>
            </h3>
        </div>

        <div id = 'collapse_alligator' class = 'collapse' aria-labelledby="alligator_heading" data-parent = '#labAccordion'>
            <div class = 'card-body'>

              <h3>
                Materials
              </h3>


              <ul>
                <li>
                  One or two batteries in holder
                </li>
                <li>
                  Three alliagor clips
                </li>
                <li>
                  Light bulb in light bulb holder
                </li>
                <li>
                  A bunch of random stuff, see below:
              </ul>


              <h3>
                Setup
              </h3>

              <ol>
                <li>
                  Connect the light bulb and battery using
                  three alliagor clips.
                  The light bulb should be on, and there should be an extra connection.
                  <!-- photo -->
                </li>
                <li>
                  Disconnect the two connected alliagor clips.
                  When the two clips touch, the light should turn on
                </li>
                <li>
                  Put some random object, such as a pencil or a paper clip, between the alligator clips.
                  Determine whether the light bulb lights of does not.
                  If the bulb lights, the material allows electricity to flow
                  and is called a <strong>conductor</strong>.
                  If the bulb does not light, it material does not allow electricity to flow
                  and is called an <strong>insulator</strong>.
                </li>
              </ol>

              <p class = 'directions'>
                For each of the items below,
                determine if it is a conductor or an insulator
                by putting the item between the two alligator clips.
              </p>
                <ol class = 'questionList'>
                  <li class = 'question' data-answer = 'insulator'>

                  </li>
                  <li class = 'question' data-answer = 'conductor'>
                    Paper Clip
                  </li>
                  <li class = 'question' data-answer = 'insulator'>
                    Rubber Band
                  </li>
                  <li class = 'question' data-answer = 'insulator'>
                    Your finger
                  </li>
                  <li class = 'question' data-answer = 'conductor'>
                    Pencil Lead (this is not actually lead, it is graphite made of layers of carbon atoms)
                  </li>
                  <li class = 'question' data-answer = 'conductor'>
                    The leg of a chair
                  </li>
                  <li class = 'question' data-answer = 'insulator'>
                    A piece of paper
                  </li>
                  <li class = 'question' data-answer = 'insulator'>
                    A piece of clothing
                  </li>
                  <li class = 'question' data-answer = 'insulator'>
                    Hair
                  </li>
                  <li class = 'question' data-answer = 'conductor'>
                    Spiral binding from a notebook.
                  </li>
                  <li class = 'question' data-answer = '????'>
                    Pick your own:
                  </li>
                  <li class = 'question' data-answer = '????'>
                    Pick your own:
                  </li>
                </ol>
            </div>
        </div>

    </div>

    <div class = 'card'>
        <div class = "card-header" id = 'virtual_heading'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = "#collapse_virtual" aria-expanded = "false" aria-controls = 'collapse_virtual'>
                    Virtual Version
                </button>
            </h3>
        </div>

        <div id = 'collapse_virtual' class = 'collapse' aria-labelledby="virtual_heading" data-parent = '#labAccordion'>
            <div class = 'card-body'>
              <p>
                  I recommend you select "intro" mode,
                  although you can use either "intro" mode or "lab" mode.
              </p>


              <iframe src="https://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
              <p>
                  Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
              </p>

              <h3>
              </h3>
              <ul>
                <li>
                  Connect a light bulb to one or two batteries so that it lights bulb.
                </li>
                <li>
                  Break the circuit in one place. The light bulb should not be lit
                  at this point.
                </li>
                <li>
                  In the space where the circuit is broken,
                  put a virtual non-electrical item, like a paper clip or a dollar bill,
                  in the space where the circuit is broken.
                  Determine whether the light bulb lights of does not.
                  If the bulb lights, the material allows electricity to flow
                  and is called a <strong>conductor</strong>.
                  If the bulb does not light, it material does not allow electricity to flow
                  and is called an <strong>insulator</strong>.
                </li>
              </ul>

              <p class = 'directions'>
                For each of the virtual non-electrical items below,
                determine if it is an insualtor or a conductor.
              </p>

              <!---
                PHOTO
              -->

              <ol class = 'questionList'>
                <li class = 'question' data-answer = 'insulator'>
                  Dollar Bill
                </li>
                <li class = 'question' data-answer = 'conductor'>
                  Paper Clip
                </li>
                <li class = 'question' data-answer = 'conductor'>
                  Coin
                </li>
                <li class = 'question' data-answer = 'insulator'>
                  Eraser
                </li>
                <li class = 'question' data-answer = 'insulator'>
                  Pencil
                </li>
                <li class = 'question' data-answer = 'insulator'>
                  Hand
                </li>
                <li class = 'question' data-answer = 'insulator'>
                  Dog
                </li>
              </ol>

            </div>

            </div>
        </div>

</div>


<h3>
  General Questions
</h3>

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'All conductors are made of metal (except the graphite).'>
    A <emph>conductor</emph> allows an electric current to flow.
    What is true of all of the conductors that you identified?
  </li>
  <li class = 'question' data-answer = 'All insulators are not made of metal'>
    An <emph>insulator</emph> does not allow an electric current to flow.
    What is true of all of the insulators that you identified?
  </li>
  <li class = 'question' data-answer = 'No. Any piece of metal, such as a paper clip, can subsitute for a wire.'>
    Do you need an electric wire bought from a store to make an electric circuit,
    or is it possible to make one yourself easily? How?
  </li>
</ol>



<ol class = 'answerList'></ol>
