<p class = 'directions'>
  Below are the descriptions of 11 different types of energy.
  For each definition, write the name of that type of energy
  within one of two catogories: kinetic energy or potential energy.
</p>


<ul>
  <li>Energy of an object that has been stretched or compressed</li>
  <li>Energy within a moving oscillation of matter (mechanical wave)</li>
  <li>Energy contained within a battery, capable of having an exothermic reaction that creates an electrical current</li>
  <li>Energy of an object spinning around</li>
  <li>Energy conatined within an unstable nucleus</li>
  <li>Energy of an object that is high up and able to fall downward</li>
  <li>Energy of an object moving forward</li>
  <li>Energy of randomly moving molecules</li>
  <li>Energy within a moving oscillation of electric and magnetic fields</li>
  <li>Energy contained in molecules capable of having an exothermic reaction</li>
  <li>Energy of electric current</li>
</ul>


<div class = 'conatiner'>
  <div class = 'row'>
    <div class = 'col-md-6 border border-dark p-2'>
      Kinetic Energy
    </div>
    <div class = 'col-md-6 border border-dark p-2'>
      Potential Energy
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-md-6 border border-dark'>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class = 'col-md-6 border border-dark'>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>
