<p class="equation">
    $$
    I = m r^2
    $$
</p>

<p>
    This formula reflects the rotational inertia of a single point mass,
    but it can be used to <emph>conceptually</emph> understand more complex objects.
</p>