<p class="equation">
    $$
    I = m r^2
    $$
</p>

<p>
    This formula reflects the rotational inertia of a single point mass,
    but it can be used to <emph>conceptually</emph> understand more complex objects.
</p>

<ol>
    <li>
        A hoop and a solid disc of precisely the same mass and radius roll down a ramp.
        The solid disc always rolls faster.
        Explain why by referring qualitative to the formula above.
    </li>
    <li>
        Two identical sticks fall downward. One stick has a weight attached to the top end, the other has the same weight
        attached to the middle.
        <ol type = 'a'>
            <li>
                Explain why the dynamics of <strong>rotational motion</strong> are necessary to analyze this situation.
                Use a diagram in your explanation
            </li>
            <li>
                Which stick will strike the ground first?
            </li>
            <li>
                Explain your answer to part b) by referring explicitly to the formula above.
            </li>
        </ol>
    </li>
</ol>