
<p class="directions">
    Please answer all of the questions below
    by referring to the formulas for <strong>work</strong>
    and <strong>power</strong>,
    by <emph>without</emph> doing any quantitative calculations!
</p>


<p>
    Two cranes are lifting weights at a work site.
    Crane A lifts a weight of 500 Newtons a height of 30 meters.
    Crane B does exactly the same thing, but in half the time.
</p>

<ol>
    <li>
        Which crane does more work: A, B, or neither?
    </li>
    <li>
        Which crane has more power: A, B, or neither?
    </li>
</ol>


<p>
    Two more cranes are in on the job.
    Crane C takes 5 minutes to lift a weight of 1000 newtons a height of 40 meters.
    Crane D also takes 5 minutes to lift a weight of 1000 Newtons, but lifts it 50 meters.
</p>

<ol start = '3'>
    <li>
        Which crane does more work: C, D, or neither?
    </li>
    <li>
        Which crane has more power: C, D, or neither?
    </li>
</ol>