

<ol>
    <li>
        An axis should always be labeled with:
        <ol type = 'a'>
            <li>
                The letter "X" or "Y"
            </li>
            <li>
                The quantity
            </li>
            <li>
                The unit
            </li>
            <li>
                The quantity and the unit.
            </li>
        </ol>
    </li>
    <li>
        What variable is written on the vertical axis?
        <ol type = 'a'>
            <li>
                X
            </li>
            <li>
                Y
            </li>
            <li>
                The independent variable
            </li>
            <li>
                The dependent variable
            </li>
        </ol>
    </li>
    <li>
        What variable is written on the horizontal axis?
        <ol type = 'a'>
            <li>
                X
            </li>
            <li>
                Y
            </li>
            <li>
                The independent variable
            </li>
            <li>
                The dependent variable
            </li>
        </ol>
    </li>
    <li>
        When do you include a point at the position (0,0)?
        <ol type = 'a'>
            <li>
                Always
            </li>
            <li>
                Never
            </li>
            <li>
                When it seems like a good idea
            </li>
            <li>
                When such a point is included in your data table
            </li>
        </ol>
    </li>
    <li>
        In this class, when do you connect the points of your graph?
        <ol type = 'a'>
            <li>
                Always
            </li>
            <li>
                Never
            </li>
            <li>
                When the data appear to be linear
            </li>
            <li>
                When the hypothesis indicates the dependent variable
                is linearly proportional to the independent variable.
            </li>
        </ol>
    </li>
    <li>
        When do you include a best fit line on your graph?
        <ol type = 'a'>
            <li>
                Always
            </li>
            <li>
                Never
            </li>
            <li>
                When the data appear to be linear
            </li>
            <li>
                When the hypothesis indicates the dependent variable
                is linearly proportional to the independent variable.
            </li>
        </ol>
    </li>
</ol>