<p class = 'directions'>
    In <strong>2 minutes</strong> or less, complete each of the conversions below.
</p>


<ol>
    <li>
        Convert 54 centimeters to meters.
    </li>
    <li>
        Convert 1.49 meters to centimeters.
    </li>
    <li>
        Convert 893 meters to kilometers.
    </li>
    <li>
        Convert 6 meters to kilometers.
    </li>
    <li>
        Convert 0.4 kilometers to meters.
    </li>
    <li>
        Convert 53 milliseconds to seconds.
    </li>
    <li>
        Convert 3.812 seconds to milliseconds.
    </li>
</ol>