<h4>
    Changes of State Review
</h4>

<p class="definition">
    <strong>Matter</strong> is anything that can be classified as a
    solid, liquid, gas, or plasma.
    <br>
    All matter is made of protons, neutrons, and electrons,
    and in all forms but plasma, the matter is organized into <strong>atoms</strong>.
</p>

<img src = '/podAssets/thermodynamics/kinetic_theory_of_matter_conceptual/state_change_diagram.png' height = '200px' width = 'auto' />

<p class="directions">
    Use the diagram above to write the name of each process.
</p>

<ol class="questionList">
    <div class="container">
        <div class="row">
            <div class="col-2 border border-dark">
                <strong>Process</strong>
            </div>
            <div class="col-3 border border-dark">
                <strong>Name</strong>
            </div>
            <div class="col-1 border-top border-dark bg-secondary">

            </div>
            <div class="col-2 border border-dark">
                <strong>Process</strong>
            </div>
            <div class="col-3 border border-dark">
                <strong>Name</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'freezing'>
                    Liquid to Solid
                </li>
            </div>
            <div class="col-3 border border-dark pt-4">

            </div>
            <div class="col-1 bg-secondary">

            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'melting'>
                    Solid to Liquid
                </li>
            </div>
            <div class="col-3 border border-dark pt-4">

            </div>
        </div>
        <div class="row">
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'boiling'>
                    Liquid to Gas
                </li>
            </div>
            <div class="col-3 border border-dark pt-4">

            </div>
            <div class="col-1 bg-secondary">

            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'ionization'>
                    Gas to Plasma
                </li>
            </div>
            <div class="col-3 border border-dark pt-4">

            </div>
        </div>

        <div class="row">
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'condensation'>
                    Gas to Liquid
                </li>
            </div>
            <div class="col-3 border border-dark pt-4">

            </div>
            <div class="col-1 bg-secondary">

            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'deposition'>
                    Gas to Solid
                </li>
            </div>
            <div class="col-3 border border-dark pt-4">

            </div>
        </div>
        <div class="row">
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'sublimation'>
                    Solid to Gas
                </li>
            </div>
            <div class="col-3 border border-dark pt-4">

            </div>
            <div class="col-1 bg-secondary border-bottom border-dark">

            </div>
            <div class="col-2 border border-dark pt-4">
                <li class="question" data-answer = 'deionization'>
                    Plasma to Gas
                </li>
            </div>
            <div class="col-3 border border-dark pt-4">

            </div>
        </div>
    </div>
</ol>

<p class="directions">
    For each process, give the name:
</p>
<ol class="questionList">
    <div class="container">
        <div class="row">
            <div class="col-8 border border-dark">
                <strong>Process</strong>
            </div>
            <div class="col-4 border border-dark">
                <strong>Name</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-8 border border-dark pt-4">
                <li class="question" data-answer = 'freezing'>
                    You put water in the freezer and it becomes ice.
                </li>
            </div>
            <div class="col-4 border border-dark pt-4">

            </div>
        </div>
        <div class="row">
            <div class="col-8 border border-dark pt-4">
                <li class="question" data-answer = 'condensation'>
                    Water vapor in the air changes into water when it touches a cold surface.
                </li>
            </div>
            <div class="col-4 border border-dark pt-4">

            </div>
        </div>
        <div class="row">
            <div class="col-8 border border-dark pt-4">
                <li class="question" data-answer = 'boiling'>
                    Liquid nitrogen turns into the air that you breath.
                </li>
            </div>
            <div class="col-4 border border-dark pt-4">

            </div>
        </div>
        <div class="row">
            <div class="col-8 border border-dark pt-4">
                <li class="question" data-answer = 'sublimation'>
                    Dry ice [which is a solid] turns into air.
                </li>
            </div>
            <div class="col-4 border border-dark pt-4">

            </div>
        </div>
        <div class="row">
            <div class="col-8 border border-dark pt-4">
                <li class="question" data-answer = 'ionization'>
                    Electrons move from clouds to the ground and turn the air into plasma.
                </li>
            </div>
            <div class="col-4 border border-dark pt-4">

            </div>
        </div>
    </div>
</ol>

<h4>
    Composition of Air
</h4>

<ol class="answerList"></ol>