<p>
    In the previous pods of this unit,
    we looked at molecules from a simple point of view:
    hot is faster, slow is cooler.
    In this pod, we will learn the rigorous definitions
    needed to begin creating a more precise model of molecular motion.
</p>


<p class="definition" data-word = "Kinetic Theory of Matter">
    The <strong>Kinetic Theory of Matter</strong> is a physical theory
    that all matter is composed of pieces that are always in motion.
    (The word <emph>kinetic</emph> means <emph>in motion</emph>).
</p>

<p class="definition" data-word = 'Temperature'>
    Temperature is the average molecular kinetic energy of a substance.
    In other words, it is a measure of how much kinetic energy the molecules
    of a substance possess.
    All objects with the same temperature (in thermal equilibrium) have the
    same average molecular kinetic energy <emph>regardless</emph> of the state of matter.
</p>

<p class="definition" data-word = "Absolute Zero">
    <strong>Absolute Zero</strong> is the temperature at which all particles
    stop moving. Thus, their kinetic energy and tempearture are zero.
    <br>
    Absolute zero has never been achieved, and most scientists think
    it is impossible to achieve. It is only a theoretical idea.
</p>

<ol class="questionList">
    <li class="question">
        The air in the room is 20&#176;C.
        Inside the room is a covered bowl of water.
        The water and the bowl are both 20&#176;C.
        Which substance's molecules have the greatest kinetic energy?
        <ol type="A">
            <li>The air</li>
            <li>The water</li>
            <li>The bowl</li>
            <li>All three are the same</li>
        </ol>
    </li>
</ol>


<h4>
    More on the kinetic theory
</h4>

<ul class="principleList">
    <li>
        The kinetic theory of matter states that all matter
        is composed of particles that are in motion.
    </li>
</ul>




<h4>
    Random motion of molecules vs. translational motion
</h4>

<p>
    Assuming you are working on this while working on a table,
    take a look at the table.
    Is the table moving?
    I hope it is not!
    But, it is made of atoms that are bound together into large molecules,
    and these atoms are molecules are moving!
</p>

<p>
    Let's imagine that somebody picks up the table and moves it somewhere else.
    Are the atoms in the table moving? YES!
    However, they are all moving in the same direction, together.
    This represents the <strong>translational motion</strong> of matter.
    In addition, the atoms are also virbating in place, but they do not move
    together, so we cannot directly observe this motion.
    This represents the <strong>random motion</strong> of molecules.
</p>

<p>
    THe kinetic theory of matter applies only to the <strong>random motion</strong>
    of molecules.
    The definition of temperature is "The average kinetic energy of the random motion of molecules
    in an object."
</p>

<h4>
    Measuring Thermal Energy
</h4>

<p>
    Temperature is a measure of energy, but we can't measure it in the same way we
    can measure all of the other forms of energy!
    Most forms of energy, such as kinetic energy or elastic potential energy,
    we measure as a certain number of Joules.
    But, we could never figure out how to add up the kinetic energy of every
    single molecule and atom in some substace in order to find out how many
    Joules of thermal energy it has!
    So, thermal energy cannot be measured in the same way.
</p>

<p>
    However, we can measure thermal energy using the concept of temperature.
    We know that an objects temperature is a measure of the average
    kinetic energy of the random motion of the molecules.
    We also know that if two objects that do not have the same temperature
    are in thermal contact, heat will move between them until they do have
    the same temperature. That state is called <emph>thermal equilbrium</emph>
    and is explored extensviely in
    <a href = '/unit/thermodynamics/heat_transfer_temperature_mathematical'>another unit</a>.
</p>



<h4>
    Why Temperature is a Scale
</h4>

<p>
    Something makes temperature very different than every other quantity we learn about in this class:
    it is defined on a scale, not an absolute.
</p>

<p>
    Look at the following examples:
</p>
<ul>
    <li>
        Velocity is a measure of how fast something is moving.
        If velocity is zero, something is not moving.
    </li>
    <li>
        Force is a measure of how something is pushed or pulled.
        If force is zero, it isn't being pushed or pulled at all.
    </li>
    <li>
        Electric current is a measure of how many electrons flow through a point.
        If current is zero, no electrons flow through that point.
    </li>
    <li>
        Temperature is a measure of the average kinetic energy of the random motion
        of the molecules.
        And if the temperature is 0&#176;C, the average kinetic enerfy og the random motion
        of molecules is.....NOT zero!
    </li>
</ul>

<p>
    Why is temperature different from velocity, force, and electric current?
    Velocity, force, and electric current are <emph>quantities</emph>,
    whereas temperature in Celsius is not a quantity, it is a <emph>scale</emph>.
    The inventors of thermal physics only knew how to measure temperature by comparing
    the temperatures of different items. They had no concept that temperature represented
    a quantity which could be zero!
    Therefore, they invented a "scale" in which the
    point 0 does not actually reflect zero.
</p>


<p>
    However, there <emph>is</emph> a way that temperature can be expressed as a quantity not a scale:
    if you use the Kelvin.
    If the temperature is zero Kelvin, the molecules are in fact, not moving!
    This makes Kelvin a true quantity, like velocity, force, and electric current.
    Therefore, when Kelvin, you <emph>do not</emph> say "degrees Kelvin"
    you only say "Kelvin." And, you never write the little circle "&#176;K", you just write "K".
</p>


<p>
    In practice, the Celsius scale is used far more than Kelvin, even though it is not
    That is because most items you find on a typical day are between -20&#176;C and 40&#176;C.
    Furthermore, water freezes at 0&#176;C and boils at 100&#176;C.
    It is much easier to use these numbers than express everything in hundreds of Kelvin!
</p>

<ol class="questionList">
    <li class="question" data-answer = 'When a quantity has value zero, there must be none of that quantity, but in a scale this need not be so.'>
        What is the difference between a scale and a quantity?
    </li>
</ol>

<!--
quiz question:
explain why there needs to be a little circle when tmeperature is expressed in celsius or farhenheit but not when it is expressed in kelvin
-->

<!--
tests of this idea
I can write more questions like the one above
I can have a fill in the blank?

temperature is the average molecular kinetic energy..some are faster and some are slower
-->




