

<p class="definition" data-word = 'Temperature'>
    Temperature is the average molecular kinetic energy of a substance.
    In other words, it is a measure of how much kinetic energy the molecules
    of a substance possess.
    All objects with the same temperature (in thermal equilibrium) have the
    same average molecular kinetic energy <emph>regardless</emph> of the state of matter.
</p>

<ol class="questionList">
    <li class="question">
        The air in the room is 20&#176;C.
        Inside the room is a covered bowl of water.
        The water and the bowl are both 20&#176;C.
        Which substance's molecules have the greatest kinetic energy?
        <ol type="A">
            <li>The air</li>
            <li>The water</li>
            <li>The bowl</li>
            <li>All three are the same</li>
        </ol>
    </li>
</ol>
