<p class="definition">
    <strong>Macroscopic</strong>
    <br><br>
    Things that are large enough to see and feel are <strong>macroscopic</strong>.
</p>
<p class="definition">
    <storng>Microscopic</storng>
    <br><br>
    Anything that is too small to see and feel without
    some device (a microscope) is <strong>microscopic</strong>.
    Atoms and molecules are microscopic
</p>
<p class="definition">
    <strong>
        What happens on the microscopic level
        influences what we experience on the
        macroscopic level.
    </strong>
</p>

<div class="container">
    <div class="row">
        <div class="col-2 border border-dark font-weight-bold">
            State of Matter
        </div>
        <div class="col-5 border border-dark font-weight-bold">
            Macroscopic Behavior
        </div>
        <div class="col-5 border border-dark font-weight-bold">
            Microscopic Behavior
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-2 font-weight-bold">
            Solid
        </div>
        <div class="col-5 border border-dark pt-2">
            Does not change shape or size without a force.
        </div>
        <div class="col-5 border border-dark pt-2">
            Atoms are locked into a crystal structure.
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-2 font-weight-bold">
            Liquid
        </div>
        <div class="col-5 border border-dark pt-2">
            Changes shape to match container, but does not change size.
        </div>
        <div class="col-5 border border-dark pt-2">
            Atoms may move around each other but cannot travel away from each other.
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-2 font-weight-bold">
            Gas
        </div>
        <div class="col-5 border border-dark pt-2">
            Changes shape and size to fit the container or room it is in.
        </div>
        <div class="col-5 border border-dark pt-2">
            Atoms are able to move freely.
        </div>
    </div>
</div>


<ol class="questionList">
    <li class="question">
        Explain how the microscopic and the macroscopic beahvior of a solid are consistent.
    </li>
    <li class="question">
        Explain how the microscopic and the macroscopic beahvior of a liquid are consistent.
    </li>
    <li class="question">
        Explain how the microscopic and the macroscopic beahvior of a gas are consistent.
    </li>
</ol>

<ol class="questionList">
    <li class="question" data-answer = 'The milk would stay in the shape of the carton! It is acting like a solid.'>
        We learned previously that a liquid always takes the shape of its container.
        Imagine an alternate world in which liquids <strong>did not</strong>
        take the shape of their container.
        What would happen when you tried to pour a glass of milk?
        What state of matter is the milk acting like?
    </li>
    <li class="question" data-answer = 'The milk would expand our contract so it completely filled the bottle. It is acting like gas.'>
        We learned previously, that, while liquids do not take the shape
        of their container, they do NOT take the volume of their container.
        Imagine that liquids did take the volume of their container,
        and you poured a carton of milk into a closed bottle.
        What would happen? What is the milk acting like?
    </li>
    <li class="question" data-answer = 'The air would all be at the bottom of the room, or in clumps. You would need to keep yourself where the air is to breath! Air is acting like a liquid.'>
        Imagine that a gas did NOT take the volume of the room.
        What would happen as you walked around the room.
        What state of matter is the gas acting like?
    </li>
</ol>


<ol class="answerList"></ol>