<h4>
    Thermal Expansion of Solids
</h4>

<ul class="principleList">
    <li>
        When the temperature is higher, solids become slightly larger. (expansion)
    </li>
    <li>
        When the temperature is lower, solids become slightly smaller. (contraction)
    </li>
</ul>

<ol class="questionList">
    <li class="question">
        A piece of wood is made of molecules that are all vibrating.
        <ol class="subQuestionList">
            <li class="subQuestion">
                What happens to the molecules if the temperature increases? (microscopic)
            </li>
            <li class="subQuestion">
                What happens to the whole piece of wood? (macroscopic)
            </li>
            <li class="subQuestion">
                What happens to the molecules if the temperature decreases? (microscopic)
            </li>
            <li>
                What happens to the whole piece of wood? (macroscopic)
            </li>
        </ol>
    </li>
    <li class="question">
        I have built a cabinet in my house.
        In the winter, there is small space between the cabinet and the wall.
        In the summer, this small space disappears.
        <ol class="subQuestionList">
            <li class="subQuestion">
                Explain this by referring to the macroscopic behavior of a solid.
            </li>
            <li class="subQuestion">
                Explain this by referring to the microscopic behavior of a solid.
            </li>
        </ol>
    </li>
    <li class="quesiton">
        A carpenter is building a cabinet during the winter.
        He builds so it is perfectly in line with the wall, with absolutely no space between.
        This was a bad idea!
        What is going to happen during the summer?
    </li>
</ol>

<h4>
    Thermal Expansion of Liquids
</h4>

<h4>
    Thermal Expansion of Gasses
</h4>