<h4>
    Definitions
</h4>


<p class = 'definition' data-word = 'magnitude'>
    A <strong>magnitude</strong> is an amount of something.
    In physics, a magnitude is a number followed by a unit, such as
    30 kg, 25 mph, 9 minutes, etc.
</p>

<p class = 'definition' data-word = 'scalar'>
    A <strong>scalar</strong> is any quantity that has only magnitude.
</p>

<p class="definition" data-word = 'vector'>
    A <strong>vector</strong> is any quantity that has both magnitude <emph>direction</emph>.
</p>

<!--
a few questions here
-->

<h4>
    Examples
</h4>
<p class = 'directions'>
    For each quantity given, determine if that quantity is a vector or a scalar.
    Then, write
</p>
<ol class = 'questionList'>
    <div class="container">
        <div class = 'row'>
            <div class = 'col-3 border border-dark p-2'>
                Quantity
            </div>
            <div class = 'col-3 border border-dark p-2'>
                Vector or Scalar
            </div>
            <div class = 'col-3 border border-dark p-2'>
                Magnitude
            </div>
            <div class = 'col-3 border border-dark p-2'>
                Direction
            </div>
        </div>

        <div class = 'row'>
            <div class = 'col-3 border border-dark p-2'>
                60 mph east
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'vector'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = '60 mph'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'east'>

                </li>
            </div>
        </div>

        <div class = 'row'>
            <div class = 'col-3 border border-dark p-2'>
                50 kg
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'scalar'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = '50 kg'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'N/A'>

                </li>
            </div>
        </div>

        <div class = 'row'>
            <div class = 'col-3 border border-dark p-2'>
                24 hours
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'scalar'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = '24 hours'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'N/A'>

                </li>
            </div>
        </div>

        <div class = 'row'>
            <div class = 'col-3 border border-dark p-2'>
                I hit a punching bag with a force of 400 N to the right.
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'vector'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = '400 N'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'to the right'>

                </li>
            </div>
        </div>

        <div class = 'row'>
            <div class = 'col-3 border border-dark p-2'>
                Gravity pulls me downward with a force of 700 N.
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'vector'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = '700 N'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'downward'>

                </li>
            </div>
        </div>


        <div class = 'row'>
            <div class = 'col-3 border border-dark p-2'>
                The speed limit is 35 mph.
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'scalar'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = '35 mph'>

                </li>
            </div>
            <div class = 'col-3 border border-dark p-2'>
                <li class = 'question' data-answer = 'N/A'>

                </li>
            </div>
        </div>

    </div>
</ol>

<iframe width="560" height="315" src="https://www.youtube.com/embed/A05n32Bl0aY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class = 'videoCredit'>
    Illumination
</p>


<h4>
    Velocity and Speed
</h4>


<h4>
    List of Vectors and Scalars
</h4>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-5'>
            Scalars
        </div>
        <div class = 'col-5'>
            Vectors
        </div>
    </div>
</div>



<ol class = 'answerList'></ol>