<p class = 'directions'>
    Solve the problems below.
    For full credit, you must explicitly record at least three operations
    you used to solve each problem.
    For some questions, more than one answer is possible, and you must write all answers to
    receive full credit.
</p>

<ol>
    <li>
        \( 15 x^2 + 19 = 20 x^2 -  226\)
    </li>
    <li>
        \( 384 = \frac{2 \cdot 4 \cdot 2}{r^2} \)
    </li>
    <li>
        \( 42 = 6 \sqrt{\frac{x - 5}{2}}  \)
    </li>
</ol>