<p>
    A piano falls off a short shelf.
    The shelf is 0.51 m and the piano strikes the ground with a speed of 2.83 m/s.
    If falls quickly but experiences significant air resistance.
    (Note that all values in this problem are not necessarily realistic but do follow appropriate laws and formulas.)
    First, determine the mass of the piano
    Then, fill out the following table to describe how the energy of the piano-earth system changes over time:
</p>

<table>
    <tr>
        <td>
            Point
        </td>
        <td>
            Speed (m/s)
        </td>
        <td>
            Height (m)
        </td>
        <td>
            Kinetic Energy (J)
        </td>
        <td>
            Gravitational Potential Energy (J)
        </td>
        <td>
            Thermal Energy (J)
            (lost from system)
        </td>
        <td>
            Total Energy including thermal energy(J)
        </td>
        <td>
            Total Energy Remaining in the System (J)
        </td>
    </tr>
    <tr> <!-- speed, height ke, gpe, theral--->
        <td>A</td><td>0</td><td>0.51</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>B</td><td>1.18</td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>C</td><td></td><td>0.306</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>D</td><td>2.09</td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>E</td><td></td><td>0.787</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>F</td><td>2.83</td><td>0</td><td></td><td></td><td></td><td></td><td></td>
    </tr>
</table>


<p>
    Draw a <strong>qual</strong>itative graph with height on the x-axis and energy on the y-axis.
    Draw three lines on the graph showing how
    kinetic energy, gravitational potential energy, and total energy inside the system change with the height of the piano.
</p>