

<h5>
    1.
</h5>
<p>
    A circuit is built by connecting a light bulb to a battery:
</p>
<div id = 'simpleCircuit'></div>
<p>
    Fill out the diagram below to describe how energy changes in an electric circuit.
</p>
<img src = '/images/electricCircuitEnergy.png' width = '300px' height = 'auto'/>


<h5>
    More Questions
</h5>

<ol start = '2'>
    <li>
        The term "electromagnetic energy" typically refers to:
        <ol type = 'A'>
            <li>
                Kinetic energy of moving electrons
            </li>
            <li>
                Light
            </li>
            <li>
                Kinetic energy of moving magnets
            </li>
            <li>
                A battery
            </li>
        </ol>
    </li>
    <li>
        The term "electrochemical energy" typically refers to
        <ol type = 'a'>
            <li>
                Potential Energy in a battery
            </li>
            <li>
                Kinetic energy of moving electrons.
            </li>
            <li>
                Energy of electric current
            </li>
            <li>
                A light wave
            </li>
        </ol>
    </li>
</ol>


<script>
    $("#simpleCircuit").append(makeSimpleCircuit().drawCanvas(250));
</script>