<!--
<h4>
    Problem 1:
</h4>

<p>
    A book with a mass of 2 kg is at rest on a table that is 0.8 meters tall.
    The table is on the third floor of a building, and the floor is 9 meters above the ground.
    The ground on which the building is built is 200 meters above sea level.
    The ceiling in the room is 4 meters tall.
    A teacher asks her five students to determine the gravitational potential energy of the book-earth system,
    and they have five different responses:
</p>
<ul>
    <li>
        \( GPE = mgh =  2 \cdot 0.8 \cdot 9.8 = 15.69 \text{ J} \)
    </li>
    <li>
        \( GPE = mgh =  2 \cdot (0.8 + 9 ) \cdot 9.8 = 192.08 \text{ J} \)
    </li>
    <li>
        \( GPE = mgh =  2 \cdot (0.8 + 9 + 200) \cdot 9.8 = 4112.08 \text{ J} \)
    </li>
    <li>
        \( GPE = mgh =  2 \cdot (0.8 - 4) \cdot 9.8 = -62.72 \text{ J} \)
    </li>
    <li>
        \( GPE = mgh =  2 \cdot 0 \cdot 9.8 = 0 \)
    </li>
</ul>
<p>
    All five are correct. Explain how.
</p>
!-->
<h4>
    Problem:
</h4>
<img src = '/roller_coaster_1.jpg' width = '400px' height = 'auto'/>

<p>
    Imagine that a roller coaster car of mass 100 kg
    drives up and down the following roller coaster.
    It begins at point A (height = 90 m) with a speed of 33 m/s.
    Assume the roller coaster car moves with no energy
    being added to or subtracted from the system.
</p>


<ol>
    <li>
        Between points C and D, does the car gain or lose kinetic energy?
    </li>
    <li>
        Between points C and D, does the car-earth system gain or lose gravitational potential energy?
    </li>
    <li>
        Between points D and E, does the car gain or lose kinetic energy?
    </li>
    <li>
        Between points D and E, does the car-earth system gain or lose gravitational potential energy?
    </li>
    <li>
        Fill out the table below to analyze the energy of the car-earth system.
        Note that there are mulitple correct answers based on which point is selected
        as the zero-point height.
        <table>
            <tr>
                <td>Point</td>
                <td>Kinetic Energy</td>
                <td>Gravitational Potentail Energy</td>
                <td>Total Energy</td>
            </tr>
            <tr>
                <td>A</td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>B</td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>C</td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>D</td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>E</td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>F</td>
                <td></td><td></td><td></td>
            </tr>
        </table>
    </li>
    <li>
        Determine the speed of the car at point B.
    </li>
    <li>
        Determine the final speed of the car (at point F).
    </li>
    <li>
        At point C, the car should have a speed of 33 m/s.
        Explain this in words without resorting to calculations.
    </li>
</ol>