<ol>
    <li class = 'physicsQuestion'>
        Find the net force (magnitude and direction) acting on the following object:
        <img src = '/contentFiles/dynamicsQuizImages/free_body_diagram_one.png' height = '100px' width = 'auto'>
    </li>
    <div class = 'bigSpace'></div>
    <li class = 'physicsQuestion'>
        Find the net force (magnitude and direction) acting on the following object:
        <img src = '/contentFiles/dynamicsQuizImages/free_body_diagram_two.png' height = '180px' width = 'auto'>
    </li>
</ol>