<p>
    The goal of this pod is to solve problems
    in which you are looking for final temperature or initial temperature of
    an object.
    These are a little bit more algebraically difficult than solving for other variables.
    To these problems,
    it can be helpful to use a different version of the formula.
</p>

<p class="equation">
    $$
    Q = m c \Delta T \; \; \; \; \; \; \; \; \; \; Q = m c \left( T_f - T_i \right)
    $$
</p>

<div class = 'container'>
    <div class="row">
        <div class="col-2 border border-dark">
            Symbol
        </div>
        <div class="col-4 border border-dark">
            Quantity
        </div>
        <div class="col-3 border border-dark">
            SI Unit
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( Q \)
        </div>
        <div class="col-4 border border-dark pt-5">
            Heat Energy Transferred
        </div>
        <div class="col-3 border border-dark pt-5">
            Joules (J)
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( m \)
        </div>
        <div class="col-4 border border-dark pt-5">
            mass
        </div>
        <div class="col-3 border border-dark pt-5">
            kilograms (kg)
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( c \)
        </div>
        <div class="col-4 border border-dark pt-5">
            Specific Heat of Substance
        </div>
        <div class="col-3 border border-dark pt-5">
            \( \frac{ \text{J} }{ \text{kg} \cdot ^{\circ} \text{C} } \)
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( T_f \)
        </div>
        <div class="col-4 border border-dark pt-5">
            Final Temperature
        </div>
        <div class="col-3 border border-dark pt-5">
            Kelvin (K) or Degrees Celsius (\( ^{\circ} \text{C} \))
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark pt-5">
            \( T_i \)
        </div>
        <div class="col-4 border border-dark pt-5">
            Initial Temperature
        </div>
        <div class="col-3 border border-dark pt-5">
            Kelvin (K) or Degrees Celsius (\( ^{\circ} \text{C} \))
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-3 border border-dark">
            Material
        </div>
        <div class="col-4 border border-dark">
            Specific heat \( \left( \frac{ \text{J} }{ \text{kg} \cdot ^{\circ} \text{C} } \right)  \)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            water
        </div>
        <div class="col-4 border border-dark">
            4184
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            oil
        </div>
        <div class="col-4 border border-dark">
            1900
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            wood
        </div>
        <div class="col-4 border border-dark">
            1800
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            aluminum
        </div>
        <div class="col-4 border border-dark">
            900
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            concrete
        </div>
        <div class="col-4 border border-dark">
            880
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            glass
        </div>
        <div class="col-4 border border-dark">
            800
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            steel
        </div>
        <div class="col-4 border border-dark">
            470
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            silver
        </div>
        <div class="col-4 border border-dark">
            235
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark">
            gold
        </div>
        <div class="col-4 border border-dark">
            129
        </div>
    </div>
</div>

<ol class="questionList">
    <li class="question" data-answer = '33.9&#176;C'>
        I have 0.8 kg of water with a temperature of 30&#176;C.
        I add 10,000 Joules of energy to the water.
        What will be the final temperature?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '240&#176;C'>
        A gold ring has a temperature of 22&#176;C
        and a mass of 200 grams.
        If a metal worker adds 5624 Joules of heat energy to the ring,
        what is its final temperature?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '24&#176;C'>
        A massive concrete building has a temperature of 5&#176;C
        and a mass of 4000 kilograms at night.
        The sun rises and adds \( 6.69 \cdot 10^7 \) Joules of heat energy
        to the building.
        What is its final temperature?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '25&#176;C'>
        Somebody heats a bowl of 3 kg of water
        to its boiling point (100&#176;C) by adding
        941400 Joules of heat energy.
        What was its initial temperature?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '14&#176;C'>
        By rubbing wooden sticks together,
        somebody adds 7560 Joules of heat energy.
        The sticks have a mass of 0.200 kg,
        and they reach a final temperature of 35&#176;C.
        What was their initial temperature?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question" data-answer = '140&#176;C'>
        Someone has been cooking with a hot  pot, but after taking
        it off the heat it returns to room temperature.
        The pot is mostly steel and has a mass of 0.85 kg.
        It gives off 47141 Joules of heat energy
        when it reduces its temperature of 22&#176;C.
        What was its initial temperature?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
</ol>

<ol class="answerList"></ol>