<h4>
    Speed of Sound
</h4>

<p class="definition">
    The <strong>speed of sound</strong>
    <emph>depends upon the material</emph>
    sound moves through.
    It moves fastest in <emph>solids</emph>,
    second fastest in <emph>liquids</emph>,
    and slowest in <emph>gasses</emph>.
</p>


<div class="container">
    <div class="row">
        <div class="col-3 border border-dark">
            <strong>Material</strong>
        </div>
        <div class="col-3 border border-dark">
            <strong>Speed of Sound (m/s)</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Air (20°C)
        </div>
        <div class="col-3 border border-dark pt-4">
            343
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Water
        </div>
        <div class="col-3 border border-dark pt-4">
            1484
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Glass
        </div>
        <div class="col-3 border border-dark pt-4">
            4540
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Steel
        </div>
        <div class="col-3 border border-dark pt-4">
            6100
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Diamond
        </div>
        <div class="col-3 border border-dark pt-4">
            12000
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Vacuum
        </div>
        <div class="col-3 border border-dark pt-4">
            ---- Sound does not move through a vacuum
        </div>
    </div>
</div>

<ol class="questionList">
    <li class="question" data-answer = 'diamond'>
        Where does sound move the fastest?
    </li>
    <li class="question" data-answer = 'air'>
        Where does sound move the slowest?
    </li>
    <li class="question" data-answer = 'vacuum'>
        Where does sound not move at all?
    </li>
</ol>

<h5>
    Why?
</h5>
<ul class="principleList">
    <li>
        Sound is a <emph>longitudinal</emph>, <emph>mechanical</emph> wave.
    </li>
    <li>
        A sound wave travels when each molecule pushes the molecule in
        front of it forward.
    </li>
    <li>
        If the substance is more dense and compact, sound will be able to move faster.
        Solids are the densest material, and gasses are the least.
    </li>
</ul>

<ol class="questionList">
    <li class="question" data-answer = 'steel'>
        Where does sound move faster: water or steel?
    </li>
    <li class="question" data-answer = 'steel'>
        Where does sound move faster: air or steel?
    </li>
    <li class="question" data-answer = 'water'>
        Where does sound move faster: air or water?
    </li>
</ol>

<h4>
    Speed of Light
</h4>

<p class="definition">
    You should know that "The speed of light is 300,000,000 m/s.
    However, this is really the speed of light <emph>in a vacuum</emph>.
    In a medium (matter), light moves <emph>slower</emph> than it does in a vacuum (outer space).
</p>

<div class="container">
    <div class="row">
        <div class="col-3 border border-dark">
            <strong>Material</strong>
        </div>
        <div class="col-3 border border-dark">
            <strong>Speed of Light (m/s)</strong>
        </div>
        <div class="col-4 border border-dark">
            <strong>Very Accurate Speed of Light</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Vacuum
        </div>
        <div class="col-3 border border-dark pt-4">
            \( 3.00 \cdot 10^8 \)
        </div>
        <div class="col-4 border border-dark pt-4">
            299,792,458 m/s
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Air
        </div>
        <div class="col-3 border border-dark pt-4">
            \( 3.00 \cdot 10^8 \)**
        </div>
        <div class="col-4 border border-dark pt-4">
            299,686,445 m/s
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Water
        </div>
        <div class="col-3 border border-dark pt-4">
            \( 2.56 \cdot 10^8 \)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Glass
        </div>
        <div class="col-3 border border-dark pt-4">
            \( 1.97 \cdot 10^8 \)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Diamond
        </div>
        <div class="col-3 border border-dark pt-4">
            \( 1.24 \cdot 10^8 \)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Steel
        </div>
        <div class="col-3 border border-dark pt-4">
            ---- Light does not move in steel
        </div>
    </div>
</div>
<p>
    ** The speed of light is a very little bit less in air than a vaccum.
    The difference comes in the fourth significant figure!
</p>

<ol class="questionList">
    <li class="question" data-answer = 'a vacuum'>
        Where does light move the fastest?
    </li>
    <li class="question" data-answer = 'diamond'>
        Where does light move the slowest?
    </li>
    <li class="question" data-answer = "any three things you can't see through">
        Think of three materials that light <emph>does not</emph> move through at all:
    </li>
</ol>

<h5>
    Why is this?
</h5>
<ul class="principleList">
    <li>
        Light is an electromagnetic wave.
        Unlike sound, it doesn't depend on matter at all!
    </li>
    <li>
        Any atoms of matter that are there simply get in the way
        of the light wave and slow it down.
    </li>
    <li>
        The more dense the matter, as in a diamond, the more it slows down the light.
    </li>
</ul>

<h5>
    One very important point:
</h5>
<p>
    Even though light slows down in matter, it is still <emph>really really really really</emph> fast.
    Light moves slowest in a diamond, but light in a diamond
    is still <emph>much much much much</emph> faster than anything that isn't light.
</p>
<p>
    The main relevance of the changing speed of light is that it causes light to <emph>refract</emph>,
    or bend, creating weird effects and distorted images.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'water'>
        Where does light move faster: water or diamond?
    </li>
    <li class="question" data-answer = 'water'>
        Where does light move faster: water or glass?
    </li>
    <li class="question" data-answer = 'air'>
        Where does light move faster: water or air?
    </li>
    <li class="question" data-answer = 'vacuum, by a very little bit!'>
        Where does light move faster: air or vacuum?
    </li>
</ol>

<h5>
    True or False?
</h5>

<ol class="questionList">
    <li class="question" data-answer = 'false'>
        Sound is faster than light.
    </li>
    <li class="question" data-answer = 'true'>
        Sound moves slower in air than in water.
    </li>
    <li class="question" data-answer = 'false'>
        Light moves slower in a vacuum than it does in matter.
    </li>
    <li class="question" data-answer = 'true'>
        Light moves slower in water than it does in air.
    </li>
    <li class="question" data-answer = 'true'>
        Sound moves faster in a steel train track than it does in air.
    </li>
    <li class="question" data-answer = 'true'>
        Light moves faster in a diamond than it does in water.
    </li>
    <li class="question" data-answer = 'true'>
        Sound moves faster in solids than in liquids.
    </li>
    <li class="question" data-answer = 'false'>
        When light slows down in a diamond, it moves slow enough that you could run after it.
    </li>
    <li class="question" data-answer = 'true'>
        Sound moves faster in solids because the particles are packed closer together.
    </li>
</ol>


<h5>
    More Practice:
</h5>




<ol class="questionList">
    <li class="question" data-answer_id = 'ranking_table'>
        For each material, rank the speed of light and sound.
        For example, the material where sound moves the fastest will have a "1" for sound.
        The material where sound moves the second fastest will have a "2" for sound, etc.
        Any materials in which sound does not travel will have an "X" for sound.
        <br>
        <img src = '/podAssets/waves/wave_structure/blank_ranking_table.png' height = '300px' width = 'auto' />
    </li>
    <li class="question" data-answer = 'Where light is faster, sound is slower. Where light is slower, sound is faster.'>
        Do you notice any general patterns in the ranking table above?
        Specifically, are light and sound affected differently?
    </li>
    <li class="question" data-answer = 'The sound moves faster (and more clearly) through the track than the air around it.'>
        You can tell if a train is coming by putting your ear on a train track.
        <br>
        <img src = '/podAssets/waves/wave_structure/listen_to_train_track.png' height = '250px' width = 'auto' />
        <br>
        Using facts from this pod, explain why this is.
        Also, NEVER EVER ACTUALLY DO THIS!
    </li>
</ol>

<script>
    addAnswerObject('ranking_table', $("<img src = '/podAssets/waves/old_quiz_folder/filled_in_ranking_table.png' height = '150px' width = 'auto' />"));
</script>


<ol class="answerList"></ol>