
<ol>
    <li>
        State, from memory, the definition of a conservative force.
    </li>
    <li>
        Friction <strong>is not</strong> a conservative force.
        By referring to your definition above, give
        an example that illustrates this point.
    </li>
    <li>
        Gravity <strong>is</strong> a conservative force.
        By referring to your definition above,
        give an example that illustrates this point.
    </li>
</ol>