<p class = 'directions'>
    Use the equations written below to to answer the questions asked.
    Please write the equation each time you use it <i>before</i> plugging values in.
</p>

<ol>
    <p class = 'equation'>
        $$ \Delta x = v_i \cdot \Delta t + \frac{1}{2} a \cdot \left( \Delta t \right)^2 $$
    </p>
    <li class = 'physicsQuestion'>
        An object with an initial velocity of 8 m/s accelerates at a rate of 1.5 m/s<sup>2</sup>
        for a time of 6 seconds.
        What is its displacement during this time?
        <div class = 'formulaBoxDiv'></div>
    </li>

    <p class = 'equation'>
        $$ v_f = v_i + a \cdot \Delta t $$
    </p>
    <li class = 'physicsQuestion'>
        An object accelerates at a rate of 4 m/s<sup>2</sup> for a time of 8 seconds and ends
        at a final velocity of 44 m/s.
        What was its initial velocity?
        <div class = 'formulaBoxDiv'></div>
    </li>

</ol>
