



<ol>
  <li>
    A circle has a radius of 4 meters. What is its diameter?
  </li>
  <li>
    A circle has a diameter of 18 meters. What is its diamater?
  </li>
  <li>
    A circle has a diameter of 2.4 meters. What is its circumference?
    Please show the formula you used to solve this problem before writing the soluation.
  </li>
  <li>
    A circle has a circumference of 80 meters. What is its diameter?
    Please show the formula you used to solve this problem before writing the soluation.
  </li>
</ol>
