


<ol class="questionList">
    <li class="question">
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/dragging_at_angle_3_a.png' height = '200px' width ='auto' />
        <br>
        A block of mass \( m \) is at rest on a table.
        <br>
        Draw a free-body diagram for the block in terms of \( m \) and \( g \).
    </li>
    <li class="question">
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/dragging_at_angle_3_b.png' height = '200px' width ='auto' />
        <br>
        A block of mass \( m \) on a frictionless table is pulled
        by a force of magnitude \( F_a \) at an angle \( \theta \) to the horizontal.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram for the block in terms of
                \( m \), \( g \), \( F \), and \( \theta \).
                Break any necessary forces into components on the side of your free-body diagram.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force acting on the block
                in terms of \( m \), \( F \), and \( \theta \).
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the block
                in terms of \( m \), \( F \), and \( \theta \).
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/dragging_at_angle_3_b.png' height = '200px' width ='auto' />
        <br>
        A block of mass \( m \) on a frictionless table is pulled
        by a force of magnitude \( F_a \) at an angle \( \theta \) to the horizontal.
        The box is already moving.
        The surface of the box and the table have a coefficient of kinetic friction \( \mu_k \).
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Draw a free-body diagram for the block in terms of
                \( m \), \( g \), \( F \), \( \theta \), and \( \mu_k \).
                Break any necessary forces into components on the side of your free-body diagram.
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force acting on the block
                in terms of \( m \), \( F \), \( \theta \), and \( \mu_k \).
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration of the block
                in terms of \( m \), \( F \), \( \theta \), and \( \mu_k \).
            </li>
        </ol>

    </li>
    <li class="question">
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/dragging_at_angle_3_b.png' height = '200px' width ='auto' />
        <br>
        A block of mass \( m \) on a frictionless table is pulled
        by a force of magnitude \( F_a \) at an angle \( \theta \) to the horizontal.
        The box is being pulled at a <emph>constant velocity</emph>.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                What is the net force acting on the block?
                How do you know?
            </li>
            <li class="subQuestion">
                Draw a free-body diagram of the block
                in terms of \( F \), \( g \), \( m \), and \( \theta \).
                Break any necessary forces into components
                to the side of the free-body diagram.
            </li>
            <li class="subQuestion">
                Determine the coefficient of kinetic friction
                between the block and the table \( \mu_k \)
                in terms of \( F \), \( g \), \( m \), and \( \theta \).
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/dragging_at_angle_3_b.png' height = '200px' width ='auto' />
        <br>
        A block of mass \( m \) on a frictionless table is pulled
        by a force of magnitude \( F_a \) at an angle \( \theta \) to the horizontal.
        The box is not yet moving.
        The coefficient of kinetic friction between the block and the table is \( \mu_k \).
        The coefficient of static friction is \( \mu_s \).
        \( \mu_s > \mu_k \).
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Determine a <emph>condition</emph> for the box to move.
                The condition should be in terms of
                \( m \), \( g \), \( F \), \( \theta \), and \( \mu_s \).
            </li>
            <li class="subQuestion">
                Determine a free-body diagram for the block in condition
                that the box moves in terms of
                \( F \), \( g \), \( m \), \( \theta \), and \( \mu_k \).
            </li>
            <li class="subQuestion">
                Determine a free-body diagram fro the block in the
                condition that the block does not move
                in terms of
                \( F \), \( g \), \( m \), and \( \theta \).
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the net force
                acting on the block if it moves
                in terms of
                \( F \), \( g \), \( m \), \( \theta \), and \( \mu_k \).
            </li>
            <li class="subQuestion">
                Determine the magnitude and direction of the acceleration
                of the block in terms of
                \( F \), \( g \), \( \theta \), and \( \mu_k \).
            </li>
            <li class="subQuestion">
                State the net force and the acceleration of the block
                in the condition that it doesn't move.
            </li>
            <li class="subQuestion">
                Summarize your results to the above
                questions in a flow chart that includes
                if-then statements.
            </li>
        </ol>
    </li>
</ol>


