


<ol class="questionList">
    <li class="question">
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/hanging_sign_2_a.png' height = '200px' width ='auto' />
        <br>
        A sign with a mass of 5 kg is hung by two ropes as shown above.
        <ol class="questionList">
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the sign.
                Label each force.
                Do not break the forces into components.
            </li>
            <li class="subQuestion">
                Break each force into components to the side of your
                free-body diagram.
                <br>
            </li>
            <li class="subQuestion">
                Fill out the table below, in terms of two
                unknown variables \( T_1 \) and \( T_2 \).
                <div class="row">
                    <div class="col-5 border border-dark">
                        Horizontal Forces
                    </div>
                    <div class="col-2 border border-dark bg-secondary"></div>
                    <div class="col-5 border border-dark">
                        Vertical Forces
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark">
                        Force
                    </div>
                    <div class="col-3 border border-dark">
                        Magnitude and Sign
                    </div>
                    <div class="col-2 border border-dark bg-secondary">

                    </div>
                    <div class="col-2 border border-dark">
                        Force
                    </div>
                    <div class="col-3 border border-dark">
                        Magnitude and Sign
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                    <div class="col-2 border border-dark pb-5 bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                    <div class="col-2 border border-dark pb-5 bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark pb-5 bg bg-secondary"></div>
                    <div class="col-3 border border-dark pb-5 bg bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5 bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                </div>
            </li>
            <li class="subQuestion">
                Using the information in the table above,
                write a system of equations that could
                be used to determine out the
                magnitudes of the two tension forces
                \( T_1 \) and \( T_2 \).
            </li>
            <li class="subQuestion">
                Solve the equations above
                to find the magnitudes of the two tension forces= \( T_1 \) and \( T_2 \).
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/hanging_sign_2_b.png' height = '200px' width ='auto' />
        <br>
        A sign with a mass of 8 kg is hung by two ropes as shown above.
        <ol class="questionList">
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the sign.
                Label each force.
                Do not break the forces into components.
            </li>
            <li class="subQuestion">
                Break each force into components to the side of your
                free-body diagram.
                <br>
            </li>
            <li class="subQuestion">
                Fill out the table below, in terms of two
                unknown variables \( T_1 \) and \( T_2 \).
                <div class="row">
                    <div class="col-5 border border-dark">
                        Horizontal Forces
                    </div>
                    <div class="col-2 border border-dark bg-secondary"></div>
                    <div class="col-5 border border-dark">
                        Vertical Forces
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark">
                        Force
                    </div>
                    <div class="col-3 border border-dark">
                        Magnitude and Sign
                    </div>
                    <div class="col-2 border border-dark bg-secondary">

                    </div>
                    <div class="col-2 border border-dark">
                        Force
                    </div>
                    <div class="col-3 border border-dark">
                        Magnitude and Sign
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                    <div class="col-2 border border-dark pb-5 bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                    <div class="col-2 border border-dark pb-5 bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark pb-5 bg bg-secondary"></div>
                    <div class="col-3 border border-dark pb-5 bg bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5 bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                </div>
            </li>
            <li class="subQuestion">
                Using the information in the table above,
                write a system of equations that could
                be used to determine out the
                magnitudes of the two tension forces
                \( T_1 \) and \( T_2 \).
            </li>
            <li class="subQuestion">
                Solve the equations above
                to find the magnitudes of the two tension forces= \( T_1 \) and \( T_2 \).
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/podAssets/mechanics/two_dimensional_dynamics/hanging_sign_2_c.png' height = '200px' width ='auto' />
        <br>
        A sign with a mass of 6 kg is hung by two ropes as shown above.
        <ol class="questionList">
            <li class="subQuestion">
                Draw a qualitative free-body diagram of the sign.
                Label each force.
                Do not break the forces into components.
            </li>
            <li class="subQuestion">
                Break each force into components to the side of your
                free-body diagram.
                <br>
            </li>
            <li class="subQuestion">
                Fill out the table below, in terms of two
                unknown variables \( T_1 \) and \( T_2 \).
                <div class="row">
                    <div class="col-5 border border-dark">
                        Horizontal Forces
                    </div>
                    <div class="col-2 border border-dark bg-secondary"></div>
                    <div class="col-5 border border-dark">
                        Vertical Forces
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark">
                        Force
                    </div>
                    <div class="col-3 border border-dark">
                        Magnitude and Sign
                    </div>
                    <div class="col-2 border border-dark bg-secondary">

                    </div>
                    <div class="col-2 border border-dark">
                        Force
                    </div>
                    <div class="col-3 border border-dark">
                        Magnitude and Sign
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                    <div class="col-2 border border-dark pb-5 bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                    <div class="col-2 border border-dark pb-5 bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                </div>
                <div class="row">
                    <div class="col-2 border border-dark pb-5 bg bg-secondary"></div>
                    <div class="col-3 border border-dark pb-5 bg bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5 bg-secondary"></div>
                    <div class="col-2 border border-dark pb-5"></div>
                    <div class="col-3 border border-dark pb-5"></div>
                </div>
            </li>
            <li class="subQuestion">
                Using the information in the table above,
                write a system of equations that could
                be used to determine out the
                magnitudes of the two tension forces
                \( T_1 \) and \( T_2 \).
            </li>
            <li class="subQuestion">
                Solve the equations above
                to find the magnitudes of the two tension forces= \( T_1 \) and \( T_2 \).
            </li>
        </ol>
    </li>
</ol>


<ol class="answerList"></ol>

