<p>
    Do! a deer, a female deer <br>
    Re! a pocket full of sun <br>
    Mi! a name I call myself <br>
    Fa! a long long way to run <br>
    So! a needle pulling thread <br>
    La! a note to follow So <br>
    Ti! a drink with jam and bread <br>
    And that will bring us back to Do Do Do Do <br>
    - The Sound of Music (Oscar Hammerstein II, lyricist)
</p>