
<p class = 'introduction'>
    As you become more adept at building circuits,
    you will start to understand how switches control
    different parts of a circuit.
    This activity is about figuring out how switches work,
    and how to make circuits with more complex orientations of switches.
    Over time, understanding switches will improve your understanding
    of how series and parallel elements of a circuits work
    and give you a foundation from which to build more complex circuits.
</p>

<div class = 'bigSpace'></div>



<p>
    There are three different versions of this lab:
    one for if you have access to electrical equipment (The Snap Circuits Version),
    and the other if you do not (The Virtual Version).
    Please select the version that matches your current situation.
</p>

<div class = "accordion" id = "labAccordion">
    <div class = "card">
        <div class = "card-header" id = 'real_heading'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = "#collapse_real" aria-expanded = "false" aria-controls = 'collapse_real'>
                    Snap Circuit Version
                </button>
            </h3>
        </div>

        <div id = 'collapse_real' class = 'collapse' aria-labelledby="real_heading" data-parent = '#labAccordion'>
            <div class = 'card-body'>
                <h5>
                    Materials
                </h5>
                <ul>
                    <li>
                        One or two batteries.
                    </li>
                    <li>
                        3 switches (if possible)
                    </li>
                    <li>
                        3 light bulbs
                    </li>
                    <li>
                        Many wires
                    </li>
                </ul>
                <p class="directions">
                    Construct each of the circuits your created.
                    DO NOT BUILD any short circuits or reversed switches.
                    If you build one by accident, think of a new way to achieve the challenge.
                </p>
                <ol class = 'questionList'>
                    <li class="question">
                        Build your own switch out of snap circuit wires.
                        Connect a wire that can swing back and forth easily.
                        Orient it so that when it swings one way, the light is on,
                        and if it swings the other way, the light is off.
                        Briefly describe how you built it and why it works.
                    </li>
                    <li class = 'question'>
                        Construct a circuit with two light bulbs and two switches.
                        Switch A controls both light bulbs,
                        but switch B controls only one light bulb.
                        Draw a circuit diagram of the circuit you built here.
                    </li>
                    <li class = 'question'>
                        Construct a circuit with two light bulbs and two switches.
                        Each switch controls one of the two light bulbs,
                        so that each bulb is controlled by a different switch.
                        Draw a circuit diagram of the circuit you built here.
                    </li>
                    <li class = 'question'>
                        Construct a circuit with three light bulbs and three switches.
                        Switch A controls one light bulb,
                        switch B controls two light bulbs,
                        and switch C controls all three light bulbs.
                        Draw a circuit diagram of the circuit you built here.
                    </li>
                    <li class = 'question'>
                        Construct a circuit with three light bulbs and three switches.
                        Each switch controls a single light bulb,
                        so that each bulb is controlled by a different switch.
                        Draw a circuit diagram of the circuit you built here.
                    </li>
                    <li class = 'question'>
                        Construct a circuit with three light bulbs and three switches.
                        Switch A controls light bulb A.
                        Switch B controls light bulb B.
                        Switch C controls light bulbs B and C.
                        Draw a circuit diagram of the circuit you built here.
                        Make sure each bulb and switch is labeled in your diagram.
                    </li>
                </ol>

            </div>
        </div>

    </div>

    <div class="pageBreak"></div>
    <div class = 'card'>
        <div class = "card-header" id = 'virtual_heading'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target = "#collapse_virtual" aria-expanded = "false" aria-controls = 'collapse_virtual'>
                    Virtual Version
                </button>
            </h3>
        </div>

        <div id = 'collapse_virtual' class = 'collapse' aria-labelledby="virtual_heading" data-parent = '#labAccordion'>
            <div class = 'card-body'>
                <p>
                    I recommend you select "intro" mode,
                    although you can use either "intro" mode or "lab" mode.
                </p>

                <div class="no-print">
                    <iframe src="https://phet.colorado.edu/sims/html/circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
                    <p>
                        Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
                    </p>
                </div>

                <div class="print-only">
                    <p>
                        You can access the virtual version by Googling
                        "Phet Physics Circuit Construction Kit"
                        and clicking the first link that appears.
                    </p>
                </div>

                <ol class = 'questionList'>
                    <li class = 'question'>
                        Construct a circuit with two light bulbs and two switches.
                        Switch A controls both light bulbs,
                        but switch B controls only one light bulb.
                        Draw a circuit diagram of the circuit you built here.
                    </li>
                    <li class = 'question'>
                        Construct a circuit with two light bulbs and two switches.
                        Each switch controls one of the two light bulbs,
                        so that each bulb is controlled by a different switch.
                        Draw a circuit diagram of the circuit you built here.
                    </li>
                    <li class = 'question'>
                        Construct a circuit with three light bulbs and three switches.
                        Switch A controls one light bulb,
                        switch B controls two light bulbs,
                        and switch C controls all three light bulbs.
                        Draw a circuit diagram of the circuit you built here.
                    </li>
                    <li class = 'question'>
                        Construct a circuit with three light bulbs and three switches.
                        Each switch controls a single light bulb,
                        so that each bulb is controlled by a different switch.
                        Draw a circuit diagram of the circuit you built here.
                    </li>
                    <li class = 'question'>
                        Construct a circuit with three light bulbs and three switches.
                        Switch A controls light bulb A.
                        Switch B controls light bulb B.
                        Switch C controls light bulbs B and C.
                        Draw a circuit diagram of the circuit you built here.
                        Make sure each bulb and switch is labeled in your diagram.
                    </li>
                </ol>

            </div>

        </div>

    </div>

</div>

<div class = 'bigSpace'></div>
