<h4>
    Length Conversion Factors
</h4>
<ul>
    <li>
        <h5>
            Imperial Units
        </h5>
        <ul>
            <li>
                1 foot = 12 inches
            </li>
            <li>
                1 yard = 3 feet
            </li>
            <li>
                1 mile = 5280 feet
            </li>
            <li>
                1 mile = 8 furlongs
            </li>

        </ul>
    </li>
    <li>
        <h5>
            Metric Units
        </h5>
        <ul>
            <li>
                1 meter = 1000 millimeters
            </li>
            <li>
                1 meter = 100 centimeters
            </li>
            <li>
                1 kilometer = 1000 meters
            </li>
        </ul>
    </li>
    <li>
        <h5>
            Metric/Imperial Conversions
        </h5>
        <ul>
            <li>
                1 inch = 2.45 centimeters
            </li>
            <li>
                1 meter = 3.28 feet
            </li>
            <li>
                1 mile = 1.61 kilometers
            </li>
        </ul>
    </li>
</ul>

<h4>
    Time Conversion Factors
</h4>
<ul>
    <li>
        1 second = 100 milliseconds
    </li>
    <li>
        1 minute = 60 seconds
    </li>
    <li>
        1 hour = 60 minutes
    </li>
    <li>
        1 day = 24 hours
    </li>
    <li>
        1 week = 7 days
    </li>
    <li>
        1 year = 365.25 days
    </li>
    <li>
        1 century = 100 years
    </li>
    <li>
        Note that "months" are not a standard unit, because not all months have the same number of days!
    </li>
</ul>

<h4>
    Mass Conversion Factors
</h4>
<ul>
    <li>
        1 gram = 1000 milligrams
    </li>
    <li>
        1 kilogram= 1000 graphs
    </li>
    <li>
        1 kilogram = 2.0 pound-mass
    </li>
    <li>
        1 metric ton (also called tonne) = 1000 kilograms
    </li>
    <li>
        1 slug = 14.6 kilograms
    </li>
    <li>
        1 ton = 2000 pound-mass
    </li>
</ul>

<h4>
    Force Conversion Factors
</h4>
<ul>
    <li>
        1 pound-force = 4.45 Newtons
    </li>
    <li>
        1 Newton = 100,000 dynes
    </li>
</ul>

<h4>
    Energy Conversion Factors
</h4>
<ul>
    <li>
        1 Calorie = 4.184 Joules
    </li>
    <li>
        1 kilocalorie = 4184 Joules
    </li>
    <li>
        1 kilojoule = 1000 Joules
    </li>
    <li>
        1 kilocalorie = 4.184 kilojoules
    </li>
    <li>
        Note that the unit called "calorie" on the back of food label are actually
        kilocalories.
        Calories are also referred to as "gram calories."
    </li>
    <li>
        1 electronVolt = \( 1.602 \cdot 10^{-19}\ \, \text{Joules} \)
    </li>
</ul>
