<h3>
    The Quiz Ladder System
</h3>


<h4>
    Goals
</h4>

<p>
    The overall goal of 508physics is to track your progress
    as you move through the physics curriculum,
    by giving you a sequence of progressively more challenging quizzes
    on each topic of physics.
    The goal is not to replace the textbook or the in-class curriculum,
    but to complement these by helping each student
    identify what they most need to work on and to learn at their own pace.
</p>

<h4>
    Organization
</h4>

<p>
    The content in the physics curriculum is arrange on
    into topic clusters, topics, levels, and pods.
</p>

<ul>
    <li>
        <strong>Topic Cluster:</strong>
        A topic cluster is a broad area of physics,
        such as kinematics, dynamics, or electric circuits.
        Each topic cluster corresponds to 1-2 chapters of a typical physics
        textbook, or 1-2 units of the official AP physics curriculum.
        Each topic cluster has a number, but they do not need to be done in order.
        They are named after <emph>galaxy clusters</emph>.
    </li>
    <li>
        <strong>Topic:</strong>
        Each topic consists of similar problems of increasing difficulty.
        For example, within the kinematics topic cluster,
        qualitative and quantitative kinematics are broken into different topics.
        Each topic (except the first) is labeled by a three-digit or four-digit number
        that begins with the topic cluster number.
        Within each topic cluster, the topics are sequenced.
        The sequence is recommended but not absolutely essential.
    </li>
    <li>
        <strong>Pod:</strong>
        Each topic is broken into a sequence of pods.
        The pods represent specific types of problems:
        for example, using a particular formula, or representing a specific situation.
        The pods are given a letter, and are ideally completed in sequence.
        Most topics have 15 - 20 pods.
    </li>
</ul>


<h4>
    Miniquizzes
</h4>

<p>
    Each pod consists of some information, several practice questions,
    sometimes a video, and, crucially, a miniquiz.
    You can take the miniquiz only after you have logged in.
    The miniquiz is not digital: you take it on paper and submit a photo.
</p>

<p>
    After you take each miniquiz, I will give you a score from 0 to 20.
    If you score 18, 19, or 20, you ACED the miniquiz,
    and the recommendation is that you move to the next pod.
    If you score 17 or less, you should spend more time studying that pod
    and then retake the miniquiz.
</p>
<p>
    You can take each miniquiz as many times as is necessary to ACE it;
    you never run out of attempts.
    However, periodically, the questions on a miniquiz are slightly changed so
    you cannot simply memorize the answers to those exact questions in order to ACE
    the miniquiz.
</p>

<h4>
    What your score means
</h4>

<h4>
    Difficulty of Each Level
</h4>



<h4>
    Correlation with Official AP Physics 1 Curriculum
</h4>