<h3>
    Quiz Policy
</h3>

<ul>
    <li>
        There are multiple versions of a quiz.
        If a submission contains correct answers to a <strong>different</strong> version
        than the one taken, the quiz will be considered invalid.
    </li>
</ul>