<div class="bigSpace"></div>
<div class="bigSpace"></div>
<h2>
    <a href = '/podAssets/waves/harmonics/harmonics_3.pdf'>
        Practice Page available as a pdf.
    </a>
</h2>
<div class="bigSpace"></div>
<div class="bigSpace"></div>



<h3>
    Representing harmonics in sound waves.
</h3>
<p>
    In a string instrument, such as a violin, guitar, or piano, harmonics consist of transverse waves on a string
    In woodwind instruments, such as a flute or clarinet, harmonic sound waves are created within a tube.
    Because sound waves are longitudinal, they are difficult to draw.
    To allow this, we draw longitudinal waves as transverse waves that represents either the amount that molecules are displaced at any point.
    (Alternatively, you can represent sound waves by the pressure at each point.)
</p>

<h4>
    Principles
</h4>
<ul>
    <li>
        Sound harmonics are made in a tube with two ends. The two ends can be either open or closed.
    </li>
    <li>
        At every <strong>open end</strong> there is an anti-node, where particles are moving their maximum amount.
    </li>
    <li>
        At every <strong>closed end</strong> there is a node, where particles are not moving.
    </li>
    <li>
        There are two types of tubes:
        <ul>
            <li>
                Two Open Ends
            </li>
            <li>
                One Open End and one Closed End
            </li>
        </ul>
    </li>
    <li>
        You cannot create harmonics in a tube with two closed ends. You need somewhere to blow into the instrument!
    </li>
</ul>

<div class="pageBreak"></div>

<h3>
    Harmonic Diagrams
</h3>

<p>
    Draw the first 6 harmonics for a wave on a string with a length of 100 centimeters.
    These are the same as before, with a node on both ends.
    Make sure you draw all harmonics the same length.
</p>

<div class="container">
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            Harmonic
        </div>
        <div class="col-6 p-2 border border-dark">
            Drawing
        </div>
        <div class="col-2 p-2 border border-dark">
            How many wavelengths are there?
        </div>
        <div class="col-2 p-2 border border-dark">
            One wavelength in centimeters
        </div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            1st
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            2nd
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            3rd
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            4th
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            5th
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            6th
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
</div>

<div class="pageBreak"></div>


<p>
Draw the first 6 harmonics for a sound wave in a tube with two open ends and a length of 100 cm.
These have an anti-node on each end.
</p>

<div class="container">
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            Harmonic
        </div>
        <div class="col-6 p-2 border border-dark">
            Drawing
        </div>
        <div class="col-2 p-2 border border-dark">
            How many wavelengths are there?
        </div>
        <div class="col-2 p-2 border border-dark">
            One wavelength in centimeters
        </div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            1st
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            2nd
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            3rd
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            4th
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            5th
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            6th
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
</div>



<div class="pageBreak"></div>

<p>
    Draw the first 6 harmonics for a sound wave in a tube
    with one open end and one closed end and a length of 100 cm.
    There is an anti-node at the open end and a node at the closed end.
    (For consistency, let's stay that the open end is on the right.)
</p>

<div class="container">
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            Harmonic
        </div>
        <div class="col-6 p-2 border border-dark">
            Drawing
        </div>
        <div class="col-2 p-2 border border-dark">
            How many wavelengths are there?
        </div>
        <div class="col-2 p-2 border border-dark">
            One wavelength in centimeters
        </div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            1st
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            2nd
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            3rd
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            4th
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            5th
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
    <div class="row">
        <div class="col-2 p-2 border border-dark">
            6th
        </div>
        <div class="col-6 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
        <div class="col-2 p-2 border border-dark"></div>
    </div>
</div>

<div class="pageBreak"></div>

<h3>
    Principles fo Mathematical Analysis
</h3>



<div class="pageBreak"></div>

<h5>
    {{letter}}.1
</h5>
<p>
    A standing sound wave is made in a tube with two open ends and length of 1.0 m.
    Determine the wavelength, frequency, and speed of each harmonic.
    Assume there is standard temperature and air pressure.
</p>


<div class="pageBreak"></div>

<h5>
    {{letter}}.2
</h5>
<p>
    A standing sound wave is made in a tube with two open ends and length of 0.8 m.
    Determine the wavelength, frequency, and speed of each harmonic.
    Assume there is standard temperature and air pressure.
</p>

<div class="pageBreak"></div>

<h5>
    {{letter}}.3
</h5>
<p>
    A standing sound wave is made in a tube with one open-end and one closed end and length of 1.0 m.
    Determine the wavelength, frequency, and speed of each harmonic.
    Assume there is standard temperature and air pressure.
</p>

<div class="pageBreak"></div>

<h5>
    {{letter}}.4
</h5>
<p>
    A standing sound wave is made in a tube with one open end and one closed end and length of 0.6 m.
    Determine the wavelength, frequency, and speed of each harmonic.
    Assume there is standard temperature and air pressure.
</p>