<p class="directions">
    For each of the numbers written below,
    identify how many significant figures are given.
</p>


<ol>
    <li>
        0.00567
    </li>
    <li>
        0.094000
    </li>
    <li>
        12
    </li>
    <li>
        \( 1.468 \cdot 10^{8} \)
    </li>
    <li>
        1.60e9
    </li>
    <li>
        2400.
    </li>
</ol>

<div class="pageBreak"></div>

<p class = 'directions'>
    In <strong>2 minutes</strong> or less, complete each of the conversions below.
    You do not need to show work, but you do need to write the
    new unit with each answer.
</p>


<ol>
    <li>
        Convert 54 centimeters to meters.
    </li>
    <li>
        Convert 1.49 meters to centimeters.
    </li>
    <li>
        Convert 893 meters to kilometers.
    </li>
    <li>
        Convert 6 meters to kilometers.
    </li>
    <li>
        Convert 0.4 kilometers to meters.
    </li>
    <li>
        Convert 53 milliseconds to seconds.
    </li>
    <li>
        Convert 3.812 seconds to milliseconds.
    </li>
</ol>