<div class = 'definitionBox'>
    <h5>Net Force \( \left( \Sigma F \right) \)</h5>
    <p>
        The vector sum of all forces on an object.
    </p>
    <p>
        The symbol for net force is \( \Sigma F \).
        (Pronounced "Sigma F.")
    </p>
</div>

<div class = 'definitionBox'>
    <h5>Newton's First Law (restated)</h5>
    <p>
        Any object that is not moving has a net force of zero acting on it.
    </p>
    <p>
        Any object whose velocity is constant as a net force of zero acting on it.
    </p>
    <p>
        Any object whose velocity is not constant has a net force greater than zero acting on it.
    </p>
</div>

<p class = 'directions'>
    For the following problems, state if net force = 0 or if net force > 0.
    <br>
    \( \left( \Sigma F = 0  \textrm{ or }  \Sigma F > 0 \right) \)
</p>

<ol class = 'questionList'>
    <li data-answer = '\( \Sigma F = 0 \)'>
        Anything that is not moving.
    </li>
    <li data-answer = '\( \Sigma F = 0 \)'>
        Anything that is moving at a constant velocity.
    </li>
    <li data-answer = '\( \Sigma F > 0 \)'>
        A car, when the driver is pressing the accelerator.
    </li>
    <li data-answer = '\( \Sigma F = 0 \)'>
        A glass or water resting on a table.
    </li>
    <li data-answer = '\( \Sigma F > 0 \)'>
        A ball rolling down a ramp.
    </li>
    <li data-answer = '\( \Sigma F = 0 \)'>
        A car driving on the highway at a constant velocity.
    </li>
    <li data-answer = '\( \Sigma F > 0 \)'>
        A ball that has been dropped off a building.
    </li>
    <li data-answer = '\( \Sigma F > 0 \)'>
        A car when the driver has pressed the breaks.
    </li>
</ol>

<div id = 'putItHere'></div>
<script>
    let myFBD = fastFBD([[3,'right'],[2,'left']]);
    $("#putItHere").append(myFBD.drawCanvas(300,300));

    // need to finish this!
</script>

<h3>Answers:</h3>
<ol class = 'answerList'></ol>