<div class="bigSpace"></div>
<div class="bigSpace"></div>

<h3>
    <a href = '/podAssets/rotational_motion/rotational_dynamics/rotational_inertia_conceptual_examples.pdf'>Practice page available as a pdf</a>
</h3>


<div class="bigSpace"></div>
<div class="bigSpace"></div>