<p class="introduction">
    In previous pods, we used the torque formula and learned to calculate
    torque.
    In this pod, we will analyze the torque formula conceptually.
    Where do these concepts apply in our everyday lives?
    The answer is: Just about everywhere!
</p>

<h5>
    The Torque Formula
</h5>
<p class = 'equation'>
    $$
    \overrightarrow{\tau} = \overrightarrow{r} \times \overrightarrow{F}
    $$
</p>

<p>
    <strong>Torque</strong> is the force necessary to cause something to rotate.
    The more torque something has, the more quickly it will rotate.
</p>

<ol>
    <li>
        By applying more force
    </li>
    <li>
        By applying the force farther away from the axis of rotation
        (increasing the magnitude of the moment arm).
    </li>
    <li>
        By applying the force at an angle perpendicular to the moment arm.
    </li>
</ol>

<p>
    Of these examples, the second is the most relevant.
    If we have a greater moment arm, then we don't need to apply as much force
    to create a rotation.
    Most famously, wrenches use a moment arm to increase your own force, but they aren't the only thing!
    Door themselves, door handles, laptop screens, water faucets, soap dispensers, and spray bottles
    all use long moment arms to increase your own ability.
    You use this principle more times a day than you can count!
    In this pod, we will explain how these objects work by referring to the formula above.
</p>

<h3>
    Increasing Moment Arm
</h3>

<p class = 'directions'>
    Explicitly reference the formula for torque to answer each of the following questions:
</p>


<ol class = 'questionList'>
    <li class = 'question'>
      How does a wrench enable people to turn a screw or nut
      much more easily?
      Explain by referring explicitly to the torque formula.
    </li>
    <li class = 'question'>
        Why is a doorknob always located on the side
        of the door opposite the hinge,
        never close to the hinge?
        Explain by referring explicitly to the torque formula.
    </li>
    <li class = 'question'>
      <img src = 'https://cdn.pocket-lint.com/r/s/970x/assets/images/152137-laptops-review-apple-macbook-pro-2020-review-image1-qy49zfkn53-jpg.webp' height = '150px' width = 'auto'>
      <p class = 'imageCredit'>
        https://www.pocket-lint.com/laptops/reviews/apple/152137-macbook-pro-review-2020-13-inch
      </p>
      Where do you hold the screen of a laptop to close it?
      Explain by referring explicitly to the torque formula.
    </li>
</ol>



<h4>
    Applying Perpendicular Force
</h4>

<p>
    Because torque is a cross product, torque is greatest when you apply a force
    perpendicular to the moment arm.
    This principle is so natural to you that you probably have never even imagined
    exerting a rotating force at an angle other than 90 degrees.
    In the next few questions, we'll consider what would happen if you did.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    <img src = 'https://fphoto.photoshelter.com/img/pixel.gif' height = '200px' width = 'auto'/>
    What direction does the person in this photo need to pull the hammer in order to rip out the nail.
    Draw a diagram illustrating the vector of the person's force and the moment arm of the hammer.
    Relate this diagram to the torque formula above.
  </li>
</ol>

<!---
MORE QUESTIONS HERE
-->


<h5>
    Video Resources:
</h5>
<p>
    Watch the following video on torque in offensive lineman, published by the National Science Foundation.
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/F4h4t0Q1I2s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
