<p class="introduction">
    These problems involve a person swinging a mass vertically.
    Vertical circles are good practice for understanding the nature of the centripetal
    force, because in a vertical circle, the centripetal force is not always equal to the same force.
    For practice, note that these problems are involve similar concepts as
    <a href = 'https://508physics.com/pod/cbf3cb'>elevator problems</a>.
</p>


<h3>
    Principles
</h3>

<ul class="definition" data-word = 'Centripetal Force'>
    <li>
        <strong>Centripetal Force</strong> is the summation
        of forces in the <emph>inward direction</emph> on something moving in a circle.
    </li>
    <li>
        Centripetal force <emph>must</emph> be composed of one or more otherwise existing forces,
        such as gravity, tension, normal force, or friction.
    </li>
    <li>
        In a vertical circle, the forces composing the centripetal force will be different at different points on the circle.
    </li>
</ul>

<h5>
    The magnitude of centripetal force:
</h5>
<p>
    For an object to move in a circle at a constant speed,
    the magnitude of centripetal force must equal the value:
</p>
<p class="equation">
    $$
    F_c = \frac{m v^2}{r}
    $$
</p>

<div class="container">
    <div class="row">
        <div class="col-4 border border-dark p-2">
            <strong>Symbol</strong>
        </div>
        <div class="col-4 border border-dark p-2">
            <strong>Quantity</strong>
        </div>
        <div class="col-4 border border-dark p-2">
            <strong>SI Unit</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark p-2">
            \( F_c \)
        </div>
        <div class="col-4 border border-dark p-2">
            Magnitude of centripetal force**
        </div>
        <div class="col-4 border border-dark p-2">
            Newtons (N)
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark p-2">
            \( m \)
        </div>
        <div class="col-4 border border-dark p-2">
            mass
        </div>
        <div class="col-4 border border-dark p-2">
            kilograms (kg)
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark p-2">
            \( v \)
        </div>
        <div class="col-4 border border-dark p-2">
            Magnitude of velocity (speed)**
        </div>
        <div class="col-4 border border-dark p-2">
            meters / second (m/s)
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark p-2">
            \( r \)
        </div>
        <div class="col-4 border border-dark p-2">
            radius of circle
        </div>
        <div class="col-4 border border-dark p-2">
            meters (m)
        </div>
    </div>
</div>
<p>
    **Note that vector quantities written without an arrow over them,
    such as \( v \) and \( F \) often refer to the magnitude of that quantity only.
</p>

<h3>
    Forces
</h3>

<p>
    In a (simplified) vertical circle, there are only two forces acting on the mass:
</p>
<ul>
    <li>
        Gravity:
        <ul>
            <li>
                Gravity always has direction <strong>down</strong>
            </li>
            <li>
                Gravity always has a magnitude given by \( F_g = mg \).
            </li>
        </ul>
    </li>
    <li>
        Tension:
        <ul>
            <li>
                Tension always has the direction <strong>inwards</strong>,
                towards the center of the circle.
            </li>
            <li>
                In this situation, tension is a <strong>constraint force</strong>.
                The magnitude of tension will adjust to the situation.
                You must determine the net force acting on the object first,
                then determine the tension.
            </li>
        </ul>
    </li>
</ul>

<h3>
    Walk Through Problem
</h3>

<ol class="questionList">
    Somebody is swinging a rock in a vertical circle using a rope.
    Assume that the rope has a length of 0.50 meters, the rock is moving at a constant speed of 4 m/s,
    and that the rock has a mass of 5.0 kg.
    (Note that these numbers are used to make the arithmetic simple and are not realistic values. Also that the situation is a simplification.)
    <ol class="subQuestionList" type = 'A'>
        <li class="subQuestion" data-answer = ''>
            Determine the magnitude of centripetal force necessary for the rock to move in a circle at a constant velocity.
        </li>
        <li class="subQuestion">
            The diagram below shows the motion of the rock:
            <br>
                <img src = '/asset/{{id}}/rock_in_a_circle.png' />
            <br>
            2 forces act on the rock (tension and gravity).
            These two forces are described above.
            Draw a qualitative free-body diagram at each of the four points marked (1), (2), (3), and (4).
            (**note that, for the rock to move at a constant speed, there must be another tangential component of tension, but for simplicity, we are omitting it.
            If you create this situation in real life, you will notice that you cannot do it without moving your hand, representing this more complex tension force.
        </li>
        <li class="subQuestion">

        </li>
        <li class="subQuestion">

        </li>
        <li class="subQuestion">

        </li>
    </ol>

</ol>



<h3>
    More notes can be accessed
    <a href = '/asset/204ac1/vertical_circles_1.pdf'>here</a>.
</h3>