<p class="introduction">
    These problems involve a person swinging a mass vertically.
    Vertical circles are good practice for understanding the nature of the centripetal
    force, because in a vertical circle, the centripetal force is not always equal to the same force.
    For practice, note that these problems are very similar to
    <a href = 'https://508physics.com/pod/cbf3cb'>elevator problems</a>.
</p>


<h3>
    Principles
</h3>

<ul class="definition" data-word = 'Centripetal Force'>
    <li>
        <strong>Centripetal Force</strong> is the summation
        of forces in the <emph>inward direction</emph> on something moving in a circle.
    </li>
    <li>
        Centripetal force <emph>must</emph> be identified as one or more otherwise existing forces,
        such as gravity, tension, normal force, or friction.
    </li>
</ul>

<h5>
    The magnitude of centripetal force:
</h5>
<p>
    For an object to move in a circle at a constant speed,
    the magnitude of centripetal force must equal the value:
</p>
<p class="equation">
    F_c = \frac{m v^2}{r}
</p>

<h3>
    Forces
</h3>

<p>
    In a vertical circle, there are only two forces acting on the mass:
</p>
<ul>
    <li>
        Gravity:
        <ul>
            <li>
                Gravity always has direction <strong>down</strong>
            </li>
            <li>
                Gravity always has a magnitude given by \( F_g = mg \).
            </li>
        </ul>
    </li>
    <li>
        Tension:
        <ul>
            <li>
                Tension always has the direction <strong>inwards</strong>,
                towards the center of the circle.
            </li>
            <li>
                Tension is a <strong>constraint force</strong>.
                The magnitude of tension will adjust to the situation.
                You must determine the net force acting on the object first,
                then determine the tension.
            </li>
        </ul>
    </li>
</ul>