<p class = 'introduction'>
    If you took the first quiz, congratulations!
    Of course, physics can be quite a bit more difficult than that quiz (just a bit).
    You can't just expect to blindly take every quiz;
    you need to study!
    To help organize the curriculum, I created a separate "Study Page"
    for each quiz.
    When you are learning a new step, first you will study the information
    on the study page, then you will take the quiz.
    Most of the study pages are not only written content:
    they include problems to solve (with answers),
    videos, automatic problem generation, etc.
</p>

<p class = 'directions'>
    Commit the following random facts to memory.
</p>

<ul>
    <li>
        In 1935, the Detroit Tigers won the World Series.
    </li>
    <li>
        The capital of Togo (in Africa) is Lome.
    </li>
    <li>
        In 1812, Elbridge Gerry of Massachusetts was elected Vice President of the United States.
    </li>
    <li>
        In 1971, the song "<a href = 'https://youtu.be/WrcwRt6J32o'>Bridge Over Troubled Water</a>"
        by Simon and Garfunkel
        won the Grammy for Song of the Year.
    </li>
</ul>

<h3>
    Practice Questions
</h3>

<ol class="questionList">
    <li class="question" data-answer = 'The Tigers'>
        What is the nickname of the baseball team from Detroit?
    </li>
    <li class = 'question' data-answer = '1935 (also 1945, 1968, and 1984)'>
        What is one year that the Detroit Tigers won the world series?
    </li>
    <li class="question" data-answer = '1971'>
        What year did "Bridge Over Troubled Water" win the Grammy for Song of the Year?
    </li>
    <li class="question" data-answer = 'Lome'>
        What is tha capital of Togo?
    </li>
    <li class="question" data-answer = ''>
        Who was elected Vice President in 1812?
    </li>
    <li class="question" data-answer = 'Bridge over Troubled Water'>
        What song won the Grammy for Song of the Year in 1971?
    </li>
    <li class="question" data-answer = 'Togo'>
        What country's capitol is Lome?
    </li>
    <li class="question" data-answer = ''>
        What state was Elbridge Gerry from?
    </li>
    <li class = 'question' data-answer = ''>
        What year was Elbridge Gerry elected Vice President?
    </li>
    <li class="question" data-answer = 'Simon and Garfunkel'>
        What dou wrote "Bridge Over Troubled Water"?
    </li>
    <li class="question" data-answer = 'The Detroit Tigers'>
        What team won the 1935 World Series?
    </li>
    <li class="question" data-answer = 'Africa'>
        What continent is Togo on?
    </li>
</ol>


<h4>
    BONUS Questions
</h4>
<p>
    (Not required at all, only if you are interested....)
</p>
<ol class="questionList">
    <li class="question" data-answer = 'Hank Greenberg'>
        Who was the best player on the 1935 Detroit Tigers, hitting 36 Home runs and 170 RBIs?
    </li>
    <li class="question" data-answer = 'French'>
        What is the official language of Togo?
    </li>
    <li class="question" data-answer = 'Gerrymandering'>
        Though he is a signer of the Declaration of Independence, Governor of Massachusetts,
        and Vice President, Elbridge Gerry is most well known as the namesake of a
        highly controversial political practice: drawing voting districts of political purposes.
        What is this practice called?
    </li>
    <li class="question" data-answer = 'The New Jersey Turnpike'>
        On what famous highway do Simon and Garfunkel count the cars of
        those who had come to look for America?
    </li>
</ol>

<ol class = 'answerList'></ol>