<p class = 'directions'>
    For each of the following waves,
    write if that wave is electromagnetic or mechanical.
</p>

<ol>
    <li>
        A violet light wave
    </li>
    <li>
        An infrared wave wave
    </li>
    <li>
        A sound wave
    </li>
    <li>
        A wave in a slinky
    </li>
    <li>
        An X-Ray wave
    </li>
    <li>
        A water wave
    </li>
</ol>
