<p class = 'directions'>
    For each of the following waves,
    write if that wave is electromagnetic or mechanical.
</p>

<ol>
    <li>
        An orange light wave
    </li>
    <li>
        A sound wave
    </li>
    <li>
        A water wave
    </li>
    <li>
        A gamma ray wave
    </li>
    <li>
        A seismic wave (wave in rocks)
    </li>
    <li>
        A microwave
    </li>
</ol>
