

<h5>
  Velocity-Time Graph Rules
</h5>
<ul class = 'definition' data-word = 'velocity vector'>
  <li>
    A <strong>vector</strong> is a quantity that
    has both magnitude and direction.
  </li>
  <li>
    Velocity is a vector.
  </li>
  <li>
    In a 1-D problem,
    the <em>sign</em> of the velocity determines its direction.
    If velocity is positive, it is moving in one direciton,
    and if it is negative, it is moving in the opposite direction.
  </li>
  <li>
    The <em>absolute value</em> of velocity is its magnitude.
    The magnitude of velocity is also called <strong>speed</strong>
  </li>
</ul>




<h5>
  Velocity Direction Rules
</h5>
<ul>
  <li>
    Whenever you are doing a problem,
    you designate one direction as <em>positive</em>
    and the opposite direction as <em>negative</em>.
  </li>
  <li>
    Whenever the velocity line is above the x-axis,
    the object is moving in the positive direction.
  </li>
  <li>
    Whenever the velocity-line is below the x-axis,
    the object is moving in the negative direction.
  </li>
  <li>
    Whenever the velocity-line is on the x-axis,
    the object is not moving at all. (Velocity = 0.)
  </li>
  <li>
    Whenever the velocity-line crosses the x-axis,
    it means that the object <em>turned around</em>.
  </li>
</ul>


<h5>
  Velocity Speed Rules
</h5>
<ul>
  <li>
    An object is speeding up when
    the velocity-graph line is moving
    farther away from the x-axis.
  </li>
  <li>
    An object is slowing down when the velocity-graph
    line is moving closer to the x-axis.
  </li>
  <li>
    When the velocity-graph line is horizontal,
    and object is moving at a constant velocity.
  </li>
</ul>


<h5>
  Acceleration and Speed
</h5>
<p>
  Acceleration graphs, which were already complicated,
  get even more complicated when we consider motion in
  two-different directions.
  It is relatively easy to draw an acceleration graph
  given a velocity graph by graphing the slope
  of the velocity graph,
  but interpreting what each part of an acceleration graph
  means is very difficult.
  The same acceleration can indicate speeding up or slowing down.
  If an object changes direction, even a constant
  acceleration can mean different things at different times
  (this is the case when you throw an object
  directly upward in the air).
</p>
<ul>
  <li>
    Whenever acceleration is in the same direction
    as velocity, an object speeds up.
  </li>
  <li>
    Whenever acceleration is in the opposite direction
    as velocity, an object slows down.
  </li>
  <li>
    If velocity is zero and acceleration is not zero,
    then the object is either beginning to move
    or changing direction.
  </li>
</ul>
