<p>
    This is a virtual lab on the process of adding colors:
</p>


<iframe src="https://phet.colorado.edu/sims/html/color-vision/latest/color-vision_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>
<p>
    Simulation provided by <a href = 'https://phet.colorado.edu'>PHET interactive simulations</a> at the University of Colorado at Boulder
</p>

<p>
    <strong>Important note:</strong>
    The color mixing rules here will be different than the color mixing rules
    you learn in art class!
    That is because here, we are mixing light,
    whereas in art class, you are mixing paint.
    You get (almost) a reverse result.
</p>

<ol>
    <li>
        Play around with the simulation for about 5 minutes.
        Check out the different things that you can do.
    </li>
    <li>
        Put the simulation on the "RGB Bulbs" mode.
        This lab will work exclusively with that mode.
    </li>
    <li>
        Turn on Red and Green,
        what color does the person see?
        [The official name of this color is <emph>magenta</emph>]
    </li>
    <li>
        Turn on Red and Blue,
        what color does the person see?
    </li>
    <li>
        Turn on Green and Blue,
        what color does the person see?
        [The official name of this color is <emph>cyan</emph>.]
    </li>
    <li>
        Turn on Red, Green, and Blue,
        what color does the person see?
    </li>
    <li>
        Figure out how to get orange.
        Write how.
    </li>
    <li>
        Figure out how to get purple.
        (Purple is actually slightly different than violet.)
        Write how.
    </li>
    <li>
        Figure out how to get shades of gray.
        (Hint: make black, then make white, then make it slightly in between.)
        Write how.
    </li>
    <li>
        Note that <emph>all colors</emph> on a computer screen are made by combination
        of red, green and blue!
        Our eyes react to red, green, and blue, and then combine these waves to tell our brain which
        color we are looking at.
    </li>
</ol>