<p>
    The most important thing to know about the impulse formula is this:
    it is equivalent to Newton's Second Law.
    In fact, in Newton's <emph>Principia</emph>,
    his second law was not written as the familiar \( F = ma \)
    but as the impulse formula.
</p>

<p>
    The goal of this section is this:
    to prove this is true.
    This entire section is built on one short algebraic proof.
    Even though it is short,
    this proof is so important to the foundations of mechanics
    that it's worthy of its own section!
</p>

<p>
    Goal: Combine the following formulas to derive the impulse formula.
</p>

<ol>
    <li>
        Newton's Second Law: \( \Sigma F = ma \)
    </li>
    <li>
        The definition of acceleration: \( a = \frac{v_f - v_i}{\delta T} \)
    </li>
    <li>
        The definition of momentum \( p = mv \)
    </li>
</ol>



<ol class = 'questionList'>
  <li class = 'question'>
    The impulse formula is equivalent to what other famous physics formula?
  </li>
</ol>


<h4>
  Newton's Principia
</h4>

<p>
  In the <a href = 'https://en.wikisource.org/wiki/The_Mathematical_Principles_of_Natural_Philosophy_(1846)/Axioms,_or_Laws_of_Motion'>original text on Newton's Principia</a>,
  Newton's Second Law is written as follows
  "The alternation of motion is ever proportional to the motive force impressed;
  and is made in the directinoof the right line in which that force is impressed."
</p>

<p>
  Connect this law to the impulse formula.
</p>
