<p>
    Your goal is to demonstrate that a low friction car on a ramp gets faster as it goes down the ramp.
    It is important that your goal is NOT to calculate the acceleration of the car,
    but to argue, using data, that it is accelerating.
</p>

<h5>
    Materials
</h5>
<ul>
    <li>
        Low Friction car
    </li>
    <li>
        Ramp
    </li>
    <li>
        One textbook (to prop up the ramp. Please use only one!)
    </li>
    <li>
        Meter Stick (if needed)
    </li>
    <li>
        Stopwatch (if needed)
    </li>
    <li>
        Metronome (if needed)
    </li>
</ul>


<p>
    Give a description of your data and your argument.
    Your should write at least a paragraph and include a table, a graph, or both.
    Please use graph paper for any graphs you make.
</p>