
<h3>
    Using Conservation of Energy
    To Analyze a Ball Rolling Down a Ramp
</h3>

<p>
    In this problem,
    we are going to use the Law of Conservation of Energy
    and our knowledge of Kinetic and Gravitational Potential Energy
    to determine information about objects moving downward.
</p>


<img src = '/podAssets/mechanics/conservation_of_energy_quantitative/ramp_pic_1.png' height = '500px' width = 'auto'/>

<h5>
    Determining Energy at Each Point:
</h5>
<p>
    A ball rolls down a hill. As it rolls, no energy is lost.
    Fill out the following table using the following key principles:
</p>

<ul>
    <li>
        \( KE + GPE = \text{Total Energy} \)
    </li>
    <li>
        Total Energy remains the same
    </li>
</ul>

<div id = 'energyTable1'></div>
<script>
    let energyTable1 = new EnergyTable(7, ['KE (J)','GPE (J)','Total Energy (J)']);
    energyTable1.addInfoToColumn('KE (J)',['0','10','','49','','87','']);
    energyTable1.addInfoToColumn('GPE (J)',['','','69','49','37','','0']);

    $("#energyTable1").append(energyTable1.draw(250));
</script>


<div class = 'pageBreak'></div>
<h5>
    Determining the Mass of the Ball:
</h5>
<p>
    Focus now exclusively on point A.
    What is the height at point A? What is the gravitational potential energy at point A?
</p>

<p>
    Use the information you know on point A to determine the <emph>mass</emph>
    of the rolling ball:
    <div class = 'formulaBoxDiv'></div>
</p>

<p>
    The mass of the ball <emph>does not change</emph> as the ball rolls down the ramp.
    Therefore, we can use this information to figure out information about other points.
</p>

<h5>
    Information about Specific Points
</h5>

<p>
    At point B, what is the kinetic energy of the ball?
    <br>
    Use this information to find the speed of the ball at point B:
    <div class = 'formulaBoxDiv'></div>
</p>

<p>
    At point D, what is the gravitational potential energy of the ball?
    <br>
    Use this information to find the height of the ball at point D:
    <div class = 'formulaBoxDiv'></div>
</p>

<div class = 'pageBreak'></div>

<h5>
    Analyzing Every Point:
</h5>

<p>
    Repeat the process above in order to find the speed and the mass
    of the ball at each point.
    Note that you have already found the speed at point B and the
    height at point D. You can fill those two answers in right away,
    then repeat the process to find the speed and height at each point.
</p>

<div id = 'infoTable1'></div>

<script>
    let infoTable1 = new EnergyTable(7,['speed (m/s)','height (m)']);
    infoTable1.addInfoToColumn('height (m)',['20']);
    $("#infoTable1").append(infoTable1.draw(300));
</script>


<div class = 'pageBreak'></div>

<h3>
    Problem 2: A sled dude moving down a hill
</h3>

<img src = '/podAssets/mechanics/conservation_of_energy_quantitative/sled_dude.png' height = '500px' width = 'auto'/>

<p>
    Fill out the table below:
</p>
<div id = 'energyTable2'></div>

<script>
    let energyTable2 = new EnergyTable(6, ['KE (J)','GPE (J)','Total Energy (J)']);
    energyTable2.addInfoToColumn('KE (J)',['0','7500','','22000','33000','']);
    energyTable2.addInfoToColumn('GPE (J)',['','','23300','18180','','0']);

    $("#energyTable2").append(energyTable2.draw(300));
</script>

<p>
    Pick a point where you have enough information to find the mass of the rider,
    and find the mass:
</p>

<div class = 'formulaBoxDiv'></div>

<div class = 'pageBreak'></div>

<p>
    Using the information you have and any formulas you can, fill out the table below:
</p>
<div id = 'infoTable2'></div>

<script>
    let infoTable2 = new EnergyTable(6,['speed (m/s)','height (m)']);

    $("#infoTable2").append(infoTable2.draw(400));
</script>


<script>
    let formulaBox = new FormulaSolvingTable();
    $(".formulaBoxDiv").append(formulaBox.draw(500,300));
</script>

<div class = 'pageBreak'></div>
<h4>
    Problem 3:
</h4>


<p class = 'directions'>
    Use the Law of Conservation of Energy and
    the formulas for Kinetic and Gravitational Potential Energy
    to fill out the table below.
    Mass = 10 kg.
</p>
<div id = 'infoTable3' ></div>

<script>
    let infoTable3 = new EnergyTable(4,['speed (m/s)', 'height (m)', 'KE (J)', 'GPE (J)', 'Total Energy (J)']);

    infoTable3.writeTextInCellKeys('A','speed (m/s)','0');
    infoTable3.writeTextInCellKeys('B','speed (m/s)','4');
    infoTable3.writeTextInCellKeys('B','height (m)','0.5');
    infoTable3.writeTextInCellKeys('C','height (m)','0.3');
    infoTable3.writeTextInCellKeys('D','height (m)','0');

    $("#infoTable3").append(infoTable3.draw(300));
</script>