<p class ='equation'>
    $$
    GPE = mgh
    $$
</p>

<p class = 'equation'>
    $$
    KE = \frac{1}{2} m v^2
    $$
</p>

<p class = 'equation'>
    $$
    EPE = \frac{1}{2} k \left( x - x_0 \right)^2
    $$
</p>

<h4>
    Dimensional Analysis
</h4>
<ol>
    <li>
        Joules can be written as kg m/s<sup>2</sup>.
        Demonstrate that the
    </li>
</ol>


<h4>
    Algebraic Solutions
</h4>

<h4>
    Proportionality
</h4>

<p>
    There are two types of proportionality you see in the
    equations for energy:
    <strong>direct</strong> proportionality
    and <strong>square</strong> proportionality.
</p>

<ol>
    <li data-answer = '20'>
        A and B are directly proportional.
        If A is equal to 10 and then B is doubled,
        what is the new value of B?
    </li>
    <li data-answer = '15'>
        C and D are directly proportional.
        If C is equal to 5 and D is tripled,
        what is the new value of C.
    </li>
    <li data-answer = '32'>
        E is equal to the <emph>square</emph> of F.
        If E is equal to 8 and F is doubled,
        what is the new value of E?
    </li>
    <li data-answer = '900'>
        G is equal to the <emph>square</emph> of H.
        If G is equal to 100 and H is tripled,
        what is the new value of G?
    </li>
</ol>

<p>
    Identify the proportionality relationship
    between each variable and the type of energy:
</p>

<ol>
    <li data-answer = 'direct'>
        Kinetic energy and mass.
    </li>
    <li data-answer = 'square'>
        Kinetic energy and speed.
    </li>
    <li data-answer = 'direct'>
        Gravitational potential energy and mass.
    </li>
    <li data-answer = 'direct'>
        Gravitational potential energy and height.
    </li>
    <li data-answer = 'direct'>
        Elastic potential energy and spring constant.
    </li>
    <li data-answer = 'square'>
        Elastic potential energy and spring displacement \( x - x_0 \).
    </li>
</ol>