



<h3>
    Using Conservation of Energy
    To Analyze a Ball Rolling Down a Ramp
</h3>

<p>
    In this section,
    we are going to use the Law of Conservation of Energy
    and our knowledge of Kinetic and Gravitational Potential Energy
    to determine information about objects moving downward.
</p>


<img src = '/podAssets/mechanics/conservation_of_energy_quantitative/ramp_pic_1.png' height = '500px' width = 'auto'/>

<h5>
    Determining Energy at Each Point:
</h5>
<p>
    Fill out the following table.
    Remain that the total energy of this system remains the same.
</p>

<table>
    <tr>
        <th>Point</th>
        <th>KE (J)</th>
        <th>GPE (J)</th>
        <th>Total Energy (J)</th>
    </tr>
    <tr>
        <th>A</th>
        <td>0</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>B</th>
        <td>10</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>C</th>
        <td></td>
        <td>69</td>
        <td></td>
    </tr>
    <tr>
        <th>D</th>
        <td>49</td>
        <td>49</td>
        <td></td>
    </tr>
    <tr>
        <th>E</th>
        <td></td>
        <td>37</td>
        <td></td>
    </tr>
    <tr>
        <th>F</th>
        <td>87</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>G</th>
        <td></td>
        <td>0</td>
        <td></td>
    </tr>
</table>

<h5>
    Determining the Mass of the Ball:
</h5>
<p>
    Focus now exclusively on point A.
    What is the height at point A? What is the gravitational potential energy at point A?
</p>

<p>
    Use the information you know on point A to determine the <emph>mass</emph>
    of the rolling ball:
    {{>formulaSolvingTable}}
</p>

<p>
    The mass of the ball <emph>does not change</emph> as the ball rolls down the ramp.
    Therefore, we can use this information to figure out information about other points.
</p>

<h5>
    Information about Specific Points
</h5>

<p>
    At point B, what is the kinetic energy of the ball?
    <br>
    Use this information to find the speed of the ball at point B:
    {{>formulaSolvingTable}}
</p>

<p>
    At point D, what is the gravitational potential energy of the ball?
    <br>
    Use this information to find the height of the ball at point D:
    {{formulaSolvingTable}}
</p>

<h5>
    Analyzing Every Point:
</h5>

<p>
    Repeat the process above in order to find the speed and the mass
    of the ball at each point.
    Note that you have already found the speed at point B and the
    height at point D. You can fill those two answers in right away,
    then repeat the process to find the speed and height at each point.
</p>

<table>
    <tr>
        <th>Point</th>
        <th>Speed (m/s)</th>
        <th>Height (m)</th>
    </tr>
    <tr>
        <th>A</th>
        <td></td>
        <td>20</td>
    </tr>
    <tr>
        <th>B</th>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>C</th>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>D</th>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>E</th>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>F</th>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>G</th>
        <td></td>
        <td></td>
    </tr>
</table>