<p class = 'formula'>
    $$
    EPE = \frac{1}{2} k \left( x - x_0 \right)^2
    $$
</p>

<table>
    <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>SI Unit</th>
    </tr>
    <tr>
        <td>\( EPE \)</td>
        <td>Elastic Potential Energy</td>
        <td>Joules (J)</td>
    </tr>
    <tr>
        <td>\( k \)</td>
        <td>Spring Constant</td>
        <td>Newtons/meter (N/m)</td>
    </tr>
    <tr>
        <td>\( x \)</td>
        <td>Length of Spring</td>
        <td>meters (m)</td>
    </tr>
    <tr>
        <td>\( x_0 \)</td>
        <td>Equilibrium Length of Spring</td>
        <td>meters (m)</td>
    </tr>
</table>

<p>
    Every spring is defined by two crucial quantities,
    its <strong>spring constant</strong>
    and its <strong>equilibrium length</strong>.
    The spring constant is a measure of how tight a spring is,
    a higher spring constant indicating a very tough spring.
    The equilibrium length is the length at which a spring
    exerts no force and has not elastic potential energy.
    If the spring is <emph>compressed</emph> to less than its equilibrium length
    or <emph>stretched</emph> to greater than its equilibrium length,
    it will exert a force and begin to possess elastic potential energy.
</p>


<p>
    Consider a horizontal spring with a spring constant of 50 N/m and
    an equilibrium length of 0.8 meters.
    It is attached to a mass of 0.5 kg.
    The mass of the spring is negligible (otherwise we would need to consider its kinetic energy),
    and the surface is frictionless.
</p>
<div id = 'springUnstretched'></div>

<p>
    At this initial point, the mass-spring system has neither elastic potential nor kinetic energy.
    However, somebody then arrives and stretches the spring until it has a length of 1.4 meters
    and lets it go!
    The spring begins oscillating back and forth. Analyze the energy of the spring-mass system
    at several different points.
</p>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'md-col-6' id = 'springA' style = 'text-align: center'>A<br></div>
        <div class = 'md-col-6' id = 'springB' style = 'text-align: center'>B<br></div>
    </div>
    <div class = 'row'>
        <div class = 'md-col-6' id = 'springC' style = 'text-align: center'>C<br></div>
        <div class = 'md-col-6' id = 'springD' style = 'text-align: center'>D<br></div>
    </div>
    <div class = 'row'>
        <div class = 'md-col-6' id = 'springE' style = 'text-align: center'>E<br></div>
        <div class = 'md-col-6' id = 'springF' style = 'text-align: center'>F<br></div>
    </div>
</div>

<p>
    Assuming that no work is done on the mass-spring system as it oscillates, fill out the table below to
    analyze the mass-earth system.
    Note that when no velocity arrow is pictured, the mass is momentarily stationary.
</p>

<div id = 'springTable'></div>

<h4>
    Answers
</h4>

<div id = 'springTableAnswers'></div>

<script>
    let springUnstretched = new HorizontalSpringProblem(0.8, true);
    $("#springUnstretched").append(springUnstretched.drawCanvas(0.8, '0.8 m'));

    let springA = new HorizontalSpringProblem(0.8, true);
    let springB = new HorizontalSpringProblem(0.8, true);
    let springC = new HorizontalSpringProblem(0.8, true);
    let springD = new HorizontalSpringProblem(0.8, true);
    let springE = new HorizontalSpringProblem(0.8, true);
    let springF = new HorizontalSpringProblem(0.8, true);

    $("#springA").append(springA.drawCanvas(1.4, '1.4 m'));
    $("#springB").append(springB.drawCanvas(0.8, '0.8 m', 'left', 'v', 1));
    $("#springC").append(springC.drawCanvas(0.2, '0.2 m'));
    $("#springD").append(springD.drawCanvas(0.8, '0.8 m', 'right', 'v', 1));
    $("#springE").append(springE.drawCanvas(1.4, '1.4 m'));
    $("#springF").append(springF.drawCanvas(1.0, '1.0 m', 'left', 'v', 0.94));


    let springTable = new EnergyTable(6, ['length','speed','ke','epe','total_e']);
    let springTableAnswers = new EnergyTable(6, ['length','speed','ke','epe','total_e']);
    springTableAnswers.addInfoToRow('A',[1.4,0,0,9,9]);
    springTableAnswers.addInfoToRow('B',[0.8,3,9,0,9]);
    springTableAnswers.addInfoToRow('C',[0.2,0,0,9,9]);
    springTableAnswers.addInfoToRow('D',[0.8,3,9,0,9]);
    springTableAnswers.addInfoToRow('E',[1.4,0,0,9,9]);
    springTableAnswers.addInfoToRow('F',[1.0,2.83,8,1,9]);
    $("#springTable").append(springTable.draw(800,400));
    $("#springTableAnswers").append(springTableAnswers.draw(800,400));
</script>

