<p class = 'formula'>
    $$
    EPE = \frac{1}{2} k \left( x - x_0 \right)^2
    $$
</p>

<table>
    <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>SI Unit</th>
    </tr>
    <tr>
        <td>\( EPE \)</td>
        <td>Elastic Potential Energy</td>
        <td>Joules (J)</td>
    </tr>
    <tr>
        <td>\( k \)</td>
        <td>Spring Constant</td>
        <td>Newtons/meter (N/m)</td>
    </tr>
    <tr>
        <td>\( x \)</td>
        <td>Length of Spring</td>
        <td>meters (m)</td>
    </tr>
    <tr>
        <td>\( x_0 \)</td>
        <td>Equilibrium Length of Spring</td>
        <td>meters (m)</td>
    </tr>
</table>

<p>
    Every spring is defined by two crucial quantities,
    its <strong>spring constant</strong>
    and its <strong>equilibrium length</strong>.
    The spring constant is a measure of how tight a spring is,
    a higher spring constant indicating a very tough spring.
    The equilibrium length is the length at which a spring
    exerts no force and has not elastic potential energy.
    If the spring is <emph>compressed</emph> to less than its equilibrium length
    or <emph>stretched</emph> to greater than its equilibrium length,
    it will exert a force and begin to possess elastic potential energy.
</p>


<p>
    Consider a horizontal spring with
    an equilibrium length of 0.4 meters.
    It is attached to a mass of 2 kg.
    The mass of the spring is negligible (otherwise we would need to consider its kinetic energy),
    and the surface is frictionless.
</p>
<div id = 'springUnstretched'></div>

<p>
    Consider the energy of the mass-spring system at the following points:
</p>


<script>
    let springUnstretched = new SpringProblem();

</script>

