<h5>
    Some notes on these problems.
</h5>
<p>
    These are very long problems because I want you to learn how to fully
    and completely analyze a situation using the principles of energy.
    Along with dynamics and kinematics,
    energy is one of the key concepts physicists use to analyze the mechanical world.
</p>
<p>
    Throughout the problems I included some notes about proper explanation and proper notation.
    Please seek to always use and understand proper notation.
    One key principle introduced is that a variable alone is considered a variable but a variable
    with a subscript is a specific value of that variable.
</p>

<p>
    Whenever using the conservation of energy, you are typcially makign up new equations.
    It is important to <emph>always explicitly</emph> cite the physical principle used to invent the equation.
    If you use the conservation of energy to derive new equations,
    then always state "This equation is true because no work is done on the system and the total energy of the
    system remains constant."
</p>

<p>
    In this page, you will derive several new functions.
    Whenever deriving a new function, the first thing you should do is check that it is dimensionally correct.
    The second thing you should do is to test your function on known and/or obvious values
    to make sure it returns the values you expect.
    These checks are a part of this activity.
</p>

<h3>
    Problem 1: Falling Object
</h3>
<p>
    A person drops an object move mass \( m \) from a cliff of height \( y_0 \) as depicted below.
    Consider the height = 0 point to be the ground.
</p>
<img src = '/podAssets/mechanics/conservation_of_energy_quantitative/vertical_dropped.jpg' height = '300px' width = 'auto'/>
<ol>
    <li>
        Write a symbolic formula for the <strong>Total Energy</strong>
        of the object-earth system in terms of the variables stated at several different points:
        <ol type = 'A'>
            <li>
                Immediately after the mass is dropped,
                when its height is \( y_0 \) and it has no speed.
            </li>
            <li>
                When the mass is halfway down its fall.
                Its height is half the original height and its speed is
                defined as
                \( v_{\text{half}} \).
            </li>
            <li>
                Immediately before the mass strikes the ground.
                At this point, the height is 0 and its speed is \( v_{\text{max}} \).
            </li>
        </ol>
    </li>
    <li>
        All of the values for total energy of the object-earth system determined above are equal
        because no work is done on the system.
        When inventing a new formula, it is absolutely crucial that you <emph>explicitly</emph> cite
        the laws of science that make this formula valid.
        To this end, please write a new equation that sets
        all the values above equal and copy the statement "Because no work is done on the object-earth system"
        next to your formula.
    </li>
    <li>
        Use the equality determined above to identify new formulas for key quantities in this situation:
        <ol type = 'a'>
            <li>
                Derive a formula for \( v_{\text{max}} \) in terms of \( y_0 \) and \( g \), the free-fall acceleration on the planet.
                Prove that your formula is dimensionally correct.
            </li>
            <li>
                Derive a formula for \( v_{\text{half}} \) in terms of \( y_0 \) and \( g \).
                Prove that your formula is dimensionally correct.
            </li>
            <li>
                Derive a relationship between \( v_{\text{max}} \) and \( v_{\text{half}} \).
                Is the relationship you derived intuitive?
            </li>
        </ol>
    </li>
    <li>
        Now, consider some random, undetermined point R in the path of the ball's fall.
        At point r, the height of the ball is given by \( y \) and the speed by \( v \).
        In problems above, subscripts were used to indicate specific values of \( y \) and \( v \),
        but here no subscripts are used to indicate that \( y \) and \( v \) are variables.
        Write an expression for the total energy of the object-earth system at point R.
    </li>
    <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/vertical_dropped_r.jpg' height = '300px' width = 'auto'/>
    <li>
        Using the expression above, derive a formula for \( v \) in terms of \( y \), \( y_0 \), and \( g \).
        Write your equation as $$ v(y) = ... $$
        This notation indicates that you are solving for the speed \( v \) as a function of the vertical position \( y \)
        and that \( y_0 \) and \( g \) are constant values within this function.
    </li>
    <li>
        Prove that the function you determined for \( v(y) \) is dimensionally correct.
    </li>
    <li>
        To test your function, plug in key values of \( y \) and see if you get the values you should.
        <ul>
            <li>
                Find \( v \left( y = y_0 \right) \). Your function should return a value of 0.
            </li>
            <li>
                Find \( v \left( y = y_0 / 2 \right) \). Your function should return the value of \( v_{\text{half}} \) determiend above.
            </li>
            <li>
                Find \( v \left( y = 0 \right) \). Your function should return the value of \( v_{\text{max}} \) determined above.
            </li>
        </ul>
    </li>
</ol>


<h3>
    Problem 2: Object Thrown Directly Upward
</h3>
<p>
    A person throws some ball of mass \( m \) vertically upward at a speed \( v_i \).
    When he throws it, the ball is at a vertical position \( y_i \).
    Ignore air resistance and assume that no work is done on the ball-earth system.
    Please consider height = 0 to be the ground.
</p>
<img src = '/podAssets/mechanics/conservation_of_energy_quantitative/vertical_thrown_up.jpg' height = '300px' width = 'auto'/>
<ol>
    <li>
        Write an expression for the total energy of the ball-earth system at
        several different points in terms of the variables stated.
        Note that the kinetic energy formula includes speed, not velocity,
        because it does not depend upon the direction the ball is moving.
        Thus, an ball moving up and an object moving down at the same speed have the same kinetic energy.
        <ol type = 'A'>
            <li>
                When the ball is first let go.
            </li>
            <li>
                When the ball is at its highest point.
                At this point, it is momentarily stopped (speed = 0)
                and its height is given by \( y_{\text{max}} \).
            </li>
            <li>
                When the ball falls back past the point it was let go.
                Frictionless projectile motion is always symetrical,
                so at this point the speed is the same as the initial speed
                and the height is the same as the initial height.
                The only difference is that the object is now moving downward, not upward.
            </li>
            <li>
                Immediately before the ball strikes the ground.
                At this point, its vertical position is 0 and its speed is given by \( v_{\text{max}} \).
            </li>
        </ol>
    </li>
    <li>
        Connect these expressions to create an equation
        based on the conservation of energy.
        State explicitly why this equation is true.
        Remove any redundant peices of your equation.
    </li>
    <li>
        Use the equation above to derive new formulas for key quantities:
        <ol type = 'a'>
            <li>
                Determine a formula for \( y_{\text{max}} \) in terms of \( y_i \), \( v_i \),
                and \( g \).
                Prove your formula is dimensionally correct.
            </li>
            <li>
                Determine a formula for \( v_{\text{max}} \) in terms of \( y_i \), \( v_i \), and \( g \).
                Prove your formula is dimensionally correct.
            </li>
        </ol>
        <li>
            Now consider some random point R in the ball's flight.
            At point R, the speed is given by \( v \) and the vertical position by \( y \).
            Note that because these values do not have subscripts, they represent variable values, not specific values.
            Write an expression for the total energy of the ball-earth system at point R
        </li>
    <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/vertical_thrown_up_r.jpg' height = '300px' width = 'auto'/>
    <li>
            Use the expression above to derive a function \( v(y) \) for the speed in terms of vertical position.
            Your function should include constant values \( y_i \), \( v_i \), and \( g \).
            Prove your function is dimensionally correct.
        </li>
        <li>
            Test your function on key known values:
            <ul>
                <li>
                    \( v \left( y = y_i \right) \) should return \( v =  v_i \).
                </li>
                <li>
                    \( v \left( y = y_{\text{max}} \right) \), where \( y_{\text{max}} \) was determined above,
                    should return \( v = 0 \).
                </li>
                <li>
                    \( v \left( y = 0 \right) \) should return \( v = v_{\text{max}} \),
                    where \( v_{\text{max}} \) was determined above.
                </li>
            </ul>
        </li>
</ol>


<h3>
    Problem 3: Horizontal Spring
</h3>
<p>
    A spring with spring constant \( k \) and equilibrium length \( x_0 \)
    is attached to a mass of \( m \).
    Somebody pulls the spring back to a length \( x_{\text{max}} \) and lets go.
    Initially, the mass is not moving.
    Assume the spring is frictionless and massless.
</p>
<ol>
    <li>
        Write expressions representing the total energy of the block-spring system
        at several different points in the motion of the block:
        <ol type = 'A'>
            <li>
                Initially, when it is not moving and the length of the spring is \( x_{\text{max}} \).
                <br>
                <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/horizontal_spring_a_e.jpg' width = '400px' height = 'auto'/>
            </li>
            <li>
                When the block, after having being let go, passes through the equilibrium position
                of the spring. At this point, the speed of the block is \( v_{\text{max}} \)
                and the length of the spring is \( x_0 \).
                <br>
                <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/horizontal_spring_b.jpg' width = '300px' height = 'auto'/>
            </li>
            <li>
                When the sping is at its maximum compressions.
                At this point, the block is momentarily stationary and the length of the spring is \( x_{\text{min}} \).
                <br>
                <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/horizontal_spring_c.jpg' width = '200px' height = 'auto'/>
            </li>
            <li>
                When the block, having reversed direction, passes back through the equilibrium point.
                <br>
                <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/horizontal_spring_d.jpg' width = '300px' height = 'auto'/>
            </li>
            <li>
                When the block returns to its the initial position.
                <br>
                <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/horizontal_spring_a_e.jpg' width = '400px' height = 'auto'/>
            </li>
        </ol>
    </li>
    <li>
        Set the expressions above equal to create a large equation explaining the motion of the spring-block system.
        Write a sentence explaining why such an equation is valid.
        Eliminate any redundancies in the equation
    </li>
    <li>
        Use the equation to derive new formulas for key variables.
        <ol type = 'a'>
            <li>
                Derive a formula for \( v_{\text{max}} \) in terms of \( m \), \( k \), \( x_0 \), and \( x_{\text{max}}  \).
                Prove your formula is dimensionally correct.
            </li>
            <li>
                Derive a formula for \( x_{\text{min}} \) in terms of \( x_{\text{max}} \) and \( x_0 \).
                The minimum length should be the same distance from equilibrium as the maximum length.
                Show that your formula reflects this.
            </li>
        </ol>
    </li>
    <li>
        Now, consider some random point R in the motion of the block.
        At point R, the length of the spring is given by \( x \) and the speed of the block is given by \( v \).
        The variables are written without subscripts, indicating they refer to any value of horizontal position and speed,
        not specific values.
        <br>
        <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/horizontal_spring_r.jpg' width = '319px' height = 'auto'/>
        <br>
        Determine an expression for the total energy of the block-spring system at point R.
    </li>
    <li>
        Use the expression above to derive a function \( v(x) \)
        for speed in terms of horizontal position that includes constant values
        \( m \), \( k \), \( x_0 \), and \( x_{\text{max}} \).
    </li>
    <li>
        Prove that the function you derived in dimensionally correct.
    </li>
    <li>
        Demonstrate that the function you derived is logical by plugging in the information that you already know.
        <ul>
            <li>
                Show that \( v \left( x = x_{\text{max}} \right) = 0. \)
            </li>
            <li>
                Show that \( v \left( x = x_{\text{min}} \right) = 0. \)
            </li>
            <li>
                Show that \( v \left( x = x_0 \right) = v_{\text{max}} \)
            </li>
        </ul>
    </li>
</ol>


<h3>
    Problem 4: Vertical Spring
</h3>

<p>
    A spring with spring constant \( k \) and equilibrium length \( y_{\text{eq}} \) is hanging vertically.
    Somebody attaches a mass \( m \) to the end of the spring, and as a result the spring
    stretches to some length \( y_0 \) that is greater than its equilibrium length \( y_{\text{eq}} \).
    Assume the spring is both massless and frictionless.
    Free-fall acceleration is given by \( g \).
    You will consider the motion of the mass-spring-earth system, which has three types of energy.
    For this problem, consider the zero height and vertical origin to be the ceiling to which the spring is attached.
    Note that this means that all values of gravitational potential energy will be negative. This is okay.
</p>
<h5>
    Preparation
</h5>
<ol>
    <li>
        Draw a qualitative free-body diagram of the mass at rest.
        Name each force and give the direction and agent of each force.
    </li>
    <li>
        Write the magnitude of each force in terms of known quantities.
        The magnitude of the force of a (vertical) spring is given by Hooke's Law:
        $$
        F(y) = k \left| y - y_{\text{eq}} \right|
        $$
        In which \( k \) is the spring constant of the spring,
        \( y \) is the length of the spring,
        and \( y_{\text{eq}} \) is the equilibrium length of the spring.
        Both \( k \) and \( y_{\text{eq}} \) are constant properties of the spring,
        but the length of the spring \( y \) can change.
    </li>
    <li>
        The equilibrium position of the system is the point
        at which the net force acting on the mass is zero.
        Determine the equilibrium position of the mass \( y_0 \) in terms of \( k \), \( m \), \( g \),
        and the equilibrium length of the spring \( y_{\text{eq}} \).
        Prove your equation is dimensionally correct.
    </li>
</ol>
<h5>
    The Problem
</h5>
<p>
    Somebody pulls the mass downward until it is a distance \( y_{\text{max}} \) below the ceiling.
    The spring is now very stretched.
    The person lets go, and the mass begins to oscillate up and down on the spring.
</p>
<ol>
    <li>
        Determine expressions for the total energy of the mass-spring-earth system at
        several different points in the motion of the block:
        <ol type = 'A'>
            <li>
                Initially, when the mass a distance \( y_{\text{max}} \) below the ceiling and is momentarily stationary.
                Determine total energy of the system in terms of \( m \), \( g \), \( k \), \( y_{\text{max}} \), and \( y_{\text{eq}} \).
                <br>
                <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/vertical_spring_a_e.jpg' height = '400px' width = 'auto'/>
            </li>
            <li>
                When the mass, having been let go, passes upward through the equilibrium position of the mass-spring-earth system,
                given by the value \( y_0 \) derived above.
                Note that this point is <emph>NOT</emph> the equilibrium length of the spring \( y_{\text{eq}} \).
                At this point, the mass is moving at its highest speed, given by \( v_{\text{max}} \).
                Please write your expression for total energy at this point in terms of \( k \), \( y_{\text{eq}} \), \( m \), \( g \), \( y_0 \), and \( v_{\text{max}} \).
                Then, substitute the value for \( y_0 \) determined above.
                <br>
                <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/vertical_spring_b.jpg' height = '300px' width = 'auto'/>
            </li>
            <li>
                When the mass is at its highest point, \( y_{\text{min}} \). At this point,
                the mass is momentarily stationary.
                Determine total energy of the system in terms of \( m \), \( g \), \( k \), \( y_{\text{min}} \), and \( y_{\text{eq}} \).
                <br>
                <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/vertical_spring_c.jpg' height = '200px' width = 'auto'/>
            </li>
            <li>
                When the mass passes a second time, downward, through the equilibrium position \( y_0 \).
                <br>
                <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/vertical_spring_d.jpg' height = '300px' width = 'auto'/>
            </li>
            <li>
                When the mass returns to its initial position \( y_{\text{max}} \).
                <br>
                <img src = '/podAssets/mechanics/conservation_of_energy_quantitative/vertical_spring_a_e.jpg' height = '400px' width = 'auto'/>
            </li>
        </ol>
    </li>
    <!--
    <li>
        Assume no work is done on the mass-spring-earth system,
        and use the Conservation of Energy to determine equations for key values:
        <ol type = 'a'>
            <li>
                Determine an equation for \( y_{\text{min}} \) in terms of
                \( y_{\text{max}} \) and \( y_0 \).
                \( y_{\text{min}} \) and \( y_{\text{max}} \) should be equidistant from \( y_0 \).
                Demonstrate this is the case.
            </li>
            <li>
                Determine an equation for \( v_{\text{max}} \) in terms of \( y_{\text{max}} \), \( k \), \( y_{\text{eq}} \), \( m \), and \( g \).
                Prove your equation is dimensionally correct.
            </li>
            <li>
                Determine a new more parsimonious equation for \( v_{\text{max}} \).
                Parsimonious in this context means containing fewer input variables.
                Use your equation for \( y_0 \) from the preparation section to derive a new formula for \( v_{\text{max}} \)
                in terms of only
                \( y_{\text{max}} \), \( k \), \( y_{\text{eq}} \), \( m \), and \( g \).
                Demonstrate that your formula is dimensionally correct.
            </li>
        </ol>
    </li>
    <li>
        Consider some random point R at which the vertical position of the mass is \( y \)
        and the speed of the mass is \( v \).
        Write an expression for the total energy of the mass-spring-earth system
        at point R.
    </li>
    <li>
        Use your expression above to derive a function \( v(y) \)
        for the speed of the mass in terms of the vertical position of the mass
        with constants \( k \), \( y_{\text{eq}} \), \( m \), \( g \), and \( y_{\text{max}} \).
        Demonstrate that your function is dimensionally correct.
    </li>
    <li>
        Demonstrate that your function is consistent with information already determined:
        <ul>
            <li>
                \( v \left( y  =  y_{\text{max}} \right) = 0. \)
            </li>
            <li>
                \( v \left( y  =  y_{\text{min}} \right) = 0. \)
            </li>
            <li>
                \( v \left( y  =  y_0 \right)  = v_{\text{max}}. \)
            </li>
        </ul>
    </li>
    -->
</ol>


<h3>
    Answers
</h3>

<h5>
    Problem 1: Falling Object
</h5>
<ol>
    <li>
        <ol type = 'A'>
            <li>
                \( \text{Energy} = m g y_0 \)
            </li>
            <li>
                \( \text{Energy} = \frac{1}{2}m g y_0 + \frac{1}{2} m v_{\text{half}}^2 \)
            </li>
            <li>
                \( \text{Energy} = \frac{1}{2} m v_{\text{max}}^2 \)
            </li>
        </ol>
    </li>
    <li>
        \( mg y_0 = \frac{1}{2}m g y_0 + \frac{1}{2} m v_{\text{half}}^2 = \frac{1}{2} m v_{\text{max}}^2 \)
        <br>
        This equation is true because no work is done on the object-earth system,
        and so the total energy of the system is equal at all points.
    </li>
    <li>
        <ol type = 'a'>
            <li>
                \( v_{\text{max}} = \sqrt{2 g y_0} \)
            </li>
            <li>
                \( v_{\text{half}} = \sqrt{g y_0} \)
            </li>
            <li>
                \( v_{\text{half}} = \frac{v_{\text{max}}}{\sqrt{2}} \) <br>
                I personally do not find this relationship intuitive,
                because the speed halfway down is greater than half the total speed.
                But you can decide for yourself!
            </li>
        </ol>
    </li>
    <li>
        \( \text{Energy} = \frac{1}{2} m v^2 + m g y \)
    </li>
    <li>
        \( m g y_0 = \frac{1}{2} m v^2 + m g y  \)
        <br>
        \( v(y) = \sqrt{2 g \left( y_0 - y \right) } \)
    </li>
</ol>

<h5>
    Problem 2: Object Thrown Directly Upward
</h5>

<ol>
    <li>
        <ol type = 'A'>
            <li>
                \( \text{Energy} = \frac{1}{2} m v_i^2 + m g y_i \)
            </li>
            <li>
                \( \text{Energy} =  m g y_{\text{max}} \)
            </li>
            <li>
                \( \text{Energy} =  \frac{1}{2} m v_i^2 + m g y_i \)
            </li>
            <li>
                \( \text{Energy} = \frac{1}{2} m v_{\text{max}}^2 \)
            </li>
        </ol>
    </li>
    <li>
        \( \frac{1}{2} m v_i^2 + m g y_i =  m g y_{\text{max}} = \frac{1}{2} m v_{\text{max}}^2 \)
        <br>
        This equation is true because no work is done on the ball-earth system,
        and thus the total energy of the system remains constant according to
        the Law of Conservation of Energy.
    </li>
    <li>
        <ol type = 'a'>
            <li>
                \( y_{\text{max}} = \frac{v_i^2}{2g} + y_i \)
            </li>
            <li>
                \( v_{\text{max}} = \sqrt{v_i^2 + 2 g y_i} \)
            </li>
        </ol>
    </li>
    <li>
        \( \text{Energy} = m g y + \frac{1}{2} m v^2 \)
    </li>
    <li>
        \( m g y + \frac{1}{2} m v^2 = \frac{1}{2} m v_i^2 + m g y_i \)
        <br>
        \( v(y) = \sqrt{v_i^2 + 2g\left(y_i - y) \right)} \)
    </li>
</ol>

<h5>
    Problem 3: Horizontal Spring
</h5>
<ol>
    <li>
        <ol type = 'A'>
            <li>
                \( \text{Energy} =  \frac{1}{2} k \left( x_{\text{max}} - x_0 \right)^2  \)
            </li>
            <li>
                \( \text{Energy} =  \frac{1}{2} m v_{\text{max}}^2 \)
            </li>
            <li>
                \( \text{Energy} =   \frac{1}{2} k \left( x_{\text{min}} - x_0 \right)^2  \)
            </li>
            <li>
                \( \text{Energy} =   \frac{1}{2} m v_{\text{max}}^2 \)
            </li>
            <li>
                \( \text{Energy} =  \frac{1}{2} k \left( x_{\text{max}} - x_0 \right)^2 \)
            </li>
        </ol>
    </li>
    <li>
        \( \frac{1}{2} k \left( x_{\text{max}} - x_0 \right)^2 = \frac{1}{2} k \left( x_{\text{min}} - x_0 \right)^2 = \frac{1}{2} m v_{\text{max}}^2 \)
        <br>
        This equation is valid because no work is done on the mass-spring system.
        Thus, according to the Law of Conservation of Energy, the quantities of total energy at each point in time
        must be equal.
    </li>
    <li>
        <ol \type = 'a'>
            <li>
                \( v_{\text{max}} = \sqrt{\frac{k}{m}} \left( x_{\text{max}} - x_0 \right) \)
            </li>
            <li>
                \( x_{\text{min}} = 2 x_0 - x_{\text{max}} \)
            </li>
        </ol>
    </li>
    <li>
        \( \text{Energy} = \frac{1}{2} k \left( x - x_0 \right)^2 + \frac{1}{2} m v^2 \)
    </li>
    <li>
        \( \frac{1}{2} k \left( x - x_0 \right)^2 + \frac{1}{2} m v^2 = \frac{1}{2} k \left( x_{\text{max}} - x_0 \right)^2 \)
    </li>
    <li>
        \( v(x) = \sqrt{\frac{k}{m} \left[ \left( x_{\text{max}} - x_0 \right)^2 - \left( x - x_0 \right)^2 \right] } \)
        <br>
        I would recommend not trying to turn this function into a simpler form by evaluating the squares.
        It is easier to understand conceptually and see the special cases in this form.
    </li>
</ol>

<h5>
    Problem 4: Vertical Spring
</h5>

<h4>
    Preparation
</h4>

<ol>
    <li>
        Gravity acts downward on the mass and its agent is the earth.
        The spring force acts upward on the mass and its agent is the spring.
        Both forces are internal to the mass-spring-earth system, meaning
        they do no work on the system.
    </li>
    <li>
        The magnitude of gravity is \( mg \).
        The magnitude of the spring force is given by \( k \left| y_0 - y_{\text{eq}} \right| \).
        Note that in this equation both \( y_0 \) and \( y_{\text{eq}} \) are negative values,
        and that \( |y_0| > |y_{\text{eq}}| \)
    </li>
    <li>
        Down is defined as the negative direction
        and up is defined as the positive direction.
        The net force at the equilibrium position is given by
        <br>
        \( \Sigma F = 0 = - mg - k \left( y_0 - y_{\text{eq}} \right)  \)
        in which \( y_0 \) is defined as the equilibrium position of the mass
        and \( y_{\text{eq}} \) is the equilibrium length of the spring.
        Note that the force of gravity acts downward and the spring force acts upward,
        but there is a negative sign in front of the spring force because the value
        \( \left( y_0 - y_{\text{eq}} \right) \) will return a negative number.
        <br>
        \( y_0 = y_{\text{eq}} - \frac{mg}{k} \).
    </li>
</ol>
<h4>
    The Problem
</h4>
<ol>
    <li>
        <ol type = 'A'>
            <li>
                \( \text{Energy} =  m g y_{\text{max}} + \frac{1}{2} k \left( y_{\text{max}} - y_{\text{eq}} \right)^2  \)
            </li>
            <li>
                \( \text{Energy} =   m g y_0 + \frac{1}{2} k \left( y_0 - y_{\text{eq}} \right)^2 + \frac{1}{2} m v_{\text{max}}^2 \)
                <br>
                \( \text{Energy} = m g y_{\text{eq}} - \frac{\left( mg \right)^2 }{k} + \frac{1}{2} m v_{\text{max}}^2 \)
            </li>
            <li>
                \( \text{Energy} =  m g y_{\text{min}} + \frac{1}{2} k \left( y_{\text{min}} - y_{\text{eq}} \right)^2  \)
            </li>
            <li>
                \( \text{Energy} = m g y_{\text{eq}} - \frac{\left( mg \right)^2 }{k} + \frac{1}{2} m v_{\text{max}}^2 \)
            </li>
            <li>
                \( \text{Energy} =  m g y_{\text{max}} + \frac{1}{2} k \left( y_{\text{max}} - y_{\text{eq}} \right)^2  \)
            </li>
        </ol>
    </li>
    <li>

    </li>
</ol>
