<p>
    In previous pods, whenever an object has some height above
    the ground, we said it had "gravitational potential energy."
    However, that is not the best way to say it.
    In this pod, we will learn a better way to discuss gravitational potential energy,
    and other forms of energy.
</p>

<h4>
    What is a system?
</h4>

<p>
    In many different parts of physics,
    we consider a "system."
    These facts are important to know about a system:
</p>

<ul class = 'principleList'>
    <li>
        When physicists use the word 'system,' it means we are analyzing
        multiple objects as though they are a single whole.
    </li>
    <li>
        A system is a theoretical construct.
        This means, it is not something your can touch or feel,
        it is a way of mathematically analyzing objects.
        It does not really exist, except in our own analysis.
        Similarly, if we say "Johnny has five apples,"
        the apples actually exist in the real world
        but the number "five" is only a human way of analyzing the apples.
        "Systems" are the same.
    </li>
    <li>
        An object can be in a system or not in the same problem,
        and this simply means you are analyzing it differently.
        For example, imagine I am doing some physics about a Mars Rover
        driving on Mars.
        In one sentence, I might write "The Rover-Mars system,"
        but in the next sentence, I write "The Rover system."
        If so, this is intentional, and I mean something different in each sentence.
    </li>
    <li>
        The most famous example of a system is the Solar Sytem.
    </li>
</ul>

<ol class = 'questionList'>
    <li class="question" data-answer = 'True'>
        The concept of a 'system' is a human construct.
    </li>
    <li class = 'question' data-answer = 'The Mr. Kuncik-earth system.'>
        If I want to describe a system taht describes me and
        the earth, what would I name it?
    </li>
</ol>



<h4>
    What is gravity?
</h4>


<ul class = 'principleList'>
    <li>
        According to Newton's Law of Universal Gravitation,
        all objects with mass are attracted to all other objects with mass.
    </li>
    <li>
        Gravity is always an attraction between <strong>two</strong> objects.
        It exists only if there are two objects.
    </li>
    <li>
        Gravity attracts you to towards the earth
        because the earth has such a large mass.
    </li>
</ul>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'mass...mass'>
        Newton's Law of Universal Gravitation
        states that all objects with ___________
        are attracted to all other objects with __________.
    </li>
    <li class = 'question' data-answer = 'C'>
        According to Newton's Law of Universal Gravitation,
        how many objects do you need in order to have a gravitaitonal force.
        <ol type = 'A'>
            <li>
                Zero
            </li>
            <li>
                One
            </li>
            <li>
                Two
            </li>
            <li>
                Three
            </li>
        </ol>
    </li>
</ol>


<h4>
    How to discuss gravitational potential energy:
</h4>

<ul class = 'principleList'>
    <li>
        Gravitational Potential Energy is the
        <emph>potential</emph> to begin moving
        as a result of gravity.
    </li>
    <li>
        Because gravity only exists if two obejcts attract
        each other, gravitational potential energy
        also exists only if two objects attract each other.
    </li>
    <li>
        No individual object can have gravitational potential energy,
        but only a system of two objects can.
    </li>
</ul>

<h5>
    In space:
</h5>
<p>
    Imagine small two objects close to each other and stationary
    in outer space.
    According to Newton's Theory of Universal Gravitation,
    because both objects have mass, they must be attracted
    by the force of gravity.
    Thus, there must be some gravitation potential energy,
    as the two objects have the <emph>potential</emph>
    to begin moving.
</p>
<p>
    However, which object has the gravitational potential energy?
    Suppose the objects are a table and a chair.
    The table alone, were it not for the chair,
    would not have any gravitation potential energy.
    The chair alone, were it not for the table,
    would not have any gravitational potential energy.
    Thus, neither the table or the chair can have gravitational potential energy.
</p>

<p>
    Therefore, the only correct thing to say is
    that the <strong>table-chair system</strong> has gravitational potential energy.
</p>

<h5>
    On earth:
</h5>
<p>
    All objects on earth are attracted towards the center of the earth
    due to gravity.
    Consider one example: a ball high up on the air.
    The ball is attracted towards the earth due to gravity.
    Therefore, it has gravitational potential energy, because it has the potential
    to start falling down towards the earth.
    But it can't have this energy alone, becuase gravity is an attraction between
    the ball and the earth.
    So we write that the "ball-earth system" has gravitational potential energy.
</p>

<p>
    Imagine you are on the fourth floor of a building.
    Typically, someone would say "You have gravitational potential energy."
    But this is not correct.
    What we call "gravity" here on earth
    is a mutual attraction between a person and the earth.
    It exists only if both the person and the earth are present.
    Therefore, it is incorrect to say that a person has gravitational
    potential energy.
    You must say that the <strong>person-earth system</strong> has gravitational potential energy.
</p>



<ol class = 'questionList'>
    <li class = 'question' data-answer = 'D'>
        If a book at rest on a high shelf, this means that....
        <ol type = 'A'>
            <li>
                The book has gravitational potential energy.
            </li>
            <li>
                The shelf has gravitational potential energy.
            </li>
            <li>
                The earth has gravitational potential energy.
            </li>
            <li>
                The book-earth system has gravitational potential energy.
            </li>
        </ol>
    </li>
    <li class = 'question'>
        A person with a mass of 80 kg
        is standing on a ledge with a height of 10 m.
        A student uses the formula \( GPE = mgh \)
        and concludes:
        "The person has 7840 Joules of Gravitational Potential Energy."
        This is incorrect.
        <ol class = 'subQuestionList' type ='a'>
            <li class = 'subQuestion' data-answer = 'The person-earth system has 7840 Joules of Gravitational Potential Energy.'>
                What should he have written?
            </li>
            <li class = 'questionQuestion' data-answer ='A person alone can never have gravitational potential energy; gravitational potential energy must be shared among two thigns.'>
                Why?
            </li>
        </ol>
    </li>
    <li class = 'question' data-answer = 'A, C: These answers are the reason why you should write the book-earth system.'>
        A book is located on the highest shelf of a bookshelf.
        The statement "The book has gravitational potential energy"
        is not as good as the statement "The book-earth system has gravitational potential energy."
        Check all of the reasons this is true:
        <ol type = 'A'>
            <li>
                Two things are always necessary for gravitational potential
                energy to exist.
                It can never exist with only one thing.
            </li>
            <li>
                The book would not have as much gravitational potential energy
                if were on the second to highest shelf.
            </li>
            <li>
                The book only has gravitational potential energy
                because it is attracted to earth.
            </li>
            <li>
                The book would not have as much gravitational potential energy
                if it had less mass.
            </li>
            <li>
                The book would not have gravitational potential energy
                if it were moving.
            </li>
        </ol>
    </li>
</ol>


<h4>
    How to discuss kinetic energy:
</h4>
<p>
    Coming soon:
</p>

<h4>
    How to discuss both:
</h4>

<p>
    Coming soon:
</p>




<ol class = 'answerList'></ol>