<p>
    The goal of this particular quiz is to use the correct language
    in discussing potential energy.
</p>


<h3>
    Potential Energy of a System
</h3>

<h5>
    Gravitational Potential Energy in Space
</h5>

<p>
    Imagine small two objects close to each other and stationary
    in outer space.
    According to Newton's Theory of Universal Gravitation,
    because both objects have mass, they must be attracted
    by the force of gravity.
    Thus, there must be some gravitation potential energy,
    as the two objects have the <emph>potential</emph>
    to begin moving.
</p>
<p>
    However, which object has the gravitational potential energy?
    Suppose the objects are a table and a chair.
    The table alone, were it not for the chair,
    would not have any gravitation potential energy.
    The chair alone, were it not for the table,
    would not have any gravitational potential energy.
    Thus, neither the table or the chair can have gravitational potential energy.
</p>

<p>
    Therefore, the only correct thing to say is
    that the <strong>table-chair system</strong> has gravitational potential energy.
</p>


<h5>
    Gravitational Potential Energy on Earth
</h5>


<p>
    The same situation applies on earth.
    Imagine you are on the fourth floor of a building.
    Typically, someone would say "You have gravitational potential energy."
    But this is not correct.
    What we call "gravity" here on earth
    is a mutual attraction between a person and the earth.
    It exists only if both the person and the earth are present.
    Therefore, it is incorrect to say that a person has gravitational
    potential energy.
    You must say that the <strong>person-earth system</strong> has gravitational potential energy.
</p>


<h5>
    Kinetic Energy
</h5>



<ol>
    <li>
        If a book at rest on a high shelf, this means that....
        <ol type = 'A'>
            <li>
                The book has gravitational potential energy.
            </li>
            <li>
                The shelf has gravitational potential energy.
            </li>
            <li>
                The earth has gravitational potential energy.
            </li>
            <li>
                The book-earth system has gravitational potential energy.
            </li>
        </ol>
    </li>
    <li>
        A person with a mass of 80 kg
        is standing on a ledge with a height of 10 m.
        A student uses the formula \( GPE = mgh \)
        and concludes:
        "The person has 7840 Joules of Gravitational Potential Energy."
        This is incorrect. What should he have written and why?
    </li>
</ol>


<h3>
    Zero-Point Height
</h3>

<p>
    The formula for gravitational potential energy has a glaring ambiguity:
    $$
    GPE = mgh
    $$
    The glaring ambiguity is the variable \( h \), for height.
    Where is the height measured from?
    From the floor of the room, or the ground, or sea level?
    Could it be measured from the ceiling so everything in the room
    has negative gravitational potential energy?
    Could it be measured from wherever something already is
    so everything has zero gravitational potential energy?
</p>

<p>
    I believe simplest solution is to simply pick one particular vertical point
    to measure height from, called the <strong>zero height</strong>.
    Most problems involving gravitational potential energy have
    an obvious choice for zero height.
    For example, in a problem about an object that falls to the ground,
    the zero height would be the ground.
</p>

<p>
    Many physics textbooks
    indicate no formula for gravitational potential energy \( GPE \)
    but only a formula for change in gravitational potential energy \( \Delta GPE \).
    Change does not depend on where you measure height from.
    $$
    \Delta GPE = m g \Delta y
    $$
    in which \( \Delta y \) represents change in vertical position.
    Note, however, using this formula still requires to select a zero-point height,
    which would be the origin on the y-axis.
</p>

<ol>
    <li>
        Consider a situation and calculate gravitational potential energy
        from several different heights.
        Indicate which choice is the logical.
    </li>
    <li>
        Imagine an object with a mass of 2 kg that falls
        off of some table, and determine its speed
        immediately before striking the ground using the
        Conservation of Energy.
        Demonstrate through multiple examples that the
        choice of zero-height does not indicate
    </li>
</ol>