<h4>
    Formula for energy of a system:
</h4>

<h6>
    Kinetic Energy of a Mass
</h6>
<p class ='equation'>
    $$
    KE = \frac{1}{2} m v^2
    $$
</p>

<h6>
    Gravitational Potential energy of a Mass-Earth System
</h6>
<p class = 'equation'>
    $$
    GPE = mgh
    $$
    or
    $$
    \Delta GPE = m g \delta y
    $$
</p>

<h6>
    Elastic Potential Energy of a Spring
</h6>
<p class = 'equation'>
    %%
    EPE = \frac{1}{2}k \right( x - x_0 \left) ^2
    %%
</p>