<h4>
    Formula for energy of a system:
</h4>

<h6>
    Kinetic Energy of a Mass
</h6>
<p class ='equation'>
    $$
    KE = \frac{1}{2} m v^2
    $$
</p>

<h6>
    Gravitational Potential energy of a Mass-Earth System
</h6>
<p class = 'equation'>
    $$
    GPE = mgh
    $$
    or
    $$
    \Delta GPE = m g \Delta y
    $$
</p>

<h6>
    Elastic Potential Energy of a Spring
</h6>
<p class = 'equation'>
    $$
    EPE = \frac{1}{2} k \left( x - x_0 \right)^2
    $$
</p>


<h4>
    Problems
</h4>

<ol>
    <li>
        A book with a mass of 2.5 kg is resting on
        the floor of a classroom.
        Somebody picks the book up and places it on a table with
        a height of 0.6 m above the ground.
        Calculate the work done on the book-earth system.
    </li>
    <li>
        A spring with spring constant 400 N/m
        is resting horizontally on a table at a length of 70 cm,
        which is its equilibrium length.
        Somebody pulls it to a length of 90 cm.
        (Note that you must convert centimeters to meters to correctly solve the problem in SI units.)
        How much work was done on the spring?
    </li>
    <li>
        A spring with a spring constant of 300 N/m is resting horizontally at its
        equilibrium length of 60 cm and attached to a mass of 2 kg.
        Something happens (you are not sure what), and some time later
        the spring is compressed to a length of 50 cm and the mass
        is moving at a rate of 5 cm/s.
        Determine the total amount of work done on the mass-spring system.
    </li>
    <li>
        A 3 kg block with the ability to move is on a staircase.
        It is 2 meters off the ground and is moving at a speed of 0.4 m/s.
        Sometime later, after some unknown event occurred,
        it is on another step that is 2.4 m of the ground and moving with a
        speed of 0.6 m/s.
        Determine the total amount of work done on the block-earth system.
    </li>
    <li>
        A 0.8 kg ball is at rest on top of a building that is 15 meters tall.
        It falls off, and immediately before striking the ground has a speed of
        9 m/s.
        How much work was done on the ball as it fell?
        What force likely did this work?
    </li>
</ol>

<h4>
    Answers:
</h4>

<ol>
    <li>
        14.7 J
    </li>
    <li>
        8 J
    </li>
    <li>
        1.75 J
    </li>
    <li>
        12.06 J
    </li>
    <li>
        22.8 J
    </li>
</ol>