<p class = 'directions'>
    Please answer each of the questions below.
</p>

<ol>
    <li class = 'mb-3'>
        At what speed do electromagnetic waves move.
    </li>
    <li class = 'mb-3'>
        In physics, what do we call a space with no mater in physics?
    </li>
    <li class = 'mb-3'>
        What do we call a tiny piece of an electromagnetic wave?
    </li>
    <li class = 'mb-3'>
        True or false? Electromagnetic waves of higher frequency move at faster speeds.
    </li>
    <li class = 'mb-3'>
        True or false? All electromagnetic waves move at the same speed.
    </li>
    <li class = 'mb-3'>
        Please fill in the blanks below with the words "electromagnetic" and "mechanical:"
        <br><br>
        ____________ waves are capable of moving through a vacuum, but _____________ waves cannot.
    </li>
    <li class = 'mb-3'>
        True of false:
        All electromagnetic waves are longitudinal.
    </li>
    <li class = 'mb-3'>
        What is one example of a vacuum?
    </li>
</ol>