<p class = 'definition'>
    In a previous pod, we learned the basics of Newton's Third Law.
    In this pod, we will look more at how it applies to real life situations.
</p>


<p class = 'definition' data-word = "Newton's Third Law">
  Whenever A exerts a force on B,
  then B exerts a force on A
  with equal magnitude and opposite direction.
  These two forces are called an <em>action-reaction pair</em>.
</p>

<h4>
  Simple Examples
</h4>

<p>
  Newton's Third Law states that two forces always come in <strong>pairs</strong>,
  which are called <em>action-reaction pairs</em>.
</p>

<!--
here, add questions that ask students to identify the agent, object, magntiude, and direction
of the action froce and the reaction force
-->



<h4>
  Recoil
</h4>

<iframe width="560" height="315" src="https://www.youtube.com/embed/5IGVFs9TYDQ?start=1290" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="videoCredit">
    US National Archives
</p>


<h4>
  Walking:
</h4>

<!-- picture and discussion -->


<p class = 'direction'>
  Explain how Newton's Third Law apples to each situation below.
  When citing the law, specifically use the definition above
  by indicating the agent, object and direction of the action and reaction forces.
</p>

<!---
add precise descriptions to answer
-->

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'People press their legs downward into the ground. The ground presses upward on their body.'>
    Apply Newton's Third Law to explain how people <em>jump</em>.
  </li>
  <li class = 'question' data-answer = 'People push their arms and legs backwards against the water. The water presses their body forwards.'>
    Apply Newton's Third Law to explain how people <em>swim</em>.
  </li>
  <li class = 'question' data-answer = 'The propeller pushes back against the air. The air pushes the plane forward.'>
    Apply Newton's Third Law to explain how a plane with a propeller is pushed forward.
  </li>
</ol>


<h4>
  Rockets
</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/exPsLxr_O10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="videoCredit">
    Associate Press; NASA
</p>


<h4>
  An Advanced Point
</h4>

<p>
  Newton's Third Law states that forces always come in pairs.
  Even though we call them "action-reaction pairs",
  it is important to note that there aren't really two different forces,
  one "action" and another "reaction."
  What's really happening is that two forces occur simultaneously all of the time:
  whenever there is one force, there is always another.
  One force didn't come first and the other second;
  whenever there is one force, the other is there, always.
</p>

<p>
  We call then an "action-reaction pair" because those are the words that Isaac Newton used,
  and the term is intuitive, but that isn't really correct!
  They are simply a pair of forces that exist together.
</p>


<ol class = 'answerList'></ol>
