<p>
    In this diagram, we look more closely at teh <em>simplest</em> of free-body diagrams,
    a book sitting on the table.
</p>



<!--- QUIZ QUESTIONS--->


<p>
    Your friends are having some trouble in physics class.
    They are making arguments that seem to make sense,
    but they aren't getting questions correct!
    Clear up the misconceptions they have.
    There are many ways to answer these questions!
    You will receive full credit for a correct answer that argues based on
    any laws of physics.
</p>
<ol>
   <li>
    Bobby says, "There isn't a force upwards acting on the book.
    Forces need to be pushes or pulls, and the table isn't doing any pushing or pulling.
    It is just holding up the book."
    <ol type = 'a'>
        <li>
            What things did Bobby say that were correct?
        </li>
        <li>
            What things did Bobby say that were incorrect?
        </li>
        <li>
            Bobby doesn't have the correct free-body diagram.
            Draw the correct free-body diagram,
            and identify the issue that Bobby missed.
        </li>
    </ol>
    </li>
    <li>
        Bobby's friend Joey looks at the free-body diagram
        and says
        "Normal Force and Gravity have equal magnitude and opposite direction.
        They must be an action-reaction pair, as described by Newton's Third Law."
        <ol type = 'a'>
            <li>
                What things did Joey say that were correct?
            </li>
            <li>
                What things did Joey say that were incorrect?
            </li>
            <li>
                Identify <em>two</em> action-reaction pairs relevant to this problem.
            </li>
        </ol>
    </li>
    <li>
        [If you don't have #2 correct, this one won't make much sense! So make sure you understand #2 first!]
        Joey's friend Jimmy says takes a look at you're answer to #2, and says
        "Hold on, that can't be correct! I know gravity is caused by the air."
        Is Jimmy's reasoning correct or incorrect? Explain how you could prove how it works to Jimmy.
    </li>
</ol>