<p class = 'definition'>
    The total change in energy of a system
    is equal to the work done on that system.
</p>

<p class="equation">
    $$
    W = E_{\text{tot2}} 1 E_{\text{tot1}}
    $$
    OR
    $$
    KE_1 + GPE_1 + EPE_1 + W = KE_2 + GPE_2 + EPE_2
    $$
</p>




<ol class="questionList">
    <li class="question">
        A spring has a spring constant of 500 N / m.
        A 250 gram mass is currently stationary at the equilibrium position of the spring.
        Somebody does 20 Joules of work on the mass-spring system,
        and the spring displaces by 20 centimeters.
        Determine the:
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '10 J'>
                Final elastic potential energy of the spring.
            </li>
            <li class="subQuestion" data-answer = '10 J'>
                Final kinetic energy of the mass.
            </li>
            <li class="subQuestion" data-answer = '8.94 m/s'>
                Final speed of the mass. [It isn't a realistic value!]
            </li>
        </ol>
    </li>
    <li>
        A weightlifter is holding a weight with a mass of 80 kg.
        He jumps and cleans the weight, while pulling the weight up.
        Assume he has done 500 Joules of work
        in bringing the weight up a height of 0.6 meters.
        What is the speed of the weight at that point?
    </li>
</ol>

<ol class="answerList"></ol>