


<ol class = 'questionList'>
  <li class = 'question'>

  </li>
</ol>


<!--
questions (about 20)

average velocity formula:
- an object is moving with an initial velocity of 3 m/s
t the right and, after a time of 4 seconds has a final velocity of 5 m/s to the left.
Determine the magnitude and direction of the object's displacement.

-An object is moving with an initial velocity of 5 m/s
to the left. After a time of 6 seconds,
it is mmoving witha  velocity of 1 m/s tot he right.
Determine the magnitude and direction of the object's displacement.

[looking for harder points]


An object is moving with an initial veloicty of 4 m/s
to the left. It accelerates at a rate of 2 m/s/s
tot he right for a time of 3 seconds.
determinet he magnitude and direction of its displacement.


An object is moving with an initial veloicty of 6 m/s
to the right. It accelerates at a rate of 0.5 m/s/s
tot he left for a time of 5 seconds.
determinet he magnitude and direction of its displacement.


[interpretive questions:
[this should be focused on the interpretive questions]
- did the object turn around?
- did it end up going the same direction it was initially going, or did it turn around?

- did the object turn around? how did you know?
- how far did it go before turning around?
- how long did it take the object to return to its initial position?
- how far did it go after it returned to its initial position position?

= increasingly, i am finding that this pod should
be organized differently than forward kinematics

]

-->

<h4>
  Questions You Might Ask in Turnaround Problems
</h4>


<h5>
  Did the Object turn around?
</h5>
<ul>
  <li>
    The object turned around if its final velocity
     is not in the same direction as its initial velocity, OR
  </li>
  <li>
    The object turned around if its displacement
    is not in the same direction sa its initial velocity.
    (Which will occur in the subset of the above cases)
  </li>
</ul>


<h5>
  How far did it go before turning around?
</h5>
<ul>
  <li>
    The object turns around when velocity = 0,
    so if you plug in final_velocity = 0,
    then you can find the time and displacement before turning around.
  </li>
</ul>


<h5>
  Did the object reach the point where it started?
  How long did it take to reach there?
  How fast was it moving when it reached there?
</h5>
<ul>
  <li>
    An object reaches the point where it started at displacement = 0.
  </li>
  <li>
    To find the time when it started, plug in displacement = 0 and find the time.
  </li>
  <li>
    If acceleration is constant, it always takes twice as much time tot run around as to return to its initial point.
  </li>
  <li>
    If acceleartion is constant, then when it returns to its initial point,
    its speed will be ideitncal to its initial speed but it will be moving int
    the opposite direction.
  </li>
</ul>


<h5>
  When was the object speeding up?
  When was it slowing down?
</h5>

<ul>
  <li>
    The object is slowing down whenever velcoity and acceleration re in opposite directions.
    In problems where an object turns around, this occurs BEFORE the object turns around.
  </li>
  <li>
    The object is speeding up whenever velcoity and acceleration re in the same directions.
    In problems where an object turns around, this occurs AFTER the object turns around.
  </li>
</ul>
</ul>
