
<p>
  A spaceship on planet Zeryon is flying eastward into enemy territoy at a speed of 500 m/s,
  when a warlock creates a force field around the planet.
  Heretofore, the spaceship experiences
  constant acceleration of 2 m/s/s westward.
  The truly incompetant helmsman does not change course for five minutes.
</p>

<ol type = 'a'>
  <li>
    Draw a quantitative velocity-time graph for the ship
    from \(t = 0\) to \(t = 5 \text{ min} \).
  </li>
  <li>
    Indicate on your graph explicitly where the ship reverses direction.
  </li>
  <li>
    Determine how far the ship travels before reversing direction.
  </li>
  <li>
    Determine the time before the ship is back where it started. Indicate
    this time clearly on your graph.
  </li>
  <li>
    Determine the final displacement of the plane.
  </li>
  <li>
    On your velocity-time graph, indicate three different areas as A, B, and C:
    <ol type = 'A'>
      <li>
        In Area A, the ship is moving eastwards.
      </li>
      <li>
        In Area B, the ship is moving westwards, but is still east of its initial position.
      </li>
      <li>
        In Area C, the ship is moving westwards and is west of its initial position.
      </li>
    </ul>
  </li>
  <li>
    Demonstrate <em>quantitatively</em> that Area A = Area B.
    By referring to the fundamental theorem of calculus as listed above,
    explain why this must be the case.
  </li>
  <li>
    From a kinematic equation, determine the total displacement of the ship after five minutes.
    (This should be already completed.)
    Demonstrate <em>quantitatively</em> that Area C = the toatl displacement of the plane
    after five minutes.
  </li>
</ol>
