<p class="directions">
    Every time you use a formula,
    write that formula before plugging values in.
    Also, write the values you plug in before
    completing any operations.
    Remember that your task is not simply to determine
    an answer but to <emph>argue</emph> an answer.
    (Physics is a writing class!)
</p>

<ol>
    <li>
        <img src = '/images/ramp_problems_3_a_quiz.png' height = '200px' width = 'auto'/>
        A ramp block of ramp 500 grams
        is on a ramp with an angle of incline of 23 degrees.
        The coefficient of static friction is 0.44 and the coefficient
        of kinetic friction is 0.37.
        <ol type = 'a'>
            <li>
                Determine if the box moves.
                Defend your answer through calculations
                and 1 - 3 sentences.
            </li>
            <li>
                Draw an <emph>quantitatively correct</emph>
                free-body diagram of the block.
                Label each force.
                Do not break forces into components in this diagram.
            </li>
            <li>
                Determine the magnitude and direction
                of the net force acting on the block.
            </li>
            <li>
                Determine the magnitude and direction
                of the net acceleration of the block.
            </li>
        </ol>
    </li>
    <li>
        <img src = '/images/ramp_problems_3_b_quiz.png' height = '200px' width = 'auto'/>
        A ramp block of ramp 400 grams
        is on a ramp with an angle of incline of 23 degrees.
        The coefficient of static friction is 0.45 and the coefficient
        of kinetic friction is 0.38.
        <ol type = 'a'>
            <li>
                Determine if the box moves.
                Defend your answer through calculations
                and 1 - 3 sentences.
            </li>
            <li>
                Draw an <emph>quantitatively correct</emph>
                free-body diagram of the block.
                Label each force.
                Do not break forces into components in this diagram.
            </li>
            <li>
                Determine the magnitude and direction
                of the net force acting on the block.
            </li>
            <li>
                Determine the magnitude and direction
                of the net acceleration of the block.
            </li>
        </ol>
    </li>
</ol>