<p class = 'directions'>
    Use the formulas in the box below to solve each of the problems.
    Please show your work.
    In particular, you <i>must</i> write out each equation in full before plugging in numbers
    to solve the equation.
</p>

<table>
    <tr>
        <td class = 'equation'>
            $$ v_f = v_i + a \cdot \Delta t $$
        </td>
        <td class = 'equation'>
            $$ \Delta x = \left( \frac{v_f + v_i}{2} \right) \Delta t $$
        </td>
    </tr>
    <tr>
        <td class = 'equation'>
            $$ \Delta x = v_i \cdot \Delta t + \frac{1}{2} a \left( \Delta t \right)^2 $$
        </td>
        <td class = 'equation'>
            $$ v_f^2 = v_i^2 + 2 a \cdot \Delta x $$
        </td>
    </tr>
</table>
<div class = 'mediumSpace'></div>

<ol>
    <li class = 'bigQuestion'>
        One of Mr. Kuncik's markers falls from rest off of his desk and strikes the ground 0.300 seconds later.
        How tall is Mr. Kuncik's desk?
    </li>
    <div class = 'pageBreak'></div>
    <div class = 'smallSpace'></div>
    <li class = 'bigQuestion'>
        A racecar at rest accelerates to 50.0 m/s in a space of only 100. meters.
        What is its acceleration?
    </li>
    <li class = 'bigQuestion'>
        A driver is not paying attention and realizes he is speeding (badly)
        at a rate of 44.0 m/s while the car 80.0 m in front of him is stopped.
        He tries to slow down, but strikes the car after 2.55 seconds.
        How fast does he collide with the car in front of him?
    </li>
</ol>
