


<ol class="questionList">
    <li class="question">
        <img src = '/asset/3a52bf/torque_1.png' height = '300px' width = 'auto' />
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '\( 40 \; \text{N} \cdot \text{m} \; \odot \)'>
                Determine the magnitude and direction of torque caused by force A.
            </li>
            <li class="subQuestion" data-answer = "\( 35 \; \text{N} \cdot \text{m} \; \odot \)">
                Determine the magnitude and direction of torque caused by force B.
            </li>
            <li class="subQuestion" data-answer = "\( 75 \; \text{N} \cdot \text{m} \; \odot \)">
                Determine the magnitude and direction of the net torque on the rod.
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/asset/3a52bf/torque_2.png' height = '300px' width = 'auto' />
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = "\( 300 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of torque caused by force A.
            </li>
            <li class="subQuestion" data-answer = "\( 800 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of torque caused by force B.
            </li>
            <li class="subQuestion" data-answer = "\( 1100 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of the net torque on the rod.
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/asset/3a52bf/torque_3.png' height = '300px' width = 'auto' />
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = "\( 15 \; \text{N} \cdot \text{m} \; \odot \)">
                Determine the magnitude and direction of torque caused by force A.
            </li>
            <li class="subQuestion" data-answer = "\( 120 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of torque caused by force B.
            </li>
            <li class="subQuestion" data-answer = "\( 105 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of the net torque on the rod.
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/asset/3a52bf/torque_4.png' height = '300px' width = 'auto' />
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = "\( 5.6 \; \text{N} \cdot \text{m} \; \odot \)">
                Determine the magnitude and direction of torque caused by force A.
            </li>
            <li class="subQuestion" data-answer = "\( 81.6 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of torque caused by force B.
            </li>
            <li class="subQuestion" data-answer = "\( 76 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of the net torque on the rod.
            </li>
        </ol>
    </li>
    <li class="question" data-answer = "\( 35 \; \text{N} \cdot \text{m} \; \otimes \)">
        <img src = '/asset/3a52bf/torque_5.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
    </li>
    <li class="question" data-answer = "\( 30 \; \text{N} \cdot \text{m} \; \odot \)">
        <img src = '/asset/3a52bf/torque_6.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
    </li>
    <li class="question" data-answer = "\( 26 \; \text{N} \cdot \text{m} \; \otimes \)">
        <img src = '/asset/3a52bf/torque_7.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
    </li>
    <li class="question" data-answer = "\( 69 \; \text{N} \cdot \text{m} \; \odot \)">
        <img src = '/asset/3a52bf/torque_8.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
    </li>
</ol>

<ol class="answerList"></ol>

