
<h4>
    What is a Charge?
</h4>

<p>
    Imagine we have a large PVC pipe, and we say that the pipe is "negatively charged."
    What exactly does that mean?
    When people draw diagrams of a negatively charged item, they typically look like
    an object with lots of electrons and no protons:
    <!-- -->
    This diagram can be useful to start, but it does not tell the whole story.
    Every single object around you has <em>both</em> protons and electrons.
    In fact, it is billions upon billions upon billions of them,
    more than is ever possible to count! (If you do want to know how many,
    remember counting moles from chemistry class)
</p>
<p>
    The charged PVC pipe in the diagram has many many electrons,
    but also many many protons.
    The reason it is charged is that it has <em>more electrons than protons</em>.
</p>

<p class="definition" data-word = 'Negative Charge'>
    An object with a negative charge has very many protons and very many electrons,
    but it has more electrons than protons.
</p>
<p class="definition" data-word = 'Positive Charge'>
    An object with a positive charge has very many protons and very many electrons,
    but it has fewer electrons than protons.
</p>
<p class="definition" data-word = 'Neutral Charge'>
    An object with a neutral charge has very many protons and very many electrons,
    and it has the same number of protons and electrons.
</p>


<h4>
    How to Acquire a Charge:
</h4>

<p>
    All objects are made of atoms, and those atoms are made of protons, neutrons, and electrons.
    The protons and the neutrons are collected together in the nucleus of an atom,
    and the electrons are in a cloud surrounding the nucleus.
    The particles inside the nucleus (protons and neutrons) <strong>ARE NOT</strong> able
    to easily move. The nucleus holds together and when it moves, the whole atom moves.
    The electrons, outside the nucleus <strong>ARE</strong> able to easily move.
</p>

<p>
    This means that an object can <em>only</em> gain a charge if electrons move.
    It can <em>never</em> gain a charge from protons moving.
</p>

<p class="definition" data-word = 'How to Gain A Negative Charge'>
    A neutral object can gain a negative charge by gianing extra electrons.
</p>
<p class="definition" data-word = 'How to Gain A Positive Charge'>
    An neutral object can gain a positive charge by <strong>losing</strong> electrons,
    so that it no as more protons.
</p>


<ol class = 'questionList'>
  <li class = 'question' data-answer = 'protons...electrons'>
    An object is positively charged if it has more _______________ than _______________.
  </li>
  <li class = 'question' data-answer = 'electrons...protons'>
    An object is negatively charged if it has more _______________ than _______________.
  </li>
  <li class = 'question' data-answer = 'the same number'>
    An object is neutral if it has __________________ of protons and electrons.
  </li>
  <li class = 'question' data-answer = 'It needs to gain electrons.'>
    What needs to happen for a neutral object to gain a negative charge?
  </li>
  <li class = 'question' data-answer = 'It needs to lose electrons. It is not possible to gain protons, only to lose electrons.'>
    What needs to happen for a neutral object to gain a positive charge,
    and remember that protons cannot move!
  </li>
</ol>

<ol class="answerList"></ol>
