<p>
    In this section, you will completely analyze an object that is falling down.
</p>

<p>
    An object of mass \( m \) is dropped from a height \( h \).
    Consider the ground to be the vertical origin,
    the positive direction to be upward,
    and the negative direction to be downward.
</p>


<ol>
    <li>
        Derive an equation for the time that the object
        takes to strike the ground.
        Prove your equation is dimensionally correct.
    </li>
    <li>
        Derive an equation for the speed at which the object
        strikes the ground.
        Prove your equation is dimensionally correct.
    </li>
    <li>
        Derive a function \( y(t) \)
        for the vertical position of the object as a
        function of time.
        State the appropriate domain of this function.
    </li>
    <li>
        Derive a function \( v(t) \)
        for the vertical velocity of the object as a
        function of time.
        State the appropriate domain of this function.
    </li>
    <li>
        Derive a function \( a(t) \)
        for the vertical acceleration of the object as a
        function of time.
        State the appropriate domain of this function.
    </li>
    <li>
        Demonstrate that your functions for \( y(t) \)
        and \( v(t) \) are in compliance with the
        conservation of energy.
    </li>
    <li>
        Draw three kinematic graphs that describe the motion
        of the object,
        a graph for \( x(t) \), \( v(t) \), and \( y(t) \).
    </li>
    <li>
        Draw a free-body diagram of the object.
        By referring directly to Newton's Laws,
        describe if the object should be speeding up, slowing down, or moving
        at a constant speed.
    </li>
    <li>
        Describe if the object is speeding up, slowing down, or moving at a constant speed
        by referring to the velocity-time graph.
    </li>
</ol>