
<h4>
    Algebraic Solutions
</h4>

<p class = 'directions'>
    A cannon fires a cannonball with a speed \( v_{x} \).
    The cannon is positioned on top of a cliff of height \( y_i \).
    The cannonball is in free-fall until it strikes the ground.
    Ignore the effects of air resistance.
    Consider the negative-y direction to be downward,
    and consider \( g \) to be the magnitude of free-fall acceleration.
    Consider the origin to be the point on the ground directly
    below the cannon, so that the initial horizontal position is zero.
</p>

<ul class = 'questionList'>
    <li class = 'question' data-answer = '\( \Delta t = \sqrt{\frac{2 y_i}{g}} \)'>
        Determine the time before the cannonball reaches
        the ground in terms of \( h \) and \( g \).
        Demonstrate that your answer is dimensionally correct.
    </li>
    <li class = 'question' data-answer = '\( \Delta x = v_x \sqrt{\frac{2 y_i}{g}} \)'>
        Determine the horizontal displacement of the cannonball
        before it reaches the ground in terms of \( h \), \( g \), and \( v_{x} \).
        Demonstrate that your answer is dimensionally correct.
    </li>
</ul>

<h4>
    Basic Functions
</h4>

<p class = 'direction'>
    In the next set of problems,
    we will follow the same situation as in the previous problem,
    but craft functions rather than single algebraic solutions.
</p>

<ul class = 'questionList'>
    <li class = 'question' data-answer = '\( y(t) = y_i - \frac{1}{2}gt^2 \)'>
        Derive a function for the vertical position
        of the ball as a function of time: \( y(t) \).
    </li>
    <li class = 'question' data-answer = '\( x(t) = v_x t \)'>
        Derive a function for the horizontal position
        of the ball as a function of time: \( x(t) \).
    </li>
    <li class = 'question'>
        Demonstrate that if you plug in the total time from
        above, your function for vertical position returns \( y = 0 \).
    </li>
    <li class = 'question' data-answer = '\( v_y(t) = -gt  \)'>
        Derive a function for the vertical velocity
        \( v_y(t) \).
    </li>
    <li class = 'question' data-answer = '\( v_x(t) = v_x \)'>
        Derive a (very simple) function for the horizontal
        velocity \( v_x(t) \).
    </li>

    <li class = 'question' data-answer = '\( a_y(t) = -g \)'>
        Derive a (very simple) function for the vertical acceleration
        \( a_y(t) \).
    </li>
    <li class = 'question' data-answer = '\( a_x(t) = 0 \)'>
        Derive a (very very simple) function for the horizontal
        acceleration \( a_x(t) \).
    </li>
</ul>

<h4>
    Function with trigonometry
</h4>


<p class = 'directions'>
    Position, velocity, and acceleration are all vectors,
    meaning that they have both magnitude and direction.
    Vectors can be written in two different forms,
    component form and magnitude-direction form.
    The solutions you derived above are in component form,
    in which you found an individual number for the horizontal
    and vertical dimensions of a vector. In these problems,
    you will derive the magnitude-direction form of one vector,
    the velocity. You can practice the math <a href = '/pod/dynamics/two_dimensional_dynamics/vector_form_conversion'>here</a>.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '\( v(t) = \sqrt{v_x^2 + g^2 t^2} \)'>
        Derive a function for the speed (magnitude of velocity)
        of the cannonball \( v(t) \).
    </li>
    <li class = 'question' data-answer = '\( \theta(t) =  \tan^{-1} \left( \frac{gt}{v_x} \right) \text{ degrees below the +x axis.}\)'>
        Derive a function for the direction of the cannonball's
        velocity \( \theta(t) \), in terms of degrees below the positive-x-axis.
    </li>
</ol>


<h4>
   Energy Functions
</h4>

<p class = 'directions'>
    Assume that the cannonball has mass \( m \).
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '\( KE(t) = \frac{1}{2} m \left( v_x^2 + g^2 t^2\right) \)'>
        Derive a function for the kinetic energy of the
        cannonball \( KE(t) \).
    </li>
    <li class = 'question' data-answer = '\( GPE(t) = m g y_i - \frac{1}{2} m g^2 t^2 \)'>
        Derive a function for the gravitational potential energy
        of the cannonball-earth system \( GPE(t) \).
        Assume that the zero-point height of the system is the ground,
        the point at which \( y = 0 \).
    </li>
    <li class = 'question' data-answer = '\( TE(t) =  \frac{1}{2} m v_x^2 + m g y_i \)'>
        Derive a function for the total energy of the cannonball-earth system
        \( TE(t) \).
        Demonstrate that your result is dimensionally correct.
    </li>
    <li class = 'question' data-answer = 'The Law of Conservation of Energy'>
        What principle states that the total energy of a system
        will remain constant if no work is done on that system?
    </li>
    <li class = 'question' data-answer = 'Yes! \( TE(t) \) returns a constant value.'>
        Does your result follow this principle? How can you tell?
    </li>
</ol>

<h4>
    Answers:
</h4>

<ol class = 'answerList'></ol>