
<h2>
    Physics Coding Challenges 2: Creating Graphs
</h2>

<p>
    Here, your challenge is to create graphs
    that show various topics.
    It is very helpful if you have practiced
    working with both <i>lists</i> and <i>arrays</i>
    in the physics tutorials.
</p>

