
<p class = 'definition' data-word = "Newton's Law of Universal Gravitation (conceptual)">
    All objects with mass are attracted to other objects with mass.
</p>

<p class = 'directions'>
    Each of the phenomena below are examples of gravity.
    For each of the phenomena, refer <emph>explicitly</emph> to Newton's
    Law of Universal Gravitation.
</p>

<ol>
  <li>
    On earth, if you trip over you fall down.
  </li>
  <li>
    The earth orbits the sun.
  </li>
  <li>
    You are gravitationally attracted to the table that you are working on,
    but the attraction is not strong enough to create any impact.
  </li>
</ol>
