<h4>
    Agents and Objects
</h4>

<p>
    Every force has an <em>agent</em> and an <em>object</em>.
</p>

<ul>
    <li>
        The <em>agent</em> of a force is the thing that caused that force.
        For example, if I punch someone in the face, the agent of the force is my fist.
    </li>
    <li>
        The <em>object</em> of a force is the thing the force is acting on.
        For example, if I punch someone in the face, the object of the force is the face.
    </li>
    <li>
        An agent or object must be a physical thing, they cannot be a concept like 'energy', or 'force.'
    </li>
    <li>
        Note that, in all the cases considered in this pod, agent of gravity is the <em>earth</em>.
    </li>
</ul>

<h5>
    Examples:
</h5>
<ul>
    <li>
        Force: I punch someone in the face.
        <ul>
            <li>
                Type of Force: Contact Force
            </li>
            <li>
                Agent: My first
            </li>
            <li>
                Object: The Face
            </li>
        </ul>
    </li>

    <li>
        Force: Gravity Pulls down on a Heavy Barbell
        <ul>
            <li>
                Type of Force: Gravity
            </li>
            <li>
                Agent: The earth
            </li>
            <li>
                Object: The barbell
            </li>
        </ul>
    </li>


    <li>
        Force: A rope pulls on a hanging tire swing.
        <ul>
            <li>
                Type of Force: Tension
            </li>
            <li>
                Agent: The rope
            </li>
            <li>
                Object: The tire
            </li>
        </ul>
    </li>



    <li>
        Force: A book slides on the floor and is affected by friction
        <ul>
            <li>
                Type of Force: Friction
            </li>
            <li>
                Agent: The floor
            </li>
            <li>
                Object: The book
            </li>
        </ul>
    </li>



    <li>
        Force: An archer lets go of an arrow, the strings of the bow push the arrow forward.
        <ul>
            <li>
                Type of Force: Elastic Force
            </li>
            <li>
                Agent: The bowstrings
            </li>
            <li>
                Object: The Arrow
            </li>
        </ul>
    </li>
</ul>

<p class = 'directions'>
    For each force involved, identify the <em>type of force</em>,
    the <em>agent</em> and the <em>object</em>.
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        A swinging door slams into someone's foot.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer ='Contact force'>
                What type of force is this?
            </li>
            <li class = 'subQuestion' data-answer ='The door'>
                What is the agent of the force?
            </li>
            <li class = 'subQuestion' data-answer ="The person's foot">
                What is the object of the force?
            </li>
        </ol>
    </li>

    <li class = 'question'>
        Gravity pulls down a heavy bookshelf.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer ='Gravity'>
                What type of force is this?
            </li>
            <li class = 'subQuestion' data-answer ='The earth'>
                What is the agent of the force?
            </li>
            <li class = 'subQuestion' data-answer ='The bookshelf'>
                What is the object of the force?
            </li>
        </ol>
    </li>


    <li class = 'question'>
        A person is standing on the floor, and the floor is <em>holding the person up</em>.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer ='Normal force'>
                What type of force is this?
            </li>
            <li class = 'subQuestion' data-answer ='The floor'>
                What is the agent of the force?
            </li>
            <li class = 'subQuestion' data-answer ='The person'>
                What is the object of the force?
            </li>
        </ol>
    </li>


    <li class = 'question'>
        A baseball player slides on the ground, and slows down.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer ='Friction'>
                What type of force is this?
            </li>
            <li class = 'subQuestion' data-answer ='The dirt'>
                What is the agent of the force?
            </li>
            <li class = 'subQuestion' data-answer ='The player'>
                What is the object of the force?
            </li>
        </ol>
    </li>


    <li class = 'question'>
        The force that pushes an airplane wing upward.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer ='Lift'>
                What type of force is this?
            </li>
            <li class = 'subQuestion' data-answer ='The air'>
                What is the agent of the force?
            </li>
            <li class = 'subQuestion' data-answer ='The airplane'>
                What is the object of the force?
            </li>
        </ol>
    </li>


    <li class = 'question'>
        The force that causes a boat to float.
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer ='Buoyancy'>
                What type of force is this?
            </li>
            <li class = 'subQuestion' data-answer ='The water'>
                What is the agent of the force?
            </li>
            <li class = 'subQuestion' data-answer ='The boat'>
                What is the object of the force?
            </li>
        </ol>
    </li>
</ol>


<h4>
    The "proper" way to describe forces.
</h4>

<p>
    When describing any force, the most proper way to describe any force in words is this:
</p>

<p>
    The force of ____(type of force)_____ of _____(agent)_____ acting on _____(object)_____
</p>

<p class="directions">
    For each force described, list the force with a statement phrased as the one above.
</p>

<ol class="questionList">
    <li class = 'question' data-answer = 'The force of gravity of the earth on you'>
        The force that is pulling down on you right now.
    </li>
    <li class = 'question' data-answer = 'The normal force of the chair on the student'>
        The force of a chair holding up a student.
    </li>
    <li class = 'question' data-answer = 'The force of thrust of the engine on the airplane'>
        The force of an engine pushing an airplane forward.
    </li>
    <li class = 'question' data-answer = 'The force of drag of the air on the airplane'>
        The force that pushes an airplane backwards.
    </li>
    <li class = 'question' data-answer = 'The force of tension of the rope of the car'>
        The force of a rope pulling on a broken down car.
    </li>
</ol>

<h4>
    Drawing Free-Body Diagrams with an Agent and and Object
</h4>

<p>
    When describing free-body diagrams
</p>

<p class="directions">
    For each object described, draw a free-body diagram <em>and</em> identify the agent and the object of each force.
</p>


<ol class="answerList"></ol>