<p>
    Once upon a time there was a lazy tugboat.
    A large ocean liner was stuck in a harbor, and it was
    the tugboat's job to pull it out.
    "Stop being so lazy and pull me out!" the large ocean liner said.
    "No!" replied the tugboat, "If I pull you, then according to Newton's
    Third Law of Motion, you will just pull me back. We won't go anywhere,
    so why bother?"
</p>

<ol>
    <li>
        Create a free-body diagram of the tugboat and the ocean liner.
        Identify the agent and object of each force.
        Note that this will include some forces less seen int he curriculum:
        <ul>
            <li>
                Thrust is the force of water pushing a boat forward
                when its engines are on.
            </li>
            <li>
                The drag is the force of water resisting the motion of a boat.
            </li>
            <li>
                The buoyancy is the force that keeps a boat afloat.
            </li>
        </ul>
    </li>
    <li>
        Of the all forces in your two free-body diagrams,
        there is only one action-reaction pair.
        Identify the two forces in this pair.
    </li>
    <li>
        Invent magnitudes of the forces in each free-body diagram.
        Your magnitudes should ensure that both the tugboat and the ocean liner
        have a forward net force.
        Your magnitudes do not need to be realistic. I would recommend picking integers less than 10,
        this will make the problem easier!
    </li>
    <li>
        In 1-2 sentences, demonstrate that the magnitudes you invented are in compliance
        with Newton's Third Law.
    </li>
    <li>
        Calculate the net force and show that both the tugboat and the ocean
        liner have a forward net force,
        indicating they will accelerate forward together.
        (They do not need to have the same net force).
    </li>
    <li>
        Referring to your analysis above, create a brief 1-2 sentence reply that the ocean liner could say to the tugboat.
        (Note that this problem exists in a universe in which
        a) boats can talk, b) boats can do physics, and c) they can't all do it well.)
    </li>
</ol>