<ol>
    <li class = 'mb-3'>
        List all seven types of electromagnetic wave from longest wavelength
        to shortest wavelength.
        Spelling must be correct.
    </li>
    <div class = 'container mb-3'>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>1.</div>
            <div class = 'col-2 p-2 border border-dark'>Longest Wavelength</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>2.</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>3.</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>4.</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>5.</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>6.</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>7.</div>
            <div class = 'col-2 p-2 border border-dark'>Shortest Wavelength</div>
        </div>
    </div>
    <li class = 'mb-3'>
        List all 6 colors of visible light from longest wavelength to shortest wavelength.
        You must use the proper physics word for each color.
    </li>
    <div class = 'container mb-3'>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>1.</div>
            <div class = 'col-2 p-2 border border-dark'>Longest Wavelength</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>2.</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>3.</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>4.</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>5.</div>
        </div>
        <div class = 'row'>
            <div class = 'col-4 pr-5 pb-4 border border-dark'>6.</div>
            <div class = 'col-2 p-2 border border-dark'>Shortest Wavelength</div>
        </div>
    </div>
    <li class = 'mb-3'>
        As wavelength becomes shorter, explain what happens to the <emph>frequency</emph> of an electromagnetic wave.
        (Answer in a complete sentence and use proper diction.)
    </li>
    <li class = 'mb-3'>
        As wavelength becomes longer, explain what happens to the <emph>frequency</emph> of an electromagnetic wave.
        (Answer in a complete sentence and use proper diction.)
    </li>
    <li class = 'mb-3'>
        Compare <strong>blue light</strong> and <strong>red light</strong>:
    </li>
    <div class = 'container mb-3'>
        <div class = 'row'>
            <div class = 'col-4 p-2 border border-dark'>
                Chose one of these...
                <ol type = 'A'>
                    <li class = 'mb-2 mt-2'>Blue light has a longer wavelength.</li>
                    <li class = 'mb-2'>Red light has a longer wavelength.</li>
                </ol>
            </div>
            <div class = 'col-4 p-2 border border-dark'>
                ...and one of these.
                <ol type = 'A' start = '3'>
                    <li class = 'mb-2 mt-2'>Blue light has a higher frequency.</li>
                    <li class = 'mb-2'>Red light has a higher frequency.</li>
                </ol>
            </div>

        </div>
    </div>
    <li class = 'mb-3'>
        Compare <strong>radio waves</strong> and <strong>infrared waves</strong>:
    </li>
    <div class = 'container mb-3'>
        <div class = 'row'>
            <div class = 'col-4 p-2 border border-dark'>
                Chose one of these...
                <ol type = 'A'>
                    <li class = 'mb-2 mt-2'>Radio waves have a longer wavelength.</li>
                    <li class = 'mb-2'>Infrared waves have a longer wavelength.</li>
                </ol>
            </div>
            <div class = 'col-4 p-2 border border-dark'>
                ...and one of these.
                <ol type = 'A' start = '3'>
                    <li class = 'mb-2 mt-2'>Radio waves have a higher frequency.</li>
                    <li class = 'mb-2'>Infrared waves have a higher frequency.</li>
                </ol>
            </div>
        </div>
    </div>
    <li class = 'mb-3'>
        Compare <strong>ultraviolet waves</strong> and <strong>X-Rays</strong>:
    </li>
    <div class = 'container mb-3'>
        <div class = 'row'>
            <div class = 'col-4 p-2 border border-dark'>
                Chose one of these...
                <ol type = 'A'>
                    <li class = 'mb-2 mt-2'>Ultraviolet waves have a longer wavelength.</li>
                    <li class = 'mb-2'>X-Rays have a longer wavelength.</li>
                </ol>
            </div>
            <div class = 'col-4 p-2 border border-dark'>
                ...and one of these.
                <ol type = 'A' start = '3'>
                    <li class = 'mb-2 mt-2'>Ultraviolet waves have a higher frequency.</li>
                    <li class = 'mb-2'>X-Rays have a higher frequency.</li>
                </ol>
            </div>
        </div>
    </div>
    <li class = 'mb-3'>
        <strong class = 'text-danger'>DON'T YOU FORGET ABOUT ME!</strong>
        The most dangerous type of electromagnetic wave has the highest frequency.
        Which type of wave is this?
    </li>
</ol>
