<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<ol>
    <li>
        The following free-body diagram illustrates the forces acting on an object.
        <br>
        <img src = '/contentFiles/dynamicsQuizImages/free_body_diagram_three.png' height = '80px' width = 'auto'>
        The mass of the object is 25 kg.
        <ol type = 'a'>
            <li>
                What is the magnitude of net force acting on this object?
            </li>
            <li>
                Find the magnitude of acceleration of this object:
            </li>
        </ol>
    </li>
    <div class = 'smallSpace'></div>
    <li>
        A super-fast toy car is driving forward, and three consequential forces act on the car.
        The toy car has a mass of 3 kg.
        <ul>
            <li>
                The thrust on the car is 80 N foward.
            </li>
            <li>
                The air resistance on the car is 30 N backwards.
            </li>
            <li>
                The friction acting on the car is 14 N backwards.
            </li>
            <li>
                Please ignore all other forces.
            </li>
        </ul>
        <ol type = 'a'>
            <li>
                Draw a free-body diagram of the toy car.
                Please include only the three forces described and no other forces acting on the toy car.
            </li>
            <li>
                What is the magnitude of net force acting on the car?
            </li>
            <li>
                Find the magnitude of acceleration on the car:
            </li>
        </ol>
    </li>
</ol>
