<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<ol>
    <li>
        The following free-body diagram illustrates the forces acting on an object.
        <br>
        <div id = 'problem1'></div>
        <script>
            $("#problem1").append(fastFBD([['left',5],['right',12],['right',10]]).drawCanvas(300));
        </script>
        The mass of the object is 6 kg.
        <ol type = 'a'>
            <li>
                What is the magnitude of net force acting on this object?
            </li>
            <div class = 'smallSpace'></div>
            <div class = 'smallSpace'></div>
            <li>
                Find the magnitude of acceleration of this object:
            </li>
        </ol>
    </li>
    <div class = 'bigSpace'></div>
    <div class = 'smallSpace'></div>
    <li>
        A super-fast toy car is driving forward, and three consequential forces act on the car.
        The toy car has a mass of 4 kg.
        <ul>
            <li>
                The thrust on the car is 60 N foward.
            </li>
            <li>
                The air resistance on the car is 20 N backwards.
            </li>
            <li>
                The friction acting on the car is 6 N backwards.
            </li>
            <li>
                Please ignore all other forces.
            </li>
        </ul>
        <ol type = 'a'>
            <li>
                Draw a free-body diagram of the toy car.
                Please include only the three forces described and no other forces acting on the toy car.
            </li>
            <li>
                What is the magnitude of net force acting on the car?
            </li>
            <li>
                Find the magnitude of acceleration on the car:
            </li>
        </ol>
    </li>
    <div class = 'bigSpace'></div>
    <div class = 'bigSpace'></div>
</ol>
