
<ol class = 'questionList'>
  <li class = 'question' data-answer = 'protons...electrons'>
    An object is positively charged if it has more _______________ than _______________.
  </li>
  <li class = 'question' data-answer = 'electrons...protons'>
    An object is negatively charged if it has more _______________ than _______________.
  </li>
  <li class = 'question' data-answer = 'the same number'>
    An object is neutral if it has __________________ of protons and electrons.
  </li>
  <li class = 'question' data-answer = 'It needs to gain electrons.'>
    What needs to happen for a neutral object to gain a negative charge?
  </li>
  <li class = 'question' data-answer = 'It needs to lose electrons. It is not possible to gain protons, only to lose electrons.'>
    What needs to happen for a neutral object to gain a positive charge,
    and remember that protons cannot move!
  </li>
</ol>


<!--
in the quiz on WHAT is charge, make it include ltos of correction questions,

- a negative object is negative because it has lots of electrons
- a neutral object becomes positive because lots of protons jump onto the object.
-->
