
<h4>
    A rule of thumb for angular momentum:
</h4>

<p class="definition">
    Objects with a very large angular momentum
    pointing in the direction they are moving
    are more stable.
</p>
<p class="definition">
    The random motion of air particles
    is called <strong>turbulent air flow</strong>.
    Due to turbulent air flow,
    nothing moves in a precisely straight line.
</p>

<p>
    Due to the turbulent air flow all around us,
    any object taht is moving will
    be hit with slight, small torques that
    cause it to change direction.
    However,
    angular momentum has a big impact on this
</p>




<p>
    Explanation:
</p>

<!--
Object with greater angular momentum
-->

<!--
Object with lesser angular momentum
-->
<h4>
    Quarterback Spirals
</h4>




<h4>
    Knuckleballs
</h4>

<p>
    In baseball, there is a certain pitch called a <emph>knuckleball</emph>.
    A pitcher who throws a
</p>


<h4>
    Historical Application:
    The Battles of Fredericksburg and Gettysburg
</h4>

<h5>
    Smoothbore and Rifled Muskets
</h5>

<p>
    During the American Revolution and the Napoleonic Wars
    (1775 - 1815), the primary infantry weapon was called a <emph>smoothbore musket</emph>.
    This is a musket with a completely straight barrel.
    When a bullet leaves the musket it is moving with no rotation.
    Just as in a knuckleball, the bullet is extremely inaccurate.
    In addition, it took several seconds to fire.
</p>
<p>
    For this reason, the primary infantry maneuver was a charge.
    If a line of musketeers were firing at a line of men charging them,
    it was unlikely they could have more than one accurate shot
    before the charging men reached them.
</p>

<p>
    Between 1815 and 1861, the start of the American civil war,
    there were few major conflicts by American or European nations
    (the Crimean war being the largest).
    In military academies such as the US military academy at West Point,
    future commanders learned the tactics of the Napoleonic Wars:
    if a disciplined unit of men charged directly at men firing
    at them, they would probably win.
    All of the civil war generals on both the Union and Confederate
    side had this education.
</p>

<p>
    However, in the intervening years, a new invention was made,
    called the <emph>rifled musket</emph>.
    Unlike the smoothbore musket, a rifled musket spins a bullet through
    the barrel. Therefore, the bullet comes out with some angular momentum.
    Like a football thrown with a spiral, it is able to hit a target
    hundreds of yards away with accuracy.
</p>

<p>
    The devastating casualties of the Civil War
    were caused in part by a misunderstanding of this new technology.
    Generals who had been educated with Napoleonic War
    tactics continued to order infantry charges, believing that
    if their men were disciplined they would break the enemy lines,
    only to have their soldiers shot down before they came even close.
    The two most famous examples are the charge against the brick
    wall at Fredericksburg and Pickett's Charge at Gettysburg.
</p>

<h5>
    The Battle of Fredericksburg
</h5>

<h5>
    Pickett's Charge
</h5>