<p class = 'directions'>
    Whenever using a formula, you must copy that formula.
</p>


<ol>
    <li>
        I push a box with a force of 50 Newtons for at time of 8 seconds.
        It moves a distance of 6 meters.
        <ol type = 'a'>
            <li>
                How much work did I do?
            </li>
            <li>
                How much power do I have?
            </li>
        </ol>
    </li>
    <li>
        I bench press a weight of 1200 Newtons a distance of 0.4 meters.
        in a time of 0.35 seconds.
        Find my <emph>power</emph>.
    </li>
    <li>
        How much energy does a device with a power of 800 Watts
        use in a time of one minute?
    </li>
</ol>