
<p class="directions">
    Answer each question below.
</p>


<ol>
    <li>
        A sledder is on top of a hill.
        The combined mass of the sledder and their sled is \( m \).
        The hill has a vertical height \( h \).
        The sledder begins from rest and slides down the hill.
        At the bottom of the hill, the sledder moves with speed \( v_{\text{f}} \).
        Assume that no energy is lost from the person-sled-earth system.
        <ol type = 'a'>
            <li>
                Using the conservation of energy,
                determine an equation that relates the variables
                \( m \), \( h \), \( v_{\text{f}} \), and known constants.
            </li>
            <li>
                Describe briefly what each term of the above equation represents.
            </li>
            <li>
                Derive a formula for the maximum speed \( v_{\text{f}} \)
                in terms of other variables.
                Your solution must be simplified.
            </li>
            <li>
                Demonstrate your statement written above is dimensionally correct.
            </li>
        </ol>
    </li>
    <li>
        A sledder is on top of a hill.
        The combined mass of the sledder and their sled is \( m \).
        The hill has a vertical height \( h \).
        This time, a friend pushes the sledder downwards, so that they begin with a speed \( v_{\text{i}} \).
        At the bottom of the hill, the sledder moves with speed \( v_{\text{f}} \).
        <ol type = 'a'>
            <li>
                Using the conservation of energy,
                determine an equation that relates the variables
                \( m \), \( h \), \( v_{\text{i}} \), \( v_{\text{f}} \), and known constants.
            </li>
            <li>
                Derive a formula for the maximum speed \( v_{\text{f}} \)
                in terms of other variables.
                Your solution must be simplified.
            </li>
            <li>
                Demonstrate your statement written above is dimensionally correct.
            </li>
            <li>
                If the friend does <emph>not</emph> push the sled, then the initial speed \( v_{\text{i}} \)
                would be zero.
                Demonstrate that in this case, the equation for \( v_f \) would be identical to its value in the previous situaiton.
            </li>
        </ol>
    </li>
</ol>
