<p class = 'directions'>
    Use each the kinematic equations to solve the problem below.
    The car does not have a constant acceleration for the entire interval,
    but the interval can be broken into smaller intervals in which the car does have
    a constant acceleration.
    Please copy each equation that you use <i>before</i> plugging numbers into the equation.
</p>

<p>
    A car is moving towards a red light with a speed of 22 m/s.
    The car sees a red light up ahead and begins slowing down,
    until it stops at the red light 60 m ahead.
    The car waits at the red light for 10 seconds.
    Then, when the light turns green, it begins accelerating again.
    It takes 10 seconds for the car to reach its top velocity of 22 m/s.
    After reaching top velocity, the car travels forward for 8 seconds at a constant speed.
</p>

<p>
    Determine the average speed of the car over the entire interval.
</p>
