<p class = 'introduction'>
    In this pod, we will compare different kinematic graphs for objects moving at a constant velocity.
    Based on the slope or position of the line, what is different about the motion of an object?
</p>


<h4>
    Different Velocities
</h4>

<h5>
    Example 1
</h5>
<div class = 'container m-5'>
    <div class = 'row mt-5 border-bottom border-dark'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_1.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                In this graph, both A and B are moving at a constant velocity for the
                same period of time.
                However, <strong>A moves faster than B!</strong>
                You can tell this because A has a steeper line (a higher slope),
                showing it is moving more position in the same time.
            </p>
        </div>
    </div>
    <div class = 'row border-bottom border-dark p-3'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_3.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                Both A and B are moving a a constant velocity,
                but A is moving faster than B.
                In a velocity-time graph, you can see A is moving faster because
                the horizontal line is higher, indicating higher velocity.
            </p>
        </div>
    </div>
    <div class = 'row m-3'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_5.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                Because both A and B are moving at a constant velocity,
                they both have an acceleration of zero.
                Even though A is moving faster than B, it is not accelerating.
            </p>
        </div>
    </div>
</div>

<h5>
    Example 2: Same final position
</h5>

<div class = 'container m-5'>
    <div class = 'row mt-5 border-bottom border-dark'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_2.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                As above, both C and D are moving at a constant velocity,
                but C is moving faster.
                This time, they do not travel the same time, but instead
                reach the same final position.
            </p>
        </div>
    </div>
    <div class = 'row border-bottom border-dark p-3'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_4.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                Because C is moving faster, its velocity line is higher than D's.
            </p>
        </div>
    </div>
    <div class = 'row m-3'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_5.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                Because both C and D are moving at a constant velocity, they both have acceleration zero.
            </p>
        </div>
    </div>
</div>

<h4>
    Different Initial Positions
</h4>

<h5>
    Example 3: Different Initial Positions
</h5>

<div class = 'container m-5'>
    <div class = 'row mt-5 border-bottom border-dark'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_7.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                In this case, both E and F are moving at the <emph>same</emph> velocity!
                You can tell because the slope of each line is the same.
                However, in this case, E begins at a different <emph>initial position</emph>
                than F does, which is why it begins higher up and remains so.
            </p>
        </div>
    </div>
    <div class = 'row border-bottom border-dark p-3'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_8.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                Because both E and F have the same velocity, they have the exact same velocity-time graph.
            </p>
        </div>
    </div>
    <div class = 'row m-3'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_9.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                Because both E and F are moving at a constant velocity, they both have an acceleration of zero.
            </p>
        </div>
    </div>
</div>

<h5>
    Example 4: Catching Up!
</h5>

<div class = 'container m-5'>
    <div class = 'row mt-5 border-bottom border-dark'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_10.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                In this case, G begins with a higher initial position than H,
                but H has a higher velocity!
                In the end, H catches up with G and they end with the same <emph>final position</emph>.
            </p>
        </div>
    </div>
    <div class = 'row border-bottom border-dark p-3'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_11.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                Because H is moving faster than G,
                its velocity line is higher than G's.
            </p>
        </div>
    </div>
    <div class = 'row m-3'>
        <div class = 'col-lg-3 col-6'>
            <img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparisons_12.png' height = '200px' width = 'auto'/>
        </div>
        <div class = 'col-lg-9 col-6'>
            <p>
                Because both H and G are moving at a constant velocity, they both have acceleration zero.
            </p>
        </div>
    </div>
</div>

<!---
questions:
- recognize the principles above
- given one graph with two lines, draw another graph

- given a description of a one-step story, draw a one step graph


- include one where one racer PASSES another!
Bob is running aginst Joe
Joe has a header stat, but Bob is faster
He races until he catches Joe and then keeps racing past him.
etc.

Jon and Ken are racing
Ken has a head start, and he is also faster than jon,
he easily leaves jon in the dust

-->