<p>
    In this unit, we will create <strong>qualitative</strong>
    descriptions of how objects move.
    A <strong>qualitative</strong> description relies only on patterns and shapes
    rather than numbers.
    There are four different tools we will use to describe motion qualitatively:
    motion-maps, position-time graphs, velocity-time graphs, and acceleration-time graphs.
    This first section will deal with position-time graphs and motion maps.
</p>
<p>
    This unit will also focus exclusively on objects moving forward.
    Future units will deal with objects moving forwards and backwards
    and moving in more than one dimension.
</p>

<p>
    Specifically, in this unit we will categorize motion into four separate types.
    Fully understanding these four types will be the core of understanding qualitative kinematics.
</p>

<ul>
    <li>
        Moving with a constant velocity
    </li>
    <li>
        Speeding up (moving with a positive acceleration)
    </li>
    <li>
        Slowing down (moving with a negative acceleration)
    </li>
    <li>
        Not moving
    </li>
</ul>


<h4 class = 'sectionHeader'>
    Motion Maps
</h4>
<p class = 'definition'>
    A <strong>motion map</strong> is created by placing a dot at a person's location
    every second.
</p>

<ul>
    <li>
        Motion Map for moving with a constant velocity:
        <br>
        <div id = 'motionMap1'></div>
    </li>
    <li>
        Motion Map for speeding up (positive acceleration)
        <br>
        <div id = 'motionMap2'></div>
    </li>
    <li>
        Motion Map for slowing down (negative acceleration)
        <br>
        <div id = 'motionMap3'></div>
    </li>
    <li>
        Motion Map for not moving
        <br>
        <div id = 'motionMap4'></div>
    </li>
</ul>

<p class = 'directions'>
  For each of the statements below, select the motion
  map that connects to that type of motion.
</p>


<ol class = 'questionList'>
  <div class = 'container'>
    <div class = 'row mb-4'>
      <div class = 'col-5'>
        <li class = 'question' data-answer = 'B'>
          A car is at a red light.
          The light turns green and the car
          begins moving, getting faster and faster.
        </li>
      </div>
      <div class = 'col-2'>
      </div>
      <div class = 'col-5' id = 'motionMapQuestionA'>
        A:
      </div>
    </div>
    <div class = 'row mb-4'>
      <div class = 'col-5'>
        <li class = 'question' data-answer = 'D'>
          A car is driving on route six at 40 mph
          and does not change speed.
        </li>
      </div>
      <div class = 'col-2'>
      </div>
      <div class = 'col-5' id = 'motionMapQuestionB'>
        B:
      </div>
    </div>
    <div class = 'row mb-4'>
      <div class = 'col-5'>
        <li class = 'question' data-answer = 'B'>
          A car is driving when the light ahead
          turns red.
          The car slows down until it is stopped.
        </li>
      </div>
      <div class = 'col-2'>
      </div>
      <div class = 'col-5' id = 'motionMapQuestionC'>
        C:
      </div>
    </div>
    <div class = 'row mb-2'>
      <div class = 'col-5'>
        <li class = 'question' data-answer = 'C'>
          A car is parked.
        </li>
      </div>
      <div class = 'col-2'>
      </div>
      <div class = 'col-5' id = 'motionMapQuestionD'>
        D:
      </div>
    </div>
  </div>
</ol>


<h4 class = 'sectionHeader'>
    Position-Time Graphs
</h4>

<p class = 'definition'>
    A <strong>position-time graph</strong> is a graph that displays position
    on the vertical axis and time on the horizontal axis.
    When the graph shows a line moving upwards or downwards,
    it indicates an object is changing position, which means it is moving!
</p>

<ul>
    <li>
        Position-time graph for an object moving with a constant velocity:
        <br>
        <div id = 'positionGraph1'></div>
    </li>
    <li>
        Position-time graph for an object that is speeding up (positive acceleration):
        <br>
        <div id = 'positionGraph2'></div>
    </li>
    <li>
        Position-time graph for an object that is slowing down (negative acceleration):
        <br>
        <div id = 'positionGraph3'></div>
    </li>
    <li>
        Position-time graph for not moving:
        <br>
        <div id = 'positionGraph4'></div>
    </li>
</ul>

<p class = 'directions'>
  For each story, select the corresponding position-time graph.
<p>

  <ol class = 'questionList'>
    <div class = 'container'>
      <div class = 'row mb-4'>
        <div class = 'col-5'>
          <li class = 'question' data-answer = 'D'>
            A person is running a distance
            race at a consistent pace.
          </li>
        </div>
        <div class = 'col-2'>
        </div>
        <div class = 'col-5' id = 'positionGraphQuestionA'>
          A:
        </div>
      </div>
      <div class = 'row mb-4'>
        <div class = 'col-5'>
          <li class = 'question' data-answer = 'C'>
            Someone is lazy and isn't running at all.
          </li>
        </div>
        <div class = 'col-2'>
        </div>
        <div class = 'col-5' id = 'positionGraphQuestionB'>
          B:
        </div>
      </div>
      <div class = 'row mb-4'>
        <div class = 'col-5'>
          <li class = 'question' data-answer = 'A'>
            Someone was running in a race,
            but saw a cow in the way and slowed to a stop.
          </li>
        </div>
        <div class = 'col-2'>
        </div>
        <div class = 'col-5' id = 'positionGraphQuestionC'>
          C:
        </div>
      </div>
      <div class = 'row mb-2'>
        <div class = 'col-5'>
          <li class = 'question' data-answer = 'B'>
            A sprinter starts a race by going from the blocks to a high speed.
          </li>
        </div>
        <div class = 'col-2'>
        </div>
        <div class = 'col-5' id = 'positionGraphQuestionD'>
          D:
        </div>
      </div>
    </div>
  </ol>




<p class = 'directions'>
  For each motion map, select the corresponding position-time graph.
</p>


<ol class = 'questionList'>
  <div class = 'container'>
    <div class = 'row mb-4'>
      <div class = 'col-5'>
        <li class = 'question' data-answer = 'B' id = 'connectionMotionMapA'>
        </li>
      </div>
      <div class = 'col-2'>
      </div>
      <div class = 'col-5' id = 'connectionPositionGraphA'>
        A:
      </div>
    </div>
    <div class = 'row mb-4'>
      <div class = 'col-5'>
        <li class = 'question' data-answer = 'A' id = 'connectionMotionMapB'>
        </li>
      </div>
      <div class = 'col-2'>
      </div>
      <div class = 'col-5' id = 'connectionPositionGraphB'>
        B:
      </div>
    </div>
    <div class = 'row mb-4'>
      <div class = 'col-5'>
        <li class = 'question' data-answer = 'D' id = 'connectionMotionMapC'>
        </li>
      </div>
      <div class = 'col-2'>
      </div>
      <div class = 'col-5' id = 'connectionPositionGraphC'>
        C:
      </div>
    </div>
    <div class = 'row mb-2'>
      <div class = 'col-5'>
        <li class = 'question' data-answer = 'C' id = 'connectionMotionMapD'>
        </li>
      </div>
      <div class = 'col-2'>
      </div>
      <div class = 'col-5' id = 'connectionPositionGraphD'>
        D:
      </div>
    </div>
  </div>
</ol>


<ol class = 'answerList'></ol>


<script>
    let motionMap1 = new MotionMap((x)=>x,0,20,10);
    motionMap1.multiplyRadius(0.6);
    $("#motionMap1").append(motionMap1.drawCanvas(300,300));

    let motionMap2 = new MotionMap((x) => x*x, 0, 100, 8);
    motionMap2.multiplyRadius(3);
    $("#motionMap2").append(motionMap2.drawCanvas(300,300));

    let motionMap3 = new MotionMap((t) => 10*t + 0.5 * (-1) * t*t, 0, 10, 8);
    motionMap3.multiplyRadius(1.6);
    $("#motionMap3").append(motionMap3.drawCanvas(300,300));

    let motionMap4 = new MotionMap((t) => 0, 0, 10, 10);
    motionMap4.multiplyRadius(1);
    $("#motionMap4").append(motionMap4.drawCanvas(300,300));

    $("#motionMapQuestionA").append(motionMap3.drawCanvas(300,300));
    $("#motionMapQuestionB").append(motionMap2.drawCanvas(300,300));
    $("#motionMapQuestionC").append(motionMap4.drawCanvas(300,300));
    $("#motionMapQuestionD").append(motionMap1.drawCanvas(300,300));


    let positionGraph1 = makePositionGraphConstantVelocity();
    $("#positionGraph1").append(positionGraph1.drawCanvas(300,300));

    let positionGraph2 = makePositionGraphPositiveAcceleration();
    $("#positionGraph2").append(positionGraph2.drawCanvas(300,300));

    let positionGraph3 = makePositionGraphNegativeAcceleration();
    $("#positionGraph3").append(positionGraph3.drawCanvas(300,300));

    let positionGraph4 = makePositionGraphNotMoving();
    $("#positionGraph4").append(positionGraph4.drawCanvas(300,300));

    $("#positionGraphQuestionA").append(positionGraph3.drawCanvas(150));
    $("#positionGraphQuestionB").append(positionGraph2.drawCanvas(150));
    $("#positionGraphQuestionC").append(positionGraph4.drawCanvas(150));
    $("#positionGraphQuestionD").append(positionGraph1.drawCanvas(150));

// 3 4 1 2
// 4 3 2 1
    $("#connectionPositionGraphA").append(positionGraph4.drawCanvas(150));
    $("#connectionPositionGraphB").append(positionGraph3.drawCanvas(150));
    $("#connectionPositionGraphC").append(positionGraph2.drawCanvas(150));
    $("#connectionPositionGraphD").append(positionGraph1.drawCanvas(150));

    $("#connectionMotionMapA").append(motionMap3.drawCanvas(150));
    $("#connectionMotionMapB").append(motionMap4.drawCanvas(150));
    $("#connectionMotionMapC").append(motionMap1.drawCanvas(150));
    $("#connectionMotionMapD").append(motionMap2.drawCanvas(150));

</script>
