<div class="bigSpace"></div>
<div class="bigSpace"></div>


<h3>
    <a href = '/podAssets/fundamental_forces/inverse_square_laws/law_of_gravitation_1.pdf'>Practice Page Available as a PDF</a>
</h3>


<div class="bigSpace"></div>
<div class="bigSpace"></div>

<p class="definition" data-word = "The Law of Universal Gravitation">
    Any two masses, anywhere in the universe, are attracted to each other by this formula:
</p>
<p class="equation">
    $$
    F_g = G \frac{m_1 m_2}{d^2}
    $$
</p>

<div class="container">
    <div class="row">
        <div class="col-3 border border-dark p-2">
            <strong>Symbol</strong>
        </div>
        <div class="col-3 border border-dark p-2">
            <strong>Quantity</strong>
        </div>
        <div class="col-3 border border-dark p-2">
            <strong>SI Unit</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">
            \( F_g \)
        </div>
        <div class="col-3 border border-dark p-2">
            Force of Gravity
        </div>
        <div class="col-3 border border-dark p-2">
            Newton (N)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">
            \( G \)
        </div>
        <div class="col-3 border border-dark p-2">
            Universal Gravitational Constant = \( 6.67 \cdot 10^{-11} \)
        </div>
        <div class="col-3 border border-dark p-2">
            \( \frac{\text{N} \text{m}^2 }{\text{kg}^2} = \frac{\text{m}^3}{\text{kg} \cdot \text{s}^2} \)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">
            \( m_1 \)
        </div>
        <div class="col-3 border border-dark p-2">
            Mass of First Object
        </div>
        <div class="col-3 border border-dark p-2">
            kilogram (kg)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">
            \( m_2 \)
        </div>
        <div class="col-3 border border-dark p-2">
            Mass of Second Object
        </div>
        <div class="col-3 border border-dark p-2">
            Kilogram (kg)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">
            \( d \)
        </div>
        <div class="col-3 border border-dark p-2">
            Distance between Center of Masses of the Objects
        </div>
        <div class="col-3 border border-dark p-2">
            meter (m)
        </div>
    </div>
</div>

<div class="smallSpace"></div>

<p class="definition" data-word = 'Universal Gravitational Constant'>
    The Universal Graviational Constant is given by a capital \( G \) and is,
    under all conditions, equal to the value \( 6.67 \cdot 10^{-11} \frac{\text{m}^3}{\text{kg} \cdot \text{s}^2} \)
</p>

<ol class="questionList">
    <li class="question" data-answer = '3.51 x 10^{-11} N'>
        Imagine two baseballs in space. Each baseball has a mass of 0.145 kg. Their centers are 0.200 m apart.
        What is the gravitational force between the baseballs.
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class="question" data-answer = '2.67 x 10^{-10} N'>
        Imagine two bowling balls in space. Each bowling ball has a mass of 6.00 kg.
        The centers of the bowling balls are 3.00 meters apart.
        What is the gravitational force between the bowling balls?
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class="question" data-answer = '3.52 x 10^{22} N'>
        <ul>
            <li>
                Mass of the earth = 5.97 x 10^24 kg
            </li>
            <li>
                Mass of the sun = 1.99 x 10^30 kg
            </li>
            <li>
                Distance earth to sun = 1.50 x 10^11 m
            </li>
            <li>
                What is the gravitational force between the sun and the earth?
            </li>
        </ul>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class="question" data-answer = '1.98 x 1020 N'>
        <ul>
            <li>
                Distance earth to moon =3.84 x 10^8 meters.
            </li>
            <li>
                Mass of the moon = 7.35 x 10^22
            </li>
            <li>
                What is the gravitational force between the earth and the moon?
            </li>
        </ul>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class="question" data-answer = '4.16 x 1023 N'>
        <ul>
            <li>
                Distance from Jupiter to the Sun = 7.79 x 10^11 m
            </li>
            <li>
                Mass of Jupiter = 1.90 x 10^27 kg
            </li>
            <li>
                What is the force of gravitational attraction between the Sun and Jupiter?
            </li>
        </ul>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class="question" data-answer = '3.6 x 10^21 N'>
        <ul>
            <li>
                Mass of Saturn = 5.68 x 10^26 kg
            </li>
            <li>
                Mass of Saturn's moon Titan = 1.35 x 10^23 kg
            </li>
            <li>
                Distance between Saturn and Titan = 1.2 x 10^9 m
            </li>
            <li>
                What is the gravitational force between Saturn and Titan?
            </li>
            <div class = 'formulaSolvingTable'></div>
        </ul>
    </li>
    <!-- probably 1 more for an even 6-->
</ol>

<h3>
    Video Resources
</h3>
<h5>
    Flipping Physics Video 1: An introduction to this equation
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/LspI56OPmqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h5>
    Flipping Physics Video 2: Using this equation for small objects
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/070pMWD01cE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h5>
    Flipping Physics Video 3: Using this equation for astronomical objects
</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YaX12vE6Lk4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>