<p class="directions">
    Find the wavelength of each of the following waves.
    For full credit, you must include your calculations and a unit with each answer.
</p>

<ol>
    <li id = 'wave1'></li>
    <div class="mediumSpace"></div>
    <li id = 'wave2'></li>
    <div class="mediumSpace"></div>
    <li id = 'wave3'></li>
    <div class="mediumSpace"></div>
</ol>

<script>
    let wave1 = new Wave();
    wave1.circleAllKeyPoints(true,.05);
    wave1.labelTop(0,3,'30 m');

</script>