<p class = 'introduction'>
  In <a href = '/pod/81cace'>Identify Variables 1</a>
  and <a href = '/pod/3d818e'>Identify Variables 2</a>,
  we learned how to explain a scientific experiment by using the terms
  "Independent Variable," "Dependent Variable," and "Controlled Variables."
  One experiment includes a single independent variable,
  a single dependent variable, and many controlled variables.
  However, a large investigation may include more than one "experiment."
  That is, you repeat the same procedure with different independent and dependent variables
  while also adapting controlled variables.
  The most classic example of this is the
  <a href = '/labs/qualitativePendulum'>pendulum lab</a>.
</p>
