<h4>
    Elliptical Orbits
</h4>
<!-- belongs in a different pod?--->

<p about="definition" data-word = 'circle'>
    A <strong>circle</strong> is defined as all points equidistant from a single point.
    The single point is called the <emph>center</emph>, and the distance from that point is called the <emph>radius</emph>.
</p>

<ul class = 'definition' data-word = 'ellipse'>
    <li>
        An <strong>ellipse</strong> is a shape that looks like a stretched out circle.
    </li>
    <li>
        An ellipse is defined as all points for whom the sum of the distance from two points,
        called the <emph>foci</emph> is the same.
    </li>
    <li>
        The distance between the two foci is called the <strong>eccentricity</strong> of an ellipse
        The farther apart the foci are, the more the elongated the ellipse is.
        The closer together the foci are, the more circular the ellipse is.
    </li>
</ul>


<h4>
    Orbit Vocabulary
</h4>

<ul>
    <li>
        <strong>Aphelion:</strong> the point at which a planet is furthest from the sun
    </li>
    <li>
        <strong>Perihelion:</strong> The point at which the planet is closest to the sun.
    </li>
    <li>
        <strong>Foci:</strong> Two points that define an ellipse. The ellipse is all points for which
        the sum of the distance from the foci is identical.
        The sun is located at one of the two foci.
    </li>
    <li>
        <strong>Eccentricity</strong>:
        \( \frac{\text{Distance Between the foci}}{\text{Distance between perihelion and aphelion}} \)
        The eccentricity is always between 0 and 1.
        An ellipse with eccentricity zero is a circle.
        The higher the eccentricity becomes, the more elongated an ellipse is.
    </li>
    <li>
        <strong>Orbital Period</strong>: The time for one full orbit.
    </li>
</ul>

<p class = 'directions'>
    For each definition, give the correct word.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'eccentricity'>
        A measurement of how elongated a ellipse.
    </li>
    <li class = 'question' data-answer = 'perihelion'>
        The point at which a planet is closest to the sun.
    </li>
    <li class = 'question' data-answer = 'aphelion'>
        The point at which a planet is furthest from the sun.
    </li>
    <li class = 'question' data-answer = 'orbital period'>
        The time of a single orbit.
    </li>
    <li class = 'question' data-answer = 'eccentricity'>
        \( \frac{\text{Distance Between the foci}}{\text{Distance between perihelion and aphelion}} \)
    </li>
    <li class = 'question' data-answer = 'foci'>
        The sun is located at one of these two points of an orbit.
    </li>
</ol>


<h5>
    Elliptical Geometry Resources
</h5>
<ul>
    <li>
        <a href = 'https://www.intmath.com/plane-analytic-geometry/5-ellipse.php'>Interactive Mathematics Ellipse Information</a>
    </li>
    <li>
        <a href = 'https://www.intmath.com/plane-analytic-geometry/ellipse-interactive.php'>Interactive Mathematics Ellipse Demos</a>
    </li>
    <li>
        <a href = 'https://www.desmos.com/calculator/1mcnscnvun'>Desmos Interactive Ellipse</a>
    </li>
</ul>

<h4>
    Elliptical Orbits
</h4>

<p class = 'definition' data-word = "Kepler's First Law">
    All bodies orbiting the sun do so in an ellipse, with the sun at one of the two foci of the ellipse.
</p>
<p class = 'definition' data-word = "Kepler's Second Law (Adapted)">
    When a body in an elliptical orbit is far away from the sun, it moves slowly.
    When it comes near the sun, it moves much faster.
</p>

<h5>
    Some Guidelines
</h5>

<ul>
    <li>
        The eight planets have ellipses that are nearly circular.
        In particular, earth's orbit is nearly circular.
    </li>
    <li>
        Dwarf planets like Pluto, farther away from the sun, often have more elliptical orbits.
    </li>
    <li>
        Comets have the most highly elliptical orbits.
        They typically remain in a far away location (the Kuiper Belt or the Oort Cloud) for many years,
        and then swing quickly around
        the sun for a very short time.
        This is why we can see comets for a few weeks, then not see them again for many years.
    </li>
</ul>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Nearly circular orbits have a very low eccentricity.'>
        If a planet has an orbit that is nearly circular,
        does it have a high or a low eccentricity?
    </li>
    <li class = 'question' data-answer = "Very elongated orbits have a high eccentricity.">
        A planet has a very elongated orbit.
        Does it have a high or low eccentricity?
    </li>
    <li class = 'question' data-answer = "The comet is moving much faster when it is near the sun, according to Kepler's Second Law">
        A comet spends many years far away from the sun in the Oort Cloud,
        then swings around the sun.
        Where is it moving faster: while near the sun or in the Oort Cloud?
        What law lets you answer this question?
    </li>
    <li class = 'question' data-answer = "It is low, because the earth's orbit is nearly circular.">
        Is earth's eccentricity high or low? How do we know?
    </li>
</ol>

<h4>
    <a href = '/labs/ellipticalOrbitInvestigation'>
        Investigation on Elliptical Orbits
    </a>
</h4>


<ol class = 'answerList'></ol>