
<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
</p>

<ol>
    <li>
        I experience a net force of 500 Newtons, and I have a mass of 50 kg.
        <br>
        What is my acceleration?
        <div class = 'formulaBoxDiv'></div>
    </li>
    <div class = 'bigSpace'></div>
    <li>
        I have an acceleration of 4 m/s<sup>2</sup> and a mass of 60 kg.
        <br>
        What is the net force on me?
        <div class = 'formulaBoxDiv'></div>
    </li>
    <div class = 'bigSpace'></div>
</ol>
