
<p class = 'directions'>
    Whenever using an equation, write the equation out before plugging any numbers in.
    Always include units in your answer.
</p>

<ol>
    <li>
        I experience a net force of 230. Newtons, and I have a mass of 4.00 kg.
        <br>
        What is my acceleration?
        <div class = 'formulaBoxDiv'></div>
    </li>
    <div class = 'bigSpace'></div>
    <li>
        I have an acceleration of 16 m/s<sup>2</sup> and a mass of 55 kg.
        <br>
        What is the net force on me?
        <div class = 'formulaBoxDiv'></div>
    </li>
    <div class = 'bigSpace'></div>
</ol>
