<p class = 'introduction'>
    The goal of this pod is simple: memorize the four kinematic equations.
    Even though they are readily available to look up,
    when you are analyzing difficult situations with many parts,
    having the equations ready at the tips of your fingers
    will greatly help you understand difficult problems.
</p>


<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-6 text-center border border-dark'>
            The Definition of Acceleration
        </div>
        <div class = 'col-md-6 text-center border border-dark'>
            \( v_f = v_i + \a \cdot \Delta t \)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-md-6 text-center border border-dark'>
            The King of Kinematic Equations
        </div>
        <div class = 'col-md-6 text-center border border-dark'>
            \( \Delta x = v_i \cdot \Delta t + \frac{1}{2} a \left( \Delta t \right)^2 \)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-md-6 text-center border border-dark'>
            The Average Velocity Equation
        </div>
        <div class = 'col-md-6 text-center border border-dark'>
            \Delta x = \left( \frac{v_f + v_i}{2} \right) \Delta t
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-md-6 text-center border border-dark'>
            The No-Time Equation
        </div>
        <div class = 'col-md-6 text-center border border-dark'>
            v_f^2 = v_i^2 + 2 a \cdot \Delta x
        </div>
    </div>
</div>


<h5>
    Kinematic Quantities
</h5>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-4 text-center border border-dark'>
            <strong>Symbol</strong>
        </div>
        <div class = 'col-4 text-center border border-dark'>
            <strong>Quantity</strong>
        </div>
        <div class = 'col-4 text-center border border-dark'>
            <strong>SI Unit</strong>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 text-center border border-dark'>
            \Delta x
        </div>
        <div class = 'col-4 text-center border border-dark'>
            Displacement
        </div>
        <div class = 'col-4 text-center border border-dark'>
            meters (m)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 text-center border border-dark'>
            \( v_f \)
        </div>
        <div class = 'col-4 text-center border border-dark'>
            Final Velocity
        </div>
        <div class = 'col-4 text-center border border-dark'>
            meters per second (m/s)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 text-center border border-dark'>
            \( v_i \)
        </div>
        <div class = 'col-4 text-center border border-dark'>
            Initial Velocity
        </div>
        <div class = 'col-4 text-center border border-dark'>
            meters per second (m/s)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 text-center border border-dark'>
            \( a \)
        </div>
        <div class = 'col-4 text-center border border-dark'>
            Acceleration
        </div>
        <div class = 'col-4 text-center border border-dark'>
            meters per second per second (m/s/s or m/s<sup>2</sup>)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 text-center border border-dark'>
            \( \Delta t \)
        </div>
        <div class = 'col-4 text-center border border-dark'>
            Time Interval
        </div>
        <div class = 'col-4 text-center border border-dark'>
            seconds (s)
        </div>
    </div>
</div>


<h4>
    Kinematic Equation Requirements
</h4>

<ul class = 'definition'>
    <li>
        The Kinematic Equations are valid whenever something is moving with a constant acceleration.
    </li>
    <li>
        Whenever acceleration is changing, the kinematic equations are not valid.
        You would instead need to use differential and integral calculus.
    </li>
</ul>