<p class="directions">
    Complete the three problems below.
    For full credit, you must use the <emph>conversion factor method</emph>
    correctly.
</p>
<div class = 'styleGuide'>
    {{> conversionFactors}}
</div>

{{>conversionFactorList}}

<ol>
    <li>
        Convert 22.0 kilograms to slugs.
    </li>
    <div class="bigSpace"></div>
    <li>
        Convert 55.0 feet to meters.
    </li>
    <div class="bigSpace"></div>
    <li>
        Convert 33.0 inches to centimeters
    </li>
</ol>