

<h4>
    Principles:
</h4>
<ul>
    <li>
        When a block is sliding down a frictionless ramp,
        the acceleration of the block is given by the formula
        \( a = g \sin \left( \theta_i \right) \).
        <ul>
            <li>
                \( g \) refers to the free-fall acceleration on earth.
            </li>
            <li>
                \( \theta_i \) refers to the angle of incline of the ramp.
            </li>
        </ul>
    </li>
    <li>
        A car with very small wheels will operate very similarly to a frictionless block.
    </li>
    <li>

    </li>
</ul>


<ol>
    <li>
        Figure out how to measure the necessary quantities:
        <ul>
            <li>
                How do you measure the angle of incline of the ramp?
            </li>
            <li>
                How can you change the angle of incline of the ramp?
            </li>
            <li>
                Assuming that the car is moving with a constant acceleration
                (we demonstrated this in a previous lab),
                how can you quickly measure its acceleration using a stopwatch,
                a meter stick, and one of the four kinematic equations?
            </li>
            <li>
                Kinematic Equations:
                {{>kinematicEquationsWithNames}}
            </li>
        </ul>
    </li>
    <li>
        Collect data on the acceleration for each value of the angle of incline.
    </li>
    <li>
        All values of the angle of incline should be greater than 3 degrees
        and less than 30 degrees.
    </li>
    <li>
        The greatest value of the angle of incline should be at least 4 times
        the least value of the angle of incline.
    </li>
</ol>


<h4>
    Lab Report Requirements:
</h4>
<ul>
    <li>
        General Requirements:
        <ul>
            <li>
                Your lab report must be handwritten.
            </li>
            <li>
                You are encouraged to work together with your group on analyzing your data.
                However, each member of the group must submit their own lab report in their own handwriting.
            </li>
        </ul>
    </li>
    <li>
        Introductory Section:
        <ul>
            <li>
                State the equation you are attempting to demonstrate.
                Label this as your <strong>hypothesis</strong>
            </li>
            <li>
                State the independent variable and dependent variable in your analysis.
            </li>
            <li>
                List any controlled variables (there should be more than one.)
            </li>
        </ul>
    </li>
    <li>
        Procedure Section:
        <ul>
            <li>
                Give a brief description of what you did.
            </li>
            <li>
                Describe how you measured the independent variable.
            </li>
            <li>
                Describe how you measured the dependent variable.
            </li>
        </ul>
    </li>
    <li>
        Data Table:
        <ul>
            <li>
                For each value of the independent variable, give one value of the independent variable.
                However, you will need many columns to do this. (5 columns total)
            </li>
            <li>
                Include a column for each variable you measured directly (this should be three columns)
            </li>
            <li>
                You should complete one transformation of the <emph>independent</emph> while doing this lab.
                Include that in one column.
            </li>
            <li>
                You completed a calculation to find the value of the <emph>dependent</emph> variable.
                Include you calculated value in one column.
            </li>
            <li>
                Your data table should be properly label, with quantitative and units given.
                Units should be labeled in the header of each column.
            </li>
            <li>
                Values should be written to an appropriate number of significant figures.
                (Two significant figures is best if you are reasonably confident in your measurements but did not use photogates,
                frame-by-frame video analysis, and/or professional surveying equipment.)
            </li>
            <li>
                Data variability requirements:
                <ul>
                    <li>
                        You should have at least 18 total data points
                        using at least 6 different values of the independent variable.
                    </li>
                    <li>
                        Do not average data points together. Each data point should be individual.
                        There can be more than one data point at the same value of the independent variable
                    </li>
                    <li>
                        All values of your independent variable (before transformation) should be greater than 0 and less than 30 degrees.
                    </li>
                    <li>
                        The greatest value of your independent variable should be at least 4 times the least value of your
                        independent variable.
                    </li>
                </ul>
            </li>
            <li>
            </li>
            <li>

            </li>
        </ul>
    </li>
    <div class="pageBreak"></div>
    <li>
        Graph 1: Direct information Graph: (OPTIONAL)
        <ul>
            <li>
                Graph your dependent variable vs. your independent variable directly,
                before any transformation.
            </li>
            <li>
                This graph must be completed on graph paper.
            </li>
            <li>
                The graph should be at least 5 inches by 5 inches in size.
            </li>
            <li>
                Axes must be properly labeled, including values and units.
            </li>
            <li>
                A scale should be properly labeled on each axis.
            </li>
            <li>
                The independent variable should eb on the horizontal axis
                and the dependent variable should be on the vertical axis.
            </li>
            <li>
                This graph should include points only.
                Points should not be connected, and there should be no best fit line.
            </li>
            <li>
                Your graph should not be linear.
                Write the equation that relates your variables,
                and include a brief description (1 - 2) sentences, on whether your graph
                seems to (very roughly) fit that equation.
            </li>
        </ul>
    </li>
    <li>
        Graph 2: Linearized Graph
        <ul>
            <li>
                Complete a variable transformation of your independent variable such
                that, if the equation above is true, your line will be linear.
                (This should be written in your table above.)
            </li>
            <li>
                Complete a new graph relating the dependent variable
                to the transformed independent variable.
            </li>
            <li>
                This graph must be completed on graph paper.
            </li>
            <li>
                The graph should be at least 5 inches by 5 inches in size.
            </li>
            <li>
                Axes must be properly labeled, including values and units.
            </li>
            <li>
                A scale should be properly labeled on each axis.
            </li>
            <li>
                The independent variable should eb on the horizontal axis
                and the dependent variable should be on the vertical axis.
            </li>
            <li>
                Begin by creating a scatter-plot,
                then draw a best-fit line <emph>with a ruler</emph>.
            </li>
            <li>
                By looking at your data (you do not need to complete a statistical analysis),
                determine if your graph is properly linear.
                Do you have any outlier points? is there an explanation for them?
            </li>
            <li>
                Write a 2-3 sentence analysis of your graph.
                Argue briefly if the graph is or is not consistent with the initial hypothesis.
            </li>
        </ul>
    </li>
    <li>
        Quantitative Analysis:
        <ul>
            <li>
                Write the equation you are testing.
            </li>
            <li>
                Based on this equation, determine the significance of the slope
                of your linearized graph.
            </li>
            <li>
                Write what value you would <emph>expect</emph> the slope fo the line to be.
            </li>
            <li>
                Calculate, <strong>by hand</strong> the value of the slope of the line.
                You need to do this using a ruler and two points.
                Do not pick two data points; pick two points that are on the line, whether or not they are data points.
            </li>
            <li>
                (Optional): If you know how, complete a linear regression to find the slope of your line.
                If you do this, you <emph>still</emph> need to complete the by-hand calculation.
            </li>
            <li>
                Based on your calculated value of the slope and the predicted value,
                determine the percent error of your calculation.
            </li>
        </ul>
    </li>
</ul>