
<ol>
    <li>
        In the following situation, the net force acting on the object is 100 Newtons to the left.
        There are four forces acting, and only three are shown on the free-body diagram.
        Determine the magnitude and direction of the missing force.
        <br>
        <div id = 'problemE1'></div>
    </li>
    <div class = 'bigSpace'></div>
    <div class = 'smallSpace'></div>
    <li>
        In the following situation, the net force acting on the object is 175 Newtons down.
        There are four forces acting, and only three are shown on the free-body diagram.
        Determine the magnitude and direction of the missing force.
        <br>
        <div id = 'problemE2'></div>
    </li>
    <div class = 'bigSpace'></div>
</ol>

<script>
    $("#problemE1").append((fastFBD([['right',380],['left',250],['right',150]])).drawCanvas(300,300));
    $("#problemE2").append((fastFBD([['up',199],['down',94],['down',84]])).drawCanvas(300,300));
</script>
