
<ol>
    <li>
        In the following situation, the net force acting on the object is 50 Newtons to the left.
        There are four forces acting, and only three are shown on the free-body diagram.
        <ol type = 'a'>
            <li>
                Determine the magnitude and direction of the missing force.
            </li>
            <li>
                Draw a new free-body diagram including the missing force, and demonstrate
                that the correct net force (50 N left) is achieved.
            </li>
        </ol>        <br>
        <div id = 'problemE1'></div>
    </li>
    <div class = 'bigSpace'></div>
    <div class = 'smallSpace'></div>
    <li>
        In the following situation, the net force acting on the object is 175 Newtons down.
        There are four forces acting, and only three are shown on the free-body diagram.
        <ol type = 'a'>
            <li>
                Determine the magnitude and direction of the missing force.
            </li>
            <li>
                Draw a new free-body diagram including the missing force, and demonstrate
                that the correct net force (175 N down) is achieved.
            </li>
        </ol>
        <br>
        <div id = 'problemE2'></div>
    </li>
    <div class = 'bigSpace'></div>
</ol>

<script>
    $("#problemE1").append((fastFBD([['right',280],['left',540],['right',290]])).drawCanvas(300,300));
    $("#problemE2").append((fastFBD([['up',200],['down',150],['down',280]])).drawCanvas(300,300));
</script>
