
<h4>
    Angular Momentum Formula
</h4>

<p class="equation">
    $$
    L = I \omega
    $$
</p>

<div class="container">
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            <strong>Symbol</strong>
        </div>
        <div class="col-4 pb-4 border border-dark">
            <strong>Quantity</strong>
        </div>
        <div class="col-4 pb-4 border border-dark">
            <strong>SI Unit</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            \( L \)
        </div>
        <div class="col-4 pb-4 border border-dark">
            Angular Momentum
        </div>
        <div class="col-4 pb-4 border border-dark">
            kilograms meters-squared radians per second-squared
            (kg m<sup>2</sup> rad / s<sup>2</sup>)
        </div>
    </div>
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            \( I \)
        </div>
        <div class="col-4 pb-4 border border-dark">
            Moment of Inertia
        </div>
        <div class="col-4 pb-4 border border-dark">
            kilograms meters-squared
            (kg m<sup>2</sup>)
        </div>
    </div>
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            \( \omega \)
        </div>
        <div class="col-4 pb-4 border border-dark">
            Angular Velocity
        </div>
        <div class="col-4 pb-4 border border-dark">
            radians per second-squared
            (rad / s<sup>2</sup>)
        </div>
    </div>
</div>

<h5>
    Questions
</h5>

<!--
- 2, simply practicing the formula
-2, finding angular velocity first
-2, finding angular velocity and moment of inertia
-->
<ol class="questionList">
    <li class="question">
        What is the angular momentum of an object
        with an angular velocity of 0.800 rad / sec
        and a rotational inertia of 0.865 kg m<sup>2</sup>?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question">
        What is the angular momentum of an object
        with an angular velocity of 0.650 rad / sec
        and a rotational inertia of 1.34 kg m<sup>2</sup>?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question">
        An object with a rotational inertia of 1.24 kg m<sup>2</sup>
        completes 3 rotations in a time of 4.00 s.
        What is its angular momentum?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <li class="question">
        A fast moving object with a rotational inertia of 0.238 kg m<sup>2</sup>
        completes 8 rotations in a time of only 3.48 s.
        What is its angular momentum?
        <br>
        <div class="formulaSolvingTable"></div>
    </li>
    <!--
    2 more than involve solving for moment of inertia
    -->
</ol>


<!---------------------------------------------------------------->
<!---------------------------------------------------------------->

<h4>
    Rotational Kinetic Energy
</h4>

<p class="equation">
    $$
    K_r = \frac{1}{2} I \omega^2
    $$
</p>

<div class="container">
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            <strong>Symbol</strong>
        </div>
        <div class="col-4 pb-4 border border-dark">
            <strong>Quantity</strong>
        </div>
        <div class="col-4 pb-4 border border-dark">
            <strong>SI Unit</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            \( K_r \)
        </div>
        <div class="col-4 pb-4 border border-dark">
            Rotational Kinetic Energy
        </div>
        <div class="col-4 pb-4 border border-dark">
            Joules (J)
        </div>
    </div>
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            \( I \)
        </div>
        <div class="col-4 pb-4 border border-dark">
            Moment of Inertia
        </div>
        <div class="col-4 pb-4 border border-dark">
            kilograms meters-squared
            (kg m<sup>2</sup>)
        </div>
    </div>
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            \( \omega \)
        </div>
        <div class="col-4 pb-4 border border-dark">
            Angular Velocity
        </div>
        <div class="col-4 pb-4 border border-dark">
            radians per second-squared
            (rad / s<sup>2</sup>)
        </div>
    </div>
</div>


<h5>
    Questions
</h5>

<ol class="questionList"></ol>


<!--
- 2, simply practicing the formula
-2, finding angular velocity first
-2, finding angular velocity and moment of inertia
-->


<!---------------------------------------------------------------->
<!---------------------------------------------------------------->

<h4>
    Impulse Formula For Rotational Motion
</h4>

<p class="equation">
    $$
    \Sigma \tau \cdot \Delta t = \Delta L = L_f - L _i
    $$
</p>

<div class="container">
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            <strong>Symbol</strong>
        </div>
        <div class="col-4 pb-4 border border-dark">
            <strong>Quantity</strong>
        </div>
        <div class="col-4 pb-4 border border-dark">
            <strong>SI Unit</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            \( \Sigma \tau \)
        </div>
        <div class="col-4 pb-4 border border-dark">
            Net torque
        </div>
        <div class="col-4 pb-4 border border-dark">
            Newton-meters (N-m)
        </div>
    </div>
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            \( \Delta t \)
        </div>
        <div class="col-4 pb-4 border border-dark">
            Change in time
        </div>
        <div class="col-4 pb-4 border border-dark">
            seconds (s)
        </div>
    </div>
    <div class="row">
        <div class="col-4 pb-4 border border-dark">
            \( \Delta L \)
        </div>
        <div class="col-4 pb-4 border border-dark">
            Change in Angular Momentum
        </div>
        <div class="col-4 pb-4 border border-dark">
            kilograms meters-squared radians per second-squared
            (kg m<sup>2</sup> rad / s<sup>2</sup>)
        </div>
    </div>
</div>


<h5>
    Questions
</h5>

<ol class="questionList"></ol>

<!--
-2: calculating impulse from torque
-2: calculating impulse formula angular momentum
-6: needing to find other things first (like torque, inertia, and angular velocity)
-2: finding final angular velocity with other quantities
-->

<ol class="answerList"></ol>