<p>
    In a previous quiz,
    it was possible to argue geometrically
    why The Universal Law of Gravitation and Coulomb's Law
    include an inverse square value by geometrically
    considering the field.
    In our three-dimensional universe, the field lines weaken
    with the square of the distance from their source,
    thus, we have inverse square laws.
    The goal of this quiz is to consider a hypothetically different universe.
</p>


<ol>
    <li>
        Consider a universe with only two dimensions (a flat universe).
        In this universe, draw a diagram of the gravitational field of a planet (which would be a disc).
        Demonstrate that the Law of Gravitation on this universe would
        be inversely proportional to distance:
        $$
        F_g \alpha \frac{1}{d}
        $$
    </li>
    <li>
        Consider a universe with only one dimension (a linear universe).
        In this universe, draw a diagram of the gravitation field of a planet (which would be a segment).
        Demonstrate that the Law of Gravitation in this universe would lbe independent of distance.
    </li>
    <li>
        Consider a universe with four dimensions (a tesseract universe).
        In this universe, draw** the gravitational field of a planet (which would be four-dimensional sphere).
        Demonstrate that the Law of Gravitation in this universe would be inversely proportional to the cube of distance:
        $$
        F_g \alpha \frac{1}{d^2}
        $$
    </li>
    <li>
        Extrapolate your results on the previous three problems in order to determine the proportionality
        between the force of gravity and distance in an n-dimensional universe.
        Briefly defend your answer.
    </li>
</ol>

<p>
    ** I'm pretty sure this is impossible,
    but as Level 6 quizzes are intended to be open-ended,
    give it your best shot.
    Perhaps look at some <a href = 'https://mcescher.com/gallery/'>works</a> by <a href = 'https://en.wikipedia.org/wiki/M._C._Escher'>M.C. Escher</a>  as motivation.
</p>