

<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>

<h3>
    <a href = '/podAssets/electric_circuits/voltage_and_current_concepts/energy_change_in_circuit.pdf'>LINK TO PRACTICE PAGE</a>
</h3>

<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>
