<h4>
    Composition of Air
</h4>
<div class="container">
    <div class="row">
        <div class="col-4 border border-dark">
            <strong>Molecule</strong>
        </div>
        <div class="col-4 border border-dark">
            <strong>Chemical Structure</strong>
        </div>
        <div class="col-4 border border-dark">
            <strong>Percentage of Air</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark pt-4">
            Nitrogen
        </div>
        <div class="col-4 border border-dark pt-4">
            N<sub>2</sub>
        </div>
        <div class="col-4 border border-dark pt-4">
            78%
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark pt-4">
            Oxygen
        </div>
        <div class="col-4 border border-dark pt-4">
            O<sub>2</sub>
        </div>
        <div class="col-4 border border-dark pt-4">
            21%
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark pt-4">
            Argon
        </div>
        <div class="col-4 border border-dark pt-4">
            Ar
        </div>
        <div class="col-4 border border-dark pt-4">
            1%
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark pt-4">
            Carbon Dioxide
        </div>
        <div class="col-4 border border-dark pt-4">
            CO<sub>2</sub>
        </div>
        <div class="col-4 border border-dark pt-4">
            0.03%
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-dark pt-4">
            Water Vapor
        </div>
        <div class="col-4 border border-dark pt-4">
            H<sub>2</sub>O
        </div>
        <div class="col-4 border border-dark pt-4">
            Depends on humidity
        </div>
    </div>
</div>

<p class="directions">
    For each statement, select a component of air that applies best ot it.
</p>
<ol class="questionList">
    <li class="question" data-answer = 'nitrogen'>
        The largest component of air.
    </li>
    <li class="question" data-answer = 'oxygen'>
        Our bodies use it to make energy. Without it, we die.
    </li>
    <li class="question" data-answer = 'water vapor'>
        Can condense into drop sof water on a cold soda bottle.
    </li>
    <li class="question" data-answer = 'water vapor'>
        We have <emph>lots</emph> of it in southeastern MA because we are near the ocean,
        but there is very little of this in the air in Arizona.
    </li>
    <li class="question" data-answer = 'carbon dioxide'>
        Humans blow this <emph>out</emph> when they breath.
    </li>
    <li class="question" data-answer = 'carbon dioxide'>
        Plants use this to build their structures
    </li>
    <li class="question" data-answer = 'Argon'>
        It is a noble gas.
        It does not form any chemical bonds, and exists on its own as an atom.
    </li>
</ol>


<h4>
    Thermal Energy in Air
</h4>

<p class="definition">
    <strong>Temperature</strong>
    <br><br>
    The <strong>temperature</strong> represents the speed of the air molecules.
    <br>
    Hotter air molecules are moving faster.
    <br>
    Cooler air molecules are moving slower.
</p>
<p class="definition">
    <strong>Heat Convection</strong>
    <br><br>
    Hotter (faster moving) air molecules will <emph>rise above</emph> other air molecules (think of smoke coming out of a fire).
    <br>
    Cooler (slower moving) air molecules will <emph>fall below</emph> other air molecules.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'the high school classroom'>
        Where are the air molecules moving faster: in a normal high school classroom or in a freezer?
    </li>
    <li class="question" data-answer = 'winter day'>
        Where are the air molecules moving slower: outside on a summer day or outside on a winter day?
    </li>
    <li class="question" data-answer = 'in the oven'>
        Where are the air molecules moving faster: in this room or in an oven where cookies are baking?
    </li>
    <li class="question" data-answer = 'rise'>
        What will warmer air coming out of a fire do?
    </li>
    <li class="question" data-answer = 'fall'>
        You open up a freezer, and cold air starts coming out. What will this cooler air do?
    </li>
</ol>

<h4>
    Non-Gas Forms of each Element of the air
</h4>

<p>
    The air is made up of five different gasses,
    but any gas can be condensed into a liquid and then frozen into a solid.
    Often, this requires some very expensive equipment, but for some examples
    of solid air are easily accessible.
</p>


<div class="container">
    <div class="row">
        <div class="cold-4">

        </div>
    </div>
</div>

<ol class="questionList">
    <li class="question" data-answer = 'All of them!'>
        Which components the air are <emph>possible</emph>
        to change into liquids and solids?
    </li>
    <li class="question" data-answer = 'water vapor'>
        Which component of the air is very very easy
        to access in liquid or solid form?
    </li>
    <li class="question" data-answer = 'nitrogen and carbon dioxide'>
        Which components of the air are relatively accessible
        in liquid and solid form?
    </li>
</ol>

<h4>
    Dry Ice
</h4>

<p>
    Coming in the future
</p>

<h4>
    Liquid Nitrogen
</h4>

<p>
    Coming in the future
</p>

<ol class="answerList"></ol>