
<ol>
    <li>
        Draw an interaction diagram with 3 nodes for a person standing up on a building that is located on the earth.
    </li>
    <li>
        Draw an interaction diagram with 4 nodes for a person who is pushing a box across a floor,
        which is located in a building on planet earth.
    </li>
</ol>