<ol>
    <li>
        Write the most precise definition of Newton's Third Law from memory.
    </li>
    <li>
        By referring to the rule you wrote, explain how people generate a force
        that allows them to walk.
    </li>
    <li>
        You are driving a truck with a friend in the passenger seat studying for a physics exam.
        You are driving a truck when you hit a fly.
        Your friend says "The truck must have done enormous force to that little bug,
        but the bug couldn't have done much to the truck, because it is so tiny."
        Set your friend right, so he doesn't fail his exam tomorrow.
        For full credit, you need to <em>refer specifically to the law you wrote above</em>!
    </li>
</ol>


<!--
A question in this quiz, or in a separate quiz, should differentiate between a balanced force pair and an action-reaction pair!!!

This quiz:
- explicitly referring to newton's Third law in describing an actionn-reaction pair

A quiz following free-body diagrams 3:
- writing a brief paragraph on the difference between an action-reaction pair and a balanced force pair

-->
