<p>
    Consider Spiderman.
    Spiderman frequently jumps off of a tall building,
    and then launches his spideystring at a building.
    The spideystring attaches to some building.
    Spiderman then swings like a pendulum, although unlike a pendulum,
    the spideystring stretches as spiderman falls.
</p>

<p>
    Create an energy model of Spiderman swinging with his spideystring.
    Determine yourself which variables are most important to consider.
    Determine which variables would be known and which would be interesting to find out.
    You may solve the problem numerically or algebraically, though I will recommend algebraically.
</p>

<p>
    As this is a level 6 quiz, it is your own exploration.
    Rather than solving a specified problem,
    you need to make your own problem using the material from this unit.
    Include copious amounts of diagrams, equations, and written explanation.
    Your grade will depend on the quality of the <emph>insights</emph>
    you make about spiderman in this situation.
</p>