<ol>
    <li>
        Prove that the formulas for kinetic energy, gravitational potential energy, and elastic potential
        energy all have the same units in terms meters, kilograms, and seconds.
    </li>
    <li>
        Derive a formula for velocity in terms of mass and kinetic energy and prove that formula is
        dimensionally correct.
    </li>
    <li>
        Derive a formula for the length of a spring in terms of the elastic potential energy of the spring,
        the spring constant of that spring,
        and equilibrium length of that spring.
        Your formula should yield two results.
        Prove that your formula is dimensionally correct.
    </li>
    <li>
        A car has a kinetic energy of 1000 Joules.
        It triples its speed.
        What is its new kinetic energy?
        In one sentence, explain how you determined your answer.
    </li>
    <li>
        A spring has an equilibrium length of 20 cm.
        When it is stretched to 30 cm, it has an elastic ptential energy of 200 Joules.
        How far would it need to be stretched to have an elastic potential energy of 800 Joules?
        In one sentence, explain how you determined your answer.
    </li>
    <li>
        A diver on a 27 meter board has 900 Joules of gravitational potential energy.
        At what height will he have 200 Joules of gravitational potential energy?
        In one sentence, explain how you determined your answer.
    </li>
</ol>