
<p class="directions">
    Answer each question below.
    For full credit, write any formula before using it,
    and include proper units in your answer.
</p>

<ol>
    <li>
        Jupiter completes one full rotation in a time of 9 hours and 56 minutes.
        Determine the angular velocity of Jupiter in radians per second.
        (Include 4 significant figures in your answer.)
    </li>
    <li>
        A day on Mars is slightly longer than a day on earth.
        Which has a greater angular velocity:
        Mars or the wheels of a mars rover while it is moving?
        Briefly explain your answer.
    </li>
</ol>