<p class = 'directions'>
    For full credit, you must carefully show your work on each problem.
    Every time you use a formula, copy the formula before using it.
    When you plug values into a formula, show the plugged values
    <emph>before</emph> simplifying or evaluating.
    Always include appropriate unit in your answer.
</p>

<ol>
    <li>
        A very fast football player completing drills runs in a circle
        with a radius of 5 meters in a time of only 4 seconds.
        Find his linear speed.
    </li>
    <li>
        A sprinter completes a half circle with a radius of 20 meters in a time of 12 seconds.
        Find her linear speed <emph>and</emph> her angular speed.
    </li>
</ol>