<ol>
    <li>
        A moon is located 5,000 miles from a planet.
        The magnitude of gravity between the moon and the planet
        is 1.6 x 10^20 Newtons.
        By referring to but not solving the Law of Universal Gravitation,
        determine the magnitude of gravity between the moon and the planet
        if it suddenly were located 10,000 mile from the planet.
    </li>
    <li>
        A meteor is located only 100 meters from a spaceship,
        and the magnitude of gravity between the meteor
        and the spaceship is 2.5 x 10^-6 Newtons.
        The meteor comes within 25 meters of the spaceship,
        while at the same time the people on the spaceship
        dump half of its mass out.
        By referring to but not solving the Law of Universal Gravitation,
        determine the new magnitude of gravity between the meteor and the
        spaceship.
    </li>
    <li>
        A planet has only one-fifth the mass of earth,
        but also has a radius one-third as large.
        By referring to the equation for free-fall acceleration on a planet,
        determine the free-fall acceleration on this planet.
    </li>
</ol>