<p class = 'directions'>
    For each wavelength specified, determine the color of a photon of that wavelength.
</p>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-3 p-2 border border-dark'><strong>Color</strong></div>
        <div class = 'col-3 p-2 border border-dark'><strong>Wavelength</strong></div>
    </div>
    <div class = 'row'>
        <div class = 'col-3 p-2 border border-dark'>Red</div>
        <div class = 'col-3 p-2 border border-dark'>635 - 700 nanometers (nm)</div>
    </div>
    <div class = 'row'>
        <div class = 'col-3 p-2 border border-dark'>Orange</div>
        <div class = 'col-3 p-2 border border-dark'>590 - 635 nm</div>
    </div>
    <div class = 'row'>
        <div class = 'col-3 p-2 border border-dark'>Yellow</div>
        <div class = 'col-3 p-2 border border-dark'>560 - 590 nm</div>
    </div>
    <div class = 'row'>
        <div class = 'col-3 p-2 border border-dark'>Green</div>
        <div class = 'col-3 p-2 border border-dark'>490 - 560 nm</div>
    </div>
    <div class = 'row'>
        <div class = 'col-3 p-2 border border-dark'>Blue</div>
        <div class = 'col-3 p-2 border border-dark'>450 - 490 nm</div>
    </div>
    <div class = 'row'>
        <div class = 'col-3 p-2 border border-dark'>Violet</div>
        <div class = 'col-3 p-2 border border-dark'>400 - 450 nm</div>
    </div>
</div>

<ol>
    <li class = 'mb-3'>
        Wavelength = 412 nm
    </li>
    <li class = 'mb-3'>
        Wavelength = 508 nm
    </li>
    <li class = 'mb-3'>
        Wavelength = 570 nm
    </li>
    <li class = 'mb-3'>
        Wavelength = 645 nm
    </li>
    <li class = 'mb-3'>
        Wavelength = 468 nm
    </li>
    <li class = 'mb-3'>
        Wavelength = 599 nm
    </li>
</ol>

<div class = 'bigSpace'></div>