<p class="introduction">
    Scientists spend much of their time conducting experiments.
    <!--
    MORE HERE
    -->
</p>


<p class = 'definition' data-word = "Inductive Reasoning">
    From large amounts of data, determining a pattern, which becomes a <emph>theory</emph>.
</p>
<p class = 'definition' data-word = "Deductive Reasoning">
    Using a theory to make a prediction (called a <emph>hypothesis</emph>),
    then
    Used to support or reject theories.
</p>

<a href = 'https://conjointly.com/kb/deduction-and-induction/'>Good Website on Deduction and Induction</a>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-sm-6 border border-dark'>
            <h5>
                Inductive Reasoning:
            </h5>
            <ul>
                <li>
                    Determining some a new pattern from large
                    amounts of data or from some situation.
                </li>
                <li>
                    Used to create new theories.
                </li>
            </ul>
        </div>
        <div class = 'col-sm-6 border border-dark'>
            <h5>
                Deductive Reasoning
            </h5>
            <ul>
                <li>
                    Using known theories to determine a hypothesis
                    and then testing if the data match the hypothesis.
                </li>
                <li>
                    Used to support or reject existing theories.
                </li>
            </ul>
        </div>
    </div>
</div>


<h4>
    Example: The Pendulum Lab
</h4>

<p>
    You start the pendulum lab by construction a pendulum
    and learning to measure the length, mass, amplitude, and period.
    Your first goal is to determine what variable measures the period.
    For this first half of the lab, there are no specific rules
    and procedures, only a question and a range of possible answers.
    Most groups try quickly changing each variable one at a time
    to determine which variable is the one that matters (the length).
    This stage of the lab is <strong>inductive reasoning</strong>.
</p>

<p>
    At this point, groups have created a new <strong>theory</strong>:
    That the length determines period of a pendulum.
    What remains is to run a new test to support this theory.
    At this stage, each group runs an experiment with the length
    as independent variable, the period as dependent variable,
    and mass and amplitude as controlled variables.
    Each group systematically tries several different lengths,
    and for each one measures the period of the pendulum.
    In this stage of the process, you begin not with a guess
    but a prediction based upon a theory.
    You then follow a very specific, regimented procedure to
    support of reject the hypothesis.
    This stage of the lab is based on <strong>deductive reasoning</strong>.
</p>