<p>
  A tennis ball is moving with a velocity of 20 m/s LEFT when it is hit with a racket.
  The racket is in contact with the ball for 20 milliseconds,
  and afterwards the ball moves with a velocity of 25 m/s RIGHT.
  Assume that, while in contact with the racket,
  the ball has a constant acceleration**.
</p>

<ol type = 'a'>
  <li>
    Determine the magnitude and direction of the acceleration of the racket.
  </li>
  <li>
    Draw a <em>quantitative</em> acceleration-time graph for the tennis ball
    for the period when it is in contact with the racket.
    Explicitly define anything that must be defined to properly explain this graph.
  </li>
  <li>
    Draw a <em>quantitative</em> velocity-time graph for the tennis ball
    for the period when it is in contact with the racket.
  </li>
</ol>




<p>
  In actuality, it does not, and we will learn more about
  this situation in the unit on
  <a href = '/unit/momentum/impulse'>impulse</a>.
</p>
