<p>
  Europeans for centuries believed
  that all objects can revolve only around the earth.
  In 1610, Galileo Galilee and Simon Marius
  independently discovered four objects orbiting Jupiter
  (later called moons).
</p>
<ol>
  <li>
    Describe the initial theory that Europeans had accepted.
  </li>
  <li>
    Describe what evidence medieval Europeans
    would have seen that <emph>is</emph> consistent with that theory.
  </li>
  <li>
    Was the new finding by Galileo consistent with the theory
    or inconsistent with the theory?
    Explain why.
  </li>
</ol>
