<p>
    The most important thing to know about the impulse formula is this:
    it is equivalent to Newton's Second Law.
    In fact, in Newton's <emph>Principia</emph>,
    his second law was not written as the familiar \( F = ma \)
    but as the impulse formula.
</p>

<p>
    The goal of this section is this:
    to prove this is true.
    This entire section is built on one short algebraic proof.
    Even though it is short,
    this proof is so important to the foundations of mechanics
    that it's worthy of its own section!
</p>



<p>
    Goal: Combine the following formulas to derive the impulse formula.
</p>


<ol>
    <li>
        Newton's Second Law: \( \Sigma F = ma \)
    </li>
    <li>
        The definition of acceleration: \( a = \frac{v_f - v_i}{\delta T} \)
    </li>
    <li>
        The definition of momentum \( p = mv \)
    </li>
</ol>