
<ol>
    <li>
        A block of mass \( m \) is on a ramp of adjustable slope.
        The coefficient of static friction
        between the block and the ramp is \( \mu_s \).
        Derive the minimum angle \( \theta \)
        for the block to begin moving
        in terms of \( m \), \( \mu_s \), and \( g \).
    </li>
    <li>
        Demonstrate your equation is dimensionally correct.
    </li>
    <li>
        Demonstrate that if the surface is horizontal,
        the block will move under no condition.
    </li>
    <li>
        Demonstrate that if the surface is vertical,
        the block will move under any condition.
    </li>
    <li>
        Describe a very brief experiment you could do with
        an adjustable slope ramp to measure
        the coefficient of static friction between two surfaces.
        Part of this procedure involves deriving
        an equation for \( mu_s \) and explaining
        what each term in this equation represents.
    </li>
</ol>
