<p>
  Back in the unit on kinematics,
  understanding <emph>linear</emph> velocity was crucial towards
  explaining how an object moves.
  To understand how an object spins,
  we need a different quantity for how fast it spins.
  This quantitiy is called <strong>rotational velocity</strong>
  or <strong>angular veloicty</strong>.
</p>


<h4>
  Information
</h4>

<ul>
  <li>
    Angular velocity is a measurement of how fast something spins around.
  </li>
  <li>
    Angular velocity is represented by the lower case Greek letter omega \( \left( \omega \right) \).
  </li>
  <li>
    The lower case omega is NOT the same thing as the letter "\( w \)."
  </li>
  <li>
    Agunar velocity is a vector.
  </li>
  <li>
    The SI unit of angular velocity is radians per second.
  </li>
  <li>
    Because radians are dimensionless, the dimension of angular velocity
    is \( \frac{1}{text{time}} \).
  </li>
</ul>

<p>
  The formula for linear veloicty (the type of velocity you are used to)
  is given by
  $$
  v = \frac{\Delta x}{\Delta t} = \frac{\text{displacement}}{\text{time}}
  $$
  Analogously, the formula for angular velocity is given by
  $$
  \omega = \frac{\Delta \theta}{\Delta t} = \frac{\text{Angular Displacement}}{\text{time}}
  $$
</p>


<p>
  The most common way to figure out angualr velocity is to find the time for one roation.
  A single rotation has an <emph>angular displacement</emph> to \( 2 \pi \) radians.
</p>



<h4>
  Questions:
</h4>

<p class = 'directions'>
  Every time you use a formula,
  write the formula before plugging values in.
  Every time you plug values in,
  write the values plugged in before evaluating them.
  Please answer each question to 3 significant figures of accuracy.
</p>

<ol class = 'questionList'>
  <li class = 'question' data-answer = '0.419 rad / s'>
    Someone runs all the way around a circle in a time
    of 15 seconds. What is his angular velocity?
  </li>
  <li class = 'question' data-answer = '0.0698 rad / s'>
    Someone runs all the way around a circle in a time of 90 seconds.
    What is her angular velocity?
  </li>
  <li class = 'question' data-answer = '0.262 rad / s'>
    Someone runs halfway around a circle in a time of 12 seconds.
    What is her angular velocity?
  </li>
  <li class = 'question' data-answer = '1.57 rad / s'>
    A super fast rabbit runs halfway around a circle in a time of 2 seconds.
    What is his angular velocity?
  </li>
  <li class = 'question' data-answer = '0.0873 rad / s'>
    A kid runs a quarter of a circle in a time of 18 seconds.
    What is her angular velocity?
  </li>
  <li class = 'question' data-answer = '41.9 rad / s'>
    A football spins around 20 times in only 3 seconds.
    What is its angular velocity?
  </li>
</ol>

<h4>
  Answers:
</h4>

<ol class = 'answerList'></ol>
