<p class = 'directions'>
    [Note: This entire quiz is qualitative. There are no numbers on this quiz.
    Please complete all tasks on another sheet of paper.]
    <br>
    A man wearing a purple suit and a tie with a giraffe on it
    gets into a high speed elevator of the 100th floor of a skyscraper,
    and takes the elevator down to the lobby without stopping.
</p>
<ul>
    <li>
        The elevator begins at rest and accelerates to a very fast downward velocity in the first 3 seconds.
    </li>
    <li>
        For the next 12 seconds, the elevator moves at a constant <i>fast</i> velocity downward.
    </li>
    <li>
        In the final 3 seconds of its journal, the elevator slows down and stops at the bottom floor.
    </li>
</ul>
<p class = 'directions'>
    As a result of this motion, the man in the purple suit and giraffe tie
    feels very extreme and strange sensations as the elevator moves.
    On a separate sheet of paper, complete the following tasks.
    All of the graphs you create should be qualitative on the y-axis but quantiative on the x-axis.
</p>

<ul>
    <li>
        Create a vertical position-time graph (qualitative on the y-axis but quantitative on the x-axis)
        of the man in the purple suit and giraffe tie
        as he moves down in the elevator.
        In your graph, the POSITIVE direction should be UP,
        the NEGATIVE direction is down, and the origin is the lobby of the building.
    </li>
    <li>
        Create a vertical velocity-time graph of the man in the purple suit and giraffe tie
        as he moves down the elevator. (qualitative on the y-axis but quantitative on the x-axis)
        In your graph, the POSITIVE direction should be up and the NEGATIVE direction should be down.
        While the graphs are qualitative,
        the scale of your velocity-time graph should be similar to that of your position-time graph.
    </li>
    <li style = 'margin-bottom: 0.3in'>
        Create a vertical acceleration-time graph of the man in the purple suit and giraffe tie
        as he moves down the elevator. (qualitative on the y-axis but quantitative on the x-axis)
        In your graph, the POSITIVE direction should be up and the NEGATIVE direction should be down.
        While the graphs are qualitative,
        the scale of your acceleration-time graph should be similar to that of your position and velocity graphs.
    </li>
    <li>
        At a time called time A, the man experiences no odd forces at all, and feels completely normal.
        Label time A on each of your three kinematic graphs (it should be at the same time on each graph).
        Note that there are infinitely many possible answers, so just pick one!
        Draw a qualitative free-body diagram of the person at time A.
        While the diagram does not include numerical values, the relative lengths of the
        arrows should correspond to the relative magnitudes of the forces at time A.
        Describe, in about one sentence, how the free-body diagram that you drew
        corresponds to your acceleration-time graph at time A.
    </li>
    <li>
        At a time called time B, the man feels extremely light,
        as as though the ground is falling out from under him.
        Label time B on each of your three kinematic graphs (it should be in the same position on each graph).
        Note that there are infinitely many possible answers, so just pick one!
        Draw a qualitative free-body diagram of the person at time B.
        While the diagram does not include numerical values, the relative lengths of the
        arrows should correspond to the relative magnitudes of the forces at time B.
        Describe, in about one sentence, how the free-body diagram that you drew
        corresponds to your acceleration-time graph at time B.
    </li>
    <li style = 'margin-bottom: 0.3in'>
        At a time called time C, the man feels heavy, as though the ground is pressing into his legs
        Label time C on each of your three kinematic graphs (it should at the same time on each graph).
        Note that there are infinitely many possible answers, so just pick one!
        Draw a qualitative free-body diagram of the person at time C.
        While the diagram does not include numerical values, the relative lengths of the
        arrows should correspond to the relative magnitudes of the forces at time C.
        Describe, in about one sentence, how the free-body diagram that you drew
        corresponds to your acceleration-time graph at time C.
    </li>
</ul>
