

<h3>
    Three Formulas
</h3>

<p>
    There are three different formulas we will used for \( Q \), heat energy added to an substance.
</p>

<div class="container">
    <div class="row">
        <div class="col-4 border border-primary p-2">
            Equation
        </div>
        <div class="col-4 border border-primary p-2">
            When Used
        </div>
        <div class="col-4 border border-primary p-2">
            Parts
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-primary p-3">
            \( Q = m C \Delta T \)
        </div>
        <div class="col-4 border border-primary p-3">
            For changes in temperature
        </div>
        <div class="col-4 border border-primary p-3">
            mass, specific heat, change in temperature
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-primary p-3">
            \( Q = m H_f \)
        </div>
        <div class="col-4 border border-primary p-3">
            For melting or freezing
        </div>
        <div class="col-4 border border-primary p-3">
            mass, heat of fusion
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-primary p-3">
            \( Q = m H_v \)
        </div>
        <div class="col-4 border border-primary p-3">
            Boiling or condensing
        </div>
        <div class="col-4 border border-primary p-3">
            mass, heat of vaporization
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-3 border border-dark p-2">Material</div>
        <div class="col-3 border border-dark p-2">Specific Heat (J / kg degree Celsius)</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Water</div>
        <div class="col-3 border border-dark p-2">4184</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Aluminum</div>
        <div class="col-3 border border-dark p-2">903</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Copper</div>
        <div class="col-3 border border-dark p-2">710</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Ice</div>
        <div class="col-3 border border-dark p-2">2060</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Silver</div>
        <div class="col-3 border border-dark p-2">235</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Steam</div>
        <div class="col-3 border border-dark p-2">2020</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 border border-dark p-2">Material</div>
        <div class="col-3 border border-dark p-2">Heat of Fusion (J / kg)</div>
        <div class="col-3 border border-dark p-2">Heat of Vaporization (J / kg)</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Copper</div>
        <div class="col-3 border border-dark p-2">2.05 x 10^5</div>
        <div class="col-3 border border-dark p-2">5.07 x 10^6</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Mercury</div>
        <div class="col-3 border border-dark p-2">1.15 x 10^4</div>
        <div class="col-3 border border-dark p-2">2.72 x 10^5</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Gold</div>
        <div class="col-3 border border-dark p-2">6.30 x 10^4</div>
        <div class="col-3 border border-dark p-2">1.64 x 10^6</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Iron</div>
        <div class="col-3 border border-dark p-2">2.66 x 10^5</div>
        <div class="col-3 border border-dark p-2">6.29 x 10^6</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Silver</div>
        <div class="col-3 border border-dark p-2">1.04 x 10^5</div>
        <div class="col-3 border border-dark p-2">2.36 x 10^6</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2">Water (and ice)</div>
        <div class="col-3 border border-dark p-2">3.34 x 10^5</div>
        <div class="col-3 border border-dark p-2">2.26 x 10^6</div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark p-2"></div>
        <div class="col-3 border border-dark p-2"></div>
        <div class="col-3 border border-dark p-2"></div>
    </div>
</div>

<ol class="questionList">
    <li class="question">
        <ul>
            <li>You have 0.300 kg of copper at a temperature of 24.0 degrees Celsius.</li>
            <li>You want to completely melt this copper. To do so, you must first heat it to the melting point of copper, and then melt it.</li>
            <li>The melting point of copper is 1085 degrees Celsius.</li>
        </ul>
        <ol class="subQuestionList" type = 'A'>
            <li class="subQuestion">
                Draw a semi-qualitative graph with temperature on the vertical axis and heat energy added on the horizontal axis.
                Use this graph to show how the copper progresses first from solid copper at 24.0 degrees Celsius to liquid copper at 1085 degrees Celsius.
                Label two portions of the graph. One portion is "increase in temperature" and the other is "melting."
                For the purposes of exposition, I'm putting the answer here, but please spend time on analyzing it to understand why it is the answer:
                <br>
                <img src = '/asset/{{id}}/copper_graph.png' width = '400px' height = 'auto'/>
            </li>
            <li class="subQuestion" data-answer = '\( Q_1 =  225993 \text{ J} \)'>
                Solve for the heat energy added in the first portion section in which the copper is heated. This variable can be called \( Q_1 \).
                Because this is an increase in temperature,
                it will use the formula \( Q_1 = m C \Delta T \).
                (Please do not round your answer).
            </li>
            <li class="subQuestion" data-answer = '\( Q_2 = 61500 \text{ J} \)'>
                Solve for the heat energy added in the second portion of the graph in which the copper is melted. This variable can be called \( Q_2 \).
                Because this is a phase transition between a solid and liquid, we use the heat of fusion formula:
                \( Q_2 = m H_f \).
                (Please do not round your answer.)
            </li>
            <li class="subQuestion" data-answer = '\( Q_T = 287493 \text{ J} \)'>
                Add the heat added in each section to find the total heat energy added to the copper, which we can call Q_T, or Q-total:
                $$
                Q_T = Q_1 + Q_2.
                $$
                (Please do not round your answer.)
            </li>
            <li class="subQuestion" data-answer = '\( Q_T = 2.87 \cdot 10^5 \text{ J} \)'>
                Please round the answer above to three significant figures of accuracy.
            </li>
        </ol>
    </li>
    <li class = 'question'>
        You go to the ice store and buy a giant block of ice, 10 kg!
        The initial temperature of the ice is -5°C.
        Then, you put it into a sealed vacuum chamber and start adding heat.
        The ice melts into water and then the water boils.
        In the end, you have steam with a temperature of 120°C.
        The ultimate goal is to determine how much heat energy you have.
        <ol class="subQuestionList">
            <li class="subQuestion">
                Draw a graph with temperature on the vertical axis and
                heat energy added on the horizontal axis.
                The graph should have 5 different sections. Label each section.
            </li>
            <li class="subQuestion">
                Solve for the heat energy of the first section: heating the ice to its melting point.
            </li>
            <li class="subQuestion">
                Solve for the heat energy of the second section: melting the ice into water.
            </li>
            <li class="subQuestion">
                Solve for the heat energy of the third section: heating the water to its boiling point.
            </li>
            <li class="subQuestion">
                Solve for the heat energy of the fourth section: boiling the water into steam.
            </li>
            <li class="subQuestion">
                Solve for the heat energy of the fifth section: heating the steam to its final temperature.
            </li>
            <li class="subQuestion" data-answer = '3.06 x 10^7 Joules'>
                Combine each of the five heat energies above to determine the total heat energy added.
                Please round your final answer to 3 significant figures of accuracy and include and appropriate unit.
            </li>
            <!--
            the last section initially was about which, maybe add this later
            -->
        </ol>
    </li>
</ol>


<ol class="questionList">
    <li class="question" data-answer = '6.3E5 Joules'>
        How much heat energy does it take to heat 200. grams of ice at -30 degrees Celsius into steam at 130 degrees Celsius?
        Please answer to two significant figures of accuracy.
    </li>
    <li class="question" data-answer = '1.7E6 Joules'>
        How much heat energy does it take to heat 550. grams of ice at -50 degrees Celsius into steam at 120. degrees Celsius?
        Please answer to two significant figures of accuracy.
    </li>
    <li class="question" data-answer = '8.21e5 J'>
        How much heat energy is necessary to melt 400 grams of iron that is currently at 20 degrees Celsius?
    </li>
    <li class="question" data-answer = 'Still 0 degrees Celsius, not enough heat was added to melt the ice.'>
        If I add 50,000 Joules of heat energy to 400 grams of ice that begins at 0 degrees Celsius, what is its final temperature?
    </li>
</ol>

<ol class="answerList"></ol>