

<h3>
    Three Formulas
</h3>

<p>
    There are three different formulas we will used for \( Q \), heat energy added to an substance.
</p>

<div class="container">
    <div class="row">
        <div class="col-4 border border-primary p-2">
            Equation
        </div>
        <div class="col-4 border border-primary p-2">
            When Used
        </div>
        <div class="col-4 border border-primary p-2">
            Parts
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-primary p-3">
            \( Q = m C \Delta T \)
        </div>
        <div class="col-4 border border-primary p-3">
            For changes in temperature
        </div>
        <div class="col-4 border border-primary p-3">
            mass, specific heat, change in temperature
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-primary p-3">
            \( Q = m H_f \)
        </div>
        <div class="col-4 border border-primary p-3">
            For melting or freezing
        </div>
        <div class="col-4 border border-primary p-3">
            mass, heat of fusion
        </div>
    </div>
    <div class="row">
        <div class="col-4 border border-primary p-3">
            \( Q = m H_v \)
        </div>
        <div class="col-4 border border-primary p-3">
            Boiling or condensing
        </div>
        <div class="col-4 border border-primary p-3">
            mass, heat of vaporization
        </div>
    </div>
</div>
