
<p class = 'directions'>
    Answer each of these formulas by
    <strong>explicitly</strong> referring to the rigid boyd equation:
    \( v = r \omega \)
</p>
<ul>
    <li>
        \( v \): linear velocity of a rotating body
    </li>
    <li>
        \( r \): radius of rotation
    </li>
    <li>
        \( \omega \): angular velocity
    </li>
</ul>

<ol>
    <li>
        If a pitcher wants to throw a ball as
        fast as possible,
        why does he <emph>extend</emph>
        his arm as he throws the ball?
    </li>
</ol>