
<p>
    More content coming here soon.
</p>


<h4>
    Common Errors in discussion Gravity
</h4>

<ul>
    <li>
        Incorrect: "Gravity attracts you to the ground."
    </li>
    <li>
        Correct: - The ground is not attracting you. The entire earth is attracting you.
        Gravity is pulling you tot he center of the earth, not the ground.
        You fall to the ground because it is in the way of moving all the way to the center of the earth.
    </li>
</ul>