
<h3>
  Table 1
</h3>
<p>
  The following stories consider a road
  that travels east-west with a traffic light in
  the middle.
  The origin is defined as the traffic light,
  and the positive direction is defined to be east.
</p>

<ol class = 'questionList'>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-3 border border-dark'>
        <strong>Story</strong>
      </div>
      <div class = 'col-3 border border-dark'>
        <strong>Postion-Time Graph</strong>
      </div>
      <div class = 'col-3 border border-dark'>
        <strong>Velocity-Time Graph</strong>
      </div>

      <div class = 'col-3 border border-dark'>
        <strong>Acceleration-Time Graph</strong>
      </div>
    </div>
  <div class = 'row'>
    <div class = 'col-3 border border-dark pt-3'>
      <li class = 'question' data-answer = 'E, C, C'>
        A car approaches the traffic light from the <em>west, traveling east</em>.
        The light is red, so the car slows down, stops,
        and waits at the light.
        When the light turns green, the car accelerates again.
      </li>
    </div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
  </div>
  <div class = 'row'>
    <div class = 'col-3 border border-dark pt-3'>
      <li class = 'question' data-answer = 'F, A, A'>
        A car approaches the traffic light from the <em>east, traveling west</em>.
        The light is red, so the car slows down, stops,
        and waits at the light.
        When the light turns green, the car accelerates again.
      </li>
    </div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
  </div>
  <div class = 'row'>
    <div class = 'col-3 border border-dark pt-3'>
      <li class = 'question' data-answer = 'A, F, B'>
        A car approaches the traffic light from the <em>west, traveling east</em>.
        The light is yellow, so the car speeds up to pass the light.
        After passing the light, the car slows to its initial velocity.
      </li>
    </div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
  </div>
  <div class = 'row'>
    <div class = 'col-3 border border-dark pt-3'>
      <li class = 'question' data-answer = 'B, B, D'>
        A car approaches the traffic light from the <em>east, traveling west</em>.
        The light is yellow, so the car speeds up to pass the light.
        After passing the light, the car slows to its initial velocity.
      </li>
    </div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
  </div>
  <div class = 'row'>
    <div class = 'col-3 border border-dark pt-3'>
      <li class = 'question' data-answer = 'D, E, E'>
        A car approaches the traffic light from the <em>west, traveling east</em>.
        The light is green,
        so the car passes through the light without
        changing speed.
      </li>
    </div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
  </div>
  <div class = 'row'>
    <div class = 'col-3 border border-dark pt-3'>
      <li class = 'question' data-answer = 'C, D, E'>
        A car approaches the traffic light from the <em>east, traveling west</em>.
        The light is green,
        so the car passes through the light without
        changing speed.
      </li>
    </div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
    <div class = 'col-3 border border-dark'></div>
  </div>
</div>
</ol>

<div class = 'pageBreak'></div>
<h4>
  Position-Time Graphs for Table 1
</h4>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-6 border border-dark' id = 'position-1-A'>
      <strong>A:</strong><br>
    </div>
    <div class = 'col-6 border border-dark' id = 'position-1-B'>
      <strong>B:</strong><br>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark' id = 'position-1-C'>
      <strong>C:</strong><br>
    </div>
    <div class = 'col-6 border border-dark' id = 'position-1-D'>
      <strong>D:</strong><br>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark' id = 'position-1-E'>
      <strong>E:</strong><br>
    </div>
    <div class = 'col-6 border border-dark' id = 'position-1-F'>
      <strong>F:</strong><br>
    </div>
  </div>
</div>

<div class = 'pageBreak'></div>
<h4>
  Velocity-Time Graphs for Table 1
</h4>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-6 border border-dark' id = 'velocity-1-A'>
      <strong>A:</strong><br>
    </div>
    <div class = 'col-6 border border-dark' id = 'velocity-1-B'>
      <strong>B:</strong><br>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark' id = 'velocity-1-C'>
      <strong>C:</strong><br>
    </div>
    <div class = 'col-6 border border-dark' id = 'velocity-1-D'>
      <strong>D:</strong><br>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark' id = 'velocity-1-E'>
      <strong>E:</strong><br>
    </div>
    <div class = 'col-6 border border-dark' id = 'velocity-1-F'>
      <strong>F:</strong><br>
    </div>
  </div>
</div>

<div class = 'pageBreak'></div>
<h4>
  Acceleration-Time Graphs for Table 1
</h4>
<p>
  One of the acceleration-time graphs is used twice
</p>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-6 border border-dark' id = 'acceleration-1-A'>
      <strong>A:</strong><br>
    </div>
    <div class = 'col-6 border border-dark' id = 'acceleration-1-B'>
      <strong>B:</strong><br>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark' id = 'acceleration-1-C'>
      <strong>C:</strong><br>
    </div>
    <div class = 'col-6 border border-dark' id = 'acceleration-1-D'>
      <strong>D:</strong><br>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-6 border border-dark' id = 'acceleration-1-E'>
      <strong>E:</strong><br>
    </div>
    <div class = 'col-6 border border-dark bg-secondary' id = 'acceleration-1-F'>
    </div>
  </div>
</div>

<ol class = 'answerList'></ol>


<script>
  let function11 = new KinematicStepwiseFunctions(-24,4,0);
  function11.addConstantVelocityStep(4);
  function11.addAcceleratedStep(-1,4);
  function11.addStationaryStep(4);
  function11.addAcceleratedStep(1,4);
  function11.addConstantVelocityStep(4);
  let graph11 = function11.makeQualitativeGraphs("");
  $("#position-1-E").append(graph11.positionGraph.drawCanvas(150));
  $("#velocity-1-C").append(graph11.velocityGraph.drawCanvas(150));
  $("#acceleration-1-C").append(graph11.accelerationGraph.drawCanvas(150));

  let function12 = new KinematicStepwiseFunctions(24,-4,0);
  function12.addConstantVelocityStep(4);
  function12.addAcceleratedStep(1,4);
  function12.addStationaryStep(4);
  function12.addAcceleratedStep(-1,4);
  function12.addConstantVelocityStep(4);
  let graph12 = function12.makeQualitativeGraphs("");
  $("#position-1-F").append(graph12.positionGraph.drawCanvas(150));
  $("#velocity-1-A").append(graph12.velocityGraph.drawCanvas(150));
  $("#acceleration-1-A").append(graph12.accelerationGraph.drawCanvas(150));

  let function13 = new KinematicStepwiseFunctions(-21,2,0);
  function13.addConstantVelocityStep(3);
  function13.addAcceleratedStep(2,3);
  function13.addAcceleratedStep(-2,3);
  function13.addConstantVelocityStep(3);
  let graph13 = function13.makeQualitativeGraphs("");
  $("#position-1-A").append(graph13.positionGraph.drawCanvas(150));
  $("#velocity-1-F").append(graph13.velocityGraph.drawCanvas(150));
  $("#acceleration-1-B").append(graph13.accelerationGraph.drawCanvas(150));

  let function14 = new KinematicStepwiseFunctions(21,-2,0);
  function14.addConstantVelocityStep(3);
  function14.addAcceleratedStep(-2,3);
  function14.addAcceleratedStep(2,3);
  function14.addConstantVelocityStep(3);
  let graph14 = function14.makeQualitativeGraphs("");
  $("#position-1-B").append(graph14.positionGraph.drawCanvas(150));
  $("#velocity-1-B").append(graph14.velocityGraph.drawCanvas(150));
  $("#acceleration-1-D").append(graph14.accelerationGraph.drawCanvas(150));

  let function15 = new KinematicStepwiseFunctions(-20,4,0);
  function15.addConstantVelocityStep(10);
  let graph15 = function15.makeQualitativeGraphs("");
  $("#position-1-D").append(graph15.positionGraph.drawCanvas(150));
  $("#velocity-1-E").append(graph15.velocityGraph.drawCanvas(150));
  $("#acceleration-1-E").append(graph15.accelerationGraph.drawCanvas(150));

  let function16 = new KinematicStepwiseFunctions(20,-4,0);
  function16.addConstantVelocityStep(10);
  let graph16 = function16.makeQualitativeGraphs("");
  $("#position-1-C").append(graph16.positionGraph.drawCanvas(150));
  $("#velocity-1-D").append(graph16.velocityGraph.drawCanvas(150));
//  $("#acceleration-1-E").append(graph16.accelerationGraph.drawCanvas(150)); used twice

</script>
