
<p class="directions">
    For full credit, write every equation before you use it.
    Please give all answers to three significant figures of accuracy.
</p>

<ol class="questionList">
    <li class="question" data-answer = '159 meters'>
        If a circle has a circumference of 500 meters, what is its diameter?
    </li>
    <li class="question" data-answer = '6.4 meters'>
        If a circle has a circumference of 20 meters, what is its diameter?
    </li>
    <li class="question" data-answer = '1.6 meters'>
        If a circle has a circumference of 10 meters, what is its radius?
    </li>
    <li class="question" data-answer = '8.0 meters [7.658 meters]'>
        If a circle has a circumference of 50 meters, what is its radius?
    </li>
    <li class="question" data-answer = '189 meters'>
        If a circle has a diameter of 60 meters, what is its circumference?
    </li>
    <li class="question" data-answer = '283 meters'>
        If a circle has a diameter of 90 meters, what is its circumference?
    </li>
    <li class="question" data-answer = '31.4 meters'>
        If a circle has a radius of 5 meters, what is its circumference?
    </li>
    <li class="question" data-answer = '56.5 meters'>
        If a circle has a radius of 9 meters, what is its circumference?
    </li>
    <li class="question" data-answer = '113 m^2'>
        If a circle has a radius of 6 meters, what is its area?
    </li>
    <li class="question" data-answer = '908 m^2'>
        If a circle has a radius of 17 meters, what is its area?
    </li>
    <li class="question" data-answer = '415 m^2'>
        If a circle has a diameter of 23 meters, what is its area?
    </li>
    <li class="question" data-answer = '1195 m^2'>
        If a circle has diameter of 39 meters, what is its area?
    </li>
    <li class="question" data-answer = '127.4 m^2'>
        If a circle has a circumference of 40 meters, what is its area?
    </li>
    <li class="question" data-answer = '0.716 m^2'>
        If a circle has a circumference of 3 meters, what is its area?
    </li>
    <li class="question" data-answer = '3.141592653'>
        Write pi to 10 digits.
    </li>
    <li class="question" data-answer = ''>
        The average speed of the moon rover rover vehicle is _____.
        The radius of the moon is _____.
        How long would it take the vehicle to drive the entire circumference of the moon?
    </li>
</ol>

<ol class="answerList"></ol>