
<div class="container">
    <div class="row">
        <div class="col-3 border border-dark">
            <strong>Name (or Names)</strong>
        </div>
        <div class="col-2 border border-dark">
            <strong>Symbol</strong>
        </div>
        <div class="col-5 border border-dark">
            <strong>Description</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Proton / <br>
            Hydrogen-1
        </div>
        <div class="col-2 border border-dark pt-4">
            \( ^1 _1 \text{H} \)
        </div>
        <div class="col-5 border border-dark pt-4">
            Positively charged particle
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Electron / <br>
            Beta Particle
        </div>
        <div class="col-2 border border-dark pt-4">
            \( ^{0} _{-1} \text{e} \)
        </div>
        <div class="col-5 border border-dark pt-4">
            Nearly massless negatively charged particle;
            given off during beta decay
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Neutron
        </div>
        <div class="col-2 border border-dark pt-4">
            \( ^{1} _{0} \text{n} \)
        </div>
        <div class="col-5 border border-dark pt-4">
            Massive particle with no charge.
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Deuteron /
            Hydrogen-2
        </div>
        <div class="col-2 border border-dark pt-4">
            \( ^{2} _{1} \text{H} \)
        </div>
        <div class="col-5 border border-dark pt-4">
            One neutron and one proton.
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Tritium / <br>
            Hydrogen-3
        </div>
        <div class="col-2 border border-dark pt-4">
            \( ^{3} _{1} \text{H} \)
        </div>
        <div class="col-5 border border-dark pt-4">
            Two neutrons and one proton.
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Helium-3
        </div>
        <div class="col-2 border border-dark pt-4">
            \( ^{3} _{2} \text{He} \)
        </div>
        <div class="col-5 border border-dark pt-4">
            Two protons and one neutron.
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Alpha Particle / <br>
            Helium-4
        </div>
        <div class="col-2 border border-dark pt-4">
            \( ^{4} _{2} \text{He} \)
        </div>
        <div class="col-5 border border-dark pt-4">
            Two protons and two neutrons; given off during alpha decay.
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Gamma Ray
        </div>
        <div class="col-2 border border-dark pt-4">
            \( \gamma \)
        </div>
        <div class="col-5 border border-dark pt-4">
            Very high energy electromagnetic wave
            given off as extra energy during gamma radiation
            and some reactions.
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Positron
        </div>
        <div class="col-2 border border-dark pt-4">
            \( ^{0} _{+1} \text{e} \)
        </div>
        <div class="col-5 border border-dark pt-4">
            Nearly massless positively charged particle;
            just like an eletron, but positive;
            given off in beta-plus decay.
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Neutrino
        </div>
        <div class="col-2 border border-dark pt-4">
            \( ^{0} _{0} \nu \)
        </div>
        <div class="col-5 border border-dark pt-4">
            Nearly massless, uncharged particle;
            given off as extra energy in some reactions.
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-4">
            Anti-neutrino
        </div>
        <div class="col-2 border border-dark pt-4">
            \( ^{0} _{0} \bar{\nu} \)
        </div>
        <div class="col-5 border border-dark pt-4">
            Nearly massless, uncharged particle;
            given off as extra energy in some reactions.
        </div>
    </div>
</div>

<p class="directions">
    For each of the following particles,
    write the symbol.
</p>

<ol class="questionList">
    <li class="question" data-answer = '\( ^1 _1 \text{H} \)'>
        A proton
    </li>
    <li class="question" data-answer = '\( ^{0} _{-1} \text{e} \)'>
        An electron
    </li>
    <li class="question" data-answer = '\( ^{3} _{1} \text{H} \)'>
        Tritium
    </li>
    <li class="question" data-answer = '\( \gamma \)'>
        Gamma ray
    </li>
    <li class="question" data-answer = '\( ^{0} _{0} \nu \)'>
        Neutrino
    </li>
    <li class="question" data-answer = '\( ^{4} _{2} \text{He} \)'>
        Alpha particle
    </li>
    <li class="question" data-answer = '\( ^{1} _{+1} \text{e} \)'>
        positron
    </li>
    <li class="question" data-answer = '\( ^{3} _{2} \text{He} \)'>
        Helium-3
    </li>
</ol>

<p class="directions">
    For each of the following descriptions,
    write the name of the particle and the symbol.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'Gamma Ray; \( \gamma \)'>
        Highest energy electromagnetic photon.
    </li>
    <li class="question" data-answer = 'positron; \( ^{1} _{+1} \text{e} \)'>
        Exactly like an electron, except positive.
    </li>
    <li class="question" data-answer = 'neutrino or anti-neutrino; \( ^{0} _{0} \nu \) or \( ^{0} _{0} \bar{\nu} \)'>
        Tiny, nearly massless,
        neutral particles that are sometimes
        given off during a reaction as extra energy. (two answers)
    </li>
    <li class="question" data-answer = 'Deuteron; \( ^{2} _{1} \text{H} \)'>
        A hydrogen atom with two neutrons.
    </li>
    <li class="question" data-answer = 'Tritium; \( ^{3} _{1} \text{H} \)'>
        A hydrogen atom with one neutron.
    </li>
    <li class="question" data-answer = 'alpha particle; \( ^{4} _{2} \text{He} \)'>
        Two protons and two neutrons.
    </li>
    <li class="question" data-answer = 'neutron; \( ^{1} _{0} \text{n} \)'>
        A particle with a mass of one atomic mass unit and no charge.
    </li>
</ol>

