

<p class="directions">
    Simplify each of the following combinations of units.
</p>

<!--
add more easy questions?
-->

<ol class="questionList">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 pb-4">
                <li class="question" data-answer = '\(
                    \frac{\text{s}}{\text{kg} \cdot \text{m}}
                \)'>
                    \(
                    \frac{\text{m}}{\text{kg}}\cdot\frac{\text{s}}{\text{m}^2}
                    \)
                </li>
            </div>
            <div class="col-md-6 mb-5 pb-4">
                <li class="question" data-answer = '\(
                    \frac{\text{m}^2 \cdot \text{kg}^2}{\text{s}^5}
                \)'>
                    \(
                    \frac{\text{m}}{\text{s}^2} \cdot \frac{\text{m}^3}{\text{s}^3} \cdot \frac{\text{kg}^2}{\text{m}^2}
                    \)
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 pb-4">
                <li class="question" data-answer = '\(
                    \text{kg}^4 \cdot \text{s}^2
                \)'>
                    \(
                    \frac{\text{m}^2}{\text{kg}} \cdot \frac{\text{kg}^3\text{m}}{\text{s}} \cdot \frac{\text{kg}^2\text{s}^3}{\text{m}^3}
                    \)
                </li>
            </div>
            <div class="col-md-6 mb-5 pb-4">
                <li class="question" data-answer = '\(
                    \frac{\text{m}^2}{\text{kg}^2 \cdot {s}^3}
                \)'>
                    \(
                    \frac{\text{m}^4}{\text{kg}} \cdot \frac{\text{m}}{\text{kg}^2} \cdot \frac{\text{kg}}{\left( \text{m} \cdot \text{s} \right)^3}
                    \)
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 pb-4">

            </div>
            <div class="col-md-6 mb-5 pb-4">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 pb-4">

            </div>
            <div class="col-md-6 mb-5 pb-4">

            </div>
        </div>
    </div>




    <li class="question" data-answer = '\(

    \)'>
        \(
        \frac{\text{}}{\text{}} \cdot \frac{\text{}}{\text{}} \cdot \frac{\text{}}{\text{}}
        \)
    </li>
    <li class="question" data-answer = '\(

    \)'>
        \(

        \)
    </li>
    <li class="question" data-answer = '\(

    \)'>
        \(

        \)
    </li>
</ol>


<ol class="answerList"></ol>