

<ul class="definition" class = 'Base Units'>
    <li>
        All unit in physics can be written in
        terms of a selection of unit called the <strong>base unit</strong>.
    </li>
    <li>
        The three most important base unit are:
        <ul>
            <li>
                Meters
            </li>
            <li>
                Kilograms
            </li>
            <li>
                Seconds
            </li>
        </ul>
    </li>
</ul>

<p>
    Each of these unit can be written in terms of base unit:
</p>

<div class="container">
    <div class="row">
        <div class="col-3 border border-dark">
            <strong>Symbol</strong>
        </div>
        <div class="col-3 border border-dark">
            <strong>Quantity</strong>
        </div>
        <div class="col-3 border border-dark">
            <strong>Unit</strong>
        </div>
        <div class="col-3 border border-dark">
            <strong>Special Name of Unit</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-3">
            \( t \)
        </div>
        <div class="col-3 border border-dark pt-3">
            time
        </div>
        <div class="col-3 border border-dark pt-3">
            seconds (s)
        </div>
        <div class="col-3 border border-dark pt-3">
            seconds
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-3">
            \( m \)
        </div>
        <div class="col-3 border border-dark pt-3">
            mass
        </div>
        <div class="col-3 border border-dark pt-3">
            kilograms (kg)
        </div>
        <div class="col-3 border border-dark pt-3">
            kilograms
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-3">
            \( x \) or \( \Delta x \)
        </div>
        <div class="col-3 border border-dark pt-3">
            position or displacement
        </div>
        <div class="col-3 border border-dark pt-3">
            meters (m)
        </div>
        <div class="col-3 border border-dark pt-3">
            meters
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-3">
            \( v \)
        </div>
        <div class="col-3 border border-dark pt-3">
            velocity
        </div>
        <div class="col-3 border border-dark pt-3">
            \( \frac{\text{m}}{\text{s}} \)
        </div>
        <div class="col-3 border border-dark pt-3">
            none
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-3">
            \( a \)
        </div>
        <div class="col-3 border border-dark pt-3">
            acceleration
        </div>
        <div class="col-3 border border-dark pt-3">
            \( \frac{\text{m}}{\text{s}^2} \)
        </div>
        <div class="col-3 border border-dark pt-3">
            none
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-3">
            \( F \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Force
        </div>
        <div class="col-3 border border-dark pt-3">
            \( \text{kg} \cdot \frac{\text{m}}{\text{s}^2} \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Newtons (N)
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-3">
            \( p \)
        </div>
        <div class="col-3 border border-dark pt-3">
            momentum
        </div>
        <div class="col-3 border border-dark pt-3">
            \( \text{kg} \cdot \frac{\text{m}}{\text{s}} \)
        </div>
        <div class="col-3 border border-dark pt-3">
            none
        </div>
    </div>
    <div class="row">
        <div class="col-3 border border-dark pt-3">
            \( K \) or \( U \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Kinetic Energy or Potential Energy
        </div>
        <div class="col-3 border border-dark pt-3">
            \( \text{kg} \cdot \frac{\text{m}}{\text{s}^2} \)
        </div>
        <div class="col-3 border border-dark pt-3">
            Joules (J)
        </div>
    </div>
</div>


<p class="directions">
    For each of the following quantities, write the unit in terms of meters, kilograms, and seconds.
</p>

<ol class="questionList">
    <li class="question"></li>
    <li class="question"></li>
    <li class="question"></li>
    <li class="question"></li>
    <li class="question"></li>
</ol>


<h4>
    Mass vs. Meters
</h4>
<p>COMING SOON!</p>


<h4>
    Practice
</h4>
<p class="directions">
    For each of the following combinations of quantities, determine the unit in terms of meters, kilograms, and seconds.
    The steps are:
</p>
<ol>
    <li>Write each quantity in terms of meters, kilograms, and second.</li>
    <li>If a quantity is in the numerator, add its unit in the numerator. If it is in the denominator, add its unit in the denominator.</li>
    <li>If a quantity is raised to some power, raise its unit to that power.</li>
    <li>Simplify the combination of unit, as in a <a href = '/pod/6103f0'>previous pod</a>.</li>
</ol>

<ol class="questionList">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '\(
                    \frac{1}{\text{m}}
                \)'>
                    \( \frac{\left( \Delta x \right) a }{v^2} \)
                </li>
            </div>
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '\(
                    \text{s}^2
                \)'>
                    \( \frac{\left( \Delta t \right) v^3 }{\left( \Delta x \right) a^2} \)
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '\(
                    \frac{\text{kg}^2\text{s}^8}{\text{m}^3}
                \)'>
                    \( \frac{m^2 \left( \Delta t \right)^5}{v^3} \)
                    Note that \( m \) stands for mass here, not meters!
                </li>
            </div>
            <div class="col-md-6 mb-5">
                <li class="question" data-answer = '\(
                    \frac{\text{m}}{\text{kg}^2\text{s}^8}
                \)'>
                    \( \frac{a^3 v^2}{m^2 \left( \Delta x \right)^4} \)
                </li>
            </div>
        </div>
    </div>
</ol>

<ol class="answerList"></ol>