

<h1>
    <a href = '/extraFiles/vector_form_conversion.pdf'>MORE INFORMATION HERE</a>
</h1>

<p class="directions">
    Each of the dimensionless vectors below are written in magnitude-direction form.
    Rewrite each one in component form to three significant figures of accuracy.
</p>
<ol class="questionList">
    <li class="question" data-answer = '\( (19.3 \text{ N}) \hat{\imath} + (23.0 \text{ N}) \hat{\jmath} \)'>
        <br>
        <div id = 'vector1'></div>
    </li>
    <li class="question" data-answer = '\( (11.3 \text{ N}) \hat{\imath} + (4.10 \text{ N}) \hat{\jmath} \)'>
        <br>
        <div id = 'vector2'></div>
    </li>
    <li class="question" data-answer = '\( (12.6 \text{ N}) \hat{\imath} + (48.3 \text{ N}) \hat{\jmath} \)'>
        <br>
        <div id = 'vector3'></div>
    </li>
    <li class="question" data-answer = '\( (-61.3 \text{ N}) \hat{\imath} + (-51.4 \text{ N}) \hat{\jmath} \)'>
        <br>
        <div id = 'vector4'></div>
    </li>
    <li class="question" data-answer = '\( (-4.92 \text{ N}) \hat{\imath} + (-18.4 \text{ N}) \hat{\jmath} \)'>
        <br>
        <div id = 'vector5'></div>
    </li>
    <li class="question" data-answer = '\( (86.6 \text{ N}) \hat{\imath} + (-50.0 \text{ N}) \hat{\jmath} \)'>
        <br>
        <div id = 'vector6'></div>
    </li>
</ol>

<script>
    $("#vector1").append(drawVector(30,50,'N','+X','above').drawCanvas(200));
    $("#vector2").append(drawVector(12,20,'N').drawCanvas(200));
    $("#vector3").append(drawVector(50,75,'N',undefined,undefined,'below').drawCanvas(200));
    $("#vector4").append(drawVector(80,220,'N').drawCanvas(200));
    $("#vector5").append(drawVector(19,270 - 15,'N').drawCanvas(200));
    $("#vector6").append(drawVector(100,330,'N').drawCanvas(200));
</script>

<ol class="answerList"></ol>


<h1>
    <a href = '/extraFiles/vector_form_conversion.pdf'>MORE INFORMATION HERE</a>
</h1>