<p class = 'directions'>
    Answer each question below in complete sentences.
    Even though this quiz is about short circuits, do not use the term "short circuit"
    in your answers. Instead, talk about what a short circuit is an how they work.
</p>

<ol>
    <li>
        A student is trying to light a light bulb
        with only a battery and a paper clip.
        He builds the following circuit:
        <br>
        <img src = 'podAssets/electric_circuits/circuit_construction_1/bad_circuit_1.jpg' height = '200px' width = 'auto'/>
        <br>
        Unfortunately, she finds the light bulb does not light,
        and that instead the circuit gets very hot!
        Explain in 1-2 sentences why the circuit is getting hot.
    </li>
    <li>
        A student builds the circuit below:
        <br>
        <img src = 'podAssets/electric_circuits/circuit_construction_1/bad_circuit_2.jpg' height = '200px' width = 'auto'/>
        <br>
        He finds the that light bulb in the circuit does not light.
        He concludes "The light bulb did not light because there is another
        path that is closer to the light bulb than the first path."
        His explanation is <strong>incorrect</strong>.
        Draw a circuit that provides a <strong>counterexample</strong>.
        Your counterexample circuit should be a circuit in which the bulb does not light,
        but which shows the student's explanation was not correct.
        In 1-2 sentences, explain why your new circuit is a counterexample.
    </li>
    <li>
        In 2-3 sentences, explain why the light bulb does not light in the circuit
        built for #2.
    </li>
</ol>