

<ol>
    <li>
        An object is moving down a ramp with an angle of incline \( \theta \).
        The coefficient of kinetic friction between the object and the ramp is \( \mu_k \), and assume that the block's velocity is down the ramp.
        The mass of the object is unknown. Note that mass will not be included in any final equations if you solve them correctly.
        Assuming the direction of the block's acceleration is down the ramp, determine its magnitude in terms of known quantities and constants.
        Show at least 4 steps of your derivation and demonstrate that your answer is dimensionally correct.
    </li>
    <li>
        Consider all the same situation as above, but this time assume the block's velocity is UP the ramp.
        <ol type = 'a'>
            <li>
                Draw a free-body diagram and determine the direction of acceleration.
            </li>
            <li>
                Determine the magnitude of acceleration.
            </li>
            <li>
                Determine if the block is speeding up, slowing down, or moving at a constant speed and describe briefly how your know.
            </li>
            <li>
                Give a brief description of a time that this might be the case.
            </li>
        </ol>
    </li>
</ol>