<p class = 'introduction'>
  In previous pods, you learned how to draw
  a wave of specified wavelength and amplitude.
  There is one more quantity that defines a wave:
  the <strong>phase</strong>
</p>

<h2 class = 'text-danger'>
    This assignment must be completed on graph paper!
    If you don't have any, use a ruler to turn lined paper into graph paper
    or print out this page.
</h2>

<p class = 'definition' data-word = 'phase'>
  The <strong>phase</strong>
  of a wave refers to the point in the progression of a wave at which it starts.
  Phase is always given in radians from zero to \( 2 \pi \)
</p>


<p class = 'definition' data-word = 'Sine and Cosine waves'>
  Most waves shapes can be classified as <emph>sine waves</emph>
  or <emph>cosine waves</emph>.
  The shape of sine waves and cosine waves look exactly the same,
  they differ only in phase.
</p>

<h4>
  Phase of a sine wave
</h4>

<ul>
  <li>
    A sine wave with with a phase of 0 begins with a middle point,
    moving upawrd.
  </li>
  <li>
    A sine wave with a phase of \( \frac{\pi}{2} \) begins with a crest.
  </li>
  <li>
    A sine wave with a phase of \( \pi \) begins with a middle point, moving downward.
  </li>
  <li>
    A sine wave with a phase of \( \frac{3 \pi }{2} \) begins with a trough.
  </li>
  <li>
    A sine wave with a phase of \( 2 \pi \) begins with a middle point, moving upward.
    (Identically to a phase of 0).
  </li>
</ul>


<h4>
  Phase of a cosine wave
</h4>

<p class = 'definition' data-word = 'cosine wave'>
  A <emph>cosine wave</emph> is identical to a sine wave with a phase of \( \frac{\pi}{2} \).
  If you get a cosine wave, just add \( \frac{\pi}{2} \) to the phase, and treat it as a sine wave.
</p>

<ul>
  <li>
    A cosine wave with with a phase of 0 begins with a crest.
  </li>
  <li>
    A cosine wave with a phase of \( \frac{\pi}{2} \) begins with a middle point, moving downward.
  </li>
  <li>
    A cosine wave with a phase of \( \pi \) begins with a trough.
  </li>
  <li>
    A cosine wave with a phase of \( \frac{3 \pi }{2} \) begins with a middle point, moving upward.
  </li>
  <li>
    A cosine wave with a phase of \( 2 \pi \) begins with a crest.
  </li>
</ul>



<h4>
  Phase greater than \( 2 \pi \)
</h4>

<p class = 'definition'>
  If phase is greater than \( 2 \pi \),
  then subtract \( 2 \pi \) from it until you have a number between zero and \( 2 \pi \).
</p>


<h4>
  Negative phases.
</h4>

<p class = 'definition'>
  If a phase is negative, then add \( 2 \pi \) until you have a number between zero and \( 2 \pi \).
</p>



<h4>
  Out of phase waves
</h4>

<p>
  The most important application of phase is when two waves interefere that are not in phase.
  This creates the phenomenon of beats in sound, and is behind the method used to discover the speed of light.
</p>
