<p class="introduction">
    In the previous pod, we drew waves with a specific wavelength.
    In this pod, we will draw waves with a specific amplitude.
</p>

<p class="directions">
    In each of the questions below,
    draw a wave with a particular amplitude.
    You can have any wavelength.
    Your wave should have at least three crests and troughs.
</p>

<ol class = 'questionList'>
    <li class = 'question'>
        Draw a wave with an amplitude of 2 boxes.
        You do not need to have any specific wavelength.
        <br>
        <div id = 'grid1'></div>
    </li>
    <li class = 'question'>
        Draw a wave with an amplitude of 4 boxes.
        <br>
        <div id = 'grid2'></div>
    </li>
    <li class = 'question'>
        Draw a wave with an amplitude of 3 boxes.
        <br>
        <div id = 'grid3'></div>
    </li>
    <li class = 'question'>
        Draw a wave with an amplitude of 1 box.
        <br>
        <div id = 'grid4'></div>
    </li>
</ol>


<script>
    let grid1 = new Grid(20,5);
    let grid2 = new Grid(20,10);
    let grid3 = new Grid(20,10);
    let grid4 = new Grid(20,5);

    $("#grid1").append(grid1.drawCanvas(600,200,false));
    $("#grid2").append(grid2.drawCanvas(600,300,false));
    $("#grid3").append(grid3.drawCanvas(600,300,false));
    $("#grid4").append(grid4.drawCanvas(600,200,false));
</script>