<p class="directions">
    In a <a href = 'pod/79415b06-1b6b-4ab2-aab8-b4785d998ded'>previous pod</a>,
    we learned there are two types of waves: electromagnetic and mechanical.
    Here we will learn some more differences between these types of waves.
</p>

