
- black probe to negative side
- red probe to positive side


<h3>
    Resources
</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ts0EVc9vXcs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
    Retrieved from <a href = 'https://www.sciencebuddies.org/science-fair-projects/references/how-to-use-a-multimeter'>Science Buddies</a>. There is very good written information
    on this page as well.
</p>