
<p class = 'directions'>
  For each situation involved,
  draw an energy transfer diagram with at least the number of steps indicated.
  You may include more steps if you like,
  but if you have an incorrect step, you will be penalized.
</p>

<ol>
  <li>
    Somebody eats an apple and then goes running.
    Begin with the apple and end with the person running.
    (2 steps)
  </li>
  <li>
    A piece of wood catches on fire.
    Begin with the wood and end with <emph>two</emph>
    forms of energy represented by the fire.
    (2 steps)
  </li>
  <li>
    A pitching machine operated by an electric motor throws a ball directly
    upward into the air.
    Begin with electric current and end with the ball high up in the air.
    (4 steps)
  </li>
</ol>
