<p class = 'directions'>
    For each situation involved,
    draw an energy transfer diagram with at least the number of steps indicated.
    You may include more steps if you like,
    but if you have an incorrect step, you will be penalized.
</p>

<ol>
    <li>
        Warm air pushes around the blades of a fan.
        (2 steps)
    </li>
    <li>
        An electrical current lights an incandescent light bulb.
        An incandescent light bulb works when a piece of tungsten
        wire heats up and gives off light.
        Begin with the current and end with <emph>two</emph>
        forms of energy represented by the turned on light bulb.
        (2 steps)
    </li>
    <li>
        A person eats an orange, then rides a bike as fast as they can!
        The bike rolls up a hill, where the person
        dives off a cliff into the water.
        Begin with the orange and end with the person
        immediately before they strike the water.
        (4 steps)
    </li>
</ol>
