
<ol>
    <li>
        Draw an object that is moving in circular motion,
        then add the following to your diagram:
        <ul>
            <li>
                Add an arrow indicating the centripetal force.
                Label this arrow.
            </li>
            <li>
                Add an arrow indicating the instantaneous velocity at the moment
                you drew. Label this arrow.
            </li>
            <li>
                Add a dotted line indicating the direction the object
                will move if it is released by the centripetal force.
                On your diagram, write what this dotted line represents.
            </li>
        </ul>
    </li>
    <li>
        Fill in the two blanks with the <strong>same word</strong>:
        A radius and tangent line of a circle are always _____________,
        therefore, the centripetal force an velocity of an object
        moving in a circle are also always ______________.
    </li>
    <li>
        What is the name for a line that, even if it extended forever
        in either direction, would touch a circle exactly once?
    </li>
    <li>
        Oh no! The sun was magically vaporized.
        What is Mars going to do?
        <ol type = 'A'>
            <li>
                Move in a straight line forever.
            </li>
            <li>
                Move in a mostly straight line, with a slight inward curve.
            </li>
            <li>
                Move in a mostly straight line, with a slight outward curve.
            </li>
            <li>
                Be vaporized also, for no apparent reason.
            </li>
        </ol>
    </li>
</ol>