<p>
  In this pod we will approach
  cannon problems such as
  those seen in <a href = '/podX/dynamics/projectile_motion/cannon_problem_1'>a previous pod</a>,
  but will approach them algebraically, not numerically.
</p>


<p>
  The <strong>double angle formula</strong>
  states that
  $$
  \sin(2 \theta) = 2 \sin(\theta) \cos(\theta).
  $$
  This formula can be used to simplify several formulas in your problems.
</p>

<ol class = 'questionList'>
  <li class = 'question'>
    A cannon is aimed at an angle \( \theta \) above the horizontal.
    It fires a cannonball at a speed of \( v_i \).
    The cannonball rises and falls and lands on the same level it was fired at.
    <ol class = 'subQuestionList'>
      <li class = 'subQuestion' data-answer = '\( v_{xi} = v_i \cos( \theta ) \); \( v_{yi} = v_i \sin( \theta ) \)'>
        Break the initial velocity of the cannonball into horizontal and vertical components.
      </li>
      <li class = 'subQuestion' data-answer = '\( \Delta t = \frac{2 v_i \sin(\theta)}{g} \)'>
        Determine the total time that the cannonball is in the air before it falls to the ground.
        Demonstrate that your answer is dimensionally correct.
      </li>
      <li class = 'subQuestion' data-answer = '\( \Delta x = \frac{2 v_i^2 \sin(\theta) \cos(\theta)}{g} = \frac{v_i^2 \sin(2 \theta)}{g} \)'>
        Determine the horizontal range of the cannonball before it falls to the ground.
        Simplify your answer.
        Demonstrate that your answer is dimensionally correct.
      </li>
    </ol>
  </li>
    <li class = 'question'>
        A cannon is standing on a cliff of height \( h \).
        The cannon fires a cannonball with an initial speed \( v_i \)
        at an angle \( \theta \).
        Complete the following questions:
        <ol class = 'subQuestionList' type = 'a'>
            <li class = 'subQuestion' data-answer = '\( v_{xi} = v_i \cos( \theta ) \); \( v_{yi} = v_i \sin( \theta ) \)'>
                Break the initial velocity of the cannonball into horizontal and vertical components.
            </li>
            <li class = 'subQuestion' data-answer = '\( \Delta t = \frac{v_i \sin(\theta) \pm \sqrt{v_i^2 \sin^2(\theta) + 2 g h}}{g} \)'>
                Determine an expression for the time before the cannonball strikes the ground
                \( h \), \( v_i \), \( \theta \), and \( g \).
                You will need to use the quadratic equation to determine your expression, and it will
                have two possible values.
            </li>
            <li class = 'subQuestion' data-answer = '\( \Delta t = \frac{v_i}{g} \left( \sin(\theta) \pm \sqrt{\sin^2(\theta) + \frac{2 g h}{v_i^2}} \right) \)'>
                Algebraically manipulate the expression you found for the total time of flight
                so that the expression consists of the value \( \frac{v_i}{g} \) times a dimensionless factor.
                Demonstrate that this expression is dimensionally correct.
            </li>
            <li class = 'subQuestion' data-answer = 'The value \( \sqrt{\sin^2(\theta) + \frac{2 g h}{v_i^2}} \) is always greater than \( \sin(\theta) \), so in the \( + \) case the expression will always be positive and in the \( - \) case it will always be negative.'>
                Demonstrate that one of the solutions to the above expression will <emph>always</emph> be positive
                and the other will <emph>always</emph> be negative.
                Which of these is the relevant solution?
            </li>
            <li class= 'subQuestion' data-answer = '\( \Delta x = \frac{v_i^2}{g} \left( \sin(\theta)\cos(\theta) + \sqrt{\sin^2(\theta)\cos^2(\theta) + \frac{2 g h}{v_i^2} \cos^2(\theta)} \right) \)'>
                Determine an expression for the horizontal range of the cannonball.
                Your expression should consist of the value \( \frac{v_i^2}{g} \) times a dimensionless factor.
                Demonstrate that this expression is dimensionally correct.
            </li>
            <li class= 'subQuestion' data-answer = '\( \Delta x = \frac{v_i^2}{g} \left( \frac{1}{2}\sin(2 \theta) + \sqrt{\frac{1}{4}\sin^2(2 \theta) + \frac{2 g h}{v_i^2} \cos^2(\theta)} \right) \)'>
                Use the double-angle formula to simplify the above expression
            </li>
        </ol>
    </li>
</ol>

<h4>
  Answers:
</h4>

<ol class = 'answerList'></ol>
