<p>
    In this section, we will explore problems in which an object is
    fired from some height with horizontal velocity.
    In this event, we will need to use the principle of two-dimensional motion.
</p>

<h5>
    Principle of Two Dimensional Motion
</h5>
<p class = 'definition' data-word = 'Two-Dimensional Motion Principle'>
    When an object is moving in two dimensions,
    the motion in one dimension does not affect the motion
    in the other dimension.
</p>

<!--
- 2 dimensioanl motion principle
- review of one dimesional motion problems
-->

<h5>
  Standard Horizontal Launch Problems:
</h5>

<h4>
    Table for Organizing Horizontal Launch Problems
</h4>

<div class="container">
    <div class="row">
        <div class = 'col-md-2 bg-secondary border border-dark'>
        </div>
        <div class = 'col-md-5 border border-dark'>
            Horizontal Motion
        </div>
        <div class = 'col-md-5 border border-dark'>
            Vertical Motion
        </div>
    </div>
    <div class="row">
        <div class = 'col-md-2 border border-dark'>
            Description of Motion
        </div>
        <div class = 'col-md-5 border border-dark'>
            Moving forwards at a constant velocity
        </div>
        <div class = 'col-md-5 border border-dark'>
            Accelerating downwards at a rate or 9.8 m/s/s
        </div>
    </div>
    <div class="row">
        <div class = 'col-md-2 border border-dark'>
            Formulas
        </div>
        <div class = 'col-md-5 border border-dark'>
            <ul>
                <li class = 'm-3'>
                    \( \Delta x = v_x \cdot \Delta t \)
                </li>
            </ul>
        </div>
        <div class = 'col-md-5 border border-dark'>
            <ul>
                <li class = 'm-3'>
                    \( v_{fy} = v_{iy} + a_y \cdot \Delta t \)
                </li>
                <li class = 'm-3'>
                    \( \Delta t = v_{iy} \cdot \Delta t + \frac{1}{2} a_y \)
                </li>
                <li class = 'm-3'>
                    \( \Delta y = \left( \frac{v_{iy} + v_{fy}}{2} \right) \Delta t \)
                </li>
                <li class = 'm-3'>
                    \( v^2_{fy} = v^2_{iy} + 2 a \cdot \Delta x \)
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-3 border border-dark">
            Quantities
        </div>
        <div class="col-md-5 col-xs-9 border border-dark">
            <ul>
                <li class = 'm-3'>
                    \( \Delta x = \)
                </li>
                <li class = 'm-3'>
                    \( v_x =  \)
                </li>
                <li class = 'm-3'>
                    \( \Delta t = \)
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-3 d-md-none border border-dark">
            Quantities
        </div>
        <div class="col-md-5 col-xs-9 border border-dark">
            <ul>
                <li class = 'm-3'>
                    \( \Delta y = \)
                </li>
                <li class = 'm-3'>
                    \( v_{yi} =  \)
                </li>
                <li class = 'm-3'>
                    \( v_{yf} =  \)
                </li>
                <li class = 'm-3'>
                    \( a_y =  \)
                </li>
                <li class = 'm-3'>
                    \( \Delta t = \)
                </li>
            </ul>
        </div>
    </div>
</div>


<ol class = 'questionList'>
  <li class = 'question' data-answer = '37.1 m'>
    A car drives off of a cliff that is 30 meters tall at a horizontal speed of 15 m/s.
    How far does it travel before striking the ground?
    <br>
    Here is how the information translates into physics quantities:
    <ul>
      <li>The horizontal velocity is 15 m/s. This is the speed the car was going when it went off the cliff.</li>
      <li>The initial vertical velocity is 0. The car is not moving vertically when it flies off the cliff.</li>
      <li>
        The vertical displacement is -30 m. This is how far it travels vertically before striking the ground.
        This value is negative because the displacement is <emph>downward</emph>.
      </li>
      <li>
        The vertical acceleration is -9.8 m/s<sup>2</sup>.
        This value is negative because the acceleration is <emph>downward</emph>.
      </li>
      <li>
        The quantity that the problem is looking for is <emph>horizontal displacement</emph>.
      </li>
    </ul>
    <br>
    Use the table above to find all of the unknown quantities.
    <br>
    Write the final answer (the horizontal displacement) here:
  </li>

  <li class = 'question' data-answer = '63.9 m'>
    A car drives off of a cliff that is 50 meters tall at a horizontal speed of 20 m/s.
    How far does it travel before striking the ground?
    <br>
    Here is how the information translates into physics quantities:
    <ul>
      <li>The horizontal velocity is 20 m/s. This is the speed the car was goign when it went off the cliff.</li>
      <li>The initial vertical velocity is 0. The car is not moving vertically when it flies off the cliff.</li>
      <li>
        The vertical displacement is -50 m. This is how far it travels vertically before striking the ground.
        This value is negative because the displacement is <emph>downward</emph>.
      </li>
      <li>
        The vertical acceleration is -9.8 m/s<sup>2</sup>.
        This value is negative because the acceleration is <emph>downward</emph>.
      </li>
      <li>
        The quantity that the problem is looking for is <emph>horizontal displacement</emph>.
      </li>
    </ul>
    <br>
    Use the table above to find all of the unknown quantities.
    <br>
    Write the final answer (the horizontal displacement) here:
  </li>
</ol>

<h5>
    Less Guidance
</h5>

<ol class="questionList">
    <li class="question">
        A car drives horizontally off a cliff with a speed of 24.0 m/s.
        The cliff has a height of 30.0 meters.
        Determine:
        <ol class="subQuestionList">
            <li class="subQuestion">
                The time before the car strikes the ground.
            </li>
            <li class="subQuestion">
                The <emph>vertical</emph> speed at which the car strikes the ground.
            </li>
            <li class="subQuestion">
                The distance that the car travels before striking the ground.
            </li>
        </ol>
    </li>
    <li class="question">
        A car drives horizontally off a cliff with a speed of 18.5 m/s.
        The cliff has a height of 6.8 meters.
        Determine:
        <ol class="subQuestionList">
            <li class="subQuestion">
                The time before the car strikes the ground.
            </li>
            <li class="subQuestion">
                The <emph>vertical</emph> speed at which the car strikes the ground.
            </li>
            <li class="subQuestion">
                The distance that the car travels before striking the ground.
            </li>
        </ol>
    </li>
</ol>

<h5>
  Conceptual Questions
</h5>

<ol class = 'questionList'>
  <li class = 'question' data-answer = 'In the vertical dimension, the object is accelerating. In the horizontal dimension, it is moving with a constant velocity.'>
    Why are there four equations available to use in the vertical dimension,
    but only one available in the horizontal dimension?
  </li>
  <li class = 'question' data-answer = 'Time. Time is not connected to you position in space.'>
    Which is the only quantity that is the same in both dimensions? Why?
  </li>
  <li class = 'question' data-answer = 'Because it is both moving downward and accelerating downward.'>
    Why are the velocity and acceleration in the vertical dimension negative?
  </li>
</ol>

<h5>
  More questions
</h5>

<!--
include some questions that slowly remove the scaffolding that i added.
-->


<h5>
  Different Questions
</h5>
<!--
Have a problem asking for the magnitude of final velocity!
-->

<h4>
  Answers:
</h4>

<ol class = 'answerList'></ol>


<h4>
    Video Resources:
</h4>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wB_Uv8P-VAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>


<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/ija21i1mc9?sui=92,1'>
        AP Physics 1 Topic 1.1: Daily Video 8 (Skill 2.1)
    </a>
</h4>
<p class="finePrint">
    Classroom Daily Videos are not available year round.
    The release dates for each video
    <a href = 'https://apcentral.collegeboard.org/pdf/ap-daily-course-release-dates.pdf'>this page</a>.
    AP Classroom Daily Videos are available only to students in AP Physics.
</p>
<script>


  let horizontalLaunchTable = new Table(5,3);
  horizontalLaunchTable.setMaxFontProportion(0.05);
  horizontalLaunchTable.setColumnProportions([1,2,2]);
  horizontalLaunchTable.setRowProportions([1,3,4,4,5]);

  horizontalLaunchTable.addTopHeaders(['','Horizontal', 'Vertical']);
  horizontalLaunchTable.shadeUpperLeftCorner();
  horizontalLaunchTable.writeTextInRow(1,['Motion','moving forward at a constant velocity','accelerating downward at a rate of 9.8 m/s/s']);

  horizontalLaunchTable.writeTextInCell(2,0,'Formulas');
  horizontalLaunchTable.addListToCell(2,1,[constantVelocityEquation('x', true)]);
  horizontalLaunchTable.addListToCell(2,2,kinematicEquations('y',true));

  horizontalLaunchTable.writeTextInCell(3,0,'Quantities');
  horizontalLaunchTable.addListToCell(3,1,[
    '\\( \\Delta x =  \\)',
    '\\( v_x = \\)',
    '\\( \\Delta t = \\)'
  ]);
  horizontalLaunchTable.addListToCell(3,2,[
    '\\( \\Delta y = \\)',
    '\\( v_{yi} = \\)',
    '\\( v_{yf} = \\)',
    '\\( a_y = \\)',
    '\\( \\Delta t = \\)'
  ]);

  horizontalLaunchTable.writeTextInCell(4,0,'Complete Problem Here:');


</script>
