<p>
    Memorize the equations below, which represent kinematic equations in each dimension:
</p>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>
                Horizontal Dimension
            </h3>
        </div>
        <div class="col-6">
            <h3>
                Vertical Dimension
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>
                Constant Velocity Motion
            </h4>
        </div>
        <div class="col-6">
            <h4>
                Constant Velocity Motion
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul>
                <li>
                    \( \Delta x = v_x \cdot \Delta t \)
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>
                    \( \Delta y = v_y \cdot \Delta t \)
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>
                Accelerated Motion
            </h4>
        </div>
        <div class="col-6">
            <h4>
                Accelerated Motion
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul>
                <li class = 'mb-3'>
                    \( v_{fx} = v_{ix} + a_x \cdot \Delta t \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta x = v_{ix} \cdot \Delta t + \frac{1}{2} a_x \left( \Delta t \right)^2 \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta x = \left( \frac{v_{ix} + v_{fx}}{2} \right) \Delta t \)
                </li>
                <li class = 'mb-3'>
                    \( v_{fx}^2 = v_{ix}^2 + 2 a_x \cdot \Delta t \)
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li class = 'mb-3'>
                    \( v_{fy} = v_{iy} + a_y \cdot \Delta t \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta y = v_{iy} \cdot \Delta t + \frac{1}{2} a_y \left( \Delta t \right)^2 \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta y = \left( \frac{v_{iy} + v_{fy}}{2} \right) \Delta t \)
                </li>
                <li class = 'mb-3'>
                    \( v_{fy}^2 = v_{iy}^2 + 2 a_y \cdot \Delta t \)
                </li>
            </ul>
        </div>
    </div>
</div>


<p>
    In a typical <strong>cannon problem</strong>:
    you would use the <emph>constant velocity equation in the horizontal dimension</emph>
    amd the <emph>accelerated motion equations in the vertical dimension.</emph>
</p>


<p>
    In the table below, the same equations are presented but those that are relevant to a <strong>cannon problem</strong>
    are circled:
</p>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>
                Horizontal Dimension
            </h3>
        </div>
        <div class="col-6">
            <h3>
                Vertical Dimension
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>
                Constant Velocity Motion
            </h4>
        </div>
        <div class="col-6">
            <h4>
                Constant Velocity Motion
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6 border border-danger border-2">
            <ul>
                <li>
                    \( \Delta x = v_x \cdot \Delta t \)
                </li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>
                    \( \Delta y = v_y \cdot \Delta t \)
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4>
                Accelerated Motion
            </h4>
        </div>
        <div class="col-6">
            <h4>
                Accelerated Motion
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul>
                <li class = 'mb-3'>
                    \( v_{fx} = v_{ix} + a_x \cdot \Delta t \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta x = v_{ix} \cdot \Delta t + \frac{1}{2} a_x \left( \Delta t \right)^2 \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta x = \left( \frac{v_{ix} + v_{fx}}{2} \right) \Delta t \)
                </li>
                <li class = 'mb-3'>
                    \( v_{fx}^2 = v_{ix}^2 + 2 a_x \cdot \Delta t \)
                </li>
            </ul>
        </div>
        <div class="col-6 border border-danger border-2">
            <ul>
                <li class = 'mb-3'>
                    \( v_{fy} = v_{iy} + a_y \cdot \Delta t \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta y = v_{iy} \cdot \Delta t + \frac{1}{2} a_y \left( \Delta t \right)^2 \)
                </li>
                <li class = 'mb-3'>
                    \( \Delta y = \left( \frac{v_{iy} + v_{fy}}{2} \right) \Delta t \)
                </li>
                <li class = 'mb-3'>
                    \( v_{fy}^2 = v_{iy}^2 + 2 a_y \cdot \Delta t \)
                </li>
            </ul>
        </div>
    </div>

</div>
