<p class = 'introduction'>
  In the unit on
  <a href = '/unit/kinematics/forward_kinematics_quantitative'>forward quantitative kinematics</a>,
  you learned to use the four kinematic equations
  to describe constant acceleration motion
  in one direciton.
  Now, we will begin learning how to use
  these equations to reflect motion in two directions:
  forward and backwards.
  Mathematically, this is not that difficult:
  it invovles the same equations, now with both positive and
  negative numbers.
  However, interpreting what each positive
  and negative sign means, and connecting
  the mathematical result to an understandable, physical result
  can be quite difficult.
</p>

<p class = 'introduction'>
  To begin the process of using and interpreting
  the kinematic equations with positive and negative signs,
  we will begin with the simplest kinematic equation:
  the definition of acceleration.
</p>


<p class = 'equation'>
  $$
  v_f = v_i + a \cdot \Delta t
  $$
</p>

<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-3 border border-dark'>
      <strong>Symbol</strong>
    </div>
    <div class = 'col-3 border border-dark'>
      <strong>Quantity</strong>
    </div>
    <div class = 'col-3 border border-dark'>
      <strong>SI Unit</strong>
    </div>
    <div class = 'col-3 border border-dark'>
      <strong>Vector or Scalar</strong>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-3 border border-dark pt-2'>
      \( v_f \)
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      Final Velocity
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      m/s
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      vector
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-3 border border-dark pt-2'>
      \( v_i \)
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      Initial Velocity
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      m/s
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      vector
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-3 border border-dark pt-2'>
      \( a \)
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      Acceleration
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      m/s/s
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      vector
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-3 border border-dark pt-2'>
      \( \Delta t \)
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      Time Interval
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      seconds (s)
    </div>
    <div class = 'col-3 border border-dark pt-2'>
      scalar
    </div>
  </div>
</div>


<ul class = 'definition' data-word = 'Vector'>
  <li>
    A <strong>vector</strong> is a quantity
    that includes both magnitude and direction.
  </li>
  <li>
    In the equation above,
    initial velocity,
    final velocity, and acceleration are vectors.
  </li>
  <li>
    In one-dimensional problems (in this pod),
    the direction is represented by a positive
    or negative sign,
    and the magnitude is represented by the absolute
    value of a quantity.
  </li>
</ul>
<p class = 'definition' data-word = 'Speed'>
  The magnitude of the velocity vector
  is called the <strong>speed</strong>.
  It can be found by taking the absolute
  value of the velocity.
</p>



<h4>
  Problems
</h4>
<h5>
  Steps to These Problems
</h5>
<ol>
  <li>
    Whenever solving a problem,
    pick one direction to be the POSITIVE direction.
    The opposite direction is the NEGATIVE direction.
    (Conventionally, right is positive and left is negative,
    but you are free to reverse this convention
    if you have any reason to.
    Always explicitly indicate which direction you chose to be positive.
  </li>
  <li>
    Write the known quantities.
    When writing intial velocity and acceleration, include a sign in your
    answer to indicate its direction.
  </li>
  <li>
    Determine the final velocity using the formula: \( v_f = v_i + a \cdot \Delta t \)
  </li>
  <li>
    Take the aboslute value of the final velocity to determine the
    magnitude of velocity (called the <em>speed</em>).
  </li>
  <li>
    Look at the sign of the final velocity to determine its direction.
    Do not write a sign in your final answer,
    instead, write the direction in words or include an arrow in your answer.
  </li>
  <li>
    Determine if the object is speeding up or slowing down:
    <ul>
      <li>
        If the final velocity and acceleration are in the <em>same direction</em>,
        then the object is <em>speeding up</em>.
      </li>
      <li>
        If the final velocity and acceleration are in the <em>opposite directions</em>,
        then the object is <em>slowing down</em>.
      </li>
    </ul>
  </li>
</ol>



<ol class = 'questionList' id = 'questionList1'></ol>

<script>
  function getDirection(vector_quantity) {
    let direction;
    if (vector_quantity > 0) {
      direction = 'right';
    } else if (vector_quantity < 0) {
      direction = 'left';
    }
    return direction
  }


  function makeRandomProblem() {
    let initial_velocity = randInt(-10,10);
    let acceleration = randInt(-3,3);
    let time = randInt(1,10);
    return solveProblem(initial_velocity, acceleration, time);
  }

  function solveProblem(initial_velocity, acceleration, time) {
    let initial_direction = getDirection(initial_velocity);
    let acceleration_direction = getDirection(acceleration);

    let text = `An object has an initial speed of ${Math.abs(initial_velocity)} m/s
    to the ${initial_direction} and an acceleration of
    ${Math.abs(acceleration)} m/s to the ${acceleration_direction}.
    A time of ${time} seconds passes.
    First, define a positive and negative direction
    on the axis and determine the final velocity of the object.
    Then, answer the questions below.`;
    let final_velocity = initial_velocity + acceleration * time;
    let final_speed = Math.abs(final_velocity);
    let final_direction = getDirection(final_velocity);
    let answer3, speedingUp;
    if (acceleration * final_velocity > 0) {
      speedingUp = true;
      answer3 = 'Speeding up, because velocity and acceleration are in the same direction';
    } else if (acceleration * final_velocity < 0) {
      speedingUp = false;
      answer3 = 'Slowing down, because velocity and acceleration are in opposite directions';
    }
    return {
      text: text,
      answer1: final_speed,
      answer2: final_direction,
      answer3_boolean: speedingUp,
      answer3_text: answer3
    }
  }

  function problemTable(problemObject) {
    let master = $(`<li class = 'question'>${problemObject.text}</li>`);
    let container = $("<div class = 'container'></div>");
    let row1 = $("<div class = 'row'></div>");
    $(row1).append($("<div class = 'col-4 border border-dark pb-5'>Axis:</div>"));
    $(row1).append($("<div class = 'col-8 border border-dark pb-5'>Information:</div>"));
    let row2 = $("<div class = 'row'></div>");
    $(row2).append("<div class = 'col-12 border border-dark pb-5'>Formula and Work:</div>");

    let subQuestionList = $("<ol class = 'subQuestionList p-0' type = 'a'></ol>");
    let row3 = $("<div class = 'row'></div>");
    $(row3).append(`<div class = 'col-md-4 border border-dark pb-5'><li class = 'subQuestion' data-answer = '${problemObject.answer1} m/s'>What is the final <em>speed</em> of the object?</li></div>`);
    $(row3).append(`<div class = 'col-md-4 border border-dark pb-5'><li class = 'subQuestion' data-answer = 'To the ${problemObject.answer2}'>What direction is it moving?</li></div>`);
    $(row3).append(`<div class = 'col-md-4 border border-dark pb-5'><li class = 'subQuestion' data-answer = '${problemObject.answer3_text}'>Is it speeding up or slowing down, and why?</li></div>`);

    $(subQuestionList).append(row3);
    $(container).append(row1);
    $(container).append(row2);
    $(container).append(subQuestionList);
    $(master).append(container);
    return master
  }

  function generatedProblemTable(problemObject) {
    let master = $(`<li class = 'question'>${problemObject.text}</li>`);
    let container = $("<div class = 'container'></div>");
    let row = $("<div class = 'row'></div>");
    let col1 = $(`<div class = 'col-md-4 border border-dark'>What is the final speed of the object in m/s?</div>`);
    let col2 = $("<div class = 'col-md-4 border border-dark'>What direction is it moving?</div>");
    let col3 = $("<div class = 'col-md-4 border border-dark'>Is it speeding up or slowing down?</div>");

    $(col1).append($(`<input type = 'number' id = 'questionA' data-answer = '${problemObject.answer1}'/>`));

    let answerButton = $("<input type = 'button' value = 'ANSWER' onclick = 'answeringFunction()' class = 'm-2'/>");

    $(row).append(col1);
    $(row).append(col2);
    $(row).append(col3);
    $(container).append(row);
    $(master).append(container);
    $(master).append(answerButton);
    return master
  }

  function generateProblem() {
    let newProblem = makeRandomProblem();
    let newProblemTable = generatedProblemTable(newProblem);
    $("#putProblemHere").empty();
    $("#putProblemHere").append(newProblemTable);
  }

  function answeringFunction() {
    let answerA = Number($("#questionA").val());
    let answerA_correct = Number($("#questionA").data().answer);
    if (answerA === answerA_correct) {
      $("#questionA").removeClass("border border-danger");
      $("#questionA").addClass("border border-success");
    } else {
      $("#questionA").addClass("border border-danger");
    }
    /// RIGHT NOW THIS DOESN"T FULLY WORK, because I need to remove one class and add another
    // this is progress
  }

  let problem1 = problemTable(solveProblem(5,2,3));
  let problem2 = problemTable(solveProblem(4,3,2));
  let problem3 = problemTable(solveProblem(-2,-3,5));
  let problem4 = problemTable(solveProblem(-4,-2,4));
  let problem5 = problemTable(solveProblem(6,-2,2));
  let problem6 = problemTable(solveProblem(6,-2,4));
  let problem7 = problemTable(solveProblem(9,-4,2));
  let problem8 = problemTable(solveProblem(9,-4,3));
  let problem9 = problemTable(solveProblem(-7,2,3));
  let problem10 = problemTable(solveProblem(-7,2,5));
  let problem11 = problemTable(solveProblem(-9,3,2));
  let problem12 = problemTable(solveProblem(-9,3,4));

  $("#questionList1").append(problem1);
  $("#questionList1").append(problem2);
  $("#questionList1").append(problem3);
  $("#questionList1").append(problem4);
  $("#questionList1").append(problem5);
  $("#questionList1").append(problem6);
  $("#questionList1").append(problem7);
  $("#questionList1").append(problem8);
  $("#questionList1").append(problem9);
  $("#questionList1").append(problem10);
  $("#questionList1").append(problem11);
  $("#questionList1").append(problem12);

</script>

<ol class = 'answerList'></ol>




<h5>
  Instananeous Stops
</h5>

<p>
  COMING SOON!
</p>

<p class = 'definition' data-word = 'Instantaneously Stationary'>
  When an object has a velocity of zero for only
  a moment, it is <em>instaneously stantionary</em>.
  Typically, objects are instantaneously stationary when they are turning around.
</p>


<h5>
  Drawing Quantitative Velocity Graphs
</h5>
<p>
  Should this be moved to a different pod?
</p>

<p>
  (this equation needs to be paired with quantiative
  velocity graphs)
</p>
<p>
  The equation \( v_f = v_i + a \cdot \Delta t \) can be rewritten in its functional form:
  $$
  v(t) = v_0 + a t
  $$
</p>

<!--
what the problems should look like:
- begin with a situation just liek the stiuation above,
you need to DRAW a kinematic graph

- break it into two poritons
when it is slowing down, and when it is speeding up

- determine the moment when the object turns around


[on the quiz, describe in words]

-->



<div class = 'randomProblemGenerator m-5'>
  <h4>
    Random Problem Generator
  </h4>

  <input type = 'button' value = 'Generate New Problem!' onclick = 'generateProblem()'/>

  <div id = 'putProblemHere'></div>
</div>





<!--
MODEL FOR PROBLEMS
<ol class = 'questionList' id = 'questionList1'>
  <li class = 'question'>
    An object has an initial speed of 5 m/s
    to the right and an acceleration of
    2 m/s to the right.
    A time of 3 seconds passes.
    First, define a positive and negative direction
    on the axis and determine the final velocity of the object.
    Then, answer the questions below.
    <div class = 'container'>
      <div class = 'row'>
        <div class = 'col-4 border border-dark pb-5'>
          Axis:
        </div>
        <div class = 'col-8 border border-dark pb-5'>
          Information:
        </div>
      </div>
      <div class = 'row'>
        <div class = 'col-12 border border-dark pb-5'>
          Formula and Work:
        </div>
      </div>
      <ol class = 'subQuestionList p-0' type = 'a'>
        <div class = 'row'>
          <div class = 'col-4 border border-dark pb-5'>
            <li class = 'subQuestion' data-answer = '11 m/s'>
              What is the final <em>speed</em> of the object?
            </li>
          </div>
          <div class = 'col-4 border border-dark pb-5'>
            <li class = 'subQuestion' data-answer = 'To the right'>
              What <em>direction</em> is the object ultimately moving?
              (Write the direction in English, do not write "positive" or "negative".)
            </li>
          </div>
          <div class = 'col-4 border border-dark pb-5'>
            <li class = 'subQuestion' data-answer = 'It is speeding up because velocity and acceleartion are both to the right.'>
              Is the object speeding up or slowing down?
              Explain your answer.
            </li>
          </div>
        </div>
      </ol>
    </div>
  </li>
</ol> -->
