<p>
    In a <a href = '/podX/waves/the_electromagnetic_spectrum_quantitative/choosing_color_by_wavelength'>previous pod</a>,
    we learned that the wavelength of a visible light photon determines the color of that photon.
    However, that exercise comprises on a tiny portion of possible wavelengths,
    from 400 nm to 700 nm.
    The wavelengths of an electromagnetic wave can extend from hundreds or thousands of meters
    to less than 0.000000000001 meters.
    Every photon can be categorized into one of the seven categories of electromagnetic wave based on its wavelength.
</p>

<p>
    However, due to the extreme differences in order of magnitude of wavelengths,
    wavelength needs to be expressed in scientific notation.
    This can make identifying the type of electromagnetic wave a particular photon represents
    a little more difficult than it was when we were dealing only with colors.
</p>


<img src = '/podAssets/waves/the_electromagnetic_spectrum_quantitative/classification_table_1.png' height = '300px' width = 'auto'/>


<p>
    Note that this table gives estimates only!
    In fact, different sources will give different values for the ranges of these numbers.
    This is understandable: the 7 types of electromagnetic waves are human constructs to help us understand them.
    All that really matters in the physical world is the wavelength, frequency, and energy of a particular wave and how it interacts with its environment.
</p>

<p class = 'directions'>
    For each electromagnetic wave, determine what type of electromagnetic wave it is.
    The symbol \( \lambda \) stands for wavelength.
</p>


<ol class = 'questionList'>
    <li class = 'question' data-answer = ''>
        \( \lambda = 1 \cdot 10^{-2} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = ''>
        \( \lambda = 6 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = ''>
        \( \lambda = 2 \cdot 10^{-7} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = ''>
        \( \lambda = 4 \cdot 10^{-8} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = ''>
        \( \lambda = 2 \text{ meters} \)
    </li>
    <li class = 'question' data-answer = ''>
        \( \lambda = 3 \cdot 10^{-13} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = ''>
        \( \lambda = 8 \cdot 10^{-10} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = ''>
        \( \lambda = 5 \cdot 10^{-5} \text{ meters} \)
    </li>
    <li class = 'question' data-answer = ''>
        \( \lambda = 0.2 \text{ meters} \)
    </li>
</ol>


