<p>

    In a <a href = '/pod/ddf3042b-77f1-4563-85ae-8f305f062a84'>previous pod</a>,
    we learned to describe the seven types of electromagnetic waves
    using the quantities of <emph>frequency</emph> and <emph>wavelength</emph>.
    In this section, we will learn to discuss waves using the energy of photons
    and to merge the six colors into the boarder electromagnetic spectrum.
</p>

<h4>
    Part 1: Photons of Color
</h4>

<p>
    All light comes in tiny pieces called <strong>photons</strong>. The color red is made from photons of red
    light, the color blue is made from photons of blue light, etc.
</p>

<p>
    Each photon has <strong>four</strong> quantities that make it work how it does:
    wavelength, frequency, energy, and speed.
</p>

<p>
    Here is how they work:
</p>

<ul class = 'principleList'>
    <li>
        Wavelength and frequency are inversely proportional.
        <br>
        When wavelength is longer, frequency is lower.
        <br>
        When wavelength is shorter, frequency is higher.
    </li>
    <li>
        Frequency and energy are directly proportional.
        <br>
        When frequency is higher, energy is higher.
        <br>
        When frequency is lower, energy is lower.
    </li>
    <li>
        Wavelength and energy are inversely proportional.
    </li>
    <li>
        All photons have the <emph>same speed</emph>, \( 3.0 \cdot 10^8 \text{m/s} \), regardless of what color they are.
    </li>
</ul>

<p>
    This table shows how wavelength, frequency, and photon energy are related for each color:
</p>

<img src = '/podAssets/waves/the_electromagnetic_spectrum_quantitative/em_spectrum_2_table_1.png' width = 'auto' height = '300px' />

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'True'>
        True or false? All light waves have the same speed.
    </li>
    <li class = 'question' data-answer = 'False'>
        True or false? All light waves have the same photon energy.
    </li>
    <li class = 'question' data-answer = 'photons'>
        Light waves come in tiny pieces called ____________________.
    </li>
    <li class = 'question' data-answer = 'lesser'>
        When wavelength is longer, the photon energy is _______________________.
    </li>
    <li class = 'question' data-answer = 'greater'>
        When wavelength is shorter, the photon energy is _________________________.
    </li>
    <li class = 'question' data-answer = 'longer...lower...lower...same'>
        Compare red waves and green waves: <br>
        A red wave has a __________________ wavelength, a ___________________ frequency, and a _________________ photon energy than a green wave, but the _______________________ speed.
    </li>
    <li class = 'question' data-answer = 'shorter...higher...higher...same'>
        Compare blue waves and yellow waves: <br>
        A blue wave has a __________________ wavelength, a ___________________ frequency, and a _________________ photon energy than a yellow wave, but the _______________________ speed.
    </li>
    <li class = 'question' data-answer = 'shorter...higher...higher...same'>
        Compare orange waves and red waves: <br>
        An orange wave has a __________________ wavelength, a ___________________ frequency, a _________________ photon energy than a red wave, but the _______________________ speed.
    </li>
    <li class = 'question' data-answer = 'Red waves have a longer wavelength and a higher frequency and photon energy but the same speed as violet waves.'>
        Using the terms <emph>wavelength</emph>, <emph>frequency</emph>, <emph>photon energy</emph>, and <emph>speed</emph>, compare red waves and violet waves.
    </li>
    <li class = 'question' data-answer = 'Blue waves have a shorter wavelength and a higher frequency and photon energy but the same speed as green waves.'>
        Using the terms <emph>wavelength</emph>, <emph>frequency</emph>, <emph>photon energy</emph>, and <emph>speed</emph>, compare blue waves and green waves.
    </li>
    <li class = 'question' data-answer = 'Orange waves have a longer wavelength and a higher frequency and photon energy but the same speed as yellow waves.'>
        Using the terms <emph>wavelength</emph>, <emph>frequency</emph>, <emph>photon energy</emph>, and <emph>speed</emph>, compare orange waves and yellow waves.
    </li>
</ol>


<h4>
    Part 2: Photons of Electromagnetic Waves
</h4>

<p>
    The full electromagnetic spectrum is make do seven types of electromagnetic wave:
    radio waves, microwaves, infrared waves, visible light waves, ultraviolet waves, X-Ray waves, and gamma ray waves.
    The same principles that applied to the six colors apply to these waves.
</p>

<ul class = 'principleList'>
    <li>
        All electromagnetic waves come in tiny pieces called photons. Every photon has a specific wavelength, frequency, and energy that make it act the way it does.
    </li>
    <li>
        Frequency and energy are directly proportional.
    </li>
    <li>
        Wavelength is inversely proportional to both frequency and energy.
    </li>
    <li>
        All photons, of all electromagnetic waves, move at the same speed: \( 3 \cdot 10^8 \text{m/s} \).
    </li>
</ul>

<p>
    The table below shows how the seven types of waves are related in terms of wavelength, frequency, photon energy, and speed:
</p>

<img src = '/podAssets/waves/the_electromagnetic_spectrum_quantitative/em_spectrum_2_table_2.png' width = 'auto' height = '300px' />


<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Microwaves hae a longer wavelength, a lower frequency and photon energy, and the same speed as ultraviolet waves.'>
        Using the terms <emph>wavelength</emph>, <emph>frequency</emph>, <emph>photon energy</emph>, and <emph>speed</emph>, compare microwaves and ultraviolet waves.
    </li>
    <li class = 'question' data-answer = 'Radio waves have a longer wavelength, a lower frequency and photon energy, and the same speed as infrared waves.'>
        Using the terms <emph>wavelength</emph>, <emph>frequency</emph>, <emph>photon energy</emph>, and <emph>speed</emph>, compare radio waves and infrared waves.
    </li>
    <li class = 'question' data-answer = 'Ultraviolet waves have a shorter wavelength, a higher frequency and photon energy, and the same speed as infrared waves.'>
        Using the terms <emph>wavelength</emph>, <emph>frequency</emph>, <emph>photon energy</emph>, and <emph>speed</emph>, compare ultraviolet waves and infrared waves.
    </li>
</ol>


<h4>
    Part 3: The Full Spectrum:
</h4>

<p>
    The electromagnetic spectrum we learned, with seven different waves different waves, is not the full story!
    It gets more complicated because the visible light waves can be broken into the six colors:
    Of the six colors, red has the longest wavelength and the lowest frequency, and violet has the shortest wavelength and the highest frequency.
    However, red still has a higher frequency than infrared, and violet still has a lower frequency than ultraviolet
</p>

<p>
    This table shows how all 12 electromagnetic waves are related:
</p>

<img src = '/podAssets/waves/the_electromagnetic_spectrum_quantitative/em_spectrum_2_table_3.png' width = 'auto' height = '600px' />


<p>
    Altogether, these 12 waves are called <strong>The Electromagnetic Spectrum</strong>.
    The Electromagnetic Spectrum consists of six visible waves and six invisible waves.
</p>

<p>
    All of the waves are made of photons of a certain wavelength, frequency, and energy.
    All photons have the same speed. But only six of the photons are visible, and some are invisible.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Radio, micro, infrared, red, orange, yellow, green, blue, violet, ultraviolet, X-Ray, gamma ray'>
        Copy the 12 types of electromagnetic waves, including the six invisible types and the six colors, from longest wavelength to shortest wavelength.
        (I know its repetitive, but copying does help you remember!)
    </li>
    <li class = 'question' data-answer = 'You should circle red, orange, yellow, green, blue, and violet; you should underline radio, micro, infrared, ultraviolet, X-Ray, and gamma ray.'>
        In the list you made above, <emph>circle</emph> the six <strong>visible colors</strong>
        and <emph>underline</emph> the six <strong>invisible waves</strong>.
    </li>
    <li class = 'question' data-answer = 'False'>
        True or false? We can see every electromagnetic wave.
    </li>
    <li class = 'question' data-answer = 'False'>
        True or false? We can see none of the electromagnetic waves.
    </li>
    <li class = 'question' data-answer = 'True'>
        True or false? We can see only some of the electromagnetic waves.
    </li>
    <li class = 'question' data-answer = 'Green light waves have a shorter wavelength, a higher frequency, and a higher photon energy than microwaves, but the same speed'>
        Using the terms <emph>wavelength</emph>, <emph>frequency</emph>, <emph>photon energy</emph>, and <emph>speed</emph>, compare green light waves and microwaves waves.
    </li>
    <li class = 'question' data-answer = 'Blue light waves have a longer wavelength, a higher frequency, and a higher photon energy than microwaves, but the same speed.'>
        Using the terms <emph>wavelength</emph>, <emph>frequency</emph>, <emph>photon energy</emph>, and <emph>speed</emph>, compare blue light waves and gamma ray waves.
    </li>
    <li class = 'question' data-answer = 'Red light wave have a shorter wavelength, a higher frequency, and a higher photon energy than infrared waves, but the same speed.'>
        Using the terms <emph>wavelength</emph>, <emph>frequency</emph>, <emph>photon energy</emph>, and <emph>speed</emph>, compare red light waves and infrared waves.
    </li>
    <li class = 'question' data-answer = 'Violet light waves have a longer wavelength, a lower frequency, and a lower photon energy than ultraviolet waves, but the same speed.'>
        Using the terms <emph>wavelength</emph>, <emph>frequency</emph>, <emph>photon energy</emph>, and <emph>speed</emph>, compare violet light waves and ultraviolet waves.
    </li>
</ol>


<h5>
    Bonus Facts!
</h5>
<ul>
    <li>
        Infrared waves have a frequency just below red, and the word <emph>infrared</emph> literally means <emph>below red</emph> in Latin.
    </li>
    <li>
        Ultraviolet waves have a frequency just above violet, and the word <emph>ultraviolet</emph> literally means above <emph>violet</emph> in Latin.
    </li>
</ul>

