

<div class = 'container'>
    <div class="row">
        <div class = 'col-1 bg-secondary border border-dark'></div>
        <div class = 'col-1 bg-secondary border border-dark'></div>
        <div class = 'col-3 text-center border border-dark'>Non-SI Units</div>
        <div class = 'col-1 bg-secondary border border-dark'></div>
        <div class = 'col-4 text-center border border-dark'>SI-Units</div>
    </div>
    <div class = 'row'>
        <div class = 'col-1 border border-dark'>Type of Wave</div>
        <div class = 'col-1 bg-secondary border border-dark'></div>
        <div class = 'col-1 border border-dark'>Wavelength</div>
        <div class = 'col-1 border border-dark'>Frequency</div>
        <div class = 'col-1 border border-dark'>Photon Energy</div>
        <div class="col-1 bg-secondary border border-dark"></div>
        <div class="col-1 border border-dark">Wavelength</div>
        <div class="col-1 border border-dark">Frequency</div>
        <div class="col-1 border border-dark">Energy</div>
        <div class="col-1 border border-dark">Speed</div>
    </div>
    <div class="row">
        <div class="col-1 border border-dark p-4"></div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-1">630<br>nanometers</div>
        <div class="col-1 border border-dark pt-5">teraHertz</div>
        <div class="col-1 border border-dark pt-5">electron-volts</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-5">Hertz</div>
        <div class="col-1 border border-dark pt-5">Joules</div>
        <div class="col-1 border border-dark pt-5">m/s</div>
    </div>
    <div class="row">
        <div class="col-1 border border-dark p-4"></div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">centimeters</div>
        <div class="col-1 border border-dark pt-1">500<br>megahertz</div>
        <div class="col-1 border border-dark pt-5">micro-electron-volts</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-5">Hertz</div>
        <div class="col-1 border border-dark pt-5">Joules</div>
        <div class="col-1 border border-dark pt-5">m/s</div>
    </div>
    <div class="row">
        <div class="col-1 border border-dark p-4"></div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">millimeters</div>
        <div class="col-1 border border-dark pt-1">80<br>gigaHertz</div>
        <div class="col-1 border border-dark pt-5">micro-electron-volts</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-5">Hertz</div>
        <div class="col-1 border border-dark pt-5">Joules</div>
        <div class="col-1 border border-dark pt-5">m/s</div>
    </div>
    <div class="row">
        <div class="col-1 border border-dark p-4"></div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-1">10<br>nanometers</div>
        <div class="col-1 border border-dark pt-5">petaHertz</div>
        <div class="col-1 border border-dark pt-5">electron-volts</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-5">Hertz</div>
        <div class="col-1 border border-dark pt-5">Joules</div>
        <div class="col-1 border border-dark pt-5">m/s</div>
    </div>
    <div class="row">
        <div class="col-1 border border-dark p-4"></div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-1">picometers</div>
        <div class="col-1 border border-dark pt-5">exaHertz</div>
        <div class="col-1 border border-dark pt-5">200<br>kilo-electron-volts</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-5">Hertz</div>
        <div class="col-1 border border-dark pt-5">Joules</div>
        <div class="col-1 border border-dark pt-5">m/s</div>
    </div>
    <div class="row">
        <div class="col-1 border border-dark p-4"></div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-1">420 nano<br>meters</div>
        <div class="col-1 border border-dark pt-5">teraHertz</div>
        <div class="col-1 border border-dark pt-5">electron-volts</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-5">Hertz</div>
        <div class="col-1 border border-dark pt-5">Joules</div>
        <div class="col-1 border border-dark pt-5">m/s</div>
    </div>
    <div class="row">
        <div class="col-1 border border-dark p-4"></div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">micrometers</div>
        <div class="col-1 border border-dark pt-5">teraHertz</div>
        <div class="col-1 border border-dark pt-1">124<br>milli-electron-volts</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-5">Hertz</div>
        <div class="col-1 border border-dark pt-5">Joules</div>
        <div class="col-1 border border-dark pt-5">m/s</div>
    </div>
    <div class="row">
        <div class="col-1 border border-dark p-4">Your favorite FM radio station</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-1">Between 87.5 and 108.0 megaHertz</div>
        <div class="col-1 border border-dark pt-5">nano-electron-volts</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-5">Hertz</div>
        <div class="col-1 border border-dark pt-5">Joules</div>
        <div class="col-1 border border-dark pt-5">m/s</div>
    </div>
    <div class="row">
        <div class="col-1 border border-dark p-4"></div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">____meters</div>
        <div class="col-1 border border-dark pt-5">____Hertz</div>
        <div class="col-1 border border-dark pt-5">electron-volts</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-5">Hertz</div>
        <div class="col-1 border border-dark pt-5">Joules</div>
        <div class="col-1 border border-dark pt-5">m/s</div>
    </div>
    <div class="row">
        <div class="col-1 border border-dark p-4"></div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">____meters</div>
        <div class="col-1 border border-dark pt-5">____Hertz</div>
        <div class="col-1 border border-dark pt-5">electron-volts</div>
        <div class="col-1 border border-dark bg-secondary"></div>
        <div class="col-1 border border-dark pt-5">meters</div>
        <div class="col-1 border border-dark pt-5">Hertz</div>
        <div class="col-1 border border-dark pt-5">Joules</div>
        <div class="col-1 border border-dark pt-5">m/s</div>
    </div>
</div>