<p class = 'introduction'>
    By now, you have seen how important a resistor is to an electric circuit.
    You can use a resistor to control the current of an electric circuit:
    more resistance will mean less current and less resistance means more current.
    Because current ultimately determines how, or if, most circuit elements work,
    it is crucial to make it just right.
    Beyond that, without good resistors, current will grow to high and produce a short circuit.
</p>

<p class = 'introduction'>
    But, before we can use resistors well, we need to know the resistance of each resistor,
    in Ohms. Unfortunately, they are way to small to write any numbers on!
    But fortunately, there is a universally accepted system of identifying resistance
    by using bands of color.
    In this pod, we will learn to read the resistance of a resistor by looking at bands of color
    across the resistor.
</p>

<h4>
    Reading Resistor Bands:
</h4>
<p>
    Each resistor has four colored bands.
    The colors are used to describe the resistance of a resistor.
</p>
<p>
    If you look at the four bands on a resistor, you will see three bands,
    a little gap, and then another band.
    The band that is after the little gap is the fourth band, which we will learn
    about in a different pod.
    The three before the gap are the first three bands.
</p>

<p>
    Look at the colors on the first three bands.
    Each color is associated with a number:
</p>

<table>
    <tr>
        <th>
            Color
        </th>
        <th>
            Number
        </th>
    </tr>
    <tr>
        <td>Black</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Brown</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Red</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Orange</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Yellow</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Green</td>
        <td>5</td>
    </tr>
    <tr>
        <td>Blue</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Violet</td>
        <td>7</td>
    </tr>
    <tr>
        <td>Gray</td>
        <td>8</td>
    </tr>
    <tr>
        <td>White</td>
        <td>9</td>
    </tr>
    <tr>
        <td>Gold</td>
        <td>-1</td>
    </tr>
    <tr>
        <td>Silver</td>
        <td>-2</td>
    </tr>
</table>

<p class = 'equation'>
    $$
    [\text{First Number}] [\text{Second Number}] \cdot 10^{[\text{Third Number}]}
    $$
</p>
<p>
    Notice that this isn't actually scientific notation,
    because there isn't a decimal point between the first two numbers.
</p>


<p>
    Here's a simpler method:
</p>

<ol>
    <li>
        Write the first number.
    </li>
    <li>
        Write the second number
    </li>
    <li>
        Add as many zeroes as the third number to the end.
    </li>
</ol>

<p class = 'directions'>
    For a resistor of each of the following colors,
    determine its resistance.
</p>

<ol class="questionList">
    <li class="question" data-answer = '22 Ohms'>
        Red Red Black
    </li>
    <li class = 'question' data-answer = '15000 Ohms'>
        Brown Green Orange
    </li>
    <li class = 'question' data-answer = '9100 Ohms'>
        White Brown Red
    </li>
    <li class = 'question' data-answer = '110000 Ohms'>
        Brown Brown Yellow
    </li>
    <li class = 'question' data-answer = '88 Ohms'>
        Gray Gray Black
    </li>
    <li class = 'question' data-answer = '370 Ohms'>
        Orange Violet Brown
    </li>
    <li class = 'question' data-answer = '54000 Ohms'>
        Green Yellow Orange
    </li>
    <li class = 'question' data-answer = '2800 Ohms'>
        Red Gray Red
    </li>
    <li class = 'question' data-answer = '59 Ohms'>
        Green White Black
    </li>
</ol>

<h4>
    Resistors of less than 10 Ohms
</h4>

<p>
    A resistor can have a resistance of less than 10 Ohms if the third band is either silver or gold.
    If gold, the third number is -1, and if silver, the third number is -2.
    Both correspond to moving the decimal point to the left.
</p>
<p class = 'equation'>
    $$
    [\text{First Number}] [\text{Second Number}] \cdot 10^{[\text{Third Number}]}
    $$
</p>

<ol class="questionList">
    <li class="question" data-answer = '1.2 Ohms'>
        Brown Red Gold
    </li>
    <li class = 'question' data-answer = '0.55 Ohms'>
        Green Green Silver
    </li>
    <li class = 'question' data-answer = '6.4 Ohms'>
        Blue Yellow Gold
    </li>
    <li class = 'question' data-answer = '0.92 Ohms'>
        White Red Silver
    </li>
</ol>

<h4>
    Conventions for High Resistance
</h4>

<p class = 'directions'>
    For a resistor of each of the following colors,
    determine its resistance.
    If the resistance is greater than 1000 Ohms,
    use the unit kΩ (kilo-Ohms).
</p>


<h4>
    Reading real resistors:
</h4>

<!--
photos soon
-->

<ol class = 'answerList'>

</ol>