<p>
	The two central areas of mechanics are called
	<strong>kinematics</strong> and <strong>dynamics</strong>.
	Each of these can be analyzed <strong>qualitatively</strong> or <strong>quantitatively</strong>
</p>

<p class = 'definition'>
	When studying <strong>kinematics</strong>
	you analyze <emph>how</emph> an object moves
	without analyzing <emph>why</emph> it is moving that way.
	The main concepts in <strong>kinematics</strong> are position, velocity, and acceleration,
	which describe the motion of an object.
</p>

<p class = 'definition'>
	When studying <strong>dynamics</strong>,
	you explain <emph>why</emph> an object moves the
	way that it does.
	The main concept in <strong>dynamics</strong>
	are the forces acting on a particular object, which determine its motion.
</p>


<p class = 'directions'>
	For each of the following questions,
	analyze whether this applies to the field of <strong>kinematics</strong>
	or <strong>dynamics</strong>.
</p>

<ol class = 'questionList'>
	<li>
		How fast is a car on the highway moving?
	</li>
	<li>
		Why is the car on the highway moving at the speed it is moving at?
	</li>
	<li>
		How fast does a pitcher throw a ball towards home plate?
	</li>
	<li>
		Do pitchers with stronger arms throw the ball faster?
	</li>
	<li>
		What is the acceleration of all objects falling on planet earth?
	</li>
	<li>
		Why do a bowling ball and a tennis ball dropped from a roof
		strike the ground at the same time?
	</li>
</ol>


<p>
We can also study mechanics <strong>quantitatively</strong>
or <strong>qualitatively</strong>.
</p>

<p class = 'definition'>
	When studying <strong>quantitatively</strong>,
	you use numbers, equations, and proportions to answer a question.
</p>

<p class = 'definition'>
	When studying <strong>qualitatively</strong>,
	you do not use numbers.
	You answer questions with patterns, shapes, and written descriptions.
</p>

<p class = 'directions'>
	For each of the following questions,
	analyze if it is a quantitative or qualitative question.
</p>

<ol class = 'questionList'>
	<li>
		On a highway with a speed limit is 55 mph,
		you want to know if a certian car is speeding.
	</li>
	<li>
		You want to know the shape of a position-time graph
		for a ball that is dropped off of a roof.
	</li>
	<li>
		You want to know the strength of the force of air resistance
		acting on a falling parachute.
	</li>
	<li>
		You want to know what forces act on a person who
		is asleep in bed.
	</li>
</ol>


<p class = 'directions'>
	Divide each of the following questions into four categories:
</p>
<ul>
	<li>
		Qualitative Kinematics
	</li>
	<li>
		Quantitaive Kinematics
	</li>
	<li>
		Qualitative Dynamics
	</li>
	<li>
		Quantatitative Dynamics
	</li>
</ul>

<ol class = 'questionList'>
	<li>
		What is the average speed in meters per second
		of an athlete who runs a marathon in two hours?
	</li>
	<li>
		If you make a dot every second for
		an airplane on the runway (a motion map),
		what would the shape of your diagram look like?
	</li>
	<li>
		What forces act on a feather falling towards the ground?
	</li>
	<li>
		How hard do you need to pull to accelerate a
		135 pound bar upwards at 2 m/s<sup>2</sup>?
	</li>
</ol>

<p>
	This particular unit is exclusively on <strong>qualitative kinematics</strong>
	Even without numbers, kinematic problems can get very tricky when
	trying to analyze the shape of various kinematic graphs!
	Future units look through all four different modes of mechanics:
	<strong>quantiatively kinematics</strong>,
	<strong>qualitative dynamics</strong>,
	and <strong>quantitative dynamics<strong>.
</p>
