<p>
    In this unit, we will create <strong>qualitative</strong>
    descriptions of how objects move.
    A <strong>qualitative</strong> description relies only on patterns and shapes
    rather than numbers.
    There are four different tools we will use to describe motion qualitatively:
    motion-maps, position-time graphs, velocity-time graphs, and acceleration-time graphs.
    This first section will deal with position-time graphs and motion maps.
</p>


<p class = 'definition'>
    A <strong>motion map</strong> is created by placing a dot at a person's location
    every second.
</p>

