<h3>
    Incomplete!
</h3>

<p class = directions>
    Invent <strong>two</strong> situations in which an object moves differently in space and on earth.
    For most of Western history,
    it was viewed that earth and "the heavens" were fundamentally different spheres of existence,
    in which motion worked completely differently.
    Only after the discovery of Isaac Newton's Laws was it possible to definitively show that
    space and earth followed the same laws of motion.
</p>


<p>
    Even though this assignment refers to communication with a person
    living before 1600, you may pick examples impossible for a person 16th century person to view
    such as astronauts on the moon or a satellite fluing through Mars.
    Imagine the person you are communicating with has a crystal ball and can see whatever you set up for them.
</p>
