<p class = 'introduction'>
    The Law of the Conservation of Energy is arguably the central law
    in every branch of science.
    Not only the theories of physics, but chemistry, biology, astronomy, earth science,
    ecology, and environmental science depend on this crucial law.
    For that reason, you should be able to state the Law of Conservation of Energy
    word for word.
</p>

<p class = 'introduction'>
    Note that this pod is identical to
    <a href = '/pod/bcfe27b9-7c18-44b6-892b-af5d4242af69'>another pod</a>
    in the topic on the conceptual conservation
    of energy.
</p>

<p class = 'directions'>
    Memorize the statements below precisely, word for word.
</p>

<p class = 'definition' style = 'font-size:40px'>
    The total amount of energy in the universe is constant.
</p>

<p class = 'definition' style = 'font-size:40px'>
    Energy cannot be created or destroyed.
    It only changes from one type to another.
</p>



<p class = 'directions'>
    Copy each of these statements 3 times.
    Keep practicing until you remember the laws completely.
</p>

<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>