<h3>
    Problem 4: Vertical Spring
</h3>

<p>
    A spring with spring constant \( k \) and equilibrium length \( y_{\text{eq}} \) is hanging vertically.
    Somebody attaches a mass \( m \) to the end of the spring, and as a result the spring
    stretches to some length \( y_0 \) that is greater than its equilibrium length \( y_{\text{eq}} \).
    Assume the spring is both massless and frictionless.
    Free-fall acceleration is given by \( g \).
    You will consider the motion of the mass-spring-earth system, which has three types of energy.
    For this problem, consider the zero height and vertical origin to be the ceiling to which the spring is attached.
    Note that this means that all values of gravitational potential energy will be negative. This is okay.
</p>
<h5>
    Preparation
</h5>
<ol>
    <li>
        Draw a qualitative free-body diagram of the mass at rest.
        Name each force and give the direction and agent of each force.
    </li>
    <li>
        Write the magnitude of each force in terms of known quantities.
        The magnitude of the force of a (vertical) spring is given by Hooke's Law:
        $$
        F(y) = k \left| y - y_{\text{eq}} \right|
        $$
        In which \( k \) is the spring constant of the spring,
        \( y \) is the length of the spring,
        and \( y_{\text{eq}} \) is the equilibrium length of the spring.
        Both \( k \) and \( y_{\text{eq}} \) are constant properties of the spring,
        but the length of the spring \( y \) can change.
    </li>
    <li>
        The equilibrium position of the system is the point
        at which the net force acting on the mass is zero.
        Determine the equilibrium position of the mass \( y_0 \) in terms of \( k \), \( m \), \( g \),
        and the equilibrium length of the spring \( y_{\text{eq}} \).
        Prove your equation is dimensionally correct.
    </li>
</ol>
<h5>
    The Problem
</h5>
<p>
    Somebody pulls the mass downward until it is a distance \( y_{\text{max}} \) below the ceiling.
    The spring is now very stretched.
    The person lets go, and the mass begins to oscillate up and down on the spring.
</p>
<ol>
    <li>
        Determine expressions for the total energy of the mass-spring-earth system at
        several different points in the motion of the block:
        <ol type = 'A'>
            <li>
                Initially, when the mass a distance \( y_{\text{max}} \) below the ceiling and is momentarily stationary.
                Determine total energy of the system in terms of \( m \), \( g \), \( k \), \( y_{\text{max}} \), and \( y_{\text{eq}} \).
                <br>
                <img src = '/podAssets/energy/conservation_of_energy_quantitative/vertical_spring_a_e.jpg' height = '400px' width = 'auto'/>
            </li>
            <li>
                When the mass, having been let go, passes upward through the equilibrium position of the mass-spring-earth system,
                given by the value \( y_0 \) derived above.
                Note that this point is <emph>NOT</emph> the equilibrium length of the spring \( y_{\text{eq}} \).
                At this point, the mass is moving at its highest speed, given by \( v_{\text{max}} \).
                Please write your expression for total energy at this point in terms of \( k \), \( y_{\text{eq}} \), \( m \), \( g \), \( y_0 \), and \( v_{\text{max}} \).
                Then, substitute the value for \( y_0 \) determined above.
                <br>
                <img src = '/podAssets/energy/conservation_of_energy_quantitative/vertical_spring_b.jpg' height = '300px' width = 'auto'/>
            </li>
            <li>
                When the mass is at its highest point, \( y_{\text{min}} \). At this point,
                the mass is momentarily stationary.
                Determine total energy of the system in terms of \( m \), \( g \), \( k \), \( y_{\text{min}} \), and \( y_{\text{eq}} \).
                <br>
                <img src = '/podAssets/energy/conservation_of_energy_quantitative/vertical_spring_c.jpg' height = '200px' width = 'auto'/>
            </li>
            <li>
                When the mass passes a second time, downward, through the equilibrium position \( y_0 \).
                <br>
                <img src = '/podAssets/energy/conservation_of_energy_quantitative/vertical_spring_d.jpg' height = '300px' width = 'auto'/>
            </li>
            <li>
                When the mass returns to its initial position \( y_{\text{max}} \).
                <br>
                <img src = '/podAssets/energy/conservation_of_energy_quantitative/vertical_spring_a_e.jpg' height = '400px' width = 'auto'/>
            </li>
        </ol>
    </li>
    <!--
    <li>
        Assume no work is done on the mass-spring-earth system,
        and use the Conservation of Energy to determine equations for key values:
        <ol type = 'a'>
            <li>
                Determine an equation for \( y_{\text{min}} \) in terms of
                \( y_{\text{max}} \) and \( y_0 \).
                \( y_{\text{min}} \) and \( y_{\text{max}} \) should be equidistant from \( y_0 \).
                Demonstrate this is the case.
            </li>
            <li>
                Determine an equation for \( v_{\text{max}} \) in terms of \( y_{\text{max}} \), \( k \), \( y_{\text{eq}} \), \( m \), and \( g \).
                Prove your equation is dimensionally correct.
            </li>
            <li>
                Determine a new more parsimonious equation for \( v_{\text{max}} \).
                Parsimonious in this context means containing fewer input variables.
                Use your equation for \( y_0 \) from the preparation section to derive a new formula for \( v_{\text{max}} \)
                in terms of only
                \( y_{\text{max}} \), \( k \), \( y_{\text{eq}} \), \( m \), and \( g \).
                Demonstrate that your formula is dimensionally correct.
            </li>
        </ol>
    </li>
    <li>
        Consider some random point R at which the vertical position of the mass is \( y \)
        and the speed of the mass is \( v \).
        Write an expression for the total energy of the mass-spring-earth system
        at point R.
    </li>
    <li>
        Use your expression above to derive a function \( v(y) \)
        for the speed of the mass in terms of the vertical position of the mass
        with constants \( k \), \( y_{\text{eq}} \), \( m \), \( g \), and \( y_{\text{max}} \).
        Demonstrate that your function is dimensionally correct.
    </li>
    <li>
        Demonstrate that your function is consistent with information already determined:
        <ul>
            <li>
                \( v \left( y  =  y_{\text{max}} \right) = 0. \)
            </li>
            <li>
                \( v \left( y  =  y_{\text{min}} \right) = 0. \)
            </li>
            <li>
                \( v \left( y  =  y_0 \right)  = v_{\text{max}}. \)
            </li>
        </ul>
    </li>
    -->
</ol>
