<p>
    A person is riding in a graviron moving with angular velocity \( \omega \).
    For the person to stick to the wall, the gravitron must spin very fast.
    Determine a formula for \( \omega_{\text{min}} \), the minimum angular velocity
    for somebody to stick to the wall,
    in terms of the coefficient of static friction between a person's clothing the the wall \( \mu_s \),
    the radius of the gravitron \( r \), and the free-fall acceleration \( g \).
</p>

<p>
    In your derivation, you must:
</p>
<ul>
    <li>
        Draw a free-body diagram of the person.
    </li>
    <li>
        Identify the centripetal force, and explain why that is the centripetal force.
    </li>
    <li>
        Write a condition necessary for the person to not fall down, and explain in words
        how this is related to the velocity of the gravitron.
    </li>
    <li>
        Use multiple equations. Identify each equation you use and explain why you are using that equation.
    </li>
</ul>

<p>
    Notice that the person's mass was not a part of the formula derived above.
    In a couple brief sentences, explain why.
    Then, explain why this fact might be important to the amusement park operating a gravitron.
</p>

<p>
    Determine a new equation for the minimum period of rotation of the gravitron \( T_{\text{min}} \)
    in terms of \( \mu_s \), \( r \), and \( g \).
</p>