<p>
    This pod builds on our knowledge of the <a>work formula</a>
    to think about whether work is positive, negative, or zero?
</p>


<ul class = 'principleList'>
    <li>
        When a force pushes something in the <strong>same direction</strong> that it is moving,
        then <strong>positive work</strong> is done.
    </li>
    <li>
        When a force pushes something in the <strong>opposite direction</strong> that it is moving,
        then <strong>negative work</strong> is done.
    </li>
    <li>
        When a force pushes something in a direction <strong>perpendicular</strong> to where it is moving,
        then <strong>no work</strong> is done.
    </li>
    <li>
        When something <strong>does not move</strong>, then <strong>no work</strong> is done.
    </li>
</ul>

<p class = 'directions'>
    For each of the situations below, state if positive work,
    negative work, or zero work is done.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Positive work.'>
        A weightlifter is pushing up a heavy bar.
    </li>
    <li class = 'question' data-answer = 'Negative work.'>
        Somebody gently lowers a heavy box to the ground.
    </li>
    <li class = 'question' data-answer = 'Zero work, the force is perpendicular to the direction the bag is moving.'>
        Somebody is carrying a shopping bag. What is the word done
        by the force that holds the bag up.
    </li>
    <li class = 'question' data-answer = 'Zero work (assuming the wall does not move)'>
        Somebody pushes against a wall and the wall does not move.
    </li>
    <li class = 'question' data-answer = 'Negative work'>
        Peter left his car in neutral, and it starts rolling down a hill!
        Peter futilely tries to hold it up and keep it from falling.
    </li>
    <li class = 'question' data-answer = 'Negative work; friction always acts in the opposite direction that something is moving.'>
        The work done by <emph>friction</emph>.
    </li>
    <li class = 'question' data-answer = 'Positive work'>
        Joanne's car breaks down. She gets out and pushes.
        It isn't easy, but the car begins to move.
    </li>
</ol>


<ol class = 'answerList'></ol>