<p>
    The earth's cosmic address is our basis for understanding astronomical objects. The goal of this pod is to get a sense of some of the bodies you will
    find at each level of our cosmic address.
</p>

<h4>
    1: Earth
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#Earth' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'Earth'>
    <p>
        A large sphere made of rock.
    </p>
</div>



<h4>
    2: Earth-Moon System
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#EarthMoon' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'EarthMoon'>
    <p>
        The earth-moon system consists if the earth and all objects
        that orbit thr earth, most notably the moon.
        We call it the earth-moon system instead of the earth system
        because the moon is massive enough to move the center of mass of the system
        away from the center of the earth.
    </p>
    <ul>
        <li>
            The earth itself.
        </li>
        <li>
            The atmosphere
        </li>
        <li>
            Man-Made Satellites
        </li>
        <li>
            Space Trash
            <ul>
                <li>
                    <a href = 'https://www.nasa.gov/mission_pages/station/news/orbital_debris.html'>
                        NASA article on space trash
                    </a>
                </li>
            </ul>
        </li>
        <li>
            The Moon
        </li>
    </ul>
</div>



<h4>
    3: The Solar System
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#SolarSystem' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'SolarSystem'>
    <p>
        The Solar System consists of the sun and all things orbiting
        the sun.
        Notably, this is the eight planets and three regions with large amounts
        of smaller objects: the asteroid belt, the Kuiper Belt, and the
        Oort Cloud.
        Of the eight planets, all but Mercury are the center of their own system
        of moons orbiting that planet.
        One crucial element are <strong>comets</strong>,
        which are primarily in the Kuiper Belt or Oort Cloud,
        but which periodically move close to the sun for a few weeks.
    </p>
    <ul>
        <li>
            The Sun
        </li>
        <li>
            Mercury
        </li>
        <li>
            Venus-System
        </li>
        <li>
            Earth-Moon System
        </li>
        <li>
            Mars System
        </li>
        <li>
            Asteroid Belt
        </li>
        <li>
            Jupiter System
        </li>
        <li>
            Saturn System
        </li>
        <li>
            Uranus System
        </li>
        <li>
            Neptune System
        </li>
        <li>
            Kuiper Belt
        </li>
        <li>
            Oort Cloud
        </li>
    </ul>
</div>



<h4>
    4: The Milky Way Galaxy
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#MilkyWay' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'MilkyWay'>
    milky way
</div>




<h4>
    5: The Laniakea Supercluster
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#Laniakea' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'Laniakea'>
    A group of about 100,000 galaxies that are all gravitationally attracted to some point
    called The Great Attractor.
</div>




<h4>
    6: The Universe
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#Universe' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'Universe'>
    <p>
        Quite simply, everything.
        To the best of our knowledge,
        the pattern of galaxies distributed over space continues infinitely.
        However, as the Universe (according to the best theories we have available)
        is about 14 million years old,
        the farthest humans are able to see is about 14 million light years away.
    </p>
    <ul>
        <li>
            Other large clusters of galaxies attracted to some point.
        </li>
        <li>
            Galaxies of the hubble deep field.
        </li>
        <li>
            The edge of the observable universe.
        </li>
    </ul>

</div>