<p>
    The earth's cosmic address is our basis for understanding astronomical objects. The goal of this pod is to get a sense of some of the bodies you will
    find at each level of our cosmic address.
</p>

<h4>
    1: Earth
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#Earth' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'Earth'>
    <p>
        A large sphere made of rock.
    </p>
</div>



<h4>
    2: Earth-Moon System
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#EarthMoon' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'EarthMoon'>
    <p>
        The earth-moon system consists if the earth and all objects
        that orbit thr earth, most notably the moon.
        We call it the earth-moon system instead of the earth system
        because the moon is massive enough to move the center of mass of the system
        away from the center of the earth.
    </p>
    <ul>
        <li>
            The earth itself.
        </li>
        <li>
            The atmosphere
        </li>
        <li>
            Man-Made Satellites
            <ul>
                <li>
                    International Space Station
                </li>
                <li>
                    James Webb Space Telescope
                </li>
                <li>
                    Hubble Space Telescope
                </li>
                <li>
                    Many other man-made Satellites, including GPS Satellites
                </li>
            </ul>
        </li>
        <li>
            Space Trash
            <ul>
                <li>
                    <a href = 'https://www.nasa.gov/mission_pages/station/news/orbital_debris.html'>
                        NASA article on space trash
                    </a>
                </li>
            </ul>
        </li>
        <li>
            The Moon
        </li>
    </ul>
</div>



<h4>
    3: The Solar System
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#SolarSystem' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'SolarSystem'>
    <p>
        The Solar System consists of the sun and all things orbiting
        the sun.
        Notably, this is the eight planets and three regions with large amounts
        of smaller objects: the asteroid belt, the Kuiper Belt, and the
        Oort Cloud.
        Of the eight planets, all but Mercury are the center of their own system
        of moons orbiting that planet.
        One crucial element are <strong>comets</strong>,
        which are primarily in the Kuiper Belt or Oort Cloud,
        but which periodically move close to the sun for a few weeks.
    </p>
    <ul>
        <li>
            The Sun
        </li>
        <li>
            Mercury
        </li>
        <li>
            Venus
            <ul>
                <li>
                    Rocky Planet Venus
                </li>
                <li>
                    Venus's atmosphere
                </li>
            </ul>
        </li>
        <li>
            Earth-Moon System (see above)
        </li>
        <li>
            Mars System
            <ul>
                <li>
                    Mars
                </li>
                <li>
                    Deimos: moon orbiting Mars
                </li>
                <li>
                    Phobos: moon orbiting Mars
                </li>
                <li>
                    Mars Odyssey and other Man-Made satellites
                </li>
            </ul>
        </li>
        <li>
            Asteroid Belt
            <ul>
                <li>
                    Dwarf Planet Ceres: largest object in the asteroid belt
                </li>
                <li>
                    Thousands of Asteroids
                </li>
                <li>
                    Dust particles
                </li>
            </ul>
        </li>
        <li>
            Jupiter System
            <ul>
                <li>
                    Jupiter
                </li>
                <li>
                    The four Galilean moons: Io, Europa, Ganymede, and Callisto
                </li>
                <li>
                    An estimated 75 other moons!
                </li>
            </ul>
        </li>
        <li>
            Saturn System
            <ul>
                <li>
                    Saturn
                </li>
                <li>
                    Saturn's Rings
                </li>
                <li>
                    Titan, Saturn's largest moons
                </li>
                <li>
                    An estimated 81 other moons!
                </li>
            </ul>
        </li>
        <li>
            Uranus System
            <ul>
                <li>
                    Uranus
                </li>
                <li>
                    27 known moons (most are named after characters from Shakespeare)
                </li>
                <li>
                    13 known rings (not only Saturn has rings!)
                </li>
            </ul>
        </li>
        <li>
            Neptune System
            <ul>
                <li>
                    Neptune
                </li>
                <li>
                    14 known moons
                </li>
                <li>
                    5 known rings
                </li>
            </ul>
        </li>
        <li>
            Kuiper Belt
            <ul>
                <li>
                    Pluto-Charon System
                    <ul>
                        <li>
                            Dwarf Planet Pluto
                        </li>
                        <li>
                            Charon: Moon of Pluto; Pluto and Charon orbit each other
                        </li>
                        <li>
                            4 other moons
                        </li>
                    </ul>
                </li>
                <li>
                    Eris
                    <ul>
                        <li>
                            Dwarf Planet with one moon
                        </li>
                    </ul>
                </li>
                <li>
                    Several other known dwarf planet
                </li>
                <li>
                    Thousands of comets, rocks, balls of ice
                </li>
            </ul>
        </li>
        <li>
            Oort Cloud
            <ul>
                <li>
                    Thousands of comets, rocks, balls of ice
                </li>
                <li>
                    Note that the Oort cloud is NOT a flat ring like the asteroid and Kuiper belts
                    but a sphere encasing the entire solar system.
                </li>
            </ul>
        </li>
    </ul>
</div>



<h4>
    4: The Milky Way Galaxy
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#MilkyWay' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'MilkyWay'>
    milky way
</div>




<h4>
    5: The Laniakea Supercluster
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#Laniakea' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'Laniakea'>
    A group of about 100,000 galaxies that are all gravitationally attracted to some point
    called The Great Attractor.
</div>




<h4>
    6: The Universe
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#Universe' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'collapse' id = 'Universe'>
    <p>
        Quite simply, everything.
        To the best of our knowledge,
        the pattern of galaxies distributed over space continues infinitely.
        However, as the Universe (according to the best theories we have available)
        is about 14 million years old,
        the farthest humans are able to see is about 14 million light years away.
    </p>
    <ul>
        <li>
            Other large clusters of galaxies attracted to some point.
        </li>
        <li>
            Galaxies of the hubble deep field.
        </li>
        <li>
            The edge of the observable universe.
        </li>
    </ul>
    <p>
        In this class, we will not focus on hypothetical topics like a multiverse,
        other dimensions, edges of the universe, etc.
    </p>
</div>

<p class = 'directions'>
    Write the cosmic address of each object stated.
    It is ok to include an ellipses (...)
    after writing one of the six elements of earth's comic address,
    indicating the remaining steps are identical to that of earth.
</p>
<ol class = 'questionList'>
    <li class = 'question' answer = 'Phobos; Mars System; The Solar System...'>
        Phobos
    </li>
    <li class = 'question' answer = 'Charon; Pluto-Charon System; The Kuiper Belt; The Solar System...'>
        Charon
    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
    <li class = 'question' answer = ''>

    </li>
</ol>

<ol class = 'answerList'></ol>