<p>
    One of the major questions philosophers must grapple with is this:
    how relevant is humanity?
    Is the existence of humanity the most crucial story of the universe,
    or are humans merely only tiny story in an infinite universe?
    Modern physics, with its new findings about the nature of the universe,
    has reopened this question in a big way.
    In this pod, we will look at this question through one particular lens:
    the electromagnetic spectrum. Specifically, we need to grapple with the fact
    that of all the waves in the universe, humans see only a tiny portion!
</p>

<p>
    To better introduce the question, watch the following video:
    <a href = 'https://vimeo.com/107395294'>The Missing Scarf</a>
    created by Eoin Duffy and narrated by George Takei.
</p>

<iframe src="https://player.vimeo.com/video/107395294?badge=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/107395294">The Missing Scarf</a> from <a href="https://vimeo.com/eoinduffy">Eoin Duffy</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


<p>
    Albert the Squirrel and Frederick the Bear take opposing sides
    of the philosophical debate.
    Frederick believes that, given the size and time of the universe,
    there is no relevance to life on earth.
    Albert believed that every participant in the universe was a participant
    in the great story of time, no matter how small.
</p>

<p>
    Your task in this pod is to take a side in this debate.
    You may take Albert's side,
    Frederick's side,
    some position in them middle,
    or a different position entirely.
</p>

<p>
    The question you must contend with is this:
    Of all the electromagnetic waves, humans see only a tiny piece.
    What does this fact say about the role of humans in the universe?
</p>



<p>
    Coming soon: more guiding knowledge
</p>
<p>
    Coming soon: reconciling with the fact that humans still see infinitely many waves
    out of an even larger infinity
</p>
