
<ol class = 'questionList'>
  <li class = 'question'>
    Someone throws their shoe so that
    it lands on the roof.
    If the roof is 8 meters tall
    and they throw their shoe at a speed
    of 20 meters/second,
    how much time does it take the shoe to reach the roof.
    (assume the shoe and roof are magnetic, so the shoe
    sticks to the roof the moment it arrives.)
  </li>
  <li class = 'question'>
    If a roof is 12 meters tall,
    how fast does someone need to throw
    a pizza directly upward so it lands on the roof?
  </li>
  <li class = 'question'>

  </li>
  <li class = 'question'>

  </li>
  <li class = 'question'>

  </li>
  <li class = 'question'>

  </li>
  <li class = 'question'>

  </li>
  <li class = 'question'>

  </li>
</ol>
