
<p class = 'definition'>
    The <strong>Work-Energy Theorem</strong>
    states that the total work done on a system
    is equal to the change in mechanical energy
    of that system.
</p>

<p>
    In this pod, we will <emph>qualitatively</emph> examine the work-energy theorem.
    In particular, we will look at very simple situations,
    but look at it from the point of view of different systems.
    Our <strong>goal</strong> is to show that, no matter what system
    we chose to focus on,
    the work-energy theorem is <emph>always</emph> followed.
</p>

<p>
    Warning, this is a very <a href = 'https://en.wikipedia.org/wiki/Pedant'>pedantic</a> topic.
    It is, admittedly, not very fun to learn,
    but is nonetheless crucial to understanding how a <emph>system</emph>
    works.
    (If you are in AP Physics 1, the College Board <emph>loves</emph> these
    kinds of questions!)
</p>


<h4>
    Some Key Principles:
</h4>

<h5>
    Internal and External Forces:
</h5>
<ul class="principleList">
    <li>
        An <strong>internal force</strong> is when something
        inside a system exerts a force on something else
        also inside the system.
        Internal forces CANNOT do work on a system
        and DO NOT appear on a free-body diagram.
    </li>
    <li>
        An <strong>external force</strong> is when something
        outside the system exerts a force on something
        inside the system.
        External forces CAN do work on a system
        and DO appear no a free-body diagram.
    </li>
</ul>
<h5>
    Types of Mechanical Energy
</h5>
<ul class="principleList">
    <li>
        An object alone can have only one type of energy,
        <strong>kinetic energy</strong>.
        If only one object is in a system, it can have
        only kinetic energy.
    </li>
    <li>
        Only two objects that are gravitationally attracted
        can have <strong>gravitational potential energy</strong>.
        Usually, gravitational potential energy exists in a system
        between some object and the earth.
    </li>
</ul>

<h4>
    Example 1: Ball falling down:
</h4>

<p>
    Consider a ball that falls off a cliff:
</p>

<p>
    We are going to analyze the <strong>forces</strong>
    and the <strong>energy</strong> of two different systems:
    the "ball system" and the "ball-earth system."
</p>

<div class = 'container'>
    <div class = 'row pt-4 '>
        <div class = 'col-6 border border-dark'>
            The Ball System
        </div>
        <div class = 'col-6 border border-dark'>
            The Ball-Earth System
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            What external forces act on the system?
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'ball-system-fbd'>
            The ball is in free-fall, and the only
            force acting on the ball is <emph>gravity</emph>:
            <br>
        </div>
        <div class = 'col-6 border border-dark' id = 'ball-earth-system-fbd'>
            In the ball-earth system, NO external forces act on the system!
            Gravity is an <emph>internal force</emph>
            because it is a force between teh ball and the earth,
            which are both included in the system.
            Thus, the free-body diagram is simply
            a dot, indicating no external forces:
            <br>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Positive, negative, or zero work?
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 text-center border border-dark'>
            The ball is moving downward,
            and the net force is downward,
            so <strong>positive work</strong>
            is done on the system.
        </div>
        <div class = 'col-6 text-center border border-dark'>
            No external forces act on the system,
            so <strong>zero work</strong> is done
            on the system.
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            What types of mechanical energy does the system have?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            The ball can have <strong>kinetic energy</strong>.
            It cannot have gravitational potential energy
            because gravity is an interaction between two objects.
        </div>
        <div class = 'col-6 border border-dark'>
            The ball-earth system can have <strong>kinetic energy</strong>
            and <strong>gravitational potential energy</strong>.
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Does the mechanical energy of the system
            increase, decrease, or stay the same?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            The ball moves faster as it falls down, gaining kinetic energy,
            so its mechanical energy <strong>increases</strong>.
        </div>
        <div class = 'col-6 border border-dark'>
            In the ball-earth system,
            gravitational potential energy is converted to kinetic energy,
            and the total mechanical energy <strong>stays the same</strong>.
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Does the system follow the Work-Energy Theorem?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            <strong>YES</strong>:
            Positive work is done on the system,
            and the system gains mechanical energy.
        </div>
        <div class = 'col-6 border border-dark'>
            <strong>YES</strong>:
            Zero work is done on the system,
            and the total mechanical energy remains the same.
        </div>
    </div>

</div>

<h4>
    Example 2: Ball going up:
</h4>

<p>
    Somebody throws a ball upward into the air.
    Consider the ball <emph>only</emph>
    when it is on its way up.
</p>

<p>
    We are going to analyze the <strong>forces</strong>
    and the <strong>energy</strong> of two different systems:
    the "ball system" and the "ball-earth system."
</p>

<div class = 'container'>
    <div class = 'row pt-4 '>
        <div class = 'col-6 border border-dark'>
            The Ball System
        </div>
        <div class = 'col-6 border border-dark'>
            The Ball-Earth System
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            What external forces act on the system?
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'ball-system-fbd-2'>
            The ball is in free-fall, and the only
            force acting on the ball is <emph>gravity</emph>:
            <br>
        </div>
        <div class = 'col-6 border border-dark' id = 'ball-earth-system-fbd-2'>
            In the ball-earth system, NO external forces act on the system!
            <br>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Positive, negative, or zero work?
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 text-center border border-dark'>
            The ball is moving upward,
            and the net force is downward,
            so <strong>negative work</strong>
            is done on the system.
        </div>
        <div class = 'col-6 text-center border border-dark'>
            No external forces act on the system,
            so <strong>zero work</strong> is done
            on the system.
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            What types of mechanical energy does the system have?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            The ball-system has only <strong>kinetic energy</strong>.
        </div>
        <div class = 'col-6 border border-dark'>
            The ball-earth system can have <strong>kinetic energy</strong>
            and <strong>gravitational potential energy</strong>.
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Does the mechanical energy of the system
            increase, decrease, or stay the same?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            The ball slows down as it moves upward,
            and loses kinetic energy,
            so its mechanical energy <strong>decreases</strong>.
        </div>
        <div class = 'col-6 border border-dark'>
            In the ball-earth system,
            kinetic potential energy is converted to gravitational potential energy as the ball travels upward,
            and the total mechanical energy <strong>stays the same</strong>.
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Does the system follow the Work-Energy Theorem?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            <strong>YES</strong>:
            Negative work is done on the system,
            and the system loses mechanical energy.
        </div>
        <div class = 'col-6 border border-dark'>
            <strong>YES</strong>:
            Zero work is done on the system,
            and the total mechanical energy remains the same.
        </div>
    </div>
</div>


<h4>
    Example 3: Lifting a Book with a Constant Velocity
</h4>

<p>
    Consider a person lifting a book with a constant velocity.
    We are going to consider the situation
    from two different points of view:
    the book system and the book-earth system.
</p>


<div class = 'container'>
    <div class = 'row pt-4 '>
        <div class = 'col-6 border border-dark'>
            The Book System
        </div>
        <div class = 'col-6 border border-dark'>
            The Book-Earth System
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            What external forces act on the system?
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'book-system-fbd'>
            Two forces act on the book:
            gravity pulling the book downward,
            and the applied force of the person lifting the book upward.
            <br>
        </div>
        <div class = 'col-6 border border-dark' id = 'book-earth-system-fbd'>
            The only external force acting on the book-earth system is the applied force.
            Gravity is an internal force, but because the person lifting the book
            is <emph>not</emph> part of the system, the applied force is an external force.
            <br>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Positive, negative, or zero work?
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 text-center border border-dark'>
            Because the book is moving at a constant velocity,
            we know that the net force acting on the book is zero,
            and so <strong>zero work</strong> is done on the book.
        </div>
        <div class = 'col-6 text-center border border-dark'>
            The book is moving upward, and there is an upward
            net force acting on it, so <strong>positive</strong>
            work is done on the book-earth system.
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            What types of mechanical energy does the system have?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            The book has only <strong>kinetic energy</strong>.
        </div>
        <div class = 'col-6 border border-dark'>
            The book-earth system has both <strong>kinetic energy</strong>
            and <strong>gravitational potential energy</strong>.
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Does the mechanical energy of the system
            increase, decrease, or stay the same?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            The book is moving at a constant velocity,
            so it does not gain or lose kinetic energy.
            The total mechanical energy of the system <strong>stays the same</strong>.
        </div>
        <div class = 'col-6 border border-dark'>
            Because the book is gaining height,
            the system gains gravitational potential energy.
            The total mechanical energy of the system <strong>increases</strong>.
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Does the system follow the Work-Energy Theorem?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            <strong>YES</strong>:
            Zero work is done on the book, and the books
            mechanical energy stays the same.
        </div>
        <div class = 'col-6 border border-dark'>
            <strong>YES</strong>:
            Positive work is done on the book-earth system,
            and the system gains mechanical energy.
        </div>
    </div>
</div>

<h4>
    Example 4: A Person Gently Lowering a Book
</h4>

<p>
    A person gently lowers a book downward from
    a table to the floor.
    The person lowers the book at a constant velocity.
</p>

<div class = 'container'>
    <div class = 'row pt-4 '>
        <div class = 'col-6 border border-dark'>
            The Book System
        </div>
        <div class = 'col-6 border border-dark'>
            The Book-Earth System
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            What external forces act on the system?
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 border border-dark' id = 'book-system-fbd-2'>
            Two forces act on the book:
            gravity pulling the book downward,
            and the applied force of the person lifting the book upward.
            <br>
        </div>
        <div class = 'col-6 border border-dark' id = 'book-earth-system-fbd-2'>
            The only external force acting on the book-earth system is the applied force.
            Gravity is an internal force, but because the person lifting the book
            is <emph>not</emph> part of the system, the applied force is an external force.
            <br>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Positive, negative, or zero work?
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-6 text-center border border-dark'>
            Because the book is moving at a constant velocity,
            we know that the net force acting on the book is zero,
            and so <strong>zero work</strong> is done on the book.
        </div>
        <div class = 'col-6 text-center border border-dark'>
            The book is moving downward, and there is an upward
            net force acting on it, so <strong>negative</strong>
            work is done on the book-earth system.
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            What types of mechanical energy does the system have?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            The book has only <strong>kinetic energy</strong>.
        </div>
        <div class = 'col-6 border border-dark'>
            The book-earth system has both <strong>kinetic energy</strong>
            and <strong>gravitational potential energy</strong>.
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Does the mechanical energy of the system
            increase, decrease, or stay the same?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            The book is moving at a constant velocity,
            so it does not gain or lose kinetic energy.
            The total mechanical energy of the system <strong>stays the same</strong>.
        </div>
        <div class = 'col-6 border border-dark'>
            Because the book is losing its height,
            it is losing gravitational potential energy.
            The total mechanical energy <strong>decreases</strong>.
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-12 text-center border border-dark'>
            Does the system follow the Work-Energy Theorem?
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-6 border border-dark'>
            <strong>YES</strong>:
            Zero work is done on the book, and the books
            mechanical energy stays the same.
        </div>
        <div class = 'col-6 border border-dark'>
            <strong>YES</strong>:
            Negative work is done on the book-earth system,
            and the system loses mechanical energy.
        </div>
    </div>
</div>

<!--
add some simple, short questions

eg. when something falls, and the force is defined
as the thing-earth system
how much work does gravity do?

eg. when something falls, and the force is defined
as the thing alone
how much work does gravity do?
-->


<!--
interesting example [for part 2]: (barry parnas)
two positive charges far apart,
the second charge is locked in place
you bring the first one all the way in towards teh other
and then you lock the first one in place, [doing work on the system]
and let the second charge move,
the second charge moves
-->


<!--
remember, only EXTERNAL forces can do work on a system
but only INTERNAL forces can cause potential energy
-->


<script>
    let ballSystemFBD = freeFallFBD();
    let ballEarthSystemFBD = new DiagramF();
    ballEarthSystemFBD.addBlackCircle(origin,1);

    let bookSystemFBD = fastFBD([['down','gravity'],['up','applied']]);
    let bookEarthSystemFBD = fastFBD([['up','applied']]);

    $("#ball-system-fbd").append(ballSystemFBD.drawCanvas(200));
    $("#ball-earth-system-fbd").append(ballEarthSystemFBD.drawCanvas(80));
    $("#ball-system-fbd-2").append(ballSystemFBD.drawCanvas(200));
    $("#ball-earth-system-fbd-2").append(ballEarthSystemFBD.drawCanvas(80));

    $("#book-system-fbd").append(bookSystemFBD.drawCanvas(200));
    $("#book-earth-system-fbd").append(bookEarthSystemFBD.drawCanvas(100));
    $("#book-system-fbd-2").append(bookSystemFBD.drawCanvas(200));
    $("#book-earth-system-fbd-2").append(bookEarthSystemFBD.drawCanvas(100));
</script>
