<p class = 'introduction'>
    This pod introduces the formula for <strong>work</strong>,
    which is the basis of the content in this unit.
</p>

<p class = 'equation'>
    $$
    W = Fd
    $$
</p>

<div class = 'container mb-5'>
    <div class = 'row'>
        <div class = 'col-4 border border-dark'>
            <strong>Symbol</strong>
        </div>
        <div class = 'col-4 border border-dark'>
            <strong>Quantity</strong>
        </div>
        <div class = 'col-4 border border-dark'>
            <strong>Unit</strong>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 border border-dark'>
            \( W \)
        </div>
        <div class = 'col-4 border border-dark'>
            Work
        </div>
        <div class = 'col-4 border border-dark'>
            Joules (J)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 border border-dark'>
            \( F \)
        </div>
        <div class = 'col-4 border border-dark'>
            Force
        </div>
        <div class = 'col-4 border border-dark'>
            Newtons (N)
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-4 border border-dark'>
            \( d \)
        </div>
        <div class = 'col-4 border border-dark'>
            Distance
        </div>
        <div class = 'col-4 border border-dark'>
            meters (m)
        </div>
    </div>
</div>


<p class = 'definition'>
    When something does not move, NO work is done.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '2000 Joules'>
        I push a file cabinet with a force of 1000 N for a distance of 2 m.
        How much work did I do?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class = 'question' data-answer = '120 Joules'>
        I puck up a book with 30 N of weight.
        I lift it to a height of 4 m.
        How much work did I do?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class = 'question mb-5' data-answer = 'None'>
        A weakling pushes a car with a force of 2000 N
        for fifteen minutes, but the car does not move?
        How much work does he do?
    </li>
    <li class = 'question mb-5' data-answer = '\( d = 0 \),and thus \( W = F \cdot d = F \cdot 0 = 0 \)'>
        If something does not move,
        then no work is done.
        Why not?
    </li>
    <div class="pageBreak"></div>
    <li class = 'question' data-answer = '75 Newtons'>
        A person does 150 Joules of work by lifting a block 2 meters.
        What is the weight of the block?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class = 'question' data-answer = 'None'>
        A very angry man punches the wall 200 times,
        each time exerting 200 Newtons of force.
        The wall is unaffected.
        How much work did he do?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class = 'question' data-answer = '15 meters'>
        A person pushes a block with a force of 200 Newtons
        and does 3000 Joules of work.
        How far did he push the block?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <div class="pageBreak"></div>
    <li class = 'question' data-answer = '1600 Joules'>
        A weightlifter lifts an 800 newton weight to a height of 2 meters.
        How much work did he do?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
    <li class = 'question' data-answer = '0 m'>
        A person pushes a rock with 500 Newtons of force,
        but does zero Joules of work.
        How far did the rock move?
        <br>
        <div class = 'formulaSolvingTable'></div>
    </li>
</ol>

<ol class = 'answerList'></ol>