
<!--
Need to include a table to introduce the momentum formula
-->

<div id = 'putQuestionsHere'></div>


<div id = 'putAnswersHere'></div>

<script>
    var myProblems = new writtenProblemList();
    $.getJSON( '{{assetPath}}' + 'momentm_formula_problems.json',(data)=>{
        data.problems.forEach((problem) => {
            myProblems.addProblem(problem.question, problem.answer);
        });
        myProblems.insertLists('putQuestionsHere','putAnswersHere');
    });
    myProblems.insertLists('putQuestionsHere','putAnswersHere');
</script>