<h3>
    Under Construction:
</h3>

<p>
    Imagine a cardboard box is resting on the table like so:
</p>

<img src = '/contentFiles/dynamicsQuizImages/cardboardBox.jpg' height = '250 px' width = 'auto' />

<p>
    1. Somebody pushes the cardboard box.
    Then, they take the cardboard box and put it on the shorter side, and push it again.
    Then, they take it and stand it on the end, and continues to push it.
</p>

<p>
    Compare the magnitude of friction in each situation.
</p>



<p>
    2. A mover is pushing a heavy box across the floor. He finds he needs to push hardest
    to get the box to begin moving. Once it begins moving, it is still difficult but
    he does not need to push as hard to keep it moving at a constant speed. Explain this experience by
    referring to the concepts of static and kinetic friction:
</p>
<div class = 'bigSpace'></div>
<div class = 'bigSpace'></div>