

<h4>
    Red Shift
</h4>

<h4>
    Hubble's Discovery
</h4>

<h4>
    Resources
</h4>

<ul>
    <li>
        <a href = 'https://skyserver.sdss.org/dr1/en/astro/universe/universe.asp#:~:text=In%201929%2C%20Edwin%20Hubble%2C%20an,infinite%20universe%20might%20look%20like.'>
            Sloan Digital Sky Survey on Expanding Universe
        </a>
    </li>
    <li>
        <a href = 'https://earthsky.org/space/this-date-in-science-edwin-hubble-and-the-expanding-universe'>
            EarthSky Article on Edwin Hubble
        </a>
    </li>
    <li>
        Deep Space TV Documentary on Edwin Hubble:<br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6j-q4VN_7Hk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
</ul>

<h4>
    Not So Crucial Resources
</h4>

<ul>
    <li>
        <a href = 'https://www.hoopshall.com/hall-of-fame/edwin-hubble/?back=HallofFame2'>
            On Edwin Hubble's basketball career.
        </a>
    </li>
    <li>
        <a href = 'https://news.uchicago.edu/story/astronaut-carry-vintage-hubble-basketball-space'>
            More on basketball.
        </a>
    </li>
    <li>
        <h5>
            A Classic Movie Scene: (Annie Hall, 1977)
        </h5>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5U1-OmAICpU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </li>
</ul>

