<ol>
    <li>
        Imagine a vibrating string.
        Draw the first six harmonics on this vibrating string.
    </li>
    <li>
        Identify which harmonic is the <strong>fundamental frequency</strong>.
    </li>
    <li>
        On the fourth harmonic, label each node and anti-node.
        Please don't do this on any of the other harmonics.
    </li>
</ol>