
<p class="introduction">
    In this pod, we will look more in depth at objects with perhaps the most interesting orbit in the solar system: comets.
    Every few years, a comet appears from a couple weeks in the night sky, and its appearance
    is covered by major media outlets all over the world.
    After a few weeks in the sunlight, they disappear, some for decades and others for millennia.
    Why do comets move in this way? And how do they  move?
</p>
<p class="introduction">
    Many misconceptions about comets exist: that they fly across the sky with their tails behind them.
    In this pod, we will look more at the orbits of a comet, and then connect that to our
    understanding of gravitational and kinetic energy.
</p>

<p class="introduction">
    This pod builds on understanding from previous pods on
    <a href = '/pod/a9b868'>basic orbits</a>
    and <a href = '/pod/8766aa'>energy tables</a>.
</p>


<img src = 'https://www.st-andrews.ac.uk/~bds2/ltsn/ljm/JAVA/COMETORB/orbit.gif' height = '600px' width = 'auto' />
<p class="imageCredit">
    St. Andrews University; retrieved from https://www.st-andrews.ac.uk/~bds2/ltsn/ljm/JAVA/COMETORB/COMET.HTM
</p>


<h4>
    Comet Basics
</h4>

<ul>
    <li>
        Comets are balls of dust, rock, and ice.
    </li>
    <li>
        Comets remain inside the solar system.
        Most of the time, comets are in the farthest away areas of the solar system: the Kuiper Belt
        and the Oort Cloud.
    </li>
    <li>
        Comets stay away from the sun for many years, then very quickly swing around the sun.
        Their orbit is highly elliptical, with the sun at one focus of the ellipse.
        We say that, relative to circular orbits, the orbit of a comet has a very high <emph>eccentricity</emph>.
    </li>
    <li>
        When comets swing around the sun, they appear to humans for a few brief weeks.
        Then, they return to the Kuiper Belt or Oor Cloud for many years.
    </li>
</ul>

<h4>
    Comet Tails
</h4>
<ul>
    <li>
        Comets only have a <emph>tail</emph> when they are near the sun,
        the rest of the time, they are just a ball.
    </li>
    <li>
        The <emph>tail</emph> appears because ice is melting and flying off the comet as they are near the sun.
    </li>
    <li>
        Comets do not fly across the sky. Like everything else in the solar system,
        they appear in different points of the sky each night, in a pattern that makes sense
        only if you look at the solar system as a whole.
    </li>
    <li>
        The tail is <strong>NOT</strong> behind the comet.
        The direction of the tail is always pointing away from the sun,
        irrespective of what direction the comet is moving.
    </li>
</ul>

<p class="directions">
    For each of the following statements, select <emph>true</emph> or <emph>false</emph>.
</p>

<ol class="questionList">
    <li class = 'question' data-answer = 'false'>
        Comets have a tail all of the time.
    </li>
    <li class = 'question' data-answer = 'true'>
        For most of the time, a comet is just a ball without a tail.
    </li>
    <li class = 'question' data-answer = 'false'>
        Comets orbits are very close to circles.
    </li>
    <li class = 'question' data-answer = 'false'>
        Comets always fly with their tail behind them.
    </li>
    <li class = 'question' data-answer = 'true'>
        The tail of a comet always faces the sun.
    </li>
    <li class = 'question' data-answer = 'true'>
        The orbit of a comet has a high eccentricity.
    </li>
</ol>

<ol class="questionList">
    <li class="question">
        The picture below shows comet Neowise, which was visible in the year 2020.<br>
        <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/2527_208A3495_1280.jpg' height = '300px' width = 'auto' />
        <br>
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = 'You cannot tell, it is not moving in the direction of the tail. Probably, it is moving to the side, as it appears in the picture.'>
                From the picture, can you tell which direction the comet is moving?
                If so, indicate it.
            </li>
            <li class="subQuestion" data-answer = 'You can tell from both the sunset and the tail of the comet that it is beneath the comet.'>
                From the picture, can you tell where the sun is? If so, indicate it.
                (There may be more than one way to tell!)
            </li>
        </ol>
    </li>
</ol>

<h4>
    Comet Orbit Energy
</h4>

<ul>
    <li>
        As the comet moves around the sun,
        it has a constant amount of energy.
        This energy exchanges between kinetic energy gravitational
        potential energy as the comet orbits the sun;.
    </li>
    <li>
        The comet moves <emph>faster</emph> when it is <strong>close</strong> to the sun
        and <emph>slower</emph> when it is <strong>far away</strong> from the sun.
        Whenever it is moving faster, it has more kinetic energy.
    </li>
    <li>
        When the comet is farther away from the sun,
        the comet**  has <strong>more</strong> gravitational potential energy.
        When the comet is closer to the sun, it has <strong>less</strong>
        gravitational potential energy.
    </li>
</ul>

<p>
    **Technically, gravitational potential energy is held not by the comet
    but by the system containing both the comet and the sun.
    This issue is explored in depth in <a href = '/pod/bf8c2f'>another pod</a>,
    and the precise language is used in all pods level 3 and above.
</p>

<div class="pageBreak"></div>
<p class="directions">
    Look at the image below indicating the orbit of a comet.
    On the image, indicate the following points.
</p>
<img src = 'https://us-static.z-dn.net/files/d3a/6f136758818bda715a8d60becf7e8a3d.png' height = '500px' width = 'auto' />
<p class = 'imageCredit'>
    https://brainly.com/question/2598561?exp=10-2
</p>

<ol class="questionList">
    <li class = 'question'>
        Chose the point where the comet has the maximum gravitational potential energy.
        Indicate this point "A."
    </li>
    <li class="question">
        Chose the point where the comet has the maximum kinetic energy.
        Indicate this point "B."
    </li>
    <li class="question">
        Chose any point where the comet is exchanging potential for kinetic energy.
        Indicate this point "C."
    </li>
    <li class="question">
        Chose any point where the comet is exchanging kinetic for potential energy.
        Indicate this point "D."
    </li>
</ol>
