<!--
mass vs. weight
- mass has TWO definitions in physics => intertial mass, gravitational mass
- mass is derived from the total matter in an object

Weight:
-
-->

<p class = 'introduction'>
    In normal language, people use the term "weight" to describe how heavy something is.
    People more rarely say "mass," but most people's understanding of mass is still that it is a measure
    of heaviness: heavy things have high mass and light things have low mass.
    In physics class, the words <emph>mass</emph> and <emph>weight</emph> have very precise definitions.
</p>


<h4>
    Definitions of Mass and Weight
</h4>

<p>
    There are actually <strong>two</strong> definitions of mass!
</p>

<p class = 'definition' data-word = 'Inertial Mass'>
    An object's resistance to changes in motion.
    If an object with a high inertial mass is not moving, it is difficult to get it to start moving.
    If an object with a high inertial mass is already moving, it is difficult to make it stop moving
    or to change direction.
</p>
<p class = 'definition' data-word = 'Gravitational Mass'>
    The Law of Universal Gravitation states that all masses attract all other masses.
    The more gravitational mass an object is, the more other masses are attracted to it.
</p>
<p class = 'definition' data-word = 'Weight'>
    Whenever you are on a planet, the force of gravity is pulling you <emph>downwards</emph>.
    This force is called your <strong>weight</strong>.
</p>


<h4>
    Mass and Matter
</h4>

<p>
    Mass is very closely related to matter.
    In fact, in many chemistry textbooks, the definition of mass is given as "the amount of matter in an object,"
    though we do not use this definition in physics class because the term 'amount' is not precisely defined.
</p>
<p>
    All matter (solids, liquids, and gasses), is made of atoms. All atoms are made of protons, neutrons, and electrons.
    An object's inertia comes entirely from how many protons, neutrons, and electrons it has.
    Every proton, neutron, and electron contributes a (very) little bit of inertia.
</p>

<p>
    For example, consider <strong>YOU</strong>!
    You are made up of about 7 x 10^27 atoms.
    In every one of those atoms are protons, neutrons, and electrons.
    Each proton neutron, and electron contributes a little bit of inertia (mass):
</p>

<table>
    <tr>
        <th>particle</th>
        <th>mass</th>
    </tr>
    <tr>
        <td>proton</td>
        <td>1.673E-27 kg</td>
    </tr>
    <tr>
        <td>neutron</td>
        <td>1.675E-27 kg</td>
    </tr>
    <tr>
        <td>electron</td>
        <td>9.109E-31 kg</td>
    </tr>
</table>
<p>
    Do those numbers seem small? Of course they do!
    Each proton and neutron adds a tiny amount of mass, and electrons add even less.
    However, remember that you have about 10<sup>29</sup> protons and neutrons in your body,
    more than you could count in a trillion lifetimes!
</p>

<!--
add some questions here???
-->

<h4>
    Mass and Weight Around the Universe
</h4>


<h4>
    Questions
</h4>
<p class = 'directions'>
    For each option, pick either <emph>mass</emph> or <emph>weight</emph>.
</p>
<ol class = 'questionList'>
    <li class = 'question' data-word = 'mass (inertial mass)'>
        Resistance to changes in motion.
    </li>
    <li class = 'question' data-word = 'mass (gravitational mass)'>
        The ability of matter to attract other matter gravitationally.
    </li>
    <li class = 'question' data-word = 'weight'>
        The force of gravity pulling an object downward.
    </li>
    <li class = 'question' data-word = 'mass'>
        Has two definitions (inertial and gravitational).
    </li>
    <li class = 'question' data-word = 'mass'>
        Related to the total amount of matter in an object.
    </li>
    <li class = 'question' data-word = 'mass'>
        If you moved to another planet, but you did not add or remove any atoms from you,
        this quantity would not change.
    </li>
    <li class = 'question' data-word = 'weight'>
        If you moved to another planet, with a different strength of gravity,
        this quantity would change.
    </li>
    <li class = 'question' data-word = 'weight'>
        If you are in the middle of space, far away from any galaxies or any planets at all,
        this quantity would be equal to zero.
    </li>
    <li class = 'question' data-word = 'mass'>
        This quantity is a scalar (it has no direction).
    </li>
    <li class = 'question' data-word = 'weight'>
        This quantity is a vector (it has a direction, downward).
    </li>
    <li class = 'question' data-word = 'weight'>
        This quantity is a force.
    </li>
</ol>



<ol class = 'answerList'></ol>
