<p class = 'questions'>
    For each situation below,
    state the average angular velocity
    of the person in radians per second.
    Give all answers as decimals to three significant figures of accuracy.
    For each problem, write the formula before you use it,
    include some of your work, include a unit in your answer,
    and include the correct sign of the rotational velocity.
</p>

<ol>
    <li>
        A person runs three times around a circle clockwise in a time of 6.00 seconds.
    </li>
    <li>
        A person runs six times around a circle counterclockwise in a time of 8.00 seconds.
    </li>
    <li>
        A person runs halfway around a circle counterclockwise in a time of 30.0 seconds.
    </li>
    <li>
        A turtle "runs" one-eight of a way around a circle clockwise in a time of 5.00 minutes.
    </li>
</ol>