<p class = 'questions'>
    For each situation below,
    state the average angular velocity
    of the person in radians per second.
    For each problem, write the formula before you use it,
    include some of your work, and include a unit in your answer.
</p>

<ol>
    <li>
        A person runs three times around a circle clockwise in a time of 6.0 seconds.
    </li>
    <li>
        A person runs four times around a circle counterclockwise in a time of 8.0 seconds.
    </li>
    <li>
        A person runs halfway around a circle counterclockwise in a time of 30. seconds.
    </li>
    <li>
        A turtle "runs" one-eight of a way around a circle clockwise in a time of 5.0 minutes.
    </li>
</ol>