<p class = 'directions'>
    For each of the following situations,
    draw a free-body diagram.
    Within your free-body diagram,
    identify each force by:
    a) what type of force it is
    b) its direction
    c) its agent
    d) its object.
</p>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-12'>
            <h5>
                One:
            </h5>
            Paul the Pusher pushes a box across the floor to the left.
            The floor is <emph>not</emph> frictionless. Indicate which type of frictional force exists: static or kinetic.
            Draw a free-body diagram of the box with four forces and fill out the accompanying table.
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-md-6 border border-dark'>
            <strong>Free-Body Diagram</strong>
            <br><br><br><br><br><br><br><br><br>
        </div>
        <div class = 'col-md-6 border border-dark'>
            <div class = 'row'> <!-- nested table -->
                <div class = 'col-3 border border-dark'>
                    Type Of Force
                </div>
                <div class = 'col-3 border border-dark'>
                    Direction
                </div>
                <div class = 'col-3 border border-dark'>
                    Agent
                </div>
                <div class = 'col-3 border border-dark'>
                    Object
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
            </div>
        </div>
    </div>
    <div class = 'row bg-secondary p-3 mt-3 mb-3'></div>
    <div class = 'row'>
        <div class = 'col-12'>
            <h5>
                Two:
            </h5>
            Dasha the Daring is hanging from a rope that is pulling it upward.
            While the rope is pulling Dasha upward, her friends
            are pulling her downward.
            All this is taking place on earth.
            Draw a free-body diagram of Dasha three forces and fill out the accompanying table.
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-md-6 border border-dark'>
            <strong>Free-Body Diagram</strong>
            <br><br><br><br><br><br><br><br>
        </div>
        <div class = 'col-md-6 border border-dark'>
            <div class = 'row'> <!-- nested table -->
                <div class = 'col-3 border border-dark'>
                    Type Of Force
                </div>
                <div class = 'col-3 border border-dark'>
                    Direction
                </div>
                <div class = 'col-3 border border-dark'>
                    Agent
                </div>
                <div class = 'col-3 border border-dark'>
                    Object
                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
            </div>
            <div class = 'row'>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
                <div class = 'col-3 border border-dark p-4'>

                </div>
            </div>
        </div>
    </div>
</div>
