<p class = 'introduction'>
    The ballistic pendulum is a <strong>cannonical</strong> physics problem
    (one nearly every physics student sees)
    that combines the use of the conservation of energy with the conservation of momentum.
    It is a device that could be used to determine the speed of a moving bullet
    by firing that bullet into a pendulum.
    In this pod, we will break down how to solve the problem in steps.
</p>


<h4>
    Warm Up 1: Rising and Falling Energy Questions
</h4>

<p class = 'directions'>
    Use the <strong>Conservation of Energy</strong> to answer each of the questions below.
</p>

<ol class="questionList">
    <li class="question">
        A block is at rest at the top of a frictionless ramp has a mass of 0.600 kg.
        The total vertical drop of the ramp
        is 0.200 m.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '0'>
                Determine the kinetic energy at the <emph>top</emph> of the ramp.
                (Don't overthink it.)
            </li>
            <li class="subQuestion" data-answer = '1.18 J'>
                Determine the gravitational energy of the block-earth system at the <emph>bottom</emph>
                of the ramp.
                Assume that the zero point height is the bottom of the ramp.
            </li>
            <li class="subQuestion" data-answer = '0'>
                Determine the gravitational potential energy of the block at the <emph>bottom</emph>
                of the ramp.
                (Again, don't overthink it.)
            </li>
            <li class="subQuestion" data-answer = 'KE = 1.18 J'>
                Use the conservation of energy to create an equation
                and solve for the kinetic energy of the block at the bottom of the ramp.
            </li>
            <li class="subQuestion" data-answer = 'All of the gravitational potential energy at the top of the ramp converted to kinetic energy at the bottom of the ramp.'>
                Conceptually explain your answer to the previous problem.
            </li>
            <li class="subQuestion" data-answer = ''>
                Solve for the value of the velocity of the block at the bottom of the ramp.
            </li>
        </ol>
    </li>
    <li class="question">
        A block has speed \( v_i\) at the top of a frictionless ramp has a mass of \( m_b \).
        The total vertical drop of the ramp
        is \( h_r \).
        The block rolls down the ramp and has a speed
        speed \( v_f \) at the bottom of the ramp.
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion">
                Write an equation based on the <strong>conservation of energy</strong>
                to relate the variables \( v_i \), \( m_b \), \( h_r \), \( v_f \), and \( g \).
                Your equation should contain 3 terms, and one of the variables included
                should cancel out.
                Demonstrate that each term has the same units (your equation is dimensionally correct).
            </li>
            <li class="subQuestion">
                Solve your equation above to find the final speed of the block \( v_f \)
                in terms of the other variables.
            </li>
            <li class="subQuestion">
                Simplify the formula you derived for \( v_f \)
                for the special case when the block is at rest at the top of the ramp.
            </li>
        </ol>
    </li>
    <li class="question">
        Someone throws a ball with a mass of 0.300 kg directly upward with a speed of 4.00 m/s.
        The ball begins at a height of 0.200 meters.
        At the top of the throw, the ball is momentarily at rest.
        <ol class="subQuestionList">
            <li class="subQuestion">
                Determine the kinetic energy of the ball at the bottom of the throw.
            </li>
            <li class="subQuestion">
                Determine the gravitational potential energy of the ball at the bottom of the throw.
            </li>
            <li class="subQuestion">
                Determine the kinetic energy of the ball at the top of the throw.
            </li>
            <li class="subQuestion">
                Use the <strong>conservation of energy</strong> to determine the gravitational potential
                energy of the ball at the top of the throw.
            </li>
            <li class="subQuestion">
                Conceptually explain your answer to the previous question
                using the principles of energy transfer.
            </li>
            <li class="subQuestion">
                Determine the height of the ball at the top of the throw.
            </li>
        </ol>
    </li>
    <li class="question">
        Someone throws a ball with a mass of \( m_b \) directly upward with a speed of \( v_i \).
        The ball begins at a height \( h_i \).
        At the top of the throw, the ball is momentarily at rest
        at the height \( h_{\text{max}} \).
        <ol class="subQuestionList">
            <li class="subQuestion">
                Use the <strong>conservation of energy</strong> to write an equation that relates the variables
                \( m_b \), \( v_i \), \( h_i \), \( h_{\text{max}} \).
                The equation should have three terms, and one of the above variables should cancel out of the equation.
                Demonstrate that each term has the same units (your equation is dimensionally correct).
            </li>
            <li class="subQuestion">
                Solve your equation above for the maximum height of the ball \( h_{\text{max}} \).
            </li>
            <li class="subQuestion">
                Further solve the equation for \( \Delta h =  h_{\text{max}} - h_i \).
            </li>
        </ol>
    </li>
</ol>


<h4>
    Warm Up 2: Perfectly Inelastic Collision Questions
</h4>

<p class="definition">
    In a <strong>perfectly inelastic collision</strong>,
    two objects stick together following the collision.
</p>


<p class = 'directions'>
    Use the <strong>Conservation of Momentum</strong> to answer each of the questions below.
</p>


<ol class="questionList">
    <li class="question">
        A bullet with a mass of 200. grams moving at an unknown velocity
        strikes a pendulum with a mass of 1.50 kg.
        The bullet lodges itself in the pendulum,
        and after they collide, the bullet-block system rises to a height of 8.00 cm.
        <ol class="subQuestionList" type = 'a'>
            <li class = 'subQuestion'>
                Determine the speed of the bullet-block system right when it is on the way up.
                This step of the problem is based on the <strong>conservation of energy</strong>.
            </li>
            <li class="subQuestion">
                Determine the initial velocity of the bullet before the collision.
                This step of the problem is based on the <strong>conservation of momentum</strong>.
            </li>
        </ol>
    </li>
</ol>

<ol class="answerList"></ol>