<p class="directions">
    For full credit, you must write out the formulas
    that you use and some description of the work you did to find an answer.
</p>


<ol>
    <li>
        You are attempting to heat 0.24 kg of ice at -20. degrees Celsius
        into water at 0.0 degrees Celsius.
        Note that a change of state is necessary for this transition.
        <ol type = 'a'>
            <li>
                Draw a graph that illustrates how temperature changes
                when heat is added to the substance.
            </li>
            <li>
                Determine the total amount of heat energy
                necessary to complete the process.
                Write your answer to two significant figures of accuracy.
            </li>
        </ol>
    </li>
    <li>
        You are attempting to heat 800. grams of ice at -50.
        degrees Celsius into steam at 160.
        degrees Celsius. Note that two changes of
        state are necessary for this transition.
        <ol type = 'a'>
            <li>
                Draw a graph that illustrates how temperature
                changes when heat is added to the substance.
            </li>
            <li>
                Determine the total amount of
                heat energy necessary to complete
                the process. Write your answer to two significant
                figures of accuracy.
            </li>
        </ol>
    </li>
</ol>