<p class = 'introduction'>
  Throuhout physics, you analyze the motion of highly complex systems:
  a person, a car, the earth, using a small set of equations.
  How can you analyze such complex systems without considering
  all of the pieces of the system?
  Underlying every physics problem you have completed
  lies a simple principle:
  for any system, no matter how complex, when considering only <emph>translational</emph>
  motion, an object can be treated as a single point at the center of
  mass of an object.
  (To repeat, this principle applies to only translational motion.
  When considering rotational motion, you must consider how mass
  is spread throughout a system.)
</p>

<p class = 'introduction'>
  In order to master physics, you need to understand this principle,
  which you may have (before now), been taking for granted!
  However, in order to apply this principle correctly, you need to have a
  thorough understanding of the term <strong>center of mass</strong>.
  The center of mass is defined by a mathematical weighted average.
</p>

<h3>
    Steps to Finding Center of Mass in 1-dimension:
</h3>
<ol>
    <li class = 'text-secondary'>
        Chose one location to be the origin.
        (Already completed in this pod.)
    </li>
    <li class = 'text-secondary'>
        Chose one direction to be the positive direction.
        (Already completed in this pod)
    </li>
    <li>
        Add up each mass times the position of that mass.
    </li>
    <li>
        Divide by the total mass.
    </li>
</ol>
<p>
    Mathematically, this procedure is called a <strong>weighted average</strong>.
    The formula for this procedure is:
</p>
<p class = 'equation'>
    $$
    x_{text{cm}} = \frac{\Sigma x_i m_i}{\Sigma m_i}
    $$
</p>

<ol class = 'questionList'>

</ol>
