<p>
    This unit deals with the study of <strong>cosmology</strong>.
    Cosmology is the study of the entire universe.
</p>



<p class = 'directions'>
    For each of the questions below,
    determine if that question is better considered a question
    from cosmology.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'cosmology'>
        How old is the universe?
    </li>
    <li class = 'question' data-answer = 'cosmology'>
        Is the universe infinite?
    </li>
    <li class = 'question' data-answer = 'not cosmology, this is caused by the precise radius and mass of earth.'>
        What is the free-fall acceleration on earth precisely 9.8 m/s^2?
    </li>
    <li class = 'question' data-answer = 'not cosmology, this question deals only with earth, not the whole universe.'>
        How old is the earth?
    </li>
    <li class = 'question' data-answer = 'cosmology'>
        How large is the universe? Is it infinite, or does it have boundaries?
    </li>
    <li class = 'question' data-answer = 'not cosmology, this question deals only with earth and the moon, not the whole universe'>
        Why does earth have the moon?
    </li>
    <li class = 'question' data-answer = 'not cosmology'>
        What types of cells make up the human heart?
    </li>
    <li class = 'question' data-answer = 'cosmology'>
        Why are there four forces in the universe?
    </li>
    <li class = 'question' data-answer = 'not cosmology, this question deals with only the sun and one other star, not the whole universe'>
        How far away is the nearest star to earth other than the sun?
    </li>
    <li class = 'question' data-answer = 'cosmology'>
        By what process was the energy in the universe initially created?
    </li>
    <li class = 'question' data-answer = 'cosmology'>
        Why is the speed of light precisely 3.0 x 10^8 m/s?
    </li>
</ol>



<ol class="answerList"></ol>