<p class = 'col-md-6 mt-3 border border-gray'>
  <strong>Rebecca:</strong><br>
  I never told you about the letter Jane Crofut got
  from her minister when she was sick.
  He wrote Jane a letter and on the envelope
  the address was like this: It said:
  Jane Crofut; The Crofut Farm; Grover's Corner;
  Sutton County; New Hampshire; United States of America.
  <br>
  <strong>George:</strong><br>
  What's funny about that?
  <br>
  <strong>Rebecca:</strong><br>
  But listen, it's not finished:
  The United States of America;
  Continent of North America;
  Western Hemisphere;
  the Earth;
  the Solar System;
  The Universe;
  The Mind of God&#8212;
  that's what it said on the envelope.
  <br>
  <strong>George:</strong><br>
  What do you know!
  <br>
  <strong>Rebecca:</strong><br>
  And the postman brough it just the same.
  <br>
  <strong>George:</strong><br>
  What do you know!
  <br><br>
  &#8212;Thorton Wilder, <em>Our Town</em>
</p>

<p>
  In this pod, we will consider where you are positioned within the universe.
  People have been wondering this question since the beginning of time,
  and the idea that our place in the Cosmos is a "address" appeared
  briefly in Thorton Wilder's play "Our Town",
  one of the <a href = 'https://www.mentalfloss.com/article/528278/15-remarkable-facts-about-thornton-wilders-our-town'>
  most popular plays</a> in American History.
  Just like you live on a street, which is in a town, which is in a state, which is in a country,
  you live on a planet, which is in a solar system, which is in a galaxy.
</p>

<p>
  Understanding your 'address,' just like Jane Crofut does, is the first step to understanding the whole universe,
  the goal of cosmology!
  Seeing as Jane lived over 100 years ago, we should make some updates for the 21st century.
  So, here is my address:
  My Address is:
  Daniel Kuncik; Room 308; Old Rochester Regional High School; Mattapoisett; Plymouth County; Massachusetts; The United States of America;
  Planet Earth; The Earth-Moon System; The Solar System; The Orion Arm; The Milky Way; The Local Group; The Virgo Supercluster; The Laniakea Supercluster; The Universe
</p>


<h4>
  Part 1: Planet Earth
</h4>

<p>
  To start, (almost) all humans live on the planet earth. What does it mean to live on a planet?
</p>

<p class = 'definition' data-word = 'Planet'>
  There are eight planets in our solar system:
  Mercury, Venus, Earth, Mars, Juptier, Saturn, Uranus, and Neptune.
  Though there is an
  <a href = 'https://solarsystem.nasa.gov/planets/in-depth/'>official definition of a planet</a>,
  let's focus less on what that is and more on how that came to be.
</p>

<h5>
  A brief history of the definition of planets
</h5>

<p>
  The word "planet" comes from <a href = 'https://www.etymonline.com/word/planet'>the Greek word <em>planetes</em></a>
  for a "wanderer".
  The Greeks saw int he night sky that, unlike the stars, which stayed in the same place each night,
  the bright objects named Mercury, Venus, Mars, Jupiter, and Saturn moved across the night sky each night,
  so they were named "planets" or "wanderers." At this time, nobody considered earth to be a planet!
</p>

<p>
  Over the course of the 16th and 17th century, thanks to the work of astronomers such
  as Nicolaus Copernicus, Galileo Galilee, and Johannes Kepler,
  people in Europe came to beleive that earth moved around the sun.
  At this point, the definition of a planet changed (without anyone thinking about it).
  It no longer meant an object moving across the sky, but a large spherical mass moving around the sun.
</p>

<p>
  Later on, three more planets: Uranus, Neptune, and Pluto were discovered,
  as well as many asteroids, comets, and small objects in the far reaches of the solar system called the Kuiper Belt.
  This raised the question, what really is a <em>planet</em>? Does anything orbitting the sun qualify? Does it need to be big?
  If so, how big?
  Astronomers were discovering "planets" in other solar systems as well.
</p>

<p>
  The issue was brough to a head in the early 2000s, when the Astronomer Mike Brown working at Cal Tech
  discovered a new procedure
  for discvering planets using a technique called interferometery.
  He was soon discovering new "planets" so fast that pretty soon, if astronomers didn't clearly
  draw the line between what was and wasn't a planet, there'd be more planets than preschool children could ever learn!
</p>

<p>
  In the summer of 2006, a truly shocking event occured: the entire world media covered an astronomy conference!
  There, in a contrversial vote, the International Astronomical Union adopted a
  <a href = 'https://solarsystem.nasa.gov/planets/in-depth/'>new definition of a planet</a>
  that would eliminate all of the objects Mike Brown had discovered, and with them, Pluto.
  (which was much smaller and farther away than the other planets).
</p>

<p>
  And why does this matter to cosmology?
  Because we begin our journey on planet earth, know that the term "planet"
  is not a clearly and precisely defined thing,
  but something that has changed in definition over time.
</p>


<p>
  For further reading on the definition of a planet, see
  <a href = 'https://www.amazon.com/How-Killed-Pluto-Why-Coming/dp/0385531109'>
  How I Killed Pluto and Why It Had It Coming</a> by Mike Brown
</p>

<h4>
  Part 2: The Earth-Moon System
</h4>

<p>
  Most people assume the next logical step after earth would be to the solar system,
  but let's take a smaller step first to the Earth-Moon System.
</p>

<p class = 'definition' data-word = 'System'>
  A <strong>system</strong>
  are mulitple bodies that are taken together and
  considered to be a single body or unit.
  Systems can be reduced to a single point mass
  located at the center of mass of the system.
</p>

<p class = 'definition' data-word = 'Earth-Moon System'>
  A system consisting of the earth and the moon, considered as a single unit.
</p>

<p>
  When people say "The earth revolves around the sun," they are not wrong,
  but they are incomplete! They should say "The earth-moon system revolves around the sun."
  The center of mass of the earth-moon systm is inside of the earth
  but not at the center (you will learn to calculate its precise location in another pod).
  It is slightly out in the direction of the moon, and because the moon is orbitting,
  the center of mass of the earth-moon system is always changing.
</p>

<p>
  As we will learn when we study the dynamics of systems, a system,
  such as the earth-moon system, can be considered to be a <em>point mass</em> located
  at its center of mass.
  Therefore, if you imagine a single point with the combined mass of the earth and the moon
  orbitting the sun, that is the correct idea.
  Now imagine the earth and the moon existing aroudn that single point.
  That is the earth-moon system.
</p>

<p>
  It's also good to note that the 'earth-moon system' contains many manmade objects orbitting
  the earth, such as the International Space Station and innumerable GPS and communication satellites.
</p>

<h4>
  Part 3: The Solar System
</h4>

<p class = 'definition' data-word = 'The Solar System'>
  The <strong>Solar System</strong> consists of the sun
  and all of the objects that orbit the sun,
  considered as a single unit.
</p>

<p class = 'definition' data-word = 'Astronomical Unit'>
  An <strong>Astronomical Unit</strong>
  is the distance from the earth to the sun.
</p>


<h5>
  Objects in the Solar System
</h5>
<p>
  All information in this list is derived from the
  <a href = 'https://solarsystem.nasa.gov/'>NASA Solar System Exploration Website.</a>
</p>

<ul>
  <li>
    The Sun
  </li>
  <li>
    Mercury (0.4 AU from the sun)
  </li>
  <li>
    Venus (0.7 AU from the sun)
  </li>
  <li>
    Earth-Moon System (1 AU from the sun)
    <ul>
      <li>
        Earth
      </li>
      <li>
        The Moon
      </li>
      <li>
        International Space Station
      </li>
      <li>
        Man-Made Satellites
      </li>
    </ul>
  </li>
  <li>
    Mars System
    <ul>
      <li>
        Mars
      </li>
      <li>
        Demios
      </li>
      <li>
        Phobos
      </li>
    </ul>
  </li>
  <li>
    The Asteroid Belt:
    A ring between Mars and Jupiter where asteroid's are common.
    <ul>
      <li>
        Dwarf Planet Ceres: (2.8 AU)
        The largest item in the asteroid belt. It was once considered
        a planet, then was demoted to asteroid, and then promoted
        to dwarf planet once that became an option.
        (It cannot be a planet because it is a part of a ring of asteroids,
        it does not clear out all objects in its path.)
      </li>
      <li>
        Between 1 and 2 million a larger than 1 kilometer long.
      </li>
      <li>
        Millions of Smaller Asteroids
      </li>
    </ul>
  </li>
  <li>
    Other Asteroids, not in the Asteroid Belt (everywhere)
  </li>
  <li>
    Jupiter System (5.2 AU)
    <ul>
        <li>
          Jupiter
        </li>
        <li>
          Jupiter's Moons
        </li>
        <li>
          Galileo Spacecraft (1995&#8212;2003)
        </li>
      </li>
    </ul>
  </li>
  <li>
    Saturn System
    <ul>
      <li>
        Saturn
      </li>
      <li>
        Saturn's Rings
      </li>
      <li>
        82 Moons
      </li>
      <li>
        Cassini Spacecraft (2005&#8212;2017)
      </li>
    </ul>
  </li>
  <li>
    Uranus System
    <ul>
      <li>
        Uranus
      </li>
      <li>
        Uranus's Rings
      </li>
      <li>
        27 Moons
      </li>
    </ul>
  </li>
  <li>
    Neptune System
    <ul>
      <li>
        Neptune
      </li>
      <li>
        Neptune's Moons
      </li>
    </ul>
  </li>
  <li>
    Meteors and Meteorites (Everywhere):
    When you see a "shooting star," it is actually a meteor burning up
    due to friction in the atmosphere.
  </li>
  <li>
    The Kuiper Belt
    (<a href = 'https://www.youtube.com/watch?v=Bwwkz6xFtmQ'>click for pronounciation</a>)
    (between 30 AU and 55 AU):
    A broad donut-shaped region beyond
      Neptune of objects composed mostly of ice, either frozen water or methane.
    <ul>
      <li>
        Pluto System:
        <ul>
          <li>
            Pluto
          </li>
          <li>
            Charon, a moon.
            Charon is almost as large as Pluto,
            and as a result the center of mass of the
            Pluto system is <em>outside of Pluto</em>.
            For this reason, Pluto and Charon are called a <em>binary</em>.
            (see video)
          </li>
          <li>
            4 other moons
          </li>
          <li>
            (Potentially) rings
          </li>
        </ul>
      </li>
      <li>
        Eris
      </li>
      <li>
        Short Period Comets:
        Balls of rock and frozen gas that stay out near the Kuiper belt for up to 200 years,
        then very briefly come near the sun for a matter of weeks, then return to the Kuiper Belt.
        <ul>
          <li>
            Halley's Comet:
            Was last seen from earth in 1986, and will be seen again in 2061.
            The astronomer Edmund Halley was the first to predict the return of this comet.
          </li>
        </ul>
      </li>
      <li>
        Millions of other Kuiper Belt Objects
      </li>
      <li>
        New Horizon's Spacecraft
      </li>
    </ul>
    For Further Study:
    <a href = 'https://www.youtube.com/watch?v=EJxwWpaGoJs'>NASA documentary on Kuiper Belt and New Horizon's Study</a>
    (somewhat dated, because it was released before information from New Horizon's Appeared)
  </li>
  <li>
    Voyager and Pioneer Spacecrafts
  </li>
  <li>
    Oort Cloud (2,000&#8212;100,000 AU)
    <ul>
      <li>
        Long period comets:
        Balls of rock and frozen gas like the comets of the Kuiper Belt,
        only, instead of nearing the sun about every 100 years,
        they spend thousands of even millions of years in the Oort Cloud
        between trips to the sun.
        <ul>
          Hale-Bopp:
          A comet that was visible from earth in 1997, but
          will take 2534 years to complete a full orbit.
        </ul>
      </li>
    </ul>
  </li>
</ul>


<img src = 'https://i.chzbgr.com/full/6410642688/h74A67039/planning-a-planet' height = '150 px' widht = 'auto'/>
<p class = 'imageCredit'>
  Image Credit: https://i.chzbgr.com/full/6410642688/h74A67039/planning-a-planet
  <br>
  (Did you count the planets? Yes, that's how many there are. All others are not invited to the party. Get over it.)
</p>


<h4>
  Part 4: The Galaxy (The Milky Way)
</h4>

<p class = 'definition' data-word = 'Galaxy'>
  Stars are not spread evenly throughout the universe, but are located
  together in large groups of billions of stars called <strong>galaxies</strong>.
</p>

<!--
add a picture of many galaxies
-->

<p>
  Our sun and its solar system is one of over 200 billion stars
  located together in a collection called the "Milky Way Galaxy."
</p>

<img src = 'https://cdn.mos.cms.futurecdn.net/gZZrBVXJG5yiMxfuAgJqok-1024-80.jpg' height = '300px' width = 'auto'>
<p class = 'imageCredit'>
  Image Credit: https://www.space.com/19915-milky-way-galaxy.html; Tunc Tezel
</p>

<p>
  Of course, we cannot see what the milky way looks like
  from <em>outside of</em> the milky way,
  but many astronomers, by looking at the stars we can see and comparing
  them to patterns in other galaxies, have been able to figure out what
  it looks like:
</p>

<img src = 'https://www.nasa.gov/images/content/188405main_hurt_Milky_Way_2005-590_med.jpg' height = '300px' width = 'auto'/>
<p class = 'Image Credit'>
  Image Credit: https://www.nasa.gov/mission_pages/GLAST/science/milky_way_galaxy.html
</p>

<!---
add a picture of the milky way from above
-->


<h5>
  Items in the Milky Way Galaxy
</h5>

<ul>
  <li>
    Over 200 billion stars
    <ul>
      <li>
        Stars still forming:
        <ul>
          <li>
            Protostars
          </li>
          <li>
            T Tauri Stars
          </li>
        </ul>
      </li>
      <li>
        Main Sequence Stars
        (O B A F G K M L T)
        <ul>
          <li>
            Super Giant Stars
          </li>
        </ul>
      </li>
      <li>
        Dying Stars:
        <ul>
          <li>
            Red Giants
          </li>
          <li>
            Supernovae
          </li>
        </ul>
      </li>
      <li>
        Dead Stars:
        <ul>
          <li>
            White Dwarf Stars
          </li>
          <li>
            Red Dwarf Stars
          </li>
          <li>
            Neutron Stars
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    The Interstellar Medium, gas and dust spread throughout the galaxy.
    Future stars are made from the interstellar medium.
    <ul>
      <li>
        A Nebula: A dense cloud of gas and dust,
        an area very good for star formation.
        <ul>
          <li>
            The Eagle Nebula: <br>
            <img src = 'https://spaceplace.nasa.gov/nebula/en/nebula1.en.jpg' height = '300px' width = 'auto' />
            <p class = 'imageCredit'>
              Image Credit: https://spaceplace.nasa.gov/nebula/en/
            </p>
          </li>
          <li>
            The Horsehead Nebula: <br>
            <img src = 'https://www.noao.edu/image_gallery/images/d2/02188a.jpg' height = '300px' width = 'auto' />
            <p class = 'imageCredit'>
              Image Credit: https://www.noao.edu/image_gallery/html/im0057.html
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
    <li>
        Rogue Planets: Planets that have been somehow
        detached from their star.
    </li>
  <li>
    Black Holes
  </li>
  <li>
    Quasars
  </li>
  <li>
    Pulsars
  </li>
</ul>

<h4>
  Part 5: Galaxy Clusters
</h4>

<h4>
  Part 6: The Universe
</h4>

<p>
  In one of the most famous observations of all time,
  in December of 1995, the Hubble Space Telescope was pointed
  at patch of apparently empty sky and exposed for 10 days.
  After 10 days, this is what the camera had recorded:
</p>

<img src = 'https://science.nasa.gov/files/science-pink/s3fs-public/styles/large/public/mnt/medialibrary/2010/03/31/deep_field.jpg?itok=vpoEMm_2' height = '200px' width = 'auto'/>

<p>
  Even empty space is full of unseen objects!
  Even in dark, blank, empty space,
  there are countless galaxies stretching as far as we can see!
</p>

<p>
  One of the largest questions in science is "How Big is the Universe?"
  The answer most scientists believe is "infinitely big."
  Of course, we cannot <em>see</em> as far as the universe is
  and can never prove it is infinite,
  but when the Hubble Deep Field was released, it seemed that, however far
  humans look in all directions, there appears to be an endless expanse of new worlds.
</p>

<p>
  There is one "edge" of the universe humans must respect, and that is the edge
  from our own point of view.
  Because the universe (to the best of our knowledge) is about 14 billion years old,
  humans cannot see beyond 14 billion light years.
  If an object 14 billion light years away gave off light 14 billion years ago, at the beginning of the universe,
  it would reach earth now. If any object farther than that gave off light,
  it would still not have reached earth.
    The edge of the observable universe, 14 billion light years from earth,
    is called the <strong>cosmic horizon</strong>.
</p>

<p>
  A scene from the movie A Beautiful Mind,
  directed by Ron Howard and starring Russell Crowe and Jennifer Connelly.
</p>
<img src = 'https://science.nasa.gov/files/science-pink/s3fs-public/styles/large/public/mnt/medialibrary/2010/03/31/deep_field.jpg?itok=vpoEMm_2' height = '200px' width = 'auto'/>


<h4>
  The Pale Blue Dot Image
</h4>

<img src = 'https://planetary.s3.amazonaws.com/assets/images/3-earth/20140801_PIA00452.jpg' height = '200px' width = 'auto'/>

<p class = 'directions'>
  The list below gives you a list of "destinations" in the universe.
  For each destination, classify it as one of the following:
</p>
<ul>
    <li>
        On earth
    </li>
    <li>
        Not on earth, but in the earth-moon system
    </li>
    <li>
        Not in the earth-moon system, but in our solar system
    </li>
    <li>
        Outside our solar system, but in the milky way galaxy
    </li>
    <li>
        Outside the milky way galaxy, but in our universe
    </li>
    <li>
        Not in our universe (at least not observable)
    </li>
</ul>


<ol class = 'questionList'>
  <li class = 'question' data-answer = 'On Earth'>
    Cleveland
  </li>
  <li class = 'question' data-answer = 'On Earth'>
    Mount Everest
  </li>
  <li class = 'question' data-answer = 'On Earth'>
    Mauna Loa volcano
  </li>
  <li class = 'question' data-answer = 'Not on earth, but in the earth-moon system'>
    Tycho crater
  </li>
  <li class = 'question' data-answer = 'Not on earth, but in the earth-moon system'>
    The international space station
  </li>
  <li class = 'question' data-answer = 'Not on earth, but in the earth-moon system'>
    Mons Huygens
  </li>
  <li class = 'question' data-answer = 'Not in the earth-moon system, but in our solar system'>
    Neptune
  </li>
  <li class = 'question' data-answer = 'Not in the earth-moon system, but in our solar system'>
    The moon Io
  </li>
  <li class = 'question' data-answer = 'Not in the earth-moon system, but in our solar system'>
    Asteroid 2 Pallas
  </li>
  <li class = 'question' data-answer = 'Not in the earth-moon system, but in our solar system'>
    Comet Hyakutake
  </li>
  <li class = 'question' data-answer = 'Outside our solar system, but in the milky way galaxy'>
    Eagle Nebula
  </li>
  <li class = 'question' data-answer = 'In a galaxy far far away.'>
    The Death Star
  </li>
  <li class = 'question' data-answer = 'Not in our universe'>
    Ghosts
  </li>
  <!---
  add more for the galaxies
  -->
</ol>


<ol class = 'answerList'></ol>


<h5>
    Further Resources:
</h5>
<ul>
    <li>
        COSMOS: A Spacetime Odyssey: Season 1, Episode 1 "Standing up in the Milky Way"s
    </li>
    <li>
        <a href ='https://www.travelandleisure.com/trip-ideas/space-astronomy/earth-cosmic-address'>Article on Cosmic Address</a>
    </li>
</ul>
