<p class = 'col-md-6 mt-3 border border-gray'>
  <strong>Rebecca:</strong><br>
  I never told you about the letter Jane Crofut got
  from her minister when she was sick.
  He wrote Jane a letter and on the envelope
  the address was like this: It said:
  Jane Crofut; The Crofut Farm; Grover's Corner;
  Sutton County; New Hampshire; United States of America.
  <br>
  <strong>George:</strong><br>
  What's funny about that?
  <br>
  <strong>Rebecca:</strong><br>
  But listen, it's not finished:
  The United States of America;
  Continent of North America;
  Western Hemisphere;
  the Earth;
  the Solar System;
  The Universe;
  The Mind of God&#8212;
  that's what it said on the envelope.
  <br>
  <strong>George:</strong><br>
  What do you know!
  <br>
  <strong>Rebecca:</strong><br>
  And the postman brought it just the same.
  <br>
  <strong>George:</strong><br>
  What do you know!
  <br><br>
  &#8212;Thorton Wilder, <em>Our Town</em>
</p>

<p>
  In this pod, we will consider where you are positioned within the universe.
  People have been wondering this question since the beginning of time,
  and the idea that our place in the Cosmos is a "address" appeared
  briefly in Thorton Wilder's play "Our Town",
  one of the <a href = 'https://www.mentalfloss.com/article/528278/15-remarkable-facts-about-thornton-wilders-our-town'>
  most popular plays</a> in American History.
  Just like you live on a street, which is in a town, which is in a state, which is in a country,
  you live on a planet, which is in a solar system, which is in a galaxy.
</p>

<p>
  Understanding your 'address,' just like Jane Crofut does, is the first step to understanding the whole universe,
  the goal of cosmology!
  Seeing as Jane lived over 100 years ago, we should make some updates for the 21st century.
  So, here is my address:
</p>
<ul>
    <li>
        Daniel Kuncik
    </li>
    <li>
        Room 308
    </li>
    <li>
        133 Marion Road
    </li>
    <li>
        Mattapoisett, MA 02739
    </li>
    <li>
        The United States of America
    </li>
    <li>
        North America
    </li>
    <li>
        The Western Hemisphere
    </li>
    <li>
        Planet Earth
    </li>
    <li>
        The Earth Moon System
    </li>
    <li>
        The Solar System
    </li>
    <li>
        The Orion Spur
    </li>
    <li>
        The Milky Way Galaxy
    </li>
    <li>
        The Local Group
    </li>
    <li>
        The Laniakea Supercluster
    </li>
    <li>
        The Universe
    </li>
</ul>


<!--###########################################################################################-->
<!--###########################################################################################-->

<h4>
    Part 1: Old Rochester Regional High School
    <button class = 'btn btn-danger' data-toggle="collapse" href = '#Mattapoisett' role="button" aria-expanded="false" aria-controls = "collapseMattapoisett">
        SHOW
    </button>
</h4>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-6'>
            <ul>
                <li>
                    Room 308
                </li>
                <li>
                    133 Marion Road
                </li>
                <li>
                    Mattapoisett, MA 02739
                </li>
                <li>
                    The United States of America
                </li>
            </ul>
        </div>
        <div class = 'col-md-6'>
            <img src = '/podAssets/energy/cosmology/mattapoisett.png' class = 'spaceImage' />
            <p class = 'imageCredit'>
                Google Maps
            </p>
        </div>
    </div>
</div>
<div class = 'collapse' id = 'Mattapoisett'>
    <p>
        An address is logical because each element is inside of the next element.
        For example, Room 308 is in the building located at 133 Marion Road.
        Marion Road is inside Mattapoisett, which is inside Massachusetts.
        The same logical extends to all of the "space" parts of the address!
        Earth is inside the earth-moon system.
        The earth moon system is inside the solar system.
        The solar system is inside the Orion Spit
        The Virgo Supercluster is inside the Laniakea Supercluster etc etc.
    </p>
</div>


<h4>
  Part 2: Planet Earth
    <button class = 'btn btn-success' data-toggle="collapse" href = '#Earth' role="button" aria-expanded="false" aria-controls = "collapseEarth">
        SHOW
    </button>
</h4>
<div class= 'container'>
    <div class = 'row'>
        <div class = 'col-md-6'>
            <li>
                North America
            </li>
            <li>
                The Western Hemisphere
            </li>
            <li>
                Planet Earth
            </li>
        </div>
        <div class = 'col-md-6'>
            <img src = 'https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/as17-148-22727_lrg_0.jpg' height = '200px' height = 'auto'/>
            <p class = 'imageCredit'>
                NASA: https://www.nasa.gov/topics/earth/images/index.html
            </p>
        </div>

    </div>
</div>
<div class = 'collapse' id = 'Earth'>
    <p>
        To start, (almost) all humans live on the planet earth. What does it mean to live on a planet?
    </p>

    <p class = 'definition' data-word = 'Planet'>
        There are eight planets in our solar system:
        Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune.
        Though there is an
        <a href = 'https://solarsystem.nasa.gov/planets/in-depth/'>official definition of a planet</a>,
        let's focus less on what that is and more on how that came to be.
    </p>

    <h5>
        A brief history of the definition of planets
    </h5>

    <p>
        The word "planet" comes from <a href = 'https://www.etymonline.com/word/planet'>the Greek word <em>planetes</em></a>
        for a "wanderer".
        The Greeks saw int he night sky that, unlike the stars, which stayed in the same place each night,
        the bright objects named Mercury, Venus, Mars, Jupiter, and Saturn moved across the night sky each night,
        so they were named "planets" or "wanderers." At this time, nobody considered earth to be a planet!
    </p>

    <p>
        Over the course of the 16th and 17th century, thanks to the work of astronomers such
        as Nicolaus Copernicus, Galileo Galilee, and Johannes Kepler,
        people in Europe came to beleive that earth moved around the sun.
        At this point, the definition of a planet changed (without anyone thinking about it).
        It no longer meant an object moving across the sky, but a large spherical mass moving around the sun.
    </p>

    <p>
        Later on, three more planets: Uranus, Neptune, and Pluto were discovered,
        as well as many asteroids, comets, and small objects in the far reaches of the solar system called the Kuiper Belt.
        This raised the question, what really is a <em>planet</em>? Does anything orbiting the sun qualify? Does it need to be big?
        If so, how big?
        Astronomers were discovering "planets" in other solar systems as well.
    </p>

    <p>
        The issue was brough to a head in the early 2000s, when the Astronomer Mike Brown working at Cal Tech
        discovered a new procedure
        for discvering planets using a technique called interferometery.
        He was soon discovering new "planets" so fast that pretty soon, if astronomers didn't clearly
        draw the line between what was and wasn't a planet, there'd be more planets than preschool children could ever learn!
    </p>

    <p>
        In the summer of 2006, a truly shocking event occured: the entire world media covered an astronomy conference!
        There, in a contrversial vote, the International Astronomical Union adopted a
        <a href = 'https://solarsystem.nasa.gov/planets/in-depth/'>new definition of a planet</a>
        that would eliminate all of the objects Mike Brown had discovered, and with them, Pluto.
        (which was much smaller and farther away than the other planets).
    </p>

    <p>
        And why does this matter to cosmology?
        Because we begin our journey on planet earth, know that the term "planet"
        is not a clearly and precisely defined thing,
        but something that has changed in definition over time.
    </p>


    <p>
        For further reading on the definition of a planet, see
        <a href = 'https://www.amazon.com/How-Killed-Pluto-Why-Coming/dp/0385531109'>
            How I Killed Pluto and Why It Had It Coming</a> by Mike Brown
    </p>

</div>

<!--###########################################################################################-->
<!--###########################################################################################-->
<h4>
  Part 3: The Earth-Moon System
    <button class = 'btn btn-secondary' data-toggle="collapse" href = '#EarthMoonSystem' role="button" aria-expanded="false" aria-controls = "collapseEarthMoonSystem">
        SHOW
    </button>
</h4>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-6'>
            <li>
                The Earth Moon System
            </li>
        </div>
        <div class = 'col-md-6'>
            <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/696_dscovrepicmoontransitfull.gif' height = '200px' width = 'auto'>
            <p class = 'imageCredit'>
                NASA Solar System Exploration: https://solarsystem.nasa.gov/
            </p>
        </div>
    </div>
</div>

<div class = 'collapse' id = 'EarthMoonSystem'>
    <p>
        Most people assume the next logical step after earth would be to the solar system,
        but let's take a smaller step first to the Earth-Moon System.
    </p>

    <p class = 'definition' data-word = 'System'>
        A <strong>system</strong>
        are multiple bodies that are taken together and
        considered to be a single body or unit.
        Systems can be reduced to a single point mass
        located at the center of mass of the system.
    </p>

    <p class = 'definition' data-word = 'Earth-Moon System'>
        A system consisting of the earth and the moon, considered as a single unit.
    </p>

    <p>
        When people say "The earth revolves around the sun," they are not wrong,
        but they are incomplete! They should say "The earth-moon system revolves around the sun."
        The center of mass of the earth-moon systm is inside of the earth
        but not at the center (you will learn to calculate its precise location in another pod).
        It is slightly out in the direction of the moon, and because the moon is orbitting,
        the center of mass of the earth-moon system is always changing.
    </p>

    <p>
        As we will learn when we study the dynamics of systems, a system,
        such as the earth-moon system, can be considered to be a <em>point mass</em> located
        at its center of mass.
        Therefore, if you imagine a single point with the combined mass of the earth and the moon
        orbiting the sun, that is the correct idea.
        Now imagine the earth and the moon existing around that single point.
        That is the earth-moon system.
    </p>

    <p>
        It's also good to note that the 'earth-moon system' contains many manmade objects orbitting
        the earth, such as the International Space Station and innumerable GPS and communication satellites.
    </p>
</div>

<!--###########################################################################################-->
<!--###########################################################################################-->
<h4>
  Part 4: The Solar System
    <button class = 'btn btn-warning' data-toggle="collapse" href = '#SolarSystem' role="button" aria-expanded="false" aria-controls = "collapseSolarSystem">
        SHOW
    </button>
</h4>
<div class= 'container'>
    <div class = 'row'>
        <div class = 'col-md-6'>
            <li>
                The Solar System
            </li>
        </div>
        <div class = 'col-md-6'>

        </div>

    </div>
</div>
<div class = 'collapse' id = 'SolarSystem'>
    <p class = 'definition' data-word = 'The Solar System'>
        The <strong>Solar System</strong> consists of the sun
        and all of the objects that orbit the sun,
        considered as a single unit.
    </p>

    <p class = 'definition' data-word = 'Astronomical Unit'>
        An <strong>Astronomical Unit</strong> (AU)
        is the distance from the earth to the sun, about 93 million miles.
        In this list, all of the different parts of their solar system are listed by Astronomical units.
    </p>


    <h5>
        Objects in the Solar System
    </h5>
    <p>
        The information in this list is derived from the
        <a href = 'https://solarsystem.nasa.gov/'>NASA Solar System Exploration Website.</a>
    </p>

    <ul>
        <li class = 'm-3'>
            <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Sun' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
            The Sun
            <br>
            <div class = 'collapse' id = 'Sun'>
                <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/768_oct_1_2015_flare.jpg' class = 'spaceImage'/>
                <p class = 'imageCredit'>
                    https://solarsystem.nasa.gov/
                </p>
            </div>
        </li>
        <li>
            <button class = 'btn btn-info' data-toggle = 'collapse' href = '#InnerSolarSystem' role = 'button' aria-expanded="false" aria-controls = "collapseInnerSolarSystem">+</button>
            The Inner Solar System
            <div class = 'collapse' id = 'InnerSolarSystem'>
                <ul>
                    <li class = 'm-3'>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Mercury' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
                        Mercury (0.4 AU from the sun)
                        <br>
                        <div class = 'collapse' id = 'Mercury'>
                            <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/771_PIA16853.jpg' height = '200px' width = 'auto'/>
                            <p class = 'imageCredit'>
                                https://solarsystem.nasa.gov/
                            </p>
                        </div>
                    </li>
                    <li class = 'm-3'>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Venus' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
                        Venus (0.7 AU from the sun)
                        <br>
                        <div class = 'collapse' id = 'Venus'>
                            <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/2524_PIA23791.jpg' height = '200px' width = 'auto'/>
                            <p class = 'imageCredit'>
                                https://solarsystem.nasa.gov/
                            </p>
                        </div>
                    </li>
                    <li class = 'm-3'>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Earth' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
                        Earth-Moon System (1 AU from the sun) (WE ARE HERE)
                        <br>
                        <div class = 'collapse' id = 'Earth'>
                            <ul>
                                <li>
                                    Earth<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/2332_earth_dscovr_apr19_med.jpg' height = '200px' width = 'auto' />
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/resources/2332/as-the-world-turns/
                                    </p>
                                </li>
                                <li>
                                    The Moon<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/2448_Blue_Moon_Airplane_1280.jpg' height = '200px' width = 'auto'>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/resources/2448/blue-moon-and-jet-over-virginia/?category=moons_earths-moon
                                    </p>
                                </li>
                                <li>
                                    International Space Station
                                </li>
                                <li>
                                    Man-Made Satellites
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class = 'm-3'>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Mars' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
                        Mars System (1.5 AU from the sun)
                        <br>
                        <div class = 'collapse' id = 'Mars'>
                            <ul>
                                <li>
                                    Mars<br>
                                    <img src = '#' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>

                                    </p>
                                </li>
                                <li>
                                    Demios<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/content_pages/main_images/433_PIA11826.jpg' height = '200px' width = 'auto' />
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/moons/mars-moons/deimos/in-depth/
                                    </p>
                                </li>
                                <li>
                                    Phobos<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/646_PIA10368_1280.jpg' height = '200px' width = 'auto' />
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/moons/mars-moons/phobos/in-depth/
                                    </p>
                                </li>
                                <li>
                                    Man-made satellites and rovers.
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class = 'm-3'>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#AsteroidBelt' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
                        The Asteroid Belt (2.2 to 3.2 AU)
                        A ring between Mars and Jupiter where asteroid's are common.
                        <p class = 'dataCredit'>
                            https://nineplanets.org/asteroid-belt/
                        </p>
                        <br>
                        <div class = 'collapse' id = 'AsteroidBelt'>
                            <ul>
                                <li>
                                    Dwarf Planet Ceres: (2.8 AU)
                                    <br>
                                    <img src = 'https://solarsystem.nasa.gov/system/feature_items/images/150_PIA11240_800w.jpg' class = 'spaceImage'/>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/planets/dwarf-planets/ceres/overview/
                                    </p>
                                    The largest item in the asteroid belt.
                                    When it was first discovered in 1801, it was considered a planet,
                                    which is why it is named for <a href = 'https://mythopedia.com/roman-mythology/gods/ceres/'>one of the Olympian Pantheon of Gods</a>.
                                    Later it was was demoted to asteroid, and then promoted
                                    to dwarf planet once that became an option.
                                    It belongs in a different category than other asteroids because it is <emph>spherical</emph>,
                                    like the planets, but it is not a planet under the current definition because
                                    because it is a part of a ring of asteroids,
                                    and does not clear out all objects in its path.
                                </li>
                                <li>
                                    Between 1 and 2 million asteroids larger than 1 kilometer long such as:
                                    <ul>
                                        <li>
                                            Ida and Gaspra
                                            <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/778_PIA00332.jpg' class = 'spaceImage'>
                                            <p class = 'imageCredit'>
                                                https://solarsystem.nasa.gov/resources/778/ida-and-gaspra/?category=planets_jupiter
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Millions of Smaller Asteroids
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <button class = 'btn btn-info' data-toggle = 'collapse' href = '#OuterPlanets' role = 'button' aria-expanded="false" aria-controls = "collapseOuterPlanets">+</button>
            The Outer Planets
            <div class = 'collapse' id = 'OuterPlanets'>
                <ul>
                    <li class = 'm-3'>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Jupiter' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
                        Jupiter System (5.2 AU)
                        <br>
                        <div id = 'Jupiter' class = 'collapse'>
                            <ul>
                                <li>
                                    Jupiter<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/2486_stsci-h-p1936a_1800.jpg' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/resources/2486/hubbles-new-portrait-of-jupiter/?category=planets_jupiter
                                    </p>
                                </li>
                                <li>
                                    Four Moons Discovered by Galileo
                                    <ul>
                                        <li>
                                            Io<br>
                                            <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/809_PIA00583.jpg' height = '200px' width = 'auto'/>
                                            <p class = 'imageCredit'>
                                                https://solarsystem.nasa.gov/resources/809/high-resolution-global-view-of-io/?category=moons/jupiter-moons_io
                                            </p>
                                        </li>
                                        <li>
                                            Europa<br>
                                            <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/204_EuropaStunningSurface1200w.jpg' height = '200px' width = 'auto'/>
                                            <p class = 'imageCredit'>
                                                https://solarsystem.nasa.gov/resources/204/europas-stunning-surface/?category=moons/jupiter-moons_europa
                                            </p>
                                        </li>
                                        <li>
                                            Ganymeade<br>
                                            <img src = 'https://solarsystem.nasa.gov/system/content_pages/main_images/445_PIA00716.jpg' height = '200px' width = 'auto'/>
                                            <p class = 'imageCredit'>
                                                https://solarsystem.nasa.gov/moons/jupiter-moons/ganymede/in-depth/
                                            </p>
                                        </li>
                                        <li>
                                            Callisto<br>
                                            <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/811_PIA03456.jpg' height = '200px' width = 'auto'/>
                                            <p class = 'imageCredit'>
                                                https://solarsystem.nasa.gov/resources/811/global-callisto-in-color/?category=moons/jupiter-moons_callisto
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    75 (!!) other moons
                                </li>
                                <li>
                                    Galileo Spacecraft (1995&#8212;2003)<br>
                                    <img src = '#' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>

                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class = 'm-3'>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Saturn' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
                        Saturn System (9.5 AU)
                        <br>
                        <div id = 'Saturn' class = 'collapse'>
                            <ul>
                                <li>
                                    Saturn<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/17838_PIA18320-full.jpg' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/resources/17838/a-stage-for-shadows/?category=planets_saturn
                                    </p>
                                </li>
                                <li>
                                    Saturn's Rings<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/2490_stsci-h-p1943a-f_1200.jpg' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/planets/saturn/galleries/?page=0&per_page=25&order=created_at+desc&search=&href_query_params=category%3Dplanets_saturn&button_class=big_more_button&tags=saturn&condition_1=1%3Ais_in_resource_list&category=51
                                    </p>
                                    Made of tiny pieces of ice.
                                </li>
                                <li>
                                    Enceladus<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/content_pages/main_images/486_PIA11133.jpg' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/moons/saturn-moons/enceladus/in-depth/
                                    </p>
                                </li>
                                <li>
                                    Titan<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/868_PIA14910.jpg' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/resources/868/titan-and-dione/?category=moons/saturn-moons_titan
                                    </p>
                                    (The moon Dione also visible in the image).
                                </li>
                                <li>
                                    Enceladus
                                    <img src = 'https://solarsystem.nasa.gov/system/content_pages/main_images/486_PIA11133.jpg' class = 'spaceImage' />
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/moons/saturn-moons/enceladus/in-depth/
                                    </p>
                                </li>
                                <li>
                                    79 (!!!) more moons
                                </li>
                                <li>
                                    Cassini-Huygens Spacecraft (2005&#8212;2017)<br>
                                    <img src = 'https://solarsystem.nasa.gov/moons/saturn-moons/enceladus/in-depth/' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/resources/17761/cassini-huygens-by-the-numbers/
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class = 'm-3'>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Uranus' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
                        Uranus System (19.8 AU)
                        <br>
                        <div class = 'collapse' id = 'Uranus'>
                            <ul>
                                <li>
                                    Uranus<br>
                                    <img src = '#' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>

                                    </p>
                                </li>
                                <li>
                                    Uranus's Rings<br>
                                    <img src = '#' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>

                                    </p>
                                </li>
                                <li>
                                    27 Moons
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class = 'm-3'>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Neptune' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
                        Neptune System (30 AU)
                        <br>
                        <div id = 'Neptune' class = 'collapse'>
                            <ul>
                                <li>
                                    Neptune<br>
                                    <img src = '#' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>

                                    </p>
                                </li>
                                <li>
                                    Neptune's Moons
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class = 'm-3'>
            <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Kuiper' role = 'button' aria-expanded="false" aria-controls = "collapseKuiper">+</button>
            The Kuiper Belt
            (<a href = 'https://www.youtube.com/watch?v=Bwwkz6xFtmQ'>click for pronunciation</a>)
            (between 30 AU and 55 AU):
            A broad donut-shaped region beyond
            Neptune of objects composed mostly of ice, either frozen water or methane.
            <br>
            <div id = 'Kuiper' class = 'collapse'>
                <ul>
                    <li>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Pluto' role = 'button' aria-expanded="false" aria-controls = "collapsePluto">+</button>
                        Pluto System: (39 AU)
                        <div class = 'collapse' id = 'Pluto'>
                            <ul>
                                <li>
                                    Pluto<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/855_pluto_lorri_ralph_20150713_2017.jpg' height = '200px' width = 'auto'/>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/resources/855/color-pluto/?category=planets/dwarf-planets_pluto
                                    </p>
                                </li>
                                <li>
                                    Charon, a moon:<br>
                                    <img src = 'https://solarsystem.nasa.gov/system/content_pages/main_images/538_PIA19968.jpg' class = 'spaceImage'/>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/moons/pluto-moons/charon/in-depth/
                                    </p>
                                    Charon is almost as large as Pluto,
                                    and as a result the center of mass of the
                                    Pluto system is <em>outside of Pluto</em>.
                                    For this reason, Pluto and Charon are called a <em>binary</em>.
                                    (see video)
                                    <br>
                                    <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/853_pluto_and_charon_20150714.jpg' class = 'spaceImage'/>
                                    <p class = 'imageCredit'>
                                        https://solarsystem.nasa.gov/resources/853/pluto-and-charon/?category=planets/dwarf-planets_pluto
                                    </p>

                                </li>
                                <li>
                                    4 other moons
                                </li>
                                <li>
                                    (Potentially) rings
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button class = 'btn btn-info' data-toggle = 'collapse' href = '#Eris' role = 'button' aria-expanded="false" aria-controls = "collapseEris">+</button>
                        Eris (68 AU)
                        <div class = 'collapse' id = Eris>
                            <iframe src="https://solarsystem.nasa.gov/gltf_embed/2390" width="100%" height="200px" frameborder="0" ></iframe>
                            <p class = 'ImageCredit'>
                                https://solarsystem.nasa.gov/planets/dwarf-planets/eris/in-depth/
                            </p>
                        </div>
                    </li>
                    <li>
                        Short Period Comets:
                        Balls of rock and frozen gas that stay out near the Kuiper belt for up to 200 years,
                        then very briefly come near the sun for a matter of weeks, then return to the Kuiper Belt.
                        <ul>
                            <li>
                                Halley's Comet:<br>
                                <img src = 'https://solarsystem.nasa.gov/system/content_pages/main_images/627_Giotto_halley_br.jpg' class = 'spaceImage'/>
                                <p class = 'imageCredit'>
                                    https://solarsystem.nasa.gov/asteroids-comets-and-meteors/comets/1p-halley/in-depth/
                                </p>
                                Was last seen from earth in 1986, and will be seen again in 2061.
                                The astronomer Edmund Halley was the first to predict the return of this comet.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Kuiper Belt Object Arrokoth<br>
                        <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/2449_mu69_med.jpg' class = 'spaceImage' />
                        <p class = 'imageCredit'>
                            https://solarsystem.nasa.gov/resources/2449/enhanced-color-composite-image-of-kuiper-belt-object-arrokoth-2014-mu69/?category=solar-system/kuiper-belt_arrokoth-2014-mu69
                        </p>
                        <p>
                            The farthest away object for which we have a close up image, taken by the New Horizons Satellite in 2019.
                        </p>
                    </li>
                    <li>
                        Millions of other Kuiper Belt Objects
                    </li>
                    <li>
                        New Horizon's Spacecraft (2015&#8212;present)<br>
                        <img src = 'https://solarsystem.nasa.gov/system/content_pages/main_images/1051_nh.jpg' class = 'spaceImage'/>
                        <p class = 'imageCredit'>
                            https://solarsystem.nasa.gov/missions/new-horizons/in-depth/
                        </p>
                    </li>
                </ul>
                For Further Study:
                <a href = 'https://www.youtube.com/watch?v=EJxwWpaGoJs'>NASA documentary on Kuiper Belt and New Horizon's Study</a>
                (somewhat dated, because it was released before information from New Horizon's Appeared)
            </div>
        </li>
        <li class = 'm-3'>
            <button class = 'btn btn-info' data-toggle = 'collapse' href = '#OortCloud' role = 'button' aria-expanded="false" aria-controls = "collapseSun">+</button>
            Oort Cloud (2,000&#8212;100,000 AU)
            <br>
            <div class = 'collapse' id = 'OortCloud'>
                <img src = '#' height = '200px' width = 'auto'/>
                <p class = 'imageCredit'>

                </p>
                <ul>
                    <li>
                        Long period comets:
                        Balls of rock and frozen gas like the comets of the Kuiper Belt,
                        only, instead of nearing the sun about every 100 years,
                        they spend thousands of even millions of years in the Oort Cloud
                        between trips to the sun.
                        <ul>
                            Hale-Bopp:<br>
                            <img src = '#' height = '200px' width = 'auto'/>
                            <p class = 'imageCredit'>

                            </p>
                            A comet that was visible from earth in 1997, but
                            will take 2534 years to complete a full orbit.
                        </ul>
                    </li>
                </ul>
            </div>
        </li>


        <li>
            Stuff That is Everywhere
            <ul>
                <li class = 'm-3'>
                    Other Asteroids, not in the Asteroid Belt (everywhere)
                </li>
                <li>
                    Meteors and Meteorites
                </li>
            </ul>
        </li>

        <li class = 'm-3'>
            Meteors and Meteorites (Everywhere):
            When you see a "shooting star," it is actually a meteor burning up
            due to friction in the atmosphere.
        </li>
        <li class = 'm-3'>
            Voyager and Pioneer Spacecrafts
        </li>
    </ul>


    <img src = 'https://i.chzbgr.com/full/6410642688/h74A67039/planning-a-planet' height = '150 px' width = 'auto'/>
    <p class = 'imageCredit'>
        Image Credit: https://i.chzbgr.com/full/6410642688/h74A67039/planning-a-planet
        <br>
        (Did you count the planets? Yes, that's how many there are. All others are not invited to the party. Get over it.)
    </p>
</div>



<!--###########################################################################################-->
<!--###########################################################################################-->
<h4>
  Part 5: The Galaxy (The Milky Way)
    <button class = 'btn btn-info' data-toggle="collapse" href = '#MilkyWay' role="button" aria-expanded="false" aria-controls = "collapseMilkyWay">
        SHOW
    </button>
</h4>
<div class= 'container'>
    <div class = 'row'>
        <div class = 'col-md-6'>
            <li>
                The Orion Spur
            </li>
            <li>
                The Milky Way Galaxy
            </li>
        </div>
        <div class = 'col-md-6'>

        </div>

    </div>
</div>

<div class = 'collapse' id = 'MilkyWay'>
    <p class = 'definition' data-word = 'Galaxy'>
        Stars are not spread evenly throughout the universe, but are located
        together in large groups of billions of stars called <strong>galaxies</strong>.
    </p>

    <h4>
        What is the Milky Way?
    </h4>

    <p>
        The milky way is a collection of over 200 billion stars,
        just like our sun!
        Many of these stars are similar to the sun are surrounded by planets like earth,
        but there are also stars that are different: much bigger and hotter,
        or much cooler, or stars that are still forming, or stars that are dying or are
        already dead.
        In addition, there are tons of things that aren't stars at all, like quasars and pulsars.
        And at the center of the galaxy is a <emph>supermassive black hole</emph>!
    </p>

    <p>
        Just like the earth moves around the sun together with the moon,
        the earth moves around the milky way together with the whole solar system,
        and the 200 billion stars of the milky way move through the universe together.
    </p>

    <h4>
        Observing the Galaxy
    </h4>

    <p>
        All of the stars that you see in the night sky are outside
        of the solar system, but inside of our galaxy.
        For nearly all of human history, humans would view the stars,
        but also a band of purple across the center of the night sky,
        which is where the name "Milky Way" comes from.
    </p>

    <img src = 'https://cdn.mos.cms.futurecdn.net/gZZrBVXJG5yiMxfuAgJqok-1024-80.jpg' height = '300px' width = 'auto'>
    <p class = 'imageCredit'>
        Image Credit: https://www.space.com/19915-milky-way-galaxy.html; Tunc Tezel
    </p>

    <p>
        Only after humans began observing different galaxies
        did we realize that this band of light was made
        by the stars of our own galaxy! The band of purple light comes
        from billions of stars added together, almost all of them so far away we
        can't make them out individually without a telescope.
        From our position inside the Milky Way, we cannot actually
        see what it looks like, but we can view other galaxies to see
        what a galaxy looks like,
        and we can use computer modeling to figure out how all of the stars
        are actually arranged.
        From those analyses, we learned that the milky way is in
        a spiral shape:
    </p>

    <img src = 'https://www.nasa.gov/images/content/188405main_hurt_Milky_Way_2005-590_med.jpg' height = '300px' width = 'auto'/>
    <p class = 'imageCredit'>
        Image Credit: https://www.nasa.gov/mission_pages/GLAST/science/milky_way_galaxy.html
    </p>


    <h4>
        Arms of the Milky Way
    </h4>



    <img src = 'https://solarsystem.nasa.gov/system/resources/detail_files/285_ssc2008-10b1.jpg'  height = '400px' width = 'auto'/>
    <p class = 'imageCredit'>
        NASA: https://solarsystem.nasa.gov/resources/285/the-milky-way-galaxy/
    </p>

    <img src = 'https://www.universetoday.com/wp-content/uploads/2015/08/800px-OrionSpur-498x580.png'/>
    <p class ='imageCredit'>
        https://www.universetoday.com/65601/where-is-earth-in-the-milky-way/
    </p>

    <!---
    add a picture of the milky way from above
    -->

    <h4>
        Constellations, an alternative address?
    </h4>

    <p>
        When humans look at the night sky, they imagine the different stars as different shapes,
        called "constellations." Many different cultures have named constellations.
        The most well known of these are the ancient Greek constellations,
        such as Cygnus, Orion, and Ursa Major.
    </p>

    <p>
        Many of the objects we can observe within our galaxy are named by the
        constellation in which they appear.
        For example, the black hole at the center of the galaxy is named
        "Sagittarius A*" because it is visible to humans in the constellation
        Sagittarius.
        However, it is important to know that the using constellations
        is <strong>not</strong> a part of the <emph>cosmic</emph> address.
        Constellations are very important for humans,
        but from the point of view of the universe, they aren't really there.
        If you were on some other planet on another star somewhere else in the galaxy,
        you would see completely different stars in the sky!
        For a cosmic address, what matters is not where humans
        can see something, but where it is located within the galaxy.
    </p>

    <h4>
        Items in the Milky Way Galaxy
    </h4>


    <ul>
        <li>
            Sagittairus A*: supermassive black hole at the center of the galaxy.
            <a href = 'https://www.space.com/milky-way-monster-black-hole-cool-disk.html#:~:text=At%20the%20center%20of%20our,known%20as%20an%20accretion%20disk.'>Information</a>
        </li>
        <li>
            Over 200 billion stars
            <ul>
                <li>
                    Stars still forming:
                    <ul>
                        <li>
                            Protostars
                        </li>
                        <li>
                            T Tauri Stars
                        </li>
                    </ul>
                </li>
                <li>
                    Main Sequence Stars
                    (O B A F G K M L T)
                    <ul>
                        <li>
                            Super Giant Stars
                        </li>
                    </ul>
                </li>
                <li>
                    Dying Stars:
                    <ul>
                        <li>
                            Red Giants
                        </li>
                        <li>
                            Supernovae
                        </li>
                    </ul>
                </li>
                <li>
                    Dead Stars:
                    <ul>
                        <li>
                            White Dwarf Stars
                        </li>
                        <li>
                            Red Dwarf Stars
                        </li>
                        <li>
                            Neutron Stars
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            The Interstellar Medium, gas and dust spread throughout the galaxy.
            Future stars are made from the interstellar medium.
            <ul>
                <li>
                    A Nebula: A dense cloud of gas and dust,
                    an area very good for star formation.
                    <ul>
                        <li>
                            The Eagle Nebula: <br>
                            <img src = 'https://spaceplace.nasa.gov/nebula/en/nebula1.en.jpg' height = '300px' width = 'auto' />
                            <p class = 'imageCredit'>
                                Image Credit: https://spaceplace.nasa.gov/nebula/en/
                            </p>
                        </li>
                        <li>
                            The Horsehead Nebula: <br>
                            <img src = 'https://www.noao.edu/image_gallery/images/d2/02188a.jpg' height = '300px' width = 'auto' />
                            <p class = 'imageCredit'>
                                Image Credit: https://www.noao.edu/image_gallery/html/im0057.html
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Rogue Planets: Planets that have been somehow
            detached from their star.
        </li>
        <li>
            Black Holes
        </li>
        <li>
            Quasars
        </li>
        <li>
            Pulsars
        </li>
    </ul>
</div>


<!--###########################################################################################-->
<!--###########################################################################################-->
<h4>
  Part 6: Galaxy Clusters
    <button class = 'btn btn-primary' data-toggle="collapse" href = '#GalaxyClusters' role="button" aria-expanded="false" aria-controls = "collapseGalaxyClusters">
        SHOW
    </button>
</h4>
<div class= 'container'>
    <div class = 'row'>
        <div class = 'col-md-6'>
            <li>
                The Local Group
            </li>
            <li>
                The Laniakea Supercluster
            </li>
        </div>
        <div class = 'col-md-6'>

        </div>

    </div>
</div>


<div class = 'collapse' id = 'GalaxyClusters'>
    <p>
        More soon!
    </p>
    <h5>
        The Local Group
    </h5>
    <ul>
        <li>
            The Andromeda Galaxy
        </li>
        <li>
            The Milky Way (where we are)
        </li>
        <li>
            The Triangulum Galaxy
        </li>
        <li>
            Dwarf galaxies orbiting the larger galaxies
        </li>
    </ul>
    <a href = 'http://www.atlasoftheuniverse.com/localgr.html'>Space Atlas Local Group</a>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/rENyyRwxpHo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


<!--###########################################################################################-->
<!--###########################################################################################-->
<h4>
  Part 7: The Universe
    <button class = 'btn btn-dark' data-toggle="collapse" href = '#Universe' role="button" aria-expanded="false" aria-controls = "collapseUniverse">
        SHOW
    </button>
</h4>
<div class= 'container'>
    <div class = 'row'>
        <div class = 'col-md-6'>
            <li>
                The Universe
            </li>
        </div>
        <div class = 'col-md-6'>

        </div>

    </div>
</div>

<div class = 'collapse' id = 'Universe'>
    <p>
        In one of the most famous observations of all time,
        in December of 1995, the Hubble Space Telescope was pointed
        at patch of apparently empty sky and exposed for 10 days.
        After 10 days, this is what the camera had recorded:
    </p>

    <img src = 'https://science.nasa.gov/files/science-pink/s3fs-public/styles/large/public/mnt/medialibrary/2010/03/31/deep_field.jpg?itok=vpoEMm_2' height = '200px' width = 'auto'/>

    <p>
        Even empty space is full of unseen objects!
        Even in dark, blank, empty space,
        there are countless galaxies stretching as far as we can see!
    </p>

    <p>
        One of the largest questions in science is "How Big is the Universe?"
        The answer most scientists believe is "infinitely big."
        Of course, we cannot <em>see</em> as far as the universe is
        and can never prove it is infinite,
        but when the Hubble Deep Field was released, it seemed that, however far
        humans look in all directions, there appears to be an endless expanse of new worlds.
    </p>

    <p>
        There is one "edge" of the universe humans must respect, and that is the edge
        from our own point of view.
        Because the universe (to the best of our knowledge) is about 14 billion years old,
        humans cannot see beyond 14 billion light years.
        If an object 14 billion light years away gave off light 14 billion years ago, at the beginning of the universe,
        it would reach earth now. If any object farther than that gave off light,
        it would still not have reached earth.
        The edge of the observable universe, 14 billion light years from earth,
        is called the <strong>cosmic horizon</strong>.
    </p>

    <p>
        A scene from the movie A Beautiful Mind,
        directed by Ron Howard and starring Russell Crowe and Jennifer Connelly.
    </p>
    <img src = 'https://science.nasa.gov/files/science-pink/s3fs-public/styles/large/public/mnt/medialibrary/2010/03/31/deep_field.jpg?itok=vpoEMm_2' height = '200px' width = 'auto'/>


    <h4>
        The Pale Blue Dot Image
    </h4>

    <img src = 'https://planetary.s3.amazonaws.com/assets/images/3-earth/20140801_PIA00452.jpg' height = '200px' width = 'auto'/>
</div>


<!--###########################################################################################-->
<!--###########################################################################################-->

<h4>
  Questions
</h4>

<p class = 'directions'>
  The list below gives you a list of "destinations" in the universe.
  For each destination, classify it as one of the following:
</p>
<ul>
    <li>
        On earth
    </li>
    <li>
        Not on earth, but in the earth-moon system
    </li>
    <li>
        Not in the earth-moon system, but in our solar system
    </li>
    <li>
        Outside our solar system, but in the milky way galaxy
    </li>
    <li>
        Outside the milky way galaxy, but in our universe
    </li>
    <li>
        Not in our universe (at least not observable)
    </li>
</ul>


<ol class = 'questionList'>
  <li class = 'question' data-answer = 'On Earth'>
    Cleveland
  </li>
  <li class = 'question' data-answer = 'On Earth'>
    Mount Everest
  </li>
  <li class = 'question' data-answer = 'On Earth'>
    Mauna Loa volcano
  </li>
  <li class = 'question' data-answer = 'Not on earth, but in the earth-moon system'>
    Tycho crater
  </li>
  <li class = 'question' data-answer = 'Not on earth, but in the earth-moon system'>
    The international space station
  </li>
  <li class = 'question' data-answer = 'Not on earth, but in the earth-moon system'>
    Mons Huygens
  </li>
  <li class = 'question' data-answer = 'Not in the earth-moon system, but in our solar system'>
    Neptune
  </li>
  <li class = 'question' data-answer = 'Not in the earth-moon system, but in our solar system'>
    The moon Io
  </li>
  <li class = 'question' data-answer = 'Not in the earth-moon system, but in our solar system'>
    Asteroid 2 Pallas
  </li>
  <li class = 'question' data-answer = 'Not in the earth-moon system, but in our solar system'>
    Comet Hyakutake
  </li>
  <li class = 'question' data-answer = 'Outside our solar system, but in the milky way galaxy'>
    Eagle Nebula
  </li>
  <li class = 'question' data-answer = 'In a galaxy far far away.'>
    The Death Star
  </li>
  <li class = 'question' data-answer = 'Not in our universe'>
    Ghosts
  </li>
  <!---
  add more for the galaxies
  -->
</ol>

<p class = 'directions'>
    Based on the information above regrading the solar system,
    answer the following questions on the relative locations of planets in the solar system.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = 'Farther'>
        An object within the solar system is 5 AU from the sun.
        Is it closer or farther to the sun than Earth?
    </li>
    <li class = 'question' data-answer = 'Closer'>
        An object within the solar system is 0.8 AU from the sun.
        Is it closer or farther to the sun than Earth?
    </li>
    <li class = 'question' data-answer = 'Father'>
        An object within the solar system is 6 AU from the sun.
        Is it closer or farther to the sun than Jupiter?
    </li>
    <li class = 'question' data-answer = 'No'>
        An object within the solar system is 20 AU from the sun.
        Is it a Trans-Neptunian object (farther away from the sun than Neptune)?
    </li>
    <li class = 'question' data-answer = "Yes">
        An object within the solar system is 40 AU from the sun.
        Is it a Trans-Neptunian object?
    </li>
    <li class = 'question' data-answer = 'The Oort Cloud'>
        An comet is 1000 AU from the sun. What part of the solar system is it within?
    </li>
</ol>

<h4>
    Horizontal Steps
</h4>

<ol class = 'answerList'></ol>


<h5>
    Further Resources:
</h5>
<p>
    There isn't one answer to this question!
    Look at some other desciptions of the cosmic address.
</p>
<ul>
    <li>
        COSMOS: A Spacetime Odyssey: Season 1, Episode 1 "Standing up in the Milky Way"
        (Available on Disney Plus)
    </li>
    <li>
        <a href ='https://www.travelandleisure.com/trip-ideas/space-astronomy/earth-cosmic-address'>Article on Cosmic Address</a>
    </li>
</ul>


<script>


    const multiplier = 2;
    $(".spaceImage").hover(() => {
        console.log('on');
        $(this).data('width', $(this).width());
        $(this).data('height', $(this).height());
        $(this).css({
            width: $(this).width() * multiplier,
            height: $(this).height() * multiplier,
        });
    }, () => {
        console.log('off');
    });
</script>