<ol>
    <li>
        An object has a velocity of 15 m/s
        and a mass of 4 kg.
        Determine its momentum.
    </li>
    <li>
        An object has a momentum of 140 kg m/s
        and a mass of 7 kg.
        Determine its speed.
    </li>
</ol>