
<p class = 'introduction'>
    In a <a href = '/pod/5b0818'>previous pod</a> on kinetics between kinematic graphs,
    you learned about how graphs of objects moving at a different constant velocities look different.
    In this pod, you will extend these comparisons to objects with different accelerations,
    final velocities, and initial velocities.
</p>

<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_101.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_102.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_103.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_104.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_105.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_106.png'/>
<img src = '/podAssets/kinematics/forward_kinematics_qualitative/comparison_107.png'/>


<h3>
    Video Resources
</h3>
<h4>
    <a href = 'https://apclassroom.collegeboard.org/d/hhock47svo?sui=92,1'>
        AP Physics 1: 1.2 Daily Video 1 (Skill 1.4)
    </a>
</h4>
<p class="finePrint">
    AP Classroom Daily Videos are not available year round.
    The release dates for each video
    <a href = 'https://apcentral.collegeboard.org/pdf/ap-daily-course-release-dates.pdf'>this page</a>.
    AP Classroom Daily Videos are available only to students in AP Physics.
</p>