<p class="directions">
    For each of the problems below, write how you would enter this value on a calculator
    using the symbol <small>E</small> to represent the scientific notation button on the calculator.
    Then, write the answer to the problem using the same notation.
</p>


<ol>
    <li>
        \( \left( 4.87 \cdot 10^{-6} \right) \left( 3.19 \cdot 10^{18} \right) \)
        <ol type = 'a'>
            <li>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
    <li>
        \frac{
        5.87 cdot 10^{-12}
        }{
        9.82 cdot 10^{6}
        }
        <ol type = 'a'>
            <li>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
    <li>
        \( 2.18 \cdot 10^21 \)^4
        <ol type = 'a'>
            <li>
                Write how you would enter this problem <emph>most efficiently</emph> on a calculator.
            </li>
            <li>
                Write the answer to this questions.
                Round to three significant figures of accuracy.
            </li>
        </ol>
    </li>
</ol>