<p class="directions">
    Answer each question.
    You must write a formula every time you use it.
</p>

<ol>
    <li>
        An Atwood machine consists of two different
        masses hanging from a pulley. Draw a brief schematic.
    </li>
    <li>
        There are four forces in an Atwood machine.
        If the Atwood machine is considered a system of two masses,
        there are two internal forces and two external forces.
        Identify which forces are internal and which are external and briefly
        explain why.
    </li>
    <li>
        A Atwood machine consists of a mass of 2.1 kg on the left side
        and 2.6 kg on the right side.
        Draw a free-body diagram that reflects the external forces
        on the Atwood machine system.
        Label each force and determine the magnitude of that force.
    </li>
    <li>
        Determine the magnitude and direction of the net force
        acting on the Atwood machine system.
    </li>
    <li>
        Determine the magnitude and direction of the acceleration
        of the Atwood machine system.
    </li>
</ol>