<p class="directions">
    In each of the following situations, state whether
    positive work, negative work, or no work is done.
    State why.
</p>

<ol>
    <li>
        Somebody lifts a weight.
    </li>
    <li>
        Somebody gently lowers a weight.
    </li>
    <li>
        Somebody is carrying a heavy weight, exerting a force upward
        to hold the weight while walking forward.
    </li>
    <li>
        Somebody tries to stop their bookshelf from falling over, but fails.
    </li>
    <li>
        Somebody tries to lift a rock that does not move.
    </li>
    <li>
        Somebody pushes a car and it does move.
    </li>
</ol>