<p class = 'directions'>
    Use the equation below to to answer each questions.
    Please write the equation each time you use it <i>before</i> plugging values in.
</p>
<p class = 'equation'>
    $$ d = vt $$
</p>
<ol>
    <li class = 'physicsQuestion'>
        I have a distance of 80 m. <br>
        I have a time of 5 seconds. <br>
        What is my speed? <br>
        <div class = 'formulaBoxDiv'></div>
    </li>
    <li class = 'physicsQuestion'>
        I have a speed of 4 m/s. <br>
        I have a time of 12 seconds. <br>
        What is my distance? <br>
        <div class = 'formulaBoxDiv'></div>
    </li>
</ol>
